[2017-12-25 10:44] #4455 closed

[2017-12-25 15:24] flovilmart commented on #4458
I’m not sure what you mean by that, but feel free to open a pull request/proposal. Mongodb doesn’t support transactions and if you’re referring to stored functions, that would entice a large refactoring which we’re not likely to take on.

[2017-12-27 17:14] vitaly-t opened #4462 "to be refactored: createClass"
https://github.com/parse-community/parse-server/blob/820ae2b894feb358db77ccb695b4f128090f6601/src/Adapters/Storage/Postgres/PostgresStorageAdapter.js#L675

I would have refactored this method by now, if I could understand the logic of all the verifications there, which I do not.

And method `createClass` definitely does not need to use method `batch`  there. I've tried to get rid of it, inexplicab

[2017-12-27 17:55] alkebuware commented on #4452
@flovilmart ok give that a try. Thanks for pointing me in the right direction.

[2017-12-27 17:55] #4452 closed

[2017-12-27 23:42] vitaly-t commented on #4462
I think I've got it figured. The extra conditions were simply irrelevant there. I have removed them in the new PR.

[2017-12-28 00:54] vitaly-t commented on #4462
Yeah, definitely got it now :)

[2017-12-28 00:54] #4462 closed

[2017-12-28 04:31] sauravazad opened #4466 "query.aggregate is not a function in Cloud code"
### query.aggregate is not a function in Cloud code
 using query.aggregate in cloud code results in TypeError.

### Steps to reproduce

 Parse.Cloud.define('aggregateQuery', function(req, res) {
  var params = req.params;
  var appId = params.appId
  var option = {
    useMasterKey: true
  };
  var promiseArray = [];
  let pipline = [{$group: {_id :'$source', posts: {$sum : 1}}}];
  let mediaquery

[2017-12-28 06:23] sauravazad commented on #4466
Parse-server @2.7.1  has incorrect version 1.10.2 for parse peer dependency .
Please release a new version with latest version of parse@1.11.0  @flovilmart

[2017-12-28 20:19] dplewis commented on #4466
@sauravazad You can use the latest branch until the next release if you want to test aggregates.

 https://github.com/parse-community/parse-server#want-to-ride-the-bleeding-edge

Also, your pipeline would be written like...
[code]

[2017-12-28 23:23] GoGross opened #4468 "Create beforeUpdate and beforeSave/New cloud functions"
Is there a work around, maybe it's there lying in plain sight

[2017-12-28 23:27] flovilmart commented on #4468
Check `req.object.isNew()` this will be `true` for new objects, and `false` if the object is being updated. Another trick would be to use the `createdAt` / `updatedAt` properties.

See: http://parseplatform.org/Parse-SDK-JS/api/v1.11.0/Parse.User.html#isNew

[2017-12-28 23:27] #4468 closed

[2017-12-28 23:27] #4466 closed

[2017-12-30 12:07] funkenstrahlen commented on #4082
@JulienLevallois Did request.original work for you to solve the issue?

[2017-12-30 14:23] yomybaby commented on #3473
@kcoop  You can save nested object property.

[code]

[2017-12-30 19:45] oallouch commented on #2187
Any news on this ? When we use dirty, we expect the property to exist if it returns true.

[2017-12-31 17:01] JianxunRao commented on #2864
same issue.
i am currently using parse-server 2.3.1 with a fileadapter of AliYun OSS(just like azure storage adapter).
when i upload a file with chinese name,it always fails.
even though i change the parse server version from latest to 2.2.22 as @estylehq suggests , this problem remains.
any help will be appreciated.

[2018-01-01 07:03] zenz opened #4477 "query.equalTo not working with Cloud code"
### Issue Description

query.equalTo not working with Cloud code (Parse-Server 2.7.1)

### Steps to reproduce

here's the Cloud code:

[code]

#### Expected Results

will not create duplicate records while with the same "Name"

#### Actual Outcome

No matter if the "Name" is duplicate or not, it creates the new record.

[2018-01-01 10:26] bohemima commented on #4477
It's unlikely that "it's not working", what error are you seeing? Perhaps you don't have access to the object, wrong parseServerUrl in config or something like that.

[2018-01-01 10:37] zenz commented on #4477
@bohemima I don't think the parseServerUrl in config was wrong, because I can get everything while using REST_API or parse dashboard.
But as I wrote in this topic, the Cloud code beforeSave, I cannot get any records from query.

in PM2's log file, I got this:
`Add record:西瓜 ...
info: beforeSave triggered for Groceries for user o6Ntk96K0E:
  Input: {"Name":"西瓜"}
  Result: {"object":{"Name":"西瓜"}} c

[2018-01-02 22:39] lockwobr commented on #3517
This seems old but the [docs](http://docs.parseplatform.org/parse-server/guide/#database) does not say that 3.4 works? Do the docs just need updating, or am I reading this wrong?

[2018-01-02 22:41] flovilmart commented on #3517
even 3.6 works :)

[2018-01-03 11:11] xedixermawan opened #4479 "Error when running aggregate query in version 2.7.1"
Hi,
I appreciate if someone can figuring out what is missing in my setup. thanks.
### Issue Description

got an error when try to run aggregate request to a collection.
the collection is already filled with some data.

### Steps to reproduce

1. add some data to GameScore collection. just like the parse server example in readme
2. run:
[code]
3. error message :
[code]
#### Expected Results

the re

[2018-01-03 12:38] bohemima commented on #4479
See https://github.com/parse-community/parse-server/issues/4466#issuecomment-354236387

[2018-01-03 18:22] coryshaw commented on #4450
Your code looks good. The only thing I can think of is that you are not initializing parse with your master key.

`Parse.initialize(process.env.PARSE_APP_ID, '', process.env.PARSE_MASTER_KEY);`

Or perhaps "coins" is not a number field?

[2018-01-03 19:19] ibrahimennafaa opened #4480 "Can't create Role in afterSave function"
### Issue Description
I'm creating Roles related to an Account in the afterSave function of the Account object.
I'm using the `new Parse.Role("name", acl)`
But I keep receiving errors on the `role.save()` : `code=141, message=name is required`
I tested everything but it looks like the new Parse.Role() constructor doesn't set the name properly.

### Steps to reproduce
Create new role and try to sav

[2018-01-03 21:39] jferrer21 opened #4481 "USER"
I'm using the REST API to sign up new user and I noticed that Parse creates the ACL with a public read and objectId of the user.  Why?  Is there a reason behind that default behavior?  If we only use the objectId of the user, that should make the record more secure, right?  Maybe, it needs to be that way so Parse Server can obtain the objectId before setting up the ACL?  Is there a way when signin

[2018-01-04 04:00] xedixermawan commented on #4479
hi @bohemima , I saw your link before. I thought that error in the link was different and specific cloud code.
so, in version 2.7.1 , the aggregate feature don't work yet ?
anyway, I'll try the #4466 solution.

[2018-01-04 07:32] xedixermawan commented on #4479
update : same error still occurs with latest version

[2018-01-04 10:10] xedixermawan commented on #4479
it works with latest version . i found curl example aggregate queries is not correct in docs

[code]

[2018-01-04 17:47] christianpbrink commented on #3383
@flovilmart Do you know any examples / experience reports of parse-server users migrating from mongo to postgres? I know I'd need to implement my own migration tool but I think it would be useful to see what others have done.

[2018-01-04 18:10] dplewis commented on #4479
@xedixermawan Please feel free to update to submit a PR https://github.com/parse-community/docs.

Please include any examples that will make it easier for new users to understand.

[2018-01-05 04:12] montymxb commented on #4481
Partially. A user can't be signed up unless the current user (public generally) has access in that object's ACL. Beyond that publicly checking users keeps additional lookup features from requiring the masterKey, without divulging anything sensitive. _Technically_ you could make that user readable by the user only, but this would be like making a hidden user of sorts, and I would imagine it might c

[2018-01-05 07:44] ashish-naik opened #4483 "Where to find complete documentation for Cloud code?"
Parse cloud code guide provides a start but Where to find complete documentation that a developer can use?
it is a struggle to fix code issues without documentation.

I posted on stack overflow but no response.

Thanks Ashish

[2018-01-05 11:42] SudhirKaushik commented on #1091
Update version to 4.8.0. Still getting error.

[2018-01-05 14:12] #4479 closed

[2018-01-05 14:25] flovilmart commented on #4483
@ashish-naik what do you mean by complete documentation?

See:
http://docs.parseplatform.org/cloudcode/guide/

You can also look into the JS API reference:

http://parseplatform.org/Parse-SDK-JS/api/v1.11.0/Parse.Cloud.html

[2018-01-05 17:37] ashish-naik commented on #4483
Ok. I had gone through the guide and was looking for information in second link. I totally overlooked it.

Thank you.

[2018-01-05 17:37] ashish-naik commented on #4483
Ok. I had gone through the guide and was looking for information in second link. I totally overlooked it.

Thank you.

[2018-01-05 17:37] #4483 closed

[2018-01-05 22:29] fprospato commented on #1063
I have implemented parse-server-simple-mailgun-adapter with my Parse server to send email verifications and reset password emails. Everything is working perfectly fine, but I am concerned about the publicServerURL part because as of now I used my serverURL for this. So now when an email verification or a reset password email is sent, the link in the email body shows my serverURL, which is somethin

[2018-01-05 22:38] flovilmart commented on #1063
the publicServerURL is a publicly accessible URL for the links. It can be what you want, preferably secure through HTTPS.

[2018-01-05 23:46] fprospato commented on #1063
I changed the publicServerURL to the project's website and now when I receive a link, my serverURL is not in the link and my project's website is. But when I press on the link, it brings me to an error page. How do I fix this?

[2018-01-05 23:51] flovilmart commented on #1063
Depending of whether your serverURL is publicly accessible or not you could use it as the publicServerURL.

Let’s say you run Parse server on the port 3000 and it’s mounted on /parse.

A valid serverURL could be http://localhost:3000/Parse

Now, it’s deployed to be accessible over the Internet, let’s say on heroku and accessible on

my-project.heroku.com

You can set publicServerURL to

Https://my

[2018-01-06 00:01] fprospato commented on #1063
My serverURL is from AWS and I get it from the publicDNS column. I use this same URL to access my parseDashboard so I am not sure if I should use this URL as my publicServerURL. However, I have a website built through Wix.com for the project that is already published that I want to use for the publicServerURL, but I have no parse attachments to on that URL. How can I use this website?

[2018-01-06 00:02] flovilmart commented on #1063
You need to setup your DNS entries so a record points to your parse server.

[2018-01-06 00:13] fprospato commented on #1063
I have set up a domain that's link to my project's website (use 'project.com' to make this discussion easier) on mailgun and the domain verification and DNS are all checked off. Is this what you mean? Or is there something else that I'm missing to have project.com set as the publicServerURL?

[2018-01-06 01:14] flovilmart commented on #1063
you need your parse server to be reachable on your `project.com` domain, with the full path to it so likely https://project.com/parse or something like that. Most likely on AWS Route53 your need to setup either a subdomain or your naked record to point to your Elastic Load Balancer that is serving your content.

[2018-01-07 20:43] Steggl commented on #1239
I am sorry @ahaverty , how exactly did you resolve the issue? I am trying to set up on Frankfurt and cannot seem to find the "Application version" tab you mentioned. Thank you!

[2018-01-07 21:00] Steggl commented on #1239
[code]

:-|

[2018-01-07 22:47] fprospato commented on #1063
@flovilmart  Sorry for the late response. I have set a subdomain on AWS Route 53 under hosted zones, but I do not know how to point this to my Parse Content. I am new to this and have never used AWS Route 53 so any help on this will be extremely appreciated.

[2018-01-08 04:55] xedixermawan opened #4489 "aggregate with pointer relation match ?"
Hi,
is it possible to do aggregate query using `match` with pointer relation ?
I'm using latest branch version.
for instance request like this:
[code]
the Distance collection have a field calls 'user' ( a pointer type which point to collection ` _User`.)

the aggregate above resulting empty data `{"results":[]}`, meanwhile it should not

[2018-01-08 10:11] srameshr opened #4490 "Full text search for Parse JS SDK and or Parse Cloud code"
### Issue Description
The current query options on strings, in the JS SDK and Parse Cloud code is just limited to "starting with" option.

I see that there was a PR sent to include this feature but did not get merged:
https://github.com/parse-community/Parse-SDK-JS/pull/470

### Steps to reproduce

Try to do a fuzzy query or levenshtein-distance for strings.

Parse API code has this integrated.
ht

[2018-01-08 14:32] manjum-kar opened #4491 "Reset Parse server password"
Hello,

I'm new to Parse.
I created a parse server on AWS and everything worked fine until I shut down the server. Now I can't login back to parse dashboard as I don't remember the original password that I got by selecting system log. Is there a way to reset the password?

[2018-01-08 17:45] srameshr commented on #4197
@flovilmart There is not even a mention of this on JS docs page. I have to dig through the API to find new methods and google what they do.

[2018-01-08 19:57] marcelocotrim commented on #3517
3.6 is working perfectly!

[2018-01-09 00:50] dplewis commented on #4489
A quick workaround is appending `_p_` to the field name
[code]

[2018-01-09 02:42] #4489 closed

[2018-01-09 02:43] dplewis commented on #4489
Closed via https://github.com/parse-community/parse-server/pull/4493

[2018-01-09 03:40] zhouhao27 commented on #1239
Honestly I prefer to install parse-server on instance by myself.

[2018-01-09 04:26] dplewis commented on #4212
Addressed via https://github.com/parse-community/parse-server/pull/4240. Please feel free to reopen if issue persists

[2018-01-09 04:26] #4212 closed

[2018-01-09 06:50] Steggl commented on #1239
@zhouhao27 : How would you do this? Is there a tutorial around?

[2018-01-09 08:22] xedixermawan commented on #4489
Hi @dplewis , thanks for quick reply & implementation.
I tried your code change and it's work by appending `_p_`.
the thing I notice, the form of aggregate query is not consistent with the form of relational query ( a query using keyword `where` ).
for my query above , here is the change I made to make it work.
[code]

[2018-01-09 14:51] dplewis commented on #4489
@xedixermawan In mongo especially there are multiple stages (20+) for aggregates so adding transforms for all of them would take some time. I guess we can transform the main 3 `group`, `match`, `project`. You want to open a PR to add pointer transform to `match`?

[2018-01-09 15:14] dplewis commented on #4477
Can you print the error here?
[code]

[2018-01-09 15:44] dplewis commented on #4338
Closing via https://github.com/parse-community/parse-server/pull/4375

[2018-01-09 15:44] #4338 closed

[2018-01-09 19:55] trylovetom commented on #391
I am interested in this Issue.
It's might be of use to me on cluster of parse-server.
Maybe I can do it.
Does anyone agree?

[2018-01-09 21:40] montymxb commented on #391
Not personally running a cluster so hard for me to judge outright,
@flovilmart think it's reasonable for this to be pursued?

On Jan 9, 2018 11:56 AM, "CHANG, TZU-YEN" <notifications@github.com> wrote:

[2018-01-09 21:54] flovilmart commented on #391
I don't think it's reasonable to pursue it, as you'd have to integrate a centralized logger in any case, which can be done through a custom adapter.

[2018-01-10 01:18] itjunkii83 commented on #707
@camdagr8 did you ever fix this?

[2018-01-10 02:08] fprospato commented on #1063
Any help on this will be greatly appreciated because I am lost on how to accomplish this.

[2018-01-10 03:21] zenz commented on #4477
@dplewis

Hi,

There's no errors print out indeed.

But I had figure it out, I have to use MASTER_KEY to do the query. event ACL has not limitation for reading.

[2018-01-10 03:25] dplewis commented on #4477
👍 We can close this out?

[2018-01-10 03:25] #4477 closed

[2018-01-10 03:42] trylovetom commented on #391
@flovilmart
OK, I got it. Maybe I can make a custom logger adapter replace it.
Could you please give me some advice?
This is my first time to make a adapter of parse-server.

[2018-01-10 04:37] flovilmart commented on #391
The logger adapter is quite simple, it jhas to implement 1 method for writing (log()) and one for reading, (query)

see: https://github.com/parse-community/parse-server/blob/master/src/Adapters/Logger/LoggerAdapter.js#L11

You can also look into the default logger [here](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Logger/WinstonLoggerAdapter.js#L6) as it provides a dec

[2018-01-10 18:12] majidhassan opened #4494 "MongoError: Interrupted by the host"
Hello,

I recently got the error "MongoError: Interrupted by the host" from my self hosted parse-server. My assumption is, that this is caused by a shortage in the connection pool.

Could something else be causing this error?

Here's the exact error object:

`{"code":141,"message":{"name":"MongoError","message":"Interrupted by the host","ok":0,"errmsg":"Interrupted by the host","code":11601,"codeN

[2018-01-12 05:54] itolisto commented on #4480
Hello @ibrahimennafaa,

Could you please post your afterSave function?

[2018-01-12 14:48] ibrahimennafaa commented on #4480
Sure!

`const createRoles = (request) => {
	var account = request.object;

	if (request.user===undefined) {
		return Parse.Promise.error("Request User is undefined");
	}

	var user = request.user;

	// 1. Create admin role for current user and for current account
	var roleACL = new Parse.ACL();
	roleACL.setPublicReadAccess(true);
	var roleAdmin = new Parse.Role("admin-"+account.get("domain"), role

[2018-01-13 07:29] adammlevy opened #4496 "Push error when query has no results"
### Issue Description

Anytime I send a push and the push query doesn't map to any users, Parse dashboard reports that push as an error and the logs also report an error.  This leads me to believe that many of my pushes are not being sent.  Shouldn't these pushes be reported as success even though they are not sent to a single user?
### Steps to reproduce

Send push with a push query that includes

[2018-01-14 01:25] adammlevy commented on #4496
@flovilmart thanks for fixing this!  When will the release branch be cut with this fix?

[2018-01-14 02:37] flovilmart commented on #4496
This weekend or early next week

[2018-01-14 14:47] drbarto commented on #3272
@ArMouReR did you ever solve your issue? I have a very similar problem (see [this SO post](https://stackoverflow.com/questions/48248766/error-when-creating-acl-in-cloud-code-invalid-permission-type)) and would be very thankful if you could share your solution.

[2018-01-14 15:12] flovilmart commented on #3272
Can you provide the server logs or is it a JS SDK issue?

[2018-01-14 15:32] drbarto commented on #3272
Here's the log entry showing the error:

[code]

The code responsible for this error looks like this:

    const acl = new Parse.ACL();
    acl.setRoleReadAccess('name', true);
    const task = new Task(args);
    task.setACL(acl); // <-- error

The `Task` type is defined in another file and `require`d in the Cloud Code file:

    // task.js
    module.exports = Parse.Object.extend('Task');
    //

[2018-01-14 15:42] ArMouReR commented on #3272
My code that works right now on Parse server:
`
Parse.Cloud.afterSave(Parse.User, function (request) {
    var user = request.object;
    if (!user.existed()) {
		var acl = Utils.getAclForUser(user) ;
    	user.setACL(acl);
    	user.save(null, {useMasterKey: true});
    }
});

    getAclForUser: function (user) {
        var acl = new Parse.ACL(user);
        acl.setRoleReadAccess("admin", true);

[2018-01-14 15:57] drbarto commented on #3272
@ArMouReR Thanks! The new (working) code looks almost identical to the old (problematic) code in your original post, so I guess the code itself is ok -- the problem must be related to some contextual issue that you somehow solved. Heads up for fixing your bug, I hope I get mine fixed as well :)

[2018-01-14 20:15] markuswinkler opened #4498 "Feature request: Donations / Commercial Support"
Hi!

I am wondering if there are plans to add a donation site for the parse platform.
You guys put in a tremendous amount of time and love into this which is truly amazing
and much appreciated.
Truth though is everyone has bills to pay.
With some many projects out there relying on parse (and I bet a good junk of it
commercial ones) I think a call for donations to keep it alive is more than fair.
I

[2018-01-14 22:54] otymartin opened #4499 "Facebook Login/Signup Fails - Server shows 404 with Safari 11 requesting favicon.ico"
### Problem
@flovilmart

Some of my users cant Login/Signup . My app uses only Facebook logins.

### Facts
- All users affected are iPhone users with iOS 11.
- This issue has affected 2 users - Both in the U.S.
- In one case, PFFacebookUtils completely fails to create a new user (I dont think safari even opens)
- In another case, a user is created but fails to perform graph request. So user only h

[2018-01-15 13:30] natanrolnik commented on #4498
Hey @markuswinkler - there is already an Open Collective with existing donations: https://opencollective.com/parse-server

Commercial support is something that was talked about, but no real measures taken. Can you extend more on the direction you mentioned?

[2018-01-15 16:10] markuswinkler commented on #4498
Ah! Didn't know that (and I bet a lot of others as well).
I highly recommend to include this link in the readme.md for all parse plattforms/sdks.

Commercial support:
A lot of (semi) commercial platforms run on parse-server.
If there is a critical bug needed (or a feature request) a lot of
people who make money with their services would be willing to pay
for a quick fix instead of waiting for it t

[2018-01-15 23:44] #4490 closed

[2018-01-16 00:01] montymxb commented on #4494
Just looking around seems to indicate that something is being interrupted server (host) side, don't really think a connection shortage cause this as the connection has already been established for it to be interrupted (unless there's a contest for resources, maybe...).

Could you provide further details regarding the circumstances of this? Especially if you have a scenario that can reproduce this.

[2018-01-16 00:04] montymxb commented on #4496
Closing this out as this has been added in (pending release for usage), thanks for helping us fix this @adammlevy .

[2018-01-16 00:04] #4496 closed

[2018-01-16 00:09] montymxb commented on #4499
Specifically regarding your 'no connection available' MongoError I would double check that you're properly connected to your cluster from parse server. You can always double check that your mongoUrl is correct by connecting with `mongo` from the terminal (provided you have the right version of the mongo client installed).

[2018-01-16 00:14] otymartin commented on #4499
@montymxb Hey what what does that mean? this appears to only be an issue for 2 users. The server, database and everything is the same. Let me reachout to mlab and see if its a problem on their end since you mention the "no connection" error.

[2018-01-16 00:29] montymxb commented on #4498
That sounds like a good idea, regarding the support/donate links on the SDK pages themselves. There are some people that may want to support us but use a hosted server solution, and as such may never look beyond the SDKs specifically.

[2018-01-16 00:35] flovilmart commented on #4498
we could add the open collective to all pages, as well as post install scripts on all our package manager scripts, something in the tune of:

[code]

[2018-01-16 00:37] markuswinkler commented on #4498
Sounds like a good idea to me. Easy & non-obtrusive.

[2018-01-16 00:44] flovilmart commented on #4498
@markuswinkler would you be willing to chip in? adding some post install scripts to the node base projects, as well as the update in the readmes (based on this [README](https://github.com/parse-community/parse-server/blob/master/README.md), nametly shield at the top + backers/contribs at the bottom)

[2018-01-16 08:19] oyvindvol opened #4500 "Clean up invalid deviceTokens - deleting valid ones as well?"
### Issue Description

I have set the flag `PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS = 1` on Heroku. On some occations my users are reporting that push have stopped working, and when I check their Installation object, the deviceToken is `undefined`. It has worked for them before.

Is it possible that the clean up flag is also un-setting valid deviceTokens, on some occations?

What happens if I d

[2018-01-16 11:00] Helmikku commented on #4423
Hello, After several weeks monitoring the CLP, it seems everything works as expected.

[2018-01-16 11:00] #4423 closed

[2018-01-16 12:04] Helmikku opened #4501 "user.emailVerified is not set to false when user.email changes"
### Issue Description

When a user has verified their email, and then change it, the field emailVerified is still true.

### Steps to reproduce

One user set their email. `user.email = aaa@aaa.aa;`
They clicks on the link to verify the email. `user.emailVerified = true;`
They changes their email. `user.email = bbb@bbb.bb; user.emailVerified = true;`

#### Expected Results

I was expected emailVeri

[2018-01-16 13:00] drbarto commented on #3272
@flovilmart In case you are still interested: the issue was caused by having `global.Parse = require('parse/node')` in a global Mocha test setup file; when running all integration tests (> 300 tests, taking about 4 minutes) this caused some weird effects like the mentioned `Tried to create an ACL with an invalid permission type`, but also `You cannot use [object Object] as a query parameter`; both

[2018-01-16 13:54] flovilmart commented on #3272
Ok, maybe related to side effects of having parse global. I believe in test environments, you should disable the single instance per object: http://parseplatform.org/Parse-SDK-JS/api/v1.11.0/Parse.Object.html#.disableSingleInstance

[2018-01-16 14:06] dplewis commented on #4498
@flovilmart This PR https://github.com/parse-community/parse-server/pull/3806 had `postinstall` script but it didn’t make it into the repo any reason why?

[2018-01-16 14:09] flovilmart commented on #4498
Because it added a dependency on the opencollective package and I’m not for adding non critical packages to production :)

[2018-01-16 14:23] dblythy opened #4502 "Password Policy String"
Is there a better way to show password policy errors?

Instead of

Password does not meet the Password Policy requirements. (Code: 142, Version: 1.14.2)

Maybe

Password does not meet the Password Policy requirements. Passwords must have <Readable Password Policy> (Code: 142, Version: 1.14.2)

[2018-01-16 15:41] dplewis commented on #4498
@flovilmart Would something like this work or is this too much?

<img width="897" alt="screen shot 2018-01-16 at 9 38 05 am" src="https://user-images.githubusercontent.com/9830365/34997171-59399a84-faa1-11e7-9ebd-5ba1f2c4c752.png">

[2018-01-16 15:48] flovilmart commented on #4498
hahah :) that's cute :) it's quite big but I like :)

[2018-01-16 15:49] flovilmart commented on #4498
we could put that script as a gist, and just curl it no?

[2018-01-16 15:50] montymxb commented on #4498
That's in the right direction, but maybe something a bit smaller if it's
possible? A small terminal window might not even show that properly haha.

On Jan 16, 2018 07:48, "Florent Vilmart" <notifications@github.com> wrote:

[2018-01-16 16:13] dplewis commented on #4498
@flovilmart If you can create a gist that would be great. We can always trim fat

<img width="375" alt="oc" src="https://user-images.githubusercontent.com/9830365/34998735-817b178a-faa5-11e7-9e33-165592e1ee79.png">

`opencollective-postinstall.sh`
[code]

[2018-01-16 16:49] flovilmart commented on #4498
I’ll create it :)

[2018-01-16 17:49] adammlevy commented on #4500
I had a similar issue, please see [this post](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1224)

[2018-01-16 17:55] oyvindvol commented on #4500
Thanks. So the solution is removing the clean-up flag? And the ones who
have lost their deviceToken already need to re-install?

tir. 16. jan. 2018 kl. 18:49 skrev adammlevy <notifications@github.com>:

--
mvh
Øyvind Voldsund

[2018-01-16 17:57] flovilmart commented on #4498
@montymxb @dplewis can you check that this command work?

[code]

[2018-01-16 17:58] flovilmart commented on #4500
@oyvindvol in iOS, usually you can reaquire the device token easily, by registering again for pysh notifications, it is actually recommended to call the registration method on startup to make sure the token is valid.

[2018-01-16 18:01] oyvindvol commented on #4500
Yes, I am calling it on startup. That’s why I found it strange that the
affected installations did not get a new deviceToken on startup.

tir. 16. jan. 2018 kl. 18:59 skrev Florent Vilmart <notifications@github.com

--
mvh
Øyvind Voldsund

[2018-01-16 18:03] dplewis commented on #4498
It works for me directly in terminal but not in a package.json

[2018-01-16 19:13] elios264 opened #4503 "BeforeSave Hook recieves invalid object when verifying emails"
We use GitHub Issues for bugs.

### Issue Description

The beforeSave hook when verifying an email receives an invalid object for Parse.User:

![capture](https://user-images.githubusercontent.com/15863852/35007313-e6540c5c-fabe-11e7-9508-6da3998ccb4e.PNG)

the object has no Id, so calling object.dirty always returns true and all my validations fail.

### Environment Setup

- **Server**
  - parse-s

[2018-01-16 20:37] duffek commented on #4320
@montymxb you probably want to see this open question: https://github.com/parse-community/parse-server-s3-adapter/issues/52 and this stack overflow post if you are using Heroku: https://stackoverflow.com/questions/45696859/parse-server-s3-adapter-deprecated/47518360

[2018-01-16 21:35] montymxb commented on #4498
`sh` isn't necessarily available when using package.json. You can reference `/bin/sh` instead to make it work. A good example of this (but in ruby) is [homebrew's installation](https://brew.sh/).

[2018-01-17 02:53] dplewis commented on #3403
If you are using AWS you can create a config file that will install cornjobs when you create an instance.

`.ebextensions/cron.config`

[code]

Notice unlike my last comment this uses `root` instead of `sudo`

[2018-01-17 02:53] #3403 closed

[2018-01-17 05:44] greenkeeper[bot] opened #4505 "An in-range update of uuid is breaking the build 🚨"
## Version **3.2.1** of [uuid](https://github.com/kelektiv/node-uuid) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/parse-community/parse-server/compare/greenkeeper%2Fuuid-3.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uuid
    </td>
  </tr>
  <tr>
    <th align=left>

[2018-01-17 13:43] notiles opened #4506 "WARNING, Unable to connect to 'https://myurl/myserver'. Cloud code and push notifications may be unavailable!"
### Issue Description

When I launch my parse server I got a warning
WARNING, Unable to connect to 'https://my.url/myserver/'. Cloud code and push notifications may be unavailable!

But my server is running, I can see datas, edit and read them in my parse dashboard and console.log put in cloud code file works.

I don't use push notification so I can't test them...

A precision, I change the domain

[2018-01-17 15:20] Biromain commented on #4506
I have this issue too.
Seem come from [src/ParseServer.js#L267](https://github.com/parse-community/parse-server/blob/7223add446ffd1af0e023f50f3a2cd8dc06c3c16/src/ParseServer.js#L267).
My `localhost/health` and `<reverseProxyUrl>/health` responses are httpCode: `200` and body `{"status":"ok"}`

* No PM2 just a webpack build
* Docker container
* Traefik reverse proxy container

**Edit** After few te

[2018-01-17 15:23] flovilmart commented on #4506
What’s the value of the json variable?

On Jan 17, 2018, 10:20 -0500, Biromain <notifications@github.com>, wrote:

[2018-01-17 15:25] Biromain commented on #4506
After try catch :
json = `{ status: 'ok' }`

[2018-01-17 15:50] notiles commented on #4506
Thanks, I also confirm that https://my.url/myserver/health return a json `{ status: 'ok' }`

So it look like a false positive but still weird...

[2018-01-17 15:58] Biromain commented on #4506
As long as /health check is good and orchestrator dont kill process, it's good for me. But still weird.

[2018-01-17 16:18] Salahq opened #4507 "Parse not streaming videos?"
Hello, I have installed ''parse-server-example'' with latest ''parse-server'' node_modules, But i cannot stream videos on IOS when i open the video link on firefox it works. Is there any fix for that in future please? Let me know

[2018-01-17 16:54] majidhassan commented on #4494
Hey @montymxb, thanks for your reply. It turned out I had a bug that caused a call to go into an infinite loop. The call made multiple calls to the database, so my guess is, that the cloud call either timed out while a db call was executing, or, that the db itself rejected a call due to too many requests. I'm betting it's the first one, though.

[2018-01-17 17:15] montymxb commented on #4494
Ahh, there you go. Glad you figured it out. Unless there's something else that's outstanding I'll go ahead and close this out. Feel free to open it back up if this is persisting.

[2018-01-17 17:15] #4494 closed

[2018-01-17 17:54] flovilmart commented on #4506
perhaps the `on('mount')` event occurs too early, therefore, the call fails at startup.

[2018-01-17 22:35] charleskoehl commented on #2159
We also have an application based on Parse. Recently, it became necessary to use transactions to support a ledger of user loyalty rewards points. We are considering these options:
1. Switch to Firebase and use its new database, "[Firestore](https://firebase.google.com/docs/firestore/)," (in beta; has documents organized into collections and supports multi-document transactions and batch writes), a

[2018-01-17 23:51] flovilmart commented on #2159
I’m always cautious about integrating 3rd party frameworks.

While this is a great idea, stuffing more features into the main repository is perhaps something that will be costly in the long run.

If we support transactions for mongo, then we’ll need the same level of support for Postgres.

I’m curious of what the REST interface would look like, where it would live, wether we support cross class tr

[2018-01-18 13:49] notiles commented on #4506
I don't know if it's a consequence but I can't connect to the parse server form nodejs.

It works fine with CURL or with the dashboard API Console... Any idea?

[2018-01-18 14:05] Biromain commented on #4506
Your dashboard/script is on same domain?
Because i has been same issue caused by CrossDomain limitation.

[2018-01-18 14:56] notiles commented on #4506
I find my error... It was a wrong ssl setup. I forgot to make a bundle certificate... Everything work perfectly now. Sorry for the wasting time

[2018-01-18 14:56] #4506 closed

[2018-01-18 15:04] flovilmart commented on #4506
@notlies, this warning was actually very helpful indeed :) do you want to add a line to the parse server guide in the docs repo about this particular behavior? This may help other users

[2018-01-18 16:12] Sadmansamee commented on #4309
I'm building one too with parse server and for payment using Stripe.

[2018-01-18 19:02] flovilmart commented on #4506
Perhaps the line could read just that, in the tune of that this warning may be emitted when https is incorrectly configured.

[2018-01-18 20:17] montymxb commented on #4501
Hmm, this is interesting point. @flovilmart makes sense to reset verified when the email has been changed? Trying to think if something goofy would arise from this...

[2018-01-18 20:18] montymxb commented on #4502
If you believe there is a better way go ahead and send us a PR so we can formally look it over.

[2018-01-18 20:20] #4502 closed

[2018-01-18 21:19] charleskoehl commented on #2159
Thanks for your thoughts.

I think an adapter pattern would be best to maintain independence from Fawn or any other specific implementation.

I think it should support cross-class transactions. It should be available only for the masterKey at first since I think a significant portion of transactions would modify data related to multiple users.

As I'm currently the sole developer (tech co-founder)

[2018-01-19 04:07] stevestencil opened #4510 "Session Token Question"
Recently I have noticed that Session tokens are being replaced when logging a user in. I would expect that it would just create a new token instead of replacing the old one? Is this expected behavior?

Example: Calling the login function twice within 2 minutes of one another will replace the first session with the second one.

Is anyone else having this issue?

[2018-01-19 04:41] devKC commented on #723
@flovilmart I am seeing a situation where the iOS badge count is incrementing independent of Installation.badge count. For example, I send a push with `badge: "Increment"` and the badge pops up on iOS as it should. I open the app and the badge disappears and installation.badge is reset to 0, as it is designed. However, after sending another push the iOS badge seems to continuously incrementing (sh

[2018-01-19 06:09] Lowp opened #4511 "Parse Server Crash when user Login."
Version : 2.7.1
System : Centos 7
SDK: android-1.15.8

===================================================================

I use login method to do a password authentication ,The first time,it work,Then,Parse Server will Carsh when I use login method again,

but.....Parse Server is work always When I execute a command ‘node app.js &’in Xshell and don't close the command window,.if I close the com

[2018-01-19 07:30] Lowp commented on #4511
Parse Server will Carsh if usename/email dosen't exist or password is error，This is a bug?

[2018-01-19 08:27] Lowp commented on #4511
change command to 'nohup bash start.sh &',it work!

[2018-01-19 08:27] #4511 closed

[2018-01-19 09:53] Macifier opened #4512 "error unauthorized on customized reset password page"
i am using parse-server-amazon-ses-adapter and trying to custmize password_reset functionality i am not able to figure out how to customize password_reset email and password reset ui i am trying it for a week but not able to do it
customPages: {

   choosePassword: 'password_reset'
  }
and after clicking password_reset link i am getting {"error":"unauthorized"} on browser
and used body option for

[2018-01-20 01:11] Seanw265 commented on #4480
I had the same issue just now. In my case the issue was using a character that was not allowed in the name of the Role (for me it was ':'). I notice in your code you use the character '-' as part of the name. The name has to match this regular expression found in the Object validate function, `/^[A-Za-z][0-9A-Za-z_]*$/`. Although it also looks like you can pass in an option for no validation (not

[2018-01-20 19:46] flovilmart commented on #4501
Yes it makes total sense! We should do it

[2018-01-21 11:20] figgcoder commented on #2610
@polo2244 did you finally solved the problem. We are getting same error.

[2018-01-21 17:41] oallouch commented on #4258
same question here
I guess I'll go the mongo-driver-way.

[2018-01-22 02:18] polo2244 commented on #2610
Unfortunately no, i did not

[2018-01-22 02:22] flovilmart commented on #2610
@polo2244 it looks like @lcortess proposed configuration works properly.

@lcortess would you be so kind opening a PR on the docs repository for the AWS EB configuration?

[2018-01-22 11:48] oyvindvol commented on #4500
@flovilmart I am testing this now:
- In parse dashboard I deleted my devicetoken, emptied the column.
- I run ios app in debug in xcode, `didRegisterForRemoteNotificationsWithDeviceToken` is getting called.
- I do like this to update my installation object with the device token:
[code]
- The device token is not saved to the installation object

Am I doing something wrong here?

[2018-01-23 12:22] jorge140 opened #4516 "Problem with controller UserController"
Hello,

When I try to run a Nodejs application, it generates the following error and does not indicate that it is a problem with my code, and even though I review it, I can not find the reason for this message.

This is the error message:

2018-01-19T12:39:40.231019+00:00 app[web.1]: /app/node_modules/parse-server/lib/Controllers/UserController.js:51
2018-01-19T12:39:40.231022+00:00 app[web.1]:

[2018-01-23 14:07] #4500 closed

[2018-01-23 15:57] fridays commented on #4114
I am seeing the same problem

[2018-01-24 08:53] thisfiore commented on #3576
@flovilmart I'm pretty curious. Do you manage memory in some way?
I've experience in memory management in Swift and there are specific things to do.
Do you have any best practice?
Also in my experience the Parse Server memory usage keeps increasing and never gets free.

[2018-01-24 13:21] greenkeeper[bot] opened #4517 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## Version **2.41.1** of [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/parse-community/parse-server/compare/greenkeeper%2Feslint-plugin-flowtype-2.41.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-p

[2018-01-24 16:55] jfalcone commented on #3576
Most important thing for your code is to find a combination of Parse server version and NodeJS version that seem to click.  We were having problems until we upgraded to NodeJS 6.11 at which point the memory management and garbage collection started behaving themselves and our long term memory use became flat regardless of load.

A different longer term issue (we're talking days to weeks) did show

[2018-01-24 18:31] TVMD commented on #2861
hi @willyyang , could you tell me if query.containsAll is can use or not ? I try equalTo and containsAll not work

[2018-01-24 22:49] saulogt opened #4523 "Unsetting a field in BeforeSave hook doesn't prevent CLP from rejecting its "creation""
### Issue Description

My collection has an advanced CLP rule that prevents the client from creating a field. And some legacy clients are still sending unused fields that I want to ignore and removed them from the collection.

Even calling `req.object.unset('undesiredField')` I still receive the CLP error
[code]
I disable the CLP for this test and the field is *not* created anyway.

### Steps to r

[2018-01-25 01:55] flovilmart commented on #4523
@saulogt thanks for reporting the issue, we'll have a look.

[2018-01-25 02:23] koyinusa commented on #4510
I doubt that this is entire true, because I just tried testing this right now and I seems to work just fine. I have the same user logged on different platform, with different tokens
I am currently on the v2.7.2

[2018-01-25 02:50] aitchkhan commented on #80
+1

[2018-01-25 09:36] polo2244 commented on #2610
@flovilmart
Before i found this thread the Live queries did not even log anything on server (and it shouldn't have since AWS ELB did not support web sockets with the old application load balancer).

After we configured our server per @lcortess 's configuration the server's logs showed and undefined client. We could have missed something during the configuration but since we tried it on 2 different

[2018-01-25 16:34] paulovitin commented on #4501
@montymxb Can I take care of this?

[2018-01-25 16:41] flovilmart commented on #4501
@paulovitin yes! Jump ahead!

[2018-01-25 16:45] paulovitin commented on #4501
@flovilmart just one question, the user can change the email before of confirm the old email or not?

[2018-01-25 17:25] oallouch commented on #4082
@JulienLevallois did you use a library for your comparison ? What did you do in the case of arrays ?

merci d'avance

[2018-01-25 19:17] JulienLevallois commented on #4082
Hey ! @oallouch, dans le after save tu peux checker la version original de ton object et la nouvelle version apres le after save. Ainsi tu vas pouvoir comparer les deux et voir les différences. Si ton object contient un array, tu vas comparer les deux arrays pour voir si ils sont pareils

![image](https://user-images.githubusercontent.com/5727223/35407586-c3dd15c4-020c-11e8-85d1-e64e1f6ca5f9.png)

[2018-01-25 22:01] montymxb commented on #4501
@paulovitin yep go for it! And yes, the user may change their email before confirming the existing one. A good example would be if you put the _wrong_ email (or a non-existent email with a typo) the first time around. You would want to correct that even though you cannot necessarily confirm the existing email.

Another question would be whether we would to send another verification email automatic

[2018-01-29 10:11] Nisthar opened #4527 "allowClientClassCreation is not working"
I used https://github.com/parse-community/parse-server-example to host my parse server on heroku.

I have edited my `index.js` file:

[code]
I added `CLIENT_CLASS_CREATION` and set it to false.

My parse client is android. I am using this code:

[code]

The query should fail. But its giving me `SUCESS`

What am i missing here?

[2018-01-29 11:11] Nisthar commented on #749
@grupster did you fixed it ? I am having the same issue here https://github.com/parse-community/parse-server/issues/4527

[2018-01-29 17:33] majidhassan opened #4528 "ParseServerLiveQuery crashes on client side query."
### Issue Description

I'm using parse-server live queries and I noticed, that a certain query written and subscribed to on the client side crashed my parse-server cloud call. The cloud call was interrupted and I found liveQuery related errors in the logs.

### Steps to reproduce

1. Run liveQuery with parse-server using PM2.
2. Subscribe to a query similar to the below:

[code]
3. Run cloud call

[2018-01-30 01:24] dplewis commented on #4528
@majidhassan I see you are running an older version of Parse Server. Can you update to latest version and see if the issue persists?

[2018-01-30 03:50] tolgaatam commented on #4527
hey,

i'm not sure if the booleanParser only parses strings directly coming from the environment variables, so my suggestion might not be working but you might want to try.

i assume the problem happens because you are passing the string 'false' to the main config and it is not being processed as the boolean false. rather than trying to set an environment variable yourself, use the envorinment var

[2018-01-30 04:09] tolgaatam commented on #4450
did you really need to put your server url in the cloud code? all information is passed to the cloud functions automatically

[2018-01-30 04:29] tolgaatam opened #4530 "setOneSchema in SchemaCache is never triggered, many getOneSchema results in misses"
### Issue Description

In SchemaCache, there is the function setOneSchema for setting individual schemas of classes in the cache. this function is never utilized and there is never individual schemas accumulating in the cache.
however, getOneSchema is being used and it always results in one miss before the MAIN_SCHEMA is looked up for that class, because the schema for that class would never have

[2018-01-30 07:45] haroonKhan-10p commented on #3313
Is there any update on this?

[2018-01-30 12:27] flovilmart commented on #3313
You should be able to either pass email or username to the JS login method, and it would work with the latest parse server version

[2018-01-30 12:27] #3313 closed

[2018-01-30 15:46] bfjfm2 opened #4531 "Calling a Function in Index.js from Cloud Function"
[I know how to call a function and  pass values from index.js to Cloud Code](https://github.com/parse-community/parse-server/issues/4013)

How to do this in reverse side? Calling a function in Index.js from a Cloud function.

index.js
[code]
cloud/main.js
[code]

[2018-01-31 02:32] paulovitin commented on #4501
@montymxb look the test in PR, the problem cant be found. I create a test with the scenario and the test pass.

@Helmikku can you have a look in the PR?

[2018-01-31 07:28] haroonKhan-10p commented on #2850
@flovilmart can you please tell what is I am missing here:
const user = await Parse.User.logIn(req.params.email, req.params.password);
const userRoleQuery = user.relation(Parse.Role).query();
const role = userRoleQuery.find()  // role is undefined

my relations and collections   look like:
![relations](https://user-images.githubusercontent.com/29393510/35610150-0fc9f226-0682-11e8-9b5f-a4a730490f30

[2018-01-31 13:48] dplewis commented on #4490
@srameshr If your stuck with you using the Rest API in Cloud Code you can use any HttpRequest package available in node like `request`. If you need examples please look at the test specs.

https://github.com/parse-community/parse-server/blob/master/spec/ParseQuery.FullTextSearch.spec.js

[2018-01-31 16:21] srameshr commented on #4490
Why are you guys not releasing the next version with this fix?

[2018-01-31 16:54] dplewis commented on #4490
@srameshr I know @flovilmart has been giving the iOS SDK some TLC to fix Bolt issues and merging the iOS related repos which which took a lot of work.

https://github.com/parse-community/Parse-SDK-iOS-OSX/pull/1237

I can't speak for the team as far as releases go but there should be one soon. I've offered plenty of way for this feature to be used in the meantime. I hope you can understand.

[2018-01-31 17:49] mginz83 opened #4534 "How would I use ParseServer if I inserted this custom JSON into ParseObjects in MongoDB"
Usually, when dealing with a ParseObject from MongoDB, its a simple, well, JSON object like so.

[code]

What if I kept the _id and replaced everything else with the following JSON

[code]

Can something like this be parsed with ParseServer?

[2018-01-31 20:19] jferrer21 opened #4535 "Cannot find module 'parse-server-simple-mailgun-adaptor'"
Parse Server 2.7.2

Error when running the index.js file.

Error: Cannot find module 'parse-server-simple-mailgun-adaptor'
    at Function.Module._resolveFilename (module.js:555:15)
    at Function.Module._load (module.js:482:25)
    at Module.require (module.js:604:17)
    at require (internal/module.js:11:18)
    at loadAdapter (/home/ubuntu/parse-server-example/node_modules/parse-server/lib/Ada

[2018-01-31 21:02] jferrer21 opened #4536 "Clarify Parse Documentation"
Under Sessions ->  Session Security

Session objects can only be accessed by the user specified in the user field. All Session objects have an ACL that is read and write by that user only. You cannot change this ACL.  **This ACL will be created with a public read and write, however, a Class Level Permission will block the ACL.**  This means querying for sessions will only return objects that match

[2018-01-31 21:35] EnigmaDX commented on #2981
@kulshekhar please I don't see any process serving on port 1337, and I still get the same error:

so how do I free that port?

[2018-01-31 21:42] kulshekhar commented on #2981
@EnigmaDX depending on your OS, you'll have to find what's using that port and then stop/kill whatever is using it. If you can't find that, a simple solution might be to change the port to something that's available

[2018-02-01 08:47] bohemima commented on #4534
If you added the corresponding keys with correct type for schema, sure.

name: String
Serves: Number
ingredients: Array
etc

[2018-02-01 16:01] dplewis commented on #4535
Looks like its spelt wrong *adapter*

[2018-02-01 16:05] Macifier opened #4537 "modify PublicApiRouter.js for fixing error"
please modify 172 line of PublicApiRouter.js to
    var params = _querystring2.default.stringify({ username: username, token: token, id: config.applicationId, error: err.message, app: config.appName });
because you are sending error object to choose_password params url so it is getting error as empty if you send err.message atleast we can display error on choose_password if it doesn't match passwo

[2018-02-01 16:07] Macifier opened #4538 "fix for PublicApiRouter.js"
please modify 172 line of PublicApiRouter.js to
    var params = _querystring2.default.stringify({ username: username, token: token, id: config.applicationId, error: err.message, app: config.appName });
because you are sending error object to choose_password params url so it is getting error as empty if you send err.message atleast we can display error on choose_password if it doesn't match passwo

[2018-02-01 16:11] dplewis commented on #4538
Do you mean this line https://github.com/parse-community/parse-server/blob/master/src/Routers/PublicAPIRouter.js#L159?

Do you want to submit a PR?

[2018-02-01 16:13] #4537 closed

[2018-02-01 16:13] dplewis commented on #4537
Duplicate https://github.com/parse-community/parse-server/issues/4538

[2018-02-01 16:19] Macifier commented on #4537
please fix this i have to customize the choose_password file

[2018-02-01 16:27] dplewis commented on #4538
@Macifier I put this up for grabs as I don't have time right now. @montymxb

[2018-02-01 16:34] jferrer21 commented on #4535
Thank you for the hint.  I looked to an old installation of Parse_Server and I noticed that we have a module named parse-server-simple-mailgun-adapter under node_modules, however, in version 2.7.2 that module doesn't exist and now what we have is under node_modules -> @ parse -> simple-mailgun-adaptor.  I changed my index file to:

`emailAdapter: {
    module:'@parse/simple-mailgun-adapter',`

And

[2018-02-01 18:27] montymxb commented on #4501
@paulovitin no kidding...alright hold I'll take a look at your change.

[2018-02-01 18:48] montymxb commented on #4501
It looks like the [following test](https://github.com/parse-community/parse-server/blob/9de4b8b2a7cf4487271f3eeef84b307d53c772f4/spec/ValidationAndPasswordsReset.spec.js#L145) accounts for this behavior, but it doesn't set an email first and then set it again. However it does demonstrate that updating a user with a new email will setup the verification process again.

@paulovitin I think it would

[2018-02-01 18:57] dplewis commented on #4535
Sweet!

[2018-02-01 18:57] #4535 closed

[2018-02-01 18:58] dplewis commented on #4536
Which doc are you looking at?

[2018-02-01 19:02] jferrer21 commented on #4536
Rest Api.

[2018-02-01 19:23] montymxb commented on #4538
So the only suggested change here is to the current line:
[code]
by passing `err.message` instead of just `err`, just to make it clear.

@Macifier your issue is a need for customization right? Can you detail exactly what the existing problem is with the current passing of err? It is an object, but it should be encoded in the url string, or is just ending up completely blank as you mentioned?

[2018-02-01 20:20] Macifier commented on #4538
it is ending up blank yes thats the line i have tested it locally but if we modify it to err.message then it works fine

[2018-02-01 22:06] montymxb commented on #4534
Pretty much as bohemima said, there are numerious data types, and you can set up a type of Array and set your entire json to that if you want. In the [js sdk](http://docs.parseplatform.org/js/guide/#data-types) you can see what data types you can work with. I would recommend you look over the docs for your use case to figure out what data types you need and how you would implement them.

[2018-02-01 22:06] #4534 closed

[2018-02-01 22:15] montymxb commented on #4536
@jferrer21 Yep we talked about this, thanks for opening the issue.

@dplewis There is a discrepancy in the docs regarding the [REST security section](http://docs.parseplatform.org/rest/guide/#session-security). The first paragraph contains:

The next paragraph contains:

Those statements are conflicting. There is no limiting ACL being set on session objects, but the objects may only be accessed by

[2018-02-01 22:35] montymxb commented on #4538
I would be nice to keep the entire error object, or most of it. The error code would also be useful for example. It sounds like the object just needs to be prepped to stringify, surprised it isn't just automatically encoded with the rest of the params.

@Macifier do you think you could put something together to that extend? If you can put up a PR that would be quite helpful. I'm running around at

[2018-02-01 22:41] montymxb commented on #4501
Closing this out as #4532 has been merged. @Helmikku if your issue persists let us know. Although we didn't introduce any fix specifically the supplemental test we've added indicates that **emailVerified** is properly cleared when updating from an existing email that was also verified.

[2018-02-01 22:41] #4501 closed

[2018-02-02 01:57] tolgaatam commented on #4531
in index.js , export your function and in your cloud code javascript file, you can import the function derived from the index page. There are several syntaxes for exporting and importing, use the es6 way id you are using nodejs 6xx + :

index.js:

export function call_this_function_from_cloud_code(req, res){}

cloud/main.js

import { call_this_function_from_cloud_code } from “../index”;

...

[2018-02-02 13:51] j-koenig opened #4540 "Receiving a HTTP 500 when using a distinct query on nullable field"
### Issue Description

Parse-Server responds with a HTTP 500 when using a `distinct query` on the _User table using a field which is set to `null` on one or more objects.

### Steps to reproduce

Setup a new parse-server instance and add a field of the type `String` to the table. Create a new user and set the newly created field to `null` for the new user. Use the new [`distinct query`](http://doc

[2018-02-02 15:41] dplewis commented on #4540
Good catch! Would you like to open a PR for this issue?

[2018-02-02 17:58] paulovitin commented on #4538
![image](https://user-images.githubusercontent.com/125503/35747575-815f991a-0829-11e8-8c08-74f97444ecac.png)

[2018-02-02 17:59] paulovitin commented on #4538
![image](https://user-images.githubusercontent.com/125503/35747604-9adbffa0-0829-11e8-9fc1-4985916d4371.png)

[2018-02-02 18:25] Helmikku commented on #4501
Hi @montymxb

Thanks for your feedback. For instance, if I update an email from the dashboard, the emailVerified field is still true (I refreshed the page to be sure the data is up to date):

![screenshot-2018-2-2 parse dashboard](https://user-images.githubusercontent.com/7205882/35748332-f5b67d14-084d-11e8-8f9c-181fc1056632.png)
![screenshot-2018-2-2 parse dashboard 1](https://user-images.githubu

[2018-02-02 23:33] elios264 opened #4542 "Receiving a HTTP 500 when trying to save a duplicated value on an indexed unique field"
### Issue Description

Parse-Server responds with a HTTP 500 when trying to save a duplicate value on an indexed unique column.

### Steps to reproduce

1.- Setup a new parse-server instance and add a field of the type `String ` to the table.
2.- Create a unique index on that field
3.- Try to save 2 records with the same value for the indexed field.

#### Expected Results

The server should return

[2018-02-05 02:12] kaevee opened #4544 "LiveQuery ClassNames"
We have a project where the client creates arbitrary classes at runtime. We are restarting the services periodically(if need) to reconfigure the live query server.

Is there a way where we can reconfigure the live query server at run time by adding and deleting classes?

[2018-02-05 02:58] flovilmart commented on #4544
At the moment it’s not possible due to the current architecture of the server and the live query server. However, what we could easily introduce is a pattern matching option to the list of liveQueryClasses, this way, you could perhaps use a common prefix in your class name and they would automatically match when they’re added by your clients.

[2018-02-05 03:22] kaevee commented on #4544
Adding pattern matching would be great. It will solve our problems. I have very little experience in Parse server development. I will explore the sources. If you have any suggestions, it would be very helpful.

[2018-02-05 03:38] flovilmart commented on #4544
Have a look for the option that defines the list of classes that are enabled for liveQuery through the codebase,

[2018-02-05 04:11] kaevee commented on #4544
We did not expect a solution that is clean and straightforward at one go. We will make changes. Thanks again.

[2018-02-05 19:59] mpcmarques commented on #985
Using version 2.6.5 here.
Bug still persist, when querying with include I was observing that the nested objects from the object returned from the cloud code were with undefined attributes.
I modified the return code to result.toJSON() and got the right object, so for now the bug is still happening.

Example:
Cloud code:

[code]

Javascript sdk code:
[code]

[2018-02-06 00:52] awgeorge commented on #4028
The solution to this, is to implement the agreed changes in #3588

[2018-02-06 01:10] flovilmart commented on #4028
@awgeorge feel free to open a PR for the implementation of #3588! That would be nice!

[2018-02-06 18:33] thodinh opened #4546 "Parse Query Aggregate 'group' error when 'objectId' is not a string"
### Issue Description
I wanna stats users that register by day, so I use the aggregate query to count. Code here:
[code]
But, I get the error:
[code]
This is the code occurs error

[code]
In my case above I tried check typeof `stage.$group._id` (`if (typeof stage.$group._id === 'string')`) and it works to me. But I don't know how in any other case.

Please check it!

Thanks
### Environment Setup

[2018-02-06 21:29] awgeorge commented on #3588
Right - taking a stab. Can you point me to the ACL checking code? I removed the basic checks thinking it would fall back to normal ACL checking, but it didn't, contrary to this comment: `// It still could be forbidden via ACLs even if this returns true.`

[2018-02-06 23:26] yomybaby commented on #4258
On the mongodb, `findOneAndUpdate` of adapter uses `findAndModify` of mongoDB collection. ([code](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Storage/Mongo/MongoStorageAdapter.js#L418-L425))

`findAndModify` method is also atomically update. ([docs](https://docs.mongodb.com/manual/reference/command/findAndModify/#comparisons-with-the-update-method))

So I use this way

[2018-02-07 18:54] gfelot opened #4550 "[iOS/Swift] Error when saving UIImage Code=3840"
### Issue Description

I want to save an image from an UIImage as a PFFile. But then I got the error :
`Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set." UserInfo={NSDebugDescription=JSON text did not start with array or object and option to allow fragments not set.}`
As you will see in the snippet I print the data of th

[2018-02-07 19:40] dgavigan opened #4551 "bug: unable to fetch relations tied to the user class with REST api"
### Issue Description
Unable to fetch relations tied to a user class via the REST api

After creating an "interest" class to house various activities (movies, art, music, etc), I then made a few relations with a specific user through the parse dashboard.

The column in the User class is also called "interest". (perhaps this is no no?)

After making a query to fetch all related `interest` to a give

[2018-02-08 00:06] awgeorge commented on #3588
It looks like the the ACL is translated to a native database ACL, so presumably there is no checking, and we let the database handle the permissions? I need a simple way to compare the current user ACL with the object ACL for the `sensitive fields` - IE. the database returns the data, but we're deleting `email`, in this scenario, the code must check and validate the ACL, so we can keep these field

[2018-02-08 01:42] dgavigan commented on #4551
not a bug. figured it out.

`User` needed an underscore as its a reserved class. Not sure if this was in the docs and I just overlooked. Hope it helps anyone else with the same problem.

[2018-02-08 01:42] #4551 closed

[2018-02-08 04:01] dplewis commented on #4542
Parse Server allows you to create indexes but not unique indexes.

Can you post some sample code?
Did you go though a Mongo Service like MLab or use Mongo Shell?

[2018-02-08 09:10] byroncoetsee opened #4554 "LiveQuery not publishing events"
### Issue Description

Parse LiveQuery is apparently up and running, with a subscription from the device (see logs below), but no events are being published when data in the DB (tried changing via Parse-Dashboard and directly in the DB) is changed. Console shows no activity when data is changed.

### Steps to reproduce

I'm going to be honest and say I don't know. All the code was working perfectl

[2018-02-08 09:43] byroncoetsee commented on #4554
Found the error. It was an issue with the Parse-Dashboard side of things.

[2018-02-08 09:43] #4554 closed

[2018-02-08 14:10] johnnydimas opened #4555 "Extend Parse.Cloud.define to include additional paths to cloud code function"
### Issue Description

I would like to extend the Cloud code path to include a new subset of the path. For instance, would it be possible to do:

Parse.Cloud.define("internal/myFunction", myFunction);

So that the path to my cloud code would be /parse/functions/internal/myFunction.

This would be nice because then we could make use of AWS WAF to catch certain paths of functions. An alternative of

[2018-02-08 14:39] elios264 commented on #4542
Hi @dplewis,
I tried both, custom mongo installation, and Mlab, you are right, Parse don't allow you to create unique indexes, but I created them directly through Mlab or using the `mongodb` package,

About the code sample:
[code]

I know creating unique indexes can not be done through the Parse Server api,
but Parse does create unique indexes internally for username and email on the `_User` class

[2018-02-08 15:02] dplewis commented on #4542
@elios264 Thanks for the quick response. I don't see why we couldn't add unique indexes as a feature of Parse in the future. But for now I can put together a pull request for this.

[2018-02-08 15:06] dplewis commented on #4540
@flovilmart I have a PR ready for this but I wanted to verify something. I noticed a difference when setting a field from a value to null or undefined.

When using null the field is set.

[code]
When using undefined the field isn't updated.
[code]

Is this proper behavior? This is specific for Mongo, they both update when using PG

[2018-02-08 15:23] Xcode09 opened #4556 "how to edit MonogoUrl in Parse server??"
how to edit the mongo url in parse server api.i want to upload a parse server to Heroku with out credit information.so tell me how to edit the monogurl .I see the index.js but do not find anything

[2018-02-08 15:36] hamid-khakzad opened #4557 "parse server accept all application ids"
hi dear
i launched two parse-server application in single machine with express
every think work fine,but when i test application with rest api,every parse server accept own application id and other app application id.
how i can resolve this?
this is my index.js code:

`// Example express application adding the parse-server module to expose Parse
// compatible API routes.

var express = require('ex

[2018-02-08 16:36] flovilmart commented on #4557
It is unsafe to run multiple parse apps in the same process and unsupported

[2018-02-08 16:36] #4557 closed

[2018-02-08 16:39] flovilmart commented on #4540
it boils down to bottom values, undefined is not serialized, this is an unset, in PG null or unset is the same right?

[2018-02-08 16:53] dplewis commented on #4540
So that is whats going on. I found it interesting that using `object.set('field', undefined)` doesn't change the database and the old values are still there but querying returns undefined.

[2018-02-08 21:17] mman opened #4558 "push fails with status 400 and reason BadExpirationDate"
### Issue Description

Upgraded to parse server 2.7.2 and all my pushes are failing with the following error message:

[code]

Upgraded to node 8, upgraded to push-adapter 3.0.0-alpha1 and it is all the same error. No push gets through or very few of them (under 5%).

Removed the ``expiration_interval: 120`` from my cloud code push fragments and pushes seem to go through fine again.

### Steps to

[2018-02-08 21:36] flovilmart commented on #4558
if you increase your expiration interval, does it help?

[2018-02-08 21:40] mman commented on #4558
Not sure if it matters, but here is an interesting observation:

https://github.com/parse-community/parse-server/blob/8a23c002650f88ea1904cf07a422c2985cbccf30/src/Controllers/PushController.js#L33.

The ``push_time`` is formatted to ISO string using ``PushController.formatPushTime``.

whereas:

https://github.com/parse-community/parse-server/blob/8a23c002650f88ea1904cf07a422c2985cbccf30/src/Contro

[2018-02-08 21:42] flovilmart commented on #4558
So the expiration should be added to the pushTime, instead of the current date

[2018-02-08 21:46] mman commented on #4558
I'm using pushTime of none, that is push immediately and used to have expiration_interval: 60.
Increased it to 120 but that did not make change.

I assume it can not take more than 120 seconds for the cloud function to process and schedule the push so that it would potentially send it to the apple server with expiration time in the past. But I need to investigate that route as well.

[2018-02-08 21:47] flovilmart commented on #4558
Is the ttl properly converted to milliseconds or just send as is?

[2018-02-08 21:55] mman commented on #1225
I know this bug is rather old but here is a snippet of the cloud code that I'm using to remove ``_PushStatus`` entries once the push goes though to avoid growing the collection indefinitely.

Perhaps it will help somebody:

[code]

[2018-02-08 22:25] mman commented on #4558
Tried increasing the expiration_interval to 300, still no luck, simply mentioning the expiration_interval causes all pushes to receive BadExpirationDate.

[2018-02-08 22:31] flovilmart commented on #4558
ARE you able to put a log inside APNS after the payload is generated to see how it looks like? Monkey patching the send method would be easy, I can share a sample it you like

[2018-02-08 22:33] mman commented on #4558
Tried once more to increase the expiration_interval to 30000 in case there is some weirdness with secs/millis but no luck. Just putting the parameter there breaks it. Removing it and pushes are getting through.

Will try to experiment with logging inside of APNS or better yet down at node-apn level to see what gets sent, but not today, way too dark here already :)

[2018-02-08 22:44] flovilmart commented on #4558
UHM, i’ll Try on our dev infra

[2018-02-09 01:44] kaevee commented on #4556
@Xcode09 You should have checked out the wiki before asking here.

Checkout Deploying to Heroku at [http://docs.parseplatform.org/parse-server/guide/#deploying-to-heroku-and-mlab](http://docs.parseplatform.org/parse-server/guide/#deploying-to-heroku-and-mlab)

[2018-02-09 03:35] kaevee commented on #4555
Here is an example

**Functions in a class**

`classname: create-account.ts`

`class CreateAccount {`
`    static new = (req: Parse.Cloud.FunctionRequest, res: Parse.Cloud.FunctionResponse) => {`
`      console.log(req.params);`
`      res.success(req.params);`
`    }`
`}`
``
`export default CreateAccount;`

**Cloud functions entry point**

`main.ts`

`import CreateAccount from './create-account';

[2018-02-09 03:46] #4556 closed

[2018-02-09 09:37] ZiaHazara opened #4561 "Heroku 503 errror App crashed"
# **Hi dear this is the error when i enter view log in my heroku account can any one help me.**

2018-02-09T09:32:08.610566+00:00 app[web.1]: 	from /app/vendor/bundle/ruby/2.3.0/gems/thor-0.20.0/lib/thor.rb:387:in `dispatch'
2018-02-09T09:32:08.610569+00:00 app[web.1]: 	from /app/vendor/bundle/ruby/2.3.0/gems/railties-5.1.4/lib/rails/command/base.rb:63:in `perform'
2018-02-09T09:32:08.610583+00:00

[2018-02-09 11:33] talat-emedsim commented on #3060
I am facing the same isue. Can anyone let me know the final solution for this ?

[2018-02-09 13:07] mman commented on #4558
I have hooked into APNS.js line 214 here: https://github.com/parse-community/parse-server-push-adapter/blob/4d90634d00278886877291fd7ddd405c5320c6c6/src/APNS.js#L214

dumping what notification gets generated there when ``expiration_interval`` is specified in ``Parse.Push.send`` and when it is not specified. The output is always the same yet presenting ``expiration_interval`` makes the send fail.

[2018-02-09 13:18] mman commented on #4558
Here we go boys, I think I got it. The bug is that ``apns-expiration`` that gets sent is a fractional number instead of number of seconds as APNS expect:

[code]

[2018-02-09 13:22] flovilmart commented on #4558
Is it from node apn or the push Adapter?

[2018-02-09 13:28] mman commented on #4558
the debug info is from node-apn and I think the ``.expiry`` field gets computed wrong, very probably when being converted from milliseconds to seconds by dividing by 1000. This is where a big integer number gets divided into a float something.something. Need to find out where.

[2018-02-09 13:39] #4542 closed

[2018-02-09 13:44] mman commented on #4558
I bet it's here, the ``apn.Notification`` gets created and it's ``expiry`` field is computed by dividing by 1000 producing a floating point number that gets passed down to ``apn`` library, ``apn`` in turn just passes this field to ``apns-expiration`` HTTP/2 header.

https://github.com/parse-community/parse-server-push-adapter/blob/4d90634d00278886877291fd7ddd405c5320c6c6/src/APNS.js#L212

The fix

[2018-02-09 13:54] flovilmart commented on #4558
Can you try it out and open a PR accordingly?

[2018-02-09 19:22] aBuder commented on #3750
@flovilmart I would try it the next days.

[2018-02-10 01:07] pithcou opened #4562 "Invalid Session Token on anonymous users"
I'm runing parse server latest release 2.7.2, and I'm facing this issue, sometimes when a user logout he is getting Invlid session token error, and it seems to propagate to all other users, so all the users get stuck, all public requests got this response invalid session token

[2018-02-11 05:34] cubycode commented on #4507
What format does your video have? .mp4? .mov?
Are you using AVPlayer to play it by its URL?
Any Xcode console message?

[2018-02-11 05:40] cubycode commented on #4499
have this issue been fix? because some of my users are experiencing a similar issue on iOS/Swift: some Facebook account just doesn’t get properly registered on signup, the Graph function gets their ID but not their avatar, full name and email, i really don’t understand why, maybe it’s the Parse Server version? I currently use 2.6.5 on back4app.com

[2018-02-11 14:05] srameshr opened #4563 "Support BIT operator"
### Issue Description
Interface for mongoDB bit operator:
https://docs.mongodb.com/manual/reference/operator/update/bit/

Describe your issue in as much detail as possible.

Running BIT wise operations is not supported. Simple use cases like ```xor```ing data on the DB, requires indexing a column, then reading everything into memory.

Use case:
1. Calculating hamming distance
2. Levenshtien distan

[2018-02-11 16:44] otymartin commented on #4499
@cubycode no have yet to solve this issue. quite frustrating. Im self-hosted on GCP using 2.7. Will update if i find a cause.

[2018-02-11 17:35] Samigos opened #4564 "How to scale horizontally a Parse Server?"
My current setup is:
1 Parse Server - 2.6.3
1 MongoDB Server - 3.4.9

Both running on Ubuntu VMs.

In a few weeks, we are expecting our user base to grow significantly! We are currently using 2 VMs on Azure... 1 as a Parse Server and the other as a MongoDB Server.

Could someone guide me through the steps to add 1 VM, for each of the above types? (+1 Parse Server and +1 MongoDB Server (it's someth

[2018-02-11 21:31] danielchangsoojones commented on #1618
I had this error for iOS. I found a fix for myself:
I had originally created a column called Destination (which was of type String)
Then, I changed Destination (in my app) to type Destination (a pointer to my class Destination).
However, everytime I would try and save I would get the error:
TypeError: Cannot read property 'type' of undefined

I needed to manually go into my parse dashboard and del

[2018-02-12 00:22] gate3 opened #4565 "Bad Request When Signing Up new user"
### Issue Description

I am trying to sign up a new user on parse server. It used to work in the past, but it suddenly doesn't work anymore. When i send the request, i get a response back called bad request and nothing else.

### Steps to reproduce

I am using the parse php sdk to sign a user up. My code looks like this
[code]
#### Expected Results

I expected a new user to be created.

#### Actua

[2018-02-12 08:52] gate3 commented on #4565
I have been able to solve this issue. turns out, the error was from a beforeSave function in cloud code for _User table. Thanks for listening to my ranting.

[2018-02-12 08:52] #4565 closed

[2018-02-12 09:42] johnnydimas commented on #4555
I understand how to write a cloud function, that wasn't my question, but thanks for the input!

I'm looking for a way to extend the API route endpoint with a new path subset.

The API endpoint for your function would be /parse/functions/hello

I'm looking to do something like /parse/functions/**myNewPath**/hello

[2018-02-12 11:07] tolgaatam commented on #4564
**_How would it play along with the Parse Server?_**

Parse Server is designed to be stateless. It means that parse web servers do not store critical information locally and can scale horizontally without any further in-server configuration. Even some consecutive requests from the same user can he handled by different servers without any headache.

_**I believe I'm going to need a load balancer...

[2018-02-12 13:40] dongalor commented on #4313
bump :) any news about pushes on new version?

[2018-02-12 13:59] dongalor commented on #4562
i might be having same issue (not so often) with the same result, but on 2.4.2

`0|parse-wr | 12-02-2018 16:39:19 +03:00: error: invalid session token code=209, message=invalid session token`

[2018-02-12 23:32] Samigos commented on #4564
@tolgaatam First of all, I want to thank you for the response! You really helped me put some things in order! I have some questions though, if you don’t mind...

First, does a load balancer have a limit on the number of servers it can handle, or is it unlimited?

Second, right now I’m using Parse’s method to connect to my Parse Server. Now, that my app will have to connect to a load balancer inste

[2018-02-13 10:37] mman commented on #4558
PR against parse-server-push-adapter opened and verified, please let me know if there is anything else I can do.

[2018-02-13 11:00] mman opened #4566 "How to clean up database properly"
I know this might be more of a question then actual bug report, and I know there are other tickets open for this, but let me open it anyway, feel free to close or suggest workarounds. I'm trying to better understand the inner workings of Parse Server to come up with appropriate PRs to help make the Parse Server run smoothly over time without need for extra maintenance. I am sure many of you have c

[2018-02-13 11:06] tolgaatam commented on #4564
@Samigos I feel delighted to see that I was able to help you with my answer.

First, there should be no limit on the number of servers you can host under your load balancer. At least, if there is such limit due to the network traffic of the load balancer, it is very difficult to reach that boundary. So i suggest you do not mind about this right now.

Secondly, your application id and client key ar

[2018-02-13 11:50] halvini commented on #4500
@oyvindvol why did you close the ticket? Have you found a solution?

[2018-02-13 11:54] oyvindvol commented on #4500
@halvini I got my deviceTokens back when:

1) Setting the environment variable `PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS` to `0` on Heroku.
2) Implementing the code sample in "Edit 2" of my last post (fetching the installation changes from the server before setting the deviceToken again):
[code]

[2018-02-13 15:12] halvini commented on #4500
@oyvindvol , oh, I managed to get my back from MongoDB backup.

But did you find a solution for removing the Bad Device Tokens?

[2018-02-14 07:19] oyvindvol commented on #4500
@halvini No.

[2018-02-14 11:06] milesrichardson commented on #4564
Note that although parse-server is stateless, scaling horizontally may result in drift between caches. This could cause problems if you're updating roles, for example, and each server is maintaining its own role cache.

If you're scaling horizontally, I would recommend using the redis cache adaptor (as opposed to default in-memory adaptor) and keeping the cache in one place.

[2018-02-14 12:32] flovilmart commented on #4564
Using the redis cache is a good idea, and you can also use it for scaling live query.

[2018-02-15 14:46] jcguarinpenaranda opened #4568 "Setting up web push"
Hello, I am setting up Push notifications and I have the following questions regarding the Installation class, and how Push notifications are sent.

Currently, I need to target Web but I would like to be able in the future to send Android and iOS notifications also. As far as I have seen in the docs, currently there's no support for web. But, I use an external provider (https://onesignal.com) whic

[2018-02-15 19:56] tolgaatam commented on #4530
Considering that this topic is about a real issue (not a question as many topics would be about) and clear indications of the bug is already presented, I do not see how nobody chose to comment on it or even label it as a suspected bug or something.

[2018-02-15 22:23] flovilmart commented on #4530
@tolgaatam do you have a suggestion for the resolution? Are you able to write a failing test in order ot make this easier to investigate? we run all the tests with the redis cache so that would be interesting to add it to our test harness.

[2018-02-16 11:47] zhydanovajulia commented on #136
I have the same problem. Yesterday was working fine.

[2018-02-16 12:35] j-koenig commented on #4540
@dplewis Sorry for not answering to your message and thanks for the PR :)

[2018-02-16 15:44] #4540 closed

[2018-02-16 18:41] #4546 closed

[2018-02-16 19:32] jcguarinpenaranda commented on #4568
Well, now I figured out a way to solve this.

OneSignal has a possibility to add tags to the devices (or Users as they are referred to on their docs). I added an userId tag with the id of my user in the Parse Server and now whenever I want to send push notifications to that single user  I can use the OneSignal's API. With that API I can even target different channels

[2018-02-16 23:28] dplewis commented on #4563
@srameshr Would you like to get started on this?

Postgres supports bitwise operations.

https://www.postgresql.org/docs/9.4/static/functions-bitstring.html

[2018-02-17 05:46] srameshr commented on #4563
I want to, but terrible time crunch.
If nobody picks it up in a week, may be il start on it in a few weeks.

In the meantime, any thoughts about updating parse server to include fullText support?

[2018-02-17 12:11] ProteanDev commented on #835
I am using back4apps and still getting this issue with Rest Login

[2018-02-17 12:39] jpgupta commented on #4568
Hey @jcguarinpenaranda - thanks for this, really helpful!

I'm trying to set up something similar at the moment, so am I right in thinking: You don't have to make any changes to Parse's User/Installation classes? Just add a user ID tag to OneSignal and then use their API?

[2018-02-17 13:03] jcguarinpenaranda commented on #4568
Hello James, you are right, and it is very easy indeed.

I'm concerned, though, about the security of this solution because
OneSignals API would allow anyone inside your app to open the console and
send a tag with your user id.

This would then allow them to receive your notifications

El 17/02/2018 7:39 a. m., "James Gupta" <notifications@github.com> escribió:

Hey @jcguarinpenaranda <https://git

[2018-02-17 13:14] pcegarra commented on #2863
has not been fixed yet?

[2018-02-17 13:30] flovilmart commented on #2863
Not yet, it seems to have fallen into the cracks. Would you be willing to attempt a fix? I can guide you through it if you need to.

[2018-02-17 15:04] pcegarra commented on #2863
Yes I need this feature, so the fix is:

right?

[2018-02-17 15:15] flovilmart commented on #2863
Yes, that would be the way to go. Actually, the sessions should not be created at all.

[2018-02-17 16:06] pcegarra commented on #2863
Auth.js -> getAuthForSessionToken
Is here where I need to check the variable "preventLoginWithUnverifiedEmail"?

[2018-02-17 16:21] ederelk commented on #835
You should url encode the url

[2018-02-17 16:21] flovilmart commented on #2863
The method you’re pointing out is checking the session token passed by the clients for their validity as well as the associated roles.

We need to prevent the creation of Session objects when a user signs up or a user object is saved with an email that is not verified

[2018-02-18 01:29] moritzsternemann commented on #4025
Whats your progress on this?

[2018-02-18 08:44] ranhsd opened #4573 "Hook on changing parse-server remote config - cloud code use case"
Hi,
I use parse-server remote config heavily in my app. I noticed that it is recommended to not fetch the  config any time you need it from the server. I was thinking maybe parse-server can provide some hook that will be triggered each time the config will be modified remotely by the parse-server admin and in this hook we can just refetch the config and then we can safely use Parse.Config.current(

[2018-02-19 05:40] toddheslin opened #4575 "Health API Showing OK when unable to connect to database"
### Issue Description

I've had a recent issue where I was relying on pingdom hitting my `/health` endpoint expecting that it should show an error if there is a database connection error. Unfortunately this is not the case. The Parse app connects to a local postgres database that crashed and didn't restart. Whilst the application was technically crashed, the health endpoint responded `OK`.

I've s

[2018-02-19 11:05] thomascoope commented on #4321
Have there been any advancements on this?

[2018-02-19 12:25] flovilmart commented on #4321
Not yet, I got tangled in the next release of the iOS SDK

[2018-02-19 13:29] mullwaden commented on #3583
@flovilmart I am having a similar challenge as @rihadavid - I have a class in which I want public Get, but only a specific role may Find (and that role is different for each row). I see two solutions:
- The above approach (i.e. allow pointers in the CPL that point to Roles)
- Add a 'list' option to the ACL

Are any of these realistic? Any suggestions on workarounds? (Right now I have find disabled

[2018-02-19 13:35] flovilmart commented on #3583
We need to investigate properly the ability to use a role column as a pointer permission it seems.

Are you willing to take a crack at it?

[2018-02-19 13:50] mullwaden commented on #3583
I have never contributed to a project like this but it would be fun to try. Any pointers as to where I would start? Also I am guessing this would require edits to the parse/node implementation as well as the dashboard, are there any other places?

***

To summarize, the issue is the level of control in the ACL vs the CPL:

What you can set:
- CPL gives Get, Find, Create, Update, Delete, Add field

[2018-02-19 14:38] flovilmart commented on #3583
I would go for the CLP additions, this is not breaking and well understood as modeled upon the user pointer permissions.

The core of the security logic would lie [here](https://github.com/parse-community/parse-server/blob/master/src/Controllers/DatabaseController.js#L976).

In this method we add the user permissiosn to the query, we should do the same with the roles.

- Roles in the `aclGroup` ar

[2018-02-19 20:21] mullwaden commented on #3583
Makes sense - will try to find some time to give it a shot :)

[2018-02-20 15:42] fastrde opened #4580 "Parse.Query: can't use authData query-parameter in User-query"
### Issue Description

Can't use authData as Query-Parameter

### Steps to reproduce

1. Authenticate via an Authentication Adapter so authData is added to the User object.
2. Run a Query (with masterkey enabled) like GET API_BACKEND/classes/_User?where={"authData":{"$exists": true}}

#### Expected Results

Query Result should contain all Users with non empty authData fields

#### Actual Outcome

[2018-02-20 18:24] dongalor opened #4581 "session token error suddenly while working with ios to parse server 2.4.2"
I'm having strange problem, here's cut of log from my IOS developer:

He issues new sessionToken via login, then suddenly this exact token in headers does
session token error:

[https://gist.github.com/dongalor/f8388e7175882cda24e79fdc7f208896](url)

== cut ==
[code]
==cut==
How is it possible, that this token dies?  I can't find this token via parse-dashboard Session table search :(

[2018-02-20 19:12] dongalor commented on #4581
and i have a lot of records in my session table, which are old and i still can make requests with them in X-Parse-Session-Token header :(

[2018-02-21 08:25] Nisthar commented on #2217
@ranhsd how to use it?

[2018-02-21 19:11] mrmarcsmith commented on #4502
I'm no the OP but I have created a PR that fixes this issue. #4582

[2018-02-21 22:40] JoaoArmandoo opened #4583 "Twitter auth configuration missing"
I'm getting the following exception: Twitter auth configuration missing.
Code 1.

i have this in my index.js:
oauth: {
   twitter: {
      consumer_key: 'MyConsumerKey',
      consumer_secret: 'MySecrectKey'
   }
}

I'm using this to link accounts:
[code]
where user is: ParseUser user = ParseUser.getCurrentUser();

I'm using android 5.1 lollipop
I'm using these libs:
[code]
I've been trying all da

[2018-02-22 06:19] dongalor commented on #4562
@pithcou, by the way, can you tell me how exactly do you logout and what about SDK, which SDK do you use?

[2018-02-23 09:14] drdaz commented on #1658
@Syttr Your post just saved my week. I would never have thought to add null as the first parameter of the save call.

[2018-02-23 12:07] dimovdaniel commented on #1908
Any updated on this issue?

[2018-02-23 16:04] dplewis commented on #1908
@dimovdaniel You should be able to use aggregate query for this one. A combination of $unwind + $lookup + $sort should do the trick. I haven't tested it tho.

[2018-02-23 21:56] woodardj commented on #4530
Not sure if this is related, and we're a bit behind on parse-server version (2.6.2), but I'm also seeing scads of calls to `get __SCHEMA__MAIN_SCHEMA` when using the redis CacheAdapter, as many as 17 or 23 in some cases, causing some pretty significant performance issues at times. Here's a NewRelic stacktrace with timings:

![screen shot 2018-02-22 at 2 51 04 pm](https://user-images.githubusercont

[2018-02-24 02:39] JoaoArmandoo commented on #4583
I was randomly reading the parse server documentation and found this, I decided to test and it works perfectly now!
auth: {
   twitter: {
     consumer_key: "MyConsumerKey", // REQUIRED
     consumer_secret: "MyConsumerSecret" // REQUIRED
   },
   facebook: {
     appIds: "MyAppIdFb"
   }
  }

[2018-02-24 02:39] #4583 closed

[2018-02-24 19:23] woodardj commented on #4566
We use a mongo TTL index on `_created_at` to keep the _PushStatus collection in check.

[2018-02-25 10:04] buddy-ekb commented on #4121
Since then the access to emailAdapter became more complicated and now it looks like `AppCache.default.cache[process.env.PARSE_SERVER_APPLICATION_ID].value.userController.adapter`

So I'm also wondering if there is a more robust way so as to not duplicate mail adapter credentials in cloud code.

[2018-02-25 12:49] khalilsarabey commented on #1908
@dplewis do you have an example for that please? I've been trying to do that but it's not working for me.

Thanks

[2018-02-27 02:12] montymxb commented on #4501
Ahh... If you're using your own flow and _not_ using the internal method I suspect it won't set the verified field back for you. In your setup you're going to have to do this yourself unfortunately, unless you decide to utilize the built in method.

[2018-02-27 02:16] montymxb commented on #4538
@paulovitin I'm fantastic at getting back to notifications on time! 🤣  (extreme sarcasm...)

Sorry about the wait.
Something like `JSON.stringify` followed by `urlencode` could do the trick. Then we would be able to pass it a url encoded json string, allowing us to later decode to get the error object back.

[2018-02-27 04:24] manishsangwan opened #4588 "Parse.Query.and is not a function"
the docs suggest http://docs.parseplatform.org/js/guide/#and-ed-query-constraints `and`  is allowed but i am getting `Parse.Query.and is not a function` while using it.

[2018-02-27 06:47] bohemima commented on #4588
What version of Parse? I don't think this is in a tagged release just yet, only in bleeding edge. It was added only 25 days ago (https://github.com/parse-community/Parse-SDK-JS/commit/3d7c97bd70dec051b72b0193d796b78295aadbe1)

[2018-02-27 07:54] ziyadparekh opened #4589 "Transactions in Parse Server"
I know this has been discussed before in older issues, and some have commented on the availability of transactions with the Postgres adapter. However for Mongo support, the community still hasn't reached a consensus.

With that in mind, not sure how many people have heard the announcement by MongoDB themselves about releasing full transaction support in Mongo this summer with a Beta release alread

[2018-02-27 13:00] bfjfm2 commented on #4531
@tolgaatam  I am not clear, any simple code snippets?

[2018-02-27 14:43] bfjfm2 commented on #4013
@natanrolnik  Can you help me to call this function in reverse? Cloud function to Index.js function.

[2018-02-27 15:44] bfjfm2 commented on #4531
index.js
[code]
cloud/main.js
[code]
 **Parse is globally defined you should be able to use Parse Queries and Parse.Cloud in your index.js.** Thanks @dplewis

[2018-02-27 15:44] #4531 closed

[2018-02-27 18:22] acinader opened #4590 "Docker, how to npm install for cloud code...."
I've been trying to use the parse-server docker.  I've run into a problem trying to use cloud code and I'm curious if anyone has a solution.

If my cloud code requires npm packages (would think this is almost always the case), is there a pattern or solution of how to npm install?

[2018-02-27 20:16] georgesjamous opened #4591 "[PROPOSAL] Add an 'Active' column to Roles"
Currently, i cannot think of a way to disable a Role without deleting it, and keeping a copy under a different name. Then copying it back, with all children roles and users under its initial name.

I think it would be a good idea to address a new Column called "Active" (or Enabled) in the _Role class that is initially set to TRUE. Users with Role write ACL will be able Activate or deactivate this

[2018-02-27 20:28] flovilmart commented on #4591
If you set the ACL to masterKey only, does it help? from the logged in user's perspective, the role won't yeild (should not yield).

[2018-02-27 20:39] georgesjamous commented on #4591
Yes it is a possible solution, but i was aiming for a more simple solution since the Role's ACL will also need to be kept saved somewhere. This is required to be able to revert the role back to its initial state.

[2018-02-27 23:24] stephentuso commented on #4590
One option, which I have been using for [parse-server-compose](https://github.com/stephentuso/parse-server-compose), is to install dependencies into the same directory as the cloud code and mount that in docker:

[code]

`docker run -v /path/to/cloud:/parse-server/cloud ...`

If any dependencies use native code and need to be built in the container you'll need to run this first:

```docker run --r

[2018-02-27 23:37] acinader commented on #4590
@stephentuso so I worked out a super hacky workaround that is close to yours:

run `npm install -S xxx` in the ./cloud dir so that there is a package.json in that dir.

make sure to add parse-server as a dependency.

I'm using aws beanstalk  (for now, hopefully switching to kubernetes as soon as I get the time).  I overwrite the entry point in my Dockerrun.aws.json to:
``` "entryPoint": ["sh", "-c

[2018-02-28 00:04] stephentuso commented on #4590
Gotcha yeah that looks about the same, I was only thinking about running locally. Could potentially be easier to just write a new Dockerfile

[2018-02-28 00:29] acinader commented on #4590
And I spoke too soon.  My packages are getting installed.  And my cloud code is being processed by parse (if I put a debug log in my cloud code files it ends up in the logs), but when I call my cloud functions parse doesn't fine them with ```error: Invalid function: "sendCode" code=141, message=Invalid function: "sendCode"``

enough debugging on this for today :(

[2018-02-28 04:16] acinader commented on #4590
I'm going to close this as unresolved for now.

[2018-02-28 04:16] #4590 closed

[2018-02-28 04:17] acinader opened #4593 "Live Query Server does not shut down properly"
Issue:
ctrl-c kills the parse-server, but not the live-query server.

This issue arises when:

1.  I am doing local cloud code development on my laptop.
2. I am running the live-query server in the same process as the parse server.  Starting server with `npm start`
3. When I try to cycle the parse-server using ctrl-c (SIGINT) or `kill pid` (SIGKILL) the process for the livequery server doesn't die

[2018-02-28 08:04] dblythy opened #4594 "afterFind breaks aggregate"
### Issue Description

Using aggregate works without afterFind set on class. When afterFind is set, internal server error. Even trying to pass response.success(request.objects); straight away still breaks.

### Steps to reproduce

Perform an aggregate such as .distinct on a class with Parse.Cloud.afterFind trigger.

#### Expected Results

Aggregate to ignore after find as objects are not parse.obj

[2018-02-28 13:54] JoaoArmandoo opened #4595 "I can set limit for send requestPassowrd reset in parse server?"
Hello, I have not found anything in the documentation on, so, if this is there somewhere, forgive me for letting it go unnoticed. I'm using mailgun to send emails, like verification, and reset password. But let's say a "human profiteer", keep clicking on send the password reset email, there will be 2 things.
1- Flood of messages from my app in the user's email.
2- Email limit has exceeded, causing

[2018-02-28 13:56] flovilmart commented on #4595
such feature isn’t implemented yet. But that would be an interesting enhancement

[2018-02-28 15:58] dplewis commented on #4594
@flovilmart What do you think? Should Aggregate ignore AfterFind or pass in values into request.objects?

[2018-02-28 17:49] flovilmart commented on #4594
Yep we should probably not run afterFind after and aggregation. Does that make sense for you @dblythy ?

[2018-02-28 20:13] williamfs commented on #4595
I implemented a similar feature by adding a bool called "resetSent" to the User column which is set to true if a reset link has been sent, and false when it has been successfully reset by the user. If a password reset is requested and the "resetSent" is true, it wont send it the email.

[2018-02-28 23:52] dblythy commented on #4594
Sounds good @flovilmart. As it's restricted to require masterKey, any stripping/sensitive or modified fields could be written in the cloud aggregate function.

[2018-03-01 01:32] #4594 closed

[2018-03-01 06:12] dblythy commented on #4594
Thank you @dplewis!

[2018-03-01 06:48] manishsangwan commented on #4588
Thanx @bohemima for answering. I am using v 2.6.1

[2018-03-01 09:03] narekgevorgyan commented on #1225
Well, the biggest reason not to store PushStatus is that sending millions of push notifications at the same time writes millions of rows and gets a lot of unneeded traffic to database.

[2018-03-01 14:57] towfiqi commented on #2669
Same issue here with Digitalocean and withe parse-example-server...

[2018-03-01 18:24] #4411 closed

[2018-03-01 23:15] mindgrub-jkliphouse opened #4597 "Saving PFFile with postgres: error: Invalid schema, expected `mongodb` or `mongodb+srv` Error: Invalid schema, expected `mongodb` or `mongodb+srv`"
### Issue Description

Using postgres instead of mongodb.  Try to save a PFFile on and get this error:

`error: Invalid schema, expected mongodb or mongodb+srv Error: Invalid schema, expected mongodb or mongodb+srv`

I'm saving an object as such:

`newObject.save({
    photo: new Parse.File('myfile.txt', {base64: image}),
    ...
 }); `

Looking through GridStoreAdapter I see

I don't see a postgr

[2018-03-02 02:00] chrisEsk commented on #3220
[code]

afterSave, beforeSave, afterDelete, beforeDelete, beforeFind triggers need to specify sessionToken to save objects in order to fix this issue.

[2018-03-02 02:03] #3220 closed

[2018-03-02 07:57] bohemima commented on #4597
Have a look at https://github.com/parse-community/parse-server-fs-adapter instead of GridFsAdapter (which is default IIRC)

[2018-03-02 11:15] prashantbiz commented on #281
above link is not working

[2018-03-02 12:17] milesrichardson commented on #4590
Just write a regular express app, install parse-server as a dependency and mount it to the express app

[2018-03-02 17:07] vermesjar opened #4598 "Nodejs PFFile save issue "Could not store file""
### Issue Description

I was expanding my code and ran into an issue I don't understand. I was able to grab an image from a file, create a PFFile, create an object, store said file in object and push to heroku using parse. However at one point I started receiving the error "could not store file". The interesting thing is that if I change the pointer to my prod DB the code works fine but not in my

[2018-03-02 20:06] junal commented on #3451
@flovilmart Is there anyway an admin user can remotely log out another user. For example, admin approve certain things for user and user cannot see the update until they sign out and sign in again. How to overcome this situation?

[2018-03-02 21:22] montymxb commented on #4575
@toddheslin currently the health endpoint is a simple way for checking the status of parse-server _itself_, rather than having to make a test query or something like that. As such it doesn't provide any details in terms of the database connection.

I actually brought this up some time ago in #4305, but there were a number of concerns about making too much information available from a publicly acce

[2018-03-03 01:26] toddheslin commented on #4575
thanks @montymxb.

One solution I thought of could be setting up Pingdom to make a POST to the Parse Server api endpoint. E.g. if my Parse Server is hosted at `/api`, I could use Pingdom to ping:
`POST {url}/api/Health` with an empty (or not) body and an API key in the header.

This would be loading a new Parse object of type Health in the database. Could keep these as a database log of if/when do

[2018-03-03 01:29] flovilmart commented on #3451
You can log a user out by deleting it’s session object.

[2018-03-03 19:23] elios264 opened #4599 "Schema mismatch for Image.src; expected File but got Object"
### Issue Description

Parse server automatically converts objects of type `Parse.File` to a plain javascript `object` when registering a subsclass in cloud code with:

`Parse.Object.registerSubclass('Image', Image);`

This only happens when using a `beforeSave` hook, you don't have to do anything in the hook but to call `res.success()`

### Steps to reproduce

1. Create an Image class
[code]
2. R

[2018-03-03 22:23] montymxb commented on #4575
Np. I haven't experimented returning server related information from cloud code, but it could be possible. Might be a way to set up something for your needs beyond the standard health endpoint.

[2018-03-04 21:58] LoungeKatt commented on #78
For anyone that stumbles across this later in a search for importing Parse exports to mongodb, what @kwe meant to say was to remove the `{ "results": ` and leave the opening `[` then remove the closing `}` leaving only the closing `]`

[2018-03-05 12:33] khalilsarabey opened #4600 "Full text search is not working"
We use GitHub Issues for bugs.

### Issue Description

I'm running the latest version of Parse, and I'm trying to use the full text search feature, but whenever I try to implement it, I get "query.fullText is not a function", I tried that in cloud code and the javascript library from npmcdn, after searching the actual js file on npmcdn, the fullText function is not defined there, I don't know if t

[2018-03-05 13:29] flovilmart commented on #4600
The latest version of the JS SDK is not yet published with full text support, it will be available with next release.

[2018-03-05 13:29] #4600 closed

[2018-03-05 14:59] khalilsarabey commented on #4600
@flovilmart so that's why it doesn't work in cloud code also.
I just tried on the iOS sdk and it's also not working, also not supported yet?
if I try using REST directly will it work?
Thanks!

[2018-03-05 15:04] flovilmart commented on #4600
YOU can try using REST directly, if it doesn’t work, it means you need to update parse server

[2018-03-05 15:11] khalilsarabey commented on #4600
Perfect, will do that, thanks @flovilmart ! always very helpful :)
By the way, I think it would be great if there's a way to query or search on an inner field.
For example a Friend class that has 2 fields of 2 pointers to two users, it would be great if I can for example search for users with a name that are available in this connection pointer. Just a thought!

Thanks!

[2018-03-05 18:27] christianpbrink commented on #4490
Hi all, any updates on a release that adds FTS to the parse/node JS package?

[2018-03-05 18:31] christianpbrink commented on #4490
@srameshr Is that thumbs-down for it being a bad question, or are you just saying no, there aren't any updates?

[2018-03-05 18:33] srameshr commented on #4490
Latter... Latter forever..

[2018-03-05 18:51] flovilmart commented on #4490
@srameshr if you keep showing this attitude, I'd have no other choice but to act accordingly as your comments and behaviour is not one we want to tolerate.

[2018-03-05 18:56] srameshr commented on #4490
I'm unsubscribing from these threads. Ignore the whining.

[2018-03-05 23:27] mursang opened #4601 "TypeError: Cannot match against 'undefined' or 'null' when doing login with AccountKit"
### Issue Description

Getting Uncaught internal server error. TypeError: Cannot match against 'undefined' or 'null' when trying to login via Account Kit

### Steps to reproduce

**Server code**
[code]
**Client side (React Native, JS)**
Getting token from Facebook with SMS works perfect. This is the code to try to do login:
[code]
#### Expected Results

Expected a good response, or an error.

####

[2018-03-05 23:40] flovilmart commented on #4601
Unless you're running parse-server from the lastest branch, account kit hasn't been released yet.

[2018-03-05 23:40] #4601 closed

[2018-03-06 11:32] ian-dowhile commented on #1090
I agree with @batkov that this should be mentioned in the Parse Server cloud code and REST documentation.  I struggled for about 2 hours, searching through the docs,to find out how to query for classes belonging to a particular user, until I found @gfosco post above.  Thanks @gfosco!

[2018-03-06 14:43] mindgrub-jkliphouse commented on #4597
Thank you!  That did the trick.

[2018-03-06 14:58] flovilmart commented on #1090
@ian-dowhile this is mentioned here in the parse-server guide: http://docs.parseplatform.org/parse-server/guide/#no-current-user

[2018-03-06 15:04] ian-dowhile commented on #1090
@flovilmart I missed that, sorry.  Thanks for pointing me in the right direction!

[2018-03-06 17:32] ChengGeoff commented on #4598
This is also happening to me. It may be a file storage issue in the specific environment? I'm not sure whats going on.

[2018-03-06 18:43] ChengGeoff opened #4606 "Cannot upload image to Parse Dashboard"
### Issue Description

I can no longer upload an image to Parse through a nodejs script or directly from Parse dashboard. In the nodejs it returns an error: something like"could not store file". When uploading a new or replacing a current image (file) in our Parse Dashboard, it hangs or just doesn't upload. It was working fine a few days ago and all of a sudden the issue appears. Additionally, If

[2018-03-06 20:44] ChengGeoff commented on #4606
We are currently using GridFileAdapter connected to our MongoDB via Heroku.

[2018-03-06 20:54] JacobJT opened #4607 "Issue with Polygons and / or Parse.Query.polygonContains"
### Issue Description

I've just updated parse-server, parse, and parse-dashboard to the latest versions to utilize the `Parse.Polygon` object, specifically to use the `Parse.Query.polygonContains()` method.  Something is either switching coordinate pairs when it shouldn't be, or not switching coordinate pairs when it should be, somewhere in the flow of creating a Polygon from Parse.GeoPoints, att

[2018-03-06 21:05] dplewis commented on #4607
Can you email me the polygon you are using and geopoint? findlewis (at) gmail (dot) com

[2018-03-06 21:09] JacobJT commented on #4607
@dplewis incoming in a few, thanks.  I was also putting together a PR to update the test cases so that it'll highlight this error.

[2018-03-06 21:46] flovilmart commented on #4606
You probably ran out of space then, can you check that?

[2018-03-07 02:30] ChengGeoff commented on #4606
We've only used 2/5 GB of storage in mongo. Our production contains much more images than our dev, however it is dev that isn't working. Is there some information I'm missing about the capacity of GridFileAdapter?

[2018-03-07 06:16] MBDeveloper commented on #4606
If the file is a json file I found that after version 1.0.24 of the dashboard the file upload hangs.

[2018-03-07 18:00] ChengGeoff commented on #4606
In the nodejs script the PFFile for the image encoded in base 64. In the dashboard itself it's a png/jpeg image.

[2018-03-08 04:27] #3671 closed

[2018-03-08 15:57] dplewis commented on #3515
Closed via https://github.com/parse-community/parse-server/pull/4265

[2018-03-08 15:57] #3515 closed

[2018-03-08 16:31] #4523 closed

[2018-03-08 17:55] OpConTech commented on #910
Same here....had to remove the null.
Seems that unlike user.save there does not seem to be a first parameter in user.destroy so:

user.destroy(null, {useMasterKey:true});   // Does not work
user.destroy({useMasterKey:true});   // Works!

[2018-03-08 19:02] JacobJT commented on #910
That makes sense, as the first parameter of `save()` is a dictionary of keys to update and their value.  With `destroy()`, you're not updating any values before doing the destroy.

If you look at the documentation for `destroy()`, it has only one argument: An options parameter, which is where you could add success / error handlers, as well as the session / master key.
http://parseplatform.org/Pars

[2018-03-08 19:05] dplewis commented on #1908
@khalilsarabey Here is an example in js and mongo shell

[code]

Mongo Shell
[code]

[2018-03-08 22:08] iatek commented on #1765
At long last, I determined why the endpoint was not working, and always returning a 404.  The name of the request URL is very important! It's NOT the full file url as one would expect. For example, the full url of the files on my parse-server look like:

`http://myserver.com/parse/files/MqX4RIjBpnVgUg9lRrxmWRsDVmqR5SCOaYmnSpnx/fa4492b3be10b5eac60881d2c6462730.png`

To get the /files endpoint to DE

[2018-03-09 03:46] trylovetom commented on #4589
Cool Guy. I can't wait to see this feature!!

[2018-03-09 06:26] trylovetom opened #4615 "Suggestion: Make A Blueprint of Architecture of Parse-Server"
parse-server is a very large project now. It might help to have a blueprint of architecture of parse-server in CONTRIBUTE.md for the new contributor.

Suggestion Context
1. Concept of Architecture
2. Detail of Architecture. something like Adapter interface or module description.
3. Roadmap

[2018-03-09 10:06] oallouch commented on #4589
Imagine that !

[2018-03-09 10:55] SebC99 opened #4616 "2.7.2 has a huge impact on latency"
### Issue Description

When updating parse-server from 2.7.1 to 2.7.2 there's a huge impact on server latency (observed on AWS ELB)

The chart below presents the increase (at the exact minute of the update) and the decrease one week later when coming back to 2.7.1 (no other changes)

![capture d ecran 2018-03-09 a 11 50 40](https://user-images.githubusercontent.com/3028067/37204224-6544082e-2390-1

[2018-03-09 12:42] steven-supersolid commented on #4616
There's a bug in mongodb-core 3.0.x that was fixed in 3.0.4 https://github.com/mongodb-js/mongodb-core/blob/v3.0.4/HISTORY.md which is fixed in the corresponding 3.0.4 node.js driver https://github.com/mongodb/node-mongodb-native/blob/v3.0.4/HISTORY.md

The bug is increased latency (about double) on mongodb SSL connections.

parse-server 2.7.1 upgraded the driver from 2.1.17 to 3.0.1 so likely had

[2018-03-09 15:34] JacobJT commented on #1765
I think it may also have had to do with you using ngrok in the request instead of your actual server URL.

[2018-03-09 20:20] JacobJT commented on #4616
Could this affect CPU usage on EC2 as well? I.e. longer requests results in more requests staying active and waiting for their results?

[2018-03-09 20:23] flovilmart commented on #4616
@JacobJT it’s unlikely that waiting for something spiked CPU usage. The SSL bug may have caused the CPU spike

[2018-03-09 20:30] JacobJT commented on #4616
Still this same issue with Mongo, or are you referring to a different issue with SSL?

I suppose a more to the point question: Does 2.7.2 also affect CPU spikes, and reverting to 2.7.1 would reduce / eliminate them until 2.7.3 is released?

[2018-03-09 20:33] SebC99 commented on #4616
@JacobJT in my case, there could be a 10% CPU increase linked to 2.7.2 but that's not that clear.

[2018-03-09 20:38] JacobJT commented on #4616
@SebC99 Thanks for the info. We had a CPU spike + massive latency, but it doesn't look like it matched up with our deployment of 2.7.2, I think it was related to some marketing e-mails causing a user spike and EB not spinning up a new server instance fast enough to handle it.

[2018-03-10 04:23] AreyouHappy opened #4619 "'ReaOnlyMasterKey User' can use 'purge'"
REQUEST for [DELETE] /parse/purge/classes

The user can use the purge command.

[2018-03-10 16:45] #4619 closed

[2018-03-10 18:18] CDrosos commented on #401
does this still works for Firebase Cloud Messaging?

[2018-03-10 20:27] #4607 closed

[2018-03-10 20:57] markuswinkler opened #4625 "Deploying parse-server 2.7.3 fails"
### Issue Description

Deploying parse-server 2.7.3 fails

### Steps to reproduce

`rm -rf node_modules/ && npm cache verify && npm prune && npm i`

#### Actual Outcome

fails with:
[code]

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 2.7.3
  - Operating System:     MacOS 10.12.6
  - Localhost or remote server? (AWS, Heroku, Azure, Digital Ocean

[2018-03-10 21:02] flovilmart commented on #4625
This is odd indeed, we’ll have a look

[2018-03-10 21:02] flovilmart commented on #4625
Is parse server a dependency on your project?

[2018-03-10 21:04] markuswinkler commented on #4625
yes.
this is my package.json. Setting parse-server to 2.7.3 fails.
[code]

[2018-03-10 21:06] flovilmart commented on #4625
Seems related to the latest version of the postgres storage adapter.

[2018-03-10 21:09] markuswinkler commented on #4625
I am not using postgres. Dependency inside parse-server maybe?

[2018-03-10 21:12] flovilmart commented on #4625
yes, pg-promise is using pg-native since verison `8.2.0`. Our travis CI didn't catch it as it has the required dependencies.

Can you check if it's possible to install the dependencies required for pg-native in the meantime? https://www.npmjs.com/package/pg-native

I'll try to get the maintainer of pg-promise to make pg-native a peer dependency.

[2018-03-10 21:17] dplewis commented on #4625
https://github.com/vitaly-t/pg-promise/issues/488

pg-native will be removed in pg-promise `8.2.1`

[2018-03-10 21:18] flovilmart commented on #4625
I guess we're in for a new release :)

[2018-03-10 21:24] vitaly-t commented on #4625
@dplewis It was removed 3 hours before you wrote this :wink:

Guys, really sorry about that mess with #488

[2018-03-10 21:26] flovilmart commented on #4625
Haha! All good @vitaly-t our CI didn’t catch it either. Which kinda sucks too

[2018-03-10 21:28] mortezaalizadeh opened #4627 "Can't install parse-server@2.7.3"
### Issue Description

I am currently using parse@2.7.2. This morning I tried to upgraded my local parse-server to latest version and got following error:

morteza@MORTEZA ~/scripts $ npm install parse-server

find: ‘/usr/pg*’: No such file or directory
gyp: Call to 'which pg_config || find /usr/bin /usr/local/bin /usr/pg* /opt -executable -name pg_config -print -quit' returned exit status 1 while

[2018-03-10 21:29] flovilmart commented on #4627
duplicate of #4625

[2018-03-10 21:29] #4627 closed

[2018-03-10 22:22] flovilmart commented on #4616
2.7.3 has been released, please update and reopen the issue if it persists.

[2018-03-10 22:22] #4616 closed

[2018-03-10 22:22] flovilmart commented on #4625
@markuswinkler 2.7.4 is released, is it all good on your side with this version%

[2018-03-10 22:26] dplewis commented on #4588
Parse.Query.and was add in `2.7.4`. Please update to the latest version of Parse-Server.

[2018-03-10 22:26] #4588 closed

[2018-03-10 22:26] markuswinkler commented on #4625
Works!  👍

[2018-03-10 22:27] flovilmart commented on #4625
awesome! Let us know if there'S anything!

[2018-03-10 22:27] #4625 closed

[2018-03-11 00:50] khalilsarabey commented on #1908
@dplewis Thank you so much!

[2018-03-11 20:24] GursheeshSingh opened #4631 "Can we connect Parse server to MySql?"
How can we connect Parse to a MySQL database?

[2018-03-11 20:27] flovilmart commented on #4631
At the moment, Parse supports mongodb and Postgres as storage engines and we don’t plan supporting MySQL. If that’s something you’d like to contribute, feel free to ask questions about a potential implementation.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-11 20:27] #4631 closed

[2018-03-11 20:31] dplewis commented on #4631
@GursheeshSingh I wrote an adapter a while ago, but its not up-to-date.

https://github.com/dplewis/parse-server-mysql-adapter

[2018-03-12 02:18] khalilsarabey opened #4633 "beforeFind is ignoring query returns"
### Issue Description

Cloud Code get is ignoring beforeFind query and proceeding anyway

### Steps to reproduce

I have an app with a chat feature, I'm using "Inbox" class as a chat room, and I have a "Message" class which contains the messages and each message has a pointer to an inbox.
Now adding ACL to Message class would be disastrous to maintain, since users can join and leave rooms, that wa

[2018-03-12 02:56] flovilmart commented on #4633
This is the expected behavior. Beforefind is not designed to run queries but to alter an incoming query. Note that you could use a matchesQuery or matchesKeyInQuery in order to filter the inbox

Ex:

req.query.matchesQuery(‘inbox’, inbox)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-12 02:56] #4633 closed

[2018-03-12 03:52] GursheeshSingh commented on #4631
@dplewis isn’t there any oter way to use MySQL with parse?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-12 03:55] dplewis commented on #4631
@GursheeshSingh Thats the only way unless you want to contribute a potential implementation.

[2018-03-12 08:22] khalilsarabey commented on #4633
@flovilmart the savior :)
I don't know why I haven't thought of doing this, so silly of me!
Thanks!

[2018-03-12 16:09] SebC99 commented on #4616
I confirm 2.7.4 fixes the issues, no more latency increase, just perfect :)

[2018-03-13 16:50] JacobJT opened #4636 "Undocumented behavior change for `request.user` in cloud code"
### Issue Description

Undocumented behavior change for request.user in cloud code - used to be a User shell, seems to be a populated object now

### Steps to reproduce

- Call a cloud code function
- in the cloud code function print out any field from `req.user` that should be set and isn't part of the shell object

#### Expected Results

- The field will be undefined

#### Actual Outcome

- The

[2018-03-13 23:33] mtrezza opened #4638 "Facebook oAuth adapter calling (soon) unusable Facebook Graph API v2.5"
### Issue

The oAuth adapter for Facebook is calling Facebook Graph API v2.5:
https://github.com/parse-community/parse-server/blob/3acb3e7a9b19a7b4e43eae1fd8ad84d0a1b3c53e/src/Adapters/Auth/facebook.js#L40

That API version will no longer be useable on **April 12, 2018.**

https://developers.facebook.com/docs/apps/versions

Also, consider this notice from Facebook:

Is it necessary to add any `Val

[2018-03-13 23:41] flovilmart commented on #4638
@mtrezza this is likely affecting clients that use a redirect URL or acquire the access token. This means probably no required change on parse server as we’re only validating the auth token is valid. However, depending the way you acquire the access token in the client SDK, this may render this method invalid. If you’re using the android or iOS SDK, you should be fine as the auth is delegated to t

[2018-03-14 04:20] dplewis commented on #4615
There's the [Development Guide](http://docs.parseplatform.org/parse-server/guide/#development-guide) in the Wiki. It could be overwhelming to new contributors.

We could have some kind of visual graph like in the [PHP Class Diagram](http://parseplatform.org/parse-php-sdk/graph_class.html) or [Developer Roadmap](https://github.com/kamranahmedse/developer-roadmap)

I usually follow this generic flow

[2018-03-14 04:22] flovilmart commented on #4615
@dplewis, what a wonderful roadmap! Why don't you open the issues now around those feature? Maybe some +1's will let other people wanna help you or move things faster if we see a common urge.

On Mar 14, 2018, 12:20 AM -0400, Diamond Lewis <notifications@github.com>, wrote:

[2018-03-14 04:27] dplewis commented on #4615
@flovilmart Most them already have issues opened. 😔

private fields via schema api https://github.com/parse-community/parse-server/issues/1547#issue-149363991
field validation via schema api https://github.com/parse-community/parse-server/issues/1547#issue-149363991
More database adapters https://github.com/parse-community/parse-server/issues/20
Live Query Subscribe to specific events https://gith

[2018-03-14 04:35] dplewis commented on #4615
@flovilmart If your interested I went through the opened and closed issues for all the repositories at one point in time and made a list of potential features. A lot of features were closed during the migration from parse.com because there wasn't time.

[2018-03-14 14:34] joshkopecek opened #4640 "Aggregate pipeline with $match on a Pointer reference"
### Issue Description

When using a Pointer for matches on an aggregation query, the system queries against the queried object's class, not against the _Pointer's class_

### Steps to reproduce

Run an aggregate query against an object with a Pointer reference:
Snapp.region is a 'Region' pbje
 e.g.
[code]
should match the Mongo pipeline:
[code]
#### Expected Results

I expect it to return results

[2018-03-14 16:17] dplewis commented on #4640
Good catch! Your fix seems like the way to go. This is a great first PR.

Probably missed because pointers and objects are of the same class in the tests

[code]

[2018-03-14 17:25] themoonlitknight commented on #4084
It happens the same to me. Did you figure it out eventually?

[2018-03-15 01:13] awgeorge opened #4641 "`matchesQuery` returns zero (0) results when used inside cloud function"
### Issue Description

I have a query that uses `matchesQuery` when fetching data. The data has public read. The function works correctly when running standalone using parse and node.

When I move the function into a cloud function and attempt to trigger it via a rest call. The same function returns 0 results. Upon removing the `matchesQuery` check - I start getting results.

In my case, the inner

[2018-03-15 01:15] flovilmart commented on #4641
Are you able to open a pull request with a failing test or share a code example?

[2018-03-15 01:27] rowntreerob opened #4642 "buildConfigDefinition.js - adapter config sample for S3FileAdapter"
i would like to use [S3Adapter](https://github.com/parse-community/parse-server-s3-adapter/blob/master/README.md) which covers its own config in docs in the link. Its a clear sample but , regarding **buildConfigDefinition.js** in  parse server i have only :

[code]

and the source for buildConfig.. js   which is a bit over my head regarding the interfaces used for Adapters.

So, is there an exampl

[2018-03-15 01:32] flovilmart commented on #4642
I’m not sure I fully understand the question. The buildConfigDefinitionas is an internal file that help us define all options we can pass to parse server. The S3 options are specific to the S3 adapter, so we can’t really document them here.

[2018-03-15 01:45] rowntreerob commented on #4642
node resources/buildConfigDefinitions

with  (index.js ) input of

  filesAdapter: ?Adapter; /* =
  {
    "module": "@parse/s3-files-adapter",
    "options": {
      "bucket": "my_bucket"}}

  */
Error: ./src/Options/index.js: Unable to parse value for filesAdapter
    at list.map (/home/rob/src/tmp/parse-server/resources/buildConfigDefinitions.js:186:15)
    at Array.map (<anonymous>)
    at inje

[2018-03-15 01:48] flovilmart commented on #4642
I’m still not really sure what you’re trying to achieve here. Are you trying to update the definitions so the generated documentation is more specific to S3 adapters?

[2018-03-15 02:01] rowntreerob commented on #4642
No.  im only trying to run the server with some additional adapters that are ES6  so i had to stop using the 'parse-server-example' project as it has no build step to accomodate ES 6 modules.

[2018-03-15 02:30] flovilmart commented on #4642
so you're definitely looking at the wrong place.

Did you get a look at:

http://docs.parseplatform.org/parse-server/guide/#usage

or

https://github.com/parse-community/parse-server/#parse-server--express

Then the options to configure the S3 Adapter are also documented there

http://docs.parseplatform.org/parse-server/guide/#configuring-s3adapter

[2018-03-15 02:47] dplewis opened #4644 "Feature Request: IncludeAll"
Wanted to have a discussion the best way to implement including all pointers.

`query.include('*')` or `query.includeAll()`

We can query the schema to find all the pointers and leverage existing `handleInclude()` in `RestQuery.js`

My ultimate goal is to add this somehow to `Parse.User.login`

Similar Issue: https://github.com/parse-community/parse-server/issues/288

[2018-03-15 02:57] #4640 closed

[2018-03-15 03:08] #4642 closed

[2018-03-15 03:16] dplewis commented on #3734
Closing via https://github.com/parse-community/parse-server/pull/3735

[2018-03-15 03:16] #3734 closed

[2018-03-15 03:18] dplewis commented on #3737
Closing via https://github.com/parse-community/parse-server/pull/3740

[2018-03-15 03:18] #3737 closed

[2018-03-15 03:45] dplewis commented on #4636
Just a few questions about when you saw undefined.

Which cloud code function where you calling?
Were you logged in before the call?
Did you pass in sessionToken?
Which platform were you using i.e web, iOS, android?
Which SDK?

Similar issue: https://github.com/parse-community/parse-server/issues/2104

[2018-03-15 07:00] aBuder opened #4645 "Could not connect to parse-server mit javascript sdk"
Hi,

I cant connect with Javascript sdk to my parse-server on heroku. I get the error.
`{"error":"unauthorized"}`

Javascript Client Configuration

![bildschirmfoto 2018-03-15 um 07 59 53](https://user-images.githubusercontent.com/1265139/37448487-dfa8a454-2826-11e8-8f55-a8e9c4fe6c80.png)

Parse Server Configuration
![bildschirmfoto 2018-03-15 um 07 49 20](https://user-images.githubusercontent.com

[2018-03-15 07:55] Songkeys opened #4646 "Custom authentication failed: Cannot read property 'authenticate' of undefined"
### Issue Description

I'm trying to do the custom authentication, but got confused through the insufficient docs.
<http://docs.parseplatform.org/parse-server/guide/#custom-authentication>

### Steps to reproduce

Here is my cloud code:
[code]

And to eliminate interference, I made the auth logic like this:
[code]

#### Expected Results

A new user signed up with my custom auth-info linked.

####

[2018-03-15 07:59] mrmengjun opened #4647 "ParseError {code: 206, message: "Cannot modify user FQrZUWcoW9."}"
ParseError {code: 206, message: "Cannot modify user FQrZUWcoW9."}.

### Issue Description

ParseError {code: 206, message: "Cannot modify user FQrZUWcoW9."} when setting another user
even though set this ACL

### Steps to reproduce
In source code, I found these
[code]
[code]

#### Expected Results

What you expected to happen.

#### Actual Outcome

What is happening instead.

### Environment Setup

[2018-03-15 08:13] joshkopecek commented on #4640
Thanks @dplewis for closing this. I would have opened a PR but you're too quick for me ;-)

In terms of aggregate queries, if I was to add something like this:
### Mongo aggregation pipeline

[code]
Should it really look like this?
### Parse aggregation pipeline
[code]

in which case, the current code resets the $match query on every loop through the object, and also just dumps the object in via s

[2018-03-15 09:45] steven-supersolid commented on #4636
As I recall, on parse.com request.user was fetched with any authenticated request, then when parse-server was launched this was accidentally omitted but later fixed.
I can't find the commit for this but you can see the current behaviour in Auth.getAuthForSessionToken()

[2018-03-15 10:59] awgeorge commented on #4641
Failing test added: #4648

[2018-03-15 12:57] dplewis commented on #4640
I see. Your `exist` should be written like `$exist`. You are going in the right direction. Can you share code using your aggregate pipeline and the expected results? I would like to add `$first` and `$exist` to Postgres as well.

[2018-03-15 14:43] gitjmo opened #4649 "ParseQuery.findInBackground() returning with Internal Server Error exception"
### Issue Description

Running the Parse Server Example deployment via Heroku which I haven't touched in 8 months.  This morning my android application started failing with Internal Server Error exception when trying to connect.

### Steps to reproduce

Basic server example deployment on Heroku and just attempting to look up a mongoDB record.

#### Expected Results

Expecting it to return with par

[2018-03-15 14:55] joshkopecek commented on #4640
[code]

### Expected results
Should return a list of 'Snapps' with
1. an objectId field with the unique Plant in the pipeline stage
1. a region which is the id of the first region in the pipeline stage
1. a count of the number of Snapps in the pipeline stage
1. sorted & limited

_Please also note_ that the guide seems to be incorrect - it directs you to 'set up' the aggregate like a query, whereas

[2018-03-15 15:49] dplewis commented on #4640
@joshkopecek Thanks, I'll look into it later

[2018-03-15 16:23] dplewis commented on #4645
When you deploy to Heroku, are your environment variables setup and match your config?

[2018-03-15 19:05] #4638 closed

[2018-03-15 22:02] nauman74 opened #4652 "When Parse.Push.send called on deleted app, incorrect callback called"
### Issue Description

If iOS app deleted and Push sent we get the following error message but error callback of Parse.Push.send not called, instead success callback is called.

_node-pre-gyp ERR! parse-server-push-adapter APNS APNS error transmitting to device 99ab882412b32b2d9417ca1137ab969f86167fb4cff02daccb38440fb4a0caac with status 410 and reason Unregistered

We are aware there is an Environ

[2018-03-15 22:13] flovilmart commented on #4652
Push are processed asynchronously as they may yield massive reads from the DB. This is the expected behavior. We recently introduced a flag to cleanup invalid installations device tokens is that what you’re looking for?

[2018-03-15 22:13] #4652 closed

[2018-03-16 00:55] 6thfdwp commented on #4646
I think you should try to config custom authentication module in the ParseServer config when initialising it (instead of put it in the `authData`):
[code]
This makes ParseServer recognise the custom auth method and invoke the custom validation logic when doing `user. _linkWith ('weapp', authData)`

[2018-03-16 05:45] Songkeys commented on #4646
@6thfdwp
Hi. Thank you! I found the doc on the README.md in this repository (<https://github.com/parse-community/parse-server#advanced-options>). And I've tried what you said while still getting the same error output.

Here's my config:
[code]

And in the cloud code:
[code]

BTW, I tried to understand the source code of  `Parse.User._linkWith` in the JS-SDK:
<https://github.com/parse-community/Par

[2018-03-16 06:41] nauman74 commented on #4652
We do not require the flag to clean invalid installations. We use this with a VoIP application so we need to stop server registrations as well.

[(https://github.com/node-apn/node-apn/blob/master/doc/provider.markdown](https://github.com/node-apn/node-apn/blob/master/doc/provider.markdown)

The node apn library has a callback which indicates failure when the app is deleted. Why is this error statu

[2018-03-16 07:18] aBuder commented on #4645
@dplewis Thanks for answer, I attach an screenshot form heroku dashboard.

![heroku](https://user-images.githubusercontent.com/1265139/37508242-8ba11784-28f2-11e8-9577-0f5eafcb6d31.png)

[2018-03-16 08:50] puny-d opened #4653 "Postgres doesn't support this query type yet {"$gt":0}"
when query.greaterThan("key", 0); it would cause this error

version:2.7.4
postgresql:9.5

[2018-03-16 12:01] flovilmart commented on #4652
As mentioned, this the expected behavior. If you need this transactional Level, you can use the node apn library directly.

[2018-03-16 14:21] Jagdeep1 opened #4654 "Server crashes on node:alpine images"
### Issue Description
Parse server is crashing on Login and Sign up requests for  `node:9-alpine` or any other  `alpine` images. It works fine on `node:9` or any other node images.

### Steps to reproduce

- Take the latest pull of https://github.com/parse-community/parse-server-example
- Modify Dockerfile - change `FROM node:latest` to `FROM node:9-alpine`
- Build and run docker image
- Make sign

[2018-03-16 15:21] nbering commented on #4654
Parse server uses bcrypt, which includes native extensions. Incorrectly-built native extensions are often cause segfaults in NodeJS.

Did your docker build run `npm install` inside the container, or just copy `node_modules` from your dev machine?

[2018-03-16 15:27] nbering commented on #4654
Apologies... I missed the part where you said you were using the Dockerfile from parse server.

It's probably a similar issue though. From what I've been told, Alpine uses a completely different set of C standard libraries than your typical linux installation. It's part of how they get the image so small.

There's probably some incompatibility between the native extensions in libraries like bcrypt

[2018-03-16 15:30] nbering commented on #4654
One last thing... do you think you could put the log output in a fenced code block please? It would preserve the spacing and make it easier to read. Fenced codeblocks start and end with three backticks, like this:
[code]

[2018-03-16 16:04] dplewis commented on #4649
@gitjmo This issue has been resolved.

[code]

Recommended from MLab

The `not master and slaveOk=false` error message indicates that your application is trying to read/write to a Secondary node instead of the replica set's Primary.

Is your application using a replica set connection that can handle auto-failover (http://docs.mlab.com/connecting/#replica-set-connections)?

As a short-term fix, you

[2018-03-16 16:04] #4649 closed

[2018-03-16 17:30] Jagdeep1 commented on #4654
Yes I run `yarn` to install nnode modues

Now I have tried copying local node_module, and it works fine.

Sorry about the logs, here is formatted

[code]

[2018-03-16 21:21] markuswinkler opened #4658 "Performance slow?"
Hi!

I recently looked into my database performance and was wondering if my results are somewhat slow.

A single query.get(user.id) resolves in 20ms, which seems to be rather high,
regarding that the whole system and database is basically idling (indexes on _id are set).
There are only 8 users entries. It doesn't make a difference if I run it with a local
database/server or on AWS/MongoDBAtlas.

T

[2018-03-16 21:25] flovilmart commented on #4658
Expecting results under 1ms is a bit too much I guess, in our case, we're responding in 40ms at 95th percentile, which is more than acceptable, considering most of the calls are authenticated.

<img width="479" alt="capture d ecran 2018-03-16 a 17 24 30" src="https://user-images.githubusercontent.com/364568/37545358-f757166c-293e-11e8-900a-36d838a7bf9a.png">

[2018-03-16 21:27] flovilmart commented on #4658
When you do 4 includes, there are 4 additional queries done in the database hopefully run in parallel.

Those values are still in an acceptable range for me. You could run an APM and identify the bottlenecks. Probably the DB call latency and JSON serialization / deserialization will be the most consuming element of your calls.

[2018-03-16 21:32] flovilmart commented on #4658
Also, consider when doing you 'Parse.Query' you're issuing and HTTP reuqest to parse server, and not a direct call to the internals of parse-server so that overhead has to be considered.

Can you please report the time you see with `PARSE_SERVER_ENABLE_EXPERIMENTAL_DIRECT_ACCESS=1` as an env variable?

[2018-03-16 21:38] markuswinkler commented on #4658
Ah, ok. I just didn't know what to expect.
I read some mongoDB examples where the update time for 1.5 million records is around
1:15:00, resulting in around 3ms/update.
Does parse-server keep the connection to the DB persistent or does it have to authenticate for every request?

Enabling `PARSE_SERVER_ENABLE_EXPERIMENTAL_DIRECT_ACCESS=1` made a HUGE impact. All request/save times are basically hal

[2018-03-16 21:47] acinader commented on #4593
excellent question @dplewis!

Yes, if I just rip it all out, it just works as I'd expect.  So what do I expect? I expect that when I start my server I can see the connection count on the mongo server increase.  When I then kill the server with ctrl-c or with `kill $PARSE_PID`I see the connection decrease to the level it was at before I started the server.

So I think that the right answer is to ju

[2018-03-16 22:28] flovilmart commented on #4658
Updates and reads are completely a different game :)

Parse adds some overhead, schema validation, ACL, authentication etc.. all of that add a certain amount of overhead.

As for the stability of the feature, it should be fine. But may not fit every workload as everything stays in memory on the same serverz

[2018-03-16 23:26] awgeorge commented on #4641
@flovilmart Do you know if cloud code does anything differently?

[2018-03-17 00:11] rowntreerob commented on #1961
did the google interface ( what API for "authData" when vendor is 'google' )  ever get resolved?

I tried a bunch of permutaions for authData obj content and they all fail on a variety of errors ( stdout belo )

[code]

[2018-03-17 00:22] flovilmart commented on #1961
@rowntreerob the authData you're sending from the client is invalid. As you can see here:

[code]

Should be

[code]

[2018-03-17 00:25] flovilmart commented on #4647
This is the expected behaviour, one authenticated user cannot write on another user's object, nor read on it. THis is a security measure. Users hold private information and therefore are protected in a more restrictive way.

[2018-03-17 00:25] #4647 closed

[2018-03-17 00:28] markuswinkler commented on #4658
That makes a lot of sense, thanks for the explanation!

So basically the worst that can happen is that the server just consumes a lot more memory. I will watch the memory consumption then.

[2018-03-17 00:37] flovilmart commented on #4658
Just remember to pass masterKey / sessionToken, also IIRC there are some edge cases with loggingIn cloud code (which should not be supported).

[2018-03-17 00:44] markuswinkler commented on #4658
Thank you, good to know. I made my client intentionally very dumb and rights limited, the only data manipulation is happening via cloud code calls that all need to run with masterKey internally since the database is completely locked down so I should be safe then. :)

Since we are on the topic of performance optimizations, how big is the gain in using `cacheAdapter: redisCache` as lined out in the

[2018-03-17 00:53] flovilmart commented on #4658
It would depend on your workload there may be a cost because of the failed cache lookups, that are slower than in memory. Redis is useful to cache your user’s session data and roles. Each authenticated call (with a session token) yield a lookup for the session, the user as well as the roles. As you see with our metrics, we use redis to cache it all, so it speeds up our calls.

Redis is the last th

[2018-03-17 00:56] markuswinkler commented on #4658
Thanks for the thorough answer!

[2018-03-17 00:56] #4658 closed

[2018-03-17 12:15] 6thfdwp commented on #4646
OK, by looking at your error log again, it's from the Parse client, not server.  The ParseUser `_linkWith` second parameter expects an options object which has `authData` as its key. So it will look like:
[code]
If it cannot find this key, it will ge to this `else` block: [ParseUser.js#L102](https://github.com/parse-community/Parse-SDK-JS/blob/a209282de1a2106ce8453cb3c985c77cee678304/src/ParseUser

[2018-03-17 13:47] 6thfdwp commented on #4646
From @flovilmart comment above, my understanding is `linkWith` logic is to mainly look at if options already got `authData`, if it's true, it will be directly sent to Parse server, otherwise it tries to look up the registered `authProvider`, call authenticate to get authData first. It fails in this case as we don't have one

[2018-03-17 13:50] flovilmart commented on #4646
Yes, you just need to register a simple one, that implements the same methods as the Facebook one. If you’re passing the authData directly, you may not need to implement the body of all methods, but probably just the getAuthType() that returns your authProvuder name (weapp)

[2018-03-17 15:32] awgeorge commented on #4641
@flovilmart thanks for your patience with me. When using a cloud function, you have the ability to parse parameters. `var year = request.params.year || 2018;`. Clearly, 🤦‍♂️, when you submit these values via `x-www-form-urlencoded` they're transmitted as strings.

    yearQuery.equalTo("year", year); // (number)year === (string)year

Obviously (now) fails. A simple `parseInt` did the trick.

Sorry

[2018-03-17 15:32] #4641 closed

[2018-03-17 15:54] flovilmart commented on #4641
No problem! Glad you found. The solution!

[2018-03-17 23:50] rowntreerob commented on #1961
fixed the fields (authData) and tried again using curl for the post  , it is still failing -
**message: 'Google auth is invalid for this user.' } code=101,**
Im getting the oAuth portion on the client from lib=firebaseui-web and it seems to be working fine. The error is on the server...

[code]

[2018-03-18 00:25] flovilmart commented on #1961
As mentioned above, accessToken should be in snake_case `access_token`

[2018-03-18 00:27] rowntreerob commented on #1961
fwiw  the values above :
google.id
google.accessToken

were taken from the response "handleSignedInUser" over in the firebaseUI  part of the client
the img shows the JSON returned by firebase and the field values i used in the curl.POST

![image](https://user-images.githubusercontent.com/169984/37561291-49e579ae-2a08-11e8-8276-c777f4d805a3.png)

[2018-03-18 00:33] rowntreerob commented on #1961
using "id"  , "access_token"   in the interface does not change the response to the post to "parse/users"...

[code]

[2018-03-18 01:05] rowntreerob commented on #1961
i left out the 2nd property value returned by firebaseUI that was used to set the value of "accessToken"  in the interface

![image](https://user-images.githubusercontent.com/169984/37561539-d5f1257e-2a0d-11e8-8165-61dd22ff7d96.png)

[2018-03-18 01:12] flovilmart commented on #1961
Try using the idToken and send it to parse-server as id_token

[2018-03-18 01:20] rowntreerob commented on #1961
no change on using id_token in interface with the corresponding value supplied by firebaseUI...
[code]

[2018-03-18 01:35] flovilmart commented on #1961
I’m not sure this is an issue with parse server, as we’re using the google login in a production app and it’s working as expected. Open a question on stackoverflow as it may be more fitting than here.

Thanks.

Note that the google login is expected to work with the google auth SDK’s and android, not fire base.

[2018-03-18 01:42] rowntreerob commented on #1961
OK.. firebaseUI not compatible/interoperable with parse-server... I get it now.

thanks

[2018-03-18 01:46] flovilmart commented on #1961
You can always provide you own custom authAdapter on parse-server to support it
The job of an auth adapter is to validate the credentials passed in the authData payload.

Have a look into the auth adapters folder, and there’s only one method to implement to support your fire base UI credentials.

It’s not because out of the box those credentials aren’t supported that you’re completely locked out.

[2018-03-18 04:14] rowntreerob commented on #1961
will give that a try ... thank you

[2018-03-18 04:49] zaxonus commented on #3592
Hi,

I just read this post and saw you had a few troubles when setting up email verification.
I am now facing more or less similar issues as explained in details [here](https://stackoverflow.com/questions/49206670/link-inside-verification-mail-not-working). Did you experiment the same kind of problems?

[2018-03-18 06:04] funkenstrahlen commented on #3592
@zaxonus Maybe your issue is related to this? https://github.com/parse-community/parse-server/issues/3857

[2018-03-18 08:14] Songkeys commented on #4646
Thank you guys!
Having looked your explanations and examples, I made my code like this (with the above auth config in the ParseServer Initialization kept):
[code]
Where I only need to passing the authData directly.
But the error log said
[code]
After searching for the error generator:
<https://github.com/parse-community/parse-server/blob/11c40dce97da72271e362e50016500e9f3e3a1ec/src/RestWrite.js#L2

[2018-03-18 13:01] sonysm opened #4659 "How to query object contain in field type array of pointer?"
Hello,

I have one question about query object
Example my data has field "students" type as array pointer of "student" class

students [
    {"__type":  "pointer", className: "student",  "objectId": "123"},
    {"__type":  "pointer", className: "student",  "objectId": "1234"},
]

I want get all field has student object (objectId: 123)

Anyone can help please?
sorry for my poor English

[2018-03-18 13:18] noyessie opened #4660 "Does Parse Server AutoReload Cloud function"
Does parse server auto reload cloud function after editing ?

[2018-03-18 14:46] natanrolnik commented on #4660
You need to deploy a new version, or, if you are doing it locally, you need to restart your server.

[2018-03-18 14:46] #4660 closed

[2018-03-18 15:42] flovilmart commented on #4646
You should out the registerProvider alongside the Parse.initialize call.

If your provider is providing the authData, then the second parameter is not read nor used. You can safely ignore it.

We don’t have any plans to update the documentation at the moment, but yes, it could be better.

On my side i’ll Try to update the JS SDK so it’s easier and self documenting. But you can very well open a PR

[2018-03-18 15:42] #4646 closed

[2018-03-19 00:40] EricNetsch opened #4661 "Security issues with custom authentication module (Question)"
I built a custom auth module and hooked it up to parse-server. Everything is working great and as expected.

The one issue I am having is security. I am unable to pass more parameters (Hmac etc) to the logInWith call to verify the source of the login and ensure the user is valid. It seems like in most cases using the just the "public" token to auth a user is a large security risk.

Is there any wa

[2018-03-19 00:50] flovilmart commented on #4661
Do you validate the authData (access token + id) against your custom auth provider? This is what brings the security and if either the access token is invalid or mismatches the provided user id, the login/linking process is failed

[2018-03-19 02:29] EricNetsch commented on #4661
Thanks!
I figured out a solution. First I had to update my parse-server version so it could support multiple parameters in my Authdata per this issue #3867 (This opened up a lot of options). Now the loginWith call also sends the hmac verification parameters from my auth provider. Also, included in the hmac parameters is a timestamp which is checked in my module to verify the call even further.
Muc

[2018-03-19 02:29] #4661 closed

[2018-03-19 09:55] Code-Crash commented on #2708
Hi @xcarpentier, Any update on the same? have you implemented the "Elastic Search Adapter" for the parse-server?

Thanks.

[2018-03-19 11:13] xcarpentier commented on #2708
@Code-Crash why are you interested on it?
I've not yet created a repo for that but I think I will this year.

[2018-03-19 11:48] mman commented on #4658
@flovilmart Thanks for the explanation. I wonder what happens when you deploy multiple parse servers behind a load balancer with `PARSE_SERVER_ENABLE_EXPERIMENTAL_DIRECT_ACCESS=1` and without using `redisCache` and without using any session affinity.

Will the backend instance verify `sessionToken` correctly against mongo every time?

Or will it only lookup in the memory on the given backend insta

[2018-03-19 11:55] flovilmart commented on #4658
Yes, sessions will always be validated.
The best way to look into what’s going on is to perhaps put an APM like new relic; and look for the DB calls. In a previous series of load testing, we realized that JSON serialization of large objects was a large source of CPU consumption, and was inducing latency in the responses as serialization is blocking the node process.

In our case, we decided not to

[2018-03-19 12:44] aBuder commented on #4645
I found an solution for my problem. I create an fork from https://github.com/parse-community/parse-server-example and deployed to heroku. Now all work fine.

[2018-03-19 12:44] #4645 closed

[2018-03-19 14:48] woodardj commented on #4530
I have another trace in NewRelic during a `PUT` operation on `_Installation` which calls "Redis get" at least 6 times (likely closer to 20 times) on the `__SCHEMA__MAIN_SCHEMA` key. This is rapidly becoming our performance bottleneck.

[2018-03-19 14:51] flovilmart commented on #4530
There's definitely room for improvement in here that would benefit everyone. The schema is read multiple times, and perhaps it would be better to refactor the code so the schema is less validated.
Is it something you'd be willing to improve?

[2018-03-19 16:35] woodardj commented on #4530
I'm currently digging through Parse Server's internals to try and figure out what's going on in these cases; unfortunately my priority has to be solving the acute issue for my client. If that involves addressing this library issue, I'll see if there's something I can issue a PR for, I'll do it, otherwise this was tagged 'needs-investigation', so in the meantime I'm adding details as I can.

[2018-03-19 20:07] rowntreerob commented on #1961
Did not need a new adapter for firebaseUI - just more accurate mapping.

It finally worked  ( i think it was a combined mapping issue firebaseUI.CB vs authData values && provider scopes issue )

stdout below shows mapping of authData field values ( id, access-token):

[code]

[2018-03-19 20:45] flovilmart commented on #1961
Glad to hear it worked.

[2018-03-20 10:52] mullwaden opened #4664 "Running Schema.purge on empty table fails"
### Issue Description

Running purge on a schema with no data rows fails

### Steps to reproduce

Run the following code for some schema. If there are no rows in the database it will fail

[code]

#### Expected Results

If the table has no rows then nothing should happen

#### Actual Outcome

Where my script that runs the code above gives an unhandledPromiseRejectionWarning.

My server gives the f

[2018-03-20 11:41] tolgaatam commented on #4644
+1, client side not having the includes for the user object is a big problem indeed

[2018-03-20 11:50] tolgaatam commented on #4530
sorry for not getting in touch with you through this issue. no, i am not able to contribute much to the topic other than helping with the addressing of the issue :/

[2018-03-20 11:59] tolgaatam commented on #4450
it seems like your problem occurs where your response.success() is called before any of your async functions calls are submitted. you can call response.success() at two spots, first in the else statement of status == "validated" and secondly in the success callback of your myUser.save rather than returning that promise.

[2018-03-20 12:16] tolgaatam commented on #4530
the original issue that i address in the post stems from this piece of code in parse-server/src/Controllers/SchemaCache.js   beginning from line 52

[code]

issue can be resolved like this:

[code]

so individual class schema caches are never checked but MAIN_SCHEMA is pulled directly where schema information of all classes are available.
i do not change it myself as i am not much knowledgeable ab

[2018-03-20 16:27] ranhsd opened #4665 "Parse remote config in a cluster environment"
Hi, I am running my parse-server on GCP Kubernetes engine. I currently have 3 nodes and parse-server installed on each one of them. I experience some issues with parse remote config in my setup.
I use remote config a lot in my app for various things like: feature toggle, provide special access to specific users and more.

Currently in my app I can accept users with specific email domains so in ord

[2018-03-21 19:28] gitjmo commented on #4649
Yes, thank you very much for your help and apologies for not closing the issue right away.  This came up the day before I was leaving on vacation.

[2018-03-22 01:57] jferrer21 opened #4666 "simple-mailgun-adapter"
Parse Server 2.7.4

Could the repository be updated to avoid the below warming during installation?

warning parse-server > @parse/simple-mailgun-adapter > mailgun-js > proxy-agent > socks-proxy-agent > socks@1.1.10: If using 2.x branch, please upgrade to at least 2.1.6 to avoid a serious bug with socket data flow and an import issue introduced in 2.1.0

[2018-03-22 01:59] flovilmart commented on #4666
Feel free to open a pull request.

[2018-03-22 09:55] JulienRcs commented on #4450
Yes, the problem was the "response.success()", thanks !

[2018-03-22 09:55] #4450 closed

[2018-03-22 12:03] tolgaatam opened #4668 "Cloud Code Guide Async Details Lacking"
Hello,

This is a missing point in the Cloud Code Guide rather than being an issue, but I want to point this out so that people working on triggers and cloud functions can tackle things more hassle-free.

I sometimes see questions on StackOverflow and also here about the usages of cloud code triggers and mostly they are about not being explained on how to use async calls in those triggers. I mysel

[2018-03-22 12:33] flovilmart commented on #4668
Have you had a look in the cloud code guide? http://docs.parseplatform.org/cloudcode/guide/#getting-started

I believe all the triggers are documented here. Feel free to open a pull request to the documentation repository (https://GitHub.com/Parse-community/docs) if your find those can be improved.

[2018-03-22 12:33] #4668 closed

[2018-03-22 15:33] tolgaatam commented on #4668
I visited the cloud code guide maybe tens of times and also read every other resources online on cloud code. Even after that, it is not very straightforward how to implement async operations on cloud code triggers: my personal long experience on the issue and online questions show the lack of information on the issue. I can easily tell that there is less in the Cloud Code Guide than there should b

[2018-03-22 15:48] flovilmart commented on #4668
So please open a pull request or an issue on the docs repository. You are very vague in the description of the issue itself, therefore I don’t really know how to improve the docs. The docs are explicit about usage of response.success and response.error

[2018-03-22 18:00] fcoufour commented on #4121
I'm also looking for the best answer to this question :).

I currently use the same trick as you guys. Moreover, since Parse Server is configured loading a JSON configuration file in my case, I can't read the appId from the process env and I have to import the cache from the lib directory using an absolute path.

[2018-03-22 18:18] somq opened #4669 "What does the useMasterKey column in the _User class is useful for ?"
I know there is a limitation where a given user [can't edit any other users than himself](https://github.com/parse-community/parse-server/blob/master/src/Auth.js#L28) for security reasons.

I have a case (which seems trivial in this kind of dev) where I need to edit others users while one of my users is logged in as admin. I bypassed the issue by using a cloud function and checking *by-hand* if th

[2018-03-22 18:31] somq commented on #4669
I must be exhausted not being able to think that out by myself, thanks.
So, I'm having the right approach by using cloud function for the admin stuff ?

[2018-03-22 18:33] flovilmart commented on #4669
You should be fine as long as you roles are tightly controled.

[2018-03-22 18:36] somq commented on #4669
Alright, thanks again for your answer, good evening!

[2018-03-23 02:00] dplewis commented on #4659
@sonysm Why not use [Parse Relations](http://docs.parseplatform.org/js/guide/#many-to-many-relationships)? You can then query for whatever object you want.

Its easier to maintain than an Array of Pointers

[2018-03-23 02:53] dplewis commented on #4664
Thanks for reporting. I wasn't able to replicate your error exactly but I did find an error. I'll submit a fix soon.

[2018-03-23 04:10] dplewis commented on #3270
Closing as addressed https://github.com/parse-community/parse-server/pull/3431/

Please update to the latest version of Parse Server and open an issue if this still persists.

[2018-03-23 04:10] #3270 closed

[2018-03-23 04:12] #2974 closed

[2018-03-23 04:23] CO16326Keshav opened #4670 "Parse Cloud Code Deploy"
I am new to Parse server on AWS
I edited the cloud code on AWS using putty and added a basic function, but on calling that function from my application in android studio it is logging an error of invalid function.
How can i solve this error?

[2018-03-23 04:26] dplewis commented on #4670
Duplicate: https://github.com/parse-community/parse-server/issues/4660

[2018-03-23 04:26] #4670 closed

[2018-03-23 04:43] dplewis commented on #3745
Closed via https://github.com/parse-community/parse-server/pull/3822

[2018-03-23 04:43] #3745 closed

[2018-03-23 04:48] dplewis commented on #3775
Closed via https://github.com/parse-community/parse-server/pull/4576

[2018-03-23 04:48] #3775 closed

[2018-03-23 11:47] anandundavia opened #4671 "publicServerURL has no effect on link sent in verification email"
### Issue Description

The `publicServerURL` has no effect on the verification link sent in the email.
I have enabled email verification in my project.
I have set publicServerURL to 'http://abc.com' ( for e.g. )

When I run the application locally, and try to sign up, the verification URL in the email starts with
my local address ( 127.0.0.1 ) but not the value I set in the publicServerURL

I know

[2018-03-23 12:05] ascholz81 commented on #3270
Fantastic!!! Thanks so much.  Had a busy start to my year and didn't realize the previous comment in January.  Will check it out next week and implement new version.

[2018-03-23 13:32] milesrichardson commented on #4644
Should it be optionally recursive?

[2018-03-23 16:22] tolgaatam opened #4672 "beforeSave / afterSave triggers for Parse.File"
Hello,

this is a request and an issue for some i guess.

In Parse Server, anybody (even a non-user client) can upload files to the server and this is quite uncontrolled.

My story is: I myself wrote a cloud function for uploading photos, it takes base64 photo, saves it and its 40x40 thumbnail and create a Photo object which holds these two files and a pointer to the user. This way, I can use the

[2018-03-23 16:55] tolgaatam commented on #4672
quick and dirty workaround could be enforcing master key to file create route,

parse-server/src/Routers/FilesRouter.js : line 20

Original:
`
    router.post('/files/:filename',
      Middlewares.allowCrossDomain,
      BodyParser.raw({type: () => { return true; }, limit: maxUploadSize }), // Allow uploads without Content-Type, or with any Content-Type.
      Middlewares.handleParseHeaders,

[2018-03-23 19:46] tolgaatam commented on #4530
further investigated the issue and found from what the problem stemmed.

here is getOneSchema function from /src/Controllers/SchemaController.js line 458

[code]

the last part does this:
- check the cache for the schema of the class
  - if you found return it
  - if not, get it from database, set single class schema (wow what we need badly) and return what you got from db

in my previous comment

[2018-03-23 20:22] dplewis commented on #4672
I do like the idea of having an uploadedBy / owner on Parse.File personally. Its better than having a separate class like I did.

So your main goal here is to have better control over Parse.Files outside of Storing, Deleting, and Retrieving.

There have been a few discussion on a few ways to add functionality to Parse.File. May or may not be related to your Feature Request

[PR: Adds authenticatio

[2018-03-23 21:02] JacobJT commented on #4672
While it may not be exactly what you're looking for, are you using S3 for storage? Maybe you could use S3 / Lambda to remove these files you don't want: https://docs.aws.amazon.com/lambda/latest/dg/with-s3.html

I'm not sure if their object created trigger has a `before` like feature, so if not and someone is creating these files and then attaching them to objects themselves, they'll end up with d

[2018-03-24 11:31] tolgaatam commented on #4672
@JacobJT deleting the unused files indeed is not a big part of the problem. For any class which use a file field, one can implement an afterSave trigger and detect if the file object is replaced with a new one. with the help of aws sdk for node, the replaced file could be deleted easily, i assume.

a bigger problem is if a user uploads a file and do not attach it to any parse object. then the file

[2018-03-24 11:36] tolgaatam commented on #4672
addition: indeed there is a delete route for files in parse server and it is protected by master key, so deleting files which are being replaced is not so much of an hassle if you make afterSave’s for file-containing classes. So the problem boils down to the allowance of the upload from the first place.

[2018-03-24 16:43] zurcjoe opened #4675 "FunctionsRouter.js fails in function 'static handleCloudFunction(req)' when issuing error()"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

If you have a vulnerability disclosure, please follow our policy available here https://github.com/parse-community/parse-server/blob/master/SECURITY.md

You may also search through existing issues before

[2018-03-24 16:48] flovilmart commented on #4675
Please include relevant logs

[2018-03-24 19:52] zurcjoe commented on #4675
Will do. Thanks zurcjoe

[2018-03-24 19:59] flovilmart commented on #4675
IIRC, response.error doesn’t accept an object as a response but a code / message.

You can do

response.error(“my error”) the JS SDK will receive a Parse.Error with code 141 and message “my error”

Or

response.error(-1, “my error”) and the JS SDK will receive a Parse.Error with code -1 and message ‘my error’

Note that this is the behavior we want in the Parse SDK for consistency. Passing an obje

[2018-03-24 19:59] #4675 closed

[2018-03-24 21:45] zurcjoe commented on #4675
Flovilmart,

I have previously tried both methods that you have recommended, prior to opening ticket, and the problem persists.

Please reopen - I just updated my Parse cloud function to reflect to your recommendation(s) and I the problem reported still occurs.

[code]
Debugging with legacy protocol because Node.js v6.6.0 was detected.
/usr/local/bin/node --nolazy --debug-brk=11963 index.js
Debugg

[2018-03-24 21:46] flovilmart commented on #4675
What problem? The log is the expected one.

[2018-03-24 21:47] zurcjoe commented on #4675
I am working to turn on VERBOSE=1.

[2018-03-24 21:54] zurcjoe commented on #4675
[code]

[2018-03-24 21:55] flovilmart commented on #4675
Everything you see is expected.

[2018-03-24 22:00] zurcjoe commented on #4675
Oops, let me investigate further.

I apologize.

[2018-03-24 22:10] zurcjoe commented on #4675
flovilmart, I truly apologize.

My bad.

Added the following to the client code .catch(function(error) {}); .... and the correct behavior is occurring.

Thank you for your support, assistance and fast response.

Please close.

zurcjoe.

[2018-03-24 22:11] flovilmart commented on #4675
Glad I could be of help!

[2018-03-24 22:45] #4653 closed

[2018-03-25 13:41] #4664 closed

[2018-03-26 06:10] markuswinkler opened #4677 "Custom oAuth2 stopped working"
### Issue Description

I have a custom oAuth2 configuration for linkedIn that worked fine until recently.
The oAuth2 redirect url doesn't get handled anymore.
Anyone else ran into that problem?

#### Expected Results
redirect to the custom oAuth2 handler

#### Actual Outcome
displays "Cannot get /oauth/linkedin"

### Environment Setup

config file:
[code]

- **Server**
  - parse-server version : 2

[2018-03-26 12:04] flovilmart commented on #4677
Parse server doesn’t handle oauth redirection for you, so have a look into the LinkedIn documentation, they may have changed something there.

[2018-03-26 12:04] #4677 closed

[2018-03-26 13:41] SebC99 opened #4678 "Aggregation match doesn't seem to work with date value"
### Issue Description

When using the new aggregate options with a match pipeline on a Date value, it silently fails with empty result.
By the way, to match a `createdAt` or a `updatedAt` field, we have to use the db form `_created_at` / `_updated_at`, and I'm not sure it's on purpose. Either way, we can't query them with the standard `$lt` or `$gt` operator.

### Steps to reproduce

`query.aggreg

[2018-03-26 14:27] dplewis commented on #4678
Thanks for reporting. I'll have a look.

[2018-03-26 15:03] mullwaden commented on #4664
Looks like that is the issue, nice solve, thanks

[2018-03-26 15:20] dplewis commented on #4664
No Problem!

[2018-03-26 16:16] dongalor commented on #4313
tried upgrading to 2.7.4 and still got no pushes :( what am i doing wrong?

[2018-03-26 16:37] flovilmart commented on #4313
how are your push configured?

[2018-03-26 22:18] khalilsarabey opened #4679 "beforeFind always returns master: false"
Hello!

I'm using beforeFind on a Message class to filter messages according to conversations and everything is working well.
However, in some cases, I want to bypass this filter, specifically when a conversation is deleted, so what I'm doing is I'm running find on Message class and I'm using the master key in order to destroy all those messages, however, beforeFind is always returning master as f

[2018-03-26 22:26] flovilmart commented on #4679
According to the documentation, find only takes one argument http://parseplatform.org/Parse-SDK-JS/api/v1.11.1/Parse.Query.html#find

`message.find({useMasterKey: true})`

No, it’s not a bug.

[2018-03-26 22:26] #4679 closed

[2018-03-26 22:26] khalilsarabey commented on #4679
I'm sorry!
Stupid mistake from my part:

message.find(null, {useMasterKey: true});

should be:

message.find({useMasterKey: true});

[2018-03-27 04:11] estylehq opened #4680 "Not include email (in User) data anymore?"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

If you have a vulnerability disclosure, please follow our policy available here https://github.com/parse-community/parse-server/blob/master/SECURITY.md

You may also search through existing issues before

[2018-03-27 12:04] sauravazad commented on #4678
I have been facing the same issue and it is related to only Date fields , number  works fine.

[2018-03-27 12:10] flovilmart commented on #4680
This is a security feature so your servers don’t leak email addresses from your users. It’s been discussed many times and it’s not going away.

[2018-03-27 12:10] #4680 closed

[2018-03-27 14:59] dongalor commented on #4313
@flovilmart here is cut https://gist.github.com/dongalor/c1ed9443d37430dc729d6fdaab7513fa

[2018-03-27 21:09] iop280 opened #4681 "bodyParser.text() renders Parse unable to process requests (outputs "Unauthorized")"
### Issue Description

I'm attempting to log request payloads for monitoring reasons and it seems that everytime I use the **bodyParser.text()** in my express server (I'm logging Parse JS SDK calls, and it appears that only the bodyParser.text places the payload in req.body), the parse-server is not able to use the rest of the request.

When bodyParser.text() is in place, all requests respond with

[2018-03-27 21:11] flovilmart commented on #4681
Your body parser is conflicting with the JSON body parser that parse-server internally use.

[2018-03-27 21:11] #4681 closed

[2018-03-27 21:18] iop280 commented on #4681
@flovilmart - what solution would you suggest to allow the requests to be parsed by both the Express server as well as Parse-Server?

[2018-03-28 09:51] oallouch opened #4682 "aggregate allows a stage type only once"
We often need to use a stage type (specially project and match) several times in the same pipeline, but the JS-SDK's ParseQuery (the Node part of course) prevents it in its aggregate method:

[code]
Note that, unlike Map, an Object doesn't guaranty order.

For now, I use this workaround:

[code]

Hope that helps.

Olivier, from Paris

[2018-03-28 14:21] dplewis commented on #4682
I can't think of a reason to use the same stage more than once, but if it is supported we should have it here.

Do you have a pipeline you use that shows this issue? A test case would also help.

During my tests the objects were in order all of the time. I do agree that if we pass around an Array instead order will be guaranteed.

[2018-03-28 14:46] oallouch commented on #4682
For instance, you often add a $match (or a project) after a $lookup.
And you often add a $project before a $lookup, to prepare the joined fields.

[2018-03-28 15:11] dplewis commented on #4682
I get why ordering is essential. My question is about same stages being used more than once. I can submit a PR if you have an example I can test with.

[2018-03-28 21:15] GoGross opened #4683 "Unique values for column"
I realized that the _Role collection has a unique value for name column. How do you set that for custom subClasses?

[2018-03-28 21:54] flovilmart commented on #4683
You can see an index on mongodb for the column you want unique. https://docs.mongodb.com/manual/core/index-unique/

[2018-03-28 21:54] #4683 closed

[2018-03-29 06:22] faladinojames commented on #4671
Can you show your full Parse Server configuration?

[2018-03-29 07:33] KiranShenll opened #4684 "Can we include other collection is pointer of that collection is not available?"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

If you have a vulnerability disclosure, please follow our policy available here https://github.com/parse-community/parse-server/blob/master/SECURITY.md

You may also search through existing issues before

[2018-03-29 09:47] oallouch commented on #4682
Ok. I didn't test this code, but it's the global idea:

[code]

Say, I want all the data1 from group A which are linked to, at least 1 user.

[code]

$lookup adds more data on which we can apply new $match or $project stages, for instance.

I hope the code makes sense,
Olivier

[2018-03-29 11:59] flovilmart commented on #4684
Please reopen the issue with all the required information filled in.

If this is a question, please refer to stackoverflow

[2018-03-29 11:59] #4684 closed

[2018-03-30 00:49] JoaoArmandoo opened #4685 "schema to delete a user."
I'm facing some difficulties with updating counters.
I'm developing a "social networking" application, this is my first application.
In the scenario, we have the following situation:
User X has 300 followers.
User Y will in turn follow user X, then I will go to the Follows counter of user X and increase by 1, user X happens to have 301 followers now, and I also go to user Y who has followed up, an

[2018-03-30 11:59] georgesjamous commented on #4591
@flovilmart question, did you mean to set the ACL to masterKey only, on the Role or on all objects protected by the role?

[2018-03-30 13:07] flovilmart commented on #4591
Only on the role, which is the same ideally as the ‘active’ state

[2018-03-30 13:44] georgesjamous commented on #4591
I tried this, but the object was fetched anyway.
Can you confirm that this should not happen?

Created a Test class with only one object.
Set the object's ACL to a Test-Role.
Added the user to the Role and set the role's ACL to masterKey Only.
Then I used the following query to acquire the object with the user's session token.

[code]

Result:
`Log : ID 5aH0dnRY7H`

Expected:
`As I understand the

[2018-03-30 14:03] flovilmart commented on #4591
Yes it’s not the behavior I would expect either. The role a ACL should not be bypassed when we resolve it.

On Mar 30, 2018, 09:44 -0400, Georges Jamous <notifications@github.com>, wrote:

[2018-03-30 16:42] Edijae opened #4686 "parse-server fails to start (parse-server: command not found)"
I have followed the below commands to install parse server locally.
[code]

the server files are downloaded  and stored at `~/.npm-global/lib/node_modules/parse-server$` when i go to that folder and try to run `parse-server --appId myserver --masterKey myserver --databaseURI mongodb://localhost/test` on the terminal, I get the error below

`parse-server: command not found`

When i try to run `npm

[2018-03-30 17:05] flovilmart commented on #4686
Your node version (4.2.6) is outdated, you need to upgrade to a most recent version like 8.11.

[2018-03-30 17:05] #4686 closed

[2018-03-30 17:15] Edijae commented on #4686
@flovilmart did
[code]
interfere with my other mongo db which i had installed by following instructions from mongodb.com?

[2018-03-30 17:17] flovilmart commented on #4686
The issue is not about mongodb, mongodb-runner is safe to use alongside your setup. You need to download and install the latest node version

[2018-03-30 17:51] Edijae commented on #4686
I have updated node to v8.11.1 but when i try to run `parse-server --appId "crusar" --masterKey "crusar" --databaseURI mongodb://localhost/test` from the terminal or from inside `~/.npm-global/lib/node_modules/parse-server/` folder, i get the error `parse-server: command not found` and when i try to run `npm start --appId "crusar" --masterKey "crusar"` i get the error below

[code]

[2018-03-30 17:54] flovilmart commented on #4686
If you use npm start, your  should add `—` before the first parameter:

`npm start — —appId ...`

[2018-03-30 18:05] Edijae commented on #4686
ooh my. that worked. so it means  i have to enter parse-server folder(~/.npm-global/lib/node_modules/parse-server) and run the terminal from there. there is no way to do it directly without navigating to the folder. Isn't It?
Another thing is why did `parse-server --appId "crusar" --masterKey "crusar" --databaseURI mongodb://localhost/test` command fail?

[2018-03-30 18:07] flovilmart commented on #4686
after you reinstalled node, you should probably run `npm install -g parse-server` the parse-server should be available.

[2018-03-30 18:09] flovilmart commented on #4686
if it isn,t it's probably because your PATH environment variable isn't properly configured.

[2018-03-30 19:54] Koosmann commented on #4681
@flovilmart - We are also looking for a solution for this, we just need some mechanism to inspect the request before allowing to proceed to parse-server (note: we'd be using this as a workaround for a hook like this: https://github.com/parse-community/parse-server/pull/4524)

[2018-03-30 19:57] flovilmart commented on #4681
Feel free to open a pull request if you find a solution, but it’s unlikely we’ll look for one given the very narrow use case you’re describing.

[2018-03-30 20:36] Koosmann commented on #4681
@flovilmart Sounds good!  I'm wondering if parse-server could default to using req.body if it exists, so it doesn't try to re-read the stream.  I could look into submitting this, but I imagine there might be wide implications to a change like this too.

[2018-03-30 20:38] flovilmart commented on #4681
As you mention, there may be other implications. I’m not sure we’d want to slow the processing for everyone else just for your case. Also, you could always restore the contents of the body after inspecting it.

[2018-03-30 21:38] Koosmann commented on #4681
That makes sense, and thanks for the input @flovilmart!  I dug into this a little more and realized it's probably more in the scope of the bodyParser module versus parse-server itself and gained some insight here (https://github.com/expressjs/body-parser/issues/207) where it says there's a flag that can be set `req._body = true` to tell instances of bodyParser down the line that `req.body` is alre

[2018-03-30 21:40] flovilmart commented on #4681
It’s fine, it complements the original concern with a potential way to workaround!

[2018-03-31 05:48] Edijae commented on #4686
@flovilmart Awesome.After I set my PATH variable at `/etc/enviroment` `parse-server `command worked.
Thank you @flovilmart for your help. God bless you.

[2018-03-31 08:14] dovewi opened #4688 "when parse-server upgrade to 2.7.4 did't work,why?"
[code]

[2018-03-31 08:40] ranand16 opened #4689 "error while deleting the files from the parse db using CURL command given on the documentation"
As per the [REST API documentation](http://docs.parseplatform.org/rest/guide/#deleting-files), I tried to delete videos from my parse server using the curl command i.e;
curl -X DELETE \
  -H "X-Parse-Application-Id: ${APPLICATION_ID}" \
  -H "X-Parse-Master-Key: ${MASTER_KEY}" \
  https://YOUR.PARSE-SERVER.HERE/parse/files/...profile.png

I used my App Id, master key & parse server url where ever

[2018-03-31 12:09] flovilmart commented on #4688
Please use a more recent version of node JS. 8.11 for example.

[2018-03-31 12:09] #4688 closed

[2018-03-31 22:13] eldefay opened #4690 "[Feature] field level cpl"
Class Level Permissions for individual fields. Function is similar to how User.passwords field is secured. Also the implantation should be handleable by the Parse Dashboard

Example: User.CPL(password)
Read : nobody
Write : System, User

[2018-03-31 22:19] flovilmart commented on #4690
If you wish to open a pull request with that feature we’ll gladly help you through it but at the moment, this is not a feature we’ll actively support.

[2018-03-31 22:19] #4690 closed

[2018-04-02 00:41] iop280 commented on #4681
@Koosmann thanks for digging into this - super helpful, thanks!

[2018-04-02 15:49] jeffreyjackson commented on #4540
how do we get a field back to 'undefined' when using unset in js sdk?  now it sets it to null which isnt the same and breaks older versions.  @flovilmart

[2018-04-02 16:04] jeffreyjackson opened #4692 "is it possible to set a field back to undefined with cloud code?"
I was trying to use unset, but unfortunately sets it to NULL.  is there a workaround for this?  beforeSave trigger is where I'm wanting to implement this.  thank you

[2018-04-02 17:21] dblythy opened #4693 "Email Unverified error returns even with Incorrect Password"
### Issue Description

Logging in with an incorrect password returns email unverified instead of incorrect username or password. I am giving users the option to use  /verificationEmailRequest on error code 205, however error code 205 returned on incorrect password.

### Steps to reproduce

Create an account with preventLoginWithUnverifiedEmail set to true. Login immediately with incorrect password

[2018-04-02 17:21] oallouch opened #4694 "The third-party login lacks a bit of flexibility"
My usernames are emails.
I'd like Facebook or Google logins to automatically link with a potential existing account.

What I did was:
On the client side:
. I use hello.js to retrieve an access-token
. I send the token to the server. I don't call _linkWith on the client, otherwise a User might be created with a random username.
. The server uses the access_token to retrieve the email using an OAuth

[2018-04-02 17:47] flovilmart commented on #4694
I'm not sure this is an issue with parse-server itself. It seems to tie together the 3rd party auth and a particular piece of your logic (that you require emails and username to be the same and only thing) and make additional assumptions on the mail provided by facebook / google (they are optional) etc...

What changes do you want to see in parse-server?

[2018-04-02 22:05] saulogt opened #4696 "Unable to rely on express error handler to get contextualized error"
In previous versions of `parse-server,`(<2.3), I was able to handle generic errors in express.js error handler, but that capability has been removed (~ one year ago) by this PR https://github.com/parse-community/parse-server/pull/3431/commits/145a1fe23b6f20567580e54101a20bcbc7ecf446.

It basically replaces `next(err)` by `log.error(err.message, err)` assuming that calling the default error handler

[2018-04-02 22:12] flovilmart commented on #4696
If you check the details of the PR, it’s actually on purpose that the next(err) call has been removed.

Closing as this is the intended behavior. Feel free to open a PR that preserves the current behavior and enable you to achieve what you’re expecting.

[2018-04-02 22:12] #4696 closed

[2018-04-03 08:25] oallouch commented on #4694
I'd love to be able to login on the server (using the masterKey) and retrieve the sessionToken.

Passing the username for a _linkWith with an automatic linkage would be great, but it would add the notion of verified e-mail and a interface change for the OAuth modules, so no.

[2018-04-03 12:06] Nes-si commented on #275
Do you have any plans to update docs? Isn't it time?
http://docs.parseplatform.org/parse-server/guide/#welcome-emails-and-email-verification

[2018-04-03 12:09] flovilmart commented on #275
@nes-si feel free to open a PR.

[2018-04-03 15:28] oallouch commented on #4694
Oups. I forgot : I would have loved to have a server _linkWith with the masterKey (see the workaround above)

Thx

[2018-04-03 20:44] Edijae commented on #4686
@flovilmart I deployed the server sample app instead of this and it worked.

[2018-04-04 06:36] ranand16 commented on #4689
curl -X DELETE
-H "X-Parse-Application-Id: ${APPLICATION_ID}"
-H "X-Parse-Master-Key: ${MASTER_KEY}"
https://YOUR.PARSE-SERVER.HERE/files/...profile.png

The above command gave me the result. So, the documentation is incorrect.

[2018-04-04 06:36] #4689 closed

[2018-04-04 10:46] joshkopecek commented on #4640
@dplewis did these changes make it in?

[2018-04-04 20:08] josephkandi opened #4698 "Google auth is invalid for this user."
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

If you have a vulnerability disclosure, please follow our policy available here https://github.com/parse-community/parse-server/blob/master/SECURITY.md

You may also search through existing issues before

[2018-04-04 20:14] flovilmart commented on #4698
What are you using for the id/access_token? How to you acquire them?

[2018-04-04 20:55] flovilmart commented on #4698
And the id corresponds the the acquired ID?

[2018-04-04 22:30] josephkandi commented on #4698
The id is my email username. You dont acquire an id from that endpoint but you get the an id_token, is the id the id_token? I thought from code here

`function validateAuthData(authData) {
  if (authData.id_token) {
    return validateIdToken(authData.id, authData.id_token);
  } else {
    return validateAuthToken(authData.id, authData.access_token).then(() => {
      // Validation with auth token

[2018-04-04 22:33] flovilmart commented on #4698
The id is this case is clearly not the email username, but the user id for the google services, provided by google after you make your oauth authentication calls.

If you have an id_token, you can pass id/id_token pair instead of id/access_token, both are supported

[2018-04-04 23:01] paulovitin commented on #4693
Im not understand the wrong behavior.

The docs says: `set preventLoginWithUnverifiedEmail to true to prevent user from login if their email is not verified`

So, if you set true, the error returned its correct. I missing something?

[2018-04-04 23:07] paulovitin commented on #4685
Based on your scenario, yes, you need to do this, but this operation dont need to happen in the same time of user delete his account. You can do this in background gradually.

The answear is based in your scenario. :)

[2018-04-04 23:29] josephkandi commented on #4698
Using the app i can retrieve my profile details on this endpoint `https://www.googleapis.com/oauth2/v2/userinfo` using the access_token i get on the app. The same access token am unable to authenticate with parse to login a user.

[2018-04-04 23:39] flovilmart commented on #4698
Yes because you need to provide the user ID from google. As long as you pass the id as an email, this won’t work. As for how to acquire the id for the google user, check the google login documentation.

[2018-04-04 23:44] josephkandi commented on #4698
Am not passing the id as email, am using the client id from Google API console.

Using Postman, i can make the same request using the access toke and get back the following :

`{
    "azp": "21547282892-gc6ih5922efrnpvlgh7fh25n40m3it7d.apps.googleusercontent.com",
    "aud": "21547282892-gc6ih5922efrnpvlgh7fh25n40m3it7d.apps.googleusercontent.com",
    "sub": "112694148092739840900",
    "scope":

[2018-04-04 23:47] josephkandi commented on #4698
Clearly the issue is not with the token. The token works as i have used it in two places, using Postman locally and on the Google OAuth 2 Playground. I have also decoded the id_token and its a valid jwt token. So those are valid and not the issue.

[2018-04-04 23:49] flovilmart commented on #4698
As per the documentation, parse requires a user `id` that identifies uniquely your user in the scope of the google authentication. https://github.com/parse-community/parse-server/blob/master/src/Adapters/Auth/google.js#L8

In your case, given the response, you should probably pass the `sub`value as the id:

[code]

[2018-04-04 23:49] #4698 closed

[2018-04-04 23:51] josephkandi commented on #4698
Still that does not work

[2018-04-04 23:52] flovilmart commented on #4698
This should work, double check your parameters, id, id_token or access_token and make sure you pass the right values. I can assure you it works, as we use it in production currently.

[2018-04-04 23:55] josephkandi commented on #4698
Nope, checked and re-checked. No joy. Why do i get a 404 not found from parse?

[2018-04-04 23:56] flovilmart commented on #4698
what is your payload that you send?

[2018-04-04 23:59] josephkandi commented on #4698
`{
	"username": "joey2",
	"authData": {
		  "google": {
		    "id": "2112694148092739840900",
		    "access_token": "ya29.GluTBYW2fX7c26l5u_WKNPpFiz3mRLragUhvjLyhPu4dMtVxIPAyVRtbN8ka4GGfr1H5hQXYFmWagBCPp745HKMPrnYI4okL4QG2WlfN1pAVOKa40w8to7SNri2S"
		  }
	}
}`

application/json

This works fine for Facebook

`{
	"username" : "josephk",
	"authData" : {
	  "facebook": {
	    "id": "127698748074950",

[2018-04-05 00:01] josephkandi commented on #4698
Logs from Heroku

`2018-04-05T00:00:50.046836+00:00 app[web.1]: verbose: REQUEST for [POST] /parse/users/: {
2018-04-05T00:00:50.046853+00:00 app[web.1]:   "username": "joey2",
2018-04-05T00:00:50.046856+00:00 app[web.1]:   "authData": {
2018-04-05T00:00:50.046858+00:00 app[web.1]:     "google": {
2018-04-05T00:00:50.046861+00:00 app[web.1]:       "id": "2112694148092739840900",
2018-04-05T00:00:5

[2018-04-05 00:11] flovilmart commented on #4698
I'm not sure why but the id that you have in your logs don't correspond with the `sub`property

2112694148092739840900 != 112694148092739840900 is that normal?

[2018-04-05 00:17] flovilmart commented on #4698
Also when I try the access token against the validation endpoints, it yeilds an error.

[code]

[2018-04-05 00:24] flovilmart commented on #4698
so the id value that need to be passed is `112694148092739840900`. 

[2018-04-05 00:25] josephkandi commented on #4698
Yes, am passing that and still doesnt work

[2018-04-05 00:25] flovilmart commented on #4698
can you provide the logs? in the preivous logs that wasn'T what was passed.

[2018-04-05 00:26] josephkandi commented on #4698
`2018-04-05T00:25:49.553795+00:00 heroku[router]: at=info method=POST path="/parse/users/" host=parse.peruzal.com request_id=0eb14552-c71a-4c81-9dd7-02c3e3317bf3 fwd="41.145.73.111,172.68.186.53" dyno=web.1 connect=0ms service=85ms status=404 bytes=591 protocol=http
2018-04-05T00:25:49.470915+00:00 app[web.1]: verbose: REQUEST for [POST] /parse/users/: {
2018-04-05T00:25:49.470927+00:00 app[web.1]

[2018-04-05 00:27] flovilmart commented on #4698
In your logs, your access token is invalid.

[2018-04-05 00:36] josephkandi commented on #4698
Dankie, working, sent an expired token. I think the docs need to be updated to reflect what sort of an id is required. The issue was the id was not the client id from Google Console but rather the `subject` of the jwt. Shouldn't the code be refactored, am not sure whats the reason behind using the `sub`  field here

`function validateIdToken(id, token) {
  return request("tokeninfo?id_token=" + to

[2018-04-05 00:44] flovilmart commented on #4698
That's what I thought, this is why I suggested multiple times that you double check what you were sending.

I've always mentined the ID as the user ID (which is also the subject of the jwt), you can retrieve the user ID easily following the google documentation: https://developers.google.com/identity/sign-in/ios/people

The sub field here is what is being sent back by the google endpoints which we

[2018-04-05 00:54] josephkandi commented on #4698
Alright, thanks, will do a PR.

My thinking is there's no need for an extra step to validate the sub field once you get the response from Google.

If you are able to sign in a user in the first place then, that should be good enough without having to do extra validations. If thats a malicious user, that user already can get an access token to retrieve the details they require anywhere.

Also getti

[2018-04-05 00:57] flovilmart commented on #4698
What guarantees that the data belongs to the right user? Without validating the sub, anyone could impersonate any other user after all... any data coming from a client is untrusted by default. So we will not change this validation nor the logic in this adapter.

[2018-04-05 05:36] markuswinkler commented on #4677
Found what caused it. iOS >= 11.2 breaks Universal Links. 😡
Work around was to use a UIWebView with a local url scheme instead of SFSafariViewController.
Thought I post this here in case anybody else runs into this issue.

[2018-04-05 14:53] JacobJT commented on #4685
Instead of storing the number, you could calculate it if you had a Follower join table. Then you could just do a query.count() with constraints for the current user following / being followed to get the counts.

[2018-04-05 14:57] JoaoArmandoo commented on #4685
@JacobJT  I have in the user class, a relation with all the users that follow it, I must make a query.count (); in relation if so. The parse will not have to count all objects 1 by 1?

[2018-04-05 17:04] JacobJT commented on #4685
@JoaoArmandoo I haven't worked a ton with relations so I'm not sure how their counts work. Join tables are a fairly common solution for this, though.  A Following class, with Follower user pointer and Following user pointer, and you could do `var query = new Parse.Query("Following").equalTo("Following", currentUser)` would let you do a count. It does take a server call each time, but it shouldn't

[2018-04-06 10:29] eleynes commented on #4678
Any updates on this? TIA

[2018-04-06 16:44] petritzdesigns commented on #4444
My quickfix does not really work…

[2018-04-06 18:02] wawilliams003 opened #4701 "Config files to change max upload size"
I have parse setup and running on heroku. How can I access the config files to change parse  **max upload size**, to 100MB?

[2018-04-06 18:57] ronnno opened #4702 "Facebook Graph API 2.5 expires April 18, 2018"
In version 2.7.4:

As described in  #4638 (fixed in commit #4650) Facebook auth adapter uses a soon to be expired endpoint (version) of the facebook API.
 ([from here](https://developers.facebook.com/docs/graph-api/changelog)):
[code]
Is this a concern for those using facebook login?

Thanks,
Ron

[2018-04-06 19:25] ronnno commented on #4638
@flovilmart I'm not sure I understand if this is a concern or not. the code validates our tokens using a url that should be closed as of April 18th.
Do you believe this URL will keep working? I'm concerned that even for token validation, which may not have changed, there may be issues with this url: https://graph.facebook.com/v2.5/

Thanks,
Ron

[2018-04-06 19:35] #4702 closed

[2018-04-06 19:36] ronnno commented on #4702
duplicate of  #4638

[2018-04-06 20:09] ranhsd commented on #4665
Somebody know the answer for the question above or should I close it?

[2018-04-06 21:33] flovilmart commented on #4638
The login won't succeed but we'll probably make a release soon as the fix has been merged to master.

[2018-04-07 17:38] mtrezza commented on #1023
+1 (to keep this alive)

[2018-04-07 20:07] flovilmart commented on #1023
Feel free to open a pull request for a reference implementation, but i’ll Be closing this issue as it’s an off process job that may take a very long time to complete in order to clean dereferenced files. It’s not something that I as a maintainer want to actively work on (as stated many times) but I’ll hladly review a pull request if any change to parse server is needed for that feature.

As mentio

[2018-04-08 13:25] venkataramanab opened #4704 "addAllUnique() on Parse.User is not a function"
### Issue Description

Parse.User.addAllUnique() is not a function

### Steps to reproduce

Used on Parse Cloud Code on beforeSave(Parse.User,{})

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 2.7.4
  - Operating System:     Mac 10.10.5
  - Localhost or remote server? (AWS, Heroku, Azure, Digital Ocean, etc): localhost

- **Database**
  - MongoDB

[2018-04-08 13:34] flovilmart commented on #4704
Can you double check your parse server and JS SDK version? Are those methods available on any other object?

[2018-04-08 14:26] mchun opened #4705 "One user one session only?"
I have just updated parse-server to the latest (2.7.4) from 2.3.x and noticed a different behaviour about session. When a user login in multiple devices, instead of creating multiple session objects, session object is being overwritten, and so the user is kicked out in other devices. When is this change introduced and can I revert back to the previous one, where multiple session for the same user

[2018-04-08 14:33] mchun commented on #4705
The old session is not overwritten but deleted instead, as I find the new session objectId is different.

[2018-04-08 14:46] flovilmart commented on #4705
Sessions should not be deleted as long as a different installation ID is provided. Can you provide the logs on the server please when running with VERBOSE=1

[2018-04-08 14:47] flovilmart commented on #4705
Also, 2.3.x is a year old, you should probably stick to more frequent updates.

[2018-04-08 14:56] mchun commented on #4705
I do not touch any session object by myself and am doubt if the new parse-server does that somewhere. I have just downgraded back to 2.3.8 and the problem is gone now.

[2018-04-08 14:58] flovilmart commented on #4705
Can you provide the logs when running with VERBOSE=1 please?

[2018-04-08 15:27] flovilmart commented on #4705
You’re logging in inside a cloud function, you need to pass the installationId that made the request (req.installationId) into your login call in the cloud function.

[2018-04-08 15:27] #4705 closed

[2018-04-08 16:04] mchun commented on #4705
Thanks!

after changing :
Parse.User.logIn(phoneNumber , password)
to:
Parse.User.logIn(phoneNumber , password, { installationId : req.params.installationId })

The problem has been solved.

[2018-04-08 19:49] broshka opened #4706 "ParseServer does not delete Session object on uninstall the application"
If user uninstall the application the session is not deleted on Server.

[2018-04-08 19:50] flovilmart commented on #4706
This makes sense, deleting a session is achieved with calling logOut

[2018-04-08 19:50] #4706 closed

[2018-04-08 19:57] venkataramanab commented on #4704
After updating to parse@1.11.1 resolved my Issue.

[2018-04-08 19:57] #4704 closed

[2018-04-08 20:00] venkataramanab commented on #4704
before updating to parse@1.11.1, I didn't see this in ParseObject.js
[code]

[2018-04-08 23:26] flovilmart commented on #4704
Awesome!

[2018-04-09 05:44] ashish-naik opened #4707 "How to implement Parse query properly to get ordered data?"
I have below code to build a query out of two queries.

Issue is result is not sorted by updatedAt.

What could be the issue?
[code]

Didn't get any answer in stack Overflow so posting here.

Thanks
Ashish