[2021-02-02 06:43] tiavina-mika opened #7162 "Error: "Unable to connect to 'http://localhost:1337/parse'" with NextJs (React)"
I'm using a custome NextJs server with express and Parse Server.

here is my custom server:

`
/** ----------------------------------------------------- */
/** ------------------- Custom Server ------------------- */
/** ----------------------------------------------------- */

const express = require('express');
const dotenv = require('dotenv');
const next = require('next');
const path = require(

[2021-02-02 18:56] felix-ht commented on #6733
I can confirm - we have the same issue

[2021-02-02 19:23] bdevore17 commented on #6733
Same!

[2021-02-02 19:31] oproulx commented on #6940
It does feel like this is inconsistent.

I feel like the `fetch` is doing a `GET` on the `_User` class, which is why it is being caught by the `CLP`.  According to [this](http://docs.parseplatform.org/ios/guide/#security-edge-cases), I feel like the fetch should really be doing a /parse/users/me, which should bypass the CLP.

We found a workaround using the `sessionToken`.

You can use the `sessio

[2021-02-02 21:50] felix-ht commented on #6733
@JeromeDeLeon

So i found the reason and a solution.
`getResponseObject ` calls `_getSaveJSON`  this in turn removes the objectId.

A simple solution would be to add this to the resolver of `getResponseObject `. This fixes the issue - as it adds the id back if it is missing from modified object!

[code]

another option would the to just remove `_getSaveJSON` if allowCustomObjectId is set. This sho

[2021-02-03 03:03] dplewis commented on #7162
I transferred this issue to the Server repository. Possible duplicate of https://github.com/parse-community/parse-server/issues/4506

Does `GET http://localhost:1337/health` return status 200?

[2021-02-03 10:15] #6195 closed

[2021-02-03 10:31] dplewis commented on #6899
Closing via https://github.com/parse-community/Parse-SDK-JS/releases/tag/2.19.0

[2021-02-03 10:31] #6899 closed

[2021-02-03 17:44] dblythy opened #7163 "Ability to register auth via cloud code"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-04 03:31] ArkeshGKalathiya commented on #7139
Can you please give me suggestion about where I can write test case? Do I have to pull parse-server repo and put test case there? or separate code would be sufficient?

[2021-02-04 10:23] mtrezza commented on #7139
Yes, you would
- fork Parse Server
- clone it locally
- create a new branch
- add a test to an already existing test file, such as https://github.com/parse-community/parse-server/blob/master/spec/ParseServerRESTController.spec.js (there may be another one that is more focused on schema changes)
- push the branch to your fork on github
- submit a PR to the Parse Server repo with your branch

You ca

[2021-02-05 10:22] JeromeDeLeon commented on #6733
It would be better if you could create a PR for this to further discuss this. @felix-ht

[2021-02-07 14:42] mtrezza opened #7169 "Add tests against multiple Node.js versions"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-07 22:16] #7160 closed

[2021-02-08 08:53] jdposthuma commented on #6390
@sunshineo - thanks for this. Hugely helpful to be able to leverage JWTs in our deployment of parse (eg: offline authentication, abstracting authentication from authorisation).

I'm running into a couple of problems. How did you solve the following issues:
- `/me` endpoint that relies directly on the token store
- How to "log in" the user in the JS SDK. Don't want to have to make an API call, if I

[2021-02-08 17:15] mtrezza opened #7171 "Introduce PR review policy"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-09 01:27] dblythy commented on #7171
I agree, although I think the community understands that the core maintainers have their own projects and schedules to uphold, and that it takes a notable period of time for the core team to review every PR for quality. I imagine this can sometimes be tedious for rather large PRs, especially when you guys have been doing this for a few years now. Not to mention the amount of time you guys spend tr

[2021-02-09 13:03] #7127 closed

[2021-02-09 23:18] sunshineo commented on #6390
Not sure about the /me endpoint but my change is merged in so if you provide JWT on the request to /me endpoint it should work

If you have a JWT, you can try make a dummy request to your backend and verify if the JWT works. If it works, your frontend can treat the user as "logged in", if not, say the JWT expired, you should discard the JWT and frontend shows as the user is not logged in.

[2021-02-10 00:17] mtrezza commented on #6390
This seems to have been stale-closed. We have since disabled the stale bot from this repo to handle issues manually. I'm therefore reopening.

[2021-02-10 10:09] jdposthuma commented on #6390
Yes, I'm assigning the parse user that I instantiate from my JWT to `req.userFromJWT`. Thanks for the feature!

I also discovered properties in the Parse JS SDK that allow my JWT to be passed in the header as a bearer token:
[code]

This works well for me as I'm trying to run parse behind behind AWS API Gateway (with a lambda authorizer) using tokens generated from Cognito.

I do need to fork this

[2021-02-10 14:19] mtrezza commented on #7162
I'm closing this as it lacks essential information required to investigate the issue. Please follow up on any questions asked and further steps suggested in the thread and we can re-open this issue.

[2021-02-10 14:19] #7162 closed

[2021-02-10 14:21] mtrezza commented on #7139
@ArkeshGKalathiya Do you need any help for creating a test case?

[2021-02-10 14:26] mtrezza commented on #7082
@NuclleaR Thanks for investigating. Would you open a PR with a test case, so we can go ahead and fix this?

[2021-02-10 15:38] mtrezza commented on #7082
This has been classified as a bug with severity 2:
- Workaround: unknown
- Fix: needs investigation

[2021-02-10 15:54] mtrezza commented on #7082
I was able to reproduce this issue and create a failing test case.

There seems to be two issues here:

1)
[code]

Fails because `toJSON()` does not encode the `className` and `__type`. That is maybe not directly related to this issue, but  I stumbled upon it anyway.

2)
[code]

Fails, `date` is `undefined` in the trigger. I was not able to get a date passed to the `afterLiveQueryEvent`, no matter

[2021-02-10 16:01] dblythy commented on #7082
Sorry @mtrezza! I was looking at this too as it made me sad to see that my feature afterLiveQuery event wasn't working the way we expected.

I think it's an issue with the JS SDK as this fails:

[code]

I guess either way works, but I think Parsing a `Date` field in JSON should set the Parse.Object field to a date too.

[2021-02-10 16:02] mtrezza commented on #7082
Do you want to look into this? Now that we have a filing test and identified 2 issues, it seems the fix is not far.

[2021-02-10 16:49] dblythy commented on #7082
I'm expecting addressing the SDK not being able to convert JS dates in JSON objects to a Parse.Object should fix this issue. I've opened a [PR](https://github.com/parse-community/Parse-SDK-JS/pull/1293) in the SDK 😊

[2021-02-10 16:50] sadortun commented on #5138
@acinader @Simone-cogno was this actually resolved?

Seems like there is no clear indication in the docs.

Also, would it be possible to add support for either `.` or `/` ?

If so, please reopen and I'll try to submit a PR

[2021-02-10 16:54] dblythy commented on #7158
Closing as this feature is now available on the [example repo](https://github.com/parse-community/parse-server-example) using `npm run watch`

[2021-02-10 16:54] #7158 closed

[2021-02-10 17:30] mtrezza commented on #5138
Thanks for picking this up.

Since this is over 2 years old and we have a new template for this, if you want to propose this enhancement and work on a PR, please open a new issue and reference this issue.

[2021-02-10 17:30] cbaker6 commented on #7169
@mtrezza I definitely appreciate this and your multiple mongo version PR!

Last year I had a PR that tested multiple (2) versions of Postgres. We opted for only testing one at the time because travis had the limitation of running 5 tests at once. I believe Github Actions doesn't limit (or at least we are no where near it) the amount of linux tests. What do you think about adding multiple versions

[2021-02-10 17:57] OpConTech opened #7175 "countObjectsInBackgroundWithBlock throwing: Permission denied for action count on class"
- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [X] I can reproduce the issue with the [latest version

[2021-02-10 18:15] mtrezza commented on #7169
@cbaker6 Funny that you wrote that comment, I was thinking about asking you about this, you being one of the the Postgres experts here. I think it would be great to add this for Postgres.

The challenge for me was to find a source that provides the current MongoDB versions. I's start off researching this for Postgres.

[2021-02-10 18:56] mtrezza commented on #7175
Thanks for reporting.

Before we can process this, please check the required boxes in the template where appropriate. If you have any questions regarding these boxes, please let us know.

[2021-02-10 20:31] TomWFox commented on #7171
What sort of timeframe do you have in mind?

I don't think it's feasible unless the time guide was really long (1-3 weeks perhaps). In an ideal world where we had 2 or 3 maintainers paid through OC (or the companies they work for) working a couple days a week then a short timeframe could work.

As it is, if we had a short timeframe (i.e. 3-7 days) I think that sets the team up for failure and coul

[2021-02-11 00:52] mtrezza commented on #7171
Ideally I would like us to go from the current undefined status quo to a loosely defined time frame.

There are some critical tasks that could benefit from defined time frames, such as vulnerability fixing or bug fixing and, I would say also PR feedback / review.

But I agree with your points, it needs to be a balance of enough time to review and timely feedback.

I just noticed that PRs sometimes

[2021-02-11 01:43] cbaker6 commented on #7169
Not sure we need the version check for postgres since it uses a docker image for postgis directly. The values used in the image will always pull the latest page for the respective major version. The only exception is when a new Postgres major version comes out like Postgres 14, which will need to be added manually. Here are the tags to show what I mean: https://registry.hub.docker.com/r/postgis/po

[2021-02-11 01:54] mtrezza commented on #7169
I see, so you wanted to manually add more Postgres versions to the CI? That is surely an easy fix.

I was referring to the PR I added for MongoDB which contains a CI Self-Check that automatically checks whether the CI tests with he latest MongoDB versions. As soon as MongoDB releases a new minor or patch version (which they do every few weeks), the CI test will fail and we're reminded to bump the

[2021-02-11 01:58] cbaker6 commented on #7169
Yes, also, with the way Postgis creates their tags, the latest minor will always be pulled just by just specifying, `postgis/postgis:10-3.1`, `postgis/postgis:11-3.1`, etc. So the postgis will be like your mongo one, except we don't need to check for patch releases, only major releases

[2021-02-11 01:59] cbaker6 commented on #7169
I guess a similarity would be the postgis version, but postgis doesn't release a lot of patched versions

[2021-02-11 02:05] mtrezza commented on #7169
Do you think we can remove `POSTGRES_MAJOR_VERSION` from the CI file?

https://github.com/parse-community/parse-server/blob/7f47b0427ea56214d9b0199f0fcfa4af38794e02/.github/workflows/ci.yml#L128

It seems to be used only for a log output?

https://github.com/parse-community/parse-server/blob/54a61b76949fe8a9a1a8683dce7aee7e6214d805/scripts/before_script_postgres.sh#L5

[2021-02-11 02:08] cbaker6 commented on #7169
Good questions. This looks to be left over from scripts I wrote for travis that are now used for Actions. It's only used in one place now to print the version number to the script. Previously, this was needed because the script needed to behave differently with different versions, but not anymore

So it can be removed

[2021-02-11 02:09] mtrezza commented on #7169
I realized your PR solves this by setting it as a var from the matrix. I was just worried about forgetting to update in two places, but we can leave it there then.

[2021-02-11 04:01] ArkeshGKalathiya commented on #7139
@mtrezza No, I was just busy with other stuff. I will soon add test case and submit PR.

[2021-02-11 04:44] dplewis commented on #7175
Count is an expensive operation and has security risk, I would advise against using it. Check your CLP and see if count is enabled, if you need it.

<img width="1016" alt="Screen Shot 2021-02-10 at 10 42 18 PM" src="https://user-images.githubusercontent.com/9830365/107603130-70e0c080-6bf1-11eb-8a29-e1b8ecd77fbc.png">

[2021-02-11 05:23] dblythy opened #7179 "Cloud validators fail with type: Array when an array is provided"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-11 06:29] #7179 closed

[2021-02-11 14:10] mtrezza opened #7180 "Fix flaky tests"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-11 14:10] mtrezza commented on #7094
Closed in favor of #7180

[2021-02-11 14:10] #7094 closed

[2021-02-11 14:25] mtrezza commented on #7180
@dplewis Do you have any idea how we can investigate this? Maybe add NewRelic to it to get the call stack when a test fails?

[2021-02-11 14:46] sibis opened #7181 "Latest docker build fails - cannot find module `graphql-tag`"
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue with the [latest version

[2021-02-11 16:15] OpConTech commented on #7175
Hmmm... my CLPs for this class (and other classes) jus show this:

![Screen Shot 2021-02-11 at 8 12 02 AM](https://user-images.githubusercontent.com/2111943/107664364-30a92e80-6c41-11eb-9c45-2db2ae3e7ddb.png)

[2021-02-11 16:25] mtrezza commented on #7181
Thanks for reporting.

To report an issue, please use the issue template provided when you create an issue. The template asks for essential information which helps us to investigate the issue.

[2021-02-11 16:33] sibis commented on #7181
There is a new docker image released 10 hours ago. But it's breaking when I run it.

Hope this information is enough. Apologies for not following the template format. Will do it from now

[2021-02-11 16:59] #7169 closed

[2021-02-11 17:28] dplewis commented on #7175
Glad it worked

[2021-02-11 17:28] #7175 closed

[2021-02-11 17:30] OpConTech commented on #7175
Now that I was able check the  CLP .count box everything is working good again.

Just to be complete, the way this happened was I bumped from 3.x to 4.5 and my counts stopped working. As I show in my post above the default CLP's for 4.5 seem to be default checked for everything in a Class except .count

The only reason my code had been using .count for so many years was because I was under the imp

[2021-02-11 17:34] dplewis commented on #7175
Thanks for the feedback. Have you tried the latest version of the dashboard? Feel free to open feedback to their respective repos

[2021-02-11 20:53] sibis opened #7182 "Local setup fails stating `Cannot find module 'graphql-tag'`"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-11 20:54] #7181 closed

[2021-02-11 22:22] mtrezza commented on #7181
@sibis No worries, we are glad you are contributing by reporting this issue. Just to mention it, you could have just edited the issue here, would have been fine too. For reference, this discussion continues in https://github.com/parse-community/parse-server/issues/7182, I will mark this as duplicate.

[2021-02-11 22:25] mtrezza commented on #7182
Thanks for reporting.

Maybe related to https://github.com/parse-community/parse-server/issues/6924.

[2021-02-12 02:04] mtrezza commented on #7036
Maybe related: https://github.com/parse-community/parse-server/pull/6636#issuecomment-777058301 describes increasing memory with `directAccess: true`

[2021-02-12 02:07] mtrezza commented on #7036
Maybe related: https://github.com/parse-community/parse-server/issues/6405 describes slow queries with certain Parse Server / Node versions

[2021-02-12 11:03] mtrezza opened #7185 "Add auto-creation of PR for upgrade of MongoDB / Node.js CI env"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-12 20:47] ritterb82 commented on #7182
Is there a way to solve this on local?

[2021-02-12 21:26] davimacedo commented on #7182
Yes. You can build your container from my branch: https://github.com/back4app/parse-server/tree/fixDockerImage

[2021-02-13 00:26] dblythy commented on #7093
This can be closed, as on the master you can pass:

`requireAnyUserRoles`: request.user must match one of the specified roles.
`requireAllUserRoles`: request.user must match all of the specified roles.

[2021-02-13 00:36] #7093 closed

[2021-02-13 16:33] mtrezza opened #7190 "Add benefits of PR to Contribution guide"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-13 16:36] mtrezza commented on #7190
@TomWFox what do you think and are you aware whether we have anything similar yet anywhere?

[2021-02-13 16:46] dblythy commented on #7190
I really like the suggestion. I think the more we do to make pull requests more accessible for new developers, the better for our community.

I've said this before but Parse is the first project I've ever submitted a PR to, and I'd imagine a lot of our devs would be the same. I found it intimidating at first and avoided tackling bugs I'd found for literally 3 years, let alone features that I'd tho

[2021-02-13 17:33] TomWFox commented on #7190
I really like it, I must say I'd never really considered any benefits to the contributor beyond 'giving back' and self-improvement.

It feels like something that would be good to highlight before people get to the contributing guide as by that point they may already be considering making a PR, although even if they are it could reduce the chance of abandonment so happy for something like this to b

[2021-02-13 19:17] mtrezza commented on #7190
Yes, maybe we can incorporate it in the issue template, but for sure it can be used during the issue conversation by just referencing to the chapter.

How would that play with the repo-specific instructions in the existing contribution guides?

[2021-02-13 20:00] TomWFox commented on #7190
Definitely, with all these improvements to the guide we should make sure to point people to it, for example when saying 'would you be willing to submit a PR?'

It would only be visible in repos which don't have an existing guide so unfortunately we can't have centralised general info and repo specific info (unless we used links to other documents).

[2021-02-13 21:06] ritterb82 commented on #7182
Also, wanted to point out that i couldn't install the packages due to also installing parse-dashboard, because of same basic error.  Resolved my issuess by downgrading npm from v7 to v6 (  6.14.11 ).

[2021-02-15 22:12] sunshineo opened #7192 "Invalid date iso with beforeSave make server unhandled promise rejection and request hanging"
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue with the [latest version

[2021-02-15 22:37] mtrezza commented on #7192
Thanks for reporting.

Can you please add a code example to demonstrate the issue you are referring to?

[2021-02-16 06:05] davimacedo commented on #7180
The way I do is basically creating a loop around the test and making it to execute let's say 100 times. By this way you can see it failing and you can debug. I am tackling the second one now.

[2021-02-16 07:59] fastrde opened #7195 "Docker Container not starting: Cannot find module 'graphql-tag'"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-16 08:44] davimacedo commented on #7195
Duplicated with https://github.com/parse-community/parse-server/issues/7182

[2021-02-16 08:44] #7195 closed

[2021-02-16 08:50] davimacedo commented on #7180
https://github.com/parse-community/parse-server/pull/7196 probably solves items 2 and 3

[2021-02-16 10:57] miguel-s opened #7197 "GraphQL error when returning array fields in cloud function"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-16 13:09] #7190 closed

[2021-02-16 13:47] mtrezza commented on #7021
Seems related to https://github.com/parse-community/parse-server/pull/6743 and https://github.com/parse-community/parse-server/pull/6636.

[2021-02-16 14:14] mtrezza commented on #7137
It seems the fact that the password reset / email verification token have an expiration date is simply a matter of security policy. It does not seem to have any other practical significance.

If we want to preserve this choice, and unless we want to make it all configurable:
- the above options a) and d) are not viable
- option c) would be half-baked because it does not solve the issue for both ro

[2021-02-16 14:36] mtrezza opened #7198 "Add Phased Deprecation Policy"
Issue moved to be part of https://github.com/parse-community/parse-server/issues/7271.

[2021-02-16 15:02] Etto91 opened #7200 "ERR_HTTP_HEADERS_SENT when throw an Error in validateAuthData"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-16 18:04] sunshineo commented on #7192
Not sure how to provide a code example to setup class with Date and beforeSave and post with invalid date. But anyone read my description should be able to reproduce on their server

[2021-02-16 21:40] davimacedo commented on #7200
Thanks for reporting. Would you be willed to send a PR with a failing test case and help to fix the problem?

[2021-02-16 21:44] davimacedo commented on #7137
It sounds like a plan.

[2021-02-17 01:21] davimacedo commented on #7197
Do you have any custom GraphQL model or cloud function in place for the User class?

[2021-02-17 06:11] sadortun opened #7202 "How to increment a nested object field ?"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-02-17 06:26] #7202 closed

[2021-02-17 06:27] sadortun commented on #7202
moved -> https://github.com/parse-community/Parse-SDK-JS/issues/1299

[2021-02-17 07:45] miguel-s commented on #7197
Hi @davimacedo

Our custom GraphQL schema is very simple, it's basically what I wrote above.

We can replicate this issue with other classes, too. For exampl, we have an `Item` class with a `tags` field (array of strings). If we change the types of the `search` cloud function to use this class we get the same error on the array field.

[2021-02-17 10:30] whitelizard commented on #3938
Hello,
Has there been any progress in this direction?

From my perspective, a connection to OrientDB would be really interesting!

[2021-02-17 13:01] mman opened #7204 "parse-server ignoring my public_html folder for static files, serves files shipped with parse-server"
### New Issue Checklist

- [ x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ x] I can reproduce the i

[2021-02-17 13:15] mtrezza commented on #3938
It is unlikely that there will be supported database adapters beyond MongoDB and Postgres that are fit for production environment. A database adapter requires a lot of effort because it sits between the database and Parse Server, both of which are continuously evolving and therefore requiring updating to provide the stability expected in a production environment. Without a group of maintainers tha

[2021-02-17 15:41] mtrezza commented on #7204
Thanks for reporting.

This is expected - although not optimal - behavior when running Parse Server as a module. Feel free to provide a PR to fix this, ideally via a path parameter in the Parse Server options.

Alternatively feel free to enable the `PagesRouter` that allows you to specify the path and other options. The router is still experimental and is not officially fit for use in production c

[2021-02-17 15:44] mtrezza commented on #7204
I have classified this as bug with severity S3:

- Workaround: Use `PagesRouter`.
- Fix: Introduce Parse Server option to manually set the path for the public directory.

[2021-02-17 15:46] mman commented on #7204
Thank @mtrezza for classifying this. I will very probably go with the ``PagesRouter`` but wanted to have this documented.

[2021-02-17 15:48] mtrezza commented on #7204
Sure, please provide any feedback including possible optimizations for the PagesRouter.

[2021-02-18 01:10] davimacedo commented on #7197
Thanks for the details and also sharing the solution @miguel-s . Would you be willed to tackle this issue?

[2021-02-18 18:34] irfanabdulkhaliq commented on #2936
what wass error

[2021-02-18 20:00] davimacedo commented on #7180
Few more flaky tests that I've observed:

1) rest create test specified session length
49
  Message:
50
    Expected 28 to equal 27.
51
  Stack:
52
    Error: Expected 28 to equal 27.
53
        at <Jasmine>
54
        at rest.create.then.then.r (/home/runner/work/parse-server/parse-server/spec/rest.spec.js:602:37)
55
        at process._tickCallback (internal/process/next_tick.js:68:7)

1) Parse.

[2021-02-18 20:33] mtrezza commented on #7180
I added then to the list above. I'll mark tests as solved by https://github.com/parse-community/parse-server/pull/7196 if they don't occur anymore after some time.

[2021-02-18 23:15] davimacedo commented on #7180
"ParseServerRESTController transactions should handle a batch request with transaction = true" was actually also solved by https://github.com/parse-community/parse-server/pull/7187 so let's observe this one as well.

[2021-02-18 23:58] mtrezza commented on #7180
Thanks, updated.

[2021-02-19 03:41] davimacedo commented on #7180
One more:
1) PushController properly creates _PushStatus
  Message:
    Expected 'pending' to be 'running'.
  Stack:
    Error: Expected 'pending' to be 'running'.
        at <Jasmine>
        at reconfigureServer.then.then.then.then.then.catch.then (/home/runner/work/parse-server/parse-server/spec/PushController.spec.js:618:48)
        at process._tickCallback (internal/process/next_tick.js:68:7)

[2021-02-19 08:39] mtrezza commented on #7180
Added!

[2021-02-19 10:24] mman opened #7210 "Add password reset initiated via web form"
### New Feature / Enhancement Checklist

- [x ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current

[2021-02-19 11:13] mtrezza commented on #7210
Thanks for suggesting.

There are some parts I want to get clarified, it may just be the wording, but to make sure we approach this the right way:

A link in an email cannot practically invoke a POST request. I say practically because while it is technically possible, to add JS or a form to a HTML email, it will likely be blocked by every major email provider and email client. In addition, such an

[2021-02-19 11:20] mtrezza commented on #7064
I'm closing this as it seems to be in an early stage of discussion about Parse Server architecture.

Discussions are better suited in our [Community Forum](https://community.parseplatform.org) while we expect feature requests on GitHub to be in a more advanced conceptual stage.

Feel free to comment if you have any questions and we can re-open this issue.

[2021-02-19 11:20] #7064 closed

[2021-02-19 11:23] mtrezza commented on #6508
I'm closing this as it does not seem to be a Parse Server but rather an environment-specific issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](htt

[2021-02-19 11:23] #6508 closed

[2021-02-19 11:39] mman commented on #7210
I am actually using the ``afterLogin`` hook to inform the user about new login to their account, with a wording like **"If you do not recognize this login, please change your password immediately by clicking the button/link below"**.

My initial attempt with **the button/link** clicked in an email actually needs to either ``POST`` submit a ``<form>`` to initiate the password reset. If that would n

[2021-02-19 11:44] mman commented on #7210
I agree that the flow is rather complex, but it is based on what Parse Server provides right now.

It would be kind of nice and simpler when ``afterLogin`` with wording **"If you do not recognize this login, please change your password immediately by clicking the button/link below"** would already contain a password reset token and would redirect a user to the "choose-new-password.html" form.

But

[2021-02-19 13:09] mtrezza commented on #7210
Thanks for providing more details. Is this the flow you would prefer?

Case a):
1. A login happens.
2. User receives an email "If you do not recognize this login..." with a link.
3. User clicks the link and gets to a webpage where they can reset their password.
4. User submits the form and the password is changed.

Then there is another use case, that may be considered in finding an approach:

Cas

[2021-02-19 14:01] mman commented on #7210
My case is always case a) as I only use Parse Server via iOS and Android apps with their client side SDK.

Initiating password reset from an app via client side SDK is easy, but requires the ``afterLogin`` email to say something like: **"If you do not recognize this login, open the app on one of your devices and do X, Y, and Z to change your password"**.

Which is not ideal and generates support r

[2021-02-19 14:54] mtrezza commented on #7210
Can you please provide a complete step-by-step (1,2,3...)example of the flow you are referring to?

[2021-02-19 15:19] mman commented on #7210
1. User performs a login to an account via app (does not matter which, iOS, Android, web, ...)
2. **New Login Detected** email is triggered via parse-server ``afterLogin`` hook containing IP address, physical location, date & time, etc. describing what happened. And containing a phrase: **"If this was you, please disregard this email. If you do not recognize this login, please change your password

[2021-02-19 16:50] mtrezza commented on #7210
Step 3a):
- The website would have to verify that the visitor has the right to change the password. 2 ways to do that:
  - Require the user to log in
  - Include the pre-generated password reset token in the email link (token would be generated for every email sent)

Step 3b):
- I'm not sure at this point whether the password reset email should be requested with a GET or POST request. I think it s

[2021-02-19 17:30] davimacedo commented on #7180
For "Parse.GeoPoint testing creating geo point exception two fields" I've run all geo point related tests 300 times for Postgres and Mongo in a row with no error. I remember in that time there was other strange messages happening for the Postgres database, so I guess the Postgres was in an inconsistent state maybe because of anther test but it does not look to have a problem with this test itself.

[2021-02-19 18:03] davimacedo commented on #7180
This one is for Redis cache:
1) RedisCacheAdapter should find un-expired records
  Message:
    Expected null to equal 'world'.
  Stack:
    Error: Expected null to equal 'world'.
        at <Jasmine>
        at /home/runner/work/parse-server/parse-server/spec/RedisCacheAdapter.spec.js:97:36
        at <Jasmine>
        at processTicksAndRejections (internal/process/task_queues.js:93:5)
  Message:

[2021-02-19 19:24] dplewis commented on #7180
I think I may have a fix for this one in another [branch](https://github.com/parse-community/parse-server/commit/d65de9ecddd6f48c1c44bca89fb0cb06be005807).

[code]

[2021-02-20 01:44] davimacedo commented on #7180
"rest create test specified session length" is now possibly fixed by https://github.com/parse-community/parse-server/pull/7208

[2021-02-20 01:46] davimacedo commented on #7180
Cool! Could you please open a PR?

[2021-02-20 02:19] davimacedo commented on #7180
I've also couldn't reproduce "ParseGraphQLServer Auto API Schema Objects Queries Find read preferences should support readPreference argument" yet. I suggest now we observe more as most of the flaky tests were tackled. I will continue working in other stuff and come back to here when seeing something else failing.

[2021-02-20 14:47] cjbland commented on #7090
I hate to revive a closed thread, but I'm running into this exact issue using npm 7.5.4 and node 14. Could this an issue with the new major version of npm? I'm currently using `parse-server` 4.5.0

[2021-02-20 17:53] mtrezza commented on #7180
Added the 2 above mentioned tests and one of them as possibly fixed by #7212.

[2021-02-20 20:03] mtrezza commented on #7090
Please see the [Node.js compatibility table](https://github.com/parse-community/parse-server#compatibility) and ensure that you are using a compatible version.

[2021-02-20 20:25] dplewis commented on #7180
`PushController properly creates _PushStatus` possibly fixed by https://github.com/parse-community/parse-server/pull/7213
I added a description of the issue that you might find interesting

[2021-02-20 21:01] mtrezza commented on #7180
Updated list.

[2021-02-20 21:19] dplewis commented on #7192
How did you save an empty iso date?

[2021-02-20 23:28] mtrezza commented on #7192
This may he related to https://github.com/parse-community/parse-server/pull/7087, but without a proper code example we'll have to close this issue due to lack of details.

[2021-02-21 08:17] dplewis commented on #7080
@Moumouls I improved the JS SDK test suite and I found that if you use `beforeEach` in the helper.js and in your specs the tests run slower. Can you try changing `beforeEach` to `beforeAll` in the helper.js file and run your perf tests?

https://github.com/parse-community/Parse-SDK-JS/pull/1292/files#diff-d20c72e61c31d8c8f138c8d2d0966d5a24a99959227d55edcd105fca781529c0R118

[2021-02-21 09:51] Moumouls commented on #7080
Thanks for the investigation @dplewis, I'll try to take a look asap :)

[2021-02-22 09:35] mman commented on #7210
Thanks @mtrezza for the detailed proposal.

We are on the same page here.

My initial idea, and PR implementation goes with 3b) and POST. It does work, it does not break RFC 2616, uses the same method like ``/resend_verification_email``, and was super simple to implement. And in addition to that, it offers a simple endpoint to reset passwords for the user. So when somebody asks me how do I change

[2021-02-22 09:40] mtrezza commented on #7210
How did you conclude that?

That should not happen. Tokens should be reused as long as they are valid, there has been a PR some months ago.

[2021-02-22 09:58] mman commented on #7210
I meant that to point out that I went with POST instead of GET because POST that triggers password reset flow is not idempotent. Much like ``/resend_verification_email``.

Oh cool, thanks for the link. I did not catch this PR, let me take a look and draft something along this alternative solution.

[2021-02-22 10:32] mman commented on #7210
@mtrezza Just to clarify, adding a method to ``Parse.User`` would require modification of Parse JS SDK (https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseUser.js) which is also available client side in the browser.

My opinion is that better fit would be adding a method to the ``UserController.js`` (https://github.com/parse-community/parse-server/blob/master/src/Controllers/User

[2021-02-22 10:52] mtrezza commented on #7210
To summarize, I think we can conclude the following:

- I'm pretty sure that using a GET endpoint to create a password reset token would violate RFC 2616, therefore your previous suggestion may work for your project, but it is not a PR Parse Server should accept.
- Generating a password reset token on-the-fly as you suggest is not best practice nor does it make sense, because it short-circuits the

[2021-02-22 11:05] mman commented on #7210
The ``afterLogin`` trigger has access to the ``user`` and ``user.email``. Since it is running in the cloud code on the parse-server itself, I should be able to access the ``userController`` instance like this (NOTE: not verified yet)

[code]

[2021-02-22 11:09] mtrezza commented on #7210
Well, the `UserController` is an internal module that is not part of our official documentation. For this to become an official, documented feature, it needs to be exposed via `Parse.User` for example.

[2021-02-22 11:15] mman commented on #7210
UserController is definitely internal. I agree.

However when you expose this method via ``Parse.User`` then it will be part of client side JavaScript SDK, and can be invoked from a client side web app where it will does nothing, right?

I agree that use of AppCache may be internal, and for a concrete example, the email sending was replaced via ``Parse.Cloud.sendMail`` recently (https://github.com

[2021-02-22 11:34] mtrezza commented on #7210
Yes, the endpoint should require the master key.

Since this is user specific, it may be more intuitive and concise to implement a `Parse.User.createPasswordResetLink()`, that would be called like this:

[code]

Maybe it would better be called `create...` instead of `get...`, because get may imply that it is a simple property that does not change, but the method may yield a different link every ti

[2021-02-22 11:38] mman commented on #7210
I may be missing something (not familiar with JS SDK, only Android and iOS), but how would ``Parse.User`` actually create a password reset link? It does not have access to config (to get custom URLs) it does not have access to Mongo - at least not directly and has to go via HTTP to the parse server itself?

As for ``get`` vs ``create``, I also think ``create`` is better option.

[2021-02-22 11:48] mtrezza commented on #7210
It would be implemented much like the `requestPasswordReset` method that also takes `RequestOptions` and sets it to the server. The server ensures that the master key is present in the request, generates the token and returns the link.

[2021-02-22 13:35] mman commented on #7210
Honestly, although I try to understand why you may prefer to attach the method to the ``Parse.User`` class, as opposed to ``Parse.Cloud`` class, I think this is getting out of control.

``Parse.User`` class is shared between client and the server, and should include methods and properties that that are shared and useful on both client and the server.

Adding new method to generated direct password

[2021-02-22 14:25] mtrezza commented on #7210
Maybe you want to read the class description of `Parse.Cloud` to help you understand its purpose.

I think I understand now where your objection comes from, but this is incorrect. The Parse JS SDK is also an integral part of Parse Server, not solely a client SDK. You are comparing the Parse JS SDK to other client SDKs, which leads to wrong assumptions about whether the method belongs there. The SD

[2021-02-22 21:09] sunshineo commented on #7192
I still have no time to learn the test system. So I spent half an hour to setup a project to demo the bug
https://github.com/sunshineo/parse-bug-demo
I hope the README.md is enough, but I can answer any questions

[2021-02-22 21:24] mtrezza commented on #7192
@sunshineo Thanks, this is actually all that was needed:

[code]

[2021-02-22 22:14] sunshineo commented on #7192
No, MyClass2 has a beforeSave trigger, and that makes it stuck

[2021-02-22 22:22] sunshineo commented on #7192
[code]

[2021-02-23 00:18] mtrezza commented on #7192
I was able to reproduce the error throwing instead of promise rejection in #7217.

[2021-02-23 08:52] sadortun opened #7220 "RFC: Save Triggers should be able to filter Operations"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-23 09:51] #7200 closed

[2021-02-23 10:41] #7140 closed

[2021-02-23 12:02] mtrezza commented on #7220
Thanks for suggesting.

This looks like a useful addition to the Cloud Code trigger validation. The interplay with existing class and field level protection  would need a closer look. Unfortunately Parse Server still lacks documentation for `protectedFields`, so I would refer you to the issues and PRs regarding this.

[2021-02-23 16:24] dplewis commented on #7021
@JeffGuKang I'm starting to look into this. `_ensureSchemaCollectionExists()` should be called once on initialize. I have no idea why its called before every request to Postgres. Its for the tests only or does the`_SCHEMA` class gets deleted while the server is running?

[2021-02-23 19:28] sunshineo commented on #7192
@mtrezza I have a fix. I have a pull request https://github.com/parse-community/parse-server/pull/7193
It's submitted before your test case. So is there a way to re-run the test and see if this fix make the test pass?

[2021-02-23 19:34] mtrezza commented on #7192
You could simply add the test to your PR.

[2021-02-23 19:48] sunshineo commented on #7192
Just tried locally. My fix does not pass your test because it gives a different error message

Instead of `111 This is not a valid Date`, it is `142 Tried to encode an invalid date.`. I do not see any strong reason that we have to have 111 instead of 142. So I'll change the expected error message in the test and put it on my PR.

Detail output of the test
[code]

[2021-02-23 19:51] sunshineo commented on #7192
I have updated my PR

[2021-02-23 19:53] mtrezza commented on #7192
Let's discuss the PR in the PR thread.

[2021-02-24 07:59] mtrezza commented on #7180
Added new flaky test: PostgresStorageAdapter should use index for caseInsensitive query using default indexname

[2021-02-24 20:26] dplewis commented on #6733
allowCustomObjectId has been added to the JS SDK and merged with the server.

https://github.com/parse-community/parse-server/pull/7222

[2021-02-24 21:37] davimacedo commented on #7180
One more: 1) ParseGraphQLServer Auto API Schema Files Mutations Create should return File object
22
  Message:
23
    TypeError: Cannot read property 'clientMutationId' of null
24
  Stack:
25
        at <Jasmine>
26
        at UserContext.<anonymous> (/home/runner/work/parse-server/parse-server/spec/ParseGraphQLServer.spec.js:6603:43)
27
        at <Jasmine>
28
        at processTicksAndRejections

[2021-02-25 00:36] mtrezza commented on #7180
Added!

[2021-02-25 20:55] cbaker6 commented on #7180
Should be fixed in #7228

[2021-02-25 22:06] cbaker6 commented on #7180
Here:

[code]

[2021-02-25 23:19] cbaker6 commented on #7180
Reference: https://github.com/parse-community/parse-server/pull/7228/checks?check_run_id=1983308358#step:8:48

[code]

[2021-02-26 11:44] srameshr commented on #3093
YAY! I am moving from Atlas to DocumentDB and this is a sigh of relief!

[2021-02-26 17:29] yozef commented on #4809
[](https://parse-opensource.sapp.io/) is not loading. Expect a flood of new Users, now that Axway has dropped their MBaaS.

[2021-02-26 19:39] mtrezza commented on #3093
A note of caution. AWS DocumentDB does not have the same features as MongoDB. You may want to compare the features to see whether DocumentDB fits your use case.

[2021-02-26 20:26] mtrezza commented on #7180
Added `Parse.Push does not get stuck with _PushStatus 'running' on 1 installation added`; did not add `Parse.GeoPoint testing creating geo point exception two fields` as it is a duplicate

[2021-02-27 00:04] cjbland commented on #6897
FWIW I am having this exact issue running `parse-server` via Express with GraphQL. If it makes a difference I have the "engines" in my `package.json` set to:

[code]

I have a `Dockerfile` and I deploy to AWS ECS and am using `npm` when building the container. Any thoughts would be appreciated.

[2021-02-27 04:16] mtrezza opened #7230 "Add custom route building"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-27 05:13] mtrezza commented on #7210
@mman https://github.com/parse-community/parse-server/issues/7230 may be an interesting PR for your case

[2021-02-27 23:43] mtrezza commented on #7180
Added 2 new flaky tests

[2021-03-01 02:24] mtrezza opened #7232 "Parse.Cloud.httprequest fails to delete file with S3 adapter"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-01 13:57] nstrelow commented on #6924
I have the same problem on the latest docker image.
Any way to fix this?

[2021-03-01 13:57] nstrelow commented on #7182
I have the same problem on the latest docker image.
Any way to fix this?

[2021-03-01 15:36] mman commented on #7210
Thanks @mtrezza, I will take a look. I have put into production our previously discussed ``Parse.Cloud.getPasswordResetLink(email)`` which was super simple and allows me to embed the password reset token directly in the new login email generated via ``afterLogin`` trigger and it works great.

Since the code does not align with the way you'd like to see it implemented I am keeping it for now in my

[2021-03-01 15:53] mtrezza commented on #7210
Great!

[2021-03-01 17:38] dplewis commented on #7232
I personally don't use the Parse.Cloud.httpRequest. I use S3 so I can try to reproduce this.

[2021-03-01 23:41] #7182 closed

[2021-03-02 20:00] mtrezza opened #7235 "Password reset, email verification not working with custom pages endpoint"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-02 23:53] #7235 closed

[2021-03-03 03:14] yozef commented on #5521
I'm having the same issue. I have Objects that have relations to more than one _User with different properties. They are linked in the Dashboard, however doing a simple Query via cURL (REST API):
[code]

Returns me all `Car`s Objects, with the `owner` property showing me just: `__type` & `className` without the full Object.

This can be tested on any running Parse Server v2.3.3 up to v3.6.0 where

[2021-03-03 03:17] BRETT71 opened #7238 "Add Search to Aggregate pipeline"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-03 03:19] BRETT71 commented on #7238
Pull Request #7237

[2021-03-03 03:21] dplewis commented on #7238
The pipeline keys haven't been updated since Mongo 3.2. I believe we can remove that check to support all stages now and future additions to mongo. What do you think?

[2021-03-03 03:36] BRETT71 commented on #7238
I like that Idea. Do you want me to update my PR to remove that check?

[2021-03-03 03:37] dplewis commented on #7238
Go for it

[2021-03-03 03:48] dplewis commented on #5521
@yozef I think you have a different issue than the op. If you are trying to query a relation field try `$relatedTo`.

[code]

[2021-03-03 04:28] BRETT71 commented on #7238
@dplewis Do you think that adding a search query to parse would be something useful or is doing a search through aggregate good enough?

[2021-03-03 08:46] canyousayyes commented on #6733
We countered the same issue and glad to know the bug fix has been merged. Any plans to release this fix in the soon future?

[2021-03-03 10:34] arjun3396 opened #7240 "Security Issue"
I have sent a mail to security@parseplatform.org on 13/02/21 about a security issue from arjun.vedak07@hotmail.com this email id, the subject line of mail is "security issue", it said we will get a reply within 7 days but still, there is no reply from parse end so created an issue here, can someone who has access to the emails please check that email and revert? similarly, I have also created a vu

[2021-03-03 11:11] stage88 commented on #7090
Hi guys, I am also getting this issue. I am using NodeJS 14 and NPM 7. I only started getting errors once I switched to NPM 7, npm install fails:

[code]

[2021-03-03 11:41] mtrezza commented on #7240
@TomWFox @davimacedo would you please take a look?

[2021-03-03 11:49] mtrezza commented on #7090
@stage88 Are you getting these errors related to Parse Server or Parse Dashboard?

[2021-03-03 11:52] stage88 commented on #7090
Ok, so according to this page https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md, `$npm_config_argv` has been removed and is not set anymore in NPM 7.

This script here https://github.com/graphql/graphiql/blob/v0.6.12/resources/prepublish.sh depends on it and it fails... _sigh_

I tried setting it manually `npm_config_argv='{original: ""}'`, and it look

[2021-03-03 11:58] stage88 commented on #7090
Oh, I see, it is Parse Dashboard. Ok thanks, sorry...

[2021-03-03 12:51] yozef commented on #5521
Thanks for the reply. Actually I'm trying to Query All Objects and get their full relational objects with it. In the same call. Another example. I have 10 Cars, and each Car has an `owner` property which points to a User. I'd like to Query All the cars, and get back the full array of Cars, with their owners (as full User objects), which I think is what this issue is. Can you show me an example of

[2021-03-03 12:52] yozef commented on #5521
Thanks @dplewis for the reply. Actually I'm trying to Query All Objects and get their full relational objects with it. In the same call. Another example. I have 10 Cars, and each Car has an owner property which points to a User. I'd like to Query All the cars, and get back the full array of Cars, with their owners (as full User objects), which I think is what this issue is. Can you show me an exam

[2021-03-03 13:34] dplewis commented on #7238
We have fullText search builtin to the Server.

[2021-03-03 15:11] mtrezza commented on #7240
@arjun3396 I have invited you to the security advisory to discuss your report.

[2021-03-03 15:11] #7240 closed

[2021-03-03 16:02] BRETT71 commented on #7238
Right, I understand that. I was just thinking that it would make it easier for people to use their search indexes in Parse. For example in the JS SDK the API could look like this:

[code]

I do understand if you think that this would be overkill for Parse Server.

[2021-03-03 22:43] davimacedo commented on #7240
For the sake of the reporting process, where are those reports going to? I don't remember to have received any e-mail neither in parse admin nor in my personal mailbox. Did you guys receive? @mtrezza @TomWFox @dplewis

[2021-03-03 23:09] mtrezza commented on #7240
@davimacedo I don't have access to the email, so I looked into the Webform admin panel where I saw the report. The webform should have triggered an email, it may be still in the account. You can install the Jotform mobile app and get notifications immediately when a form is submitted, I just did that. I have the credentials to the Jotform admin panel, if you need.

[2021-03-04 00:49] davimacedo commented on #7240
@mtrezza what is the e-mail address that the form is sending to? Because security@parseplatform.org was mentioned by @arjun3396  but I believe this e-mail address does not even exist.

[2021-03-04 01:23] mtrezza commented on #7240
See Tom's [answer](https://github.com/parse-community/docs/issues/796#issuecomment-764928014):

--

[2021-03-04 02:34] davimacedo commented on #7240
I've just tested again and didn't receive the form in my personal e-mail (not a problem) but did receive in the admin spam box. That's probably what happened with this last report. I will double check the spam box to see if there is something else reported.

[2021-03-04 03:50] mtrezza commented on #7240
You mean you didn't receive it in your personal email because it was in the spam box in community@...?

[2021-03-04 06:34] davimacedo commented on #7240
I think it is working in the current way we only need to make sure to double check the spam mailbox for the admin account.

[2021-03-04 09:45] mtrezza commented on #7240
Or maybe add a rule that moves the email out of spam if possible.

[2021-03-04 11:06] TomWFox commented on #7240
I received the submission to a personal email address but didn't see it at the time. Unfortunately it forwards them to an address I no longer use - I still check it but clearly don't see everything!

The slack integration would probably be best for me but if you and Davi will see them in the app/email then that's fine.

[2021-03-04 14:38] mtrezza commented on #7240
If anyone wants to use the app, let me know to pass the login credentials.

[2021-03-05 12:04] SebC99 opened #7244 "ProtectedFields not properly used in beforeSave trigger"
### New Issue Checklist

- [ x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ ] I can reproduce the is

[2021-03-05 14:21] cbaker6 opened #7245 "Select and Exclude queries do not properly digest JSON arrays"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-05 14:45] cbaker6 commented on #7245
@mtrezza I'm pasting your comment from the PR below to respond to:

Can you link to the fix you made? Without seeing the code, I'm assuming it may fall into my comments below (originally from the PR):

The current (before the PR) allowed a dev to pass `select([])` and then only receive `const AlwaysSelectedKeys = ['objectId', 'createdAt', 'updatedAt', 'ACL'];` and exclude all others (this is also

[2021-03-05 14:55] mtrezza commented on #7245
Sure, it was https://github.com/parse-community/parse-server/pull/7161:

https://github.com/parse-community/parse-server/blob/cac6951be0af15d43b342cadfc5f0e2c0e8729ac/src/RestQuery.js#L103-L106

It has a use case if you think about conditionally adding keys to an array:

[code]

The alternative is adding additional logic like:

[code]

[2021-03-05 15:11] cbaker6 commented on #7245
If I'm understanding your fix correctly, it seems like there may have been a problem because `keys = []` was previously allowed? But if it was never allowed it might not have been needed?

[2021-03-05 15:20] cbaker6 commented on #7245
I'll note, that if we decide to "keep" the `select([])` functionality, I think setting up `keys` and `excludeKeys` like `hint` will work for encoded arrays and strings: https://github.com/parse-community/parse-server/blob/5640cd535487f74664f11ea95166ab3fa78d9f95/src/Routers/ClassesRouter.js#L211-L213

[2021-03-05 15:32] cbaker6 commented on #7245
@mtrezza thinking about it more, I take some of my previous comments back. I didn't see the PR for your change, but looking the code snippet you sent, your change is probably why `select([])` doesn't work with my fix. If you want that functionality, your alternative

`if (keys.length > 0) {
  query.select(keys);
} else {
  query.excludeAll();
}`

will probably bring it back

[2021-03-05 15:35] mtrezza commented on #7245
Would it be beneficial to change that fix?

[2021-03-05 15:37] cbaker6 commented on #7245
Maybe, can you post the link to your PR that made the change?

What your thoughts on about keeping/removing the functionality in select? Also, if anyone else has thoughts about it.

[2021-03-05 15:41] cbaker6 commented on #7245
I can understand the reasoning for this... The counter would be then we are continuing to leave something in that shouldn't be there, enabling new devs to use it, increasing the dependence on something that probably shouldn't have been there in the first place

[2021-03-05 17:12] cbaker6 commented on #7245
I found the PR where your change occurred #7161. I tested this fix I have without it as well as some other combinations, but none of them brought back the `select([])` functionality`:

- I also tried you ```if (body.keys && (typeof body.keys === 'string' || typeof body.keys === 'object')) {
      options.keys = body.keys;
    }````

but it didn't work. So if the `select([])` is to be kept, it need

[2021-03-05 17:41] cbaker6 commented on #7245
To keep the functionality, the latest commit on the PR has the changes to allow `select([])` to still work:

[code]

[2021-03-05 17:42] mtrezza commented on #7245
What shouldn't it? I think I missed the argument why this should be removed, can you explain again?

[2021-03-05 17:58] cbaker6 commented on #7245
My argument was here:

If you all think it should remain, it doesn't really bother me as it not something I will end up using. It just seems like it should be an exclude. My reasoning is what happens when `include([])` is used on a query? Does it include only the default Parse Keys?

If you all agree with my logic, but decide to keep it, then what I said earlier may be relevant:

I updated the PR

[2021-03-05 18:10] cbaker6 commented on #7245
For clarity, I want to emphasize theirs two topics here:

1. The original PR itself which fixes a problem with how the server decodes/handles arrays of strings for `keys` and `excludeKeys`. If there are concerns for/against this, please be sure to mention them
2. Leaving in the functionality of `select([])`, rather it should remain or not. Most of the discussion has been about this topic, but not

[2021-03-05 19:58] cbaker6 commented on #7180
https://github.com/parse-community/parse-server/runs/2041751762#step:8:30

[code]

[2021-03-05 20:01] dplewis commented on #7238
closing via https://github.com/parse-community/parse-server/pull/7237

[2021-03-05 20:01] #7238 closed

[2021-03-05 21:34] mtrezza opened #7246 "Add security checks"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-05 23:52] mtrezza commented on #7180
Added!

[2021-03-06 09:04] FunnyDevs opened #7248 "Sessiontoken renewal"
### New Feature / Enhancement Checklist

- [✓] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [✓] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [✓] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-06 12:42] md-siam opened #7249 "Node.js 15 (15.11.0) is insupported."
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ ] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2021-03-06 13:57] mtrezza commented on #7245
Let's see...

To me it makes sense semantically, I read it as "select none". However, the actual justification lies in examining it as member of logical extrema:
- Select none: `select([])`
- Select all: `select([...allFields])`
- Exclude none: `exclude([])`
- Exclude all: `exclude([...allFields])`

The `select([])` forms an extrema pair with `exclude([...allFields])`, just as `select([...allField

[2021-03-06 14:08] mtrezza commented on #7245
Thanks for clarifying, that was the part I missed, I think they should be handled equally. If this PR currently contains changes for both issues you mentioned, maybe we can focus on the issue quoted and make sure `select([])` still works after this PR. If necessary we can open a separate issue to discuss whether `select([])` should be there.

[2021-03-06 14:32] mtrezza commented on #7249
Thanks for opening this issue.

Parse Server is fully tested with Node 15.11.0 to ensure compatibility. The errors are likely related to your custom environment, but if you share the specific errors, we are happy to take a closer look.

I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we re

[2021-03-06 14:32] #7249 closed

[2021-03-06 14:37] mtrezza commented on #7244
Thanks for reporting this issue.

Could you verify this affects the current release by submitting a PR with a failing test?

[2021-03-06 14:37] cbaker6 commented on #7245
The latest version of the PR only contains just the first and the second (`select([])) can be done as a separate discussion as you mentioned. The separate discussion is a low priority IMO...

[2021-03-06 14:49] cbaker6 commented on #7245
When focusing on the first problem:

The test cases are in the PR, excluding what I stated in the description:

[2021-03-06 16:07] mtrezza commented on #7245
I see many places in the JS SDK and Parse Server where this is converted back and forth between JSON and comma delimited string. I am not sure why but surely inconvenient. Even the MongoDB client takes the project keys as JSON:

https://github.com/parse-community/parse-server/blob/033a0bd443ba846fa5a7fae969eb8f71cf492162/src/Adapters/Storage/Mongo/MongoCollection.js#L89

I agree that there could b

[2021-03-06 16:14] cbaker6 commented on #7245
My guess is that when the Parse Server, iOS, Android, and JS SDKs were originally created there "may" have not been native encoders at the time. I know believe this was the case for iOS, so they resorted to manually parsing.

In the Parse-Swift SDK, a JSON Encoder is used for everything that goes to/from the parse server (we don't parse anything manually in the SDK), so it looks like much of the m

[2021-03-06 16:19] mtrezza commented on #7245
I think that makes sense, let's see which noble contributor takes on this clean-up.

[2021-03-06 16:23] cbaker6 commented on #7245
In the the future, in the other SDKs may want to even take this a step further and be modified to use native encoding/decoding instead of populating dictionaries. This can also be a case of, "if it isn't broken, don't fix it", but I personally don't trust myself to manually parse something.

Yup, it's ready

[2021-03-06 16:35] mtrezza commented on #7245
Absolutely!

[2021-03-06 17:13] cbaker6 commented on #7249
As @mtrezza mentioned the testing for Parse-Server is pretty robust and tested in many environments. If you are trying to learn how the Node 15 environment is configured for testing in order to configure/test your personal environment, you may want to look through the CI https://github.com/parse-community/parse-server/blob/cac6951be0af15d43b342cadfc5f0e2c0e8729ac/.github/workflows/ci.yml#L95-L99

[2021-03-06 22:28] 7aklhz opened #7250 "Cannot upload video above 300mb"
### New Issue Checklist

- [ x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x ] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ x] I can reproduce the i

[2021-03-06 23:23] mtrezza commented on #7250
Thanks for reporting.

Where should the file be stored and which storage adapter is used?

[2021-03-07 01:03] cbaker6 commented on #7180
https://github.com/parse-community/parse-server/runs/2048364609#step:8:48

[code]

[2021-03-07 06:54] 7aklhz commented on #7250
Thank you for getting back to me. The PARSE_SERVER_DATABASE_URI is mongodb://...

Is that your question ?

[2021-03-07 08:31] mtrezza commented on #7250
Are you not using a storage adapter like S3, but trying to store a 300MB file directly in the DB?

[2021-03-07 08:45] #7250 closed

[2021-03-07 11:03] jjunineuro opened #7251 "Implementation of OAuth 2.0"
Hello,

After a rich dialogue about the authentication method of Parse Server ([Link Community](https://community.parseplatform.org/t/sessiontoken-and-mobile-ux/1405)), I hereby propose the implementation of OAuth 2.0 as the platform's authentication mechanism.

The idea is to increase security and eliminate problems with login expiration time (even if defined, 1 year by default).

The suggestion

[2021-03-07 11:35] mtrezza commented on #7251
Thanks for suggesting.

Can you please use the template provided when creating an issue?

This is a quite detailed suggestion, there has been some discussion around authentication lately, maybe we can get some feedback.

[2021-03-07 11:41] jjunineuro commented on #7251
Yes @mtrezza, I intend to assemble the model for this suggestion. I will start developing the model. It is very important to listen to the community as new ideas can come up.

[2021-03-07 11:49] mtrezza commented on #7251
Adding my comment from the forum:

[2021-03-07 11:53] jjunineuro commented on #7251
Yes, I intend to assemble the model for this suggestion. I will start developing the model. It is very important to listen to the community as new ideas can come up.

[2021-03-07 11:53] jjunineuro commented on #7251
I was following the dialogue on the forum, that is, we should also leave an optional refreshToken deadline and even if you want to use OAuth or the current mechanism, correct?

[2021-03-07 11:57] jjunineuro commented on #7251
Regarding the second comment, linking to the user's usage time, I do not suggest this idea, because the limit stipulated for the renewal of accessToken (OAuth 2.0 protocol) is precisely to force the change of the key to add security in authentication.

[2021-03-07 12:51] #7230 closed

[2021-03-07 13:11] mtrezza opened #7252 "Improve changelog design"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-07 22:31] DevDorrejo opened #7254 "Parse-Server cannot be installed without Node.JS (bootstrap.sh installation method)"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-08 08:29] dblythy commented on #7251
This would be a major upgrade with impacts across all SDKs. I'd imagine it would be quite a headache to make this backwards compatible for current deployments. Obviously we don't want server upgrades resulting millions of "invalid session" errors.

What would be the benefit of migrating the requests from "Authorization: Bearer ACESSTOKEN" to "X-Parse-Session-Token"?

Secondly, would the discussed

[2021-03-08 09:33] jdposthuma commented on #7251
@jjunineuro - I'm working on implementing Authentication in Parse using an externally validated JWT. It's kind of a "bring-your-own-authentication" approach.

Read about the [proposal](https://github.com/parse-community/parse-server/pull/7226) and the [proposed documentation](https://github.com/parse-community/docs/pull/819).

I agree that the long-living session token is no longer a best practice

[2021-03-08 11:52] jjunineuro commented on #7251
@dblythy, I'm going to prepare the whole outline of what this methodology will be like. The idea of ​​changing "X-Parse-Session-Token" to cause too many problems I fully agree. You can keep this header by changing only its content, the "accessToken" instead of the "session code". Give me a moment that as soon as I finish the scheme posted here, ok?

@jdposthuma, I didn't start to develop architect

[2021-03-08 13:07] jjunineuro commented on #7248
@mtrezza, I will reference here and close the topic that opens so as not to become a duplicate topic.

[Implement OAuth 2.0 as another Parser Server login option](https://github.com/parse-community/parse-server/issues/7251)

[2021-03-08 13:07] #7251 closed

[2021-03-08 13:48] FunnyDevs commented on #7248
@dblythy  According to avoid long life token, there are two main reasons:

1) Security: if someone intercepts the token, he can use it to authenticate to the server. With short life token (with a refresh token) if someone intercepts the token he can use it only for a very short period (the token duration); if he is able to intercept even the refreshtoken, he can use it to refresh the token only 1

[2021-03-08 14:13] jjunineuro commented on #7248
@dblythy exactly the OAuth 2.0 proposal, as you mentioned:

[2021-03-08 15:04] mtrezza commented on #7251
Thanks everyone for their engagement in this discussion. Voicing concerns is an important contribution to the discussion to understand the implications of a change. The goal of the discussion is to evaluate all proposed approaches according to value and strategic relevance against their cost of implications for existing deployments.

As such, breaking changes naturally come as an unavoidable cost

[2021-03-08 16:16] dblythy commented on #7248
Thanks for the detail in explaining this. I'd figure it would lead to greater discussion if we're all clear on the pros and cons of this implementation.

So if I understand correctly:

Current:

- Session tokens will expire 1 year after the login, meaning that after one year users will be forced to re-login
- If the session token is leaked, it can be used for the whole year by a malicious user

Wi

[2021-03-08 16:18] SebC99 commented on #7251
Could it be a OAuth 2.0 adapter instead of change of the standard auth strategy?
I fully agree there's issues with the actual session implementations, and that a "refresh" token would be a great addition, but I'm not sure about a full replacement.

[2021-03-08 16:20] SebC99 commented on #7251
Even if from a "mobile" point of view as mentioned in the first discussions, it's still possible to save the user's credentials in the device keychain and to use it to "refresh" the token

[2021-03-08 16:25] dblythy commented on #7251
If the implementation of changing the way auth is handled still supports existing session tokens, is opt in, and has improvements over the current method, I don't see why we wouldn't bake it in. I think it can be built in a way that wouldn't affect existing users, but would be beneficial for new users.

IMO, from a security perspective (although iOS keychain is solid) it's probably not best if our

[2021-03-08 17:20] jjunineuro commented on #7248
@dblythy a primary outline follows.
![Untitled Document](https://user-images.githubusercontent.com/30479720/110353341-dd06e680-802e-11eb-8827-b88674df96c2.png)

[Please read this introductory document on what is the JWT](https://jwt.io/introduction)

The idea is not to change the structure of the current Parse Server, but to implement the OAuth 2.0 rules.

So, even if the choice is to use "oauth",

[2021-03-08 17:41] mtrezza commented on #7248
Just to throw this in: a migration scenario would be interesting to consider. It is not unusual that online services require all users to sign-in in again when they make a major shift to a more secure auth mechanism that supersedes a former best practice mechanism.

[2021-03-08 17:46] jjunineuro commented on #7248
keeping "oauth" (Parse Server Options) as default, nothing will change, the same function remains.

@mtrezza if I understood correctly, the migration scenario would be how SDK's should respond in the case of authentication by OAuth?

[2021-03-08 17:52] mtrezza commented on #7248
Yes, I mentioned the migration just to be considered on a high level. I can imagine that there will be developers who are interested in using OAuth2 and would want to migrate. If it's just a switch in the options, then it only requires to read the docs and maybe adapt the app, but if it requires more, then this may he something to think about.

[2021-03-08 18:01] jjunineuro commented on #7248
there will be a change for the SDK's, for the developer, it will only be necessary to set "oauth" = true.

I will prepare a scope of the change that should be made for the SDK's. Thanks @mtrezza

[2021-03-08 18:04] mtrezza commented on #7248
Great!

How does this play with the Auth Adapter overhaul in https://github.com/parse-community/parse-server/pull/7079? @Moumouls put quite some effort into this, but I'm not sure what the current state of the PR is.

[2021-03-09 01:12] mtrezza commented on #7251
I would add that storing the password on the device is really a password anti-pattern. The password should be entered ephemerally and not stored client side. Apple plans to make some WebKit changes in 2022, which will really go against storing local data, unless using a specific API. We can expect other browsers to adapt this (the Chrome team already mentioned it), so secure storage will much be b

[2021-03-09 12:59] cbaker6 commented on #7248
Speaking from the Parse-Swift SDK, the flow mentioned in https://github.com/parse-community/parse-server/issues/7248#issuecomment-792918767 seems straight-forward and can probably be done quickly.

@jjunineuro question, you mentioned the client needs to check expiration time. This seems like it “may” be slightly problematic as it’s dependent on a local device clock as oppose to a centralized serve

[2021-03-09 15:25] jjunineuro commented on #7248
Hello @cbaker6 , both the creation date and the expiration of the token are sent in timestamp, which I believe the time of the device with the time of the server should not interfere.

In the previous scheme I was wrong to put the formatted date, but it will be sent in timestamp.

What can be done is as follows, the SDK's will check the expiration time (timestamp) and check if it has already expir

[2021-03-09 15:38] cbaker6 commented on #7248
If the timestamps and determining expiration is solely dependent on the local device, it opens up the attack surface for a malicious user as they can simply manipulate the local wall clock or never ask for a refresh token. If it's using both clocks (local and server), there's no way to guarantee these clocks are in sync, even if you are using a value to represent time like `1615300771`. If you are

[2021-03-09 16:35] jjunineuro commented on #7248
The expiration timestamp is sent only to the device to check if the "accessToken" is still valid to find out whether to request the update.
When submitting the request with "accessToken" Parse Server will validate the token, if it is changed, it becomes invalid, because the third part of the token is signed with the key "oauthKey" that will be included in the Parse Server options .
Therefore, it i

[2021-03-09 16:57] FunnyDevs commented on #7248
Firebase, with jwt, does exactly the same: when you login It returns token, refresh and validity. Another mechanism to know if the token Is expired Is control the response ( usually a 403 auth error, but could be the current session token expiration error).

[2021-03-09 17:29] cbaker6 commented on #7248
Therefore, it is not possible to change any data in the token.

I see, since the server still validates the time, it addresses the problem I mentioned. This means everything depends on the server clock, which is perfectly fine. The device can use its local clock to determine if it needs to request a refresh, but even if its clock is out of sync or has been tampered with, the server will still say

[2021-03-09 17:35] jjunineuro commented on #7248
I've done the following steps

- [x] Create refreshToken session

- [x] Login return "accessToken", "refreshToken" and "expires_in"

- [x] "url/parse/me" returns the same data

- [ ] Signup (**I'm having trouble handling the return**)

- [ ] Renew the token "/parse/refresh"

[2021-03-09 17:40] jjunineuro commented on #7248
@cbaker6, even if the device time is changed, the request will be invalid.

For example: Access token expires 2021-03-09 17:40:00, I change the device time to 2021-03-09 17:20:00 and make the request with the token.

- If you change the token, the server invalidates the request.
- If the token remains unchanged, the server will invalidate the request.

What will prevail is the expiration date (tim

[2021-03-09 17:41] Moumouls commented on #7248
Hi all !

Session token renewal is currently not implemented automatically in parse server.
I implemented a token renewal system for parse server for one of my customer following this spec:

- Parse server token life time is set to 3 days (you can adjust the time depending of your app needs)
- User login
- After the login, a front cron start in background when user is on the app (ex: a call each 1

[2021-03-09 17:48] dplewis commented on #7254
Do you have node properly installed? Can you run `node -v`?

Your problem is here -> https://github.com/parse-community/parse-server/blob/master/bootstrap.sh#L28

[2021-03-09 17:53] jjunineuro commented on #7248
@Moumouls for this proposal, also does not use the device time. The intention is to optionally implement the OAuth 2.0 protocol. Nothing will change the current structure of the Parse Server, just increase one more option. I kindly ask you to take a look at the diagram above where I explain in more detail the implementation.

As @FunnyDevs explained, Firebase uses the same method.

[2021-03-09 18:04] jjunineuro commented on #7248
That's right, sorry, I wanted to try to explain it again. Translation error. :)

[2021-03-09 18:06] cbaker6 commented on #7248
Let me know when you all need help with the client side in Parse-Swift. I should be able to quickly write an implementation that you can test/verify in Swift Playgrounds.

If there are ideas you want to bounce off of me on the client side, feel free and I can give input there as well.

[2021-03-09 18:27] jjunineuro commented on #7248
He didn't miss a point. We are here to collaborate together.

I'm having a hard time dealing with the return of the Signup method.

I added the "handleCreate ()" metoro in UsersRoute.js, but I can't handle the return.

[code]

[2021-03-09 18:36] jjunineuro commented on #7248
@Moumouls see if you can help me, I need to handle the response from rest.create (), I did it at login and it worked perfectly. But not here :(

[code]

[2021-03-10 02:54] dplewis commented on #7139
@ArkeshGKalathiya I added customID to the JS SDK. Feel free to provide feedback

https://github.com/parse-community/Parse-SDK-JS/pull/1309

[2021-03-10 04:08] dplewis commented on #7030
@cbaker6 Since you are already looking into exclude can you look into this one?

[2021-03-10 06:36] faysal515 opened #7256 "insert items into array using graphql"
### New Feature / Enhancement Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-10 14:23] jjunineuro commented on #7248
Hello, fortunately I was able to finalize all methods for the perfect functioning of OAuth 2.0.

I will leave the documentation on how the routines can be consumed and what modifications the SDK's must perform.

1) The purpose of this PR is to implement the [OAuth 2.0](https://tools.ietf.org/html/rfc6749) method, using the [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) as an authentic

[2021-03-10 15:55] #7252 closed

[2021-03-10 15:59] mtrezza commented on #7256
Thanks for suggestion.

As I understand from @davimacedo's [comment](https://stackoverflow.com/q/66552544/1870795), this would be an enhancement to the GraphQL capabilities of Parse Server.

[2021-03-10 16:37] FunnyDevs commented on #7248
Does the parse dashboard show these changes automatically or it must be edited too?

[2021-03-10 16:46] mtrezza commented on #7248
Some suggestions:
- Instead of using `oauth: false/true` maybe use a more versatile field like `auth:'oauth2.0'` so that this can be adapted future OAuth versions or other auth mechanisms.
- If using the default "sessionToken" authentication, I suggest to not transmit a `oauth: false` or `auth:'...'` to reduce data traffic.

[2021-03-10 16:52] jjunineuro commented on #7248
Good, I will make this change.

I put this parameter as a way to facilitate SDK´s. But I will correct.
So, the SDK should check if "sessionToken" exists, if it should not work with "oauth".

[2021-03-10 16:59] mtrezza commented on #7248
I just edited my previous comment.

I mentioned this because we would not want to increase data traffic for existing deployments that may not even use that feature.

That sounds like default would be oauth, but I understood so far that the default would still be the sessionToken?
If so, I think the SDK would check whether `auth: '...'` exists and if not, fall back to default of using the sessionTo

[2021-03-10 17:03] dplewis commented on #7254
Can you fork the project and run it locally?

`which node 2>&1` is the path to node
`if [ $ret -eq 0 ] && [ -x "$node" ];` means if there is a path to node && -x (execute) node

We can change the script if need be.

[2021-03-10 17:08] jjunineuro commented on #7248
For those who use for mobile and web, it is a great reinforcement. I will implement it myself and create a PR to meet this parameter in Flutter.

Yes the default for authentication validation is OAuth, I am using the sessions to not have to change the entire structure of the Parse Server and not to have to write a session structure again for the OAuth protocol. The way I implemented it, I reduced

[2021-03-10 17:10] jjunineuro commented on #7248
In the tests I performed, when activating "oauth", and later disallowing it, Parse Server continues to carry out the authentication work successfully.

[2021-03-10 17:11] mtrezza commented on #7248
That would have been my next question :-) Great!

[2021-03-10 17:14] jjunineuro commented on #7248
The OAuth protocol actually remains using a session, but encapsulates that information within the Json Web Token (JWT) and signs that information. What is made available to the user's device is the JWT.

As the Parse Server already has a whole system to work the sessions, it would not be possible for me to create another structure that would have the same result.

So I just perfected the return tr

[2021-03-10 18:40] DevDorrejo commented on #7254
i put set -x

[code]

but
[code]

[2021-03-10 18:46] DevDorrejo commented on #7254
weird, some how which is working, but not installed and this was creating a false positive.

reinstalling `which` made the script work

[2021-03-10 18:50] DevDorrejo commented on #7254
but the version of the bootstrap is 3.9 uhhh

[2021-03-10 18:52] dplewis commented on #7254
We should automate it for sure

[2021-03-10 18:53] DevDorrejo commented on #7254
yeah, but thanks for the help, i will close the ticket.

[2021-03-10 18:53] #7254 closed

[2021-03-10 19:18] dplewis commented on #7248
Yes

[2021-03-10 19:19] #7246 closed

[2021-03-10 19:25] jjunineuro commented on #7248
Can you give me an example, please?

[2021-03-10 19:31] #7021 closed

[2021-03-10 19:35] mtrezza commented on #7248
The logic to set config default values is in `Config.js` where you'd also do the validation of the parameter values, however:

expireInactiveSessions = false
sessionLength = sessionLength * 100

The usual approach would be to set default values for these 2 parameters and let the developer override the defaults if necessary. The defaults should reflect the most likely, most commonly used configurat

[2021-03-10 19:44] mtrezza commented on #7248
It has only been merged into master some minutes ago.

[2021-03-10 19:50] jjunineuro commented on #7248
Committed with the suggested changes. @mtrezza and @dplewis

[2021-03-11 01:32] mtrezza opened #7259 "🐣 Feature Spotlight: Pages Router"
##  Pages Router

The `PagesRouter` is a completely revamped router with many improvements over the current `PublicAPIRouter`. It handles requests for password reset and email verification, as well as assets in the `/public` directory such as webpages. It is an experimental replacement for the `PublicAPIRouter`, so it is still disabled by default.

Notable advantages:

- Inject dynamic content int

[2021-03-11 01:37] #7259 closed

[2021-03-11 02:21] mtrezza opened #7260 "Add additional lint rules"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-11 05:50] chrisk8er commented on #6567
Hi @davimacedo, I got a new error after I changing the code.
[code]

[2021-03-11 08:40] mtrezza commented on #7204
I assigned won't fix as the PagesRouter already provides a fix for this, albeit still in experimental status.

[2021-03-11 08:42] #7204 closed

[2021-03-11 14:27] jjunineuro commented on #7248
I just need to correct the commit tests I performed, it is failing in the new functions implemented. I don't really know how to implement the tests.

[2021-03-13 00:15] sunshineo commented on #3932
Cannot have ':' but s3 allows it

[2021-03-13 00:19] sunshineo opened #7264 "Do we have reason to not allow ':' in filename?"
Code at https://github.com/parse-community/parse-server/blob/033a0bd443ba846fa5a7fae969eb8f71cf492162/src/Adapters/Files/FilesAdapter.js#L107

We are using s3 as backend, and s3 happily takes file with name like `orders-000R39AiE1-2020-10-12T17:32:02.244Z.json`
But we cannot do it with Parse because of ':' because of the regex I pasted above
Do anyone know if there is a good reason? If not, I can

[2021-03-13 01:26] mtrezza commented on #7264
Thanks for reporting.

To report an issue, please use the issue template provided when you create an issue. The template asks for essential information which helps us to investigate the issue.

[2021-03-13 01:59] sunshineo commented on #7264
Hi @mtrezza . I don't think the issue template is helpful for this. The code is behaving as expected. I have link to the code.

I can submit a pull request to change the code and allow ':' but before I do that, I would like to have people comment on if there was a reason to not do that.

@dplewis @davimacedo anyone else I may tag?

[2021-03-13 02:02] mtrezza commented on #7264
@sunshineo Please use the issue template to explain the issue.

[2021-03-13 03:30] dplewis commented on #7264
We try to follow the S3 conventions laid out here

https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html

[2021-03-13 12:16] mtrezza commented on #7264
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2021-03-13 12:16] #7264 closed

[2021-03-13 15:03] mtrezza commented on #7100
I stumbled upon an open source, multi-lingual, multi-environment guide for first contributors that we could link to in our contribution guide: https://github.com/firstcontributions/first-contributions

@TomWFox what's your opinion as chief docs officer?

[2021-03-13 15:05] #7080 closed

[2021-03-14 14:30] cjbland commented on #6419
Is the workaround in the description the recommended solution? I have run into this as well. Here's the GraphQL query we are trying to execute:

[code]

And it results in this message from the server:

[code]

[2021-03-15 06:44] davimacedo commented on #6419
@cjbland would you be willed to help fixing this bug?

[2021-03-15 07:14] dplewis commented on #7180
`Parse.GeoPoint testing creating geo point exception two fields` fixed by https://github.com/parse-community/parse-server/pull/7265

[2021-03-15 09:11] arjun3396 opened #7268 "While using afterFind hook, including self does not work."
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-15 10:32] cjbland commented on #6419
Sure, I'll take a stab at it.

[2021-03-15 17:16] dplewis commented on #7268
Thank you for the detailed report. Is this something you would like to fix?

[2021-03-15 20:52] sadortun opened #7269 "object.relation(..) throws "Invalid key '...'" when beforeFind() trigger change the query"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-15 21:14] davimacedo commented on #7269
Thanks for the PR and investigation. Would you be willed to send a PR with the fix and a regression test case?

[2021-03-15 21:39] dplewis commented on #6455
Fixed via https://github.com/parse-community/Parse-SDK-JS/pull/1301

[2021-03-15 21:39] #6455 closed

[2021-03-15 22:08] sadortun commented on #7269
@davimacedo  It may take a few days, but Yeah sure!  If you confirm that the proposed solution above will not break everything :) I'm just smashing the keyboard until something works 🙈 😅

[2021-03-15 22:10] dplewis commented on #7153
Closing via https://github.com/parse-community/parse-server/pull/7154

[2021-03-15 22:10] #7153 closed

[2021-03-15 22:16] davimacedo commented on #7269
Thanks @sadortun . If all tests continue passing, it will probably not break anything. It is important to also add a new regression test case covering the problem you are trying to fix and maybe other tests to check potential problems you may think about.

[2021-03-16 00:35] mtrezza commented on #7180
Updated, added 2, fixed 1

[2021-03-16 00:52] dblythy commented on #5839
Is this in relation to an LQ event won't be fired if the related Role is updated? Or is this something else?

[2021-03-16 01:04] dblythy opened #7270 "Updating a Roles User doesn't fire LQ."
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-16 01:16] dplewis commented on #7180
Jobs and Push flaky tests are addressed by https://github.com/parse-community/parse-server/pull/7267
[code]

[2021-03-16 08:14] mullwaden commented on #5839
@dblythy the issue is that the cache can be outdated. So lets say a user is added to a role with RoleX and then tries to fetch a database row with the ``acl = { read: RoleX }``. Regular fetching will work, but the live updates will fail because the liveQuery cache is outdated, i.e. the user has not yet been added to the cache of that particular role.

[2021-03-16 13:07] mtrezza commented on #7180
Nice, updated!

[2021-03-16 16:14] sadortun commented on #7269
@davimacedo off topic question :) would it be possible that you add some information about the release cycles in the readme ? It would be really nice to have at least a patch release every month

[2021-03-16 16:58] mtrezza commented on #7269
@sadortun Parse Server currently does not have release cycles, but it is something we are looking into, see this [discussion](https://github.com/parse-community/parse-server/pull/7199#issuecomment-782606473).

[2021-03-16 17:53] mtrezza opened #7271 "♻️ Release Automation"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### TLDR

The

[2021-03-16 18:08] sadortun commented on #7271
Hi guys!

(If there is a more appropriate place for this discussion, please let me know)

As a "user" We are using Parse Server on many different projects, I think there is a few important things that should be taken care of. As mentioned previously, update fatigue is something to consider.

When making your decision on a standardized release cycle, I have a few things :

---

1) LTS releases / br

[2021-03-16 21:05] #6405 closed

[2021-03-16 21:10] dplewis commented on #6193
Closing via https://github.com/parse-community/parse-server/pull/7214

[2021-03-16 21:10] #6193 closed

[2021-03-16 21:18] mtrezza commented on #6405
@danielchangsoojones It would be great if you could try the new master branch and confirm whether https://github.com/parse-community/parse-server/pull/7214 solves the memory issue.

[2021-03-16 21:21] dplewis commented on #7036
Closing via #7214

[2021-03-16 21:21] #7036 closed

[2021-03-16 21:22] dplewis commented on #7036
@uzaysan It would be great if you could try the new master branch and confirm whether #7214 solves performance loss?

[2021-03-16 21:23] dplewis commented on #6543
Closing via https://github.com/parse-community/parse-server/pull/7214

[2021-03-16 21:23] dplewis commented on #6543
@omkar-tenkale It would be great if you could try the new master branch and confirm whether #7214 solves performance loss?

[2021-03-16 22:17] TomWFox commented on #7100
Looks neat, there are some parts which wouldn't apply for our projects (e.g. [make changes](https://github.com/firstcontributions/first-contributions#make-necessary-changes-and-commit-those-changes) - could cause a bit of confusion but perhaps easily outweighed by the benefit of the resource.

[2021-03-17 02:08] neiroc commented on #6427
Any update on this?

[2021-03-17 08:59] thibautvdu commented on #6427
@neiroc not that I know of at least :/

[2021-03-17 11:44] mtrezza commented on #7271
Here is a pro / con list as basis for discussion:

# Phased Deprecation
Pros:
- Solves pain point of repeated community feedback
- Decouples breaking changes from new features, improvements & bug fixes
- Developers are more likely to upgrade due to gradual breaking changes (only in major versions)
- Forces us to think more modular in PRs to turn on/off segments of code, which is the essence of Par

[2021-03-17 14:31] mtrezza commented on #6427
Reopening issue due to continued discussion.

[2021-03-17 16:13] sadortun commented on #7271
How much time does it take you to make a release ?

[2021-03-17 17:29] mtrezza commented on #7271
@davimacedo How long did it usually take to make a Parse Server release?

I think the key is to maintain it constantly and require less ad-hoc effort on release. We are already doing that for Parse Server because the changelog is now always up-to-date as it is a requirement since we switched to the new PR template half a year ago. There should be virtually no effort anymore other than a superficia

[2021-03-17 17:41] mtrezza commented on #7271
My expectation is that this should not take longer than 5 to 10 minutes even without any more sophisticated automation.￼

@davimacedo If it's fine with you, I'll do the next release with your guidance, this week and we'll document any bottlenecks that we can address quickly.

[2021-03-17 17:43] davimacedo commented on #7271
Sure. We can do that.

[2021-03-18 01:29] sahilpohare commented on #3938
Well this is sad.
My use case extensively uses Neo4j. I love parse server and do not wanna move away from it and the high flexibility it offers.
Can you suggest a way to integrate Neo4j in current state of Parse? Maybe a dual database streaming new data to neo4j with webhooks?

[2021-03-18 13:20] dblythy opened #7277 "Allow logout with invalid session"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-18 13:33] cbaker6 commented on #7277
Definitely can cause an issue on the client side. I did in fix in https://github.com/parse-community/Parse-Swift/pull/73

which essentially clears the user from the Keychain ignoring any server errors:

https://github.com/parse-community/Parse-Swift/blob/a99bf31f59dba033888220afaeeb84835f3abd34/Sources/ParseSwift/Objects/ParseUser.swift#L296-L305

[2021-03-18 13:37] dblythy commented on #7277
My thoughts are that if an invalid session is provided to the logout request, it should return with a "success" so current user can be cleared internally, and developer can redirect to login screen. It would just mean logout cloud triggers wouldn't fire for invalid sessions, as there would be no way to tell who the "real" user is who making the request is.

What do you think?

[2021-03-18 13:39] cbaker6 commented on #7277
That sounds good to me because it seems the user is "attempting" to discard their current session token by logging out.

If the server does what you mention, then the other client SDKs wouldn't have to implement something similar to what I have above.

The only issue they would run into is if a different error from the server occurs.

[2021-03-18 13:40] cbaker6 commented on #7277
Looks like we were thinking the same thing!

[2021-03-18 13:48] dblythy commented on #7277
Interestingly in the [JS guide](https://docs.parseplatform.org/js/guide/#handling-invalid-session-token-error) it recommends calling `Parse.User.logOut()` to handle invalid sessions, which won't currently work.

[2021-03-18 13:52] cbaker6 commented on #7277
It seems if the JS SDK isn't doing something similar to ParseSwift, the user will get stuck in limbo unless there's another method JS provides to clear the Keychain. Or, delete the app as you suggested...

[2021-03-18 14:01] mtrezza commented on #7277
This should be handled by the client application or the client SDK. Making the server "lie" about the result of an operation prohibits the client SDK or client application to perform more complex operations. We discussed a similar issue in https://github.com/parse-community/parse-server/security/advisories/GHSA-cfgm-jqhh-xmhr#advisory-comment-64808.

The communication between the server and the cl

[2021-03-18 14:08] dblythy commented on #7277
So you would suggest catching the error in the logout request in the JS SDK?

[2021-03-18 14:10] mtrezza commented on #7277
I suggest that the SDK properly cleans up the cached current user, but reports to the client application truthfully, that the logout failed.

[2021-03-18 14:14] dblythy commented on #7277
So, if I have:

[code]

Would I have to wrap that in:

[code]

[2021-03-18 14:16] mtrezza commented on #7277
Yes. And this allows another developer to not redirect to `/login` but do something completely different, depending on their use case.

[2021-03-18 14:26] dblythy commented on #7277
Infact, that's how the code functions as is:

[code]

It's my opinion that this is still a little clunky, and perhaps a `response` of "invalid session" can be passed if the logout request contains an invalid session. The logout is still successful, the `invalid session token` does not prevent the logout action from completing.

[2021-03-18 14:28] dblythy commented on #7277
Also the docs might need to updated to:

[code]

[2021-03-18 14:29] mtrezza commented on #7277
How so?

[2021-03-18 14:34] dblythy commented on #7277
If you're using an app, and all your errors are "your session has expired", and you think "ok, I need to log back out", then you go and click "logout", and unless the Parse developer is aware of the way logout works with invalid sessions, you get the error message "your session has expired" (which you already know - that's why you're logging out).

I would assume that most developers aren't catchi

[2021-03-18 14:50] mtrezza commented on #7277
The actual inconsistency for me is that the local cache is cleared if `logout` throws `209`, but not if any other request throws `209`. If the local cache was cleared on any `209` regardless of the type of request, there would be no need for the developer to call `logout` on invalid session token.

I see three possible approaches:
- a) Clear the local cache on any `209` regardless of request type

[2021-03-18 15:09] dblythy commented on #7277
I'm not sure if that's the case. I've been trying to figure out how it works in the JS SDK.

Theoretically a developer could temporarily store the invalid user alongside the cached operations and ask the user to confirm the tasks once the session is revalidated.

Perhaps there's no need for any change on the server.

I probably still haven't explained properly but by clunky I mean it's sorta unint

[2021-03-18 15:29] dblythy commented on #7277
We could also add something to the SDK such as `Parse.User.logOut({muteInvalidSession: true})`

[2021-03-18 16:09] mtrezza commented on #7277
That sounds like approach b) and it seems to be a clean approach because it separates the `logout` functionality from the session clearing. However, if the session clearing is unrelated to pinning objects and resuming operations once the user reauths, I would still go with a) if the session cache is only managed and relevant internally for the SDK and opaque to the developer, because then the ques

[2021-03-18 20:12] mtrezza opened #7281 "Allow to exclude updatedAt createdAt fields"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-19 07:30] omkar-tenkale commented on #6543
This issue made us move away from parse :(

[2021-03-19 07:45] mtrezza commented on #6543
@dplewis should we really close this already?

[2021-03-20 21:37] sadortun commented on #7269
Hey @davimacedo should I iterate only over `and, or not` or on all the [special keys](https://github.com/parse-community/parse-server/blob/a02014f5575fb33758151bfb00810991a11d7948/src/Controllers/DatabaseController.js#L55)?

[2021-03-21 04:45] sadortun opened #7287 "Typescript definitions outdated"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-21 09:43] uzaysan commented on #7036
@dplewis I will try it when I have a free time.

[2021-03-21 13:00] mtrezza commented on #7287
Thanks for reporting.

Parse types are managed in the [@types/parse](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/parse), so any PR should be submitted there.

However, I wonder if we could auto-generate the type definitions and bundle them with the package, instead of a manually maintaining the @types/parse repo?

Related: https://github.com/parse-community/parse-server/is

[2021-03-21 13:51] mtrezza opened #7288 "🐣 New Feature: Security Check"
## 🛡 Security Check

We want make it easier for you to secure your Parse Server. The new Security Check feature allows you to easily identify weak security settings in your Parse Server deployment. This helps you to secure existing Parse Server apps, but also to transition new apps from a playground environment, in which security settings are often deliberately weak for easy development, to a secu

[2021-03-21 15:27] sadortun commented on #7287
Seems like we can already generate definitions from JSDoc annotations blocks

https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.html

I'm fairly sure this isnot going to work all at once, but of someone else is interested in helping on this, o think it can be doable.

[2021-03-21 19:07] sadortun opened #7289 "Allow to create unique indexes"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-21 21:13] mtrezza commented on #7289
Thanks for suggesting.

From your description I assume this would be an enhancement, building on top of #7091. In that case you may want to wait until #7091 is finalized and merged and then look into how to go about a PR, or - if possible - coordinate with @Moumouls while #7091 is still in the works.

[2021-03-21 22:43] cbaker6 opened #7291 "New anonymous user session acts as if it's created with password"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-21 22:44] sadortun commented on #7289
@mtrezza it's related to #7091 but can be done in parallel. 98% of the work is in Parse Schema classes.

The only things ng to add in @Moumouls PR would be aboutn 3 lines :)

If we can get someone to do the PostgreSQL adapter I can probably do the MongoDB.

[2021-03-21 23:39] #7291 closed

[2021-03-22 00:09] neiroc commented on #6427
Hi @mtrezza I'd like to help but I'm to sure how... I would do as @zhxiaogg did in this PR #4348. He basically added the 'Cache-Control', 'public, max-age=86400' header to the response but i don't think it's enough. Even if the browser is caching the file, for instance an image, when requested that file is not GET from the cache but it will get it from the parse server route. Why ?

An alternative

[2021-03-22 01:51] sadortun commented on #7069
@mtrezza After  working with https://www.npmjs.com/package/convict i think it could be a really good way to expose a configuration interface as it allow to define a configuration schema, and validation.

It also allow binding to ENV, and defining `prod`/`dev`/`test` configs

[2021-03-22 02:58] mtrezza commented on #7069
Interesting, maybe there are also other config definition concepts to consider.

[2021-03-22 04:09] dblythy commented on #7117
This isn't really required as if you want to enforce "private" users, you can write:

[code]

And Parse Server will automatically assign read and write access of request.user to itself.

[2021-03-22 04:09] #7117 closed

[2021-03-22 04:19] dblythy opened #7292 "Improve default Parse.User security"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-22 04:21] cbaker6 commented on #7289
In my [parse-hipaa](https://github.com/netreconlab/parse-hipaa) repo, I’m currently able to add indexes to a parse-server by doing the following in my [index.js](https://github.com/netreconlab/parse-hipaa/blob/61f39143795af311e12d402a8e837a9f98e5299a/parse/index.js#L182-L207) (this works for Postgres and Mongo as it leverages the methods the Parse Storage adapters already have to create indexes):

[2021-03-22 04:29] sadortun commented on #7289
Good to know.

Having to get the Adapter directly as a nuisance, but if you are all Ok with this, I won't change the existing Adapter code to add the `options` parameter. And use the adapter directly in @Moumouls PR.

[2021-03-22 11:26] mtrezza commented on #7292
Thanks for suggesting.

As we are moving towards phased depreciation, before this would become a breaking change, the following would need to be implemented:
- A Parse Server option that allows to define whether a new User should be public or private with the default being public (status quo)
- A "default deprecation warning" that the default will change in a future version (PR for this is in the

[2021-03-22 11:39] mtrezza commented on #7117
That's a nice side-effect.

[2021-03-22 16:52] mtrezza commented on #7271
[Here](https://github.com/parse-community/parse-server/issues/7292#issuecomment-803989620) is a practical example of how to do a breaking change.

[2021-03-22 18:51] sadortun commented on #7271
@mtrezza in this case, what can be done would be to imement the PR now, but add a config parameter that would default to `false`

If the parameters remind `undefined` you display a deprecation warning to the logs until `v5.0.0`,  after that you change the default behaviour.

Since youre also considering refactoring the server config, I would recommend implementing support for the new structure in

[2021-03-22 18:56] mtrezza commented on #7271
@sadortun How does this differ from the suggestion made in https://github.com/parse-community/parse-server/issues/7292#issuecomment-803989620?

[2021-03-22 23:19] davimacedo commented on #7269
I believe only over and, or, not

[2021-03-23 02:17] davimacedo opened #7293 "Combine all Parse JS repositories into a single monorepositories"
### New Feature / Enhancement Checklist

- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-23 11:44] mtrezza commented on #7293
With regards to the new versioning and release cycles we want to introduce, that would mean that there is only one version number for the mono repo, instead of individual version numbers for each repo, correct? So mono repo v5.0.0 would mean Parse Server 5.0.0, Parse Dashboard 5.0.0, etc?

[2021-03-23 17:16] dblythy commented on #7277
Closing as I see this more as a JS SDK discussion.

[2021-03-23 17:16] #7277 closed

[2021-03-23 18:36] mtrezza commented on #7271
For future discussion about release automation, we may use something like https://github.com/semantic-release/semantic-release. That would also define the branch structure to use. Still requires to compare the different auto-release approaches available.

[2021-03-24 02:55] davimacedo commented on #7293
The packages are independent (besides they reside in the same GitHub repository) so they can be either released separately with their own versions or together with the same version. I'd probably try to release major versions all together but let minor and patch versions to be released separately.

Yes. We can continue having some tests running inside each of the packages but we can also have a tes

[2021-03-24 07:36] tehsunnliu commented on #6169
Hi, is there anyone who can help me implement login/signup only with phone number and otp?
What I've achieved till now is based on this [this](https://github.com/parse-community/parse-server/issues/6152#issuecomment-546159920), User requests for OTP from cloud code then while verifying OTP we signup a user or login user with a new password and return the session token.
This method, however, has pr

[2021-03-24 11:59] yanuarizalk opened #7295 "Live Query not firing any event under User ACL"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-24 16:29] dblythy commented on #7292
Awesome, thanks for the detailed write up. This will be a good way to show the depreciation policy, considering it will only change a few lines of code

[2021-03-24 16:54] sadortun commented on #7271
You guys might also want to have a look at GitHub Projects. You can have projects per Repo, and for the entire `Parse` organization if you need to organize/plan things for the future.

It can also give a clear view on what features will be included in the upcoming releases, and the status of theses releases.

https://github.com/features/project-management/

[2021-03-24 16:58] dblythy commented on #7295
In your logs the "subscribe" request comes way after the POST request which saves the object.

Perhaps make sure `.subscribe` is called before any other "chat" object is updated or created?

Finally, are you using any Cloud code livequery triggers?

[2021-03-24 17:09] mtrezza commented on #7271
@sadortun Thanks for suggesting; we can definitely look into that once we have our releases structured. Maybe you have an idea about how we can use the kanban in a beneficial way?

[2021-03-24 17:12] sadortun commented on #7271
Kanban = 🚀

While we're at it, maybe a Discord server too ? :)

[2021-03-24 18:24] mtrezza commented on #7271
Feel free to join the Community Forum 🙂

[2021-03-25 02:22] yanuarizalk commented on #7295
Thank you for your reply @dblythy.
The POST request i use is intended to authenticate the user, and i write the query to make sure there's data exist or not to be logged.

No i am not

[2021-03-25 18:27] sahilpohare opened #7297 "WebAssembly and/or Docker Cloud Code functions"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-26 13:41] mtrezza commented on #7297
Thanks for suggesting.

WASM is being designed to run in JavaScript VM environments and be importable like ES2015 modules. It should be possible to run WASM modules without any change in Parse Server. Parse Server is written in JS anyway, so there is no easy way to avoid JS unless coding Parse Server entirely from scratch into a WASM module.

Can you explain in a bit more detail what and why you s

[2021-03-27 12:46] #7198 closed

[2021-03-27 22:58] alioguzhan commented on #7129
This is also a blocker for [Linode Object Storage](https://www.linode.com/products/object-storage/). I was able to make it work by downgrading the `parse-server-s3-adapter` to `v1.4.0`

[2021-03-27 23:25] mtrezza commented on #7129
Thanks for confirming, @alioguzhan Would you want to make a PR to fix this?

[2021-03-27 23:29] bing-deng commented on #5403
nice ,it works

[2021-03-27 23:31] alioguzhan commented on #7129
Sure @mtrezza . If you provide me a little guidance by pointing the starting point, I can make a PR. AFAIK, this is occurring because the parse-server sends `tags` to the provider no matter what, even if it is not set.

[2021-03-27 23:38] mtrezza commented on #7129
That's correct. I suggest to read the original [discussion](https://github.com/parse-community/parse-server-s3-adapter/pull/135#issuecomment-761846696) that lead to the opening of this issue.

The general approach would be to only set the tags property of a `Parse.File`, if the tags are actually set. Let me know if you need more details, and I can take a closer look at the code.

[2021-03-28 21:23] mtrezza commented on #7180
Added

<details>
<summary>ParseGraphQLServer Auto API Schema Objects Queries Get read preferences should support includeReadPreference argument</summary>

[code]
</details>

[2021-03-29 00:06] mtrezza commented on #7287
@sadortun Would you want to look into this to find out what we are missing to generate from the annotations?

[2021-03-29 00:10] sadortun commented on #7287
@mtrezza I did start to take a look,  but my first tests yielded over 1000 errors :) .... I'll try to do a few more tests, but i dont have much time in the upcoming weeks

[2021-03-29 00:20] sadortun commented on #7287
@mtrezza I'm not a Typescript Expert, but one question i have for you is why dont we rename all `.js` files to `.ts` files ?

Currenly i have a few thousands of theses errors : [r TS8010: Type annotations can only be used in TypeScript files.
](https://github.com/microsoft/TypeScript/issues/35470)

[2021-03-29 00:43] sadortun opened #7301 "Discord server"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-29 01:40] mtrezza commented on #7301
Thanks for suggesting.
I'm closing this as it does not seem to be related to Parse Server but to the community.

These topics are better suited in our [Community Forum](https://community.parseplatform.org), please feel free to open a new topic there for discussion.

[2021-03-29 01:40] #7301 closed

[2021-03-29 02:02] mtrezza opened #7302 "Add centralized deprecation"
## New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

## Current Limi

[2021-03-29 02:13] sadortun commented on #7301
Done. https://community.parseplatform.org/t/official-discord-server/1506

Hope it get officially endorsed, supported and maintained by Parse Platform :)

[2021-03-29 02:21] mtrezza commented on #7301
Thanks, I'm looking forward to the discussion.

[2021-03-29 03:07] mtrezza commented on #7293
I wonder how would that work branch-wise? Would there be a single `master` branch for all and a release for an individual package would always be made from that common master?

[2021-03-29 03:15] mtrezza commented on #7069
The Deprecator https://github.com/parse-community/parse-server/pull/7303 should help when changing Parse Server options.

[2021-03-29 04:46] #7033 closed

[2021-03-29 04:53] davimacedo commented on #7293
Yes. Since they will be all in the same repository, we will have only one master branch for all packages. If we use lerna, when we use lerna deploy command, it checks the packages the suffered changes and release all of them at once.

[2021-03-29 12:18] mtrezza commented on #7293
That sounds pretty neat. Do you think we should set up a sample repo to try this out with dummy sub-repos? Just to try this out hands on.

I am doing the same currently for the new branch system and came across some challenges that are just built into GitHub, I hadn't thought of before.

[2021-03-29 14:32] mtrezza commented on #7232
I would be curious to see if anyone could reproduce the issue.

[2021-03-29 21:00] davimacedo commented on #7293
Yes. I can create a test repo and even copy all others inside so we can check how it would work. I've also worked at this repo (https://github.com/parse-community/parse-react) which uses lerna and is a monorepo with multilpe npm packages.

[2021-03-29 21:20] mtrezza commented on #7293
The question is whether we run into other trouble when we go about release automation. I assume there would be less tools available for mono-repos, but that's just a guess.

[2021-03-30 07:54] olleolleolle opened #7304 "Use jwks-rsa 2.x to get their async/await methods, for simpler code"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-03-30 09:01] mtrezza commented on #7304
Thanks for suggesting.

Parse Server is officially compatible and tested with Node 10, so bumping the engine version to >=10 should be fine.

Would you want to start a PR?

[2021-03-30 20:42] #7302 closed

[2021-03-31 01:45] swittk commented on #7287
Regarding renaming .js to .ts, I've been wondering that too.

I'd noticed that in many of the files, functions are fully annotated with Flow types. It shouldn't be that hard to simply convert all files to .ts with the function types being the ones already defined there.

But I don't know if there are still people using Flow. If they still do, then changing .js to .ts might break people's workflows

[2021-03-31 01:55] sadortun commented on #7287
I think we should rename files to `ts` for the next major release.

Meanwhile, I can try to get something working, but I don't want  it to go to waste if its not going to be merged.

[2021-03-31 11:51] yanuarizalk commented on #7295
Turn out the one that caused issue is my misconfiguration of HOST, in which i set it to docker static ip address instead of the default one (0.0.0.0).
I am sorry for not attaching my env variable before.

[2021-03-31 17:49] strom-und-spiele opened #7307 "`.equalTo` no working in string Arrays when using PostgreSQL"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-01 05:05] dblythy commented on #5521
@NuclleaR I can replicate your issue and am working on a fix

[2021-04-01 05:11] dblythy opened #7310 "Set Objects in afterFind and afterLiveQueryEvent triggers"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-01 16:01] MobileVet opened #7313 "`User` changes take significant time to propagate between threads"
### New Issue Checklist

- [X ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [X ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [X ] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [X ] I can reproduce the i

[2021-04-02 15:33] #7129 closed

[2021-04-02 17:33] mtrezza commented on #7293
I think it makes sense to combine repos like S3 adapter into monorepo together with Parse Server, because these would not be used on their own and they are very dependent on Parse Server, an adapter change mostly leads to a Parse Server change as well. But I am not sure about Parse Dashboard for example, which seems more de-coupled from Parse Server.

[2021-04-02 22:35] davimacedo commented on #7293
You may be right. We can start with the most obvious ones and then analyze the others.

[2021-04-03 14:57] pythonistastic opened #7317 "Error when trying to apply Email Verification and Password Reset"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-03 15:21] mtrezza commented on #7317
I suggest you post your Parse Server configuration to get more specific support.

For now I am closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questio

[2021-04-03 15:21] #7317 closed

[2021-04-04 08:08] #7295 closed

[2021-04-04 11:02] dblythy opened #7318 "User is always undefined in liveQuery triggers"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-04 11:03] dblythy commented on #7318
Related #7318

[2021-04-04 11:07] mtrezza commented on #7318
I classified this as a bug with severity S2, because there is no known workaround.

[2021-04-04 11:47] mtrezza commented on #7310
Thanks for reporting.

I classified this as a bug. To help determine the severity of this bug:
- Is there a known workaround until this bug is fixed?

[2021-04-04 11:51] mtrezza commented on #7307
Thanks for reporting.

I classified this as a bug. To help determine the severity of this bug:
- Is there a known workaround until this bug is fixed?

[2021-04-04 11:52] dblythy commented on #7310
Not that I am aware of!

[2021-04-04 11:53] dblythy commented on #7310
The work around is to fetch the pointer on the frontend.

[2021-04-04 12:25] mtrezza commented on #7310
Thanks, I classified this as bug with severity S3 (blocks non-critical functionality and a work around exists):
- Workaround: https://github.com/parse-community/parse-server/issues/7310#issuecomment-813020167

[2021-04-04 12:27] mtrezza commented on #7313
Thanks for reporting.

Would you open a PR with a failing test case?

[2021-04-04 18:22] mtrezza commented on #7297
I'm closing this issue because it seems to be answered.

If you have any questions please feel free to comment and we can re-open the issue.

[2021-04-04 18:22] #7297 closed

[2021-04-05 00:29] mtrezza commented on #6637
Clo

[2021-04-05 00:29] mtrezza commented on #6637
Closed by https://github.com/parse-community/parse-server/pull/6636

[2021-04-05 00:29] #6637 closed

[2021-04-05 13:47] MobileVet commented on #7313
@mtrezza Will take a look.  I didn't realize the cluster configuration was possible with Parse Server setup.  We have been using Throng outside of our PS setup.

[2021-04-05 14:17] mtrezza commented on #7313
Yes, not only is it possible, it should be conveniently configurable with a single option.

[2021-04-05 14:27] mtrezza opened #7320 "Remove simple-mailgun-adapter dependency"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-05 18:34] strom-und-spiele commented on #7307
Thanks for the update.

The only workaround I found was going back to MongoDB. However, as the last MongoDB that has a usable license is soon at its EOL, this is only a temporal fix.

[2021-04-05 19:25] mtrezza commented on #7307
Can you explain further?

[2021-04-06 00:13] mtrezza commented on #7271
After further looking into various release automators, https://github.com/semantic-release/semantic-release seems to be exactly what we need.

It offers a versatile, forward-looking branch structure that is especially useful to better manage breaking changes with pre-release versions. That means we can work an future branches that include breaking changes while still patching existing releases, al

[2021-04-06 14:32] #7320 closed

[2021-04-07 11:04] pythonistastic commented on #7317
Hey @mtrezza , I have been reading about the email adapter and it looks like its already there in the server in the "/opt/bitnami/parse/node_modules/@parse/simple-mailgun-adapter" , and according to that I have edited my server.js file to be as follow:

So that is my server.js file in which I have read in documentations where to place the part of emailAdapter.

Can you help me with this one please

[2021-04-07 12:52] mtrezza commented on #7317
I would just note at this point that the [simple-mailgun-adapter](https://github.com/parse-community/parse-server-simple-mailgun-adapter) is about to be deprecated. As alternative, there are a number of community provided email adapters. I suggest to try out the API Mail Adapter which has a demo script that allows you to verify whether your Mailgun configuration is correct.

This section is for Pa

[2021-04-07 17:56] mtrezza commented on #7320
@davimacedo Can you please archive [@parse/simple-mailgun-adapter](https://www.npmjs.com/package/@parse/simple-mailgun-adapter) on npm? I don't have the access rights there.

[2021-04-07 22:19] davimacedo commented on #7320
I believe there isn't such option at npm.

[2021-04-07 23:49] mtrezza commented on #7320
I thought so, because this:
https://www.npmjs.com/package/parse-server-simple-mailgun-adapter

has message:
<img width="445" alt="image" src="https://user-images.githubusercontent.com/5673677/113948173-97476480-980c-11eb-8af4-6a5538cfb208.png">

[2021-04-08 00:36] davimacedo commented on #7320
It looks it is a command and not an option in the dashboard: https://docs.npmjs.com/deprecating-and-undeprecating-packages-or-package-versions

I will try that.

[2021-04-08 00:41] davimacedo commented on #7320
It looks that worked.

[2021-04-08 00:55] mtrezza commented on #7320
Great! I see it now too.

[2021-04-08 15:18] strom-und-spiele commented on #7307
Just noticed that my answer somehow wasn't saved.

Mongo v3.6 [will expire in April](https://www.mongodb.com/support-policy). Starting with v4.0 its [licence changes](https://www.mongodb.com/licensing/server-side-public-license/faq#when-to-use) so that

It's not really clear where "public available MonogoDB aaS" starts and ends (I'd argue that parse with mongo is a a MongoDB aaS). Therefore I (and

[2021-04-08 16:27] mtrezza commented on #7307
Parse Server does not fall into this category, it is not a DBaaS, nor are apps built with Parse Server, unless the app is a DBaaS product.

An example of MongoDB aaS would be ObjectRocket. These terms have their roots in several historic precedents in the open source ecosystem, where cloud service providers offer open sourced software for-profit without contributing back to the original open sourc

[2021-04-08 16:44] mtrezza commented on #7307
On a separate note I should mention that the next version of Parse Server will drop support for MongoDB 3.6. You may want to adapt your app to MongoDB >= 4.0 rather sooner than later.

[2021-04-08 20:21] sadortun commented on #7069
Hi @mtrezza sorry for the delay, I'm trying to catch up on stuff that is accumulating !

One thing I like with Convict is that it does all the co fig validation, and handle multiple types of configs (yaml, JSON, ENV Vars....)

The format is also intuitive to use.

Currently, my guess is thatmost new projects start by cloning the `parse-server-example`, while the project is awesome to get a quick s

[2021-04-08 20:27] mtrezza commented on #7069
@sadortun I like the idea! Thanks for this insight.

@dblythy What do you think?

[2021-04-08 21:26] dblythy commented on #7069
Any improvements to the `parse-server-example` project I'm always keen for. I think this change could make it a little easier for us to support developers in the forum and stackoverflow.

[2021-04-08 21:32] mtrezza commented on #7069
How do you see this in the example repo?

[2021-04-08 21:51] sadortun commented on #7069
@mtrezza I'm using it in a project, you can have a look  here at:
-  [user's config file](https://github.com/GoPlan-Finance/GoPlan-app/blob/master/backend/config/config.defaults.ts)
- [server options](https://github.com/GoPlan-Finance/GoPlan-app/blob/master/backend/src/config/index.ts)
- [and usage](https://github.com/GoPlan-Finance/GoPlan-app/blob/master/backend/src/server.ts#L54)

[2021-04-09 01:32] mtrezza commented on #7069
2 thoughts:

- I am not sure that adding this solely to `parse-sever-example` provides any benefit; it merely makes the example more complex by adding an unnecessary layer of abstraction between the (new) developer and Parse Server
- Considering this for Parse Server, we would need to look at the current config mechanism, which covers some things:
  - JS parameter definition
  - Environment variab

[2021-04-09 01:56] sadortun commented on #7069
You are absolutely right. @mtrezza Convict would be more for `parse-server-example`

My thought on this is that your example project should be as easy and convenient to get started with.

Adding a bit of complexity is fairly OK if it allow users can simply take the example project to start their own projects.

[2021-04-09 02:18] mtrezza commented on #7069
That is already possible with a config file, or simply a commented out section in index.js.

[2021-04-09 09:41] mtrezza opened #7326 "Add CI check for package-lock"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-09 09:45] mtrezza opened #7327 "Add CI check for docker image building"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-09 09:51] mtrezza commented on #7287
I think using TypeScript would also be a good best practice addition to the example repo, @dblythy?

Switching Parse Server to TypeScript is probably not a bad idea, although there are syntactic differences between Flow and TS, it seems that TS is developing into the de facto standard.

@dplewis @davimacedo What do you think?

[2021-04-09 09:55] mtrezza opened #7328 "Add prettier for JSDoc"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-09 10:13] dblythy commented on #7287
Forgot to mention that this issue will be [closed here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/52261).

I think converting the Parse Server Example to Typescript would be a good improvement.

[2021-04-09 10:24] mtrezza opened #7329 "Add CI check for performance change"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-09 10:25] mtrezza commented on #7329
@dplewis any idea how to go about this?

[2021-04-09 10:38] sadortun commented on #7287
@dblythy just for my understanding, did you update the TS typrs by hand or there is a way to regenerate them ?

Could/should we have something In The docs regarding this ?

[2021-04-09 10:44] mtrezza opened #7330 "Add CI check for test duration impact"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-09 10:45] dblythy commented on #7287
I did them all manually @sadortun. I tried to automate it but couldn't get it working in enough depth.

[2021-04-09 11:51] mstniy opened #7331 "Error Code for Invalid Geojson"
### New Issue Checklist

- [ x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ x] I can reproduce the i

[2021-04-09 12:12] mtrezza commented on #7331
Thanks for reporting!

I agree that the server should not crash but provide a proper error message. The steps would be:
- See whether an existing Parse Error code (defined in Parse JS SDK) can be reused for this.
- If not, then create a PR in Parse JS SDK for a new error (see [Contribution Guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md#parse-error))
- Create a P

[2021-04-09 12:13] WinsTechnology commented on #6567
Same problem. Cant get it running.

[2021-04-09 12:14] mtrezza commented on #7331
This issue has been classified as bug with severity S4 (small/trivial):
- Workaround: Validate GeoJSON before sending it to MongoDB

[2021-04-09 13:14] mtrezza commented on #7271
@L3K0V

If you mean release automation, eventually (ideally) yes. After Parse Server, the automated release process will likely be rolled out to other repos. No timeframe for Parse Dashboard yet though.

[2021-04-09 14:25] srameshr commented on #7281
So, will this be introduced?

[2021-04-09 14:33] Moumouls commented on #7271
@mtrezza  you are right https://www.npmjs.com/package/semantic-release is what we need. I use it extensively on my project.
Also to make it work correctly, since sementic release can scan commits to increment version correctly, i can suggest to add Conventional Commit System.

We can setup automatic commit lint before commit hook with:
- https://www.npmjs.com/package/@commitlint/cli
- https://www.

[2021-04-09 14:39] mtrezza commented on #7271
Yes, we have a playground repo in which we'll refine the setup before applying it to Parse Server.

[2021-04-09 14:40] #7327 closed

[2021-04-09 14:47] Moumouls commented on #7271
then it will force contributors tu commit something like `fix: undefined file` or `test(auth adatper): add spy`

[2021-04-09 14:50] Moumouls commented on #7271
here also example of release rc that i use

[code]

[2021-04-09 14:56] mtrezza commented on #7281
I'm not aware of anyone working on it currently, so it is up for grabs if you would like to give it a try.

[2021-04-09 14:58] Moumouls commented on #7271
May be out of context:

I can also suggest to add automatic scope labeling on PRs via Github action Labeler

[code]

Then we can have some label based on what is touched on the PR like:

- scope/graphql
- scope/adapters
- scope/db
- scope/auth
etc...

[2021-04-09 14:59] mtrezza commented on #7271
@Moumouls Thanks, that is all planned, see the README in https://github.com/parse-community/release-automation-playground

[2021-04-09 15:00] Moumouls commented on #7271
thanks @mtrezza  As usual it seems I'm a bit late 🙂

[2021-04-09 15:03] mtrezza commented on #7271
Not at all, good to know you have some experience in this, I will tag you when related issues come up.

[2021-04-09 16:37] sadortun commented on #7287
Thanks a lot @dblythy  you're awesome! I'll submit my a PR directly there of I see anything else missing

[2021-04-09 16:45] mtrezza commented on #7287
Is anyone interested in looking into how to automate this and make it part of our package so this tedious manual work doesn't have to be done?

This would play nicely with our release automation philosophy.

[2021-04-09 17:11] dblythy commented on #7287
I tried with no success, I’m not overly familiar with Typescript.

Also I’m relation to the example repo, perhaps we could have `parse-server-typescript-example`?

We could also add some full stack examples with /Backend and /Frontend folders organised such as the project @sadortun  shared earlier. I’m thinking we could have  boilerplate:

-`parse-server-mean-example`
-`parse-server-mern-example`

[2021-04-09 17:24] mtrezza commented on #7287
Not sure whether we want to maintain two repos. I think also within typescript it is possible to have non-types files.

[2021-04-09 17:45] Moumouls commented on #7271
okay @mtrezza i started a discussion on https://github.com/parse-community/release-automation-playground/discussions/1

[2021-04-09 18:01] sadortun commented on #7287
@mtrezza

Yes and no, Typescript can parse `.js` files containing JavaScript.

Currently `.js` files includes Type definitions and it breaks TSC.

If you are interested in moving toward Typescript, I can start dooing some tests to see what's possible.  But at a minimum that's involve renaming all `js` to `ts`.

I think it could be a great Leap forward!

[2021-04-09 18:35] mtrezza commented on #7287
I think we should explore for a transitional approach, otherwise the PR will have a hard time to keep up with changes. Large-scale all-at-once changes rarely work well.

[2021-04-09 18:37] pythonistastic commented on #7317
Hey @mtrezza , thank you for suggesting the API Mail Adapter, I have tried to lunch the demo script it failed at first with an error, digging around I have done a few changes in the script as per the instructions update in mailgun.js (https://github.com/mailgun/mailgun-js) the demo script is missing two lines at the beginning:
`const formData = require('form-data');`
`const mailgun = new Mailgun(f

[2021-04-09 18:42] mtrezza commented on #7317
These lines should only be needed if you upgraded the maingun adapter to 3.x; 2.x doesn't require these lines.

[2021-04-09 19:12] pythonistastic commented on #7317
No I actually used npm install to get the mailgun.js.

yea actually this is the configuration file content:

[2021-04-09 19:26] mtrezza commented on #7317
My first guess would be to check the paths, it should work with a simple `require('mailgun.js')`.

[2021-04-09 19:37] pythonistastic commented on #7317
I will try that simplifying the paths and changing the module.

The following is the content of package.json that is located in the same directory of configuration file:

[2021-04-09 19:39] mtrezza commented on #7317
I think you shouldn't need any path in the module property, in fact I think that is not allowed.

[2021-04-09 19:56] pythonistastic commented on #7317
Sure thing I will try out these suggestions and hopefully it works, Thanks a lot man really appreciate it

[2021-04-10 00:25] #7326 closed

[2021-04-10 00:26] dblythy commented on #7287
Sorry to interrupt - @sadortun you can close this issue as the definitions should now available in [2.18.5](https://www.npmjs.com/package/@types/parse)

[2021-04-10 02:07] sadortun commented on #7287
@dblythy @mtrezza ive been thinking about this for some time and I think we can do better.

DefinitelyTyped repo is good when  the main project doesn't support typescript or types are contributed from a separate entity, but I think in the case ofn`Parse` we should have types definitions moved back to the  intro server and JS SDK repo.

In addition, expecially considering the plan to include a depr

[2021-04-10 02:09] sadortun commented on #7287
@mtrezza

 I don't think so, Typescript parser doesn't expect typescript definitions in JS files.

See https://github.com/microsoft/TypeScript/issues/35470

[2021-04-10 02:32] mtrezza commented on #7287
First, hats off to @dblythy for manually updating the TS definitions, it can bring some immediate relief until we automate the TS definitions creation. I agree, manually adding definitions is not sustainable and inconsistent when Parse Server is concurrently distributed on multiple channels.

It's not too much work to do it manually - until it is. Hence we are moving to automated releases now, and

[2021-04-10 02:51] #7287 closed

[2021-04-10 03:07] sadortun opened #7334 "Improve Typescript support"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-10 06:26] dblythy commented on #7334
@sadortun I hope you have a good weekend too, your suggestions are really valued and I look forward to seeing your contributions and using them myself!

If, for example, ParseCloud.js was converted to typescript, and all the types were laid out there, would this enforce types when using Parse.Cloud? Would this remove the need for DefinitelyTyped?

I’m not overly familiar with how typescript works

[2021-04-10 09:57] sadortun commented on #7334
Hi @dblythy  I'm not a Typescript expert but I'm pretty sure we can do this simply without touching the current codebase.

My idea is to simply copy `@types/parse` into `parse-server` repo under  `/types` folder and refer it in package.json

See `types` field.
https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#including-declarations-in-your-npm-package

That way we coul

[2021-04-10 10:29] mtrezza commented on #7334
I think there are 3 separate issues here:
1) Move TS definitions from DefinitelyTyped to Parse Platform (still manual update)
  - Into Parse JS SDK or Parse Server repo, or split into both, or dedicated repo?
2) Auto-generating TS definitions as part of CI (no manual update)
3) Converting repo to use TS

[2021-04-10 21:38] sadortun commented on #7334
Hi @mtrezza good breakup of things.

Indeed, the same process should be done also in JS SDK.  But from w hi at I see from using TS, most of the remaining issues in definitions are in `server`

Also, I think  it can be an easier to start with `server` since the scope is much more limited. And codebase smaller, and if we introduce a type  problem, it will affect less users if it's in `server`

I thi

[2021-04-10 21:56] mtrezza commented on #7334
Can't we just generate the TS definitions from JSDoc? I assumed all we needed was maybe some JSDoc refinement and setup the generation process.

https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.html

Every minute we spend on manual TS is lost time, if we replace it with auto-generation anyway. If we generate from flow then we reinforce a dependency on flow which we actual

[2021-04-10 22:18] mtrezza commented on #7156
This issue can be handled quite easily now:

- With the new Deprecator we can prepare the default change of `allowClientClassCreation`.

- With the new Security Check, Parse Server Example can simply contain the less restrictive settings. We can enable Security Check in the example repo and recommend to run them before deploying to production. The Security Check will warn the developer to change `

[2021-04-10 22:46] sadortun commented on #7334
@mtrezza As mentioned before, it doesn't seems like there is a way for Typescript to parse JS files that contains non-js code like in `server` that contains flow definitions. Typescript just dies......

https://github.com/microsoft/TypeScript/issues/35470

If you find a way around this, it would be great.

Yes I agree, BUT, to be realistic, current typescript declarations do about 95% of the job O

[2021-04-10 23:58] mtrezza commented on #7334
Why don't we just strip the flow annotations?

[2021-04-11 00:25] sadortun commented on #7334
@mtrezza yes, that's an option too. It all depends on how confident you are about JSDoc.

But if the mid/long term goal it to transition to Typescript, I think that using a tool like `flow-to-ts` might be a simpler approach since it will allow to do both the generation of definitions, and typescript code to merge later.

`flow-to-ts` would allow to find issues with existing code and fix issues  in

[2021-04-11 00:45] mtrezza commented on #7334
I suggested that because it decouples flow from ts via JSDoc, to allow an easier transition to ts.

Can you make a PR and create the definitions using `flow-to-ts` like I did in the PR? Your suggestion may be better because I think the current flow annotations are more complete than the current JSDoc annotations.

My take is that all JSDoc has to be accurate and consistent with flow / ts, because

[2021-04-11 11:11] dblythy commented on #7334
[Related discussion in community forum](https://community.parseplatform.org/t/parse-server-types/142)

[2021-04-11 11:21] mtrezza commented on #7334
The discussion is about 3, correct?

If all relevant types are in the JS SDK, then maybe for Parse Server only 3 is relevant but for the JS SDK also (2)?

[2021-04-11 12:08] mtrezza commented on #7334
I suggest we keep this open, as the issue itself still exists?

[2021-04-11 12:21] zivchen commented on #3093
@srameshr have you migrated to DocumentDB? is it working?

[2021-04-11 12:33] srameshr commented on #3093
I used getporter.dev to create a auto scaling Mongo instance and it's
running great and I don't need to worry about porting

On Sun, Apr 11, 2021, 5:51 PM Ziv Chen ***@***.***> wrote:

[2021-04-11 12:38] Chocolladin commented on #6641
@sadortun @davbeck  you managed to find a solution ? i tried passing and installationId also, still gettting undefined ...

[2021-04-11 12:39] mtrezza commented on #6641
Reopening as there has been recent activity and the issue still seems to exist.

[2021-04-11 12:40] mtrezza commented on #6641
@Chocolladin Would you want to submit a PR with a failing test so we can look into it?

[2021-04-11 13:27] Chocolladin commented on #6641
@mtrezza

Dear Manuel, that you for your quick response.

I'am not very familiar with PR and github, not being a dev in the first place, i will try though to be as precise as possible. Here is what i am trying to achieve :

Client side (react-native),
1. login with Firebase, getting an authentified Token and sending this Token to parse server.

On parse server,
2. Verify this token, and if OK,
3.

[2021-04-12 06:33] RaschidJFR opened #7338 "Support aggregation stage names starting with '$'"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-12 08:03] percypyan commented on #7270
Hi ! The LiveQuery is listening for changes on the User collection, however when the you're adding or removing a user to a role, you are updating a role, not a user. This is why the LiveQuery isn't triggered.
On the other hand when you're update ACLs of an object, you are modify the object itself (ACLs being a field of the collection), so the LiveQuery is triggered as expected.

To be confirmed, b

[2021-04-12 08:50] percypyan opened #7340 "Live Queries Server: wrong event returned when multiple subscription triggered"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-12 10:44] mtrezza commented on #7338
Thanks for suggesting!

I think this change would be welcome by the community. I have stumbled upon this inconvenience too, and it really can be quite a big one in a large pipeline.

The conversion back and forth between MongoDB and Parse pipeline syntax during development is additionally difficult because the IDE doesn't check the syntax, for the IDE it's just a large JSON.

[2021-04-12 10:54] mtrezza commented on #7340
Thanks for reporting!

That's a great in-depth examination of the issue, we'll look forward to the PR.

[2021-04-12 10:58] mtrezza commented on #7270
@percypyan Thanks for the comment, after reading the issue again I agree that this seems more like a proposal for an enhancement than a bug.

[2021-04-12 11:19] dblythy commented on #7270
Thank you @percypyan and @mtrezza for the thoughts. I think you both might be right. Let me check and I’ll let you know.

[2021-04-12 13:53] percypyan commented on #7340
There is no workaround for all I know...

[2021-04-12 13:54] fbeiger commented on #7340
Well if all the subscriptions concerned are in the same app, you can create 1 subscription (with a bigger filter) and use the `update` event to interpolate logic. So for our precedent example, instead of having 2 subscriptions we can have:
[code]
But this can lead to a lot of events being sent, and also you'll need to cache locally the previous value of `myBoolean` for each object (because now you

[2021-04-12 14:26] percypyan commented on #7340
Yes, that's true. Those workarounds may work in some specific cases but aren't really sustainable, as explained by @fbeiger.

[2021-04-12 14:37] mtrezza commented on #7340
Thanks for providing more details.

I classify this issue as bug with severity S3 (normal - blocks non-critical functionality and a work around exists):
- Workaround for common use cases: https://github.com/parse-community/parse-server/issues/7340#issuecomment-817832276

[2021-04-13 07:35] mtrezza opened #7342 "Add deprecation warning at runtime"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-13 09:08] mstniy commented on #7331
I have created a PR for the new error code
parse-community/Parse-SDK-JS#1342

[2021-04-13 13:03] pythonistastic commented on #7317
Hey @mtrezza , I have tried to do the two suggested points but unfortunately still the same error keeps showing up  An appName, publicServerURL, and emailAdapter are required for password reset and email verification functionality. I have tried looking up the file that generates the error which is UsersRouter.js and tried to play with the variables in it feeding in those required variables manuall

[2021-04-13 13:43] mtrezza commented on #7317
You can try to get the configuration right on a local environment, ideally using the parse-server-example repo. When you know the config is right, you can try to deploy to a remote environment and get it to run there.

This way you separate mail adapter config from environment issues.

[2021-04-13 21:47] #7340 closed

[2021-04-14 09:25] mtrezza commented on #7331
The error code PR has been merged.

The error code won't be available until a new Parse JS SDK will be released and the dependency in Parse Server is updated. But you can already expect the Parse Error and write tests for it, they will just fail for now.

[2021-04-14 10:22] Moumouls opened #7345 "Deprecation warning for listening on Db class events"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-14 10:29] Moumouls commented on #7345
downgrade to mongo 3.6.3 fix the issue, but it's just a temporary fix. I do not know which Parse Server code use DB listening events. @dplewis @mtrezza  if you have an idea 🙂

[2021-04-14 10:42] mtrezza commented on #7345
Thanks for reporting!

Can you please fill out the versions in the template so we know in what environment you are experiencing this issue?

[2021-04-14 10:53] Moumouls commented on #7345
@mtrezza it seems to come from the native mongo driver: https://stackoverflow.com/questions/66190532/deprecationwarning-listening-to-events-on-the-db-class-has-been-deprecated-and

All version >3.6.3 seems to raise this log.

[2021-04-14 11:20] mtrezza commented on #7345
[This](https://developer.mongodb.com/community/forums/t/node-44612-deprecationwarning-listening-to-events-on-the-db-class-has-been-deprecated-and-will-be-removed-in-the-next-major-version/15849/4) seems to explain the fix needed:

client.on(‘Event name I want to listen too’, () => {…})
await client.connect()

[2021-04-14 13:00] mtrezza commented on #7345
I classified this as bug with severity S4 (small/trivial):
- Using deprecated APIs should be avoided, therefore it is considered a bug
- Because it is only a warning without any current function effects, it is only considered a small / trivial bug

[2021-04-14 14:19] mtrezza commented on #7130
One way to separate `Parse.Object` properties from common JavaScript object properties may to be encapsulate the `Parse.Object` properties using `Symbols`.

For example, a ParseObject can have a symbol `length` without interfering with the common JavaScript object property `length`. All symbols can be retrieved with `ParseObject.getOwnPropertySymbols()`.

[2021-04-14 21:22] mtrezza commented on #7331
Note: closed in favor of https://github.com/parse-community/parse-server/pull/7347.

[2021-04-15 14:23] mtrezza opened #7348 "GraphQL reassign issue"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-15 18:10] mtrezza opened #7349 "Move PostgreSQL adapter into own repo"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-16 04:28] RaschidJFR commented on #7342
Here's a sketchy idea to build on top of:

### Idea 1 (Runtime based)

1. Create a function `Deprecator.watchForDeprecatedKeys()` and use it like this:

[code]

    **Behavior:**
    The function checks for the current version of `package.json`. If the version is higher than what set in param `willBeRemovedIn`, it will throw an exception like `"This feature should already be removed"`.

2. Add a t

[2021-04-16 10:22] nchambrier-iziwork opened #7350 "TypeScript typing issue with "FunctionRequest""
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
  - Related to #7334 and other

[2021-04-16 12:38] Yurgal commented on #6641
Hi @Chocolladin

Did you find any solution ?
I want to switch the session of a client without using a password.
In a cloud function, I am trying to do the exact same thing that you do in your step 3, then send to the client it's new session.

Regards,

Killian

[2021-04-16 12:50] mtrezza commented on #6641
This should be possible.

If we can get a failing test, that would be a first step to solve this. If you need any guidance for how to write a test, please feel free to ask, it should be fairly simple in this case.

[2021-04-16 12:56] Yurgal commented on #6641
Can you explain me how to write a test ? I should be able to do it.

[2021-04-16 13:07] mtrezza commented on #7350
Thanks for reporting.

Are you using DefinitelyTyped type definitions?

[2021-04-16 13:19] mtrezza commented on #6641
Sure, we do have a [contribution guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md#please-dos) but unfortunately it is very verbose and needs refactoring, so I will just mention the main steps here:

1. Set up your local test environment as described in [Setting up your local machine](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md#setti

[2021-04-16 13:24] mtrezza commented on #7100
@dblythy Would you want to make a PR to add your [blog post](https://blog.parseplatform.org/learn/tutorial/community/nodejs/2021/02/14/How-to-start-contributing-to-Parse-Server.html) to the contribution guide, for the reasons outlined in the [comment](https://community.parseplatform.org/t/what-you-love-about-parse-and-also-of-the-difficulties-you-have-encountered/1140/11)?

[2021-04-16 14:21] Yurgal commented on #6641
@mtrezza

I reproduce the error as you describe but it seems that I am not able to create a new branch.
The command `git push --set-upstream origin issue-6641` never end.

[2021-04-16 15:07] Yurgal commented on #6641
@mtrezza
I created the PR above.
I don't understand why there is so many failed check in the CI.

[2021-04-16 15:44] hej2010 opened #7354 "Cloud Code validator issue with required: false"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-16 16:06] mtrezza commented on #7354
Thanks for reporting!

I classified this as a bug with severity S3 (normal):
- Workaround: do not use cloud function validator but manually validate

[2021-04-16 17:02] IceDev-xyz commented on #6641
So, on paper this should already be possible?
Login a user without credentials (password) using masterKey.

[2021-04-17 02:14] mtrezza opened #7356 "Replace mongo-runner with mongodb-memory-server"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-17 02:22] mtrezza commented on #7342
I think 1 is the more pragmatic and fast to implement way. I'm still thinking about which aspects to standardize / for which deprecation scenarios to prepare, or if your example is already that's needed.

What we would not add is `willBeRemovedIn`, because a deprecation can be revoked or postponed, so we wouldn't want to suggest any date or version.

[2021-04-19 05:19] firdausa-iprogrammer opened #7359 "We're getting logs only at certain times"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-19 05:22] RaschidJFR commented on #7342
Yeah, option 1 is pretty straightforward, and also, it pseudo-centralizes deprecations if they are all added in `Deprecator.spec.js`. I can't think of a way of handling runtime warnings from `Deprecator.js` 🤔

So what's next? Need a hand with this? Should we wait for other ideas?

[2021-04-19 06:58] uzaysan opened #7361 "Support wildcard classname in cloud triggers"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-19 10:39] mtrezza commented on #7342
I'll make the PR in the coming days.

[2021-04-19 10:43] mtrezza commented on #7361
Thanks for suggesting.

Please use the issue template provided.

For example, the PR already makes the assumptions that the "trigger will be called for every class **unless** class has its own trigger".

This and possibly other aspects should be discussed in the issue.

[2021-04-19 10:49] mtrezza commented on #7359
The time relevance indicates that this is a environment or architecture specific issue.

I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions

[2021-04-19 10:49] #7359 closed

[2021-04-19 11:00] uzaysan commented on #7361
@mtrezza I have edited the issue.

[2021-04-19 11:02] mtrezza commented on #7361
I think the obvious alternative would be to define a function that contains the recurring logic.

[2021-04-19 11:12] uzaysan commented on #7361
You mean something like this?

[code]

But user is still have to define trigger for every class.

For example all classes has a user pointer. And Developer may want to assign the user that created the parse object. Developer can do this with this code:

[code]

This is a simple code but ıf developer has many classes, defining the triggers manually would take too long.

[2021-04-19 11:29] Yurgal commented on #6641
on paper, getting the session token on a user queried using the master key should work (I added the failing test), and I'm trying to use the `logIn` function to see if I can use an alternative, but it's not working ether

[2021-04-19 12:09] mtrezza commented on #7361
Yes, I wanted to mention it as an alternative, so we understand what the status quo is. The issue says that no alternative exist.

I agree, it seems to be a useful addition to Parse Server.

I would like to understand how you came to the assumption that these generic Cloud Function definitions override a class specific definition. If I understand you correctly this means:

[code]

[2021-04-19 12:28] uzaysan commented on #7361
User still have to define triggers manually so not an exactly alternative.

This is because developer may want to seperate some class logic from the others. Just because you used wildcard triggers doesn't mean you cant use generic triggers. If developer has a common logic for 50 class but different logic for a few class, they can use generic triggers for that classes.

Like this:

[code]

We are m

[2021-04-19 12:31] firdausa-iprogrammer commented on #7359
@mtrezza

I totally get your point.
But could you give us some pointers which would help diagnose the problem?
For eg. is there any setting in parse-sdk that would allow us to diagnose why it's sending seemingly endless packets to the parse-server?

That's just one theory as while we were trying to diagnose the issue ourselves we noticed that there were intermittent Nginx errors related to max fil

[2021-04-19 12:36] mtrezza commented on #7359
In case of a custom architecture issue, you could break the issue down into simpler parts. You say there are no logs, does that mean the app is not running, the log output is not there, the internet connection is out, any scaling issues server side, so that log receiving fails, e.g. peak times, etc.

I suggest you post on the above mentioned sites to get in-depth help, I would recommend either ser

[2021-04-19 13:07] mtrezza commented on #7361
Alternative here means how it can be done currently, without this enhancement. So we know where we are coming from. Could you add this to the issue description?

We are actually doing the opposite, because we implement a fixed rule in case of multiple definitions for the same class. The question is: if we have multiple definitions (specific and generic) for a class, how should they be handled?

-

[2021-04-19 13:12] nchambrier-iziwork commented on #7350
Looks like we haven't installed anything specific about Parse & Typing.
Should I explicitely install ***@***.***/parse-server" or similar?

Le ven. 16 avr. 2021 à 15:07, Manuel ***@***.***> a écrit :

--
Nicolas Chambrier - RecOps

[2021-04-19 13:18] mtrezza commented on #7350
Depends on your setup. Parse TS definitions are currently manually maintained in [DefintelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped#what-are-declaration-files-and-how-do-i-get-them).

[2021-04-19 13:56] uzaysan commented on #7361
Its still can't be done. Because we still have to write all class name manually which is what we are trying to escape.

I think option A would be best. Option B is in least favorable in my opinion. Because It locks developers hand. Its either black or white. No between. And about option C and D, I would choose C. I would run class specific trigger first then execute generic trigger. But running tw

[2021-04-19 14:10] mtrezza commented on #7361
You could just iterate through the schema and get all class names that match a regex, that's the same.

Option a) and b) are equally restrictive. You may prefer a) because it works for your case, other may prefer b) for their case. The same with the order in c). The only practical option is d) in my opinion.

[2021-04-19 14:38] uzaysan commented on #7361
Yes. You are right.

I disagree. You can always put generic logic to class specific trigger. But you can't put class specific logic to generic trigger. If you do, it's not generic logic anymore.

I would choose A. My logic is start from the small cluster and move to bigger ones. But If we really need to run both triggers I would let developer decide that.

We already have validators. We can use th

[2021-04-19 15:05] uzaysan commented on #7361
[code]

If you don't want the specific trigger to run, why would you even define it in first place.

I didn't understand this.

[2021-04-19 16:26] mtrezza commented on #7361
[code]

Currently, if you have multiple CF, the behavior is undefined I assume. I think there has even been a PR lately that warns or throws if there are multiple CF for the same class.

This gets more complex with regex CF, because we need to define what should happen. In my opinion all CF that match the class name regex should be executed. That gives the developer most versatility.

[2021-04-20 05:17] firdausa-iprogrammer commented on #7359
Actually I didn't type that right, we get logs but at a rate that is 10x less than at the times when the architecture works properly.
Eg. At the times it works we get 200,000 odd logs, when it starts giving problems we get 20,000 logs.

We're hosted on AWS with AutoScaling and we have a minimum of 2 instances on at all times.

The strange thing is it works at peak times and stops working at the ti

[2021-04-20 16:32] uzaysan commented on #7361
Should we create a poll on community forum? What do you say?  We would see what people want. İf they want to run both triggers we run both triggers. İf they want one to override the other, we go that way. @mtrezza

[2021-04-20 17:04] mtrezza commented on #7361
Not sure why you suggest polling? I want to make sure you understand the regex approach:

The approach to implement a regex syntax and execute all matching functions covers many use cases, including your specific use case. You can set it up to not execute a specific CF.

The approach you are suggesting is may cover your specific use case, but it is restrictive and not versatile. That means it will

[2021-04-20 17:19] uzaysan commented on #7361
I think our issue here is not how we implement wildcard triggers but what will we do if multiple triggers are set for same class.

[2021-04-20 18:23] mtrezza commented on #7361
It seems you are misunderstanding the regex approach.

2- beforeSave("User*" - trigger for all classes that name starts with User.

You keep saying "we should", but what is your argument for that?

[2021-04-20 18:25] mstniy commented on #7139
This issue with PUT requests still persists. I believe this issue should be re-opened.

[2021-04-20 18:27] uzaysan commented on #7361
One question. Is it possible to run multiple triggers for same class with regex? Multiple `beforeSave` trigger for example?

[2021-04-20 18:34] mtrezza commented on #7361
Can you give an example, I want to make sure we talk about the same.

[2021-04-20 18:35] mtrezza commented on #7139
I'm not sure why this was closed, @dplewis?

I think we can reopen if we have a failing test case?

[2021-04-20 18:40] uzaysan commented on #7361
My way is running only one trigger for classes. Multiple triggers can be confusing and developer can lose the track easily. And even we run multiple trigger, how will we determine the order? And ıf I understand regex way, we cant really know how many triggers will user define.

My example is this:

We should run only one trigger and that trigger must represent smallest cluster.

Now If you can giv

[2021-04-20 18:44] mtrezza commented on #7361
Yes, in your example, all 3 triggers will run.

Again, can you give an example that works with your approach but not with regex?

[2021-04-20 18:58] uzaysan commented on #7361
No I can't because like you said I can define class specific trigger by directly entering class name. But If I already define class specific trigger why would I want to seperate my code? PR's aim was getting rid of the defining triggers seperatly.

Sure I've downloaded it. How can I reach you?

[2021-04-20 19:03] mtrezza commented on #7361
Your PR may do that, but it is tailored too much to your use case. Parse Server philosophy is choosing universality over restriction to make it applicable for as many use cases as possible. Also we have to think beyond this PR, regex is the logical next step of your PR, and we will run into compatibility issues if we go with that PR now.

[2021-04-20 19:23] uzaysan commented on #7361
Ok. That's understandable. Do you have any idea how can we do regex implementation?

This is current code in parse repo:

`const trigger = get(Category.Triggers, `${triggerType}.${className}`, applicationId);`

and this is the get unctions:
[code]

It seems like if we wanna support regex, we need to retrieve every trigger before countinue. And check them manually. How can we solve this? Or does it

[2021-04-20 19:44] mtrezza commented on #7361
Basically there are two regex approaches:

- a) On-the fly evaluation in `maybeRunTigger` and test every CF regex definition whether it matches the current class name
- b) Create a mapping table on parse server start that defines for each class which triggers it should run. A table look-up may use less resources than n regex evaluations, but this introduces more complexity on schema change.

We ca

[2021-04-20 20:00] uzaysan commented on #7361
Order actually doesn't matter anymore because parse will execute them all. I we were eliminate some of the triggers(like my suggestion) order was important. But since we will run them all, we can run them all without a specific order.

[2021-04-20 20:11] mtrezza commented on #7361
Order can matter depending on what the trigger does. We may well say that the execution order is undefined for now. That simplifies the PR, leaving the door open for future change without breaking anything.

[2021-04-20 20:23] uzaysan commented on #7361
Currently we have this triggers:

[code]

Since this triggers will only run for one class or for one specific thing, we should leave them.
[code]

Regex will only apply to these triggers

[code]

Is this sounds good?

[2021-04-20 20:56] mtrezza commented on #7361
afterSave: 'afterSave',
  beforeDelete: 'beforeDelete',
  afterDelete: 'afterDelete',
  beforeFind: 'beforeFind',
  afterFind: 'afterFind',

Yes, I think these make sense.

[2021-04-20 21:05] mtrezza commented on #7361
So the PR needs to add is a regex test condition and iterate over all definition names.

- We may need to think of how to store the class definitions, currently definitions are only chars and numbers I think, but regex definitions can have special characters, for example: `[/].*(?=!2)`
- To ensure compatibility with current definitions we may need to auto-prefix `^` and suffix `$`.

[2021-04-20 23:32] mtrezza commented on #6687
@dplewis Since you are roaming around open issues, if you ever feel like tackling this here, I think it would make many happy.

[2021-04-21 04:48] swittk opened #7363 "Calling user.linkWith(<provider>, <authData>) on server-side doesn't remove the "anonymous" field from the authData object"
### New Issue Checklist

- [x ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issu

[2021-04-21 06:11] uzaysan commented on #7361
I was thinking something like this. Syntax will be "Cla*". and this trigger will run for all classes that starts with Cla.

My example code:

[code]

This function will look for this triggers:

[code]

And in `maybeRunTrigger` istead of running trigger for one time, we run trigger in a loop.

İnstead of this :

[code]

We do this:

[code]

This function assume that syntax will be my suggestion.

[2021-04-21 10:57] adminVRD opened #7364 "Error: 141, Invalid Function when importing other modules"
### Issue Description
Having some trouble adding Cloud Code to a Back4App project. I had a few simple functions working when they were all declared in `main.js`. I tried to move those functions into `user.js` and expose them in main with `require('./user.js')`. After deployment, I get:
[code]

### Steps to reproduce
`Main.js`
[code]

`User.js`
[code]

Request body:
[code]

I also tried converting

[2021-04-21 11:29] mtrezza commented on #7361
This is not regex syntax.

[2021-04-21 11:32] uzaysan commented on #7361
Can you give me an example? And also whats wrong with this approach?

[2021-04-21 11:35] mtrezza commented on #7361
You would have to get familiar with what [regex](https://en.m.wikipedia.org/wiki/Regular_expression) is and how it works to design a solution for this issue.

[2021-04-21 11:42] mtrezza commented on #7364
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2021-04-21 11:42] uzaysan commented on #7361
I know what regex is. But parse gets trigger with `return store[lastComponent];` . And last component is class name in this case. Do you have any idea how can we implement regex here?

Can you give an example that regex can do but this approach cant?

[2021-04-21 11:42] #7364 closed

[2021-04-21 11:43] mtrezza commented on #7363
Thanks for reporting!

Would you want to submit a PR with a failing test case for this?

[2021-04-21 11:45] mtrezza commented on #7361
How would you run a trigger for all class names that start with U and end with r or s?

[2021-04-21 11:54] uzaysan commented on #7361
Do you have any idea how can we implement regex to this: `return store[lastComponent];` ? If we go with your way storing triggers must change.

[2021-04-21 12:31] mtrezza commented on #7361
It seems we are going in circles so let's settle some points:
- It does not make sense to invent a [custom syntax](https://github.com/parse-community/parse-server/issues/7361#issuecomment-823804652) for reasons we have discussed extensively in this thread.
- We look for a solution to match a class name regex that is provided in the trigger `Parse.Cloud.define("classNameRegex", ...)`.

As I suggest

[2021-04-21 13:02] uzaysan commented on #7361
So you are saying that

`Parse.Cloud.beforeSave("/@[a-z0-9_\.]+/gi", function);`  User can do this. Regex here is just an example.

And internally we can retrieve all beforeSave triggers. And chech if regex matches like this:

[code]

Then we run all triggers inside of the array. Are you talking about something like this?

[2021-04-21 13:55] mtrezza commented on #7361
Yep! That's what I was thinking of.

[2021-04-21 21:26] mstniy commented on #7139
I don't think there is a test case that covers this. `ParseAPI.spec.js` has a few test for `PUT`, but none of them cover the case of using custom object ids to create a new object.

[2021-04-22 00:40] mtrezza commented on #7139
@mstniy Would you want to add a test case?

[2021-04-22 04:13] serchtul opened #7366 "Redis liveQueryPublisher connection not closed on shutdown"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-04-22 05:08] JeffGuKang opened #7367 "fetchWithSelected, fetchWithExcluded"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-04-22 07:22] uzaysan commented on #7361
If we want to support regex, that means we use regex string as object key. So our object will look like this

[code]

So first we have to extract regex strings from object. And `Object.keys` do that. İt extracts key. Then my code check if key is equal to Class name. İf it is equal, that means our key is not regex. Its regular string since we cant create class with regex string.

if classname is no

[2021-04-22 08:51] mstniy commented on #7139
Sure thing.

My understanding is that `POST` should create a new object. For requests with a custom object id, if the object already exists, it should fail. Whereas `PUT` should basically be an upsert. Please let me know if I am mistaken.

Should the PR fix the issue with `PUT` as well as introducing corresponding regression tests?

[2021-04-22 10:33] mtrezza commented on #7139
A `PATCH` request. Unlike `PUT` which is always a full representation of an object, a `PATCH` can is a partial representation and contains instructions on how to modify a resource.

That is the HTTP standard. That being said, if Parse is currently violating that standard, we'd have to look into what a correction implies in terms of breaking changes.

[2021-04-22 10:43] mtrezza commented on #7361
Conceptually yes, but a regex cannot be used as JS object key, so the code above is unlikely to work as it is.

Do you want to start a PR and see how to get it working?

[2021-04-22 10:46] mtrezza commented on #7367
Thanks for suggesting!

That could be a useful addition to Parse Server, as it provides a convenience method that does not require to define a query.

For completeness, can you add the current workaround to the issue description?

[2021-04-22 11:00] mtrezza commented on #7366
Thanks for reporting and the thorough investigation.

This seems indeed like a bug. To confirm it as a bug, we would need to be able to reproduce it in a failing test. I will mark this as needed more info for now.

[2021-04-22 16:08] mstniy commented on #7139
It seems Parse is indeed violating the standard. From [the docs about PUT requests](https://docs.parseplatform.org/rest/guide/#updating-objects):

So the current `PUT` is actually a `PATCH`: It is a strict update, not an upsert, and it takes as parameter a partial representation.
How about using query strings? For example, we can enable upsert semantics only on `PUT` requests of the form `/classes

[2021-04-22 16:56] mtrezza commented on #7139
That sounds like a violation of http/1.1. A `PUT` must include a full object, not a partial object.

What happens when making a `PUT` request for an object that doesn't exist?

[2021-04-22 17:10] mstniy commented on #7139
Quoting [the specification you have mentioned](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.6):

Currently, Parse returns an OBJECT_NOT_FOUND

[2021-04-22 17:12] mtrezza commented on #7139
You get that response for PUT or PATCH?

[2021-04-22 17:13] mstniy commented on #7139
For PUT

I don't think Parse uses PATCH?

[2021-04-22 17:22] mtrezza commented on #7139
So the main issue is that a PUT does not create an object if it doesn't exists yet, ergo its not an upsert.

[2021-04-22 17:24] mstniy commented on #7139
I agree
But I believe fixing it per the specification would likely break existing code

[2021-04-22 17:30] mtrezza commented on #7139
I suppose fixing (a) would be a breaking change, but possibly not have wide implications for Parse SDKs. It would only be a breaking change for mechanisms that are pending on a PUT failing for non-existent objects. Making a PUT for a non-existent object is probably unintended in most cases anyway.

Fixing (b) would likely affect all Parse SDKs, and may not be worth the effort for now.

[2021-04-22 18:01] mstniy commented on #7139
Introducing upserts as a query string option sounds like a good compromise.

[2021-04-22 18:10] mtrezza commented on #7139
Not sure about that, shouldn't we rather go i to the direction of correcting the behavior instead of leaving the incorrect behavior in place and adding an option?

[2021-04-22 18:30] mstniy commented on #7139
I would be happy to do that, as our use case wouldn't be negatively affected.
But it will likely be a breaking change for certain users.

[2021-04-22 19:16] uzaysan commented on #7361
Sure. Let me see what I can do.

[2021-04-22 19:17] mtrezza commented on #7139
A breaking change that is actually a correction is generally acceptable.

I am just not sure what that change implies.
- Do we need to make changes in Parse SDKs as well?
- Are any other mechanisms in Parse Server affected?
- In which scenarios would that be breaking change for existing deployments; any examples?

[2021-04-22 21:16] mstniy commented on #7139
Here's my take:

- We rename the existing PUT operation to PATCH.
- We make the PUT use upsert and take as parameter full objects.
- We switch ParseObject.save() from doing a PUT to a PATCH.
- We change ParseObject.save() to do a PUT if the object has an id, but no createdAt.
    - This alters its behaviour. Current PUT fails for non-existing objects, but the new PUT will create them.
- We need a

[2021-04-22 22:27] wyantb commented on #4091
For anyone finding this issue from google, note that you may be able to configure the max retries via the sdk using APIs like discussed in https://community.parseplatform.org/t/how-can-i-set-request-attempt-limit-or-another-request-params-for-cloud-functions/929 `Parse.CoreManager.set('REQUEST_ATTEMPT_LIMIT', 1);`

[2021-04-23 05:35] dblythy commented on #7100
I would be happy to work on it!

[2021-04-23 06:54] mtrezza commented on #7100
Great! In terms of modification, it should transition from its current form of anecdotal account to a guide:
- more compact instead of verbose prose format (use lists, 1-2-3 step-by-step)
- imperative form instead of 1st person reference (e.g. "Do this and that" instead of "I did this and that")
- shape it into community editable form, expecting that others will amend and refine it in the future

[2021-04-23 08:48] mstniy commented on #7139
Here's my take:

    We rename the existing PUT operation to PATCH.
    We make the PUT use upsert and take as parameter full objects.
    We switch ParseObject.save() from doing a PUT to a PATCH.
    We need a new method for PUTs, maybe ParseObject.put()?

I am not sure as to whether any mechanism would be affected.
And of course, this could break any code base that uses the REST api directly. Th

[2021-04-23 10:19] mtrezza commented on #7139
It seems what you are suggesting is to become fully spec compliant.

If that was easily achievable without major implications I would agree. If there are major implications, we may need to be a bit more pragmatic. Parse Server works after all, even if it is not fully spec compliant.

We could:
- add new PATCH route for partial update functionality -> no breaking change, evaluating of Parse Server

[2021-04-23 10:30] mtrezza commented on #7139
Reopened because issue still seems to exist.

[2021-04-23 14:22] serchtul commented on #7366
Hello @mtrezza! I created a PR with a failing test case, so you can check it out. I am checking whether I can submit a PR, but that may take some more time. Let me know if you need more information. 😄

[2021-04-24 01:13] dblythy opened #7369 "Tests fail on master due to Twitter API"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue