[2017-04-14 11:01] kamalbrowswire commented on #234
Hi
I am new in parse-server and i have to create webhook for a class.I can't understand what is the **Webhook URL**   and where to use.

[2017-04-14 15:53] funkenstrahlen commented on #3705
Awesome! Thanks! :)

[2017-04-14 16:39] phranck commented on #3705
@natanrolnik And push notifications for macOS are working like a charm! Thank's @funkenstrahlen!

[2017-04-14 17:00] flovilmart commented on #3705
That's great to hear! We should probably update the docs :) @funkenstrahlen, would you take care of it?

[2017-04-14 17:12] flovilmart commented on #3169
I completely dropped the ball on that one, need to look it up a bit more.

[2017-04-14 19:59] chadclark1 commented on #3719
@hatpick have defined my customPages, but the user isn't getting directed to the custom page. Instead they are directed to https://url.com/parse/apps/my-parse-app-id/request_password_reset?token=WVu39ZyNsPWOA7dbF4h6386bE&username=emailaddress%40yahoo.com
Is there something else I need to do besides define customPages?

      publicServerURL: 'https://url.com/parse',

      appName: 'My App',

[2017-04-14 21:10] devKC commented on #3684
Hi I was hoping to follow up on this- any insight would be greatly appreciated!

[2017-04-14 21:42] flovilmart commented on #3684
Can you provide the verbose logs please?

[2017-04-15 00:15] tinocosta84 opened #3720 "How do I save html templates into my database, like a simple html snippet"

[2017-04-15 01:20] devKC commented on #3684
@flovilmart - I checked again and now it seems to be working as intended, with no change in coding. I will close this for now and comment on this thread if this happens again in the future. Thank you for following up with me.

[2017-04-15 02:53] flovilmart commented on #3684
Don't hesitate to reopen the issue with all relevant logs and informations if needed

[2017-04-16 15:44] #3169 closed

[2017-04-16 16:12] flovilmart commented on #3678
So  there is also a bug in the JS SDK, is should replace 'key': object with `'key': {$eq: 'object'}`

[2017-04-17 05:47] saikiran644 opened #3725 "WildCard query in parse database"
I would like to know is there a way that I can perform a wildcard query in the parse database?

The solution in python would be greatly appreciated. Thanks in advance. :-)

[2017-04-17 06:15] zack1991 opened #3726 "Security issue when using js sdk of parse server"
Hi,
I am little bit confused about calling parse cloud functions from JS SDK. When i am using js sdk for calling cloud functions its showing application id and master key(if useMasterKey true). If anyone copy these information pass seprate request to these cloud function using ajax, then they can hit our services frequently and my server gets down.

Please help me to avoid and prevent these securi

[2017-04-17 07:51] bohemima commented on #3726
Have a look at the following blog series, they are still relevant (too some degree);

http://blog.parse.com/learn/engineering/parse-security-i-are-you-the-key-master/
http://blog.parse.com/learn/engineering/parse-security-ii-class-hysteria/
http://blog.parse.com/learn/engineering/parse-security-iii-are-you-on-the-list/
http://blog.parse.com/learn/engineering/parse-security-iv-ahead-in-the-cloud/
h

[2017-04-17 21:05] hackin247 commented on #175
Has this been resolved?   I'm just now running into this issue via JS query.equalTo()

[2017-04-17 21:18] hackin247 opened #3727 "Cloud Code .equalTo query not working"
`
      var Activity = Parse.Object.extend("Activity");
      var query = new Parse.Query(Activity);
      query.equalTo('photo', "xGlWQgUaN8");
      query.find({useMasterKey:true}).then(function(activities) { ... }
`

photo column is a pointer to a photo object (see AnyPic schema) and it used to work.   But now it returns zero objects.   Would appreciate any input.  Thanks

[2017-04-17 21:24] #3727 closed

[2017-04-17 21:25] hackin247 commented on #3727
comparing string with a pointer is a no go.  Weird, because I wear this used to work before. ;-)

[2017-04-17 22:04] flovilmart commented on #3727
Yeah, this should work. And we can interpolate it correctly base on the schema server side I believe

[2017-04-18 05:20] natanrolnik commented on #3726
Master key should never be shipped in clients/browser. Only used in the server.

[2017-04-18 05:20] #3726 closed

[2017-04-18 06:41] bohemima commented on #3725
use $regex

http://docs.parseplatform.org/rest/guide/#query-constraints

Also see http://blog.parse.com/learn/engineering/implementing-scalable-search-on-a-nosql-backend/ if that fits your need, as regex is generally a horrible idea.

[code]

[2017-04-18 06:43] bohemima commented on #3720
As a String, or a PFFile. This question does not really fit in here however and will be ignored on StackOverflow as well as you did not really even try.

[2017-04-18 06:57] saikiran644 commented on #3725
Thank you so much for the response @bohemima
I've tried this but the performance is not that good.

[2017-04-18 07:16] bohemima commented on #3725
yeah, "regex is generally a horrible idea".

Look at the blog post linked above and make sure you add a index on that field as well.

[2017-04-18 08:03] oallouch commented on #3718
Same for me. Used to work before recent parse-server update. Maybe it's something with SIGINT not being received.

[2017-04-18 08:21] oallouch commented on #3718
Works with 2.3.7

[2017-04-18 10:01] cavnit commented on #3718
@oallouch I am running parse in an express app, so I have just added the following after app.listen as a temp workaround until I get a chance to take a proper look.

`process.on('SIGINT', () => {
  console.log('Shutting Down Parse');
  process.exit();
});`

`process.on('SIGTERM', () => {
  console.log('Shutting Down Parse');
  process.exit();
});`

[2017-04-18 11:23] flovilmart commented on #3718
You should probably close all pending connections and the server if you want to implement properly graceful shutdown. Have a look  at how it's done in the CLI module of parse-server

[2017-04-18 11:29] cavnit commented on #3718
@flovilmart, I will look at adding that to the express side, but there definitely seems to be an issue in 2.3.8, even in development mode. If you run node app.js and then immediately hit Ctrl+C the server cannot be shutdown.

[2017-04-18 11:36] PunkStarStudios commented on #3674
Bump

[2017-04-18 12:36] flovilmart commented on #3718
Can you share the command you're running?

We've added a signal handler for mongodb as between 2.3.7 and 2.3.8, the server refused to die in certain cases. Also, we need to have a proper graceful shutdown as some adapters require to cleanup their subscriptions (gcloud-pubsub) before the process exits.

[2017-04-18 12:50] cavnit commented on #3718
I am just running:

`node app.js`

I have created a very basic parse/express app, and it won't shutdown either. I have attached it.
[testparse.zip](https://github.com/parse-community/parse-server/files/929579/testparse.zip)

[2017-04-18 13:16] PunkStarStudios commented on #3674
Can someone post a "Startup" project for VB or c# that works with pointing to your own parse server?
All the sample projects in the code base are 1= years ago and are made to point to parse.com.

[2017-04-18 14:18] PunkStarStudios commented on #3674
Well - something just started working.
Like really? ;P
I did have to add a "/" to the end of the server address btw.

[2017-04-18 14:18] #3674 closed

[2017-04-18 14:20] vladrad commented on #3674
Damn you beat me to it!!!!!

You need to add "/" at the end. In the sdk all calls append the remaning url to the server url.
So if you have https://myserver/myapp it will turn it to https://myserver/myappclass/Test/post instead of https://myserver/myapp/class/Test/post.

[2017-04-18 14:31] #3725 closed

[2017-04-18 14:37] PunkStarStudios commented on #3674
I swear - I swear I tried that before.
I know I did.
But I also found an error in my parse server configuration at one point... I had the variable name dontnetKey instead of dotnetKey.
I crapped a brick when I saw that and was looking for a way to get up on the roof after missing that for 2 weeks.
But after fixing that and trying both with and without the "/" - I still couldn't authenticate. (yes

[2017-04-18 14:44] vladrad commented on #3674
Hahaha yas!!!!
Weird i just type random stuff into the dotnetkey string and it works. Maybe its different because you are not a unity project.

[2017-04-18 20:26] #3720 closed

[2017-04-18 22:04] rucas commented on #483
@flovilmart I got Express, the parse-server, and the parse-dashboard on AWS Lambda using the [aws-serverless-express](https://github.com/awslabs/aws-serverless-express) and the [serverless framework](https://serverless.com/framework/docs/providers/aws/guide/intro/) using this [tutorial](https://medium.com/trisfera/deploying-an-express-application-to-aws-lambda-the-easy-way-fa5fbef190ba) and the ex

[2017-04-18 22:43] flovilmart commented on #483
Ah nice!

@alexnaldo

What do you mean by stateful? Besides the caches that warm up with time, otherwise nothing is stateful.

[2017-04-18 23:25] adambarghouthi opened #3729 "Mass Push Says FAILED in Dashboard"
Hi guys, I'm using Azure deployment of Parse Server. Recently push notifications stopped working and I found the fix. But sending a push to all installations is showing "FAILED" in the Parse dashboard and I can verify that no one is receiving them.

I have a function for sending individual pushes:

[code]

And for mass push which is the one returning success, yet showing "FAILING" in dashboard:

[

[2017-04-19 07:12] keyuls commented on #3654
@dafinley How did you able to display push on device? What changes did you make for it?

[2017-04-19 08:01] Apoll0 opened #3730 "Parse cloud: Cannot POST /parse/classes/ on every query"
### Issue Description

I'm trying to make several different queries to my Parse cloud, but each time I get the same error "_code 141 Received an error with invalid JSON from Parse: Can not POST /parse/classes/UsersOnPages_", where XXXX - name of the class I make query of.

Path to the parse server **https://ZZZZ.com/parse-server/app1**, this is the mount point and the same address is specified as

[2017-04-19 08:06] mman commented on #3655
Just to continue the investigation, I have rebuilt my servers to 2.3.8 and the error message is still there. Looking at the code carefully again the code 209 with the identical exception error message is also thrown from ``handleMe`` method in the UsersRouter.js (https://github.com/parse-community/parse-server/blob/29fec01a42dd58b05d0a3d8220df4555bb44d89a/src/Routers/UsersRouter.js#L43)

Could you

[2017-04-19 08:17] Apoll0 commented on #3730
Forgot to add function here:
[code]

[2017-04-19 09:51] Apoll0 commented on #3730
Solved by my self.
Was wrong path in the mount path

[2017-04-19 09:51] #3730 closed

[2017-04-19 09:59] steven-supersolid commented on #3716
AppCache stores application config and references to the various controllers so I think it makes sense to be in memory and not use a different cache adapter.

If you have a performance concern then please open a PR with suggested changes as I think that will be clearer and we can discuss further there once we know what you have in mind.

[2017-04-19 10:21] maximeloizeau opened #3731 "ParseLiveQueryServer options object"
### Issue Description

When you change default options for the live query server in the Parse config object like this:
[code]

And then start the live query server like this as mentionned in the documentation:
`ParseServer.createLiveQueryServer(httpsServer);`

It creates the following issue:
- the Publisher is created correctly with these options (see the LiveQueryController being initialised with

[2017-04-19 12:30] flovilmart commented on #3731
You probably need to pass the redisURL as well in the createLiveQueryServer call.

See the scalability section: http://docs.parseplatform.org/parse-server/guide/#live-queries

[2017-04-19 12:36] maximeloizeau commented on #3731
I missed that part of the documentation, only saw the first sections. Thanks!

[2017-04-19 12:36] #3731 closed

[2017-04-19 12:43] flovilmart commented on #3731
No problem!

[2017-04-19 16:55] tinocosta84 opened #3732 "Query all parse file"
How does one Query all parse files?

[2017-04-19 17:48] dpoetzsch opened #3733 "Geo-spatial queries return a maximum of 1000 results even with higher limits"
### Issue Description

With mongo db version 3.0.12 and 3.0.14 a geo query that also has an order specified always returns a maximum number of 1000 results.

Note: without specifying the order everything works fine.

Also, mongo db version 3.2.x fixes this issue.

Maybe this is related to https://github.com/parse-community/parse-server/issues/999#issuecomment-292253291

### Steps to reproduce

You

[2017-04-19 19:11] flovilmart commented on #3733
So that's an issue with mongodb right?

[2017-04-19 19:31] paulovitin opened #3734 "Delete Multiples fields in SchemaController cause unexpected behavior"
### Delete Multiples fields in SchemaController cause unexpected behavior

When you try delete more than one field using method SchemaController.updateClass, the method make more than one request to method SchemaController.deleteField asynchronously.

This method validate somethings and load the current Schema, and make a call to Storage Adapter deleteFields update the row in _Schema and perform t

[2017-04-19 20:41] dee-lewis commented on #3732
You could look at https://github.com/parse-server-modules/parse-files-utils

It checks the schema for classes that has FILE fields and returns the url for those files.

[2017-04-19 22:14] cinder92 commented on #1729
@araskin your code is not working, i just passed the `sessionToken` and `lastLogin` and always receiving error `can't modify user`

[2017-04-19 22:19] cinder92 commented on #1266
@gfosco your fix is not working for me... i have this code

[code]

is never returning nothing... no error, no success. any advice? thanks

[2017-04-19 22:22] dpoetzsch commented on #3733
Well it might. I was not sure, I couldn't find any information on that 1000-limit in the mongodb docs. I'm not even sure if it's a really a bug (could also by by design or because of a misconfiguration or whatever?). I hoped anyone here might have more insight what could be the reason for this.

However, if it is not a bug, I thought it would be good to at least update parse's documentation.

[2017-04-19 23:13] flovilmart commented on #3733
We don't apply limits by default, if the query sent to the mongo driver actually has a limit higher than 1000 and from the driver we get 1000 results, this is an issue with either the driver or mongodb itself.

[2017-04-19 23:15] flovilmart commented on #1266
The issue was closed over a year ago, please open a new issue and provide logs when running with VERBOSE=1 for detailed logs

[2017-04-20 02:10] tjlian616 opened #3736 "After upgrade to 2.3.7 . Can not find sender for push type ios"
### Issue Description
I was on 2.3.2 and iOS push works fine. Today I upgraded to 2.3.7 and iOS push no longer works. I changed back to 2.3.2 and it worked. There is no other change.

Here is the log error
Can not find sender for push type ios

Here is my configuration
  push:{
    ios: {
      pfx: __dirname+'/files/Push.p12',
      passphrase: '',
      cert: '',
      key: '',
      bundleId: '

[2017-04-20 05:18] paulovitin opened #3737 "Update Schema with many fields throw TypeError"
### Update Schema with many fields throw a TypeError

When you has a Schema with some fields, and then you try to update the Schema with many fields, the SchemaController throw a TypeError.

### Steps to reproduce

Consider this use case in test. I have a object with single field, then need add another 19 fields, so I resolve use the method updateClass.

[code]

#### Expected Results

I expect the

[2017-04-20 11:05] ZacharyKhan commented on #37
@flovilmart the link you posted is broken and returning a 404.

What about for `destroyAll()`, how do I pass in `useMasterKey:true`?

My example:

[code]

[2017-04-20 11:20] flovilmart commented on #37
see: http://docs.parseplatform.org/parse-server/guide/#cloud-code

[2017-04-20 13:57] araskin commented on #1729
@cinder92 Thats because lastLogin is a custom field which I added using the parse-dashboard. My guess is you have not added this field.

[2017-04-20 18:49] mman commented on #3060
Just to chime in, I have just found out that I'm getting this from time to time as well, not sure yet what API call generates this... It would be cool if any ParseError thrown from anywhere and then reported to the client would also log 'error' stack trace or something similar to better pinpoint what happened...

[2017-04-20 19:41] mrmarcsmith opened #3739 "Passing a *different* object to beforeSave doesn't work"
We use GitHub Issues for bugs.

### Issue Description

Sometimes when a user passes a NEW object I instead want those changes to be propagated to an EXISTING object instead.
I have tried:
a. setting request.object.id
b. creating a new object with the correct id and coping the keys over and then passing the object like so response.success(actualJobToSave);

### Steps to reproduce
Here is an example

[2017-04-20 20:58] mrmarcsmith commented on #3739
I found the line that deletes the objectId that I'm trying to change
https://github.com/parse-community/parse-server/blob/2533a8cdb316dc9e31ff416af4e37a95f5fbf86e/src/RestWrite.js#L175
I don't intend to remove this line but instead write a case where if the objectId is change AND the new objectId exists in that class, it would allow the change because the user is trying to switch to updating an ex

[2017-04-20 22:57] paulovitin commented on #3737
I believe which the problem is Async promises operations, like this https://github.com/parse-community/parse-server/issues/3734 issue

[2017-04-20 23:00] ZacharyKhan commented on #37
@flovilmart thanks for the updated link, but can you answer my question above about the proper use of `useMasterKey:true` within my example?

[2017-04-20 23:03] flovilmart commented on #3737
Yeah most likely, I haven't had the time to fully review the PR but I'll be on it before eow

[2017-04-21 02:42] paulovitin commented on #3737
@flovilmart thats it. When the field is created, before this the field will be added in the Schema, so in this moment, some other update occurs and override this schema.

I make some tests and I check the field is in database, but no in the schema.

So, I did make some changes in the PostgresAdapter and I believe have the fix for this.

I'm waiting for the tests to run.

[2017-04-21 06:33] magickaito opened #3741 "Create class fail when Class Level Permission says only owner can create the class"
### Issue Description

Let's say I have a "Diary class" with a **text** and **owner** property, where **owner** is a pointer.

I try to modify the CLP on the dashboard, hoping that diaries that belongs to a user should only be created by the user. But I couldn't get this to work.

### Steps to reproduce

1) Configure Class Level Permissions on a class like this:

![Image of CLP](http://i67.tinypic

[2017-04-21 19:35] dee-lewis commented on #3729
Are your APNS / Push certificates valid?

[2017-04-21 21:21] rsweny commented on #1455
another clue is when this happens to a user even the parse dashboard can't edit the user, it gives the same "Facebook auth is invalid for this user" error.

[2017-04-21 22:39] flovilmart commented on #1455
I'll have a look then

[2017-04-22 07:04] hl4hck commented on #3718
Same for me.

[2017-04-22 13:15] code-K commented on #3689
Hi @medispanu ,

I'm experiencing the exact same issue! Everytime the user object will be re-saved. Even if the "email" field did NOT change, it triggers a ne emailVerification...

Do you know any solutions or short workarounds to this I could implement?

Thanks much for feedback and best regards,
Christian

[2017-04-22 17:25] devKC commented on #3684
@flovilmart - I'm not sure if this is a related issue, but I found that "orQuery" disregards "whereKey" and returns everything. In this case, I'm using PFQueryTableViewController and the code I am running (in queryForTable() function) and the logs is below. I am expecting to get parse objects where uId is equal to the current parse user, but I am fetching parse objects where uId doesn't equal curr

[2017-04-22 17:59] flovilmart commented on #3684
Can you provide the logs when running with VERBOSE=1?

[2017-04-22 18:14] devKC commented on #3684
@flovilmart- Is the following what you need to see? The others were parse object details, but please let me know if there's something specific you are looking for!

Apr 22 11:02:40  app/web.1: verbose: REQUEST for [GET] /parse/classes/test:
{  
Apr 22 11:02:40  app/web.1:   "where": {  
Apr 22 11:02:40  app/web.1:     "$or": [  
Apr 22 11:02:40  app/web.1:       {  
Apr 22 11:02:40  app/web.1:    

[2017-04-22 19:07] flovilmart commented on #3684
Looks like he second clause is empty, probably why you get all elements back

[2017-04-22 22:11] DmytroLisitsyn opened #3742 "Missing "objectId" from relation field"
### Issue Description

`objectId` is missing from response object's relation field.

### Steps to reproduce

1. Sign Up
[code]

2. Create Session
[code]

3. Get All Sessions
[code]

#### Expected Results
`results[0].owner` contains `objectId`.
[code]

#### Actual Outcome
`results[0].owner ` does not contain `objectId`.
[code]

Requesting Sessions by owner's id produces the same response as "Get Al

[2017-04-22 22:38] flovilmart commented on #3742
You're probably lookin for using pointers instead of using relations. More infos available on http://docs.parseplatform.org under the relational data sections

[2017-04-23 08:23] DmytroLisitsyn commented on #3742
@flovilmart, could you explain carefully? Because, it seems like I did as explained in docs.
<img width="868" alt="screen shot 2017-04-23 at 11 19 23 am" src="https://cloud.githubusercontent.com/assets/8964273/25312042/3c7ffe18-2817-11e7-8af5-aa1ed8ba7e0d.png">

[2017-04-23 11:55] flovilmart commented on #3742
You are using a Relation which is designed to represent Many to Many relationship. Relations are not fetched with include, and they need their own query in order to find the objects of such relation.

You should use a Pointer, it represents a Many to One or One to One relationship.

[2017-04-23 11:55] #3742 closed

[2017-04-23 12:24] flovilmart commented on #1023
Also given the costs related to unused files on S3, https://aws.amazon.com/s3/pricing/ (0.0023$ / Gb / month) this seems to be negligible.

[2017-04-23 12:45] natanrolnik commented on #3741
@magickaito you might be misunderstanding how CLPs and ACLs work. Read over here to understand better how they work and interact together: http://docs.parseplatform.org/ios/guide/#clp-and-acl-interaction

To quote the docs:

[2017-04-23 12:50] natanrolnik commented on #3732
You can take a look here to understand better how files might be queried https://github.com/parse-community/parse-server/issues/1023
Also, @dee-lewis suggested a tool that can list the files used.

[2017-04-23 12:50] #3732 closed

[2017-04-23 12:51] flovilmart commented on #3741
I would expect the same, if setting the CLP to create to a pointer permission, new objects should be able to be created when the owner is set.

In the meantime, you can set public create CLP.

[2017-04-23 13:11] DmytroLisitsyn commented on #3742
Got it. Thank you, @flovilmart.
For me, docs were not exhaustive about it.

[2017-04-23 13:19] flovilmart commented on #3742
There seems to be missing a Relation section in the REST guide, but you can find it here http://docs.parseplatform.org/js/guide/#relations

[2017-04-23 13:22] DmytroLisitsyn commented on #3742
I can contribute to docs later.

[2017-04-23 13:47] flovilmart commented on #3742
You're more than welcome! Perhaps a link to the 'Relations' section would be helpful :)

[2017-04-23 14:14] JulienLevallois opened #3743 "Login Instagram"
Hi !
I would like to be able to connect Parse server with an instagram login (Like Parse does it with FacebookUtils). Do you know if it's possible now?

Otherwise how do I do?

thank you very much

[2017-04-23 17:56] adambarghouthi commented on #3729
@dee-lewis, yes because individual pushes are getting sent out and received as mentioned about the code with `query.equalTo('userID', request.params.userID);`.. but the mass push to all installations whether with or without deviceToken FAILS at all times..

[2017-04-23 17:59] awgeorge commented on #3711
@flovilmart - Do you know if the request JSON is still correct? Maybe the keys have changed?

[2017-04-23 18:26] acinader opened #3745 "pg-promise init options causes local test to fail"
the pr #3613 introduces two unit tests that test postgres.

the parse-server test machinery only sets up a mongo test server, not a postgres test server, so if one is not running postgres, these test will fail when tests are run locally.

Running tests before creating a pr is a Good Thing™.

Would seem that there are two options here:

1. figure out how to conditionally not run these tests if post

[2017-04-23 18:38] acinader commented on #3745
uh-oh "should fail to create server if schema databaseOptions does not exist" appears to be flaky too.  on travis, it failed with something like "expected 3000 to be 42P01" but when i re-ran it it just worked :( -- after looking back and seeing that it had worked on the initial commit...

[2017-04-23 18:51] flovilmart commented on #3711
We haven't changed the API.

[2017-04-23 18:54] awgeorge commented on #3711
Can you point me in a direction to investigate further- I stepped through the code, but there was nothing obvious.
---

Sent from my iPhone

[2017-04-23 20:06] flovilmart commented on #3711
What SDK are you using?

[2017-04-23 22:10] #3678 closed

[2017-04-23 22:11] acinader commented on #3745
@flovilmart ^^^ thoughts welcome :)

[2017-04-23 22:20] devKC commented on #3684
@flovilmart - what I mean is, the way the orQuery is written in Swift, shouldn't the log output be as below? Please let me know if this is not right, in which case I will close the issue and post this question on stackoverflow.

{  
Apr 22 11:02:40 app/web.1:   "where": {  
Apr 22 11:02:40 app/web.1:     "$or": [  
Apr 22 11:02:40 app/web.1:       {  
Apr 22 11:02:40 app/web.1:         "userId": “

[2017-04-23 22:25] kajensen commented on #1455
My setup is on heroku, with a pipeline. Started seeing this issue on production but not staging. Realized that production was one commit behind- very minor, nothing that should affect this. Promoting, and therefore restarting the server, seemingly fixed the issue.

Can't have stuff like this cropping up and then not really being able to fix it. Had a good run with Parse, but this will probably be

[2017-04-23 23:19] awgeorge commented on #3711
I'm using the PHP SDK for the main application.

[2017-04-23 23:59] flovilmart commented on #3684
On the last comment, the query seems valid and should not return non matching elements.

[2017-04-24 00:04] flovilmart commented on #1455
@kajensen, while I understand your frustration, you're pinning it on an issue that was closed over a year ago. I am more than welcome to help you squash that issue, but without relevant logs in bug reports, I can't possibly understand what's wrong or why this issue is poping randomly.

What I suspect would be that the Facebook access token has expired and has been sent back to the server, therefor

[2017-04-24 00:14] devKC commented on #3684
The logs in my previous comment was modified to show what I thought it should be given the "orQuery" code I have on the client-side. The actual log output still shows the the empty second query. That's why I was wondering if this might be a SDK bug..

[2017-04-24 00:19] flovilmart commented on #3684
Seems to be an issue with the client SDK then. Which is odd.

[2017-04-24 00:20] paulovitin commented on #3745
@acinader for test postgres we need the env var PARSE_SERVER_TEST_DB to run in postgres. Why not to use this for conditionally not run these tests?

[2017-04-24 00:24] devKC commented on #3684
I wonder if it has anything to do with me calling the query from pfquerytableviewcontroller?

[2017-04-24 00:47] flovilmart commented on #3684
Perhaps, does it work outside of it?

[2017-04-24 00:47] flovilmart commented on #3745
We do, it_excludes_db etc...

[2017-04-24 01:32] awgeorge commented on #3711
I've checked the JS SDK - same thing occurs.

[2017-04-24 02:10] flovilmart commented on #3711
Is season a pointer?

[2017-04-24 02:41] awgeorge commented on #3711
It is yes.

[2017-04-24 02:46] devKC commented on #3684
@flovilmart - I cleaned my xcode project and rebuilt and is working properly. I think it may have had to do something with local cache. I will close this issue out, thanks for your support!

[2017-04-24 02:46] #3684 closed

[2017-04-24 02:58] awgeorge commented on #3711
More context:

[code]

Returns an object: `[ ParseObject { _objCount: 0, className: 'Season', id: 'USbmLVfKWW' } ]`

[code]

Returns an empty array.

[2017-04-24 03:23] awgeorge commented on #3711
[code]

Correctly returns the data - so I assume, something has happened to `matchesKeyInQuery` whereby it can't search for pointers? It used to be able to on the hosted server.

[2017-04-24 08:56] ndominati-luna opened #3746 "Strange "Unable to connect to the Parse API" message after some running time (not directly)"
### Issue Description

When we start the parse server instance (with a LiveQuery server too), queries made from mobile devices, live queries and cloud function calls are working well. But about 1 or 2 days after (sometimes after about 1 hour), the cloud functions and the live query server are not responding (the queries made from the mobile devices are still working and the login / signup / logout

[2017-04-24 09:52] ranhsd opened #3747 "Full text search support"
Hi, I wanted to know if parse-server support **full text search**. The full text search is available since MongoDB version 2.6 and it is possible to create text index (currently only one) which provides efficient search capabilities on text fields.

From the code it looks like that this capability has not been implemented ...

In case we need to add this capability i think we should perform the fo

[2017-04-24 10:28] vitaly-t commented on #3745
The titled alarmed at first as an issue with pg-promise, but then reading posts through, and that PR, seems like it is not really an issue with the library, rather with how tests are being run...?

Anyway, I'm here to help figure it out, if needed :wink:

[2017-04-24 11:10] flovilmart commented on #3684
Glad to hear it!

[2017-04-24 11:11] flovilmart commented on #3711
Alright, I believe I know what's going on. I'll have a look

[2017-04-24 11:13] flovilmart commented on #3746
Is your node process still running or is it crashed?

[2017-04-24 11:16] ndominati-luna commented on #3746
Thanks for your prompt answer.

The NodeJS process is still running, we can still directly query the database from our devices, we can still connect / log out users and access the dashboard.
But all the Cloud code environment doesn't work.

Parse-Server logs me that it cannot connect to the Parse API.

[2017-04-24 11:17] ndominati-luna commented on #3746
I have to restart it to have it entirely working for an unknown duration.

[2017-04-24 12:15] ndominati-luna commented on #3746
Might it be because NodeJS SSL configuration is not supported or not stable?

[2017-04-24 12:17] flovilmart commented on #3746
So if I understand correctly, those are the calls within cloud code, when running queries or save with the JS SDK that fail?

[2017-04-24 12:21] ndominati-luna commented on #3746
I don't know about the beforeSave / afterSave triggers (I think this is the same).
But what I can see is that cloud code function calls made from Android or iOS doesn't work (after some time), and I got an "I/O error" on both platforms.

[2017-04-24 12:21] flovilmart commented on #3746
If you're doing the SSL termination in node, I suggest you try starting another http server that listens on port 8080. And set the serverUrl to 'http://localhost:8080/' + YOUR_PARSE_SERVER_MOUNTPATH

this will let cloud code use the local loop instead of doing the round trip.

[2017-04-24 12:26] ndominati-luna commented on #3746
Ok, I'll give it a try and I'll let you know. (I think I've already tried it but I'll tried it again to be sure).
Thx.

[2017-04-24 12:33] flovilmart commented on #3746
You may wanna check also for number of open sockets, CPU load, memory load etc... we're running it on container based environments and it's working flawlessly.

[2017-04-24 12:37] flovilmart commented on #3745
Would it be possible that the connect call is not run sometimes? I know mongo connects on the 1st call but not on new instance or that reconfigureServer swallows the error?

[2017-04-24 13:02] vitaly-t commented on #3745
On every query request `pg-promise` acquires next available connection from the pool. When no connection has been created yet, a new one is created. The connection is released back to the pool immediately after the query execution. It is only different when using explicit `connect` method, which I believe is not used by this library.

[2017-04-24 14:30] kahoona77 commented on #1475
Hi,

I still have an issue with this part. The problem is, that the code tries to delete an installation that might have this deviceToken and that is not equal to the objectID.
But when there is no other installation with this deviceToken then there is nothing to delete and the promise from (`this.config.database.destroy('_Installation', delQuery)`;) is rejected.
This leads to an unhandledRejectio

[2017-04-24 15:13] pconihout opened #3748 "Call CloudCode from CloudCode & pretend to be a user."
I have a cloud function that call other cloud functions. The inside cloud functions make a check if user is loggued in or not.

How could i make this working knowing i want to call the first one as a user, and the inside from this function.

Example :
[code]

[code]

[2017-04-24 15:16] flovilmart commented on #3748
You need to pass the session token:

[code]

[2017-04-24 15:22] pconihout commented on #3748
@flovilmart
error: Failed running cloud function getAllQRCodes for user undefined with:
  Input: {"sessionToken":"XXXXXXx"}
  Error: {"code":141,"message":"You must be loggued in"} functionName=getAllQRCodes, code=141, message=You must be loggued in, sessionToken=XXXXXXX, user=undefined

[2017-04-24 15:24] flovilmart commented on #3748
Can you provide the verbose logs, the user is undefined which doesn not make sense if the sessionToken is valid.

[2017-04-24 16:09] pconihout commented on #3748
`verbose: REQUEST for [POST] /parse/functions/getAllInformations: {} method=POST, url=/parse/functions/getAllInformations, host=localhost:1337, connection=keep-alive, content-length=258, origin=http://localhost:8080, user-agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36, content-type=text/plain, accept=*/*, referer=http

[2017-04-24 16:22] ndominati-luna commented on #3746
Now the NodeJS server is not the SSL endpoint anymore.
I configured my Apache server as a proxy for https requests and as a websocket tunnel for the wss requests.
Now only Apache knows the SSL configuration and all is working as before.
I let it run like that hoping it will not be broken anymore and let you know in about 2 days maximum if all is ok.

Thanks a lot for your time.

[2017-04-24 16:40] ndominati-luna commented on #3746
I've also configured the serverURL using localhost as you suggested.

[2017-04-25 05:38] yomybaby commented on #3718
Same for me.

[2017-04-25 06:22] aBuder opened #3750 "Parse Dashboard Delivery Report is 0 for send and receive messages"

[2017-04-25 06:25] aBuder commented on #3750
Hi,

if I send an message from parse dashboard, the push notification receives on iOS. I see the notification, but in dashboard the sent and deliver is 0.

How I can fix that?

![bildschirmfoto 2017-04-25 um 08 22 42](https://cloud.githubusercontent.com/assets/1265139/25371300/5df0749a-2990-11e7-9c05-4d797d4b0062.png)

`import UIKit
import UserNotifications
import Parse

@UIApplicationMain
class A

[2017-04-25 06:30] aBuder commented on #1731
Hi @rogeriochaves,

how do you fix the problem? I have also the same problem, sent and deliver is 0, but push notifications are received on iOS device.

[2017-04-25 07:05] zack1991 opened #3751 "Parse server Invalid session token"
Hi,
I am getting the issue of invalid session token, while session token exist in the _Session table.
I am sharing some screenshots, please help me to find the issue.

I am requesting a url in whichs payload in below image.

![verify receipt success](https://cloud.githubusercontent.com/assets/26978206/25372376/c23ac730-29b2-11e7-81bc-db28a6626d5c.png).

Now i am getting success response which show

[2017-04-25 09:30] ndominati-luna commented on #3746
Hi,

The cloud code stopped working just now. Exactly as I described in this issue but including all the modifications we talked about.

[2017-04-25 10:03] ndominati-luna commented on #3746
Can this be due to the LiveQuery server?

I also got a lot of "[object Object]" logs which I didn't generate.

[2017-04-25 11:21] flovilmart commented on #3746
can you provide the logs when running with  VERBOSE=1

[2017-04-25 11:23] flovilmart commented on #3746
As well as perhaps other relevant infos like the code that's crashing the server. Is the node process still running? Is it still listening etc...

[2017-04-25 12:17] rogeriochaves commented on #1731
@aBuder sorry, I don't remember, it was a long time ago ):

[2017-04-25 12:32] ndominati-luna commented on #3746
I don't know if it is the code that is crashing the server.
The only logs I got when using VERBOSE=1 are:

error: Failed running cloud function setConversationRead for user xxxxxxxxxx with:
Input: {"conversationId":"yyyyyyyyyy"}
Error: {"code":141,"message":"{"code":100,"message":"XMLHttpRequest failed: \"Unable to connect to the Parse API\""}"} functionName=setConversationRead, code=141, message=

[2017-04-25 12:49] flovilmart commented on #3746
Can you make a gist of the setConbersationRead code?

[2017-04-25 12:54] ndominati-luna commented on #3746
How can I give you it secretly?

[2017-04-25 12:58] flovilmart commented on #3746
send it to florent _ at _ flovilmart _ dot _ com

[2017-04-25 13:01] ndominati-luna commented on #3746
I've just sent you the email.

[2017-04-25 13:04] ndominati-luna commented on #3746
The thing that is strange is that this is not all the time this function which is logged and before the cloud code stopped to respond, the <code>setConversationRead</code> function works well.

[2017-04-25 13:10] ndominati-luna commented on #3746
I searched the whole project and I find only one serverURL use which is in the ParseServer instance configuration.
It's value is http://localhost:9003/parse.

[2017-04-25 13:12] flovilmart commented on #3746
that's very odd indeed, about those apache logs? The `{"code":100,"message":"XMLHttpRequest failed: "Unable to connect to the Parse API""}`, it's generated by the `setConversationRead` call right?

[2017-04-25 13:12] ndominati-luna commented on #3746
Not only. When this happen, all the cloud code functions are logging this.

[2017-04-25 13:13] ndominati-luna commented on #3746
And another really strange thing is the stack of "[object Object]" logs I never saw on another server (except when I logged them consciously). They are logged when the cloud code doesn't respond.
There are also logged, when the server is working, when a cloud code function returns an error or when a login action failed due to a wrong password for example.

[2017-04-25 13:14] ndominati-luna commented on #3746
I'm checking if I have some Apache logs about that.

[2017-04-25 13:20] ndominati-luna commented on #3746
Also, when the cloud code is not responding, the livequery server is also not responding.

[2017-04-25 13:22] ndominati-luna commented on #3746
In the error logs of Apache I can see when the server wasn't responding :

[Tue Apr 25 11:59:59.490519 2017] [proxy:error] [pid 26342] (111)Connection refused: AH00957: WS: attempt to connect to 127.0.0.1:9003 (*) failed
[Tue Apr 25 11:59:59.490559 2017] [proxy_wstunnel:error] [pid 26342] [client 90.88.219.174:58298] AH02452: failed to make connection to backend: localhost

Obviously, these logs a

[2017-04-25 14:03] pungme opened #3753 "The requiresAuthentication doesn't behave the way docs explained."
### Issue Description
The requiresAuthentication doesn't behave the way docs explained.

### Steps to reproduce

We tried to set our database's schema by following the parse-server (http://docs.parseplatform.org/parse-server/guide/#requireauthentication) documentation. As the docs stated `For example, you want to allow your authenticated users to find and get objects from your application and your

[2017-04-25 14:08] flovilmart commented on #3753
I'll have a look

[2017-04-25 16:43] acinader opened #3754 "postgress test flakiness"
I'm getting this error from travis intermittently but regularly enough to be a problem:

[code]

[2017-04-25 16:54] acinader commented on #3745
ok, bad me for putting two separate issues into one issue....

I just opened #3754  for the flaky tests failures.

So this issue should just address running tests locally if you don't have postgres setup causes spec/PostgresInitOptions.spec.js tests to fail.....

[2017-04-25 19:29] paulovitin commented on #3753
In get method definition has a typing error... "requireAuthentication". Is it possible that your code is not like that for "find" too?

[2017-04-25 19:30] ndominati-luna commented on #3746
Nothing special in the access logs.

I can see this many times when the livequery server is not responding anymore:

90.88.219.174 - - [25/Apr/2017:11:57:15 +0200] "GET /whoomies/ws HTTP/1.1" 503 773 "-" "-"

There is nothing else.

[2017-04-25 19:40] flovilmart commented on #3746
seems that your node process is not responding anymore: failed to make connection to backend: localhost

[2017-04-25 19:42] ndominati-luna commented on #3746
Yes but the queries still work... that's incomprehensible.

[2017-04-25 20:18] aBuder commented on #1731
Can you share the code?

[2017-04-25 20:50] jeremypiednoel opened #3755 "SIGINT doesn't kill the process : 2.3.8"
### Issue Description

When I SIGINT the parse server the terminal doesn't give me the hand back

### Steps to reproduce

Start parse server and hit Ctrl + C

#### Expected Results

Terminal should kill the process and give back the hand

#### Actual Outcome

Terminal stay stuck om
[code]

### Environment Setup

- **Server**
  - parse-server version: 2.3.8
  - Operating System:    MAC OS SIERA
  -

[2017-04-25 20:53] Fedeorlandau commented on #3755
Hi!
This is happening to me too. parse-server 2.3.7 is working fine.
Thanks!

[2017-04-25 20:56] jeremypiednoel commented on #3718
same

[2017-04-25 20:57] jeremypiednoel commented on #3755
Duplicate : https://github.com/parse-community/parse-server/issues/3718

[2017-04-25 20:57] #3755 closed

[2017-04-26 08:39] pungme commented on #3753
Hey @paulovitin 😊 We tried fix the Typo, but the results still the same.

[2017-04-26 08:58] lxknvlk commented on #234
None of the approaches worked for me. What did work is this:

////yourdomain/api/stripe?param1=2&param2=true, all params are in req.query
app.get('/api/stripe', function(req, res) {
	Parse.Cloud.run("stripeWebHook", req.query,{
	 success:function(e){
	 	res.status(200).send(e);
	 },
	 error:function(e){
	 	res.status(-1).send(e);
	 }
	});
});

[2017-04-26 09:13] majidhassan opened #3756 "Resend email verification"
Hello,

Previously I had been "hacking" the resend of the email verification through setting and unsetting the email address of the user object. I noticed, that in 2.3.7 a new endpoint for that had been added but couldn't find that in the documentation: http://parseplatform.org/Parse-SDK-JS/api/, though.

Generally, I feel some areas are poorly documented, unless I'm not looking in the correct / u

[2017-04-26 09:41] pconihout commented on #3748
I tried on three different parse-server instance, and I still have the same problem.. Any ideas ?

[2017-04-26 11:14] flovilmart commented on #3753
I see that in the tests we don't cover explicitly that case, I'll have a look soon enough

[2017-04-26 12:00] mmazzarolo commented on #3718
same here

[2017-04-26 12:07] flovilmart commented on #3718
I isolated the issue, related with graceful shutdowns, I'll work on a fix for the next release.

In the meantime, you can register a SIGINT handler to exit the process:
[code]

[2017-04-26 12:58] zhanswift opened #3757 "In App Purchase in Parse Server"
How to do in app purchase function in custom Parse Server?

[2017-04-26 14:49] kahoona77 opened #3758 "Unhandled Rejection when adding deviceToken to Installation"
### Issue Description

I have an an Problem with an unhandled rejection when adding a deviceToken to an Installation.

The problem is, that the code tries to delete an installation that might have this deviceToken and that is not equal to the objectID.
But when there is no other installation with this deviceToken then there is nothing to delete and the promise from (`this.config.database.destroy('

[2017-04-26 14:52] flovilmart commented on #3758
Unhandled rejection would log only on nodejs 6.9+, we need to update the code for those. A PR is welcome :)

[2017-04-27 10:02] wellkeptbeauty commented on #981
Parse.Cloud.define('All', function(request, status)
{
   // res.success('ALL');

  var query=new Parse.Query("MyCollection");
   query.find().then(function (res)
{
 console.log("after query is "+res);

for (var i=0; i< res.length;i++){
var expirydate=res[i].get('PExpirationDate');

var inputDate = new Date(expirydate);
var todaysDate = new Date();

if((inputDate.setHours(0,0,0,0) == todaysDate.set

[2017-04-27 10:02] wellkeptbeauty commented on #981
please help me out

[2017-04-27 10:13] wellkeptbeauty commented on #166
when i call cloud function from Xcode, getting following result
Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set." UserInfo={NSDebugDescription=JSON text did not start with array or object and option to allow fragments not set.}

[2017-04-27 11:13] Ashot-KR commented on #2875
I'm still having this issue when using parse server as express middleware. What i'm doing wrong?

[2017-04-27 11:16] #3692 closed

[2017-04-27 11:16] flovilmart commented on #2875
See: https://github.com/parse-community/parse-server/issues/3718

[2017-04-27 11:19] Ashot-KR commented on #2875
@flovilmart missed that issue. Thanks!

[2017-04-27 11:30] minjun117 opened #3759 "Request to a frequently used API returns an empty set"
I have been following the guide of deploying this custom parse server on Heroku with mLab as the database. For some unknown reason, request queries to one of the most frequently used APIs return empty sets after some time, during which plenty of requests have been made from mobile apps and the API has functioned properly until then. In the meantime, all the other APIs work properly as usual.

I di

[2017-04-27 12:20] saikiran644 opened #3760 "Fetching related object of another class in python (parse) in a single query"
Is there a way to fetch the related object information (object is related with parse relations) from a record with a single query rather than using a separate query in Python parse API's (not Rest API's)

[2017-04-27 12:22] kahoona77 commented on #3758
Thanks, for the quick response. I will be looking into creating an PR in the coming days.

[2017-04-27 12:44] flovilmart commented on #3760
Relations are stored in a separate table, therefore they can't be included when fetching the parent object. If you only have a few objects, you should consider Pointers or arrays of Pointers

[2017-04-27 12:44] #3760 closed

[2017-04-27 12:45] flovilmart commented on #3758
Awesome! Thanks!

[2017-04-27 13:44] saikiran644 commented on #3760
But, through python is there a way to add pointers (not through rest api's,
through python libraries).I haven't found a way till now to add pointers or
array of pointers directly from python.
Please help with this. @Florent Vilmart

On 27 Apr 2017 6:15 p.m., "Florent Vilmart" <notifications@github.com>
wrote:

Relations are stored in a separate table, therefore they can't be included
when fetching

[2017-04-27 14:10] felipemobile commented on #3562
@flovilmart Push Notifications stuck in SENDING state when an installation's deviceToken is set to null. I'm not sure if all push messages after this row are sent or if this bug is happening due to an unhandled exception:

https://github.com/parse-community/parse-server/blob/2533a8cdb316dc9e31ff416af4e37a95f5fbf86e/src/RestWrite.js#L649

I've found some old installations in my _Installation collec

[2017-04-27 14:20] flovilmart commented on #3562
We can force exclusion in the initial query so we don't count them nor fail

[2017-04-27 14:27] felipemobile commented on #3562
Nice! I've confirmed that all other push messages are sent and status changes to SENT after deleting all rows with null value set on deviceToken column.

@flovilmart I swear I tried to find where to fix it :)

[2017-04-27 19:17] greenkeeper[bot] opened #3761 "An in-range update of uws is breaking the build 🚨"
## Version **0.14.4** of [uws](https://github.com/uWebSockets/uWebSockets) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/parse-community/parse-server/compare/greenkeeper%2Fuws-0.14.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uws
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-04-27 22:49] coryshaw commented on #3588
+1

I would expect the User class to adhere to the same ACLs as everything else. I can understand setting the default ACLs for the User class differently for security reasons, but if I explicitly set the ACL of a user to a role ("Admin" read/write), I would expect that a logged in Admin can read and write that User.

[2017-04-27 23:03] masonlee commented on #3556
As Parse Server user running into this issue, my vote would be for @flovilmart 's "1.) Allow full override of the array".  As it stands now, "['email']" is not really the "default" value of the userSensitiveFields config (as it is labeled "default" in lib/cli/definitions/parse-server.js). Instead it is a permanent restriction. I believe that with every the other config setting, overriding the "def

[2017-04-27 23:04] sdonaway commented on #3588
+1 The User class should adhere to the same ACLs as any other class. Otherwise, user management at an elevated role is impossible without using a hack/workaround.

[2017-04-27 23:37] awgeorge commented on #3711
@flovilmart - Anything I can try to help with? I'm on a short timescale and getting pressure from a client. If you can point me in the direction, I maybe able to create a patch. Thanks - appreciate your efforts, keeping parse update.

[2017-04-27 23:43] flovilmart commented on #3711
Basically, I believe the issue is that when you use matchesKeyInQuery, it will try to match the objectId instead of the full pointer.

[2017-04-27 23:44] flovilmart commented on #3711
To get started, can you open a PR with the failing test?

[2017-04-27 23:45] awgeorge commented on #3711
I'll get on it -

[2017-04-27 23:50] felipemobile commented on #3562
Something like this:
`updateWhere["deviceToken"] = {"$exists":true}`

[2017-04-27 23:58] flovilmart commented on #3562
That would be on the where directly, if not set :) updateWhere is only used for the badge updates.
 With the according tests obviously :)

[2017-04-27 23:58] flovilmart commented on #3711
Awesome! Once the test is written, it's gonna be pretty easy to find the underlying issue :)

[2017-04-28 00:13] felipemobile commented on #3562
Right, I need a little sleep.

Maybe this code below should help [here](https://github.com/parse-community/parse-server/blob/907b160fc7317b016fc728a1b30ce3d24ead7d73/src/Controllers/PushController.js#L18
). If you agree I can try to write the according tests.

[code]

[2017-04-28 00:38] flovilmart commented on #3562
Yep, that should do, only if the property is not set :)

[2017-04-28 02:32] awgeorge commented on #3711
@flovilmart - Test complete, where should I look next, my friend?

[2017-04-28 02:54] flovilmart commented on #3711
Probably in RestQuery.js but let me check a few things first about your usage of the API, probably something's amiss.

[2017-04-28 03:10] awgeorge commented on #3711
Switched the keys around: `query.matchesKeyInQuery("season", "objectId", season)` same result -

[2017-04-28 03:21] awgeorge commented on #3711
Just checked the PHP code - it seems the keys are supposed to be the other way around so - I've updated the JS test. Sorry about that -

[2017-04-28 04:45] ndominati-luna commented on #3746
This issue was still reproduced.
I thought that it was due to an error in a cloud function so I called this cloud function giving it specific data to make not working.
I saw an error message which was what I expected. I did this test a lot of time to test my functions stability and I never put my server in a strange state.

[2017-04-28 05:52] zack1991 opened #3763 "Getting Invalid session token(code: 209) while session token exist in _Session table"
Hi,

I am getting the Invalid session token(code: 209) while my session token exist in the _Session table. I am just sharing the cloud code where i am getting this error.

main.js :-

[code]

LoginHelper.js :-

[code]

Error Logs -

{"result":0,"custom_error_code":209,"custom_error_message":"invalid session token"}{"result":0,"custom_error_code":209,"custom_error_message":"invalid session token"}{

[2017-04-28 07:21] wellkeptbeauty commented on #2687
Error: {"code":141,"message":"movie lookup failed"} functionName=All, code=141, message=movie lookup failed, , user=BnwdN3U0iI
2017-04-28T07:15:01.139041+00:00 app[web.1]: [31merror[39m: Error generating response. ParseError { code: 141, message: 'movie lookup failed' } code=141, message=movie lookup failed
2017-04-28T07:15:01.141656+00:00 app[web.1]: [object Object]

[2017-04-28 10:11] RafaRuiz commented on #3655
I've been doing my debugging but I can't send a pull request because I'm not really an expert in this, is anyone looking at this? I have to restart around every day or every two days, and users are just uninstalling my app:

![image](https://cloud.githubusercontent.com/assets/6842786/25524663/75247b64-2c03-11e7-8025-9fb4c1e9c5a0.png)

[2017-04-28 11:22] flovilmart commented on #3746
That's the error itself that is improperly logged.

[2017-04-28 11:26] flovilmart commented on #3655
Have you indexed correctly the _Session table?

[2017-04-28 12:28] flovilmart commented on #2687
Seems to be an error with your code inside the function.

[2017-04-28 15:13] felipemobile commented on #3562
@flovilmart the push stuck in sending state only if the property is not set :)

[2017-04-28 15:17] flovilmart commented on #3562
Yep!

[2017-04-28 15:28] RafaRuiz commented on #3655
@flovilmart the _Session table is indexed with
`{
		"v" : 1,
		"key" : {
			"_p_user" : 1,
			"installationId" : 1
		},
		"name" : "_p_user_1_installationId_1",
		"ns" : "test._Session"
	},
`

but it's not the only one, this is the list:
`> db.getCollection("_Session").getIndexes()
[
	{
		"v" : 1,
		"key" : {
			"_id" : 1
		},
		"name" : "_id_",
		"ns" : "test._Session"
	},
	{
		"v" : 1,
		"key" :

[2017-04-28 15:44] felipemobile commented on #3562
I hope the problem will be solved with this pull request :)
https://github.com/parse-community/parse-server/pull/3764

[2017-04-29 07:43] greenkeeper[bot] opened #3765 "An in-range update of nyc is breaking the build 🚨"
## Version **10.3.0** of [nyc](https://github.com/istanbuljs/nyc) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/parse-community/parse-server/compare/greenkeeper%2Fnyc-10.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-04-29 13:05] wellkeptbeauty commented on #2687
Parse.Cloud.define('people', function(request, status)
{
    console.log('Parse.serverURL: ' + Parse.serverURL);

  var query=new Parse.Query("MyCollection");

 query.find().then(function (res)
    {
     console.log("after query is "+res);

    for(var i=0;i<res.length;i++)
    {
    var id=res[i].get('PExpirationDate');
    console.log("inner query is "+res[i].get('PExpirationDate'));

    }

[2017-04-29 13:18] durunvo opened #3766 "admin role cannot retrieve data with restricted read/write ACL."
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-04-29 13:44] durunvo commented on #3766
Sorry for bothering.
I think something is wrong when I assign the admin role to the object.

In the question, the ACL with `admin` doesn't follow up by `(Role)`
But in the picture below, it has.
![screen shot 2560-04-29 at 8 43 01 pm](https://cloud.githubusercontent.com/assets/5458194/25555920/7a51e652-2d1c-11e7-9723-936b088a3529.png)

[2017-04-29 13:44] #3766 closed

[2017-04-29 13:51] wellkeptbeauty commented on #2517
Parse.Cloud.define("test", function(request, response) {
    var query = new Parse.Query("Classname");

    query.find({
        success: function(results) {
            response.success(results);
                        console.log(results);

        }, error: function(theerror) {
            response.error("user lookup failed: %@", error);
            console.log(theerror);
        }
    });
});

[2017-04-30 09:14] gs-sramesh opened #3767 "BadValue Too many geoNear expressions in 2.3.8"
### Issue Description

All geo queries ```near```, ```withinMiles``` etc fail with the error:
[code]

The same used to work previously under parse version ```2.3.0```

### Steps to reproduce
[code]
#### Expected Results

Should work as it did under version 2.3.0

#### Actual Outcome

Error on Mongo
### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 2.

[2017-04-30 11:58] arpitprod commented on #2981
hi @kulshekhar,

yes, another process serving on port 1337. How to stop that process?

[2017-04-30 12:44] kulshekhar commented on #2981
@arpitprod `kill -9 process_id` - you should see the process id in the second column of the output

[2017-04-30 13:41] arpitprod commented on #2981
@kulshekhar thanks, it's working

[2017-04-30 13:44] polo2244 commented on #2751
@craffenoux  may i know how did you solve this ?
I have the same problem using replica set from Atlas. The URI that i am using is:

[code]

I get this error:
[code]

[2017-05-01 07:28] srameshr commented on #3767
@flovilmart Anything on this?

[2017-05-01 10:49] flovilmart commented on #3767
Can your provide the logs when running with VERBOSE=1? This will log the full query. We have many tests covering the geoPoints. I'm not sure why your particular query fails

[2017-05-01 14:22] srameshr commented on #3767
[code]

@flovilmart

[2017-05-02 06:14] wellkeptbeauty commented on #356
var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var path = require('path');

var databaseUri = process.env.DATABASE_URI || process.env.MONGODB_URI;

if (!databaseUri) {
  console.log('DATABASE_URI not specified, falling back to localhost.');
}

var api = new ParseServer({
  databaseURI: databaseUri || 'mlaburi',
  cloud: process.env.CLOUD_CODE_MAIN || __dir

[2017-05-02 12:21] felipemobile opened #3770 "Can't run jasmine (MongoError: failed to connect to server)"
Hi guys, I can't run jasmine or npm test.  Is there any step required to setup the environment (ex: [parseServerMongoAdapterTestDatabase](https://github.com/parse-community/parse-server/blob/master/spec/testing-routes.js#L17))?

Parse-server version running on master
Operating System:    macOS Sierra
MongoDB version: 3.6.0

$ node_modules/jasmine/bin/jasmine.js spec/PushController.spec.js
Spec sta

[2017-05-02 12:34] flovilmart commented on #3770
Just running npm test work. Did you npm install with all devDependencies?

[2017-05-02 13:48] JulienLevallois opened #3771 "Bot Messenger and Parse Server"
Hi !
I wanted to know if it was possible to create a bot messenger with Parse Server, which can be connected to the database Parse, and if so, how it was possible. Thank you

[2017-05-02 14:09] felipemobile commented on #3770
Thanks @flovilmart !

`npm install --dev`

Can you take a look at this [pull request](https://github.com/parse-community/parse-server/pull/3764)?

[2017-05-02 14:31] #3770 closed

[2017-05-02 14:44] derekvanvliet commented on #3655
Hey guys any update on this? We just launched a game using 2.3.8 and I think we're getting bitten by this too. In our case when the 209 response is returned the game starts a new session, effectively losing all their progress.

[2017-05-02 14:53] flovilmart commented on #3655
@derekvanvliet can you isolate the request/responses that trigger those 209?

[2017-05-02 16:04] aaronfranco commented on #1616
I'm using EC2 for my server and s3 File Adapter. I cannot seem to resolve this issue.

Node v6.6.0
NPM v3.10.3
Parse-Server v2.3.8
body-parser v1.17.1
express v4.15.2

This is what my files adapter looks like this:
[code]

My Parser Server set is basic standard setup using the S3 Files Adapter
[code]

I have this set up for my Body Parser.

[code]

Then I have the following Express Routing setting

[2017-05-02 16:12] jaimeagudo commented on #2202
ATM the link is broken, have a look here https://github.com/parse-community/parse-server/issues/2188

[2017-05-02 16:14] flovilmart commented on #2202
See http://docs.parseplatform.org/parse-server/guide/#push-notifications

[2017-05-02 16:58] flovilmart commented on #1616
Did you check nginx/apache max upload size options?

[2017-05-02 17:08] aaronfranco commented on #1616
I'm not using NGinx or Apache. It's a raw NodeJS server running on a bare Ubuntu EC2 instance.

[2017-05-02 17:20] aaronfranco commented on #1616
yeah, that worked... I just forgot that we had an additional proxy using Nginx.. duh :) Thanks!

[2017-05-02 17:30] flovilmart commented on #1616
Eheh :)

[2017-05-02 17:45] derekvanvliet commented on #3655
Yes, here's an example of what I'm seeing in my log:

`[36mverbose[39m: REQUEST for [GET] /1/users/me: {} method=GET, url=/1/users/me, host=example.com, x-real-ip=xx.xx.xx.xx, x-forwarded-for=xx.xx.xx.xx, xx.xx.xx.xx, accept=*/*, accept-encoding=gzip, deflate, accept-language=pt-pt, content-type=application/x-www-form-urlencoded, user-agent=UE4-RUA3,UE4Ver(4.15.2-0+++UE4+Release-4.15), x-parse-a

[2017-05-02 18:06] flovilmart commented on #3655
So that's probably in the SDK or a previous call would have overriden the session token, we're making progress. That's good.

Impossible to know which user made that request (as we don't have the token); What SDK are you using?

[2017-05-02 18:12] derekvanvliet commented on #3655
@flovilmart this is using the REST API

[2017-05-02 18:26] flovilmart commented on #3655
So, you're sending a call to /users/me without a sessionToken, not sure how to help...

[2017-05-02 22:55] awgeorge commented on #3711
@flovilmart - I'm desperate for a solution as the season starts on Saturday and really need the system to work identically to last year.

So - I've been digging around https://github.com/parse-community/parse-server/blob/025e7a321886becfe48778c152b01dd0cb3fd492/src/Adapters/Storage/Mongo/MongoTransform.js#L535 - Am I warm?

[2017-05-02 23:31] flovilmart commented on #3711
I'll work on a fix, I have a pretty good idea of what's going on.

[2017-05-02 23:33] awgeorge commented on #3711
You would be a life saver -

[2017-05-02 23:51] flovilmart commented on #3711
Did you try to use `matchesQuery("season", seasonQuery)` because it does exactly what you expect it to do.

[2017-05-03 00:05] awgeorge commented on #3711
I would lead with that next time. ahaha 😞 - Good to know. What's the best course of action:

1) update all the SDKs to include a message when `key=="objectId"` (Use `matchesQuery` instead)
2) update all the SDKs to call `matchesQuery` instead if `key=="objectId"`
3) Fix the server to allow `key=="objectId"`
4) Change the server to internally use the same function as `matchesQuery` if `key=="object

[2017-05-03 00:32] flovilmart commented on #3711
None of those, this depends on your data structure, any of each could be valid. Not sure how it was working on Parse.com, if because the target field "season" is a pointer, the objectId's are transformed to a pointer matching.

This is not that the server doesn't allow key=='objectId', this is a valid query when you do:

`query.matchesKeyInQuery("seasonObjectId", "objectId", seasonQuery);`

Where

[2017-05-03 00:40] awgeorge commented on #3711
I see - that makes sense - so there are cases when people just save the ID instead of using a pointer. - Well, now i'm educated. Maybe FB had a fallback in case it returned no results, try a string value match first, then pointer if that failed.

[2017-05-03 00:46] flovilmart commented on #3711
Like I said we could convert those to pointers if the target field is a pointer, did it work before?

[2017-05-03 00:47] awgeorge commented on #3711
It absolutely 100% worked before.

[2017-05-03 00:49] flovilmart commented on #3711
I'm looking for a fix now

[2017-05-03 01:05] flovilmart commented on #3711
TBH' I still would recommend you to change your code, as I can't guarantee when the fix will be released.

[2017-05-03 01:07] awgeorge commented on #3711
@flovilmart - Way ahead of you :) - Thanks so much for your direction, in more ways than one, without you parse would likely fall apart.

[2017-05-03 01:10] flovilmart commented on #3711
Thanks for the kind words, but many other contributors make it work, and without them, I would fall apart.

[2017-05-03 03:38] paulovitin commented on #3737
@flovilmart when we will see the new release of parse-server?

[2017-05-03 07:42] mman commented on #3655
Just to update you guys, I'm watching this and all my investigation is pointing towards this error message being generated via ``GET /users/me``.

The strange thing is that I'm seeing this less with the latest 2.3.8 without me changing anything, and I can't identify an API call in the nginx logs that would not return ``HTTP 1.1 200`` when this message drops in the parse logs. In fact I don't see a

[2017-05-03 09:37] mgreenvald commented on #3748
You need to pass the session token as the third parameter, the second parameter is the function input data:

`Parse.Cloud.run('getAllQRCodes',{}, {sessionToken: user.getSessionToken() })`

[2017-05-03 10:53] Sanlusfa commented on #3136
I met this problem recently - "**Ran cloud function, then restart.**"

In my case, finally, found the reason is:
When run cloud function, /logs/parse-server.info.201x-0x-0x will be written some info.
If PM2 env is "watch" : true, when add/remove any files or change file content, PM2 will restart the server.

Solution:
remove "watch" : true
And just watch and ingore_watch specefic folder or file I

[2017-05-03 11:00] natanrolnik commented on #3748
@mgreenvald is right.
@pconihout @flovilmart check the method documentation here: http://parseplatform.org/Parse-SDK-JS/api/classes/Parse.Cloud.html#methods_run

The second parameter is the data the cloud function will receive; `options` is the third parameter.

[2017-05-03 11:00] #3748 closed

[2017-05-03 11:15] flovilmart commented on #3655
@mman what SDK's are you using?

[2017-05-03 11:56] ZacharyKhan commented on #3690
Check #1440, may help your situation.

[2017-05-03 12:52] asheludchenko opened #3772 "App Crashed"
### Issue Description

Everything worked well all the time, had no problems. Now the server is crashing all the time.

### Environment Setup

- **Server**
  - parse-server version 2.3.8
  - Heroku

- **Database**
  - MongoDB version: 3.2.11
  - mLab

### Logs/Trace

/app/node_modules/parse-server/lib/ParseServer.js:460
2017-05-03T12:47:16.628284+00:00 app[web.1]:             throw err;
2017-05-03T

[2017-05-03 13:13] flovilmart commented on #3772
You need to renew your certificate APNS: `Error: certificate has expired: 2017-05-03T11:46:01.000Z`.

The [apn](https://www.npmjs.com/package/apn) library validates all certificates on startup, we don't control that, if you feel this is not the intended behaviour, your should open an issue [here](https://github.com/node-apn/node-apn/issues)

[2017-05-03 13:13] #3772 closed

[2017-05-03 13:25] asheludchenko commented on #3772
I'm so sorry for being an idiot! Thank you very much for help!

[2017-05-03 13:27] flovilmart commented on #3772
No problem :)

[2017-05-03 15:32] wellkeptbeauty commented on #2493
when i see into databse (mlab) the  push status was succeeded but i didn't receive push notification on mobile
server:heroku
database:mlab
sending via cloud code for specific user

[2017-05-03 15:53] ulaskilic opened #3774 "How to Limiting LiveQuery"
Hi everyone,
I have some problem with livequery. I have Posts Comments and Users classes. And users can like and unlike posts unlimited times. But when i subcribe my livequery server, subcribing all object of classes. So I have 1m post in posts class, when user like action first post in class, triggering all clients, but i dont want this.
Mycode;
[code]

How can i solve this ?

[2017-05-03 16:02] wellkeptbeauty commented on #1831
2017-05-03T15:20:13.077422+00:00 app[web.1]: [32minfo[39m: Ran cloud function pushmess for user xxxxx with:
2017-05-03T15:20:13.077427+00:00 app[web.1]:   Input: {"toEmail":"xxx@xxx.com"}
2017-05-03T15:20:13.077429+00:00 app[web.1]:   Result: "Push Sent!" functionName=push, toEmail=xxxx@xxx.com, user=xxxx
2017-05-03T15:20:13.079023+00:00 heroku[router]: at=info method=POST path="/parse/functions

[2017-05-03 16:46] MihalySzabo opened #3775 "Parse does not re-authorize connection to MongoDB"
### Issue Description

If the user that Parse uses to connect to MongoDB is deleted, Parse will not be able to fetch any data from the DB - as expected. But if the user is put back, Parse will still not get any data until restart.

### Steps to reproduce

- Set up Parse with MongoDB using <user> for authentication.
- If everything is OK (Parse can access the DB normally), delete <user> from MongoD

[2017-05-04 07:16] srameshr commented on #3767
@flovilmart  Anything on this?

[2017-05-04 09:46] ndominati-luna commented on #3746
Hi,

After some investigations we found that this bug is happening when we log out a user and log in back the same user or another one from a mobile app.
Is there something special to know about the correct way to stop all previous LiveQuery subscriptions, client, queries, ...?

[2017-05-04 10:14] pconihout opened #3776 "Progress with Parse file uploading using JS SDK"
Hi,

It seems there is a few way of implementing progress bar while uploading/downloading Parse.File with iOS & Android SDK, but I didn't found any with the JS SDK.

Did I miss something ?

Regards.

[2017-05-04 10:29] ndominati-luna commented on #3746
I tested this again and I can confirm you that the cloud code stops to work when a user is logged out and logged back in.
Is this an issue on the ParseLiveQuery Server?

[2017-05-04 11:20] flovilmart commented on #3767
I don't believe you can use geonear alongside $or as part of a restriction on mongodb

[2017-05-04 11:23] flovilmart commented on #3746
Thanks for tracking down the issue. I'll have a look in the liveQuery server and clients. Do you pass your sessionToken with the liveQuery subscription?

[2017-05-04 11:29] ndominati-luna commented on #3746
No, I just call this: subscription = client.subscribe(query).

[2017-05-04 11:35] ndominati-luna commented on #3746
On iOS side, I initialize one Client which I use in all the application to subscribe queries.
When I log out / log in, the cloud code stops to respond, and when I restart the server, the application reconnects the websocket with no issues and all is working well.

[2017-05-04 11:55] natanrolnik commented on #3776
That's correct, this is not available in the JS SDK.
You can keep keep track of the issue here: https://github.com/parse-community/Parse-SDK-JS/issues/347

[2017-05-04 11:55] #3776 closed

[2017-05-04 11:58] srameshr commented on #3767
@flovilmart It used to work all right until i updated my parse server version to 2.3.8

[2017-05-04 12:06] natanrolnik commented on #3690
Closing as duplicate of #1440, #326, #692, #2127, #1698 and #1973
@wooknight hope you got it working.

[2017-05-04 12:06] #3690 closed

[2017-05-04 12:11] flovilmart commented on #3746
And if you don't connect the liveQuery client it's all good?

[2017-05-04 12:12] ndominati-luna commented on #3746
Yes.

[2017-05-04 12:17] natanrolnik commented on #3774
Head over to the [`Parse.Query` docs](http://docs.parseplatform.org/js/guide/#queries) - you should constraint the query to the user, the way you want it to work. Something like:

[code]

You'll need to have a list of `usersSubscribedToLikes` or something similar, so it's only "sent" the users that should receive these notifications.

[2017-05-04 12:17] #3774 closed

[2017-05-04 12:21] flovilmart commented on #3767
Can you provide the exact client code that trigger this issue?

[2017-05-04 12:21] flovilmart commented on #3746
As well as if you disconnect the client/close the subscriptions after logging out?

[2017-05-04 12:25] ndominati-luna commented on #3746
Before testing without LiveQuery, I unsubscribed all queries after logging out.
I also tried to unsubscribe all queries before logging out.
All the time, it ends up with a bug in the server after logging out.

[2017-05-04 12:28] ndominati-luna commented on #3746
I never tried to disconnect.
I didn't know this function.

[2017-05-04 12:28] ndominati-luna commented on #3746
Do I have to use this function when I log a user out?

[2017-05-04 12:36] srameshr commented on #3767
[code]
@flovilmart

[2017-05-04 12:39] ndominati-luna commented on #3746
I tried also to use .disconnect() and .reconnect on the client and the same thing happened.

[2017-05-04 12:59] flovilmart commented on #3746
OK good to know, I'll have a look soon.

[2017-05-04 13:38] ndominati-luna commented on #3746
Thx, it will be really appreciated because our application will be released very very soon and the only option we have now is to remove the LiveQuery server. But doing this we will loose this nice real time feature...

[2017-05-04 23:06] jeveloper opened #3778 "Greenkeeper isnt updating Mongo client"
Just a small note:

mongo native lib was updated to 2.2.26 - few really good fixes in that release, nothing major

thanks

[2017-05-05 05:15] jlalvarez18 commented on #3743
It's available in Parse Server already.

https://github.com/parse-community/parse-server/blob/master/src/Adapters/Auth/instagram.js

I believe you add it to your server config like so:

[code]

According to the adapter, it doesn't require any options so just pass an empty object. The client should send authData that contains `access_token` and `id` returned after authentication with Instagram.

[2017-05-05 07:08] wellkeptbeauty commented on #1174
hi every one, deployed my parse app into heroku and mlab all working good expect push notifications.
could you help me out how to send push notifications with heroku and mlab with cloud code

[2017-05-05 13:24] srameshr commented on #3767
Anyone who updated to 2.3.8 is facing the same?

[2017-05-05 13:53] flovilmart commented on #3767
And what's the query that's being done in cloud code?

[2017-05-05 14:38] srameshr commented on #3767
[code]

[2017-05-05 14:59] flovilmart commented on #3767
The point variable is unused, can you provide the exact code please so I can write a proper test and check against previous versions?

[2017-05-05 15:53] srameshr commented on #3767
@flovilmart I have edited the previous comment.

[2017-05-05 16:10] andrekosak commented on #3718
spent 2 hours to understand what went wrong after parse-server version bump to 2.3.8 😞  and to get here

[2017-05-06 13:17] emadehsan opened #3780 "How to Receive Push Notification on website using Parse JS SDK?"
I have asked [this question on StackOverflow](http://stackoverflow.com/questions/43820278/how-to-receive-push-notification-on-website-using-parse-js-sdk) but I am in a bit hurry, so posting here. It seems to be related to Parse-JS-SDK but I believe that **Update** has some specifics to **Parse-Server**

[2017-05-06 15:30] flovilmart commented on #3767
I'll run the tests against 2.3.7 to try to indentify where / if a regression occured

[2017-05-06 15:32] flovilmart commented on #3778
I'll check it out! Or can you open a PR with the updated dependency?

[2017-05-06 15:39] flovilmart commented on #1831
Have a look into the guide on https://docs.parseplatform.org/parse-server/guide and doublecheck your configurations

[2017-05-06 15:41] flovilmart commented on #3771
This is most likely possible, Parse is a general purpose backend and supports flexible datastructures.

[2017-05-06 15:41] #3771 closed

[2017-05-06 15:43] flovilmart commented on #356
@wellkeptbeauty can you open a new issue with detailed informations? Your issue is most likely an implementation issue and not a Parse-server issue.

[2017-05-06 15:46] flovilmart commented on #2751
Can you connect with that URL right with the nodejs mongodb driver?

[2017-05-06 15:51] flovilmart commented on #3763
In your login helper, you should either pass the masterKey or the user's session token (from the original request) in order for the save to execute correctly. What happens here is that your save call is not authenticated, and the security prevents updating the object.

[2017-05-06 16:00] flovilmart commented on #3588
I'll work on the enhancement while maintaining a good amount of security:

- calls will folllow the ACL
- public write will always be rejected
- self locking out will be prevented
- locking out from other source will be approved if following ACL

[2017-05-06 16:02] jeveloper commented on #3778
Sure ill do that

[2017-05-06 16:02] #3778 closed

[2017-05-06 21:22] flovilmart commented on #1461
@crifkin sorry for the late response.

Yes it needs more work to be  able to forward the request headers to the hooks.

I've prioritized it and we should be able to do something for that.

[2017-05-06 21:24] flovilmart commented on #3696
I believe I answered a similar issue somewhere else

[2017-05-06 21:25] flovilmart commented on #275
@Neilpoulin sorry for the late response. Did you open another issue or found what you were looking for?

[2017-05-06 21:27] flovilmart commented on #3014
Awesome! I believe we can close that one now.

[2017-05-06 21:27] #3014 closed

[2017-05-06 21:30] flovilmart commented on #3708
That would be an issue better answered in the appropriate repository https://github.com/Parse-community/ParseLiveQuery-android

[2017-05-06 21:30] #3708 closed

[2017-05-06 21:32] flovilmart commented on #3321
@ananfang for now, no schedule i'm afraid, but if you feel you want to tackle the issue, i could help you get going :)

[2017-05-06 22:25] flovilmart commented on #3760
We don't support officially a python library, you should probably open the issue on the python lib you're using, and probably link back here

[2017-05-06 22:26] flovilmart commented on #3759
Can you provide relevant logs as well as configuration and reopen the issue when done? Thanks!

[2017-05-06 22:26] #3759 closed

[2017-05-06 22:41] flovilmart commented on #166
@wellkeptbeauty can you open a new issue with all required details?

[2017-05-06 22:44] flovilmart commented on #3757
Can you expand a bit? Perhaps this question is more suited for stackoverflow?

[2017-05-06 22:47] flovilmart commented on #3756
To be clear, jobs can be defined but the scheduling is up to you.
As for resending verification emails, I believe the REST endpoint has been available for a while.

If you feel some documentation should be improved, feel free to open an issue or a pull request on https://github.com/Parse-community/docs

Thanks!

[2017-05-06 22:47] #3756 closed

[2017-05-06 22:52] flovilmart commented on #3751
I'll have a look, thanks for the detailed screenshots

[2017-05-06 23:23] flovilmart commented on #1475
@kahoona77 we'll soon do a pass for those unhandled rejections that are logged starting 6.9

[2017-05-06 23:24] flovilmart commented on #3747
Can you point out the documentation for full text search? If it requires a special operator?

[2017-05-06 23:25] mmarshak opened #3782 "Wrong Content-Type when uploading html file"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

 You're running version >=1.0.23 of Parse Dashboard.
I am running 1.0.22 but I looked at what change in 1.0.23 and those changes do not impact this issue.

 You're running version >=2.3.2 of Parse Server.
I am using Parse server 2.2.25, and again since 2.2.25 till 2.3.2 according

[2017-05-06 23:41] flovilmart commented on #3736
Can you provide the logs for both 2.3.2 and 2.3.7 when running with VERBOSE=1?

[2017-05-07 00:07] flovilmart commented on #3780
It's not supported at the moment.

[2017-05-07 01:04] ederelk commented on #835
@corbanb I know it is kind of late but I am having the same issue. It seems to be happening when there is a "+" character in the username

[2017-05-07 01:24] flovilmart commented on #835
I just reopened, we'll investigate further special characters in logins

[2017-05-07 01:53] ederelk commented on #835
@flovilmart @corbanb  I just run a couple of test on my end. What I have noticed so far is that when I send a request like this http://localhost:1337/1/login?username=%2Buser&password=pass it works fine. But if I send it like this  http://localhost:1337/1/login?username=+user&password=pass it does not work. Some encoding issue with the "+" character I believe.

[2017-05-07 02:53] flovilmart commented on #835
Note that this + should be properly URL encoded on your side.

+ is a reserved character (like & and =) and may be interpolated as a space serverside.

https://en.wikipedia.org/wiki/Percent-encoding and https://en.wikipedia.org/wiki/Query_string

[2017-05-07 02:54] #835 closed

[2017-05-07 03:09] flovilmart commented on #2863
@fduch2k do you want to take on the implementation as discussed?

[2017-05-07 03:20] flovilmart commented on #3727
@hackin247 you don't even need to 'fetch' the photo, you can create an Object 'withoutData' and with it's objectId (that's basically what a pointer is).

We'll have a look to bring back string <-> pointer interpolation based on the schema column.

[2017-05-07 03:29] flovilmart commented on #3739
You can save a new object in a beforeSave, then reject the first save. Otherwise, I recommend you implement, a cloud function, where you'd return the vote object. The pattern you're trying to implement is kind of risky, and opening it would lead to probable issues.

[2017-05-07 03:29] #3739 closed

[2017-05-07 03:30] flovilmart commented on #3739
You also could keep only the last vote, marking the previous votes as non-readable which would give you history. Drawback is that the objectId would change after each vote, but still, an interesting feature/side effect. You can also delete the previous vote etc...

[2017-05-07 08:29] ranhsd commented on #3747
Hi @flovilmart . Yes it actually required 2 things and there is also one limitation

1. Create text index on one or more columns (multiple column is the compound index)
2. Use the following command the run the search:

`db.{collection_name}.find({$text: {$search: "{search string}"}}`

Full text search is supported since v2.6 of Mongo and currently you can create only **one** text index per collect

[2017-05-07 10:11] majidhassan commented on #3756
@flovilmart Hey Florent, thanks for the reply. I don't quite get, what you mean regarding the jobs. What is the difference between defining and scheduling the jobs?

Just to clarify, does that mean, it works just like it used to in Parse.com. Meaning, I define the jobs from the cloud code and then schedule them from the dashboard?

[2017-05-07 11:59] flovilmart commented on #3747
Ok that's something worth considering!

[2017-05-07 12:05] flovilmart commented on #3756
You basically answered the question yourself, you can define a job in cloud code with Parse.Cloud.job but you can't schedule them in the dashboard because there is no scheduler

[2017-05-07 12:08] ranhsd commented on #3747
Yes it is! until now the solution was to create the full text search indexes in elastic search via [mongoostatic](https://github.com/mongoosastic/mongoosastic).
The idea is to replicate all the text indexes column data into elastic search and when the client sending a search query the library execute the query in front of elastic instead of MongoDB. The big advantage of this approach is that elast

[2017-05-07 14:58] flovilmart commented on #1455
@kelset I just provided a PR that will prevent revalidating authData when it's the same as the original data. This will most likely fix your issues with any 3rd party login services.

[2017-05-07 16:55] #1455 closed

[2017-05-07 16:57] mrmarcsmith commented on #3739
Understandable. I ended up just erroring out if they have voted before but that makes votes unchangeable. I have considered your suggestion of deleting previous votes or making them unreadable. The issue with this is the objectId changes which is undesirable for my situation.  Rejecting the original object and saving a new one returns an error to my client SDK which is confusing and feels hacky to

[2017-05-07 17:22] mrmarcsmith commented on #3739
Refining this idea, in order to not break current client SDK functionality. We would only call this function on new objects where the SDKs has no expectation of what the objectId will be. "ExistingIdForNewObject" might be a better function name.

[2017-05-07 18:47] flovilmart commented on #3739
Why don't you create a cloud function to save your votes? You can have all the custom logic you want as well as all the benefits of natively types objects if you return your vote object from this cloud function.

[2017-05-07 20:59] flovilmart commented on #3751
What's the endpoint you're calling that causes issues with the sessionToken?

[2017-05-08 03:06] benishak commented on #3153
` requiresAuthentication` feature looks awesome!

[2017-05-08 03:08] benishak commented on #2482
redis fixed this issue

[2017-05-08 03:27] ananfang commented on #3321
@flovilmart I'am afraid that I can't handle these issue currently, I am zero experience on Node.js developement. I'll try to start studyin on Node.js, if I am ready, I'll tell you later :)

[2017-05-08 05:01] srameshr commented on #3767
@flovilmart Any updates on this?

[2017-05-08 07:37] youngerong opened #3789 "If Cloudcode function failed, log may print the password clearly."
I add a cloudcode function, the input params has username, password and so on. If the cloudcode function went error, I will log the error like this:
res.error(1002,'verify code error');
But I see Parse Server record the error information in the log file like this:
Failed running cloud function signUp for user undefined with:
  Input: {"phone":"13151594883","password":"********","verifyCode":"77317

[2017-05-08 08:12] zack1991 commented on #3763
Hi flovilmart, thanks for reply. I just updated my parse server from 2.3.1 to 2.3.8, now i am not getting this issue.

[2017-05-08 08:57] zack1991 opened #3790 "XMLHttpRequest: Network Error 0x2ef3, in Internet explorer - Parse JS SDK"
#Hi, i am using Parse javascript SDK with Cocos2dx for web application. My application running well on Google chrome, firefox, safari, opera but on Internet Explorer i am getting
"CRIPT7002: XMLHttpRequest: Network Error 0x2ef3, Could not complete the operation due to error 00002ef3. "
or sometimes "XMLHttpRequest: Network Error 0x4c7, The operation was canceled by the user."
issue on IE browser c

[2017-05-08 10:14] gopal-aressindia opened #3791 "Support for ID token flow for Google auth adapter in order to migrate from GoogleAuthUtil and Plus.API"
I have implemented Login/Signup with Google to Parse with `ParseUser.logInWithInBackground(AUTH_TYPE_GOOGLE, params)` this API where 'params' contain ACCESS_TOCKEN("access_token") received from google with GoogleAuthUtil.getToken API and ACCOUNT_ID("id") of the user, it is also received from the Google.

Now Google recommends to Migrate from GoogleAuthUtil and suggested to use ID token flow instea

[2017-05-08 11:12] majidhassan commented on #3756
@flovilmart Any plans on when a scheduler would be added? That's the whole point of having Parse jobs.

[2017-05-08 11:14] flovilmart commented on #3767
I haven't had a chance to look at it during the week end

[2017-05-08 11:32] flovilmart commented on #3756
There is no plan for the scheduler to be added. as many libraries manage it. We added back the jobs REST endpoints and status objects so you can monitor them from your dashboard.

[2017-05-08 11:34] flovilmart commented on #3791
You should update your server version to the latest. Also passing id_token is fully supported. See: https://github.com/parse-community/parse-server/blob/master/src/Adapters/Auth/google.js#L32

[2017-05-08 11:34] #3791 closed

[2017-05-08 11:35] flovilmart commented on #3763
So if everything's good can you close the issue?

[2017-05-08 11:36] flovilmart commented on #3789
Can you open a pull request for that issue?

[2017-05-08 11:47] flovilmart commented on #3321
It's ok, always a good opportunity to learn.

[2017-05-08 14:38] youngerong commented on #3789
Yes ! I will open a pull request for that issue.

发自网易邮箱大师
On 05/08/2017 19:36, Florent Vilmart wrote:

Can you open a pull request for that issue?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-08 16:00] flovilmart commented on #3789
Thanks!

[2017-05-08 17:06] #3718 closed

[2017-05-09 05:38] #3763 closed

[2017-05-09 05:39] #3751 closed

[2017-05-09 06:48] wellkeptbeauty opened #3794 "Can't send push to iOS device from Cloud Code"
server config on index.js file

var api = new ParseServer({
  databaseURI: databaseUri || 'mongodburi',
  cloud: process.env.CLOUD_CODE_MAIN || __dirname + '/cloud/main.js',
  appId: process.env.APP_ID || 'appid',
  masterKey: process.env.MASTER_KEY || 'masterkey, //Add your master key here. Keep it secret!,
 // clientKey:process.env.CLIENT_KEY || 'cleintkey', //Add you client key here. Keep it se

[2017-05-09 07:20] natanrolnik commented on #3794
Hey @wellkeptbeauty. A few notes:

Please format better your cloud code. For help with Markdown, [check this link.](https://guides.github.com/features/mastering-markdown/)
**Never, ever, post anyone of the following on the web:**

- Database address, user and password;
- Master Key (it should really be a secret!)
- Push certificates

You have all of them in your `parseserverforwellkeptbeauty` - ma

[2017-05-09 07:49] #3794 closed

[2017-05-09 07:59] kahoona77 commented on #3758
Hi,
I just submitted an PR (https://github.com/parse-community/parse-server/pull/3795) for this.

[2017-05-09 08:59] mman commented on #3655
@flovilmart It's 1.8.5 because of it being the last that supports iOS 7 IIRC

[2017-05-09 12:08] flovilmart commented on #3655
Thanks for tracking that down, I know where to focus the investigation now. By any chance, can you find a faulty iOS installation that triggers that issue, and relaunch it with request tracing? https://github.com/parse-community/Parse-SDK-iOS-OSX/wiki/Network-Debug-Tool

[2017-05-09 12:11] #3758 closed

[2017-05-09 14:48] mman commented on #3655
I will not be able to alter the client side easily, but I can play with the server so I can dump the request headers and response on the parse-server side. The only missing point is how to track down where is the error message coming from. Simply enabling VERBOSE=1 produces a lot of output - which is expected - but I can't find a clue as to what request actually generated the error. I'm looking fo

[2017-05-09 15:30] flovilmart commented on #3655
You can probably put the express logger, but I don't believe we need more detailed logs. Seems to be because the client is not sending it's session token, which would be because the session token is not sent from the client.

[2017-05-09 18:32] dondragon2 commented on #1961
Was anyone able to resolve this issue?

[2017-05-09 18:33] flovilmart commented on #1961
Try using id_token instead of access token in your login payload.

[2017-05-09 18:38] dondragon2 commented on #1961
I tried the following but still getting the issue
` const { type, idToken, user } = resp;

    if (type === 'success') {
      const { id, name, email, photoUrl } = user;
      const authData = {
        id,
        id_token: idToken,
      };
...`

and on the server side I am seeing:
`0|parse-se | error: Error generating response. ParseError {
0|parse-se |   code: 252,
0|parse-se |   message: 'Th

[2017-05-09 18:38] junal commented on #1961
@dondragon2 This is what worked for me...
`authData = {
                    authData: {
                        id: id,
                        access_token: accessToken
                    }
                };
     Parse.User.logInWith('facebook' authData);
`

[2017-05-09 18:43] dondragon2 commented on #1961
@junal I am trying to do a google login. the facebook login works fine

[2017-05-09 18:44] kukkadapukarhtik opened #3796 "can not receive push notification on device"
var api = new ParseServer({
databaseURI: databaseUri || 'mongodburi',
cloud: process.env.CLOUD_CODE_MAIN || __dirname + '/cloud/main.js',
appId: process.env.APP_ID || 'appid',
masterKey: process.env.MASTER_KEY || 'masterkey, //Add your master key here. Keep it secret!,
// clientKey:process.env.CLIENT_KEY || 'cleintkey', //Add you client key here. Keep it secret!,
fileKey:process.env.FILE_KEY || 'f

[2017-05-09 18:58] flovilmart commented on #3796
Seems that you push options is defined twice...

[2017-05-09 19:00] kukkadapukarhtik commented on #3796
It means, please can you explain clearly

[2017-05-09 19:08] flovilmart commented on #3796
[code]

[2017-05-09 20:24] kukkadapukarhtik commented on #3796
push: { <-- HERE
ios: [
{
pfx:__dirname + '/certificates/pushfordevelopment.p12',
bundleId: 'com.appname',
production: false
}
]
},
liveQuery: {
classNames: ["Posts", "Comments"] // List of classes to support for query subscriptions
},
//push: JSON.parse(process.env.PARSE_SERVER_PUSH || "{}"), <-- AND HERE

i commented above line and deployed in heroku, status was success on heroku log and mlab bu

[2017-05-09 20:25] flovilmart commented on #3796
please provide verbose logs, and perhaps look into the old closed issues: https://github.com/parse-server-modules/parse-server-push-adapter/issues?q=is%3Aissue+is%3Aclosed

[2017-05-09 20:25] #3796 closed

[2017-05-09 21:48] BenBenz commented on #275
Mail verification and password reset are available or not ?

[2017-05-09 21:53] flovilmart commented on #275
Yes they should be, all endpoints are available, configured when your provide a mail adapter.

[2017-05-09 21:56] BenBenz commented on #275
Because it tried to add this to my ParseServer configuration in index.js

    verifyUserEmails: true,
    publicServerURL: process.env.SERVER_URL || 'http://localhost:1337/parse',
    appName: 'Parse App',
    emailAdapter: {
        module: 'parse-server-simple-mailgun-adapter',
        options: {
            fromAddress: 'MYMAIL',
            domain: 'MYDOMAIN.mailgun.org',
            apiKey: '

[2017-05-09 21:56] BenBenz commented on #275
I need to add another module ? in package.json

[2017-05-09 22:59] flovilmart commented on #275
Can you provide the logs when running with VERBOSE=1?

[2017-05-10 01:02] flovilmart commented on #3767
@srameshr I know where it's coming from, actually, it comes from that commit https://github.com/parse-community/parse-server/commit/73195627c0c550aca9b390630704ef047573723d, from @NotBobTheBuilder, which is detailed enough so you have more information why we don't support it anymore. Yes, it breaks your particular query, but that's for the best I believe.

[2017-05-10 01:02] #3767 closed

[2017-05-10 01:05] flovilmart commented on #3711
@awgeorge I changed the nature of the issue as it's not a blocker for the moment, but more a nice to have. Is that fine by you?

[2017-05-10 01:05] flovilmart commented on #3693
Is that causing any issue with you?

[2017-05-10 01:16] NotBobTheBuilder commented on #3767
As a follow up - consider using $geoWithin and $centerSphere instead of $nearSphere. (Bear in mind that results will not be sorted by distance, though)

[2017-05-10 01:50] flovilmart commented on #3767
thanks @NotBobTheBuilder for the followup!

[2017-05-10 03:29] alexblack opened #3797 "Question - how to revoke a session for an installation?"
We get requests from our users to remove from their account a device no longer under their control.  Is there a way to revoke a session for a particular installation?

I normally do this by hand, I find the installation, grab its `installationId` using the dashboard, then find the session(s), then delete them.

I'd like to replace this with code, but I don't see a way to do this.  I tried using th

[2017-05-10 03:39] alexblack commented on #3797
My mistake, this works fine, I can use the JS sdk to query the Sessions, then destroy them.

[2017-05-10 03:39] #3797 closed

[2017-05-10 07:27] srameshr commented on #3767
@flovilmart @NotBobTheBuilder Any workaround for "OR" involving ```null``` values?

[2017-05-10 07:29] NotBobTheBuilder commented on #3767
Could you give an example of an error that's raised from a query with a null value? In the example above, the null shouldn't cause problems

[2017-05-10 07:34] srameshr commented on #3767
@NotBobTheBuilder Im thinking of using ```exists```.
I have to get all the objects in a collection where the ```date``` column can contain an actual date object or a null object. Until now I was doing this

[code]

[2017-05-10 07:59] NotBobTheBuilder commented on #3767
It looks like the error is occuring because `withinMiles` uses `$nearSphere` under the hood, not `$geoWithin`. [(location in code)](https://github.com/parse-community/Parse-SDK-JS/blob/2956decbe54f2cf6d2c17ff1b4d8db98327410d6/src/ParseQuery.js#L789-L807). The problem isn't the `null` in this case, so using `$exists` instead of `null` might not help.

I'm not familiar enough with Parse to know if t

[2017-05-10 08:43] NotBobTheBuilder commented on #3767
I filed a PR for 2. @srameshr if you have a chance to try it, could you try out the changes in #3798 and confirm that they fix this problem for you?

[2017-05-10 08:43] NotBobTheBuilder commented on #3767
(Lets move further discussion to that PR.)

[2017-05-10 08:44] srameshr commented on #3767
@NotBobTheBuilder I will do that and let you know ASAP.

[2017-05-10 11:28] mm11715 opened #3799 "When using multiple doesNotMatchKeyInQuery() clauses all but the last are ignored"
### Issue Description

When using multiple doesNotMatchKeyInQuery() clauses on a query, only the last one constrains the query.

### Steps to reproduce

const FriendRequest = Parse.Object.extend('FriendRequest');

const fromBlockedQuery = new Parse.Query(FriendRequest);
fromBlockedQuery.equalTo('status', 'blocked');
fromBlockedQuery.equalTo('fromUser', request.user);
fromBlockedQuery.select('toUse

[2017-05-10 12:08] flovilmart commented on #2863
There's no rush, open a Pr when you're good :)

[2017-05-10 12:22] srameshr commented on #3767
@NotBobTheBuilder That commit fixed it! Thanks! Hope its merged soon and available on 2.3.9

[2017-05-10 13:03] funkenstrahlen commented on #3705
@flovilmart Where can I edit the docs?

[2017-05-10 13:14] flovilmart commented on #3705
on https://github.com/parse-community/docs repo

[2017-05-10 15:15] majidhassan opened #3801 "How to set userSensitiveFields from env."
Hello,

I'm using pm2 to start parse-server and hence define all my parse-server attributes in the env of my ecosystem file. I can't figure out how to set the userSensitiveFields attribute from my ecosystem.

I checked [here](https://github.com/parse-community/parse-server/blob/master/src/cli/definitions/parse-server.js#L184) and found, that there's no "env" key for userSensitiveFields.

Any ideas

[2017-05-10 17:49] mhall119 opened #3802 "Snap package for Linux users"
### Issue Description

Linux users would benefit from having Snap packages of parse-server available for easy installs and updates.

Snaps are self-contained application bundles that can be installed on the most popular Linux distributions, such as Ubuntu, Debian, Fedora and Arch, without having to build separate versions for each one. They give users immediate updates as soon as you publish a new

[2017-05-10 23:10] mmarshak opened #3803 "ELB are failing with HTTP 5xx on AWS"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-05-10 23:57] flovilmart commented on #3803
Did you try updating to the latest version (2.3.8?)

[2017-05-11 00:17] mmarshak commented on #3803
I can try it soon, but one change that I am concern is that release 2.3.0 there was the following change -
email field is not returned anymore for Parse.User queries. (Provided only on the user itself if provided).

Today some of my clients app run a query before allowing the user to change his email address, the query in the _User collection and it checks if there is any other users with the new

[2017-05-11 00:20] flovilmart commented on #3803
the email is not returned but, the number of results should still match the count. You can try on a staging environment for that particular use case.

[2017-05-11 02:21] flovilmart commented on #3802
@mhall119 thanks for the recommendation, you could probably open a PR if anything is required, but I'm not sure we have time/bandwidth at the moment for yet another distribution method. Also not sure parse-server is relevant to be distributed as an ubuntu app.

[2017-05-11 04:13] promisenxu commented on #981
Does passing the session token or master key to the find() on the query solve the problem?

[2017-05-11 11:17] #3789 closed

[2017-05-11 20:16] RafaRuiz commented on #3655
For anyone that could be interested.

Since there's no fix for this yet, I created a python script that checks a random endpoint that never would return 209 and, if it does, it restarts the server.

`crontab -e`: (checks every minute)
`*/1   *    *    *    *     python /parse-server/PronuntiaTests/Pronuntia209.py

`Pronuntia209.py`:
`import requests
import json
import subprocess
import datetime

u

[2017-05-11 20:32] flovilmart commented on #3655
There is no fix (yet) because we're unsure what the issue is or what yields it.

[2017-05-12 07:59] mman commented on #3655
@RafaRuiz Exactly as @flovilmart says. The problem is real, I don't know where is it coming from and what bad is it doing - if anything. I have it in production for two weeks now and it does not seem to have any negative side effects. In any case, restart is not making it disappear or show less.

[2017-05-12 09:25] hatpick commented on #3552
@bhaskaryasa I'm not a parse ios expert but when he says that JS SDK is handling the case it means that doesn't matter what ios SDK sends to the server, if it's empty string it should fail, because server side is using JS SDK.

[2017-05-12 09:31] bhaskaryasa commented on #3552
@hatpick When I said JS SDK I meant the client SDK (parse library running on the browser). This issue is now fixed on the server side as well.

[2017-05-12 11:18] flovilmart commented on #3655
@mman did you had old non révocable session tokens that you upgraded with parse-server and not parse.com?

[2017-05-12 11:19] flovilmart commented on #3655
Also, we dropped support for iOS 8 6 months ago in my current company, do you have any plan to bump the SDK and your minimum iOS version?

[2017-05-12 14:12] mman commented on #3655
@flovimart I don't know about non-revocable sessions, but there definitely were users using the app with some old SDK against parse.com that at some point in time upgraded to the new SDK and new parse server. Assuming (read I have no idea) the new SDK simply took the saved settings on the device it might explain your hypothesis.... but... it's still confusing to me that I don't see any 4xx or 5xx

[2017-05-12 14:54] flovilmart commented on #3655
So those 209 errors are only generated form requests coming from the old SDK?

[2017-05-12 16:14] hhanesand commented on #3747
Looks like @seriph has already implemented this at https://github.com/seriph/parse-server

@seriph Could you throw together a pull request? 😄

[2017-05-12 17:32] #3765 closed

[2017-05-12 18:07] #3802 closed

[2017-05-12 20:50] ndominati-luna commented on #3746
Hi,

I just would like to know if you have any news about this issue.

Thanks in advance.

[2017-05-12 21:17] flovilmart commented on #3746
I haven't had a chance to look at it

[2017-05-12 21:37] seriph commented on #3747
Sure, I put this together right around the time that this thread was started. Code works great but I consider it beta. Note that it requires changes to both the server and the API. I'll submit a pull soon.

Until then, if you have urgent need in your projects, feel free to use the npm packages I submitted. Just drop and replace with parse and parse -server.

https://www.npmjs.com/package/parse-ser

[2017-05-12 21:40] flovilmart commented on #3747
@seriph nice, we'll take care of the SDK's once the feature lands in parse-server (no need to rush those). @rogerhu and I will take care of the android and iOS SDK's.

[2017-05-13 13:46] RafaRuiz commented on #3655
I know that it's not fixed, I was trying to help you guys in case you don't want to have the server throwing 209 unexpectedly.

In my case the 209 are coming from anywhere, using JS SDK, Android SDK and iOS SDK

[2017-05-13 14:50] flovilmart commented on #3655
What endpoint is returning it? Is it in the auth middleware? As @mman mentions, with a recent iOS SDK it doesn't seem to be an issuez

[2017-05-13 15:45] #3761 closed

[2017-05-13 15:46] flovilmart commented on #3753
This will be part of the next release. Closing!

[2017-05-13 15:46] #3753 closed

[2017-05-13 15:47] flovilmart commented on #3743
@JulienLevallois did it help?

[2017-05-13 15:52] flovilmart commented on #3672
All links should be valid now, we'll revisit the QuickStart guides probably in the future and update them for the open source project.

[2017-05-13 15:52] #3672 closed

[2017-05-13 23:31] pungme opened #3813 "[ATTACK on parse-server] Is there a way to know if it's count operation request in beforeFind?"
Hi there,

We got an attack by creating count request to the largest collection and we would like to prevent this. Is there a way to know if it's a count request? so that we can block it?

Thank you so much in advance!

[2017-05-13 23:35] pungme commented on #3813
@flovilmart would be really grateful if you could help. Thanks a lot!

[2017-05-13 23:46] flovilmart commented on #3813
You should probably block the IP address of the attacker, you can disable public find (requireAuthentication: true) on the class

[2017-05-13 23:49] pungme commented on #3813
Hi!

Thanks a lot for a prompt reply, the problem is, he change the ip every hour or so and he also create an account for that. (Yes we block the account but he'll just create a new one)

Is there a way to just block the count operation? we never use it in our client so that's totally fine. if you can point me to where I can do that'd be great.

Thank you so much and hope to hear from you soon

[2017-05-13 23:59] flovilmart commented on #3813
Something you can explore is setting the query timeout to an acceptable value (within range of you regular operations) (maxTimeMS) in your parse server constuctor under databaseOptions:

[code]

The queries will timeout / close after 200ms.

Then you should probably inspect the queries in a middleware (before parse-server) and reject the ones that have counts.

const parseServer = new ParseServer(

[2017-05-14 00:10] pungme commented on #3813
Hi!

Thank you very much for your reply, I really really appreciate your help. We did try that but the req.query is empty. This is how we did it:

[code]

Any suggestion? Thank you so much!

[2017-05-14 00:14] pungme commented on #3813
Just a quick question, is there a way to know it from beforeFind? when I test with the count request, the request inside beforeFind is empty

[2017-05-14 00:19] flovilmart commented on #3813
did you setup your middleware before parse-server? Also note that it can go through he POST body if he's using the same vector as the JS-SDK is using. looking there: https://github.com/parse-community/parse-server/blob/master/src/Routers/ClassesRouter.js#L12
 it is possible that the count key is in the body.

[2017-05-14 00:29] pungme commented on #3813
Hey man,

I do really appreciate your help, But i'm actually quite new to nodejs and parse-server. And this attack things is happening right now.. would you mind to look at the main index.js setup personally? totally fine if you said no.

But thanks anyway! I owe you big time!

[2017-05-14 00:42] flovilmart commented on #3813
TBH I had other plans for my Saturday evening. We usually don't provide hands on support for those situations. Send away your index.js so I can have a 👀 (with redacted apiKeys/ master/DB  etc..) for Florent [at] flovilmart [dot] com

[2017-05-14 01:05] pungme commented on #3813
Hey man, Thank you so much!!!! appreciate your help. I've just sent it to you. Cheers!

[2017-05-14 01:57] flovilmart commented on #3813
Didn't received anything :/

[2017-05-14 02:57] flovilmart commented on #3813
Closing that one for now. Also, on the beforeFind (to address the original question), the query doesn't have a count property on it as it's a transient option, I can add it alongside the request probably.

[2017-05-14 07:02] ranhsd commented on #3747
We need also to update the docs about this new capability. Thanks a lot !

[2017-05-14 09:42] pungme commented on #3813
Hey Florian, That would be really great :-) I'll close the issue since there's already pr for it

[2017-05-14 09:42] #3813 closed

[2017-05-14 17:13] RafaRuiz commented on #3655
to me it was a endpoint called `getCountries`, a random one. Usually it affects all of them

[2017-05-14 17:51] flovilmart commented on #3655
Do you have the code for that 'random' endpoint?

[2017-05-14 18:05] RafaRuiz commented on #3655
[code]

[2017-05-14 18:10] flovilmart commented on #3655
Was it the find or the call that was yielding the invalid session? What SDK was making the call? I'd love to get closure on that issue. AFAICT, i can't design a repro case.

[2017-05-14 18:12] RafaRuiz commented on #3655
Yeah, that example is an dead end.
That call was made from Android, iOS and Javascript, do you need the version specifically of each one?

[2017-05-14 18:13] RafaRuiz commented on #3655
I don't know if it's the call yielding the invalid session, I'm not sure if I understand the question

[2017-05-14 18:42] flovilmart commented on #3655
I'm trying to narrow down the surface of the issue, trying to understand if it comes with a particular SDK or all etc...

[2017-05-14 22:53] benedickt12 commented on #3813
@pungme

We also suffered from this issue once but we figure out how to solve it permanently without depending on Parse itself

we use parse and we love using it! this is just maybe the costs of using open source, because everybody can learn from source code to find exploits or bugs that bad people can use ... It is very common in the open source world, think about people who were using WordPress

[2017-05-14 23:10] flovilmart commented on #3813
Would be nice part of the docs repo, perhaps a new section for mongodb scaling and AWS best practices. Thanks for sharing and pushing Parse-server to the limits :)

[2017-05-14 23:30] flovilmart commented on #3813
Also, on sharing:

You can pass the database options right in the parse constructor with `databaseOptions: {}` this hash is passed to [MongoClient.connect](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Storage/Mongo/MongoStorageAdapter.js#L111)

yes but comes at a high cost if querying on non shard key etc... I would not recommend sharding unless you really know what you

[2017-05-15 07:45] houmie commented on #2488
@drbarto Martin, have you managed to find a way to drop the database in the teardown() of the unit test? I'm trying to achieve the same, and am stuck.  I'm using swift on iOS. Worst case scenario I could get hold of my ids and class names and delete them after each test. But that's messy. Another problem is that deletion is async and could not finish in time before the next unit test has run, and

[2017-05-15 08:42] drbarto commented on #2488
@houmie Nope, in my current setup I just leave the test data in the database. Occasionally I'll manually reset the test db (i.e. delete it and bootstrap a new db just with the required class schema). I plan to automate this process but currently can live with the manual step because I have to do it pretty rarely.

In a way, not clearing the db after every test has a nice side effect: it ensures th

[2017-05-15 09:39] mman commented on #3655
@flovilmart I have some time this week to spend on this. I have forked the official repo and added couple debugging statements but I need your help explaining to me how to base my custom app on my own github.com based parse-server fork. Updating my custom server's ``package.json`` to point towards my forked repo does not work as it seems that plain ``npm install`` is not enough to correctly build

[2017-05-15 09:52] rootux opened #3817 "Add a command to set the default object creation with withAccessForCurrentUser=true"
I want to be able to allow the client to call with a flag `withAccessForCurrentUser` set to true and an ACL will be created for that specific user for the newly created object.
Something like:
[code]

[2017-05-15 12:20] flovilmart commented on #3655
So, because we're using babel to transpile the code and the `src` folder is skipped from package.json, this requires a bit of work on your side.

Local développement:
1. Fork Parse-server
2. Clone locally
3. Go to the clone
4. Link the local clone with npm link

This will let you use your copy of parse-server locally, while you're developing your instrumentation.

Deploy with your fork
1.  In your

[2017-05-15 14:30] busrahcirit opened #3818 "PFCloud.callfunction dont send the right parameters after the app is closed on test phone"
### Issue Description
PFCloud.callfunction(in Swift) dont send the right parameters after the app is closed on test phone

### Steps to reproduce

On Swift

let postUser = PFUser.current()?.username
let postUserId = PFUser.current()?.objectId

PFCloud.callFunction(inBackground: "secondsLater", withParameters: ["postUser" : postUser ?? "x" , "postUserId" : postUserId ?? "x"])

On Parse Server Cloud

[2017-05-15 15:49] jaimeagudo opened #3819 "2.4.0 not published in npm"
### Issue Description
2.4.0 Not published on https://www.npmjs.com/package/parse-server yet, please ignore it if its WIP and thanks for sharing 👍

[2017-05-15 16:08] acinader commented on #3819
its there now

[2017-05-15 16:08] #3819 closed

[2017-05-15 17:11] bitfinity commented on #3136
Sanlusfa, thanks for the suggestions. Helped a lot. One thing, for me "ignore_watch" should be "logs/*"

[2017-05-15 17:15] bitfinity commented on #3136
Can I also comment that this is really dumb. This cost me a lot of time. There's no reason the server should restart by default if something writes to the logs.

[2017-05-15 17:16] bitfinity commented on #3136
This should not be closed. The watch configuration of true should be modified to not include logs.

[2017-05-15 18:26] flovilmart commented on #3136
@bitfinity, we don't provide a pm2 config with Parse-server, not sure why you insist on reopening

[2017-05-15 21:41] abbasdawood commented on #1026
This no longer works, a warning is thrown with

`databaseOptions:{ server: { ... } }`

the error being:
[code]

Still no luck trying to solve this, I keep getting
[code]

[2017-05-15 21:45] flovilmart commented on #1026
that's an error thrown from the mongoDB nodejs client, you should probably check with them instead

[2017-05-15 21:46] flovilmart commented on #1026
Also, given the error, you should basically move everything at the top level, as mentioned in the error:

[code]

[2017-05-15 22:57] abbasdawood commented on #1026
Thanks for the direction @flovilmart.

I moved all of this to the top level (ssl, sslCert, sslKey, sslCA) as mentioned in the docs. There's been a change in the [options](http://mongodb.github.io/node-mongodb-native/2.2/api/MongoClient.html#connect). This varies somewhat from the options mentioned in this [tutorial](http://mongodb.github.io/node-mongodb-native/2.2/tutorials/connect/ssl/).

[2017-05-15 23:05] flovilmart commented on #1026
Yeah, you should probably report it to mongo :)

[2017-05-16 01:37] cinder92 commented on #3562
is this fixed? i just have same issue, trying sending ios and android push notifications, not sendind to anyone 😢

[2017-05-16 01:41] flovilmart commented on #3562
@cinder92 did you check your configuration? can you provide logs? This issue, involving _PushStatus stuck in sending state would actually get stuck AFTER **sending** and **delivering** the pushes.

[2017-05-16 01:42] #3562 closed

[2017-05-16 01:50] flovilmart commented on #3799
Can you provide the logs when running with VERBOSE=1?

[2017-05-16 01:52] flovilmart commented on #3790
You should open the issue in the https://github.com/parse-community/Parse-SDK-JS/issues instead

[2017-05-16 01:52] #3790 closed

[2017-05-16 01:53] #3780 closed

[2017-05-16 01:54] flovilmart commented on #3775
@MihalySzabo what do you suggest we should do? invalidate the connection on errors?

[2017-05-16 01:57] flovilmart commented on #3750
Can you provide the logs when running VERBOSE=1 ?

[2017-05-16 01:59] flovilmart commented on #3729
@adambarghouthi can you:

- provide the logs when running with VERBOSE=1, this will help understanding the issue with your mass push
- perhaps update to 2.4.0

[2017-05-16 01:59] #3743 closed

[2017-05-16 01:59] flovilmart commented on #3736
@tjlian616 any update on that?

[2017-05-16 02:13] flovilmart commented on #3665
@rdbayer @Jeff2017 I just added a repro test case, and it doesn't seem to cause any issue (https://github.com/parse-community/parse-server/pull/3820)

[2017-05-16 02:16] flovilmart commented on #3733
Closing as related to mongodb pre 3.2. Feel free to open a PR in the docs around the geo queries if you feel it should be described.

[2017-05-16 02:16] #3733 closed

[2017-05-16 02:25] flovilmart commented on #3583
So, if I understand correctly, for your use case, you'd like that a column 'role' in your object would define what role to allow read/writes.

As you mention, we usually mark roles with their names and not their objectId, that's not too big to overcome, but may require a quite large refactor, or the column could be just identified by a string, the role name. That still implies that you write this

[2017-05-16 02:30] flovilmart commented on #3663
@woodardj I went back to the CLI options and yes, I believe you missed the `enableSingleSchemaCache`; without that option, the _schema is called upon every request.

[2017-05-16 02:34] flovilmart commented on #3597
Creating GeoPoints with array of strings, is not documented, therefore not supported, see: http://parseplatform.org/Parse-SDK-JS/api/classes/Parse.GeoPoint.html

[2017-05-16 02:34] #3597 closed

[2017-05-16 02:35] flovilmart commented on #3575
Closing as the crash occurs in the node apn library

[2017-05-16 02:39] flovilmart commented on #3557
I believe your adapter is malformed  ;)

https://github.com/parse-server-modules/parse-server-firebase-auth-adapter/blob/master/src/index.js#L36

this should be:

[code]

The adapter loader expects:

[code]

For more infos, see examples:

https://github.com/parse-community/parse-server/blob/master/src/Adapters/Auth/facebook.js

[2017-05-16 02:39] #3557 closed

[2017-05-16 02:42] flovilmart commented on #3289
@anashalb thanks for the info.

I'll fix this behaviour which is not intended.

- _sessions will be clean up when password is updated
-  a new session will be created only if the user is not master

[2017-05-16 03:42] rdbayer commented on #3665
Thanks for looking into this, @flovilmart.  It looks like the test case you wrote doesn't cover the scenario I was talking about:
a) I was dealing with saving changes to multiple objects, not creating new objects
b) I actually noted that useMasterKey *does* work (it's the current workaround I'm using).  The issue I saw was specifically when using a session token (on objects whose ACL's would fail

[2017-05-16 03:47] rdbayer commented on #3665
Whoops, sorry, made my previous (deleted) comment without reading the second part of your test :)

My only additional thought is that in my specific case, the ACL I'm relying on is for a Role, so maybe the bug is Role-specific?

[2017-05-16 03:48] flovilmart commented on #3665
Ah so you have a role then, not an ACL for a particular user right?

[2017-05-16 03:51] rdbayer commented on #3665
Yeah, to be even more precise, in my specific repro, the ACL allows permissions for role X and user Y, and the session token (that doesn't seem to get propagated correctly) is for user Z who has role X.

[2017-05-16 03:57] flovilmart commented on #3665
Updated the test, with User A with Role 'admin', and objects with role read/write, and still no issue.

[2017-05-16 04:02] rdbayer commented on #3665
I think the only difference left in my case is that the ACL also has read/write permission (for a user other than user A, in addition to the Role read/write permission), so *perhaps* that could somehow be causing an issue?  But if that doesn't cause a repro, I'm out of ideas as to why I see it but you don't :-/

[2017-05-16 04:05] flovilmart commented on #3665
Do you have Class Level permissions or something else? Again, if you could post a gist with example data, that would help. I can confirm the session token is properly passed through, and _propagated_. The full auth state from the original request is actually propagated to the batch'd elements.

[2017-05-16 04:06] flovilmart commented on #3665
See: https://github.com/parse-community/parse-server/pull/3820/files#diff-6bb28738fd55b13fe1590425946ed199R427

[2017-05-16 04:17] rdbayer commented on #3665
Yes, I do indeed have class permissions (public can Create only, Admin role can full read/write, 'user' pointer column can full read/write)

[2017-05-16 07:49] mman commented on #3655
Thanks @flovilmart, that's precisely what I needed, running my own version with additional debugging info on one of the cluster nodes. Will update the bug once I collect something useful

[2017-05-16 11:19] flovilmart commented on #3655
Let me know how it goes ;)

[2017-05-16 15:02] felipemobile opened #3823 "Sending a push with parse-server 2.4.0 is returning 504 GATEWAY_TIMEOUT"
Sending a push with parse-server 2.4.0 is returning 504 GATEWAY_TIMEOUT
After some retries Parse dashboard shows the message XMLHttpRequest failed: "Unable to connect to the Parse API"

  - parse-server version : 2.4.0
  - AWS EC2
  - Linux

[2017-05-16 16:06] #3754 closed

[2017-05-16 18:02] flovilmart commented on #3823
can you provide the server logs?

[2017-05-16 19:48] felipemobile commented on #3823
[code]

[2017-05-16 20:18] flovilmart commented on #3823
hehe :) no problem, that's good it's not fore everyone but only when push_time is undefined :)

[code]

[2017-05-16 20:30] felipemobile commented on #3823
Sure 👍  But push_time will be always undefined when not set on the dashboard.

[2017-05-16 20:46] flovilmart commented on #3823
so we need to check for `typeof push_time !== 'undefined'`

[2017-05-16 22:46] wookiem commented on #2162
@mauriciord Did you ever get this working?

[2017-05-16 22:48] flovilmart commented on #2162
We're using it at the moment and we don't have any issue

[2017-05-16 23:23] felipemobile commented on #3823
I hope this fixes the issue.
https://github.com/parse-community/parse-server/pull/3824

[2017-05-16 23:41] wookiem commented on #2162
Good to know @flovilmart.

My file uploading was working fine with default adapter.  My client is receiving status 400, bad request with response "{"code":130,"error":"Could not store file."}".
I suspect this may be related to my configuration of Google Cloud Storage itself.

Here are the steps I did on that side after creating a project and bucket:
1) IAM & Admin -> Service accounts -> Create ser

[2017-05-17 08:26] monajafi commented on #3273
I have the same issue Please would you help me to seperate livequeryserver using redis?

[2017-05-17 08:47] jjdp commented on #3273
the docs on parse server seems straightforward [http://docs.parseplatform.org/parse-server/guide/#scalability](url)

[2017-05-17 08:53] monajafi commented on #3273
unfortunately the link is broken.

[2017-05-17 09:13] jjdp commented on #3273
edited

[2017-05-17 09:41] monajafi commented on #3273
Thanks, Actually the speed problem without Redis solved. but I have another problem;  just one client get subscried and receive livequeries. just one of the android app in two devices get livequeries. I've tested with back4app api which was receiving queries in both devices simultaneously.
here is my nginx configuration:
# Pass requests for /parse/ to Parse Server instance at localhost:1337

[2017-05-17 09:50] jjdp commented on #3273
is your certificate valid?

[2017-05-17 10:25] monajafi commented on #3273
Yes It's valid. I used Let's encrypt and it renews automatically. LiveQuery is working for single client and I'm able to call parse api in SSL mode

[2017-05-17 10:28] monajafi commented on #3273
For using redis . Is it enough to just install redis and set it's url in parse server config like following:
[code]

[2017-05-17 10:51] wookiem commented on #2162
Ok, I figured out what I was doing wrong.  The bucket should not include the "gs://" prefix.

For other people who run into issues getting things working, I highly recommend using Google's OAuth 2.0 Playground located at [https://developers.google.com/oauthplayground/](https://developers.google.com/oauthplayground/)

From there you can:

1. Select & authorize APIs:
- Choose the "Cloud Storage JSON

[2017-05-17 11:16] mman commented on #3655
So I have caught some errors finally:

[code]

It indeed appears as non-revocable session token and the good news is that it's just one and the same token everywhere. Looks like one super old buggy version somewhere out in the wild. I guess we are coming to and end and we can safely close this issue... I'll think if I can somehow improve the logging here, perhaps adding HTTP request that triggered

[2017-05-17 11:47] monajafi commented on #2610
I set nginx config file according to @pjchavarria and LiveQuery get received only in one client , the second client does not receive messages. I can't figure out how to solve the issue.
I've tested my android client code using back4pp api which was receiving in both devices simultaneously. They have another URL address for LiveQuery

[2017-05-17 11:53] jjdp commented on #3273
that is fine

[2017-05-17 12:01] monajafi commented on #3273
How should I set another url address to LiveQuery server ?

[2017-05-17 12:27] jjdp commented on #3273
use both, the document is vague on that part. check the source if you must

[2017-05-17 12:32] flovilmart commented on #3655
I could indeed add additional logging when this gets triggered

[2017-05-17 12:33] flovilmart commented on #3655
But that's great news for you indeed :)

[2017-05-17 12:47] mman commented on #3655
It's excellent news indeed as it is only one user that is triggering it and it apparently does not have any side effect :). Feel free to close this issue.

[2017-05-17 12:50] mman commented on #3655
Thanks for all helps with this, I'm watching parse-server closely and learning hoping I can contribute more in the future as well :)

[2017-05-17 13:16] flovilmart commented on #3655
Awesome, that makes we think we need to beef up the debugging capabilities of parse-server so we spend less time debugging those issues.

[2017-05-17 13:16] #3655 closed

[2017-05-17 13:36] monajafi commented on #3273
Thanks a lot @jjdp I've solved the problem by installing redis. you're great

[2017-05-17 13:52] flovilmart commented on #3665
OK, I'll try to replicate with CLP

[2017-05-17 14:04] RafaRuiz commented on #3655
So, what's the early solution for this? Since it's closed, I assume there's a workaround to do

[2017-05-17 14:09] flovilmart commented on #3655
As per @mman debugging, it seems that the invalid session token is yielded by an old, non revocable session token on a single user and therefore, not fixable server side.

[2017-05-17 14:20] RafaRuiz commented on #3655
Would it be good to remove all elements for sessionToken if clients are prepared to ask for a login again then ?

[2017-05-17 14:22] flovilmart commented on #3655
What do you mean by that?

[2017-05-17 14:28] RafaRuiz commented on #3655
Drop the _SessionToken collection, basically (since it could contain old session tokens) and start again from 0 items

[2017-05-17 14:39] flovilmart commented on #3655
Yeah, you can do that if you like, but I don't think it should be done by the server :)

[2017-05-17 14:41] RafaRuiz commented on #3655
No no, of course, I'll just drop the collection and check my script if it still has that problem.

[2017-05-17 15:02] MihalySzabo commented on #3775
@flovilmart I do not know the exact state transitions of Parse's connection handling, but I think invalidating connection on errors in general would not be a good solution, because a query can also raise an error even if the connection is OK. If the Mongo user has a read only access to the DB, that also raises a "not authorised" exception (?) on a write, but still nothing is wrong with the connect

[2017-05-17 15:06] pungme commented on #3813
@benedickt12

Thank you so much for sharing, that's definitely something we're discussing within the team. We're already using Elastic Beanstalk as a loadbalancer.

The other way is to verify each request and make sure that the request is fall into the option that we predefined. This definitely make it a bit harder for developer cause you can't query freely anymore but ultimately solve all other u

[2017-05-17 15:12] flovilmart commented on #3775
Uhh I'm not sure why, this is probably inside the mongodb driver, not sure about that. We can probably find something for the error handling, removing / closing the connection so it's re-established next time.

[2017-05-17 15:39] woodardj commented on #3663
Ah, thanks for circling back, @flovilmart — I must have come to a similar conclusion, as I have that `enableSingleSchemaCache` param in my config. I'd be happy to add this to docs somewhere and issue a PR, but I'm not sure the best place.

[2017-05-17 15:45] flovilmart commented on #3663
enableSingleSchemaCache is true in your config?

[2017-05-17 15:49] woodardj commented on #3663
It is, I must have found it digging through source; our cache appears to be behaving as expected now. I probably found it and forgot to post back on this issue.

[2017-05-17 16:07] flovilmart commented on #3663
Awesome :) we probably need to document that. Do you want to add a PR on https://github.com/parse-community/docs/blob/gh-pages/_includes/parse-server/cache-adapters.md or another section about using SchemaCache altogether?

[2017-05-17 16:10] woodardj commented on #3663
Can do!

-Jonathan

On Wed, May 17, 2017 at 10:07 AM, Florent Vilmart <notifications@github.com>
wrote:

[2017-05-17 16:13] flovilmart commented on #3663
Thanks! Very appreciated!

[2017-05-17 19:48] brianyyz commented on #3750
I am having the same problem. I am able to successfully send a push to an IOS device however the Parse Dashboard reports 0 sent. Parse Server 2.4.0 is running on Heroku and the parse-server-push-adapter is 1.3.0

I created the push through the dashboard by specifying IOS devices and a specific user objectId.

The log output with VERBOSE=1 follows (I've flagged two lines in bold that I've not seen

[2017-05-17 20:27] Valdezmj commented on #3736
@tjlian616 @flovilmart Has this been addressed? I am currently running into the issue with 2.4.0 not able to send push notifications from the dashboard to an iOS device.  It connects but cannot route to the device token.

[2017-05-18 06:09] benedickt12 commented on #3813
I'm not sure how feasible it is, to verify all requests. Well in AWS WAF or Cloudflare Business you can setup rules and define requests that will should be blocked/filtered by the service, you don't need to do that on the Parse Server level by adding some middlewares.

But for the case you described your request for count on parse look like this

[code]

it is normal request that Parse SDK would c

[2017-05-18 07:04] ArKam commented on #514
Hey community! I'm currently working on the infrastructures abstraction framework like parse and so would like to start contributing to this project.

As a first light task I could take this one, it's old, doesn't seems to be that difficult, but it have a lack of informations as:

Does you need parse to give you the last-modified headers on each requests globally or do you only need it on some spe

[2017-05-18 07:56] zack1991 opened #3828 "High CPU usage when using parse-server with clusters"
Hi,

I am using latest version of parse-server(2.3.8) for my slots casino app and app is comunicating to server frequently just like real time game.
My server configuaration is -

DB Server - Mongo Atlas(M30 - 8GB RAM, 40GB storage), Mongodb 3.4
Parse Server - Rackspace(15GB RAM, 50GB Storage, 8 Core), Nodejs - 6.10.2

For multithread support i am using clustering using pm2(v2.4.0). I am using 6 c

[2017-05-18 08:31] srameshr commented on #2279
@flovilmart The above does not work.
Basically my use case is, I need to call a cloud function that sends push notification via GCM server to some 25 clients. Nothing works after res.success() and afterSave triggers multiple calls for the same client. Very weird.

[2017-05-18 13:57] houmie commented on #2488
@drbarto That was a great tip. So far it seems to be working nicely.  Many Thanks.

[2017-05-18 15:55] flovilmart commented on #2279
Not sure if your comment is relevant given the lack of initial STR and also that this issue has been closed over a year ago

[2017-05-18 19:07] ranhsd opened #3829 "Blogs about parse-server running on google container engine"
Hi, I started to write a series of blogs in medium.com on how to run deploy parse-server to google container engine. In this series i cover the following topics:

1. Run parse-server on your local machine via docker compose
2. Deploy and run your parse-server on google container engine and run it in cluster environment.
3. Use kube-lego + lets encrypt to automatically generate certificate for your

[2017-05-18 20:39] DanGTZ opened #3830 "Timeout in FileAdapter or Empty response from server when trying to upload a small size file"
### Issue Description

I try to save a 19MB file via the rest api with Curl. Sometimes Curl indicates that the server response is empty, and sometimes the server respond with code 130 "Could not store file." This behavior is totally unpredictable and seems due to a timeout error in the FileAdapter.
I tried with both the S3Adapter and the default GridStoreAdapter and they produce the same behavior

[2017-05-18 20:57] kesongxie opened #3831 "Key has no data from subclass of PFUser with reference pointer field"
I need to update the current user and refetch every time the App launches so that I can grasp the most updated version of user object instead of using the one cached on the disk.

[code]

Do I have to do extra fetches for all those reference field and then update the current user's filed correspondingly?

[2017-05-18 21:12] flovilmart commented on #3830
You need to set the maxUploadSize, it's 20Mb by default https://github.com/parse-community/parse-server/blob/master/src/ParseServer.js#L122

[2017-05-18 21:24] DanGTZ commented on #3830
@flovilmart So why can't I upload a 19MB file

[2017-05-18 21:39] DanGTZ commented on #3830
@flovilmart I just set the maxUploadSize to '30mb' and result is exactly the same.

[2017-05-18 21:50] flovilmart commented on #3830
ANd if you bump it even more?

[2017-05-18 21:59] DanGTZ commented on #3830
@flovilmart Just set '100mb' and nothing changed

[2017-05-18 22:51] flovilmart commented on #3830
I'll have a look

[2017-05-19 00:43] emkman commented on #1916
Also would love this. The reason is in the encode function:
[code]
If you call `set` after retrieving the object from the DB, it becomes dirty and you lose all the rest of the JSON. Very unfortunate.

[2017-05-19 05:15] rorry121 opened #3832 "I can get a base64 code for a image, how i can upload this image by base64 code"
addfiles(imagebase64):Observable<Response> {
    let url = "http://XXXXX:1337/parse/files/111.jpg"
    let addHeader = new Headers();
    addHeader.append("X-Parse-Application-Id","XXXXX")
   addHeader.append("X-Parse-Master-Key","XXXXX")
    addHeader.append("Content-Type","plain/text")
    return this.http.post(url, JSON.stringify({_ContentType: 'image/jpeg', base64: imagebase64}),{headers: addH

[2017-05-19 14:57] polo2244 opened #3833 "Roles (ACL) not working properly"
### Issue Description
Performing this code in the cloud gives an object not found error.
`var query = new Parse.Query('classname');
query.get('hVYmCOi7M9').then(function(object) { ...`

---Details----
I have a User (a7MTQFYXA9) belonging to a role (admins).
and object (hVYmCOi7M9) with ACL (r/w to admins role).
I have a cloud function (templateTest) that takes an objectId (in our test case hVYmCOi

[2017-05-19 15:11] polo2244 commented on #3833
This works in iOS
 `   PFQuery* query = [PFQuery queryWithClassName:@"classname"];
    [query getObjectInBackgroundWithId:@"hVYmCOi7M9" block:^(PFObject* object, NSError* error{
    }];`
The problem may be just in cloud code.

[2017-05-19 15:11] polo2244 commented on #3833
This works in iOS
`PFQuery* query = [PFQuery queryWithClassName:@"classname"]; [query getObjectInBackgroundWithId:@"hVYmCOi7M9" block:^(PFObject* object, NSError* error{ }];`
The problem may just be in cloud code.

[2017-05-19 15:14] flovilmart commented on #3833
you have to pass the sessionToken of the user making the request:

[code]

[2017-05-19 15:14] #3833 closed

[2017-05-19 17:48] kesongxie opened #3834 "Receive Parse.push.send using cloud function succeed but device not receiving push notification"
I tried to use `Parse.push.send` with cloud function I define to send out a push notification to a device. I follow the guide on CodePath [Guide](https://guides.codepath.com/ios/Configuring-a-Parse-Server) and I receive a success call back in my iOS App. However, none of the remote notification was delivered. I also have the `_p_installationKey` in my `_User` collection, and I can verify that the

[2017-05-19 19:11] davidrichard23 opened #3835 "Master-Key-Only Role can be edited from the client JS SDK"
### Issue Description

Using `role.getUsers().add(user)` on a master-key-only Role will still add the user. Also produces the same result with a read-only Role. I've tried to replicate this on the User class and a custom class but the ACL's on those classes seem to be working as intended.

### Steps to reproduce

`var user = new Parse.User()`
`user.id = <user ID to add to role>`
`var role = <Maste

[2017-05-19 19:19] flovilmart commented on #3835
Can you provide the ACL from the dashboard on the Role ? Or the logs when running the server with VERBOSE=1?

[2017-05-19 19:28] davidrichard23 commented on #3835
So it's actually throwing an error in the logs but the user still gets added to the Role

`verbose: REQUEST for [PUT] /parse/classes/_Role/sia4on3KCS: {
  "users": {
    "__op": "AddRelation",
    "objects": [
      {
        "__type": "Pointer",
        "className": "_User",
        "objectId": "oNysdaUVwg"
      }
    ]
  }
} method=PUT, url=/parse/classes/_Role/sia4on3KCS, host=localhost:1337,

[2017-05-19 19:30] flovilmart commented on #3835
Added on the client or also in the DB?

[2017-05-19 19:32] davidrichard23 commented on #3835
In the DB.
![screen shot 2017-05-19 at 3 31 19 pm](https://cloud.githubusercontent.com/assets/5532434/26263833/5d21c1d8-3ca8-11e7-8cc7-6db71f5507e8.png)

[2017-05-19 19:37] flovilmart commented on #3835
that's odd indeed.

[2017-05-19 19:44] flovilmart commented on #3835
Just written that small test:

[code]

[2017-05-19 20:10] davidrichard23 commented on #3835
I ran your test and it passed as well. It seems the issue shows up when I set the id of the role directly like this:
[code]

[2017-05-19 20:21] flovilmart commented on #3835
Uhm I found something. Will get back to you soon

[2017-05-19 21:34] wookiem opened #3837 "Unable to delete a file stored in Google Cloud Storage using Parse.Cloud.httpRequest"
### Issue Description

Unable to delete a file stored in Google Cloud Storage using Parse.Cloud.httpRequest.

### Steps to reproduce

[code]

#### Expected Results
File is deleted

#### Actual Outcome

Google Cloud Storage returns Access denied error.

### Environment Setup

- **Server**
  - parse-server version :  2.3.8
  - parse-server-gcs-adapter version :  1.1.2
  - Operating System:     MacOS

[2017-05-20 00:29] #3834 closed

[2017-05-20 00:29] #3831 closed

[2017-05-20 11:57] wookiem commented on #3837
I've also successfully tested `DELETE` using `Google OAuth 2.0 Playground` using my personal gmail account set with same permissions as the service account used by Parse Server.  So, I'm reasonably confident that my permissions are set correctly.

[2017-05-20 14:22] flovilmart commented on #3837
Can you open the issue on the proper repository? https://github.com/parse-server-modules/Parse-server-gcs-adapter ?

[2017-05-20 14:22] #3837 closed

[2017-05-20 15:09] DigaoParceiro commented on #3338
thanks for share

[2017-05-20 15:16] kross50 opened #3838 "If DB has multiple GeoPoints allowed by older ParseServer then newer ParseServer version won"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-05-20 15:54] flovilmart commented on #3838
Multiple geopoint indexes are not supported by mongodb itself (2d index) not sure how you managed to get multiple geo indexes.

[2017-05-20 15:54] #3838 closed

[2017-05-20 16:06] kross50 commented on #3838
Thank you for replying back so quickly!!!! My question is how to I fix this issue since the parse-server/parse-dashboard UI isn't letting me?

[2017-05-20 16:08] flovilmart commented on #3838
Go into the mongodb database, and drop the column definition in the _Schema, I'm really not sure how you ended up in that situation

[2017-05-20 16:09] kross50 commented on #3838
I'm using Azure DocumentDB/CosmosDB.  I'm not sure how to modify a collection directly.

[2017-05-20 16:11] kross50 commented on #3838
The old Parse.com allowed me to do this if you were curious how this happened.  Then I imported all the tables into Azure Managed Parse with it like this.

[2017-05-20 16:12] flovilmart commented on #3838
Nah, the old parse-server never allowed to add 2 geopoints in the same class: http://docs.parseplatform.org/ios/guide/#caveats

This section was valid on parse.com and is still valid now.

[2017-05-20 16:19] kross50 commented on #3838
Someone else in a post said that a bug unknowingly allowed them to do it which is probably what happened to me.  That aside, how do i fix it.  I cleared the values in the single record.  But somewhere else maybe in parse-server that column definition is still being held since the backend is a JSON documentDB.  Where do I find how to delete the definition of this column that is no longer in the sto

[2017-05-20 17:09] flovilmart commented on #3838
In the _Schema collection

[2017-05-20 20:09] wookiem commented on #3837
@flovilmart Ah, sorry about that.  I moved it over.

[2017-05-20 20:57] flovilmart commented on #3837
No problem! We should probably have somethjng in the issue template to indicate it :)

[2017-05-21 00:23] kross50 commented on #3838
I don't see such a collection in Azure DocumentDB.  Any ideas?

[2017-05-21 01:09] flovilmart commented on #3838
That's odd the _Schema collection is what ensures the types on your class fields.

[2017-05-21 02:59] ZhenanH commented on #1765
@astanton have you solved the problem, I have similar problem. I used Parse.Cloud.httpRequest to make REST calls to delete photos, but always fails.

[2017-05-21 07:40] sandeep2242 opened #3839 "com.parse.ParseRequest$ParseRequestException: Could not store file."
### Issue Description
I was about to upload image on my parse server and then i encountered this error ie.   `com.parse.ParseRequest$ParseRequestException: Could not store file.`. It takes about 2 to 3 minutes to show this error, and all String, int,array are uploading but not images.

### Steps to reproduce

- My internet connection upload speed is 0.3Mbps
- File to upload is a image file of 2mb

[2017-05-22 01:11] flovilmart commented on #514
@ArKam thanks for wanting to contribute. I'm not sure what @nkranes had in mind, but logically, on queries with multiple objects, the last modified would be the most recent updatedAt, and for a single object, just the updatedAt value of such object.

[2017-05-22 01:26] devKC opened #3840 "Cloud job update objects works sometimes"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-05-22 01:40] flovilmart commented on #3840
Not sure the logs help really in that case, as it doesn't show the object is not saved correctly.
Also, you could use `query.each(function(result) {});`. This method waits for returned promises.

Also, you could use `result.save({look: false}, {useMasterKey: true});`

Does it help?

[2017-05-22 01:41] flovilmart commented on #3829
Sounds like a great idea to put in the wiki!

[2017-05-22 01:50] flovilmart commented on #3828
parse-server consumes CPU only when processing requests. Besides the custom code you can run in cloud code, there should be nothing running when not processing requests. Now, you could have a very high CPU usage if you have many requests per seconds coming onto your machine. I'm not sure what you mean by frequently, bu you should probably profile your app in a closed environment.

Do you have part

[2017-05-22 01:50] #3828 closed

[2017-05-22 01:51] flovilmart commented on #3663
Closing as not an issue with parse-server

[2017-05-22 01:51] #3663 closed

[2017-05-22 02:10] devKC commented on #3840
@flovilmart - regarding `query.each`- I am running a batch job and there will be 1000+ records that will be returned. From what I read, it seems like query.each has a limit at 1000 records so I think query.find would be more suitable for this purpose.

As for `result.save({look: false}`, I gave that a try and strangely the db updates only on the second "job" run. So after deploying the new build a

[2017-05-22 02:17] flovilmart commented on #3840
If you have so many records to update, you should probably issue a mongo query directly (update where) instead of a read/write. Also, your question is somewhat vague, try batching with 100 objects and run it every minutes.

Closing as lacking proper STR.

[2017-05-22 02:17] #3840 closed

[2017-05-22 02:18] sandeep2242 commented on #3839
@paulovitin  can you please help me with this problem?

[2017-05-22 02:21] flovilmart commented on #3839
Does it work on a fast connection?

[2017-05-22 02:31] sandeep2242 commented on #3839
haven't tried it yet. Will it   help?

[2017-05-22 02:34] flovilmart commented on #3839
Just to see what's the issue, also run your server with VERBOSE=1 so we have the server logs and not only the heroku request logs

[2017-05-22 02:35] flovilmart commented on #3736
@Valdezmj without more logs, that's impossible to know what to address.

[2017-05-22 02:35] sandeep2242 commented on #3839
2017-05-22T02:29:40.658Z - Could not store file.
2017-05-22T02:29:40.657Z - quota exceeded
2017-05-22T02:28:27.465Z - Could not store file.
2017-05-22T02:28:27.464Z - quota exceeded
2017-05-22T02:27:58.651Z - Could not store file.
2017-05-22T02:27:58.650Z - quota exceeded
2017-05-22T02:27:50.431Z - Could not store file.
2017-05-22T02:27:50.429Z - quota exceeded
2017-05-22T02:26:01.355Z - Could not

[2017-05-22 02:37] flovilmart commented on #3839
Not sure where this quota exceeded log comes from. Not from parse-server itself I believe. Do you use any 3rd party service to host your database?

[2017-05-22 02:39] sandeep2242 commented on #3839
only mongo db and nothing else

[2017-05-22 02:47] flovilmart commented on #3839
perhaps: http://stackoverflow.com/questions/34166991/getting-mongodb-error-on-write-quota-exceeded

[2017-05-22 02:59] sandeep2242 commented on #3839
these are my stats
` "collections": 48,
  "objects": 4785,
  "avgObjSize": 89773.16781609195,
  "dataSize": 429564608,
  "storageSize": 431390720,
  "numExtents": 86,
  "indexes": 51,
  "indexSize": 768544,
  "fileSize": 520093696,
  "nsSizeMB": 1,
  "extentFreeList": {
    "num": 0,
    "totalSize": 0
  },
  "dataFileVersion": {
    "major": 4,
    "minor": 22
  },
  "ok": 1
}`

[2017-05-22 03:11] flovilmart commented on #3839
Doesn't seem to be related to parse-server as the error comes from mongodb.

[2017-05-22 03:12] sandeep2242 commented on #3839
Any suggestions?

[2017-05-22 03:15] flovilmart commented on #3839
Not really, besides that you know where to look at. Also I would recommend you don't store your files in mongodb / GridStore (the default adapter) as it scales badly.

[2017-05-22 03:16] #3839 closed

[2017-05-22 08:05] Ghostw4lk opened #3841 "[Live Query] Subscribe to specific events?"
Hey,

i have a question to subscribe only specific events [create, update...] with live query client.

For example, i only want get ParseObjects which are triggered by the CREATE-Event.
If i update an object on the server, the UPDATE-Event will be triggered.

My question is, is it possible to subscribe only for e.g. CREATE-Events?
Because all other events are not needed in my case and produce unne

[2017-05-22 08:27] riccardoch opened #3842 "Parse Server Crash when iOS push certificate has expired"
**Issue Description**
My development push service certificate has just been expired and Parse Server crashes every time a push is sent.

Parse Server version: 2.4.0
Node version: 6.10.3
Mongo version: 3.2.13

Exception:
[code]

[2017-05-22 13:13] themoonlitknight commented on #2660
Please can you estimate a date for the fix? I need to evaluate if I have to find a workaround. Thank you very much!

[2017-05-22 14:06] Vetnametz commented on #3023
have the same issue
I am creating pdf file on server side and I want transfer it to frontend but get same behavior

[2017-05-22 14:21] flovilmart commented on #3842
Just update your certificate.

Closing as this behavior is documented on the apn package.

[2017-05-22 14:21] #3842 closed

[2017-05-22 14:23] riccardoch commented on #3842
I know, but I think is not a good solution leaving Parse Server crashing when the certificate has been expired

[2017-05-22 15:02] flovilmart commented on #3842
It's also a duplicate of https://github.com/parse-community/parse-server/issues/3575

In any case, this is not handled in parse-serve but in https://github.com/parse-server-modules/parse-server-push-adapter

[2017-05-22 15:15] flovilmart commented on #3023
The result of a cloud function is not supposed to be a buffer but text or a plain JSON object. You should unpack the buffer and send it as a text response, or use the text property that is returned.

[2017-05-22 15:15] #3023 closed

[2017-05-22 15:49] ArKam commented on #514
Hi @flovilmart, nice to read a response on this topic.
Indeed, my question was improperly asked.

I would rather look at the following points:
Does @nkranes is using a mongoDB as the backend for both Files and Objects storage?
Does @nkranes requesting the File API or the Database API?

I am asking that to be able to know what is the scope of the fix and what endpoint should I inspect and fix if ne

[2017-05-22 16:24] SebC99 opened #3844 "Include user objectid in push payload"
### Issue Description

When we use a Query with multiple results to send a push notification to multiple installations/users it would be very useful to include the user objectId by default in the notification payload.
We can do it ourself for notifications which are sent one-by-one (user per user), but it's not possible to add this field when a notification is sent to multiple users with only one

[2017-05-22 16:34] #3835 closed

[2017-05-22 16:40] flovilmart commented on #3844
The installation don't hold a user by default, many developers may implement it differently, perhaps even without a user. Or keep it a a list, or even a relation. I'm not sure how the general case would work. You can probably do it in a custom push adapter, as the full installation object is passed for sending.

I can see easily that you can wrap parse-server-push-adapter into a custom module and

[2017-05-22 16:40] #3844 closed

[2017-05-22 16:44] SebC99 commented on #3844
Great idea @flovilmart! Thanks a lot for the feedback

[2017-05-22 16:51] flovilmart commented on #3844
No problem! That should be pretty easy to override and give you the full flexibility! Which is better than modifying parse-server for each particular use case! Good luck!

[2017-05-22 17:18] andfk commented on #3841
@Ghostw4lk did you checked [this](https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification#create-event)? maybe you get an idea

[2017-05-22 17:36] prempro commented on #3654
Looks like Parse server wants deviceToken even for FCM messaging. Once you confirm you can send notification to android using Firebase console, you can use [**this**](https://stackoverflow.com/questions/33293284/parse-error-for-updating-devicetoken-in-installation-table/44118901#44118901) trick to update device token.

[2017-05-22 17:42] Ghostw4lk commented on #3841
@andfk I checked the protocol to work with events, but my problem is, that I only want to subscribe to a single event.
For example: If I listen on a class called e.g. "Posts", I only want to get CREATE events, but the server sends also UPDATE, DELETE... events, if the ParseQuery matches. @flovilmart said that parse server currently does not support this feature.

[2017-05-22 17:45] andfk commented on #3841
@Ghostw4lk and `query.subscribe().on('create', (object) => {  console.log(object)  })` is not working in your case?

[2017-05-22 17:48] flovilmart commented on #3841
There is not way at the moment to subscribe to a subset of events.

[2017-05-22 17:48] flovilmart commented on #3841
But yes, filtering in the client is supported!

[2017-05-22 18:15] zack1991 opened #3846 "How to push JSON Object in Array field of parse server"
Hi, i am trying to push or append the json object in my array field of collection but i am getting this error "error: Error generating response. ParseError { code: 101, message: 'Object not found.' } code=101, message=Object not found.". I tried add(), addUnique() and set() all these methods but get the same result.

I am sharing my cloud code.
Parse Server - 2.3.8
Nodejs - 6.10.2 Mongodb - 3.4.

[2017-05-22 18:27] Ghostw4lk commented on #3841
Yes, thats the point. I only want so subscribe to e.g. CREATE-Events.
@andfk It works for me.
Filtering can be done by subscription handling, but produces unnecessary traffic for events.

[2017-05-22 18:35] flovilmart commented on #3846
object not found probably means that you can't access that object for write because of the ACL. Use either {useMasterKey: true} on save or the user's sessionToken.

[2017-05-22 18:51] zack1991 commented on #3846
Hi Flovilmart, thank you for your reply. I am calling this method after succesfully login from parse. I want to apply ACL on this Object because it contains secure data.

I am sharing my current code in which gameUser.save() is working fine but offer.save() is not.
`collectOffer: function (inputData, callback) {
        var Offer = new Parse.Query(Parse.Object.extend(GameConstants.OFFER));

[2017-05-22 19:03] flovilmart commented on #3846
try:

[code]

[2017-05-22 19:04] mr3h4n opened #3847 "detect online and Offline Status of user and notifiy other users in Chat Application"
detect online and Offline Status of user and notify other users whenever status of user changes.
I am developing Chat Application for Android. i couldn't understand how to implement this feature.
i will be really thankful for any kind of favor. I am using LiveQuery for push notifications.

[2017-05-22 19:08] mr3h4n opened #3848 "how to configure Separate LiveQuery Server"
how to setup liveQuery server separate from ParseServer. so i can handle more number of users for liveQuery notifications.
currently i m using LiveQuery server in same process after configuring in index.js file of ParseServer.
I will be really thankful to you for any kind of favor. thanks

[2017-05-22 19:15] Ghostw4lk commented on #3847
This is not an issue of parse-server, but I have implemented the same case in my case.

Add a column in _User class of type boolean called "isOnline".
Users set them selve online/offline and LiveQuery detects changes.
Additional you can add a column "lastSeen" of type date in _User class, to
check the last activity. If users offline than show the "lastSeen" value.

Hope that helps.

[2017-05-22 19:17] natanrolnik commented on #3847
Please ask questions of this type in Stack Overflow. We try to use GitHub issues to track bugs.

[2017-05-22 19:17] #3847 closed

[2017-05-22 19:21] zack1991 commented on #3846
I got the error, the error was with my "_id". My "_id" is in integer format and when fetching data from collection it converts my integer id to string format. When try to call save method then the id does not match in the collection, thats why getting that issue.

Can you please help me why parse convert my integer id to string when fetching data.

[2017-05-22 19:36] adambarghouthi commented on #3729
@flovilmart
Calling Parse.Push.send returns success all the time, but in Parse Dashboard the status for the specific mass push is FAILED. So I'm not sure, this has been going on since end of March. Any big events happened at end of March?

[2017-05-22 19:45] flovilmart commented on #3729
Can you try to use 2.4.1, we probably fixes that particular issue.

[2017-05-22 19:48] flovilmart commented on #3846
As this is a code related issue, and not an issue with parse-server itself, you should probably as over on stackoverflow. I don't see any _id in your code, and it seems that you have many issues, that don't point to a parse-server specific error. There's no reason why a column would change type, unless your ID column is defined as a string.

[2017-05-22 19:48] #3846 closed

[2017-05-22 19:49] flovilmart commented on #3848
Have you (at least) visited the docs? http://docs.parseplatform.org/parse-server/guide/#live-queries

[2017-05-22 19:49] #3848 closed

[2017-05-22 20:01] flovilmart commented on #3729
@adambarghouthi we refactored completely the push infrastructure for better handling of large pushes, if you can provide the logs when sending push with VERBOSE=1 that would be really helpful to troubleshoot!

[2017-05-22 20:12] davidrichard23 opened #3849 "Token undefined in email verification link when using verificationEmailRequest endpoint"
When I create an account there are no problems with the verification link but when I try to resend it using the verificationEmailRequest endpoint, I get `token=undefined` in the link which sends me to the `Invalid Verification Link` page

[2017-05-22 20:27] adambarghouthi commented on #3729
@flovilmart will do, I'm just not familiar where in the code to enable verbosity. Can you guide me please?

[2017-05-22 20:30] flovilmart commented on #3729
The simplest is to set the VERBOSE environment variable to 1 (VERBOSE=1 ...)

OR

you can pass the `verbose: true` in your parse server init code:

[code]

[2017-05-22 21:45] flovilmart commented on #3849
Can you fill the issue template and re-open the issue please?

[2017-05-22 21:45] #3849 closed

[2017-05-22 22:07] adambarghouthi commented on #3729
@flovilmart I got this when sending a push via dashboard:

[code]

[2017-05-22 22:08] jrmeurer commented on #3556
@masonlee -- Try this:

I put the following code in my index.js file, before spinning up the ParseServer.

`var $parse_defaults = require('./node_modules/parse-server/lib/defaults.js');
$parse_defaults.default.userSensitiveFields = [];`

[2017-05-22 22:15] flovilmart commented on #3729
yep looks like it!

[2017-05-22 22:36] adambarghouthi commented on #3729
@flovilmart Thank you! Managed to scale it up to fix that :)

[2017-05-22 22:38] flovilmart commented on #3729
Good news! So there's no issue on your side?

[2017-05-23 00:05] adambarghouthi commented on #3729
@flovilmart Nope everything's smooth

[2017-05-23 00:20] flovilmart commented on #3729
So I can close that issue!

[2017-05-23 00:20] #3729 closed

[2017-05-23 00:35] davidrichard23 opened #3850 "Email verification does not trigger LiveQuery event"
### Issue Description

I'm trying to lock users out until they verify their email. I would like to use LiveQuery so I can give user access to the rest of the app once they verify. The problem is that the email verification link does not trigger the LiveQuery update(or enter) event. It also doesn't update the `updatedAt` key on the user object.

If I use the Parse Dashboard to manually change the `

[2017-05-23 00:43] flovilmart commented on #3850
I have a pretty good idea of why this happen, do you want to work on a fix? I could assist you along the way!

[2017-05-23 01:11] masonlee commented on #3556
@jrmeurer Thank you for this tip!

[2017-05-23 01:12] davidrichard23 commented on #3850
It's a little intimidating, but I'm looking to become more involved. I'll give it a shot!

[2017-05-23 01:14] flovilmart commented on #3850
Actually I managed to fix it, that was pretty trivial, with knowledge of the codebase.

[2017-05-23 01:28] davidrichard23 commented on #3850
Awesome, thanks!

[2017-05-23 06:59] youngerong opened #3854 "Live query for iOS is not work fine"
I tried the live query demo for iOS, in the main.swift, both subscribeToUpdates(created event) and subscribeToModify(updated event),  but only the subscribeToModify is valid, so I delete subscribeToModify, then the subscribeToUpdates become valid. So I guess only the latest subscribe function is valid.
But I tried the live query for js, both create and modify event work fine.

[2017-05-23 07:13] natanrolnik commented on #3854
Please open the issue on https://github.com/parse-community/ParseLiveQuery-iOS-OSX

[2017-05-23 07:13] #3854 closed

[2017-05-23 07:14] aontas opened #3855 "Making an incremental push and querying the badge number can result in incorrect installations"
### Issue Description

When making a push, the installation query `{ 'badge': { '$lt': 2 } }` should always return the same installations, regardless of whether the push is set to increment the badge value or not.

Using $gt seems to work fine.

### Steps to reproduce

Add the following test to spec/PushController.spec.js
It should pass, but does not.

[code]

### Environment Setup

- **Server**

[2017-05-23 07:17] natanrolnik commented on #3832
We try to use GitHub issues solely for bug reports. Please use StackOverflow for help questions, and use the correct tags ([parse-server](https://stackoverflow.com/questions/tagged/parse-server), for example).
You can post the link to the question here as well.

[2017-05-23 07:17] #3832 closed

[2017-05-23 07:25] natanrolnik commented on #3829
I've added the 3 links to the [Wiki](https://github.com/parse-community/parse-server/wiki), in the tutorials section.

Toda, @ranhsd 😉

[2017-05-23 07:25] #3829 closed

[2017-05-23 07:50] aontas commented on #3855
The only way I can think of to "fix" it is to increment it after the push is sent for that device, though this still will exhibit race condition behaviour when making multiple pushes that increment the badge number.

i.e., push A sets all badge counts to 2 for badges < 2. push B sets all badge counts to 2 for badges < 2.

Currently, neither A nor B will push to every installation < 2 as the badges

[2017-05-23 09:21] ranhsd commented on #3829
Hi @natanrolnik.
Thanks for this but the name should be from zero to hero and not from Hero to Zero :)

Anyway, I am about to write part 3 and 4 and I will let you know as soon as it will be ready ...

Ran.

[2017-05-23 09:43] andfk opened #3856 "[Live Query] parse-server crashes with Parse.GeoPoint"
### Issue Description
I created a query to return results around a GeoPoint and it works perfect except that live queries crashes with the same query when a new client connects to it.

### Steps to reproduce
[code]
#### Expected Results

Multiple clients suscribes to the same query without issues

#### Actual Outcome

Server crashes when more than one client query Is matched and subscribed. This h

[2017-05-23 10:05] natanrolnik commented on #3829
Oops, sorry, haha!

Fixed.

Sure, ping me here when you do so and I'll update it.

[2017-05-23 10:14] ranhsd commented on #3829
Thanks a lot. Good to see that you are from Israel as well ! ;)

[2017-05-23 11:26] natanrolnik commented on #3829
🇮🇱

[2017-05-23 12:31] Gitzoz opened #3857 "Missing mount point in "invalid_verification_link.html""
Hello everyone,
on the invalid_verification_link page the button to resend verification email
has a wrong url. It gets the appId from the given url but not the mount point.

It has: https://xxxx/app/{appId}/resend_verification_email
it should have: https://xxxx/{mountpoint}/app/{appId}/resend_verification_email

In my ParseServer config I have set the publicServerURL correct. Everything else works

[2017-05-23 15:10] sandeep2242 commented on #3839
@flovilmart I solved my mongo Db issue, But Now I am facing another Parse issue. Following are My android logs
`com.parse.ParseRequest$ParseRequestException: i/o failure`

[2017-05-23 17:52] farshadj commented on #1341
Nice. Changing http://localhost:1337/parse to http://localhost/parse did the trick.

[2017-05-23 20:40] Samigos opened #3858 "How to deploy a scalable Parse LiveQuery Server?"
Recently, we started developing a chat feature for our app and since we are already using Parse SDK/Server, we decided to go with the Parse LiveQuery...

The thing is, there's no sufficient enough documentation on how to deploy a Parse LiveQuery server, on a separate one! We saw this: http://docs.parseplatform.org/parse-server/guide/#scalability but we didn't really figured out on how to proceed..

[2017-05-24 00:06] #3823 closed

[2017-05-24 04:37] sandeep2242 commented on #3839
**Solved** Internet speed was too slow

[2017-05-24 10:54] benishak commented on #3858
I suggest using Apache Kafka

[2017-05-24 11:15] benishak opened #3859 "[PROPOSAL/DISCUSSION] AWS DynamoDB support"
I think DynamoDB is a good integration with Parae, for those who don't want to manage their own database.

I will start writing an Adapter for this.

But which is better, create a different module called parse-server-dynamodb-adapter or put it in this repo?

[2017-05-24 11:16] natanrolnik commented on #3693
I'm closing this issue for now, as there was no reply for more than 2 weeks.

Please let us know if this is happening in the latest version (2.4.1) of parse-server. If so, provide more information - like how initialize your server, server logs, and we will reopen.

[2017-05-24 11:16] #3693 closed

[2017-05-24 11:33] natanrolnik commented on #2751
@polo2244 I'm using MongoDB Atlas also and the latest version of parse-server works fine (way older version didn't).
I had the exact same error before (`MongoError: no valid replicaset members found`) updating parse-server

[2017-05-24 12:23] flovilmart commented on #3859
That's a great idea, the biggest issue would be testing the adapter as we don't have a specific spec for the dB adapters, but we run the full test suite against them. Ideally, we'd need a single set of specs, that fully covers the database adapters. In the meantime, I believe you can start in that repo, and we'll see how we go from there.

Once the database adapter specs are properly written, I'd

[2017-05-24 13:19] brianyyz commented on #3750
Bump.

[2017-05-24 16:12] grantespo commented on #136
The "Could not store file." error is occuring for me too out of nowhere after it was working perfectly for months. I'm not sure what is causing this. How would I know if I needed to update my storage?

[2017-05-24 17:16] bmueller opened #3860 ""Unauthorized" error with push notifications / cloud code"
### Issue Description

I haven't touched my Parse server in almost a year, but today I had to upload new push notification certificates to keep everything running. I added the new p12 certificates (without changing anything else), pushed the changes to Heroku, and immediately started getting an "[Error]: unauthorized (Code: 0, Version: 1.13.0)" message in my console. In my Heroku logs, I was getti

[2017-05-24 17:46] bmueller commented on #3860
Changing the 'parse-server' version in package.json to '2.2.16' from '~2.2.16' appears to have fixed the problem.

[2017-05-24 17:46] #3860 closed

[2017-05-24 17:48] natanrolnik commented on #3860
I recommend you doing the following:

1 - Separate your `data` into an object, will make things more readable.
[code]

2 - Then, instead of having success and error as functions, use the promise syntax:

[code]

[2017-05-24 17:48] natanrolnik commented on #3860
Regarding version - the latest is 2.4.1.

[2017-05-25 09:10] benishak commented on #3859
Also it is even possible to migrate data from MongoDB to DynamoDB using AWS Database Migration Service.AWS claims Zero Down Time

https://aws.amazon.com/about-aws/whats-new/2017/04/aws-database-migration-service-adds-support-for-mongodb-and-amazon-dynamodb/

[2017-05-25 13:39] myusuf3 commented on #3562
@flovilmart  I am in the state as @cinder92 I recently added android and the issue of thing being stuck in send state for several users.

It was working fine for a couple of days then broke for a certain chunk of users, possibly users who also use android as well. Ideas on what the issue is?

my configuration was working now it just seems to have stopped.

[2017-05-26 12:10] ronaldgalangy commented on #1686
Hi to all! Any update or support about `include` in LiveQuery?

[2017-05-26 20:30] ColossalChris commented on #3422
How do you compose your reference to the heroku server?

[2017-05-27 13:40] majidhassan commented on #2844
I'm getting this same error uploading a 1.8 MB file while having (the default) 20 MB file size limit. Any ideas, why I'm getting this?

[2017-05-27 14:59] majidhassan commented on #2844
My bad, it turned out it was the NGINX upload limit, which was defaulting to 1mb.

[2017-05-27 16:30] ghugues opened #3867 "Unwanted authData validation"
### Issue Description

Parse Server is validating authData whenever the user object is updated. In many cases, this is unwanted and makes a perfectly good request fail.
I only tested this with Facebook, but since the handling of authData seems to be build in a rather generic way, I expect this issue to arise with other auth providers as well.

### Steps to reproduce

- Login with Facebook. It will

[2017-05-27 18:04] flovilmart commented on #3867
This should have been addressed by this: https://github.com/parse-community/parse-server/pull/3783

[2017-05-27 18:08] ghugues commented on #3867
I've been aware of this issue for a while, and I expected #3783, which is why I made the update and retested. As far as I know this hasn't solved the issue.

From what I understand from your commit, you've juste moved the issue, because the `this.handleAuthDataValidation(authData)` at the end of `RestWrite.prototype.handleAuthData` is still executed.

[2017-05-27 18:12] flovilmart commented on #3867
Yeah, but the validation should only be executed if the authData has changed, providing the same auth token as the one that created the user (or the last valid update). I can add an additional test with your PUT request to try to reproduce your STR. In the meantime, could you provide the server logs please? (User creation/link with Facebook as well as the failing PUT call?)

[2017-05-27 18:41] ghugues commented on #3867
Here is the request:
[code]

As far as I understand, the code that checks whether the authData are identical is never executed. Here is the stack trace that I have after some quick printing:
[code]

[2017-05-27 18:51] ghugues commented on #3867
Just tried without the twitter auth just in case, same problem. Just put a print in `validateAuthData` of `Adapters/Auth/facebook.js`

[2017-05-27 19:23] flovilmart commented on #3867
Right I get it now. The skip is on login only and not in the case of the PUT. Are you willing to provide a fix for it? That should not be too hard

[2017-05-27 19:30] ghugues commented on #3867
Well I would definitely like to contribute, but I don't think I can... I'm not a Javascript developer. I can read and understand the general idea, but I don't think I can fix it.

[2017-05-27 19:48] flovilmart commented on #3867
You actually managed to find the problem :) with a few trial an error, I'm sure you can manage it :) worst case, I can do it in the next days, but that's a good opportunity to learn ;)

[2017-05-27 20:07] ghugues commented on #3867
I still don't understand how you differentiate the login from the PUT request. Is this just the `this.query` check ? Also I'm not sure checking for *identical* authData here will solve the entire problem.

Let's say you have 2 devices connected with the same Facebook account, each with a different token (but the same Facebook id). One of the device will not have the right token and it will generat

[2017-05-27 21:40] gate3 opened #3871 "How to store parse object with parse user locally"
Hi, I would like to know if its possible to store an object from another class that isn't the _User class locally along with the _User class. If It's not possible, what recommendations are there for the type of local DB to use to store parse server objects? Thank you

[2017-05-28 06:59] natanrolnik commented on #3871
Hi @gate3

I'm closing this issue because we use GitHub issues only for bug reporting. Questions like this are more suitable for StackOverflow. Please ask there and post the link here.

Additionally, I recommend you to read the docs. Check the following sections:

* Relational data: [iOS](http://docs.parseplatform.org/ios/guide/#relational-data) & [Android](http://docs.parseplatform.org/android/gu

[2017-05-28 06:59] #3871 closed

[2017-05-28 14:27] shi1hh commented on #2238
china parse
`curl -X GET \
    -H "X-Bmob-Application-Id: Your Application ID" \
    -H "X-Bmob-REST-API-Key: Your REST API Key" \
    -G \
    --data-urlencode 'groupby=score' \
    https://api.bmob.cn/1/classes/GameScore
[
    {
        "score": 78
    },
    {
        "score": 89
    }
]
`

`curl -X GET \
    -H "X-Bmob-Application-Id: Your Application ID" \
    -H "X-Bmob-REST-API-Key: Your RE

[2017-05-28 16:41] #3285 closed

[2017-05-28 21:50] #3867 closed

[2017-05-29 00:34] #3850 closed

[2017-05-29 03:15] flovilmart commented on #3867
That would imply having that logic in all auth adapters, making some more vulnerable than others. In general, the token should be valid when updated to the database. With the latest fix, this should cover that properly.

Starting now, and on iOS, if you send a valid auth token, this will update the DB. If you send an invalid auth token and that token is still the same as the previous one, the requ

[2017-05-29 10:20] ghugues commented on #3867
Thanks a lot for the fix! There are still some corner cases that will not work, but as you say, this will cover the main case where the token sent is the same as the one in database.

I have a question though: What happens if you try to login with stale authData (invalid token, but same as the one in the database)? I would expect the login to fail in this case for security reasons (I haven't teste

[2017-05-29 10:52] rahulfreecodecamp opened #3880 "Unable to retrieve and upload files (images) from parse-server hosted on amazon beanstalk"
From last 15 hrs I am not able to retrieve and upload the files, I my database is on mlab.com  Everything else is working fine. Please help me to resolve this issue.

[2017-05-29 11:13] flovilmart commented on #3867
This should be supported, and was actually the 1st supported case.

[2017-05-29 11:17] flovilmart commented on #3880
You may have exceeded the max size of your database if you're using the Default storage adapter.

[2017-05-29 11:22] stage88 opened #3881 "PROPOSAL: Remove log entry 'Trying to schedule a push while server is not configured.'"
Hi,

This would be a nice to have.

Is it possible not to trigger logging of 'Trying to schedule a push while server is not configured.'? It is  currently logged as a warning in StatusHandler.js because the push_time property is set, even though I have not set this property. It looks like logging of this message does not provide any value at the moment given that community Parse does not support s

[2017-05-29 11:25] Samigos commented on #3103
Hi everyone!

I'm in the same place as you were! I have a Parse Server where I run my app and store my db and I have another one for LiveQuery...

That's where I'm stuck... I've seen Parse's documentation, but it's not much explanatory!
Can someone please tell me why do I need redis and how can I use it?

[2017-05-29 11:39] rahulfreecodecamp commented on #3880
thanks for the reply. I'm using default storage adapter, now I have to increase my mlab.com db space right??

[2017-05-29 11:42] Samigos commented on #2616
Hello!

I'm in the same place as you were! I have a Parse Server where I run my app and store my db and I have another one for LiveQuery...

That's where I'm stuck... I've seen Parse's documentation, but it's not much explanatory!
Can someone please tell me why do I need redis and how can I use it?

[2017-05-29 11:55] natanrolnik commented on #3880
Yes. Because of this (and a few other reasons), you should use an external storage, like Amazon S3 or Google Cloud Storage.

[2017-05-29 11:55] #3880 closed

[2017-05-29 12:15] flovilmart commented on #3103
@Samigos what's not clear about the redis usage? Consider opening an issue on the docs repository if the notes about scaling LiveQuery are not clear.

[2017-05-29 12:19] ghugues commented on #3867
Yes, I just tested. I'm actually saying it shouldn't work.
Both in 2.4.1 and 2.4.2, if you make the following request (aka login) :

    curl -sv -H "X-Parse-Application-Id:********" -H "Content-Type: application/json" -d @Desktop/request.json -X POST https://path/to/api/users | json

Where `request.json` is
[code]

Then it will always succeed if you pass the same authData as the one in database,

[2017-05-29 12:32] ghugues commented on #3867
Just saw on your original pull request (#3783) that this was by design. Don't really understand why though.

[2017-05-29 12:56] Samigos commented on #3103
It says how to connect to a redis IP, but it doesn't clarify what we need to do redis-side... (I don't mean the exact steps, but what needs to be done)

For people like me, that hadn't heard redis before, it's a bit tough!

[2017-05-29 13:20] flovilmart commented on #3867
That was probably overlooked at the 1st PR, with the intended behaviour on PUT and not on login.

[2017-05-29 13:26] flovilmart commented on #3103
There's nothing to do redis-side, it's a Key-Value store, just follow any documentation about redis to start it up

[2017-05-29 15:25] Samigos commented on #3103
That's great! So if I got it right, I need to deploy somewhere the redis-server, correct?
If so, is it a good idea to install it on the server where my Parse Server is deployed, or should I do it on a separate one?

Thanks in advance!
PS: Sorry if here's not the place to ask these questions, but just now things started clearing up in my head, about how to proceed.

[2017-05-29 18:52] brendankopp commented on #910
I realize this was closed, but I came across the same issue and can confirm that removing null solved the problem.

If the class has a restricted CLP in place this works:

object.destroy({useMasterKey: true});

but this does not:

retrievedNewsObject.destroy({null, useMasterKey: true});

[2017-05-29 20:16] JulienLevallois commented on #3743
Mmm but There is no function with IOS SDK for example to connect with Insta?
Like this :
![image](https://cloud.githubusercontent.com/assets/5727223/26561159/20a4af9c-448a-11e7-8ca4-d917c26d0afc.png)

[2017-05-30 00:06] #2660 closed

[2017-05-30 00:29] QB3L commented on #2855
@acinader this is a pretty old issue but the logLevel at the top level of the config is good and important enough information to put on the front page

[2017-05-30 00:37] flovilmart commented on #2855
You can pass it in the constructor: https://github.com/parse-community/parse-server/blob/master/src/ParseServer.js#L103

[2017-05-30 00:45] QB3L commented on #2855
Was thinking about putting it on README I meant. Sorry for the ambiguity.

[2017-05-30 01:06] flovilmart commented on #2855
There's nothing that prevents you from doing it

[2017-05-30 08:14] ogonzalezadell commented on #3654
Hi I know this issue is closed but I'm experiencing the same thing as @dafinley, and specifically i'm in the same situation as @JoeyBodnar, as we are using RESTful Services  and I can not find a solution.

`verbose: sending push to 2 installations
verb parse-server-push-adapter GCM sending to 1 device
Good Push
{ result: true }
verb parse-server-push-adapter GCM GCM Response: {
verb parse-server-p

[2017-05-30 16:15] p4ever opened #3884 "Live queries create event triggers only few times"
I have a strange problem with Parse: I'm using it in clustering with HTTPS protocol applied with nginx, if I use the not clustered version  all the events from live queries are fired, but from the clustered version only a few times the event is fired, here is my index.js for the server
[code]

and that's the bootstrap

`{apps:[
{
    name: 'wildsociety',
    script: './wildsociety/index.js',
    i

[2017-05-30 17:30] mzgnr commented on #3743
@JulienLevallois i'm also looking for a way for instagram login. Did you find a way to accomplish that ?

[2017-05-30 17:42] flovilmart commented on #3743
No but you can create one yourself, look into the facebookUtils code

[2017-05-30 17:44] davimacedo commented on #3799
@mm11715 It is not possible to do this in none of the SDKs. You can't have two constraints of the same type in the same key. Take a look here https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseQuery.js#L792 and here https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseQuery.js#L224. My suggestion in order to achieve the same result is something like this:
[code]

[2017-05-30 17:45] Samigos commented on #3103
Sorry if here's not the place to ask these questions, but just now things started clearing up in my head, about how to proceed.

[2017-05-30 17:46] flovilmart commented on #3799
Alright! Thanks @davimacedo !

[2017-05-30 17:46] #3799 closed

[2017-05-30 18:26] Samigos commented on #3858
@benishak  I read again the Parse documentation and saw that they suggest redis!

So if I got it right, in order to make the Parse LiveQuery servers scalable, I need to deploy somewhere a redis-server, correct? If so, is it a good idea to install it on the server where my Parse Server is deployed, or should I do it on a separate one?

[2017-05-30 21:44] greenkeeper[bot] opened #3886 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## Version **2.34.0** of [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/parse-community/parse-server/compare/greenkeeper%2Feslint-plugin-flowtype-2.34.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-p

[2017-05-31 02:44] davidrichard23 opened #3887 "Best way to add authentication to file retrieval?"
I'm creating an app that requires HIPAA compliance. My issue is that while the Parse Objects containing references to the images are secured by their ACLs, the images can be accessed by anyone if the filename is known/guessed(very unlikely but possible).

I understand that for most applications this is secure enough, but for HIPAA compliance, I think those images need to be only accessible by auth

[2017-05-31 03:58] dplewis commented on #3887
+1 I also need this for HIPPA Compliance.

[2017-05-31 04:49] anthonylai opened #3888 "Twitter auth documentation/help"
### Issue Description

Documentation to implement authentication using oauth providers for web seems to be missing.

### Steps to reproduce

I have been trying to add twitter login for my website (not mobile).

Been looking hard at wiki, stack overflow, and been trying to understand how to get oauth working, but without any documentation and pointers, it is a bit challenging to implement it.

####

[2017-05-31 07:20] shi1hh opened #3890 "cant save file.url"
when i update
[code]
it allways update the filename without url.
i found parse-server not save the url....why?
so. i can create object field for save this or any idea?

[2017-05-31 07:30] AmrKafina opened #3891 "Passing {useMasterKey: true} to REST api requests in cloud code"
I'm writing a cloud code function that calls the /schemas endpoint while processing requests. Since this function requires the masterKey, I thought I'd use Parse.Cloud.httpRequest to make the request, but HTTPOptions doesn't seem to have a useMasterKey property.

How would I go about doing something like this? Hard coding the masterKey in the cloud code function's request headers seems like a bad

[2017-05-31 15:48] faizsameerahmed96 opened #3893 "Load Testing Parse Server"
Since Parse Server has been out for a few months now, I am planning to run a load test on Parse Server (on AWS platform) to get an estimate for the cost/request for various AWS instances. Initially I will be using the MongoDB database on the same server but later on we can try it for a seperate configuration. I need a few suggestions on the following:
1) What is the best way load test a server? I

[2017-06-01 16:31] SebC99 commented on #3747
Any news on this? It would be awesome! :)

[2017-06-01 17:15] coryshaw opened #3895 "Array of Pointers return full parse objects by default (without using include)"
### Issue Description

I have a column on the User table that is an Array. To that Array I've added some pointer objects. When I query the user table, the data that comes back from the Array of pointers is the full parse objects, not the pointers.

As I understand it, this should only happen if i use `include` as part of the query, which I am not.

### Steps to reproduce

1. Create a column of typ

[2017-06-01 17:18] benishak commented on #3893
you can try apache benchmarks (a.k.a. ab)
 https://www.cyberciti.biz/tips/howto-performance-benchmarks-a-web-server.html

[2017-06-01 17:22] benishak commented on #3858
I meant if you are really looking for a permanent scaleble solution  and you expect your app to grow significantly, you can try Apache Kafka by replacing LiveQuery completely. With Apache Kafka you can stream real time database changes, there is mongodb connector, It is open source and free and incredibly scaleble

[2017-06-01 17:26] benishak commented on #3858
Otherwise you can use Redis and deploy liveQuery on many independent instances/machines but use only one central Redis for all the instances, you can then run a load balancer infront of the instances @samigos

[2017-06-01 17:32] coryshaw commented on #3895
on second thought, this is a JS SDK issue, parse server returns the pointers correctly. Closing and opening an issue over there.

[2017-06-01 17:32] #3895 closed

[2017-06-01 18:35] AndrewLane opened #3896 "If I know your session's objectId, I can delete it without any auth"
### Issue Description

Looks like the documentation from here:

http://docs.parseplatform.org/rest/guide/#deleting-sessions

That says "You can only delete other sessions that belong to the same user." is false.  If a session object id is leaked, it can be deleted with a request that only has the X-Parse-Application-Id header.

### Steps to reproduce

1) Create an anonymous user with a request lik

[2017-06-01 19:21] #2482 closed

[2017-06-01 19:21] #2161 closed

[2017-06-01 19:21] #3153 closed

[2017-06-01 19:51] Samigos commented on #3858
@benishak  So I need a load balancer as well? Doesn't redis cover that?

[2017-06-02 01:13] ecdpalma opened #3898 "Email format validation"
### Issue Description

Server is allowing user sign up with invalid formatted email.

### Steps to reproduce

Try to sign up with "user@example com" (missing last dot)

#### Expected Results

Invalid email error.

#### Actual Outcome

The user is created with the invalid email.

### Environment Setup

- **Server**
  - parse-server version: 2.4.0

[2017-06-02 06:50] finetype commented on #917
is this possible through the REST api?

[2017-06-02 07:12] monajafi commented on #643
I've used [fs-store-adapter](https://github.com/samuelantonioli/parse-server-fs-store-adapter) to save files on disk. please provide sample cloud code to delete files from disk after deleting parse object too

[2017-06-02 09:43] monajafi commented on #643
here is the fsadapter cloud code:
[code]

[2017-06-02 11:51] flovilmart commented on #917
Yes, with the limit parameter

[2017-06-02 13:24] kukkadapukarhtik commented on #973
TwitterLoginWithParseExample[2581:116523] Error: Error Domain=com.parse.networking.error Code=-1011 "Expected status code in (200-299), got 410" UserInfo={NSLocalizedDescription=Expected status code in (200-299), got 410, NSErrorFailingURLKey=https://api.parse.com/2/user_signup_or_login} (Code: 100, Version: 1.2.19)

[2017-06-02 13:25] kukkadapukarhtik opened #3900 "twitter not logged in with parse"
when ever try to login with twitter in parse the below error occuring

TwitterLoginWithParseExample[2581:116523] Error: Error Domain=com.parse.networking.error Code=-1011 "Expected status code in (200-299), got 410" UserInfo={NSLocalizedDescription=Expected status code in (200-299), got 410, NSErrorFailingURLKey=https://api.parse.com/2/user_signup_or_login} (Code: 100, Version: 1.2.19)

[2017-06-02 13:33] flovilmart commented on #3900
Now sure how you try to login but the URL is wrong (https://api.parse.com/2/user_signup_or_login)

[2017-06-02 13:33] #3900 closed

[2017-06-02 18:11] pjbrigden commented on #3289
Hey guys, do you think this issue will be resolved in the next Parse Server release? Keep up the good work!

[2017-06-03 00:05] dplewis commented on #3747
@flovilmart I can do a PR for this as Postgres also supports full text.

1. Should the tests go in ParseQuery.spec?
2. What would we call this query.fullTextSearch()?

[2017-06-03 00:08] flovilmart commented on #3747
1. YES! Amazing
2. Ok! That's fine for me

For the REST format, let's stick with something close to the mongo query format (as the GeoPoints do)

[2017-06-03 00:11] dplewis commented on #3747
Should I include all endpoints?
[code]

[2017-06-03 00:20] flovilmart commented on #3747
The REST format ultimately should support all payloads, you can put validation on all at first, and write failing tests that are xit'ed this way we know this support is ongoing if you prefer spliting the work in multiple PR

[2017-06-03 00:27] seriph commented on #3747
How does postgres apply?

On Jun 2, 2017 6:20 PM, "Florent Vilmart" <notifications@github.com> wrote:

[2017-06-03 00:34] dplewis commented on #3747
Postgres is another NOSQL database Parse supports like Mongo.
We try to have as much functionality supported by both databases.

https://www.postgresql.org/docs/9.5/static/textsearch.html

[2017-06-03 02:30] dplewis commented on #3747
@flovilmart Full Text Support requires an index. How do I test for an index calling REST?
[code]

[2017-06-03 06:10] seriph commented on #3747
Pull request submitted @flovilmart @hhanesand @SebC99

[2017-06-03 06:11] seriph commented on #3747
#3905

[2017-06-03 10:46] kitaecc opened #3906 "LiveQuery not sending events"
Aloha!
i use LiveQuery in Parse JS SDK v1.9.2
LiveQueryServer running, but does not trigger LiveQuery event.
event 'create', 'update' and other does't work
example code
[code]

Log on server
[code]
server index.js setting
[code]

**Environment Setup**
**Server**
parse-server version: 2.4.2

**Database**
MongoDB version: 3.2.13

[2017-06-03 13:33] jenshandersson commented on #1859
Is there now a way to access the mongo connection from Cloud Code? Right now I need to open a new connection and closing it on every requests when doing a native query. How would I go about to keep a persistent mongo connection in Cloud Code?

[2017-06-03 13:52] flovilmart commented on #1859
your cloud code is required only once, so you can easily maintain your connection.

[2017-06-03 19:48] natanrolnik commented on #3906
Please fill the issue template and we'll reopen

[2017-06-04 04:40] ranhsd commented on #3103
@Samigos - If you are planning to run it in production then the best will be to run it on a separate service. By service i refer to either: server, container, etc.

[2017-06-04 16:09] jenshandersson commented on #1859
Ah stupid me... Thanks for the help @flovilmart, works like a charm! :)

[2017-06-04 16:27] omairvaiyani commented on #3719
It appears that the ```choosePassword``` key is not actually utilised by parse-server:
https://github.com/parse-community/parse-server/search?utf8=%E2%9C%93&q=choosePassword&type=

It is actually using the key ```requestResetPasswordURL``` which has not been implemented in the ```customPages``` hash. Relatively quick fix I assume?

https://github.com/parse-community/parse-server/search?utf8=%E2%9C

[2017-06-04 17:04] flovilmart commented on #1859
Awesome!

[2017-06-04 19:39] ndominati-luna commented on #3746
Hi,

We testing something else to try to find a workaround to this issue.
On Android, we removed the call to logout. When we log a user out, we just store the fact that he is not logged in anymore. Then, on a new connection, we directly call the signup / login function.
This way, on Android it seems that we don't have the server crash anymore.

But on iOS, doing the same thing changed nothing.

Do

[2017-06-04 20:27] xhiza opened #3907 "Swift 3.0 Progress block is giving extra argument call:"
Hi,
Facing issue with creating progressBlock for both upload and download PFFile.

let str = "Working at Parse is great!"
let data = str.dataUsingEncoding(NSUTF8StringEncoding)
let file = PFFile(name:"resume.txt", data:data)
file.saveInBackgroundWithBlock({
  (succeeded: Bool, error: NSError?)  in
}, progressBlock: {  // =================> Extra argument call: ??????
  (percentDone: Int32)  in
})

[2017-06-04 20:42] flovilmart commented on #3746
I'll have a look before he end of he day, hopefully finding a fix, do you happen to have a server log of the error, or a clear STR so I don't spend hours reproducing ? That would really help.

[2017-06-05 05:49] danielchangsoojones commented on #985
When I was using Parse promises from an outside node.js file to my main.js Cloud file. I was running into a similar problem where Parse Objects were returning without a __type field like:

`ParseObject { _objCount: 4, className: 'Order', id: '0isM878h7U' }`

So, when I would received the result in my iOS application via a Cloud Code call, it wasn't understanding that my Parse Object was supposed t

[2017-06-05 12:01] samiq opened #3909 "Roadmap?"
Hi guys, we've been running on Parse for a good part of 3 years now and as we evaluate our ongoing infrastructure I wonder if there is any roadmap against which Parse is working on or is it in just pure maintenance mode nowadays?

[2017-06-05 12:09] natanrolnik commented on #3907
We use GitHub issues only for tracking bugs with Parse Server itself, not code questions, and much less for the SDKs.

Please ask a question in StackOverflow for code help.

[2017-06-05 12:09] #3907 closed

[2017-06-05 12:12] oallouch commented on #3909
Yeah. It's good to communicate from time to time and say where we're heading.
A blog post would be nice.

[2017-06-05 12:12] natanrolnik commented on #3893
I would recommend you to do a better research about Load Testing in general, this is not a question specific to Parse Server.

I personally like using [artillery.io](https://artillery.io) for a few tests, it might or might not be enough for what you need.

Please ask the question on StackOverflow.com or serverfault.com as it's more appropriate.

[2017-06-05 12:12] #3893 closed

[2017-06-05 12:25] flovilmart commented on #3909
@samiq thanks for the question. We're definitely not in maintenance mode, new features land with each release, and the client SDK's have trouble too keep up! For example, we're about to release polygonal geoqueries as well as full text search support.

We welcome ideas and contributions from users like you, and most definitely prioritize high value features that would help you be more efficient. D

[2017-06-05 13:37] flovilmart commented on #3896
Thanks for the report, do you want to provide a fix?