[2016-09-06 23:37] grd888 commented on #2661
Sorry about this. My bad. There was another class called User, conflicting with _User,  which should have been deleted a long time ago...

[2016-09-06 23:38] flovilmart commented on #2661
We may wanna improve the message as it's not obvious that Pointer is not Pointer :)

[2016-09-07 00:36] flovilmart commented on #1596
@Michael-Kr can you provide come code, examples so we can investigate your issue further?

[2016-09-07 00:43] flovilmart commented on #2503
I found the issue of the 'atom is undefined' and posting a fix for that. However it seems that the problem would lie in the URL encoding of your query.

[2016-09-07 00:51] flovilmart commented on #2503
@slickker I see there are some + chars (that denote a spacing in your URI component)

Can you try something like that:

[code]

[2016-09-07 03:58] maravilhosinga opened #2664 "Local data Store (is making app to don't callBack)"
Hi, i'm using Parse server and all is working fine except when i enable localdatastore, most

1. saveInBackroud stop working and also
2. SignUpInBackgroud is singin up a new user but, is not calling back, and it's being impossible to stop a progressDialog
3. Also not saving usersession on signup

       `Parse.Configuration config = new Parse.Configuration.Builder(this)
                .addNetwork

[2016-09-07 06:00] zingano commented on #2654
@flovilmart - yes, I do.

I'd like to return to one of my main points, which is how do I instrument parse server to discover what is slow, before I jump to fix something that may not be the cause at all? Please can you share how you do it, whether with New Relic or some other way.

[2016-09-07 06:46] batkov commented on #2542
Hi,
I'm working on "after login" issue in my proj, so I'm logging in few times in a minute.
I did login 5 times, than got 3-4 times error described here.
In few minutes everything started working again.

[2016-09-07 10:26] GuichiZhao commented on #2654
I deployed it to elastic beanstalk,and the parse server is much faster than parse.com constantly

[2016-09-07 10:29] zingano commented on #2654
@GuichiZhao what database are you using?

[2016-09-07 10:37] GuichiZhao commented on #2654
I followed this guide http://docs.aws.amazon.com/quickstart/latest/mongodb/step2a.html for mongo server,didn't check which engine it use, but not the RockDB as Parse recommend,I think it should be mmapv1 which is default

Using elastic beanstalk as application server.

Also,the two server are in same subnet i.e. mongodb://10.0.1.123
Maybe the traffic between database and application server slow yo

[2016-09-07 10:42] zingano commented on #2654
My database was set up through Heroku so much the same set up I think.

[2016-09-07 10:46] zingano commented on #2654
I've got AppDynamics running at last and am starting to get some profile data. What I can't understand is why AppDynamics shows a call trace that is e.g. 848ms but shows the whole execution time as 2166ms.

I found two cases of stringify being called in PromiseRouter even though the debug log would not be called - each of those took around 200ms on one trace.

I'm still looking into another string

[2016-09-07 11:15] flovilmart commented on #2542
@batkov can you provide the logs when running with VERBOSE=1 on Parse-server?

[2016-09-07 12:29] sjabba commented on #2660
Hi, yes, the email field is set because I retrieve the email from Facebook and save it into that field when the user first logs on using Facebook option.

[2016-09-07 12:29] flovilmart commented on #2654
Looking at your trace, it originates from lib/response.js which is the actual expressjs response handle that serializes the JSON response.

[2016-09-07 12:37] flovilmart commented on #2660
I'll have a look

[2016-09-07 12:48] flovilmart commented on #2664
Code would help, logs from the interceptor too, as well as the logs from parse-server when running with VERBOSE=1

[2016-09-07 13:13] zingano commented on #2654
@flovilmart I didn't show that particular trace. I'll attach it.
![screenshot 2016-09-07 14 12 40](https://cloud.githubusercontent.com/assets/567295/18313171/36b49464-7505-11e6-85fa-5b2b1e6d8b6b.png)

[2016-09-07 13:15] zingano commented on #2654
MongoTransform seems to be most consistently to blame, but I'm still confused about the difference in the entire time (in the tab) and the execution time (left, top). MongoTransform can be a large percentage of the latter, but not usually of the former. Any AppDynamics people help me out? Or anyone use another trace tool?

[2016-09-07 13:15] simonbengtsson commented on #661
I'm not sure, but I think so based on the code in [/src/Routers/FilesRouter.js#L91](https://github.com/ParsePlatform/parse-server/blob/9d2d208609c096b18f0650eae2098f68d4bf8f92/src/Routers/FilesRouter.js#L91)

[code]

[2016-09-07 14:12] acegreen commented on #2391
hey @hramos, I can certainly provide some more details to reproduce the issue. I'm not savvy enough to play around with curl requests, its just not my scene. I recall looking into this a while ago but was able to find the root cause.

The main idea resolves around an array that contains two or more different class

Steps:
1. Create a Test class
2. Add an object with an array containing two element

[2016-09-07 14:38] maravilhosinga commented on #2664
And please how can i set VERBOSE =1

[2016-09-07 15:00] benishak opened #2665 "Is it safe to empty the _PushStatus collection/class?"
Is it safe to empty the _PushStatus collection/class?

[2016-09-07 15:26] #2380 closed

[2016-09-07 16:01] flovilmart commented on #2665
yes, it is, it's just storing the history of your sent pushes

[2016-09-07 16:01] otymartin commented on #1343
@flovilmart As a GCP user on app engine, in regards to scalability, I'm under the assumption that App Engine will automatically to handle any load i'm hit with. Am I right with this assumption (I have no server-side knowledge).

[2016-09-07 16:02] carrascoacd commented on #2577
Yes. Thanks

[2016-09-07 16:17] #2665 closed

[2016-09-07 16:33] flovilmart commented on #2650
I'll have a look and make sure it's fixed for the next release

[2016-09-07 16:53] gateway commented on #2568
@hramos I just got back from Burning Man, and catching up, this is on the list!

[2016-09-07 17:54] #2577 closed

[2016-09-07 18:39] hramos commented on #2664
Please refer to [this issue](https://github.com/ParsePlatform/parse-server/issues/1271) for an example of a great bug report.

Make sure these boxes are checked before submitting another issue -- thanks for reporting issues back to Parse Server!

- [ ] You've met the [prerequisites](https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites).

- [ ] You're running the [lat

[2016-09-07 19:26] maravilhosinga commented on #2664
Ok, i figured the same issue with parse.com hosted database, i will try to downgrade my Android Parse SDK to see how it will work.

[2016-09-07 19:41] hramos commented on #2664
Gotcha.

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'll be happy to ans

[2016-09-07 19:41] #2664 closed

[2016-09-07 20:54] otymartin commented on #2610
@aliasad106 did you solve the problem?

[2016-09-07 21:27] sprabs opened #2666 "v 2.2.18 of parse-server code crashes on deployment"
### Issue Description

I have been using parse-server for a few months now on my AWS Elastic Beanstalk and have never had a problem deploying my app. When I pulled v 2.2.18, I got these errors:

Any idea what the issue can be? Here is what my package.json looks like in case anything is wrong here:

[code]

### Environment Setup

- **Server**
  - parse-server version: 2.2.18
  - Operating System:

[2016-09-07 21:39] acinader commented on #2666
@sprabs, have you ruled out running out of memory?

how much memory do you have allocated in your Dockerrun.aws.json?  Have you ssh'd to the container host and checked /var/log/messages?

[2016-09-07 21:45] jpv123 opened #2667 "Crash if logout is made to not existing user"
Not sure if this is happening to anyone but it just happened to me. If I have a user in the cache accessible with PFUser.currentUser(), I remove the user via Parse Dashboard and then do a PFUser.logOut(), the app gots a message saying

[Error]: invalid session token (Code: 209, Version: 1.14.2)

And the server automatically crashes. I need to do a Heroku Restart to get the server working again.
##

[2016-09-07 21:51] sprabs commented on #2666
@acinader I just checked /var/log/messages. Nothing much there.

I have ruled out running out of memory. I've deployed maybe 20x in the last 24 hours with the previous version of parse-server without any problems. t2.medium is also a pretty solid machine for our dev setup (not too many RPS flowing through). Did something substantial change in the build from 2.2.17 to 2.2.18??? Not sure why this wo

[2016-09-07 22:47] hramos commented on #2667
Can you try running with VERBOSE=1? You can run the server locally and try to reproduce the issue there, if you're unable to grab the logs from Heroku.

[2016-09-07 23:57] jpv123 commented on #2667
I enabled the Verbose Mode, however when I run the Logout function I'm only getting

at=info method=POST path="/parse/logout" host=myapp.herokuapp.com request_id=454c2bca-f8db-48e1-862e-c1d6dd08.... fwd="---.--.--.--" dyno=web.1 connect=0ms service=31ms status=400 bytes=535
2016-09-07T23:54:50.643333+00:00 app[web.1]: [object Object]

Any ideas?

[2016-09-08 05:53] rjcristy commented on #2641
try this

    var api = new ParseServer({
      databaseURI: databaseUri || 'mongodb://localhost:27017/seaker_db',
      cloud: process.env.CLOUD_CODE_MAIN || __dirname + '/cloud/main.js',
      appId: process.env.APP_ID || 'XXXXXXXXXXXXXXXXXXXXXXXXXXX',
      fileKey: process.env.FILE_KEY || 'xxxxxx-xxxx-xxxx-xxxx-xxxx',
      ...
    ...

[2016-09-08 07:33] sunshineo opened #2669 "Option authSource on databaseURI is not honored."
Describe your issue in as much detail as possible.

If the mongo database has an admin user in the admin database but not the database that parse-server is trying to connect to, parse-server cannot connect.
Normally you specify an authSource on the mongodb url and it works. For example the following works:

[code]

But this does not work:

[code]
### Steps to reproduce

Please include a detailed l

[2016-09-08 07:35] dan-merlea opened #2670 "Parse-server returns all users when login with facebook"
### Issue Description

I moved from parse to parse server and the facebook login returns me all users instead of the logged one. I thought it's something wrong in my app, but I tried with a different implementation by just changing the keys and server url and it's the same. The problem must be either in the parse server or in the way I'm using it.

### Steps to reproduce

Please include a detailed

[2016-09-08 07:39] zingano commented on #2654
For anyone else who's interested in instrumenting Parse Server, you'll be glad to know that NewRelic do think that something is amiss, and the support guys have added a request to add support for Parse Server (possibly just on Heroku, depends if the issue is seen more widely). I should be updated when that support arrives.

[2016-09-08 08:30] zirinisp commented on #356
I was having the same issue and initially i though it was the cloud code that needed update. After a lot of troubleshooting I realised that the code was fine. Then I tried to see whether parse server was setup correctly. I am running it on IBM BlueMix (should be the same as heroku). The problem was the following

`var parseConfig = {
  databaseURI: databaseUri,
  appId: process.env.APP_ID,
  maste

[2016-09-08 08:32] zirinisp commented on #651
I was having the same issue and initially i though it was the cloud code that needed update. After a lot of troubleshooting I realised that the code was fine. Then I tried to see whether parse server was setup correctly. I am running it on IBM BlueMix (should be the same as heroku). The problem was the following

`var parseConfig = {
  databaseURI: databaseUri,
  appId: process.env.APP_ID,
  maste

[2016-09-08 10:23] aliasad106 commented on #850
@flovilmart please reopen this issue. It's doing the same. I am limiting size on client size. even 4 mb video is not uploading. '`Error Domain=Parse Code=100 "The request timed out`'

[2016-09-08 10:50] aliasad106 commented on #2610
We probably need to setup SSL on elastic beanstalk and change the listener port from configuration

[2016-09-08 11:02] flovilmart commented on #2654
@zingano, your first screenshot, originating from PromiseRouter, is actually the request serialization. In your tests, what's the size of the response you're sending?

[2016-09-08 11:05] flovilmart commented on #850
Can you provide the logs for the request when running with VERBOSE=1 please and open a new issue?

[2016-09-08 11:08] flovilmart commented on #2670
I'lll have a look.

[2016-09-08 11:30] aliasad106 commented on #850
Sorry flovilmart  here's the thing causing problem seem to be size but it's only 1.5 mb
client intended to send too large body: 1549771 bytes, client: x.x.x.x, server: , request: "POST /parse/files/file HTTP/1.1", host: "xxxxxxxxxxx"

[2016-09-08 11:51] flovilmart commented on #850
I meant that, please open a new issue with all the relevant informations.

This one is closed and has been opened 6 months ago...
Locking the conversation now

[2016-09-08 12:36] aliasad106 opened #2671 "Parse server not uploading file > 1mb, logs in server: "client intended to send too large body""
I am using aws elasticbeanstalk for my parse-server deployment. When I upload a file from client, the file doesn't get uploaded and it stucks on 3% or 4% based on total size.
On AWS elasicbeanstalk I'm getting below log which seems to be the problem. File size is 1.7mb
`client intended to send too large body: 1784523 bytes, client: 172.31.46.180, server: , request: "POST /parse/files/file HTTP/1.1

[2016-09-08 12:43] aliasad106 commented on #2671
@flovilmart please look into above.

[2016-09-08 14:47] zhangwei001 commented on #462
i solve this problem  by change  " node ./bin/www"  by  "babel-node ./bin/www" in package.json file ,of  cources npm install some babel  plugins

[2016-09-08 14:50] aliasad106 commented on #1616
@mattgoldspink  What if I'm using docker ?

[2016-09-08 15:13] aliasad106 commented on #2671
currently solved this issue by adding a .config file in .ebextensions folder with content below:

[code]

[2016-09-08 15:13] #2671 closed

[2016-09-08 15:38] AndrewLane opened #2672 "Schema updates are made BEFORE cloud code beforeSave triggers are invoked"
Let's say you have a class called Foo and you have a business rule that says that no client is allowed to write data to a property called "secret".  So, you create a

[code]

method and inspect

[code]

and then call response.error if "secret" is found.  In this case, since the request has been rejected, you would not expect any schema updates to be made.  However, in this scenario, the schema get

[2016-09-08 16:04] flovilmart commented on #2672
Actually, it is done there: https://github.com/ParsePlatform/parse-server/blob/master/src/RestWrite.js#L179

Do you notice the behaviour you depict?

[2016-09-08 16:19] mooshee commented on #2104
I can confirm that the issue is resolved by following @takomborerwa 's suggestion in https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/437.  Turning on Keychain Sharing for an app built against iOS 10 allows Facebook to store the user's credentials properly and send the proper headers to Parse Server.

[2016-09-08 18:14] gateway commented on #244
@hramos I do have to say nobody is really answering anything on Server Fault, its not been really helpful and while I know the parse crew is quite busy it would be nice to have some questions answered, esp when it comes to scaling or running on more than one core.

[2016-09-08 18:15] flovilmart commented on #244
@gateway yes but this is also not an 'ISSUE' on parse-server, this applies to anything that is an express app backed by mongodb.

[2016-09-08 19:19] flovilmart commented on #2670
@dan-merlea can you run with VERBOSE=1 and provide the trace of request/responses relevant to those calls? That would greatly help isolate the issue. I tried to reproduce with the JS SDK and the master branch, but that doesn't seem to cause problems.

[2016-09-08 19:32] hramos commented on #2669
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? Specifically, the `parse-server` version number would help. This is necessary for people to be able to understand and reproduce the issue being reported.

[2016-09-08 19:47] okipol88 commented on #82
+1
Getting the same error but for Android everything works as expected.
Perhaps the origin of this issue is different?

[2016-09-08 21:06] pivanov opened #2673 "Add SashiDo to your wiki on Community links"
Hey gusy,

**[SashiDo.io](http://www.sashido.io)** is a Parse Server Hosting Provider.
We takes care for the server management, so you can focus on your apps. As easy as before.

What You'll Enjoy:
- [x] 14 Days Free Trial.
- [x] Free Parse Migration in a Click.
- [x] Free File Migration in a Click.
- [x] Free Migration from any Parse Server without any down time! _([contact us](mailto:support@sas

[2016-09-08 21:12] mignev commented on #2673
+1

[2016-09-08 21:15] kdankov commented on #2673
+1

These guys are awesome!

[2016-09-08 21:27] sunshineo commented on #2669
@hramos  Added.

[2016-09-08 23:28] MIguelMendo opened #2674 "Problems with Upload images"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-09-09 00:07] flovilmart commented on #2674
Can you please fill up the report in order for us to identify the problems?

[2016-09-09 00:08] flovilmart commented on #2673
@pivanov can you give me a one liner as you want to see it in the community links? (I definitely can't put all there in there )

[2016-09-09 00:37] all-iver opened #2675 "Max CPU and possible crash when requesting logs"
### Issue Description

Using parse-server 2.2.17 or 2.2.18 and parse-dashboard 1.0.18, when I go to the Info or Error logs in the dashboard, nodejs spikes CPU and may eventually crash.

### Steps to reproduce

1. Install parse-server 2.2.18 and parse-dashboard 1.0.18, use verbose=1 for parse-server.
2. Presumably have a moderately large DB to get started.
3. Browse around for a bit and check the l

[2016-09-09 00:44] jeacott1 opened #2676 "Parse Server as of release 2.2.15 creates initial _User and _Index collections that prevent migration from facebook."
Parse Server as of release 2.2.15 creates initial _User and _Index collections that prevent migration from facebook.
in order for migrations to be available the mongoDb must be empty.

the code was first introduced here:
https://github.com/ParsePlatform/parse-server/blob/d599fdd4feccf93be56acd3fa5a3307aac187803/src/ParseServer.js#L200

and now lives here:
https://github.com/ParsePlatform/parse-ser

[2016-09-09 00:48] flovilmart commented on #2676
If you're planning to do a migration, you should have an empty database, you're right, so you should shut down your parse-server or point it to another DB, run your migration and then point back to the right database. Does that help?

[2016-09-09 00:49] flovilmart commented on #2675
You should not use VERBOSE=1 in production that's only meant for debugging purposes when you face an issue. The info logs should contain enough informations.

[2016-09-09 00:51] jeacott1 commented on #2676
not really. we are trying to stand up a hosted service, and since 2.2.15 this makes things very difficult.

[2016-09-09 00:55] flovilmart commented on #2676
The parse-server should only connect to mongoDB AFTER the migration is completed. Is that really something you can't do?

[2016-09-09 01:00] jeacott1 commented on #2676
our flow is:
user signs up, gets redirected to dashboard.
user creates app from dashboard.
dashboard talks to app (at this point we're broken because mongo is populated).
User finds mongo url in dashboard settings and migrates.

all very clean, within the dashboard, and very similar with the historical parse flow.

[2016-09-09 01:04] flovilmart commented on #2676
I believe you'll need to find another flow, work around that or provide a PR that will still ensure people that deploy to their own infrastructure the functionality that is currently in place.

[2016-09-09 01:04] #2676 closed

[2016-09-09 01:16] all-iver commented on #2675
I see...thanks for the info.  I removed VERBOSE and had some other problems but those should probably be discussed elsewhere.  Gonna close this issue then unless you are concerned about the verbose mode CPU spiking.

[2016-09-09 01:16] #2675 closed

[2016-09-09 01:21] flovilmart commented on #2675
@all-iver having VERBOSE=1 and getting the logs from parse-dashboard is making it all recursive (fetch the logs and write them at the same time) which is not great I agree, but VERBOSE should not be run in production, only when you're debugging a particular issue locally.

[2016-09-09 03:08] pushparajsamant commented on #2614
Hi,
I put the issue on parse javascript sdk around 1 and half week back and there has been no update on it since then. Could you please help me expedite this as its a major blocker for our code to migrated. We have several instances where a Lead user changes fields for other users.

[2016-09-09 05:02] bamwang opened #2678 "Security: NoSQL injection when loging in with username and password"
### Issue Description

Describe your issue in as much detail as possible.

Regex query can be set into `req.body.username` if attacker use GET method with request body instead of URL query, which will lead a NoSQL injection.
https://github.com/ParsePlatform/parse-server/blob/master/src/Routers/UsersRouter.js#L86

### Steps to reproduce

Please include a detailed list of steps that reproduce the is

[2016-09-09 05:18] bamwang commented on #2678
Similar problem here
https://github.com/ParsePlatform/parse-server/blob/master/src/Routers/UsersRouter.js#L194
https://github.com/ParsePlatform/parse-server/blob/master/src/Controllers/UserController.js#L128

[2016-09-09 06:23] dan-merlea commented on #2670
Sure. Just to know I found this issue just on iOS SDK. I also have a PHP website linked to the same server and it works.

I runned with verbose 1 and I have this:

verbose: REQUEST for [GET] /parse/users: {} method=GET, url=/parse/users, x-real-ip=213.233.85.105, x-forwarded-for=213.233.85.105, x-nginx-proxy=true, host=tourismfeed.com, connection=close, x-parse-app-display-version=1.0, x-parse-app

[2016-09-09 06:35] pivanov commented on #2673
Hey @flovilmart thanks in advanced. Here is the oneliner:

[SashiDo](https://www.sashido.io) - Affordable managed Parse Server hosting with care! Migration in a click. Auto Scaling. Simple and flexible pricing

[2016-09-09 08:03] all-iver opened #2680 "Passwords are being logged in plain text in beforeSave"
### Issue Description

Possibly related to https://github.com/ParsePlatform/parse-server/issues/1704.

Passwords are being logged in plain text for me in beforeSave when I create a new user.  They show up in my nodejs.log and in parse-dashboard.  This is with verbose mode turned off.

### Steps to reproduce

In your beforeSave, do something like the following (not sure if this is a necessary step

[2016-09-09 09:15] all-iver opened #2681 "scriptlog endpoint does not return the most recent log messages"
### Issue Description

When parse-dashboard requests the most recent log messages from the scriptlog endpoint, the actual messages returned seem to be the oldest from the query period rather than the most recent.  For instance, if you call /scriptlog?level=info&n=100 like parse-dashboard does, it seems that parse-server takes all the messages from the last week (since 1 week ago is the default "fr

[2016-09-09 09:44] benishak opened #2682 "Parse always includes "_rperm" in the Query"
# Env

Parse Server 2.2.17
# Problem

I don't know if this is an issue or not but after I enable Profiling (level 1) on MongoDB to check slow queries, I saw that alomost all queries are including `_rperm`

`'queryMask': '{"$query":{"_rperm":{"$in":[]},"approved":"<val>"}}',`

Although this class is public read, and the `_rperm` is being passed empty (by Parse Server? by SDK ?),
The same result can

[2016-09-09 10:00] johanarnor commented on #2628
We also experienced this issue. Not really sure if the "_acl" property in db is deprecated or something. When viewing the ACLs in the open-source-dashboard it displays them correctly (meaning that parse-server must calculate them from "_wperm" and "_rperm"), but for the hosted dashboard (https://dashboard.parse.com), the ACLs are wrong (meaning that they must read the "_acl" property).

[2016-09-09 11:28] flovilmart commented on #2614
I'll have a look some time. It also seems that the team pointer is returned with __type Object intsead of Pointer which is related to parse-server

[2016-09-09 11:30] flovilmart commented on #2673
Done! Thanks @pivanov

[2016-09-09 11:30] #2673 closed

[2016-09-09 12:01] flovilmart commented on #2670
This is very very odd that you get that when trying to use the Facebook linking. No POST or PUT request?

[2016-09-09 12:11] dan-merlea commented on #2670
No.. This is all. Maybe I am doing something wrong and I don't notice.
But as I said I tried even with Parse controller and it's the same

[code]

[2016-09-09 12:14] flovilmart commented on #2670
This is definitely odd. I believe there is a way to trace the requests generated by the iOS SDK. Could you try that out? You say it's working correctly on Parse.com.

[2016-09-09 12:21] dan-merlea commented on #2670
Sure. Tell me what to do. Yes, with parse.com works good

[2016-09-09 12:29] dan-merlea commented on #2670
2016-09-09 15:26:15.354 GeoTrip[40252:27080219] URL : http://myserver.com/api/users
2016-09-09 15:26:15.354 GeoTrip[40252:27080219] Method : POST
2016-09-09 15:26:15.354 GeoTrip[40252:27080219] Headers : {
    "Content-Type" = "application/json; charset=utf-8";
    "X-Parse-Installation-Id" = "myId";
}
2016-09-09 15:26:15.355 GeoTrip[40252:27080219] Request Body : {"authData":{"facebook":{"id":"MY

[2016-09-09 12:40] flovilmart commented on #2670
Alright thanks I'll debug that, seems that the POST gets interpolated into a GET. I'll keep you posted with my findings

[2016-09-09 12:42] flovilmart commented on #2670
For the username based logging, can you attach the server trace?

[2016-09-09 12:47] dan-merlea commented on #2670
verbose: REQUEST for [GET] /parse/login: {} method=GET, url=/parse/login, x-real-ip=213.233.85.105, x-forwarded-for=213.233.85.105, x-nginx-proxy=true, host=myserver.com, connection=close, x-parse-app-display-version=1.0, x-parse-application-id=APP_ID, accept=*/*, accept-language=en-us, x-parse-os-version=9.3 (15F34), x-parse-client-key=, user-agent=GeoTrip/1 CFNetwork/758.3.15 Darwin/15.5.0, x-pa

[2016-09-09 13:33] flovilmart commented on #2670
@dan-merlea  I'm running some tests locally and I'm not able to reproduce this issue.

It would seem that ALL your requests incoming to parse server are re-written as GET (instead of being proper POST requests).

I see there is a `x-nginx-proxy=true` in all your requests, by any chance, would there be a line in your nginx config  that would rewrite all the methods to GET? Maybe for another purpose

[2016-09-09 13:43] dan-merlea commented on #2670
I'll take a look, but all the requests coming from the PHP SDK works fine.

[2016-09-09 13:50] dan-merlea commented on #2670
I've used this tutorial: https://www.digitalocean.com/community/tutorials/how-to-migrate-a-parse-app-to-parse-server-on-ubuntu-14-04

[2016-09-09 13:54] flovilmart commented on #2670
Yeah, that's very very odd indeed. Did you try running parse-server locally and point your client SDK to your local server (localhost won't work, you'll need the full IP address from your dev machine so the simulator can reach your parse-server)

[2016-09-09 13:55] flovilmart commented on #2682
@benishak can you work on a PR for that?

[2016-09-09 14:01] dan-merlea commented on #2670
I will try this weekend and reply until monday.

[2016-09-09 14:01] sjabba commented on #2660
Hi, any luck so far with this issue? Thanks.

[2016-09-09 14:20] flovilmart commented on #2660
Nope, I didn't get the chance to look at it or fix it. You can submit a pull request with the fix if that's a pressing matter

[2016-09-09 14:21] flovilmart commented on #2670
I'll run more tests on my side as well, I really don't get what's going on.

[2016-09-09 15:24] #2678 closed

[2016-09-09 16:49] baymitchell12 commented on #1628
I have a requested parameter in my ./cloud/main.js that I need to use in the queue.js file. However, when I export the variable and <require('./cloud/main.js')> (in queue.js) I get the error that Parse is not defined in the main.js. Any help is appreciated!

[2016-09-09 16:54] maravilhosinga opened #2683 "Parse Server FACEBOOK Error on Signup users"
`List<String> mPermissions = Arrays.asList("public_profile","email", "user_about_me", "user_birthday", "user_friends", "user_hometown", "user_location");

                    ParseFacebookUtils.logInWithReadPermissionsInBackground(LoginActivity.this, mPermissions, new LogInCallback() {
                        @Override
                        public void done(ParseUser parseUser, ParseException er

[2016-09-09 17:02] flovilmart commented on #2683
That seems to be a problem with the FB request's JSON response more than the parse login right?

[2016-09-09 17:14] maravilhosinga commented on #2683
Yes, can you help please ???
I don't know what i'm doing wrong ????

[2016-09-09 17:16] flovilmart commented on #2683
it's not the right place to debug your failing android code, questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'll be happy to answer there. Post a link to your Stack Overflow question here, so that we don't lose track of it.

You may also use [Server Fault

[2016-09-09 17:16] #2683 closed

[2016-09-09 18:41] #2672 closed

[2016-09-09 18:41] #2189 closed

[2016-09-09 18:43] AndrewLane commented on #2672
Thanks for the quick fix!

[2016-09-09 18:44] #2246 closed

[2016-09-09 18:48] #2255 closed

[2016-09-09 19:34] flovilmart commented on #2672
@AndrewLane that as easy to fix and also a quite major issue.

[2016-09-09 21:52] ml653 commented on #1863
Any luck?

[2016-09-09 23:56] pjainusr opened #2687 "CloudCode POST Returns error " { code: 141, message: 500 }""
- Issue Description

I am using Parse hosting services now since parse.com is going to retire. Following cloudcode function when requested makes call to third party api for creating a record and returns json response with success or error

===== cloud code ======
Parse.Cloud.define("createCode", function(request, response) {

    var baseEVUrl = "https://external.baseline.url.com";

    var params

[2016-09-10 02:30] sjabba commented on #2660
Hi, unfortunately, I don't have the expertise to fix the issue. It's not a pressing matter but rather something that should be fixed when possible. Thanks.

[2016-09-10 07:24] sprabs commented on #2666
Turns out this was an issue with my deployment. After rebuilding from scratch it worked okay. Sorry for the trouble!

[2016-09-10 07:24] #2666 closed

[2016-09-10 09:00] caltv opened #2690 "[Error]: Facebook auth is invalid for this user. (Code: 101, Version: 1.12.0)"
There is an issue with iOS 10 and PFFacebookUtils linkUserInBackground, I get the error below after the Facebook SDK passes the FBSDKAccessToken

`[Error]: Facebook auth is invalid for this user. (Code: 101, Version: 1.12.0)`

[2016-09-10 14:51] flovilmart commented on #2690
If it's working on iOS 9 that's likely an issue with your configuration on your iPhone app. Can you provide the server logs when running with VERBOSE=1 and check if all the parameters are correctly set?

[2016-09-10 15:22] flovilmart commented on #2654
@zingano I see in the stack trace that also the stringify comes from the es6 polyfill.

[2016-09-10 21:05] cherukumilli commented on #2508
Closing this feature request as the PR #2601 has been merged into the master and released as part of release 2.2.19 (https://github.com/ParsePlatform/parse-server/releases/tag/2.2.19).

[2016-09-10 21:05] #2508 closed

[2016-09-10 21:55] flovilmart commented on #2690
Did you see that comment here? https://github.com/ParsePlatform/parse-server/issues/2104#issuecomment-245652891

[2016-09-10 21:55] #2674 closed

[2016-09-10 22:02] deeDude opened #2694 "Cannot migrate to another mongo database after changing connection string"
A while ago I migrated my database to Nodechef hosted mongo database. But now I do not have an account on Nodechef anymore and I wanted to migrate my Parse app to another Parse service hosting service. The problem is that now I can't seem to migrate the database again to another mongo db. On my app's parse dashboard it says "Migration complete", and I dont see any option to migrate my database aga

[2016-09-10 22:03] flovilmart commented on #2694
You should reach to nodechef to recover your data.

[2016-09-10 22:03] #2694 closed

[2016-09-10 22:28] mmarshak commented on #1392
I have the same issue, I have an app that does non-revocable sessions, and per Ramos I went to the guide in - https://parse.com/tutorials/session-migration-tutorial.
In the guide for Mobile apps step 1 it says - In your app's code, handle the "invalid session token" error. See details in iOS | Android | .NET | JavaScript.
But when I click on the iOS link I get page not found.
Could you point me to

[2016-09-10 22:30] flovilmart commented on #1392
What version of parse-server are you running?

[2016-09-10 23:08] mmarshak commented on #1392
I am using 2.2.18, and today I do not call  [PFUser enableRevocableSessionInBackground] in my App.
I just found out that you released 2.2.19 that support on the server the call for upgradeToRevocableSession. It is not clear to me should I just upgrade the server and everything will work or do I need to call on the iOS client  [PFUser enableRevocableSessionInBackground] and add in many places in my

[2016-09-10 23:14] flovilmart commented on #1392
You should update to that version

Yes you need to add that line in the app delegate up upgrade the session token.

Then it's a good idea to handle invalid session tokens and prompt for a login as well.

[2016-09-10 23:26] mmarshak commented on #1392
Thanks.

Should I add [PFUser enableRevocableSessionInBackground] inside the block bellow as part of didFinishLaunchingWithOptions , as following -

    [Parse initializeWithConfiguration:[ParseClientConfiguration configurationWithBlock:^(id<ParseMutableClientConfiguration> configuration) {
        configuration.applicationId = @"XXXXXX";
        configuration.clientKey = @"YYYY";

        configu

[2016-09-10 23:32] flovilmart commented on #1392
nope, the configuration block is not an async block.

Do it that way:

[code]

calling `[PFUser enableRevocableSessionInBackground];` should make a call to the upgrateToRevocableSession endpoint that will in turn make the exchange between your local session token and a revocable session token. Upon success, the session should be returned to the iOS SDK and everything should be fine for your user.

[2016-09-10 23:45] mmarshak commented on #1392
It works, thank you allot for the quick help.

[2016-09-10 23:46] flovilmart commented on #1392
Glad to know it works correctly, it wasn't tested on iOS, only with the JS SDK! Awesome!

[2016-09-10 23:47] flovilmart commented on #1392
Closing as revocableSessionUpgrade has been implemented by #2646.

[2016-09-10 23:47] #1392 closed

[2016-09-10 23:48] flovilmart commented on #1056
it's been implemented in 2.2.19 ! Upgrade your parse-server's and it should work

[2016-09-10 23:49] #2431 closed

[2016-09-10 23:50] flovilmart commented on #2431
(released with 2.2.19)

[2016-09-10 23:50] mmarshak commented on #1392
I tested it with app written in Objective-C and I use Parse Client SDK 1.14.2 if somebody care to know.

And the nice thing I did not had to add the recovery for the invalid Token, saved me a ton of time.

Nice!

[2016-09-10 23:51] flovilmart commented on #1392
Awesome!

[2016-09-11 00:04] mutex007 commented on #2687
Hey can you try setting gzip: true on the request. Some misbehaving HTTP servers return gzipped compressed content although there is no accept-encoding header.

[2016-09-11 13:45] tamermorsy opened #2695 "Push Notifications"
We still need an answer regarding push notifications. We have not received an answer on how to users can send notifications to one another.

PLEASE HELP.

[2016-09-11 13:46] bohemima commented on #2695
Hi, please use stackoverflow.com for general questions about how to implement something and keep this place for actual bugs and/or feature requests.

[2016-09-11 13:48] tamermorsy commented on #2695
This is an actual feature request because the team from Parse said they are still not sure what to do. Many of my friends reached out to ask.

[2016-09-11 13:51] bohemima commented on #2695
Push notifications have been available in parse-server since 2.0.8 (2/11/2016). If you have trouble implementing them please see the wiki I linked above or ask a question at for example stackoverflow.com

[2016-09-11 13:58] flovilmart commented on #2695
Client push notifications is disabled, you should implement it through a cloud function.

[2016-09-11 13:58] #2695 closed

[2016-09-11 17:54] JustK2 commented on #2695
@flovilmart  -- Do you have a sample of how the Cloud functions that would mimic the native Parse functionality?? This is what we need to be open source. We have implemented the "broadcast" type of Push successfully but that does not meet our needs. We need to mimic the action available in Parse as follows: User X likes User Y's Object Z. We are happy to implement in Cloud but appreciate some sort

[2016-09-11 17:56] flovilmart commented on #2695
Parse.com deprecated client sending push a while ago, the code should be pretty much the same as the original code, I won't reopen the issue as it's not a bug but an implementation detail.
We don't discuss implementations details here, it's better suited over stackoverflow.

[2016-09-11 18:14] handymoby opened #2696 "parse server push only sent to part of the audience"
I have an audience of around 4000 devices, when I used to send through parse.com.

I just switched the parse server, when I try to send out push, it only deliveres to about 750 devices. Does it has to do with the fact that parse server push not having a job queue function and thus does not support high throughput?

any solution is appreciated!

[2016-09-11 18:15] paligiannis opened #2697 "MongoDB's ObjectID Auto generation and Parse's _id Collision"
I have my parse server up and running. Everything works fine.

**BUT** when it comes to import data from PhalconPHP framework mLab generates a new ObjectID("somevalue") that it is not readable from Parse and not editable in parse GUI dashboard. (says that the object is missing but i can see id, i can't only modify it)

If someone has ideas I would appreciate it. Thank you!

[2016-09-11 18:35] flovilmart commented on #2697
That seems to be a problem with your framework. We don't support importing large batches of data. If you want to create new objects that are compatible with parse, you should use one of the ParseSDK or the REST API, but never create the objects yourself in the DB.

If you still want to create the object in the DB manually, you should set the _id property to a pseudo random 10 character string with

[2016-09-11 18:35] #2697 closed

[2016-09-11 19:12] pjainaernow commented on #2687
Thanks @mutex007 for suggestion. Tried, but no luck.
Same code works on parse.com but not on open source parse hosted by node chef.

If i remove stringify, it seems to think its successful but httpResponse.text shows the error.

[2016-09-11 19:24] flovilmart commented on #2687
Try to run it locally with VERBOSE=1 in order to identify the error.

[2016-09-11 21:44] jashsayani opened #2698 "ParseServer should only require `serverURL` if `cloud` is specified"
According to the README file in the repo, only `appId`, `masterKey` and `databaseURI` are required. But I noticed this:

[code]

Looks like `serverURL` is required too, which doesn't make sense because I don't use CloudCode in all my apps. Also, `cloud` is optional. So I think `serverURL` should only be required if `cloud` is present in the config.

Also, I don't know why `serverURL` is required,

[2016-09-11 22:21] jashsayani opened #2699 "Warnings: Unable to ensure uniqueness for usernames"
I am writing a server that uses ParseServer (Express + ParseServer), and I see this when I run it:

[code]

I see that Mongo is having issues with querying the schema? Probably an indexing issue?

[2016-09-12 00:42] pjainusr commented on #2687
@flovilmart i have got local setup of mongodb, parse server and dashboard but can't figure out how to get CLI binary and/or point parse cli to local server. looking in, if u have pointer, let me know.

[2016-09-12 00:55] mutex007 commented on #2687
You can enable verbose logging on NodeChef from App actions  > Server settings > verbose logging

[2016-09-12 01:22] pjainusr commented on #2687
Got local setup working but same error. With verbose no additional info locally or on node chef server.

[2016-09-12 01:39] flovilmart commented on #2687
Is the content of the httpResponse.text a proper string?

[2016-09-12 02:02] pjainusr commented on #2687
Yes, json response is alright. Same code works on parse.com cloudcode and also under postman

[2016-09-12 02:32] flovilmart commented on #2687
but is it a string or a JSON object... Parse.Cloud.httpRequest on parse-server is not the same implementation as the one on parse.com

[2016-09-12 05:03] pjainusr commented on #2687
@flovilmart , its JSON object in response.

[2016-09-12 05:35] haydenbleasel commented on #2699
I get a similar one:

[code]

[2016-09-12 06:26] dan-merlea commented on #2670
No way... it was a dummy mistake of mine.. It looks like I was requesting on http instead of https and all my requests were transformed into GET ones.

I guess you can close this one now. Thanks for your time

[2016-09-12 06:26] #2670 closed

[2016-09-12 06:27] bohemima commented on #2699
`MongoError: not authorized for query on mydatabase._SCHEMA`

Check your username/password and that that user have the required permissions on the database.

and for @haydenbleasel `MongoError: no valid replicaset members found`

[2016-09-12 06:31] haydenbleasel commented on #2699
@bohemima What does that mean?

[2016-09-12 06:33] bohemima commented on #2699
It's not really a question for this forum but I would check the databaseURI and make sure it's correct. Could also be a number of other issues, a search for the error gives you plenty of reading material.

[2016-09-12 06:38] haydenbleasel commented on #2699
The databaseURI is definitely correct, I have done a massive search and it's not yielding much luck. I believe it might be coupled with #2580 since I get this straight after:

[code]

[2016-09-12 06:45] haydenbleasel commented on #2446
Still occurring on 2.2.19 (Express 4.14.0, hosting on MLab)

[2016-09-12 08:18] andrey-krukovskiy commented on #1025
@flovilmart  No, I did not. Cannot reproduce it now on parse-server 2.2.18

[2016-09-12 08:33] Charlesleonius commented on #760
Heroku automatically makes all the other endpoints https secure so how can I get it to do the same for the files endpoint?

[2016-09-12 11:12] flovilmart commented on #2670
Glad you found a resolution!

[2016-09-12 11:14] flovilmart commented on #2699
Are you using version 2.2.19?

[2016-09-12 11:57] haydenbleasel commented on #2699
@flovilmart Yep as mentioned above 👍

[2016-09-12 12:12] flovilmart commented on #2580
Fixed with 2.2.19

[2016-09-12 12:12] #2580 closed

[2016-09-12 12:13] haydenbleasel commented on #2580
@flovilmart Sorry but this is still occuring in my `2.2.19`.

[2016-09-12 12:15] flovilmart commented on #2699
The headers already sent error should not yield in 2.2.19 as we removed the next() calls on success. You probably have a middleware for handling errors.

For the databaseURI problem, that's probably related to the issue you mentioned but I don't have that error myself, and can properly connect to the replicaset. Do you have any special chars in your username/password?

[2016-09-12 12:16] flovilmart commented on #2580
We've added unit tests to make sure the next() handlers are never yieled, probably you have a next(err) handler

[2016-09-12 12:17] haydenbleasel commented on #2699
My username field is the same as the email field at the moment (so we can log in with email). Perhaps the @ character?

[2016-09-12 12:24] flovilmart commented on #2699
Yeah... that may interfere with the URL parser as it will see 2 @'s.

@ and : can be problematic for some URL parsers when providing username/pass inline.

Like:

MongoDB://hello@world.com:pass@mydomain.com:port/path

[2016-09-12 12:25] haydenbleasel commented on #2699
Oh sorry I thought you meant my actual app login haha. No my database user / pass doesn't have any special characters. BTW, this issue just got resolved for me. It works at home but not at the office. Weird.

[2016-09-12 12:27] flovilmart commented on #2699
that's odd. And from the office, you can connect correctly to the DB from the CLI?

[2016-09-12 12:29] haydenbleasel commented on #2699
I just got home and everything's working correctly. From the office all day (no code changes since then), I've had the two errors mentioned above (MongoError and Can't Set Headers). The DB connection from CLI is kinda sketchy - their firewall is pretty intense though (university).

[2016-09-12 12:32] flovilmart commented on #2699
So, get yourself a VPN or a remote server when working from the uni :)

[2016-09-12 12:33] haydenbleasel commented on #2699
Yep my bad haha, problem solved.

[2016-09-12 12:53] flovilmart commented on #2699
Glad you found the solution! Closing

[2016-09-12 14:02] alarrosa14 commented on #275
For those looking for custom templates for password reset and verification emails, go to [parse-server-mandrill-adapter](https://github.com/back4app/parse-server-mandrill-adapter/). You can now use Mandrill templates using that adapter.

[2016-09-12 14:46] steven-supersolid commented on #2628
I've tracked the issue down and it was introduced in 2.2.14 via #2021
Will see if I can add a test and fix

[2016-09-12 15:42] koustabhdolui commented on #2669
I have the exact same issue, when I add the admin.

However, for me the error persists even if I am not specifying the admin and I am doing
databaseURI: databaseUri || 'mongodb://localhost:27017/dev', which is there in the sample for Parse-server.

warn: Unable to ensure uniqueness for usernames:  MongoError: failed to connect to server [localhost:27017] on first connect
    at Pool.<anonymous> (/

[2016-09-12 16:28] riccardoch opened #2700 "Session token without expiry date"
I use **Restricted Session Token** on embedded devices and I'd like to remove the expiry date, because I don't want those devices lose the access to the database.
Is it possible?

[2016-09-12 17:29] benishak commented on #2682
@flovilmart yes I will. I will update the DatabaseController

[2016-09-12 17:50] pjainusr commented on #2687
It turns out to be typo with "header" , it should have been headers ( s at the end )

[2016-09-12 17:51] #2687 closed

[2016-09-12 19:09] dvanwinkle opened #2702 "Cross Domain Issue"
@flovilmart Seems like [this change](https://github.com/ParsePlatform/parse-server/commit/ac348f5c4fd6996a1d95723062013412dde3c00e#diff-fd794f727e5f1cd4aa9c54051208b6c9R276) is causing me some issues.

I am using code similar to [this](https://github.com/ParsePlatform/parse-server#parse-server--express). Is there something that needs added to this now in regards to Cross Origin?

The dashboard can

[2016-09-12 19:10] dvanwinkle commented on #2702
Exact code if it helps: https://github.com/krushtech/parse-server-docker/blob/master/src/server.js

[2016-09-12 19:48] sprabs opened #2703 "High Latency for push notifications using parse-server-sns-adapter module via parse-server"
I am currently executing a call in the afterSave trigger for my "Messages" class that sends push notifications to select users. We have configured parse-server-sns-adapter (~0.0.7 in package.json) and have confirmed through the AWS SNS UI that the endpoints are properly added and the push notifications are sent and received fine.
### Steps to reproduce

**Here is the setup in our index.js (snippet

[2016-09-12 23:18] mtrezza commented on #2105
I can confirm that this issue is solved in Parse Server 2.2.18.

[2016-09-12 23:18] #2105 closed

[2016-09-12 23:19] asdf01 opened #2704 "Exception in Parse.Cloud.job causes parse server to stop completely"
Hey Guys

Thank you @flovilmart for adding the jobs end point to parse-server:
https://github.com/ParsePlatform/parse-server/pull/2560

However testing it out, noticed that the parse-server stops completely when there is an error in the Parse.Cloud.job definition.

Steps to reproduce:
- in your main.js find any Parse.Cloud.job definition
- add the line asdf.asdf before any async calls
- curl the /

[2016-09-12 23:59] flovilmart commented on #2704
yeah, that's expected. We use process.nextTick to give your cloud code job a fresh call stack. Also we could have wrapped the call in to a try / catch block but that would only have had an effect on the current call stack, not any async calls internally.

The blog you're quoting while correct, is from late 2012, and don't take into account that we're running 'your code' on the top of a framework.

[2016-09-13 00:45] asdf01 commented on #2704
Hi @flovilmart

Thanks for looking into this issue.

I wasn't suggesting that the article I linked contained a solution to the problem.  I was merely suggesting that the article confirmed my suspicions that errors in process.nextTick was causing the whole node.js application to stop completely.

From what I remember of your comment in the original commit for the /jobs endpoint:
https://github.com/

[2016-09-13 00:48] flovilmart commented on #2704
If you end up implementing the try / catch, you should probably open a PR for it, and add the tests relevant to that particular enhancement so everyone can benefit the changes.

[2016-09-13 00:53] asdf01 commented on #2704
Hi @flovilmart

I'd be happy to contribute.  It's just that I wasn't too sure whether you approved of the approach.  In your [previous comment](https://github.com/ParsePlatform/parse-server/issues/2704#issuecomment-246532621) it sounded like you didn't think it would add too much value.  Anyway, I will get that sorted.

[2016-09-13 01:12] flovilmart commented on #2704
It doesn't add much but it's also not breaking anything nor deteriorating the experience, so I consider any contribution that help make the project more stable and friendly for everyone.

[2016-09-13 02:34] flovilmart commented on #2703
Switching over SNS won't change anything as the processing remains the same as long as you use `Parse.Push.send`.

On your pushQuery, are all the fields properly indexed?

[2016-09-13 04:39] alvajindia commented on #8
Is someone already working on this ? I would like to work on if not started already

[2016-09-13 06:01] zingano commented on #2654
@flovilmart - not sure, but some responses are pretty large. I feel that if these issues we've referenced are all that's causing my problems, someone else would have come across them too, rather than someone else saying Parse Server is much faster? But after I have completed my current work (to remove stale data from my database and speed things that way, as that is a certainty for getting me read

[2016-09-13 08:24] devmsh commented on #20
Seems that a lot of postgres was done, but I cannot figure how can I configure the parse server to use the postgres adapter for testing and early adaptation?

@drew-gross

[2016-09-13 11:33] flovilmart commented on #2654
can you try that branch and see if the response times are better? Or at least make sure that stringify is not anymore the cause of problems?

[2016-09-13 12:11] DeDuckProject commented on #1352
Any news about this? I know the issue was closed but there are no solutions to be found...

[2016-09-13 14:16] StevenArmandLee commented on #768
here is the cloud code function that I modified to fits your requirements

`Parse.Cloud.define("iosPush", function(request, response) {

  var user = request.user;
  var params = request.params;
  var someKey = params.someKey
  var data = params.data

  var recipientUser = new Parse.User();
  recipientUser.id = someKey;

  var pushQuery = new Parse.Query(Parse.Installation);
  pushQuery.equalTo('d

[2016-09-13 14:34] xcarpentier opened #2707 "Adding password-less authentication (phone-number or email)"

[2016-09-13 14:36] xcarpentier opened #2708 "Elasticsearch database adapter"

[2016-09-13 14:52] flovilmart commented on #2707
You can probably use digits and the Oauth options to achieve the phone number based login.

[2016-09-13 14:54] flovilmart commented on #2708
Elastic search is a search engine, not sure how it would interact with parse-server. Can you explain what you had in mind?

[2016-09-13 15:19] xcarpentier commented on #2708
Hello @flovilmart, thanks for your feedback.

Yes, ElasticSearch is a search engine but it's Document-oriented database too, like mongo-db.

And (for me) parse-server can querying into ES like into mongo-db, No ? (not full-text search, but key-value search as Document-oriented database)

But with ES with can do more : auto-sharding, full-text search, bind it to kibana (ELK: data mining, ...)

Rega

[2016-09-13 15:20] xcarpentier commented on #2707
Ok, and after that I can link this to parse-server, I guess ?

[2016-09-13 16:18] flovilmart commented on #2708
Feel free to work on it, but this is unlikely something that we'll officially integrate with the Main codebase. We're focusing on finishing the Postgres adapter and it could be a source of inspiration for that one too.

[2016-09-13 19:11] gateway commented on #8
@RafaRuiz I think your code is broken with the last parse php sdk..

[code]

Also I dont think this takes into account if you have more than one image in the row.. like a profile pic, small, med, large etc.. I might be able to fix it just letting you know.

[2016-09-13 20:49] wookiem commented on #2088
I should be able to test this out over the weekend.  Stay tuned @hramos.

[2016-09-13 22:09] oallouch opened #2709 "Query a nested array of objects with pointers"
Hi,
I'd like to know if there's a clean way of doing this kind of query.
Example data: the Sale collection

[code]

I'd like to find all sales with the table "1234".

Doing this doesn't work:
  query.equalTo("furniture.table", table);

But this works:
  query.equalTo("furniture.table.objectId", table.id);

Is there an official way of doing it. I'm just tricking MangoTransform.
In the non-working e

[2016-09-13 23:49] gateway opened #2710 "Cloud Code save role on account creation not working"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-09-14 01:03] gateway opened #2711 "Json parser seems to be eating up a lot of response time"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-09-14 02:10] flovilmart commented on #2711
The json parser is the default json parser provided alongside express.js not sure what should be done here

[2016-09-14 02:14] flovilmart commented on #2710
You should probably use request.object as the user is not set as not authenticated when the first save is done. It can't be authenticated as there'S no session token on the client to authenticate it.

On subsequent saves, your request.user is set, as the call is authenticated by the session token.

[2016-09-14 02:14] #2710 closed

[2016-09-14 07:19] oyvindvol commented on #161
I am getting successful cloud function calls also when providing a wrong REST Api key. Is this supposed to happen?

[2016-09-14 13:08] antonfire opened #2712 "Security of data"
Describe your issue in as much detail as possible.

I would like to confirm I've not missed anything here and that I have understood the process properly and as such my data is secure.

My setup:

All class level permissions have read and write disabled for public in class level permissions.
No other class level permissions are granted.
No data is requested client side, all data is returned throug

[2016-09-14 14:01] flovilmart commented on #2712
As you describe it, everything is ok for me. The class level permissions take precedence over acl's and the behavior seems to be what you expect and what's to be expected

[2016-09-14 14:05] antonfire commented on #2712
Thanks for putting my mind at rest, I appreciate it.

[2016-09-14 14:25] #2712 closed

[2016-09-14 17:11] sowmiyas commented on #116
We are planning to have a single mongo db for all our apps by using the collectionPrefix field in parse server. How will this work once we export all data from parse to our own mongo? I am assuming that the export will create separate database for each app and collections will not have a prefix.

[2016-09-14 19:00] natario1 opened #2713 "Ability to add file extensions to log files?"
I wonder if this is currently supported.

It seems that to use [Cloud logging for App Engine apps](https://cloud.google.com/appengine/articles/logging), you need to have files ending with .log or .log.json:

 If you don’t, you won’t see logs in the Logs console.

Currently the default adapter does not add any extension. Could we add an optional suffix parameter to WinstonLoggerAdapter, to be appen

[2016-09-14 21:51] gateway commented on #2711
@flovilmart yea, im not sure what to say, just seeing a pattern on some of the calls that seems to be processing a lot in the json parser now.. again not sure if this had been happening but I like to keep an eye out on things that take longer than x ms to execute.. hmmm

[2016-09-14 21:59] gateway commented on #2654
I seem to also be hitting issue with json parser at least what I can tell from New Relic dashboard. #2711 .. My app dynamics trail expired so cant really drill down deeper :(

[2016-09-15 07:07] mmazzarolo commented on #92
@christianpbrink did you find a way to do it?

I'm interested in this too, @gfosco @flovilmart do you have any suggestion on this?
Is there a way to programmatically set CLPs?

[2016-09-15 08:36] mmazzarolo commented on #92
I solved it this way:
[code]

I can also use it to make test much more useful now](https://gist.github.com/mmazzarolo/b8c44024bd39a8c8dae947601f51e641).
That's unfortunate that features like this are not documented (except for the .spec), because Parse-Server under the hood is really flexible and you can be creative in a lot of ways (e.g.: tweak the `setCLPs` function above and feed with a JSON fi

[2016-09-15 09:37] mmazzarolo commented on #92
Whops, `addClassIfNotExists` throw an error if the class exists 📫 :
[code]

[2016-09-15 16:35] sonnytron opened #2716 "PFFile save fails with S3 Bucket, followed tutorial precisely, added region, v4, still fails"
Here's my index.js configuration:

[code]

In iOS, using Swift, I am pulling a PNG file from a file prompt and then using the following block to try to save it:

[code]

When I run this block, the PFObject is saving, but the file is not...
Getting this in console:

[code]

I followed all tutorials, to a T, I'm using Oregon as the chosen area for my S3 bucket, I added the policy as instructed, to a

[2016-09-15 18:00] natanrolnik commented on #2716
@sonn do you have the console logs?

[2016-09-15 18:09] sonnytron commented on #2716
No, where are they?

[2016-09-15 18:10] sonnytron commented on #2716
This is what is in the log:
[code]

[2016-09-15 19:52] dvanwinkle commented on #2702
@flovilmart @drew-gross Any ideas on this?

[2016-09-15 21:37] natanrolnik commented on #2716
@sonnytron try setting `VERBOSE` to 1 in your server:
`heroku confia:set VERBOSE=1` from the command line, or in the environment variables section in your heroku app's settings

[2016-09-16 13:22] natario1 commented on #2591
You can get inspiration from https://github.com/parse-server-modules/parse-files-utils , which does a different thing but is a good starting point. I think this feature would be a great parse-server module.

[2016-09-16 13:58] rihadavid opened #2717 "beforeSave response incomplete when incremented to 0"
When I increment number in beforeSave and the result value is 0, the value is not returned in the saved object.

**STEPS TO REPRODUCE:**

Let's create MyObject class with `points` and `num` number columns. **Manually** create a MyObject instance that has 10 in `points` column and 10 in `num` column. And define those functions in cloud code:

[code]
[code]

Now call `myFunction` with objectId of th

[2016-09-16 19:28] cagdasalagoz commented on #1352
I had the same problem. I found out that I should use the apiKey from Firebase. Not from console.developers. At your firebase account project settings > cloud messaging there you can find your apikey and senderid. Also don't forget to change it from your android/ios/js app or whatever is your client.

[2016-09-16 19:49] carjo422 opened #2718 "Parse issue in Swift 3"
Hi, I setup my parse solution using Swift 2. After updating Xcode and converting to Swift 3 I get the following error on my code:

let query = PFQuery(className: "gameScore")

        query.order(byDescending: "score")
        query.findObjectsInBackgroundWithBlock {(objects: [PFObject]?, error: NSError?) -> Void in

Cannot convert value of type '([PFObject]?, NSError?) -Z Void' to expected argume

[2016-09-16 20:10] DeDuckProject commented on #1352
I actually solved this differently here:
https://github.com/parse-server-modules/parse-server-push-adapter/issues/35
Does the firebase solution require some different config or account settinga then the previous GCM config?

[2016-09-16 22:00] mtrezza commented on #2718
Try replacing `error: NSError?` with `error: Error?`.

[2016-09-17 05:49] carjo422 commented on #2718
Awesome! This was the key to solve it!

[2016-09-17 07:45] mtrezza commented on #2718
Glad I could help :-) I suggest you post general questions regarding code migration to Swift 3 on stackoverflow.com where you have a great developer community helping you out.

If you think you found a bug in parse server, have any feature suggestions or want to contribute to parse server code then this here is the place to go.

[2016-09-17 15:05] mmarshak commented on #1392
Hi @flovilmart,

My parse server is hosted on AWS on Elastic Beanstalk, and per our previous exchange I start calling from the new version of the iOS app [PFUser enableRevocableSessionInBackground].
I am getting now warning from AWS that says -

Message: Environment health has transitioned from Ok to Warning. 100.0 % of the requests are failing with HTTP 5xx.

I download the logs from AWS, and fou

[2016-09-17 15:09] flovilmart commented on #1392
@mmarshak can you open an issue for that please?

[2016-09-17 15:21] flovilmart commented on #1392
@mmarshak

The anonymous users should have a user.id set as well.

Also, ca you run with VERBOSE=1 so we have the full trace of the request/response for this  error?

[2016-09-17 15:21] mmarshak opened #2720 "handleUpdateToRevocableSession cause HTTP 500 error"
### Issue Description
I am using Parse server 2.2.19, and Parse client SDK 1.14.2 on iOS app.
Parse server is hosted on AWS using Elastic Beanstalk, where I have NGINX as load balancer, and Parse server running on EC2. The mongoDB is hosted in mLab.

I had an iOS app that connected to api.parse.com that did not used revokable session.
We released a new version of the app that is now connected to P

[2016-09-17 15:24] flovilmart commented on #2720
Thanks for reporting it, can you run with VERBOSE=1 so we can see what type of request is yielding that error?

the auth.user should not be undefined as the case should be handled here:

https://github.com/ParsePlatform/parse-server/blob/master/src/Auth.js#L89

[2016-09-17 15:25] mmarshak commented on #1392
I opened a new issue for this #2720.

[2016-09-17 15:51] mmarshak commented on #2720
Sure, I just run Parse server on my local host and I get the same issue with VERBOSE, see the log bellow.

To recreate the issue I run my app with Anonymous connected to api.parse.com with commenting out the call for [PFUser enableRevocableSessionInBackground];

The I modified the app to point to my local Parse server and uncommenting the call - [PFUser enableRevocableSessionInBackground];

And I

[2016-09-17 15:54] flovilmart commented on #2720
Interestingly, the sessionToken is not set but yet, it goes through with it. That's odd...

What's the response status from api.parse.com when calling that endpoint without a sessionToken?

[2016-09-17 15:55] mmarshak commented on #2720
How can I see the response status from api.parse.com when calling that endpoint without a sessionToken?

[2016-09-17 15:57] flovilmart commented on #2720
jUst run the same agains api.parse.com with https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/wiki/Network-Debug-Tool that will trace all requests/responses on your client

[2016-09-17 16:01] flovilmart commented on #2720
Alright found it: {"code":101,"error":"invalid session"}

[2016-09-17 16:01] flovilmart commented on #2720
working on a fix

[2016-09-17 16:03] mmarshak commented on #2720
That is great.

Does this error has any side effect on the client app?

[2016-09-17 16:05] flovilmart commented on #2720
it should not, as it's the same as what api.parse.com would return

[2016-09-17 16:17] flovilmart commented on #2720
As with the current version without the fix, that should not have any side effects. I'll try to get something released soon on npm

[2016-09-17 16:30] mmarshak commented on #2720
@flovilmart thank you again.

Do you have time estimate when your change will be released as part of 2.2.20?

I tried the follow experiment without your fix as follows
1) Use old app connected to api.parse.com
2) Upgrade to new version of the app with anonymous user and I get the error everything I launch the app, is this expected?
3) I login with an existing user and relaunch and I do not get the

[2016-09-17 16:54] flovilmart commented on #2720
Yes this is expected, the error will occur any time the call to that endpoint is made and the sessionToken is not set (anonymous user not saved, or no user at all).

It's definitely gonna be part of 2.2.20, and I'm trying to setup a way so the master is easily usable thought the package.json without the npm link/submodules dance.

[2016-09-17 16:59] mmarshak commented on #2720
Thank you for the clarification.

[2016-09-17 18:06] #2718 closed

[2016-09-17 18:26] mediaexpander commented on #337
Hi, is there a way to add those permissions automatically?

_"_metadata": { "class_permissions": { "get": { "*": true }, "find": { "*": true }, "update": { "*": true }, "create": { "*": true }, "delete": { "*": true }, "addField": { "*": true }, "readUserFields": [], "writeUserFields": [] } },_

I create an schema through the iOS SDK but they are not added (_SCHEMA class updated succesfully).

Tha

[2016-09-17 18:45] Ralphilius commented on #2104
I've tried what @phuna suggested above, and it worked, but sometimes it returned undefined in the Cloud Function as well.

[2016-09-17 18:47] mtrezza commented on #2104
Worked for me when enabling Keychain Sharing, as suggested by @mooshee in @takomborerwa's suggestion.

[2016-09-17 19:52] #2720 closed

[2016-09-17 21:45] JustK2 commented on #2542
Ours is working now...if @batkov is okay you can close this one.

[2016-09-17 21:45] #2542 closed

[2016-09-17 21:46] flovilmart commented on #2542
@JustK2 how did you resolve your issue?

[2016-09-17 21:58] wookiem commented on #2088
@hramos I've repeated the same testing after upgrading to parse-server to 2.2.18.  Still the same outcome as documented before (i.e, proposal 'create' and 'proposal' updates are not triggering subscription events when using query.containedIn).

[2016-09-17 21:59] JustK2 commented on #2695
[Stack question here ](http://stackoverflow.com/questions/39552110/parse-migration-client-to-client-push-notifications)- I've never implemented this or seen the current cloud code associated with our legacy Parse app. If you could please provide a sample that would be great.

Thanks.

[2016-09-17 22:11] JustK2 commented on #2542
We had a space in our config file. :/

On Sat, Sep 17, 2016 at 2:47 PM, Florent Vilmart <notifications@github.com>
wrote:

[2016-09-17 23:07] flovilmart commented on #2690
@caltv you should probably post that issue on the https://github.com/ParsePlatform/Parse-SDK-iOS-OSX

[2016-09-17 23:07] #2690 closed

[2016-09-18 00:59] flovilmart commented on #2628
Will be released with 2.2.20! Thanks for the PR!

[2016-09-18 00:59] #2628 closed

[2016-09-18 01:05] flovilmart commented on #896
We've added a schema cache a while ago, closing. Feel free to reopen if the issue persist.

[2016-09-18 01:05] #896 closed

[2016-09-18 04:30] ranhsd commented on #2238
Any news regarding this enhancement ?

thanks.

[2016-09-18 12:41] flovilmart commented on #2238
@ranhsd It's up for the taking :)

[2016-09-18 13:39] oazya500 opened #2727 "error: Error handling request: [TypeError: Object.entries is not a function]"
affter update to 2.2.20  i am gting this erorr

I am really want beforeFind function

error: Error handling request: [TypeError: Object.entries is not a function]
error: Uncaught internal server error. [TypeError: Object.entries is not a function] TypeError: Object.entries is not a function
    at Function.JSONFromQuery (/Users/aljazeeranetwork/Desktop/msegate/node_modules/parse-server/lib/Routers

[2016-09-18 14:24] flovilmart commented on #2727
Probably because of the babel polyfill removal.

[2016-09-18 14:34] oazya500 commented on #2727
I tryed  on the local and server is the same . so how I can fix it if it is babel polyfill removal

[2016-09-18 14:35] flovilmart commented on #2727
SO, I removed the polyfill to reduce runtime dependencies. In the meantime, alongside parse-server, your can install babel-polyfill `npm install --save babel-polyfill`; and just before `require('parse-server')` just add `require('babel-polyfill')` that should do the trick

[2016-09-18 16:47] #2727 closed

[2016-09-18 17:45] flovilmart commented on #2727
Updating to 2.2.21 will resolve the issue, please update and let me know if there is any issue.

[2016-09-18 18:19] oazya500 commented on #2727
thanks . it is works fine

I have another error when install but I am ignore it and it is not for this version it is show on version Before  this version . I do not remember when it occur  and still show to now

the error is

npm -g install parse-server
-

make: Entering directory `/usr/local/lib/node_modules/parse-server/node_modules/bcrypt/build'
  CXX(target) Release/obj.target/bcrypt_lib/src/b

[2016-09-18 18:21] flovilmart commented on #2727
That's not a problem, this is an optimized native version of bcrypt but we provide a js version

[2016-09-18 20:17] flovilmart commented on #2713
It's not supported yet, but a pull request would be highly appreciated.

[2016-09-18 20:22] flovilmart commented on #1877
I believe that should be resolved.

[2016-09-18 20:22] #1877 closed

[2016-09-18 20:25] flovilmart commented on #2606
I've had a chance to check against parse.com and the current state is misleading.

[code]

The current state of parse-server is compliant with parse.com, without the fetch it's in date format, and after fetch it's a string.

[2016-09-18 20:25] #2606 closed

[2016-09-18 22:32] #2502 closed

[2016-09-18 22:42] ryderjack commented on #2671
Hey @aliasad106 I'm having same issue. Can you point me to where the .ebextensions folder is? cheers

[2016-09-18 23:03] flovilmart commented on #2415
Closing as released part of 2.2.20

[2016-09-18 23:03] #2415 closed

[2016-09-18 23:13] devgeek27 opened #2734 "Specify password requirements on password reset"
Hi everyone

Is there any way we can set the password requirements for user on reset password? Like 8 characters minimum, 1 capital, 1 number, etc.

Thank you.

[2016-09-18 23:25] flovilmart commented on #1931
Please update to latest parse-server, as I can't reproduce (see the open PR). Closing for now, please reopen if the reproduction is not accurate with what you're doing.

[2016-09-18 23:25] #1931 closed

[2016-09-18 23:36] flovilmart commented on #1944
Closing as unable to reproduce with the default file adapter and a public serverURL set. Please update to the lastest parse-server version and reopen with more details if the issue persists.

[2016-09-18 23:36] #1944 closed

[2016-09-19 01:26] flovilmart commented on #2734
For now we don't have a password policy option. That would be a nice feature.

[2016-09-19 01:28] flovilmart commented on #2707
Yes, use the account liking, I believe digits would work with the Twitter Oauth,  or a custom Oauth adapter of your craft.

[2016-09-19 01:28] #2707 closed

[2016-09-19 01:28] #2708 closed

[2016-09-19 01:30] flovilmart commented on #2700
I believe revocable session tokens don't expire automatically by default. If there something you notice that doesn't work?

[2016-09-19 02:43] jashsayani opened #2738 "Reopened: Warnings: Unable to ensure uniqueness"
Re-opening: https://github.com/ParsePlatform/parse-server/issues/2699

The issue is not resolved for me. I am still seeing the warnings (there is no `@` in my password).

[2016-09-19 02:50] reidmweber commented on #2090
I'm seeing this issue on parse_server 2.2.19 connecting with the iOS/OS X sdk. Haven't tried 2.2.21 yet. I changed all of my installation saves to saveEventually().

I wasn't getting this error with the hosted version of parse.
I save the installation in AppDelegate here
[code]
To associate the user with the installation:
[code]

And then I set a few custom properties to mark when data was refresh

[2016-09-19 03:12] flovilmart commented on #2738
Closing, I reopened the other one.

[2016-09-19 03:12] #2738 closed

[2016-09-19 03:13] flovilmart commented on #2699
Is there any logs that mongo would provide so you can drill down that issue? That is highly unlikely to be an issue with parse-server itself, but probably with your authentication mechanism with mongo.

[2016-09-19 03:14] flovilmart commented on #2090
@reidmweber can you run the server with VERBOSE=1 please and report the full logs relevant to what you're noticing?

[2016-09-19 05:16] aliasad106 commented on #2671
@ryderjack  it's in your parse-server-example folder. on mac CMD+SHIFT+G  and enter .ebextensions

[2016-09-19 05:26] reidmweber commented on #2090
Wow. that filled up the logs fast. :)

Here is the verbose data:
[code]

Here is the iOS call:
[code]

[2016-09-19 06:29] riccardoch commented on #2700
Thanks for the response @flovilmart
Yes, I've noticed that the tokens, on my embedded devices, after a non-specified period, which is not connected to the "expiresAt" field, disappear and my devices are not able to connect to the server anymore. To solve this I've created a way (using cloud code) to create a new session token, when the old one stops to work.

[2016-09-19 08:58] ryderjack commented on #2671
@aliasad106 can't see it - happen to know how I can create one? Having issues since it starts with a '.'

[2016-09-19 09:23] andrew8712 commented on #1342
I think this should be included into the documentation/wiki.

[2016-09-19 12:18] flovilmart commented on #2090
That'S perfect! I'll have a look!

[2016-09-19 14:19] johncarter778888 opened #2740 "Local Parse Server Stop running after 2-3 hours"
### Issue Description

 I am using local Parse server and mongo db database on my own server.
 but my parse server automatically stop after 2-3 hours. i need to restart manually.

### Steps to reproduce

1. local parse server stop working after some time.

#### Expected Results
parse server should run continue.

#### Actual Outcome

local parse server stop working after 2-3 hours.

### Environment

[2016-09-19 16:24] flovilmart commented on #2090
@reidmweber submitter the RP, once it will be merged you'll be able to test it by pointing parse-server to `'parseplatform/parse-server#latest'` in your npm package.

[2016-09-19 16:27] majidhassan opened #2741 "request.user undefined in afterDelete hook"
I have two classes: Parent and Child. On the beforeDelete hook for Parent I delete all Child instances related to that parent:

[code]

Then I have an afterDelete for the Child class. In that afterDelete I get an undefined `request.user`. I also tried using beforeDelete just in case the problem was with the afterDelete.

I'm using parse-server 2.2.18.

Any ideas what's wrong?

[2016-09-19 17:21] swapnilgt opened #2743 "Unable to download file from the parse-server"
- [ ] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.

**I have not marked the above one as complete because I host my parse-server instance on a machine which is accessible using a global domain and not on any infrastructure provider like Heroku or AWS.**

### Issue Description
I have a parse-server hosted on one of the machines w

[2016-09-19 19:11] sitemart commented on #2699
Usually happens behind a proxy or if you are working locally without an active internet connection which is somehow weird to me.

[2016-09-19 19:11] sitemart commented on #2738
Usually happens behind a proxy or if you are working locally without an active internet connection which is somehow weird to me.

[2016-09-19 19:17] EricNetsch commented on #2740
the issue is most likely with the mongodb npm package. Downgrade it to "  "mongodb": "2.1.21","
This fixes the crash after 2-3 hours.
This is a duplicate issue from previous discussions on this repo.

[2016-09-19 19:20] jashsayani commented on #2738
I'm working locally but have active internet and no proxy or firewall.

[2016-09-19 19:23] sitemart commented on #2741
Why not use promises?

[2016-09-19 19:25] EricNetsch commented on #938
@gfosco
Confirming this issue using the GCS Adapter. This is a bug and this issue should not be closed. My files seek/ buffer fine on googles side but not as PFfiles. We wasted a ton of time migrating one of our audio apps. Is there any recommended fix for GCS Adapter ??

[2016-09-19 19:26] flovilmart commented on #938
Please open on the GCS adapter then. Did you enable direct access so your URL's go directly to the Google Cloud instead of the parse-server?

[2016-09-19 19:34] bourquep opened #2744 "/parse/requestPasswordReset returns 500"
### Issue Description

On my production parse-server environment, when users use the _Forgot my password_ function, parse-server started to return 500 a few weeks ago.

At first, it was intermittent but now it seems like every request to `/parse/requestPasswordReset` fails with 500.

On my development environment, which is an exact replica of my prod environment, those calls complete successfully.

[2016-09-19 19:58] flovilmart commented on #2744
The error is in `parse-server-mandrill-adapter/index.js:96:43` so you should probably contact the repository manager for that.

[2016-09-19 19:58] #2744 closed

[2016-09-19 20:06] mmazzarolo commented on #92
@flovilmart @gfosco @christianpbrink
https://medium.com/@mmazzarolo/parse-server-hidden-features-b4e86a236a7a#.ulc9jozhs
I wrote a post about this, just putting it here because it might help in my opinion (feel free to delete remove if it is considered spamming)

[2016-09-19 20:10] flovilmart commented on #92
@mmazzarolo that's real neat :) You know what would be even better? Exposing cleanly those tricks through a nice API (instead of loading the modules from the paths that may change :))

[2016-09-19 20:11] EricNetsch commented on #938
I will submit this under GCS Adapter repo. Direct access works but there is an authentication block. Thanks for the prompt response

[2016-09-19 20:15] mmazzarolo commented on #92
Yes, I agree.
Thanks anyway, you're doing an awesome job with parse!

[2016-09-19 20:19] flovilmart commented on #92
@mmazzarolo if you want to tackle, parse-server as API, go ahead :) that would be a real nice thing to have it in a programmable way.

[2016-09-19 20:24] mmazzarolo commented on #92
I'll probably give it a try as soon as I have some free time then.
I'll keep you informed ;)

[2016-09-19 21:31] flovilmart commented on #2743
can you provide the logs from parse-server when running with VERBOSE=1?

[2016-09-19 21:36] flovilmart commented on #2740
@EricNetsch we added a fix for the disconnection problems with mongodb, I don't believe this is the same issue.

Also, can you provide all the required informations? It's impossible for us to determine what the root cause could be. Downgrading the mongodb version is not a solution, as we use greenkeeper to make sure all dependencies updates are compatible.

[2016-09-19 21:47] flovilmart commented on #2709
Was it working like that on parse.com? If so, that's a bug that should probably be fixed :)

[2016-09-19 22:21] JeremyPlease opened #2745 ""invalid field name: _failed_login_count" from api.parse.com"
After upgrading to Parse Serve >= 2.2.19 and configuring `accountLockout` (from #2601) Hosted Parse API calls to `/login` or `/classes/_User` return:
`{"code":105,"error":"invalid field name: _failed_login_count"}`

### Steps to reproduce

1. Set [client key configuration](https://github.com/ParsePlatform/parse-server#client-key-options)  for  `accountLockout`.
2. Attempt to login with correct use

[2016-09-19 22:25] flovilmart commented on #2745
As we move forward, it's very likely those issues arise :) for those new features you should exclusively use Parse-server and parse-dashboard as parse.com wont get updated to support those.

[2016-09-19 22:25] #2745 closed

[2016-09-19 22:59] lastMove commented on #2630
Interesting questions. Actually, Parse is a complex project with a lot of SDK to maintains.
It would be great to have an Open, Governance quickly established. And It would be greater to have [Facebook](https://github.com/facebook) still involved in  maintaining/supporting and maybe governing this projet with the community.
@nlutsenko @drew-gross  @gfosco what are the plans ?
After Jan. 2017 will F

[2016-09-19 23:30] flovilmart commented on #2702
Can you try 2.2.21?

[2016-09-19 23:31] flovilmart commented on #2650
Can you try 2.2.21, that should be resolved.

[2016-09-19 23:34] dvanwinkle commented on #2702
@flovilmart Of course, but, this is a production app with over 1,000 requests per second. Is that released code or is it still in testing?

[2016-09-19 23:56] flovilmart commented on #2702
It's released, so it's supposedly working. Like any other project, you should probably deploy on a staging environment before deploying at large to all of your users and report back if the issue is still there.

[2016-09-20 02:34] flovilmart commented on #2700
Uhm what would be that period? the database's session tokens get flushed? that's very very odd.

[2016-09-20 03:01] tonycph opened #2748 "Reset password and email verification in Parse server using mailgun and AWS"
Tried to follow the instruction in documentation. But, still doesn't work. I think I miss something but I couldn't figure it out. I did post a question in stack overflow, but no one answers me, so I come back here to ask. My full question is here. http://stackoverflow.com/questions/39461246/reset-password-and-email-verification-in-parse-server-using-mailgun-and-aws

Thanks:

[2016-09-20 07:20] parseserverpush opened #2749 "I want add one field in database."
I want add one field in database. It it serial. Thanks All

[2016-09-20 07:55] riccardoch commented on #2700
The period is not the same, so I can't give you a precise answer.
On embedded devices I'm using **Restricted Session Token**, that is the only difference with other devices.

[2016-09-20 08:16] oyvindvol opened #2750 "Users getting multiple push notifications iOS"
I am getting reports from users that are receiving multiple push notifications (iOS users this far). Some users are reporting 3 notifications, some 2 notifications, and I (and several others) are getting 1 notification.
### Steps to reproduce
1. I am not quite sure how to reproduce this, as I am not experiencing this myself.
2. Create app that registers for remote notifications, and allows user (i

[2016-09-20 09:15] oyvindvol commented on #2750
I identified the installation of one of the customers that were reporting 3 push notifications. After filtering the Installation table for the deviceToken in that installation, I found 2 records in the database with the same deviceToken (so still a bit strange that the user got 3 push notifications?). The oldest installation was with an old version of the parse framework. I think I read somewhere

[2016-09-20 09:27] majidhassan commented on #2741
@sitemart It's possible to rewrite it using promises, but the current implementation should be working.

[2016-09-20 09:56] swapnilgt commented on #2743
I have tried running the parse-server by setting the environment variable VERBOSE=1 by doing `export VERBOSE=1`, but it does not generate any logs on failure of the downloading of the file.

[2016-09-20 12:17] flovilmart commented on #2749
I'm not sure I get your question.

[2016-09-20 12:19] flovilmart commented on #2700
How do you create those restricted session tokens. I've never used them myself.

[2016-09-20 12:40] riccardoch commented on #2700
To get a Restricted Session Token you need a working token. For example I create new tokens from my mobile app (the user has to be logged in) when I configure new embedded devices.
At first I get the current user session token, then I make a POST request to my Parse Server to get the restricted Session Token.

The resource where I found how to do it:
http://parseplatform.github.io/docs/rest/guide/

[2016-09-20 13:03] swapnilgt commented on #2743
Here are the logs for the request of the class objects which contains my file:

[code]

The problem here I see is that files have url with domain as `localhost`.  That is, probably, the reason for the behaviour. But, the question is that why is it putting the domain as `localhost` and not the global domain name. For reference, here is my index.js

[code]

[2016-09-20 13:51] flovilmart commented on #2743
You should set the publicServerURL option when initializing Parse Sever

[2016-09-20 14:21] zingano commented on #2654
I have tried enabling the direct access and I see no clear difference in my test times.

I'm trying to find out at App Dynamics why the massive difference between the call time and the sum of the execution times - https://community.appdynamics.com/t5/AppDynamics-Discussions/Difference-in-times-on-top-tab-entire-execution-time-of-a/m-p/22075/highlight/false#M7725

I'll attach a particularly egregio

[2016-09-20 14:28] flovilmart commented on #2654
@zingano the direct access only affects cloud code, by removing all HTTP calls and replacing them with JS direct calls. What are you running? still the same function?

[2016-09-20 14:31] zingano commented on #2654
My findTasks test calls cloud code. It's coming in pretty much the same with and without direct access.

[2016-09-20 14:32] zingano commented on #2654
@flovilmart - do you have any ideas about what could be causing the massive "wait time" above?

[2016-09-20 14:32] steven-supersolid commented on #2654
Could the total time be the time including waiting for response from the database etc.

[2016-09-20 14:34] Roost commented on #1020
I too am seeing some weird issues related to this topic. The issue occurs when calling cloud code from the express app functions, even if I pass the correct session token and data. Below is the function;

    app.post('/user-is-admin', function(req, res) {

        var sessionToken = req.user.getSessionToken();
        Parse.Cloud.run('userIsAdmin', { userId: req.body.userId }, {
            sessi

[2016-09-20 14:40] zingano commented on #2654
I haven't any slow responses from the database - at least, only one, not involved in that test, and any less than 150ms

[2016-09-20 15:24] aghakazem commented on #1890
I am trying to use the following code from my Parse Server instance on AWS. The success part works fine. It creates new account successfully. But, the error part fails. When I am trying to create a new account using the already exists one, It throws **'Parse\\ParseException' with message 'Empty reply from server'** to my application.

Parse.Cloud.define("createAccount", function(request, response)

[2016-09-20 15:40] mmazzarolo commented on #2741
Having a similiar issue: calling `Parse.Object.destroyAll(..., { sessionToken: mysessiontoken })` inside a CloudCode function doesn't propagate the the user to the `afterDelete` Trigger.

Parse-Server 2.2.18

[2016-09-20 15:48] craffenoux opened #2751 "[Please mark as closed] Unable to ensure uniqueness for usernames & Unable to ensure uniqueness for user email addresses"
**FIXED -> I FORGOT TO SET ?replicaSet=**
_Please mark as closed!_

### Issue Description

I'm setting up a parse server in local on my MBP. I did set up the index.js as following:

[code]
When I start the server running `npm start` i have the following warnings :
`Unable to ensure uniqueness for usernames` & `Unable to ensure uniqueness for user email addresses`
_The complete output is below._

_

[2016-09-20 15:59] flovilmart commented on #2654
Not really, if you time it manually with running the function itself with pure nodejs?

[2016-09-20 16:26] doender commented on #2189
@flovilmart Sadly I still found a related problem when including nested fields of an array of null pointers. For example, I have an object like `{'list': [null, null, null]}` and then query with include `list.field` I get:

[code]

[2016-09-20 16:31] flovilmart commented on #2189
Alright, that's for nested includes. Can you open a new issue please? This one fixes of 1st level includes

[2016-09-20 16:34] doender opened #2752 "Error querying nested includes of null pointers"
Using parse-server 2.2.21, I found a problem when including nested fields of an array of null pointers. For example, if I have an object like `{'list': [null, null, null]}` and then query with include `list.field` I get:

[code]

[2016-09-20 16:34] flovilmart commented on #2752
I'll have a look.

[2016-09-20 16:57] swapnilgt commented on #2743
Thanks. That worked!

[2016-09-20 16:57] #2743 closed

[2016-09-20 17:08] techyrajeev commented on #1392
Hi @flovilmart
Can you please tell me alternative to this in javascript parse sdk?
`logInWithInBackground(String authType, Map<String,String> authData)`

I want to enable google login.

[2016-09-20 17:31] mohdabdurraafay opened #2753 "`request.user` on cloud code is `undefined` with iOS 10"
We just updated our iOS codebase to iOS 10 as base SDK with Xcode 8 with Parse iOS SDK version '1.13.0' and Server version 2.2.17.

Is this issue with parse-server or iOS SDK needs an update with the iOS 10?

[2016-09-20 19:05] nargesaj opened #2754 "Parse server error code 202 throws ParseException with message 'Empty reply from server'"
Possibly related to issue #1890

I am trying to use the following code from my Parse Server instance on AWS. The success part works fine. It creates new account successfully. But, the error part fails. When I am trying to create a new account using the already exists one, It throws **'Parse\ParseException' with message 'Empty reply from server'** at application side.

Parse.Cloud.define("createAcc

[2016-09-20 19:18] all-iver commented on #2680
Bump on this - is there a quick or simple workaround?  We need to migrate very soon to allow users enough time to upgrade before the cutoff.  I can't in good conscience have users' plain text passwords be stored in log files on our instances.  But having logs is important too.

[2016-09-20 20:31] all-iver commented on #2680
Hey, thanks for the response - yes, I just updated to 2.2.21 and can confirm it still happens.  The first log message after I try to create an account is a beforeSave that contains the user's plain-text password.

[2016-09-20 20:47] acinader commented on #2680
ugh, i'm guessing that this is cause we're logging the params in the hooks.  I can cook up a failing unit test.

[2016-09-20 21:00] flovilmart commented on #2680
@acinader go ahead!

[2016-09-20 23:26] acinader commented on #2680
@flovilmart failing unit test: https://github.com/ParsePlatform/parse-server/compare/master...acinader:password-obsfucate-cloud-triggers

the first approach that comes to mind is to change logger.truncateLogMessage to logger.cleanAndTruncate....

And just search and replace on "password":"[^"]*"

thoughts?

[2016-09-20 23:28] flovilmart commented on #2680
@acinader that seems reasonable, I opened the PR with the failing test so we can keep track of the progress. any log for those should go through the cleaner :) Better perhaps, that should be at the loggerController level no?

[2016-09-21 00:23] GuichiZhao opened #2756 "Is this a good idea to set serverURL to localhost"
It seem serverURL is used for API call in cloud code,Is there any potential drawbacks to set it as localhost ?

[2016-09-21 00:35] flovilmart commented on #2756
There should not be any drawbacks, unless you can't communicate with your localhost. For publicURL for files etc.. you should set the publicServerURL.

[2016-09-21 00:35] #2756 closed

[2016-09-21 00:47] #2751 closed

[2016-09-21 01:12] flovilmart commented on #2754
does the error get log to the console on `console.log(error)`

[2016-09-21 01:17] nargesaj commented on #2754
It logs 'undefined' to the console.

[2016-09-21 01:19] flovilmart commented on #2754
I didn't notice: `function(user, error) { ` should be `function(error) {` promises callbacks usually take only one argument :)

[2016-09-21 01:43] nargesaj commented on #2754
Thank you. But, it then changes the error to

error: Error generating response. ParseError {
  code: 141,
  message:
   { status: 'Error',
     message: '202 Account already exists for this username.' } } code=141, status=Error, message=202 Account already exists for this username.

I am running parse-server-example. I was wondering if this error related to my parse server instance?

[2016-09-21 01:45] #2680 closed

[2016-09-21 02:02] flovilmart commented on #2680
@all-iver you can use: `parseplatform/parse-server.git#latest` if you can't wait till next release. Just pin to that version in your package.json.

[2016-09-21 02:05] all-iver commented on #2680
Great, thanks a lot for the quick fix!

[2016-09-21 02:56] flovilmart commented on #2754
Uhm ok...

[2016-09-21 03:51] ranhsd commented on #2238
@flovilmart  This change should be done in the DataBaseController.js right  ?

[2016-09-21 04:58] acinader commented on #2238
@ranhsd, I just poked around out of curiosity, I'd think that you'd need to add it first to RestQuery which will call find on the DataBaseController that will then use the MongoCollection.find (or postgress).  Would at least need to touch a comment in LiveQuery/QueryTools.js

This is just my quick look around.  Seems like following how skip and limit are done are good parallels since they are cons

[2016-09-21 05:37] jashsayani commented on #2699
I am still seeing this error - password has some special characters like `}{` and `a^` and `\1`, etc.

[2016-09-21 05:51] idefen1 commented on #2753
Apple rejected my latest app, says not compatible with IPv6 wifi? Please help =*(

[2016-09-21 08:56] YungMims opened #2757 "101 Object not found in Cloud Code"
Hi,

I'm having a strange problem with Parse-Server.

I get **sometimes** the following error:

It usually happen after an error in cloud code, in whatever function that use the object even if there is no update in it (like the following function that just doing a find but still create the bug if it fail for any reason like a bad code line). However I'm not sure this is the cause.

I have that sim

[2016-09-21 10:01] #2749 closed

[2016-09-21 10:04] parseserverpush opened #2758 "I want to add config in the push."
I want to add config in the push. like "GET". it is "limit" and "skip".

curl -X POST \
-H "X-Parse-Application-Id: xx" \
-H "X-Parse-Master-Key: yy" \
-H "Content-Type: application/json" \
 _**-G \
  --data-urlencode 'limit=10' \
  --data-urlencode 'skip=400' \**_
-d '{
  "where": {

    }, "data":{"data":{xxxx}}
}'\  http://localhost:1234/parse/push

Thanks All

[2016-09-21 10:30] ryanemax commented on #1981
https://github.com/ParsePlatform/Parse-SDK-JS/issues/328

I'm confusing with the same issue when saveAll() about 70 Object, need help.

[2016-09-21 11:25] khalilsarabey opened #2759 "Restricting access to only logged in users"
Hello Parsers !

I'm building a mobile app and I'm using parse as my backend for the first time, and for what I'm trying to do, users should not be able to see or do anything if they're not logged in except for registering logging in, and here's where the problem happens.

I know how this is supposed to be done so I'll describe it:

0. The class I'm working is "PrivateThreads"
1. I created a role

[2016-09-21 11:37] flovilmart commented on #2758
You can set skip and limit when building the query for the push notification, it should work correctly.

[2016-09-21 12:19] dvanwinkle commented on #2702
@flovilmart this is fixed in 21. Thanks!

[2016-09-21 12:19] #2702 closed

[2016-09-21 12:54] flovilmart commented on #2702
:+1:

[2016-09-21 13:00] parseserverpush commented on #2758
Can you get me an example ? Thanks.

[2016-09-21 13:17] oproulx opened #2760 "The SQL query text exceeded the maximum limit of 30720 characters"
Here is my cloud code source code:

[code]

This query:

[code]

Returns over 4000 users.

I get an error on the Parse.Push.send:

I contacted my MongoDB provider and they asked how the SQL query is formatted (that would make it explode beyond 30,000 characters) by this combination of queries:

[code]

How is the SQL query formatted by this combination and what is making it go over 30,000 characte

[2016-09-21 13:31] flovilmart commented on #2758
[code]

That should work I believe

[2016-09-21 13:40] parseserverpush commented on #2758
It is incorrect . i have been tried .

curl -X POST \
-H "X-Parse-Application-Id: xx" \
-H "X-Parse-Master-Key: yy" \
-H "Content-Type: application/json" \
-d '{
"limit": 2,
"skip": 1,
  "where": {
  }, "data":{"data":{xxxx}}
}'\  http://localhost:1234/parse/push

and

curl -X POST \
-H "X-Parse-Application-Id: xx" \
-H "X-Parse-Master-Key: yy" \
-H "Content-Type: application/json" \
-G \
--data-u

[2016-09-21 13:53] flovilmart commented on #2758
Hum ok, I'll reopen.

[2016-09-21 14:03] parseserverpush commented on #2758
@flovilmart  Can you help me please?. Thanks.

[2016-09-21 14:17] flovilmart commented on #2758
That would require a pull request.

[2016-09-21 15:08] parseserverpush commented on #2758
:(

[2016-09-21 16:21] jpv123 commented on #2759
I'm having a similar behaviour. I have a simple cloud code function that runs a query on a particular table.
[code]
 The ACL of the only row in that table is set to write for the user and everything else is off. All the read properties (The public and the row ones) are disabled. However the query is able to get the result with any valid session token of any user set in X-Parse-Session-Token

[code

[2016-09-21 17:18] jpv123 opened #2761 "ACL and CLP not working with Cloud Code"
### Issue Description

The issue is pretty simple. I have a table with only one row. CLP is completely disabled and ACL is also completeley turned off. I have this Cloud function
[code]

And once I run the cloud function I get this response

[code]

### Steps to reproduce

Please include a detailed list of steps that reproduce the issue. Include curl commands when applicable.

1. Create a table wi

[2016-09-21 17:36] jpv123 commented on #2761
Working correctly on 2.2.21. My mistake sorry. Closing this issue

[2016-09-21 17:36] #2761 closed

[2016-09-21 17:36] jpv123 commented on #2759
Mi issue is working correctly on 2.2.21. Sorry

[2016-09-21 20:15] flovilmart commented on #2699
@jashsayani can you update your password without special chars?

[2016-09-21 20:19] boparski commented on #136
@HananeAlSamrout Same here: what was the problem with the S3 adapter?

[2016-09-21 22:32] nargesaj commented on #2754
Ok. I installed local parse server by using the following steps:
1. Created an empty dir.
2. `$ npm init`
3. `$ npm install express --save`
4. `$ npm install parse-server`
5. Created an `index.js` config file with my options
6. Run `node index.js`

As you mentioned I changed  `function(user, error) {`  to `function(error) {`.

The success function works fine as before, but the error function still

[2016-09-21 22:35] flovilmart commented on #2754
Ok, it seems that the error is unproperly returned. I'll have a look

[2016-09-22 04:00] willyyang commented on #817
@w3care25 adding in the `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"` line still doesn't fix it. Any other ideas? thanks.

[2016-09-22 04:08] w3care25 commented on #817
If you have configured everythigng correctly. You may need to restart your server after adding this line.

If you  are still having this after  server restart, Could you please share you instance file code ( after replcing your confidential credentails with dummy details)?

[2016-09-22 07:36] MatVre opened #2763 "Password reset with mailgun not working"
I'm trying to get the parse-server password reset functionality working, but no success so far. This is my setup:

    var api = new ParseServer({
      databaseURI: process.env.DATABASE_URI || process.env.MONGOLAB_IVORY_URI,
      cloud: process.env.CLOUD_CODE_MAIN || __dirname + '/cloud/main.js',
      appId: process.env.APP_ID || 'APP_NAME',
      clientKey: process.env.CLIENT_KEY || 'xxxx',

[2016-09-22 07:52] lukelan commented on #2750
I had the same issue: 3 installation objects were created for the same device token. Check the image: http://i.imgur.com/FaREYDa.png

Parse server: parse-server@2.2.18
Operating System: (Redhat)
Hardware: (AWS)
Localhost or remote server? AWS

iOS SDK: 1.12.0

[2016-09-22 08:40] zingano commented on #2654
DIRECT ACCESS

OK, I have a few stats back from running the direct access and it does seem faster. I had to run it on real production so there was enough data to play with, and didn't see any glitches in the matrix. However I don't want to leave it on there until I'm confident (i.e. it's no longer experimental in a release) so those few tests are all I'm going to do.

Heroku - 3 2x dynos @1024MB,

[2016-09-22 09:00] zingano commented on #2654
OTHER TIMINGS

Here for comparison are a few tests across some of the configurations I've tried:

Parse.com
QUERY WITH MANY INCLUDES, run twice - 8.4, 5.4, 8.4, 6.1,
QUERY NO INCLUDES, run twice - 1.03, 0.87, 1.09
Dashboard stats - 15.76

Heroku - 3 2x dynos @1024MB, 8GB 8GB variable RAM shared tier database, session-affinity
QUERY WITH MANY INCLUDES, run twice - 12.8, 8.6, 8.6, 9.1
QUERY NO INCLU

[2016-09-22 09:43] MatVre commented on #2763
Ok I managed to solve it after hours of digging.

As it turns out the parse-simple-mailgun-adapter does not handle invalid Mailgun URLs.

Instead of providing https://api.mailgun.net/v3/***MY_DOMAIN***, I should have provided just ***MY_DOMAIN***. Appearantly the adapter will construct the url.

[2016-09-22 09:51] #2758 closed

[2016-09-22 09:56] steven-supersolid commented on #2654
Just a thought but Heroku 2x dynos are also shared so it may be worth trying with Performance M to see if you get a more consistent test time with dedicated dynos. I believe those have 2 CPUS so can safely use a node cluster option of 2.

NodeChef uses the RocksDB storage engine which Parse.com also uses I think. RocksDB or WiredTiger should give significant performance gains over MMAPv1. mLab off

[2016-09-22 10:04] zingano commented on #2654
One other quick question - I'm seeing three authentications a second on my database. Is that to be expected?

[2016-09-22 10:18] zingano commented on #2654
Thanks Steve - I thought that myself and tested Performance M briefly and didn't see what I hoped for. However, a while ago and things have changed since. I'm not set up to scale within a dyno, but I could at least test with one parse-server per dyno.

I think as my mLab comes via Heroku, I can't go to Wired Tiger. However that might be difference once I'm on M1 dedicated, I'll see.

[2016-09-22 10:21] zingano commented on #2654
And while this thread is active, what do people think the following do for performance?

1. Session affinity
2. Node version (I'm on 4.3 - worth trying > 6.0?)
3. Client SDK - both my apps are still on Parse.com SDKs

[2016-09-22 11:45] techyrajeev opened #2764 "Querying User with master key is not returning session token"
Running a cloned repository from parse server example.

https://github.com/ParsePlatform/parse-server-example
I am try to fetch the session token associated with an existing user using master key.
I am providing a user parameter such as email and want to fetch that user with its session token.
My problem is that I am not able to get session token with the user object received. I tried a lot but co

[2016-09-22 11:47] willyyang commented on #817
@w3care25 I have restarted the server but I am still getting the same results.

[code]

Hitting the sample `hello` function works but all of mine return the `XMLHttpRequest failed: \"Unable to connect to the Parse API\"--100` error.

Thank you very much for your help.

[2016-09-22 12:16] w3care25 commented on #817
backup you instance file and try following code

`var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var app = express();
var fs = require('fs');

var api = new ParseServer({
  databaseURI: 'mongodb://localhost:27017/dev', // Connection string for your MongoDB database
  cloud: '/home/myApp/cloud/main.js', // Absolute path to your Cloud Code
  appId: 'myAppId'

[2016-09-22 12:18] willyyang commented on #817
@w3care25 Im hosting this on heroku. Wouldn't `serverURL: 'http://localhost:1337/parse'` and `databaseURI: 'mongodb://localhost:27017/dev'` point to my local ?

[2016-09-22 12:26] w3care25 commented on #817
You can use Heroku credentials here

[2016-09-22 12:32] flovilmart commented on #1392
You need to use that method, with google as auth type and a map with the access token set as authData. Please refer to the documentation on the wiki, the authentication modules are pretty straightforward

[2016-09-22 12:39] techyrajeev commented on #1392
@flovilmart https://github.com/ParsePlatform/parse-server/wiki/OAuth
This one you are pointing about. I don't see any thing related to google login here.
I have reached at following point I have received google auth token and data after validation. Next I don't know what to do when user is new or user is returning.
Please guide me If I am wrong.

[2016-09-22 12:59] haydenbleasel commented on #2362
@flovilmart Sorry if I've missed something in this crazy thread, but I'm getting this on parse-server `2.2.21` and express `4.14.0` when someone tries to log in unsuccessfully:

[code]

[2016-09-22 17:46] joeyslack commented on #2753
@idefen1 Just happened to me. Hosted on Heroku, and it might be an issue with them. Where are you hosted?

[2016-09-22 18:17] hramos commented on #2740
Closing this out as it's missing critical information (e.g. logs). Happy to reopen when we haver more information.

[2016-09-22 18:17] #2740 closed

[2016-09-22 18:17] #2748 closed

[2016-09-22 18:19] hramos commented on #2753
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2016-09-22 18:19] hramos commented on #2757
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-09-22 18:19] #2757 closed

[2016-09-22 18:21] hramos commented on #2764
Can you remove the X-Parse-REST-API-Key header and try again?

[2016-09-22 18:21] #2763 closed

[2016-09-22 19:40] techyrajeev opened #2766 "custom credential verification for auth service google failed"
I have enable oauth support on parse-server.
I have set this in configuration of parse-server.
[code]

I am getting error like -
`custom credential verification for auth service google failed errorCode: 251
`

Flow is like this -

I have a separate server where I get auth token for google.
From there I form authData and link it to parse via rest api call.

Similar to this

[code]

Server setup:

[

[2016-09-22 19:51] hramos commented on #2764
The issue should have been [fixed in 2.2.17](https://github.com/ParsePlatform/parse-server/pull/2348), can you double check the Parse Server version you're using?

[2016-09-22 20:00] techyrajeev commented on #2764
I am using
[code]

[2016-09-22 22:57] flovilmart commented on #2766
What was the content of your auth data? Which keys did you set?

[2016-09-23 03:58] pushparajsamant commented on #2614
I read in this issue https://github.com/ParsePlatform/Parse-SDK-JS/issues/323   that it can also be a parse server issue that its not sending an Op Deleted when a pointer is deleted so how do I check if this is the issue.

[2016-09-23 04:35] techyrajeev commented on #2766
I had set authData to
{ "id" : ID'
access_token: token from Google
}

[2016-09-23 12:17] techyrajeev opened #2767 "Querying User with parameter like email or username gives error invalid field name: _email_verify_token_expires_at"
Every time when I sent query to fetch user created via oauth e.g google or facebook.
I get this error while fetching user
`invalid field name: _email_verify_token_expires_at`

and corresponding error code is

errorCode: 105

[2016-09-23 13:45] chadpav commented on #1174
I've migrated multiple startup/mvp app's from parse.com to AWS/mLabs. For the most basic instances I'm using the $15/mo shared plan at mLab's and a t2.small instance behind a load balancer from AWS. All of AWS (EC2, S3, LB, etc) is running about <$25/mo.

The nice thing about this is that I know it will scale when ready (the infrastructure at least). We are using Elastic Beanstalk node.js instance

[2016-09-23 14:41] parkej60 commented on #648
This all seems to be working great for me using jimp until the part where I try to set it to the object in the beforeSave hook. I see the images showing up in S3 and it comes back correctly. For some reason it just seems as if it's not updating the request.object. @rickkrauland  Was there something you had to do different then what is documented in @nitrag 's example?

[2016-09-23 15:09] dreamrulez07 opened #2768 "Parse.Cloud.beforeSave() giving errors in case I use .saveAll on objects, working fine otherwise if I save individually"
What I am trying to do here is, whenever a bill gets generated, I need to change the 'user' field with its pointer, I use 'phone' field to query the User table and get the pointer replace it.

Here's my code

[code]

[2016-09-23 15:15] parkej60 commented on #648
So... turns out that response.success doesn't want a string sent along with it. I removed "thumbnail saved" from response.success() and it worked.

[2016-09-23 16:08] flovilmart commented on #2768
Parse.Cloud.useMasterKey() is deprecated, please use the option {useMasterKey: true} when doing your saveAll or save(null, {useMasterKey:true})

[2016-09-23 16:08] #2768 closed

[2016-09-23 18:06] yuzeh commented on #2328
can we update the documentation so that this is noted? https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#database

[2016-09-23 18:23] JacobJT opened #2769 "mLab updating MongoDB to 3.2.X for all sandbox and shared cluster instances"
### Issue Description

Describe your issue in as much detail as possible.

mLab has sent out the following notice that they are upgrading their shared clusters and sandbox DBs to MongoDB 3.2.x.

The Parse-Server guide lists either MongoDB 2.6.x or 3.0.x as prerequisites.

If Parse-Server is not 3.2.x compatible, all apps (and test DBs) will need to be moved to single node plans which start at $180

[2016-09-23 18:26] flovilmart commented on #2769
parse is compatible with 3.2.x for a while now, it's part of the test suite. I update the documentation.

[2016-09-23 18:26] #2769 closed

[2016-09-23 19:11] acinader commented on #2328
Yup.  Will do.

[2016-09-23 19:28] flovilmart commented on #2328
@acinader, i updated already :)

[2016-09-23 19:28] acinader commented on #2328
:)

[2016-09-24 02:54] jashsayani commented on #2699
I am not sure if removing special characters from the password is a move in the right direction. Its generated by mLab and used by the hosted Parse solution for writing data thats sent to `api.parse.com`, and not having special characters in the password is a bad move.

[2016-09-24 08:25] dreamrulez07 commented on #2768
Made those changes. Now the code looks like this:

[code]

I am still facing the same issue. I am storing all the objects at once by using .saveAll() from the client side, but the .beforeSave() works only for the first one and I get errors for the remaining. Why is that happening? If I call .save() one at a time, then it works fine, but in case of .saveAll() it doesn't. Please check.

[2016-09-24 12:32] codebreach opened #2770 "Add a Wiki section/page describing new features in parse-server"
I don't have access to the wiki but feel this would be super useful. Below is my stab at it (which is probably be missing stuff). I can move it over to a blog or something if you dont want to put it in the wiki :)

# New Features in parse-server
These features are not available in Hosted Parse and never will be. We recommend you only use these after a full migration is complete and you start servi

[2016-09-24 12:47] bohemima commented on #2770
Excellent initiative!

[2016-09-24 13:30] zhangxiao918 commented on #2612
could you tell us how to implement this function as scheduling push.

[2016-09-24 14:51] flovilmart commented on #2699
I'm asking that to see if there is an encoding problem with the mondo DB URL. We pass that URL directly to the MongoDB node module and should not apply any transformation. Can you connect to the database with the same URL with the MongoDB node module?

[2016-09-24 15:01] srmurrayray opened #2771 "Sample Javascript Code for Calling Cloud Code on Localhost"
- [x] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.

- [x] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases

- [x] You've searched through existing issues: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue Chances are that your issue has been

[2016-09-24 15:24] flovilmart commented on #2770
We're in the process to reduce the content on the wiki, and expand the on in the docs repository. The two main benefits are

- better layout
- anyone can make a PR, which is not currently possible on GitHub wikis.

[2016-09-24 15:42] flovilmart commented on #2612
I'm not sure I'll be able to help with that, and also not sure we want to implement a scheduling engine at large at it implies many choices and it's likely not to work correctly in scaled environments.

[2016-09-24 16:04] fvimagination commented on #768
hi,
i've tried your code too and it prints results: success, but my ios 10 device doesn't receive any push notification. if i use the Parse Push system from back4app.com, for example, i get the push notif., so that means that my .p12 certificates for APS are correct.
Any suggestion about this will be greatly appreciated

[2016-09-24 16:12] acinader commented on #2612
There's really no need to put this functionality into parse-server as scheduling services already exist and choosing the right one for your environment is better than trying to build a good solution into parse-server.
You can use an existing scheduler like cron that can then call a cloud function to send your notifications.

In our case, we're on AWS Elastic Beanstalk, so it made sense to use AWS

[2016-09-24 16:27] acinader commented on #2771
Hi @	srmurrayray, I put an answer and a question on your stackoverflow question.  I'll keep an eye on it and try to help.

[2016-09-24 16:27] #2771 closed

[2016-09-24 17:17] hisham2007 opened #2773 "I migrated app database but still have 30 request constraint"
Dears,
 I use parse.com and I read that if I migrated database out of Parse, I will have more than 30 request per second. I didn't find this after migration . also background jobs are not working as good as before.

I started migration but the new service provider I migrated to is not as good as Parse so I need sometime to fully migrate.

Please advise.
Hisham

[2016-09-24 17:32] flovilmart commented on #2773
There is no limitation about the number of requests per seconds, but the performance will highly depend upon the infrastructure you're running, the server, the indexes on the database etc...

[2016-09-24 17:32] #2773 closed

[2016-09-24 17:34] #2196 closed

[2016-09-24 17:34] #2616 closed

[2016-09-24 17:40] acinader commented on #2770
@flovilmart have you got an example repo that does docs in the way you're suggesting?  I could migrate some, but would like a blueprint :)

[2016-09-24 17:42] #2090 closed

[2016-09-24 17:43] hisham2007 commented on #2773
Forgive me this doesnt answer my question. I am not talking about open source parse server. I am talking about Parse.com.  I just migrated database only. I still have 30 request limit in parse.com

I searched for support on parse.com and they redirected me here so I raised my issue here

[2016-09-24 17:43] #1567 closed

[2016-09-24 17:51] flovilmart commented on #2770
here: https://github.com/ParsePlatform/docs

[2016-09-24 17:52] flovilmart commented on #2773
As long as you're running on api.parse.com you'll have that limitation.

[2016-09-24 18:31] hisham2007 commented on #2773
no. Parse.com displayed an ad banner to encourage developers to migrate database and said your limit will increase to 600

[2016-09-24 18:45] flovilmart commented on #2773
I'm not sure parse.com has in mind but that's highly unlikely that migrating the DB will increate your throughput without replacing your servers as well. Also, the suggested deadline to migrate away from parse.com was upon July 28th. I suggest you move as fast as you can to parse-server

[2016-09-24 18:54] #2005 closed

[2016-09-24 19:14] srmurrayray commented on #2771
No solutions there.....

[2016-09-24 20:13] StevenArmandLee commented on #768
@fvimagination make sure that you have enabled the push notification at the xcode and make sure you push it from iOS real device and the one receiving it also an iOS real device

[2016-09-24 20:31] fvimagination commented on #768
@StevenArmandLee Push Notifications is enabled in Capabilities, but if i send a push from the iOS Simulator to a real device, it should work, right?
Also, if i send a push from the same real device, shouldn't i still receive it?

[2016-09-24 20:43] jashsayani commented on #2699
Seems to be working with: https://github.com/rsercano/mongoclient

I believe it uses the Mongo node module.

[2016-09-24 21:05] flovilmart commented on #2699
Not the same version though, the module you suggest is using 2.1.18, we're at 2.2.10.

[2016-09-24 22:10] srmurrayray commented on #2771
I removed the "Parse.cloud = './cloud/main.js';" line.  Still getting the same 404 error.  Did not see any new answers on Stackoverflow.  I've scoured the web for answers of how to use Javascript to call Parse-Server Cloud Code.  Nothing other than the Parse-Server-Example/test which uses XHR, which I don't understand.

[2016-09-24 22:32] acinader commented on #2771
Alrighty, I'm pretty sure I can help you out.  I've got some questions: http://stackoverflow.com/questions/39665496/calling-locally-hosted-parse-server-cloud-code-with-javascript/39678505#39678505

[2016-09-24 22:48] neophob commented on #2620
any news?

[2016-09-24 22:49] flovilmart commented on #2620
See with @drew-gross I don't have commit access on that repo.

[2016-09-25 00:25] jagazee opened #2776 "2nd migration of parse server failed to retrieve files from parse backend"
**1st:** Migrated the parse server to aws using ElasticBeanStalk while  backend was mLab from the beginning of the project.Since no adapter was included, all the image files were stored on parse backend, while data in mLab.(e.g server_url: htt://parseserver-123 -env-xxx/parse)
**2nd:** For some reason the ec2 instance for parse server got terminated and we had to do one more round of migration.(e.

[2016-09-25 04:24] tonycph commented on #2660
I got this issue too

[2016-09-25 07:23] hramos commented on #2770
The wiki is being moved to http://parseplatform.github.io/docs/parse-server/guide/, please open a PR against the docs repo.

Feel free to open an issue against me to remove the wiki and redirect to http://parseplatform.github.io/docs/parse-server/guide/, it's on my todo list.

[2016-09-25 07:24] jenlai1345 commented on #2610
eb's classic load balancer doesn't support web socket. aws recently came out with application load balancer which support web sock which parse live query uses. You can be able to get Parse Live Query to work using Application Load Balancer but I have not tested it yet.

[2016-09-25 18:16] flovilmart commented on #2653
Closing has it's been merged to master and released to 2.2.22

[2016-09-25 18:16] #2653 closed

[2016-09-25 18:17] flovilmart commented on #2741
Prioritized for next release

[2016-09-25 18:18] flovilmart commented on #2682
@benishak did you make any progress on that?

[2016-09-25 18:18] flovilmart commented on #2650
@TAProgramming we just released 2.2.22, can you confirm the issue is gone with the latest version?

[2016-09-26 02:53] JongSeok-Kim opened #2778 "How would Parse Push work on Doze mode"
With Android M's Doze Mode, according to their doc, it will shut off network connectivity etc if left unused, how would the Parse push work?
Is Parse Push setting itself as high priority GCM?
https://developer.android.com/preview/features/power-mgmt.html

[2016-09-26 05:31] yingliangzhang opened #2780 "Error `installationId may not be changed in this operation` on `2.2.22` when update installation object"
Describe your issue in as much detail as possible.

After updating to Parse-Server `2.2.22`, my previously working code on `2.2.21` that just to update the `user` pointer on an `installation` object is not working anymore. Got following error:
[code]

### Steps to reproduce

Please include a detailed list of steps that reproduce the issue. Include curl commands when applicable.

1. Query an instal

[2016-09-26 07:44] SatishMotif opened #2781 "Parse - PFFile not accessible even after adding file key to azure settings"
Hello,

I have migrated my iOS app DB from parse to azure successfully.

I found where do I need to add file key and  I have added it to azure app settings but still, I am not able to access my old PFFile, when I am trying to get those file I am getting error like:

**Response status code was unacceptable: 404 (Code: 1, Version: 1.13.0)**

The new files which I have uploaded after migration those

[2016-09-26 08:20] haydenbleasel commented on #2767
Yep I get a similar thing on the Parse Dashboard:

[code]

[code]

"Failed login count" and "email verify token expires at" both occur.

[2016-09-26 10:11] kwstasna opened #2782 "PHP Delete and Update with error BAD REQUEST"
- [x] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.
- [x] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases
- [x] You've searched through existing issues: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue Chances are that your issue has been re

[2016-09-26 11:29] mohdabdurraafay commented on #2753
**Issue Description**

We just updated our iOS codebase to iOS 10 as base SDK with Xcode 8 with Parse iOS SDK version '1.14.2' and Server version 2.2.17. We observed that the cloud functions aren't having the `user` object in the `request` payload on the server which is being made by the iOS 10 compatible app.

**Steps to reproduce**

- Update your Mac with the latest Xcode 8.
- Then update iOS ap

[2016-09-26 11:29] mohdabdurraafay opened #2783 "`request.user` on cloud code is `undefined` with iOS 10"
**Issue Description**

We just updated our iOS codebase to iOS 10 as base SDK with Xcode 8 with Parse iOS SDK version '1.14.2' and Server version 2.2.17. We observed that the cloud functions aren't having the `user` object in the `request` payload on the server which is being made by the iOS 10 compatible app.

**Steps to reproduce**

- Update your Mac with the latest Xcode 8.
- Then update iOS ap

[2016-09-26 11:45] gohaneri opened #2784 "Custom Push Sound iOS10"
Hi all, after iOS10 upgrade the custom sound of my push notifications won't play anymore. When a push is received, default sound of IOS10 will be played.
Any advice?
Thanks!

[2016-09-26 12:18] flovilmart commented on #2783
Can you please provide the logs when running with VERBOSE=1 for those users that are missing?

[2016-09-26 12:25] flovilmart commented on #2783
Also did you try the suggested resolution here: https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/437#issuecomment-249507436

[2016-09-26 12:35] flovilmart commented on #2778
I should be s'en the a s high priority. Also note that the push adapters are not on that repository and follow different development tracks. Feel free to open another issue on https://github.com/Parse-server-modules/parse-server-push-adapter

[2016-09-26 12:35] #2778 closed

[2016-09-26 13:45] mman opened #2785 "2.2.22 breaks parse-server-mailgun module"
### Issue Description

I'm running stable version of parse-server with parse-server-mailgun module to send customized welcome and password reset emails. Worked fine since beg of August.

Since yesterday when I updated to the latest 2.2.22 the password reset emails are not being sent and parse server logs the following exception:

Downgrading to 2.2.21 and 2.2.20 does not help.

The password reset

[2016-09-26 14:13] nerakhon commented on #2544
Just a brief update, we've seen the same issue even with versions > 2.2.20

[2016-09-26 14:43] techyrajeev commented on #2767
These fields seems to be hidden fields. Even after lots of debugging I don't have any hints about their origin.

[2016-09-26 14:55] flovilmart commented on #2785
You should probably open that issue on the parse-server-mailgun repository and notify the owner of this problem. We removed babel polyfill to reduce runtime dependencies.

[2016-09-26 14:55] #2785 closed

[2016-09-26 14:57] mman commented on #2785
I was not sure where to file the bug so I chose both.

Issue reported against parse-server-mailgun as well: https://github.com/sebsylvester/parse-server-mailgun/issues/4

[2016-09-26 15:19] hramos commented on #2753
Are there any logs? e.g. an example of what the cloud function logs when it is called by an iOS 9 device vs an iOS 10 device? In any case, it sounds like this may be a SDK issue and not a Parse Server issue. You may want to open the issue against the iOS SDK's repo if you can reproduce this issue.

[2016-09-26 16:30] srmurrayray commented on #78
KWE's comment on how to populate a Parse database works great.  Small error though....  leave the "[" on the first line.

[2016-09-26 17:03] steven-supersolid opened #2786 "query include does not work as expected in conjunction with keys"
### Issue Description

Queries that include a pointer and select that pointer do not retrieve the pointer attributes.

### Steps to reproduce

Setup:
[code]

Verify data created correctly, including the pointer:
[code]
`{"objectId":"gVKtQt2lDE","gameScore":{"objectId":"GSdG0hSNgN","score":1337,"createdAt":"2016-09-26T16:37:14.107Z","updatedAt":"2016-09-26T16:37:14.107Z","__type":"Object","classNam

[2016-09-26 17:11] steven-supersolid commented on #2786
The issue seems to have been introduced in 2.2.20.
In 2.2.19 the result of the query is:
`{"objectId":"gVKtQt2lDE","gameScore":{"objectId":"GSdG0hSNgN","score":1337,"createdAt":"2016-09-26T16:37:14.107Z","updatedAt":"2016-09-26T16:37:14.107Z","__type":"Object","className":"GameScore"},"createdAt":"2016-09-26T17:00:56.365Z","updatedAt":"2016-09-26T17:00:56.365Z"}`

[2016-09-26 17:18] steven-supersolid commented on #2786
I've checked against 2.2.21 and the bug was not present in that version

[2016-09-26 17:23] flovilmart commented on #2786
Probably related to the refactor of the way we handle key selection that is now native on the driver and not in code.

[2016-09-26 17:26] #2752 closed

[2016-09-26 18:42] codebreach commented on #2770
Thanks for all the pointers guys! I will move this over to the docs repo :)

[2016-09-26 18:42] #2770 closed

[2016-09-26 18:50] universalqa opened #2787 "Push Functionality on Parse Dashboard Does Not Appear to be Working"
Our configurations have not changed for our Android dev app. However, somehow we are no longer  able to send push notifications to our devices from Parse's dashboard.

### Steps to reproduce

1. First, I confirm that all the registration information is present in the Parse database table for my app install:

{
	"channels": ["Breaking", "XXXXXX", "XXXXXX"],
	"localeIdentifier": "en-US",
	"appVersio

[2016-09-26 19:39] hramos commented on #2787
Based on your Environment Setup, it seems like you're not using Parse Server. We're only tracking Parse Server issues in this repo. You can file bug reports for parse.com issues at parse.com/help.

I still highly recommend that you migrate to Parse Server or another solution as time is running out.

[2016-09-26 19:39] #2787 closed

[2016-09-26 19:39] hramos commented on #2784
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-09-26 19:39] #2784 closed

[2016-09-26 19:40] hramos commented on #2783
Closing as dupe of #2753.

[2016-09-26 19:40] #2783 closed

[2016-09-26 19:42] hramos commented on #2776
For migration issues, it's best to open an issue with the [Parse team directly](https://parse.com/help). This issue tracker is specifically for tracking issues affecting the use of Parse Server.

[2016-09-26 19:42] #2776 closed

[2016-09-26 19:43] hramos commented on #2781
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2016-09-26 19:43] hramos commented on #2766
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2016-09-26 19:44] hramos commented on #2759
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-09-26 19:44] #2759 closed

[2016-09-26 19:52] flovilmart commented on #2780
Thanks for reporting the issue, I'll do my best to provide a fix ASAP.

[2016-09-27 03:26] MattiaConfalonieri opened #2789 "Help to understand parse-files-utils."
Hi, i need to transfer my parse hosted file,  now there is a solution:
the utility parse-files-utils, but i really don't understand how to use it.

I really don't understand which filesAdapter i have to use?
In my parse server i use mongo db and i save file inside it, i don't have a s3 or gcs account?

I don't understand what i have to do now!
Need i to put the old file in a new s3 or gcs space in

[2016-09-27 03:27] flovilmart commented on #2789
Please open on the relevant repository

[2016-09-27 03:27] #2789 closed

[2016-09-27 03:28] MattiaConfalonieri commented on #2789
i have do that but the relevant repository seems abandoned.

[2016-09-27 07:19] SatishMotif commented on #2781
Hello Hramos,

Thanks for jumping in.
This issue is related to migration from Parse to Azure, I am not getting that what kind of other information do you need as i have already provided it.

[2016-09-27 10:13] jimmyzzzzzzz opened #2790 "Can I use compound unique index in parse?"
According to https://www.parse.com/questions/unique-fields--2 I thought unique key was not possible. Now I'm hosting Parse with Mongodb on my own server and I can easily create compound unique indexes in mongodb. Can I safely enable this feature in my production database?

[2016-09-27 12:47] kkgelu commented on #2660
Seems it sends two emails each time when logged in with Facebook. The emailVerified filed is set to true when the link the later verification email is clicked. When logout, the emailVerified remains true. Login again, the emailVerified is set to false again, and emails are sent again.

[2016-09-27 13:37] kumarpranav commented on #37
@OxyFlax Can you please post your solution/ fix done?

[2016-09-27 14:54] techyrajeev commented on #2764
Any one tried to recheck this issue yet? Is it in new version as well or only I am facing this issue?

[2016-09-27 15:03] techyrajeev commented on #2766
Update the issue with all necessary details.

[2016-09-27 15:50] steven-supersolid commented on #2764
How does this work on parse.com with revocable sessions?

I recommend in your dependencies that you use an exact version of parse-server - this will clarify in which version the bug occurs and also you won't  get any surprises when a new version is released.

[2016-09-27 15:55] steven-supersolid commented on #2790
The parse question/answer is from a while ago and refers to setting a unique index via code, which is still not possible.

You can of course set unique indexes at the database level which will cause an error when updating but that should be safely caught by parse-server and returned as a parse error.

I do this in production and parse-server enforces some unique indexes on _User so it seems safe e

[2016-09-27 17:57] cleever commented on #2780
Same case here.

[2016-09-27 20:35] EricNetsch commented on #2152
please add sound:default to the dashboard code. This is how it worked on hosted parse.com

[2016-09-28 00:06] arikog opened #2793 "Parse Carthage updates error"
Describe your issue in as much detail as possible.

In efforts to migrate my server, I was trying to update my Parse framework to the latest version. I didn't use Carthage when I first built the app to get the Parse framework, however, for this update, I decided to use Carthage. Using the instructions given for using Carthage, I added the necessary code to my Cartfile and ran "carthage update" suc

[2016-09-28 02:43] zh-wowtv opened #2794 "How to contribute my parse-server-module?"
I'd like to know how to contribute my own adapters such as mailer, push notification to parse-server community? What should I do?

For example, I have an mail adapter:

https://github.com/zhouhao27/parse-server-simple-nodemailer-adapter

How am I supposed to contribute it ? Thanks.

[2016-09-28 03:57] zenithanu opened #2795 "$select with query not work"
### Issue Description

Queries that contain a $select query on pointer fields always return empty result - unable to handle inner $select query.
### Steps to reproduce

**Setup**
There is a user, a quiz belonging to the user and some game records of that quiz:
User:

[code]

[code]

Quiz - owner points to above user:

[code]

[code]

Game record - of above quiz:

[code]

[code]

**Problem**
Below

[2016-09-28 04:01] flovilmart commented on #2794
Thanks for creating those modules! We are striving to make the parse community stronger and your modules are doing just that!

Just release them on NPM, add the proper keywords and you'll be good to go! If you want to get them added to the wiki, please provide all package names as well as a short description of the modules!

[2016-09-28 04:01] #2794 closed

[2016-09-28 06:34] newdev7 opened #2796 "Parse server crashes when accessing the file"
My parse server hosted on heroku crashes while accessing file occasionally. From the log it looks like it crashes when the file is access multiple times without interval.

Any pointers would be appreciated .

[code]

[2016-09-28 08:41] yorkwang opened #2797 "using GridStoreAdapter, where should I put all users files after migration?"
I just migrated database from parse to my own mongoDB.
All user's file urls are like below in the new mongoDB:
http://mangabir.com:1337/parse/files/mangabird/tfss-5654de28-3768-44de-89fc-f9741087b94f-file

Then, I have downloaded all files from parse s3 using parse-files-utils, all files are saved in ~/parse-files-utils/files/downloaded_files, and my parse server's url is http://mangabir.com:1337/

[2016-09-28 09:24] steven-supersolid commented on #2766
It looks like your curl is still hitting parse.com. Parse does not support custom auth unless you write it yourself, only Facebook auth.

Also where are you passing?
[code]
I do not see this in your server config. Your server should look more like the following if this were the case:
[code]
If it is, I would try removing the oauth option as it should not be required for google as this a default au

[2016-09-28 09:31] yorkwang commented on #2797
Maybe I should ask this question in a simple way: Using GridStoreAdapter, where does parse server save user's uploaded files to by default?

[2016-09-28 10:47] ranhsd opened #2798 "Deploy LiveQuery on google app engine"
Hi ,
My parse-server app is hosted on google app engine. Since my app needs real time capabilities i decided to go with ParseLiveQuery. I managed to install ParseLiveQuery on a different server (i use **redisURL** for this) and i wanted to know if it is possible to have the following setup:

1. parse-server runs on google app engine (works!)
2. redis run on google compute engine (works!)
3. ParseL

[2016-09-28 11:46] flovilmart commented on #2798
We'll be deploying soon live query to AppEngine. I'll let you know my findings.

[2016-09-28 11:47] kwstasna commented on #2782
Just for your info. In this case i get the error when my hosting service enabled SSL for the Port that i'm making the connection with the parse server. When I change the url from https to http it works fine.
Don't know why though!

[2016-09-28 12:42] ranhsd commented on #2798
Hi @flovilmart thanks! Really hope to hear some good news.. but meantime can you provide some hints or thoughts because i need it asap and if i will managed to do it i will also share it here.

Thanks,
Ran.

[2016-09-28 12:59] flovilmart commented on #2798
I added a CLI for live Query server in 2.2.22, in the mean time, you can run the live Query server on Compute Engine, just point the live query client to that URL.

[2016-09-28 13:17] ranhsd commented on #2798
Hi @flovilmart , on compute engine i managed to run it but if i want to **autoscale** it i think it's better to use the app engine.  I use the latest CLI for that and it works as expected so currently the only issue that i am facing is with the google app engine.
Meanwhile i will do it on the compute engine. If you managed to run it on the app engine it will be great...
So what i have currently is

[2016-09-28 13:33] flovilmart commented on #2798
Not sure how the autoscaling work on compute engine, I would guess by load

[2016-09-28 15:43] yorkwang commented on #1023
+1, It's a very useful feature.

[2016-09-28 15:48] yorkwang commented on #2797
Figure it out now. I shouldn't use GridStoreAdapter, but a filesystem adapter instead.

[2016-09-28 15:48] #2797 closed

[2016-09-28 16:34] MartinHerman commented on #2470
@tarekskr there is one option you have to pass when configuring the ParseServer object. It's pretty vaguely mentioned here: https://github.com/ParsePlatform/parse-server/wiki/Configuring-File-Adapters

You should set `publicServerURL` to the same as `serverUrl` - that will be used as the base url for Parse Files.

I had the same issue, it went away after I configured this.

[2016-09-28 17:32] fusion44 commented on #2515
@hramos The simplest way to trigger this problem is to send requests sequentially in an for loop. The first request actually returns the value but all subsequent values trigger the error mentioned above. Normally such a request should be batched together anyway but it shouldn't show an error message either.

The following code (AndroidSDK) triggers this issue:
[code]

[2016-09-28 21:52] nil8tor commented on #2780
Ditto

[2016-09-28 23:42] tarekskr commented on #2470
Will do! Thank you so much @MartinHerman

[2016-09-29 01:20] flovilmart commented on #2793
Unrelated to parse-server. Please open on the iOS repository

[2016-09-29 01:20] #2793 closed

[2016-09-29 02:06] haydenbleasel commented on #2767
@flovilmart Sorry to pull you on to this mate but this is seriously affecting things on production apps :S

[2016-09-29 07:49] SatishMotif commented on #2781
The code which i have written to initialise Parse(objective-c) is:

[code]

The issue i am facing with the code is:

 `PFFile *imageFile = [PhotoData objectForKey:@“photo”];`

Here PhotoData is an object of one of my image class in which i have stored image file. I am getting object of PFFile here but with this it also prints a log at console like:

**[Error]: Response status code was unacceptable

[2016-09-29 10:56] flovilmart commented on #2767
@haydenbleasel in that case, you should probalbly downgrade to an earlier version while a fix is being implemented, or isolate the error and propose a fix.

[2016-09-29 11:31] techyrajeev commented on #2767
I just wanted to inform that I have fixed it on my side. It is not a valid fix but I urgently needed to fix the issue since in my case it was occuring in production.
I had disabled email verification on self hosted server and after that it was working.
May be it could be helpful to find out the actual problem.

[2016-09-29 11:42] ratan93 commented on #2781
Hello Everyone,

 I am facing the same concern after migrating my data from parse to back4App. Here is details :

I just migration my App data from Parse to Back4App and followed the steps to set up back4App configuration. But now when I hit the Parse API with reference to back4App. It is continuously giving me following error: [Error]: The certificate for this server is invalid. You might be conn

[2016-09-29 12:23] mutex007 opened #2803 "too much logging from 2.2.19 with direct rest controller"
Hi,

I noticed this version logs the results of queries that succeeded and so on. This generates too much IO on our servers.

Could you please point me in the right direction where in the code i can disable this.

Note i have not enabled verbose logging.

Thanks.

[2016-09-29 12:26] w3care25 commented on #817
@willyyang were you able to fix your issue ?

[2016-09-29 12:29] willyyang commented on #817
@w3care25 I'm looking for another alternative still because I don't to buy a certificate

[2016-09-29 13:12] #2803 closed

[2016-09-29 17:43] techyrajeev commented on #2764
How do check the exact version of parse-server being used?
This is the output of
$ npm outdate
Package              Current  Wanted  Latest  Location
babel-preset-es2015   6.14.0  6.16.0  6.16.0  wlparse
babel-register        6.14.0  6.16.3  6.16.3  wlparse
cors                   2.8.0   2.8.1   2.8.1  wlparse
node-ses               2.0.0   2.0.1   2.0.1  wlparse
parse                  1.9.1   1.9

[2016-09-29 17:50] steven-supersolid commented on #2764
'Current' shows that 2.2.18 is currently being used but if you deploy to heroku or do npm install then you will get 2.2.22 which could lead to unpredictable behaviour. If you change your dependency to:
[code]
Then do npm install or deploy then you will always be on 2.2.22. I usually match my parse version to whatever parse-server uses, which can be seen in the parse-server package.json

If you wan

[2016-09-30 06:48] joanby commented on #873
I have a similar problem on this. When I start my parse server with npm I get this error when login in the parse-dahsboard and I can't see anything:

error: Uncaught internal server error. { Error: connect ECONNREFUSED 95.85.16.13:27017
    at Object.exports._errnoException (util.js:1036:11)
    at exports._exceptionWithHostPort (util.js:1059:20)
    at TCPConnectWrap.afterConnect [as oncomplete]

[2016-09-30 09:35] w3care25 opened #2805 "How to get notification when parse server down."
It There any way to send Email notification or any other notitfication to admin whever parse server is down?
@daaku @wasnotrice @subtleGradient @gdeglin @javache

[2016-09-30 15:43] richardgroves commented on #175
I'm seeing the same as @alioguzhan  and @kenkuan. Am using a hosted Parse server of version 2.2.19, calling from iOS SDK v.1.14.2 (from cocoapods)

and a query that worked against the original Parse service no longer works.

Key 'userAck' has a value of `[{"__type":"Pointer","className":"UserPublicData","objectId":"hkZD66uTV1"}]`

and before a query of:
`[query whereKey:@"userAck" equalTo:publicUs

[2016-09-30 15:49] skinp commented on #2805
@w3care25 what you want is called "Monitoring". There's literally 1000s of ways to monitor a web application and 100s of different services and products that can help you do that.

At Parse, we used a mix of pingdom.com and Nagios to email us when some parts of our system was down...

Although it could also be as simple as a cron job on another server that does a simple curl request and emails you

[2016-09-30 15:49] #2805 closed

[2016-09-30 16:24] benishak opened #2807 "[Feature Request] iOS 10 Push Notification allow to attach image"
now we can only modify the `alert` attribute
[code]

will be nice to modify the `data` attribute to include image or video ...

check this out
https://blog.pusher.com/how-to-send-ios-10-notifications-using-the-push-notifications-api/

[2016-09-30 19:16] mruizkogi commented on #2649
this will be fixed?

[2016-09-30 20:24] otmezger commented on #2238
+1 for this feature

[2016-09-30 21:10] EricNetsch commented on #1167
@drew-gross I am having the same issue on app engine. What was the specific fix ?

[2016-09-30 21:14] rowntreerob commented on #275
FWIW : native parse-server && std-parse-mailgun-adapter working fine in localhost / express testing..

mongo connected to DEV instance on mLab's cloud ( NOT localhost/mongo )

Details of node config ( using heroku's $HOME/proj/.env ) to inject local env...

[code]

[code]

[2016-09-30 21:54] kaveh-pogo commented on #2786
Hey guys - curious how this got past core unit tests?! Seems like a pretty core feature to break during a patch level release.

Our staging servers on AWS use ~versioning and during a scheduled AWS config update a couple of nights ago, we got bumped to 2.2.22 which broke a well-tested simple query of the form:

q.include("user");
q.select(["user","otherKey"]);
q.find

Love to get all the increment

[2016-09-30 22:02] flovilmart commented on #2786
@kaveh-pogo feel free to provide a PR to patch it, as well as the according unit tests to prevent further regression. We have many tests covering those use cases, unfortunately, side effects happen and we can't possibly test every single possible query.

And I believe the version was indeed rightfully numbered, bugs happen.

[2016-09-30 22:38] macmoe commented on #1705
I'm experiencing the same issue and have created https://github.com/parse-server-modules/parse-server-push-adapter/issues/40

[2016-10-01 02:32] johncarter778888 opened #2808 "Unable to access parseFile in android."
### Issue Description

[ I am using local parse server and mongodb database]
### Steps to reproduce
1. [access image file from android device]
#### Expected Results

[I want access Image File Stored in mongodb database]
#### Actual Outcome

[Image file in android device]
### Environment Setup
- **Server**
  - parse-server version (2.2]
  - Operating System:     [cent OS]
  - Hardware:

[2016-10-01 02:42] johncarter778888 commented on #2808
images accessible from api.parse.com but it give error from local parse server.

[2016-10-01 04:40] otymartin commented on #1167
@EricNetsch i never managed to get live queries working. its the only feature of parse that i couldn't wrap my head around despite weeks of debugging :(

[2016-10-01 07:53] kwstasna commented on #2808
On silly question... in  your index.js file have you setted up the parameter `fileKey` ?

[2016-10-01 12:52] ratan93 commented on #170
Hello Everyone,

   @KathleenFMalone, were you able to solve the concern of image loading with error : [Error]: Response status code was unacceptable: 403 (Code: 1, Version: 1.14.2)

Currently I am going through this issue as recently I migrated my iOS Application from Parse Server to back4app server and getting the above error with each file download, not able to get the data. So please help me o

[2016-10-01 17:03] EyesiM commented on #2622
I have the same problem in my projecct.After I delete the datas in my database on the dashboard,the parse server having been returning 400 bad request.I only use the example from the parse's website,but it always return the bad request.In addition,I didn't change my code and before I deleted my datas,I can change the data by my code successfully.Could you tell me how can you solve your problem?

[2016-10-01 20:45] FridaySG commented on #2807
This would have to a feature added via the iOS SDK would it not? And even then, you could just accept the data and generate a rich notification locally within the application itself (without modifying the SDK).

Correct me if I'm wrong, but if all it does is generate the rich notification by loading the media from the "attachment-url" key, then technically it's possible with the Parse-Server/Local

[2016-10-01 21:03] benishak commented on #2807
how can I add the `data` attribute? because we send push from server using NodeJS SDK with `Parse.Push.send` which allow us to pass the `alert` object or anything under `aps`.

[2016-10-01 21:03] benishak commented on #2807
I actually had to open this in the SDK repo not here. sorry my mistake

[2016-10-02 04:52] devKC opened #2812 "Parse User table doesn't update for just a specific user"
### Issue Description

[Parse User table is not updating for just one specific user. All other users are able to update their own User attributes.]

Describe your issue in as much detail as possible.

[I have a simple code to change a user attribute from False to True. When a user clicks a button, below code is ran. The "TorF" is set to false as default, and if users click the button it will chang

[2016-10-02 18:52] jried31 opened #2814 "Help Configuring Parse-Server with HTTPS in Express"
Running Express.js + Parse Server and trying to configure HTTPS on the Parse API route with the 'https' JS library.

Code Snippit:
var https = require('https');
....
https.createServer(config.certificate,app).listen(port,function() {
    console.log('parse-server-example running on port ' + port + '.');
});
// This will enable the Live Query real-time server
ParseServer.createLiveQueryServer(https

[2016-10-03 03:44] FridaySG commented on #2812
How are you checking the value? Via the Parse Dashboard?

[2016-10-03 04:05] devKC commented on #2812
Yes, I am checking the value via the Parse Dashboard.

[2016-10-03 05:30] yingliangzhang opened #2815 "Is there a way to continue to use /1 instead of /parse?"
Hi,

Just wondering is there a way to use /1 as the endpoint rather than /parse? That means I can use CNAME to switch the url pointing to my Parse Server so that users don't need to update the app again.

Thanks

[2016-10-03 05:44] #2815 closed

[2016-10-03 07:11] oallouch commented on #2238
I know MongoDB well and what would be great for me is a way to use mongo directly, with the aggregation framework and all. I know it's a lot a ask.

[2016-10-03 09:29] jried31 commented on #2814
Ended up using NGINX as the solution to my problem, however would you consider extending compatibility with the HTTPS library?

[2016-10-03 09:29] #2814 closed

[2016-10-03 10:25] Lokiitzz commented on #1023
+1, It would be nice.

[2016-10-03 11:33] johncarter778888 commented on #2808
yes....i alredy set fileKey  in index.js........................................but i dont know how to use fileKey in android

[2016-10-03 12:13] FridaySG commented on #2812
Try refreshing via your browser (F5) rather than the Parse Dashboard when you check the value. I noticed on my end that the values don't refresh when you refresh from the dashboard. Let me know if that works.

[2016-10-03 12:52] johncarter778888 commented on #2808
com.parse.ParseException: Download from S3 failed. Not Found

i am not using amazon  cloude ....still this is showing me s3 failed error

and i used filekey in index.js

[2016-10-03 13:06] kwstasna commented on #2808
There is no connection to your android app with the fileKey.
Could you please paste here your index.js WITHOUT your master key etc so we can see what you have done?

Also one thing. When you change something to your index.js i think you have to stop the npm and start it again :)

[2016-10-03 13:32] johncarter778888 commented on #2808
this is index.js file ...errased ip address port number .,,....and keys

var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var path = require('path');

var databaseUri = process.env.DATABASE_URI || 'mongodb://(ipaddress):(port)/PuneUniversity';

if (!databaseUri) {
  console.log('DATABASE_URI not specified, falling back to localhost.');
}

var api = new Parse

[2016-10-03 13:54] majd-kho opened #2816 "Restful key does not prevent creating new objects"
**Issue**
The exact issue is that I dont want restful API to be able to write new objects to  classes, so I set up a restful API key which i thought it would prevent any restful calls(a call that doesn't include the restful key) from writing any new objects, however, i am still able to do so(with or without the key).
### Steps to reproduce

 curl -X POST \

#### Expected Results

Not be able to cr

[2016-10-03 14:35] devKC commented on #2812
I just checked, and it's not Parse Dashboard related. Also, the the app is supposed to restrict the user from taking a certain action if "TorF" is changed to True, and I've confirmed that the user is able to take that action repeatedly without restriction.

[2016-10-03 14:47] johncarter778888 commented on #2808
tnx....problem solved.

[2016-10-03 17:52] flovilmart commented on #2798
@ranhsd also, did you connect directly to the instance with the provided IP/name you get with the reverse lookup?

[2016-10-04 00:32] zenithanu commented on #2786
Hi @flovilmart , can you please take a look at #2795 , not sure if it is of the same issue as this one. Thanks!

[2016-10-04 00:54] flovilmart commented on #2786
That's not the same issue, this issue is when using the `keys` through `query.select("key")` along side include to select only certain keys in the returned objects.

I believe your issue is when using the `$select` operator that does kind of a subquery on a certain key.

Is that right?

[2016-10-04 00:55] zenithanu commented on #2786
@flovilmart Yes exactly

[2016-10-04 03:11] parseserverpush opened #2818 "deviceToken Null."
I have build project with xcode 8 and device ios 10. In database it dont info device . example "deviceToken " , ""

<img width="240" alt="screen shot 2016-10-04 at 10 07 16" src="https://cloud.githubusercontent.com/assets/19681442/19061388/881adf46-8a1a-11e6-9c6e-d3224a9a92a6.png">

[2016-10-04 05:06] alexblack commented on #775
Was there a solution to this?  I'm facing the same issue against parse.com (not parse-server), with the same steps from above:

[code]

[2016-10-04 05:51] SatishMotif commented on #2781
Hello,

Can anyone reply here?

[2016-10-04 06:59] ratan93 commented on #2781
Hello Satis,
 Are you getting the same error? I resolved the above error by updating the _PFFileStateSecureDomain value with the new updated BaseUrl i.e. https://parsefiles.back4app.com . But currently I am stuck at the point :
[Error]: Response status code was unacceptable: 403 (Code: 1, Version: 1.14.2)

I need help on this. Do you have any information regarding this? It will be very helpful.

T

[2016-10-04 07:04] SatishMotif commented on #2781
Hi Ratneshwar,

Can you tell me that where did you update _PFFileStateSecureDomain ?

Thanks,
Satish Mavani.

[2016-10-04 07:08] ratan93 commented on #2781
Hey Satis,

It is in PFFileState Class of Parse.

Thanks.

[2016-10-04 07:59] SatishMotif commented on #2781
Thanks Ratneshwar for the information.

But even after changing the _PFFileStateSecureDomain there was no change in my error code.

[2016-10-04 10:19] steven-supersolid commented on #2786
Thanks Florent. I've tested the fix and also run against our integration tests to verify no new errors introduced for our use cases.

[2016-10-04 10:19] #2786 closed

[2016-10-04 10:58] steven-supersolid commented on #2816
Confirmed, e.g. start server with:
`npm start -- --appId appId --restAPIKey restAPIKey --masterKey masterKey --databaseURI mongodb://localhost:27017/dev`

X-Parse-Application-Id can be any value or omitted

A workaround is to start the server with all 4 keys: clientKey, javascriptKey, dotNetKey, restAPIKey
`npm start -- --appId appId --restAPIKey restAPIKey --masterKey masterKey --javascriptKey ja

[2016-10-04 11:25] flovilmart commented on #2816
Not sure either but there has to be a reason. There was a lot of back and forth on that piece of code. I'll check the history.

[2016-10-04 13:04] benishak commented on #2807
i think no change is required at all, the client must handle by pulling the attached image or video, this can be done easily

[2016-10-04 13:04] kgoedecke commented on #2671
@aliasad106 thanks, made my day! Simply created ```.ebextensions/files.confi``` as described and problem solved.

[2016-10-04 13:04] #2807 closed

[2016-10-04 14:14] LarryCollett opened #2819 "Deploying changes to index.js"
Hey guys,

When I make a change to index.js (or any other file for that matter) how to I restart the index.js on AWS to update the code. Right now I'm making changes to main.js for cloud code, but I'm still receiving the error - Domain=Parse Code=141 "Invalid function." UserInfo={code=141, temporary=0, error=Invalid function., NSLocalizedDescription=Invalid function.}. Thanks in advance.

[2016-10-04 14:29] gbrmachado commented on #2612
Is there a reason to keep the "scheduling pushes" session on JS SDK documentation? As it is not being used anymore...

[2016-10-04 14:59] prashanthmadi commented on #2781
@SatishMotif  not sure if i understood your issue.. Could you provide total url which you are trying to load.

Azure web apps by default doesn't allow few extensions.. check below SO post
http://stackoverflow.com/questions/11846689/use-svg-in-windows-azure-websites

[2016-10-04 15:34] otmezger opened #2820 "change language to email verification, password recovery (both: email and web)"
Hi, we are using parse-server with heroku. Is there a possibility to **change the language** of:

- email-verification email template
- password reset email template
- web templates for email verification and password reset.

Is there any kind of templates for this outside parse-server core?

thanks.

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) :

[2016-10-04 16:05] acinader commented on #2819
You'll need to restart node. The specifics of how you do that depends on your deployment.

[2016-10-04 16:05] #2819 closed

[2016-10-04 16:51] ConnorsApps opened #2821 "Push notifications only working on local server not on AWS Problem with server URL?"
When I put my app on AWS I replace the server url into the index.js. I have two apps going to one server but push notifications only works on a local server that has the same apps running on it. Here is what I have for the index.js.

[code]

 The url and app id I put in my app and it works fine on both apps. Here is what I have in my could code.

[code]

It does not give off a error message it jus

[2016-10-04 17:21] acinader commented on #2821
fyi, notifications work for us on aws.

In our config we use localhost for the server url in our production config.  I wish i could remember why off the top of my head if it comes back to me the rational, I'll add it here, but i suggest you try it.  We're running on a non standard port (so don't just copy and paste) our elb that front ends handles the https so we the url is just http....

``` serv

[2016-10-04 17:22] faizsameerahmed96 opened #2823 "Cloud Functions suddenly stopped working."
v 2.2.19

**DESCRIPTION**
Cloud code was working fine all the time. But for a certain time it stopped working. I am using the Android SDK and was getting the i/o error. I even updated to 2.2.21 (latest as of 4 Oct) and this was still occurring. Then I again reverted to 2.2.19 and the problem suddenly disappeared the next morning. (it crashed a few times after reverting). Why did this happen?

[2016-10-04 18:12] bohemima commented on #2823
Run with VERBOSE=1 environment variable and check the logs. There is nothing that can be _guessed_ out.

[2016-10-04 18:34] ConnorsApps commented on #2821
Ok thanks

[2016-10-04 18:34] #2821 closed

[2016-10-04 19:37] navjotjova opened #2825 "Frequently timeout Error ⁠⁠⁠⁠{"code":124,"message":"Request timed out"}﻿⁠⁠⁠⁠"
On every parse server request I got "⁠⁠⁠⁠{"code":124,"message":"Request timed out"}﻿⁠⁠⁠⁠".
(without migration)

Is this issue arise with anyone else.
blocker issue.
Please help if anyone knows the solution.

[2016-10-04 19:46] flovilmart commented on #2825
What do you mean without migration?

[2016-10-04 19:47] navjotjova commented on #2825
I have not migrated yet. I am still using parseapp.com. Since 5 to 6 hours we are facing this issue on 3/5 request.

[2016-10-04 19:49] neowill2013 commented on #2825
I'm also getting the same issue since morning.

[2016-10-04 19:51] navjotjova commented on #2825
@flovilmart
Is this issue from parse side?

[2016-10-04 20:04] flovilmart commented on #2825
Yeah it's likely to be. If you haven't migrated this repository is not where you should report issues. Also, note that you should probably run your migration to parse-server ASAP.

[2016-10-04 20:04] #2825 closed

[2016-10-04 20:51] nathan-charles commented on #2823
Same here the code below has suddenly stopped working

[code]

[2016-10-04 21:22] hramos commented on #2823
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2016-10-04 21:23] hramos commented on #2820
The templates are in parse-server itself, you can edit them in your own version of the server. AFAICT there hasn't been any work to remove these from core. Closing as this is more of a question rather than an issue.

[2016-10-04 21:23] #2820 closed

[2016-10-04 21:24] hramos commented on #2796
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2016-10-04 21:25] #2790 closed

[2016-10-04 21:27] hramos commented on #2812
There's no Parse Server version 1.15.2, as it starts at 2.x. At this point this seems like this question is better suited for Stack Overflow.

[2016-10-04 21:27] #2812 closed

[2016-10-04 22:02] devKC commented on #2812
I don't think that's fair. I accidentally put the wrong version, but nonetheless this is a Parse related issue. It has nothing to do with my coding as described above. I had a ^1.15.2 for parse-server in my package.json and forgot that node installs the latest version. I verified that I am running parse-server version 2.15.0, and have updated the post accordingly. I don't see how you can close thi

[2016-10-04 22:10] flovilmart commented on #2812
2.15.0 is not a parse-server version either.. the last version is 2.2.22

[2016-10-05 03:02] devKC commented on #2812
Thank you for the information. I updated to 2.2.22 and the issue still remains. Only the one user is unable to update his own User class. The code is as simple as I have described above and therefore I can't see how this could be an issue on the client-side, which is why I posted the question here.

[2016-10-05 05:35] SatishMotif commented on #2781
@prashanthmadi below is the URL which I am trying to load:

https://iconiqtestnewstr.blob.core.windows.net/parse/tfss-565fa927-8645-469c-93a0-a6e7d73376ea-file

[2016-10-05 06:19] techyrajeev commented on #2764
You are right.It seems to be a good practice which should be followed. Using this at least we can be certain about which version is being used.

[2016-10-05 07:26] zh-wowtv opened #2826 "Problem to import data from parse.com to parse.server hosted in Openshift"
I setup my parse server and mongodb in openshift which is working fine. I'd like to import old data from my parse.com application.

What I did:

1. Export data from my parse.com application. For example, here is the json file (Product.json) I exported:

{ "results": [
	{
        "createdAt": "2014-10-31T04:15:07.880Z",
        "difficulty": 2,
        "downloaded": 187,
        "file": {

[2016-10-05 09:37] bangersandflash opened #2827 "Swift 3 permission denied for _User class"
I updated an iOS project to Swift 3 today. I'm having issues with the PFUser object. In my iOS app if I try to fetch PFUser.current() in Swift the server returns the following error:
code=119, message=Permission denied for action get on class _User

If I call a Cloud Code method that accesses a user property e.g. request.get("age") it throws the same error.

I have another device running a previou

[2016-10-05 10:28] brianyyz commented on #2780
+1

[2016-10-05 12:21] zingano opened #2828 "Parse server does not escape spaces in PFFile URL"
### Issue Description

PFFile URL has non-escaped spaces, and then cannot be downloaded.
### Steps to reproduce

Use this code on a Mac OS X app running against the latest open source SDK to create a PFFile and examine its URL once created:

[code]

Running against parse.com the PFFile.url is
https://files.parsetfss.com/<snip>-My%20Test%20File%20With%20Spaces

Running against Parse Server the PFFi

[2016-10-05 17:08] talkaboutdesign opened #2829 "Objects not updated with correct data after modification in beforeSave function"
Describe your issue in as much detail as possible.

I am performing some functions in Cloud Code on beforeSave and modifying some of the object properties. In my particular case I am updating image width and height properties before the record will be created. I then set the new value using this code:

[code]

I then call Success in code in order to save the object like so:

`response.success();`

[2016-10-05 17:28] flovilmart commented on #2829
Are you running parse-server or on parse.com?

[2016-10-05 17:59] talkaboutdesign commented on #2829
I am running parse-server

[2016-10-05 18:17] danawhite commented on #2764
I've been wrestling for a few days with getting LiveQuery to work properly within my app. After reading the docs again, I was under the impression that it would only work for apps using JS SDK below 1.9.

 It seems as if my config is proper:

`server.use(
    '/parse',
    new ParseServer({
        databaseURI: DATABASE_URI,
        cloud: path.resolve(__dirname, 'cloud.js'),
        appId: APP_ID

[2016-10-05 18:27] flovilmart commented on #2829
Did you update Parse-server in the meantime? can you provide the logs when running with VERBOSE=1?

[2016-10-05 19:15] talkaboutdesign commented on #2829
Server is updated to the latest version. I see this in logs not sure if it's related:

`{"className":"Posts","triggerType":"beforeSave","error":{"code":141,"message":"Object is not saved"},"level":"error","message":"beforeSave failed for Posts for user undefined:\n  Input: {\"submittedBy\":{\"__type\":\"Pointer\",\"className\":\"_User\",\"objectId\":\"kC4EoOYFHc\"}}\n  Error: {\"code\":141,\"messa

[2016-10-05 19:43] talkaboutdesign commented on #2829
I have this set in new ParseServer function

`logLevel: 'VERBOSE'`

Is this correct?

[2016-10-05 19:52] talkaboutdesign commented on #2829
Verbose log when performing Cloud Code function:

[code]

I am running a local parse server on machine and connecting to online Mongo DB.

[2016-10-05 20:04] talkaboutdesign commented on #2829
The mongo error is fixed but here is the actual log when object is being saved.

[code]

I am setting image width, height, and colors from the image. Notice they are all there in the object log but the database entry is missing them.

[2016-10-05 21:19] bangersandflash commented on #2827
UPDATE:
I am having success retrieving a user with cloud code:
[code]
As a work around I'll call this from Swift instead of `PFUser.current()?.fetchInBackground...`

[2016-10-05 21:19] #2827 closed

[2016-10-05 21:48] pemenu opened #2830 "My account has been stolen and changed e-mail address"
My account in parse.com has been stolen and changed e-mail address. How do I get my account back?

[2016-10-05 21:55] flovilmart commented on #2830
You should contact the Parse at http://Parse.com/help

[2016-10-05 21:55] #2830 closed

[2016-10-05 22:18] AmbroiseCollon opened #2831 "Parse Server app structure"
My app is getting pretty big on the server side. All the main logic is on cloud code basically, organised by classes. I find it now a bit messy and I'm looking for a better app structure.

I have a very clean MVC on the iOS side with all my models subclassing PFObject. And I wish I had something similar to organise my app on the server side.

I hope this makes sense and I would love to share file

[2016-10-05 23:36] vkeepe commented on #2767
In my case disable did not help. I had to delete the field in mongodb to get it to work. This is the query I used and found my records. Went into records and deleted the field _email_verify_token_expires_at.

{
    "_email_verify_token_expires_at": {
        "$exists": true
    }
}

[2016-10-06 07:32] parseserverpush opened #2832 "Get Info GCM (senderID , AppID) in Pase.com"
I want to get info GCM in parse.com (senderID and appID). Thanks all.

[2016-10-06 07:37] wuwuqia commented on #2781
I worked together with Satish today and found the files, which are currently in an Amazon S3 storage, had not been migrated to Azure blob storage yet. The MongoDB had been migrated, but the files were not yet. That should be the cause of the 404 error from Azure storage blob.

We need to migrate all files from https://files.parsetfss.com/0844782c-8340-41f3-8ff6-2bd0c1a39eaa/* to https://iconiqtest

[2016-10-06 13:53] hash000000Beard commented on #2816
Confirmed, initializing with dotNetKey does in give the expected out come, thanks for your help.

[2016-10-06 15:58] steven-supersolid commented on #2816
Can we keep open? Key checking is not behaving as expected and shouldn't require a workaround. It is a security issue for anyone who doesn't specify all keys.

[2016-10-06 16:16] spiderguy84 opened #2836 "Unexpected Syntax Error Starting NPM Start"
I am trying to migrate my parse data.  I cloned the Server Example app, updated the url inside it with the mongodb address, and my master key, but I get this error with starting the `nam`
[code]

[2016-10-06 16:53] mignev commented on #2836
Hi ... would you please provide your index.js file in gist or something. It's sounds like a syntax error :)

[2016-10-06 17:05] spiderguy84 commented on #2836
`// Example express application adding the parse-server module to expose Parse
// compatible API routes.

var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var path = require('path');

var databaseUri = process.env.DATABASE_URI || process.env.MONGODB_URI;

if (!databaseUri) {
  console.log('DATABASE_URI not specified, falling back to localhost.');
}

var api

[2016-10-06 17:14] mignev commented on #2836
Yes ... just add `,` here:

masterKey: process.env.MASTER_KEY || 'MASTERKEYHERE'`,`

:)

[2016-10-06 17:14] EricNetsch commented on #2798
@ranhsd  I am about to try this solution and deploy it to app engine today. I'll post my findings here.

@flovilmart The example posted here pulls the external IP address for websocket use. You can see the suggested integration here

[code]

[2016-10-06 17:26] mignev commented on #2836
Okay :)

Just write this in your terminal:

[code]

and then:

[code]

:)

[2016-10-06 17:29] spiderguy84 commented on #2836
Thanks, that fixed it...now exactly what step would I now be on in migrating data?  Do I run the curl POST command from here in same window that NPM is running on to test, or do I do that from somewhere else.  The "simple" migration guide branches off in so many places at the beginning it's tough to keep straight.

[2016-10-06 17:41] mignev commented on #2836
Just use MongoChef for MongoDB (http://3t.io/) and export your data on your laptop and after that import it to your local MongoDB. I think will be the easiest way to do it :)

[2016-10-06 17:42] spiderguy84 commented on #2836
I already have the data migrated, and I see it in mLab in my Collections, it's all there.  I just can't figure out what all to do from here, as the CURL command Parse says to use to test comes up with syntax errors as well for missing ; before statement

[2016-10-06 17:44] mignev commented on #2836
I can't get what are you trying to do :)

[2016-10-06 17:46] spiderguy84 commented on #2836
Sorry, let me create a new issue on here so we don't keep a thread going with unrelated stuff.

[2016-10-06 17:46] mignev commented on #2836
:)

[2016-10-06 17:48] spiderguy84 opened #2837 "Verify Running Parse Server"
According to Parse Migration guides, after I get the server up and going I need to verify that it is working, they say this:

My only issue is that I'm not sure exactly where to run this from. Do I do it from the same terminal window after I start `mongo`, or do I run it from same terminal window after starting `npm`?  Where I have tried running it before, I get this error:

[2016-10-06 17:54] #2836 closed

[2016-10-06 17:58] mignev commented on #2837
I saw in your index.js that your app id was `Fritch Church of Christ`

Try in this way (one liner):

[code]

[2016-10-06 18:03] spiderguy84 commented on #2837
Ok, I tried that and didn't get any errors, but I also don't know if it was successful.  It didn't add it to the mLab mongodb that is set up, but I'm not honestly sure if it was supposed to.

[2016-10-06 18:06] mignev commented on #2837
Take a look is there new record in GameScore class/collection :) via MongoChef

[2016-10-06 18:18] hugoerg56 opened #2838 "APNS cannot find vaild connection for"
Testing the push notification adapter on heroku is working with Android, but on IOS get this (I supply a .p12 file):

[code]

Any idea what is missing?

[2016-10-06 18:21] mignev commented on #2838
Can't find 'cert.pem'

Error: ENOENT: no such file or directory, open 'cert.pem'

[2016-10-06 18:22] mignev commented on #2838
Btw ... please be careful with sharing your master and other keys :)

[2016-10-06 18:24] spiderguy84 commented on #2837
I opened up the Mongo collection and nothing new

[2016-10-06 18:25] hugoerg56 commented on #2838
thanks @mignev, so I need to include a cert.pem ?

[2016-10-06 18:26] mignev commented on #2837
Try with the right `X-Parse-Application-Id`.

Btw if you run the curl with `-I` argument will return response headers you you'll can debug easier :)

[2016-10-06 18:29] hugoerg56 commented on #2838
I say that b/c on the documentation i see:
[code]

say that cert is If not using the .p12 format. but im using a p12 file

[2016-10-06 18:37] spiderguy84 commented on #2837
I tried making change to correct ID, and running curl -I but it still didn't work and no headers came up.  Only thing I did notice is when I ran mondog, I got this:

[2016-10-06 18:39] mignev commented on #2837
Yes you are trying to run another MongoDB with port 27017 :) You should stop the other mongo ;)

[2016-10-06 18:43] spiderguy84 commented on #2837
I just don't know where the other MongoDB is being ran from.  Just booted up computer, went into Terminal and ran mongod, didn't do another thing.

[2016-10-06 18:55] spiderguy84 commented on #2837
Ok, I found the process killed it, and mongod now shows:

I then run the curl, but get nothing, including no headers. I am running:

`curl -X -I POST -H "X-Parse-Application-Id:APPID" -H "Content-Type: application/json" -d '{"HerCell":1337,"title":"Sean Plott","address":321}' http://localhost:1337/parse/classes/FritchDirectory`

[2016-10-06 18:57] chesterhawkins commented on #2837
Your APPID is "Fritch Church of Christ", right? Try replacing APPID with "Fritch Church of Christ" in the command above.

[2016-10-06 19:00] spiderguy84 commented on #2837
Ok, I had a typo in the App ID, so I fixed that, and then tried it again.  Finally got some feedback:

[2016-10-06 20:39] wsirota opened #2840 "_created_at and other date field comparison queries fail"
The following query returns 12 records when run against api.parse.com, and 0 records when run against my local clone of parse-server, both pointing to the same database:

[code]

Here is the json that is encoded in the query string above:
[code]
Steps to reproduce: run the above GET with Fiddler or Postman against any database with users in the createdAt range above. You will receive 0 users back,

[2016-10-06 21:57] danawhite commented on #1466
@hslorenzo in your code snippet, I notice that you have 'app' as the argument for createServer(). Should that be api for the Parse Server, which is an Express app or did you create another express app in your server.js?

[2016-10-06 22:02] cleever commented on #2780
@flovilmart Thank your for the pr.

Do you have any ETA to 2.2.23?

In my use case, I use to save the User pointer in this object to send push notification. (same case of @yingliangzhang)
Now, none of my recent installations is receiving push because of this,

[2016-10-06 22:12] flovilmart commented on #2780
In the meantime you should downgrade to the latest stable version for you

[2016-10-06 22:17] cleever commented on #2780
@flovilmart I've already done. ;)

[2016-10-06 22:39] vkeepe commented on #2767
If you have set this up "emailVerifyTokenValidityDuration". Remove it and see if this does any difference.

[2016-10-06 22:48] alexblack opened #2841 "Poor error reporting with parse-server, express and Rollbar"
From what I can tell, parse-server doesn't throw standard Javascript errors, see: https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Error

Instead it throws maps like this:

[code]

Standard error reporting solutions like AirBrake and Rollbar do not handle these well, making it impossible to find out what actually went wrong.

Instead code like this would work well:

[c

[2016-10-07 01:44] MobileVet opened #2842 "Pointing to custom choose_password.html file results in {"error":"unauthorized"}"
### Issue Description

On clicking on the 'reset password' link that is emailed, the user is forwarded on to a path in the Parse server that doesn't appear to have permissions set properly.

### Steps to reproduce

1. Setup *customPages* option on server setup (see below)
2. Request a password reset
3. Click on the link in the email:
`https://ourserver.com/apps/reimbursed/request_password_reset?to

[2016-10-07 15:16] devKC opened #2843 "Parse User class not updating for one user"
### Issue Description

[Parse User Class is not updating for just one user. All other users are able to update their records except one specific user.]

Describe your issue in as much detail as possible.

[If this question should be posted elsewhere, I would sincerely appreciate it if you could please explain why this issue is not appropriate for Parse-Server github.

**Client-side coding is done

[2016-10-07 20:18] lewellyn opened #2844 "413 Request Entity Too Large; 25 MB file upload"
### Issue Description

Using Parse Server 2.2.22, which should have the fix for #536 landed, we are unable to upload large files.

### Steps to reproduce

[code]

#### Expected Results

Successful upload, with a 200 response.

#### Actual Outcome

[code]

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 2.2.22
  - Operating System:     RHEL 7.2
  -

[2016-10-07 20:20] hramos commented on #2843
Closing as duplicate of #2812

[2016-10-07 20:20] #2843 closed

[2016-10-07 20:25] hramos commented on #2812
I closed #2843 as a duplicate of this. Instead of opening new issues, lets work together and see if this issue can be re-opened.

From what I can tell, you're describing a problem you've run into while using Parse Server. However, it does not appear to describe, as of this writing, a specific way in which Parse Server fails to work as expected. Perhaps I'm missing something. The best way to isolat

[2016-10-07 20:29] hramos commented on #2840
For various reasons, including legacy purposes, `api.parse.com` would accept string representations of dates when doing these sorts of comparisons. That is strictly not supported by Parse Server, and I suggest using the DateTime data type convention specified in the [REST API Guide](
http://parseplatform.github.io/docs/rest/guide/#data-types):

[code]

The above query should work as expected. Plea

[2016-10-07 20:29] #2840 closed

[2016-10-07 20:32] lewellyn commented on #2844
Of course, after submitting, I re-read the commit for #604 again. The docs state: "Max file size for uploads. Defaults to 20 MB." so I used `100 MB` for the option to `maxUploadSize`. Changing it to `100mb` allowed the upload to work. I expect I had missed a log message somewhere regarding that... Sigh.

Not closing it because it feels like there's some sort of bug here, even if it's just the docs

[2016-10-07 21:36] ranhsd commented on #2798
Hi @EricNetsch  - it will be great thank you ! I just wondering ... If we will be able to deploy LiveQuery to app engine it should autoscale the live query server automatically i assume because currently in order to scale it i use Redis with multiple compute engines so do you think that if the live query server will be deployed to GAE it will replace my current setup with Redis and multiple comput

[2016-10-07 22:16] flovilmart commented on #2798
On my side, we'll no longer use app engine soon. We're moving to container engine in the coming days

[2016-10-07 22:23] noder199 commented on #20
Is this feature cold turkey? I never hear about progress anymore, I am guessing once the fb guys stopped working on it nobody else took the gauntlet?

[2016-10-07 22:41] flovilmart commented on #20
The Postgres adapter lacks documentation but is covered the majority of tests. As for other database adapters, I don't believe it's the responsibility of that project to implement other of them. As always, we welcome contributions!

[2016-10-07 23:17] noder199 commented on #20
Sometimes I wish there was a bounty system on github to help reward contributors, I simply don't have the time to contribute. I would not mind putting some $ on the line for a google datastore adapter + documentation however. Not a lot but just for the sake of providing incentives. Anyway I digress, I will personally look into using the postgres adapter. If anyone can share their experiences using

[2016-10-07 23:43] jmdobry commented on #20
https://www.bountysource.com/

[2016-10-08 02:09] alexblack opened #2845 "Invalid legacy session token after ParseUser.enableRevocableSessionInBackground"
### Issue Description

Our Android users with multiple devices are permanently getting `code=209, message=invalid legacy session token` on all but one of their devices.

1. Users had several devices with our app installed
2. Our app was pointed at parse.com (not yet parse-server)
3. The users had a single ParseUser record, they were logged into it on each device, our app was not using revocable se

[2016-10-08 19:41] halvini opened #2847 "Secondary Reads"
We created 10 nodes with Parse Server and they killed our Mongo database's Primary.

Is there a way we can set set secondaryPreferred for the reads on parse servers otherwise the load will be put in the primary node?

[2016-10-08 22:24] alexblack commented on #1094
This got me too...

[2016-10-09 00:36] alexblack commented on #2845
We've been unable to repro this on iOS

[2016-10-09 11:11] natanrolnik commented on #2842
@mobilevet if you put any other file in the `/public` directory, can it be accessed? If not, maybe you need to allow express to use the folder like [`express.use(...)`](https://expressjs.com/en/starter/static-files.html)

[2016-10-09 15:45] LaBrie13 opened #2848 "Push notifications via REST"
I have a general question towards the push functionality:
Should this be usable in the meanwhile with an own parse server without usage of cloud code?
Asking because I am inserting records into _PushStatus via REST, but there is no message received on the devices. All described configuration steps are done so I am wondering if it should be anyhow possible.

[2016-10-09 15:48] bohemima commented on #2848
Sending a push is more than adding a row to that collection. You should be able to use the REST api to use the correct "/push"-endpoint if you supply the masterKey.

https://github.com/ParsePlatform/parse-server/blob/master/src/Routers/PushRouter.js#L8

[2016-10-09 20:18] lususvir commented on #20
At the risk of sounding dumb, what would the benefit of using the Postgres adapter over MongoDB be? I am on Heroku using Mlab and I've wondered if using Heroku's built in Postgres storage would be cheaper or have some other benefit.

[2016-10-09 20:22] danielchangsoojones commented on #764
yes, @jenlai1345 is right. The new code has not been deployed yet to the actual server, so the server still looks toward the past code. So, you just have to deploy it. If you are using Heroku, this is  how I did it. You literally just have to click a button.
1) go to the heroku online dashboard and click on your app.
2) got to the "Deploy" tab
3) scroll down to the "Manual Deploy" section and hit

[2016-10-10 00:36] drewrothstein opened #2849 "[wiki] initialize example needs small update"
### Issue Description

On: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide

Under: "Using Parse SDKs with Parse Server"

Swift code needs to change from:
[code]

to:
[code]

[2016-10-10 12:49] LaBrie13 commented on #2848
I have started the parse server with a sender ID and an API Key for android. The client app has been configured as described. Now I am using a curl:
`curl -X POST \
    -H "X-Parse-Application-Id: appppppidddd" \
    -H "X-Parse-Master-Key: mmmmaaasstteerkeeyyyy" \
    -H "Content-Type: application/json" \
    -d '{
          "where": {
            "deviceType": "android"
          },
          "d

[2016-10-10 12:50] bohemima commented on #2848
Looks ok, what does the parse-server say? Run it with VERBOSE=1.

[2016-10-10 13:00] LaBrie13 commented on #2848
server states:
POST /parse/push { host: 'myhostip:1337',
  'user-agent': 'curl/7.45.0',
  accept: '*/*',
  'x-parse-application-id': 'appid',
  'x-parse-master-key': 'masterkey',
  'content-type': 'application/json',
  'content-length': '213' } {
  "where": {
    "deviceType": "android"
  },
  "data": {
    "title": "Push Test",
    "alert": "Do you get the push???"
  }
}
response: {
  "response":

[2016-10-10 13:02] LaBrie13 commented on #2848
btw: in the google console I can see the GCM API is not used; I rechecked all the keys and the senderId to be sure, but everything looks fine. Still the message seems not to reach GCM.

[2016-10-10 13:26] rohit-romley opened #2850 "Parse.Relation fetching related object data"
http://stackoverflow.com/questions/39955488/parse-relation-fetching-related-object-data

I have a Class called commonWall and it is related to User class.

I have a column of type 'relation' to User in class commonWall named clubbedUsers.

I want to get the list of related users. What would be the appropriated code for that?

Below is my code.. but it is not working... it returns

{"_type":"Relati

[2016-10-10 15:07] ruimgoncalves opened #2851 "LiveQuery WebSocket server ignores enableAnonymousUsers and CLP"
LiveQuery WebSocket server ignores`enableAnonymousUsers = false` setting and allows an anonymous user to connect and subscribe to queries even if `sessionToken`is not passed.

The LiveQuery server should prevent clients from connecting if this setting is turned off, and make both servers work consistently. This also prevents the need of setting ACL on each document if the intent is only check for

[2016-10-10 16:02] MobileVet commented on #2842
@natanrolnik Think you are right.  I was able to get the files to render locally if I directly navigate to them by adding
[code]
Unfortunately that doesn't work for URL encoded parameters that are passed along to the `choose_password.html` doc.

I am very new to express, so any tips you could provide on pulling out the parameters and passing them to the rendered page would be greatly appreciated.

[2016-10-10 17:06] oazya500 commented on #1818
still occurring on 2.2.22 and 2.2.21
always my server show this error and restart

the error come after I develop push to my app

[2016-10-10 18:54] beckandbeckllc opened #2852 "My MasterKeys have been compromised."
Can someone please help me reset my Masterkeys for my parse apps? I have looked everywhere and cannot find the solution.

[2016-10-10 19:29] hramos commented on #2852
If you're using Parse Server, you can change the master key during initialization (check out the README, as it depends on how Parse Server is being used).

If you're using hosted parse.com, this is not the right place to get support. You can try https://parse.com/help

[2016-10-10 19:29] #2852 closed

[2016-10-10 19:29] hramos commented on #2848
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-10-10 19:29] #2848 closed

[2016-10-10 19:30] hramos commented on #2847
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-10-10 19:30] #2847 closed

[2016-10-10 19:32] hramos commented on #2826
I highly recommend using the Parse database migration tool. Closing as we're using the tracker for parse-server issues.

[2016-10-10 19:32] #2826 closed

[2016-10-10 19:32] #2823 closed

[2016-10-10 19:34] ConnorsApps opened #2853 "PushNotifcaitons not working when using different mountPaths"
I am making a few apps that all connect to the same parse server here is the code I am using in the index.js.

[code]
[code]
Everything works fine like calling cloud functions except push notifications. What is the correct way I should set these apps up with their own urls?

[2016-10-10 19:53] flovilmart commented on #2853
Multiple applications is not supported on parse-server (yet) so I highly discourage the workaround you're using in the first instance. Push  may not be working as multiple apps is not supported.

[2016-10-10 19:53] #2853 closed

[2016-10-10 20:07] turkenh commented on #437
I created this one: https://github.com/turkenh/ansible-parse
Actually I needed to migrate my game, which is in production, from Parse.
With the help of the scripts here, I migrated it easily.
Feel free to use it, any feedbacks welcome!

[2016-10-10 20:09] ConnorsApps commented on #2853
@flovilmart Is there any way to make this work? Is there a way I could make multiple applications supported and where would I start.

[2016-10-10 20:10] beckandbeckllc commented on #2852
Can you please give me a support email that I can contact?

Sent from my iPhone

[2016-10-10 20:32] flovilmart commented on #2853
There is no trivial way to make it supported. The only solution is to run your apps in different processes, on different ports

[2016-10-10 20:37] hramos commented on #2852
Visit https://parse.com/help for support.

[2016-10-10 20:38] hramos commented on #2852
Visit https://parse.com/help for support. If all you need is to reset your master keys, you can do so yourself by logging in to your Parse.com Dashboard.

[2016-10-10 20:55] beckandbeckllc commented on #2852
Can you please tell me how to reset it exactly? I don't see the option to do so?

I would greatly appreciate it!

Sent from my iPhone

[2016-10-10 21:21] lewellyn commented on #2649
Apparently new GCM keys cannot be created. How does one integrate Parse Server with GCM/FCM now?

[2016-10-10 21:36] thailey01 commented on #2649
Creating a project on the firebase console automatically creates the server
key and id you need. Just plug those in like you did with gcm

On Oct 10, 2016 4:21 PM, "Matt Lewandowsky" <notifications@github.com>
wrote:

[2016-10-10 23:02] lewellyn commented on #2649
Thanks. Will https://github.com/ParsePlatform/parse-server/wiki/Push be updated to reflect the FCM migration? Or is that a "patches welcome" thing? 😉

[2016-10-10 23:32] cleever commented on #2852
@beckandbeckllc What is your environment?

if it is a self hosted parse server from this repo, you could change at config or start level:

https://github.com/ParsePlatform/parse-server#running-parse-server-locally
https://github.com/ParsePlatform/parse-server#configuration

If it is on parse.com, you can change it at parse.com dashboard:
App Settings->Security & Keys.

[2016-10-10 23:53] beckandbeckllc commented on #2852
We recently ported from parse.com and are hosting mongo and the parse open source with another hosting company.

In this case, how would we change the masterkey? I tried on parse.com but remembered it's not hosted there.... can you please outline exactly how to change the master key in my case?

Would greatly appreciate the help!

Sent from my iPhone

[2016-10-11 00:05] cleever commented on #2852
Which hosting company is that?
Please, provide all the information required by the issue template:

"- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : [FILL THIS OUT]
  - Operating System:     [FILL THIS OUT]
  - Hardware:             [FILL THIS OUT]
  - Localhost or remote server? (AWS, Heroku, Azure, Digital Ocean, etc): [FILL THIS OUT]

Don't you have access to your ser

[2016-10-11 00:36] beckandbeckllc commented on #2852
We are hosting with Webair on a dedicated server. They only manage Linux CentOS.  I don’t know the answers to the other questions. The hosting team is not familiar with Parse, so if you could describe what files to edit, and how to change the masterkey/reflect the changes in code and mobile apps, I would greatly appreciate it!

[2016-10-11 00:56] cleever commented on #2852
In this case you can send the readme https://github.com/ParsePlatform/parse-server/blob/master/README.md to the hosting team.

All the information that they need is there.

Basically, they need to set env variables, or edit index.js (if the key is hardcoded), or restart with parse --masterKey NEW_MASTER_KEY param.
...Depending of their setup.

This task should be easy by managed hosting team.

[2016-10-11 01:37] zh-wowtv commented on #2826
@hramos I used the Parse database migration tool. But it doesn't work for me. Please refer to https://github.com/ParsePlatform/parse-dashboard/issues/550#issuecomment-252679393. Thanks.

[2016-10-11 01:54] alexblack commented on #2841
Maybe actual root cause is: https://github.com/ParsePlatform/Parse-SDK-JS/issues/326

[2016-10-11 02:54] alexblack commented on #2841
This seems to fix things up a bit:

[code]

[2016-10-11 06:26] tanujgirish opened #2854 "app.post on parse heroku server is unauthorized"
I am trying to post to my server from twilio, but I am getting a 403 error. Basically my parse-heroku serve is rejecting any request from twilio. I am working with TWIMLAPP and masked numbers. I am having trouble posting to a function in my index file when a text goes through. In my TWIMLAPP my message url is https://parseserver.herokuapp.com/parse/index/sms Any help is appreciated. These are the