[2019-10-27 11:51] mtrezza commented on #6156
@Aback231 when you cross post then it would be helpful if you included the link to your other post. It may save everyone some time.

[2019-10-27 12:37] rasool1994 opened #6161 "cant update Parse Role name"
i cannot update Role name in parse neither with parse dashboard or JS SDK!
[code]

[2019-10-27 13:00] saimoomsafayet commented on #6068
Hello @dplewis , Can you kindly look into this issue? If you can guide me on how to solve this issue then I can submit a PR.

[2019-10-28 00:17] dplewis commented on #6068
I should have some time this week to look into it. In the meantime you can get started with the following.

* Check out the [Contribution Guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md)
* Debug the [source code](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Storage/Mongo/MongoStorageAdapter.js#L759)
* Write a failing test [Aggregate Te

[2019-10-28 00:22] dplewis commented on #6128
You can try to update your `PARSE_SERVER_AUTH_PROVIDERS` with `facebook`, `oauth` etc.

https://docs.parseplatform.org/js/guide/#custom-authentication-module

[2019-10-28 01:36] dplewis commented on #6149
The aggregate endpoint returns different data for different queries. If you want ParseObjects you will loop though and create your own list of ParseObjects.

For implementation, your question would be better suited on stackoverflow.

[2019-10-28 01:36] #6149 closed

[2019-10-28 01:45] dplewis commented on #6140
Added PR https://github.com/parse-community/Parse-SDK-JS/pull/971 for point 1.

Closing via https://github.com/parse-community/parse-server/pull/6154

[2019-10-28 01:45] #6140 closed

[2019-10-28 01:59] mtrezza commented on #6153
IIRC `updateMany` does not return which objects have been modified. I cannot think of a way around this that would be scalable and maintain the performance gain of `updateMany` vs. updating individual objects.

So I think it can only be collective hooks like `beforeSaveAll` as @omairvaiyani suggested.

[2019-10-28 04:48] #6137 closed

[2019-10-28 05:14] dplewis commented on #6101
I agree with you but I don’t see where in the code a user can actually do this.

This isn’t true. You don’t need to create objects on the backend before you pin. All offline objects have a uuid that is used for handling data (as of 2.8.0).

I should update LDS docs.

[2019-10-28 05:24] davimacedo commented on #6145
I am afraid that it will not be possible. The data model of the two projects are completely different. Have you tried out our GraphQL implementation?
http://docs.parseplatform.org/graphql/guide/

[2019-10-28 05:32] davimacedo commented on #6161
Thanks for reporting. Do you receive any error when executing this code?

[2019-10-28 07:03] SebC99 commented on #6153
Just to give more details, directly using the existing updateMany method of the mongo Adapter results in 0.5s save for 5000 objects instead of 6seconds with the usual parse saveall method...
Of course I skipped the beforeSave, various controls, etc. but still, the gain could be huge.
One way would also be to activate it only if no declared beforeSave?

[2019-10-28 07:15] rhuanbarreto commented on #6101
@dplewis actually in Parse Server you can't set the user's `objectId` or `id` property. It gets an error on the following piece of code in src/RestWrite.js:

[code]

But even if I disable this validation, the Id is overwritten.

But how do you sync back the ID of the pinned object when you are online again?

[2019-10-28 11:36] mtrezza commented on #6153
I think `updateMany` has to be an additional method, it is unlikely that it can increase performance of an existing method.

That’s because `updateMany` only applies to a specific use case: apply exactly the same modification to objects that are selected by a query.

Parse SDKs currently have no comparable concept of mass modifying objects that are selected based on a query, in one single step. Fo

[2019-10-28 11:49] Tridie2000 opened #6163 "Build failed when building for MacCatalyst"
### Issue Description

When I enable MacCatalyst and try to run it on my Mac, the app doesn't compile.

### Steps to reproduce

- Open an app with Parse Server
- Check the MacCatalyst checkbox
- Run the app

### Expected Results

I expect the app to run on the Mac.

### Actual Outcome

The build failed with the following error:
[code]

### Environment Setup

- **Server**
  - parse-server version (

[2019-10-28 12:49] virtualtoy opened #6164 "ParseQuery.order is missing in beforeFind hook"
**Is your feature request related to a problem? Please describe.**
When I access query in `beforeFind` hook I cannot access order information.

**Describe the solution you'd like**
I would like to be able to retrieve order information.

**Describe alternatives you've considered**
So far I see no alternatives to this problem for now.

**Additional context**
Possible solution is to add order informa

[2019-10-28 18:16] dplewis commented on #6164
Sounds like a good idea. Would you like to open a PR for this?

[2019-10-28 18:19] dplewis commented on #6163
You can follow this issue [here](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1461). A fix should be out soon!

[2019-10-28 18:19] #6163 closed

[2019-10-29 00:26] dplewis commented on #6164
@virtualtoy There are a few query fields missing. If you want to get started, add your test cases [here](https://github.com/parse-community/parse-server/blob/master/spec/CloudCode.spec.js#L1758) and read the [Contributor's Guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md)

[2019-10-29 02:03] virtualtoy commented on #6164
@dplewis I'd like to but looks like I cannot run tests on windows. Let me resolve issue with tests first

[2019-10-29 11:36] AienTech commented on #6128
thanks @dplewis , but like I said, it doesn't work. Anyways I actually fixed it

[2019-10-29 16:14] Simone-cogno commented on #5138
This should be added to the breaking changes. Dot notation was very useful to specify modules names for example. For chance i found this post otherwise I had to spent a lot of time. At least it should be shown an error like "no special characters allowed in cloud function names".

[2019-10-30 07:50] AienTech commented on #6128
sure, I wrote [a quick solution comment on how I managed to handle it](https://community.parseplatform.org/t/custom-auth-on-docker-container/766/4?u=aientech). it's kind of pretty straight forward, but due to the lack of documentation, it makes it a little hard to find out what the problems are.

[2019-10-30 09:54] morndawn opened #6167 "Server crashes when downloading file"
### Issue Description

Server crashes when multiple people download the same file at the same time

### Steps to reproduce

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 3.9.0
  - Operating System:    Centos7
  - Hardware:             2CPU/512MB
  - Localhost or remote server? (AWS, Heroku, Azure, Digital

[2019-10-31 17:21] mtrezza commented on #6144
Wasn't able to reproduce the issue, closing for now.

[2019-10-31 17:21] #6144 closed

[2019-10-31 17:25] mtrezza commented on #6156
https://community.bitnami.com/t/unable-to-download-or-view-images-i-o-error/71400/6

[2019-11-01 01:02] febg commented on #1906
@drew-gross did you guys ended up adding any functionality for online/offline users? I need to detect user presence for a chat application. Do you have any recommendations on how to do it form a web application. If a user closes the browser window for example, I havent found a way to detect the user is gone.

[2019-11-01 02:13] dplewis commented on #6101
@rhuanbarreto The LDS can use some improvement. I once tried to more syncing options besides `await Parse.LocalDatastore.updateFromServer()`. I wanted to have an open discussion about it but lack of feedback. You can read it here https://github.com/parse-community/Parse-SDK-JS/pull/734

This among other unforeseen reason is why I personally am against this but I don't want to stop progress. I'd ra

[2019-11-01 04:50] thobhanifreddy opened #6169 "Authenticate user with OTP without password"
I want user to authenticate just using phone number and OTP.

My flow is something like this.

Sign up: Enter Phone -> generate OTP -> verify OTP -> success
Login: Enter Phone -> generate OTP -> verify OTP -> success

I saw there is a closed PR https://github.com/parse-community/parse-server/pull/5306 for this. I will definitely look at it later but right now I need POC app using OTP flow.

I was

[2019-11-01 04:55] dplewis commented on #6169
duplicate: https://github.com/parse-community/parse-server/issues/6152

This is a highly requested feature.

[2019-11-01 05:03] thobhanifreddy commented on #6169
@dplewis  I checked that issue before posting. I am not requesting feature(I mean not requesting  in this issue).

What I am asking is can I get it working in using Custom Auth? If yes, can someone guide me how?

(I will try to work on closed PR during university breaks)

[2019-11-01 07:37] thunderwin commented on #5521
Guys. how to solve this problem??? I have to install the newest SDK still won't work..   My find() method return a object  not a array.. wired..

[2019-11-01 13:19] kevflynn commented on #483
This doesnt' seem to work. Running locally, setting to null, it looks like the default value overrides and still sets to ./logs. Trying to get it up and running on App Engine Standard Env, and getting this error

[2019-11-01 13:21] dplewis commented on #483
silent:true, verbose false works for me

[2019-11-01 13:43] lordkkjmix opened #6171 "Parse-Server 3.9.0 d'ont start with babel-node"
### Issue Description

Hi, i'm faced with issue when use last version of parse-server and last version of babel-node.
I use it to use new es6 Js code structure in my cloud code.
I've aleready use it with old version of parse-server.
After install all dependencies, i got error linked with the new graphQl feature.
### Steps to reproduce

$ mkdir my-app
$ cd my-app
$ npm install parse-server express

[2019-11-01 13:47] kevflynn commented on #483
Thanks for the reply @dplewis

This is my config
`cloud: `${ROOT}/parse/cloud/index.js`,
  clientId: Config.parse.clientId,
  databaseURI: Config.parse.dbURI, // Connection string for your MongoDB database
  masterKey: Config.parse.masterKey, // Keep this key secret!
  serverURL: Config.parse.serverUrl, // Don't forget to change to https if needed
  javascriptKey: Config.parse.javascriptKey, // Do

[2019-11-01 13:49] kevflynn commented on #483
The problem is - that first call on Google App Engine crashes the server because it doesn't have permission to make those file writes

[2019-11-01 14:35] kevflynn commented on #483
So @dplewis - it looks like just importing the parse server module, instantiates configuration with default settings. Any way around this? So I think it's instantiating twice, once on important and once when you instantiate with your own config settings

[2019-11-01 16:32] kevflynn commented on #483
I think I found the problem:
This function: `function defaultLogger() {
  const options = {
    logsFolder: _defaults.default.logsFolder,
    jsonLogs: _defaults.default.jsonLogs,
    verbose: _defaults.default.verbose,
    silent: _defaults.default.silent
  };
  console.log('RETURNINGING A DEFAULT LOGGER: ', defaultLogger);
  const adapter = new _WinstonLoggerAdapter.WinstonLoggerAdapter(options)

[2019-11-01 18:00] dplewis commented on #6169
@thobhanifreddy It is doable in Custom Auth but I'd recommend using cloud code (that's how I do it). An example is in that thread I posted (cloud code), it will be almost the same with custom Auth.

1. Register Provider - this generates the code and you have to same it to the DB and send the code to the user (phone / email)
2. Custom Auth - Verify if the code is correct with username.

https://doc

[2019-11-01 18:00] #6169 closed

[2019-11-01 18:28] dplewis commented on #6171
Where are you hosted? If you are running node 8+ es6 functions are included (I think).

Have you tried without babel-node?

[2019-11-01 18:44] lordkkjmix commented on #6171
Hi i've tried without babel-node, it works but i need to use babel-node

Le ven. 1 nov. 2019 à 18:28, Diamond Lewis <notifications@github.com> a
écrit :

[2019-11-01 18:54] dplewis commented on #6171
@lordkkjmix This project compiles with babel [package.json](https://github.com/parse-community/parse-server/blob/master/package.json#L97) Trying to compile it again maybe your issue.

Why do you need to use babel-node? Let us know so we can find a solution.

I'm going to close this as it isn't an issue the project. We are more than welcome to help.

[2019-11-01 18:54] #6171 closed

[2019-11-01 18:58] dplewis commented on #6167
Can you provide steps to reproduce this?

We highly recommend using [AWS S3 Adapter](http://docs.parseplatform.org/parse-server/guide/#configuring-s3adapter). Its cost effective and better supported than GridFS.

[2019-11-01 23:29] aeolus opened #6173 "Exception handling in Websocket"
Hi, recently in our production environment, we seen exceptions from WebSocket (live query).

The explicit exception is from ws lib:

**RangeError: Invalid WebSocket frame: invalid payload length 126**

which caused our application to crash because apparently this has been escalated into an uncaughtException for the parse application.

Right now we have no idea about the root cause due to missing l

[2019-11-02 14:09] bahaa-kallas opened #6174 "Saving Array of Pointers Saves the Whole Object of The Pointer"
### Issue Description

When saving array of pointers each pointer saved along with the attributes of the referenced object
i noticed that there was already an issue open for this and then a PR applied and fix the issue
but it turns out that somehow its still exist
#6049

### Steps to reproduce

this code used to save Parent Object which have list of PostCategory as Array of Pointers
[code]

### Ex

[2019-11-02 21:43] dplewis commented on #6173
@aeolus You are right there isn't error handling.

Here is the PR for that feature. https://github.com/parse-community/parse-server/commit/218c3499f9323e007954faf58238f474691d337b#diff-464984cc0483db2f695a4c90c82c0d69

You can pass your wssAdapter into your parse server config

[code]

[2019-11-03 05:02] priyashpatil opened #6175 "How to pass config.json to docker"
How could pass parse-config.json to docker like parse dashboard

[2019-11-03 12:30] priyashpatil commented on #6175
Found list of environment variables
https://gist.github.com/priyashpatil/0afd30da8f0c483c47f5d39bbfa18e91

[2019-11-03 12:30] #6175 closed

[2019-11-03 19:22] aeolus commented on #6173
@dplewis thank you very much for your reply.  We are currently running parse-server 3.1.3 and try to move to 3.9.0 (need to update a few places but that's another story).

We run parse-server with Express, it is a little hard since I did not find a good way to troubleshoot websocket server exception or even handle/catch the error itself. With the newer version of parse-server, at least I have the

[2019-11-04 03:11] dplewis commented on #6173
If you have a web client, you can inspect the web socket connection and view the packets / frames.

Maybe you will find something.

[2019-11-04 03:55] dplewis commented on #6174
@bahaa-kallas this is a catch 22.

This discussion and change https://github.com/parse-community/parse-dashboard/pull/1223

If this breaks anything for you let us know.

[2019-11-04 09:18] rhuanbarreto commented on #6101
@dplewis PR created. We can move the discussion. Just give me the guidance on where the ID generation happens and I can make all the changes.

[2019-11-04 13:59] lybaiyy123 opened #6178 "How to prevent unregistered users or anonymous users from obtaining class data"
I look up the previous iusse list, but can't prevent anonymous users from getting class data

Is there any other way besides using role?

THANKS.

[2019-11-04 14:00] lybaiyy123 commented on #6178
Can I configure it in server config?

[2019-11-04 14:27] omairvaiyani commented on #6178
You can use either CLPs or ACLs (https://docs.parseplatform.org/rest/guide/#security)

[2019-11-04 19:15] #6047 closed

[2019-11-04 20:14] kevflynn opened #6179 "logger instantiates itself with default settings, causing crash on server environments that do not allow file write permissions"
### Issue Description

When you import the parse-server sdk, the logger file instantiates the file logger with default settings, causing the nodejs application to crash if the file system doesn't allow write permissions. This is irrespective of instantiating parse-server with custom config. The problem appears to be in the logger.js file on the line:

`let logger = defaultLogger();`

### Steps to

[2019-11-05 08:57] bahaa-kallas commented on #6174
Final Update :
everything is working fine, you can query the array of pointers always even if it shown in the dashboard as whole object saved or only pointer related fields
the problem is with parse dashboard and the most interesting fact that when you insert your data first it will be shown as whole object is saved but if you checked it afterward (closed the browser tab and reopen) you will see t

[2019-11-05 08:57] #6174 closed

[2019-11-05 18:13] dplewis commented on #6179
@kevflynn I just realized that your issue is your root folder is readonly.
`EROFS: read-only file system, mkdir '/srv/logs/'` in your case `/srv`.

### Steps to reproduce

1. Delete any `logs` directory.
2. make project directory read-only.
2. Import the parse-server module with express running
3. The nodejs/express server will crash because it can't create ./logs in a readonly directory.

If your

[2019-11-05 18:13] dplewis commented on #6179
@kevflynn I just realized that your issue is your root folder is readonly.
`EROFS: read-only file system, mkdir '/srv/logs/'` in your case `/srv`.

### Steps to reproduce

1. Delete any `logs` directory.
2. make project directory read-only.
2. Import the parse-server module with express running
3. The nodejs/express server will crash because it can't create ./logs in a readonly directory.

If your

[2019-11-06 08:06] mullwaden commented on #5393
We are having an issue with this and @ridem has made a perfect analysis of what is wrong. Would be fun to make a PR on how to fix it but I am not sure how, I believe it could be quite tricky.

Why it is important to fix:
- When adding a user to a role it might take up to an hour before the cache is reset and live queries work again
- when removing a user from a role she might have access to data w

[2019-11-06 08:08] mullwaden commented on #5839
Commented this in #5393 as well which I think has a better description of what is going wrong.

We are having an issue with this and @ridem in #5393 has made a perfect analysis of what is wrong. Would be fun to make a PR on how to fix it but I am not sure how, I believe it could be quite tricky.

Why it is important to fix:
- When adding a user to a role it might take up to an hour before the cach

[2019-11-06 20:15] SebC99 opened #6193 "Lots of calls to the cache to get Schema during the same query"
In a similar way than #6060, we tried to instrument our Parse-Server production server using AWS-Xray (we're using an Elastic Beanstalk stack), and it seems we do a lot of requests to the cache to load the schema for any single requests (it's very high for some cloudFunctions we have)

When looking at the code, an weird thing is that we often call the `loadSchema()` method then its fulfilled, we c

[2019-11-06 22:48] SebC99 commented on #6193
To give an example, each time the server receives a request, there's at least 4 `cache.get` operation for the `MAIN_SCHEMA`, 2 for the `_Session` object, then 2 for the `_User`.

Would there be a way to save the schema in the request or the database operation to minimize the number of call during one request/cloudfunction.

I have a cloud function, where we do 3 queries in parallel, each with one

[2019-11-06 23:24] SebC99 commented on #6153
I would add a `saveAll` case which would be an `insertMany` and not an `updateMany'. And a `deleteMany` too, as it would provide a way to remove and replace multiple objects at the same time allowing for much faster saving.

[2019-11-07 00:34] mtrezza commented on #6153
@SebC99 Sounds good, do you have a suggestion for the syntax? Since we already have a `saveAll`.

[2019-11-07 02:50] dplewis commented on #6193
I had an idea a while ago about a global singleton schema cache that gets updated every time a class / field is added or removed.

I believe the cache isn’t this way was to minimize side effects and they didn’t want too many change to the controller.

We could leverage redis pub sub or mongo change stream (real time mongo updates 3.6+) to reduce side effects.

Regardless a lot of rewriting would n

[2019-11-07 07:06] SebC99 commented on #6193
Not that big but each Schema find opération takes around 2-3ms so in the case above it’s 50ms on a cloud function that takes 80ms to perform...

[2019-11-07 07:12] dplewis commented on #6193
Feel free to add test cases so we know how many cache lookup you are using https://github.com/parse-community/parse-server/issues/6060#issuecomment-533384126

Besides that we need a solid solution. This problem is easily solved if a developer has 1 instance of parse server. But for multiple instances running against the same DB is what I’m trying figure out

[2019-11-07 08:08] drhuanliu opened #6195 "beforeSave() hook causes "Object Not Found" error"
### Issue Description

I just upgrade from Parse Server 2.7 to 3.9, and this new issue starts to happen:

- We save a bunch of PFObjects from iOS in bulk with PFObject.saveAll(inBackground: array.....
- In ParseServer, we have a beforeSave, and afterSave hook to do extra steps
- When saving more than one object, the server would return "Object Not Found" error

I trace the error to line 209 of Res

[2019-11-07 12:54] #6053 closed

[2019-11-07 13:18] SebC99 commented on #4678
I have the same issue, and with custom fields that are created by the aggregation pipeline, and not in the base Schema, the dates are not detected.
Modifying the `_parseAggregateArgs` method in the MongoStorageAdapter file to add a
[code]

[2019-11-07 15:11] shreeramk commented on #4054
@vitaly-t how do we connect to a postgres cluster using pg-promise? Could you please explain.

[2019-11-07 15:15] shreeramk commented on #4054
@vitaly-t does pg-promise supports multiple host connection since for replica, it would be required  or is there any other alternative ?

[2019-11-07 15:19] vitaly-t commented on #4054
@shreeramk pg-promise is neutral to this, it is the driver underneath that's expected to support it, as per [this issue](https://github.com/brianc/node-postgres/issues/1470).

[2019-11-07 15:39] shreeramk commented on #4054
@vitaly-t okay. Is there any other way? Like writing a wrapper?

Consider if a wrapper is written on top of [node-postgres](https://github.com/brianc/node-postgres), to handle separate connections to primary and multiple secondary's. Then, if I have total 5 nodes(1 - primary, 4 - secondary) that means using node-postgres i hv to create 5 separate connections. Would you recommend that?

Also, if an

[2019-11-07 15:43] vitaly-t commented on #4054
@shreeramk There is little I can suggest about it presently. And in any case, you will do better asking about it in that issue, and not here.

[2019-11-07 17:07] dplewis commented on #6195
If you remove the beforeSave hook do the objects save?
Does your objects exist in the DB?

[2019-11-07 17:40] drhuanliu commented on #6195
Yes, if I remove beforeSave hook, object saves and exists in DB.

I may have isolated the issue already. I added some logs, it seems that if one of the Number object field is 0, the this.config.database.create call will fail to return an object. I will upload some logs later tonight.

[2019-11-07 22:29] dplewis commented on #6193
@SebC99 How does this sound, we remove the schema cache in favor of a singleton object.

The singleton object will always be in sync with the _Schema class in the DB by leveraging the [PubSub Adapter](https://github.com/parse-community/parse-server/tree/master/src/Adapters/PubSub). This will method would mimic LiveQuery.

This method would support multiple instances if redis is passed in, remove a

[2019-11-07 22:38] acinader commented on #6193
sounds reasonable to me

[2019-11-07 22:46] dplewis commented on #6128
@AienTech I'm glad you figured it out. Would be willing to update the documentation?

[2019-11-07 22:50] SebC99 commented on #6193
So with multiple servers we would still rely on redis? I don't think redis is an issue anyway.

But in which case does the order of operations really matters? the only one I can think of is for the user cache. Sessions, roles and schema shouldn't be problematic even with a slight desync I guess.
So we could use a queue only for the user.

And then, queuing the get commands seems useless, and we co

[2019-11-07 22:54] davimacedo commented on #6193
It sounds like a good idea and I believe it will be a huge improvement in terms of performance. In most of the applications, the schema does not change that much and we are paying a high cost to make sure it is always updated. The PubSub should solve this problem.

[2019-11-07 23:28] dplewis commented on #6193
Yes for the schema fix I'm proposing. Most users already have live query with redis already. We could make it required for multiple instances. Single instance will just use event emitters.

I honestly haven't looked into session, user and roles cache optimization. The queue was built specifically for schema caching (will be removed). We can definitely look into it at some point.

Here is how it wo

[2019-11-07 23:35] acinader commented on #6193
Ideally, we wouldn't need to require redis.  Postgress has notify / listen and as you point out mongo has a mechanism for this too so we should be able to do without bringing redis into the mix?

[2019-11-07 23:41] #6179 closed

[2019-11-07 23:45] dplewis commented on #6193
I'm sure GraphQL has a similar feature too.

[2019-11-07 23:57] davimacedo commented on #6193
I think GraphQL will not help in this context since it is in the API layer. I'd go with our PubSubAdapter and we could, in the long run, provide multiple options. Im the beginning, we could offer Redis for multiple process deployments and a memory one for single process deployments (not requiring redis to be installed). I think Postgres + MongoDB adapters are also a good idea but I wouldn't rely o

[2019-11-08 00:37] dplewis commented on #6193
I'll have some time next week to work on this.

@vitaly-t For postgres I'm looking to listen / notify changes made to `_Schema` table (maybe need a trigger for that?). Do you have example code for LISTEN / NOTIFY in pg-promise?

[2019-11-08 01:16] #6178 closed

[2019-11-08 05:18] MohammadAdib commented on #6106
Are any of you guys able to send background notifications? I only receive them in-app on iOS...

Here is the payload I am using

`var data = {
    'aps': {
      'content-available': 1,
      'apns-priority': 5,
      'push_type': 'background',
      'notificationId': id,
      'sound': ''
    },
    'content-available': 1,
    'notificationId': id,
    'push_type': 'background'
  };
`

And I'm se

[2019-11-08 05:21] dplewis commented on #6106
Read my https://github.com/parse-community/parse-server/issues/6106#issuecomment-544204292

This will be fixed in the next release. You don’t add push_type in the data field

[2019-11-08 05:37] MohammadAdib commented on #6106
I am trying to receive the notification in the background even if the app is in the background. So if the app is not in foreground, I still want to receive a silent push. Is this possible on iOS 13? It has been working for a long time. This is for the app CarMeets. www.carmeets.app

[2019-11-08 06:11] dplewis commented on #6106
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app

Background apps have a 30 second max before they sleep.

https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app

From what I read here, a background app will wake up for 30 sec

[2019-11-08 08:13] vitaly-t commented on #6193
@dplewis https://github.com/vitaly-t/pg-promise/wiki/Learn-by-Example#listen--notify

[2019-11-08 18:30] thesobercoder opened #6198 "Installation fails on Windows 10"
### Issue Description

Running the command `npm install -g parse-server` fails on windows 10 with an error message.

### Steps to reproduce

Run the command `npm install -g parse-server`

### Expected Results

`parse-server` gets installed globally.

### Actual Outcome

![image](https://user-images.githubusercontent.com/1915249/68500939-e5a4ac80-0282-11ea-880d-c1ac0728b30d.png)

### Environment Se

[2019-11-10 02:59] dplewis commented on #6198
Looks like this is your error

'@apollographql/apollo-tools@^0.4.0' is not in the npm registry.

Can you install that package?

[2019-11-10 10:55] SteffenKeller opened #6202 "Request Password Reset only works for logged in users"
### Issue Description

It seems that the **requestPasswordReset** function is only working for logged in users when running the following code in my Swift app:

[code]
When the user is logged in it works without problems. When the user is signed out it will not send an email and the function doesn't return an error. A also tried the ParseUI's PFLoginViewControllers included functionality but it be

[2019-11-11 04:50] davimacedo commented on #6202
I couldn't reproduce the issue. Would you mind to create a failing test case? Can you also share details about the setup that you have in your Parse Server (e-mail adapter, etc) and also the user object whose password you are trying to reset? Do you see any error message in your logs?

[2019-11-11 05:11] davimacedo commented on #6156
Closing since it is something specific to the bitnami deployment.

[2019-11-11 05:11] #6156 closed

[2019-11-11 10:05] sarsonj opened #6205 "Better error reporting of cloud code bugs"
Our app is heavily using cloud code. It is sometimes complex and there can be bugs.

However, currently it is difficult to get errors easily.

In logs, the stack trace is useless - it doesn't show, where the bug appears, like:

[code]

I don't care about `FunctionsRouter.js`, I want to get right place of error, that is currently `getXmppServer.js` line `4`. It would be nice to have **correct stack

[2019-11-11 10:13] SteffenKeller commented on #6202
I will try to create a failing test case. Here is the server setup and a sample user object.
I don't see any error messages in the logs even with verbose activated. The function is executed successfully in both cases but an email is only sent if the user who requested the email is logged in.

Server setup:
[code]

Sample user object:
[code]

[2019-11-11 10:32] sarsonj commented on #6205
I realized, that error is passed to express.js middleware, when configuration option on Parse server `enableExpressErrorHandler` is used. Cool. Second problem solved, I have my errors in Sentry.

However, the stack trace looks useless:

<img width="814" alt="Screenshot 2019-11-11 at 11 31 52" src="https://user-images.githubusercontent.com/925756/68580573-ee5dd400-0476-11ea-9fdb-275d85c771a7.png">

[2019-11-11 13:17] thesobercoder commented on #6198
Indeed that is the error. Anyway, trying to run `npm install -g @apollographql/apollo-tools@^0.4.0` also results in the same error.

[2019-11-11 19:53] RaschidJFR commented on #5521
@thunderwin can you share a bit of code?

[2019-11-11 22:59] omairvaiyani commented on #6205
My team are currently tackling this issue, though we have we do capture information before it bubbles to Parse. For us, the issue is that we lose some information when it's dispatched back to the requesting client. I want aware of the `enableExpressErrorHandler` option. I'll comment here or findings tomorrow and consider a PR if needed. But please be aware that sending stack trace information is n

[2019-11-12 05:36] davimacedo commented on #6202
Have you tried a different e-mail adapter? Does your e-mail template rely on nome user information? Do you have any trigger associated to your _User class?

[2019-11-12 05:38] davimacedo commented on #6198
Can you try just `npm install @apollographql/apollo-tools`?

[2019-11-12 06:58] thesobercoder commented on #6198
Turns out my `.npmrc` file was corrupted. I deleted it and everything worked. Sorry to bother folks, I'm closing this issue.

[2019-11-12 06:58] #6198 closed

[2019-11-13 07:48] pastordee commented on #6202
Hi in my case if you enter the right email the user will receive the email but if you enter the wrong email no error is giving

[2019-11-13 09:55] omairvaiyani commented on #6205
It appears that parse server is poised to only dispatching `Parse.Error` instances, a stance which I understand the reasoning behind given the history of the project.

The `enableExpressErrorHandler` allows developers to manage any exceptions before they reach the requesting client, which is a great start, however the exceptions are intercepted by the parse server codebase before reaching our exce

[2019-11-13 11:26] omairvaiyani commented on #6205
We have a third-solution which is more of a workaround, but appears to be a quick change to our codebase that requires no PR for parse-server!

**Solution 3**
Wrap our application's request handlers with a try/catch that re-throws our exceptions as `Parse.Error` instances - but then attach our original error as an instance property on the `Parse.Error` object. This new error goes through the parse

[2019-11-13 11:31] sarsonj commented on #6205
Thanks @omairvaiyani for Solution 3.

I already tried to try / catch our cloudCode functions and put exception to Sentry directly, however I had problem that exception was not catch. Probably I did something wrong.

Could you please send example of simple cloudCode function that do this (Solution 3)? I would like to test this on our codebase, thanks!

[2019-11-13 12:25] omairvaiyani commented on #6205
@sarsonj No problem glad our problem is also helping out yours. The proposed third solution does currently have a limitation in that parse-server is still sending the response back to the requesting client *before* sending the error to our middleware. This means that the `enableExpressErrorHandler:true` option only helps with logging, but not with customising the error response payload. Therefore,

[2019-11-13 12:46] SteffenKeller commented on #6202
Thanks for your hint @pastordee. In my case there were some uppercase characters in some email fields. So it fails if the user enters his email lowercased. I will lowercase all email fields in my database and use a lowercase string when resetting emails.

[2019-11-13 12:46] #6202 closed

[2019-11-14 09:46] erhankaradeniz opened #6214 "Latest release breaks graphql"
### Issue Description

When upgrading to the latest version of parse server the graphql endpoint breaks in the ddashboard (but also the direct url to the playground). When visiting the playground url, the graphql endpoint is not reachable (500 error in console)

### Steps to reproduce

Upgrade to the latest version of parse-server and navigate to the parse dashboard and then go to the api console

[2019-11-14 14:13] #6214 closed

[2019-11-14 14:24] henrik commented on #5983
Don't make the mistake I did – quote the URL if setting this on Heroku. So do:

[code]

with the double quotes. Otherwise the "&" will trip you up.

[2019-11-15 00:26] grassland-curing-cfa opened #6216 ""MongoError: no valid replicaset members found" error raised after migration from mLab deployment to MongoDB Atlas deployment"
### Issue Description

Due to mLab acquisition by MongoDB, all mLab deployments are required to be migrated onto MongoDB Atlas. I have a Sandbox deployment in mongod version: 3.6.12 (MMAPv1). After I migrated it to a M0 Cluster on Atlas. My Parse-server (version 2.2.5) application deployed on Heroku cannot be started up due to: "MongoError: no valid replicaset members found".

### Steps to reprodu

[2019-11-15 00:28] dplewis commented on #6216
Can you update to the latest version of parse server? The MongoDB driver probably addressed this issue.

[2019-11-15 00:32] grassland-curing-cfa commented on #6216
Thanks for the prompt answer.
The M0, M2 and M5 Cluster on Atlas only supports MongoDB 4.0.
I am hesitant to update Parse-server to the latest version as my Heroku application is about three year old. Have you had any idea what is the lowest version of Parse-server that supports MongoDB 4.0?

[2019-11-15 00:47] dplewis commented on #6216
It’s when 3.1.0 of the mongo driver was added

https://github.com/parse-community/parse-server/pull/4855

Looking at the date you could get away with 2.8.4.

We highly recommend updating to the latest version.

[2019-11-15 05:04] grassland-curing-cfa commented on #6216
Thanks so much. I upgraded to 2.8.4 and MongoDB 4.0 started to work.

[2019-11-15 05:04] #6216 closed

[2019-11-15 15:03] sarsonj commented on #6205
It's more like a hack, but I added `console.log(e)` and now in sentry I have content of orginal exception, because it shows recent events in timeline. It also appears in app log itself.

So that big improvement for us, hope this exeption propagation will be implemented in the core.

<img width="819" alt="parselogs" src="https://user-images.githubusercontent.com/925756/68953031-5850e300-07c1-11ea-9

[2019-11-15 16:30] BufferUnderflower opened #6218 "GraphQL auto schema findQuery is not generated for classes named in plural"
### Issue Description

GraphQL auto schema gets generated only partially for classes named in plural.  `get` seems to work fine, but `findQuery` is not available at all.

### Steps to reproduce
Create a collection named in plural, eg `Data`, `UserData`, `Comments` etc

### Expected Results
Be able to issue find GQL query

### Actual Outcome

Schema generated only partially

### Environment Setup

[2019-11-15 20:42] Moumouls commented on #6218
Hummm strange
Could provide a screenshot of your `GraphQL Playground` ?
A raw parser server should show these queries

![Capture d’écran 2019-11-15 à 21 40 27](https://user-images.githubusercontent.com/27959372/68974332-c6f96500-07f0-11ea-93ad-f005394e4234.png)

[2019-11-15 20:48] Moumouls commented on #6218
Yes if your collection is named in plural the `Parse GraphQL Server` could not auto generate the plural version

I will take a look to our plural generation to check if we can add an auto renaming (plural to single) on plural classes

[2019-11-15 21:00] BufferUnderflower commented on #6218
I think 'depluralizing' won't work in 100% cases. Linguistic approach should be 'best effort' for nice readability rather a strict rule. There are other languages and letters combinations that will mislead english 'pluralizer' causing unexpected behavior. In case when pluralize `input==output` some fallback behavior is needed. Seems adding an extra symbol and checking the result against already es

[2019-11-15 21:25] BufferUnderflower opened #6219 "Severe MongoDB performance drop with anonymous users on large _Users collection"
### Issue Description

Some queries become very slow because of frequent `COLSCAN`  taking up to ~1.5 sec on a collection with 2.000.000 `_User`s.

### Steps to reproduce

1. Enable anonymous login feature. (not sure this makes any difference)
2. Populate a collection of 1-2 million users with _Session for each
3. Observe high (MongoDB) cpu usage (5-6 cores 100% load) and slow queries involving se

[2019-11-16 04:18] dplewis commented on #6195
@drhuanliu any updates?

[2019-11-16 12:42] omairvaiyani commented on #6205
I believe your our workaround along with the suggestions I described in Solution 3 above are sufficient for now. Closing issue but for other contributors, there's probably some useful insights here to consider.

[2019-11-16 12:42] #6205 closed

[2019-11-17 16:59] pitxels opened #6220 "{"error":"unauthorized"}"
Hello.

I am using latest node: 12.10
latest npm: 6.11.3
latest mongo 4.2.1

I just installed parse-server-example locally, following the readme instructions and without modifying any file. I also installed mongo and by default it doesn't require user/password.

When I run npm start and go to localhost:1337/test,  I get all the tests ok: "Congrats! Our local Parse server is working. :)"

Then when

[2019-11-17 18:46] Arthur-der-Coder commented on #2191
i have the same error code. @TheRyanHickman
If you have a solution for me that would be great.

[code]

Thanks al lot.

[2019-11-18 01:07] grassland-curing-cfa commented on #5161
I have had the same issue.
Thanks to @johanarnor advice, it was finally fixed after I manually drop indices "email_1" and "username_1" on the _User table and "name_1" on the _Role table.
I am with a couple of MongoDB database recently migrated from mLab to MongoDB Atlas due to mandatory migration requirement. Those indices were created during the migration process but they failed deployment of Par

[2019-11-18 01:11] grassland-curing-cfa commented on #5161
@acegreen I did dropIndex on those ones that threw errors from the log. Then re-deployed Parse-server the warnings were gone. I am with MongoDB 4.0.0 on MongoDB Atlas and Parse-server 3.9.0.

[2019-11-18 13:06] Ktejaswini1608 opened #6223 "Cloud functions return undefined instead of data"
### Issue Description

previously worked on cloud function and it worked fine and now I run the cloud function it doesn't return any response and it shows undefined on all parse server versions(3.1.1,3.7.0)

### Steps to reproduce
client code:
var gettestparams = {
Name: "",
action: "get",
where: "Test"
}
Parse.Cloud.run('cloudFunctions', gettestparams).then(function (callback) {
console.log("get

[2019-11-18 17:18] dplewis commented on #6223
You aren't returning anything in your cloud code function.

You should easily identify your issue if you use async / await instead of callbacks.

[2019-11-18 17:18] #6223 closed

[2019-11-18 22:38] #6060 closed

[2019-11-18 23:38] #6073 closed

[2019-11-19 06:29] Ktejaswini1608 commented on #6223
Thanks for your reply

when I added my function code using async / await in main.js  it works fine but when I implemented async /await code in testservice.js file it returns undefined.I used to implement code in testservices.js

main.js:
Parse.Cloud.define('cloudFunctions', function (req, res) {
switch (req.params.where) {
case 'Test':
switch (req.params.action) {
case 'get':
testservice.getTestDa

[2019-11-19 06:34] Ktejaswini1608 commented on #6223
Hi,

Thanks for your reply

when I added my function code using async / await in main.js it works fine but when I implemented async /await code in testservice.js file it returns undefined.I used to implement code in testservices.js

main.js:

Parse.Cloud.define('cloudFunctions', function (req, res) {

switch (req.params.where) {

case 'Test':

switch (req.params.action) {

case 'get':

testservice

[2019-11-19 14:06] Moumouls opened #6224 "GraphQL: Wrong type for relational file nested mutation"
### Issue Description

We have a `type` `File` and not `Upload` on `createAndAdd` nested mutation

### Steps to reproduce

![Capture d’écran 2019-11-19 à 15 01 55](https://user-images.githubusercontent.com/27959372/69153137-f1436f00-0add-11ea-9587-45b2e56e4e92.png)

### Expected Results

To have an `Upload` type

### Actual Outcome

We have a `File` scalar type

### Environment Setup

- **Server

[2019-11-19 16:02] dplewis commented on #6223
[code]

[2019-11-20 03:27] ashmanmalikThinkun commented on #6220
Use header X-Parse-Application-Id: yourappId while accessing parse. Moreover, update package.json with dashboard and use dashboard within parse server. Don't forget to run node when you are done with your node package.

[2019-11-20 03:30] ShadowCoderPro opened #6225 "Code 141, Error: Parse error: Cannot read property 'apply' of undefined"
I am trying to do a Post Request to register a user.

0|parse | verbose: REQUEST for [POST] /parse/functions/userRegister: {
0|parse | "method": "POST",
0|parse | "url": "/parse/functions/userRegister",
0|parse | "headers": {
0|parse | "host": "localhost:8081",
0|parse | "connection": "keep-alive",
0|parse | "content-length": "345",
0|parse | "pragma": "no-cache",
0|parse | "cache-control": "no-ca

[2019-11-20 04:58] dplewis commented on #6225
If it’s failing locally, you should be able to trace the issue node_modules/parse-server/lib/Routers/FunctionsRouter.js:121:16

Do you have a way for us to replicate this issue?

[2019-11-20 05:01] dplewis commented on #6220
This is normal as you aren’t passing any keys in.

Which error are you encountering?

[2019-11-20 05:08] ShadowCoderPro commented on #6225
Unsure about replication but the code at functionrouter.js seems to be unclear.

 key: 'createResponseObject',
    value: function createResponseObject(resolve, reject, message) {
      return {
        success: function success(result) {
          resolve({
            response: {
              result: Parse._encode(result)
            }
          });
        },
        error: function error(code

[2019-11-20 05:12] dplewis commented on #6225
Throw a few console.logs in there.

What are you returning in your cloud code function and what version of the server are you running?

[2019-11-20 05:22] ShadowCoderPro commented on #6225
I am using 3.9.0 the latest.

This only throws this:

error: Parse error: Cannot read property 'apply' of undefined {"code":141,"stack":"ParseError: 141 Cannot read property 'apply' of undefined\n    at error (/node_modules/parse-server/lib/Routers/FunctionsRouter.js:121:16)\n    at process._tickCallback (internal/process/next_tick.js:68:7)"}

[2019-11-20 06:08] pitxels commented on #6220
I am passing the strings I found in app.json, the readme doesn't explain anything about the keys so I am just guessing here.

Also In parse-server-example the keys are not asked nor suggested like in parse-server so I don't have any keys nor any file to put them in.

Once I pass the keys you mention, what am I supposed to see at http://localhost:1337/parse ?

Thanks!

[2019-11-20 06:14] dplewis commented on #6220
Sorry I mean accessing the /parse url directly. /test isn’t connect to parse is just an endpoint. It’s just to show your server is running and testing.

Checkout the guide https://docs.parseplatform.org/parse-server/guide/

Does cURL work for you?

[2019-11-20 06:20] Ktejaswini1608 commented on #6223
Thanks for your reply

       But I want to return recordset data, if i return outside the service call can't find recordset value(within service only we can return recordset value)

testservice.getTestData(req, res, function (recordset) {
  console.log("main.js", recordset);
  return recordset; <- this is never returned to the cloud code function.
});

// Should returns something here       <- no

[2019-11-20 06:24] dplewis commented on #6223
I know you are unable to which is why I recommended rewriting your code.

Your can turn your callback into a promise with a wrapper.

[2019-11-20 06:31] pitxels commented on #6220
Yeah that is my point exactly the parser-server-example documentation is missing steps that I need to check in the full documentation. So I guess I will forget about parser-server-example for now and focus on the main repo.

[2019-11-20 06:36] pitxels commented on #6220
Yep

`curl -X POST \                                                                                                                          ~
-H "X-Parse-Application-Id: myAppId" \
-H "Content-Type: application/json" \
-d '{"score":1337,"playerName":"Sean Plott","cheatMode":false}' \
http://localhost:1337/parse/classes/GameScore
{"objectId":"gDzp75bLE5","createdAt":"2019-11-20T06:35:32.944Z"}%`

[2019-11-20 06:47] dplewis commented on #6220
Looking at the original issue error: unauthorized isn’t an issue any more as you are able to access the server right?

The second issue you mention was the dashboard.

Can you fork the parse-dashboard and see if it works?

[2019-11-20 06:52] pitxels commented on #6220
For the Dashboard I run:

`parse-dashboard --dev --appId myAppId --masterKey myMasterKey --serverURL "http://localhost:4040/"`

and I get:

`inject
dashboard.bundle.js:95 Missing push locales for 'myAppId', see this link for details on setting localizations up. https://github.com/parse-community/parse-dashboard#configuring-localized-push-notifications
e @ dashboard.bundle.js:95
(anonymous) @ dashb

[2019-11-20 07:05] dplewis commented on #6220
Your server url is wrong. It should be your parse server url not your dashboard url.

Looking at your screenshot it should be http://localhost:1337/serverInfo

[2019-11-20 10:20] Ktejaswini1608 commented on #6223
I used promise instead of callback.still I am getting undefined when i return. If I prints in console data is showing.

main.js:
Parse.Cloud.define('cloudFunctions', function (req, res) {
switch (req.params.where) {
case 'Test':
switch (req.params.action) {
case 'get':
 let promise = testservice.getTestData(req, res);
          promise.then(
            (results) => {
              console.log("ma

[2019-11-20 12:14] omairvaiyani commented on #6223
You need to return the `promise` object within your `cloudFunctions` body.

[2019-11-20 12:36] Ktejaswini1608 commented on #6223
Thanks for everyone.Now It works.
main.js:
  let promise = testservice.getTestData(req, res);
          return promise;

testservice.js:
exports.getTestData = function (req, res) {
    return new Promise(function (resolve, reject) {
        const query = new Parse.Query("Test");
        query.find({ useMasterKey: true })
            .then((results) => {
                var testArray = new Array();

[2019-11-20 17:26] dplewis commented on #6225
Looking at your error, it doesn't look like its coming from parse server at all. You have an error in your cloud code. The function router is just displaying that error i think.

[2019-11-20 19:05] allanext opened #6227 "beforeSave: Modifying object doesn't save object as expected"
### Issue Description

I'm modifying the object on the Parse cloud beforeSave hook but it does't save the modified object on the database

### Steps to reproduce

[code]
If in the debugger I do a request.object.save() it will save correctly the object in the mongo database (with an expected second call of the function beforeSave). Of course doing a request.object.save() on the code will create an

[2019-11-20 21:28] dplewis commented on #6227
There is a test case for this already.

https://github.com/parse-community/parse-server/blob/master/spec/CloudCode.spec.js#L138

Can you try to write a test case to replicate your issue as closely as possible?

[2019-11-20 21:47] SebC99 opened #6228 "Old bug still here: unwanted authData validation"
This bug #3867 is still here even with #3783 and #3872 fixes.
The reason why is in the RestWrite.js file:
[code]
When tested with facebook, the userAuthData comes from the saved user (MongoDB in my case), and it includes a token and an expiration date which is a Date object.
But the providerData which comes from the rest request from the SDK includes the same token and expiration date, but the exp

[2019-11-20 21:54] dplewis commented on #6228
Probably on the server side. Can you write a test case?

[2019-11-21 01:01] pitxels commented on #6220
I used  http://localhost:1337/parse as the serverURL and that did the trick.

Thank you so much for the troubleshooting!

[2019-11-21 01:02] #6220 closed

[2019-11-21 03:14] #6225 closed

[2019-11-21 08:09] Anechasun opened #6232 "live query broadcast receiver"
Send to everyone except the person who created. same as `socket.broadcast.emit`

[code]

[2019-11-21 12:44] SebC99 commented on #6228
I don't see how, there's no test for this very internal process so I don't know how I would write it...

[2019-11-21 19:37] dplewis commented on #6232
InstallationId was recently added to live query

https://github.com/parse-community/Parse-SDK-JS/pull/979/files

You can check if the installationId returned matches the installationId your client. This will work after the next server update.

[2019-11-21 19:38] #6232 closed

[2019-11-22 11:01] Code-Crash commented on #2751
Hi Guys,

Wanted to inform you, as @flovilmart suggested, it's problem with ```mongodb``` driver version, so I did cloned parse-server@2.2.23 version and updated the ```mongodb``` driver from 2.2.10 to 2.2.12, and pushed to bitbucket repository and doing ```npm install``` from the same repository for parse-server and it's working fine.

If anyone still using parse server older version (or in middl

[2019-11-22 21:23] #6173 closed

[2019-11-22 23:56] cuervocomando666 opened #6235 "WithinKilometers and FullText query not work"
Hi, I'm trying to use withinKilometers and fullText query, but I get  error 500

This code works perfect:
query.matches ("text", text, 'i');
query.withinKilometers ('location', point, distance);

But this code does not work:
query.fullText ("text", text);
query.withinKilometers ('location', point, distance);

I use parse 2.8.0 from Typescript

What is the problem?
thanks.

[2019-11-23 00:00] dplewis commented on #6235
Its a mongo limitation. You can't use text index with other special indexes like geo indexes. [here](https://docs.mongodb.com/manual/reference/operator/query/text/#restrictions)

[2019-11-23 00:00] #6235 closed

[2019-11-23 00:19] Mxdi commented on #4852
This is still an issue.

[2019-11-23 00:43] dplewis commented on #6228
@SebC99 What does your authData look like in mongo?

Mine is a string and it returns as a string when I query or debug RestWrite.js

[code]

[2019-11-23 00:51] cuervocomando666 commented on #6235
ok thanks

[2019-11-23 11:22] SebC99 commented on #6228
@dplewis for most users, it's the same as yours, but for others (old ones) it's a date:
[code]

[2019-11-23 16:43] rafiuddinsadik commented on #4159
Run this command:
git config --global --unset http.proxy

[2019-11-23 17:31] dplewis commented on #6228
There are 2 solutions for this

1) you write a script that converts your Date objects into strings in your DB
2) convert in RestWrite before checking isEqual

Which do you prefer? Your problem will be immediately solve with option 1. Option 2 is for this specific use case.

Open a PR we are more than welcome to review it.

Closing as this is an old issue.

[2019-11-23 17:31] #6228 closed

[2019-11-23 17:38] #6164 closed

[2019-11-24 11:30] SebC99 commented on #6228
I've patched the RestWrite, adding an equality method in Auth Adapters, but you're right, a script might be safer ;)
I'll do that!
Thanks a lot

[2019-11-26 22:07] sunshineo commented on #2652
Hello, I'd like to provide a case I encountered that supports removing the x-parse-application-id header.

We need a 3rd party service to post back some data to us. Their service is limited and only supports specify an url. Without the ability to specify the x-parse-application-id header, the post would fail.

Our solution is to use a proxy to add the header before hand it to our parse server.
[co

[2019-11-26 23:55] omairvaiyani commented on #2652
Depending on your node.js/express setup, you could just host a `public` route that takes requests without any headers, and forward them to your business layer, skipping out this proxy business. There shouldn't be any measurable latency with this method. You can have non-parse-server routes on the same express app.

[2019-11-27 02:08] acinader commented on #6227
does your beforeSave function return the object?  If not, try that.  If that doesn't fix it, put your full beforeSave function in the bug so we can see what's going on.

[2019-11-27 05:03] sunshineo commented on #2652
Thank you @omairvaiyani . How do you do that exactly? Our business logic is already in a parse cloud function (and has to be in a parse cloud function). Can the express code call parse functions??

[2019-11-27 05:58] ExpDev07 opened #6244 "Parse server does not support range"
### Issue Description

Accessing a file on parse server on safari doesn't work due to Range header not being supported.

### Steps to reproduce

Using cURL: ``curl --range 0-100 http://localhost:3000/parse/files/path/to/file.mp4 -o test.mp4``. As you can see, this doesn't work, however, if you do ``--range 0-`` which most browsers do (but not safari, they do 0-1), it works.

### Expected Results

[2019-11-27 06:07] dplewis commented on #6244
Parse Server recently supported byte range. https://github.com/parse-community/parse-server/pull/6028

What file adapter are you using? Also does .mov files work for you in safari?

[2019-11-27 06:15] ExpDev07 commented on #6244
Well, try the cURL command on a .mp4, it doesn’t work.

I don’t set a file adapter, so the default one. I believe safari only uses the “Range: 0-1“ header on MP4 files (uses “Range: 0-“ like other browsers on other file types) so it probably does work then, but I need it working for mp4. Don’t quote me on that though.

Thanks for the quick reply!

[2019-11-27 09:18] omairvaiyani commented on #2652
In an ideal setup, you should decouple your functions from `Parse.Cloud.define`, making them easier to test and execute from a non-Parse scope. Example:

[code]

[code]

[2019-11-27 16:28] Moumouls opened #6245 "GraphQL: Add Reset Password Mutation"
**Is your feature request related to a problem? Please describe.**
Improvement of `GraphQL API`

**Describe the solution you'd like**
Add the `resetPassword` `Mutation`

[2019-11-28 06:27] sunshineo commented on #2652
That's interesting. So even not inside Parse.Cloud.define , I can use all the Parse Cloud functionalities like make query or update entity?

[2019-11-28 12:05] omairvaiyani commented on #2652
Yup, as long as you're using `parse-server` as an express middleware inside your application, you should have full usage of the parse `javascript sdk`

[2019-11-28 14:28] REPTILEHAUS commented on #6082
I experience this. Im not sure what the adverse affects are but I do notice that when this happens in a Google App Engine environment that there is usually an preceeded by a invalid session

[2019-12-01 00:58] memishood opened #6248 "How many can i get result with query.each ? (maximum size)"
i m using parse jobs on cloud code:

[code]

if I have more than 100,000 results in Subscriptions class, does it work for all result ? (query.limit(int) doesn't work with query.each, i tried.)

[2019-12-02 05:43] #5863 closed

[2019-12-02 06:08] davimacedo commented on #6248
Please, use stackoverflow for code related questions. Anyway, the code below should solve your problem:

[code]

[2019-12-02 06:08] #6248 closed

[2019-12-02 10:13] memishood commented on #6248
@davimacedo my code is working perfectly i just asked if the parse class have more than 100k row, will it work again perfectly?

[2019-12-02 18:13] davimacedo commented on #6248
Your code is wrong. You are using the each function inside the find block. That's not the way it should be used. There is no limit for the each function if you use it correctly. It will do as many find operations are required to make sure that all objects will be returned.

[2019-12-02 21:15] MatheussAlves commented on #1613
I'm having the same issue, and chaning the SERVER_URL didn't change anything.

[2019-12-03 00:19] ExpDev07 commented on #6244
This was an issue with using the default file adapter (storing directly in db). Switching over to AWS bucket fixed it. Not entirely sure why.

[2019-12-03 00:19] #6244 closed

[2019-12-03 01:25] memishood commented on #6248
@davimacedo thx, i had got it from back4app docs :))) [https://www.back4app.com/docs/free-cron-job-online](url)

[2019-12-03 05:53] davimacedo commented on #6248
@memishood thanks for reporting. The example is slightly different because they first used the `find` method to show how many objects will be destroyed. They should had used the `count` though and I will make sure they will update it. In your case, since you are not using the result of the `find` operation, you can go just with the `each`.

[2019-12-03 12:03] memishood commented on #6248
@davimacedo thx sir

[2019-12-04 07:28] JeromeDeLeon opened #6259 "No `installationId` for `ws_disconnect`"
### Issue Description

Following the conversation from [Parse Community](https://community.parseplatform.org/t/how-to-monitor-users-status/883). I decided to follow what @davimacedo said, but `installationId` was `undefined`.

### Steps to reproduce

[code]

### Expected Results

Contains `installationId`

### Actual Outcome

`installationId` = `undefined`

### Environment Setup

- **Server**
  -

[2019-12-04 08:00] davimacedo commented on #6259
Can you please try to test against master? The installationId fix was not yet released.

[2019-12-04 08:04] JeromeDeLeon commented on #6259
I haven't tried doing that nor have any idea on how to test the master branch sorry. If it was implemented then I'll just wait for it to release then.

[2019-12-04 08:04] JeromeDeLeon commented on #6259
Can you reference the merge fix?

[2019-12-04 08:10] davimacedo commented on #6259
I think this one should solve the issue: https://github.com/parse-community/parse-server/pull/6180

[2019-12-04 08:32] JeromeDeLeon commented on #6259
Do you have plans on when this will be release?

[2019-12-04 15:38] dplewis commented on #6259
@JeromeDeLeon This is the fix [here](https://github.com/parse-community/parse-server/pull/6230/files#diff-7ff5112d0c45b691746af5e56e5e3c92)

If you want to try out the master branch

https://github.com/parse-community/parse-server#want-to-ride-the-bleeding-edge

We should do a release soon, probably this weekend.

[2019-12-04 16:05] JeromeDeLeon commented on #6259
Thanks to both of you :smiley:

[2019-12-04 16:05] #6259 closed

[2019-12-04 20:24] dplewis commented on #6227
@allanext Can you produce server logs VERBOSE=1?

[2019-12-05 02:09] allanext commented on #6227
@dplewis @acinader  sorry for the late follow up. I've realized it was something that I could do on the client side and it fixed my issue.

I've just tried to replicate the issue with the following code but looks like it's working properly, apologies.

[code]

[2019-12-05 03:17] dplewis commented on #6227
Do you remember what you changed?

[2019-12-05 06:04] yog27ray opened #6261 "mongodb: 3.3.2 driver unable to connect with replica set when one node is down."
MongoDB driver 3.3.2 is unable to connect to mongodb replicaSet if one of member machine is down.

Note: Same issue is described in https://jira.mongodb.org/browse/NODE-2231

### Steps to reproduce
1. Create mongodb replicaSet with 3 member.
2. connect parse-server with mongodb providing all 3 member host name in uri.
3. stop PRIMARY mongodb server
4. MongoDB is able to select new PRIMARY from the

[2019-12-05 06:06] manjeshpv commented on #6261
I'm also facing same issue

[2019-12-05 07:22] #6227 closed

[2019-12-05 07:23] #5906 closed

[2019-12-05 07:24] dplewis commented on #5440
If there is enough support for this feature we will reopen.

[2019-12-05 07:24] #5440 closed

[2019-12-05 07:28] dplewis commented on #6082
@REPTILEHAUS does your server crash?

We should document installationId and what it means.

What info should be included with invalid session that isn’t too sensitive.

Similar too https://github.com/parse-community/parse-server/issues/4330

[2019-12-05 07:30] davimacedo commented on #6261
As peer as the link you sent, it looks that updating the MongoDB package to the latest version should fix the problem. @dplewis why did you close https://github.com/parse-community/parse-server/pull/6242? Didn't it pass the tests?

[2019-12-05 07:45] dplewis commented on #6261
https://github.com/parse-community/parse-server/pull/6135#issuecomment-547065385

The test have been failing, it should be an easy fix. I can look into it again shortly

[2019-12-05 07:47] davimacedo commented on #6261
Sorry. I missed that one. Let me know if you need any help.

[2019-12-05 07:49] dplewis commented on #6261
@yog27ray  Can you try to see if the latest mongo driver update fixed your issue?

I should have a replica set somewhere to test with.

[2019-12-05 07:56] codetycon opened #6262 "Parse server removing object from relation when I adding a object to relation that already exist?"
### Issue Description

I am running open source parse server on heroku with mongodb (mlab). I have an table and in the table I have a relation field.

I am adding a new object to relation using add

`relation.add(offer);`

But the problem is if `offer` (object from another table) already exist in relation then this query removing offer from relation instead of add.

### Steps to reproduce

1. Let'

[2019-12-05 09:29] Moumouls commented on #6218
@BufferUnderflower  thanks for the PR ! 😄
Can we close this one?

[2019-12-05 09:30] #6065 closed

[2019-12-05 10:03] JeromeDeLeon commented on #6262
I think this [line](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseOp.js#L325) is the culprit to avoid adding duplicate objects. I mean why should you add duplicate objects in the first place? If that's the case, Parse should have `addUnique` and `add` to separate the use case, but that would break currently if they accidentally allow non-unique object to pass `add`.

`addUni

[2019-12-05 17:08] yog27ray commented on #6261
@dplewis latest mongo driver has fixed my issue.

Below are the steps I used to confirm that latest mongo driver is fixing the issue.

1. deleted  mongodb driver 3.3.2 folder located at "node_modules/parse-server/node_modules/mongodb"
2. copied mongodb driver 3.3.5 folder at  "node_modules/parse-server/node_modules/mongodb"
3. restarted parse-server

now even in stop any replica member, parse-serv

[2019-12-05 18:16] davimacedo commented on #6262
@codetycon could you please upgrade to Parse Server latest version and check if the error persists?

[2019-12-06 03:41] codetycon commented on #6262
If I upgrade Parse Server then it may break other part of my application..

[2019-12-06 08:25] Anechasun opened #6265 "Parse live query can custom event ?"
Server`emit to event "my event"

[code]

[2019-12-06 16:11] cjlovescoffee opened #6267 "Bug when querying $relatedTo with limit and order by createdAt"
### Issue Description

When querying the objects in a relation property and setting both a limit and ordering by createdAt, not all expected objects are returned.

Removing the limit or changing the order by to another property seems to resolve the issue.

With 14 objects in the relation, the following incorrect number of objects are returned depending on the specified limit

| limit | numResults

[2019-12-06 18:01] dplewis commented on #6261
I opened a PR https://github.com/parse-community/parse-server/pull/6263 for this. All the tests passes locally. Hopefully someone can fix the travis issues. Its up for grabs.

[2019-12-06 18:49] davimacedo commented on #6267
Can you please write a test case?

[2019-12-06 18:54] davimacedo commented on #6265
No. It is not currently possible. You'd need to maybe create a class with a column of type object and then pass your "event" through this object.

[2019-12-06 18:54] #6265 closed

[2019-12-06 18:57] davimacedo commented on #6262
I don't think so. Would you be willed to write a test case to check if this problem still exists in the most recent version? If it is case, we can try to fix it and then you can use the same fix and apply to your fork.

[2019-12-06 19:50] stewwan commented on #6179
when this is going to be released?

same problem here

`
 Error: EROFS: read-only file system, mkdir '/srv/logs/'      at Object.mkdirSync (fs.js:757:3)      at /srv/node_modules/file-stream-rotator/FileStreamRotator.js:515:20      at Array.reduce (<anonymous>)      at mkDirForFile (/srv/node_modules/file-stream-rotator/FileStreamRotator.js:503:27)      at Object.FileStreamRotator.getStream (/srv/

[2019-12-06 19:56] stewwan commented on #6179
I've tried to disable it on server initialisation as said in docs but no luck

[code]

that is still logging stuff when parse starts.

also in doubt, is there a way to store these logs upon cloud vendors like google cloud storage?

I'm trying to run Parse Server on App Engine but in a non-flex env

would appreciate a lot some guidance

thanks

[2019-12-07 00:00] #6261 closed

[2019-12-07 00:00] #6041 closed

[2019-12-07 13:07] cjlovescoffee commented on #6267
I've attempted to recreate the issue with a fresh instance of Parse Server 3.9.0 and mongo 3.4.4 (using their respective docker images) with some new data and, so far, have been unable to do so. I'll take a closer look at the data I have that exhibits this issue and get back to you with more information.

[2019-12-08 06:10] allyraza opened #6270 "Project is not original parse codebase"
I came across this relatively recently, I have notice going through the code it is a node project. As far as I know the original parse stuff was in ruby and rails, I know someone who worked for facebook and after the acquisition he got to work on parse scaling notification server and the api server.

it is very misleading, maybe mention in the readme that it is not the original codebase.

Thanks

[2019-12-08 06:14] codetycon commented on #6262
Okay, I am creating a instance of latest version of parse server..

[2019-12-08 10:12] TomWFox commented on #6270
I don’t believe there is any claim that Parse Server is the original codebase.

I also don’t think it’s misleading as Parse.com was an MBaaS for hundreds of thousands of developers & apps whereas Parse Server is self hosted single tenant backend.

Also worth noting that other parts of the Parse Platform are mostly original I.e. the client SDKs.

[2019-12-08 10:12] #6270 closed

[2019-12-08 19:58] codetycon commented on #6262
I have done setup of latest version of parse server and imported my cloud function from my previous instance(v 2.8.4)

But all functions throwing an error `response.success() is not a function`. I have found a [question](https://stackoverflow.com/questions/52081863/parse-cloud-code-function-response-success-is-not-a-function) asked by other user on [stackoverflow](https://stackoverflow.com/questio

[2019-12-09 00:46] JeromeDeLeon commented on #6262
You do not need to call `response.success()` or `response.error()` since `response` is no longer available.

[code]

[2019-12-09 12:10] cjlovescoffee commented on #6267
After failing to recreate the issue with a fresh instance, I took the broken data from my app and stripped it back bit by bit hoping for it to start working. I eventually got down to the two objects with barely any properties and it was still broken.

When I had minimal properties, I looked through the mongo data and discovered there were more rows in the join table than live objects. The problem

[2019-12-10 03:57] GoGross commented on #4631
@dplewis How far with updating the adapter as it is now breaking with latest versions of parse?

[2019-12-10 07:31] dplewis commented on #4631
@GoGross I haven’t updated it since 2.5.0 (it is now 3.9.0). It takes some work to run against the tests, since we don’t have a test spec to run against any database adapter.

I’ll look into it sometime this week.

[2019-12-10 11:03] #6035 closed

[2019-12-10 18:57] GoGross commented on #4631
I look forward to it

[2019-12-11 16:06] Samigos opened #6273 "S3 File adapter - accessing previous, non-s3 files"
We have a mobile app that runs on Parse Server 2.8.4, hosted at DigitalOcean. We were using the default file adapter (GridStoreAdapter) and now we want to use Spaces by DigitalOcean. This is our updated index file:

[code]

Everything works great! The files are stored and retrieved properly, except of the old ones! Every image that was stored with the GridStoreAdapter cannot be fetched anymore! Is

[2019-12-11 16:28] dplewis commented on #6273
A PR was submitted just for this purpose.

https://github.com/parse-community/parse-server-s3-adapter/pull/79

I'll do a release right now so that you use it without having to update your server.

You could use [parse-files-utils](/parse-server-modules/parse-files-utils) to transfer the files.

[2019-12-11 16:28] #6273 closed

[2019-12-11 16:33] Samigos commented on #6273
Thank you very much @dplewis ! So what should I do now? I'm kinda lost!

[2019-12-11 16:40] dplewis commented on #6273
Wait for the 1.4.0 release of the adapter.

Remove `var S3Adapter = require('parse-server').S3Adapter;`

[code]

Add `var S3Adapter = require("@parse/s3-files-adapter");`

https://github.com/parse-community/parse-server-s3-adapter#usage-with-digital-ocean-spaces

[2019-12-11 16:43] Samigos commented on #6273
And after that, it will know where each file is? MongoDB or DO Space?

[2019-12-11 16:47] dplewis commented on #6273
Parse Server only allows 1 file adapter at a time. Therefore, I recommended the migration tool.

[2019-12-11 16:58] Samigos commented on #6273
So wait, I'm confused! Do I have to transfer all the files from Mongo to the DO Space? Wouldn't that PR you mentioned take care of it? (sorry for bothering you, but I really have no idea of how all these work)

[2019-12-11 17:32] dplewis commented on #6273
A fileAdapter is used to access the files. Since you changed GridStoreAdapter, you can't use it to fetch files anymore from Mongo.

Yes they will be separated. You could use a workaround to access the mongo files.

[2019-12-11 17:57] Samigos commented on #6273
Which is the PR you're going to release?

[2019-12-11 19:26] dplewis commented on #6273
@Samigos Sorry I reread your post and misunderstood. The PR https://github.com/parse-community/parse-server/pull/6274 was to support s3 overrides and endpoints but looks like you have that working.

You have to migrate your files if you want to view old and new files.

[2019-12-11 19:32] Samigos commented on #6273
Ok! Thank you very much!

[2019-12-12 12:53] marxyes opened #6276 "Parse server : How to store / retrieve JSON Object column"
I have column named address type object and I want to Retrive using REST API How to retrieve student?where={“address”:“city”: “toronto” }

address:
{
  "street1": "abc",
"street2" : "sadas",
"area" : "Downtown",
"city" : "toronto",
"state" : "ontario",
"country" : "Canada"
}

it throw error :    "code": 107,
    "error": "You cannot use [object Object] as a query parameter."

[2019-12-12 13:29] omairvaiyani commented on #6276
Try `student?where={"address.city": "toronto"}` although you may need to run a URL encoder depending on your setup

[2019-12-12 17:43] Klaitos opened #6277 "Missing encodeURIComponent in resetPassword 302 link"
### Issue Description

If I try to reset password on a user with email : "email+123@example.com", the redirect 302 link location is not encoded. Then in Express when I try to retrieve parameter from URL  in success page I have "console.log(query.username) "email 123@example.com."

### Steps to reproduce

Create new User with following email `email+123@example.com`
Call `http://localhost:1337/api/r

[2019-12-12 22:47] Samigos commented on #6273
Hey @dplewis once more 😄I'm sorry for bothering you again, but I'm desperate! I'm stuck in the migration process and there's really not much I could find!

The repo you sent me above, [parse-files-utils](https://github.com/parse-server-modules/parse-files-utils) can it be used to transfer my files to an S3 bucket? If so, how exactly? I started following the guide, but as soon as I hit `npm start c

[2019-12-12 22:49] dplewis commented on #6273
That is an old repo. I’d recommend forking it and make changes you need and run it.

The core logic is there on how to get the all files from the Schema and transfer them.

[2019-12-13 00:02] davimacedo commented on #6277
Thanks for reporting. Would you be willed to tackle this one?

[2019-12-13 12:22] ramiro-ciocca commented on #5748
@mtrezza hello, where in the app did you put that code to manually request and set the token?
Im having simmilar issue where the token is not refreshing in parse when outdated in fcm.
Thanks!

[2019-12-14 02:05] mtrezza commented on #5748
@ramiro-ciocca you can put this where ever it makes sense according to your app logic.

The [docs](https://firebase.google.com/docs/cloud-messaging/android/client#sample-register) say:

So one way to interpret this is that the token should be updated at least with every app start.

[2019-12-16 07:53] rhuanbarreto commented on #4170
Hi to all! Have a look on PR #6177 and share your thoughts! Now we can do this!

[2019-12-16 08:16] rhuanbarreto commented on #6101
Hi @dplewis @davimacedo, have a look on PR #6177 and share your thoughts! I think it's ok and stable now.

[2019-12-16 18:19] codetycon commented on #6262
`addUnique` is not working..

[2019-12-16 18:21] codetycon commented on #6262
I have set up latest parse sdk but I can't use it for production site because for this I have to change my cloud functions which is quite expensive way.

can you please suggest me an alternative way.

[2019-12-17 06:26] davimacedo commented on #6262
I couldn't reproduce the problem. I wrote the test case below but it is passing.
https://github.com/back4app/parse-server/commit/86322035793254de8e1f621d47469c8c290d18cc

Are you able to write a test case like this one that I sent that fails?

[2019-12-17 17:58] dplewis commented on #6277
Closing via https://github.com/parse-community/parse-server/pull/6278

[2019-12-17 17:58] #6277 closed

[2019-12-17 18:23] dplewis commented on #6101
Closing via https://github.com/parse-community/parse-server/pull/6177

[2019-12-17 18:23] #6101 closed

[2019-12-17 18:30] dplewis commented on #6276
@marxyes You will want to use dot notation (nested) as @omairvaiyani has posted.

[2019-12-17 18:30] #6276 closed

[2019-12-18 15:20] stevestencil opened #6288 "Add hint to Parse.Query"
**Is your feature request related to a problem? Please describe.**
My application has a collection with over 1 million objects in it. There are several indexes in this collection. The majority of the time, when querying this collection mongo picks the right index. Sometimes mongo will not pick the right index and queries can take sometimes 30 seconds. When I run the same query by accessing mongo d

[2019-12-20 09:14] cjlovescoffee commented on #6267
To reproduce, follow these steps:

1. Create two new Parse classes: A and B
2. Create a single instance of A
3. Create 15 instances of B and attach them to the single instance of A via a "relation" field on class A (I named mine "B")
4. Delete 1 instance of class B (preferably not the first or last, but any in between)
5. Query (via any SDK or the REST API) class B ("/parse/classes/B") with the fo

[2019-12-20 19:31] davimacedo commented on #6267
Hi @cjlovescoffee . Thanks for going further with this. Do you want to open a PR with the proposed the change so the others can evaluate and merge?

[2019-12-21 03:48] davimacedo commented on #6288
In my opinion that would be a great new feature. Is this something that you'd be willed to work on?

[2019-12-22 02:22] memishood opened #6292 "Does parse server support rtc signaling ?"
I want use webrtc with parse server, can i send sdp and ice data to peer user (without save) using parse ?

[2019-12-22 03:45] dplewis commented on #6292
This currently isn’t supported. I’m not familiar with WebRTC but you could implement it with express. Parse Server is built on top of express.

[2019-12-22 05:46] grassland-curing-cfa opened #6293 "Mininum version of Parse-serve that supports MongoDB 4.2"
I am currently with with Parse-server 2.8.4 hosted on Heroku and a MongoDB M2 Cluster (mongoDB 4.0 version) hosted on MongoDB Atlas.

I was recently advised that my Cluster would be automatically upgraded to 4.2.

I would like to know which version of Parse-server at minimum I will need to upgrade to from 2.8.4 to support a MongoDB 4.2 Cluster.

Thank you in advance.

Alex

[2019-12-22 10:33] memishood commented on #6292
Could you add the feature tag to this issue?

[2019-12-22 21:35] grassland-curing-cfa commented on #6293
I have upgraded my mongoDB cluster to mongo 4.2.2 but left Parse-server as 2.8.4. It seems it works well with 4.2.2 at the current stage.

[2019-12-23 07:09] davimacedo commented on #6293
Our CI doe not have any automated test running against 4.2 so we can't be sure. You can pull the 2.8.4 release and run the tests against it so you can make sure that everything will work fine.

[2019-12-23 15:09] stevestencil commented on #6288
I will give it a shot... I guess it should be passed in as an option (string or object) when calling find, count, each, etc.?

[2019-12-23 17:12] davimacedo commented on #6288
Yes. I think it should be an option similar to readPreference. If you track readPreference down from JS SDK to Parse Server Mongo Adapter, and add the new option in a similar way, you will probably achieve what you need.

[2019-12-23 19:12] ashish-naik opened #6295 "Permission denied for action count on class parse server"
### Issue Description

I am using Parse Server v2.8.2 and suddenly started getting error code 119 on one of the classes. I found a post that showed a screenshot of parse dashboard CLP with count checkbox.

I was using dashboard of lower version so couldn't enable it. So upgraded dashboard and error went away after i enable count permission.

But i am wondering why i started getting this issue sudd

[2019-12-23 22:34] dplewis commented on #6293
@grassland-curing-cfa 4.2 support was added in MongoDB driver 3.3.0. Parse Server 2.8.4 ships with that driver. Because the driver supports 4.2, we can't assume that Server 2.8.4 does.

[2019-12-23 22:44] dplewis commented on #6292
@memishood I don't see how RTC would work with Parse. How do you see this feature being used?

[2019-12-24 00:31] #6293 closed

[2019-12-24 00:37] dplewis commented on #6295
Unfortunately we don't support 2.8.2 anymore. Please update to the latest version of Parse Server.

Reopen if this issue still persists and a method to reproduce this issue.

[2019-12-24 00:37] #6295 closed

[2019-12-24 01:19] dplewis commented on #6267
@cjlovescoffee I was able to reproduce this issue. You can check this [PR](https://github.com/parse-community/parse-server/pull/4345) for the reason why this exists.

If you want you can remove sort by createdAt and this will fix your issue.

We maybe able to fix your issue and keep the optimization but more investigation is needed.

[code]

[2019-12-24 01:38] #6267 closed

[2019-12-24 01:39] #6152 closed

[2019-12-24 01:45] dplewis commented on #1908
Closing via https://github.com/parse-community/Parse-SDK-JS/issues/921#issuecomment-531391139

By the time we get the pointers it will be too late to do paging unless we implement leftJoin (supported after Mongo 3.4). LeftJoin has been tried but its a deep rabbit hole. If anybody is interested please feel free to open a PR.

[2019-12-24 01:45] #1908 closed

[2019-12-24 01:48] dplewis commented on #2654
Moving conversation to https://github.com/parse-community/parse-server/issues/6193

[2019-12-24 01:48] #2654 closed

[2019-12-24 01:54] dplewis commented on #6193
@vitaly-t I just saw that, will probably add in the future.

Quick update I got this working but I'm going to leverage `enableSingleSchemaCache` for backwards compatibility. Will try to get it in ASAP.

[2019-12-24 07:45] qwertyway commented on #5839
Thank you @mullwaden

I've been facing exactly the same issue with roles and fresh added users as described at #5393
I've spent a couple of days investigating the issue, found live query cache, but wasn't sure how to configure or reset it

You solution helped, I'll use it for now. I hope the final fix will be more efficient

[2019-12-24 13:33] stevestencil commented on #6288
I see readPreference is set with a readPreference function on Parse.Query... should I create a "hint" function or just allow for a "hint" param to be passed into the find, count, etc. options?

[2019-12-26 07:25] davimacedo commented on #6288
I think both work but I personally prefer the function. @dplewis thoughts?

[2019-12-26 18:43] rasool1994 opened #6300 "Parse.Object.saveAll() get slower after each call"
### Issue Description

I have a cloud function that acts as an API for getting data from another server.
let suppose server x read some data from an MSSQL database and send every 1000 record in one request to my parse server API.(ex: 13 calls for 13000 records)
every time that API called, Parse.Object.saveAll() would work slower.

#### cloud code
[code]

#### Expected Results

save each 1000 recor

[2019-12-27 17:42] dplewis commented on #6300
You could try `directAccess` and `enableSingleSchemaCache` server options.

We are currently looking into improving the caching as well.

[2019-12-28 07:25] LavTeamProject opened #6305 "Cloud Code. 141 public is not defined"
I don’t understand what the mistake is. How to fix?
swift code:
`
        let params = ["roomAlias": "example_roomAlias", "roomId": "example_roomId", "topic": "example_topic", "name": "example_name"]

        PFCloud.callFunction(inBackground: "create_chat", withParameters: params, block: { result, error -> Void in
            if let result = result {
                print(result)
            } el

[2019-12-28 07:29] #6305 closed

[2019-12-28 13:08] Taylorsuk commented on #483
@kevflynn is it possible to shed a little more light on your experiences with running Parse Server in Lambda, recommended set-up, issues, performance etc.

I've most concerned about cold boot times - what are you getting on average?

[2019-12-28 17:17] thphuc opened #6306 "GraphQL - signUp/createUser mutation throws error: This authentication method is unsupported"
### Issue Description

Using GraphQL playground to test signUp/createUser using Facebook. It throws error "This authentication method is unsupported"

The mutation:
[code]

### Environment Setup
- **Parse server config**
[code]
- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 3.9.0
  - Operating System: Ubuntu
  - Hardware: AWS EC2
  - Localhost or remote server? (AWS, He

[2019-12-28 20:14] dplewis commented on #6288
Historically users should manage their own indexes. If you have mLab you can view slow queries and add indexes that way or use Mongo `db.collection.find().explain()` or similar for your database.

The current index system could use some rework (I added it when I was an inexperienced developer).

For this feature we could do `query.explain()`. To do this we can add a new endpoint in the router.

[c

[2019-12-29 17:18] REPTILEHAUS opened #6307 "Integrate Stackdriver logging for Winston"
Im trying to integrate the default winston logger with the Google Cloud stack driver adapter but cant figure out how to integrate it

Do you guys have any pointers on this library ?
https://github.com/googleapis/nodejs-logging-winston

trying this at the moment but its not working

[code]

Similar issues:
https://github.com/parse-community/parse-server/issues/2501
https://github.com/parse-communit

[2019-12-30 05:15] LilMoke opened #6308 "JS query.distinct question..."
Hello,

I have written a small test func to test retrieving distinct records from parse.

I was wondering how I can retrieve all the fields associated with the distinct records in one call?

The func below does successfully retrieve distinct records, but only for the field specified.

[code]

Thanks for the help!!

[2019-12-30 07:53] #6128 closed

[2019-12-30 11:48] REPTILEHAUS commented on #6307
I have gotten it implemented however the issue remains that the default logging of parse still creates a log dir

[code]

This is causing issues in my GAE environment as writing directories is not allowed, I have also specified in ```    logsFolder: null,``` in my parse init

[2019-12-30 12:17] REPTILEHAUS commented on #6307
Other related issues and approaches I have tried

https://github.com/parse-community/parse-server/issues/2855
https://github.com/parse-community/parse-server/issues/2518
https://github.com/parse-community/parse-server/issues/6205

[2019-12-30 12:45] REPTILEHAUS commented on #6307
Strange behaviour, even when specifying an alternative logs directory name (other than null) parse still creates a logs folder as well as the other custom folder

[2019-12-30 13:04] REPTILEHAUS commented on #6307
After some source code review Ive found a work around by setting ```process.env.PARSE_SERVER_LOGS_FOLDER=null```

Seems ```./src/Options/index.ts``` maybe should have the type ```logsFolder: string | null```  ? Im not sure about the internals of parse or what to tweak or id submit a PR but I think it can be corrected in this block in ```./src/defaults.js```

[code]

[2019-12-30 19:03] dplewis commented on #6307
I think the line you want is [here](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Logger/WinstonLogger.js#L91) I think winston also creates the directory as a backup but I'm not sure.

[2019-12-30 21:26] dplewis commented on #6308
This currently isn't possible. In your case distinct will group by unique `conversationId`. You will have multiple field values per conversationId, which value will be set per field?

If you want you can try to use aggregates.

[2019-12-30 21:26] #6308 closed

[2019-12-31 12:42] manhhavu opened #6309 "Error "id is an invalid field name" in Parse server 3.x"
# Before opening the issue please ensure that you have:

- [x] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [x] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

Saving an object with a "id" field causes error: "id is an invalid fi

[2020-01-02 06:39] saimoomsafayet opened #6311 "Wrong Object Count in PostgreSQL"
### Issue Description

I am currently using Parse Server with PostgreSQL as the database. Problem is, for some classes count is always returning 0 even if there are objects.

### Steps to reproduce

1. Create a class.
2. Add some row using parse dashboard (2.0.5)
3. See that the count is not getting updated in the Data browser - stays 0.
4. Also if I submit a count query via rest or JS SDK, it ret

[2020-01-02 09:09] suathh opened #6312 "aggregate function returns null for number fields"
### Issue Description

When I use aggregate function in JS SDK it is working fine with string columns but when I try to use it with a column with number type it gives reference value as null.

### Steps to reproduce

[code]

elapsed is a number field. Collection has 2 different values 0 and 90
### Expected Results

Result should be like

`{
    "result": [
        {
            "objectId": 0

[2020-01-02 11:14] saimoomsafayet commented on #6312
It is fixed in the latest version of parse server - 3.9.0

See: [https://github.com/parse-community/parse-server/pull/5994](https://github.com/parse-community/parse-server/pull/5994)

If you want to use the current version try this solution:
[https://github.com/parse-community/parse-server/issues/5989#issuecomment-526007093](https://github.com/parse-community/parse-server/issues/5989#issuecomment-

[2020-01-02 11:23] suathh commented on #6312
Thanks

[2020-01-02 11:23] #6312 closed

[2020-01-03 07:42] johanarnor commented on #6288
We also have a case when mongo (via mlab) picks the "wrong" index, making the query time out (we've got a limit on 10 seconds). So this would be much appreciated!

[2020-01-03 17:16] dplewis commented on #6311
There is a known issue with Postgres called slow counting. Counting can be an expensive operation so we provide an estimate count to allow for scalability.

See the conversation [here](https://github.com/parse-community/parse-server/pull/5330).

[2020-01-04 01:07] davimacedo commented on #6288
@dplewis besides the possible improvements to the index system, @stevestencil 's idea is actually to support MongoDB `hint` feature in which you can force MongoDB to use a certain index when running a query. It is very useful and I also needed it in the past myself. Take a look here: https://docs.mongodb.com/manual/reference/operator/meta/hint/

[2020-01-04 05:42] memishood opened #6314 "Parse Server Cloud onLiveQueryEvent"
Hi, i have questions about the title.

1-) does onLiveQueryEvent trigger support async / await ?

2-) could we get parse user or objectId from onLiveQueryEvent if logged in (authenticated) ?
[code]

server: 3.9.0

[2020-01-04 15:15] dplewis commented on #6314
1) I believe so, but I don't think it can resolve a promise (returns a promise). You can try it in your code and let us know if it works. Here is the code for [runLiveQueryEvents](https://github.com/parse-community/parse-server/blob/2f05d819f3e29ae26c2070e7710ab7edb9787e18/src/triggers.js#L660).

2) If you have the sessionToken or installationId you can query for that user in the _Session or _inst

[2020-01-04 15:15] #6314 closed

[2020-01-04 15:17] dplewis commented on #6288
Oh I see, thanks for the link

[2020-01-04 17:17] saimoomsafayet commented on #6311
Noted. Closing this issue. Thanks!

[2020-01-04 17:17] #6311 closed

[2020-01-05 01:49] wqzyow commented on #6195
Same issue here. beforeSave() was not triggered for only one parse subclass. After investigation/debugging, turned out I was using a field/column named "**length**" on that parse subclass. Renaming that column fixed the issue.

Believe the error is being thrown because of one line in **RestWrite.js**:

[code]

result.length returns 0 when the 'length' column value is 0.

[2020-01-05 02:41] davimacedo commented on #6306
I think the problem is in your Parse Server config. It should be something like this:

[code]

[2020-01-05 02:48] thphuc commented on #6306
Thanks @davimacedo
Really? I will try but I used "auth" for my other parse server backends.

[2020-01-05 04:52] davimacedo commented on #6306
Sorry. You're right. It should be `auth`. But try just passing the `appIds` and not the other settings. Also make sure that your `$fbId` var is not empty. I've received the same error when I sent an empty value.

[2020-01-05 16:36] memishood opened #6315 "onLiveQueryEvent returns undefined"
server: 3.9.0 (back4app)

[code]

[2020-01-05 19:46] memishood commented on #6309
i recommend that you should use different name for id because it is used by mongodb

[2020-01-05 19:46] memishood commented on #6309
i recommend that you should use different name for id because it is used by database

[2020-01-05 22:35] dplewis commented on #6315
A PR was submitted and merged.

https://github.com/parse-community/parse-server/pull/6230/files

This will be included in the next release. If you want you can [use the latest branch](https://github.com/parse-community/parse-server#want-to-ride-the-bleeding-edge) to test this.

[2020-01-05 22:39] dplewis commented on #6309
There are also other side effects to using `id` field, which is why we don't allow the use of `id`.

See https://github.com/parse-community/parse-server/pull/5664/files

Closing as this is expected behavior.

*Note* If you want to use id / objectId to create your own objectId's this will be a feature in the next release.

[2020-01-05 22:39] #6309 closed

[2020-01-05 22:40] #6315 closed

[2020-01-05 23:25] wqzyow commented on #985
Exact same issue as @DFranch. As soon as you use **.set()** on the object, the server will return undefined values for attributes (or no attributes at all).

[code]

If you save the object (object.save()) before returning it to client however, attributes will have values including **newAttribute**.

[code]

Returning JSON.stringify(object) to client without saving object first also returns object

[2020-01-06 01:03] dplewis commented on #6195
@wqzyow That is interesting. We can do a PR for that. @drhuanliu Are you experiencing anything similar?

[2020-01-06 14:31] mullwaden opened #6317 "sendPasswordResetEmail user not properly loaded"
### Issue Description

The custom emailAdapter does not seem to get a correct user object, pointers to objects are not pointers but simply strings with the object ids. Some clarification:

[code]

The issue can be solved by fetching the user ``user.fetch({ useMasterKey: true })``, but this to me seems strange

### Steps to reproduce

- Create a simple emailAdapter like the one above
- make sure yo

[2020-01-07 09:39] lunjio opened #6318 "Parse LiveQuery user restriction"
Hi, are there ability to filter/restrict user queries on server side if he connected trough a LiveQuery API  ?

[2020-01-07 10:33] lybaiyy123 opened #6319 "How to distinguish between save and creat in beforeSave"
How to distinguish between save and creat in beforeSave？

[2020-01-07 10:34] #6319 closed

[2020-01-07 10:35] lybaiyy123 opened #6320 "How to distinguish between save and creat in beforeSave？"
How to distinguish between save and creat in beforeSave？

[2020-01-07 10:41] lunjio commented on #6320
Are you tried check if saving object's an Id is set ? If an Id exist, it must be saving object's changes, if doesn't, so creating a object, i  think so.

[2020-01-07 10:49] omairvaiyani commented on #6320
[code]

[2020-01-07 11:36] #6320 closed

[2020-01-08 03:12] dplewis commented on #6318
Each subscription is sent with the current user sessionToken.

If you think this is an issue please follow the [Security Guide](https://github.com/parse-community/parse-server/blob/master/SECURITY.md) we can discuss more.

[2020-01-08 03:12] #6318 closed

[2020-01-08 12:43] yog27ray opened #6323 "Pass "Request Id" in api calls"
I am unable to track down the main start point of any api request made to parse-server.
For Example:
Parse.Cloud.define('A', async (req, option) => {
    console.log('>>>>CallToA', option);
    return new Parse.Query(Parse.User).findAll(option);
});

Parse.Cloud.define('B', async (req, option) => {
    console.log('>>>>CallToB', option);
    return Parse.Cloud.run('A', {}, option);
});

Parse.Clou

[2020-01-08 16:40] Blemming opened #6324 "Cannot use latest parse-server with latest parse-dashboard and graphql"
### Issue Description
Starting a fresh project with parse-server and parse-dashboard makes graphql unuseable because of version difference of graphql

Mentioned in #6214 but closed for what ever reason

### Steps to reproduce
Npm install parse-server , npm install parse-dashboard, run in express app, go in the playground either in dashboard or not, you will have a error 500

### Expected Results

[2020-01-08 16:58] omairvaiyani commented on #6323
I believe this is currently not possible. Whilst you can use a middleware to set a request id like so:

[code]
Unfortunately you cannot access it from within the cloud functions. We'd be able to consider a PR - [this section](https://github.com/parse-community/parse-server/blob/master/src/triggers.js#L197) is roughly where a change would be made. We need to consider what `key` should be used for t

[2020-01-08 18:44] akritskiy opened #6325 "LiveQuery connection fails because sessionToken is null, but sessionToken is present in localStorage"
### Issue Description

LiveQuery works fine most of the time, but sometimes opening the connection fails because the sessionToken is null.

The error message on the backend is: "error: Connect message error %s"

This message comes from: /node_modules/parse-server/lib/LiveQuery/ParseLiveQueryServer.js (line 317)

I added some console logs and the actual error message is: Invalid type: null (expecte

[2020-01-08 18:46] dplewis commented on #6325
A new version of Parse Server was released. Can you update and see if your issue persists?

[2020-01-08 18:50] akritskiy commented on #6325
@dplewis Sure, I'll update to 3.10.0 and report back.

[2020-01-08 19:08] akritskiy commented on #6325
@dplewis Updating didn't resolve the issue. Since it's more of a front-end issue, I should've posted it on the Parse JS SDK anyway, so I'll close this out and repost.

[2020-01-08 19:10] #6325 closed

[2020-01-09 04:07] yog27ray commented on #6323
Thanks @omairvaiyani for considering it. As a hack I can get he generated requestId in cloud function also with the below code
[code]
[code]
But the problem is not just getting requestId in cloud function but to forward that requestId in subsequent parse calls.

[2020-01-09 04:24] dplewis commented on #6106
Closing via [3.10.0](https://github.com/parse-community/parse-server/pull/6321)

[2020-01-09 04:24] #6106 closed

[2020-01-09 16:36] TomWFox commented on #5632
So was the takeaway from this that the client ID is not actually optional? - if so I'll update the docs

[2020-01-09 22:48] asdf01 opened #6329 "Db related startup errors after 3.x migration"
Hey Guys

Thanks for all your contributes to parse server.

We have been holding off the migration from 2.x to 3.x and recently had to upgrade from 2.8.4 to 3.10.0 because of aggregation query bugs in 2.x.

After the migration, parse server wouldn't even start.  The startup process would stop citing one of the following reasons:
- mongo client couldn't connect to one of the replica set nodes becau

[2020-01-09 23:30] dplewis commented on #6329
For the index issue follow the [2.3.0 Migration Guide](https://github.com/parse-community/parse-server/blob/master/2.3.0.md#mongo-complains-that-the-index-already-exists-but-with-different-options) You can simple delete those indexes and they will automatically be added properly on start up.

See [Parse.Promise Proposal](https://github.com/parse-community/Parse-SDK-JS/issues/57). Parse.Promise was

[2020-01-10 14:23] omairvaiyani commented on #6323
Whilst this is not a direct fix for your problem, I tend to see the use of inter-server cloud function calls as an architectural problem. Ideally, as your codebase grows, you should aim to only use `Parse.Cloud.define` to expose your business logic to your client API consumers - but internally, you should execute other functions directly. See this very oversimplified example:

[code]

With this pa

[2020-01-10 15:15] oallouch commented on #4883
Any news on this one ?

[2020-01-10 17:09] acinader commented on #4883
hi @oallouch I got started on a related solution this past summer: https://github.com/parse-community/parse-server/pull/5634/files#diff-b0af2ee2c26859a8aa6d8d0a0cf3a64aR1721

to solve what I think is a bad and annoying shortcoming of parse: usernames and emails are case-sensitive in a way that they shouldn't be (see: #3990).

I haven't gotten the solution over the finish line, and your use-case ma

[2020-01-10 17:12] BufferUnderflower opened #6331 "ID length is hardcoded (10 chars) for CLP validation"
### Issue Description

1. By default objectIdSize is set to 10. It can be configured to any fixed length - see #3950.
2. There is a recent addition allowing to set custom object ids #6177.

During CLP validation there is a regEx allowing exactly 10 chars:

[code]

This leads to a problem: if you decide to change `objectIdSize`:
CLP for user with `id.length != 10` won't be accepted by schema contro

[2020-01-11 04:28] JeromeDeLeon opened #6333 "Aggregate match doesn't work with custom date field"
### Issue Description

The problem still persist when doing aggregate with `customFieldDate` as pointed out by this [scenario](https://github.com/parse-community/parse-server/issues/4678#issuecomment-551075100).

This is my scenario of aggregation. I have tried this one using MongoDB Compass to simulate the results and that works.

[code]

### Steps to reproduce

Create an aggregation similar to a

[2020-01-11 07:31] yog27ray opened #6334 "Parse-server release 3.10.0 wrong mongodb update version mentioned."
In recent release of [Parse-server@3.10.0](https://github.com/parse-community/parse-server/releases/tag/3.10.0) version for mongodb mentions is 3.3.5 but in package.json it is 3.3.4.

[2020-01-11 08:12] ashish-naik commented on #5632
Value is needed according to me.  Service id didn’t work for me.  Bundle is id.

[2020-01-11 16:28] dplewis commented on #6334
Where do you see 3.3.4? I see 3.4.1.

https://github.com/parse-community/parse-server/blob/0fc811ad8327b63866af1d905ecfb7ae747cc991/package.json#L46

[2020-01-11 20:52] memishood opened #6336 "3.10.0 onLiveQueryEvent trigger"
Hello i migrated to 3.10.0 for fix installationId on live query disconnect event but the problem still continues. i am getting undefined, when will you fix this? thanks a lot

[2020-01-11 22:23] teonivalois commented on #4886
Another option is to add the following additional file as an adapter:

[code]

If you are using parse-server in a docker container, you can even mount the file as part of the container under _/parse-server/lib/Adapters/Custom/_ and reference it via **PARSE_SERVER_FILES_ADAPTER**=_./Custom/DOSpacesFileAdapter.js_

[2020-01-11 22:26] dplewis commented on #6336
What are using for your client? If it’s JSSDK what version are you using?

[2020-01-11 22:40] dplewis commented on #6334
@yog27ray I’d recommend doing a clean install.

Please reopen if you are still having the original replica set issue from 3.3.2.

[2020-01-11 22:40] #6334 closed

[2020-01-11 22:49] oallouch commented on #4883
Maybe all I need is an option parameter so that I can pass any mongo option to the native driver.
It's what I do now when I directly use the driver's collection.

[2020-01-11 22:57] dplewis commented on #4883
@acinader Sorry dropped the ball on that one. I was waiting for you to right a test.

@oallouch You are right. Feel free to open a PR. There are a lot of options like ReadPreference that get passed into mongo with the same style.

We are here to help. I’ll assign this to myself but I wont be able to get to it for a while.

[2020-01-11 23:49] oallouch commented on #4883
@dplewis ok, I'll try when I have more time.

[2020-01-12 00:52] dplewis commented on #4883
I’ll race you lol.

[2020-01-12 03:24] memishood commented on #6336
Android Client

[2020-01-12 17:43] srameshr opened #6338 "Support for Redshift"
**Is your feature request related to a problem? Please describe.**
Our team was looking at using the Parse ORM to query our AWS Redshift DB instead of a separate query language. Is this something that has been previously discussed?

**Describe the solution you'd like**
Server URL would be just a string to Redshift clusters.

**Describe alternatives you've considered**
Considering PostgresSQL hoste

[2020-01-13 11:22] yog27ray commented on #6323
The above mentioned case was just an example, we don't actually call a cloud-function from another cloud-function. But if cloud-function saves some object then beforeSave and afterSave trigger doesn't have information about source of origin.

[2020-01-13 12:03] yog27ray opened #6339 "FCM server giving "Interval Server Error"are not getting retried."
I recently noticed there are PushStatus entries, which are marked failed and succeeded for the same Installation. After setting ```VERBOSE_PARSE_SERVER_PUSH_ADAPTER=1``` I saw lot of FCM request were giving "InternalServerError" error.

[code]

After searching I got [Firebase Error Codes](https://firebase.google.com/docs/cloud-messaging/http-server-ref#error-codes), which says to retry. I also tri

[2020-01-13 23:05] stevestencil opened #6340 "Add trigger support for files"
**Is your feature request related to a problem? Please describe.**
Currently there is zero authentication or customization of files via hooks.

**Describe the solution you'd like**
Just like we have beforeSave, afterSave, etc. for Objects. Having the ability for beforeSaveFile, afterSaveFile, etc. would allow for different authentication, validations, file name changes, meta data, etc. when saving

[2020-01-13 23:07] stevestencil commented on #6340
I have already built the beforeSaveFile and afterSaveFile hooks... I still need to write tests for them but I would like to have someone review what I have done and provide any feedback before I go any further. Is the best way to do this to just create a PR? @dplewis

[2020-01-13 23:16] stevestencil opened #6341 "Add support for adding meta-data and tags to files"
**Is your feature request related to a problem? Please describe.**
Currently when saving files, the only thing you can set is the data itself and the file name. The ability to add additional [meta-data](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/add-object-metadata.html) and [tags](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/add-object-metadata.html) (specifically with S3) w

[2020-01-14 05:24] yog27ray commented on #6339
After doing some research I guess the above problem can be solved by making following change [@parse/node-gcm sender.js](https://github.com/parse-community/node-gcm/blob/master/lib/sender.js#L109)

[code]

to

[code]

[2020-01-14 06:48] srameshr commented on #6338
@dplewis

[2020-01-14 07:17] yog27ray commented on #6339
https://github.com/parse-community/node-gcm/pull/1

[2020-01-14 07:18] yog27ray commented on #6339
https://github.com/ToothlessGear/node-gcm/pull/337

[2020-01-14 07:22] davimacedo commented on #6339
@yog27ray thanks for reporting the issue. Are you willed to send a PR with your suggested correction? We'd be happy to review.

[2020-01-14 07:26] davimacedo commented on #6338
Currently there is no official support to Redshift as a database for Parse Server. You'd need to create a new Database Adapter.

[2020-01-14 07:38] davimacedo commented on #6341
I think it is a good idea and can be worked together with https://github.com/parse-community/parse-server/issues/6340

@dplewis @acinader thoughts?

[2020-01-14 07:40] davimacedo commented on #6340
@stevestencil It looks a good additional to Parse Sever. I'd be happy to review the PR.

[2020-01-14 09:01] #6331 closed

[2020-01-14 11:24] yog27ray commented on #6339
@davimacedo I have already created PR for the same, https://github.com/parse-community/node-gcm/pull/1 and https://github.com/ToothlessGear/node-gcm/pull/337

[2020-01-14 15:51] dplewis commented on #6340
@stevestencil If you already have a branch made I can look at it since I have access to your fork.

[2020-01-14 15:54] stevestencil commented on #6340
The branch is [file-triggers](https://github.com/stevestencil/parse-server/tree/file-triggers). After sleeping on it I think the fileObject that gets passed into the request should be a Parse.File with base64 data? This would then allow a user to return a different Parse.File with different data or even a Parse.File that has a url (and is already saved)?

[2020-01-14 22:02] stevestencil commented on #6340
@dplewis @davimacedo Is there any documentation on getting the tests to pass? If I checkout the master branch, run npm install and npm run test, I cannot get them to pass. I would like to contribute more to this project but I feel like i'm chasing my tail with these tests. Thanks!

[2020-01-14 22:09] davimacedo commented on #6340
I'm not aware of any documentation. I figured out how to pass the tests, the env vars and software versions by checking the Travis Job (for example, https://travis-ci.org/parse-community/parse-server/jobs/637059444). I use to to do like this:

In the beggning:
[code]

Then I run as many times I need:
[code]

Then in the end:
[code]

Do you have many tests not passing? Or just few ones? If you want

[2020-01-15 00:29] victorx98 opened #6343 "aggregate pipeline projected date field can not be recognized properly"
Sourcefile: https://github.com/parse-community/parse-server/blob/master/src/Adapters/Storage/Mongo/MongoStorageAdapter.js

Function name: _parseAggregateArgs()

The purpose of the function is to " recursively traverse the pipeline and convert any Pointer or Date columns", but it can only recognize existing fields defined in the collection schema. If we create a new Data field in project stage, it

[2020-01-15 10:50] ljunokas commented on #547
Is this solved? i get the same problem when uploading bigger file, like 1mb

[2020-01-15 11:03] ljunokas opened #6345 "CORS error when trying to upload files"
Hi i have i problem where i cant upload files to my parse server. I get cors error. Few things:
- it works localy
- when i upload very small file less than 1mb it works if i try to upload file with 2mb i get this error

[2020-01-15 11:47] ljunokas commented on #6345
If anyone is looking for this. The problem was nginx max request size defaults to 1mb, so increase that and it will be ok

[2020-01-15 11:47] #6345 closed

[2020-01-15 13:33] Noaker opened #6346 "Issue with Date for ParseLiveQueryClient callback"
### Issue Description

The ParseObject returned by LiveQuery events gives Date in String format, instead of Date format. Problem seem to specifically pertain to "Update" events. Strangely, some Date fields are returned in Date format while some are returned in String format.

I have tried several Parse-Server versions and with the exception of version 3.1.1, all other versions 3.7.2, 3.8.0, and 3.

[2020-01-15 15:49] JeffGuKang commented on #6173
I got the same issue. And dplewis 's PR looks be applied in v3.10.0. Thanks.

[2020-01-16 02:42] #6339 closed

[2020-01-16 07:45] khawarb opened #6350 "Facebook login without PFFacebookUtils"
Previously i was using PFFacebookUtils to login/signup in app using user's Facebook but somehow PFFacebookUtils stopped working in my app due to clash with other libraries. So i moved to actual Facebook login.

Now all working fine here when user signed up/login using facebook SDK and then after searching in Parse server am logging the user in using username and password.

Now the issue is how to

[2020-01-16 22:41] sunshineo commented on #2652
@omairvaiyani I tried your solution. It works but with some caveats. My function used `req.params` but you have to change it to `req.body` and install bodyparser https://www.npmjs.com/package/body-parser

I think we should re-open this proposal. Would the change be really simple or very complicated because there are other parts coupled together?

[2020-01-16 23:39] #6245 closed

[2020-01-17 00:52] BufferUnderflower opened #6351 "Granular Pointer Permissions in CLP"
**Is your feature request related to a problem? Please describe.**
As of now it's impossible to set fine-grained pointer permissions in CLP.

Was previously requested:  #4045 and #4251.

I'll track progress here.

This involves:
- [ ] server implementation
- [ ] dashboard update
- [ ] docs update

[2020-01-17 19:25] victorx98 commented on #6343
I think issue #6333 is talking about the same problem. Maybe we can merge these two issues.

[2020-01-18 17:54] stevestencil commented on #6340
@davimacedo I have a PR in for this feature if you want to review it. I'd love to hear your feedback.

[2020-01-19 03:29] githubsaturn opened #6353 "Possible Documentation Issue"
In the Dockerfile, there is a line which defines two volumes:
https://github.com/parse-community/parse-server/blob/3ed6535b233cf20c6cf853df88796f4b7f6edb99/Dockerfile#L18

Without specifying a volume in the run command, these volumes aren't easily accessible to the end user. I believe `-v` options need to be added in the sample run command:

https://github.com/parse-community/parse-server/blob/3ed

[2020-01-20 07:27] JeffGuKang commented on #6173
There is an error yet.

`parse-server: 3.10.0`

[code]

[2020-01-20 07:33] JeffGuKang commented on #6173
@dplewis
There is an error with default websocket among running livequery. How can I prevent to terminate node server from the error?

parse-server: 3.10.0

.../node_modules/parse-server/lib/ParseServer.js:229
          throw err;
          ^

RangeError: Invalid WebSocket frame: invalid payload length 126
    at Receiver.getInfo (.../node_modules/parse-server/node_modules/ws/lib/receiver.js:213:1

[2020-01-20 07:38] JeffGuKang commented on #6173
I will try to update node version.

[2020-01-20 15:09] srameshr opened #6354 "Support multiple parse instances in JS SDK"
**Is your feature request related to a problem? Please describe.**
Unable to connect to multiple parse servers from UI (JS SDK)

**Describe the solution you'd like**
Allow multiple versions of Parse to exist.

**Describe alternatives you've considered**
None. Have to invoke cloud code but not able to because of the limitation with parse JS SDK

[2020-01-20 17:15] ashish-naik commented on #5148
@mikecann  Were you able to resolve this issue?

[2020-01-20 21:27] oallouch commented on #4883
I just saw your response, which means you'll win :)

[2020-01-20 23:36] davimacedo commented on #6354
That would be really good but I believe it would require a huge effort. Is it something that you would like to contribute? In the meantime, you can use the REST or GraphQL API in order to call the cloud code of a second app.

[2020-01-21 00:04] davimacedo commented on #6353
Hi. Thanks for reporting. Can you please send a PR to the [docs repo](https://github.com/parse-community/docs) with your suggested improvement?

[2020-01-21 11:56] shiva-p17 commented on #3404
Who asked ??!!!

[2020-01-22 07:22] lybaiyy123 opened #6357 "How should I judge whether object.op is incrementOp / deleteop or setop"
How should I judge whether object.op is incrementOp / deleteop or setop?

thanks ,
I just want user can increment ,
so,in the  beforsave function ,i want   judge whether object.op is incrementOp / deleteop or setop?

[2020-01-22 09:48] lybaiyy123 opened #6358 "increment('test.name',1) with Parse.Cloud.beforeSave is not work"
### Issue Description

var t=new Parse.Object('test')
t.set('test',{name:1,age:2})
t.save()

t.increment('test.name',1)
t.save()

when i creat a cloudFunction liks this,
 Parse.Cloud.beforeSave('test',function(req){
     // console.log(req.triggerName)
     // console.log(req.object.toJSON())

 })

t.increment('test.name',1)  is not work,

### Steps to reproduce

### Expected Results

### Actual O

[2020-01-22 19:47] TravisHeaver opened #6359 "Create object fails when CLP user pointer create set to true public create set to false"
### Issue Description

Create new object  fails when CLP public read/write set to false but pointer to _User (column named user) read/write set to true.

I am able to create objects when public create is set to true, however this leads to a vulnerability that a user can create an object for any user, there is no validation who is creating

### Steps to reproduce

schema for the class
{
    "_id":

[2020-01-22 22:30] davimacedo commented on #6359
I think it works like this by design as we can see in [this](https://github.com/parse-community/parse-server/blob/master/spec/PointerPermissions.spec.js#L287) test case but I'm not sure why. @dplewis @acinader any idea?

@TravisHeaver in the meantime I suggest you to enable `requiresAuthentication` for `create` and write a `beforeSave` trigger to either attach the current user to the `user` field

[2020-01-23 02:17] davimacedo commented on #6350
I believe you need to set a new password for these users and unlink them from facebook. Can you share what you tried so far?

[2020-01-23 08:28] davimacedo commented on #6357
try this:

[code]

[2020-01-23 08:28] #6357 closed

[2020-01-23 08:30] #6353 closed

[2020-01-23 08:35] davimacedo commented on #6358
Thanks for reporting. Could you please write a test case?

[2020-01-23 14:51] lybaiyy123 commented on #6358
step 1:
var t=new Parse.Object('testobject')
t.set('testFiled',{'name:1','age:2'})
t.save()

step 2:
creat a cloudFunction liks this,
Parse.Cloud.beforeSave('test',function(req){
// console.log(req.triggerName)
// console.log(req.object.toJSON())
})

step3:
t.increment('testFiled.name',1)
t.save()

expected result:
after   t.save() , the testFiled={'name:2','age:2'}

[2020-01-23 16:37] BufferUnderflower commented on #6359
This is by design, `create` can not be allowed by _column_. It just makes no sense, because there is literally no object to inspect it's column for users who are allowed. I mean the object has to exist on server already and have some users stored in its field.

If we allow `create` by field (pointer permission) examining just the incoming object- I believe this adds zero security, but more importa

[2020-01-23 17:59] BufferUnderflower commented on #6359
'handle those later' iirc is about other  permissions that pass this validation function (sanity check) and handled later by adding query constraints:
[code]

[2020-01-23 22:01] TravisHeaver commented on #6359
ok, thank you for the feedback, I will implement as suggested!

[2020-01-23 22:01] #6359 closed

[2020-01-24 01:56] mikecann commented on #5148
No idea mate. Cant remember. Ditched parse a while back.

[2020-01-24 04:19] asdf01 opened #6361 "Parse Server 3.x Parse.Cloud.httpRequest no longer able to send body for GET request"
The httpRequest class no longer seems to be able to do a GET with a request body anymore.  It looks like the library used to do the http request has been completely changed in Parse Server 3.x.

The parse server classes api allows specification of a where condition for the GET http method.  This no longer seems to work in Parse Server 3.10.0.

This curl is a simulation for what the GET request sho

[2020-01-25 09:42] wahengchang opened #6362 "[GraphQL] The old query way "results" is not working anymore"
### Issue Description
This is a simple graphQL string, that I used to query __**all**__ companies (i know it is not a best way, and it is not for a production project). As I see, after `parse-server` is updated to  `"parse-server": "3.10.0"`, there is not way to query `ALL` object of a `Class`.

[code]

[2020-01-25 09:43] wahengchang commented on #6362
error message

[code]

[2020-01-25 15:21] Moumouls commented on #6362
Since Parse 3.10 GraphQL Api spec have change from custom one to relay Spec.

**All of your graphql operations (Mutation/Query) need to be re designed**

Check the new API with the GraphQL Playground or check the docs: https://docs.parseplatform.org/graphql/guide/#queries

[2020-01-25 15:25] Moumouls commented on #6145
May be with https://github.com/parse-community/parse-server/pull/6360
And a Remote Schema strategy you can stitch an Hasura on a GraphQL Server: https://www.apollographql.com/docs/graphql-tools/remote-schemas/

[2020-01-25 20:04] ashish-naik opened #6365 "Session token nil on loginWithAuth and error 206"
I have enabled Sign In with Apple but facing issue saving logged in user after loginWithAuth returns successfully.
I have noticed sessionToken is nil for the logged in user which may be causing error 206.

I had created [this Issue](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1477)  under iOS sdk but was told sdk is not an issue.
I also posted in Parse Community and stack Overflow

[2020-01-26 04:38] wahengchang commented on #6362
ya, i saw that doc is also updated.

I am not very familiar in graphQL, feeling frustrated to redesign the existed lib on the project.

[2020-01-26 04:38] #6362 closed

[2020-01-26 04:56] omairvaiyani commented on #6362
Appreciate that it's frustrating, but it is the reason why we placed this feature in beta and mentioned that's its a breaking change. Hopefully in the long run, this will pay off as we'll be consistent with other frameworks using graphql

[2020-01-26 23:20] #5930 closed

[2020-01-26 23:24] TomWFox commented on #6354
Seems like this should be transferred to the JS SDK repo?

[2020-01-27 10:38] taivo opened #6369 "Parse.Push not silent with push_type="background" on ios"
### Issue Description

The issue I encountered can be replicated by using the Push functionality of Parse Dashboard. I'm using parse-server 3.9 on Back4App. The behavior I'm looking for is a silent push that does not trigger a notification on iOS when the app is in the background (or not running), but still receive the payload content to do my own processing when the app is running in the foregrou

[2020-01-27 20:09] Moumouls opened #6374 "Proposal to DROP SUPPORT of Postgres due to ongoing CI Instability"
It seems that we have some CI fails
https://github.com/parse-community/parse-server/pull/6371
https://github.com/parse-community/parse-server/pull/6360
https://github.com/parse-community/parse-server/pull/6363

Sometimes Postgres error:
[code]

Sometimes Push error:
[code]

Do you have any idea where the failures come from?

[2020-01-27 23:29] TomWFox commented on #6350
I'm closing this due to lack of response, @khawarb if you have further questions / issues we can reopen it.

[2020-01-27 23:29] #6350 closed

[2020-01-27 23:33] TomWFox commented on #6369
@funkenstrahlen would you be able to take a look into this?

+ perhaps this should be moved to parse-community/parse-server-push-adapter

[2020-01-27 23:57] davimacedo commented on #6354
I think so. It is actually [this](https://github.com/parse-community/Parse-SDK-JS/issues/203) issue that exists over there for a while.

[2020-01-27 23:57] #6354 closed

[2020-01-28 02:55] davimacedo commented on #6374
@Moumouls thanks for reporting. We need to figure it out. In the meantime, I managed to have your PRs tests passing.

[2020-01-28 06:18] davimacedo commented on #6361
Thanks for reporting. Could you please write a failing test case?

[2020-01-28 16:41] rhuanbarreto opened #6375 "Implement Azure Storage driver for file storage"
I want to implement file storage in my application using Azure Storage Accounts and found a good library on https://github.com/felixrieseberg/parse-server-azure-storage that deals with it.

But it's still lacking some improvements, testing and documentation. Time has passed since last version of the library (4 years) but I'm willing to take the time to improve it and incorporate in Parse Server.

[2020-01-28 17:34] Moumouls commented on #6306
Probably closed by: https://github.com/parse-community/parse-server/pull/6371

[2020-01-28 17:35] #6306 closed

[2020-01-28 17:35] #6224 closed

[2020-01-28 18:24] memishood commented on #6336
Could you find any soultion for this ? i am using parse server 3.10.0 , but i can't get any information on liveQueryEvent triggers when disconnect... I need this so much...
Client is Android
Parse-SDK-Android 1.22.1

[2020-01-28 18:44] dplewis commented on #6336
I believe this will require an update on the Android side to send data to the server. Please open an issue there. I can have a look although I’m not the best android dev.

[2020-01-28 19:03] memishood commented on #6336
They dont answer to any issue

[2020-01-28 23:04] memishood commented on #6336
@dplewis did you test on js sdk and are you sure working perfectly with 3.10.0 ?

[2020-01-29 11:33] funkenstrahlen commented on #6369
The `app` payload **must not** contain the `alert` key for the notification to be delivered in background.

(from [Apple Documentation](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app))

However I think you already know that and only added it for testing.

The `push-type` is handled differently. It is send i

[2020-01-30 21:16] patrickferreira opened #6380 "VError: stream ended unexpectedly when trying to deliver a PUSH notification on iOS"
### Issue Description

I have an iOS app, and every device registers its token when the user registers for remote notifications, like so:
`let installation = PFInstallation.current()
installation?.setDeviceTokenFrom(deviceToken)
installation?.saveInBackground()`

For some reason, I am able to send notifications to all the users that were previously saved in my mongo database. It still works for al

[2020-01-30 21:25] dfrankow opened #6381 "Quickly describe what parse server is and does"
I have looked at https://docs.parseplatform.org/parse-server/guide/ and https://parseplatform.org/ and https://github.com/parse-community/parse-server. I can't actually tell what Parse server does.

From github: _"Parse Server is an open source backend that can be deployed to any infrastructure that can run Node.js."_ Great. To do what?

From docs: _"Parse Server is an open source version of the P

[2020-01-30 22:25] TomWFox commented on #6381
That is a fair point and is something I have considered addressing in the past. One of the issues I’ve found is that any description you give assumes some level of knowledge so it’s difficult to get the right balance between being it being simple to understand but also concise and at the same time explain the potential power and customisability of Parse Server.

I’m not sure whether you are necess

[2020-01-30 22:29] dfrankow commented on #6381
Sorry, I have no ideas. I don't know what Parse Server does. I was just looking for a data syncing utility, and thought I'd share some feedback.

[2020-01-30 22:35] TomWFox commented on #6381
Ok, for me the simplest explanation is that Parse Server is basically [Firebase](https://firebase.google.com) but you host the backend server yourself (or use on of the Parse Server providers - Back4App & Sashido). Client SDKs for ease of querying, authentication, local storage etc, a dashboard for managing your database, REST API and GraphQL api.

[2020-01-30 22:37] dfrankow commented on #6381
Gotcha. Thanks!

[2020-01-30 22:38] dfrankow commented on #6381
You can resolve this if you wish. I'd suggest putting something of that description in the github page.

[2020-01-30 22:39] acinader commented on #6381
if you're not creating a web or app user interface, parse is probably not the right tool for what you're doing.  If you trying to sync data between two systems periodically, I'd think you'd want to use something like AWS Lambda that is triggered on a preset schedule by AWS Cloud Front.

[2020-01-30 22:39] #6381 closed

[2020-01-30 22:44] Wouter125 commented on #6324
Second this. Having the same issue, with the following lines in my package.json;

[code]

Do you have any solution yet?

[2020-01-30 23:15] #6380 closed

[2020-01-30 23:18] patrickferreira commented on #6380
Found the issue. 2 issues actually:
* In my development environment, I was using an expired cert
* In production, deviceToken was null, so the push notification couldn't be sent

If anyone else is having trouble debugging this kind of error, this utility was helpful: https://github.com/onmyway133/PushNotifications

[2020-01-31 21:23] dplewis commented on #6375
We try to keeps the adapters separately from the main repo. If not we would have a lot of overhead.

Can you try to collaborate with the owner of that repo or ask them if we can move it to this organization.

[2020-02-01 14:16] MFelex opened #6384 "redirection in cloud functions"
### Issue Description

I have a problem via **redirection** in cloud function.
when a client calls a specific cloud function , we need to redirect the client to a URL like [Http://google.com.](url)
Usually based on the documents we use `Parse.Cloud.httpRequest` with `followRedirects: true` , but the client receives an object instead of redirection.
What is the proper solution to redirect a client

[2020-02-01 14:29] yomybaby opened #6385 "AuthenticationProviders should only create a single user with REST API"
### Issue Description
AuthenticationProviders should only create a single user with REST API.
[`AuthenticationAdapters.spec.js`](https://github.com/parse-community/parse-server/blob/master/spec/AuthenticationAdapters.spec.js#L222-L240
) has a test case for this.

[code]

This test case try to make two `POST` request with the same `authData` in a serial way.
In a parallel way, it can make double us

[2020-02-02 02:13] JeffGuKang commented on #6173
@aeolus Did you got any idea? I have a same issue.

[2020-02-02 03:31] taivo commented on #6369
Strange, that's exactly what I have in my code and prompted me to use the dashboard to create an easily replicable example. Here's how it looks in my code, which seems the same as yours.

[code]

If I don't enable the "badge" field (or "alert" or "title"), the silent notification just does not arrive to my app running in the foreground.

When I enable badge, alert, or title, I see the aps dictiona

[2020-02-02 09:39] funkenstrahlen commented on #6369
Interesting. If you want to make sure the push type is not the cause of the issue you can omit it for notifications to iOS. The Apple documentation states that is is only required for watchOS. On iOS it’s just recommended. So it should work without it. However I can not guarantee the Apple documentation is up to date in this case.

We should also check if this is a problem caused by the notificati

[2020-02-04 11:15] greenkeeper[bot] opened #6388 "An in-range update of graphql-tag is breaking the build 🚨"
## The devDependency [graphql-tag](https://github.com/apollographql/graphql-tag) was updated from `2.10.1` to `2.10.2`.

🚨 [View failing branch](https://github.com/parse-community/parse-server/compare/master...parse-community:greenkeeper%2Fgraphql-tag-2.10.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql-tag is

[2020-02-04 23:28] JakeGreer commented on #4599
Did you ever find a solution for this? @elios264

[2020-02-04 23:52] elios264 commented on #4599
@JakeGreer nope, as you see I was ignored :(, I just gave up on using custom classes in backend

[2020-02-05 14:54] Wouter125 commented on #6324
Nevermind. I dropped the parse sample project and initialised my own, now everything works as it should.

[2020-02-05 18:05] sunshineo commented on #2652
Hello everyone, I have a new solution to this problem by automatically add the header for all the requests but unfortunately breaks the dashboard
[code]

The reason the dashboard breaks is that it is not using the HTTP headers but POST request to specify in the POST body all the time for efficiency reason according to this post https://github.com/parse-community/Parse-SDK-JS/issues/630

For us, we

[2020-02-05 19:44] sunshineo opened #6390 "Use JWT to authenticate (workaround inside, but looking for a proper solution)"
We need to support requests without Parse session token but a JWT from Auth0. We have a hack but wonder if there is a better way to do this. We don't like the part that we have to call db twice to find the user and then the session. We would have called the db even more times if the user or session does not exist. We had to give the session an insane long expiration time, but I hope that is not a

[2020-02-07 04:46] davimacedo commented on #6390
The best way would be writing a new auth adapter like [these](https://github.com/parse-community/parse-server/tree/master/src/Adapters/Auth). It would be nice to have it here. Would you be willed to tackle this and send us a PR?

[2020-02-07 04:55] #6388 closed

[2020-02-07 05:02] davimacedo commented on #6324
@Blemming could you please share your package.json?

[2020-02-07 06:21] sunshineo commented on #6390
@davimacedo I could be wrong but I think the auth adapter is exactly the opposite. Using one of those adapter will get Parse server to log user in and issue a sessionToken to the client. Later requests will put that sessionToken in the header, and then it's business as usual.

But here we don't want to use the sessionToken at all, we want Parse to use the JWT issued by Auth0. And frankly, it is pr

[2020-02-07 07:27] #6262 closed

[2020-02-07 15:12] funkenstrahlen commented on #6369
@taivo Can you please try with a priority of at least 10?

[2020-02-07 15:29] abhinaykumar commented on #6369
I can confirm that this is still an issue even all the suggestions mentioned here: https://github.com/rpush/rpush/issues/534 would love to help if someone points out what needs to be done.

[2020-02-07 22:59] funkenstrahlen commented on #6369
I know iOS 13 requires the new header key when sending push notifications to APNS. This functionality has been added to `node-apn` a long time ago exactly because of this change on Apples side.

Parse Server uses the `parse-push-adapter` and the push adapter uses `node-apn` to send notifications.

You can find the code setting the header key here: https://github.com/parse-community/parse-server-pu

[2020-02-08 00:52] dplewis commented on #6369
I believe we already addressed this. Duplicate https://github.com/parse-community/parse-server/issues/6106

The answer should be in there somewhere

[2020-02-08 02:08] davimacedo commented on #6390
Sorry. I've misunderstood your usage case. For your case case I think the middleware before Parse replacing jwt to session token is the way to go. You are not planning to use the SDKs, right?

[2020-02-08 04:26] dplewis commented on #6385
This look like expected behavior to me. `Create0AuthUser` just creates a user.

Lets say I have to two users creating accounts at the same time. Are they two separate users or same user?

[2020-02-08 04:26] #6385 closed

[2020-02-08 04:28] dplewis commented on #6384
Why not redirect on the client side? If you want to redirect on the server side you could use a middleware. Call you cloud code function then send a response back to the client from the middleware response.

[2020-02-08 04:28] #6384 closed

[2020-02-08 04:31] dplewis commented on #6374
I tried to fix the postgres issue a while ago.

https://github.com/parse-community/parse-server/pull/6299

I could downgrade to 10 and see if that helps (originally was at 9.5 then jumped to 11). I don't know why its looking for postgis 2.4 (it should look for 2.5 and I don't know how to force it).

For the Push Status one I might be able to fix it indirectly.

[2020-02-08 04:49] yomybaby commented on #6385
I think that this is a bug.
With the same auth data, it have to create only one user.

This answer is "same user", right? Because they are using same SNS account.

`Create0AuthUser` use same auth data(id) every times. ([link](https://github.com/parse-community/parse-server/blob/master/spec/AuthenticationAdapters.spec.js#L106-L109))

For example,
If you try to signup/login with the same facebook ac

[2020-02-08 14:32] santiagosemhan commented on #6307
+1
I'm setting logsFolder to null but the Log folder and empty files each day are still created.

I'm using the following configuration:
[code]

Parse Server version: 3.10.0

[2020-02-08 16:42] Dynan7 opened #6395 "Use with fastify server instead of express"
### Issue Description

Can I use fastify backend server with ParseServer instead of express?
https://www.fastify.io/

[2020-02-08 16:45] Dynan7 commented on #6390
With JWT use, you still need check token in fast database like redis to check forced token ban

[2020-02-09 09:01] JeffGuKang commented on #6385
@dplewis I got a pain with same issue.

Sometimes multiple same accounts(having same authData) are made by multiple request from the one user when I use `linkWith()` for social login. And `username` of `_User` is randomly generated. So unique check is not work through `username`.

This situation happens by poor connection, slow DB, request by fast double click and so on.

I suppose the options for

[2020-02-10 02:57] sunshineo commented on #6390
@Dynan7 We do not have any kind of that check right now. We rely on the token to be very short-lived and constantly refreshed. We probably will eventually do that so users do not have to login too frequently.  Do you think my way of having Parse handle JWT is OK? Was your point that even now I have to do a check from database or cache, it is not worse than JWT since if JWT was setup properly this

[2020-02-10 03:50] sunshineo commented on #6390
@Dynan7 On second thought, we are using 3rd party OAuth 2 service (Auth0). Users get a refresh token in their browser and the actual access token expires after a very short time (could be as low as 60s or so). The browser will receive 401 and realize the token expired and try to use the refresh token to get a new access token from Auth0. When we need to ban someone, we just invalidate the refresh

[2020-02-10 07:28] davimacedo commented on #6390
@sunshineo I am not aware of any plans to replace current session token to jwt but I believe if it is something that the developers can opt-in or not it would be welcome. I'd need to learn more about jwt but I guess it would be medium project (I'm considering we can user some hack in order to not change all SDKs but definitively I'd need to learn more about jwt). @acinader @dplewis thoughts?

[2020-02-10 09:07] sunshineo commented on #6390
Thank you @davimacedo! Does anything come to your mind besides attach x-parse-session-token to request.headers ? Is it possible to create something else and attach it to the request that can achieve the same effect?

[2020-02-10 17:31] Dynan7 commented on #6390
That sounds good, if you update token so often, you really no need check it in the any storage.
I just thought you have access token with long time expiring
In our project we too save permissions in JWT, it's fast and usefull.

[2020-02-10 19:07] sunshineo commented on #6390
@Dynan7 Thank you for sharing! How do you use the permissions from JWT in Parse? How does that work with Parse ACL?

[2020-02-10 22:53] davimacedo commented on #6390
@sunshineo you can look at [this](https://github.com/parse-community/parse-server/blob/master/src/middlewares.js) file to see how the session token is handled. Observe that you can also send it in the body on a post request instead of in the header.

[2020-02-10 23:22] sunshineo commented on #6390
Thank you @davimacedo . It seems that I can create an Parse.Auth object myself from that user. I do not need to log the user in then get the session. I do not need to have never expired sessions in my database.  This also saves a couple database calls. I'll try it and report back.

[2020-02-10 23:52] davimacedo commented on #6395
Parse Server is essentially an Express.js middleware so I believe you will not be able to use it with Fastify (I don't know so much about Fastify though and I may be wrong).

[2020-02-10 23:52] #6395 closed

[2020-02-11 00:53] sunshineo commented on #6390
After reading the code my conclusion is that the middleware will overwrite req.auth based on the fact that there is no sessionToken. So I believe my workaround is the only workaround without modify the Parse code. The good news is I'm feeling this is not going to be that hard. I'll try to do a fork and try something.

[2020-02-11 01:48] davimacedo commented on #6307
Have you tried with `process.env.PARSE_SERVER_LOGS_FOLDER=null` like @REPTILEHAUS suggested?

[2020-02-11 02:43] sunshineo commented on #6390
I was able to add this simple change that allows me to pass down the Parse user I mapped from JWT on the request to the Parse middleware. https://github.com/sunshineo/parse-server/commit/2dcafa35e9967a75c94507169f44e4deb442bfdc
[code]

This saves one or two database call, and we are no longer messing with the Parse sessions. No more insane long expiration session.

This workaround still requires u

[2020-02-11 12:14] santiagosemhan commented on #6307
Hi @davimacedo ! If I set `process.env.PARSE_SERVER_LOGS_FOLDER=null` logs folder It's not being created but I think that conf object passed to ParseServer instance should be taken into account in order to config log folder too.

Thanks

[2020-02-12 04:31] davimacedo commented on #6307
Got it. This is something that can be really improved. Do you want to tackle this one?

[2020-02-12 05:22] ptan33 commented on #3576
we're having the same problem; does anyone know of a stable combination of nodeJS and Parse that doesn't have this memory leak issue?

[2020-02-12 07:23] johanarnor commented on #3576
@ptan33 What version of node and Parse are you running? We had this issue a couple of years back, but that was only on node 6.x. Node 8, 10 or 12 hasn't caused any issues for us.

[2020-02-12 11:29] coderofsalvation opened #6403 "`.notEqualsTo` Parse.Query-function weirdness on postgres (for nested objects)"
#6177 # Issue Description

`.notEqualsTo`  Parse.Query-function not behaving correctly on postgres (for nested objects)

### Steps to reproduce

just changing `.equalTo` to `.notEqualTo` does not seem to differ at all.

[code]

another simplified version:

[code]

### Environment Setup

- parse-server version: 3.9.0
- Operating System:     alpine linux 3
- Localhost or remote server? localhost
- P

[2020-02-12 13:02] santiagosemhan commented on #6307
I spent a lot of time trying to figure out where the problem was but honestly I couldn't find it. If you can give me a clue maybe I could tackle this!

[2020-02-12 16:08] danielchangsoojones opened #6405 "Memory Leak On Queries (Due To Caching/Certain Parse-Server And Node Versions)"
### Issue Description

During busy times (aka maybe 100 concurrent users), our heroku application started to get really slow. It was reaching 1GB - 2GB of RAM memory on our server (a pretty insane amount for our small scale). When we were running lots of queries, it would get super slow or it would just eventually H10 crash the heroku server. As we started analyzing the memory heap, it was apparen

[2020-02-12 19:28] davimacedo commented on #6307
If you set logsFolder to any other folder than not the default, does it work? I guess this option is only working through env vars.

[2020-02-12 19:33] ptan33 commented on #3576
we've got the latest versions of Parse-Server (3.10.0) and Node (12.16.0)

after upgrading, we still have the memory leak issue sadly. we're going to use redis to cache our queries to solve the issue

[2020-02-12 19:39] davimacedo commented on #6405
Have you also tried the `enableSingleSchemaCache` option?

[2020-02-12 20:31] Skyb0rg commented on #5161
run into the same issues:

**Resolve this with Mongo Shell**

[code]

[2020-02-13 00:22] santiagosemhan commented on #6307
Yes! If I set logsFolder to test, then test folder is created. The problem
is with the null value! Always creates logs folder and start to log into
the files.

El El mié, 12 feb. 2020 a la(s) 16:28, Antonio Davi Macedo Coelho de Castro
<notifications@github.com> escribió:

--
Enviado desde mi iPhone

[2020-02-13 02:33] danielchangsoojones commented on #6405
Yes, we tried that. The true fix was to just spin up Heroku Redis and then just update the redis cache adapter. Then the memory issue just goes away. Was pretty easy to do honestly. Although, it seems a little silly since parse server should work right out of the box without memory issues.

[2020-02-13 04:03] itman85 opened #6407 "Does parse-server support protocol buffer?"
I see the protobufjs in nodejs, so does parse-server support protocol buffer? if yes how can i get started integrate parse-server with protocol buffer? Is there any way else to compress data transfer client&server using parse sdk android? cause i need to reduce the bandwidth.
 thanks for your help.

[2020-02-13 04:19] dplewis commented on #6405
@danielchangsoojones We had this discussion previously and I came up with a solution. https://github.com/parse-community/parse-server/issues/6193#issuecomment-551295886

Its on my todo list, I'll try to get to it before the end of the month.

It did work out of the box without memory issues for a single instance. What about multiple instances running against the same DB? This created an issue of o

[2020-02-13 04:22] dplewis commented on #6288
Closing via https://github.com/parse-community/parse-server/pull/6322

[2020-02-13 04:22] #6288 closed

[2020-02-13 15:05] jfalcone commented on #3576
In our instance, upgrading to a newer version of node was the solution.   We're currently running Parse 2.4.2 on Node 6.11.1 and we're good for a month at a time between restarts which is unusual since most of the hosting services out there restart every 24 hours.  We're way behind versions but if it ain't broke...

[2020-02-13 20:08] MarcusAdriano commented on #6407
No. The actual implementation uses HTTP 1.1 and JSON.

[2020-02-13 23:51] dplewis commented on #6307
Although the server doesn't create the folder. Winston creates it internally I believe

[2020-02-14 02:12] santiagosemhan commented on #6307
I thought the same thing but the question is Why if you set PARSE_SERVER_LOGS_FOLDER env var to null the folder is not created?

[2020-02-14 13:30] akmarinov opened #6408 "Sign in With Apple token verification fails on occassion"
## Issue Description

The JWT tokens that Apple issues on the client side vary with regards to the used kid, for example they can be:

[code]

The code at the [apple.js](https://github.com/parse-community/parse-server/blob/46209266c7a7b6b483a3159aee1c92ed392fa625/src/Adapters/Auth/apple.js#L24) queries the [Apple API](https://appleid.apple.com/auth/keys) on valid public keys and respective kids, w

[2020-02-14 17:44] #3990 closed

[2020-02-15 02:19] JeffGuKang opened #6413 "[LiveQuery]RangeError: Invalid WebSocket frame: invalid payload length 126"
Related to #6173

### Issue Description

`RangeError: Invalid WebSocket frame: invalid payload length 126`
This error occurs intermittently and stops the server when I use livequery.

### Steps to reproduce

1. Run livequery by Parse Server
2. Use livequery
3. It happens irregularly

### Expected Results

Parse Server should not terminate by the error.

### Actual Outcome

Parse Server is terminat

[2020-02-16 09:38] dplewis commented on #6413
Is there a way you can view the frames or debug the socket? What client are you using?

[2020-02-16 09:43] JeffGuKang commented on #6413
I use default socket.

[code]

And I did not debug frames of the socket. I will share it after digging.

[2020-02-17 03:25] dplewis commented on #6413
At least we can prevent the server from crashing when an error occurs, even if we can't replicate it.

[2020-02-17 16:29] dplewis commented on #6407
Unfortunately we don't. Protobufs uses a static schema. Parse Server uses dynamic schema.

Feel free to open a PR to support both Protobuf and JSON.

[2020-02-17 16:29] #6407 closed

[2020-02-17 21:12] Blemming commented on #6324
This should be fixed now that 3.10.0 was released. I was using parse-server 3.0.9 with parse-dashboard 2.0.5 . I no longer have a package.json since I have chosen to not migrate my back end to parse.

[2020-02-17 21:12] #6324 closed

[2020-02-17 23:41] macarthuror opened #6417 "The Community Forum is down"
Hello Guys 🖖,

I write to know if the forum will be reactivated.
If that is the case or need someone with time I would like to cooperate.

[2020-02-18 10:40] TomWFox commented on #6417
Hi,

We're very much hoping the forum will be reactivated but there has been some issues with the hosting which @acinader is trying to resolve.

I believe he has reached out for support from GCP but has not been successful thus far. It's super frustrating and we're sorry for the inconvenience to those who use the forum!

[2020-02-18 13:45] theRippedPug commented on #5403
Had same problem.
Just write a random app-id and key in config.json manually and you're good to go

[2020-02-18 17:00] Wouter125 opened #6419 "Relation is resolved as column in graphQL and Postgres"
### Issue Description
I set up a Postgres instance with Parse and GraphQL. If I run a GraphQL query against my db that contains a relation, the relation is being resolved as a column instead of a relation causing a crash.

### Steps to reproduce

1. Setup a parse server + parse dashboard
2. Enable GraphQL
3. Connect to a Postgres instance
4. Open the GraphQL playground inside the dashboard
5. Exec

[2020-02-19 02:29] thibautvdu commented on #1857
I just read this thread looking for an answer. If I'm right, the initial question has never been answered and this is still not an option for the standard FilesRouter. Is there any option to set the Cache-Control header with the standard GridFS adapter ?

[2020-02-19 05:31] wahengchang commented on #1466
@hslorenzo hey how did you get it to work? Having the same issue

[2020-02-19 14:30] zivchen opened #6420 "Huge log files created and crashes the app after API scriptlog call"
### Issue Description

Hi
My log file grow to 50MB and more for a single file.
A. how to prevent this from happening? (lets assume i want to continue verbose logs and thats the amount of data that i have)
B. Once going to the log section on the dashboard (or doing the API call, thats why its not a dashboard issue), my server CPU jumped high, node memory went over 2GB (which crashed my AWS t3.small

[2020-02-19 16:20] srameshr opened #6421 "Parse equivalent of ObjectId.isValid"
**Is your feature request related to a problem? Please describe.**
Can we build an objectId validator for parse as mongoose does?
[code]
**Describe the solution you'd like**
```Parse.Types.ObjectId.isValid('93kxll393'); // True```

**Describe alternatives you've considered**
N/A

**Additional context**
Are there any rules for the validating objectId in parse? Like a regex?

[2020-02-19 18:24] hybeats opened #6422 "enableExpressErrorHandler option does not work"
### Issue Description

enableExpressErrorHandler option does not work. After setting it to 'true', cloud code errors still return { code: '141', error: 'message' }

### Steps to reproduce
1. Set enableExpressErrorHandler option to 'true'
`const api = new ParseServer({
  databaseURI: databaseUri || 'postgres://postgres:postgres@localhost:5432/postgres',
  cloud: __dirname + '/cloud/main.js',
  appI

[2020-02-19 19:55] fartem opened #6424 "Delete all records on database query at once"
To remove objects, I need to get them at the query of the database and delete using Object.destroyAll. But this works with restrictions (by default 100 entities in 1 query result), and if the number of objects exceeds the set limit, I have to get entities and delete it in a loop. Is there a way to delete all objects at once using a query without limits?

[2020-02-19 21:24] macarthuror opened #6425 "Is anyone using Amazon DocumentDB on production ?"
Hello guys 🖖

I want to know if anyone is using Amazon DocumentDB on production and your comments about it between MongoDB (Atlas) and this Amazon DB.

Thanks

[2020-02-19 22:25] GoGross commented on #6425
DocumentDB is overpriced, I doubt anyone here will be using anytime soon. deploy your own Mongo if you must

[2020-02-19 22:29] GoGross commented on #6424
there are no limits, however its still best practice to delete in batches after .count. You can also flush the particular class via `Schema.purge();` which is more effiecient

[2020-02-20 05:35] fartem commented on #6424
I will describe the situation. I have a list of users, each of which has entries (no matter which). After deleting the user account, I also need to delete all his data. Right now, entries deleting so:

[code]

Should a large amount of data be deleted this way?

[2020-02-20 06:47] beiguancyc opened #6426 "There is a bug if maxLogFiles suffer with d"
Hello guys,

I test my app with config :
--appId xxx --masterKey xxx --databaseURI mongodb://xxx  --maxLogFiles  20
It's right.

but,if I write this like :
--appId xxx --masterKey xxx --databaseURI mongodb://xxx  --maxLogFiles  20d
It's wrong.

undefined:1
20d
  ^
SyntaxError: Unexpected token d in JSON at position 2

I find the code in follow file.

./lib/Options/parsers.js

function objectParser

[2020-02-20 09:33] thibautvdu opened #6427 "Possibility to set Cache-Control for files served by the standard FilesRouter"
Referencing the closed issue #1857 which has been closed without being apparently solved, I'm looking for a way to set the Cache-Control header for files served with the standard parse server configuration, that is files which are stored on MongoDB through gridfs.

A great solution would be to be able to specify a default value for all the answers given by the FilesRouter and to further fine tune

[2020-02-20 10:24] GoGross commented on #6427
you won't need this if you are using NGINX or Apache, nodejs is not ideal for caching and serving files

[2020-02-20 10:30] GoGross commented on #6424
you can always revert to REST if the SDK isn't giving you the best options:

curl -X DELETE \
  -H "X-Parse-Application-Id: ${APPLICATION_ID}" \
  -H "X-Parse-REST-API-Key: ${REST_API_KEY}" \
--data-urlencode 'where={"userId":"object"}' \
  https://YOUR.PARSE-SERVER.HERE/parse/classes/entries

[2020-02-20 11:01] fartem commented on #6424
Hmm. This method is not entirely suitable, since I am deleting entries on server side. It’s a little strange that the server causes the removal of events on its side with REST, but not through with the JavaScript API.

[2020-02-20 14:44] #6425 closed

[2020-02-20 14:47] Moumouls commented on #6417
https://github.com/parse-community/parse-community.github.io/issues/35

[2020-02-20 14:59] Moumouls opened #6428 "Parse Server and GraphQL Foundation"
With our last implementations on the GraphQL API, Parse Server become a true challenger, a reliable, optimized solution into GraphQL world.

I think it could be interesting to make Parse joining GraphQL foundation, like Hasura and Prisma.

I may be wrong but we could be the first fully open source project (not backed by a company) to be a member as a Baas !

What do you think about this  ?

https:

[2020-02-20 17:02] byroncoetsee opened #6429 "using allowCustomObjectId"
Hi everyone,

I've posted on SO and slack but no one can answer me. I've also tried to go over to `https://community.parseplatform.org` but I get an error 522. So, I'm asking here.

I'm trying to use `allowCustomObjectId`. The reason I need this is, the objects I'm trying to save are coming from an external API and therefor have IDs. I could just use my own IDs but other records from other tables,

[2020-02-20 22:18] dplewis commented on #6426
Nice catch!

The issue is [here](https://github.com/parse-community/parse-server/blob/master/src/Options/Definitions.js#L237) it shouldn't use objectParser but one for number and strings.

[2020-02-21 03:48] hoffergg opened #6430 "handle http GET request from other site."
I am integrating  parse server with instgram API, instagram console needs a callback URL to handle the Auth.
The http request is like this:
```https://www.mysite.com/?code=AQDp3TtBQQ```
And I need the 'code' parameter to do with my ParseUser.
So what can I do? The cloud function is not working which needs auth in the Http request header.

[2020-02-21 09:59] davimacedo commented on #6430
Are you trying to authenticate via Instagram? Have you tried the [Instagram Auth Adapter](https://docs.parseplatform.org/parse-server/guide/#configuring-parse-server-for-ldap)? Otherwise I think you will have to create your own custom route in your Express.js app to handle this callback.

[2020-02-21 09:59] #6430 closed

[2020-02-21 10:00] Moumouls opened #6432 "Add SonarQube Bagdes and PR"
Recently, I tested SonarQube, it seems that the analysis was interesting.
I think we can add bagdes from SonarQube to this repo metrics for code quality/security and many other.

With sonarcloud.io we can link Travis with SonarQube to get an additional help on PRs.

Does a PMC can set up the thing/approve integration ?

[2020-02-21 10:21] davimacedo commented on #6429
As I remember, It was only implemented in the server side and not implemented in the JS SDK yet. So you will have to call the REST API directly in order to set a custom object id.

[2020-02-21 10:30] davimacedo commented on #6424
Currently there is no way to delete all objects that matches a query using the JS SDK. You need either to query the objects (maybe you can use the `each` function to make sure you have all of them) or use the REST API as @GoGross suggested.

[2020-02-21 12:04] fartem commented on #6424
@GoGross, @davimacedo, thanks.

[2020-02-21 12:04] #6424 closed

[2020-02-21 16:01] mtrezza commented on #6381
I agree that the Github page could use a few lines of marketing working at the top. Maybe just take some inspiration from the marketing wording the original Parse site?

https://web.archive.org/web/20140317140146/https://parse.com/
https://web.archive.org/web/20151029234848/https://parse.com/products

[2020-02-21 18:45] TomWFox commented on #6381
Something like that could be a marked improvement! I would be happy to accept a pr to that effect.

[2020-02-21 22:13] davimacedo commented on #6420
What is the logger adapter that you are using? Can you share your parse server settings? Anyways I really do not recommend using verbose=1 for production workloads. You should use it only for debugging something.

[2020-02-21 22:15] davimacedo commented on #6421
Can you describe your use-case? I mean, what do you need to achieve with that? You can also take a look [here](https://github.com/parse-community/parse-server/blob/master/src/cryptoUtils.js) to see how Parse generates the ids.

[2020-02-21 22:20] davimacedo commented on #6422
Hi @hybeats . Thanks for detailed reporting. Would you be willed to send a PR with your fix suggestion and a test case?

[2020-02-21 22:36] davimacedo commented on #6428
I think it is a good idea. We'd need to fill out [this](https://na3.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=e27b3ed3-6854-434f-8d87-f776a3fc1aff&env=na3-eu1) form. I understand there is no fee since we are a non-profit organization. @acinader @dplewis @TomWFox , can I go for it? Or maybe it would be better one of you guys to fill out? I am afraid they can associate my name with the f

[2020-02-21 22:41] davimacedo commented on #6428
@Moumouls in addition to this, I think we should add Parse in the community links both for GraphQL (https://graphql.org/code/ and https://graphql.org/community/) and Relay (https://relay.dev/docs/en/community-learning-resources) web-sites. What do you think? Could you help with this?

[2020-02-21 22:46] davimacedo commented on #6432
I think we can integrate and test it. It looks interesting. I've received an e-mail from them in order to approve the integration. @acinader @dplewis @TomWFox can I go for it?

[2020-02-21 22:51] TomWFox commented on #6432
I’m happy to give it a go. It does seem to overlap a bit with codecov but I’m guessing you can pick and choose which features you use?

[2020-02-21 22:59] davimacedo commented on #6432
We can also run both for a while and then decide which one best fits.

[2020-02-21 23:02] dplewis commented on #6432
I just started using SonarQube for my project. I’m all for it

[2020-02-21 23:12] davimacedo commented on #6432
Nice. So I've just approved the request. @Moumouls do you continue from here?

[2020-02-21 23:20] sunshineo opened #6435 "Is there any documentation on protectedFields in the CLP?"
Tried https://docs.parseplatform.org/ and found nothing. Even tried use [google](https://www.google.com/search?source=hp&ei=JWVQXpujKMOd-gSi76yIBg&q=protectedfields+site%3Ahttps%3A%2F%2Fdocs.parseplatform.org%2F&oq=protectedfields+site%3Ahttps%3A%2F%2Fdocs.parseplatform.org%2F&gs_l=psy-ab.3...844.9167..9938...1.0..0.268.1153.5j1j3......0....1j2..gws-wiz.......0j0i131j0i10.Tv-jtE8M7rM&ved=0ahUKEwjb

[2020-02-22 00:03] davimacedo commented on #6435
We are missing these docs and we should work on this. In the meantime, you can take a look and learn from the tests cases [here](https://github.com/parse-community/parse-server/blob/master/spec/ProtectedFields.spec.js)

[2020-02-22 11:07] Moumouls commented on #6432
It seems that i have an error: "This action must be performed by an organization owner" to sync the repo...

I know it need a Governance vote, but is it possible to upgrade me as an organization owner/PMC ?

[2020-02-22 11:17] Moumouls commented on #6428
Yes it should be free !

 About links, it's a great idea, but i think we need to wait the https://github.com/parse-community/parse-server/pull/6379 .
From my point of view this PR is needed to provide a complete developer experience, and keep a reliable dev workflow.

[2020-02-22 11:18] Moumouls commented on #6428
Or may be we should wait a little bit here for GraphQL Foundation too for the same reasons !

[2020-02-22 11:21] TomWFox commented on #6428
Could you explain what is actually means to join the foundation? - that page doesn't seem to provide any explanation.

[2020-02-23 03:13] davimacedo commented on #6432
@TomWFox can you please explain the process?

@Moumouls in the meantime I can setup it for you. Just let me know what I need to do. Or maybe we could arranje a time to do it together.

[2020-02-23 10:18] zivchen commented on #6420
@davimacedo
I have no logger definitions in parse settings so i think it takes the default one, which means winsotn logger with winston-daily-rotate-file
Even if i agree (partly) that verbose is not recommended in production we still need to add boundaries to log files size (it can become huge not in verbose with large traffic)
winston-daily-rotate-file has a property of maxSize i think it needs t

[2020-02-24 02:46] memishood opened #6436 "Multiple doesNotMatchKeyInQuery doesn't work on query"
### Issue Description

I tried on jssdk, cloud code, android but it didn't work so i thought the problem on parse server.
I was trying multiple query.doesNotMatchKeyInQuery but the second condition is doesn't work
my code for better understand:

[code]

### Steps to reproduce

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't

[2020-02-24 19:39] tutorbear opened #6440 "Android Application freezes up completely when using saveEventually()"
### Issue Description
**The client platform is android.**
saveEventually() is suppose to save objects using relations recursively just like saveInBackground does. The logic of my code is very simple and straight forward. I have a logged in user. I create a new ParseObject (Profile) and associate it with the user. Then when I call saveEventually The entire app freezes up.

### Steps to reproduce

1

[2020-02-24 20:09] TomWFox commented on #6440
Hi, if you are going to create multiple identical issues please reference them like this -> parse-community/parse-sdk-android#1007.

[2020-02-24 20:13] TomWFox commented on #6440
If the app stops responding and there is no error on your backend. It's unlikely that this issue is related to Parse Server.

The issue is probably related to the SDK or your use of it, so I'll close this one in favour of the Android SDK issue.

[2020-02-24 20:13] #6440 closed

[2020-02-24 20:20] TomWFox commented on #6435
I'll close this now as there is an existing issue - parse-community/docs#614. That is where we prefer to track issue relating to content missing from the docs, improvements etc.

If you manage to get a good grasp of protectedFields we are always open to contributions to the docs 😉

[2020-02-24 20:20] #6435 closed

[2020-02-24 20:23] TomWFox commented on #6329
Closing due to lack of response, feel free to continue the discussion if your issue persists.

[2020-02-24 20:23] #6329 closed

[2020-02-24 20:35] tutorbear commented on #6440
Thanks tom , I am new to issue reporting and did not know about referencing . I'll keep it in mind next time.

[2020-02-24 22:42] sunshineo commented on #6435
Thank you @TomWFox

[2020-02-25 03:41] davimacedo commented on #6436
That's by design. You can't have two constraints of the same type in the same field in the same query. You can try to do something like this though:

[code]

[2020-02-25 03:41] #6436 closed

[2020-02-25 04:43] memishood commented on #6436
Thank you so much 😊

[2020-02-25 09:04] xeaon opened #6441 "PostgresStorageAdapter.js: postgis version aware use of distance sphere function (GeoPoint distance calculation)"
### Issue Description

If you use postgresql as database and need to calculate distances of `GeoPoint` objects, you obviously need postgis. In postgis version > 2.2.0 the function `ST_Distance_Sphere` was renamed to `ST_DistanceSphere` which causes the Postgres Storage Adapter to fail here:

https://github.com/parse-community/parse-server/blob/9d7da58129994cd91b427c5ce5ae650c8060e3d4/src/Adapters/

[2020-02-25 14:43] TomWFox commented on #6432
A new PMC member can be added by consensus approval by the community. We haven’t defined a process for new org owners - I would say unanimous consensus of the PMC would be most appropriate.

Generally speaking I suggest we be careful about having too many org owners. Almost all normal actions can be performed within other perm levels - and we can adjust some of these where necessary/appropriate.

[2020-02-25 17:33] memishood commented on #6436
@davimacedo  the problem didn't solved. for better understand;

[code]

your suggestion:
[code]

[2020-02-25 17:33] memishood commented on #6436
@davimacedo  the problem didn't solved. for better understand;

[code]

your suggestion:
[code]

[2020-02-25 17:37] memishood commented on #6436
As you say, will i not use two times query.equalTo(); ?

[2020-02-25 18:32] dplewis commented on #6441
I believe the tests run against postgis 2.5 and postgres 11. I'm surprised this didn't catch.
https://github.com/parse-community/parse-server/blob/master/.travis.yml

We can make this change and require postgis 2.2.0 be the required minimum (currently I don't know what the minimum is).

[2020-02-25 19:01] memishood commented on #6436
I solved the problem using this way, i think this is big problem and you should fix. thanks.
[code]

[2020-02-25 22:47] Ramin-Bateni commented on #2981
Assume:   Port = **1337**

In windows:
--
**A) Find the process**
Now go to  `TaskManager > Performance > Open Resource Monitor`
Then find the process id (PID) of the port there.
![image](https://user-images.githubusercontent.com/9051320/75294113-def37280-583c-11ea-80d1-d1e3cc4669a3.png)
or use this power-shell command to find PID of port number 1337
[code]
**B) Kill the process**
Now u can kill t

[2020-02-26 09:33] xeaon commented on #6441
I've just double checked, if there was a backwards compatibility given in 2.5 but they've documented the new function name as a breaking change here: https://postgis.net/docs/PostGIS_Special_Functions_Index.html#ChangedFunctions_2_2

It also seems like, that there is no test which would cover this issue. I've forked parse-server, added a simple SQL query and it fails: https://github.com/xeaon/pars

[2020-02-26 09:36] mullwaden opened #6442 "matchesQuery and beforeFind do not work in combination"
### Issue Description
I two tables (ExpertProfile and Booking) that have a beforeFind on them that limits the number of results. When matchesQuery is a part of a query the before find is ignored.

### Steps to reproduce
First query, without a matches query:
[code]

Notice the ``"enFirmOrg" = 'LINpBurUH1'`` part has been added due to the before find on the ExpertProfile table.

Now when using match

[2020-02-26 22:02] Vortec4800 opened #6443 "How to validate third party auth token on server?"
I've got a custom authentication provider on the server, so there is a `validateAuthData` method on the server that works to validate a token. However the client (iOS in this case) only seems to validate the token on first login and never again, it just restores the original token from the keychain each launch.

Is there a way to get the system to re-validate the token? The desired behavior would

[2020-02-26 22:20] dplewis commented on #6441
@xeaon I use postgis 2.5.2 and I ran the example from the Postgres Docs [here](https://postgis.net/docs/manual-1.4/ST_Distance_Sphere.html).

[code]
<img width="817" alt="Screen Shot 2020-02-26 at 4 16 53 PM" src="https://user-images.githubusercontent.com/9830365/75393345-798e9880-58b3-11ea-8420-902a2bffc04a.png">

Perhaps 3.0 that you are using completely removed it instead of a warning.

I'm all

[2020-02-26 23:44] acinader opened #6444 "Remove: skipMongoDBServer13732Workaround"
parse-server 4.0 will set a new min mongodb version of 3.6 making the MongoDBServer13732Workaround no longer needed.

I will switch `skipMongoDBServer13732Workaround` to default to false for the sake of expediency, but it would bee nice to remove all of the code.

see: #5617

any interest @NotBobTheBuilder  :) ?

[2020-02-27 11:37] NotBobTheBuilder commented on #6444
Great stuff. I can definitely file a PR to remove all the logic, hopefully next week. Looks like I should just file that against master when #6445 is merged?

I think that flag can be permanently `true` now, since 3.6+ can handle the unmodified queries that hit that bug. Thanks for the ping! :)

[2020-02-27 16:35] #6317 closed

[2020-02-27 17:16] acinader commented on #6444
I think I stole your thunder and just did it.  Can you take a look at #6445 and see if there's anything I missed?

[2020-02-27 18:56] #6444 closed

[2020-02-28 11:10] santiagosemhan commented on #6443
Can you share your custom auth module? I think you can check this out https://docs.parseplatform.org/js/guide/#custom-authentication-module

[2020-02-28 16:54] Vortec4800 commented on #6443
Sure. This is a small module for Microsoft Graph SSO. The client is responsible for getting a valid OAuth token, and the server just tries to get the user's profile with the given token and make sure the user IDs match between the request and response.

I put a breakpoint on the validateAuthData function and it only ever seemed to get called during initial login and never again. Unless I'm missing

[2020-02-28 17:08] sanergulec opened #6451 "Error while login with Facebook after xcode 11 and IOS 13 with ParseServer"
### Issue Description

After updating to xcode11 and ios13 I can not use login with facebook that I was able to use while using ios12.

I researched and learned that with the new sceneDelegate protocol AppDelegate is not working as in the past, however it is not a new project and when I check Info.plist I don't see the "Application Scene Manifest". I am looking for two days and could not found any

[2020-02-28 23:57] davimacedo commented on #6442
Can you share the code you are using in your beforeFind trigger?

[2020-02-28 23:59] sanergulec commented on #6451
I updated the below frameworks to the latest versions and the problem was fixed.
FBSDKCoreKit (version 6.0.0)
FBSDKLoginKit (version 6.0.0)
ParseFacebookUtilsV4

[2020-02-28 23:59] #6451 closed

[2020-02-29 00:02] davimacedo commented on #6441
Yes. I agree. I think it would be better to only support the new way and document it in the next Parse Server release.

[2020-02-29 00:34] santiagosemhan commented on #6443
The session is validated every time in https://github.com/parse-community/parse-server/blob/master/src/Auth.js#L88 . But this checks that the session is stored on parse database. I don't know if you can hook this process and revalidate token against Microsoft. (@davimacedo @dplewis )

Remember that authData is necessary in login time. Maybe revalidate it will downgrade performance.

[2020-02-29 00:54] davimacedo commented on #6443
I think there is no hook you can use to include an additional validation to the default one (against Parse Server database). Maybe beforeSessionValidation/afterSessionValidation would be a good new feature. In the meantime I'd try to add a middleware to handle this custom validation before Parse Server.

[2020-02-29 01:12] Vortec4800 commented on #6443
I wouldn’t even mind something I could call client-side that asks the server to revalidate the current auth data instead of expecting the server to know when to check it. For some apps it may never need to revalidate, but for my use case we are using it to gate access to the app based on our organization’s Microsoft domain, so if you’re no longer an employee access is automatically revoked. That s

[2020-02-29 02:28] santiagosemhan commented on #6443
You could have an endpoint to invalidate the user when the user is no longer available. Call it when retire the employee from Microsoft domain. Or create a cron process that check the employee status and if it’s needed shutdown the session.

[2020-03-01 04:24] JeromeDeLeon opened #6454 "When will the v4 be available to npm?"

[2020-03-01 11:38] TomWFox commented on #6454
The release phase on travis is failing right now so it's not being published to NPM, hopefully it will be fixed within a couple of days.

[2020-03-01 11:38] #6454 closed

[2020-03-02 08:30] mullwaden commented on #6442
Sure, it looks like this for both the ExpertProfile and Booking classes

[code]

[2020-03-02 14:43] mtrezza opened #6455 "Issues modifying nested objects"
### Issue Description

3 Issues, maybe related:

a) Cannot set value for key in nested object deeper than 1 level.
For example for this object:
[code]
Changing key `object.set("a.b.c", false);` results in:
[code]
Changing key `object.set("a.b", false);` works as expected, so the bug only affects keys deeper than 1 level.

b) Cannot set value for key in nested object without affecting the whole fie

[2020-03-02 15:01] JeffGuKang commented on #6413
@dplewis
I got a error message through the latest PR(#6418)

[code]

[2020-03-02 15:12] dplewis commented on #6413
Thanks for the feedback. Did your server crash?

We can try to use the following to reverse engineer the payload that is failing. Knowing `_buffers.data` would be nice, I don't know if would help.

Also we should show the following for `VERBOSE=1`.

[code]

[2020-03-02 20:09] BufferUnderflower opened #6458 "Protected fields: query constraints and write operations"
**Is your feature request related to a problem? Please describe.**
1. Lack of functionality: as of now `protectedFields` do hide the field for `get`/`find` actions, but have no effect on `create`/`update`.
2. Possible security issue: for `find` it is now possible to set query constraints using fields that are protected e.g.:
[code]

As you can see there might be scenarios when this better work not

[2020-03-02 21:24] acinader commented on #6454
@JeromeDeLeon (4.0.2)[https://www.npmjs.com/package/parse-server] is now published :).

[2020-03-03 02:03] mtrezza opened #6459 "Make trigger context accessible in save"
**Is your feature request related to a problem? Please describe.**
Sometimes an object should be saved with custom execution in its triggers (e.g. afterSave).

**Describe the solution you'd like**
It should be possible to pass arguments from the `save` call to the triggers. There is already a `context` object that is passed from `beforeSave` to `afterSave`. It would be practical to make the `conte

[2020-03-03 05:30] JeffGuKang commented on #6413
@dplewis
My EC2 server did not crash anymore in v4.0.x :)
But sometimes the EC2's CPU load reached 100%. I am not sure it is related to this issue or not. (parse server v4.0.1). I will rollback and check my server with v3.10.0 again today.

 I will attach the more samples to files.

[nodejserror.json.zip](https://github.com/parse-community/parse-server/files/4279379/nodejserror.json.zip)

[2020-03-03 22:14] acinader commented on #6374
I am just restarting builds to get them to pass.  Not sustainable.

[2020-03-04 02:57] davimacedo commented on #6374
I've also done this for a long while now...

[2020-03-04 03:00] davimacedo commented on #6442
I'm not sure about using `user.isContractor()` and `user.getOrganization()` in the trigger. It may be the problem. Could you please try to use the `user.get('fieldName')` instead?

[2020-03-04 03:56] acinader commented on #6374
do you use postgres?

I am really can't take the time to be able to test postgres.

I think we should take it out of testing and only add it back if someone who actually uses it in production can help.

[2020-03-04 04:13] davimacedo commented on #6374
I don't have any app using Postgres but I know there are some users out there using it. I am not sure about just removing it. I think we'd need to descontinue its support because if we remove it from the CI it will stop working sooner or later. Maybe we can think about moving it to a different repo with its own tests which would be pinned to use the current version of Parse till the moment someone

[2020-03-04 19:24] mikebolivar commented on #4991
to return error from a cloud function I used this and works for me:

`  throw new Error('Unexpected server error, my error')
`

[2020-03-05 01:59] mtrezza opened #6464 "Release notes should contain index changes"
**Is your feature request related to a problem? Please describe.**
Parse Server 4.0.0 mentions this breaking change:

However, it is not clear that the fix creates a new index in the DB.

Creating indices in a mongoDB replica set is a delicate action, because:
- Other DB queries can depend on existing indices
- Index creation causes additional DB load (affects resources and oplog)
- For large coll

[2020-03-05 03:29] mtrezza opened #6465 "Unable to create case insensitive email index"
### Issue Description

Upgrading to parse server 3.10.0 to 4.1.0 fails with this error message:

`warn: Unable to create case insensitive email index: WiredTigerIndex::insert: key too large to index, failing 1157 { ... }`

The indices on `username` and `email` both fail to create with the same error message.

- Issue seems related to fix #5634
- Issue occurs with parse sever 4.1.0 on mongoDB 3.6.1

[2020-03-05 06:39] acinader commented on #6465
I'm also using WT 3.6.  According to the [manual](https://docs.mongodb.com/manual/reference/limits/#indexes),  for versions < 4.2 there is a limit of 1024 bytes for an index entry.  Presumably, index entries for case insensitive indexes are larger than for case sensitive.

For MongoDB versions greater than 4.2, there is no limit.

My assumption is that you have at least one extraordinarily large e

[2020-03-05 09:53] appxplore-tech opened #6467 "throw Parse.Error in Custom Authentication Module doesn't get treated as Parse.Error"
### Issue Description
I write my own custom Authentication Module due to some features that are not available here and I did throw some Parse.Error in the custom Authentication Module and I expect that I did receive the ParseError in my client instead of Internal server error code.

### Steps to reproduce
1. Create a Latest Parse-Server using Parse-Express-Example(I tried those version before: 4.1

[2020-03-05 10:57] humbleOldSage commented on #4159
@rafiuddinsadik  it worked. Thanks.

[2020-03-05 12:01] fastrde opened #6468 "New Parse-Server Project: MongoDB WiredTiger, MongoRocks or Postgres?"
In 2016 MongoDB with Rocks Storage Engine was the choice. Four years later the docs still recommend rocksDB. The git repository of rocksDB has not seen an update for 2 years.
Is Postgres now also recommended for production enviroments?
Are there any reasons why not to use MongoDB out of the box nowadays (for a new Project)?

[2020-03-05 15:10] mtrezza commented on #6468
If I understand you correctly, your question comes down to "What is the difference between mongoDB and Postgres?".

Both DBMS are based on fundamentally different paradigms. While Postgres is relational, object oriented, mongoDB is non-relational, document oriented, to name just one difference.

Which one you choose depends on your use case. As an example, if you focus on geo queries, there are [p

[2020-03-05 17:36] acinader commented on #6468
@fastrde the doc should be updated (cc: @TomWFox).  Ideally, both are well supported, but I *think* that there are a lot more mongo installations, and certainly the core contributors run mongo.

If you're starting a new project, I would recommend using Mongo DB  4.2.  I currently use Mongo 3.6 but hope to upgrade in the near future.

[2020-03-05 17:37] VladimirTambovtsev commented on #6468
Which performance is better today? MongoDB or RocksDB (with latest versions)?

[2020-03-05 18:10] acinader commented on #6455
@mtrezza any interest in getting started on solving this?

some unit tests that fail on a branch with a pr would be an awesome start?

[2020-03-05 20:30] mtrezza commented on #6465
@acinader You were right!

I removed some extra-long strings and was able to create the indices manually, without upgrading Parse Server to 4.x:

[code]

Did I read the code correctly, that these indices are not `unique` and the existing unique indices for `user` and `email` remain?

https://github.com/parse-community/parse-server/blob/5c7918980cf9b3bccd5b521e1831fa6b65d32705/src/Controllers/Datab

[2020-03-05 20:53] acinader commented on #6465
Whew!  glad to hear it.  We just made your data a little better ;).

Yes, you are correct. The __case sensitive__ unique index remains and is important.   The __case
 insensitive__ index is not unique.  It is ok if there are case insensitive clashes.  Here are two use cases for why the  __case insensitive__ index is not unique:

1.  Anonymous users and potentially some auth adapters use randomly g

[2020-03-05 20:55] TomWFox commented on #6468
@fastrde could you provide a link to the section of the docs in question?

[2020-03-05 20:58] acinader commented on #6468
https://github.com/parse-community/docs/search?q=rocksdb&unscoped_q=rocksdb

[2020-03-05 20:58] mtrezza commented on #6465
Makes sense! And yes, this did indeed lead to a data clean-up on our side 👍

[2020-03-05 20:58] #6465 closed

[2020-03-05 21:02] TomWFox commented on #6468
That work 😅, looks like a significant update would be needed.

[2020-03-05 21:08] acinader commented on #6468
I would simplify.  I don't think that any mention of WiredTiger or RocksDB is necessary at this point and is just confusing.

If issues arise we could add more docs to address them, but at this point, I think any discussion of the MongoDB storage engine is unnecessary and potentially confusing details.  When these docs were written both storage engines were in wide use and the transition from Rock

[2020-03-05 21:42] #6464 closed

[2020-03-05 21:54] TomWFox commented on #6464
@mtrezza we've updated the changelog and release notes accordingly, hopefully its satisfactory.

It could be a good idea to have a clear release doc with all the steps, chagelog and release notes formatting and notes like this.

[2020-03-05 22:38] davimacedo commented on #6468
I agree with @acinader . I believe we could just remove all the section talking about RocksDB. It has been inactive for a while now.

[2020-03-05 22:52] davimacedo commented on #6467
Can you share the code (or at least a piece) of your custom adapter throwing the error?

[2020-03-05 23:37] fastrde commented on #6468
Ok. Thank you for clarification.
Conclusion:
- Use MongoDB as is.
- Postgres is also ok, but not so widely in use. When you need support there are more people out there using MongoDB.
- remove mentioned parts from documentation.

[2020-03-06 00:08] mtrezza commented on #6464
Great! I agree, a release template would make sure that for example index changes are mentioned.

[2020-03-06 02:02] appxplore-tech commented on #6467
actually the code are already in the npm package. but if you need let me share you here the simplified version:
[code]

The error occurs only when i make my module as an npm package. if you straight away put it inside the Parse-Server/src/Adapters/Auth/, it will work as expected. But since Custom Authentication is allowed here I think there should be some problem here that doesn't accept the Parse

[2020-03-06 02:52] appxplore-tech commented on #6467
Here i also attach a trace indicates the path from where until the middlewares.js handleParseErrors function, hope it helps:

[code]

[2020-03-06 08:00] JeffGuKang opened #6473 "Cache dosen't work"
### Issue Description

[code]
called continually. with `SELECT * FROM "_SCHEMA"`

<img width="457" alt="image" src="https://user-images.githubusercontent.com/216363/76062986-1c3cca80-5fca-11ea-981b-b299a10e011b.png">

And DB Connection increased also.

I found this query from the [parse server source](https://github.com/parse-community/parse-server/blob/fd0b535159877fa9bc74fb645169f56814c67c60/src

[2020-03-06 11:05] #6338 closed

[2020-03-06 14:35] dplewis commented on #6473
Is `burst` a keyword in postgres? Can you provide a link?

[2020-03-06 18:21] francojohnc opened #6474 "LiveQuery Adapter"
### Issue Description

I tried to create a custom WSAdapter but it didn't call. or even instantiate.
i tried also another class PubSubAdapter it work but the createSubscriber function never been called.

### Steps to reproduce

this is my code

[code]

### Expected Results

I expect that logs is shown when class is instantiated. and the onConnection function was called when new client are subscrib

[2020-03-06 18:29] davimacedo commented on #6474
Can you please add a `console.log` in the first line of the `start` function to make sure it has not been called?

[2020-03-06 19:02] JeffGuKang commented on #6473
I changed the title.

[2020-03-06 20:26] davimacedo commented on #6467
try with the following and let me know:

[code]

[2020-03-07 01:34] JeffGuKang commented on #6473
[This](https://github.com/parse-community/parse-server/blob/fd0b535159877fa9bc74fb645169f56814c67c60/src/Adapters/Storage/Postgres/PostgresStorageAdapter.js#L1267) is called again and again.

[code]

[2020-03-07 04:45] francojohnc commented on #6474
[code]

output

[code]

![Screen Shot 2020-03-07 at 12 43 50 PM](https://user-images.githubusercontent.com/8755357/76136877-62993480-6071-11ea-87cb-a1ffcb150b43.png)

[2020-03-07 15:18] yomybaby opened #6475 "this.ttl is always `undefined` on `LRUCache.js`"
Hi, I found some thing which is never used.

Please check [the 16th line of `LRUCache.js`.](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Cache/LRUCache.js#L16)

`this.ttl` is always `undefined`. it is never assigned. Even this is `undefined`, LRU use default TTL when `put`.(https://www.npmjs.com/package/lru-cache#api) So `undefined` doesn't make problems.

But `this.ttl

[2020-03-07 16:19] JeffGuKang commented on #6473
`enableSingleSchemaCache: true` option can solve this problem. thanks @yomybaby.
 But why the options' default is false? It makes a lot of useless query.

[2020-03-07 16:34] yomybaby opened #6476 "Why the default of "enableSingleSchemaCache" is false?"
With enableSingleSchemaCache is false(default), every request make a sql query for schema.
I try to find a reason that the default is false.

https://github.com/parse-community/parse-server/blob/3c46117d9b17aadefc8d4770ac3ff626eb333ccb/src/Options/Definitions.js#L138-L142

In #5612 , @dplewis said it should be true by default. But is still false by default.
Is there any reason? 🤔

[2020-03-07 16:36] JeffGuKang commented on #6473
Refer #6476

[2020-03-07 16:36] #6473 closed

[2020-03-08 03:29] mtrezza opened #6477 "Define built-in error code range"
**Is your feature request related to a problem? Please describe.**
It can be useful to throw a custom `Parse.Error` in cloud code and handle that specific error on the client side by error code.

For example an error, when a user account is banned.

`throw new Parse.Error(9001, "account banned");`

If a new built-in Parse Error is introduced in the future, it can conflict with the custom error cod

[2020-03-08 15:41] srameshr opened #6479 "PostgresSQL error - Syntax error at the end of input - Aggregation #1109"
### Issue Description
The below aggregation query **does not work on POSTGRES while the same works with MONGODB**

### Steps to reproduce
Run the below query inside a cloud function, with user and media being string type columns.
[code]

### Expected Results
Array of data with count and unique media and user values
[code]
### Actual Outcome
It throw an error
[code]
### Test Case

### Environment S

[2020-03-08 15:41] srameshr commented on #6479
No it does not. When ```objectId``` value is a string, it works fine. But when its an object it throws an error. See below

// This aggregation works fine
[code]

Where as this does not.
[code]

Is there any test case to validate objectId working fine with Postgres aggregation? @dplewis

@dplewis @davimacedo Moved this from JS SDK repo to here

[2020-03-08 23:59] srameshr commented on #6479
The error is because of the following line:
https://github.com/parse-community/parse-server/blob/master/src/Adapters/Storage/Postgres/PostgresStorageAdapter.js#L2222

It considers group _ids with only string and object syntax.
```group: { _id: {  user: '$user' }}```
```group: { _id: {  birthday: { $dayOfMonth: '$createdAt' } }}```

But not,
``````group: { _id: {  user: '$user', media: '$media' }}`

[2020-03-09 02:01] davimacedo commented on #6479
Hi @srameshr thanks for reporting. Would you be willed to tackle this one and send a PR with the fix?

[2020-03-09 02:03] appxplore-tech commented on #6467
Hi @davimacedo

The code doesn't work for me.

Currently what i temporary do is to modify the function **handleParseErrors** in **middlewares.js** to check not only ParseError but also if the err thrown has the structure of **code & message**.

I'm not sure if this is proper or not. But the weird thing is some parts in the parse-server change the error i throw from ParseError to unknown object typ

[2020-03-09 02:41] dplewis commented on #6467
Error handling is weird. There is a PR open for this issue. I think it would fix it. If not can you open a PR?

[2020-03-09 02:47] davimacedo commented on #6467
I thunk it happens probably because your adapter is using parse-server in its dependencies but with a version different from the one you are using in your main project, causing npm to duplicate parse-server so your have two versions of Parse.Error. In your adapter project's package.json, try to move parse-server from dependencies to peerDependencies. You can learn more about this problem here: htt

[2020-03-09 05:02] francojohnc opened #6480 "LiveQuery extend feature"
**Is your feature request related to a problem? Please describe.**

I have an app use live query for chat and tracking for gps. on gps function i save parse object called Location and it have geolocation, and every 5 seconds i update the Object to save the current location of the driver.

**Describe the solution you'd like**

I want to extend the feature of live query. for now when we save the obj

[2020-03-09 06:26] srameshr commented on #6479
@davimacedo I am pressed on time and not good with Postgres either. I will give it a shot.

[2020-03-09 06:58] srameshr commented on #6479
@davimacedo Also, the number of combinations that can be formed via Mongo aggregation and mapped to Postgres is nearly limitless. How about an option that allows just to pass a string to the aggregate method instead of having incomplete and breaking implementations?

Like, just pass a string to aggregate:
[code]

And pass this query directly to Node PGP instead of trying to requiring mongo like ag

[2020-03-09 08:34] JeffGuKang opened #6481 "[Wiki] No "applicationId" option in LiveQuery Protocol Specification"
### Issue Description

There is a no "applicationId" option in [LiveQuery Protocol Specification](https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification)

[code]

When I tried socket load test, it was not connected without `applicatoinId`.

### Steps to reproduce
```artillery run test.yml```

test.yml

[code]

### Expected Results

[code]

[2020-03-09 08:49] JeffGuKang commented on #6481
@dplewis Can you remove this issue? There is an info I do not want to open. I will create again

[2020-03-09 08:49] #6481 closed

[2020-03-09 08:49] JeffGuKang opened #6482 "[Wiki] No "applicationId" option in LiveQuery Protocol Specification"
### Issue Description

There is a no "applicationId" option in [LiveQuery Protocol Specification](https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification)

[code]

When I tried socket load test, it was not connected without `applicatoinId`.

### Steps to reproduce
```artillery run test.yml```

test.yml

[code]

### Expected Results

[code]

[2020-03-09 09:28] appxplore-tech commented on #6467
Hi @davimacedo ,

Hereby i attached my package.json. I did try to use the peerDependencies but it doesn't seems help.

[code]

[2020-03-09 12:28] BufferUnderflower commented on #6458
### 1. Some points concerning `find`:

As of now if we add a constraint on a field that does not exist, the server still fulfills the query with constraint, as if the field's value was undefined, e.g. :

[code]

Handling is straightforward for rules defined at `*` / `authenticated` / `role:` / `id` scopes: given a user auth data(id and roles) we can calculate subset of fields he is not allowed to

[2020-03-09 14:01] BufferUnderflower commented on #6479
+1 for raw aggregate queries. It could return raw json to deal with. Even though you'll have to convert pointers, dates, etc by hand, it still can help to solve a bunch of complicated scenarios. I find it nearly impossible and not worth spending time to implement and support all the combinations of Mongo and Postgres versions and aggregate operators to comply with single SDK object format.

[2020-03-09 15:01] srameshr commented on #6479
@davimacedo @dplewis
Here is the PR: https://github.com/parse-community/parse-server/pull/6483

[2020-03-09 15:17] AienTech opened #6484 "parse server starts after NestJS (express) app has been started"
### Issue Description

I've setup a NestJS app (basically expressjs) and added parse server to it's configurations. I wanted to have parse server's express middleware to be used inside of my app. But after running the app (bootstraping in terms of nestjs) the application starts, tries to connect to parse server (which shows a warning that it cannot connect to parse) and then the parse server start

[2020-03-09 16:13] davimacedo commented on #6484
`serverStartComplete` is the callback that is called after Parse Server has initialized. Calling `app.listen(3000);` inside this callback should fix your problem.

[2020-03-09 16:21] davimacedo commented on #6479
Thanks for the PR @srameshr . I've just merged it. About the raw aggregates, it looks a good idea.

[2020-03-09 16:21] #6479 closed

[2020-03-09 16:42] davimacedo commented on #6467
Can you also share the package.json of your main project?

[2020-03-09 22:07] AienTech commented on #6484
@davimacedo thanks for mentioning that. Although in my last projects I didn't need this function to set up when parse should start, but right now, the logs are changed to this:

[code]

I also have `parse/node` as a dependency of this project, but it's not configured or even imported yet. What I learned so far was that this warning comes directly from the `parse-server` library. there's also only

[2020-03-10 00:19] macarthuror commented on #6417
@TomWFox
@acinader
any update?

[2020-03-10 00:32] williamshen26 opened #6486 "Can Parse support multi key index?"
Hi

I am wondering if parse can support mongoDB multi key index to index the content of an array. I have the following structure:

{
  className: "Product",
  fields: {
    "departments": {
      "type": "Array",
      "required: false
    }
  }
}

The departments field is an array of object of the following format:
{
  department: string,
  bin: string
}

I would like to put an index on "departme

[2020-03-10 01:39] appxplore-tech commented on #6467
sure. Here is my main project package.json

[code]

[2020-03-10 03:47] mtrezza commented on #5378
Stumbled across Parse Auditor, which addresses this issue. Not sure yet whether it is fully GDRP compliant.

https://github.com/Blackburn-Labs/parse-auditor

[2020-03-10 09:44] mman commented on #6484
Please check your ``serverURL`` and or ``publicServerURL`` properties in config. The above message indicates that the parse server will try to contact itself via 0.0.0.0 which is obviously wrong. Depending on how many instances of parse server you have running the ``serverURL`` typically can be localhost and ``publicServerURL`` your publicly reachable endpoint.

[2020-03-10 10:05] #6468 closed

[2020-03-10 10:08] AienTech commented on #6484
@mman thanks for the response. My first tries were all with the `localhost`, here are the logs when I use `localhost` instead of `0.0.0.0`.

[code]

the same happens if I use `null` for `publicServerURL`

also, there's only one instance of parse-server running on the current machine.