[2020-10-27 00:06] dblythy commented on #6785
Would it be worth adding the tests I've written to CloudCode.spec.js?

[2020-10-27 10:14] dblythy commented on #4024
Hey all,

I've just created a PR (#6977) that continues the work towards inbuilt 2FA (thanks to flovilmart) for his work in getting this started.

My implementation requires users to enrol via `/enable2FA`, which will be worked into the JS SDK via `user.enable2FA()`. This then returns a QR Code to be put in the Google Authenticator. The user will then need to enter the code back into the app, wher

[2020-10-27 16:28] davimacedo commented on #6785
Yes. Could you please open a PR with the test case?

[2020-10-27 18:14] Samigos commented on #4852
For some reason this worked for me https://stackoverflow.com/a/51688273/4388495

[2020-10-28 17:35] mtrezza commented on #6167
I'm closing this it lacks essential information required to investigate the issue. Please follow up on any questions asked and further steps suggested in the thread and we can re-open this issue.

[2020-10-28 17:35] #6167 closed

[2020-10-28 18:04] raajon commented on #6617
+1 If I could be helpful, please let me know.

[2020-10-28 23:28] burhanyilmaz opened #6978 "[error: Push Notification] Certificate and key do not match"
When I run the parse server, throw this error `Certificate and key do not match `.

When the passphrase is true, throw this error `Certificate and key do not match `
When the passphrase is false, there is no error. it is so strange.

How can solve this? Thanks.

My config here that
[code]

[2020-10-29 07:57] mtrezza commented on #6978
Thanks for reporting. To report an issue, please use the issue template provided when you create an issue. The template asks for essential information which helps us to investigate the issue.

[2020-10-29 09:45] rhuanbarreto opened #6980 "Batch Request Problem when parse is served from folder behind reverse proxy"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-10-29 15:11] mtrezza commented on #6300
There are many possible causes for the described issue here, the bottleneck could be the database instance, the server instance, the parse server or the custom app logic.

I'm closing this it lacks essential information required to investigate the issue. Please follow up on any questions asked and further steps suggested in the thread and we can re-open this issue.

[2020-10-29 15:11] #6300 closed

[2020-10-29 15:14] mtrezza commented on #6292
Thank you for suggesting.
I'm closing this as it seems to be in an early stage of discussion about Parse Server architecture.

Discussions are better suited in our [Community Forum](https://community.parseplatform.org) while we expect feature requests on GitHub to be in a more advanced conceptual stage.

Feel free to comment if you have any questions and we can re-open this issue.

[2020-10-29 15:14] #6292 closed

[2020-10-29 15:21] mtrezza commented on #6812
I'm closing this as it was not reproducible and there were no further responses. Feel free to comment if you have any questions and we can re-open this issue.

[2020-10-29 15:21] #6812 closed

[2020-10-29 15:24] mtrezza commented on #6557
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-10-29 15:24] #6557 closed

[2020-10-29 15:27] mtrezza commented on #6551
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-10-29 15:27] #6551 closed

[2020-10-29 16:53] Danaru87 commented on #4041
We have similar problem:

- We connect our user with Facebook
- We get the associated email from Facebook
- We update user with this email

Result:
- The user has emailVerified at "false"
- Email verification is triggered, an email is received by the user.

We tried to force user emailVerified to true with masterKey but does not work.

[2020-10-29 17:51] davimacedo commented on #6980
Could you share your parse server config?

[2020-10-30 06:48] rhuanbarreto commented on #6980
[code]

[2020-11-01 11:44] Simone-cogno opened #6982 "I cannot access to response object in a cloud code function??"
I've searched a lot around and coudn't find a way to access the response object of a cloud function (I'm using parse-server version 3.10.0). I'm missing something?

This is a basic need for every express developer. How can I add response headers, change the response statusCode, sending different Content-Type, pipe file to response etc. etc?

Please help. Thanks

[2020-11-01 11:56] mtrezza commented on #6982
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-11-01 11:56] #6982 closed

[2020-11-01 16:46] mtrezza commented on #6428
I'm closing this as it does not seem to be a Parse Server issue.

This seems to be a meta discussion which is better suited on our [community forum](https://community.parseplatform.org).

Feel free to comment if you have any questions and we can re-open this issue.

[2020-11-01 16:46] #6428 closed

[2020-11-01 19:49] mtrezza opened #6984 "💬 Update of issue labels"
### Announcement

The issue labels are being updated as discussed in the community forum thread [Harmonize GitHub labels and usage](https://community.parseplatform.org/t/harmonize-github-labels-and-usage/583/20).

While the labels have been discussed and voted on, some details such as background colors or how to easier differentiate bot labels from manually applied labels are still up to experimen

[2020-11-01 20:26] #6984 closed

[2020-11-01 23:09] mtrezza commented on #6744
I am closing this as the Parse Server related PR is finished.

Practically speaking, the client SDKs for Android and iOS are still lacking the PRs to send the request ID, as has already been done with the JS SDK. These PRs should ideally contain a reference to his issue for readability.

[2020-11-01 23:09] #6744 closed

[2020-11-01 23:38] dblythy commented on #895
Hey all,

I’ve worked on [this](https://github.com/parse-community/parse-server/pull/6983) PR that solves this issue, and also allows dependencies to be loaded in the cloud code viewer.

What do we think of this approach, and are there any additional features or changes that we’d like in the dashboard?

[2020-11-01 23:40] mtrezza commented on #895
Could you give a conceptual description of how you solved this?

[2020-11-01 23:43] mtrezza commented on #6219
This relates to resource usage on MongoDB node instances, so the investigation should start on the MongoDB side to exclude the possibility that it is a MongoDB issue. If it turns out that there is a specific index missing that should be added by default, we can discuss adding it.

For now, I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some r

[2020-11-01 23:43] #6219 closed

[2020-11-01 23:50] dblythy commented on #895
So as Drew stated, all that is required is two endpoints:
- `/releases/latest`
- `/scripts/file`

And the Parse Dashboard can do the rest. But as flovimart mentioned:

So, for the `/releases/latest` endpoint, my code starts off with the cloud code file specified (i.e main.js), and then attempts to load any additional dependancies that are called using `require()`. I've. written test cases for this

[2020-11-02 01:13] mtrezza commented on #6459
With the docs PR merged, feature is complete.

[2020-11-02 01:13] #6459 closed

[2020-11-02 01:51] mtrezza commented on #6432
What is the current state of SonarCube? From the thread it seems that there was intention to add it to the repository.

[2020-11-02 02:02] mtrezza commented on #5508
I'm closing this as it seems to be resolved. Feel free to comment if you have any questions and we can re-open this issue.

[2020-11-02 02:02] #5508 closed

[2020-11-02 02:17] mtrezza commented on #6052
Applied label "feature" because this thread came to be about bringing the device token clean-up from its experimental status to a standard feature.

[2020-11-02 02:19] mtrezza commented on #6964
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-11-02 02:23] mtrezza commented on #6964
@sarsonj Were you able to resolve the issue?

[2020-11-02 09:48] sarsonj commented on #6964
@mtrezza will look on it this week.

[2020-11-02 10:21] sarsonj opened #6986 "Add request information to FilesAdapter to be able to store files based in request info (like IP address)"
Hi,

we are using S3 adapter for storing our files. Because of our app stores user's data (not public one), we wanted to store data to servers, that are close to users. It means EU users on EU servers, US users on US servers and so on. It also helps us to be GDPR complaint.

We tried to write our custom FIlesAdapter based on existing S3 adapter, but we realised, that it is not possible to get requ

[2020-11-02 10:37] webapis opened #6987 "version upgrade issue"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-11-02 12:06] lamualfa opened #6988 "Invalid function: hello with Docker"
## New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-11-02 12:35] mtrezza commented on #6987
Thank you for reporting. I'm closing this as it seems to be a duplicate of #6837, let's continue the discussion there.

Feel free to comment if you think this is not a duplicate and we can re-open this issue.

[2020-11-02 12:35] #6987 closed

[2020-11-02 12:36] mtrezza commented on #6837
The PR has been merged in the newest version of Parse Server 4.4.0.

[2020-11-02 13:47] mtrezza commented on #6986
Thank you for suggesting.

This would be a valuable feature addition to Parse Server. How would you want to see this implemented conceptually in more detail?

A breaking change in a basic functionality such as file upload would need a solid justification due to amount of deployments it affects. I would suggest to explore a solution that is not a breaking change. The `options` parameter seems a sui

[2020-11-02 14:03] mtrezza commented on #6988
Thank you for reporting.

@davimacedo Do you have any suggestion for this Docker related issue?

[2020-11-02 17:40] davimacedo commented on #6988
Can you try to run the container with the following command?

[code]

[2020-11-02 23:39] lamualfa commented on #6988
@davimacedo Yes it work. Thank you very much. I think you should update the Documentation for Docker regarding this problem or add default value for `cloud` parameter.

[2020-11-02 23:58] mtrezza commented on #6988
@lamualfa Thanks for confirming that the issue could be resolved.

Would you want to open a PR for your suggested doc changes?

[2020-11-03 00:01] mtrezza commented on #6849
Would anyone be willing to open a PR for the suggested changes?

[2020-11-03 01:13] lamualfa commented on #6988
Yes, i will create a new PR.

[2020-11-03 08:11] DemianSteelstone opened #6991 "Incorrect result from Parse.Query on Postgres"
### New Issue Checklist

- [ x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ x] I can reproduce the i

[2020-11-03 08:18] SebC99 commented on #6849
@mtrezza it's not the real reason as I explained. Google documentation says `access_token` (with openID) should be exchanged for `id_token` and then used with Parse Google Auth. So we shouldn't really deal with `access_token` in Parse. But I can add back this old behavior of course

[2020-11-03 09:01] mtrezza commented on #6849
@SebC99 thanks for clarifying, let me go through this thread again and see what I’ve missed.

[2020-11-03 12:48] sworteu commented on #6369
It does (should) work but the documentation is wrong. This is as far as we've got it for the json:
root object keys:
push_type - "alert" or "background"
content-available - 1 if this is a push_type "background"
channels - string array of channels or not set for everyone/all channels

data: { object } - Keys below are inside the data object:
alert - string message to send if push_type "alert"
prior

[2020-11-03 18:37] davimacedo commented on #6991
Thanks for reporting. Could you write a failing test case for this?

[2020-11-03 20:35] mtrezza commented on #895
Thanks @dblythy, which PRs are required to try out this feature?

[2020-11-03 20:46] mtrezza commented on #6949
I think the conclusion we can draw from the separate security discussion is:
- We should handle the email field with the same caution as the username field (because we can assume most deployments store the email address or phone number in that field anyway)
- In the spirit of Parse Server's multi-functionality, we could allow the user to change the `protectedField` setting of the `email` field, bu

[2020-11-03 21:17] 185driver commented on #6949
This sounds good.

The intended meaning above is not quite clear to me given that less caution is currently given to the `username` field than the `email` field. That is, the `username` field is not currently a protected field by default, and it is available in query find ops via session token access by default.

If the intent is to treat them both the same by doing these things:
1. Add `username`

[2020-11-03 21:30] dblythy commented on #895
[This](https://github.com/parse-community/parse-dashboard/pull/1613/files) PR from Parse Dashboard, and  a cloud code file.

[2020-11-04 01:50] chhaprahiya commented on #5987
In my case, I got this error on port 9001. The root cause was: 9001 was already in use by another process.
To find a list of ports & processes: netstat -ano -p tcp
To convert PID to process name: tasklist

[2020-11-04 03:12] #6988 closed

[2020-11-05 09:40] DemianSteelstone commented on #6991
For example
[code]
In database
[code]
Then request
[code]
As a result, I get
[code]
The response should not contain such an object:
[code]
because of `bar is null` -> `bar.name is null`, what does not match the request `barQuery.contains('name','bar1');`

[2020-11-05 12:57] cbaker6 commented on #6991
@DemianSteelstone can you look the test cases here (I found 4 that uses matchesQuery): https://github.com/parse-community/parse-server/blob/ccb6c046e247e3b84557df50b7f6a0f5b1098f52/spec/ParseQuery.spec.js#L3680

And see if your example isn’t being captured? If it isn’t, can you create a PR adding your test example to the file above (just follow the format if you are unfamiliar with writing the tes

[2020-11-05 13:21] cbaker6 commented on #6991
You can run the test locally on your computer using: https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md#run-postgres-setup-for-parse-with-docker

If the test you write is correct, it should pass on mongo and postgres.

[2020-11-05 17:40] Dealerpriest commented on #4646
@flovilmart
Why is there a check that the authData object has a key named id?

Shouldn't it be up to the developer of a custom auth provider to handle whatever is passed in the authData object? I've struggled with this for quite some time and eventually stumbled upon this issue. Haven't found anything in the documentation on this. I would happily make a pull request. But first I wonder if:
A. The

[2020-11-05 17:42] flovilmart commented on #4646
I have no opinion on this. Check with the maintained of this project, open a new issue or a pull request (I guess)

[2020-11-06 15:39] Dealerpriest commented on #5724
I have the same issue. What made it work for you @fastrde?

[2020-11-06 15:45] Dealerpriest commented on #6467
I have the exact same issue. Trying to create a custom auth module. Can't respond properly to invalid authentication attempts.

[2020-11-06 15:46] Dealerpriest commented on #6467
@appxplore-tech Did you find a way to resolve this?

[2020-11-06 16:02] julianvogels commented on #6218
@nasermirzaei89 I am running into the same problem. Many of my classes have the suffix `LocalizedData`. Data is the same in singular and plural. Other classes end in `Content`, same problem. I looked at the plualization code, and it's hard to imagine a fallback for these scenarios.

If we don't fix this, people will continue running into this issue in the future. Since a migration is not always po

[2020-11-06 16:18] davimacedo commented on #6218
I think this idea makes sense. I am re-opening the issue. Would you be willed to tackle this one?

[2020-11-06 16:21] davimacedo commented on #6467
@Dealerpriest could you share your adapter code and the error that you have?

[2020-11-06 17:15] Dealerpriest commented on #6467
I eventually got it to work now. My solution was to **not** add any dependency from parse in my custom auth adapters package.json. Instead rely on parse being available for it when injected into the parse config.

So the top of my custom auth code currently looks like this:
[code]

and my package.json looks like this:
[code]
Note that there is no dependency of parse or parse-server in the package.

[2020-11-06 17:39] davimacedo commented on #6467
Yes. I think that's the right way to do. Add parse only as a peerDependency but not as a dependency nor a devDependency. I'm closing this issue.

[2020-11-06 17:39] #6467 closed

[2020-11-07 05:39] mtrezza commented on #6949
@dplewis, @davimacedo since this would a sensitive security change, can I get your quick opinions on [this suggestion](https://github.com/parse-community/parse-server/issues/6949#issuecomment-721365804)?

[2020-11-07 14:02] mtrezza commented on #3575
Reopening this issue to look into whether
- the newest APN lib still crashes on expired cert
- there is a way to handle the crashing APN lib gracefully within Parse Server
- there is another way to notify a user of an expired certificate other than crashing the server (e.g. a new Parse Dashboard Server Status Page)

[2020-11-08 06:49] dblythy opened #6995 "Improving default File Security"
**Is your feature request related to a problem? Please describe.**
This FR is in relation to the default security around files, specifically around deployments that never intend to save files.

As discussed in [this PR](https://github.com/parse-community/parse-server/pull/6973), personally I think it feels bit clunky to recommend a fileTrigger for users that never intend to have any files uploaded

[2020-11-08 08:02] dblythy opened #6996 "FR: Inbuilt testing utility for Dashboard / CLI"
**Is your feature request related to a problem? Please describe.**
This could be potentially due to my inexperience with JS testing (I've only been exposed to JS testing since contributing here) but I think it could be cool if we could have an inbuilt cloud code testing utility, that could potentially add a testing suite to the dashboard (e.g /tests), with a bunch of tests that have been written.

[2020-11-08 08:49] mman commented on #6773
This should remain open

[2020-11-08 10:19] mtrezza commented on #6995
Thanks for suggesting (and for opening an issue to discuss this 😉).

This seems to be an elegant solution to the [anonymous file upload issue](https://github.com/parse-community/parse-server/issues/2137). The breaking change seems acceptable because it is a security improvement.

Grouping the two parameters could make for better overview in the configuration, what do you think about something like

[2020-11-08 11:44] StianOvrevage commented on #5403
Just got the same problem.

Worked better when using `bash` as shell instead of `sh`:

[code]

[2020-11-08 12:13] dblythy commented on #6995
That's a good point. I completely forgot about anonymous users, I was referring to "public" users, not "anonymous". I like your suggestion. Wording looks simple enough - I'll look into it.

I'll work on a PR, this should be a really simple addition so should have something shortly.

[2020-11-08 13:51] mtrezza commented on #6758
This issue seems to have been solved.

[2020-11-08 13:51] #6758 closed

[2020-11-08 15:07] mtrezza commented on #6995
Now that I think about it again, isn't the `fileUpload.enabled` parameter implicitly a `fileUpload.enabledForAuthenticatedUser` parameter? And if so, should we change that logic, to allow for more granular control?

E.g. with the previous suggestion, it is not possible to allow file uploads only for anonymous users, but not for authenticated users or public. I wouldn't have a use case for that at

[2020-11-08 18:39] Moumouls commented on #6947
@185driver  yeah it seems that my last PR on this case only cover the output type: https://github.com/parse-community/parse-server/pull/6279/files

[2020-11-08 19:35] Moumouls commented on #6996
@dblythy  unfortunately, i think it's not the purpose of parse to be a test framework.

We can redirect users to use may be:
- https://jestjs.io/
- https://jasmine.github.io/
- https://mochajs.org/

BUT, running parse server in integration testing (live server with isolated database ) need some advanced knowledge on Parse Server and the test framework.

May be a special function `ParseTestServer`

[2020-11-08 19:57] Moumouls commented on #6617
@davimacedo  do you have an idea about a simple implementation ?

After reading the LiveQueryServer and Apollo Server Sub docs i'm not sure how to implement the feature ?

[2020-11-08 20:21] mtrezza commented on #6996
Thanks for suggesting.

I am excited about the idea to make testing more accessible and promote it as best practice to developers who may not be experienced enough to set up unit testing on their own. It's not clear to me yet what the scope of such testing could be or how that could look conceptually, so I think we'd have to dig a big deeper into that.

Let's break down the idea:

Correct me if I

[2020-11-08 20:40] samjarman commented on #6727
I'd also be excited to see typings for the project. Would the community be open to a PR?

[2020-11-08 21:21] Moumouls commented on #6996
I think we can work on a `ParseTestServer` class with an isolated database and writing some docs on how to use it for testing, it will be a huge step (but need some work i think to get something with a great developer experience).

PS: Adding testing UI via dashboard is not a good deal since some developers do not use and do not need dashboard, also showing some tests feedback on dashboard, techni

[2020-11-08 21:57] dblythy commented on #6996
Yes, @mtrezza you've hit the nail on the head here as to what I was thinking about.

That would essentially be the idea. The suggestion would allow for inbuilt Parse.Cloud testing, with a mongodb in memory, and automatic cleanup. As @Moumouls has stated - this can already be done with other frameworks, however as the FR states, the intention is to try to integrate testing simply into Parse.Cloud f

[2020-11-08 22:33] mtrezza commented on #6996
Maybe we can start with your example and go from there.

Let's say we have a cloud code function that increments the number of stars a user has:

[code]

Then we would add a test:

[code]

As a basis for discussion.

[2020-11-08 22:43] davimacedo commented on #6617
Yes. The easiest way will be using the code we already have in place for the Live Query. I worked on a draft long time ago but turned never finished. I will organize what I have here and push to a new branch so we can continue the discussion from there. BTW, it would be good we agree in the API that we want for that. @Moumouls you are the guy for that :) Do you have any suggestion?

[2020-11-09 00:37] dblythy commented on #6995
It's definitely an interesting use case. I see the `fileUpload.enabled` as a master kill switch. But I agree it should be as granular as possible

I've added `enabledForAuthenticatedUser` to the latest commit.

[2020-11-09 03:33] mtrezza commented on #6995
I don't think `fileUpload.enabled` is still needed when one can disable the 3 other options and achieve the same result.

[2020-11-09 06:56] dblythy commented on #6995
Yeah, good point.

[2020-11-09 09:04] Moumouls commented on #6617
Yes no problem @davimacedo , i will try to make an API suggestion during the week. I already have an idea to get something easy to use and to understand.

[2020-11-09 13:44] julianvogels commented on #6218
I tried making my first contribution on the weekend, but couldn't manage to test everything locally. I'm happy to give it another shot though.  @davimacedo, maybe you can help me out in setting up the development environment? I already asked in Slack in the #parse-server channel: https://parseopensource.slack.com/archives/C0TS8BRRV/p1604763010023300

[2020-11-09 23:11] dblythy commented on #6996
Also related #2488

[2020-11-10 00:19] davimacedo commented on #6949
I agree with the suggestion.

[2020-11-10 00:34] davimacedo commented on #6727
Yes. A PR would be welcome.

[2020-11-10 00:42] davimacedo commented on #6996
I'd rather work on a "create-parse-app" CLI (inspired by create-react-app, create-next-app, etc) that would create all the boilerplate needed for a parse app, including a setup for the cloud code tests.

[2020-11-10 05:57] davimacedo commented on #6218
Just answered you in slack. Take a look if that helps and let me know.

[2020-11-10 06:23] mtrezza commented on #6949
It just meant that both fields should be handled equally, without drawing a conclusion about the level of protection.

Since @davimacedo confirmed we can go ahead, the next steps being:

- [] Change `username` to be a protected field by default. This also requires to verify that SDKs are not impaired, although I don't think any of the built-in methods execute a find operation on the class.

- [] A

[2020-11-10 11:51] dblythy opened #7001 "FR: ACL for Parse.File"
Currently, to access a file, you only need the URL. Once someone has the file URL, it's there's forever. Although the file names are long random strings, some deeper security might be required for certain files.

I'm working on a PR that could hopefully help manage Parse.Files a bit better, which could work towards keeping track of file reference counts and "cleaning up" files with no references.

[2020-11-10 14:09] cbaker6 commented on #5521
@dplewis @davimacedo @mtrezza I'm going to pick this one up as I "think" ran into a similar issue while testing Parse-Swift and I think I know how to replicate it.

1) The issue occurs on mongo and postgres
2) To replicate, I create a ParseObject that that contains a Pointer field, and a Pointer array field.
3) The following scenarios work or are broken
- includeAll (*broken*) - will only return a

[2020-11-10 14:37] cbaker6 commented on #5521
Small update... I think the issue may have something to do with this comment: https://github.com/parse-community/parse-server/blob/e6ac3b6932186a6a85601c65143305f86f63e948/src/RestQuery.js#L63-L69

As it led me to switch the order (to alphabetical, wasn't alphabetical in my example above) of the names of the fields which resulted in the following change my last scenario above:

- `include["Pointer

[2020-11-10 17:19] davimacedo commented on #7001
Some comments:
- I'd try to address the references issue in one PR and the security in another;
- The ACL will be set when uploading the file, right? It would be good if it could be also set using triggers. Some kind of CLP will also exists?
- I'd make the `5 min` a parameter
- The temporary url should be addresses in the adapter side since, for example, S3 already provide off-the-shelf way to gen

[2020-11-10 17:43] mtrezza commented on #7001
Copying over my comment from the PR:

The most recent discussion has been in
#6780. I suggest we continue the discussion there.

[2020-11-10 19:50] dblythy commented on #7001
Thank you for the suggestions.

The OTP secret used to generate the token is saved on create of a file. That secret is  then used on find of a file in a object to create a token in the URL, which is validated when retrieving the file.

Ideally, file.setACL, and then file.save. But is there an updateHandler for file.save, or only createHandler?

I like the idea, however I don’t think there would be

[2020-11-10 19:52] dblythy commented on #7001
Correct, with my approach the ACL can be changed in an existing fileTrigger as well.

Ok, so move the functionality to the adapters, but ignore S3?

[2020-11-10 23:17] davimacedo commented on #7001
We can also implement for s3 adapter. direct access set false, it would basically same thing of the others, for direct access set true we can use aws service for generating the tempo urls.

[2020-11-10 23:43] mobappsbr commented on #6967
Hi, I`m getting the same error when I deployed application using docker hub

[2020-11-10 23:55] dblythy commented on #6780
What do you think of this approach @mtrezza?

**FilesController.js**
[code]

And then `getFiles` needs to be added to the adapter. For GridFS:

[code]

And then attached to a route in `FilesRouter.js`

Conceptually, this looks up schema for all classes, and then figures out which fields are files. Next, it queries those fields in the respective classes for each file, and if there's no reference, i

[2020-11-11 00:01] dblythy commented on #1023
What do you think of this approach @mtrezza?

**FilesController.js**
[code]

And then `getFiles` needs to be added to the adapter. For GridFS:

[code]

And then attached to a route in `FilesRouter.js`

Conceptually, this looks up schema for all classes, and then figures out which fields are files. Next, it queries those fields in the respective classes for each file, and if there's no reference, i

[2020-11-11 00:06] davimacedo commented on #1023
It is a good start, but there are cases in which the files are not stored in a field of type File. Sometimes people store references to files in arrays and objects. I've also seen people just uploading the files and never referencing them in any other object. So I'm afraid of having this kind of script running automatically.

[2020-11-11 00:22] mtrezza commented on #6967
@mobappsbr Feel free to copy/paste a filled out issue template as comment here.

[2020-11-11 00:22] dblythy commented on #1023
Hmmm, interesting. What do you think of:

Requiring the locations of the files in the /POST request to delete files, e.g:

[code]

Or, perhaps add a callback in Parse.Cloud or something for whether file should delete if it's been flagged for "cleanup".

Either way the warnings of the caveats will have to be shown in the dashboard / docs prior to running the function.

[2020-11-11 00:55] davimacedo commented on #1023
Actually the current way only searching in the file fields is already very intensive depending on the size of the collections and how many files the app has. This is probably a script not to run in the parse-server process but probably via cli.

[2020-11-11 00:58] mtrezza commented on #1023
I think if we can get to a PR that covers probably the most common case which is storing a file in a field of type File, we would already make many people happy. Maybe other creative ways of storing files can be addressed in a follow-up PR.

Are these files still needed or should they be cleaned up?

I agree. Such a script should not run automatically (without control of schedule and batch size an

[2020-11-11 01:13] dblythy commented on #1023
I agree, it should be implicitly stated the risks / caveats, so people that store files in more complex structures understand **not** to use the cleanup, or the risks associated with running /cleanupfiles.

I'd gather it would be a button in the dashboard (as with parse.com), that would be run once every month or so. I wouldn't propose running it **unless** the developer directly enacts it.

Hones

[2020-11-11 01:54] davimacedo commented on #1023
I'd not go with an api route. This process should not run in the same process of Parse Server. It may cause the app to be unresponsive in the case of an app with a large amount of files / objects.

I agree with a first simple version but we do need to make sure that there is a big alert for the developers before firing the script. If via dashboard, it should something like we have currently in pla

[2020-11-11 01:58] davimacedo commented on #1023
A lot of ideas can be seen in this project: https://github.com/parse-server-modules/parse-files-utils

It is an old project but it has some code in place to search for all files in all objects of an app.

[2020-11-11 01:59] davimacedo commented on #1023
@mtrezza I believe we should reopen this issue, right? What is the new procedure?

[2020-11-11 09:16] mtrezza commented on #1023
@davimacedo Yes, thanks, the procedure is re-open and remove the `up for grabs` label when someone is actively working on it.

[2020-11-11 10:00] mtrezza commented on #1023
@davimacedo

My first thought was that this script should not even be part of Parse Server, but an external tool. But then I thought we could make it part of Parse Server for convenience and advice developers to spin up a new, dedicated instance of Parse Server that does not take any app requests for this purpose. Like a LiveQuery server.

Yes, it should definitely be more than a simple "Are you s

[2020-11-11 10:51] davimacedo commented on #1023
That's why I'd not go with the script in the api. It will be only a matter of time for people to start complaining about the script not working. The same happened with the push notifications system. It took a long time to have a scalable process because previously it was a single parse server instance trying to handle all pushes.

For this to be scalable in the api, we'd need to to a similar appro

[2020-11-11 11:32] mtrezza commented on #1023
Good points. @dblythy can you find anything reusable in the files utils repo that has been mentioned before?

[2020-11-11 11:41] dblythy commented on #1023
I had a quick look through it and it seems to use a similar search algorithm as I wrote (lookup schema and look for “File”). I can have a look at how the push notifications approach is done and adapt the cleanup feature towards that.

[2020-11-11 16:59] dplewis commented on #5521
Reopening as the original issue hasn't been addresssed.

[2020-11-11 17:15] matheusfrozzi commented on #6459
Guys, one question, why in the afterFind the context is not available? because sometimes I have to change the result in afterFind, but I can't send anything to afterFind to diff the results. There's another way to pass data between beforeFind and afterFind, or include context is the better way?

[2020-11-11 17:21] mobappsbr commented on #6967
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue with the [latest version

[2020-11-11 18:34] sunshineo commented on #6195
This can be reproduced without involving beforeSave
Just create a class with column `length` with type `Number` and try post to it
This works `{"length":1}`
This does not `{"length":0}` and returns that error

[2020-11-11 18:59] SkyGanfor commented on #3973
Same, would love to have this functionality.

[2020-11-11 19:52] mtrezza commented on #6195
Thanks for confirming. Would you be willing to open a PR for this and start by adding a failing test case?

[2020-11-11 20:34] mtrezza commented on #6459
From what I can tell, the context has not been made accessible in the `afterFind` trigger.

You can look at https://github.com/parse-community/parse-server/pull/6666 which extended this PR to make context available in `beforeFind`. It should be a good blueprint to add the context to `afterFind`. Do you want to open a PR?

[2020-11-11 20:48] matheusfrozzi commented on #6459
For sure, I never changed anything on parse server code, but I would love to try.

From what I understand of parse server, to make context accessible in afterFind, needs to change in this file?
https://github.com/dblythy/parse-server/blob/7c87d127bf3c10bec29d02f8fe3e07980f3b5507/src/triggers.js

Something like:
  if (
    triggerType === Types.beforeSave ||
    triggerType === Types.afterSave ||

[2020-11-11 21:11] mtrezza commented on #6978
I'm closing this as it does not use the issue template provided when creating an issue and therefore lacks essential information required to investigate the issue. Please edit your initial post using the issue template and we can re-open this issue.

[2020-11-11 21:11] #6978 closed

[2020-11-11 21:16] mtrezza commented on #6749
@oli107 @nopol10 @SebC99 Did anyone have any luck in reproducing this issue?

[2020-11-11 21:23] mtrezza commented on #6459
Great! Welcome to the contributor's league 😉

I suggest you take a look at the [contribution guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md) where you can also find useful infos, for example about how to set up a local development environment for Parse Server.

I suggest you take a look at the changes in https://github.com/parse-community/parse-server/pull/6666.

[2020-11-11 21:28] matheusfrozzi commented on #6459
ok! Thank you again, I'll do that.

[2020-11-11 21:45] mtrezza commented on #3973
I think this should be possible by now, see the `caseInsensitive` option of `Parse.Query.find()`.

[2020-11-11 22:08] fastrde opened #7004 "Sending unsaved Parse Objects to Client"
**Is your feature request related to a problem? Please describe.**
I use Parse Server as App-Backend and store some informations in the Parse DB. Other informations are received live from third party backends via cloud-code. To unify the communication between the Parse Backend and the App I tried to generate temporary Parse Objects to send these Objects to the App **but I aren't allowed to store t

[2020-11-11 22:24] mtrezza commented on #6967
@mobappsbr, as I commented above, did you take a look at [this npm issue](https://github.com/npm/cli/issues/2000)?

[2020-11-11 22:27] fastrde commented on #7004
Thank you for your lightning fast answer.
That's the way I'm doing it right now. I'm refactoring the backend at the moment and I wondered why I can't send temporary Parse Objects, so i didn't have to maintain the logic in the app and can streamline all communication between parse server and the app, so that only Parse Objects are send and not some custom data structures.

But it's probably much mo

[2020-11-11 23:06] mtrezza commented on #7004
It's not so much the effort but the viability of such a change. If we can demonstrate a use case and the value / viability of such a change, we can go to the next step and determine its feasibility.

[2020-11-12 00:39] fastrde commented on #7004
This is my use case.

We talked about (1) in the picture. There I want to use Parse.Objects that are stored or not stored in the Parse-DB, so all the app-communication is handled the same way. The "fix connector" is the part of the orange module that handles the communication with the app and in an ideal world it get's Parse.Objects in and sends (perhaps temporary) Parse.Objects to the app. (1) Is

[2020-11-12 01:12] davimacedo commented on #7004
In the first message you said that you got `Cannot create a pointer to an unsaved ParseObject` error. Could you share the code so we can try to advise? Also, you can consider creating a custom storage adapter according to your needs.

[2020-11-12 02:05] dplewis commented on #6358
Closing via https://github.com/parse-community/parse-server/pull/7003

[2020-11-12 02:05] #6358 closed

[2020-11-12 03:47] nopol10 commented on #6749
Haven't had the time to reproduce in a brand new installation yet unfortunately. Not sure if this question

was meant for me but I haven't explicity set directAccess so I guess it should default to false.

[2020-11-12 09:46] fastrde commented on #7004
I get the error on the Server before sending (an unsaved) ParseObject via cloud code. That codesnippet should explain the situation.
[code]
before the Server sends the Object it tries to call `toPoiner()` on the object. In this function the error is thrown.

[code]

[2020-11-12 11:13] mtrezza commented on #7004
In principle I don't see an issue with composing a Parse Object in Cloud Code, sending it to a client, continue composing it there and saving it from the client side.

The question is what background mechanism require a Parse Object to be saved before being sent between server and client, or what happens if for example a dummy object ID is set.

[2020-11-12 12:47] fastrde commented on #7004
Setting a dummy `objectId` works, because that prevents the `if (!this.id)` check to throw, but setting the id explicitly implies to the client, that this is an id that exists on the server. What this means to the client for calls to object and query methods is unclear to me at the moment. When I send the object with an objectId of `undefined` the Object is handled by the client in the same way a

[2020-11-12 13:09] mtrezza commented on #7004
I agree, without having looked into any further implications of sending an object without ID. Maybe the blame line can give you further hints as to why there is this check of ID being set.

In any case, feel free to do some further investigation and if nothing speaks against it, create a PR to remove this ID check. The PR should include test cases for handling objects without ID.

[2020-11-12 19:07] 185driver commented on #6947
I appreciate the invite but I'm currently away from my parse server project and building something else so am unable to participate for now. I'll check back when I can.

[2020-11-12 19:12] 185driver commented on #6949
Unfortunately, I'm working with a project right now that doesn't use parse server so can't participate for the time being. I'll check back when I can.

[2020-11-12 19:44] TomWFox commented on #6612
I was just looking at this new [Snyk open source health report](https://snyk.io/advisor/npm-package/parse-server). Unfortunately we're being pulled down due to a couple outstanding vulnerabilities, this being one of them.

I think we should remove the feature from the docs immediately, and then remove the feature from the codebase asap so we can close this one out.

[2020-11-12 20:04] mtrezza commented on #6612
I’m all for it!

[2020-11-12 22:15] davimacedo commented on #7004
If you return the JSON, it should work. Give a try with:

[code]

[2020-11-13 21:45] jcasebas opened #7006 "Agregation pipeline with Relational Pointer"
+--------------------------------------------------------+

|                     Company class                       |

+----------+---------------+-----------+-----------------+
| objectId | category (Category Pointer) | name | subCategory (subCategory Relation) |
+----------+---------------+-----------+-----------------+

+------------------------------------------------------------------------

[2020-11-13 21:48] mtrezza commented on #7006
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-11-13 21:48] #7006 closed

[2020-11-14 11:05] Moumouls commented on #6617
So @davimacedo  here our spec for Sub API, what do you think about this one ?

@mstephano, @TheTyrius,  @FNPCMDs, @raajon Do you have a feedback on this proposal ?

[code]

[code]

[2020-11-15 01:31] raajon commented on #6617
@Moumouls looks like exacly what I need :-)
I have no expirence in developing nodejs servers but I will be glad to support you all in texting.

[2020-11-15 19:57] gazialankus commented on #2861
This is probably because you did not add it to `liveQuery: { classNames: [...] }` in the server.

[2020-11-16 00:33] MGolob opened #7010 "Push Notification is silent on Android Devices"
### New Issue Checklist

- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [X] I can reproduce the issue

[2020-11-16 01:56] mtrezza commented on #7010
Thanks for reporting.

The push adapter indicates that the push message was sent successfully. It could be a misconfiguration on the device that prevents the push notification from being displayed.

My suggestion would be to check the client side code and compare it with the Parse Android SDK push notification guide.

[2020-11-17 09:18] davimacedo commented on #6617
It looks good to me.  I liked the idea of having a single subscription for all event types.

[2020-11-17 14:09] dblythy opened #7012 "Allow multiple email verification codes, or resend with existing code"
**Is your feature request related to a problem? Please describe.**

I often find that due to the time it takes mail to deliver in my country / with our providers, clients will reclick the "forgot password / resend email". Then, the first email comes through with an "Invalid Link" (as the second request wiped it), leading to increasing frustration with our customers.

**Describe the solution you'd

[2020-11-17 14:28] dblythy opened #7013 "Inbuilt Validator on Schema"
**Is your feature request related to a problem? Please describe.**

This might be overloading schema with features, however, it could provide some value to allow developers to set a validation object to a class, which will effectively run on beforeSave.

This could developers to validate the objects that are being saved, without _any_ use of cloud code.

Potentially, this could extend to the dashb

[2020-11-17 15:17] mtrezza commented on #7012
Thanks for suggesting.

This seems to be a useful enhancement for Parse Server. I suggest to pursue option 2 because it causes less friction for the user:

Do you have a conceptual suggestion how to go about it?

[2020-11-17 15:52] mtrezza commented on #7013
Thanks for suggesting.

This seems to be a useful feature for Parse Server. Do you have any specific solution in mind?

[2020-11-17 16:02] mtrezza commented on #6964
I'm closing this as it seems to be resolved. Feel free to comment if you have any questions and we can re-open this issue.

[2020-11-17 16:02] #6964 closed

[2020-11-17 16:05] mtrezza commented on #6750
Thank you for reporting.

Would you want to open a PR and start by writing a failing test case for this?

[2020-11-17 16:07] mtrezza commented on #6980
@rhuanbarreto Did you try out the suggestion above or do you have any other update on this issue?

[2020-11-17 16:10] rhuanbarreto commented on #6980
Will update it soon

[2020-11-17 20:20] dblythy commented on #7012
Thanks @mtrezza. Should be too bad for Password Policy, but I'm concerned adding another option for emails on the top level (e.g `emailResetTokenReuseIfValid`).

I propose:

[code]

Also, as far as I could tell, there are no deeper definitions for the keys in [passwordPolicy](https://github.com/parse-community/parse-server/blob/master/src/Options/index.js#L130). Could this potentially be improved?

[2020-11-17 20:25] mtrezza commented on #7012
The new parameter should go under the same key as the already existing and related  `emailVerifyTokenValidityDuration`, not at the root level.

Yes, however any such improvement should be done in a separate PR because it involves code sections that are not related to the functionality of this PR.

[2020-11-17 20:31] dblythy commented on #7012
Yes, but as far as I can tell, that is under ["passwordPolicy"](https://github.com/parse-community/parse-server/blob/e6ac3b6932186a6a85601c65143305f86f63e948/spec/PasswordPolicy.spec.js#L20). This feature would also affect resending verification emails, which in my view, wouldn't be expected to be password policy related.

Ok. thanks I was just seeing your thoughts. I'll open a new issue.

[2020-11-17 20:36] dblythy opened #7015 "Add defintions for accountLockout and passwordPolicy"
**Is your feature request related to a problem? Please describe.**
As discussed here, there aren't deeper definitions for [accountLockout and passwordPolicy](https://github.com/parse-community/parse-server/blob/master/src/Options/index.js#L130)

**Describe the solution you'd like**
accountLockout and passwordPolicy, to deeper definitions, such as [IdempotencyOptions](https://github.com/parse-commu

[2020-11-17 21:13] fastrde commented on #7004
I didn't get the test environment up and running...
Test the changes on the client side is no problem, but i am struggling to test the changes on the server side. To test the changes the parse-server have to depend on my local Parse-JS-SDK directory. I linked my local parse installation with `npm link --save ../Parse-JS-SDK` and build a docker image `docker build --tag parse-server-dev .` in the p

[2020-11-17 22:27] mtrezza commented on #7012
What speaks against introducing two distinct config variables?

The verification email and password reset email are both "emails", but part of different features, hence they are part of distinct key groups.

[code]

Grouping the verification email keys in its own key group should be done in a separate PR, as previously outlined.

[2020-11-18 01:27] grassland-curing-cfa commented on #6967
I am having the same problem with the dependency of graphql on Parse-Server 4.4.0 when trying to push my code changes to Heroku and rebuilding the Node app.

[2020-11-18 08:23] alljinx opened #7016 "Cloud functions and Typescript No argument for validationHandler in beforeSave trigger"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-11-18 10:11] mtrezza commented on #7016
Thanks for reporting. To report an issue, please use the issue template provided when you create an issue. The template asks for essential information which helps us to investigate the issue.

[2020-11-18 10:37] alljinx commented on #7016
Sorry, updated !

[2020-11-18 22:50] davimacedo commented on #7004
Have you run `npm run build` in both projects?

[2020-11-18 23:14] fastrde commented on #7004
@davimacedo thank you, but yes I did. It's possibly the way the Docker-Container is build. `npm ci` is using the `package-lock.json` file to determine which versions to install. I added a `COPY` command to copy my parse node_module into the Docker-Container and override the default one. Feels hacky but works for the moment.

[2020-11-19 11:30] dblythy commented on #7016
I can confidently say I have no idea how typescript works, but it seems as the issue is here, in the [typescript library](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/8ed72417dd350bde3f0af55ac85375d78382f526/types/parse/v1/index.d.ts#L979).

I might be wrong, but I don't know if this is an issue with Parse Server, or if the typescript definitions need to be updated in that repo.

[2020-11-19 11:32] dblythy commented on #7016
[See this discussion](https://community.parseplatform.org/t/types-parse-updates/139)

[2020-11-19 13:02] alljinx commented on #7016
OK so I will wait for the merge...
Thx !

[2020-11-19 19:38] dblythy commented on #7016
I would imagine the fastest way of getting this feature on Typescript would be to submit a PR to the typescript library.

[2020-11-20 14:13] fastrde commented on #7016
Quicktip:
[code]
should do it. It's hacky, but works till the definition is up to date.

[2020-11-20 14:19] alljinx commented on #7016
Thank you fastrde, that's exactly what I did :D

[2020-11-22 18:14] mstephano commented on #6617
Having EventKindEnum is very interesting for us to be able to have multiple subscriptions with one or multiple event kind.

I should also be able to serve you as a tester for this functionality. Thank again again @davimacedo @Moumouls for your hard work!

[2020-11-22 18:36] mstephano commented on #6617
Following the current implementation of GraphQL getting multiple objects (https://docs.parseplatform.org/graphql/guide/#where), I presume the usage example from @Moumouls should be something like this? (comment**s** with edges)

[code]

[2020-11-22 19:25] Moumouls commented on #6617
@mstephano  here we do not have `edges` since events cannot occur simultaneously, each event will always return only one `node` (like Parse JS SDK live queries)

[2020-11-22 20:10] mstephano commented on #6617
Following my example of react-hooks query with pollInterval, I would have hoped to only replace the word "useQuery" for "useSubscription" + remove pollInterval, and my page would refresh automatically with the updated list of objects:

[code]

**Question**: If there is no `edges`, it would mean I need to add a method like Live Query and keep an internal list of objects?
[code]

[2020-11-22 21:50] allanext opened #7020 "Parse server cloud function hangs"
### Issue Description

Simple cloud code hangs without returning any values or errors

[code]

**API call:**

`curl -X POST -H "X-Parse-Application-Id: xxx" -H "X-Parse-REST-API-Key: yyy" -H "Content-Type: application/json" http://127.0.0.1:1337/127-s_domain_com/functions/new_accounts`

**Hangs here and no results are returned**

### This works:

[code]

**API call:**

curl -X POST -H "X-Parse-App

[2020-11-22 22:06] mtrezza commented on #7020
Thanks for reporting.

Can you specify what you mean by "hangs". You could debug the Cloud Code function and step through it to find out whether the query is executed.

At first glance this does not look like a Parse Server issue. Without further details my guess would be that the query times out, therefore the Cloud Code function does not return. If the is the case, you could look into the databa

[2020-11-23 01:53] fastrde commented on #7016
The problem is clearly an outdated definition file in the DefinitelyTyped Repository. I think this issue can be closed here. Maybe, at some point in the future, the definitions should be maintained here.

[2020-11-23 08:55] Moumouls commented on #6617
TLDR: Parse can't return edges for subscription, but Apollo currently has a system designed to handle your use case: https://www.apollographql.com/docs/react/data/subscriptions/#subscribing-to-updates-for-a-query

@mstephano , yes parse server cannot return a list of object, so you need to have the query and the subscription.

Then you can combine the subscription result with an Apollo Cache Updat

[2020-11-23 10:31] mtrezza commented on #7016
I'm closing this as it does not seem to be a Parse Server issue.

The solution seems to be to raise this issue in a 3rd part library.

Feel free to comment if you have any questions and we can re-open this issue.

[2020-11-23 10:31] #7016 closed

[2020-11-23 10:36] mtrezza commented on #7015
Thanks for suggesting.

This seems to be a useful enhancement for Parse Server. I suggest to open the PR after #7017 has been merged to include the newly introduced configuration keys.

[2020-11-23 10:40] mtrezza commented on #6432
I'm closing this due to prolonged inactivity. If the topic becomes relevant again we can re-open this issue.

[2020-11-23 10:40] #6432 closed

[2020-11-23 13:16] mstephano commented on #6617
Great! Thank you @Moumouls for your explanation. I can't wait to test the functionality on update event!

[2020-11-23 16:08] allanext commented on #7020
Hi @mtrezza,

thanks for the feedback, i've traced the call and it looks like the client is calling the wrong parse server application.

I'm running 3 servers, the localhost development and 2 other subdomains (showcase and base) with the following parameters:
[code]
Following the code on `ParseQuery.js` i noticed that:
[code]
The _CoreManager.default get's all the parameter from the `base` instanc

[2020-11-23 16:19] mtrezza commented on #7020
If I understand the issue correctly, there are 3 separate parse instances, each running on its dedicated server instance with its dedicated domain.

If the client connects to the wrong Parse instance then it looks like a client configuration issue, ignoring fundamental requirements like correct DNS records.

You could simplify your code to a minimal working example project to see where the issue l

[2020-11-23 16:25] davimacedo commented on #7020
As I understood he is trying to connect to multiple different Parse Servers from the same client but unfortunately that's not currently possible. The Parse JS SDK is single tenant and you can only connect to one single Parse Server when using it.

[2020-11-23 16:34] allanext commented on #7020
Hi @davimacedo ,

depending on the domain that i'm logged into I'm connecting just to one Parse Server instance; i.e from 127.0.0.1 only to http://127.0.0.1:1337/127-s_domain_com, if the domain would be showcase.domain.com it would connect only to 'https://showcase-s.domain.com/showcase-s_domain_com.

The weird thing is that from the client side, just before calling the cloud function:
[code]
**Th

[2020-11-23 16:47] allanext commented on #7020
The issue is the same if the API is called directly, in fact the url that comes up on RESTController.js
`let url = _CoreManager.default.get('SERVER_URL');`
 is: 'https://base-s.domain.com/base-s_domain_com'

 Even though the Application-Id and the API-Key are unique to `http://127.0.0.1:1337/127-s_domain_com`

`curl -X POST -H "X-Parse-Application-Id: b0df0a97ddb40b5697ecc70cdd7b44cd6" -H "X-Parse

[2020-11-23 17:15] allanext commented on #7020
@mtrezza there are 3 parse instances on the same server, depending on the client url domain (127.0.0.1, base.domain.com, showcase.domain.com) it will access the proper parse instance on the same server.

It's a SaaS: same server, same code, different databases. I'm just using different URL for different clients and it works well for all the subscribe queries from the js client.

The issue is appar

[2020-11-23 20:44] davimacedo commented on #7020
Are the parse instances running on separate processes or same process?

[2020-11-23 21:58] mtrezza commented on #7020
return controller.find(this.className, this.toJSON(), findOptions).then(response => {
...
RESTController.request('GET', 'classes/' + className, params, options);
...
let url = _CoreManager.default.get('SERVER_URL');

I assume you are referring to `let url = CoreManager.get('SERVER_URL');` [here](https://github.com/parse-community/Parse-SDK-JS/blob/d9cc4d2c013df1c011e526cf2bc04fc91820eb47/src/RESTC

[2020-11-23 22:02] allanext commented on #7020
Hi @davimacedo,

with the same process, this is my index.js:

[code]

[2020-11-23 22:11] allanext commented on #7020
Hi @mtrezza ,

no, actually I'm referring to the code on the parse-server (node_modules/parse/lib/nodes/RESTController.js) line 309:

    `let url = _CoreManager.default.get('SERVER_URL');`

that was following the debugger on the parse-server when it receive the cloud function "new_accounts"

[2020-11-23 22:15] davimacedo commented on #7020
Parse Server is not multi tenant ready. You can't run multiple instances in the same process. That's the problem. And the problem is mainly caused because of the Parse JS SDK, which Parse Server uses for Cloud Code. Unfortunately you will have to change little bit the way you are doing and run a different process for each Parse Server instance.

[2020-11-23 22:45] allanext commented on #7020
Gotcha! i see somebody also made an [example](https://github.com/sailstech/multiple-apps-parse-server) of running multiple processes instead.

Thank you @davimacedo and @mtrezza !

[2020-11-23 22:47] mtrezza commented on #7020
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-11-23 22:47] #7020 closed

[2020-11-24 17:26] JeffGuKang opened #7021 "There are a lot of logs as CREATE TABLE IF NOT EXISTS "_SCHEMA""
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-11-24 19:37] dblythy opened #7022 "Inconsistency between afterLiveQueryEvent "type" and SDK"
**Is your feature request related to a problem? Please describe.**

This is my fault, but basically, request.event in the `afterLiveQueryEvent` contains a first letter uppercase, where the JS SDK does not. E.g:

[code]

vs

[code]

This could be confusing and potentially lead to bugs. Infact, I even made the mistake for the docs:

[code]

This example will never fire as .event is defined as:

[cod

[2020-11-24 20:30] mtrezza commented on #7022
Thanks for reporting.

I classified this as a bug with severity level 4 because:
- this is an inconsistency with expectations that can be derived from related syntax in the Parse JS SDK
- this is an inconsistency with the docs
- the functionality itself is not impaired, albeit one would have to look into the source code to find the correct event spellings

The suggested solution would be to make t

[2020-11-24 20:42] dblythy commented on #7022
Agree with all the points you've raised. Only a minor nit that will cause inconvenience and confusion. Potentially breaking change for the next release though for those already utilising the trigger.

[2020-11-24 20:46] mtrezza commented on #7022
Yes, given that this feature has only been introduced about 1 month ago, I would assume that the breaking change impact is not that big of a deal.

[2020-11-24 21:58] #7022 closed

[2020-11-24 22:02] mtrezza commented on #7021
Thanks for reporting.

This may be related to https://github.com/parse-community/parse-server/issues/6193 and https://github.com/parse-community/parse-server/pull/6743.

Can you be more specific about what causes the calls to `_ensureSchemaCollectionExists`? In the source code there are some references that call this method, so depending on the operations you perform, these calls may be expected.

[2020-11-25 14:18] JeffGuKang commented on #7021
[code]

And it was caused when traffic increased. I will check the logs what is calling `_ensureSchemaCollectionExists`.

[2020-11-25 17:30] #7012 closed

[2020-11-27 02:51] OnielN14 opened #7025 "ParseCloud.onLiveQueryEvent JSDocs Documentation"
**Is your feature request related to a problem? Please describe.**
No. Well, I'm using parse-server in Typescript environment, and generated the definition file from the source. I've found myself in confusion when i try to implementing something using ParseCloud.onLiveQueryEvent.

**Describe the solution you'd like**
Add some JSDoc to the function definition just like the rest to improve the docum

[2020-11-28 04:33] MichaelJCole opened #7027 "GraphQL Logout mutation w/o `X-Parse-Session-Token` header causes internal server error"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-11-29 01:01] MichaelJCole opened #7028 "GraphQL API missing mutation `verifyEmail`"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-11-29 02:09] MichaelJCole commented on #7028
Ok, I think it's just not documented.  [The GraphQL Guide](http://docs.parseplatform.org/graphql/guide/) might be improved with this documentation - what do you think?

---

When the email verification link is clicked in the user's email client, it (probably) opens a browser to GET a Parse REST API endpoint which verifies the emailed link:
[code]
On success or failure, the REST API 302 forwards th

[2020-11-29 10:34] mtrezza commented on #7027
Thank you for reporting.

@Moumouls @davimacedo Do you have any suggestion for this GraphQL related issue?

[2020-11-29 10:38] mtrezza commented on #7028
Thanks for reporting.

If you think the documentation can be improved, please let us know where you would expect to see which information by opening an issue in the [docs repo](https://github.com/parse-community/docs/issues). If you want to go even further, we would gladly review your PR for the docs change.

[2020-11-29 11:35] Moumouls commented on #7027
Yes it seems that we need to remove `viewer` from logOut mutation. I think it's nonsense to send a spectator back to the logOut mutation. This has probably worked in the past due to the breach in the viewer: https://github.com/parse-community/parse-server/security/advisories/GHSA-236h-rqv8-8q73

@MichaelJCole the quick patch is:

[code]

I will send a PR to remove viewer from logout mutation

[2020-11-29 12:02] Moumouls commented on #7027
PR sent: https://github.com/parse-community/parse-server/pull/7029

[2020-11-29 13:00] uzaysan opened #7030 "Exclude child elements in query results"
**Is your feature request related to a problem? Please describe.**
In parse server we can put parse objects to another parse object. And we can get them with include method.
We also select specific fields from child objects with select method.
But we cannot exclude fields from child object. Lets assume we have Book object. And author field is a pointer to a user. If I want to get author alongside

[2020-11-29 13:54] mtrezza commented on #7030
Thanks for this suggestion; initially [discussed](https://community.parseplatform.org/t/exclude-doesnt-work-for-child-objects/1068/3) in Parse Forum.

Would you want to open a PR and create a failing test, so that we can get started to fix this?
You can take a look at the [contribution guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md) for how to set up Parse Serve

[2020-11-29 14:17] mtrezza commented on #7025
Thank you for reporting.

Well done, you have already identified the issue. Would you want to submit a PR? The [contributing guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md) explains how to make changes to Parse Server and contribute these changes as PR.

[2020-11-29 15:35] ashish-naik opened #7031 "Server fails to start with "apiKey value must be defined!""
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ x] I can reproduce the is

[2020-11-29 15:39] MichaelJCole commented on #7027
@Moumouls did you try that patch?  I tested it in the Playground, and got the same "Error: Internal server error".  Anyways, thanks for the fast PR!

[2020-11-29 15:44] Moumouls commented on #7027
Yeah after my comment I saw in the code that my patch may be not work on the current version. (logOut code always try to get viewer)

In fact, your only option might be to make sure you have a session token when you call the LogOut

[2020-11-29 16:04] mtrezza commented on #7031
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-11-29 16:04] #7031 closed

[2020-11-29 16:21] ashish-naik commented on #6511
@mtrezza when is this bug likely to be prioritized?

[2020-11-29 17:21] MichaelJCole commented on #7028
Hi @mtrezza, thanks for the reply and invite.  I haven't get gotten email verifications to work in my app.  I have been digging through the code to get this far.

**I think the missing GraphQL mutation makes the GraphQL API incomplete.  I'd rather handle this interaction in the router of my front-end web app.**

Since that's not available (and I'm still evaluating Parse), I'm happy to use the REST

[2020-11-29 17:59] mtrezza commented on #7028
At first glance, this issue seems to be specific to your architecture.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/question

[2020-11-29 18:01] mtrezza commented on #7028
@Moumouls Can I get your opinion on whether this could be a Parse Server GraphQL issue?

[2020-11-29 18:15] MichaelJCole commented on #7028
Hi, guys, thanks for looking.

About the REST verification url, I posted a [question in the forum](https://community.parseplatform.org/t/email-verification-link-is-404/1073).

`http://localhost:1337/apps/dramawithfriends/verify_email?token=nXTt5...` goes straight to the express app [setup as described in the GraphQL guide](https://docs.parseplatform.org/graphql/guide/#using-expressjs) and works fo

[2020-11-29 18:48] Moumouls commented on #7028
Here we have two things:
- 1. Lack of documentation on how email verification works, currently on sign up user receive an email with a link that redirect to a pre defined html page managed by parse server and then call automatically the verify endpoint with the token in the URL. So developer must have a correct email adapter and valid public server url to get this work.

- 2. And yes if a develope

[2020-11-29 18:53] MichaelJCole commented on #7028
@Moumouls thank you!

re: docs and feature, I may come back to this after I get Parse to work for my application.  I haven't put any data in it yet.  I'm still at logins.

re: the URL, it was malformed.  This won't work:
[code]

This is worked:
[code]

[2020-11-29 19:14] mtrezza commented on #7028
Thanks @Moumouls as always for the fast response. Btw, labels in this repo are applied according to a [new labelling system](https://github.com/parse-community/parse-server/issues/6984) that is still under experimentation. You may want to take a look at the rules how these labels are applied and let me know if you have any questions.

[2020-11-29 19:22] mtrezza commented on #7028
@MichaelJCole As I mentioned earlier regarding the documentation: it would be great if you could help to improve the documentation, since you are taking a fresh look at it and may easily see what can be improved to make on-boarding easier for first-time-users of Parse Server.

You can do so by opening an issue in the [docs repo](https://github.com/parse-community/docs/issues) and we would gladly r

[2020-11-29 23:46] mtrezza commented on #6511
This thread has quite a potpourri of information.

I suggest to simplify and restate the issue as a comment, using the issue template, including:
- Verifying that the issue still exists with the latest version of Parse Server and the FB SDK.
- A step-by-step description (in list form) to replicate the issue, including the code used in iOS.

[2020-11-30 03:44] OnielN14 commented on #7025
@mtrezza Thanks for your response

I would like to. I'd try to submit a PR in the near future..

[2020-12-01 10:54] darrenkidd commented on #6996
I definitely feel that adding this in-built testing into Parse is heading in the wrong direction i.e. undifferentiated heavy-lifting. There are definitely excellent frameworks out there that can do all of this work for us, and I'd argue that it's better to introduce devs to those tools first anyway, as they are used _everywhere_.

However, we could definitely improve the documentation. I spent qui

[2020-12-01 19:05] alisaffari97 commented on #6817
Is it still open to work on it?

[2020-12-01 19:24] davimacedo commented on #6817
Yes. It is. Feel free to open a PR and let us know if you need any help.

[2020-12-02 01:11] MichaelJCole opened #7033 "GraphQL: Reset user password with emailed token"
### New Issue Checklist

- [ x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ x] I can reproduce the i

[2020-12-02 01:57] mtrezza commented on #7033
Thank you for reporting.

@Moumouls Do you have any suggestion for this GraphQL related issue?

[2020-12-02 01:58] mtrezza commented on #7010
I'm closing this as it lacks essential information required to investigate the issue. Please follow up on any questions asked and further steps suggested in the thread and we can re-open this issue.

[2020-12-02 01:58] #7010 closed

[2020-12-02 02:00] mtrezza commented on #6980
I'm closing this as there were no further responses and the issue seems to be deployment specific. Please follow up on any questions asked and further steps suggested in the thread and we can re-open this issue.

[2020-12-02 02:00] #6980 closed

[2020-12-02 04:24] MichaelJCole commented on #7033
Hi @Moumouls and @mtrezza, thank you for looking at this.  Here's a recap of the flow (to organize my thoughts)

1. [Make GraphQL request](https://docs.parseplatform.org/graphql/guide/#resetting-passwords) [to send email](https://github.com/parse-community/parse-server/blob/e88f2e38f9c38151869055878e52f1da8f7f6f99/src/Controllers/UserController.js#L206)
2. [user clicks email link, and is redirecte

[2020-12-02 07:45] Moumouls commented on #7033
@MichaelJCole if i understand you try to set up custom account workflow via GraphQL without using the Parse Server pages (resetPassword page, verify email page).

Currently the GraphQL API do not support this kind of mutation since many developers use auto managed Parse Server pages.

But it looks like a good addition, we have many example into the GraphQL folder under userMutation file.
I think t

[2020-12-02 07:47] Moumouls commented on #7028
related: https://github.com/parse-community/parse-server/issues/7033

[2020-12-02 10:29] uzaysan opened #7036 "Parse Server performance loss"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I can reproduce the issue

[2020-12-02 10:55] mtrezza commented on #7036
Maybe related to https://github.com/parse-community/parse-server/issues/6543.

[2020-12-02 12:51] mtrezza commented on #7036
Thanks for reporting.

Can you please redo the tests with:
- a fresh, clean, basic installation of Parse Server
- some simple example data in the database, I suggest to create a class with just a number field

Then it would be interesting if you could share your Parse Server configuration and a full description of the Parse Objects that you queried.

[2020-12-02 16:10] dblythy opened #7038 "FR: Record slow cloud functions / triggers and cloud function timeout"
**Is your feature request related to a problem? Please describe.**
Although analytics aren't supported, it would be nice if we could track "inefficient" cloud functions and triggers, which could be displayed in the dashboard with a message on how to 🚀 functions and maximise efficiency.

**Describe the solution you'd like**
It would be nice if we could specify a "timeout" value (e.g 5000), so if a

[2020-12-02 16:59] cbaker6 opened #7039 "mongorunner causing issue with latest Docker builds"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-02 17:02] #7039 closed

[2020-12-02 17:03] mtrezza commented on #7038
Thanks for suggesting.

This is an interesting feature. There are many commercial (e.g. [NewRelic](newrelic.com)) and open-source (e.g. [OpenTelemetry](https://opentelemetry.io/)) sophisticated app monitoring services available that provide a plethora of metrics and diagnostics. Some are also interoperable with services that monitor underlying infrastructure and clients to achieve 360° monitoring.

[2020-12-02 17:06] cbaker6 commented on #7039
The ssh issue with mongojs may have resolved itself (or something with repo) as I'm not getting the error anymore. It was occurring yesterday and this morning

[2020-12-02 17:08] mtrezza commented on #7039
Alright, we can always re-open if it surfaces again.

[2020-12-02 17:11] ashish-naik commented on #6511
@mtrezza  i tested on local as well as Heroku with v4.4.0 and found Facebook login with new user is still failing.

**Issue**
Login with new Facebook user fails with error code 206
Login with existing user works.

**Steps to reproduce**

1. Install Parse server using package.json mentioned below.
2. Use index.js mentioned below.
3. Use new user to login for the first time. (i tried with test user)

[2020-12-02 17:16] dblythy commented on #7038
Thanks for the suggestions. I could maybe add the timeout separately to the validator object and apply that feature from there. I agree that it is a seperate feature, I was just concerned that functions that take a long time to resolve would never show up in the "slow query" stats page as they were still resolving (is that even possible?).

I like the idea of the markers, and I agree that without

[2020-12-02 17:21] mtrezza commented on #6511
Thanks for the details. At which step in the iOS code does the server log `206 "Cannot modify user o7GT48TZZT."`?

[2020-12-02 17:34] mtrezza commented on #7038
Not sure what you are referring to, a function can only show in the slow query report *after* it resolved (successfully or by nodejs server timeout).

Another aspect to consider is that monitoring that covers only Cloud Code functions captures only a fraction of Parse Server performance, or not much at all, if Cloud Code functions are not used. To give a better picture of Parse Server it may make

[2020-12-02 17:40] ashish-naik commented on #6511
sorry forgot that method where error occurs actually.

[code]

[2020-12-02 17:54] dblythy commented on #7038
I planned on extending it to all features mentioned, I just didn't want to jump the gun and build / conceptualise it if it wasn't in line with this projects' goals. Thanks for the feedback!

[2020-12-02 18:10] uzaysan commented on #7036
Hey @mtrezza Thank you for taking time on this. I can do what you said. But I want to say a thing. I was doing tests. I changed my code.

Previously my cloud code was like this:
[code]

And I changed it to this:
[code]

Both cloud code returns same thing(well, second cloud code returns status code and http headers etc as extra. but also returns query result so basicly same thing).

But second code

[2020-12-02 18:12] MichaelJCole commented on #7033
Hi @Moumouls, thanks for the invite, I appreciate what you guys have done.

My concerns with making a PR are:
1. I just started using GraphQL and Parse a couple weeks ago
2. Auth code needs to be tested, and I'm not familiar with the dev and test environments
3. I'm on a small project and need to get some features done ASAP

I got this to work using the existing API's, so I'll spend some time to m

[2020-12-02 18:14] dblythy commented on #7038
@mtrezza is it okay to overhaul some of the promise callbacks and move towards await / async? It will be easier for me to add the functionality.

[2020-12-02 18:15] mtrezza commented on #7036
Very interesting indeed. Can you share your Parse Server configuration?

[2020-12-02 18:19] mtrezza commented on #7038
Any code changes that are not directly related to this feature should be done in a separate PR. Also, I think we are still at the stage of a conceptual discussion.

[2020-12-02 18:20] mtrezza commented on #6511
Can you please reduce the iOS code to a minimum example by removing all code that is not necessary to reproduce the issue?

[2020-12-02 18:24] uzaysan commented on #7036
@mtrezza Of course

[code]

[2020-12-02 18:41] ashish-naik commented on #6511
I haven't tested this but removed all non-essential part.

[code]

[2020-12-02 20:59] davimacedo commented on #7036
`directAccess` should help on that but since it is still an experimental feature, could you repeat the test with original code and directAccess set false? It should basically do same thing you did in the second test.

[2020-12-02 21:04] davimacedo commented on #6511
could you please try to pass down the `loggedInUser` var and save it instead of PFUser.current()? I'm wondering that at that point the PFUser.current() was not yet updated by the PFFacebookUtils. Anyways I believe this is an issue with the iOS SDK and not Parse Server.

[2020-12-03 01:31] dblythy commented on #7038
Ok. I was thinking of having an option for the cloud validator where you can specify `maxTimeout` of a trigger. If the trigger exceeds the `maxTimeout`, then all relevant information is stored in the `_SlowQuery` db.

Ideally, I was thinking of adding in the "tracing" all the way through the function handler from the express routes, such as [here.](https://github.com/parse-community/parse-server/b

[2020-12-03 06:56] uzaysan commented on #7036
@davimacedo hey. Unfortunatly setting directAccess to false didnt work. Here is my test history with my original code(directAccess is false):

[code]

And This is the test results with my second code. DirectAccess is false:

[code]

[2020-12-03 07:21] davimacedo commented on #7036
I have one more questions. I see that in your second code you are not passing the master key. Is this query really working and returning the same results of the first code (because in the first one you are using the master key)?

[2020-12-03 07:31] uzaysan commented on #7036
Using masterkey is habit. I used to. I disable all class level permissions for every class. So I put master key in every query. but for testing porpouses, I enabled public permissions for that class.
Yes. Second code returns query result.

Here is what second code returns:

[code]

[2020-12-03 10:54] maxiqsoft commented on #1906
I found a solution.

I've added one line of code to the file /node_modules/parse-server/lib/LiveQuery/ParseLiveQueryServer.js

The line is `sessionToken: client.sessionToken,` and in my case in line 459.

With that you are able to recognize who disconnected from the websocket by the users sessionToken.

Before it was just possible to get the sessionToken when the user connected.

With that you can

[2020-12-03 10:55] maxiqsoft commented on #3103
I found a solution.

I've added one line of code to the file /node_modules/parse-server/lib/LiveQuery/ParseLiveQueryServer.js

The line is `sessionToken: client.sessionToken,` and in my case in line 459.

With that you are able to recognize who disconnected from the websocket by the users sessionToken.

Before it was just possible to get the sessionToken when the user connected.

With that you can

[2020-12-03 11:30] mtrezza commented on #1906
Thanks for the update.

I reopened the issue because it seems like a useful and much sought after enhancement.

Would you want to open a PR for this?

[2020-12-03 12:55] maxiqsoft commented on #1906
Sorry, I am too dumb to push the changed code to the repo. I become the message that my local git version is too old and I am currently in homeoffice, so no admin rights.

The file that has to become changed is located here: parse-server\src\LiveQuery
the name of the file: ParseLiveQueryServer.js

`runLiveQueryEventHandlers({
        event: 'ws_disconnect',
        clients: this.clients.size,

[2020-12-03 17:42] Moumouls opened #7042 "Modernize Auth Adapter"
**Is your feature request related to a problem? Please describe.**
Not a problem

**Describe the solution you'd like**
We can introduce webauthn adapter to support modern auth system

**Additional context**
We can set up this with https://simplewebauthn.dev/

An additional PR can be done on the Parse-JS SDK to support WebAuthn sign up

[2020-12-03 17:53] Moumouls commented on #7042
And may be we can get some advices and may be a quick PR review from @MasterKale if he is okay !

[2020-12-03 18:27] MasterKale commented on #7042
Hello! This is a surprise! I'd be more than happy to help, please feel free to tag me as a reviewer when it's ready and I'll take a look 😄

And if you have any questions on SimpleWebAuthn usage specifically please ask! If something is unclear I'd love to know so I can continue to refine the project and its docs ✌️

[2020-12-03 18:43] mtrezza commented on #7036
I see that there are still some options in your configuration, that are not the default Parse Server configuration.

As I mentioned earlier, I suggest you remove all options like `enableSingleSchemaCache: true` (not just setting it to `false`, but remove the key) and do the test again.

[2020-12-03 19:10] Moumouls commented on #7042
Thanks @MasterKale for your support,  i thought that the main difficult part was to find your package 😄  I had to search deeply to find your package.

Your package seems to me very well written. I surely invite you to contact the https://webauthn.guide/ team to reference your package for the NodeJS implementation.
repo here: https://github.com/duo-labs/webauthn.io

[2020-12-03 19:14] MasterKale commented on #7042
As a matter of fact, I'm on the [WebAuthn Adoption Community Group](https://www.w3.org/community/webauthn-adoption/) and we're currently working on fleshing out a new website:

https://webauthn.how/

We're working on compiling a website with resources to help fellow devs identify libraries for their preferred language, offer guidance on implementation best practices, and even (eventually) host liv

[2020-12-03 19:21] ashish-naik commented on #6511
tried saving loggedInUser but still failed with error 206.

I had raised in iOS SDK [1492](https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1492)

[2020-12-03 19:35] uzaysan commented on #7036
Yes. Thats my current setup.

I tried with fresh install parse server(cloned parse-server-example repo). But I used my existing database.And Problem still exists. Even on fresh install parse server, performace decreases.

About fresh mongoDb, I dont make the connection why this can be a problem. I mean when I restart parse server ıts give full performance or when we do query `/classes/className` e

[2020-12-03 19:57] uzaysan commented on #7036
@mtrezza Ok. You were right. I made a fresh install MongoDb database. Creates class named "Test". I added one integer field called "int".(It has other default fields like id and createdAt etc..) Set value to 12. Now In my database I have one class and one object. I do query without any parameter like this:
[code]

Performace doesnt decrease. Only diference this object and my other objects is point

[2020-12-03 20:01] mtrezza commented on #7036
Great investigative process, we are getting somewhere.

I see 3 dimensions you can experiment with:
- number of objects in class
- field types of objects
- Parse Server configuration
- DB setup (e.g. indices)

[2020-12-03 20:30] uzaysan commented on #7036
@mtrezza Ok. I replicated all fields. Created pointer and string fields. Performace didnt decrease. Then I connect my previous parse server to fresh mongodb database. Performace decrease. So I think problem is related to parse server configuration

[2020-12-03 21:03] #7015 closed

[2020-12-04 00:31] mtrezza commented on #7036
It would be interesting now to find out which configuration specifically is related to the performance decrease. Let us know when you found the culprit.

[2020-12-04 00:36] #1906 closed

[2020-12-04 05:40] davimacedo commented on #6511
Would you be able to share the code that you tried saving loggedInUser?

Could you please open another issue with the details of that?

[2020-12-04 18:16] uzaysan commented on #7036
@mtrezza I will stop investigating for now. I have finals in mid january(18th) I have to study my exams. And I will refractor my currect cloud code. I will change parse queries to http requests. When my exams finished I can start re investigate in february.

[2020-12-04 18:22] mtrezza commented on #7036
If you could just do one last test and take the current deployment that works fine but set the full Parse Server config that you had issues with, then we could get some important insight.

I'm afraid that in Feb things will not look the same and we'll loose track of this, so if you could it would be great, if not then we'll pick this up in Feb.

[2020-12-04 18:28] uzaysan commented on #7036
@mtrezza I'm afraid this cloud take longer than we tought. I said ıts related to parse config. But I made another test yesterday(my first test with fresh parse server and existing database). But performance was still decreases. [see](https://github.com/parse-community/parse-server/issues/7036#issuecomment-738247293):

I dont know why I skipped this. ıt was midnight and I was sleepy.

So This might

[2020-12-04 18:43] mtrezza commented on #7036
I don't want to ask for too much, so as I understand it now:

[code]

So the test case #5 is what would be interesting to see.

[2020-12-04 18:50] uzaysan commented on #7036
@mtrezza I will format my server. And re install both parse-server and mongodb. And will test all 5 scenario.

[2020-12-04 18:54] mtrezza commented on #7036
Let's just male sure we don't loose the old DB and old Parse Server, so that we can reproduce the issue.

[2020-12-05 08:37] ashish-naik commented on #6511
I add some seed values to newly created user. i added those to the code below.

[code]

[2020-12-05 08:38] uzaysan commented on #7036
@mtrezza Ok. I made some tests. I found the problem. Its not related to parse config. Its related to what I pass into query constructor.

For example:
[code]
This decreases performance.
`var query = new Parse.Query("Test");`
But this doesn't. I tested this with my old server and new parse server. Even in fresh parse server If I pass ParseObject to query, performance decreases.

[2020-12-05 09:26] ashish-naik commented on #6511
i guess this is server issue. I have tried fixing the code and it works.

Pls read the issue i had created 1492 specifically from https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1492#issuecomment-614468661 onward.

have also explained the same above.

[2020-12-05 10:01] mtrezza commented on #7036
Ah right, well done. I think it's not supported to pass a Parse Object. Interesting that that worked at all.

[2020-12-05 10:09] uzaysan commented on #7036
@mtrezza here is an example: https://docs.parseplatform.org/js/guide/#basic-queries

Also JS sdk also check if ıts a stiring or parse object: https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseQuery.js#L251

[2020-12-05 10:16] mtrezza commented on #6511
I am asking for the 3rd time now:

Can you please reduce the iOS code to a **minimum example** by removing all code that is not necessary to reproduce the issue and provide the complete code. This means, removing the 3 methods and fields that you are setting on the current user.

[2020-12-05 10:29] mtrezza commented on #7036
Very interesting and well researched from your side - now that we circled in the issue, the next step would be to look into the Parse Server code.

[2020-12-05 10:53] uzaysan commented on #7036
@mtrezza

I'm suspecting that too.

[2020-12-05 11:16] uzaysan commented on #7036
@mtrezza
I tested. It still decrease performance. Doesnt matter if I pass it to parse query.

[2020-12-05 11:33] mtrezza commented on #7036
Glad to hear that, we are getting closer to solving this. Can you try again without extending the Parse Object, but just creating a new one?

Parse.Cloud.define("code", async (request) => {

  var testObj = new Parse.Object("Test");
  console.log(testObj.className);

  var query = new Parse.Query("Test");
  return await query.find({ useMasterKey:true });
});

[2020-12-05 13:01] mtrezza commented on #7036
wrk -t1 -c400 -d30s -H "Content-Type: application/json" -H "X-Parse-Application-Id: YOUR_APP_ID" -s post.lua http://parse_server_ip:1337/parse/functions/codeWithQuery

Can you share your `post.lua` script?

[2020-12-05 13:34] ashish-naik commented on #6511
i tried to debug further by stripping down those methods.
Somehow setting email attribute causes the error 206.

Earlier i had  `loggedInUser!["email"] = email` which i corrected to `loggedInUser!.email = email`

After loginWith call, a row is created in User object (authData (id and access_token not nil) and username attributes are updated) and below is state of loggedInUser

- sessionToken = nil

[2020-12-05 14:19] uzaysan commented on #7036
@mtrezza

[code]
This doesnt decrease performance

[code]
This also doesnt decrease performance

Here is my lua script:
`wrk.method = "POST"`

[2020-12-06 14:42] mtrezza commented on #7036
I have been trying to recreate the issue of decreasing performance using `wrk`.

The results are:

<details>
<summary>Cloud Code functions</summary>

[code]
</details>

The Cloud Code function `test` shows indeed decreasing performance running on a fresh instance:

<details>
 <summary>wrk log</summary>

[code]
</details>

However, after a while the performance seems to stabilize in the lower range

[2020-12-06 14:51] uzaysan commented on #7036
@mtrezza Did you look for `extend` method? Any abnormal codes?

And yeah I can confirm it stabilize on 5-6 req/sec. I've made a test a month ago. It was set to one hour. And gave me 5 req/sec. It was on 4 core machine.

And Today I refractored my cloud code. Changed parse objects to className strings. Performance was stable. So changing parseobject to string definetly solves the issue.

[2020-12-06 16:05] mtrezza commented on #7036
I did not reach a conclusive result on whether `test1` is stable or decreasing in performance.

I would have to look into this more.

The decreasing performance could have to do with the NodeJS heap allocation or garbage collection algorithm. Maybe a NodeJS expert could give more insight here.

[2020-12-06 16:11] ashish-naik opened #7046 "Parse Server - Cannot enable verbose and cloud logLevel modes"
### New Issue Checklist

- [x ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ x] I can reproduce the i

[2020-12-06 18:11] mtrezza commented on #7046
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-12-06 18:11] #7046 closed

[2020-12-06 21:03] tutorbear opened #7047 "Reserved Keywords such as such as "className" should not be allowed as column name."
### Issue Description

Creating/adding a column with a reserved keyword such as "className" completely messes up the DB.
### Steps to reproduce

- Create a class.
- Add a column with the name "className" (use any data type you want- String, number,etc)
- Create a few objects and put values in the column
- After a while do a refresh

### Actual Outcome
A normal class with simple objects
### Expecte

[2020-12-06 21:56] mtrezza commented on #7047
Thanks for reporting.

That's a nice catch. Would you be willing to create a PR with a failing test case?

[2020-12-07 00:20] mtrezza commented on #6511
Thanks for reducing the code, this is interesting indeed. I will try to reproduce this issue.

[2020-12-07 02:39] lybaiyy123 commented on #7038
This is a great idea and function that can be quickly operated / analyzed in the control panel,
it like LeanCloud.
![QQ截图20201207103624](https://user-images.githubusercontent.com/52989321/101303162-6532ef80-3878-11eb-887c-616f1f5e0196.png)

[2020-12-07 12:10] SavvasMes commented on #5987
I have the same error. nothing I tried seems to work.

[2020-12-07 16:07] coderofsalvation commented on #5278
I have a multi-app parse-server running, and was able to do inter-app communication like so:

[code]

[2020-12-07 16:17] Moumouls commented on #7042
wait for: https://github.com/MasterKale/SimpleWebAuthn/pull/80 and https://github.com/MasterKale/SimpleWebAuthn/pull/79

[2020-12-07 23:35] sunshineo opened #7048 "readPreference secondaryPreferred causes "Unable to create case insensitive username index: not master""
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-07 23:45] #7027 closed

[2020-12-08 04:20] ZachGoldberg commented on #6980
I'm experiencing this same isuse, and I've narrowed down the issue using the parse server unit tests.

batch.js lin 44 assumes that the requestPath is a valid `requestPath` to the `PUBLIC_SERVER_URL`.  If instead the request is coming to the `SERVER_URL` *AND* the `SERVER_URL` and `PUBLIC_SERVER_URL` have different `path` lengths, then this fails.
[code]

Notice how `requestPath.slice` is using th

[2020-12-08 05:58] sunshineo commented on #7047
+1 for length

[2020-12-08 08:11] Moumouls opened #7050 "Improve AuthAdapter capabilities"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
We need to add some triggers , and improve AuthAdapter interface to support some special auth systems like MFA, WebAuthn

**Describe alternatives you've considered**
No alternative currently, contributors need to inject code directly in Routers/Controllers may be we can avoid this.

**Additi

[2020-12-08 11:02] mtrezza commented on #7050
I like this holistic approach, makes a lot of sense to me to standardize that interface.

[2020-12-08 12:19] dblythy commented on #7050
I'd imagine the MFA adapter would need:

-SDK method to "enable" the authentication maybe `Parse.User.enableAuth('mfa')`
-SDK method to "verify" that the authentication is setup `Parse.User.verifyAuth('mfa',data)`
-SDK method to pass auth data to login (which can be accessed via the auth adapter `Parse.User.logIn(username,password,{auth: authData})`
-Secure storage of the secret used to verify MFA

[2020-12-08 12:35] Moumouls commented on #7050
Okay i think based on what i know currently of different auth protocal (OTP,MFA, WebAuthn)

We can add  the `challenge` concept

Challenge can initiate the auth workflow (send sms, retreive challenge etc...)

then the current `validateAuthData` can take then the auth data can take over and resolve login/signup

[2020-12-08 12:48] Moumouls commented on #7050
then the front process could be depending of the adapter used

[code]

I think a string `'default,mfa'` could be a nice feature, since it allow a front end developer to  control the execution order to handle more easly erros, wrong credentials

[2020-12-08 12:51] dblythy commented on #7050
I don't think the MFA will be entirely OOS, as I think the token and the secret can be generated on the frontend, such as:

[code]

Or, even do all the OTP work in the SDK when linkWith MFA is called, e.g:

[code]

The MFA adapter could validateAuthData using token and secret and return recovery codes, which the developer could then show in their own UI.

Next, perhaps we could introduce a method

[2020-12-08 13:28] Moumouls commented on #7050
based on

[code]

and http://parseplatform.org/Parse-SDK-JS/api/2.18.0/Parse.User.html#linkWith

Currently linkWith only return a `Promise<void>`, so we can return some data at this moment, with a special field on response rest operation like `authDataResponse` (here the current rest response https://docs.parseplatform.org/rest/guide/#signing-up-and-logging-in)

`authDataResponse` could be the `va

[2020-12-08 13:30] Moumouls commented on #7050
@dblythy  in MFA use does recovery keys come from the front or generated on the backend ?

[2020-12-08 13:38] Moumouls commented on #7050
the challenge endpoint could be (web auth example)

[code]

Example of challenge with pre logged user (SMS OTP example)

[code]

[2020-12-08 13:53] Moumouls commented on #7050
the GraphQL API could easly follow this pattern only need a challenge mutation.
The JS SDK implementation is also easy

[code]

[code]

[code]

[2020-12-08 14:06] Moumouls commented on #7050
@dblythy what do you think about this examples ?

[2020-12-08 14:09] dblythy commented on #7050
Currently backend, but It probably doesn't matter as long as they are long, secure strings that are stored as passwords.

I like the examples, I think i'll be able to get it going for MFA. I'm currently working on a quick proof of concept that i'll share with you in a minute to get your thoughts!

[2020-12-08 14:13] Moumouls commented on #7050
Since for companies where i work i use extensively AuthAdapter, i know exactly what we have to do to support the feature and at first glance the thing could be rather short to implement

[2020-12-08 14:16] Moumouls commented on #7050
i think the recovery keys should be generate on the front end and only retrieved on set up time. The backend should only keep the validation secret ?

[2020-12-08 15:33] Moumouls commented on #7050
we should use `loginChallenge` rest endpoint since `challenge` lacks of clarity and can conflicts with an Already existing Challenge class

[2020-12-08 17:10] Moumouls commented on #7050
@dblythy  if you want to check, i started a draft PR

[2020-12-08 17:24] dblythy commented on #7050
Great stuff @Moumouls. [I wrote up a proof of concept of MFA ](https://github.com/parse-community/parse-server/compare/master...dblythy:MFA-Auth-Adaptor) working as an adapter instead of coded inbuilt. Feel free to use any of my existing code 😊. I created a new method 'loginWithAuthData', which can be used on any adapter to validate login requests. The adapter also handles all the encryption.

[2020-12-08 17:31] Moumouls commented on #7050
currently @dblythy  i think that MFA do not need an additional endpoint here, the tricks for better handling

[code]

[2020-12-09 07:41] Moumouls commented on #7036
Here the JS SDK code

[code]

it would be interesting if we try to break some JS object reference.
May be ` this.className = `${objectClass.className}`` could improve some things

[2020-12-09 17:57] dplewis commented on #7048
I believe this has been fixed in the latest version of the mongo driver.

https://jira.mongodb.org/browse/NODE-2784

We are looking into updating the driver.

[2020-12-09 18:08] mtrezza commented on #7048
A workaround may be - I haven't tested it - to remove the `readPreference` from the connection string and instead set it in the Parse Server configuration as driver option.

[2020-12-09 18:16] sunshineo commented on #7048
I tried that. Same problem.

On Wed, Dec 9, 2020 at 10:08 AM Manuel <notifications@github.com> wrote:

[2020-12-09 18:19] #7047 closed

[2020-12-09 18:48] ashish-naik commented on #7046
I deleted environment variable LOG_LEVEL from Heroku after which I see verbose logs !! What could be the correlation? How are verbose and logLevel options used?

[2020-12-09 20:20] Skyb0rg commented on #3646
your Main.js should only include the other files like:

     require("./Controller.js");
     require("./Common.js");

[2020-12-09 21:57] sunshineo opened #7054 "Post invalid iso date string success instead of return 400 with error message"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-09 22:49] sunshineo commented on #7048
@mtrezza manually create the index in the DB does not work. As a matter of fact, when I test removed the readPrefrence settings, it worked and created the index. But when add back the readPreference, code probably is trying to ensure index exists and still fails even the index is already there

https://github.com/parse-community/parse-server/blob/ca1b78220ff67c1fc91cceed14f07dabdf99ad2c/src/Contro

[2020-12-09 23:37] mtrezza commented on #7054
Thanks for reporting.

I can confirm this behavior. It could almost be considered graceful failing, because the resulting date entry for an invalid date is `1970-01-01T00:00:00.000Z`. But overall I think we should consider this a trivial bug and add date string validation.

Note: If the behavior is changed to fail with error, it should be noted as a breaking change in the change log.

[2020-12-09 23:57] mtrezza commented on #7048
I cannot reproduce this with an existing Parse Server deployment by adding `readPreference=secondaryPreferred` to the connection string. The server works just fine.

[2020-12-09 23:59] sunshineo commented on #7048
@mtrezza is your DB a cluster with 3 nodes (mine on MongoDB Atlas)?

[2020-12-10 00:00] mtrezza commented on #7048
Yes, I tried it with a 3 node (PSS) replica set.

[2020-12-10 00:34] sunshineo commented on #7048
Upgrade to 3.6.3 definitely works. I guess I have to install from my repo for a while. I'm creating a PR

[2020-12-10 01:05] mtrezza commented on #7048
I reopened the issue because it still exists.

[2020-12-10 18:06] dplewis commented on #7048
Closing via https://github.com/parse-community/parse-server/pull/7026

[2020-12-10 18:06] #7048 closed

[2020-12-11 17:55] AurelienVasseur opened #7058 "Make trigger context accessible in all triggers"
**Is your feature request related to a problem? Please describe.**
Sometime we need to pass some context to adapt the behavior / action of a trigger.
Currently context is only available on these triggers:    `beforeSave` - `afterSave` - `beforeDelete` - `afterDelete` - `beforeFind`
See #6459  #6626 #6666

**Describe the solution you'd like**
It should be possible to pass arguments from all 'action

[2020-12-11 18:02] mtrezza commented on #7058
Thanks for suggesting.

It surely makes sense to further extend context accessibility. Would you be willing to open a PR? It should be fairly straightforward as the existing context implementation already provides some guidance.

[2020-12-11 18:07] AurelienVasseur commented on #7058
Yes I can open a PR to work on it but I'm not an expert parse user so I don't know if I have the capacities to do that.
But I'm totally agree to test and do my first contribution on an amazing open source project ;)

Do you have any documentation for beginner to learn how to work on the project?

[2020-12-11 18:12] mtrezza commented on #7058
Sure, the [contribution guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md) explains how to make changes to Parse Server and contribute these changes as [pull request](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork).

Feel free to reach out if you need any guidance.

[2020-12-11 18:23] AurelienVasseur opened #7059 "Make it possible to skip triggers"
**Is your feature request related to a problem? Please describe.**
When I'm writing tests I would like to be able to skip triggers.
For example, if I do some security check on my triggers I need to match with that on my test, and sometime it's very annoying because the objective is not to test the trigger, but something else. So it will be very useful to skip them.

**Describe the solution you'd l

[2020-12-11 18:36] mtrezza commented on #7036
I would be surprised if string interpolation would make any difference because `className` is a primitive string.

However, I think we need some more analysis to be sure that there is actually a problem that needs to be fixed and how we would measure any improvements we attempt to make.

[2020-12-11 18:52] Moumouls commented on #7036
@mtrezza  me too ahaha, i think here it could be interesting to run a `node --inspect-brk` and check the JS Profiler
Here a guide: https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27
May be the Profiler can show us what's wrong 😄

[2020-12-11 18:58] mtrezza commented on #7036
I did the test while profiling, couldn't interpret any causes, just saw the execution times rising, but for all JS ops, hence I assumed that it may just be a natural V8 characteristic. But feel free to give it a go.

[2020-12-11 19:06] uzaysan commented on #7036
Hey guys. I need to mention that, Performance only decreases when query returns a parse objects. When you do test with count query, performance is stable. Maybe you should try with count method. So This is not only related to extend method(I guess)

See this: https://community.parseplatform.org/t/parse-server-performance-loss-after-time/1070/10?u=uzaysan

Can you please test this code:
[code]
This

[2020-12-11 20:52] AurelienVasseur commented on #7058
@mtrezza I tried to understand what I have to do to implement that and to be honest I'm totally lost. Can someone else work on it because we are going to wait a year if I do? x)

[2020-12-12 01:44] capacitivellc commented on #4991
`throw new Error('Unexpected server error, my error')`

results in html being sent to the client, not {
    "code": 141,
    "error": "..."
}

Received an error with invalid JSON from Parse: <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Error</title>
</head>
<body>
<pre>Error: foo<br> &nbsp; ...</pre>
</body>
</html>

[2020-12-12 09:59] mtrezza commented on #4991
@capacitivellc Can you please open a new issue, fill out the issue template and reference this issue if it is relevant?

[2020-12-12 14:59] rostopira opened #7062 "FR: Add support for Huawei Cloud Messaging"
Since `Installation` already has field `pushType`, it could be straightforward to set value to 'hcm' to distinguish tokens.
The API is identical, so there will be no breaking changes.

[2020-12-12 15:04] rostopira commented on #7062
Oh, nevermind, it can be done via PushAdapter

[2020-12-12 15:04] #7062 closed

[2020-12-12 15:06] mtrezza commented on #7062
Thanks for suggesting.

To suggest a feature or enhancement please use the template provided when you create an issue. The template asks for essential information which helps others to better understand the suggestion and join the discussion.

Please also reference any related issues you found when searching through existing issues.

[2020-12-12 16:06] Moumouls commented on #7059
hi @AurelienVasseur ,
If i understand in your integration test you want to disable to triggers.

Here you have an issue, this kind of feature misconfigured can allow a client SDK to skip triggers, and in 99% of uses cases triggers contain security checks.

I think here it's an OOS (Out Of Scope) issue.

Here i can suggest:
- Check may be the way you organize your code and may be optimize your trig

[2020-12-12 16:16] Moumouls commented on #7058
@AurelienVasseur i see that you have forker parse-server.

To install the project `npm i` then you need 2 shells to work on parse server
- First shell: `npm run watch` since parse server is compiled over babel
- Second shell: `npm test spec/TheSpecFileYouWantToWorkOnIt.spec.js`

You can also in a `spec.js` file convert a test from `it` to `fit` to tell to the jasmine test framework to focus on a p

[2020-12-12 16:23] Moumouls commented on #5434
A PR is on the road for this one as discussed here : https://community.parseplatform.org/t/possibility-to-set-class-level-permissions-via-file/1061/20

[2020-12-12 16:32] Moumouls opened #7063 "Defined Schema at server start and simple migrations"
**Is your feature request related to a problem? Please describe.**
Schema less behavior of Parse Server is hard to maintain accros multi envs and creates some complications in using the new GraphQL API correctly.

**Describe the solution you'd like**
Allow the pass a JSON REST version of a Parse Schema to the Parse Server options. Then parse server will push/migrate schema to the DB.

**Describe a

[2020-12-12 16:35] AurelienVasseur commented on #7058
@Moumouls thanks a lot for your help :)
I will try to work on it but I can't guarantee a quick result

[2020-12-12 16:42] Moumouls commented on #7058
No problem @AurelienVasseur, just give it a try and advance at your own speed :)

[2020-12-12 16:54] mtrezza commented on #7059
Generally, according to the overall product strategy we do not a priori dismiss a feature suggestions based on hypothetical developer mistakes. See the discussion about protected fields. The strength of Parse Server is to provide a multi-functional tool for a broad range of use cases, so if we can come up with a sound concept, I see this as a possible addition.

[2020-12-12 17:01] AurelienVasseur opened #7064 "Be able to run the afterFind trigger automatically after saving object"
**Is your feature request related to a problem? Please describe.**

I would like to be able to execute an `afterFind` trigger after saving an object on database.

For example, if we change the object before saving it, we will receive these changes on the app automatically.
But maybe in the app we don't want them.

This situation appears when an object don't have the same interface between the app

[2020-12-12 17:53] mtrezza commented on #7064
Thanks for suggesting.

I don't fully understand your proposal, but this:

sounds much like an XY problem. It seems as if you were looking for a solution to a problem that results out of your current app concept. Maybe take another look at that underlying app concept.

If you think your current concept is valid, can you please elaborate your use case with a simple 1. - 2. - 3. steps list in which

[2020-12-12 18:03] pdiaz opened #7065 "MongoDB performance issues with pointer permissions on large collections."
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-12 18:05] pdiaz commented on #7065
Naive fix for the issue that give us very good performance.

https://github.com/parse-community/parse-server/pull/7061

[2020-12-12 18:27] mtrezza commented on #7065
Thanks for reporting and thanks for adding this well researched issue to the PR.

[2020-12-12 18:29] mtrezza commented on #7036
Maybe related: https://github.com/parse-community/parse-server/issues/7065

[2020-12-12 18:49] AurelienVasseur commented on #7064
@mtrezza  Thanks for your feedback! I will describe a case similar to mine to be more understable 😉

The use case is the following:

1. In my application (so in the user side), I have the class `MyClass`:
[code]

2. In my database I have these tables 2 tables:

[code]

3. So, as we can see, on the application side (user side) `myHiddenClass` doesn't exist. So to deal with that I have to work with

[2020-12-13 08:08] dblythy opened #7067 "Create FileObject database by default, and track file references in objects"
**Is your feature request related to a problem? Please describe.**
For my servers, I use an afterSaveFile trigger to create a class that I can use to track the files uploaded, so that I can moderate them via Parse Dashboard, as there are multiple classes / locations that reference files. In an afterSave trigger on these classes, if a file is removed, I decrement references on the FileObject class,

[2020-12-13 08:28] dblythy commented on #7001
@mtrezza my mistake, it would be easy to interpret which class the file came from during the expandFilesInObject function. Building it this way would need:

0. Skip all if directAccess and S3, or masterKey is provided.
1. on `expandFilesInObject`, if the object has a file _and_ temporaryFiles contains the object class, create a _FileToken with the file reference, random Token, and Token Expiry (ex

[2020-12-13 08:54] dblythy opened #7068 "Allow option to set Default ACL"
**Is your feature request related to a problem? Please describe.**
Considering the evolution of data security and privacy, new developers might assume that Parse Object ACL defaults to private, or requested user R/W only.

I think it could be beneficial to have some server config such as:

[code]
and / or
[code]

I think that when a developer new to parse looks at a Parse Object and sees no ACL se

[2020-12-13 10:30] mtrezza commented on #7068
Thanks for suggesting.

I think this would be a useful addition to Parse Server. It would also fall in line with our strategy to improve Parse Server's security guidance.

Some thoughts:
- The setting could be more granular per class, e.g. with a regex definition for which classes which settings apply by default. If this is not part of this PR, this should be kept in mind as a possible future enha

[2020-12-13 10:54] dblythy commented on #7068
I might need some assistant on the regex definition stuff.  My regex skills are to be desired.

This could also apply to default CLPs for Parse Server, perhaps we assume `requiresAuthentication:true` if no CLP is set? Or maybe we could have a defaultCLP option.

Would you be open to adding that if an object has no ACL set, interpret that as public R/W false?

I think the only challenge with this i

[2020-12-13 13:35] mtrezza commented on #7068
You can take a look at the Idempotency regex logic that parses for class names. It's basically the same logic needed here.

Yes, we can think about that, maybe leave that for a separate PR to keep this one simple. But it's something to keep in mind when designing this PR.

We can discuss that but at first glance it seems to be a fundamental change that could require complex migration efforts for d

[2020-12-13 14:32] mtrezza commented on #7065
Looking at the optimization algorithm, I would expect this to improve the performance of queries regardless of whether they use pointer permissions. Did you do a performance test without the pointer permissions in the query for comparison?

[2020-12-13 20:30] pdiaz commented on #7065
I haven't done that much many performance tests beyond this specific case but I believe it could be a good idea.

The current code in master does complicate the queries with pointer permissions and confuses MongoDB to choose an index that is not optimal.

The changes on the merge request are made to simplify mostly this specific case. There could be a more general logic optimizer but that would re

[2020-12-14 06:53] dblythy commented on #7068
That is a good point. So, if I understand correctly, the PR shouldn't modify any existing find logic, just purely save logic? And if no ACL is set on the object, set the acl in accordance with config.defaultACL (defaults to private)?

[2020-12-14 07:50] dblythy opened #7069 "Reorganization of ParseServerOptions"
**Is your feature request related to a problem? Please describe.**
As Parse Server continues to evolve, so do the [Parse Server options](https://parseplatform.org/parse-server/api/master/ParseServerOptions.html).

**Describe the solution you'd like**
 There are certain options that in my view should be grouped together for neater organization, such as:

User Options:
-accountLockout
-enableAnonymo

[2020-12-14 15:31] pdiaz commented on #7065
Would you need something more to approve this merge request?

[2020-12-14 19:24] felix-ht opened #7072 "parse-server from npm does not offer ParseServerOptions"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-14 19:45] #7072 closed

[2020-12-15 04:50] dplewis commented on #7021
_ensureSchemaCollectionExists Is called for every request to Postgres for some reason. I’m working on schema improvements right now. I can look into this

[2020-12-15 15:21] mtrezza commented on #7067
Thanks for suggesting.

I am closing this as it looks like a duplicate of https://github.com/parse-community/parse-server/issues/6780. The solution you are proposing seems to be a variant of the solutions discussed there. The original issue seem to be the same, as to how to keep track of and delete unreferenced files.

There is an ongoing discussion about how to implement auto-deletion of unrefere

[2020-12-15 15:21] #7067 closed

[2020-12-15 15:41] mtrezza commented on #7069
Thanks for suggesting.

This would certainly be an improvement in terms of configuration structure and oversight.

However, as [discussed](https://github.com/parse-community/parse-server/issues/7012#issuecomment-729251994) in the past, this would be a breaking change that will affect virtually every Parse Server deployment. The resulting changes required can vary greatly depending on the specific

[2020-12-15 16:05] dblythy commented on #6780
I am happy to work on this if you're not @vegidio, as I've worked on similar features.

How do we see the best approach to tackling this? Create a new class _FileObject and track references?

[2020-12-15 16:21] amirreza8585 opened #7076 "Access-Control-Allow-Origin error"
Hey there, I I'm trying to access parse-dashboard. But I got this error.

I added PARSE_SERVER_ALLOW_ORIGIN ="*" in my enviroment config. But I got the same error.

- Parse version : 4.5.0
- Parse-dashboard version : 2.10.0
- Application ID = Claassor_App

[2020-12-15 16:22] #7076 closed

[2020-12-15 16:43] Moumouls commented on #7042
wait for: https://github.com/MasterKale/SimpleWebAuthn/pull/85

[2020-12-15 17:24] dblythy commented on #7069
Fair comments. It’s my view that the problem will continue to get worse, however I agree it’s hard to justify such a breaking change for such a nit.

Personally I think cacheOptions, GraphQLoptions and keys are probably the only ones that need better organisation.

[2020-12-15 18:08] amirreza8585 opened #7077 "CORS error trying to access Parse Dashboard"
### Issue Description

Hey there, Im trying to access parse-dashboard, But I got this error:

`Access to XMLHttpRequest at 'https://parseserver.example.com/parse/serverInfo' from origin 'https://parsedashboard.example.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.
`

[2020-12-15 19:34] mtrezza commented on #7069
I think it justifiable, just needs to be looked at holistically.

[2020-12-15 21:25] mtrezza commented on #7077
Thanks for reporting.

Possibly related: https://github.com/parse-community/parse-server/issues/6674, https://github.com/parse-community/parse-dashboard/issues/1296.

The error message is explicit about the issue that the `Access-Control-Allow-Origin` header is missing in the preflight response sent from Parse Server. Can you log and post the preflight response from Parse Server to verify that?

Y

[2020-12-16 08:14] timanrebel commented on #7063
We are currently using node migrate for this, to upgrade Schemas and keep them in sync across environments. We store the state of the migration in a master-key only Parse.Config entry.

app.ts
[code]

Parse Statestore
[code]

example of migration file
[code]

[2020-12-16 08:55] Moumouls commented on #7069
i think the Parse Server Options need this kind of re work, and group of options proposed by @dblythy at first glance seems not bad at all.

But the breaking change is massive for parse developers and also for all of our internal code (tests, etc...)
I think this kind of rework need a deprecated strategy.

During one major version we need to support current options and the new one.

Also since cha

[2020-12-16 09:16] mtrezza commented on #7069
I'm supportive of slowly phasing out the old options while still supporting them alongside with the new options, if that does not complicate the code too much or introduce other costs.

This change has no functional implication, it is merely aesthetics, so the costs and risks for however this is done should be kept as low as possible.

[2020-12-16 09:23] amirreza8585 commented on #7077
Hey this the response I get:

Status404
Not Found
VersionHTTP/2
Transferred265 B (0 B size)
Referrer Policyno-referrer-when-downgrade

content-length
 153
content-security-policy
 default-src 'none'
content-type
 text/html; charset=utf-8
date
 Wed, 16 Dec 2020 09:07:47 GMT
server
 nginx/1.15.5
x-content-type-options
 nosniff
X-Firefox-Spdy
 h2
x-powered-by
 Express

Accept
 */*
Accept-Encoding
 gz

[2020-12-16 11:02] mtrezza commented on #7065
Closed with #7061.

[2020-12-16 11:02] #7065 closed

[2020-12-16 12:45] dblythy commented on #7069
So with the config version idea, Config.validate would translate according to the configVersion?

e.g,

configVersion 20210101 converts `config.keys.masterKey` to `config.masterKey`, so that the rest of the code base can still access `config.masterKey`

[2020-12-16 13:04] mtrezza commented on #7069
Yes, along these lines, but that's just an idea, maybe that complexity is not needed after all.

[2020-12-16 13:11] dblythy commented on #7069
I would imagine in terms of lines changed it would be the simplist change (rather than changing every single mention of `config.masterKey`, as all the current lines would stay the same. There would just need to be a function for transposing the keys depending on the version - which I don't think the logic is too complicated - and test cases depending on the configVersion. It would also be easy to

[2020-12-16 13:17] mtrezza commented on #7069
Well, that's something we'd have to figure out. It could create more confusion if there is a discrepancy between the configuration structure on how to access the config internally. I think internally, the config should be adapted to the new structure, because it is more developer friendly, and the old config should be transposed to the internal new config.

[2020-12-17 07:31] Moumouls commented on #7063
thanks @timanrebel  for the suggestion, i think it could be nice to support a method that allow developers to execute some data manipulation (with node migrate or other tools) before deleting fields after schemas update.

I take in count that we should have system similar to `serverStartComplete()` but here it could be

We can have this type of trigger:
- `beforeCreateMigrationOperations()`
- `aft

[2020-12-17 10:49] Moumouls commented on #7050
Okay working on removing mutatedAuthData a `should allow PUT request with stale auth Data` test start failing seems that was introduced by flovimart in 2017, i don't know why parse server should accept stale authData...

![Capture d’écran 2020-12-17 à 11 46 54](https://user-images.githubusercontent.com/27959372/102478386-d2efd000-405d-11eb-8186-82a430755c62.png)

[2020-12-17 12:52] amirreza8585 commented on #7077
@mtrezza Can you check this please?

[2020-12-17 13:09] mtrezza commented on #7077
Did you try out the previous [suggestions](https://github.com/parse-community/parse-server/issues/7077#issuecomment-745577223)?

[2020-12-17 14:16] amirreza8585 commented on #7077
Yes I did. But nothing changed @mtrezza

[2020-12-17 14:24] amirreza8585 commented on #7077
Yes I did. But nothing changed @mtrezza

[2020-12-17 18:35] Moumouls opened #7080 "Performance between wiredTiger mongo and mmapv1"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-17 18:38] dplewis commented on #7080
I have noticed this recently also. I haven’t had time to look into it.

[2020-12-17 18:47] Moumouls commented on #7080
Yes no problem, i will try to take a look next week ?
@uzaysan, since you have dived deeply into performance testing are you open to help us to resolve this one ? 😃

[2020-12-17 19:13] mtrezza commented on #7036
Maybe related: https://github.com/parse-community/parse-server/issues/7080

[2020-12-17 20:10] uzaysan commented on #7080
@Moumouls I'm not a professional. But I will try my best. What kind of tests are we talking about?

[2020-12-17 20:23] Moumouls commented on #7080
@uzaysan  i found a test file where the performance loss is huge and can be a good entry point here to start inspecting.

`MONGODB_STORAGE_ENGINE=mmapv1 npm test spec/MongoStorageAdapter.spec.js` -> 1.3sec

`MONGODB_STORAGE_ENGINE=wiredTiger npm test spec/MongoStorageAdapter.spec.js` -> 28.749 seconds

[2020-12-17 20:28] dplewis commented on #7080
@Moumouls I reduced the testing time in my branch

https://github.com/parse-community/parse-server/tree/improve-schema-cache

The reason why MongoStorageAdapter.spec.js is slow is because its over deleting the database between tests.

[2020-12-17 20:30] Moumouls commented on #7080
@dplewis  what time difference do you have between mma and wired ?

[2020-12-17 20:33] Moumouls commented on #7080
You are right @dplewis, delete calls on wiredtiger seems to be super slow

I modified before with

[code]

MMA log
[code]

Wired Log
[code]

[2020-12-17 20:36] Moumouls commented on #7080
A simple create find seems super slow too

[code]

MMA : 158.848ms
Wired: 335.838ms

[2020-12-17 23:58] mtrezza commented on #7077
Your [comment](https://github.com/parse-community/parse-server/issues/7077#issuecomment-745977341) looks like the preflight request sent from the dashboard to the server. It would be also interesting to see the response sent from the server to the dashboard.

Can you post a pair of preflight request and response, so we can look into what the server is sending?

[2020-12-18 01:04] mtrezza commented on #7064
Wow, I never came across the use case of unilateral class synthesis. Thumbs up for creativity 🤓

It seems you decided to solve an original problem `P1` with a solution `S1`, and while trying to implement solution `S1`, you came across a inherent problem `P2` for which you are now trying to find a solution `S2`.

Maybe it helps to discuss `P1` to see whether there is a solution `Sx` in which you do

[2020-12-18 08:35] breidest-tbs commented on #490
Oh well it is the end of 2020 and I had the same issue.
Can someone please update the Android guidelines
http://docs.parseplatform.org/android/guide/#local-datastore

[2020-12-18 10:29] NuclleaR commented on #5521
Hello!
I donno if it's related issue.
My case:
[code]
First log parent is ParseObject
Second log parent is Pointer

I used Flutter sdk and in App I receive only Pointer with just id but not whole parent object. What I did wrong?
I read all thread and can't figure out how to fix it

[2020-12-18 12:18] mtrezza commented on #490
Thanks for the reminder @breidest-tbs.

Would you want to open an issue in the [docs repo](https://github.com/parse-community/docs/issues)?
If you want to go even further, we would gladly review your PR for the docs change.

[2020-12-18 13:50] NuclleaR opened #7082 "afterLiveQueryEvent hook returns empty date object"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-18 13:51] NuclleaR commented on #7082
Flutter SDK throws `Unhandled Exception: type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'DateTime'`

[2020-12-18 15:50] REPTILEHAUS opened #7084 "Cant set response header from a cloud function"
I need to process some information via a cloud function and return a generated document in the response including headers like the following:

[code]

I read here that this is not possible though https://github.com/parse-community/parse-server/issues/5348 is this still the case ? and is there no recommended way to return a custom response like this which also allows me access to the parse user obj

[2020-12-18 17:03] RaschidJFR commented on #5521
@NuclleaR It may or it may not be related. I think there's some info missing to have a better diagnose, like the implementation of the involved classes and how you are [registering subclasses](https://parseplatform.org/Parse-SDK-JS/api/2.19.0/Parse.Object.html#.registerSubclass). Also console output would help.

You should write a test case or a minimal code block in a blank project to test if the

[2020-12-18 21:58] davimacedo commented on #7084
The easiest way is creating a custom Express.js endpoint for that. Closing this issue as it does not follow the [new issue template](https://github.com/parse-community/parse-server/issues/new/choose).

[2020-12-18 21:58] #7084 closed

[2020-12-19 11:50] mtrezza commented on #7082
Thanks for reporting.

Do you mean that the issue has only been observed with the Flutter SDK? Then this may be an SDK issue rather than a Parse Server issue. It would help if you could try to write a failing test case here, then we would know whether this issue also exists for the Parse JS SDK and/or for Parse Server in general.

[2020-12-19 13:49] gnunicorn opened #7085 "File upload fails with "Cannot read property 'enableForAnonymousUser' of undefined""
### New Issue Checklist
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-19 14:11] mtrezza commented on #7085
Thanks for reporting. Can you please share your Parse Server configuration?

[2020-12-19 18:27] REPTILEHAUS commented on #7084
@davimacedo but how to retrieve the current user via express endpoint as opposed to cloud function, I think the question is still valid regardless of new issue template if the framework is not capable of setting headers in cloud functions thats a fundamental problem

[2020-12-19 18:29] davimacedo commented on #7084
You can access the session token in the header and use the SDK to retrieve the user. I believe it is a valid feature request that can be evaluated. Could you please open a new issue using the [template](https://github.com/parse-community/parse-server/issues/new/choose)?

[2020-12-19 18:58] NuclleaR commented on #7082
@mtrezza Hello! Logs that I provided I grabbed from Node Js server logs. So, I believe this is could be server issue, not Flutter SDK.

[2020-12-19 19:00] mtrezza commented on #7082
Thanks for clarifying, and what exactly did you mean by:

[2020-12-20 05:39] dblythy commented on #7058
@AurelienVasseur I have merged a PR for context for afterFind, however I believe context still needs to be added for:

-LiveQuery triggers (context on `query.subscribe()` could possibly get passed through all LQ events)
-Login triggers (context on `Parse.User.logIn()`)
-File Triggers (context on `file.save()`)

[2020-12-20 07:48] dblythy commented on #6780
I am going to work on a PR that:

-Tracking of file references for cleanup
-CLPs via schema
-file get ACLs
-authorisation of GET requests using a temporary token store
-Restrictions on save and get via CLP

Although most of these features cover different issues, most of them depend on a _File class.

We could easily add an option to delete the file on the destroy hook of a Parse Object, if the fil

[2020-12-20 08:10] dblythy commented on #7082
I will write a test case in an hour or so to see what's going on. The `afterLiveQueryEvent` trigger should be able to handle dates so it seems strange to me.

I would recommend using Promise.all in your code tho so `getCategory` and `getStore` run in parallel (i.e, so they run at the same time, rather than one by one)

[code]

[2020-12-20 10:02] dblythy commented on #7082
[code]

This test passes for me

[2020-12-20 10:03] AurelienVasseur commented on #7058
@dblythy Thanks a lot 😃 I was a little bit lost

I didn't already find the time to work on it but I will try as fast as possible
I'm also not sure if we can use it with `fetch`, I will check that when I will work on it

[2020-12-20 10:03] Moumouls commented on #6780
Good question @dblythy , here 2 options is see:

- Avoid migration and support both systems (and let developer migrate when he want) during one major version
- Force migration on the new Parse Server version

For continuous deployment and avoid a huge breaking change, we should may be first try to support both systems (easy to detect via Parse.File type or a Parse.File pointer on a field). I'm in

[2020-12-20 10:13] Moumouls commented on #6780
Here @dblythy my point of view about the next Parse.File system:
- Introduce _File default standard class (like, _User, _Session,etc...)
- _File class has : objectId, ACL, createdAt, updatedAt, url fields (like _User, a developer has the choice to add fields to the class)
- _File class use the standard security system ACL/CLP
- _File class have a special deletePolicy property to let developer cont

[2020-12-20 10:17] dblythy commented on #6780
Could we also depreciate the file triggers in place of `Parse.Cloud.beforeSave(Parse.File)`, or is there no benefit in this? Temporary token store could allow `Parse.Cloud.beforeFind` of files too.

It wouldn't be that it would be a breaking change for existing deployments, it's just that the "references" to files wouldn't be accurate on existing deployments, as the reference count would be stored

[2020-12-20 10:26] dblythy commented on #6780
So you'd be able to access `file.set('key','val')`?

I think for simplicity the _File class should be a special internal class that only has objectId, ACL, createdAt, updatedAt, createdBy, and maybe fileSize (isn't url is dependant on publicServerURL?), and the only change to the SDKs should be the ability to set an ACL on a Parse.File.

[2020-12-20 10:44] ashish-naik commented on #6511
Hi, were you able to reproduce?

[2020-12-21 17:20] dblythy opened #7089 "SendMail via Parse.Cloud.sendMail()"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2020-12-22 06:00] grassland-curing-cfa opened #7090 "Unable to deploy Parse Server to Heroku"
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ ] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2020-12-22 06:14] grassland-curing-cfa commented on #7090
The same error was still thrown even if I changed NODE_MODULES_CACHE=false.

[2020-12-22 16:22] REPTILEHAUS commented on #6849
Guys this is still an issue, Im trying to setup another Parse project using latest version and getting this ID token invalid problem, when will this be fixed, Ive had to revert to the old parse for 2 projects now

[2020-12-22 17:15] dplewis commented on #7090
[code]

Looks like Heroku tried to use Node 15. Can you specify a specific Node version in your package.json -> engine -> node?

[code]

[2020-12-22 17:26] mtrezza commented on #6849
I believe there is already #6992 that fixes this? @SebC99 do you recall why the PR is in draft state?

[2020-12-22 18:32] RodrigoSMarques commented on #6849
I am using authentication with a Flutter application with parse server 4.4.0.

After several searches, I solved the problem by adding "default_web_client_id" in strings.xml for Android.

This identifier I created at https://console.cloud.google.com/ creating an OAuth 2.0 client IDs for Android

[2020-12-22 18:35] SebC99 commented on #6849
@mtrezza not at all, maybe just because of the coverage decrease?

[2020-12-22 21:29] grassland-curing-cfa commented on #7090
Thanks @dplewis.
This worked!
Can you advise where information about compatibility between Parse-Server and Node & npm across different versions can be found?

[2020-12-22 21:39] dplewis commented on #7090
The test suite runs against Node 10 and Node 12. Node 14 is the active LTS (Long Term Support) version and this repo works for it.

The current Node version is 15 was released 2 months ago. Usually the new Node versions are released for 6 Months to allow developers enough time to add support before it is moved into LTS.

[2020-12-22 21:48] grassland-curing-cfa commented on #7090
Many thanks @dplewis

[2020-12-22 21:50] #7090 closed

[2020-12-22 22:55] mtrezza commented on #6967
The link I posted above may be easily overlooked; please take a look at [this npm issue](https://github.com/npm/cli/issues/2000), downgrading node should solve it.

Also, @LilMoke confirmed that downgrading node worked in their case:

[2020-12-22 23:00] grassland-curing-cfa commented on #6967
Good to know. Will test it.
Thanks!

[2020-12-23 01:10] mtrezza commented on #6967
You may also want to try upgrading `npm` to the latest version, I think the bug described in the issue should have been fixed already.

[2020-12-23 16:13] AurelienVasseur commented on #7064
@mtrezza Thanks for your feeback!

I understand what do you mean but I'm not sure that this is going to solve the problem. It can maybe be a solution for this case but I think we can have the same problems with other cases.

My current problem is the following:  I totally want to dissociate my server / backend architecture from my application / frontend architecture.
So, in my application I want t

[2020-12-23 17:18] mtrezza commented on #6749
@SebC99 I stumbled upon [this comment](https://github.com/parse-community/parse-server/issues/6228#issuecomment-619286804) and it reminded me of this unsolved mystery - maybe related?

[2020-12-23 18:26] bahaa-kallas opened #7093 "Role-based access to cloud functions"
### New Feature / Enhancement Checklist

- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2020-12-23 18:42] Moumouls opened #7094 "Flaky tests (track flaky tests for further investigation)"
Postgres:
[code]
Link: https://github.com/parse-community/parse-server/runs/1601708329?check_suite_focus=true

[code]
https://github.com/parse-community/parse-server/pull/7091/checks?check_run_id=1604729773

Redis:
[code]
https://github.com/parse-community/parse-server/pull/7091/checks?check_run_id=1604696128

[2020-12-24 10:57] mman commented on #7089
You can already do this easily like this:

[code]

[2020-12-24 14:00] mtrezza commented on #7089
Thanks for suggesting.

It may be just a simple PR, but it could be a nice convenience method to simply call `Parse.Cloud.sendMail({...})` instead of having to reference the mail adapter manually, saving one or two lines of code.

[2020-12-24 14:05] mtrezza commented on #7094
Thanks for reporting.

Would you please rephrase this using the issue template?

[2020-12-24 15:59] SebC99 commented on #6749
@mtrezza the last comment reminds me of the issue we had with the password being sent again, which leads to the parse-server thinking it's a change of password and thus deleting all sessions

[2020-12-24 16:03] mtrezza commented on #6749
@SebC99 That's what I was thinking too, sounds remarkably related. Is this still an issue you're investigating?

[2020-12-24 16:07] SebC99 commented on #6749
the password being sent was an issue on our side, so it has been fixed, but we still have the deleted session issues (just a bit less), and we have not a single clue about it.

[2020-12-24 16:14] dblythy commented on #7093
Hi @bahaa-kallas i’m really glad you like the validation feature and I like your suggestion! I am happy to work on this feature if need be. 😊

[2020-12-24 16:15] dblythy commented on #7089
PR already on the way if you’re keen to review my code again @mtrezza ;)

[2020-12-24 16:21] mtrezza commented on #6749
@SebC99 could it have something to do with expiration of 3rd party tokens? Have you observed this only with FB access token for example? Do you have any customization related to the auth adapter or access token / Parse session handling?

[2020-12-24 16:44] SebC99 commented on #6749
No customization on this, but I think there's room for improvement yes: typically, as parse-server only test the token on login, when the FB token expires, you can have an active Parse user (with a valid session) but with an invalid Facebook token. So if your app uses the FB token to retrieve data (like friends, profile info or anything), Facebook will show an alert (if you use the FB SDK) whereas

[2020-12-24 19:27] mtrezza commented on #6749
I am not sure whether/how the parse session validity should be related to the 3rd party token validity. It would be interesting to see what's best practice.

Then I'd still leave the issue open for now.

[2020-12-25 16:31] NicksonYap commented on #4020
A beforeLogin trigger has been added  starting from v3.3.0:
https://docs.parseplatform.org/cloudcode/guide/#beforelogin

[2020-12-25 16:33] NicksonYap commented on #3565
A `beforeLogin()` trigger has been added  starting from v3.3.0:
https://docs.parseplatform.org/cloudcode/guide/#beforelogin

[2020-12-27 19:07] L3K0V commented on #7063
@Moumouls I played with your Gist snippet and the schema generations works pretty well, congrats for the nice job!
One note for the documentation because I faced problem in production with Redis cache - It looks like you should enable single schema cache else the generation failed for random reasons each time

[code]

Unfortunately, it seems that enabling single schema cache does not fixes the iss

[2020-12-27 19:08] Moumouls commented on #7063
@L3K0V what is your database?
Did you run multiple Parse Server (in parallel) with parallel deployment strategy ?

[2020-12-27 19:13] L3K0V commented on #7063
I was thinking if this might cause a problem. I'm using throng with 1 worker for now and believe this is not the issue.

Indeed I have some default values or required, but what do you propose about them, I mean - Can I have them? I'm not changing them within different deployments. Restarting the dyno sometimes fixes the generation.

[2020-12-27 19:20] Moumouls commented on #7063
On the PR i need to add a retry system for better handling in case of parallel deployment (all Parse server starts at the same time).

You can use it , but changing/removing defaultValue/required will trigger a field reset (my script delete the field then create the field with new options. Sadly the field concerned by the change will be deleted on all objects.)

[2020-12-27 19:35] L3K0V commented on #7063
I was able to deploy without issues. Looking at the @timanrebel snippet above I put a error check not to kill the process. Not sure if this cause some side effects on migrations, what do you thunk @Moumouls?

[code]

[2020-12-27 19:45] Moumouls commented on #7063
Okay so we need to check how Parse server currently use cache on Schema queries (`await Parse.Schema.all()`). No problem if if you just log the error, in many use cases a  restart is better because process managers will try to recreate a fresh instance after exit; also developers that use K8, K8 will just stop the rolling update and end users will not have a service interruption .

In your use cas

[2020-12-27 20:06] Moumouls commented on #7063
It seems also that  schema cache TTL, is not applied correctly in Schema Cache instance.

[code]

We need to fix this in my PR also

[2020-12-27 23:16] L3K0V commented on #7063
Hey @Moumouls. Want to share some new findings:

1. With or without Redis, whatever enable or disabled schema cache the schema generation fail randomly. This is on Heroku with MongoDB Atlas replica set and using `throng` for node clustering.
2. I saw that generation start twice sometimes, smells like race conditioning. It happens only on Heroku. Locally everything is fine. Cannot catch it when and

[2020-12-27 23:41] Moumouls commented on #7063
Thanks @L3K0V for your investigation. So now I'm sure that the "random" fails come from concurrency of your node cluster, because multiple parse server will try to update schemas at the same time. I think throng do not support rolling update policy. But here no problem I know what we have to do, to reduce errors from concurrency.

The script just need a retry system ( attempt to migrate schema, if

[2020-12-29 21:42] joramirezStackit commented on #4512
I got the same error, but in my case, I was using the wrong public server URL I added something like this:
{
   "customPages": {
      "invalidLink":"https://<subdomain>.b4a.app/invalid_link.html",
      "verifyEmailSuccess":"https://<subdomain>.b4a.app/verify_email_success.html",
      "choosePassword":"https://<subdomain>.b4a.app/choose_password.html",
      "passwordResetSuccess":"https://<subd

[2020-12-29 23:10] mtrezza opened #7100 "Improve contribution guide"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2020-12-30 09:37] codetycon opened #7103 "How to use a Atlas Search highlight in Parse Server?"
I am using parse server with MongoDB Atlas. I have an v3 index (diacritics-insensitive) implemented and it is working fine.

In Next I want to highlight text in search result. Here is a mondodb article that I want to achieve: https://docs.atlas.mongodb.com/reference/atlas-search/highlighting

But in parse server I didn't found an way to achieve this.

I can highlight text using JS preg match but p

[2020-12-30 18:54] mtrezza commented on #7103
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2020-12-30 18:54] #7103 closed

[2020-12-30 18:56] mtrezza commented on #7089
Closed by #7096.

[2020-12-30 18:56] #7089 closed

[2020-12-30 21:30] Moumouls commented on #7100
@julianvogels could help us to improve this one 🙂 (ref: https://community.parseplatform.org/t/what-you-love-about-parse-and-also-of-the-difficulties-you-have-encountered/1140/5 )

[2020-12-30 21:56] Moumouls commented on #7100
@mtrezza on my first contribution, I remember that running `npm run watch` and that playing with `npm test` was straight forward.

Today, systems like `Jest` can onboard the compilation to only need `npm test` and get rid off the `npm run watch`.

I know https://www.npmjs.com/package/concurrently that allow to execute 2 commands at the same time.

I found that Jasmine do not have watch mode: https

[2021-01-04 08:25] ZangTengfei opened #7107 "How to set SSL when deploying parse-server with Docker?"
### Issue Description
I found that when deploying parse-dashboard through docker, SSL can be set through the two parameters of PARSE_DASHBOARD_SSL_CERT and PARSE_DASHBOARD_SSL_KEY. I want to know how to set ssl when deploying parse-server

[2021-01-04 08:27] ZangTengfei commented on #7107
Container Name: parseplatform/parse-server and parseplatform/parse-dashboard

[2021-01-04 09:37] ZangTengfei commented on #7107
Ok, maybe I need to set SSL accrodding

[2021-01-04 09:38] ZangTengfei commented on #7107
I got it,docker exec and set ssl alone

[2021-01-05 08:09] davimacedo commented on #7107
It looks more a code related question. Please try on stack overflow or fill out the [issue template](https://github.com/parse-community/parse-server/issues/new/choose).

[2021-01-05 08:09] #7107 closed

[2021-01-05 11:04] Moumouls commented on #7063
@L3K0V if you want to give a try to then new defined schema feature, you can install temporary on your repo my forked package branch: `"parse-server": "moumouls/parse-server#defined-schema-pkg"`

Then on parse server options you can use the `schemas` key to provide your schemas.
Everything is tested, i will be happy to get your feedback and also if the retry system works correctly in your node clu

[2021-01-08 12:06] jjunineuro opened #7115 "Change method login to POST"
Hello everyone,

I really liked the application, however, I saw that the method for logging in with email and password uses the GET method.

I know that being in secure SSL connection this data is encrypted, however, according to the current Data Protection Laws, the login data is in the request log on the server, this is not at all interesting.

Imagine Parse's paid consumer services, the network

[2021-01-08 13:31] UnlikelySassou opened #7116 "ERR_HTTP_HEADERS_SENT crashes after upgrading to 3.X"
### Issue Description
I was running Parse Server 2.8.4 and I want to upgrade to the latest versions. I wanted to start by upgrading to 3.10.0 first, so I read the migration guide and made the necessary changes. However, I get an error that appears randomly and that I cannot reproduce. The app runs for a while, then the error will appear and generate a Heroku error H28 "Client Connection Idle".

I

[2021-01-08 13:31] mtrezza commented on #7115
Thanks for opening this issue.

The Parse Server `login` endpoint accepts both `GET` and `POST` methods.

I assume your observation comes from the Parse Javascript SDK. The `ParseUser.login()` method uses the `GET` method to log in by default, but also accepts an option `usePost: true` which makes it use the `POST` method to log in:

https://github.com/parse-community/Parse-SDK-JS/blob/d40f1505a29

[2021-01-08 13:58] mtrezza commented on #7077
I'm closing this as it seems to be resolved. Feel free to comment if you have any questions and we can re-open this issue.

[2021-01-08 13:58] #7077 closed

[2021-01-08 14:24] mtrezza commented on #7116
It seems that the `H28` error is logged after a timeout of 55s. I suggest you take a look at [this issue](https://github.com/parse-community/parse-server/issues/6778) and overall look into your timeout handling, for example your `haltOnTimedout` method.

I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-lev

[2021-01-08 14:24] #7116 closed

[2021-01-08 17:13] UnlikelySassou commented on #7116
I upgraded to 3.10.0 this morning and I have a little more logs from Logentries now. I assumed the H28 error and the crash were related because of the logs I had so far, but it doesn't seem to be the case.

The crash happened 3 more times in the last hour and no H28 error or timeout specific error has been raised while it was happening. The logs show that all requests were processing just fine bef

[2021-01-08 17:30] mtrezza commented on #7116
You could start with a fresh installation of Parse Server and see if these issues still happen, then gradually add your custom configuration and code to see where the issue lies.

The resources I mentioned above should provide support if needed. If it turns out to be an issue with Parse Server please feel free to post an update here and we can investigate.

[2021-01-09 01:24] NuclleaR commented on #7082
@dblythy Hello!
Seems like I found case when issue reproduces in 100% cases.
In your test everything works coz you change date and save, but if you update object with any another field and don't touch date, date will come empty object. at least it reproduces in my project in 100% cases

[2021-01-09 01:52] dblythy commented on #7082
So is this your use case?

[code]

If you could write a failing test it would really help us get to the bottom of the bug.

[2021-01-10 15:52] dblythy opened #7117 "Set objectId for new Parse.Objects sooner so it can be accessed in beforeSave functions"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-01-10 17:47] mtrezza commented on #7117
Thanks for proposing this.

There have been many discussion around that topic in the past. The key obstacle is that the objectId cannot be guaranteed until an object is saved successfully in the DB. Any other objectId prior to that can only be considered provisional.

How would a case be handled if an objectId is not saved as provisioned?

[2021-01-11 06:54] jack092123 opened #7119 ""schemaCacheTTL" ParseServerOption is not working"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Issue Description
It seems

[2021-01-11 07:28] davimacedo commented on #7119
@dplewis I actually don't see the schemaCacheTTL being used here: https://github.com/parse-community/parse-server/blob/e6ac3b6932186a6a85601c65143305f86f63e948/src/Controllers/SchemaCache.js

Thoughts?

[2021-01-11 07:31] dplewis commented on #7119
Check the constructor

[2021-01-11 07:36] dblythy commented on #7117
Hmmmm. I am not sure how you would deal with this. How does the current server handle object ID clashes? To me it seems as though runDatabaseOperation (what saves the object) is called after setRequiredFieldsIfNeeded (what sets the object ID), so if you were to create new objects via another objects' beforeSave, there's still the risk that objectID's will clash and throw, even after you've created

[2021-01-11 11:03] j-heinze commented on #7039
I am getting the same error after adding openssh.
Before it just states `error: cannot run ssh: No such file or directory`

[code]
I tried adding the RSA key to known_hosts by modifying the Dockerfile even further:
[code]

but that just resulted in the following:
[code]

So this is now quite weird.

### Environment

#### Server
Parse Server version: 4.4.0 (latest master)
Operating system: alpine l

[2021-01-11 13:45] mtrezza opened #7120 "3rd party modules"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-01-11 15:03] j-heinze commented on #7039
This is apparently being caused by npm changing the package-lock.json whenever a new module is installed (updating "lockfileVersion" to 2 and updating a few dependencies resulting in an ssh use.
[code]

Any idea for a workaround during npm install, to not modify the existing packages in package-lock.json?

[2021-01-11 20:26] #7085 closed

[2021-01-13 05:53] uzaysan opened #7123 "Parse Files saved hardcoded in json in array."
### New Issue Checklist

- [ ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ ] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [ ] I can reproduce the issue

[2021-01-13 10:07] mtrezza commented on #7123
If I understand correctly from your test case, you are saving a Parse File with a full URL to the database. A Parse File normally does not contain the full URL but only the filename. The file adapter then adds the base URL part when retrieving the file. Hence, the URL you are currently saving to the DB does not change bu changing the `baseUrl` parameter.

[2021-01-13 10:14] uzaysan commented on #7123
This is correct. Files are saved with url. And that url doesn't change after saving. File adapter is only used when we save object. And object keeps the first url they have got .

This is how it should be. But in my database i can see the url

For example this is how it should be in database

`media: filename`

But i see this:
[code]

[2021-01-13 10:20] uzaysan commented on #7123
That's not true. See my example code in first message. İm creating a new file like this

`var mainmedia = new Parse.File(user.id, { base64: mediaData },mimeInfo.mime);`

But this shouldn't be the issue here

[2021-01-13 17:43] mtrezza commented on #5378
Related: https://github.com/netreconlab/parse-hipaa

[2021-01-14 05:34] mtrezza opened #7125 "Add API mail adapter to docs"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Feature /

[2021-01-14 20:04] #7125 closed

[2021-01-14 20:05] TomWFox commented on #7125
You could add this to the [community section on the website](https://parseplatform.org/#community).

[2021-01-15 04:36] mtrezza commented on #7125
It would be the only email adapter on there, is that because we just didn't add any other email adapters yet?

[2021-01-15 12:03] TomWFox commented on #7125
I think the section has just been neglected, there is a My SQL adapter

on there. You could wait until we have a new page for it and then we
could add all of the adapters.

On January 15, 2021, GitHub <notifications@github.com> wrote:

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/parse-community/parse-
serve

[2021-01-15 14:24] mtrezza commented on #7125
I'll wait for the new page then

[2021-01-15 16:32] NuclleaR commented on #7082
I found real issue.
I debug a lilbit this method and figure out

[code]

I wrote test, and test fails

[code]

[2021-01-15 16:33] NuclleaR commented on #7082
@dblythy could you take a look, please, and confirm?

[2021-01-15 20:46] Taylorsuk commented on #7050
This work looks great! I am looking to implement this soon, has there been any progress on it since the 8 Dec 20?

[2021-01-16 15:57] mtrezza commented on #2886
Email localization can now easily be accomplished with the [Parse Server API Mail Adapter](https://www.npmjs.com/package/parse-server-api-mail-adapter).

The adapter is still new, if you have any feedback for improvement or encounter any bugs, please file an issue.

[2021-01-16 15:57] #2886 closed

[2021-01-16 16:18] mtrezza opened #7127 "Add page localization"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-01-17 21:57] jonas-db commented on #7063
I was actually looking for such a functionality where you could specify the schemas on startup. This seems impossible as far as I know, so I'll be happy to try it out soon as well.

Btw it would be handy if you could pass an array of Parse.Schema (https://parseplatform.org/Parse-SDK-JS/api/master/Parse.Schema.html).

[2021-01-18 01:46] jack092123 commented on #7119
Hi @davimacedo @dplewis , is there any update?

The schemaCacheTTL was set to ttl at the constructor, but it doesn't pass to the cacheController at Line 33. I'm not sure is it the main problem here.

[2021-01-18 09:06] Moumouls commented on #7063
Hi @jonas-db , i will be happy to get your feedback from my forked package version for this feature
in your `package.json` you just have to add this

`"parse-server": "moumouls/parse-server#beta.8"`

(this version is stable)

[2021-01-18 09:19] Moumouls commented on #7050
Hi @Taylorsuk ,

Yes the feature is finished, i currently use it with my forked package (waiting open source PRs to be merged). If you want to give it a try, you can install this package.

`"parse-server": "moumouls/parse-server#beta.8"` in your `package.json`

Here the webauthn example that use the new spec.

[code]

[2021-01-18 09:25] Taylorsuk commented on #7050
@Moumouls Amazing work! Thank you for the example code too. We'll start a feature branch with your fork and then by the time it's tested, hopefully things will be released in the core package. 🥳

[2021-01-18 09:34] Moumouls commented on #7050
@Taylorsuk  yes i also hope that PRs will be merged soon.
Also a little note here the challenge endpoint is not ready on the Parse JS SDK: https://github.com/parse-community/Parse-SDK-JS/pull/1276

[2021-01-18 10:02] sarsonj opened #7129 "Don't send tags object to Parse file adapter when no tags are set"
### New Issue Checklist

- [X] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [X] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [X] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [X] I can reproduce the issue

[2021-01-18 10:36] mtrezza commented on #7129
Thanks for reporting. Can you please write a test case case where you do not send the tags in `Parse.File` but and empty tag object is created instead of `undefined`?

[2021-01-18 13:07] TomWFox commented on #7120
Clearly marking 3rd party repos seems sensible. I don't know whether a disclaimer is necessary given the license...

[2021-01-18 17:28] mtrezza commented on #7120
Yes, I guess this will close when we add the new module page.

[2021-01-18 22:25] TomWFox commented on #7120
Up to you, I'd like to do the new page soon but I can't guarantee when I'll get it done.

[2021-01-19 01:47] mtrezza commented on #7120
New module it is then :-)

[2021-01-19 01:50] mtrezza commented on #7129
I have classified this as a bug with severity 4:
- Workaround: fork parse server s3 adapter and remove the tags parameter
- Fix: change to not send the tag parameter if it is not set

[2021-01-19 06:21] davimacedo commented on #7119
The constructor uses only the default value but not a value eventually passed via parse server options, right?

[2021-01-19 06:25] dplewis commented on #7119
Should be passed here
https://github.com/parse-community/parse-server/blob/e6ac3b6932186a6a85601c65143305f86f63e948/src/Config.js#L31

[2021-01-19 10:03] pausenabre opened #7130 "Allowing restricted field names"
### New Issue Checklist

- [x] I am not disclosing a vulnerability.
- [x] I am not just asking a question.
- [x] I have searched through existing issues.
- [x] I can reproduce the issue with the latest version of Parse Server.

### Issue Description
We updated Parse Server to the latest version 4.5.0, and in the latest changes now we can use certain restricted fields like `length`or `className` as

[2021-01-19 14:27] mtrezza commented on #7130
Thanks for opening this issue.

I support this discussion because it  seems best practice to not make the developer having to consider Parse Server's internal keys.

Do you want to look into what is causing the current restriction of the `length` field (and possibly other fields) and propose a possible concept?

[2021-01-19 16:36] julianvogels commented on #7130
We just had a look at the Parse Server code and unfortunately, this is a bit over our heads. The `SchemaController`'s `invalidColumns` array contains `length`, so that's the place where we started, but we got lost in the many places the `SchemaController` is called.

I think a good fix for us would be to ensure that the `beforeSave` hook is called before the error `105: Invalid field name: length`

[2021-01-19 20:14] davimacedo commented on #7130
Are you sure the hook is not being called before the error is thrown? Would you mind to write a failing test case for this scenario?

[2021-01-19 20:37] davimacedo commented on #7119
@jack092123 would you mind to test a failing test case?

[2021-01-20 05:23] jack092123 commented on #7119
Hi @davimacedo, this is my first time reporting issue & writing a test script. So feel free to correct me if there is a mistake.

I add a failing test case to my forked repo here. So what should I do next? Summit a pull request?
https://github.com/jack092123/parse-server/blob/issue7119/spec/SchemaCache.spec.js

[2021-01-20 10:12] sarsonj commented on #7129
@mtrezza I will prepare test and look on fix as well.

[2021-01-21 04:09] atillart1003 opened #7133 "Cannot connect mongodb [Azure] Error: Unable to create TTL index for idempotency expire date: The 'expireAfterSeconds' option is supported on '_ts' field only."
I have mongodb in Azure. I attempt connect parse-server with connection string.

![image](https://user-images.githubusercontent.com/22125498/105278071-578eba80-5bd7-11eb-9a0c-b49e7c801b98.png)

This my command.

![image](https://user-images.githubusercontent.com/22125498/105277880-ecdd7f00-5bd6-11eb-9234-19dde9dc4541.png)

But i got error message below.

![image](https://user-images.githubusercont

[2021-01-21 05:20] dblythy commented on #6996
I think this could perhaps be close by [#384](https://github.com/parse-community/parse-server-example/pull/384) in the Parse Server example repo, which add jasmine and attaches mockDB to the Parse Server instance.

Testing cloud functions responses can be done as:

[code]

I think this satisfies having an "inbuilt" or "boilerplate" utility that developers can easily use with Parse Server to test t

[2021-01-21 05:40] mtrezza commented on #7133
It seems that you try to connect to a MongoDB compatible DBMS but not to native MongoDB. From the error the DBMS seems to be CosmoDB on Azure, which does not support all features of native MongoDB, see the [docs](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-time-to-live#ttl-indexes) regarding TTL.

I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Se

[2021-01-21 05:41] #7133 closed

[2021-01-21 16:09] mtrezza opened #7137 "Remove username from password reset / email verification links"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-01-21 16:12] mtrezza commented on #7137
@davimacedo, @dplewis Do you have any security concerns about this?

[2021-01-21 19:09] davimacedo commented on #7137
@mtrezza It makes sense to me. I believe we should remove the username from the link.

[2021-01-21 21:37] swittk commented on #6727
Anyone working on this?

[2021-01-22 05:47] davimacedo commented on #7119
Yes. You can open a PR with the test. Are you willed to also investigate and try to send a fix?

[2021-01-22 07:12] ArkeshGKalathiya opened #7139 "PUT in REST API does not upsert object with custom ID"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-01-22 13:50] julianvogels commented on #7130
Ok. How?

[2021-01-22 13:57] dblythy opened #7140 "Allow Cloud Validation "options" to be async"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-01-22 14:05] mtrezza commented on #7140
Thanks for opening this issue.

It sounds reasonable to allow async validation. I understand from your [comment](https://github.com/parse-community/parse-server/pull/6968#issuecomment-765251387) that you are already working on a PR. Just to let others know that this is in the works.

[2021-01-22 14:07] dblythy commented on #7140
Yeah, thank you Manuel. Sorry I have been a bit busy lately and haven't been able to close out my other pending PRs. I'll tryi get to that.

[2021-01-22 14:10] mtrezza commented on #7130
You can take a look at the basic beforeSave tests on how to write such a test:
https://github.com/parse-community/parse-server/blob/d47891f7e3d8008d2b5a0aed0a4ff890a70c49f5/spec/CloudCode.spec.js#L75-L91

Side note, most tests are in the old chained promise syntax, for new tests we should use await/async syntax.

[2021-01-23 02:16] mtrezza commented on #7137
If we remove the username from the link for email verification, the following process does not work anymore:

1. User signs up
2. Server sends email verification link
3. User clicks on link with invalid token (e.g. token expired)
4. Server responds with redirect to `invalid_verification_link.html?username=...` lets the user request a new link with the click on a button because the username is pass

[2021-01-24 01:42] sadortun commented on #6641
@davbeck did you get it to work ?

[2021-01-24 05:20] KAIOAVILA opened #7141 "I'm not able to upload a file to digital ocean spaces"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-01-24 10:12] mtrezza commented on #7141
Thanks for reporting.

Can you give more details how this issue is related to https://github.com/parse-community/parse-server/issues/7129?

Also, see the discussion in
https://github.com/parse-community/parse-server-s3-adapter/issues/134 regarding the approach.

[2021-01-24 20:51] almightybob opened #7142 "schema mismatch for produkt.kunde; expected Pointer<kunde> but got String"
- [x ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x ] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x ] I can reproduce the issue with the [latest ver

[2021-01-24 23:15] mtrezza commented on #7142
Thanks for reporting.

Please post the exact code to reproduce the issue.

[2021-01-25 07:55] davimacedo commented on #7137
I'd go with letter a)

[2021-01-25 11:58] KAIOAVILA commented on #7141
I understand, I hadn't seen that this issue was open already, I'll close this one and see the other one

[2021-01-25 11:58] #7141 closed

[2021-01-25 12:06] mtrezza commented on #7137
Okay, I don't understand why the token has to have an expiration date? If we remove that, then we could simply show an invalid link page, it would be the same process as for password reset.

[2021-01-25 17:04] #7119 closed

[2021-01-26 08:32] vince1995 opened #7143 "case insensitive login"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

We want that o

[2021-01-26 09:23] mtrezza commented on #7143
Thanks for suggesting.

If I understand your proposal correctly, you suggest that instead of adding one line to `beforeSave(User)` to convert the username to lowercase, you would want to add one line to Parse Server to validate usernames case-insensitive. I think this makes sense, since it easily allows a deployment to allow case-insensitive login even if the are already usernames stored with spec

[2021-01-26 09:59] vince1995 commented on #7143
If I understand it correctly, no indexes need to be adjusted since they are already created. But I'm not fully into the code and testing this repo, that's why I opened an issue and not a PR.

[2021-01-26 17:26] Samigos opened #7144 "Conditional email verification"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-01-27 00:43] mtrezza commented on #7144
Thangs for suggesting.

I added the link to your forum post for reference.

There may also be other places where a change is necessary, for example on login.
Do you want to look into the email verification mechanism in Parse Server and suggest how this could be done?

[2021-01-27 09:09] erencihangir commented on #7144
HTC cihazımdan gönderildi

----- Yanıt iletisi -----
Gönderen: "Samigos" <notifications@github.com>
Kime: "parse-community/parse-server" <parse-server@noreply.github.com>
Bilgi: "Subscribed" <subscribed@noreply.github.com>
Konu: [parse-community/parse-server] Conditional email verification (#7144)
Tarih: Sal, Oca 26, 2021 19:26

[2021-01-27 22:54] davimacedo commented on #7143
It is actually available since [version 4.2.0](https://github.com/parse-community/parse-server/blob/master/CHANGELOG.md#420). What is the parse server version that you are using?

[2021-01-28 00:22] mtrezza commented on #7143
Thanks, it slipped my mind that this is already implemented, even though now I remember the lengthy discussion about the index change back then.

[2021-01-28 00:27] mtrezza commented on #7139
Related: https://github.com/parse-community/parse-server/issues/4170

[2021-01-28 08:24] vince1995 commented on #7143
4.5.0. Are you using Postgres or MongoDB?

[2021-01-28 08:35] vince1995 commented on #7143
If I understand the code correctly Postgres does it [here](https://github.com/parse-community/parse-server/blob/033a0bd443ba846fa5a7fae969eb8f71cf492162/src/Adapters/Storage/Postgres/PostgresStorageAdapter.js#L280), but MongoDB nowhere.

[2021-01-28 13:32] iyashamihsan commented on #6309
its worked

[2021-01-28 16:44] mtrezza commented on #7143
I had another look into the PR, it seems this was really never implemented for log-in, only for sign-up.

There is a lengthy [thread](https://github.com/parse-community/parse-server/pull/5634#issuecomment-606735925) regarding this:

@vince1995 Would you open a PR and write test case for case-insensitive login?
I suggest to read the related [PR](https://github.com/parse-community/parse-server/pull/

[2021-01-28 21:51] mtrezza commented on #6773
The PR above introduces an option to define this behavior. The PR is currently in review.

[2021-01-28 23:35] AnthonySoler commented on #5610
Hello,

Thank you for this information.

Is there an article in the documentation where such limitations regarding LiveQueries are listed?
I was not able to find this information in the following documentations (maybe I missed something):
- [JavaScript Guide - LiveQueries](https://docs.parseplatform.org/js/guide/#live-queries)
- [Parse LiveQuery Protocol Specification](https://github.com/parse-com

[2021-01-29 04:21] selected-pixel-jameson opened #7149 "Unable to Connect to Remote MongoDB Atlas Cluster from Local Machine"
### New Issue Checklist
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-01-29 09:03] mtrezza commented on #7149
I'm closing this as it does not seem to be a Parse Server issue.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagg

[2021-01-29 09:03] #7149 closed

[2021-01-29 13:13] vince1995 commented on #7143
@mtrezza I've opened a PR. :)

[2021-01-29 13:44] cbaker6 commented on #7143
If it helps any , this is the PR for case insensitive for Postgres #6506

[2021-01-29 13:48] mtrezza commented on #7143
IIRC email specification says that the username has to be treated case sensitive, although most email providers do not do that. I want to think this through from a security aspect.

If the sign-up method only denies sign-up based on case-insensitive comparison, but the email address is stored with casing as entered, that would not be a violation of the specification. But if login, possibly passwor

[2021-01-29 14:00] vince1995 commented on #7143
I understand the problem. But it doesn't matter in that case because the reset email is sent to the email address the user saved.

[2021-01-29 14:16] vince1995 commented on #7143
Where do you think is the best place in the docs? Should I tag it as breaking, new, improve or fix in the changelog? 🤔
And do we want to continue our discussion in the PR thread? :)

[2021-01-29 15:45] mtrezza commented on #7143
It matters in the sense that we need to consider the whole process.

Scenario:
1 User signs up with email `Mail@example.com` which is also set as username.
2. User always logs in with `mail@example.com` (this PR).
3. User forgets password and tries to reset the password with `mail@example.com` (is this currently possible?).
4. Email is sent to `Mail@example.com` as stored in the DB.

[2021-01-30 00:16] mtrezza opened #7151 "Parse Server option cannot be set via environment for interfaces"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).
- [x] I can reproduce the issue

[2021-01-30 00:19] mtrezza commented on #7151
I classified this issue as bug with severity S4:
- Workaround: setting the root key as environment variable with a value that encodes an object
- Fix: adapt CLI runner to consider all module exports or add all keys to main module export `ParseServerOptions`

[2021-01-30 00:23] mtrezza commented on #7069
-clientKey
-databaseURI
-dotNetKey
-encryptionKey
-fileKey
-javascriptKey
-masterKey
-readOnlyMasterKey
-restAPIKey
-webhookKey

Just noticed, I don't think `databaseURI` fits in keys; also keys that belong to a distinct features such as `fileKey` or `encryptionKey` may fit better in that distinct feature group.

[2021-01-30 15:25] mtrezza opened #7152 "Add a email address change workflow"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-01-31 04:45] #6996 closed

[2021-01-31 06:11] dblythy opened #7153 "Log on invalid cloud validator configuration"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-01-31 09:43] mtrezza commented on #7153
Sounds good! I think this would also be an interesting feature for the Parse Server config in the future.

[2021-01-31 10:03] mtrezza commented on #3357
I'm closing this as there are ways to allow a user to log in with email / password if they signed up with 3rd party auth:

- If the user does not have an email address set: add in-app feature for auth-logged-in user to set email / password.
- If the user has an email address set: add in-app feature for auth-logged-in user to set password or allow password reset link to be requested.

[2021-01-31 10:04] #3357 closed

[2021-01-31 13:22] dblythy commented on #6995
Closed via #7071

[2021-01-31 13:22] #6995 closed

[2021-01-31 15:40] dblythy commented on #7059
@AurelienVasseur personally, when I want a different response if i'm testing, I use something like:

[code]

[2021-02-01 00:07] #6773 closed

[2021-02-01 00:12] mtrezza commented on #7142
I'm closing this as it seems to be resolved.

For help with Parse Server, here are some resources you can try:
- For code-level questions we recommend Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-platform) tag.
- For network and server questions we recommend ServerFault using the [parse-server](https://serverfault.com/questions/tagged/parse-server) tag

[2021-02-01 00:12] #7142 closed

[2021-02-01 01:39] dblythy opened #7156 "Improve Security around allowClientClassCreation"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-01 03:27] mtrezza commented on #7156
Thanks for suggesting.

I think it makes sense to change the default of `allowClientClassCreation`.

Following feedback we have received regarding breaking changes, and in light of a missing change policy, I suggest:

1. Add a warning message if the option is not explicitly set, that its default will change in the future -> this PR.
2. In a future PR, change the default -> maybe already create a s

[2021-02-01 03:34] dblythy commented on #7156
I think the challenge is that for new developers, their servers will respond with an error whenever they try to save their new objects, or even sign up as those classes haven't been created.

Maybe we could tie this into @Moumouls PR of having schema defined on startup.

[2021-02-01 06:18] ArkeshGKalathiya commented on #7139
Hi @mtrezza, Thanks for the response.

I have confirmed that PUT request for non existent object is not working, it gives error.

https://docs.parseplatform.org/rest/guide/#updating-objects

[2021-02-01 07:00] Moumouls commented on #7156
Note here, in my schema pr allowClientClass is mandatory disabled, to avoid inconsistency, since the source of ruth become the predefined static schema and not schema into the DB.

[2021-02-01 07:45] vince1995 commented on #7143
Your scenario is how the code works that I changed.
3. is currently not possible. [The change I made in the PR](https://github.com/parse-community/parse-server/blob/e95b29aff2b43d8a52d74781be74200234b24a66/src/Controllers/UserController.js#L227) ensures this.

[2021-02-01 08:01] dblythy commented on #7156
Hmmm, interesting. Adding on to your point @mtrezza, maybe we could setup the Parse Server Example repo with `allowClientClassCreation:true; //do not use this in production` so that changing the default doesn't become a stumbling block for new developers

[2021-02-01 08:25] dblythy opened #7158 "Add auto-re-register Cloud Code on file changes"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-02-01 09:11] mtrezza commented on #7156
The same applies to any PR. We should avoid rushing breaking changes, unless they are urgent security fixes. There have been several comments about this and if we [ask](https://community.parseplatform.org/t/what-you-love-about-parse-and-also-of-the-difficulties-you-have-encountered/1140/5?u=manuel), we should also listen and take action. Besides that, it is also best practice.

[2021-02-01 09:25] mtrezza commented on #7139
Thanks for confirming, can you please write a test case for this?

[2021-02-01 09:28] mtrezza commented on #7143
Shouldn't it be possible? If I always sign in lower case, how would I know that for password reset I have to enter another casing?

[2021-02-01 10:42] vince1995 commented on #7143
I meant that it's in the current master branch not possible. With my PR it will be.

[2021-02-01 11:24] mtrezza commented on #7143
Great, I think that covers the whole process then. I hope we can get to a review soon.

[2021-02-01 14:02] mtrezza commented on #7158
Thanks for suggesting.

While I think this is an interesting addition, I think it needs a more clearly defined scope. In what context is this this feature intended to be used and what are example use cases? If this is a feature that is also intended to be used in a production environment, how would it handle multiple instances behind a load balancer?

[2021-02-01 15:56] dblythy commented on #7158
It would be specifically for local deployments, to assist developers in writing their cloud code.

It would _not_ be intended for multi-instance deployments.

Ideally, it would watch all imported and referenced files and re-register all triggers after any referenced file changed.

What do you think?

[2021-02-01 16:03] mtrezza commented on #7158
Sounds interesting indeed. A difference to `npm run watch` may be that it merely compiles the lib files, whereas this is changing the cloud code of a running server. Wouldn't the server just crash when a file is saved in the middle of half-developed code?

[2021-02-01 17:18] dblythy commented on #7158
You’re right - I referenced npm run watch as this ideally would be how it would function. With npm run watch, you can edit internal code and run test without restarting the server. The goal of this FR would be the same, that cloud functions would re-register if the files are changed without requiring a restart.

As far as I can tell, cloud functions are registered on server start via requiring the

[2021-02-01 17:48] dblythy commented on #7156
It is expected behaviour. My point being, if this is the new configuration, a developer will:

1. Start a new Parse Server
2. Attempt a signup / test object save
3. Get an error as class does not exist
4. Assume the project is broken

As a new default configuration, it adds a potential hurdle for new developers if they are just trying to play with Parse Server.

I was referring to Antoine's PR as

[2021-02-01 18:02] mtrezza commented on #7158
Is that true, or does it only recompile the libs?

[2021-02-01 18:06] dblythy commented on #7158
Well, yeah, again you're right. `npm run watch` recompiles the libs, so that when the mock server is started in the tests, it runs off the lates lib code.

Maybe, again this could be a feature for the example repo using `nodemon`. But i'm cautious of bloating it out with too many dependancies that mightn't be used.

[2021-02-01 19:30] mtrezza commented on #7158
I think the easiest way would be using babel to try to compile cloud code. If it succeeds, the server us unlikely to crash and the new cloud code can load. If it fails, assume the developer was just doing a save in between without intention to use the server. Also, babel is already there, so no new dependency.

[2021-02-01 19:40] mtrezza commented on #7156
I think it would be enough to add a simple "use these less restrictive setting to play around, but don't use in prod, because..." to the readme > getting started.

Sure, worth the time yes, but to make developers aware that their deployment is not secure, we don't want to crash their production server. That is why we should aim to deprecate old settings in a controlled manner, that is also a recur

[2021-02-01 20:48] mman commented on #7156
Could we perhaps add an option called “environment” defaulting to “development” where client class creation and potentially other things are enabled, and when set to “production” they will get to default safe mode?

[2021-02-01 21:09] mtrezza commented on #7156
Not sure about introducing a meta option that sets some other options behind-the-scene. It is not transparent as to which options is sets to which values. It does not help in climbing the learning curve for new developers by obfuscating the Parse Server config.

I think improving the docs could do it. The getting started guide could simply recommend an example configuration for Parse Server which

[2021-02-02 02:55] mtrezza opened #7160 "Add tests against multiple MongoDB versions"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li