[2017-10-19 23:42] c3s4r commented on #4052
@natanrolnik after doing some more research I'm editing my comment. It looks like the query string won't be visible in the proxy if using `https`. The problems of having parameters in the URL actually are:

- leakage through browser history
- leakage through the http referrer when visiting another page (I think it doesn't apply since the API returns JSON and not an HTML page)

I guess I still shou

[2017-10-20 04:15] montymxb commented on #4266
@c3s4r am I correct in saying that it looks like all the potential issues you've found are in dependent projects, rather than parse-server itself?

[2017-10-20 04:23] montymxb commented on #4052
So this has been on my mind a bit, although we can't remove the existing functionality I was wondering if could offer **POST** in addition to **GET**. The idea being deployed sdks would work just fine, and new ones could be updated to utilize POST over GET. It looks like [this](https://github.com/parse-community/parse-server/blob/9145c885621667ea1e1fae5d76d3688b7c0bd792/src/Routers/UsersRouter.js#

[2017-10-20 17:10] trondkr opened #4269 "Check if PFUser exists requires change of ACL?"
FYI, I also asked this question on [SO](https://stackoverflow.com/questions/46850053/check-if-pfuser-exists-requires-change-of-acl). I have a Parse server setup that functions correctly. However, when I want to login a user, that originally signed up using password and username (email=username), using OAuth2 third party authentication (e.g. Google) I run into problems with ACL. First, to check if

[2017-10-20 18:06] c3s4r commented on #4266
@montymxb yes, that's right. Anyways, since `parse-server` uses those modules, it will probably "inherit" the security issues. The fix *should* be simple: just need to upgrade the modules to their patched versions, which are:

- mime >= 2.0.3
- express >= 4.15.5

The `mailgun-js` dependency used in the `parse-server-simple-mailgun-adapter` package has also to be fixed, but it can't be upgraded bec

[2017-10-20 19:15] ogtfaber commented on #643
Thanks @jenlai1345

Here is the code for Gcloud:
`
// Clean up orphan file after delete
Parse.Cloud.afterDelete("File", (request) => {
  const name = request.object.get('parseFile').name()
  return deleteGCFile(name)
})

function deleteGCFile(name) {
  const storageProjectID = "..."
  const storageKeyfilePath = "..."
  const storageBucket = {
    development: "...",
    production: "...",
  }[app.

[2017-10-21 11:22] chadpav commented on #1174
@agwl-saurabh you need to open a different discussion topic with your questions about how to use Parse at scale. I think that would be an interesting thread on it's own.

[2017-10-21 16:47] Mbompr commented on #3097
I'm interested too, but I have had a quick look at it and it does not seems to be easy.

Things seem to start in `handleCreate` / `handleUpdate` of `ClassesRouter` but I did not manage to understand where these were called.

[2017-10-21 16:58] #3999 closed

[2017-10-21 20:14] agwl-saurabh opened #4278 "How to use Parse at scale for e.g 1000 request\second or million users in app. most effective setup (cost $$$ and maintainability)"
This is more of a discussion question.

Its been more then  one year for all of you for running parse server and now its time for most of you to want to have parse server as the scale like 100 RPS to 1000 RPS or more. I would welcome all of you to share your experience with parse server. and would like to discuss most effective (cost $$$ and maintainability) setup.

Below points would be great poi

[2017-10-21 20:16] agwl-saurabh commented on #1174
Thanks @chadpav  for great Idea I just open an new discussion. if you like to share your experience please share on below

https://github.com/parse-community/parse-server/issues/4278

[2017-10-22 02:35] flovilmart commented on #4278
If you're using elastic beanstalk, then you should use elastic load balancer, and AWS Cloud Watch should be able to monitor your load balancers, therefore you have access to the instant RPS without looking further

[2017-10-22 21:24] stevestencil commented on #4278
Are you @agwl-saurabh open to discussing how you have things setup in more depth? I currently do not have nearly as many users as you but I'm scaling fairly quickly. Maybe you're interested on collaborating on how and what we're using this library for?

[2017-10-22 21:43] agwl-saurabh commented on #4278
Can you please tell me more what you are looking for and what collaborating..???  . i am not able to understand what you need from me. and which library you are talking ..?? may be if you can provide the points on which you need help if i have information i can provide no issue.

[2017-10-23 02:14] flovilmart commented on #4269
@trondkr if your users is logged in from the client side, this should just work, as the sessionToken is sent out while you're asking for the linking operation.

Also, note that you can leverage Class Level Permissions, to disable the find operation on the _User table.

In any case, if your user is logged in on the client side, it's probably a bug.

Are you able to save any properties on the curren

[2017-10-23 02:16] flovilmart commented on #4267
If the error is undefined, it means that no link exists, if the error is 'The password reset link has expired'. Errors could be indeed improved. Do you wanna work on a PR for that?

[2017-10-23 02:24] flovilmart commented on #4260
The credentials are not 'wrong', they are valid, so parse-server creates a new user.

Note that blocking that feature would require a significant set of changes:

- expose a 'signupWith' on a different endpoint (on all SDK's)
- add options to prevent account creation in your case.

In your case, because you login on cloud code, you can run a query:

[code]

[2017-10-23 02:26] flovilmart commented on #4258
you could use it via cloudCode, and maintain your own connection to mongoDB and run those operations atomically.

Note that many operations are already atomic (like increment, addUnique etc...)

[2017-10-23 02:26] #4258 closed

[2017-10-23 02:31] flovilmart commented on #4256
We updated parse-server-push-adapter to the latest version, this will be part of next release.

[2017-10-23 02:31] #4256 closed

[2017-10-23 02:32] flovilmart commented on #4255
you can pass `revokeSessionOnPasswordReset: false` to your options if you don't want the sessions to be revoked when resetting the password.

This is actually a security feature.

[2017-10-23 02:32] #4255 closed

[2017-10-23 02:34] flovilmart commented on #4253
Closing as properly answered! Thanks everyone!

[2017-10-23 02:34] #4253 closed

[2017-10-23 02:34] #4243 closed

[2017-10-23 02:34] flovilmart commented on #4243
Pleas reopen the issue with the full template filled.

[2017-10-23 02:35] #4237 closed

[2017-10-23 02:44] flovilmart commented on #4236
According to the guide, the instances you're using are not the recommended ones for running MongoRocks.

Also, you should probably head out to mongoRocks repo for help about that technology.

https://github.com/mongodb-partners/mongo-rocks

[2017-10-23 02:44] #4236 closed

[2017-10-23 02:47] flovilmart commented on #4229
@Samigos This doesn't seem to be an issue with parse-server itself, but a problem in the configuration of your mongoDB. Please head over to stackoverflow, or server fault as you may find experts that can guide you into deploying and maintaining your database.

[2017-10-23 02:47] #4229 closed

[2017-10-23 02:49] flovilmart commented on #4230
[code]

[2017-10-23 02:52] flovilmart commented on #4230
@Roost where is this code run? On a server/node/cloud code or in a client (browser/app)

[2017-10-23 02:57] #4219 closed

[2017-10-23 02:59] flovilmart commented on #4215
Docs have been merged, closing! Thanks for the PR!

[2017-10-23 02:59] #4215 closed

[2017-10-23 03:02] flovilmart commented on #4212
@dplewis should we first revert back, so @seriph 's setup is not completely borked and then see what we can do about those indices?

[2017-10-23 03:03] #4206 closed

[2017-10-23 03:04] flovilmart commented on #4192
Closing as duplicate.

[2017-10-23 03:04] #4192 closed

[2017-10-23 03:05] flovilmart commented on #3995
Nope doesn't seem to be your environment, this should definitely not interfere with the response status. We'll have a look!

[2017-10-23 03:06] flovilmart commented on #4191
Closing as not an issue with parse-server itself, but a usage question. Thanks for posting it on stackoverflow!

[2017-10-23 03:06] #4191 closed

[2017-10-23 03:07] flovilmart commented on #4179
Please reopen the issue filling the template completely. Thanks.

[2017-10-23 03:07] #4179 closed

[2017-10-23 03:08] flovilmart commented on #4090
Can you provide the logs when running with VERBOSE=1? You'll also probably uncover the source of the error.

[2017-10-23 03:08] flovilmart commented on #4080
Closing as duplicate, will be fixed with next release.

[2017-10-23 03:08] #4080 closed

[2017-10-23 03:11] flovilmart commented on #4070
Feel free to open a PR to include those. Perhaps by manually creating a new entry in the _SCHEMA the view will appear to parse-server.

[2017-10-23 03:12] flovilmart commented on #4142
Closing as PR is merged.

[2017-10-23 03:12] #4142 closed

[2017-10-23 03:13] #4052 closed

[2017-10-23 03:15] flovilmart commented on #4041
@madsb actually, we added this issue on purpose, as users were complaining that emails were sent part of the login with facebook for example (#3882) I'm not sure what to do... Any suggestion

[2017-10-23 03:16] flovilmart commented on #4030
Yeah, not sure we should support that, let's close that for now :)

[2017-10-23 03:16] #4030 closed

[2017-10-23 03:19] flovilmart commented on #4022
@adamofsky any chance this is solved? We have extensive testing around the email sending, and I'm not sure where it doesn't work.

[2017-10-23 03:23] flovilmart commented on #4022
also, can you provide the logs when running with VERBOSE=1 this will help.

[2017-10-23 03:25] #4159 closed

[2017-10-23 06:46] trondkr commented on #4269
@flovilmart Your comments made me question whether I am doing it correctly. The login to Google, Github etc. is done, not on the client, but on the server. I do the OAuth2 flow (using Passport) on the server, and when successful login occurs I return the result to the client (opening up the app) and log in using the returned access_token. This works well with creating new users using OAuth2, but i

[2017-10-23 08:58] madsb commented on #4041
I took a look at it when encountering the issue, but wasn't confident with a more thorough solution than the hack I made myself.

I'd personally rather revert to the old way, although it results in an email confirmation when logging in with Facebook. The main problem with the current solution is (apart from my issue with Account Kit) that if the user logs in with Facebook and is permitted to chang

[2017-10-23 18:16] rankinit opened #4288 "Error 101 Facebook auth is invalid for this user."
### Issue Description

Can not login with Facebook. Keep getting error 101: Error 101 Facebook auth is invalid for this user.
Looked through this thread here but did not help:
https://github.com/parse-community/parse-server/issues/475

Upgrading the Parse server to the latest version did not help either.

### Steps to reproduce

1. Login with Facebook using FBSDK, Parse-IOS, ParseServer
2. Delete

[2017-10-23 19:08] DaddyWarbucks commented on #4260
Thank you for your response. I did create a solution exactly as you described.

[2017-10-23 19:17] flovilmart commented on #4260
eheh cool! but I agree with you that would probably be a nice addition.

[2017-10-23 20:49] jeffreyjackson commented on #4256
hey @flovilmart are you saying this will be updated in 2.6.4?

[2017-10-23 22:33] flovilmart commented on #4256
@jeffreyjackson yes!

[2017-10-23 23:25] Samigos opened #4290 "Parse Server - Image files' path returns localhost"
I have deployed 2 Ubuntu servers on Azure. First, I have installed the Parse Server (2.6.3) and the second, I installed MongoDB. **(I have also put a ready db there from my previous server via `mongorestore`)**

Everything works fine! Both Parse Server and MongoDB server. They also communicate well. The thing is, when I run my iOS app, it brings all data correctly, except images. I print the URL o

[2017-10-23 23:29] flovilmart commented on #4290
Which is exacly the point of the documentation. The publicServerURL is explicitely required for those cases. Parse server injects the publicServerURL for all your files at runtime, so they are not ‘stuck’ if you decide to change domain or provider.

[2017-10-23 23:29] #4290 closed

[2017-10-24 11:42] Samigos commented on #4290
So what am I supposed to do in my case?

[2017-10-24 11:46] flovilmart commented on #4290
You’re supposed to see the publicServerURL which is the URL on which your parse-server is publicly accessible. (Https://my.domain.com/parse)

[2017-10-24 11:53] Samigos commented on #4290
And what about the URL of my images? How am I going to access them since they are on an remote MongoDB server, where there's no parse?

Remember, their path will remain `http://**localhost**:1337/parse/files/filename.jpeg `

[2017-10-24 12:17] flovilmart commented on #4290
As mentioned, the files uploaded through parse-server should always be stored with their relative path. Every file URL is replaced at runtime, with the full URL. If you set the publicServerURL this will be set in all the responses.

In you config, I see the publicServerURL is set to `http://localhost:1337/parse` try replacing it with the public URL.

[2017-10-24 12:41] Samigos commented on #4290
@flovilmart It worked! Thank you very much! You're a life saver! :)

[2017-10-24 13:33] stevestencil commented on #4278
@agwl-saurabh I'm interested in picking your brain on how to best optimize the AWS configuration for parse-server. Also, I'm always trying to network with other developers to bounce ideas/best practices off of. Let me know your thoughts?

[2017-10-24 15:08] rankinit commented on #4288
Misconfiguration on my part.  Wrong fb id. Closing.

[2017-10-24 15:08] #4288 closed

[2017-10-24 16:12] Samigos commented on #3655
If I drop the `_Session` collection, will the users be logged out?

[2017-10-24 19:36] montymxb commented on #4215
Thanks again @hipwelljo !

[2017-10-24 19:51] montymxb commented on #4266
@c3s4r thanks for the recommendation! We're looking into adding this (or an equivalent like snyk) into the flow as part of our CI. This will stay open until we've settled on a solution.

[2017-10-24 21:58] montymxb commented on #3995
@rihadavid I'll take a look at this, I was just around that section of code when I was looking into the `beforeSave` hook issue. I can probably figure out what's going on here when I have some time.

[2017-10-25 02:07] casajavi opened #4291 "bad or missing username when authenticating with Twitter"
### Issue Description

I am trying to use the Twitter authentication through the Rest API and I keep receiving this error:

[code]

I have set up the parse server with the necessary data as follows:

[code]

and I am sending a POST to `/users` with the following payload:

[code]

I could not find any documentation detailing on how to achieve this and most of what I have tried has been from followi

[2017-10-25 10:11] Andriiklymiuk commented on #82
Have somebody resolved this issue?

[2017-10-25 11:51] ferrinho commented on #4041
Hi, I'm having the exact same problem you mentioned: not sending verification email on facebook login, works fine for me. But the problem is that if user changes his email, I need to send confirmation email, which is not working... If I trigger it as instructed in #3543 , I do receive the verification email, but I get "invalid link" as it appears the token=undefined.

Any suggestions or workaround

[2017-10-25 12:13] flovilmart commented on #4041
We could probably add a an options somewhere that would let the developer decide wether an email should be sent for verifying the newly set email adress. By default, the behavior would be the same as the current one. Perhaps verifyUserEmails could support a function instead of a Boolean, this function should return a Boolean, to tell the server wether the verification email should be sent.

What d

[2017-10-25 12:18] ferrinho commented on #4041
I think that's a great idea @flovilmart , but in my case, I would always need to send verification email when a new one is set, no matter what the authentication method is.

For now, would you suggest any workaround/hack to achieve this?

[2017-10-25 12:20] flovilmart commented on #4041
This would require those changes, unfortunately. I’ll provide as much context as possible for this method so you’ll be able to infer when to send it.

[2017-10-25 12:43] flovilmart commented on #4291
Can you provide the logs when running with VERBOSE=1?

[2017-10-25 15:45] flovilmart commented on #4291
@casajavi I just had a look at the source code, and the only way to get 'bad or missing username' error is to neither provide authData nor a username on this `POST /users`

This probably means that the payload is malformed, I managed to get this:

[code]

[2017-10-25 15:45] #4291 closed

[2017-10-25 15:51] JulienLevallois commented on #4082
@tealshift thanks ! AfterSave function dont need response ? completion, like beforeSave

[2017-10-25 16:09] tealshift commented on #4082
Correct. The afterSave function only has one parameter for 'request'. No response is possible.

[2017-10-25 22:33] montymxb commented on #3995
Just wanted to note I can confirm this is in fact a verifiable issue, working on a fix at the moment.

[2017-10-25 23:30] montymxb opened #4294 "Possible Racing Test (postgres)"
### Issue Description

Observed a possibly racing test case, which seems to intermittently result in a failure. The test is `can handle connect command` in `ParseLiveQueryTest.spec.js`.

I first saw this in one of our CI builds and am making a note of it here, not entirely sure but I _believe_ this may have tripped during the **postgres** section of tests.

### Steps to reproduce

Repeatedly runni

[2017-10-25 23:33] montymxb commented on #4266
Closing as #4285 has been merged in to resolve this. Thanks again!

[2017-10-25 23:33] #4266 closed

[2017-10-26 02:57] casajavi commented on #4291
@flovilmart Ok I wasn't including the correctly formatted payload but yea now I get the error you get.

[code]
now I am in the same spot hahaha.... so why is this error happening ?

Is this suppose to create a new user or only link twitter to an existing user?

[2017-10-26 04:23] ctrongminh commented on #749
@arthursalgado: when you create a class using parse-dashboard, it will not automatically add the object compared to rest api or sdk.

I think you can fix the error by either:
1. specify the master key when creating the class
2. remove the option allowClientClassCreation when starting the parse-server

If not, anonymous user cannot create a new class.

[2017-10-26 09:52] majidhassan commented on #4258
Hey @flovilmart,

I already run my own connection from cloud code. My question was, whether there's a "parse" way to do it, or whether I have to implement it using the NodeJS Mongo client.

Also, regarding increment and other functions, I've tried them, and - unlike findOneAndUpdate - they don't force a write lock on the collection / document when I tried them.

[2017-10-26 15:16] flovilmart opened #4296 "Read-only masterKey"
In order to provide dashboard access to more people, it seems secure to introduce a `read-only` masterKey.

When using this key, in the `X-Parse-Master-Key` header, the auth would be marked as read-only and throw errors when trying to run `any` write operation.

[2017-10-26 19:35] #4296 closed

[2017-10-26 19:36] montymxb commented on #3995
@rihadavid #4293 is now in for this issue. Changes will be present in the next release, thanks again for bringing this to our attention!

[2017-10-26 19:36] #3995 closed

[2017-10-26 21:46] jch-duran commented on #1282
@profjared Did clearing the device list solve the issue for you? I'm also receive the error, even though push notifications are working...

[2017-10-27 04:35] profjared commented on #1282
@jch-duran i believe it did - but it was a long ago and unfortunately don't remember

[2017-10-27 17:10] montymxb commented on #3978
MySQL support just came across my mind and I bumped into this. @dplewis I actually implemented a system based off parse-server at my work some time ago, but built it starting on MySQL instead. If this is still going, and you need some help figuring out the queries, I can lend a hand if needed.

[2017-10-27 17:35] suathh opened #4300 "Can't save 2000 objects at once"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/parse-community/parse-server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use thi

[2017-10-27 17:37] flovilmart commented on #4300
You should probably not run such large queries as you'll hit timeouts and the SDK's are configured to re-try this is why you have those issue of object duplications.

Have a look at the query.each(), this may speedup the process.

[2017-10-27 19:44] dplewis commented on #3978
@montymxb I built it to support all the features up to parse 2.5.0. I'll run the test against the 3.0 release. I may need a hand then.

MariaDB Update: I post issues on the repo but no reply in 3 months. They may have fixed the issues in the 10.3 release.

[2017-10-27 19:44] #3978 closed

[2017-10-27 20:23] DanGTZ commented on #3830
I don't remember if this was the case at the time I created the issue. But now, with parse-server 2.6.3 on a remote server, there is no more timeout.
This allowed me to go further and to discover I had to increase the http request body size in the server configuration.
Now larger files can be uploaded.

[2017-10-27 20:23] #3830 closed

[2017-10-27 21:47] suathh commented on #4300
Now I am using query.each(), it gives to correct result like I want but it seems to working so slow it is nearly takes 1-2 seconds to complete just one save. Can I do any other thing to speed up to process ?

[2017-10-27 22:33] flovilmart commented on #4300
The problem is the volume you need to process, the save should be quite faster, you can batch the saves by hundreds and should be fine.

[2017-10-27 22:43] suathh commented on #4300
Thanks for hint I will try multiple saves (10 query.each() function for 2-4k results) and share the result in here.

[2017-10-28 02:53] jferrer21 opened #4301 "Rest API"
### Issue Description

When using the REST API in a GO program,

{"code":111,"error":"schema mismatch for GeneralInfo.customer; expected Pointer<_User> but got String"}
### Steps to reproduce

The request has the "Content-Type", "application/json", and X-Parse-Application-Id, and X-Parse-Master-Key set in the header.

In the body, as JSON:
"ACL" : {"WUhEgslMAJ": {"read":true, "write":true}

- **Se

[2017-10-28 02:56] jferrer21 commented on #4301
And customer is set to:

`[{"__type":"Pointer", "className":"_User", "objectId": "WUhEgslMAJ"}]`

[2017-10-28 03:05] jferrer21 commented on #4301
Also, I made I typo, the correct call is: "ACL" : {"WUhEgslMAJ": {"read":true, "write":true}}

I got a "Master Key Only" in the ACL entry in the Dashboard.

[2017-10-28 05:49] jferrer21 commented on #4301
I figure this out.  I was using a map[string]string to format the JSON and this was not working.  If I pass, the JSON in a string it works.

Thank you, anyway.  And, you can close this down.

[2017-10-28 17:48] #4301 closed

[2017-10-28 19:01] flovilmart commented on #4010
Closing for now, please update parse-server to the latest version and make sure to fill a new issue report if it persists.

[2017-10-28 19:01] #4010 closed

[2017-10-28 19:07] jch-duran commented on #1282
@profjared Clearing the device list also cleared the error for me. Thanks!

[2017-10-28 20:18] flovilmart commented on #4291
yeah so double check your auth_token, secret, and configuration. I believe there's an API explorer on twitter, so you can double check that all those parameters are valid.

[2017-10-29 00:07] tjlian616 opened #4302 "Push Dashboard cannot open since 2.6.0"
### Issue Description

Ever since upgrading to 2.6.0, I'm not able to open/view the Push section in parse dashboard.  The page keeps on loading in 2.6.0 and becomes all white in 2.6.2

### Steps to reproduce
Run parse server and parse dashboard on localhost. Click on Core and you can see all classes. Click on Push and it hangs there.

I even went to dabase and manually deleted all the Audience rec

[2017-10-29 00:48] flovilmart commented on #4302
please provide the logs when running with VERBOSE=1

[2017-10-29 00:49] flovilmart commented on #4302
Can you also provide the failing requests/responses from the browser/parse-dashboard ?

[2017-10-29 02:49] tjlian616 commented on #4302
This is running 2.6.2
When I click on Push section in the left menu bar, it prints out this error.

Here is the screenshot in chrome.
[screenshot](https://ibb.co/i83Bd6)

`verbose: REQUEST for [GET] /parse/push_audiences: {} method=GET, url=/parse/push_audiences, host=localhost:1337, connection=keep-alive, content-length=217, pragma=no-cache, cache-control=no-cache, origin=http://localhost:1337, u

[2017-10-29 02:54] tjlian616 commented on #4302
I then checked AudiencesRouter line 56.  It crashed at the JSON.parse because the item.query is already an object.

`
return _rest2.default.find(req.config, req.auth, '_Audience', body.where, options, req.info.clientSDK).then(function (response) {

        response.results.forEach(function (item) {
          item.query = JSON.parse(item.query);
        });

        return { response: response };
`

[2017-10-29 16:29] suathh commented on #4300
I just realized if I use multiple save functions with same query they can override their target classes.

Lets say two functions started at same time if they try to update same user profile what will happen ?

If user has 400 points and both of functions take 400 as reference for increment and lets say one of them need to add 20 points and other 50. It should be 470 but it can not be too.

 To avo

[2017-10-29 17:57] acinader commented on #4300
are you using the parse sdk's increment?

http://parseplatform.org/Parse-SDK-JS/api/classes/Parse.Object.html#methods_increment

which calls

https://docs.mongodb.com/manual/reference/operator/update/inc/

if you use, you will always get 470

[2017-10-30 07:22] dongalor commented on #4210
i'm having same issue:

error: invalid session token code=209, message=invalid session token

Client (which is IOS application, not using parse IOS sdk, but instead we have cloud functions on backend for all operations). So after killing application it logs in again and getting sessionToken which can't be found in database :(

[2017-10-31 05:36] montymxb commented on #4294
Observed this error in the same place again but for the `_User` collection.
[code]
Can confirm this is occurring on **postgres** so far as I've observed. I haven't seen this on mongodb yet. It's looking possible that this race is strictly related to our implementation in that db.

[2017-10-31 06:02] christianbalderrama opened #4306 "Parse Server and Mongodb in Plesk"
Hi, I am new to Parse Server and we are hosting our Node.js projects on Plesk. I have a project using Parse Server whereas I have configured the Parse-Server successfully in my localhost, however my problem is that how do I create a mongodb instance with this kind of format

`mongodb://User:Pass@ipHere/databaseName`

I did try to add a User with a `readWrite` access locally and with the `environme

[2017-10-31 07:00] okanakdogan commented on #4300
I have a problem like this too. Trying to create objects within loop.
for (var k = 0; k < myarray.length; k++){
  var id = myarray[k];
  aFunctionCreatesParseObjectAndSave(id);
}

in my aFunctionCreatesParseObjectAndSave(id) function, I'm trying to check that if i have a parse object with same id. (looking with parsequery) if i have then do not create, just update. But if there isn't object create

[2017-10-31 08:13] okanakdogan opened #4307 "I can't prevent creating duplicated documents."
### Issue Description

I have similiar issue with this stackoverflow [question](https://stackoverflow.com/questions/21452463/parse-check-for-update-inside-beforesave-in-cloud-code).

I want to create objects to a collection for per user. I will save scores in this collection. When I want to update user's score, if there isn't a score entry in that collection, i want to create a new object. if ther

[2017-10-31 08:51] suathh commented on #4300
Thanks @acinader . I am using increment and I am done with that problem now.

But facing another one like @okanakdogan mentioned above I can't check and save according to result of check operation. In async savings whenever I try to save in a loop I am facing with that issue.

I am saving objects in a loop and added a beforeSave hook for that object if there is any other object with same parameter

[2017-10-31 15:18] 4vik opened #4309 "E-Commerce Solution with Parse Server"
Hello everyone,

I have been wondering, does anybody know of a third-party e-commerce marketplace solution for mobile apps, which uses Parse Server as its backend? For example for managing orders and transactions, product inventory, etc. I have only ever seen MySQL/NoSQL being used, but I was really curious if there is a Parse solution out there, as the rest of my app uses Parse for all its other

[2017-10-31 16:20] BenBenz opened #4310 "How to make Unit Testing inside Parse Server"
How we can make unit testing with Parse, in each Cloud Code Function I have multiples query it is difficult to test actually,

How we can make unit test with Parse Query ?

[2017-10-31 16:27] Sadmansamee commented on #4309
Why not make of your own, it will be more flexible

[2017-10-31 16:33] acinader commented on #4310
My suggestion is to take a look at how unit testing is done on the parse-server repo itself.

https://github.com/parse-community/parse-server/blob/master/package.json#L75

is the command that runs the tests.  Which looks complicated, but basically its just invoking jasmine.

The jasmine config: https://github.com/parse-community/parse-server/blob/master/spec/support/jasmine.json

The helper.js tha

[2017-10-31 16:41] flovilmart commented on #4310
There is also this test runner that we wrote:

https://github.com/AmpMe/parse-server-test-runner

[2017-10-31 16:51] acinader commented on #4310
look at that!  nice.

[2017-10-31 16:52] flovilmart commented on #4310
We use it extensively for everything, that's very nice to test e2e cloud functions etc...

[2017-10-31 21:28] nbering commented on #4309
Parse isn't really meant to be the backend for third-party redistributable apps like that. It's more of a rapid-prototyping framework that allows mobile app developers to get something going quickly without a lot of back-end work.

You *could* build an ecommerce solution on Parse, but much like the eCommerce platforms built on WordPress, I wouldn't necessarily think it's an ideal way to build a se

[2017-10-31 22:37] flovilmart commented on #4309
That being said, you can use Parse server as a base and build pretty much anything on the top of it.

[2017-10-31 23:16] ogtfaber commented on #4124
See https://github.com/parse-community/parse-server/issues/411

[2017-11-01 00:49] Sadmansamee commented on #4309
@nbering I think it can be secured with proper ACL and CLP usage

[2017-11-01 02:25] nbering commented on #4309
Ya, I'm not saying you couldn't do it. I'm just saying if you want a boost to build something fast in the e-commerce space, look to something like Shopify. That's what it's built for. I'm sure there are other solutions out there as well.

[2017-11-01 17:14] woodardj commented on #4068
Okay, new info on this, (and might perhaps provide some insight for #3975 ? ) Or might also belong on the iOS SDK repo.

These are being caused by a `Content-Length` mismatch with body length on some POSTs. Frequently with a body of `{}`.

I found this discussion over on body-parser: https://github.com/expressjs/body-parser/issues/207 that might be relevant as well.

[2017-11-01 17:35] woodardj commented on #4085
Sorry to pick up a convo on a closed thread — when I've installed those tools (used NewRelic for a bit, using OpBeat now), the level of granularity I get is always no better than:

![screen shot 2017-11-01 at 11 33 12 am](https://user-images.githubusercontent.com/557897/32288099-7e0a5158-bef8-11e7-8746-ce51a631fa37.png)

i.e. things within the parse-server application are totally opaque, so I can'

[2017-11-01 18:55] frangulyan opened #4311 "Live queries not fired for objects with Role ACL protection when _Role objects are not publicly open"
I have Role class with read-only CLP and objects in it with Master Key Only ACL.
I have class A (read/write CLP) on which I want to do live queries, it's objects are protected by ACLs giving a read-only access to a particular role. Then I subscribe for live query from iOS SDK with a user which has the correct role for the given object. When I change objects the live query events are not fired back

[2017-11-01 19:59] flovilmart commented on #4085
It’s usually because your injection of newrelic or other is not the 1st require.

[2017-11-01 20:59] frangulyan commented on #4311
Similar discussions were found here - [106](https://github.com/parse-community/ParseLiveQuery-iOS-OSX/issues/106), [2018](https://github.com/parse-community/parse-server/issues/2018),[349](https://github.com/parse-community/Parse-SDK-JS/issues/349), [40](https://github.com/parse-community/ParseLiveQuery-iOS-OSX/issues/40)

[2017-11-01 21:04] woodardj commented on #4085
Procfile:
[code]

bin/webstart:
[code]

index.js:
(newrelic where we tried that a while back, then commented out)
[code]
🤷‍♂️
So, I guess we're doing something else wrong when invoking this. Thanks for the insight, since this is clearly outside scope of parse-server, but it is good to know these tools work better than what I'm seeing for node. Any other thoughts welcome, though.

[2017-11-01 21:08] flovilmart commented on #4085
I have no particular insight on opbeats, but we manage to successfully use either appDynamics, newRelic or even google cloud trace without any issue, as long as we loaded this module first.

[2017-11-02 03:48] jcguarinpenaranda commented on #4278
I have the same question, I want to able to scale parse-server to be able to process many requests per second. Right now I'm using Heroku, but off course it alone becomes a bottleneck when I start making lots of requests, and scaling it is manual unless you pay USD$250 servers and turn on auto scaling

## App Engine
I need help scaling this out! I already tried Google App Engine, but I have found

[2017-11-02 05:06] jcguarinpenaranda commented on #4278
I have also found Hyper.sh, but I don't know how it manages auto scaling

[2017-11-02 09:15] suathh commented on #4300
ping @acinader @flovilmart any thoughts ?

[2017-11-02 10:14] dongalor commented on #4256
i have upgraded to 2.6.5

0|parse-wr | verbose: _PushStatus n59yItvDR0: sending push to 1 installations
0|parse-wr | verbose: Sending push to 1
0|parse-wr | verbose: _PushStatus n59yItvDR0: sent push! 0 success, 1 failures
0|parse-wr | verbose: _PushStatus n59yItvDR0: needs cleanup devicesToRemove=[]

is it the same issue?

what is needs cleanup devicesToRemove?

[2017-11-02 13:10] checkaayush opened #4312 "Is there some way to add comment (akin $comment in MongoDB) in Parse query?"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/parse-community/parse-server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use thi

[2017-11-02 13:30] trylovetom commented on #3803
ELB check the app health by `get /` index route. If you don't handler this, ELB will show the Warning. Add the index route and response something with http code 200.

[2017-11-02 13:35] trylovetom commented on #4309
We build e-commerce based on parse for user system core. Parse can let us build app fast. And we write another service in express for billing and paying. Parse is great, but it's not good choice for full e-commerce.

[2017-11-02 16:14] flovilmart commented on #4312
Not at the moment.

[2017-11-02 16:14] #4312 closed

[2017-11-03 05:31] montymxb commented on #3747
Going to go ahead and close this out now that the feature is merged in. Feel free to keep discussing however, if anything significant comes up feel free to open up another issue or let us know to pop this one back open, whichever works.

Also relevant PRs look to be open on the sdks. From here I'll see if we can't get those in place now 👍 .
- [iOS](https://github.com/parse-community/Parse-SDK-iOS-

[2017-11-03 05:31] #3747 closed

[2017-11-03 12:15] dongalor opened #4313 "2.6.5 not sending pushes, went back to 2.4.2, pushes are ok"
### Issue Description

Updated to 2.6.5, pushes not working, i'm having problems with pushes:

Went back to 2.4.2:

`npm install parse-server@2.4.2 --save`

everything is working well

I've seen #4256, and I've seen this comment, which might be related to my problems:

#### Expected Results

I'd like to have most recent version, cause I feel like lack of performance issues updates in last versions

[2017-11-03 12:16] #4310 closed

[2017-11-03 12:17] flovilmart commented on #4307
In beforeSave, you can abort the save by calling response.error() but not return a different object.

[2017-11-03 12:17] #4307 closed

[2017-11-03 12:30] flovilmart commented on #4313
Can you provide your push configuration please?

[2017-11-03 12:44] brianyyz commented on #4313
Over on SO there is lots of chatter about APNS arbitrarily throttling delivery of data pushes and a new process DuetActivitySchedulerDaemon that can intercept a push notification that has been successfully delivered to your device and prevent it from being delivered to your appDelegate based on things like frequency of the silent notifications and battery state.

I spent two days trying to figure

[2017-11-03 12:56] flovilmart commented on #4313
What's bugging me is that the push adapter is not reporting/logging the error when sending the push. As you're running with VERBOSE=1, and the failure was related to APNS not being able to transmit, it should be logged. There isn't any other logs related to the parse-server-push-adapter? Can you try the same running the sever locally and targeting the push with your test device? (also, provide you

[2017-11-03 13:10] mman opened #4314 "HTML password reset does not work for @yahoo.com accounts"
### Issue Description

Using both plain text and html templates for password reset. Both templates use the ``{{link}}`` macro to expand the password reset link. Works like a charm for all users except for those who have @yahoo.com email address.

Yahoo does something to the email while receiving it that the password reset link can not be clicked. This is what I see when opening the raw email messa

[2017-11-03 13:14] mman commented on #4314
Just for completeness, this is my html template fragment that does the change your password link:

[code]

The template itself is a bit more complex with some CSS and styling attached. The email comes to the host ``mail.example.com`` and is pointing back to ``api.example.com`` host for password reset.

[2017-11-03 13:27] flovilmart commented on #4314
That's shitty, what do you use to deliver the emails? Do other emails sent with your provider are equally borked?

[2017-11-03 13:44] mman commented on #4314
I'm using mailgun.com and everywhere else it works as expected (@gmail.com, @icloud.com, ...), it's just the HTML email delivered to @yahoo.com. I had a conversation with mailgun guys where they explained to me that they need to do certain tricks to even deliver the emails to @yahoo.com.

I just want to confirm whether this has something to do with my HTML templates, or is it a wide spread issue.

[2017-11-03 13:55] flovilmart commented on #4314
We don't use email login in our apps, so I'm, not sure it is widespread or not. I don'T believe it's an issue with the way we do templates, but perhaps it is.

[2017-11-03 14:41] AppOrchestra commented on #4278
@jcguarinpenaranda  Can you set your instances to have more memory then?  What do you have in your app.yaml for the scaling configuration?

[2017-11-03 15:27] flovilmart opened #4315 "_PushStatus stays stuck as 'running'"
When sending large number pushes, the push pipeline originally evaluates the amount of push to send by running a count on the _Installations table. This count is then stored in the `_PushStatus` object and decremented each times the PushWorker completes the push send.

Now, it creates multiple issues.
- If the pushWorker fails to dequeue tu PushWorkItem, this will never be retried, therefore the c

[2017-11-03 18:42] jcguarinpenaranda commented on #4278
Thank you,

Yesterday I read again the documentation for Elastic Beanstalk and saw that they charge you only for the EC2 instances you use, contrary to Google, that handles a different way to charge you when you select the `flex` environment.

I ended up using t2.small instances with double the RAM of Heroku, at a third of the price ($16.56 vs $50), so I'm very happy now. Also, with more memory I

[2017-11-03 20:03] ArchonLight commented on #166
I've been stuck for 3 weeks with this problem. It happens when I call saveInBackgroundWithBlock in parse ios sdk. I get the same connection refused in my logs as *candork* does. I am desperate to fix this. Our app is completely blocked. It's completely random and I cannot reproduce it using any steps. Sometimes it fails, sometimes it doesn't.

[2017-11-03 20:11] montymxb commented on #166
@ArchonLight If you can provide details/logs of the _specific_ request causing the error, and any relevants logs server side, that would be most helpful.

[2017-11-03 20:13] flovilmart commented on #166
This is likely to be caused by a 5xx error on the server, or an uncaught exception that would make the error not being properly set in the response. OR a response from a proxy, that terminated the connection without responding with a JSON response.

[2017-11-03 20:20] ArchonLight commented on #166
**My object to save in mongoDB:**
Printing description of photo:
<Photo: 0x1c08d4a50, objectId: new, localId: (null)> {
    city = Powell;
    imageUrl = "http://res.cloudinary.com/xxxxxxxx/image/upload/v1509739983/dnx04b374qe0khgru1rh.jpg";
    likes = 0;
    trip = "<Trip: 0x1c0eaba00, objectId: jAcW7QEIsu, localId: (null)>";
    tripName = "Test again";
    user = "<PFUser: 0x1c02e3e80, objectI

[2017-11-03 20:29] flovilmart commented on #166
what about your parse-server logs? did the process crash?

Because: 60670 connect() failed (111: Connection refused) while connecting to upstream

[2017-11-03 21:29] montymxb commented on #166
Is it always marked first by `upstream prematurely closed connection while reading response header from upstream`, with the following connections refused? That does seem a lot like a crash :/. It would definitely help to the corresponding parse-server logs.

[2017-11-03 21:40] montymxb commented on #4314
Geez, they're just encoding the entire thing -_-. That is super weird. We've dealt with yahoo.com issues in the past, particularly with multipart text/html emails, but never saw an issue with them failing to decode links afterwards. For it to be specifically yahoo is a bit suspicious though.

I'm curious, I'm going to take a look and see if something has changed with their handling.

[2017-11-03 22:02] montymxb commented on #4314
@mman Nothing out of the ordinary for our stuff, links in yahoo look fine. Granted I tested with a direct send, not with mailgun. Just curious, what transfer encodings are being used in the parts of the received email? We run with the following:
[code]
From what we've seen encoding with `base64` and `quoted-printable` works pretty good for us, even on some of the weirder hosts.

It's possible that

[2017-11-03 22:03] flovilmart commented on #4314
Maybe there’s some tweaking to do in the html payload / metadatas sent through the mailgun API? That seems bending over backwards.

[2017-11-03 22:32] montymxb commented on #4315
Have there been issues dequeuing? For handling a failure it makes sense that we would just indicate it as failed like it is.

As for relying on `count`, we could add a relation of `devices` or `installations` to  `_PushStatus`. Instead of just storing the count we could actually add the installations to the relation. As the pushes are sent we would just drop them from the relation. Would be pretty

[2017-11-03 22:38] flovilmart commented on #4315
That would be utterly inefficient, having to do n additional writes on the server befor sending the push’s.

The count is only used to know how many batches we need to send in a distributed manner (keep in mind we have 20+ parse-server instances with as many push workers).

Count also used as décrémented after the worker completed the job, main issue is that count in unlikely to reach 0 and PushSt

[2017-11-03 22:39] flovilmart commented on #4315
We haven’t seen any issues dequeuing, and it doesn’t matter, we don’t guarantee delivery yet, and this should be at the queue level that it should be solved, ie: the message should be put back in the working queue if processing didn’t start

[2017-11-03 22:50] montymxb commented on #4314
Perhaps. I just looked and didn't really see anything about setting outgoing encodings from the API, but I _think_ they go to `quoted-printable` by default, not really sure though.

@mman can you specify what adapter you're using? There's the default and some community ones, and perhaps you have your own too. Knowing how the api is being interacted with would be a start.

[2017-11-03 23:04] jcguarinpenaranda opened #4317 "Check out this module for Parse.Cloud"
Hello,

First I want to thank all the community for being so active, and the people who are working so we can have new versions of `parse-server`.

I have been working with `parse-server` some time after Parse announced they were not going to continue, and I want to share with you a module I created for being able to manage more easily the Cloud Code. It is called __ParseCloudClass__ and you can s

[2017-11-03 23:08] #3980 closed

[2017-11-03 23:09] flovilmart commented on #4317
That’s a Neat little project you got here! I was thinking about discovery of such ‘addons’ / community packages, and that would be nice if published as: parse-server-addon-YOUR_PACKAGE_NAME

what do you think?

[2017-11-03 23:31] jcguarinpenaranda commented on #4317
Very nice!

Right now it is published as `parse-cloud-class`, but I can move it to `parse-server-addon-cloud-class`

[2017-11-04 00:29] jcguarinpenaranda commented on #4317
Now it is changed, and available in npm as `parse-server-addon-cloud-class`. I will be working on other addon for Algolia

[2017-11-04 01:42] montymxb commented on #4315
It would be super slow, but it wouldn't miss! But that would be _too_ slow most likely. If I'm understanding this right the query used to get the original count is later used to continue to provide `_Installation` objects right? As far as preventing new objects from messing it in you could just add a time constraint to the query to limit results to anything less than the moment the `_PushStatus` w

[2017-11-04 04:04] flovilmart commented on #4317
Awesome! That will probably help discovery! I’ll check with others if we wanna move adapters to the same pattern parse-server-adapter-*.

[2017-11-04 04:07] flovilmart commented on #4315
In any case, counts are unreliable, and documented as such on mongodb. So, for all that matters, it’s useful to estimate the count but not more. Also, for the sake of consistency, if an object enters the scope of a push, it should be included, even if there’s some latency. Otherwise, that’s a constraint on updatedAt we should add, which is unacceptable also, as may conflict with user defined const

[2017-11-04 04:21] montymxb commented on #4315
Yeah :/, modifying the query could mess with a user defined constraint. I'm assuming you're talking about [sharded cluster counts](https://docs.mongodb.com/manual/reference/method/db.collection.count/#sharded-clusters), considering that it would make sense we can't really trust it.

In lieu of anything from my end could you elaborate on some of those fixes you proposed initially?

[2017-11-04 06:00] jcguarinpenaranda commented on #4317
As promised, I did the Algolia addon I was talking about:
https://github.com/owsas/parse-server-addon-cloud-algolia

It is available in npm as `parse-server-addon-cloud-class-algolia` :) and keeps in sync the data between Algolia and the PostgreSQL or MongoDB database you use in `parse-server`

[2017-11-04 14:26] flovilmart commented on #4317
Pretty cool! I’ll make a PR on the README, so other users know about this new convention for community packages discovery.

[2017-11-04 14:26] #4317 closed

[2017-11-04 18:16] mman commented on #4314
I'm using ``"parse-server-mailgun": "^2.0.0"`` as the adapter and copy pasted the config from readme, like this:

[code]

So I wonder whether my .html can have some garbage in it that will confuse either parse server, or mailgun, or yahoo...

But given the fact that all other email addresses are working, I bet it's something towards the yahoo.com side...

[2017-11-04 20:45] montymxb opened #4320 "Passing AWS credentials Deprecation Notice"
Noticed the following deprecation notice in our tests.

- AdapterLoader should load S3Adapter from direct passing
    - Passing AWS credentials to this adapter is now DEPRECATED and will be removed in a future version See: https://github.com/parse-server-modules/parse-server-s3-adapter#aws-credentials for details

The test being in [AdapterLoader.spec.js](https://github.com/parse-community/parse-s

[2017-11-04 20:51] montymxb commented on #4314
I'm wondering if that's the case. When I have a moment I'll put together something to test this out against mailgun and see if I can't dig something up or find a way to work around what's going on here.

[2017-11-04 22:24] flovilmart commented on #4314
@mman, this may be a stupid question, but what happens when using mailgun from the JS SDK / another SDK and sending those mails?

[2017-11-05 04:36] jcguarinpenaranda commented on #4317
Can you please post these repos to parse-server-modules ?

[2017-11-05 13:16] flovilmart commented on #4317
What do you mean by that?

[2017-11-05 14:19] jcguarinpenaranda commented on #4317
I see that in that account or repository you have linked several adapters for parse-server. Community made addons can appear there?

[2017-11-05 14:24] flovilmart commented on #4317
Those are not linked. This organization was created when Parse-server was still under facebook’s management and for official adapters/reference implementations. Now, while your addons are quite useful in certain scenarios, I don’t believe they should live under this organization as it would form some kind of endorsement / official support. We have our hands pretty busy already, and i was actually

[2017-11-05 18:05] flovilmart commented on #4315
Closing as done!

[2017-11-05 18:05] #4315 closed

[2017-11-05 18:09] flovilmart opened #4321 "Getting started with Parse-Server"
We have many guides out there, all introducing a different way to get started with parse-server:

Here: https://github.com/parse-community/parse-server#running-parse-server, through global installation,

Here: http://docs.parseplatform.org/parse-server/guide/#getting-started, with the bootstrap script (very powerful IMHO)

or the parse-server-example.

This may be a bit complex for a new comer to

[2017-11-06 01:30] jcguarinpenaranda commented on #4317
Ohh I understand, I thought it was a list of repositories that would work
with parse-server, made by the community. Thank you!

2017-11-05 9:24 GMT-05:00 Florent Vilmart <notifications@github.com>:

[2017-11-06 07:00] agwl-saurabh commented on #4278
Hi @jcguarinpenaranda ,

I was very busy so not able to help on this form. As i mentioned in my main comments I found Elastic Beanstalk best and cheapest option on all the option available right now. for large app. for small app digitalOcean is best.  Please let me know if you need any specific help needed for the setup.

Please let us know wt test you are running so it will be helpful for all.  a

[2017-11-06 09:57] tejpratap46 commented on #4317
We can do a **Awesome Parse Server** list.

[2017-11-06 16:40] Sadmansamee commented on #2534
@flovilmart  what will be alternative for pm2? what is the best approach way?

[2017-11-06 16:43] flovilmart commented on #2534
DEPnding how/where you deploy, pm2 may be extraneous.

[2017-11-06 18:19] montymxb commented on #4314
@mman I went ahead and setup a little test server with `parse-server-mailgun` as the email adapter and sent using the mailgun sandbox api. The link in the final email looked just fine the first time around. Here's a snippet of the plain & html parts.
[code]
Notice that both part encodings are `7bit` and the link is as expected.

 However I realized that you were dynamically adding the link when yo

[2017-11-06 18:40] montymxb commented on #4314
After looking a bit further at mustache I found the following in their [docs](https://mustache.github.io/mustache.5.html#Variables).

Went ahead and tried this out on my test setup and it worked just fine 👍 .

[2017-11-06 18:41] flovilmart commented on #4314
So that's a moustache issue then!

[2017-11-06 19:02] montymxb commented on #4314
Yep, normal behavior, just need to change the template to get the expected results. Closing this out since that's pretty much it.

@mman let us know that this does actually work for you. I'm expecting it will, but in any case keep us posted!

[2017-11-06 19:02] #4314 closed

[2017-11-06 19:54] mman commented on #4314
@montymxb @flovilmart I have now updated both the .txt and .html template to quote all variables using ```{{{``` and `}}}``` and it indeed works as expected and Yahoo users can click the password reset link. Looking at the raw email body it also looks much better. I was not even aware there is mustache involved but I thank you both a lot for your effort +1 +1 +1 +1 :)

Looks to me that the docs wi

[2017-11-06 19:57] flovilmart commented on #4314
That's great news! Thanks @montymxb for tracking it down!

[2017-11-06 20:14] mman commented on #4314
Just to follow up, the README at https://github.com/sebsylvester/parse-server-mailgun already mentions that ``{{{link}}}`` needs to be escaped using ```{{{``` and ``}}}``. Thanks all for your help.

[2017-11-06 20:54] flovilmart commented on #4314
hahah so it was actually documented! easy to miss though.

[2017-11-06 22:09] montymxb commented on #4314
Sure thing, and of course it was right there the whole time -_-

[2017-11-06 23:07] decoyfox commented on #4320
seeing this issue as well

[2017-11-06 23:08] flovilmart commented on #4320
@decoyfox, it’s not an issue, you should follow the instructions as the original behavior will be removed soon.

[2017-11-06 23:27] thomascoope opened #4326 "Querying All Sessions Via REST API displays incorrect session tokens"
### Issue Description

We are finding that the REST API sessions GET request returns incorrect sessionToken for the numerous sessions associated with the user.

In all JSON objects, the sessionToken field is displayed as the same current sessionToken value.

### Steps to reproduce

returns the following JSON:

[code]

#### Expected Results

The session token in all but the top result is different

[2017-11-06 23:51] flovilmart commented on #4326
Thanks for reporting the issue, we’ll have a look. Do you want to try to fix he issue? That’s a good way to get started with the codebase and the solution should be trivial.

[2017-11-07 01:03] thomascoope commented on #4326
It's outside of my competency level, however my colleague @ian-dowhile might be able...

[2017-11-07 01:13] thomascoope commented on #4321
Generally, it would be good if we could make Parse-Server-Example the "front page" showcase of Parse Server. This is where most new users are going to start out & the documentation should reflect this?

More advanced developers will then head off to the main parse server report (which clearly requires greater general knowledge to set up without the frameworks provided in Parse Server Example.

[2017-11-07 01:19] thomascoope commented on #4321
I prefer the content layout & style of the bootstrap edit too personally.

Presumably most of this content  was from the parse.com days? Where did the separate Github content come from?

[2017-11-07 01:24] thomascoope commented on #4306
This is more a hosting & systems administration  issue than a Parse Server bug.

You might do well asking on Stack Overflow.

In the meantime, deploy Parse-Server-Example into Heroku & have a poke around. You might learn a little more about the setup & issue with a working example to have a poke around with.

[2017-11-07 01:38] flovilmart commented on #4321
Did you have a look at the bootstrap.sh script, as documented in the docs/parse-server guide? It literally takes 1 minute to get the server running, without prior knowledge of git or npm.

[2017-11-07 07:23] thomascoope commented on #4321
As a beginner I started with Parse Server Example (due to the Heroku app link).

At the time, this seemed the "friendliest" mode of getting up & running.

I suppose my question is does this need better explaining in the docs (or is it me not reading it properly in the first place)?

I'm looking at it from the point of view of a semi competent Dev (which is where Parse was initially supposed to ass

[2017-11-07 07:48] dongalor commented on #4313
I'm running with VERBOSE=1

My push configuration is:

push: {
        ios: {
            pfx: "/path/to/certs/file.p12",
            passphrase: "",
            bundleId: "com.company.AppName",
            production: true
        }
    },

I'll try running it locally, and report my results. Thank you in advance!

[2017-11-07 13:11] brianyyz commented on #4313
Small point not directly related bundleId is deprecated and replaced with topic.

[2017-11-07 13:20] natanrolnik commented on #4306
@christianbalderrama I'm closing this issue for not being related to Parse Server itself. Please ask the question on Stack Overflow or ServerFault.com and post the link here for reference.

I personally recommend you checking out [MongoDB Atlas](https://www.mongodb.com/cloud/atlas), MongoDB's database as a service product. It might be more reliable and enough for your needs.

[2017-11-07 13:20] #4306 closed

[2017-11-07 17:43] agwl-saurabh commented on #4321
When i started using parse server i almost have no knowledge of server set up. we all was using parse because we don't have server knowledge. I tried all option which was listed in parse GitHub including alternative parse provider. but i found AWS button best option to run the server.  still i don't know how to run "bootstrap.sh" today i tried to run as per the document but not able to run the ser

[2017-11-07 19:34] jcguarinpenaranda commented on #4278
Hi @agwl-saurabh. The test I'm making is the same test I was showing in the graph of Heroku, with around 4 rps. I'm using Typescript, so on `postinstall` I was running `tsc .`, and I had to change it to `prestart`, because I saw Elastic Beanstalk does not support the first one.

[2017-11-07 19:54] flovilmart commented on #4321
Did you check he docs here: http://docs.parseplatform.org/parse-server/guide/. Just at the beginning, can you tell me what you don’t get about:

[code]

[2017-11-07 20:23] montymxb commented on #4321
If we can keep the existing varying approaches, but consolidate them like @flovilmart stated originally, I think that would be pretty handy. I don't think we should necessarily get rid of things like the parse-server-example repo, but it would be much easier if we consciously choose to focus on a singular place for updates as we make changes, new features, etc. We could update the other examples i

[2017-11-07 21:18] flovilmart commented on #4321
Which begs the question, what makes a good getting started experience? How do we measure it? I’m biased toward scripts as many popular projects employ this method (rvm, homebrew etc...)

Should we embed a small CLI that help configuration of adapters, express server, etc?

There are 2 main usages of parse-server, stand-alone and mounted on express, the parse-server CLI actually mounts on an expres

[2017-11-08 00:59] montymxb commented on #4024
Just bumping this, I think this would be 💯 % awesome to put this in. If I were to just brainstorm off the top of my head this is what comes to mind.

- Default adapter for 2FA, allowing other services to be added if they pop up
- optional `twoFactorEnabled` on `_User` to track whether or not this is even an option
- `twoFactorSecret` for this user (if the above is set), could screen this field awa

[2017-11-08 01:05] flovilmart commented on #4024
That would be at session token emission level, when enabling 2FA, all sessions would be destroyed, the 2FA logIn flow could force having an additional ‘code’ property alongside username/email + password, I dot believe there’s a need for a temporary state (valid username + pass) waiting for ussename + password. Also, providing username + code only should work instead of username + password ?

[2017-11-08 01:09] flovilmart commented on #4024
Perhaps providing the 2FA code in je password field would be ok-ish, not sure...

[2017-11-08 01:11] montymxb commented on #4024
The username and the code combined would have to be something separate, but it would some  stage so you can't just jump to it unless you've already logged in.

The thought of having 2FA directly with the username and password did occur to me as well. Normally it's requested separately, but honestly I can't think of a good reason why it's _not_ requested up front. If we did, we just authorize on an

[2017-11-08 01:14] montymxb commented on #4024
The thing above would have to be something like `login` and then `validateTwoFactor` being the second required step, if it were separate that is.

The only issue with having the password and two factor go together is when your 2nd factor is something like a static code that's generated upon successful login. You wouldn't be able to get your code to login with until you had successfully logged in i

[2017-11-08 01:18] flovilmart commented on #4024
To enable2FA you usually have to provide the generate code to guarantee he user has property setup his account, so no chance to get locked out. Maybe an endpoint /enable2FA that takes the sessionToken (you need to be loggedin) and the 2FA code, if you fail to provide a valid code, your account stays 1FA secured, upon success, the sessionToken gets regenerated, and 2FA is enforced

[2017-11-08 01:28] montymxb commented on #4024
Yep, for setting it up the user would have to successfully provide the proper 2F code at least once before it can be enabled. Could split that up into something like `requestEnableTwoFactor` and `enableTwoFactor`. The first endpoint taking the current sessionToken and returning anything necessary to setup 2FA on their second factor. The second endpoint taking the expected 2F token from that user a

[2017-11-08 10:30] SebC99 opened #4327 "When querying a (large) class on a non-existing, parse causes huge amounts of iOPS on Mongo"
### Issue Description

I have a collection (parse class) with more than 8M documents in it, and when we make a query on a non-indexed field, or even worse on a non-existing field (by mistake), it leads to huge amount of iOPS on MongoDB instances, which leads to a hang of the parse server becoming unreachable (timeout issues).
When I run the same queries via a mongo shell, it takes some time (aroun

[2017-11-08 11:56] flovilmart commented on #4313
@dongalor do you have some more logs for us?

[2017-11-08 13:15] cipiripper opened #4328 "Users signed in using OAuth have only 1 sessionToken per Sign-In"
### Issue Description

We use Google OAuth to sign in users to to parse-server. We require users to be signed in from multiple devices.

If user signs in from website using his Google account (parse JS SDK), he gets session token r:AAA.
Then he signs in on mobile device (parse IOS SDK), gets session token r:BBB, and token r:AAA gets removed, and website session signed out.

Problem seems to be in

[2017-11-08 13:15] brianyyz commented on #4313
@dongalor would you be able to share the code that is creating the push payload as well ?

[2017-11-08 16:11] cipiripper commented on #4328
Okay this as well `RestWrite.js`:
[code]

So when user logs in, all his SessionTokens from this installationId get removed... _Why(infinity * ?)_

[2017-11-08 17:21] flovilmart commented on #4328
this only destroy the session for the `this.auth.installationId` so should never affect other sessions that were created on other devices.

[2017-11-08 17:27] montymxb commented on #4328
@cipiripper Looking back in the history it looks like this was changed in #4143 to address #2885, as this was a bug and not expected functionality. You can see this is noted in the [docs](http://docs.parseplatform.org/js/guide/#sessions) as well. The history there indicates this language was present in the initial commit so it probably was the same for **parse.com**.

[2017-11-08 19:08] montymxb commented on #4328
To agree with @flovilmart this shouldn't cause you a problem as it's just clearing duplicates for multiple sessions with the same `installationId`. The device and browser session shouldn't conflict with each other in this regard, unless a matching installationId was being set onto the web session for some reason.

[2017-11-08 19:11] cipiripper commented on #4328
Thanks for your feedback guys, I will investigate this some more...

[2017-11-08 19:24] montymxb commented on #4327
@SebC99 That's not so great :/. This is a hard one for us to replicate... Can you provide details on the queries involved as well as the relevant structure of the classes that this happens on (omitting anything extraneous or sensitive as you need to). If there's nothing suspicious you should take profiles of parse-server while this happening, could help pin down what's causing all the activity a b

[2017-11-08 19:25] flovilmart commented on #4327
perhaps the IOPS happened because data went to RAM, then everything was read from there no?

[2017-11-08 19:26] flovilmart commented on #4327
In any case I recommend you to use the `maxTimeMs` to prevent stalling the DB.

[code]

[2017-11-08 19:44] montymxb commented on #4309
Parse can work just fine as a backend and your base, but for billing/payments there are great services out there you can use from Stripe, Braintree, Square, etc. No reason why you couldn't build a platform using parse, or in anything else for that matter, and process your payments with a 3rd party.

[2017-11-08 20:01] mman opened #4330 "feature request: improved error reporting when 'invalid session token' logged"
### Issue Description

I'm receiving many 'invalid session token' error messages in the log, it's in fact around half of my requests now and although I caught several obscure ones from very old client SDK versions that I can't update and that are trying over and over, I'm also receiving many new with r:XXX format. Some of these are legitimate 'first try' from a device after the user password was r

[2017-11-08 20:21] montymxb commented on #4326
@thomascoope I think I see the fix, I'll take care of this.

[2017-11-08 21:41] danielsanfr commented on #4020
Anyone have any ideas how to solve this problem? I would be very happy if this worked.
I need an application to have only 1 session per user and I can not do this in a way that I believe is safe.

[2017-11-08 21:46] JulienLevallois opened #4331 "Generate dynamic html page with custom OG:Image"
Hi ! I want to share a link to invite friends in my app. I want to share a link with a custom OG:Image by user.

Does anyone have an idea of how to do it?

Thanks

[2017-11-09 00:24] montymxb commented on #2268
You can set a timeout in the configuration for your parse-server to prevent excessively long queries from causing significant overhead.
[code]

[2017-11-09 00:24] #2268 closed

[2017-11-09 11:44] SebC99 commented on #4327
@montymxb who can I get that profile of parse-server?
Even with VERBOSE I can only the requested url in logs:
[code]
And then I have this peak in IOPS.

I have a "Place" collection, in which there's 8 millions document. This class doesn't have any field named "owner", but I try to query on this field:
- through Parse server: IOPS peak
- same query in mongo shell (`db.Place.find({"owner" : "me"})`)

[2017-11-09 19:48] paulovitin commented on #3856
Can I help here @flovilmart ?

[2017-11-09 20:53] gyratorycircus commented on #3432
It looks like while this was addressed for `/users/me`, authenticating via `/login` still returns `_email_verify_token`.

[2017-11-09 21:26] flovilmart commented on #3856
I could yes! Dropped the ball on this one, could you as well?

[2017-11-10 01:13] montymxb commented on #3432
@gyratorycircus checking against parse-server **2.6.5** I don't see the token leaking from the `login` endpoint. Can you indicate what version of parse-server you observed this in?

[2017-11-10 01:21] montymxb commented on #3432
Took a second look based on the PR submitted above. Can confirm this is present under the `login` endpoint.

[2017-11-10 02:13] montymxb commented on #4327
As far as profiling goes there a # of choices, but V8 has a built in one that node js talks about [here](https://nodejs.org/en/docs/guides/simple-profiling/) that would be handy.

Thanks for adding those extra details by the way. I would think that it would simply check `_Schema`, see that the field in the query does _not_ exist, and simply return out. But instead, from what you're describing, it

[2017-11-10 02:35] flovilmart commented on #4327
Ost probably because we add the additional _rperm constraint, making the issue even worst

[2017-11-10 07:47] dongalor commented on #4313
Here's my code, which I use to test my pushes:
https://gist.github.com/dongalor/96d13ee1b0344d222f4a4caf899bd8ed

[2017-11-10 12:18] nharbo opened #4336 "Problems with contacting 3rd party API from Parse Nodejs backend"
### Issue Description

I'm using Parse as a backend for my web-app. It's hosted on Amazon.
I have to send an email from my node-js server, through Amazons SNS, which i'm doing with the npm-package 'node-ses'.

I set up a cloudcode function, taking my parameters as informations for the content.

This is how my cloudcode function looks:

[code]

#### Expected Results

When the cloudcode is called fr

[2017-11-10 12:26] flovilmart commented on #4313
If you run the query on itself does it work?

[2017-11-10 14:47] paulovitin commented on #3856
I will look this. 👍

[2017-11-10 14:52] flovilmart commented on #3856
@paulovitin what version of parse-server are you running?

[2017-11-10 16:37] paulovitin commented on #3856
None yet. I will check with the version 2.4.0 and the current version.

[2017-11-10 16:37] paulovitin commented on #3856
@flovilmart None yet. I will check with the version 2.4.0 and the current version.

[2017-11-10 16:59] doender commented on #3832
I have the same issue. I believe this is a bug?

[2017-11-10 19:11] georgesjamous commented on #3451
@fott1  but lets say we need to implement password validation before the user modifies his account information in the application. And we ask the user to supply his password then perform a login with the provided password and the existing user's username.

Eventually this action over time will create many unusable session and the Session class with then have thousands of garbage sessions.

How do

[2017-11-10 19:12] paulovitin commented on #4336
The client.sendMail never will be reached, because you return response before that.

[code]

[2017-11-10 19:30] paulovitin commented on #4313
I have the same problem here @dongalor.  What is the database you are using?

My problem is because Im using Postgres. The 2.6.5 version support "expiration_interval" now. When we update the version, the column in _PushStatus is missing then, the push notification stops. I added the column manually and works now.

When schema change, we need a better option to solve problems like this.

[2017-11-10 20:31] montymxb commented on #3832
@doender if you upload an encoded file to parse-server it will _not_ decode it for you. This is not a bug. Whatever is in the file you upload is what the file will retain when you download. If you want your file to to be accessible as a JPG, PNG, PDF, or any other format be sure to set:
- the appropriate content type (for proper interpretation on download)
- the file data as it would be read norma

[2017-11-10 20:34] montymxb commented on #4331
@JulienLevallois could you provide more details here? Not sure what the issue is exactly...

[2017-11-10 20:40] montymxb commented on #3451
@georgesjamous this has actually been fixed in #4143, effective in parse-server versions **2.6.1** and up. Must have missed this issue when we applied the change.

[Here's the changelog](https://github.com/parse-community/parse-server/blob/master/CHANGELOG.md#261) for that release as well. If you can't update to that version of parse you can check out the diff and apply a hotfix as needed, but we

[2017-11-10 20:44] montymxb commented on #4336
@nharbo you should probably upgrade parse-server to something greater than **1.9.2**, or at least test upgrading against your current database. There have been numerous fixes since then, it's possible your issue may have been resolved in a subsequent patch in any of the versions since then.

[2017-11-10 20:54] montymxb commented on #4313
@paulovitin If that's the case using **2.6.3** would work, as the `expiration_interval` was introduced in **2.6.5** (2.6.4 has a [CLI bug](https://github.com/parse-community/parse-server/blob/master/CHANGELOG.md#265) in it but you could use that too). I would think that the schema would have been auto-updated on start though.

[2017-11-10 21:42] paulovitin commented on #4313
@montymxb we have a docker auto-redeploy, and the auto-updated for schema doesnt happened.

[2017-11-10 23:44] georgesjamous commented on #3451
@montymxb we just updated to "parse-server": "2.6.5"  Check out the screenshot that I have included, sessions are being created for the same user-intallationid.

We submitted multiple user logins on iOS simulating the time where the user requires to verify his credentials.

![screen shot 2017-11-11 at 1 33 06 am](https://user-images.githubusercontent.com/17413496/32683020-c5890968-c680-11e7-8de1-e

[2017-11-10 23:48] flovilmart commented on #3451
what do you use to validate the passwords? The documented options of a beforeSave call? Can you provide more context with code please?

[2017-11-11 00:02] georgesjamous commented on #3451
We are login in the user normally on the device for password validation. (iOS)
We are only providing the password and using the current user's username to make sure they match.
As I understand this way should not create multiple sessions. (or am I wrong ?)
[code]

also in Cloud code we have completely remove beforeSave and afterSave on '_User' class.

This is our server configuration regarding ses

[2017-11-11 00:11] flovilmart commented on #3451
Can you provide the logs when running with VERBOSE=1 for those calls that make duplicated sessions? I have trouble understanding how this is possible, given the tests and code we have in place to prevent it in the 1st place.

[2017-11-11 00:24] georgesjamous commented on #3451
We just wanted to know at what point in lib/Rest.Write.js in parse-server the new session token is created. Its being created in ` _this.runDatabaseOperation` before reaching the `_this.createSessionTokenIfNeeded();`
I believe on line 1024 at
[code]
Hope this makes sense to you since at our stage we still don't have a clear grasp about the internal of parse-server, we are still messing around with

[2017-11-11 00:27] flovilmart commented on #3451
So basically you're calling login over and over even though the current user is currently logged in in the app, and you expect the session to stay the same or a new session to be created?

[2017-11-11 00:36] georgesjamous commented on #3451
Sometimes you need to verify the user's credentials even though the user is
logged in without login him out first, to secure some pages, don't you agree ?

It doesn't matter if a new session is created or the session is still the same, our concern is only that over time with thouthands of users, _Session class could get massive very quickly.

What I do expects, and I think it would be better over

[2017-11-11 00:50] flovilmart commented on #3451
I managed to write a test that encompasses this particular use case that was obviously overlooked.
It currently generates a new session token without destroying the old one.
For now it generates a new session token but never invalidates the old ones. The issue is located in UserRouter as it's creating the session directly in there. it's part of a refactor I wanted to put a while ago. On a fix now.

[2017-11-11 02:57] montymxb commented on #4313
I'll take a look and see if I can replicate this upgrade issue regarding `expiration_interval`.

[2017-11-11 14:41] #3451 closed

[2017-11-11 17:04] thomascoope commented on #4321
@flovilmart regarding your response to @agwl-saurabh (& possibly me), I get this documentation as I know what $ sh, $ npm, etc means & where you put it.

What was really powerful about the previous iteration of Parse (hosted) was that you could be just out of a beginners javascript course & work out how to get an API up & running.

Similarly, hitting the Heroku build, or similar option on Parse Se

[2017-11-11 17:45] montymxb commented on #4313
@paulovitin I can confirm that there is a Schema upgrade issue, but only in **postgres**. Mongodb looks to handle it properly. I'm going to open up a separate issue with further details on that specifically, including reproducability.

@dongalor if you're using postgres as your database it's possible that you're experiencing the same issue post-upgrade.

[2017-11-11 18:11] montymxb opened #4338 "Schema Upgrade Issue (Postgres)"
### Issue Description

When upgrading parse-server it's possible to have a situation where, if the default Schemas have been changed in parse-server, and the database is **postgres**, the underlying database is not updated.

### Steps to reproduce

Reproducing with a change in `expiration_interval` for `_PushStatus`.

1. Start parse-server **2.6.4** using a fresh db in postgres **9.5**. A garbage

[2017-11-12 16:18] nharbo commented on #4336
Thanks @paulovitin  - It was something I did for testing - but you're absolutely right! I just forgot to edit the code before pasting it here :-) But I found out, that the reason I was getting this error, was that the cloudcode function never returned a response - so I just moved the "return response.success()" down under the sns-method, and then everything worked perfectly.. :)

And yes @montymxb

[2017-11-12 19:00] #4197 closed

[2017-11-12 19:12] dplewis commented on #2238
Closes #2238 Via #4207

[2017-11-12 19:12] #2238 closed

[2017-11-13 10:16] IOsonoTAN opened #4342 "When i want to update some stuff but got error"
### Issue Description
I have a client they're using a Parse@1.9.2 in frontend and connect with ParseServer@2.2.14 so i have to fix some problem for them, i tried to create a new object, get detail or delete some object that all works fine but i can't update any object, it always return error code 101 and message is "Object not found."

### Steps to reproduce
1. I've mongoDB collection named "Artic

[2017-11-13 10:45] trylovetom opened #4343 "parse-server still alive, after I shutdown the http express server. In Unit Test"
## Issue Description

When I use `Jest` for unit test, I find some error from my `postgres` below.
[code]
I have 200 unit test modules. Before each unit test , make the new `parse-server`. After each unit test, use [http-shutdown](https://github.com/thedillonb/http-shutdown) for force shutdown.
Either mongo or postgres. After each unit testing, it's connection still alive.
I think `StorageAdapter`

[2017-11-13 15:23] thodinh opened #4344 "ACL on object field level"
If I don't like to use Parse Cloud Code Solution, how can I implement ACL on field level?
Because I want to grant permission on some fields for some people can update, some people only view, and some people won't see some fields?

Can I do it with a best practice solution?

Thanks a lot!

[2017-11-13 15:58] thodinh commented on #4344
Is it crazy if I create each role for each field, and create a high-level role is a set of children role?
E.g. I have a schema such as:
[code]
I'll a list of roles:
[code]
Example I have 3 group:
- Group A with Read-Write permission on fields: `field_1, field_2, field_3` so I will create a role with name: `group_a_role` with children role is:
[code]
- Group B with Read permission on fields: `field

[2017-11-13 16:21] dongalor commented on #4313
@flovilmart > If you run the query on itself does it work? ie: does it return installations?
yes

@montymxb, @paulovitin
no, I'm using mongodb :( that's sad

[2017-11-13 16:29] flovilmart commented on #4344
Yes pretty crazy indeed

[2017-11-13 16:30] flovilmart commented on #4344
The easiest way to realize it, would be to code a proof of concept yourself :)

[2017-11-13 16:32] flovilmart commented on #4313
Ok, I may have an idea, to be clear, your users hold the deviceTokens as well as the installation right?

[2017-11-13 18:49] woodardj commented on #1307
Hey @mtrezza — any chance you can elaborate? We see a lot of these as well, do you mean that the quantity of Cloud Code functions you have is causing issues? Or just disabling it altogether?

[2017-11-13 19:04] mtrezza commented on #1307
@woodardj all I found what it seemed to be a performance related issue. Upscaling the dynos in Heroku reduced the number of H28s.

[2017-11-13 20:38] TravisHeaver commented on #336
I am having this issue now as well. If I run:
npm install parseplatform/parse-server.git#latest --save
everything works fine. If I run:
npm install parseplatform/parse-server.git#2.6.5 --save
I get the same error: Cannot find module 'parse-server'. Changing nothing else about the project
npm install parseplatform/parse-server.git#master --save gives the same error

[2017-11-13 20:47] flovilmart commented on #336
The tagged commits are not built in the repo, for using a particular version, just use the npm package

[2017-11-13 21:04] TravisHeaver commented on #336
oh, my end goal is to actually build from my own fork... So in that case my best option is to... include all the build files in my fork commit?

[2017-11-13 21:18] flovilmart commented on #336
it's up to you, but you should have a look at how we release the latest branch, (in resources/npm-git.sh) if you need something similar.

[2017-11-13 23:44] JacobJT opened #4346 "Can't use a `matchesKeyInQuery`/`doesNotMatchKeyInQuery` where key == `objectId` and the queryKey is a pointer to the main query class"
### Issue Description

I have a class, ClassA, that I'm trying to query for.  I want to exclude all objects that exist as pointers on the results of a ClassB query.  In my case, the classB query finds all objects where the requesting user is attached as the User pointer on the object as well.  There is no way to use `doesNotMatchKeyInQuery` when the key I'm trying to match against is a pointer.

A

[2017-11-14 00:15] montymxb commented on #336
@TravisHeaver like flovilmart mentioned only what's on npm or in **latest** is pre-built. For everything else you would have to build up the necessary files yourself. You can checkout [npm-git.sh](https://github.com/parse-community/parse-server/blob/master/resources/npm-git.sh) and our [package.json](https://github.com/parse-community/parse-server/blob/master/package.json#L73) for more details.

[2017-11-14 00:26] montymxb commented on #4342
Seems like the object you're updating doesn't match what's on the server. As in, for the `objectId` you're setting by hand, the object cannot be found server-side. To confirm this you can try simply querying for your objects directly, making a change and saving them. If _that_ succeeds then it's likely the ids you're setting here manually are incorrect. Otherwise let us know, as it you might have

[2017-11-14 00:33] thomascoope commented on #1991
@dcdspace I'm experiencing the same issue.  Did you resolve this?

[2017-11-14 03:23] trylovetom commented on #4344
Write the fields level permission check module and put it in `BeforeSave Triggers`, `BeforeDelete Triggers`, `BeforeFind Triggers`.

[2017-11-14 09:42] yog27ray opened #4347 "API: /parse/users/me is not working returns 404 error code."
I was trying to login user by using ParseUser.becomeInBackground($sessionToken) from android device. On my server logs I received and error `GET /parse/users/me 404`.

Currently I am using ParseServer 2.6.5

[2017-11-14 10:09] faladinojames commented on #4347
Are you sure the sessionToken is valid?

[2017-11-14 11:00] trylovetom commented on #4343
Reference #3786

[2017-11-14 11:01] trylovetom commented on #3718
same here

[2017-11-14 13:23] steven-supersolid commented on #4327
As this is a database issue then the mongodb log file would help further diagnose. Both the parse query and the console query take more than 100ms so should both appear in the log. You should be able to download the log for the primary from Atlas on the Cluster Overview and restrict timestamps to cover the range of interest.

You may want to sanitize the log to remove data or if you are up for it

[2017-11-14 13:42] jeremypiednoel commented on #3718
@trylovetom update to the latest version. ( or at least 2.4.0 -> https://github.com/parse-community/parse-server/releases/tag/2.4.0 )

[2017-11-14 13:45] trylovetom commented on #3718
@jeremypiednoel I have updated to the latest version. I use the latest version in ny unit test. When I closed the express server, parse doesn't close either. Maybe is same issue.

[2017-11-14 13:59] flovilmart commented on #3718
@trylovetom did you try calling handleShutdown on parseServer ?

we've recently introduced: `ParseServer.start(options, callback)`

You can use it this way (as in the cli.js)

[code]

[2017-11-14 18:09] trylovetom commented on #3718
@flovilmart How about in the express like this #4343 ?
I don't have any idea.

[2017-11-14 18:11] flovilmart commented on #3718
see

[code]

let me know.

[2017-11-14 18:22] trylovetom commented on #3718
@flovilmart Lastest Updated

[code]

Output
[code]

[2017-11-15 04:25] flovilmart commented on #3718
@trylovetom, you’re using the wrong interfaces, double check the example I provided, you’ll notice the import is different, as well as using parseServer.app etc...

[2017-11-15 04:52] trylovetom commented on #3718
@flovilmart
![mongo](https://user-images.githubusercontent.com/13268073/32819368-dee2fdf2-ca03-11e7-8eef-cdc757575446.gif)

[2017-11-15 05:23] montymxb commented on #4336
Glad to hear you figured it out @nharbo ! I'll go ahead and close this out in the meantime, feel free to let us know if something else pops up.

[2017-11-15 05:23] #4336 closed

[2017-11-15 06:39] trylovetom commented on #3718
@flovilmart
I think we need a function which shutdown the parse itself and all connections.

[2017-11-15 10:43] dongalor commented on #4313
installationId? yes!

[2017-11-15 11:04] trylovetom commented on #4343
I think we need a function which shutdown the parse itself, express app, and all connections between http server.
And so dose the postgres adapter.

[2017-11-15 14:01] flovilmart commented on #4313
@dongalor the gist you provided don’t mention installationId at all, just matching on device token.

Also, just a note on architecture, usually a user can have many installation, so I would recommend you set the user on the installation objects, instead of storing the installationId’s on the users.

[2017-11-15 14:22] dplewis commented on #3290
Added in Parse Server 2.5.0. Closes via #3866

[2017-11-15 14:22] #3290 closed

[2017-11-15 14:31] dongalor commented on #4313
@flovilmart sorry, now I understand the question, do my users table hold installationId? No, but I have system table Installation, which is being filled automatically.

So, my users table doesn't hold installationId, but my users table hold deviceToken field.

[2017-11-15 14:32] flovilmart commented on #4313
Ok so the gist is correct, I'll have a look.

[2017-11-15 21:33] bohemima commented on #4346
Hi,

This should be fixed by https://github.com/parse-community/parse-server/pull/4308 but I'm unfortunately unable to fix the test for doesNotMatchKeyInQuery until I get home from my travels. Feel free to give it a stab if you have the time and knowledge.

[2017-11-16 02:58] jjdp opened #4356 "Security Questions for Insallation and Session"
1. I'm setting all count clps to {} for all my classes since we don't need it. On the _Installation Class, are there any side effects on parse-server's side? Like for example notifications.

2. Are there any side effects on parse-server if I set all clp to {} on the _Session Class

[2017-11-16 04:03] flovilmart commented on #4356
You may have side effects if you set CLP’s on sessions, while I’m not sure which, they are secured by ACL’s and additional checks.

On installations, you need clients to be able to write to installations for push to be working properly. Find operations are disabled. See the docs for more info, in the security sections.

Also, we can’t guarantee thAt your CLP’s won’t interfere with what you expect

[2017-11-16 04:03] #4356 closed

[2017-11-16 13:35] flovilmart commented on #4313
So far, I can pin point the issue in the push adapter, as everything in parse-server is going smooth. It is an issue with all your push’s, or just some?

[2017-11-16 14:41] BenBenz commented on #4310
Thank you for you answer, I'll take a look at this

[2017-11-16 22:55] redroostertech commented on #84
Here is a link to find where to adjust the maxUploadSize .

https://serverfault.com/questions/786728/parse-server-upload-size-limit-more-than-100mb

[2017-11-17 01:23] souhailalavi opened #4358 "unable to edit user on parse server"
### Issue Description

We have an enterprise app that we developed with a parse backend. it was used successfully until parse was shut down. we performed the migration and upgraded the app. it worked from jan to aug 2017. now when i attempt to do anything like editing a user object or read from it, we get an error message Cannot modify user. also the other thing we noticed is that the new user rec

[2017-11-17 01:35] flovilmart commented on #4358
What version of parse-server are you running / were you running? You mention 1.4.0, but parse-server was never released below 2.0.0. Please update to latest version, provide server logs, and reopen the issue if it persists.

[2017-11-17 01:35] #4358 closed

[2017-11-17 05:31] montymxb commented on #4358
Please screen the data you share for future reference...

[2017-11-17 11:55] yog27ray commented on #4347
Yes I was able to fetch data from the same sessionToken. Except for api starting with "/parse/users" rest off the apis are working.

[2017-11-17 20:14] fprospato opened #4360 "Mailgun Adapter Not Sending Emails"
Hello,
I set up my parse server for my iOS project using AWS with Bitnami. I added this to my server.js file:
[code]
I thought that this was it, but when I sign up a user or try to reset a password, I do not get an email. The address, domain, and api key are all correct. I saw that somehow we are suppose to install the adapter through 'npm'. I have never installed something with npm before and do

[2017-11-18 20:00] montymxb commented on #4360
@fprospato check out the [docs](https://docs.npmjs.com/getting-started/what-is-npm) for npm to see how to use it properly. Once you get the feel for it you may find it super handy 👍 .

[2017-11-19 06:33] trylovetom commented on #4343
Use `cont = server = ParseServer.start(config)` to create a parseServer. Before closed the server, use `server.handleShutdown()` to close the db connection.
Fix in #4352.

[2017-11-19 06:33] #4343 closed

[2017-11-19 15:54] flovilmart commented on #4300
It is not possible at the moment to return another object in the beforeSave; if you want this behavior, I recommend you use a cloud function instead.

[2017-11-19 15:54] #4300 closed

[2017-11-19 15:57] dongalor commented on #4313
@flovilmart actually i've provided my gist (https://gist.github.com/dongalor/96d13ee1b0344d222f4a4caf899bd8ed), all other pushes use the same Push class, so none of them work (

[2017-11-19 15:59] flovilmart commented on #4313
Did you try sending a push through the dashboard?

[2017-11-19 16:00] dongalor commented on #4313
@flovilmart yeah, same result :(

[2017-11-19 16:03] flovilmart commented on #4313
Ok, the issue seem to lie in the push adapter itself, I need more time to investigate the issue.

[2017-11-20 17:09] vshy108 opened #4363 "Customize generation of objectId for a custom class?"
Is it possible to modify the way to generate objectId for custom class instead of the auto generate 10 pseudo random 10 character string? Is it possible to have more than 10 characters objectId? thanks

[2017-11-20 17:18] flovilmart commented on #4363
What would be your use case?

[2017-11-21 01:27] fairs-222 opened #4365 "Save Array using cloud code and parse server"
I'm trying to Save array using cloud cod with parse server. I want if user1 follow user2 I want the user2 get the user1's objectId and Save it to Array table in user class

class called (_User) in user class table called (whoFollowers)

this is my cloud code

[code]

// swift code

     let request = [
                    "userId" : self.otheruserObj.objectId!,
                    "whoFollowers" :

[2017-11-21 09:36] Roost commented on #4230
@flovilmart you are indeed correct. The number of times I re-read my code to make sure I had no typo's. Sigh.

Thanks.

[2017-11-21 09:36] #4230 closed

[2017-11-21 14:20] addisonElliott commented on #4365
What is the error you are receiving?

[2017-11-21 18:39] jferrer21 opened #4369 "Resending Verification Emails Doesn't Regenerate Token or Expiration"
Hello,

Is there a REST endpoint for resending verification of emails?  I don't see anything in the documentation.

Thanks.

[2017-11-21 19:43] addisonElliott opened #4370 "Tests fail on Windows"
### Issue Description

Under Windows, when running the test suite for parse-server, many of the tests will fail with the following error message:
[code]

However, running the exact same test suite under Linux (in my case, I tried it on Debian amd64), the tests pass fine.

When running all of the tests, about 60% of them will fail with this error message. I'll explain my theory why below but this i

[2017-11-21 20:13] montymxb commented on #4369
Yep, you can post to **/verificationEmailRequest** with the following data.
[code]
Note this will only send if the email is not already verified. You can see the code that handles these requests [here](https://github.com/parse-community/parse-server/blob/master/src/Routers/UsersRouter.js#L242).

I did check and there is not a section in the REST docs regarding this yet, but there is a section on [

[2017-11-21 21:21] montymxb commented on #4370
@addisonElliott nice breakdown, thanks for digging into this! I've seen this _rarely_ in our local/CI tests, enough that we haven't emphasized on it.

I'll get back to you with a more detailed response later, but just wanted to say I think ultimately adding at least _one_ run in our CI using [appveyor](https://www.appveyor.com/) would help a ton in catching and fixing windows specific issues. I've

[2017-11-22 00:29] paulovitin commented on #4338
@montymxb I checked the PostgresStorageAdapter and I dont saw any routine to check this updates. Probably needs to create something to make a differ and send to addFieldIfNotExists to create the fields. Im correct?

[2017-11-22 00:32] montymxb commented on #4338
@paulovitin Yeah, that's roughly what we would need. In the mongodb storage adapter I don't believe there's such a function either, as it seems to auto-create on it's own internally. We just need to make that behavior explicit when working within Postgres and we should be good.

[2017-11-22 01:50] hopye commented on #4313
if i go back to 2.4.2 , do i have to downgrade parse-dashboard as well to work well sending pushes throught it ?

npm install parse-server@2.4.2 --save

[2017-11-22 03:16] paulovitin commented on #4338
@montymxb I believe I can solve this until weekend, can I? If not I tell you. Ok?

[2017-11-22 03:36] paulovitin commented on #4338
@montymxb just one question. This process just will be apply in the volatile classes, correct?

[2017-11-22 12:09] dongalor commented on #4313
@hopye actually this is the only command I used to downgrade parse without downgrading dashboard, I guess there's no need in additional actions

[2017-11-22 18:39] montymxb commented on #4338
That sounds good to me! As for how this will apply let's have it work on the built in classes for parse. Just to restate the issue originally was that the underlying schema was changed and code was updated to reflect that, but the underlying DB did _not_ change and broke that expectation. So we would want a mechanism for that on startup, when the db is setup/checked.

There actually is a check in

[2017-11-22 19:10] paulovitin commented on #4338
@montymxb take a look at this

https://github.com/paulovitin/parse-server/blob/fix/4338-pg-schema-upgrade/src/Adapters/Storage/Postgres/PostgresStorageAdapter.js#L691-L720

and I execute in performIntialization method here:

https://github.com/paulovitin/parse-server/blob/fix/4338-pg-schema-upgrade/src/Adapters/Storage/Postgres/PostgresStorageAdapter.js#L1560

I tested and works with the VolatileC

[2017-11-22 19:46] promisenxu commented on #4313
We are also having problems with push for 2.6.5. There are constant error messages from parse-push-adapter and push are sometime delayed rather significantly (a few hours). However, our users can still receive push notifications, both iOS and Android devices.

The errosr we get look like:

[code]

and

[code]

[2017-11-23 04:11] montymxb commented on #4338
Yep that looks like a good start. I would not go so far as to delete schema columns though, as that would create the unintended side-effect of clearing any additional user defined fields on any classes. Even if they're not intended to be modified we wouldn't want to just delete a whole field of values on upgrade.

A good test case could be written around directly calling `schemaUpgrade` with varyi

[2017-11-23 04:12] montymxb commented on #4338
Once this gets in a PR I'll still want to verify this actually does resolve the specific upgrade issue that brought this up in the first place.

[2017-11-23 06:23] montymxb commented on #4370
So to second what I was saying before I think it would be fantastic if we add appveyor into our CI. @flovilmart if you can hookup appveyor on your end and setup a [team](https://www.appveyor.com/docs/team-setup/) I would be willing to put up a PR with the **.travis.yml** for starters.

[2017-11-23 07:13] addisonElliott commented on #4370
@montymxb I'm not familiar with appveyor myself. I'm having trouble understanding how appveyor will prevent these issues happening with running `npm test`. Wouldn't appveyor just be another method of running the tests?

[2017-11-23 13:14] flovilmart commented on #4370
I believe we could run in a windows environment on appVeyor. Also, this is a server project aimed to be deployed on Linux/ Mac/Unix environments, having a proper développement environment for windows is very nice to have, did you try with WLS, and proper bash instead of Cygwin? I’m not familiar with windows, so I can’t really talk about overhead or such setting up this way, but I could explore in

[2017-11-23 14:17] lucamorelli opened #4372 "error trying to save"
Hi, I'm refactoring an application moving code to typescript.
Now when  I try to save an object I receive this error message on the client side

`error sending message {"code":111,"message":"schema mismatch for ChatMessage.match; expected Pointer<Match> but got Object"}
`
I suppose that part of the problem is sometimes objects are created using the ts classes, and not the parse js objects, but now

[2017-11-23 14:40] alvajindia commented on #4247
@flovilmart any updates on this issue ? Still looking for someone to take this up ? The label good first issue is tempting me if you can give some courage

[2017-11-23 14:43] flovilmart commented on #4247
Yes that should be an easy one, the suggested resolution should be solid at the moment, and  it will give you a good insight on the underskirts of parse-server :)

If you run into any issue, just let me know!

[2017-11-23 16:23] paulovitin commented on #4338
@montymxb Sure. Let me know when you've tested.

[2017-11-23 17:10] kelset commented on #4302
Same issue here, any update?

Using:
[code]

[2017-11-23 18:06] heresmyinfo commented on #2159
We have an application that is currently based on Parse, but needs the reliability of transactional support. When you say "painful and inefficient", are you referring to high-performance or difficulty in implementation? We're not as concerned with performance as reliability. If it's just performance you are referring to, how much effort do you think it would take to implement transactional logic n

[2017-11-23 19:12] addisonElliott commented on #4370
I got WSL downloaded and nodejs installed. It all worked fine, there were 3 errors and 9 pending but I think that is the same results I got on my Debian VPS.

@flovilmart I entirely agree that it would be great if WSL was widely adopted by Windows users, but it's going to take some time. I still think the industry standard is Cygwin. In my opinion, I think we should attempt to support Cygwin/Windo

[2017-11-23 20:04] flovilmart commented on #4370
This is ok, those tests have some issues when run on local machines, we need to investigate

[2017-11-24 02:19] pranjalsatija opened #4374 "Possible Vulnerability in ws"
After running `nsp check` on my Parse Server project, I found that the `ws` module has a possible vulnerability that's been covered by the NSP. Versions of `ws` under 3.3.1 are vulnerable to DoS attacks. The full report is available [here](https://nodesecurity.io/advisories/550).

I'm not a security expert by any means, and it's totally possible that this vulnerability doesn't affect Parse Server,

[2017-11-24 02:22] flovilmart commented on #4374
Thanks for reporting the issue, current master is using [3.3.1](https://github.com/parse-community/parse-server/blob/master/package.json#L45), we'll craft a release soon.
We also have [NSP running on CI](https://github.com/parse-community/parse-server/blob/master/.travis.yml#L54), daily that would report any additional security errors.

[2017-11-24 02:22] #4374 closed

[2017-11-24 20:21] MakerManTom opened #4376 "Updating User With JS SDK (Notes in guide)"
I've been Googling about & I'm unsure whether or not users can or cannot be updated using the Javascript SDK.  I've noticed that the guide is distinctly lacking the subject (along with deleting the user), but instructions are present for the REST API.

Would anyone confirm whether or not this is possible & how?  If it is, shall I write an update to the guide?

[2017-11-24 20:46] montymxb commented on #4370
@addisonElliott appveyor provides a windows environment whereas [Travis CI cannot](https://docs.travis-ci.com/user/multi-os/). Having tests on windows as part of our CI would help ensure that, once we correct window related issues, we don't reintroduce them later. Better than someone finding and reporting problems when they try to run on windows themselves, kind of what it is now 😛.

[2017-11-24 21:04] addisonElliott commented on #4376
A user is an object basically. There is a sentence in the guide that says this but it is not emphasized enough in my opinion.

Correct me if I'm wrong, but you should be able to treat the user as an object, modify fields and then call save. Look at the section saving objects.

[2017-11-24 21:07] montymxb commented on #4302
Please see [#811 in parse-dashboard](https://github.com/parse-community/parse-dashboard/issues/811) and the merged [PR](https://github.com/parse-community/parse-dashboard/pull/812). This will not be available until the next release is published by the way. In the meantime trying configuring your [push localizations](https://github.com/parse-community/parse-dashboard#configuring-localized-push-noti

[2017-11-24 21:24] montymxb commented on #4376
@thomascoope You can treat a user like any other parse object in terms of saving, deleting, etc. But you'll have to respect object level ACLs. Unless you're using the **master key** changes will have to be done to a user by that same user.

[2017-11-24 21:25] flovilmart commented on #4376
Also, additional restrictions apply on the users, as described in the docs.

[2017-11-24 21:28] thomascoope commented on #4376
OK.  I'll have a tinker now treating the user as an object.  As per @addisonElliott it could probably be clearer for less than competent users like myself so I'll suggest an edit if I get it working.

[2017-11-24 21:35] addisonElliott commented on #4376
@thomascoope That's a great idea.

A bit unrelated but maybe we should consider any examples section in the documentation to do some of these things. I think this may be easier to understand and easier to write than the typical paragraph explanations.

[2017-11-24 21:38] thomascoope commented on #4376
@addisonElliott I'll give an example with it.

[2017-11-24 22:07] flovilmart commented on #4321
Another reason as for Why I don't like the parse-server example repo: https://stackoverflow.com/questions/47466767/git-push-heroku-master-not-working

[2017-11-24 22:10] thomascoope commented on #4360
@fprospato you might find this Udemy course worthwhile as it walks you through it: https://www.udemy.com/parse-server/learn/v4/overview

We built ours successfully using the instructions on here.

[2017-11-24 22:21] flovilmart commented on #4321
besides the buttons, parse-server-example is bad bad and bad, I can't state enough how bad it is, once you know what's inside the main parse-server repo, and actually how much knowledge you need to get started. There are more pre-requisite to correctly run parse-server-example than parse-server itself, and more chances to do the wrong thing.

I don't hear a compelling argument that parse-server-ex

[2017-11-24 22:43] thomascoope commented on #4321
So, do you think that parse-server-example should be killed off?  I've posted some links on the stackoverflow post.  I knew nothing about API's when I started using parse.com.  Perhaps if there is better documentation "Parse Server For Dummies" style?

I'd like to ask this - who is Parse Server aimed at?  I say this because I have a professional developer working with me on my project now.  His in

[2017-11-24 22:45] thomascoope commented on #4321
I think this with whichever option it is just needs to be simple & understandable at a low level.

[2017-11-24 22:50] flovilmart commented on #4321
I completely agree with you, and I believe parse-server-example doesn't answer at all the concerns you express (besides the deploy to heroku button).

Deploying is only one part of the issue, and then how do you deploy cloud code to heroku? How to add a package in nodejs? how do you setup the AWS storage adapter? All need to have a properly cloned project, an understanding of node / npm / git etc.

[2017-11-25 00:02] thomascoope commented on #4321
Haha,

Very true.  So, I guess that on that basis we should look at providing comprehensive guidance for setting up Parse-Server on say Heroku?

I think to a certain degree, stupid posts are going to be the nature of the product as it will be people first foray into hosting such as Azure, AWS or Heroku.

How about this - at the top of the readme:

1. Direct new users unfamiliar with hosting produc

[2017-11-25 00:21] flovilmart commented on #4321
I like you suggestions a lot, as we’re starting to outline what really matters, we haven’t touched the fact that we have a full webpage, a docs repo / page as well as a blog.

I’d like to craft a strategy with the community to make it easier for everyone, yes, the heroku deploy is amazing for quick testing apps, and in that sense, we could go further and generate strong appID, masterKey etc...

An

[2017-11-25 01:51] montymxb commented on #4376
We used to have some awesome tutorial projects. Unfortunately we did not keep this when migrating to the community organization that exists now. It's a lot to ask for, considering all the sdks, but it would be fantastic if we started writing some new ones back in at some point.

[2017-11-25 02:15] montymxb commented on #4321
It does really sound like we need a moment to site down and figure out the direction for future getting started, how to's, examples, etc. In the spirit of keeping things understandable we could just start at square one, and each subsequent addition would expand on that. From there it would just be a matter of reading/watching any prior material in order to catch up to what's new.

Also sounds like

[2017-11-25 13:52] thomascoope commented on #4321
All sounds great.  I think videos are always more powerful & engaging for newbies, as you've got to know where to look in written guides (or read the whole thing).

This is where Asim Hussains guide on Udemy is really handy (looks like its also available free here - https://www.youtube.com/playlist?list=PL-TLnxxt_AVFEOlCFBHBG_BbpaF3UX-EU).  Even for my colleague who's a seasoned dev, he spent a ni

[2017-11-25 14:00] flovilmart commented on #4321
Do you guys want me to start a ‘getting started’ project on one of our repos? So we can start compiling ideas, and tasks if that’s something you want to participate? I may write a general draft of the direction we want to go and the motivation for such ‘refactor’.

It seems that we all agree something needs to be done, and quickly.

The buttons could me move do the getting started guide on heroku,

[2017-11-25 14:05] thomascoope commented on #4321
Sounds good.  I'd like to help.  My time is somewhat limited as I'm running an architecture & construction company, building a startup & have a young family.  My knowledge of coding isn't too hot, but I'm good with product so where I lack in competency, I can perhaps give some useful input elsewhere.

[2017-11-25 17:28] ehaanfaaz opened #4379 "can we use parse with react-native?"
Can we use parse with parse-server with react-native?
if not then any other for react-native similar to parse-server

[2017-11-25 17:30] flovilmart commented on #4379
There’s nothing that prevents you from using any client technology with parse-server. We provide SDK’s for many clients, iOS, Android, JavaScript etc... the JS SDK is fully compatible with react-native.

[2017-11-25 17:30] #4379 closed

[2017-11-25 17:32] ehaanfaaz commented on #4379
how can we implement it with react-native?

[2017-11-25 17:44] sirnacnud commented on #3990
What is the status on this issue? I actually had a user create two accounts with the same email and username, but the case is different. This is fairly easy to do when the keyboard automatically capitalizes the first letter on text input fields (iOS does this).

[2017-11-25 17:49] ehaanfaaz opened #4380 "react-native implementation"
how can we implement parse-server in react-native?

[2017-11-25 17:51] flovilmart commented on #4380
Duplicate of #4379 closing.

[2017-11-25 17:51] #4380 closed

[2017-11-25 17:54] flovilmart commented on #4379
I’m not sure what you mean by that. Did you read the README in this repository as well as the docs on http://docs.parseplatform.org ? If your question is about integrating the JS SDK into a react native app, you can open a question on stackoverflow where experts may be able to help you.

Parse-server is a server technology, not a client one. Clients can interact with parse-server through the rest

[2017-11-25 18:37] ehaanfaaz commented on #4379
okay thanku @flovilmart

[2017-11-25 22:35] TimNZ commented on #2851
I had a quick look through LiveQuery src, and it seems class level permissions are not checked, only object ACL.

Is CLP checks going to be implemented?

[2017-11-25 22:39] flovilmart commented on #2851
Yes, you are right, they are not implemented yet, i’ll Have a look to implement them.

[2017-11-25 22:45] TimNZ commented on #2851
Thanks.  I'd give it a go and do a pull , but I'm time challenged, and would want to maintain the code structure and style which is a learning curve.

For example, would you put CLP check in matchesACL(), or a new function matchesCLP(), and then have a parent function hasAccess() that calls matchesACL() and matchesCLP()?

[2017-11-25 22:56] flovilmart commented on #2851
@TimNZ I'm having a look right now and the biggest challenge would be to refactor the CLP logic so it can be shared with the liveQuery. Contrary to ACL's where we can match the ACL against any user / session token, the CLP's are stored in the schema, and we may not want to get it from the schema all the times.

I'd add a new method, matchesCLP, before matchesACL. In parse-server, CLP's must pass b

[2017-11-25 23:01] flovilmart commented on #2851
Haha, yeah it's kinda a rabbit hole, but I'll try solution 2 as it's been obviously badly overlooked.

[2017-11-25 23:27] flovilmart commented on #2851
@TimNZ, what’s your particular use case for classLevel permissions? I believe pointer permissions right? Because liveQuery is only about reads. Do you expect with find disabled to not propagate the objects?

[2017-11-25 23:28] flovilmart commented on #3427
I’m working on it now, it will be part of 2.7.0

[2017-11-25 23:39] montymxb commented on #4321
@flovilmart that sounds like an excellent start, let's set up a getting started project and move from there. That and a general draft/direction would be most excellent. If we're doing a getting started thing it would be prudent to outline what we plan to make, and then start implementing them one step at a time.

@thomascoope any help would always be appreciated. I don't believe we have a ton of P

[2017-11-25 23:43] montymxb commented on #3990
@sirnacnud We haven't been working on this lately. Although it is something we are still aware of, we're focusing on other issues at the moment. That being said we are always open to someone taking the initiative and putting up a PR. We can always help guide things from there.

[2017-11-25 23:56] TimNZ commented on #2851
Yes.  If a client doesn't have permissions to a class/object, they shouldn't be getting any notifications (and a copy of the object) of them.

I'm using JS client in browser extensions and Electron apps.

It's not a big deal, I'm going to create a 'broadcast' class that is the only class enabled for live queries that has basic details for doing subsequent query on other classes for via queries.

B

[2017-11-25 23:58] TimNZ commented on #2851
Whatever implementation/options enables the above works for me.
Having a 'requiresAuthentication = true' or 'enableAnonymousClient = false'  option on the LiveQuery Server would do the job as well.

[2017-11-26 00:03] flovilmart commented on #2851
Ok, i’ll Have a look then. Thanks ;)

[2017-11-26 00:12] montymxb commented on #4326
Closing as #4332 is currently merged in and will be present in our next release. Thanks again for bringing this to our attention @thomascoope !

[2017-11-26 00:12] #4326 closed

[2017-11-26 00:13] TimNZ commented on #2851
Thanks a lot Florent, great service!

I wrote my own BaaS in 2012->2014, after discovering Kinvey.

http://cloudglue.xemware.com/help/platform/endpoints

It's ironic that I abandoned it, and now using Parse for a totally different project.
I'm going round in circles :)

Though my was aimed as full front and backend solution, and accessible to business type folk.
Might use Parse to reattempt this o

[2017-11-26 08:44] fairs-222 commented on #3750
Here is the solution of this problem - just add this code to home view
[code]

[2017-11-26 09:54] #4372 closed

[2017-11-26 10:10] lucamorelli opened #4388 "possible bug creating new File"
### Issue Description

I'm trying to upload a video file from a cordova app client using this code

[code]
this code works uploading files, but fails sending a video, where I have a base 64 string starting with `data:video/mp4;base64,AAAAGGZ0eXBtcDQyAA`.
I checked the code and I think I found the problem
this is the regexp that extract the file content
`var dataUriRegexp = /^data:([a-zA-Z]*\/[a-zA

[2017-11-26 11:37] eddyLazar opened #4389 "issue with GeoPoint"
### Issue Description

I used GeoPoint parse field type, as described in documentation but did not succeed trying to use `{"$within": {"$box": {[southwestGeoPoint, northeastGeoPoint]}}}` for queries, it always return empty results. Then I tried to reproduce everything with mongo shell, and there is a difference between GeoPoint which is created in parse and a way which is described in mongo docs

[2017-11-26 13:41] flovilmart commented on #4389
Can you provide the logs when running with VERBOSE=1 for this query please?

[2017-11-26 13:44] flovilmart commented on #3750
Can you update to the latest version? A lot has changed and was fixed in the latest versions for pushes.

[2017-11-26 14:50] janswist opened #4390 "include() is not working properly"
I use Vue.js and have problem with `include()`. This is the Cloud Code function:
`Parse.Cloud.define('fetchMessages', function(req, res) {

	var Messages = Parse.Object.extend("Messages");
	var query = new Parse.Query(Messages);
	query.limit(50);
	query.descending('createdAt');
	query.include("user");
	query.select("user.name");
	query.withinKilometers("geo", req.params.geo, 5);
	query.find({useMa

[2017-11-26 19:20] janswist commented on #4390
Ok, seems that excessive data shows only if user is logged in so the authData is available. For others it shows exactly what I want.

[2017-11-26 19:20] #4390 closed

[2017-11-27 09:13] dongalor opened #4391 "question: is this session behaviour correct in 2.4.2"
Trying to understand session behaviour, so correct me if I'm wrong, but it's kinda weird:

### Workflow
I have cloud function for logging in:
https://gist.github.com/dongalor/81348114f9256c567680138217b1a284

### I run it to authorize my user
curl -X "POST" "http://example.com:1337/parse/functions/signIn" \
     -H 'X-Parse-Application-Id: APPID' \
     -H 'Content-Type: application/json' \
     -

[2017-11-27 12:40] flovilmart commented on #4391
What version of parse-server are you using? Parse.User.current() should not be used server side. Have a look at the documentation and in particular the getting started guide on docs.parseplatform.org.

[2017-11-27 15:51] dongalor commented on #4391
@flovilmart wow, my mistake :( due to this issue #4313, I'm using 2.4.2 at this moment. So, I can't use Parse.User.current() server-side?

[2017-11-27 15:58] addisonElliott commented on #4391
@dongalor No you cannot since there is no session that is saved server-side. It is saved client-side (although this gets a bit murky in the case of PHP SDK). Regardless, Parse.User.current() is meant to get the current user for a client SDK.

Look at this code if you want an example of how to get the user who sent the request:
https://gist.github.com/addisonElliott/9baafffe970270a3fdea0acc620f6d49

[2017-11-27 16:53] dongalor commented on #4391
@addisonElliott thank you so much!
But I'll ask one more question, if you don't mind )
So, what if I'm not using X-Parse-Session-Token header? I won't have request.user object, right?
So, there is Parse.User.become(sessionToken) way, is it the only option?

thank you in advance!

[2017-11-27 17:06] addisonElliott commented on #4391
No problem, happy to help.

The X-Parse-Session-Token header is how you authenticate that you are who you are to the parse server. If you don't send that token, then you're correct that request.user will be null.

`Parse.User.become(sessionToken)` is meant for client side use. In broad terms, it saves the session token given and then it will start sending it in the X-Parse-Session-Token header.

A

[2017-11-27 18:51] majd-kho opened #4392 "Push Notifications guide requires updating"
I am implementing push notifications for android and using parse-server obviously, however Google is moving on from GCM to FCM.

I was checking the guide http://docs.parseplatform.org/parse-server/guide/#push-notifications
and It seems to be addressing GCM only.
Also, this issue https://github.com/parse-community/parse-server-push-adapter/issues/32  does address the topic, but im wondering if anyo

[2017-11-27 23:00] TimNZ commented on #3671
@flovilmart

I just went looking through JS SDK for fields support on live query subscriptions.

Can we just add an additional 'options' or 'fields' arg to 'subscribe' function in LiveQueryClient.js, and upstream subscribe functions that call it?

[2017-11-27 23:53] flovilmart commented on #3671
It would require some serverside work, i’ll Be happy to review a Pull Request :) that would be easier than the CLP’s

[2017-11-28 00:20] TimNZ commented on #3671
Oh, the server isn't complete either?
I was using the Live Query protocol wiki as a guide and hadn't looked at the server code.

Ok, will add to my future dev list :)

[2017-11-28 00:31] addisonElliott commented on #4391
Since this has been resolved, do you mind closing this issue?

[2017-11-28 03:21] flovilmart opened #4393 "NSP Check: moment.js vulnerability"
We don't use moment.js directly, but as we have dependencies using moment, we'll monitor the issue nonetheless.

https://nodesecurity.io/advisories/532

[2017-11-28 03:23] flovilmart commented on #4392
GCM and FCM are one and the same, the backend / API's / credentials are the same. Everything should work as described in the documentation. If you encounter an issue configuring for Android, please open an issue in [push adapter repository](https://github.com/parse-community/parse-server-push-adapter) as it's a separate project from parse-server

[2017-11-28 03:23] #4392 closed

[2017-11-28 03:24] #4391 closed

[2017-11-28 07:30] TimNZ commented on #3671
As far as I can tell Parse Server is using subscriptionInfo.fields if specified to filter the response object, before pushing it to the client.

Do you know for a fact that the server needs dev for this?

lib/LiveQuery/Client.js
[code]

[2017-11-28 09:45] akshaychauhan7737 commented on #3398
it is not working for me error: httpRequest is not a funcion

[2017-11-28 10:05] montymxb commented on #3671
@TimNZ we could always use more devs ;)

[2017-11-28 10:17] eddyLazar commented on #4389
used curl example from docs http://docs.parseplatform.org/rest/guide/#geopoint

[code]

[2017-11-28 11:11] akshaychauhan7737 opened #4395 "code 209 invalid session token"
i am trying to authenticate session token and fetching user detaild but there is no information about how to do it at : http://docs.parseplatform.org/js/guide/#users
I tried to google it now i got some code but don't know whether the are correct they are not working for me
[code]

always giving me error

[code]

[2017-11-28 11:43] lzaiats commented on #3398
I think newer versions of Parse.Cloud class does not have httpRequest anymore... You can use some other http lib to make the same request ;)

[2017-11-28 11:54] akshaychauhan7737 commented on #3398
Thank You So much it Worked :)

[2017-11-28 12:42] flovilmart commented on #3398
Parse.Cloud.httpRequest is available in parse-server, where did you read it wasn’t?

[2017-11-28 12:47] flovilmart commented on #4395
If you want to login as a user from a sessionToken you can use Parse.User.become()

[2017-11-28 12:56] lzaiats commented on #3398
@flovilmart I am very sorry if I spread wrong info, but the new JS API docs does not contains any reference to Parse.Cloud.httpRequest...

The JS SDK API docs used to have this info, and I always used it as my reference.

After doing a more deep search I found that this info (Parse.Cloud.httpRequest) is now on http://docs.parseplatform.org/cloudcode/guide/#networking and I didn't knew that... My f

[2017-11-28 12:58] natanrolnik commented on #4395
Another option is to pass `userSessionToken` as the `sessionToken` parameter in the options:

[code]

[2017-11-28 12:58] #4395 closed

[2017-11-28 13:00] akshaychauhan7737 commented on #3398
then why it dosn't worked for me when i tried.... I was using it on nodejs.

[2017-11-28 13:31] flovilmart commented on #3398
I need to add it back but it’s only available when running in CloudCode. Actually, all cloud code methods are missing from the docs now, I need to add them back :)

[2017-11-28 13:33] flovilmart commented on #4389
Your curl only shows creating an object with a single point, can you please provide the query logs?

[2017-11-28 13:58] TomKremer opened #4396 "Installation Error"
### Issue Description

Installation fails during babel process. I'm using node 6.11.4 as described with npm 3.10.10.

### Steps to reproduce

- Download release 2.7.0 as zip
- Extract
- npm install

#### Expected Results

Installation without issues.

#### Actual Outcome

`
SyntaxError: src/Adapters/Files/FilesAdapter.js: Unexpected token (16:12)
  14 | // database adapter.
  15 |

     |

[2017-11-28 14:16] TomKremer commented on #4396
🤦🏻‍♂️ (face palm)

I was missing the hidden system files (.babelrc etc.) in the project folder. It works as expected!

[2017-11-28 14:16] #4396 closed

[2017-11-28 15:46] nubu opened #4397 "Cannot Run parse-server"
Hey guys,

just pulled the newest version to my local drive and after npm install, I want to start the parse-server...

Always getting this error:

/usr/local/lib/node_modules/parse-server/lib/ParseServer.js:124
    const {
          ^

SyntaxError: Unexpected token {
and so on ...

Any idea about this? Am I missing something?

Best Nico

[2017-11-28 16:01] addisonElliott commented on #4397
A few suggestions that may be the issue. First, what is your node version? You can type `node -v` to get the version. As of 2.7.0, the minimum node version is 6.11.4.

[2017-11-28 17:04] dongalor commented on #4391
@addisonElliott thank you for your time, I appreciate that so much! Actually, it won't be too difficult to change my authentication mechanism in IOS app by adding parse headers.

And what is funny, my app without headers uses Parse.User.current() and Parse.User.become() server-wise, with unusual behaviour, but still somehow most of processes work fine, not all, but most )

[2017-11-28 17:32] TimNZ commented on #3671
Ok, still on my todo list :)

[2017-11-28 17:38] paulovitin commented on #4388
What version of parse-server?

[2017-11-28 17:52] lucamorelli commented on #4388
latest version, the packages of the app are updated

[2017-11-28 18:22] paulovitin commented on #4388
You need to remove the "data:video/mp4;base64,".

Check the docs http://docs.parseplatform.org/js/guide/#files

[2017-11-28 18:26] nubu commented on #4397
Hmm you are right, it only was the node version - Thanks for that. *uhh*

[2017-11-28 18:31] #4397 closed

[2017-11-28 19:06] nubu opened #4398 "Query for $text results in invalid key"
Hey guys,

trying to query for $text values in my parse-installation not working. Always results in "invalid key" errors...

Parse-Server is version 2.7

[2017-11-28 19:10] lucamorelli commented on #4388
I see two constructor in the File class: one accept the filename and all the data as base64 string, and this works correctly with jpg, png files and so, and another where I can remove this part but I have to send the content type as third param. I already made this change as a workaround, but I don't understand why the first constructor works with just some content type giving this unclear error m

[2017-11-28 19:11] dplewis commented on #4398
Can you provide the logs when running with VERBOSE=1 for this query please?

`$text` can only run on string fields

[2017-11-28 19:12] paulovitin commented on #4388
Maybe @flovilmart can be give to you a better response.

[2017-11-28 19:35] nubu commented on #4398
Of course:
(thanks for the effort)

The field is "string" and set as an index.

Tried query:
where={"$text" : {"$search" : "was"}}

full error-log:
`verbose: REQUEST for [GET] /parse/classes/Squad?where={%22$text%22%20:%20{%22$search%22%20:%20{%22message%22%20:%20%22was%22}}}: {} method=GET, url=/parse/classes/Squad?where={%22$text%22%20:%20{%22$search%22%20:%20{%22message%22%20:%20%22was%22}}}, h

[2017-11-28 19:54] dplewis commented on #4398
http://docs.parseplatform.org/rest/guide/#queries-on-string-values

`where={"field_name":{"$text":{"$search":{"$term":"was"}}}}`

[2017-11-28 20:10] nubu commented on #4398
Seems to be the solution - even if I get an error, cause it's just a "normal" index and not a text index. Thought I can do so with mongo compass for example ...

[2017-11-28 20:13] dplewis commented on #4398
Using Parse-Server the text indexes are created for you.

[2017-11-28 20:26] nubu commented on #4398
Ok, but what for we need the $term key? Looks like there isn't something like that in mongo itself. (Cause i want to search for "ell" and find entrys with "hello" - of course.

[2017-11-28 20:35] dplewis commented on #4398
Parse-Server has adapters that takes input and transform them into the database (Mongo / PG). Most of the time you won't be about to copy a query from parse-server and expect it to work in mongo / pg. For example there's no `$text` in Postgres. `$term` is needed because `$search` has other options and makes transform easier.

[2017-11-28 20:36] #4398 closed

[2017-11-28 20:51] nubu commented on #4398
Ah okay - but how to do querys that doesn't match the string 100% - or just not possible with the current implementation?

best Nico

[2017-11-28 21:02] dplewis commented on #4398
You can use `query.contains()` or `query.matches()`

[2017-11-28 21:08] nubu commented on #4398
Hmm that's my approach at the moment - thought with "real text search" I can use a better alternative. - Is there another, performant, way ?

[2017-11-29 01:10] acinader commented on #4346
Hi @bohemima don't mind if I do!  You did the hard part :).  #4399

[2017-11-29 07:26] eddyLazar commented on #4389
[code]

[2017-11-29 09:05] montymxb commented on #4388
@lucamorelli that looks about right. I _swear_ I've seen this somewhere else in one of the sdks as well, in terms of a regex parsing a content-type and not expecting a digit in the second half. Can you provide a link to where this is in the server so I can take a look?

[2017-11-29 09:15] lucamorelli commented on #4388
This is the line where the regexp is declared

https://github.com/parse-community/Parse-SDK-JS/blob/942305ab9bcc1df1707eb0a1154f1041a10c4fde/src/ParseFile.js#L28

and here where I have the problem

https://github.com/parse-community/Parse-SDK-JS/blob/942305ab9bcc1df1707eb0a1154f1041a10c4fde/src/ParseFile.js#L108

[2017-11-29 12:34] flovilmart commented on #4389
the query you’re sending is not using polygons as constraints. Is that intended?

[2017-11-29 13:29] flovilmart commented on #4388
It’s in the JS SDK, please open an issue on this project instead.

Thanks!

[2017-11-29 13:29] #4388 closed

[2017-11-29 14:12] #4218 closed

[2017-11-29 14:14] badraygun commented on #4218
@flovilmart issue was that redisUrl should have been redisURL on main server. Thank you for your assistance.

[2017-11-29 21:01] montymxb commented on #4388
@lucamorelli I went ahead and opened up #517 in the JS sdk regarding this so we can address it there.

[2017-11-29 22:08] eddyLazar commented on #4389
Oh, I'm sorry it was my mistake, the query some how works fine. But still there is a difference in types which actually confused me at first and I thought it was a reason

**from parse**
[code]

**from mongo**
[code]

Is it by design? Anyway issue can be closed. Thanks a lot for your response

[2017-11-29 22:08] #4389 closed

[2017-11-29 22:22] flovilmart commented on #4389
Yes it’s by design, the way data is stored is not 1-1 from mongo to parse, you’ll see also that ACL’s are split to have a better index performance.

[2017-11-30 07:31] TimNZ opened #4406 "Custom password adapter"
Before I do the dev and pull request, feedback please.

I want to support a custom password adapter in case I migrate to a different platform in the future and I don't want to hassle the users in having to do a password update if the new platform doesn't support hashed password import i.e. AWS Cognito
Putting aside any security concerns with what I might do, I am thinking:

* Add a 'passwordAdapte

[2017-11-30 10:03] mat2cc opened #4407 "Login with empty email (undefined) returns "Account already exists for this email address.""
We have deployed a [Parse Server on Azure](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.ParseServer)

**Problem:**
Adding User that is not assigned an email returns "Account already exists for this email address." error.

**How this occurred:**
This occurred when adding a new user to Parse.  We tried adding users through the parse dashboard, through an android applicatio

[2017-11-30 11:23] milesrichardson commented on #4363
I also wanted to increase the length of objectIds. My use case is simply to make brute forcing attempts more difficult.

There is an undocumented config option `objectIdSize` which is set to 10 by default. The only hard coded reference I could find to objectId being 10 is in [SchemaController L140](https://github.com/parse-community/parse-server/blob/4bccf96ae79bad07b0dfbce16a41e76305da7ebc/src/Co

[2017-11-30 11:34] milesrichardson commented on #4344
I implement this in a similar way to @trylovetom, within before* triggers. Example function for checking if user has a role:

[code]

In trigger (or any cloud code function with a `req` object):

[code]

[2017-11-30 11:37] faysal515 opened #4408 "ignore invalid relation datatype objectId"
### Issue Description

Parse doesn't throw any error when a relation data type input(objectId) is invalid.

### Steps to reproduce

Create 2 class lets say ABC and XYZ. in ABC's column, make a column `xyz` of Relation type class `XYZ`. now in the rest api, if try to put something like this in the `POST` method to insert any entry in `ABC` class like this

[code]

#### Expected Results

It should t

[2017-11-30 12:48] cyrixmorten commented on #4247
Can confirm that setting `enableSingleSchemaCache: true` effectively stops the memory consumption from growing.

Exceeded my memory quota on Heroku this morning and after setting the boolean it has been steady at ~100mb

![screen shot 2017-11-30 at 13 43 14](https://user-images.githubusercontent.com/6650168/33431511-e0e362e0-d5d4-11e7-9eda-67e27041df02.png)

[2017-11-30 13:25] flovilmart commented on #4363
That’s an omission, and should be fixed in a subsequent PR.

[2017-11-30 13:29] flovilmart commented on #4408
While in practice this would be nice, this will impact the performance of everyone ensuring from another method that the objectId exists. I’m open for reviewing a PR that would address those needs.

[2017-11-30 13:45] milesrichardson commented on #4363
Thanks. But could you please clarify what exactly is the omission? Is it the undocumented config, or the lack of an error when setting CLP with a 40 character userID?

[2017-11-30 13:46] milesrichardson commented on #4408
If the relation doesn't get created because the objectId is invalid, doesn't that imply that the code for adding relations is already checking if the objectId is valid?

[2017-11-30 13:46] flovilmart commented on #4363
I would say both, that we have a regex clearly not failing, and not documenting the option.

[2017-11-30 17:15] ciozmi commented on #4407
I am experiencing the exact same issue with the same configuration. Let me know if you require any additional details and please advise on how to proceed to allow (or handle) user creation without providing an email address.

### Issue Description

Creating a new user (either through signing up or facebook login) **without** providing an email address (once has **already** been created without an

[2017-11-30 20:33] charleskoehl opened #4409 "CLPs deleted from custom class when starting parse-server v2.7.0 (cannot repro in v2.6.5)"
### Issue Description

After upgrading to v2.7.0 (from v2.6.5), whenever I start parse-server, all the CLPs of a custom class are deleted from my local mongo db. I downgraded to v2.6.5, created the CLPs again in the dashboard, and cannot repro.

### Steps to reproduce

1. Start express server with parse-server v2.7.0 and parse-dashboard as middleware (see environment setup below). (The bug will al

[2017-11-30 20:40] #4346 closed

[2017-11-30 22:40] stevestencil commented on #4409
YES!... So glad i'm not the only one. I have been going crazy trying to figure this out.

[2017-12-01 03:59] addisonElliott commented on #4408
I agree with @flovilmart that this would impact the performance greatly. Parse does not check pointers and their object IDs for validity before saving to database. Most of the time the objectId comes from an object that was previously fetched from the database and hence can be ensured to be a valid object in most cases.

I think the better approach would be to check that the object is valid before

[2017-12-01 04:06] addisonElliott commented on #4365
@fairs-222 What is the status of this? Can you please provide some more information about what you are trying to accomplish and what errors you are receiving?

[2017-12-01 04:38] addisonElliott commented on #4363
I believe there is a bug with the Postgres storage adapter and objectID's greater than 10.

If you look at [PostgresStorageAdapter#L28](https://github.com/parse-community/parse-server/blob/4bccf96ae79bad07b0dfbce16a41e76305da7ebc/src/Adapters/Storage/Postgres/PostgresStorageAdapter.js#L28), the `Pointer` postgres type is set to `char(10)`. The 10 is hardcoded for length-10 object IDs but this will

[2017-12-01 05:07] fmendoza commented on #4309
Yeah I've build multiple e-commerce apps with Ionic/Parse Server and until now it's working just fine.

[2017-12-01 13:02] milesrichardson commented on #4409
Confirmed, I can reproduce this.

I also tested it on an empty class and a class with objects in it. The bug happens in both cases.

I have to imagine this is related to the recent schema PRs for supporting indexing. Seems like a pretty bad bug. If anyone upgraded parse-server in production without tests to check for CLP integrity, they could be running a very insecure instance of it right now. A

[2017-12-01 13:04] flovilmart commented on #4409
Can you provide the server logs when running with VERBOSE=1?

[2017-12-01 13:23] flovilmart commented on #4409
I believe I found the root cause, and will provide a fix in the next hour

[2017-12-01 13:25] milesrichardson commented on #4409
@flovilmart That's awesome. In case you need them, here's the logs from pushing the "Save CLP" button for userID `p4dedK2anA` with R/W perms:

[code]

[2017-12-01 13:27] flovilmart commented on #4409
Actually in this case the logs are irrelevant, this is on startup, an operation is not atomic and overusing data in the DB. Should not affect Postgres

[2017-12-01 13:30] milesrichardson commented on #4409
This guy? `$set: { _metadata: { indexes: existingIndexes } }` Due to one level nesting of object? So if there are any other keys in the `_metadata` object, this would remove them in favor of only setting the `indexes` key?

[2017-12-01 13:47] flovilmart commented on #4409
yep that's this guys, should have been written `$set: { '_metadata.indexes': existingIndexes }`

[2017-12-01 14:00] flovilmart commented on #4409
@charleskoehl I'm gonna close this issue now.

I want to take a minute to let you know that issues that may affect security should be privately reported. As mentioned by @milesrichardson everyone now knows the issue, and is able to target the servers.

[2017-12-01 14:00] #4409 closed

[2017-12-01 14:02] flovilmart commented on #4409
I've cleaned up the conversation, unfortunately github keeps a tail of events with the changes.

[2017-12-01 14:07] milesrichardson commented on #4409
fwiw I can only see that you deleted the comment, can't see the old contents. Maybe you can because you're admin

[2017-12-01 14:29] ciozmi commented on #4407
Thanks for responding @addisonElliott. Have in mind that the parse server is hosted as an Azure App Service and not on Windows. I have tried the above and unfortunately have the same error.
But..

I have managed to resolve the issue! The fix was actually **very very very** simple! All I had to do was drop the User class and recreate it and voila! It now works!

After looking into the issue in dept

[2017-12-01 15:52] dplewis commented on #4398
You can always give [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-matching.html) a try. Its a good alternative.

[2017-12-01 17:03] mat2cc commented on #4407
WOW!  Deleting and replacing the User table worked for me as well!

I was trying to change the initial User table from a mongoDB client ([Studio3T](https://studio3t.com/)) because I thought that might be the problem, with no luck.  It was probably because of the indexing as well.

Thanks a lot!

[2017-12-01 17:03] #4407 closed

[2017-12-01 20:12] charleskoehl commented on #4409
I'm very sorry for that; I'm sort of a noob in the open source community despite having coded since 1982.

[2017-12-01 20:47] flovilmart commented on #4409
No worry @charleskoehl, mistakes happen. That made me realize we don't have a security 'hotline' / email.

[2017-12-01 20:54] nbering commented on #4409
I'm just curious... is there a published confidential disclosure procedure? An email address? Maybe a PGP key?

[2017-12-01 21:06] flovilmart commented on #4409
We should put that in place sooner than later. I’ll do it before Monday, with a public pgp key!

[2017-12-01 21:55] SebC99 commented on #4327
Hello, I'm still trying to investigate these performance issues.
When I look at mongoDB live operations, something weird is happening:
- let's say I'm querying a collection with a 10000 limit option
- and that query should return 121 results
When I run this through parse-server I can see some getMore operation on mongoDB with a batch size of 1000 whereas with 121 results, there shouldn't be any ge

[2017-12-01 21:59] TimNZ commented on #3671
Submitted pull.
No changes to server required.

https://github.com/parse-community/Parse-SDK-JS/pull/518

[2017-12-02 01:17] montymxb commented on #4309
Wondering if we should consider some sample/example projects on how get started doing something like this.

[2017-12-02 01:46] dplewis commented on #4212
@seriph Can you update to the latest version of Parse-Server to see if this issue persists?

[2017-12-02 02:04] montymxb commented on #4406
This sounds like a pretty good start. I think it would be useful to factor out the current implementation into an adapter as well, making that the default.

@flovilmart any on thoughts on something like this?

[2017-12-02 02:07] montymxb commented on #4370
Just wanted to say I've come across some SO posts like [this one](https://stackoverflow.com/questions/9243221/does-node-js-perform-badly-on-windows-surely-it-cant-be-slower-than-apache-for#9244784) that suggest, in certain cases, there can a significant performance loss to node.js when running on windows. I think we'll still work through it, but just something to keep in mind.

[2017-12-02 02:11] montymxb commented on #4409
We should also add a notice for responsible disclosures in the the issue/PR template.

[2017-12-02 02:20] montymxb commented on #4247
Yeah we need to address this. I took a look at some of the code at one point. Haven't confirmed it but it does just seem to be a bad case of not cleaning up the multitude of schema caches that accumulate over time. Interesting code being [here](https://github.com/parse-community/parse-server/blob/master/src/Controllers/SchemaCache.js#L11...L21) in **SchemaCache.js**. Over time with random prefix i

[2017-12-02 02:29] montymxb commented on #4363
Hmmm, we'll want to open a PR for these issues soon and add some in-depth tests to make sure we don't have any issues with variable objectId field lengths, but in validation _and_ in storage (postgres).

[2017-12-02 03:02] flovilmart commented on #4409
Yes, in the issue template, .org domains, and all README’s

[2017-12-02 03:25] flovilmart commented on #4247
The issue is that:
1- we don’t cleanup the cache / request after the request is over
2- The LRUCache don’t actively prune

We could manually prune the cache just after each requests or periodically, and/or when the request is over; remove the key associated in the cache with it.

[2017-12-02 07:36] charleskoehl commented on #4409
Perhaps this could help clean things up more:

https://help.github.com/articles/locking-conversations/

[2017-12-02 11:29] maciej-ka opened #4411 "Tests fail on machine in CET timezone"
### Issue Description

Two tests are failing because of timezone differences.

### Steps to reproduce

1. Use a computer that has non zero timezone difference
1. `npm test`

#### Expected Results

All green

#### Actual Outcome

Two errors:
<img width="767" alt="screen shot 2017-12-02 at 02 29 27" src="https://user-images.githubusercontent.com/5403694/33514939-e3f3c10e-d75b-11e7-8153-8dc80b562e3e.

[2017-12-02 14:18] janswist commented on #3858
Why can't one have LiveQuery and main app on one Heroku instance?

[2017-12-02 14:28] flovilmart commented on #4406
I’m not sure how it would solve your use case for cognito. Before we move anywhere with this kind of changes, I’d like to make sure that your intended way of using such adapter is secure,safe and doesn’t require additional maintenance.

[2017-12-02 21:27] TimNZ commented on #4406
Thanks for the concern.

This discussion seems to encapsulate my motivations:
https://stackoverflow.com/questions/6980044/using-asymmetric-encryption-to-secure-passwords

I don't have any experience with Cognito, but a quick scan shows I can programmatically create new users in a pool by specifying username/password (cleartext) /email.

https://github.com/aws/amazon-cognito-identity-js

In this ca

[2017-12-02 22:56] flovilmart commented on #4406
Parse server don’t store the password in clear, nor you should be able to reverse the password encryption. So I don’t see how you would move one user’s login from parse to cognito while not requiring them to replace it.

[2017-12-02 23:23] TimNZ commented on #4406
Sorry mate, confused about the position you've reached,
and my response is I hope constructive challenging of it, not an argument :)

I don't know know why you think I am planning to store passwords in clear text.

The link to the Stack Overflow discussion about asymmetric password storing and my summary were pretty clear, but you are saying things that make it seem you aren't reading what I wrote

[2017-12-02 23:32] flovilmart commented on #4406
I still don’t get how a custom password storage adapter will help you now, unless you start sending those clear text passwords to cognito now.

If that’s the case you want to implement, why not, I’m not against moving forward with the proposal.
Also note that in terms of identity management, you can very well use the auth adapters and achieve a similar result. Ie: authenticate against cognito as a

[2017-12-02 23:35] flovilmart commented on #4406
We’re not debating wether it’s technically feasible or not, but i’d like to get a better grasp of how you intent to use this feature. Wether it is by defereing from day 0 to a 3rd party or planing for a possible migration.

[2017-12-02 23:52] TimNZ commented on #4406
Ok, auth provider might be an alternative, but more work for Day 0.  I'll research further.

What I was envisaging was:

Day 0 - get up and running as quickly and easily as possible staying inside Parse: use out of box password support in Parse, but use a custom password adapter to support a different hashing method
Deferred: thinking about where I may wish to store user accounts and authenticatio

[2017-12-02 23:55] TimNZ commented on #4406
The Stack Overflow link I included earlier explains the same motivations I have, this is why I'm confused as to what you are not getting what I'm trying to achieve.

https://stackoverflow.com/questions/6980044/using-asymmetric-encryption-to-secure-passwords

[2017-12-02 23:58] flovilmart commented on #4406
Be assured it’s not bad faith, no harm intended. Sometimes, things are not fully read, skipped, and i prefer having a proper explanation instead of a link to follow :)

[2017-12-03 00:25] TimNZ commented on #2851
Heads up I'm going to do a pull in a few days.

These changes support what I want which is granular control to deny live query subscriptions, and modify subscription queries.
Current system is all or nothing, and taxing if clients can't be prevented from connecting or control what queries they can subscribe to, both of which I think have performance considerations at scale.

Negates need for CLP c

[2017-12-03 00:42] flovilmart commented on #2851
Enable anonymous users is not a way to prevent non logged in users to connect to parse-server, but it allows creating users with the anonymous auth data, generated by the client SDK’s.

There is no way, at the moment to prevent a client to fetch data from parse-server, and it’s unlikely a change we’ll allow.

[2017-12-03 00:47] flovilmart commented on #2851
I would be ok with adding onConnect, onSubscribe etc.. like options that would be functions that return a promise or throw an error to prevent further processing / mutation. Not exposing it as cloud code triggers

[2017-12-03 00:49] flovilmart commented on #2851
The CLP checks are an open PR. Role support will come later.

[2017-12-03 00:55] montymxb commented on #4406
There tends to be a lot to go over for the servers and the sdks 😄 . Definitely helps out if you can walk us through things A -> Z as best you can.

[2017-12-03 01:02] TimNZ commented on #2851
My naming is off then.

Regardless of the authentication mechanism, an authenticated/logged in user always has a sessionToken?

If so, then I have implemented a config option (which needs to be named appropriately)
that acts as a basic control mechanism to control allowing live query connects and subscriptions.
Without this, you are relying on the ACL mechanism which comes at a performance cost fo

[2017-12-03 01:03] TimNZ commented on #2851
Thanks, did not see this.

[2017-12-03 01:10] TimNZ commented on #2851
Final thing for a few days as I better focus on launching product!

Right now LQ Server events are hooked via Parse.Cloud.onLiveQueryEvent(), what does what you are suggesting above look like instead?

[2017-12-03 01:30] TimNZ commented on #4406
Really appreciate the work and time you guys spend on this and the responsiveness.
My comments don't reflect any sense of entitlement or ungratefulness, having said that..

I don't think I'm being unreasonable in saying if we'd kept the scope of the discussion to yes or no on moving password.js to PasswordAdapter so people could choose to implement their own hashing mechanism, which is a very cont

[2017-12-03 01:50] flovilmart commented on #4406
We, as maintainers, have this duty to ask those questions. Otherwise we’d be accepting any change because it makes sense for one user. Any change, has to be thoroughly discussed as you may put it in today, but may let all hell loose after you decide you no longer need the project. While it’s true that this change look minimal from your perspective, you also have to understand ours. Touching someth

[2017-12-03 01:54] flovilmart commented on #2851
Yeah, probably was not the better design of all, as the liveQuery may be disconnected from parse-server IIRC. Would functions passed part of the initialization options work for you?

[2017-12-03 02:08] TimNZ commented on #2851
Thanks.

Whatever supports the changes which I will use to implement block and override subscriptions as per earlier comment, presumption being I can test for sessionToken as a basic control over whether to deny connect/subscribe, which is present regardless of auth mechanism.

https://github.com/TimNZ/parse-server/commit/a8ab11d35b990103508b26ff4ac14e0158b6730f#diff-7ff5112d0c45b691746af5e56e5e3c

[2017-12-03 10:57] THEDOWNCOUNTRY commented on #3951
I am in the same situation where we trying to know to whom the disconect event is.

[2017-12-03 13:52] ronnno opened #4415 "ids_for_business/token_for_business in facebook connect"
Hello,
Is there any treatment of the `ids_for_business` or `token_for_business` currently in the facebook authentication adapter?

I am trying to support two facebook apps for authenticating users in Parse, where same facebook account's users should be mapped to the same _User objects in Parse (Facebook allocates new ids for each facebook application).
Proper mapping can be achieved using Business

[2017-12-03 13:58] flovilmart commented on #4415
At the moment it’s not explicitely supported, but as long as you pass a valid authData payload, you can add any additional key you want to that object. You don’t need to te-link the user with is for business nor the token I believe as the user will not be able to provide this info from the client.

You can probably just save it in cloud code.

If that’s not the case, you can write a custom auth ad

[2017-12-03 14:37] ronnno commented on #4095
thanks, upgraded to latest!

[2017-12-03 15:09] ronnno commented on #4415
The token_for_business and ids_for_business cannot be used to authenticate directly.
After authenticating (getting a local scope ID and token) the token can be used to get a list of all other valid IDs for the same facebook account.

So My idea was, once the user has authenticated and provided me with an id+token, to:

1. Validate the provided token
2. Check if a user already exists with the curre

[2017-12-03 20:41] flovilmart commented on #4415
You should be able to replace the Facebook auth adapter at startup configuring `auth: { facebook: myadappter }}` as long as tout adapter provides both the original methods for id/token validation

[2017-12-03 22:40] buhuehue opened #4416 "is Parse Server support desktop game?"
i wanna create a Desktop(not browser based) FPS game by using Unity3D. usually im using firebase but firebase not support desktop. So is parse server support desktop game?

[2017-12-04 03:16] flovilmart commented on #4416
Yes there's no issue with desktop games, I believe you'll be looking to use the Xamarin SDK or the MacOS SDK?

[2017-12-04 08:12] buhuehue commented on #4416
I want to create in windows desktop with unity3D. why i need xamarin or macOs SDK?
is this real time database like firebase?

(my english isn't good)

[2017-12-04 12:37] flovilmart commented on #4416
So for a Windows app, you’re probably good to go with the dotNet SDK.

[2017-12-04 13:18] ronnno commented on #4415
I've implemented in my own login function in cloud code.  The place I'd ideally put this logic would be in `findUsersWithAuthData` rather than the auth adapter itself.
But `findUsersWithAuthData` is not exposed in the auth adapter interface, so I'm leaving it as an explicit function in my code.

Will be happy to share my code if it is of interest..

[2017-12-04 13:23] flovilmart commented on #4415
Good to hear you have a solution that fits the bill. As for modifying `findUsersWithAuthData` to handle the specific logic bit, I don’t believe this is the kind of changes we want to support as very specific to a particular behavior you’re looking for.

Closing now as it seems you’re well on your way with your solution.

[2017-12-04 13:23] #4415 closed

[2017-12-04 14:17] kelset commented on #4302
Hey @montymxb thanks for the heads-up; do you know how can I test it?
I have tried to point my `package.json` to `master` but I get this error `Uncaught SyntaxError: Unexpected token <` which I found out means that the [dashboard is not built](https://github.com/parse-community/parse-dashboard/issues/201).

And I've tried to do a `yarn && yarn run dashboard` in the `.../node_modules/parse_dashboar

[2017-12-04 17:45] montymxb commented on #4302
@kelset Until a new release is published you have a couple of options.
- You can roll back to **1.1.0** and hang tight until we roll out a fix
- You can use the most recent release but configure your push localizations, even using an empty array will work

If you're up for it you can also try building the dashboard yourself. But I imagine you're getting it from **npm** and you would probably like

[2017-12-04 17:50] montymxb commented on #4416
@buhuehue to second that you're probably talking about the .NET sdk, the [guide is over here](http://docs.parseplatform.org/dotnet/guide/). But i would lend a bit of caution, the .NET sdk has known [unity issues](https://github.com/parse-community/Parse-SDK-dotNET/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+unity), particularly on Android & iOS. I can't think of any active issues related to a des

[2017-12-06 14:12] jjdp commented on #4278
@agwl-saurabh
did you change your nginx or linux configs or just the defaults?

[2017-12-06 14:28] SUMIT5321 commented on #490
Thanks, its working

[2017-12-07 04:55] overpod commented on #4020
I really need this feature

[2017-12-08 01:42] montymxb commented on #4020
Since the basis for this was to get a callback after login, and messing with Sessions post login isn't so great, we could consider an **afterLogin** hook in cloud code. Similar to how **beforeSave** and **afterSave** are hooked into the flow of saving/updating an object, we could integrate this as check to call function before returning on successful login. It might require a little more playing w

[2017-12-08 04:00] addisonElliott commented on #4020
@montymxb Not a bad idea. I think either way will work and I can look into that. It may fit together because then triggers could be added for before email verification, after email verification, etc.

[2017-12-08 09:36] srameshr opened #4418 "ACL for files"
### Issue Description
  ACL's are not obeyed on file type.
### Steps to reproduce

Create a row or a record with a file type column in it and set its ACL to public read and write false. Now anybody who has the access to the link can access the file.

Does this fall under parse or server config?

#### Expected Results
  The files should obey ACL and return 404 is credentials are not met.
#### Actua

[2017-12-08 11:10] monajafi commented on #2190
Hi
I've found the root cause of 400 Bad Request. I wrote a simple query in cloud code which can not run by this error:

0|parse-wr | verbose: RESPONSE from [POST] /parse/classes/Trip: {
0|parse-wr |   "status": 201,
0|parse-wr |   "response": {
0|parse-wr |     "objectId": "JUW8KIpyCK",
0|parse-wr |     "createdAt": "2017-12-08T11:05:56.741Z"
0|parse-wr |   },
0|parse-wr |   "location": "http://ps

[2017-12-08 11:13] monajafi commented on #2190
Hi
I've faced the same 400 Bad request error in a very simple cloud query even after updating to latest vesion of parse server by following error in Verbose mode
[code]
my node version 9.2.0
npm version 5.5.6
parse server 2.7.1

[2017-12-08 11:48] monajafi opened #4419 "Can not save or query from cloud code"
After changing my DNS cloud code can not write or query to database the error in verbose mode is:
I've changed my serverUrl this I think is related to nginx and ssl configuration. have you experienced same error already?
[code]
my node version 9.2.0
npm version 5.5.6
parse server 2.7.1

[2017-12-08 15:43] flovilmart commented on #4419
You should check the serverURL options when you initialize parse server

[2017-12-08 15:53] monajafi commented on #4419
Hi Mr.Vilmart
I installed on ubuntu vps and changing couldn't find the root cause . also as you told I tweaked serverUrl for anything I've read over here and internet. finally I decided to install everything on server from scratch. and we'll respond the result here.
Also for push notification I've used firebase admin sdk in parse cloud code and firebase android messaging sdk in client side instead

[2017-12-08 23:48] montymxb commented on #4020
Exactly. It would be a bit more accurate regarding it's intended use as well.

[2017-12-09 00:50] montymxb commented on #4418
@srameshr this is actually how it worked in the original Parse.com, however there was the caveat of having a file key in some cases to restrict access. Setting a file key in the parse server config was used to provide access to files that were hosted on the original Parse.com api.

Haven't dug into it but it might be worthwhile to consider enabling a similar fileKey feature for the current parse s

[2017-12-09 08:49] srameshr commented on #4418
It would be a critical security feature that has to be allowed. Though links to files are not obvious or filename derived the access should still obey ACL.

[2017-12-09 13:25] flovilmart commented on #4418
ACL for files should be enforced at bucket level, depending on your storage provider. I’m not against introducing such feature, but it requires a major overhaul including enforcing such restrictions on your storage. In many cases you want to serve your files from the storage adapter directly, like S3 to prevent the traffic from hitting your server. I’m not saying the current solution is perfect, b

[2017-12-09 13:53] srameshr commented on #4418
Well thats a bummer! I wish this was part of the parse server. And no I don't use S3 but just the regular mongo IFS.

[2017-12-09 17:16] ZacharyKhan commented on #4310
Just came across this, very interesting! How would I implement something like the Parse-Server-test-runner?

If I’m able to grasp it and get it working, I’d love to contribute to the README or WIKI with instructions for others to use this. I think it’s super useful!

[2017-12-09 17:38] flovilmart commented on #4310
Open an issue on the test runner if you need an example :)

[2017-12-10 07:01] kinosang commented on #2137
Will `beforeSave` hook alive for `Parse.File` soon?

[2017-12-10 09:34] funkenstrahlen commented on #4313
@promisenxu I also see this issue. Looks like a bug in `node-apn`. https://github.com/node-apn/node-apn/issues/583

[2017-12-10 17:26] flovilmart commented on #2137
@kinosang this is not in the plans, however, if you wish to write a PR for it, we'Ll gladly review it.

[2017-12-11 02:07] flovilmart commented on #4313
@promisenxu so those are probably false positives, as the error occur but comes from the ping, not the delivery itself.

I am tinkering with a workaround for that issue.

[2017-12-11 06:11] RCorsino opened #4422 "Unable to connect to Parse API (remotely in iOS only)"
React Native Error. (iOS is not working but perfectly works on Android)

Works on iOS if connected to a localhost parse but returns an error of Unable to connect to Parse API if connected to a remote parse.

ParseError {code: 100, message: "XMLHttpRequest failed: "Unable to connect to the Parse API""}

"parse": "^1.10.2",
"react": "^16.0.0",
"react-native": "^0.50.3",

[2017-12-11 13:32] Helmikku opened #4423 "Class Level Permissions erased"
### Issue Description
For the second time, all my Class Level Permissions (CLP) were erased from the MongoDB _SCHEMA collection (no more _metadata.class_permissions key). They were not appearing either on the dashboard. Only empty collections still had their CLP.

### Steps to reproduce
I still haven't found out how to reproduce it but it could have come from some index building (that overwrite th

[2017-12-11 13:40] flovilmart commented on #4423
This should have been fixed with 2.7.1, you may have a server deployed with 2.7.0 that upon restated would yield the issue.

[2017-12-11 14:56] oallouch commented on #4423
I wish I could set the CLP using code, like I can set indexes in MongoDB using ensureIndex (in the Java Driver of MongoDB). Having an 'ensureCLP' would be great.

[2017-12-11 16:09] Helmikku commented on #4423
Thank you @flovilmart

This issue has probably occured before I updated parse server from 2.7.0 to 2.7.1 indeed. I'll check that everything is fine in the next few days.

[2017-12-11 17:21] majidhassan opened #4424 "Parse-server logs consume too much space"
Hello,

I'm using parse-server 2.3.8, and recently ran into an issue where uploading files was failing, after some time I realized, that my server had run out of space. The parse logs alone were taking up 19G. I'm running parse-server with VERBOSE=1, which might have added to that massive size.

My question is, other than not running with verbose, is there a way to configure parse-server to automa

[2017-12-11 17:27] mohanadhilles commented on #760
use it

info.plist
<key>NSAppTransportSecurity</key>
<dict>
    <key>NSExceptionDomains</key>
    <dict>
        <key>domain.com</key>
        <dict>
            <key>NSExceptionAllowsInsecureHTTPLoads</key>
            <true/>
            <key>NSIncludesSubdomains</key>
            <true/>
        </dict>
    </dict>
</dict>

[2017-12-11 17:40] flovilmart commented on #760
You should run on HTTPS.

[2017-12-12 06:31] bohemima commented on #4424
Depending on your OS you should look at something like logrotate for *nix (https://github.com/logrotate/logrotate)

[2017-12-12 15:22] lxknvlk opened #4426 "Feature request: timeout parameter for Parse.Cloud.httpRequest"
Parse.Cloud.httpRequest is lacking this option to set a timeout request.

Parse.Cloud.httpRequest({
	url: url,
        timeout: 10,
		success: function(httpResponse) {
	                response.success();
		},
		error: function(httpResponse) {
			response.error();
		}
	});

[2017-12-12 15:58] dplewis commented on #4424
Duplicate https://github.com/parse-community/parse-server/issues/3403 and https://github.com/parse-community/parse-server/issues/3934

[2017-12-12 16:09] a4arpan commented on #2315
Hi

Maybe too late to ask but I have a self-hosted parse instance and all files are stored on grid currently. How can I move them to s3 now and start using s3 for new uploads? Can I leave earlier uploaded file on the grid and new files on s3 or do I have to move all old files as well to s3 if yes how can I  move them to s3?

Thanks in advance
Arpan

[2017-12-12 17:28] agwl-saurabh commented on #4278
@jjdp i am using default config and default config have nginx . let me know if you have any issue. or if this query is for any specific query.

[2017-12-12 17:31] agwl-saurabh commented on #3803
i also have this issue some time in my ELB i am not sure if this is issue or just i can ignore it. I am using parse server 2.6.4

[2017-12-12 17:34] agwl-saurabh commented on #4423
is new 2.7.1 is stable. i am concern i am planing to update to 2.7.1 from 2.6.4. . some how i am able to make my apps some stable . or i still can run on 2.6.4 as i don't have any specific requirement for new version.

[2017-12-13 07:53] IOsonoTAN commented on #4342
@montymxb I just found how to resolve this problem.

It all about role and users, i tried to create a new to be admin but i forget to create relation in role table, it make me can't update or create a new object.

And that error message doesn't make sense it must error about permission something error.

Thanks

[2017-12-13 07:53] #4342 closed

[2017-12-13 08:57] agwl-saurabh commented on #3934
i am using elasticbeanstalk with parse 2.6.4 i  do not have this issue but yesterday suddenly my server was down for 10 min and elasticbeanstalk  removed my old instance and created new instance now my old server is no more. can any one suggest how can i find what was the issue as i don't have old logs .
 its look like this is log issue only. do you think creating cron job is the best option for l

[2017-12-13 11:14] milesrichardson commented on #4426
Why don't you just use an external library, e.g. "requests"? Not much reason to rely on Parse.Cloud.httpRequest now that parse-server is self hosted.

[2017-12-13 22:38] iranfard commented on #1467
In my case, the problem was file security on the new server and mongdb npm module files, so I had to use "chown" command to own all files and then run "npm install", after that MongoDB client worked properly.

[2017-12-13 23:57] salesmendesandre opened #4427 "Subscription.on(‘delete’, …) triggered when response is an error in cloud function beforeDelete."
### Issue Description

If the cloud function `Parse.Cloud.beforeDelete` is used to check if is valid remove an object from database and the response for that function is an error ( `response.error()` ), the funtion of subscription that receive the delete ( `suscription.on(‘delete’, … )` )  is triggered, but that is not supposed to happen.

### Steps to reproduce
1.  Create a class
2.  Enable live

[2017-12-14 14:21] ranhsd opened #4428 "afterFind request.user is undefined"
Hi,
I created **afterFind** hook on Parse.User object. What i want to do is to restrict access to some **secret** attributes of the user and allow only the current user to view them. In my afterFind hook i tried to do run the following code:

[code]

but i get **undefined** error on the request.user.id condition.
There is a reason why request.user cannot be accessed?

Another thing that i didn't f

[2017-12-14 20:21] montymxb commented on #4422
@RCorsino this really needs more info. It also looks identical to the post you made over in the [js sdk](https://github.com/parse-community/Parse-SDK-JS/issues/534). I'm closing this in favor of the other issue since this seems more related to a use issue with the JS SDK.

If this issue is specifically for the server you an always reword and provide additional details and we can look into this (se

[2017-12-14 20:21] #4422 closed

[2017-12-14 20:24] montymxb commented on #4424
Closing in favor of #3403. @majidhassan  We definitely are open to discussion on this however, just add it to the existing issue so we can keep related discussion consolidated there 👍 .

[2017-12-14 20:24] #4424 closed

[2017-12-14 22:07] montymxb commented on #2315
@a4arpan you can only have on file adapter on parse server at a time. As a result you will be accessing/saving to grid store or to S3 entirely, no in-betweens.

With this being said, I recently helped someone with a migration to a hosted solution from their own setup. To migrate the files across we ended up keeping the original parse server up to have access to those files. From there we utilized

[2017-12-14 22:17] montymxb commented on #4423
@agwl-saurabh if you have no particular reason to upgrade you can remain at **2.6.4** where you are currently.

**2.7.1** should be stable as well if you want the new changes, but _if_ there is no benefit to making an upgrade for you there's not really a need to make that jump then.

Keep in mind that bug fixes, performance improvements and general enhancements are _not_ applied retroactively to e

[2017-12-14 22:31] montymxb commented on #4427
I didn't see anything in the docs clarifying whether this _should_ or _should not_ be the expected behavior. I'm assuming all other related cloud code functions use a similar approach to how `beforeDelete` would be handled. They may all continue regardless of an exception. For further checking I would think that `beforeSave` would be another example to compare against. If any other existing **befo

[2017-12-15 13:46] milesrichardson commented on #4428
What version are you using? I am on 2.7.0 and definitely not having this problem. Make sure you're not testing with, e.g. parse-dashboard using master key.

Regarding your other question, here is some sample code of how I solve this problem. I have a class named "Fund" and a role for each Fund object called fund_xx_invitees. If a user has the role fund_xx_invitees, the user should only see a white

[2017-12-15 13:50] milesrichardson commented on #4418
One thing I would like along these lines is the ability for `parse-server-s3-adapter` to upload to an arbitrary number of buckets, rather than each one. I'm building an app where users create "data rooms" and each data room is an encrypted S3 bucket. As far as I can tell, I can't use any native parse features for this so I need to build the system out myself.

[2017-12-15 13:55] milesrichardson commented on #3403
Also, if you're running in docker, and logging to stdout as well as log files, you might need to delete the docker log file for the container. Easiest way to clear it is like this:

[code]

[2017-12-15 14:02] milesrichardson commented on #3587
I have a library called `parseConstraints` I use for this in `beforeSave`. The code is old and a huge mess / needs to be refactored, so I would rather not share it. But here is what the general API looks like when used in a `beforeSave` trigger:

[code]

Each `parseConstraints` function will reject a promise if there is an error. Other functions I've got include `keysHaveValidValues`, `objectsInAr

[2017-12-15 19:05] jferrer21 commented on #4369
After upgrading to Parse Server  2.7.1,

When I posted to /verificationEmail, I received the verification email.  Then, I clicked on the link,  and I got an "Invalid Verification Link" message.

[2017-12-15 19:32] jferrer21 commented on #4369
The correct post is to /verificationEmailRequest.   Still same issue.

[2017-12-15 23:21] gaodeng commented on #4313
@dongalor @flovilmart
you should check Installation.appIdentifier.
 https://github.com/parse-community/parse-server-push-adapter/blob/8cfc7fea2a405743f35c2b0b15c641f325ddda80/src/APNS.js#L237
[code]
I think it's related here. if Installation.appIdentifier is empty,this method will choose providers without topic.apprently,notification can't send without topic successfuly.

[2017-12-17 09:10] agwl-saurabh commented on #4321
The problem with new user is how he is entering to the parse server . as per my understanding git is the starting point for new user so please sync this with http://docs.parseplatform.org/rest/guide/
 when I started I tried to find "parse server keyword" on google and got github link . not the "http://docs.parseplatform.org/parse-server/guide" and i always followed the option which was given on gi

[2017-12-17 13:27] mginz83 opened #4430 "Proper way to get this type of object from mongo with parse-server?"
Let's say I have this type of object in my mongo.

[code]

how can I reach "one" and "two"?

Normally, I would query it out from the local storage, but with parse-server, how would i get into the level1 object structure from within the object?

[2017-12-17 18:41] tejpratap46 commented on #4430
Query it like this
`query.equalTo('level1.one', '1').find()`

If you have a ParseObject, get it like this
`object.get('level1.one')`

Another way, get as JSON and get your object.
`object.toJSON().level1.one`

[2017-12-17 18:50] mginz83 commented on #4430
Cool. I'll give it a shot. It will query in background just as fast if it's pinned, right?

[2017-12-18 19:49] montymxb commented on #4369
I'll take a look at this and see if there's something in particular that's going wrong here.

[2017-12-18 19:50] SebC99 opened #4431 "Any tips on how to implement a "decrement" badge option?"
I would like to do a PR to allow for a "decrement" badge option in push controller.
Adding a
[code]
is easy, by I guess we should take care of zero values, to avoid negative badge value.
Do you have any idea how I could implement this?
Or what would be the best way to have a `decrement` option in push controller?
(It would great to cancel a notification like an invite for example)

Thanks

[2017-12-18 20:05] montymxb commented on #4418
@milesrichardson I don't see a multi-bucket solution within parse server _itself_ coming around.

With that being said it may be possible to put together a storage adapter that performs this in one way or another. You could base it off of the existing s3 adapter and go from there.

[2017-12-18 21:17] montymxb commented on #4369
@jferrer21 running against the latest build of parse server **2.7.1** it looks like triggering a verification email produces an email with a valid link.

I would double check that you have enabled [email verification](https://github.com/parse-community/parse-server/#email-verification-and-password-reset) in your parse server setup, otherwise [this code](https://github.com/parse-community/parse-ser

[2017-12-18 21:23] ranhsd opened #4432 "Files suddenly stop to work on my local machine"
### Issue Description

I am running parse-server locally with docker and docker-compose. Everything works well but suddenly today the files controller raise errors. When i am trying to access parse file from the app or from the dashboard i receive the following:

[code]

I tried to restart my server, change parse-server version, replace the db with a new one but the issue is still there. What is s

[2017-12-19 00:19] jferrer21 commented on #4369
I have the verifyUserEmails: true and I still have the invalid link page.  I noticed that when I get the verify link is has a token that never changes.  I'm assuming that token is associated with the signup session.  Is this correct?

[2017-12-19 01:53] montymxb commented on #4369
@jferrer21 The email verify token is a randomly generated 25 character string that is created when the first verification email is sent. This is a parameter that is set on your user server side and is _independent_ of any session, it will stay with your user. Depending on your settings it may also have an expiration time as well.

The same token is present when you request for additional verificat

[2017-12-19 02:37] jferrer21 commented on #4369
That was my problem.  The _email_verify_token_expires_at was expired.  Thank you for pointing me in the right direction.

[2017-12-19 03:14] montymxb commented on #4369
Np. I'll reclassify as a bug in the meantime as the tokens (and timers) should be regenerated across subsequent verification requests. We can keep this open until that is resolved.

[2017-12-19 08:38] shkesar opened #4435 "Parse Server upgrade from 2.2.23 -> 2.7.2"
My codebase is using parse-server v2.2.23 and I'm in process to migrate to the latest version with one version bump at a time. I'm looking forward to know any best practices.

For the bigger perspective, the effort depends on the features that I'm using. But which are the most important releases in the past that will require considerable amount of changes?

- **Server**
  - current parse-server ve

[2017-12-19 10:02] dongalor opened #4436 "Request failed: bad request (400)"
### Issue Description

IOS developer gets this exact error, while running cloud function, which executes normally from curl and Paw.

https://gist.github.com/dongalor/ad01f0038ebd45c0be2726ace348e321

On server-side I can only see this error:

0|parse-wr | error: invalid session token code=209, message=invalid session token

But cloud functions, which runs from IOS doesn't uses sessionToken and al

[2017-12-19 11:12] ranhsd commented on #4436
Hi @dongalor are you trying to execute POST request? because cloud code functions must be executed in POST. Can you please put some code in here?

[2017-12-19 11:14] ranhsd commented on #4428
Hi @milesrichardson after investing it a bit I found that the request.user is **undefined** only when the user is the current user otherwise it is not.

[2017-12-19 11:14] dongalor commented on #4436
@ranhsd thank you for reply, yeah, this is post request, cloud function is:

[code]

I can ask IOS developer to provide code of doing request.

[2017-12-19 11:16] ranhsd commented on #4436
Did you tried to debug the cloud code and see the values in it? maybe the IOS side does not send the right values like **tag** and **skip**

[2017-12-19 11:17] ranhsd commented on #4432
@flovilmart Maybe you have a clue on what is the issue ?

[2017-12-19 11:22] dongalor commented on #4436
@ranhsd i don't understand, why I can't see the request params in parse log, while I can see all the params if I use Paw or curl to make a request :(

[2017-12-19 11:36] ranhsd commented on #4436
Hi @dongalor that is strange... there is a chance to add some IOS code as well? Calling cloud functions is simple you just need to execute a POST request to the following endpoint:  https://<host>:<port>/functions/<YourFunctionName> and send the parameters as URL parameters  (?param1=val1&param2=val2 ... )

[2017-12-19 13:17] flovilmart commented on #4428
@milesrichardson i noticed you were still running 2.7.0. You have to upgrade to 2.7.1 as the version you’re running contains a severe issue regarding class level permissions

[2017-12-19 13:18] flovilmart commented on #4432
I’m not sure how it’s possible, but it seems that your server is using the wrong version of the mime package.

[2017-12-19 13:36] dongalor commented on #4436
@ranhsd so, we had a X-Parse-Session token everywhere even in signIn, signOut cloud functions (we don't use Parse IOS SDK), we've removed this header from signIn and signOut and now it works, i think.. Sounds reasonable? )

Thank you so much for you attention!

[2017-12-19 13:36] #4436 closed

[2017-12-19 13:40] dongalor commented on #4436
@ranhsd also, is it ok to use this kind of cloud function to sign user out, using X-Parse-Session-Token?

[code]

[2017-12-19 13:44] dongalor commented on #4313
so, parse looks like updated to 2.7.1, is it possible, that this issue is included in this update? Or this is only parse-push-adapter related?

[2017-12-19 13:47] ranhsd commented on #4432
Hi @flovilmart this is strange because it worked very good before... do you know how to solve this issue  ?

[2017-12-19 13:49] flovilmart commented on #4432
Re run  delete your node_modules folder, run npm install,

[2017-12-19 13:58] ranhsd commented on #4432
Hi @flovilmart i am running it with docker ... so i tried to delete the image and recreate it and its still doing it... This is very strange behaviour and this is not my first project with the current setup and in all other project everything work well..

[2017-12-19 14:00] ranhsd commented on #4436
Hi @dongalor if your client is IOS then you should logout user on the client side and not in cloud code.

[2017-12-19 14:02] ranhsd commented on #4432
Hi @flovilmart I deleted the node_modules folder inside my project and now it works... that is strange because I am not really using it because I'm running npm install on the docker image and it creates a node_modules folder there ... buy thank you very much for helping me here... :)

[2017-12-19 14:07] dongalor commented on #4436
@rihadavid is it possible to logout user on IOS without using Parse SDK?

[2017-12-19 14:26] dongalor commented on #4436
@ranhsd can IOS client logout via rest api?

[code]

[2017-12-19 15:25] dongalor opened #4437 "parse 2.4.2 IOS rest signing out causes invalid session token everywhere"
Related to #4436 I've used rest method on IOS to signOut users this way:

At first I was using in cloud function this kind of signOut:

[code]
which is incorrect as I was told in #4436 , then we switched to rest-way of signing out users:

[code]

After signing out rest-way from IOS, i'm getting error:

`{"code":141,"message":{"code":209,"message":"invalid session token"}}`

on any cloud function,

[2017-12-19 17:22] smassin commented on #3996
This issue is not with the parse-server itself. Its with the JS SDK.
Parse.signUp actually does a ParseObject.save() at its core which does not send an installationId.
There are a couple options:

1) You can insert the following code just before this line https://github.com/parse-community/Parse-SDK-JS/blob/ee33c48e4a19f9264fd4301cb1dd3250dc7550a7/src/ParseObject.js#L1085

[code]

2) You can signU

[2017-12-19 17:29] srameshr opened #4438 "ACL to enable public or role read / write on specific fields of a class"
### Issue Description
If a class has 3 fields namely: ```A```, ```B```, ```C```; is it possible to enable field specific individual role permission?
### Steps to reproduce
Ex:
Field ```A``` could have public read.
Field ```B``` could have role read only.
Field ```C``` could have public read and role write only.
So on and so forth...

[2017-12-19 20:42] ranhsd commented on #4436
Hi @dongalor no.. you need just to clear the session token on the client side (from the keychain access or user defaults) i think you don't need to do anything on the server side... but maybe @flovilmart will be  able to provide more hints here ...

[2017-12-20 00:29] dongalor commented on #4436
@ranhsd cuz today after trying to use REST function of user signing out, I've had a huuuuuuuuuuuge crash.. Ran, thank you so much for your time!

I hope I can have @flovilmart comment, until then I'll remove this rest logout from my IOS app!

[2017-12-20 01:25] Rioner123 commented on #4278
Hi @agwl-saurabh

This is a very interesting topic for me as we scale up. How many aftersave or before save hooks do you use? We currently have about 1000 users that access our server every 5 minutes and we have both beforesave and aftersave hooks. We find that there is a huge stress on our server where we start to get a lot of 4xx and 5xx errors and the health of our server degrades. Any tips? Do

[2017-12-20 01:30] Rioner123 commented on #4210
Hi all,

were you able to figure out these issues?

[2017-12-20 06:01] greenkeeper[bot] opened #4440 "An in-range update of nyc is breaking the build 🚨"
## Version **11.4.1** of [nyc](https://github.com/istanbuljs/nyc) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/parse-community/parse-server/compare/greenkeeper%2Fnyc-11.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-12-20 08:08] ranhsd commented on #4436
Hi @dongalor from what i know the logout on the server is relevant only if your app is a web app which use Parse SDK.
I strongly recommend you and your team to use Parse IOS SDK on the client side.
https://github.com/parse-community/Parse-SDK-iOS-OSX

This SDK will make you and your team life easier than create a custom REST client manually. The SDK provides you all the tools in order to develop y

[2017-12-20 08:54] agwl-saurabh commented on #4435
Install New server with 2.7.1 version of parse. take the backup of DB and create new db with everything same as live server. test this new setup with your app if its work fine make this live. i did same 4-5 times already with previews version. nothing spacial . its all very simple.

[2017-12-20 11:57] #4437 closed

[2017-12-20 13:11] agwl-saurabh commented on #4278
@Rioner123,

I don't think 1000 user per 5 minute is very large user its very small user base . i think i have almost 5000-1000 user per minute as per the analytics(at anytime i can see active user in analytics is minimum 3k for me) i am using in my app and my server never goes above 20% CPU uses. so i don't think you have user issue its look like some server configuration issue . provide me full

[2017-12-21 00:03] montymxb commented on #4210
Could this be related to the single schema cache issue, #4247?

[2017-12-21 07:39] bohemima commented on #4432
I actually had the exact same issue, deleting my node_modules and doing a clean install solved the issue for me as well. Didn't bother to investigate further.

[2017-12-21 11:56] ranhsd commented on #4438
Hi,
What you can do is to create pointers of one to one and then create acl  for each one of the pointers. Another option (without acl's) is to perform a check in afterFind hook and remove the value there.

[2017-12-21 11:57] ranhsd commented on #4432
Yes...

I will close it for now.

[2017-12-21 11:57] #4432 closed

[2017-12-21 12:58] srameshr commented on #4438
@ranhsd I wanted to refrain from manual coding to have this behaviour and use it from the framework level.

[2017-12-21 13:47] flovilmart commented on #4438
This is not something that we support, but if you feel this is an important enough feature, feel free to work on a PR. In the meantime, you can use pointers that have different ACL’s in order to achieve the same functionality

[2017-12-21 21:40] montymxb opened #4442 "Support for Recurring Jobs (Tasks)"
Just a disclaimer this is intended for general discussion.

There are quite a few cases where things need to be run on a periodic basis in conjunction parse server. Whether this is related to logs, general cleanup, monitoring or maintenance the common solution has been to implement a cron job to handle it, or to do it by hand. Although this is perfectly fine (and usually the best option) the idea

[2017-12-21 23:30] flovilmart commented on #4442
In our scenario, that would be harmful, we have many instances running, and only want one to schedule and run the jobs. I believe this functionality is better achieved outside of the core server package.

[2017-12-21 23:32] Pikorua commented on #3014
All those links are 404... Do you know where they have been moved to?

[2017-12-21 23:57] fmendoza commented on #2238
Does the new aggregate queries support pointers?

[2017-12-22 00:05] montymxb commented on #4442
@flovilmart a solution could be devised to respect cases where multiple instances are running, and run reliably as well. I certainly wouldn't dismiss this as a possibility without further investigation into reliable options. It can't hurt to look into it.

I believe a proper integration could be designed to be safe for singular or multi-instance setups (your case). It's worth pursuing as it could

[2017-12-22 00:09] dplewis commented on #2238
I don’t think so. But it does support dot notation. Feel free to open a PR, we’ll review it. You could do `distinct(PointerField.objectId)` but that’s just a workaround

[2017-12-22 00:12] flovilmart commented on #4442
I’m not personally fond of those features as they are properly solved but external components and may require additional maintenance, and will always rely on 3rd party dependencies. While it would be nice to have them, they don’t belong to the server. Those 2 particular features are long running, stateful processes, and even if they leverage the server in some way, they can be totally implemented

[2017-12-22 00:30] fmendoza commented on #2238
yeah I tried your suggestion before (pointer.objectId) before but no results

[2017-12-22 00:40] dplewis commented on #2238
It’s up for the taking 😉

[2017-12-22 01:14] montymxb commented on #4442
I do believe it would be helpful as a built in component, but your rationale for exclusion of something like this from the core is sensible.

Considering that how about favoring instead a module or other supporting component? Having a complementary component (or adapter) to parse server that would allow scheduling could achieve the same effect. And in that direction it would be purely up to the de

[2017-12-22 01:21] flovilmart commented on #4442
We already provide such things, the job schedules are saved in the DB, the push schedules as well. The main issue is the ‘runtime’ that leverages those :(

[2017-12-22 01:31] montymxb commented on #4442
Yeah, we just need a clock and call to trigger stuff ⌚️ . Hmmm..I'll keep this open for now so others can weigh in if they want. It could be, that for the work involved, cronjobs may just be the best solution for the time being. I'll look into setting up something standalone that could pair with parse server, allowing scheduled jobs and pushes to be triggered. Could be something like 'parse-schedu

[2017-12-22 03:48] montymxb commented on #4442
For reference I'm adding these two independent solutions for scheduled pushs and jobs, as options for others to be aware of.
https://github.com/AmpMe/parse-server-scheduled-pusher
https://github.com/AmpMe/parse-server-job-runner

[2017-12-22 06:04] HackShitUp commented on #3532
@flovilmart could the default should be 20Mb file size be modified from the index.js file from the example parse server?

[2017-12-22 08:19] mman commented on #4442
From where I sit (skilled unix admin) I still would vote +1 for something like this. Having a simple mechanism to trigger a cloud function repeatedly from within the parse servers itself would make it simple to keep one code base take care of everything. I have way too many times forgot to copy over the necessary cron files that essentially only invoke cloud functions via curl to perform various t

[2017-12-22 13:11] flovilmart commented on #3532
You should set it in your configuration object

[2017-12-22 14:12] dongalor commented on #4436
@ranhsd thank you again! Actually my IOS team decided to go other way by using their own afnetwork rest client, but now they do understand, that using parse-ios-sdk would be time- and life-saviour )

[2017-12-22 15:40] HackShitUp commented on #3532
@flovilmart I actually resolved it about 6 hours ago. For anyone else who might have issues with this in the future, I resolved it by doing the following:

For video files to upload properly, the .ebextensions folder must contain a files.config file that sets the client's max upload size (https://github.com/parse-community/parse-server/issues/2671). When the files are zipped (via MAC OS), it also

[2017-12-22 16:47] ranhsd commented on #4436
@dongalor totally. I suggest you and  your team that if you want to be generic and not count only on parse IOS SDK what you can do is to create an abstract layer that will wrap the parse IOS SDK and will map data from parse objects to your own custom models. This way you will be agnostic to any server side solution that you will want to adopt in the future and not only to parse

[2017-12-22 17:34] montymxb commented on #4442
@mman We would probably go for a module or something independent. It would still be something that could be put in `package.json` to keep it all together. Additionally the links above ^ may be of interest to you.

[2017-12-23 09:17] petritzdesigns opened #4444 "GridStoreAdapter cannot stream file"
### Issue Description

When uploading files in the Parse Dashboard, they are unavailable after a period of time. They produce a "File not found." error. I use the GridStoreAdapter to store the files in the MongoDB directly.

### Steps to reproduce

Set up a parse server instance with express and add the parse-dashboard. Then you upload a file with the upload functionality on an File column. After

[2017-12-23 22:45] GoGross opened #4447 "Parse include * ( everything or any regex option available )"
Is there an option available to include all pointers on a query without necessarily specifying each one of them?

`params: {
						'include': '*',
						'limit': 5
					}`

[2017-12-23 23:38] montymxb commented on #4447
I don't believe there is an include all feature, you would have to clarify the keys individually.

[2017-12-24 09:44] GoGross commented on #4076
@flovilmart  whats your take?

[2017-12-24 11:37] JulienRcs opened #4450 "Unable to update an User with useMasterKey"
### Issue Description

I'm trying to update an User when another user click on my Xamarin button.
Then, I used Cloud Code to perform this but it doesnt work

### Steps to reproduce

Here is my complete JS code :

[code]

#### Expected Results

`return myUser.save(null, {useMasterKey:true});`

Should work

#### Actual Outcome

I actually have that error :

### Environment Setup

- **Server**
  - pa

[2017-12-24 12:47] alkebuware opened #4452 "Parse Server Redis Sentinel Support for Live Query"
### Issue Description
It appears that Parse Server doesn't support redis-sentinel URLs for Live Query. When passing in a redis-sentinel url, the underlying redis module throws an exception

### Steps to reproduce
1. Put a redis-sentinel URI in ParseServer's liveQuery block's redisURL
2. Put the same redis-sentinel URI in the options for createLiveQueryServer

[code]

#### Expected Results
I was ho

[2017-12-24 12:51] flovilmart commented on #4076
You can use indexes in both mongo or Postgres to enforce uniqueness for a particular column

[2017-12-24 16:46] flovilmart commented on #4452
HI @alkebuware you're right, we don't support redis-sentinel out of the box, but you can write your own adapter for it if that's something you're interested in.

A custom pubsub adapter should be pretty simple to write based on the [redis adapter](https://github.com/parse-community/parse-server/blob/master/src/Adapters/PubSub/RedisPubSub.js)

There is this [redis-sentinel package](https://github.c

[2017-12-24 20:16] ennaimyassine opened #4455 "This session token is invalid. code=209, message=This session token is invalid"
Please how can i solve this error
![capture](https://user-images.githubusercontent.com/6969417/34328978-267aaad2-e8e7-11e7-83f8-280e4b1cb60d.PNG)

`// isAuthorized Check Token
const isAuthorized = async token => {
  const q = new Parse.Query(Parse.Session).include("user").equalTo('sessionToken', token);
  const session = await q.first({ useMasterKey: true });
  if (typeof session === 'undefined')

[2017-12-25 06:16] GoGross commented on #4076
The API for schema also illustrates that, thanks,

`const schema = new Parse.Schema('MyClass');
schema.addString('field');
schema.addIndex('index_name', {'field', 1});
schema.save();`

[2017-12-25 07:40] GoGross opened #4458 "Access mongo create schema in parse"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

If you have a vulnerability disclosure, please follow our policy available here https://github.com/parse-community/parse-server/blob/master/SECURITY.md

You may also search through existing issues before

[2017-12-25 07:55] greenkeeper[bot] opened #4459 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **8.1.1** of [babel-eslint](https://github.com/babel/babel-eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/parse-community/parse-server/compare/greenkeeper%2Fbabel-eslint-8.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>

[2017-12-25 08:37] flovilmart commented on #4458
You should either create your collections through the parse API, or alter the _SCHEMA table to reflect your collection and fields. I would not recommend the latter as you may render your collection invalid.

[2017-12-25 08:37] #4458 closed

[2017-12-25 09:01] GoGross commented on #4458
I think parse needs to allow pluggable mongodb transactional queries that would ease development and speed up apps. For example, increment document column field, with each entry, these are readily available features, and it would be great to implement these, Parse side,