[2019-02-06 20:23] flovilmart commented on #5327
alright let's go then.

[2019-02-06 21:05] dplewis commented on #5349
Please fill out the template and reopen.

[2019-02-06 21:05] #5349 closed

[2019-02-06 22:50] eslam2010011 opened #5350 "cloud code"
I changed the code from hi to hi _man but nothing changed

![image](https://user-images.githubusercontent.com/21963428/52378938-be118100-2a71-11e9-9cd6-499e960f512b.png)

When I add another functions it gives me

![image](https://user-images.githubusercontent.com/21963428/52379081-13e62900-2a72-11e9-94cb-cfb6af788897.png)

#### Expected Results
job result success

#### Actual Outcome
job result fa

[2019-02-07 00:44] flovilmart commented on #5350
Did you deploy your code correctly?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-07 01:16] eslam2010011 commented on #5350
![image](https://user-images.githubusercontent.com/21963428/52384507-72b59d80-2a86-11e9-85de-aa36dd23b95b.png)
![image](https://user-images.githubusercontent.com/21963428/52384533-8eb93f00-2a86-11e9-87eb-f2607a80084b.png)
 this my code

[2019-02-07 01:20] eslam2010011 commented on #5350
![image](https://user-images.githubusercontent.com/21963428/52384668-27e85580-2a87-11e9-9bb6-efe1e9df749c.png)

The path of the cloud file

The path of the cloud file

[2019-02-07 01:20] flovilmart commented on #5350
This code needs to be run. You need to restart your server or re deploy. Perhaps you should ask a coder friend for those basic issues. Or open a topic on https://community.parseplatform.org

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-07 18:30] eslam2010011 commented on #5350
how restart parse server
#restart

[2019-02-08 01:59] mtrezza commented on #5338
Which version of parse server are you using?

[2019-02-08 07:02] mat2cc commented on #5338
Parse Server version 3.0.0

[2019-02-08 10:33] guidupas commented on #5333
I changed this line

Parse.serverURL = "http://localhost:1337/parse";

to

Parse.serverURL = "http://[SERVER-IP]:1337/parse";

and it is working now.

[2019-02-08 17:37] dplewis commented on #5338
@mat2cc I commented on your stack overflow post

[2019-02-09 02:51] mtrezza opened #5352 "Invalid parameter for query: pipeline"
After upgrading from Parse Server 3.0.0 to a version >3.0.0 and <=3.1.3 (latest) the aggregate query in cloud code does not work anymore.

The query:
[code]
fails with error:

I also tried the pipeline object as array which also fails:
[code]
Such an error can be thrown at:
- [ClassesRouter.js](https://github.com/parse-community/parse-server/blob/d83a0b680854f52ce30205d3558c0133d7f8cf19/src/Router

[2019-02-09 12:15] nebitrams commented on #4991
In Parse-Server 3.1.3 onwards, is it normal to see error log with stack trace whenever I throw an error in cloud function?  In parse-server 2.x, returning error using response.error did not cause he server to show stack trace.

Sample cloud function:
`Parse.Cloud.define("createUserByAdmin", (request) => {
    throw new Error("This is my error.");
});`

I see this log with stack trace in the server

[2019-02-09 12:52] flovilmart commented on #4991
This is not related to parse-server 3.1.3 but because you are throwing and Error instance, which has a stacktrace part of it’s construction.

If you wish to avoid it, use `return Promise.reject(‘This is my Error’)`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-09 13:00] nebitrams commented on #4991
I changed it to `return Promise.reject('This is my Error.')` but I still see the same stack trace.

[2019-02-09 16:14] flovilmart commented on #4991
My bad, Feel free to open a PR if this behavior is problematic

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-09 18:37] jdlugo commented on #5161
@flovilmart I believe I had a similar problem to @jc73300. I tested all parse-server versions greater than 3.0.0 and consistently ran into this problem. I do not experience this problem with 3.0.0. I am using Postgres, for what it's worth.

2019-02-09T18:33:48.106800+00:00 app[web.1]: TypeError: Cannot redefine property: _Installation
2019-02-09T18:33:48.106803+00:00 app[web.1]:     at Function.de

[2019-02-09 18:41] flovilmart commented on #5161
Can you share your schema please?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-09 18:44] jdlugo commented on #5161
create table "_Installation"
(
	"objectId" text not null,
	"createdAt" timestamp(6) with time zone default NULL::timestamp with time zone,
	"updatedAt" timestamp(6) with time zone default NULL::timestamp with time zone,
	"installationId" text,
	"deviceToken" text,
	channels jsonb,
	"deviceType" text,
	"pushType" text,
	"GCMSenderId" text,
	"timeZone" text,
	"localeIdentifier" text,
	badge double p

[2019-02-09 18:51] flovilmart commented on #5161
It’s not what I meant, I meant the contents of the _SCHEMA table

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-09 18:59] jdlugo commented on #5161
create table "_SCHEMA"
(
  "className"    varchar(120) default NULL::character varying not null,
  schema         jsonb,
  "isParseClass" boolean
);

INSERT INTO public."_SCHEMA" ("className", schema) VALUES ('_Installation', '{"fields": {"id": {"type": "String"}, "user": {"type": "Pointer", "targetClass": "_User"}, "badge": {"type": "Number"}, "_rperm": {"type": "Array", "contents": {"type": "Str

[2019-02-09 19:52] flovilmart commented on #5161
Ok. I believe I know what’s going on, but I am not sure how the _Installation schema is appearing twice. Would you be able to insert a console.log to print the contents of the `allClasses` array?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-10 21:38] mtrezza commented on #5352
Also deleted `parse` dependency from `parse-server-example` and deployed on heroku with `node_module_cache=false`, `npm list` shows `parse@2.1.0` installed under `parse-server@3.1.3`.

Still getting the error.

[2019-02-11 02:29] mtrezza commented on #5352
So it's not a bug, it was a Parse Server vs. Parse JS SDJ mismatch.
I had two parse servers running on the same DB for testing during migration. Turns out that some URLs in the v3.x server still pointed to the other v2.8.4 server. After correcting the URLs all works fine.

Thanks @dplewis (on [SO](https://stackoverflow.com/questions/54584934/parseerror-102-invalid-parameter-for-query-pipeline)).

[2019-02-11 02:29] #5352 closed

[2019-02-11 13:20] drdaz opened #5353 "Docker image doesn't allow for npm install"
### Issue Description

The 3.1.3 docker image doesn't allow for npm install.

### Steps to reproduce

Use a Dockerfile containing the following:
[code]

Then build the image.

### Expected Results

A built parse-server image with the s3-files-adapter node module installed.

### Actual Outcome

[code]

### Environment Setup

- **Server**
  - parse-server version 3.1.3
  - Operating System: Docker r

[2019-02-11 14:41] flovilmart commented on #5353
This is because the image is locked down and current user is node. You can add `USER root` before your nom install and this should be good

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 18:45] drdaz commented on #5353
I tried that (and remembered to switch user back to node before the end of the file)... unfortunately:
[code]
I wasn't expecting that. ^^

This also doesn't occur with the earlier versions of the image.

[2019-02-11 18:58] flovilmart commented on #5353
This makes sense, we ship a trimmed down version now and probably you should not rely on any other package to be installed (like git or npm). I understand this is unfortunate. Do you need —save though? You can install your modules globally?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 19:20] drdaz commented on #5353
Maybe --save isn't necessary; it's copypasta I think.

I've got the latest version running now using global installs; it looks happy (though I haven't run any tests).

So for anybody who may run into this in the future, the dance for installing modules (in this case @parse/s3-files-adapter) on > 3.1.3 looks something like this:
[code]

[2019-02-11 19:22] flovilmart commented on #5353
Is it necessary to link?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 19:25] drdaz commented on #5353
Yeah... otherwise node can't find the modules at runtime it seems.

[2019-02-11 23:14] nemodym commented on #1013
Mpc20001 your article is saying basically abandon the REST paradigm altogether for the interface to your parse application ... everything becomes POST requests invoking functions rather than intuitively matching verbs to resources.

[2019-02-11 23:34] fatbattk opened #5354 "Add Pragma and Cache-Control to Access-Control-Allow-Headers"
### Is your feature request related to a problem? Please describe.
IE 11 caches (_304_) same requests and the only way to force it not to is by passing the _**Pragma**_ and _**Cache-Control**_ headers.
https://stackoverflow.com/questions/45912500/reactjs-ie11-not-making-new-http-request-using-cached-data

However Parse Server's _**Access-Control-Allow-Headers**_ does not allow both those headers.

[2019-02-12 00:27] mpc20001 commented on #1013
You can use whatever verbs you want. But yes everything becomes a post request since that's how cloud calls work and is handled server side rather than relying on the client to provide you security. I'm saying writing your own api is a lot more secure than allowing free access to your database or relying on acls.

[2019-02-12 00:32] flovilmart commented on #1013
Which defeats the point of using ACL’s and CLP. Not sure this is quite the good advice.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-12 00:48] mpc20001 commented on #1013
There's lots of situations where you will find ACL's don't work, or you paint yourself into a corner. I'm not saying you have to do it this way. I'm just saying it's worked for me and avoided any data breaches which is a common problem with systems built on parse.

[2019-02-12 01:02] flovilmart commented on #1013
IMHO, the tutorial is a quite bad example of using this project, as you can achieve the same without cloud functions. But who am I to judge?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-12 11:04] simonaberry commented on #3387
for anyone who reads this later... problem with the above approach is you cannot modify `expiresAt` - it is a read only field

so have to create your own `timesOutAt` field and use a background job to delete any 'timedout' sessions

[2019-02-12 11:19] lukyanov opened #5355 "PostgreSQL adapter: cannot pass more than 100 arguments to a function"
### Issue Description

There is quite an issue introduced in here: 631b1684
You can't save more than 100 elements in an array type field anymore when using PostgreSQL.
The error appears when calling `json_build_array()`.

### Steps to reproduce

1. Create a field of type 'Array'.
2. Try to save more than 100 elements into it.

### Expected Results

The array is saved successfully.

### Actual Outc

[2019-02-12 18:16] nemodym commented on #1013
Sorry didn't understand what that means. If everything becomes a POST
request how can you use other http verbs (GET, PUT etc)?

On Mon, Feb 11, 2019, 4:27 PM Joren Winge <notifications@github.com wrote:

[2019-02-12 18:43] flovilmart commented on #1013
@nemodym the article suggests all implementation should be done through cloud functions. while this works, one could argue you'd be able to build the same with an express server or using mongoose. Using the masterKey is not how this project was designed.

[2019-02-12 20:03] RaschidGithub commented on #1411
Is it still possible to delte files this way?
I'm receiving `Cannot DELETE /PixiesPoultry/files/GsVo6TefWYw2iMRq4jj33xIU7hoGc5LuxiK60sm8/5ad7de3d4e4decaa108a3024fae82f7c_hqdefault.jpg`

My request:

[code]

[2019-02-12 20:08] RaschidGithub commented on #1411
Never mind... I just changed the url to `http://localhost:1337/PixiesPoultry/files/5ad7de3d4e4decaa108a3024fae82f7c_hqdefault.jpg` and it worked.

[2019-02-13 13:41] nebitrams commented on #5032
@greggmojica I hope you have completed your migration.  I have migrated my code with the least code change and share some details in my blog [https://nebitrams.blogspot.com/2019/02/migrating-to-parseserver-3.html](url)

[2019-02-13 15:34] dplewis commented on #5355
Try https://www.postgresql.org/docs/9.1/runtime-config-preset.html

There is a `max_function_args` option that defaults to 100

[2019-02-13 17:31] lukyanov commented on #5355
Yep, I know about this limitation. I just don't think this is a good solution to the problem.

The thing is that I just want to store an array of json objects to a Parse object field. That's it. PosgreSQL (and Mongo as well) supports this out of the box. I don't call database functions or anything like that. There is a value and there is a field. I put the correctly shaped value to the field. Why

[2019-02-13 17:52] lukyanov commented on #5355
Let me try to express my point in other words.

If such an error occurred due to a limitation in the storing flow of the backend database (PostgreSQL in this case), everything would be completely fine. For example, imagine that PostgreSQL has the limit of how many items can be stored in an array (it does, by the way, but in terms of a total size of the field). Now when I store an array of some out

[2019-02-13 18:05] dplewis commented on #5355
Possible solution:

The old method takes one parameter (which is why you can store more than 100 objects) but it doesn't allow for mixed values

`array_to_json('{}'::${type}[])::jsonb`

The new method allows for mixed values but as the issue you mentioned doesn't allow for more than 100 arguments

`json_build_array(1, '2', [1,2,3])`

A possible fix would be to use the first method if they are all

[2019-02-13 20:38] oproulx opened #5358 "Login with FB causing error 500"
Login with Facebook was previously working, but I'm now seeing the following error:

### Environment Setup

- **Server**
  - parse-server version:  2.7.4 (but tried with 2.7.2, 2.7.0, 2.6.5, 2.2.9)
  - Operating System:  IIS
  - Remote server? : Azure Web App

Is this perhaps related to:
https://github.com/parse-community/Parse-SDK-JS/issues/726

[2019-02-13 21:18] maxiundtesa commented on #5293
The problem was the regex in `createLiteralRegex`:
[code]

It only supports "normal" letters, otherwise it will escape the char.

**Solution: To fix this** and support foreign letters like äößùüâæç..., **I used XRegExp** (already a dependency of Parse Server).

[code]

[2019-02-13 22:01] oproulx commented on #5358
We seem to have resolved this by adding the following pods on iOS:

[code]

[2019-02-14 00:08] #5358 closed

[2019-02-14 00:09] dplewis commented on #5293
@maxiundtesa Would you like to open a PR?

[2019-02-14 17:41] rihadavid opened #5365 "Selecting authData doesn't work"
### Issue Description

When querying _User and selecting `authData`, it's not contained in the response. The workaround is to select `_auth_data_facebook` instead. But `authData` should also work.

### Steps to reproduce

Try in the API console, for example `where={"username":"youruser"}&keys=authData` vs `where={"username":"youruser"}&keys=_auth_data_facebook`

- **Server**
  - parse-server versi

[2019-02-14 18:40] acinader commented on #5365
are you using the masterkey?

https://github.com/parse-community/parse-server/blob/46ac7e7f1183a1cb3ad74684f3803805ced166b0/src/RestQuery.js#L856

[2019-02-14 18:45] rihadavid commented on #5365
yes I am

[2019-02-15 02:09] mtrezza commented on #4902
@flovilmart I stumbled across [this SO answer](https://stackoverflow.com/a/45715823/1870795), proposing to use the mount path to versionize the cloud code. What are you thoughts on this? Could it be a problem if multiple instances of Parse Server run on the same DB?

[2019-02-15 02:21] flovilmart commented on #4902
It could very well collide and is not recommended

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-15 19:56] mtrezza commented on #4902
@flovilmart Just to understand, running multiple parse servers with the same cloud code and configuration (storage, push, etc) and a common DB should work fine? For example when migrating to a different PaaS provider and parse server runs concurrently in both environments.

[2019-02-15 20:20] flovilmart commented on #4902
I don’t believe so. Your objects could end up in a different Sara as

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-15 20:26] mtrezza commented on #4902
@flovilmart With a common DB I mean, hosted externally, on mLab for example.

[2019-02-15 20:36] flovilmart commented on #4902
Same thing.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-15 23:52] mtrezza commented on #4902
@flovilmart Why? Didn't parse.com have the same migration strategy?

![screen shot 2019-02-16 at 00 50 45](https://user-images.githubusercontent.com/5673677/52890433-fc4f2480-3184-11e9-8002-e1ec2c4f3625.png)

[2019-02-16 00:01] flovilmart commented on #4902
I have no idea what you are referring to, but there is a fact. This fact is that the JS SDK only supports a single instance for a given process, as this JS SDK is used in cloud code. From there, you should never initialize 2 parse server instances, in the same node process. I you don’t believe me, feel free to do what you want

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-16 00:13] mtrezza commented on #4902
@flovilmart I was referring to something else: One parse server instance running on Heroku, another one on AWS EC2. They run in separate environments but connect to the same database on mLab. Do you see any issues with that? My bad, I should have been more clear.

[2019-02-16 00:19] flovilmart commented on #4902
No I don’t

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-17 05:45] nebitrams opened #5371 "Dynamically changing parse server URL in iOS SDK"
Can iOS app switch between 2 parse-server dynamically without restarting the iOS App?

My usage scenario is as follows...

Currently my iOS App connects to parse-server on Heroku.  I am planning to split my users into two groups: premium and basic.  I have prepared two servers
1. Premium: https://abc1.server.com/parse"
1. Basic: https://abc2.server.com/parse"

I need to implement the logic to make

[2019-02-17 13:54] acegreen opened #5372 "Updating from v2.3.6 to v3.1.3 MongoDB access issue"
Hi, I haven't touched Parse server in a while so maybe I'm missing something obvious here but I can't seem to get the new Parse server instance to recognize my database. The v2.3.6 instance seems to recognize it just fine.

I also checked the migration documentation but haven't been able to pinpoint the issue. Only warnings on Verbose=1 show that push related issues since I'm running to instances

[2019-02-18 08:04] georgesjamous commented on #5371
_Is been a long time since I dabbled with the front end code of this repo. And I am not sure i am still up to date with the internals._ That being said, in my opinion you have three options:

- Do not re-initialize the app, initialize once depending on the user's group, yet again...
How can you determine the user's group before connecting ? is it hardcoded? are they using the same database? What's

[2019-02-18 12:51] nebitrams commented on #5371
Thanks for giving some insight into this.  Some details

1. I determine the user group by running a Parse cloud function.
1. Both servers point to the same database.
1. I plan to use 2 different heroku servers:
a. Paid heroku server for Premium users.
b. Free heroku server for Basic users.

The logic of switching between server A and B works well but the downside is that I need to force the user t

[2019-02-18 13:00] #5371 closed

[2019-02-18 13:09] nebitrams commented on #5372
hi,

  I believe I had faced the same issues as what you see now.  "Unable to ensure uniqueness" for usernames, email addresses and role names.

  Refer to my resolution here https://github.com/parse-community/parse-server/issues/5161#issuecomment-441409616

  If you have a test environment, I recommend that you try to drop the 3 indices in test environment and see whether that resolve the warning

[2019-02-18 13:29] acegreen commented on #5372
@nebitrams thanks for the response. The warnings are indeed because I have test environments but that isn't the issue. I had setup v3.1.3 as a standalone and the database still didn't load, that's why I setup another instance and now encounter these warnings.

Also Im on v3.1.3 and my cloud code is commented out.

[2019-02-18 13:31] nebitrams commented on #4991
I am alright with seeing stack trace from throw new Error("This is my error.").

When I refactor my code further, I notice another problem which is a bit more serious.  In the parse-server 2.8.3 (with jssdk 1.11.1), I see the line number of the original code upon an unexpected runtime error.  This is very useful for troubleshooting.  In the example below, Parse SDK 2 does not show the line number

[2019-02-18 13:49] nebitrams commented on #5372
The first 3 warnings starting with "Unable to ensure uniqueness" is not related to your test environment.  They are there because parse-server 3 failed to create new indices.  However, since these are warnings and you application should still work as per normal.

The first line of log says "DATABASE_URI not specified".  Where do you run your mongo database?

[2019-02-18 15:44] acegreen commented on #5372
@nebitrams database runs locally, and I used the same index.js so I would assume it should work.

<img width="898" alt="screen shot 2019-02-18 at 10 42 34 am" src="https://user-images.githubusercontent.com/10794609/52961975-1f86f900-336a-11e9-9a37-06091b90e62c.png">

[2019-02-19 09:35] nebitrams commented on #5372
The npm start log in the original post screen shot is truncated. It shows only warning. Is there any error at the end of the log?

Does “npm start” successfully start up the parse server locally?

[2019-02-19 10:22] acegreen commented on #5372
I updated the screenshot, it is not truncated, the rest was just attempts to query the database. The server is running fine with no errors, its shown in the first few lines of that screenshot.

[2019-02-19 10:45] acegreen commented on #5372
Got database access on version v3.1.3 by deleting the _PushStatus class though Parse Dashboard, now onto resolving the errors. @nebitrams can you just delete the indexes through Parse dashboard or does it have to be done through MongoDB?

[2019-02-19 10:45] #5372 closed

[2019-02-19 12:25] acegreen commented on #5161
Does dropping the index delete everything in that column? I need the usernames & emails of _User

[2019-02-19 12:58] nebitrams commented on #5372
The database index can only be deleted in mongo database.

Cannot delete from parse dashboard.
Do not delete the table column. This is dangerous because those coulmns are useful.

[2019-02-19 14:27] johanarnor commented on #5161
@acegreen Nope, the data stays safe, we just deleted the index in mongodb. We're using mLab, so it was just a few clicks in the GUI. I guess they run [dropIndex](https://docs.mongodb.com/manual/reference/method/db.collection.dropIndex/).

[2019-02-19 16:30] mtrezza opened #5378 "GDPR compliance"
**TLDR**: This feature request describes data access and modification logging which is a legal requirement in some jurisdictions.

---
**Is your feature request related to a problem? Please describe.**
Parse Server offers data access and manipulation via its Parse Dashboard. For the dashboard to be usable in a business (or even "hobby developer") environment, Parse Server needs to comply with GDPR

[2019-02-19 16:44] ssgsgugel opened #5379 "Push Notifications stopped working"
### Issue Description

We have been running parse-server on AWS hosted ubuntu servers for a few months now and have been successfully pushing notifications out through the cloud push features for our iOS app. At some point between February 6th and February 13th, our push notifications stopped working through Parse and APN. As shown in the sample log statement below, we receive a success back from

[2019-02-19 16:47] ssgsgugel commented on #5379
In addition, our dev environment is running an Elastic Beanstalk version and we are experiencing similar issue there, so different version of Parse-server, but same issue.

[2019-02-21 14:05] acegreen commented on #5161
I was able to dropIndexes for _Role name and _User username but dropping _User email doesn't resolve the last warning I have

[2019-02-21 15:32] acegreen commented on #2272
@dnadri did you find a solution to this? If so, could you post it for reference?

[2019-02-21 17:05] fmendoza commented on #4813
I think it's related: query.near() seems not working as expected on parse-server 2.8.2-2.8.4

<img width="429" alt="captura de pantalla 2019-02-21 a la s 10 50 17" src="https://user-images.githubusercontent.com/1320696/53187273-65d99380-35c8-11e9-8d17-e28f5b3b8025.png">
<img width="495" alt="captura de pantalla 2019-02-21 a la s 10 50 26" src="https://user-images.githubusercontent.com/1320696/5318

[2019-02-21 17:32] fmendoza commented on #4813
Just notice that I was sending the latitude for both lat/lng 😣 it's working now you can ignore my previous message.

[2019-02-21 20:48] LilMoke opened #5383 "Limit question about Parse?"
I was wondering if anyone can tell me all the citations with Parse.  I know of the 100 record limit and how to get around it, but I am trying to find out what other limitations Parse has.  I have seen some people say that if you get over 10,000 records in the Collections Parse stop working.

So, can anyone tell me what all the limits are with parse?

Thank you

[2019-02-21 21:39] mtrezza commented on #5383
- The 100 record limit has been a feature of parse.com and has been removed from the open source parse-server.
- I am not aware of any limitations regarding collection size. I have seen collections with millions of documents where parse server works fine. Before parse server becomes a conceptual limitation regarding most (hobby) developers will run into database limitations (e.g. [monogdb limitati

[2019-02-21 21:43] mtrezza commented on #5379
Enable push adapter verbose logging with `VERBOSE_PARSE_SERVER_PUSH_ADAPTER=1` to see more details. Also check if the APNS certificate has expired.

[2019-02-21 23:05] nebitrams commented on #5161
@acegreen
What is the last warning that you mentioned?

For me, 3 warnings of these nature were gone.

warn: Unable to ensure uniqueness for usernames: MongoError: Index with name: username_1 already exists with different options

[2019-02-21 23:34] mtrezza commented on #2671
Elastic Beanstalk now has [native support](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/java-se-nginx.html) for appending the nginx configuration.

For example, add a file `.ebextensions/nginx/conf.d/parseserver.conf` with content:

[2019-02-22 02:06] acegreen commented on #5161
exactly those, the last one was the email which i dropped as well but the warning won't go away. For some reason my warning is truncated so I don't actually see the index name

[2019-02-22 14:13] eslam2010011 opened #5384 "How to use $ geoNear with aggregate؟"
Uncaught internal server error. { MongoError: geoNear command failed: { ok: 0.0, errmsg: "'near' field must be point", code: 17304, codeName: "Location17304" }
    at queryCallback (/root/parse-server-example/node_modules/mongodb-core/lib/cursor.js:248:25)
    at /root/parse-server-example/node_modules/mongodb-core/lib/connection/pool.js:532:18
    at args.(anonymous function) (/usr/lib/node_modul

[2019-02-22 15:04] acegreen commented on #5383
is it 100 or 1000?

[2019-02-22 15:08] mtrezza commented on #5383
In any case there is a default limit of results returned when _not setting a limit_, but you can set any limit for a query.

[code]

[2019-02-22 16:18] acegreen commented on #5383
Can you set an unlimited query?

[2019-02-22 16:21] mtrezza commented on #5383
Did you take a look at the DB docs?

For [mongodb](https://docs.mongodb.com/manual/reference/method/cursor.limit):

[2019-02-22 16:23] acegreen commented on #5383
I never noticed that. Thanks

[2019-02-22 19:39] mtrezza opened #5386 "S3 file adapter docs missing parameters"
The [S3 file adapter](https://docs.parseplatform.org/parse-server/guide/#configuring-s3adapter) is missing some parameters that have been added over time.

**Suggestions for parameters to add to doc:**

baseUrl
- Description: The base URL the file adapter uses to determine the file location for direct access.
- Note: Optional. Default: `null`. To be used when `directAccess=true`. When set the file

[2019-02-22 19:52] dplewis opened #5387 "[Feature Request] Redis retry_strategy"
**Is your feature request related to a problem? Please describe.**

If a redis server goes down the server will go down.

**Describe the solution you'd like**

Should auto connect based on number of attempts or timeout

**Additional context**

The redis node package already has this feature, here is an example taken from their docs.

[code]

[2019-02-23 04:24] mtrezza opened #5388 "Cost optimization for Parse Server on AWS"
After moving from Heroku to AWS, the costs of running Parse Server have significantly increased (more than 3 fold).

**Heroku:** On average 4 dynos `STANDARD 2X`
**AWS:** On average 5 instances `t2.small` on Elastic Beanstalk with Application Load Balancer

In both cases
- ca. 150 requests / second handled
- files are stored on S3 with `directAccess=false`

AWS Cost Explorer shows that >50% of the

[2019-02-23 06:41] HackShitUp commented on #2671
@mtrezza what is conf.d and parseserver.conf? I ran into this issue again after I thought it was resolved about 2 years ago...

[2019-02-23 10:48] agwl-saurabh commented on #4955
### Issue Description
npm WARN deprecated uws@10.148.1: New code is available at github.com/uNetworking/uWebSockets.js

and this issue

make: Entering directory '/root/parse-server-example/node_modules/kerberos/build'
  CXX(target) Release/obj.target/kerberos/lib/kerberos.o
In file included from ../lib/kerberos.cc:1:0:
../lib/kerberos.h:5:10: fatal error: gssapi/gssapi.h: No such file or directory

[2019-02-23 10:51] mtrezza commented on #2671
@HackShitUp I don’t understand your question. conf.d is a directory, parseserver.conf is a file you add. Did you read the linked doc?

[2019-02-23 10:53] agwl-saurabh commented on #5388
I am also facing same issue on AWS i used AWS for almost 1 yrs but i am moving to digitalocean . the problem with aws is they charge for bandwidth even for everything like hard disk etc also but digitalocean has fixed and now i am able to reduce my cost to 60% in comparison to AWS.

[2019-02-23 11:40] mtrezza commented on #5388
@agwl-saurabh What I don't understand is why the costs are significantly less on Heroku. How can PaaS be more expensive than IaaS when Heroku even runs on AWS. If they have some bandwidth discount they got a pretty good deal with AWS saving ~70% of costs.

[2019-02-23 12:29] agwl-saurabh commented on #5388
very simple answer to this when you use AWS. u actually start using lot of unwanted services which really add up the cost for e.g I was using parse on AWS elastic bean(by one click button on parse example) and when i was on free tire i was not paying for loadbalancer data transfer and lot more was on free and suddenly after my free tire my bill becomes almost 2.5 what i was paying on free tire. FY

[2019-02-23 18:20] agwl-saurabh opened #5389 "Parse server installation issue on digital digitalocean."
### Issue Description

I am facing two instalation issues.

and

CXX(target) Release/obj.target/kerberos/lib/kerberos.o
In file included from ../lib/kerberos.cc:1:0:
../lib/kerberos.h:5:10: fatal error: gssapi/gssapi.h: No such file or directory
#include <gssapi/gssapi.h>

I have already checked the closed issue but did not able to find the solution.

### Steps to reproduce

I am using "parse-serv

[2019-02-23 23:07] HackShitUp commented on #2671
@mtrezza yea I just figured it out. Turns out you can actually modify the nginx file as well. Just set it under the server config:

[code]

[2019-02-24 00:27] acinader commented on #5386
would you be willing to open a pull request for this change?

[2019-02-24 00:28] acinader commented on #5383
Nothing to do here, right?

[2019-02-24 00:28] #5383 closed

[2019-02-24 00:30] acinader commented on #5384
our github issues are for bugs and feature requests.

If you'd like help, [StackOverflow](https://stackoverflow.com/questions/tagged/parse-server?sort=newest&pageSize=30) is a good resource.

[2019-02-24 00:30] #5384 closed

[2019-02-24 00:33] acinader commented on #5378
I assume that doing this at the data level (i.e. mongo logging) would not be adequate cause we don't have the user associated with the changes.

Adding to the dashboard seems reasonable to me.  Would you be willing to open a pr to get it started?

[2019-02-24 00:35] acinader commented on #5354
@fatbattk would you be willing to open a pr to resolve this?

[2019-02-24 00:36] #5338 closed

[2019-02-24 14:24] jpbala opened #5390 "Push configuration to server.js"
### Issue Description

### Push Configuration

Please provide a copy of your `push` configuration here, obfuscating any sensitive part.

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : [FILL THIS OUT]
  - Operating System:     [FILL THIS OUT]
  - Hardware:             [FILL THIS OUT]
  - Localhost or remote server? (AWS, Heroku, Azure, Digital Ocea

[2019-02-24 14:26] #5390 closed

[2019-02-24 14:32] jpbala opened #5391 "Problem starting parse after adding push config to server.js"
Hi All,

I am using bitanmi parse from AWS in free tier,

I've added the following android push configuration to /home/bitnami/apps/parse/htdocs/server.js
push:{
android:{
apikey:"server key from firebase"
}
}
when i try to restart parse after config changes am getting the following error

/opt/bitnami/apps/parse/htdocs/node_modules/@parse/push-adapter/lib/ParsePushAdapter.js:83
          throw _i

[2019-02-24 15:00] mtrezza commented on #5378
Logging on DB level was just meant as alternative if someone decides to **not** use Parse Dashboard and wants to be GDPR compliant.

Without committing to a PR at this point, I would like to start a conceptual discussion about how / where to implement it. So we can estimate the effort and someone can pick it up.

[2019-02-25 00:58] mtrezza commented on #5388
The higher costs for me come specifically from bandwidth:
- regional data transfer - in/out/between EC2 AZs or using elastic IPs or ELB
- first 10 TB / month data transfer out beyond the global free tier

Possible causes:
- Connection to mLab hosted mongodb runs through public IP
  - mLab offers to place a DB deployment in an AWS-VPC, so if the Elastic Beanstalk environment runs also in a VPC and

[2019-02-25 02:33] mikecann opened #5392 "Maintenance Mode?"
Hi Guys,

I am wondering if there is a way to put ParseServer into "maintainance mode"? To prevent the outside world from accessing the server but allow "masterKey" to access and perform queries and changes.

This would make my "migrations" much safer when the server starts up.

Cheers,

[2019-02-25 06:18] pivanov opened #5393 "LiveQueries and Roles in v3.1.x"
### Issue Description

If we use ACL Roles with Live Queries there is an issue where the records with ACL (latest created Role) doesn't work and after logout or restart of the server everything looks OK till next created Role then the issue popups again.

I found that in v3.0.0 everything works fine till commit [Adds support for CLP in Live query (no support for roles yet)](https://github.com/pars

[2019-02-25 13:20] georgesjamous commented on #5388
Using `directAccess=false` forces the server to load the file into memory on each request, thus increasing the instance's memory, CPU requirements, and bandwidth usage.

I highly recommend that you keep`directAccess=true`, you will need fewer instances and will offload a considerable amount of work to s3. Since S3 is designed to scale massively.

[2019-02-25 17:20] mtrezza commented on #5388
@georgesjamous Good point, I have now setup a CDN instead of allowing direct access to the S3 bucket, to keep the bucket private and reduce the bandwidth costs.

[2019-02-26 11:50] suathh commented on #5392
I am using parse-server with Heroku there is feature in Heroku for that.

https://devcenter.heroku.com/articles/maintenance-mode

If you are not using Heroku, since parse-server working with express.js you can put your express.js to maintenance mode.

But in both way you can not access your server via HTTP either.

[2019-02-26 19:01] ssgsgugel commented on #5379
Will enable verbose logging; however, I can tell you our APNS certificate has not expired.

[2019-02-26 23:01] fatbattk commented on #5354
@acinader  sure. https://github.com/parse-community/parse-server/pull/5396

[2019-02-26 23:49] mikecann commented on #5392
@suathh Cool! I didnt know about about Maintenance Mode on heroku server. My backend is indeed running on Heroku.

I just tested it and unfortunately although it does block access to outside users it also blocks access to my migration code that needs to perform finds, updates, deletes etc.

I think what I need is something in Parse Server which says, "block all traffic that doesnt have the master

[2019-02-27 03:14] acinader commented on #5354
@fatbattk thanks for the effort.  The pr looks good to me, but I want to be as sure as we can that we aren't introducing an issue.

See this discussion on the fetch project that is relevant:  https://github.com/whatwg/fetch/issues/251

The discussion of credentials concerns me.

Could we be allowing malicious caching of credentials in a shared computer setting?  There is the session token, master

[2019-02-27 13:17] majidhassan commented on #4886
Starting which Parse-Server version are DO Spaces supported?

[2019-02-27 16:02] #5280 closed

[2019-02-27 16:25] ridem commented on #5393
I've noticed the issue as well, which comes from the addition of `authCache` in `ParseLiveQueryServer`: https://github.com/parse-community/parse-server/blob/3.1.3/src/LiveQuery/ParseLiveQueryServer.js#L56

The `authCache` will remember the user ID and its roles based on a session token. So the only two ways to get fresh data (apart from restarting your server) are:
- Getting a new session token (w

[2019-02-27 19:18] huksley commented on #483
Hi, is were any updates on this? Serverless are gaining traction and it would be good to see such a comprehensive system as parse-server to be available as AWS Lambda

[2019-02-28 14:19] Tom-Fox1 opened #5397 "Changes to wiki iOS links"
As far as I'm aware it's not possible to PR for the wiki so I'm opening an issue instead, hope that's ok!

Under the [iOS resources section](https://github.com/parse-community/parse-server/wiki#ios-resources) there is a link for "[Query Parse](https://itunes.apple.com/de/app/query-parse/id1170245634?l=en&mt=8)" but the app appears to no longer be available - when I first click on the link it says

[2019-02-28 15:02] ssgsgugel commented on #5379
Okay, I think we have the log level set-up correctly. Once again, I attempted too hide some of the user specific information. Here were sections of the log at the time push notifications attempted to send:

{"method":"POST","url":"/dateset/push","headers":{"user-agent":"node-XMLHttpRequest, Parse/js1.9.2 (NodeJS 5.12.0)","accept":"*/*","content-type":"text/plain","host":"ec2-##########.compute-1.a

[2019-02-28 17:20] mtrezza commented on #5379
The push adapter logging seems to be missing here. The phrase `
parse-server-push-adapter` should be contained. See the example [here](https://github.com/parse-community/parse-server-push-adapter/issues/87#issue-241415530).

[2019-02-28 21:18] acinader opened #5400 "Upgrade Winston to 3"
see: #5198 #5309

[2019-02-28 21:22] acinader commented on #5392
Offhand, I think this would be more easily and better done at the network level.  So in your case, I'd think you'd want to ask Heroku.

There's nothing in parse-server that I am aware of that would help with this and it would need to be built.

[2019-02-28 21:44] ssgsgugel commented on #5379
Okay, so when you say set VERBOSE=1. We set logLevel: 1 in "send push" function in our javascript. In addition, we set logLevel: VERBOSE in our index.js in the ParseServer creation. Is this correct? Does this go within the push area?

we run our parse server through the PM command, so are the variables you are talking about environmental defined at the command line?

Let us know, thanks!

[2019-02-28 23:03] saulogt opened #5401 "Very poor performance when using RedisCacheAdapter"
### Issue Description

I'm running my Parse Server app on 4 Heroku dynos for some time now. It's a 10k requests per minute app.
I Recently noticed some issues where data were not found just after saving to parse. I immediately thought it would be related to caching, then I tested RedisCacheAdapter and the problem was solved. The documentation is not clear about the need to use a distributed cache.

[2019-02-28 23:50] mtrezza commented on #5379
These are environment variables. See [here](https://github.com/parse-community/parse-server-push-adapter/blob/e7f9bc45339ed8bcbb7dfca9d092e54bddeee95c/src/index.js#L8).

[2019-03-01 00:23] mikecann commented on #5392
@acinader if in my maintenance code (that runs on the server) I use Parse.Query or Parse.Object functions, wont that go out to the network and back in again?

[2019-03-01 00:52] acinader commented on #5392
If I needed to do what you're trying to do, I'd see if I could do it with networking rules that block all but a whitelist while in maintenance mode.  and then allow all traffic when not in maint mode

the master key approach is reasonable too if you want to give it a shot

[2019-03-01 07:01] i--storm opened #5403 "Installation failure"
### Issue Description

Parse installation fails with errors

### Steps to reproduce

run under debian
[code]

### Expected Results

Installation of Parse Server

### Actual Outcome

Error messages in dialogs
[code]
installation failure
[code]

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : N/A
  - Operating System:     Debian Sid
  - Hardware:
  -

[2019-03-01 07:15] georgesjamous commented on #5392
In my opinion, a network level approach should be preferred over using `masterKey`.
That way, you can perform operations using an assumed role (sessionToken) rather than always using the `masterKey`.

[2019-03-01 07:30] georgesjamous commented on #5379
@ssgsgugel

Have you tried sending push notifications from an alternative source, other than parse-server?
I haven't dug into this thread much, but from what I can tell, if you haven't changed anything in your environment, aws instances or code, there is just no reason for the notifications to stop working by themselves.

To properly diagnose this issue, send a notification to a device from a seco

[2019-03-01 07:49] georgesjamous commented on #5401
@saulogt
I believe parse uses the cache only for roles and sessions.  No actual query results are saved or fetched from cache.
If your Redis server can handle the load, you can run as many nodes as you can. I don't think its a parse problem.

For this:

Are you perhaps not using the default MongoDB readPreference?

[2019-03-01 16:32] #5272 closed

[2019-03-01 18:08] ssgsgugel commented on #5379
Okay, now that I have found the correct log files and with the environment variables set, here is what I see occurring. Does this usually mean the .p12 file is incorrect/bad, or is this something else like a port connection failure? If it's the .p12, I swear we just created it so that it was current in case that is the problem.

/home/ubuntu/parse-server-example/node_modules/parse-server/lib/Parse

[2019-03-01 22:27] saulogt commented on #5401
The data problem is indeed related to user, session and role. And after setting RedisCacheAdapter the data inconsistency is solved. The issue seems to be ONLY related to performace when distributed cache is on.

Apparently the problem is because I rely on fields from `request.user` in the `beforeSave` hook

[code]

[2019-03-03 00:39] Erik-Stevens opened #5409 "Geo queries cause internal server errors"
### Issue Description
Geo queries cause internal server error: type "geometry" does not exist. See log for more details. Note that I'm using a Psql database, not MongoDB. I get the same error if I try query.withinMiles(), query.withinKilometers(), or query.near().

### Steps to reproduce

Class Location contains key "latlon" that is of type GeoPoint.
![image](https://user-images.githubusercontent.

[2019-03-04 05:20] mikecann commented on #5392
@acinader @georgesjamous okay thanks guys. I guess because im hosting parse server inside of express I can do some IP based filtering in the /parse handler as suggested.

Thanks for your tips!

[2019-03-04 05:20] #5392 closed

[2019-03-04 07:49] georgesjamous commented on #5379
`APNS cannot find vaild connection for `

I believe It's something that has to do with the connection, so either the .p12 file has expired, the wrong environment is being selected (production/development) or a port problem.
Read my previous comment, it will help you narrow down the source of the problem, it also might be a bug in the adapter.

There are issues regarding
[#21](https://github.com/pa

[2019-03-04 09:46] georgesjamous commented on #5401
@ saulogt Oh ok, I understand now. Can you clarify what you mean by _distributed cache_ ? It it a redis thing? or you mean without a Redis adapter?

[2019-03-04 09:51] georgesjamous commented on #5401
And one more thing, when using the default in-memory-cache and running multiple nodes.
Each server will have its own cache, thus, load balanced requests between different instances will result in many cache-hit fails and will cause a database request almost on every request.
That's why your performance issue was solved when you introduced a single cache, the Redis adapter.

Now regarding you code

[2019-03-04 14:00] ssgsgugel commented on #5379
Moved per suggestion to the push-adapter repo.

[2019-03-04 14:00] #5379 closed

[2019-03-04 18:21] saulogt commented on #5401
Hey @georgesjamous . Thanks for your response. By "distributed cache", I actually meant "distributedly available and consistent cache with ReidsCache" :)

And using RedisCacheAdapter actually caused the performance issue, but solved the data consistency problem.

[2019-03-04 18:38] saulogt commented on #5401
There is another case where I found a problem.
See the sequence of operations uning two node with in-memory cache:
1. User is created (dyno1)
2. Role (role_xyz) is created (dyno 2)
3. User is added to role_xyz (dyno2)
4. Object is created with read access to the role_xyz only (dyno2)
5. Object is retrieved (dyno1) <<<<<< Object not found because dyno 1 does not know that role_xyz has the user

Thi

[2019-03-04 19:00] georgesjamous commented on #5401
ok, try this.

I was curious to why using a "RedisCacheAdapter" causes a performance issue.
I looked through the code of the adapter and found that all requests to Redis are being queued up and executed one by one. I don't know exactly what is the purpose of this if our experiment works we'll open a PR.

`this.p.then...`
https://github.com/parse-community/parse-server/blob/f798a60475eb37210ac93f4c

[2019-03-04 19:01] georgesjamous commented on #5401
Yes exactly, in-memory cache is out of the question for a cluster environment

[2019-03-04 19:56] georgesjamous commented on #5401
ok, Just thinking out loud here... If you are sure that the "RedisCacheAdapter" is the problem and not something else...

I was curious about how using the "RedisCacheAdapter" could cause performance issues if the Redis cluster and network can handle the load. I looked through the code of the adapter and found that all requests to Redis are being queued up and executed one by one. I don't know exa

[2019-03-04 23:11] awkvi commented on #1546
A team member uses ParseServer for a hackathon and we just felt the app-id is not required in email link.  There are probably other ways via cloud code but here's a quick hack.

[Note per drew-gross: This does NOT secure parse.  Just a cosmetic that avoid naked app-id.]
[More on Security: https://docs.parseplatform.org/js/guide/#security]

2 files in ParseServer were changed:
lib/Config.js
lib/Rou

[2019-03-04 23:57] saulogt commented on #5401
Interesting idea.
Maybe the memory usage problem can be minimized by combining this per-key-chain with a lru cache

https://github.com/saulogt/custom-redis-cache-adapter/blob/master/CustomRedisCacheAdapter.ts

[2019-03-05 05:10] badboy-tian opened #5411 "The file adapter delete file function not called"
I use the code  https://github.com/xugy0926/parse-server-qiniu-adapter/blob/master/index.js

and can create file normal ,  but  the delete function not called when i delete file in dashboard. anyone help ?

parse-server 3

[2019-03-05 05:11] badboy-tian commented on #5411
[code]

the   console.log(filename); not print anything

[2019-03-05 08:15] georgesjamous commented on #5401
@saulogt actually there is a problem in your code, the promise is executed as soon as it is initialized, no chaining is done on a key basis.
`new Promise<any>(resolve => { executes as soon as it is created`
https://github.com/saulogt/custom-redis-cache-adapter/blob/6a592c7a678fcd598187247bbedee1e493c17942/CustomRedisCacheAdapter.ts#L42

Check this
https://gist.github.com/georgesjamous/560802de39cf

[2019-03-05 08:29] #5411 closed

[2019-03-05 18:40] saulogt commented on #5401
@georgesjamous , you are totally right.
Thank you for your review

[2019-03-06 19:33] sarunyu commented on #5403
yes, it's work for me.

[2019-03-06 22:04] RaschidGithub commented on #4659
I guess this way:

[code]

[2019-03-07 04:00] acinader commented on #5400
a first pass was made with: #5275

[2019-03-07 08:42] mosid commented on #5409
Is Postgis extension enabled on your database?

[2019-03-07 08:53] mosid commented on #5401
You're problem solved @saulogt ?

[2019-03-07 09:06] stck commented on #5409
Hi, it's may be not related to question itself, but why don't you use geohash instead of geopoint? It's simple to make queries like yours (`query.withinMiles("latlon", loc, 5);`)

[2019-03-07 16:24] #5295 closed

[2019-03-08 05:13] #5297 closed

[2019-03-09 16:52] moesalih commented on #5027
@elios264 Did you find a solution to this?

[2019-03-09 17:43] moesalih commented on #5027
@flovilmart I think this is a regression with Parse Server 3.0. We used to be able to get Parse-Push-Status-Id before but not anymore. Do you think this should be reopened and fixed?

[2019-03-09 17:59] elios264 commented on #5027
Hi @moesalih my solution was to patch the lib in PushRouter.js sending the headers as part of the response, I cannot attach anything though because Im in my mobile browser

[2019-03-09 18:20] flovilmart commented on #5027
This is related to the JS SDK not the server implementation.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 18:37] mtrezza commented on #5386
PR merged

[2019-03-10 18:37] #5386 closed

[2019-03-12 00:13] #5354 closed

[2019-03-12 10:14] oleg-koval commented on #5387
are you looking for smth like redis exponential backoff?

[2019-03-12 10:40] georgesjamous commented on #5387
@dplewis
doesn't configuring Redis with retry_strategy achieve the expected result?

[2019-03-13 02:46] faysal515 opened #5417 "invalid key name $relatedTo with $or query"
### Issue Description

I'm trying to search through user's first name and last name in `_User` which has a relational column `activeChat` pointing to `_User` collection. If I remove the `$or` clause and search only by first_name or last_name, the query seems to work
### Steps to reproduce
[code]

### Expected Results
return users that matches with the regex and are part of the 'activeChat' relatio

[2019-03-13 06:38] georgesjamous commented on #5417
You mean Relation or Pointer ? If it is a pointer:
$relatedTo should be replaced with an equality operator:
`activeChat : { __type: 'Pointer', className: '_User', objectId  }`

Please check the docs  [#relational-queries](https://docs.parseplatform.org/rest/guide/#relational-queries) for both Pointers and Relations.

[2019-03-13 07:05] faysal515 commented on #5417
@georgesjamous  `activeChat` is Relation type. and its related with `_User` class itself.

[2019-03-13 07:56] georgesjamous commented on #5417
ok, I am not sure, but I believe the $or should be the outside condition here.
So try this:
[code]

[2019-03-13 08:30] faysal515 commented on #5417
@georgesjamous attaching the $relatedTo at each `$or` clause worked. Thanks.
[code]

[2019-03-13 08:30] #5417 closed

[2019-03-13 08:58] vince1995 opened #5418 "Add possibility to use async requests on choose password"
**Is your feature request related to a problem? Please describe.**
Because JavaScript must be available in `choose_password` the form which redirects to another page seems needless.

**Describe the solution you'd like**
To uphold backwards compatibility add a simple flag `shouldNotRedirect` to the body of the POST request and just respond with the status code 200 instead of 302.

**Describe altern

[2019-03-13 17:35] saulogt commented on #5401
Hey @georgesjamous !
Thank you for your help. I'm using this custom adapter https://github.com/saulogt/custom-redis-cache-adapter

I hope to see a solution like this integrated to the this repo

The timeouts still happen sometimes, but they don't crash the server. I didn't have time to debug them yet.

[2019-03-13 23:53] acinader opened #5419 "Where should people ask questions?"
we have gitter, the forums, issues....

My preference would be to close gitter and the forums and direct all questions to stack overflow. I think gitter is the least usefull and I think that we'll never get good seo on the forum and shouldn't even try.

I think that SO has won and that it has the network effect and seo so that when people google for an answer, the best chance of finding a previous

[2019-03-14 00:20] Tom-Fox1 commented on #5419
I definitely agree that we need channels of communication to be more clear & I agree that SO is great for discovery.

But I think the forums to have a place, for example, I posted a question about possible uses for the Open Collective budget which I don’t think would make sense on SO (and might be flagged as being off topic for SO anyway?).

Could we close the Gitter chat, keep the forum for discu

[2019-03-14 00:44] acinader commented on #5419
Good feedback. Unfortunately, I missed your post in the forum (I just went and responded to it).  I'm not sure, but I'm a little more inclined to use issues here for discussions like that, and just tag them as discussion.  I like concentrating things in one place...

[2019-03-14 07:13] georgesjamous commented on #5401
@saulogt I'm glad that this solution worked for you.
So this solution maintains the data consistency by chaining the promises together on a key-basis and improves the performance by not having unrelated keys waiting for each other.

I will try to open-up a pull request modifying the default Redis Cache Adapter to reflect our modifications.

The timeouts need to be debugged in another ticket since

[2019-03-14 14:35] #5307 closed

[2019-03-14 18:17] #5227 closed

[2019-03-14 19:59] dplewis commented on #5418
@vince1995 A PR https://github.com/parse-community/parse-server/pull/5332 was submitted. Would that solve your issue?

[2019-03-15 19:39] ciekawy commented on #3245
what if you don't want to depend on the Parse SDK?

[2019-03-15 20:00] dplewis commented on #3245
@ciekawy Its doable. If a LiveQuery sdk didn't exist you would do the following:

1. Find a good websocket or open connection library
2. Follow [Parse LiveQuery Protocol Specification](https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification)
3. Handle your own responses

You can connect with REST but you can't receive anything as the connection would close.

[2019-03-15 23:35] awgeorge commented on #5419
You need to try and focus the community as I think there are pockets of people on different platforms. In terms of SO - looks like a lot of people are using it for support: https://stackoverflow.com/questions/tagged/parse-server but not many responses, which may be discouraging for new users trying out the platform. SO - Seems to be the first place people ask for help though, as it's ingrained to

[2019-03-16 00:18] dplewis commented on #5419
I agree with @awgeorge.

Currently Gitter is tech support, implementation details and FAQ, I'm all for removing it. Perhaps add a FAQ to the repos.

I've only answered like 2 questions on SO in my life. I don't have much feedback on it but would definitely use.

Discourse: Announcement Tutorial on how to receive notification for all posts. You currently have to specify which categories you want to

[2019-03-16 00:44] acinader commented on #5419
This works for me!  Tom, you up for looking at the docs changes so we can close this out?

[2019-03-16 10:24] Tom-Fox1 commented on #5419
Ok, shall I add a note at the top of the READMEs for the server + all SDK repos directing question to SO?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-16 10:28] Tom-Fox1 commented on #5419
Also I think it would be a good idea to get a new tag or rename an existing tag to parse-platform.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-16 13:03] awgeorge commented on #5419
Easy to do - you need to create a post on Meta@stackoverflow and include a moderator to rename the tag. If we link to here then I think it will be ok.

I can initiate this if that’s what we want.

Parse.com obviously makes no sense. Parse-Platform sounds good. It’s a shame that Parse is not an easily google ale thing.

—
W

Sent from my iPhone

[2019-03-16 21:12] ciekawy commented on #3245
Thanks! thats exactly what I started guessing toward. Parse LiveQuery Protocol relays share a lot common with REST API as for query syntax.

[2019-03-16 22:45] awgeorge commented on #5419
Wow - people  are still actively using the tag [parse.com](https://stackoverflow.com/questions/tagged/parse.com).

[2019-03-16 22:53] Tom-Fox1 commented on #5419
Yep, it’s a bit of a mess. That’s why it makes sense to rename the tag - there is also a “parse” tag but that only has 58 questions with the last one being over 5 months old so I don’t think we should direct people to that.

[2019-03-17 12:31] 1987cr opened #5425 "Can't upload/download files (URL string parser is deprecated)"
# Before opening the issue please ensure that you have:

- [X] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [X] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

After doing the migration can't upload/download files.

### Steps to

[2019-03-17 19:45] mrmarcsmith commented on #5378
Even for apps that don’t require GDPR I think this is a awesome idea. I don’t have a ton of time to help with a PR but would love to weigh in on the conceptual. I would much rather see the “server centric” solution than the parse dashboard one aswell. “In theory” those with dashboard access could potentially retrieve the master key and cercumvent the dashboard logging all together. Where as, when

[2019-03-17 20:40] hajjarjoseph opened #5426 "Constraint Query on Dictionary"
Hello I'm trying to run a constraint on a query where I put as a value a Dictionary: However it's not working, is this doable in parse ?
`query.whereEqualTo("skills",dictionary);`

Thank you.

[2019-03-17 22:19] awgeorge commented on #5301
This has been fixed and merged, but awaiting supporting documentation and additional tests, which I'll get to soon...

[2019-03-18 11:14] vince1995 commented on #5418
Oh wow, yeah, that's exactly what I imagined. Sorry, searched in issues for that feature but not in PRs. You can close.

[2019-03-18 13:52] dopyoman opened #5429 "How to use an existing mongodb with parse"
Hey is there a way to use Parse with an existing mongodb? Lets say we have a python project that used mongo for the db. Can we put parse in front of the db to create a server web clients can use?

[2019-03-18 14:10] georgesjamous commented on #5429
@dopyoman your question is best suited on StackOverflow, check this current thread https://github.com/parse-community/parse-server/issues/5419

---

Nevertheless, I will try to answer your question since you seem new to parse-community.
First of all, please read the documentation/wiki and run a local development test project, save and query some objects to get an idea of what parse is and how data

[2019-03-18 15:41] Tom-Fox1 commented on #5419
@acinader & @dplewis - are you happy for @awgeorge to request the change of the “parse.com” tag to “parse-platform”.

[2019-03-18 16:22] acinader commented on #5419
that would be great!

[2019-03-18 16:27] acinader commented on #5426
@hajjarjoseph you haven't given us enough info to help you out here.

This also isn't an issue with parse-server but a question about how to use it.

Stack Overflow is the place to ask questions like this.  Tag it with 'parse-server' and include an example of what your data looks like and the code for how you are defining 'dictionary'.

https://stackoverflow.com/questions/tagged/parse-server

[2019-03-18 16:27] #5426 closed

[2019-03-18 16:28] acinader commented on #5429
@dopyoman gonna close this out.  Feel free to re-open if you think we're missing something and this is an issue with parse-server.

[2019-03-18 16:28] #5429 closed

[2019-03-18 17:13] #5418 closed

[2019-03-18 17:28] awgeorge commented on #5419
https://meta.stackoverflow.com/questions/381447/rename-tag-parse-com-to-parse-platform

[2019-03-19 10:37] dopyoman commented on #5429
@georgesjamous Thank you for taking the time to respond. Basically what you are saying is we would have to take each document and migrate it through the parse api for it to work correctly. Again thank you for taking the time to answer.

[2019-03-19 12:00] georgesjamous commented on #5429
If you want to access your documents from the Parse-API, yes you have to migrate your data through the Parse-API. That way parse-server correctly creates the schema for each class/collection.

Also, if you have relationships between your existing documents, you have to fix/replace the Ids by the ones created by parse, since parse generates a new id for each object. You can also take advantage of P

[2019-03-19 18:32] mpadula1990 opened #5434 "Version control, SCHEMA MIGRATION"
if i work with various enviroments (develop, staging and production) and I update the schema in develop, the JS SDK have a function to migrate to others enviroments with the differences?

sory for my english.

[2019-03-20 03:37] mrmarcsmith opened #5437 "Request: In-Memory Storage adapter for mocking unit tests"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

I'm bummed there isn't a "baked in" method for efficient unit testing without mongo.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I'm imagining an "In-Memory" storage adapter that contains ALL of the functionality of parse

[2019-03-20 07:10] georgesjamous commented on #5434
Unfortunately no, you have to create your own schema migration script and run it on the target environment.

If in _Develop_ you have additional classes or schema fields, and you have disabled the class creation, you have to create a migration script to add these new classes to the new environment.

parse is not aware of any other environment. Supposing that each one has its own database and serve

[2019-03-20 18:07] Erik-Stevens commented on #5409
Will check on this. Sorry for the delay I've had to move to another project for a few weeks but will be getting back to this this week.

I will also look into using geohash. Wasn't aware of that option. Either way geo queries with Geopoints should work.

[2019-03-21 00:37] Tom-Fox1 commented on #5419
🎉  The `parse.com` tag has now been renamed to `parse-platform` 🎉  - Thanks @awgeorge

I have started a PR ([#23](https://github.com/parse-community/parse-community.github.io/pull/23) on the website repo) to make the changes clear.

I've also announced this on the Gitter chat and I will add an announcement on the community forum too.

[2019-03-21 19:13] dplewis opened #5440 "[Feature Request] Update array at index"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

object.add('list', value, index);

**Additional context**
Add any other context or screenshots about the feature request here.

Mongo

[2019-03-21 19:44] acinader commented on #5419
so uh, how about now we try to combine parse-server and parse-platform under parse-platform?

[2019-03-21 19:47] awgeorge commented on #5419
Not sure - you need to use at least 3 tags when creating a ticket.  I would keep it so we can target the difference between SDK and serverside.

[2019-03-21 19:58] acinader commented on #5419
well, I don't think that the tags parse-platform and parse-server make it clear which to use when.

I have never asked a stackoverflow question (i've asnwered a bunch :) but the instructions say 1 - 5 tags which seems to be confirmed by this: https://stackoverflow.com/questions/55288329/cannot-get-in-node-js

I'd expect that someone would use a combination like `parse-platform, node` or `parse-pla

[2019-03-21 20:00] awgeorge commented on #5419
No - you're correct - it's three on meta. One on the main website.

[2019-03-21 20:03] acinader commented on #5419
@awgeorge see: https://github.com/parse-community/parse-community.github.io/pull/23/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR19

[2019-03-21 20:26] Tom-Fox1 commented on #5419
I think @acinader is right about merging the tags - in reality the questions being asked on the `parse-server` tag and the `parse-platform` tag (formerly `parse.com`) are more or less the same. In fact often as people were unsure they would use both.

With regard to where 'hosting' related question should be asked, I think the 'parse' tag on server fault can be used if that is what we want?

[2019-03-21 21:09] dplewis opened #5442 "Questions about Direct Access Feature"
[code]

So if I understand this correctly:

[code]

Enabling this feature

[code]

Enabling this feature would make requests faster since there is one less request, should this be mainstreamed?

Should there be tests run against this?

Add to parse-server [config definitions](https://github.com/parse-community/parse-server/blob/master/src/Options/Definitions.js)?

We should add documentation to ma

[2019-03-21 21:15] acinader commented on #5442
or we should just turn it on?

I've never tested it which i'll try and do real soon now....

I don't know what potential issue if any it may cause.  if there's not breaking change to it, then we should just turn it on.  I think that @flovilmart wanted it out there to figure out if there was a breakage issue iircc ...

[2019-03-21 21:16] flovilmart commented on #5442
Most of the Test break with this feature on. There can be bad side effects due to the statefulness of the JS SDK.

[2019-03-21 21:23] acinader commented on #5442
In which case, @dplewis your initial suggestion is spot on.

[2019-03-21 21:39] flovilmart commented on #5442
I mean the whole test suite is broken when using this feature

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-21 22:15] awgeorge commented on #5419
Sounds like a good plan. I’ve upvoted your so post: https://meta.stackoverflow.com/questions/364789/should-we-make-tag-parse-com-a-synonym-of-parse-server?r=SearchResults

[2019-03-22 00:31] dplewis commented on #5442
I haven’t used it yet and don’t know the limitations but would love too. At least start testing against different routing matches and see how responses are handled

[2019-03-22 01:14] flovilmart commented on #5442
Simple thing is to turn it on for the test suite, and see what breaks. In an ideal world, all tests should pass as it warrants all cloud code / integration tests are OK.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-22 01:18] dplewis commented on #5442
It’s a great feature that is known by few. Definitely could use feedback. I’ll test it out shortly.

[2019-03-22 03:23] jcguarinpenaranda commented on #483
Hello, I'm also very interested on this :) serverless seems like a great way to have a Parse Server working

[2019-03-22 05:32] ridem commented on #5393
@flovilmart I can make a PR if you point me to the approach you find most sensible.
Here are some things that could be done from what I understand:
- Don't use lru-cache directly in ParseLiveQueryServer but use the abstraction, allow for customizing max and maxAge. (This effectively lets people disable it in case that's what's wanted)
- [Maybe not a good idea] Support for role changes in ParseLive

[2019-03-22 11:24] flovilmart commented on #5393
@ridem  I don’t participate in this project anymore. Check with @dplewis or @acinader

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-22 17:38] acinader commented on #5419
Any feedback that you guys would like to add, I think that Manual and I are having a useful conversation.  Def not asking you to agree with me, cause I am interested in the best outcome, not my outcome ;).

[2019-03-22 18:27] awgeorge commented on #5419
Without the tag, how do you want people to tag between, [parse-platform] the server, and [parse-platform] the JS SDK? - It's possible that both camps will use `[parse-platform] [node]`. Hence why I thought having both would be reasonable.

I think people would tag `[parse-platform] [parse-server]` for questions specifically related to the server, and I do think they would include the platform tag

[2019-03-22 18:27] awgeorge commented on #5419
However - just because the tag exists, you don't have to document it. :)

[2019-03-22 18:58] Tom-Fox1 commented on #5419
This may be a stupid question but are there actually code level questions that people could have about the actual parse server?

My understanding is that you configure and deploy the server and then leave it alone? The only thing I can think of is cloud code which seems to have a tag already - [`[parse-cloud]`](https://stackoverflow.com/questions/tagged/parse-cloud?sort=newest&pageSize=15)

[2019-03-22 19:02] Tom-Fox1 commented on #5419
@awgeorge with regard to specifying the JS SDK there is also a [`[parse-javascript-sdk]`](https://stackoverflow.com/questions/tagged/parse-javascript-sdk) tag.

At least as a starting point if all questions use the `[parse-platform]` tag at least they are all in the same place and then further tags can be used but it's not the end of the world if they are not because the title and description (of

[2019-03-22 19:05] #5328 closed

[2019-03-22 19:28] awgeorge commented on #5419
If there seems to be a tag for everything, then why wouldn't there be one for the server. We have the express server code, docker problems running the server, maybe help to try to patch the server, or contribute code towards the server.

However, I wholly agree that the tag is currently being used mainly to denote the fact that they use the parse-platform, although there are a handful of people us

[2019-03-22 19:59] acinader commented on #5419
ha.  @awgeorge you just convinced me. I didn't even realize that there were other tags.  parse.com and parse-server just happened to be the two I monitored. so I am just tilting at windmills here.

I think we did good by changing parse.com to parse-platform

I think that changing our docs to point to parse-platform is the right way to go and thanks to you two for undertaking it.

I'm going to a) c

[2019-03-22 20:42] Tom-Fox1 commented on #5419
@acinader @awgeorge

I think there is one thing we haven't concluded - there is a [`parse` tag on server fault](https://serverfault.com/questions/tagged/parse) which I believe can be used for questions about hosting (this should probably be named `parse-server` but that's beside the point).

The question is do we want to document / direct people to this or do we want these questions asked on the f

[2019-03-22 21:00] acinader commented on #5419
do you have an opinion?

[2019-03-22 21:08] Tom-Fox1 commented on #5419
I'm not too fussed, I'm slightly inclined to direct people to the server fault tag for three reasons:

1. I think the forum is best for discussion and shouldn't be bogged down with too much Q&A
2. There are experts in areas such as AWS that may answer questions there but not on the Community Forum as they do not actively use the Parse Platform
3. There a community moderators that hopefully mark du

[2019-03-22 21:10] acinader commented on #5419
works for me

[2019-03-22 22:30] Tom-Fox1 commented on #5419
Ok, I’ll go with that then.

[2019-03-22 23:44] awgeorge commented on #5419
Yes, server fault is suited for non-coding server related questions and we should direct people there if we know they're going to get answers. I still feel that people may genuinely have SO related coding questions regarding the server portion, but don't have to document it.

[2019-03-23 00:48] Tom-Fox1 commented on #5419
@awgeorge no that’s fine, I’ll document the parse-server tag as it seems you and @acinader are in agreement on that. I will make the adjustments to the website tomorrow as it’s 1am here now.

[2019-03-23 08:17] cyberaxcess opened #5444 "[Feature Request] Implement Swagger-Stats or Similar for App Metrics"
**Is your feature request related to a problem? Please describe.**
No visibility on internal metrics for the app, especially when run in a clustered environment like Kubernetes at scale.

**Describe the solution you'd like**
Implementing [swagger-stats](http://swaggerstats.io/) appears to be a good solution to providing at least the basic metrics on the parse-server api's. It makes the metrics ava

[2019-03-24 18:10] Tom-Fox1 commented on #5419
@acinader I think we can close this again now.

[2019-03-25 12:07] BillyJohn3 opened #5447 "Error 141: TypeError: res.success is not a function"
Have cloud code that has worked fine before but is now throwing issues.
Some of my cloud functions return res.error or res.success so that I can let the caller know everything was fine part way through the function and then continue working on the data in the cloud function.

However the only accepted code is now "return" or "throw" both of which exit the function.

the function is:
Parse.Cloud.de

[2019-03-25 15:17] ssgsgugel opened #5448 "Setting up appsecret_proof for Facebook calls"
According to Facebook, stepping up our API from 2.8 to the latest will require the use of the appsecret_proof in all user related calls. I've seen how to do this for Javascript in general, but how is it handled for the Parse server configuration?

[2019-03-25 15:54] acinader commented on #5447
Hi @BillyJohn3,

If you try and fill out the issue template, you may figure out what your problem is ;)

Likely, you have inadvertently upgraded to JS SDK 2.0 and/or Parse Server 3

You can read about it here:

https://github.com/parse-community/parse-server/blob/master/3.0.0.md

[2019-03-25 15:54] #5447 closed

[2019-03-25 16:01] #5419 closed

[2019-03-26 08:39] JeromeDeLeon commented on #5075
I also followed the docs but got no luck. I think they should have explained how to use it properly.

[2019-03-26 14:56] dplewis commented on #5075
https://github.com/parse-community/Parse-SDK-JS/pull/750

I submitted a PR with a fix. Should be released soon

[2019-03-29 12:30] zhanswift opened #5455 "How to run with configure file?"
Before I used [parse-server-example](https://github.com/parse-community/parse-server-example)
Now I installed just parse-server.

And in parse-server-example we have **index.js** file to write configure parse server and then run it.

How to do same file in just parse-server?

in **parse-server-example** I can do like this:

[code]

[2019-03-29 16:56] Tom-Fox1 commented on #5455
We reserve GitHub issues to bug reports and feature requests. See our announcement about channels of communication [here](https://community.parseplatform.org/t/where-should-you-ask-questions/167).

It also seems you have already posted this on the community forum [here](https://community.parseplatform.org/t/how-to-run-parse-server-with-own-configure/187/2).

I appreciate that sometimes it can be f

[2019-03-29 18:01] pocketcolin opened #5456 "Inaccurate Documentation for Object save method's params"
**The issue**
The documentation for the params required for [Object's save method](http://parseplatform.org/Parse-SDK-JS/api/2.2.1/Parse.Object.html#save) describes 1 param (`options`), but you cannot actually pass just options as an object to the save method. The correct use of the save method is described with examples in the documentation, but the additional 2 params are not documented.

**Solu

[2019-03-29 19:42] acinader commented on #5456
right you are!  in fact, if you pass `{ useMasterKey: true }` as the first argument, you'll a) not use the master key and b) end up with a column called `useMasterKey` in your class (I man someone told me that, I'm not dumb enough to have tried it myself ;))

Those docs are generated from the JS-SDK source code.  You can find the offending bit right here: https://github.com/parse-community/Parse-S

[2019-03-29 21:21] #5455 closed

[2019-03-30 02:15] luojieerr opened #5459 "about verify a signature from client"
Hi,I want to verify the signature through Parse Server, send an encrypted signature from the client, verify it on the server, and return error to all requests if the signature is invalid. Is there a more efficient way to do this than using Triggers?

thank you!

[2019-03-30 02:35] #5347 closed

[2019-03-30 03:01] dplewis commented on #5347
@GoGross out of curiosity. What version of Node are you running. uws only had binding to node 8 and 9. I believe.

[2019-03-30 08:25] Tom-Fox1 commented on #5459
Hi 👋. Could you please post this over on our [community forum](https://community.parseplatform.org/).

We are trying to keep GitHub issues reserved for bug reports & feature requests - see announcement about our channels of communication [here](https://community.parseplatform.org/t/where-should-you-ask-questions/167) or see the section on help and communication on our website [here](https://parsep

[2019-03-30 08:25] #5459 closed

[2019-03-30 13:16] GoGross commented on #5347
I am running version 10

[2019-03-30 21:38] #5327 closed

[2019-04-01 04:50] JeromeDeLeon commented on #5075
I just updated to version v2.3.1 and I still couldn't figured out how user can logIn with google and link that to their other existing account.

[2019-04-01 05:36] dplewis commented on #5075
@JeromeDeLeon Have you checked the guide http://docs.parseplatform.org/parse-server/guide/#oauth-and-3rd-party-authentication

[2019-04-01 06:04] JeromeDeLeon commented on #5075
Yes, I already implemented or tried to use `validateAuthData(authData, options) {}` and `validateAppId(appIds, authData, options) {}`.

What I wanted to do is if I have existing account say, facebook account, and then decided to login using google then I want to link my existing account to google then get a session and use `become()`

like [How to link Google + signed in users on Parse backend on

[2019-04-01 13:03] rihadavid commented on #5365
Someone should probably look at this easily reproducible bug and try it on the latest version before the stalebot will close it 😉
@dplewis maybe?

[2019-04-02 06:39] elango501 opened #5470 "Push notification delay"
### Issue Description

### Push Configuration

Please provide a copy of your `push` configuration here, obfuscating any sensitive part.

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : [FILL THIS OUT]
  - Operating System:     [FILL THIS OUT]
  - Hardware:             [FILL THIS OUT]
  - Localhost or remote server? (AWS, Heroku, Azure, Digital Ocea

[2019-04-02 06:39] #5470 closed

[2019-04-02 06:39] elango501 commented on #5470
Got it

[2019-04-02 09:42] SebC99 opened #5471 "Saving 3000 objects in cloud code with saveAll takes more than 10 seconds"
### Issue Description

For demo purposes, we need to clone 3000 objects and save them each time a demo session is started.
We use a cloudFunction to do this among other this and the saveAll operation of the newly cloned 3000 objects takes more than 10 seconds, without any impact of the batchSize parameter.

### Steps to reproduce

1- query for 3000 objects
2- clone them
3- saveAll them

### Expect

[2019-04-02 11:39] dplewis commented on #5471
BatchSize was added in 2.2.0 of JS SDK. Parse-Server 3.1.3 ships with 2.1.0. Please update your server to the latest version.

You might also want to try direct access. https://github.com/parse-community/parse-server/issues/5442

[2019-04-02 12:10] Tom-Fox1 commented on #5397
As I now have access to the Parse Server repo I have made these changes, so I will close this.

[2019-04-02 12:10] #5397 closed

[2019-04-02 12:21] dplewis commented on #5365
Have you tried with Javascript SDK?

`user->get('authData');`

[2019-04-02 12:33] rihadavid commented on #5365
I'm not sure, it's been two months since I was dealing with this issue. Just wanted to notify you about this issue before it gets closed because it's clearly a bug. Unfortunately, I don't currently have time to investigate deeper, hopefully, someone will 🤔

[2019-04-02 12:36] dplewis commented on #5365
I’ve been using authData a lot recently and this should work. I’ll look into REST API.

[2019-04-02 14:09] pocketcolin commented on #5456
[Done](https://github.com/parse-community/Parse-SDK-JS/pull/777)!

[2019-04-02 14:54] Code-Crash commented on #1859
Hello @flovilmart ,

I want a MongoDB instance which is already created by Parse Server, is there any way to get that instance?

I tried debugging in Parse Instance on cloud code, but no luck.

Thanks.

[2019-04-02 15:19] flovilmart commented on #1859
there is no trivial way to access the parse-server instance from cloud code nor its internals. Perhaps @Tom-Fox1 or @acinader or @dplewis would like to make it easier.

[2019-04-02 15:56] oallouch commented on #1859
Hi,
What I usually do is:
[code]

[2019-04-02 16:40] acinader commented on #5456
fixed by https://github.com/parse-community/Parse-SDK-JS/pull/777

[2019-04-02 16:40] #5456 closed

[2019-04-02 17:45] acinader commented on #5437
I've used and contributed to some 'fake mongos' for unit testing, but I've since switched over to using mongodb-runner instead as it is fast and easy.

[2019-04-02 17:50] acinader commented on #5434
I use the npm package: mongodb-migrate

Here is what one of my migrations looks like:

[code]

[2019-04-02 18:37] SebC99 commented on #5471
Hello @dplewis, unfortunately upgrading to Parse-Server 3.2.3 didn't change anything. I've made some tests with batchSize (20, 100, 500, 1000) and it doesn't seems to have a lot of impact.

[2019-04-02 18:39] dplewis commented on #5471
How about direct access?

[2019-04-02 19:37] Code-Crash commented on #1859
@flovilmart Thanks for the explanation.

@oallouch, yes, I guess it will for the cloud code, thanks. :)

[2019-04-02 20:56] SebC99 commented on #5471
beforeSave yes, but in that case they do nothing (I have a `if (master) return` condition in it

Direct Access is even worse as it's around 22 seconds instead of 10 seconds...

[2019-04-02 21:20] SebC99 commented on #5471
In each cases the parse-server split the batch request in single operation rest command, so I guess it has something to do with this... In fact I don't really see the point of "batch" in that case
(either in parseServerRESTController handleRequest method, or in batch.js handleBatch method)

[2019-04-02 21:29] dplewis commented on #5471
I asked the same question, legacy from parse.com. https://github.com/parse-community/Parse-SDK-JS/pull/701#issuecomment-443037969

Try setting your batchSize to be greater than your number of objects so you don't hit the /batch endpoint like 5000. See if that works.

[2019-04-02 21:41] SebC99 commented on #5471
It seems to help a little, but not that much (approx. 10%).
I can gain some time by removing all recursive unsaved object (I had 500 unsaved child in the 3000 objects, so saving them before helps a little)

[2019-04-02 22:19] dplewis commented on #5471
I'm going to reopen as a discussion. Maybe some DB experts can help or find some performance enhancement on the database layer.

[2019-04-03 04:42] mmkdissa opened #5474 "How to override default email verification by code instead of link"
Hi

In my application I need to provide functionality to send an email with a generated code in sign up and  user need to supply the received code in the app for the verification.

I tried to implement it with a cloud function and I can not set the emailVerified manually. I expect to come up with another cloud function to verify the code and there i want to set the `emailVerified` flag to true in

[2019-04-03 12:18] saimoomsafayet opened #5479 "Some clarification regarding cloud jobs"
I am planning to offloading heavier tasks from cloud functions to cloud jobs. I have some confusion about the workflow of cloud jobs.

1. Is there a direct way to call cloud jobs from cloud functions/after save/before save hooks?
2. How does the cloud job determine the status as SUCCEEDED? Like if i am restarting my server when a cloud job is running, it is still showing the status of jobs as runn

[2019-04-03 16:23] Tom-Fox1 commented on #5479
Hi 👋. Could you please post this over on Stack Overflow with the `parse-platform`, `parse-cloud` and `parse-server` tags.

We are trying to keep GitHub issues reserved for bug reports & feature requests - see announcement about our channels of communication [here](https://community.parseplatform.org/t/where-should-you-ask-questions/167) or see the section on help and communication on our website [

[2019-04-03 16:23] #5479 closed

[2019-04-03 16:29] Tom-Fox1 commented on #5474
Hi 👋. Could you please post this over on Stack Overflow with the `parse-platform`, `parse-cloud` and `parse-javascript-sdk` tags.

We are trying to keep GitHub issues reserved for bug reports & feature requests - see announcement about our channels of communication [here](https://community.parseplatform.org/t/where-should-you-ask-questions/167) or see the section on help and communication on our w

[2019-04-03 16:29] #5474 closed

[2019-04-03 16:29] dplewis commented on #5479
When in doubt you can look at the code and test for yourself.

[HandleCloudJob](https://github.com/parse-community/parse-server/blob/d83a0b680854f52ce30205d3558c0133d7f8cf19/src/Routers/FunctionsRouter.js#L52)

[Job Endpoints](https://github.com/parse-community/parse-server/blob/master/src/Routers/CloudCodeRouter.js#L24)

[2019-04-03 16:36] dplewis commented on #5474
When in doubt look at the code and debug for yourself.

[UserController](https://github.com/parse-community/parse-server/blob/6eaefd95aea47b56f33c3997a1f16af6ab99b3a4/src/Controllers/UserController.js)

[RestWrite](https://github.com/parse-community/parse-server/blob/6eaefd95aea47b56f33c3997a1f16af6ab99b3a4/src/RestWrite.js#L475)

[2019-04-03 16:55] Tom-Fox1 commented on #5401
Can we close this now?

[2019-04-03 17:25] dplewis commented on #5401
Closing via https://github.com/parse-community/parse-server/pull/5420

[2019-04-03 17:25] #5401 closed

[2019-04-03 17:31] dplewis commented on #4538
Closing via https://github.com/parse-community/parse-server/pull/5332

[2019-04-03 17:31] #4538 closed

[2019-04-03 17:36] dplewis commented on #4267
Closing via https://github.com/parse-community/parse-server/pull/5332

[2019-04-03 17:36] #4267 closed

[2019-04-03 17:37] #5011 closed

[2019-04-03 18:30] Tom-Fox1 commented on #3357
@ciekawy You could add email / password Auth to an account that initially signed up with Facebook.

[2019-04-03 18:37] dongalor opened #5482 "parse 2.8.4 appleRecipe via post"
Doing request to cloud function with appleReceipt (which is pretty big 6808 bytes), but it works in 66%, i mean 1 of 3 request fails with "socket closed by remote peer).

How can I solve this problem?

Thank you.

[2019-04-03 18:46] #5482 closed

[2019-04-03 18:47] dongalor commented on #5482
It's apple's problem, now I got it..

[2019-04-04 01:28] Warmachine13 opened #5485 "Problem with push notification in react native"
<h1>Problem with push notification in react native</h1>

I'am tried some many ways but no one's work

1- https://facebook.github.io/react-native/docs/pushnotificationios & https://absurd.tech/parse-server-react-native-push/
I tried use documentation
I am tried put code of react native but I got a problem of 'https'

2- https://www.npmjs.com/package/react-native-onesignal
same problem of first I do

[2019-04-04 01:29] Warmachine13 commented on #461
same problem

[2019-04-04 13:17] Tom-Fox1 commented on #5485
Hi 👋 please see the answer on your [other issue](https://github.com/parse-community/Parse-SDK-JS/issues/786)

[2019-04-04 13:17] #5485 closed

[2019-04-04 20:55] #5353 closed

[2019-04-06 12:55] youngkhalid commented on #4715
@flovilmart that's rude !!!

[2019-04-06 13:11] flovilmart commented on #4715
@youngkhalid who are you to criticize? What have **you** done?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-06 14:23] Tom-Fox1 commented on #4715
@youngkhalid The problem is that there is quite a volume of communication across the various channels so it helps to keep it in the right places.

Although where questions should be asked has probably not been as clear as it could be in the past - hence we recently made some changes - see announcement about our channels of communication [here](https://community.parseplatform.org/t/where-should-you

[2019-04-06 14:32] flovilmart commented on #4715
Not to mention that the logs refer to a gunicron/Django/python based app and that none of those technologies are used by this project.

@Tom-Fox1 there is no point in commenting on old issues with irrelevant info also. The logs were not related to a parse-server issue, therefore I directed the OP to ask a question related to his problem on SO.

<sub>Sent with <a href="http://githawk.com">GitHawk</

[2019-04-06 14:46] Tom-Fox1 commented on #4715
@flovilmart my bad, I didn’t notice that the logs were unrelated. I was merely trying to spread the message about the where we are directing questions & the SO tag changes as there are still people that are unaware/unsure.

[2019-04-08 10:50] JeffGuKang commented on #5293
@maxiundtesa
In local, my mac, it works well with Korean language. But there is the same error AWS EB environment with Postgres RDS.

Thanks for sharing this. It will be better to open a PR.

[2019-04-10 17:00] dplewis commented on #5365
@rihadavid The answer you want is here. https://github.com/parse-community/parse-server/pull/2081/files#r67542317

[2019-04-10 17:12] rihadavid commented on #5365
@dplewis I am sorry, what do you mean? An answer to what? 🤔 Were you able to try to reproduce the issue by the steps I provided, in the API console?

[2019-04-11 12:03] AtomicSimon commented on #5138
This wasn't the case in 2.8.4, could it be added to the list of breaking changes for 3.0.0?
It took me nearly a day to figure out why my code wasn't working on the new version and I'd like to avoid the pain to other people.

[2019-04-11 15:34] acinader commented on #5138
Would you be willing to open a pull request to address the documentation?

[2019-04-11 16:06] dplewis commented on #4918
Closing via https://github.com/parse-community/parse-server/pull/5191

[2019-04-11 16:06] #4918 closed

[2019-04-11 18:02] mtrezza commented on #5388
Costs are down considerable after:
- adding a CDN for static content
- make cloud code calls to the server call itself (localhost) instead of the load balancer

[2019-04-11 18:02] #5388 closed

[2019-04-11 23:20] dplewis commented on #5471
@SebC99 Do you have VERBOSE logs set on your server? My query went from ~15 to 2 seconds?

[2019-04-12 05:54] SebC99 commented on #5471
No LOG_LEVEL is set on INFO in production
But we use Winston to log to AWS Cloudwatch too, I can try to deactivate it even if I'm pretty sure it's in background

[2019-04-13 17:03] acinader opened #5500 "Master tests failing. Need better notification"
tests failing since https://travis-ci.org/parse-community/parse-server/builds/515639414

1.  Investigate and fix.
2. Check to understand how to get 'higher priority' notification when repos in parse-community are failing beyond some certain threshold.

[2019-04-13 18:44] Tom-Fox1 commented on #5500
Perhaps [Travis Buddy](https://www.travisbuddy.com) could help with 2.

It comments on PRs if the tests are failing and shows the relevant part of the log - but I'm not sure whether you can set it so it only comments if over a certain number of tests fail.

[2019-04-13 21:21] dplewis commented on #5500
@vitaly-t I remember you posted something about mongo url strings https://github.com/parse-community/parse-server/pull/986#issuecomment-475936749

You want to submit a PR?

[2019-04-13 21:42] vitaly-t commented on #5500
@dplewis I have no practical knowledge about parse-server, i.e. I only helped with the database layer for PostgreSQL, but I never used the library myself.

Given just how completely generic `connection-string` is, perhaps it is better that someone well familiar with parser-server does it?

[2019-04-13 22:52] acinader commented on #5500
@stage88 and I are on the tests. It has nothing to do with the mongo adapter, it’s how jasmine handles spies has changed subtly in a way that broke some tests.

This case will be solved shortly.  I’m more concerned about notifications that prevent this from going unnoticed.  I’ll have better internet soon.

[2019-04-13 22:53] dplewis commented on #5500
@acinader The issue is how unhandled promises are no longer warnings.

[2019-04-13 22:57] dplewis commented on #5500
I edited my last comment. We shouldn't run into this issue anymore. As unhandled promises will make tests fail

[2019-04-13 23:10] gigswift opened #5501 "Parse Server w/Mongo Atlas XMLHttpRequest failed error"
I'm using Parse Server 3.2.3, Parse Javascript SDK 2.3.2. with a connection to Mongo Atlas Node.js driver 3.0

When I try to run a basic server side query I get the following error message:

My app.js:

[code]

I'm testing Parse by running this file from the command line; in a separate terminal app.js is running and parsePlay.js is a file running from app.js.

I've since tried the parsePlay.js que

[2019-04-13 23:22] dplewis commented on #5501
Please run parse-server with VERBOSE=1 and provide the logs for this operation in order to help debugging.

Also do you have any cloud code hooks?

[2019-04-13 23:28] dplewis commented on #5501
Your client side is initialized wrong.
https://github.com/parse-community/Parse-SDK-JS/blob/master/src/Parse.js#L33

[2019-04-14 12:18] rihadavid opened #5504 "Full-text search ascending/descending bug (typo?)"
I have just discovered that when I want to use a full-text search with ordering, only `query.ascending('$score')` is working. `query.descending('$score')` throws `"Invalid field name: $score."`.

When you are doing a full-text search, you obviously want the results with a higher score first, so it should be `descending`. But here's the thing - **it actually returns the results in descending order*

[2019-04-14 13:57] hajjarjoseph opened #5505 "I/O Failure with Android S9 devices"
### Issue Description

Parse requests return i/o failure with S9 devices. It works fine with others. This usually happens when there is no internet connection. However I checked that the phone has internet and tried on both wifi and 4G. Tried also with other S9 devices and same issue.

### Steps to reproduce

Call any parse request like so :

[code]
### Expected Results

No error with other device

[2019-04-14 16:24] dplewis commented on #5504
Nice catch! I use it but never really thought about it.

[2019-04-14 16:48] acinader commented on #5500
@dplewis I think that's a legitimate add to the mongo adapter connect method, but it does not solve the failing test.  I'm still trying to work out what's going on.

[2019-04-14 17:17] acinader commented on #5500
actually @dplewis I don't see where your change could be introduced.

still trying to work it out :(

[2019-04-14 18:31] acinader commented on #5500
for those of you playing along at home, I can confirm that the unhandled rejection is occurring during the initialization of ParseServer and not during the rest post to create a new object.

[2019-04-14 19:00] hajjarjoseph commented on #5505
[code]
Using https instead of http in the server url fixed the issue.

[2019-04-14 19:00] #5505 closed

[2019-04-14 19:14] gigswift commented on #5501
Thanks for responding dplewis. I posted this just as I was wrapping up my Saturday session.

I'm unclear as to how you enable VERBOSE = 1. As I understand .env, I need to apply that environmental variable somewhere in my code, but where?
This is mentioned in the documentation: https://github.com/parse-community/parse-server but I'm not sure what's meant, could you provide some clearer guidance?

I

[2019-04-14 19:20] gigswift commented on #5501
Hey there Diamond, thanks for the follow up.

This app has no client right now.

parsePlay.js is a node file.

R

On Sat, Apr 13, 2019 at 4:29 PM Diamond Lewis <notifications@github.com>
wrote:

[2019-04-14 21:50] hajjarjoseph opened #5507 "LiveQuery subscription.on Uncaught TypeError: subscription.on is not a function"
<!---

### Issue Description

I'm getting Uncaught TypeError subscriptionUser.on is not a function while trying live queries with javascript
### Steps to reproduce

[code]

### Expected Results

No error.

### Actual Outcome

subscriptionUser.on is not a function

---!>

[2019-04-14 21:51] dplewis commented on #5507
Please fill out the issue template and reopen.

[2019-04-14 21:51] #5507 closed

[2019-04-14 21:53] dplewis commented on #5507
Thanks for reporting. This is a breaking change and should be documented

[2019-04-14 21:53] hajjarjoseph commented on #5507
Can you please give me a code example?

[2019-04-14 21:57] dplewis commented on #5507
`await query.subscribe();`

Or

`query.subscribe().then(subscription => ...)`

[2019-04-14 22:00] hajjarjoseph commented on #5507
Thank you, it worked !

[2019-04-14 22:02] dplewis commented on #5507
No problem!

[2019-04-15 01:51] dplewis commented on #5501
[code]

I don’t know what your environment is but is should be something like
`npm run (how you start your server) VERBOSE=1`

[2019-04-15 02:20] gigswift commented on #5501
Thanks man! I did get that part in there earlier today but it seems to be bringing up only logs from other errors I had before running into this.

Should I look in the logs folder for something like parse-server.info.2019-04-14? That file specifically has nothing that appears related to this error.

The Parse Dashboard, on the other hand actually no longer shows logs since I implemented verbose.

[2019-04-15 02:21] dplewis commented on #5501
Can you connect to your server? Looks like it’s Parse.initialize is wrong

[2019-04-15 02:42] gigswift commented on #5501
I can from the front end but not from the backend.

In past apps I was able to initialize Parse for queries in my Express code with

[code]

What's changed or what am I missing? I'm not using a JS key right now.

I also know that the Parse object is getting picked up in the Express code as I just console.log it.

There seems to be a problem with the Parse Object communicated with Parse-Server.

[2019-04-15 10:08] oallouch opened #5508 "Where can I get the sessionToken in a Parse.Function ?"
Hi,
I can't find in the docs the official way to retrieve the sessionToken from a request object.
I personally use request.query.sessionToken, but I see a lot of user.getSessionToken() in the source (it's not in the docs).

Thx,
Olivier

[2019-04-15 11:15] rihadavid opened #5513 "Inconsistent beforeSave calls with CLP"
When you try to modify an object which does not have `Update` permission in CLP, beforeSave is not called. But if you add a specific Pointer CLP `Update` permission, it is called (even if you don't fullfil the permission) - also when this happens, it's actually called without the data in the object, which is strange. Fortunately, the object is not updated in either case, but it would definitely be

[2019-04-15 11:44] rihadavid commented on #5177
I have just discovered, that this bug is surfacing on 2.8.4 - 3.1.3 also in another case. It's already fixed, but if any of you are using 2.8.4 - 3.1.3, which is currently offered for example on Sashido, you might want to know about this.

Let's say you have a class with `Public CLP Update-only` + `_User-Pointer CLP Read-enabled`.
You'd expect that any user can update objects in this class, but if

[2019-04-15 11:52] rihadavid commented on #5508
Might `request.user.getSessionToken()` be what you need?
BTW, code level questions should be asked on Stack Overflow using the parse-platform tag.

[2019-04-15 12:41] oallouch commented on #5508
The issue is really about the missing getSessionToken method in the docs.
https://parseplatform.org/Parse-SDK-JS/api/master/Parse.User.html

[2019-04-15 18:04] gigswift commented on #5501
I figured it out - for some reason I need to include Parse.serverURL in my Node code in order for the Parse JS SDK to communicate with the Parse-Server API. I'm not sure why this is given the documentation as I don't see this expressed anywhere.

Am I doing something wrong?

[2019-04-15 18:42] Zerokk opened #5514 "Parse error 209 when checking user's credentials (Critical bug)"
### Issue Description

This problem has been taken to discussion every now and then in the issues of this repo, so I guess most people who can lend a helping hand here, or the devs, will know what I'm talking about. The 209 error happens when the session token "is invalid", whatever this means.

### Steps to reproduce

Actually I have stumbled upon this issue so many times that I'm not sure how it

[2019-04-15 19:09] mman commented on #5514
Not sure what could be happening, but couple quick comments:

- when user does login or signup, he gets a new session token in a ``_Session`` table
- session token is bound to a given device, an ``_Installation``, login without a device is not gonna work,
- session tokens do expire after some time, when they expire they are deleted from mongo using TTL index and any API request afterwards using th

[2019-04-15 19:15] Zerokk commented on #5514
Thank you! This helps me to identify some of the trouble that might be happening server-side. I will try to do call the login() method from the client and perform the rest of operations in the server, although I think this might be a serious security issue... (the idea is that the payment operations get validated server-side; client side there's no such a thing as security). I guess it'll be enoug

[2019-04-16 06:43] mman commented on #5514
The session length can be configured by the ``sessionLength`` parse server param. There is (was) an discussion how to properly extend session lifespan when the token is used, which has not yet been concluded and implemented.

When you call parse api login call from the client side, you get a fresh session token that is then needed to invoke your own protected cloud code function, so in your case i

[2019-04-16 08:16] oallouch opened #5515 "missing docs for setting the readPreference option in a query"
Hi,
Like in my previous [issue](https://github.com/parse-community/parse-server/issues/5508) (where I said I can't find user.getSessionToken() in the docs), I face another documentation problem : this time I'd like to make some queries read from the secondary mongodb server, but I can't find the readPreference in the reference js documentation.

Thx a lot in advance,
Olivier

[2019-04-16 09:29] gtzinos commented on #4589
Any update?

[2019-04-16 09:30] gtzinos commented on #2159
https://docs.mongodb.com/master/core/transactions/

[2019-04-16 12:10] Edijae commented on #969
@fetching how did you delete the schema collection?

` db._SCHEMA.remove({})`
` 2019-04-16T11:50:07.349+0000 E QUERY    [js] TypeError: db._SCHEMA is undefined :
  @(shell):1:1`

above command never worked

[2019-04-16 18:33] Edijae commented on #4997
@Barsha96 @flovilmart @wasnotrice @gdeglin Kindly assist here [https://stackoverflow.com/questions/55714246/how-to-clear-schema-collection-in-mongodb](https://stackoverflow.com/questions/55714246/how-to-clear-schema-collection-in-mongodb)

[2019-04-17 00:49] luojieerr opened #5518 "Unable to import array objects via mongoimport"
I have a csv file with a field formatted as an array object, but when I import data using mongoimport, there is no data loaded in the Parse Dashboard. If I change them to a string object, this will load normally.

csv example : https://drive.google.com/open?id=1GOd4SDtW0deeIarEbCg9sTrB7GWLF4U0
mongodb : v4.0.4
parse server : v3.2.1
node.js : v10.14.2

[2019-04-17 08:18] TomWFox commented on #5518
Closing this as you have cross posted this on the community forum.

[2019-04-17 08:18] #5518 closed

[2019-04-17 13:55] dongalor opened #5519 "well, yeah, strange behaviour 2.8.4 with apple receipt api"
As I was trying to write in #5482, I was going to write apple receipt verification inside of cloud function, but when I add apple api call, like this: (this code works like a charm without parse cloud function)

[code]

I'm getting 3 of 5 calls to this function with socket disconnect on client side.

My parse api got some other than apple api calls, but they work fine. Is it possible, that there's

[2019-04-17 15:43] #5391 closed

[2019-04-17 17:16] dongalor commented on #5519
I also tried using Parse.Cloud.httpRequest:

(this is my Utils class)

[code]

And here is code with request-promise:

[code]

So, I'm using it inside cloud function like this:

[code]

[2019-04-17 20:14] chaitanya9186 opened #5520 "How to configure webhooks as part of initializing parse server"

[2019-04-17 21:00] TomWFox commented on #5520
Hi 👋

We are trying to keep GitHub issues reserved for bug reports & feature requests - please refer to the [section on help and communication on our website](https://parseplatform.org/) for details on the appropriate place for different types of questions.

[2019-04-17 21:00] #5520 closed

[2019-04-17 22:46] RaschidJFR opened #5521 "Parse.Query.find() returns Parse.Pointer[] instead of Parse.Object[]"
### Issue Description

When running a simple query on a class from cloud code, the result is an array of **pointers** to class objects instead of an array of **actual objects**. When the same query is run on the client it works ok.

This only happens on a specific class (`Profile` in my case), the same query on any other class returns the expected output.

### Steps to reproduce

Call this cloud f

[2019-04-18 17:14] dplewis commented on #5521
Thank you for the detailed report. Can you write a failing [test](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md)?

[2019-04-18 17:16] dplewis commented on #5501
It is documented in the [Javascript Guide](http://docs.parseplatform.org/js/guide/)

[2019-04-18 17:16] #5501 closed

[2019-04-18 17:18] dplewis commented on #5400
Closing via https://github.com/parse-community/parse-server/pull/5496

[2019-04-18 17:18] #5400 closed

[2019-04-18 17:22] dplewis commented on #5425
Closing via https://github.com/parse-community/parse-server/pull/5025

Please update to the latest version of Parse Server.

[2019-04-18 17:22] #5425 closed

[2019-04-18 18:37] gigswift commented on #5501
You're right, I missed. Thanks for the help.

R

On Thu, Apr 18, 2019 at 10:17 AM Diamond Lewis <notifications@github.com>
wrote:

[2019-04-19 16:25] oallouch commented on #5508
If you tell me where to write this little piece of doc, I can do it. Is it a function comments ? How frequently do you generate the docs ?

[2019-04-19 16:47] dplewis commented on #5508
@oallouch Its a function comment in the JS SDK.

Use `npm run docs` to verify the changes. The files are in the `/out` folder.

The docs are generate after every PR is submitted

[2019-04-19 21:46] oallouch commented on #5508
Great ! I'll give it a shot (for this one and the readPreference thing)

[2019-04-19 21:59] CoderickLamar opened #5522 "Postgres Geopoint Error"
### Issue Description

Excluding geopoints that are zero results in a server error and is breaking. (Postgres)
Error also occurs when excluding non-zero geopoints (ie. 1.0, 1.1, etc.)

### Steps to reproduce

Look for geopoints that are non zero with a Postgres DB
Error also occurs when excluding non-zero geopoints (ie. 1.0, 1.1, etc.)

[code]
### Expected Results

Query runs normally like it does

[2019-04-21 19:31] topdeveloper0017 opened #5523 "Access to data without any session"
I like to access data without any authentication.
Now I am getting "Session token is expired" when I try to access any data on parse DB.
But I don't need to login to get any data on db.

How can I access data without any user session token ?
Regards

[2019-04-21 19:36] acinader commented on #5523
@topdeveloper0017

You do not need a session token to create a parse query.

Please see https://community.parseplatform.org/ for how to find help with parse-server.

If you are trying to open an issue, please open a new issue here and use the issue template.

[2019-04-21 19:36] #5523 closed

[2019-04-21 19:37] acinader commented on #5522
can you write a failing test for this?

[2019-04-21 19:42] acinader commented on #5521
@RaschidGithub did you ever figure this one out?  Interesting.  I suspect that it is a misconfiguration on your part.  Turning on verbose logging may help in tracking it down what is going on.

If I have read your account properly, this is only happening with one class and not the others.  You write: "This only happens on a specific class (Project in my case)", but then use 'Profile' everywhere el

[2019-04-21 19:53] acinader commented on #5514
as written, this is not a bug.

'This may be because in the Parse Cloud code, I've got a Parse.User.logIn()'

Login in cloud code is not supported.  The only potential todo here is documenting the fact and throwing an exception when tried.

[2019-04-21 19:53] #5514 closed

[2019-04-21 19:56] acinader commented on #5513
@rihadavid any interest in trying to fix?  Good place to start would be with a failing test.

[2019-04-21 19:58] acinader commented on #5508
https://parseplatform.org/Parse-SDK-JS/api/master/Parse.Session.html#getSessionToken

that's not what you're looking for?  What am I missing?

[2019-04-21 20:02] acinader commented on #5504
@rihadavid any interest in taking this on?

Steps I'd think we'd need:
1. failing test to verify
2. add deprecation notice to code and documentation

Ideally, we could find some 'new way' to do it right `query.ascendingScore()/query.descendingScore()`
is the terrible first thing that comes to mind, so we don't have to deal with any blast radius by actually breaking it.

In the future, we could the

[2019-04-21 20:03] rihadavid commented on #5513
@acinader unfortunately, I don't have time to work on it

[2019-04-21 21:50] rihadavid commented on #5504
@acinader thanks for the suggestions, unfortunately, reporting bugs is the best I can do at the moment, working 12 hours a day on my startup 🙈

[2019-04-21 21:54] dongalor commented on #5519
No, I clicked CLOSE for mistake, please reopen this, if you can )

[2019-04-21 21:56] dongalor commented on #5519
Actually, question is WHY using this exact code via nodejs CLI, I'm not having any interrupts, but when I use it inside cloud function, I do?

[2019-04-21 21:57] dongalor commented on #5519
No one will ever see this messages, cuz I closed this issue :(

[2019-04-22 11:51] oallouch commented on #5508
It might also work.
The real issue are the docs.
I see 3 solutions :
. request.query.sessionToken : this is what I use, but I don't see any 'query' in https://github.com/parse-community/Parse-SDK-JS/blob/master/src/CloudCode.js , but it's in the source https://github.com/parse-community/parse-server/blob/3e003ee9f4c1955a09e8bc06ec1835698962e350/src/triggers.js#L205
. request.user.getSessionToken()

[2019-04-22 14:26] RaschidGithub commented on #5521
Thanks @acinader , I've edited my description as I miswrote the sentence: it should read "... on a specific class (`Profile`...".

I've turned on verbose, it's pasted on the issue description. I'm gonna try the test @dplewis suggested and get back to you with the result. I'll just have to figure out how that is done hehe.

[2019-04-22 20:37] dongalor commented on #5519
Here's httpie request log to cloud function url with this apple purchase request:

`http: error: ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')) while doing POST request to URL: http://localhost:1337/parse/functions/verifyReceipt`

[2019-04-22 20:47] acinader commented on #5519
try re-arranging your code like this:

[code]

i'm guessing that whatever data is returned is causing an error in res.success and you're not catching the error....maybe?

[2019-04-22 21:00] dongalor commented on #5519
@acinader I see [this](https://gist.github.com/dongalor/f365336e55db8efa7e7955f0232f166a) in my logs and no error :(

[2019-04-22 21:15] acinader commented on #5519
your problem may be the size of the response.

it's odd that the second entry isn't truncated too.

can you simulate a smaller response (maybe truncate the value before handing it to success) and see if that solves it?

[2019-04-22 22:35] dongalor commented on #5519
@acinader i even removed this large response data (which indeed is very large, due to it includes this exact receipt too), same story...

[code]

[2019-04-22 22:47] acinader commented on #5519
something odd for sure.

You should really switch from using then(success, error) to then(success).catch(error).

if there is an error in your success function, you won't catch it.

Below I have re-written your getReceiptData function to not have the unnecessary promise wrapper around the request promise wrapper.

[code]

I still don't see what is going wrong.

you may want to time the apple respo

[2019-04-23 01:47] CoderickLamar commented on #5522
[code]

Do you want me to submit this as a pull request?

[2019-04-23 02:28] lincyim opened #5524 "Common classes ("Users" for example) shared by all the apps in Parse dashboard?"
**Is your feature request related to a problem? Please describe.**
I have several apps and I want all of them share the same users data. I mean one account that can login several apps. If I cloud set what classes to share within what apps, it would be fantastic. Thanks for your hard work!

[2019-04-23 10:45] funkenstrahlen commented on #4799
Just as a note: You can also add `expireInactiveSessions: false` to the server configuration to stop sessions from expiring at all.

[2019-04-23 15:40] danielmartinprieto commented on #5425
Hi @dplewis, we're still experiencing the issue. Given the date of the PR you mentioned, it seems that the warnings are not the same. In case we are wrong, could you help us finding the problem? We're creating a new issue with more info as we can't reopen this one, but let us know if you want to reopen this one and we close the new one and bring that info here.

[2019-04-23 15:44] 1987cr opened #5525 "Can't upload/download files (URL string parser is deprecated)"
### Issue Description

I'm reopening [this issue](https://github.com/parse-community/parse-server/issues/5425) since it got closed after referencing an older commit that does not solves the problem.

Still not working on `parse-server v3.2.3`

### Steps to reproduce

- Create a new Class with a File column (using parse-dashboard to simplify things)
- Add a new row and upload a file, nothing will h

[2019-04-23 20:59] dplewis commented on #5525
Didn't notice the `GridStoreAdapter.js` file would you like to submit a PR?

Also It is highly recommended to use [S3 Adapter](https://github.com/parse-community/parse-server-s3-adapter)

[2019-04-24 11:10] danielmartinprieto commented on #5525
But S3 adapter is only for Amazon, right? Can/Should we use it with Azure?

[2019-04-24 22:38] dongalor commented on #5519
@acinader I've tried eliminating parse promise and still no effect,
Actually this request is indeed time consumable (cli way), I'll post results tomorrow.

p.s. thank you for support, for sure it's possible, we will solve this issue before you will start implementing this on your project =)

[2019-04-25 01:28] #5285 closed

[2019-04-25 02:10] acinader commented on #5440
I think the arguments would be: `object.add('list', value, index);`

[2019-04-25 06:36] davimacedo commented on #5525
S3 Adapter is only for AWS S3. You can try this one here for Azure: https://github.com/felixrieseberg/parse-server-azure-storage

[2019-04-25 06:46] davimacedo commented on #5524
I am not sure if this feature could be included in Parse Server. Your best chance now is probably using after save triggers to keep the data synchronized among the different apps.

[2019-04-25 07:07] davimacedo commented on #5515
The only way to change the readPreference so far is by using a beforeFind trigger, like in the example below:
[code]

Note that in this example all queries in MyClass will be changed to the SECONDARY, but you can also do some verifications in the req object in order to check for a specific set of queries and only change for them.

I will open a PR soon in the docs repo explaining this.

[2019-04-25 10:48] danielmartinprieto commented on #5525
Thanks, @davimacedo! We currently use Parse directly for images, as we're not doing a heavy use, but we'll consider migrating to `parse-server-azure-storage` soon.

[2019-04-25 10:50] 1987cr commented on #5525
Alright @dplewis, I'll submit the PR as soon as I have the chance.

[2019-04-25 15:44] dongalor commented on #5519
So, time command on this node cli script:

`node check.js  0.45s user 0.09s system 13% cpu 3.816 total`

[2019-04-25 15:57] RaschidGithub commented on #5521
@dplewis so I forked the repo (I guess I need to run my local server from the `/bin` folder inside it), installed Jasmine Test Explorer and did `npm run coverage`... I'm not familiar with this tests, so what's the outcome I should post here?

[2019-04-25 16:09] dplewis commented on #5521
If you got the tests running and passing, write a new test to reproduce your issue.

If your new test fails then create a Pull Request.

[2019-04-25 16:12] acinader commented on #5519
The 3.8s time is your issue.

If the time is not under your control, you can change this from a cloud function to a [cloud job](https://docs.parseplatform.org/cloudcode/guide/#cloud-jobs).

I'm going to close this issue as I do not believe that this is a problem with parse-server.

[2019-04-25 16:12] #5519 closed

[2019-04-25 16:58] yingmu52 commented on #3404
any news on this issue??

[code]

[2019-04-25 17:16] designunion commented on #3404
I cannot remember how I resolved/fixed this issue.

[2019-04-25 20:37] oallouch commented on #5515
That's odd. Reading the sources, I would think I can do it directly in a Query
https://github.com/parse-community/parse-server/blob/3608b19b3a485d76dec53837c20fc710c76aa8f2/src/RestQuery.js#L112
and MongoStorageAdapter seems to retrieve it from the Query, next to limit, skip, ...
https://github.com/parse-community/parse-server/blob/3e003ee9f4c1955a09e8bc06ec1835698962e350/src/Adapters/Storage/Mong

[2019-04-25 23:16] dongalor commented on #5519
@acinader Thank you, now I got it. I'm switching to cron job, which will run nodejs script with apple purchase inside, then it will pass data to Parse javascript sdk.

[2019-04-26 15:50] dplewis commented on #5515
@oallouch Good catch surprised `query.setReadPerference()` was never added. Would you like to do a PR?

[2019-04-26 16:00] oallouch commented on #5515
I can try, but it'll be my first. I might need some help.
For instance, when I try npm install , I get many errors like:

npm WARN tar ENOENT: no such file or directory, open 'C:\Users\xxx\Documents\GitHub\Parse-SDK-JS\node_modules\.staging\insert-module-globals-cbc4cf8a\test\global\filename.js'

[2019-04-26 16:43] dplewis commented on #5515
Which node version are you running and do you have permissions?

[2019-04-26 17:16] davimacedo commented on #5515
@dplewis @oallouch when I wrote the readPreference option, my original idea was to include it as an option in the API and also in the JavaScript SDK, but, in that point in time, there were a discussion between some of the maintainers and they thought it was not a good idea to allow the client to choose where the query should run (it is a backend responsibility). I agree with the argument but I sti

[2019-04-26 17:27] davimacedo commented on #5515
I've just remembered we actually wrote the PR with the API option for readPreference but it was never approved:
https://github.com/parse-community/parse-server/pull/3963

I think it is a good start point for a new PR on this.

[2019-04-26 17:55] oallouch commented on #5515
The second one is very fine with me.

[2019-04-26 18:51] oallouch commented on #5515
@davimacedo I think you should write the server and client PRs. All the options (readPreference, includedReadPreference and subqueryReadPreference ) aren't as clear for me as it must be for you.

Btw, when a readPreference is set for a query, shouldn't it also change the default values of includedReadPreference and subqueryReadPreference ?

@dplewis my problem was just a config issue

[2019-04-26 21:09] fsoegiono opened #5533 "Full Text Search Error code: 107, Bad constraint: $text"
I'm running my code on cloud parse-server version `2.8.4` full text search and it seems it does not work for me. I got the following message...

<img width="428" alt="Screen Shot 2019-04-26 at 2 08 33 PM" src="https://user-images.githubusercontent.com/8943566/56836647-cab1a400-682c-11e9-98c3-5dd09c7ceb6b.png">

Here's my code:

![Screen Shot 2019-04-26 at 2 09 10 PM](https://user-images.githubuser

[2019-04-26 21:46] tgreco opened #5535 "All Files Missing"
### Issue Description

I am running Parse-Server on a Heroku cloud instance.
It has been humming along just fine for months without issue.
I logged in to the website today and all the images were not displaying.

By Images I mean files saved to the backend.
I have my Users table have a column for profile picture.

This image was still there and when I tried to access it via the parse-dashboard to

[2019-04-26 21:58] davimacedo commented on #5535
What's the file adapter that you are using and where are your files hosted? Can you please send an url that is failing?

[2019-04-26 22:04] dplewis commented on #5533
Please update to the latest version of Parse Server and reopen if issue persists.

[2019-04-26 22:04] #5533 closed

[2019-04-26 22:43] fsoegiono commented on #5533
Tried parser server latest version 3.3.0 but still gives the same result

<img width="428" alt="Screen Shot 2019-04-26 at 2 08 33 PM" src="https://user-images.githubusercontent.com/8943566/56839973-04d57280-683a-11e9-82f3-90b30b225289.png">

[2019-04-26 22:47] fsoegiono opened #5539 "Full Text Return Error Bad Constraint Parse Server Latest Version"
I'm running my code on cloud parse-server latest version 3.3.0 full text search and it seems it does not work for me. I got the following message...

<img width="561" alt="Screen Shot 2019-04-26 at 3 42 07 PM" src="https://user-images.githubusercontent.com/8943566/56840069-68f83680-683a-11e9-8557-c4f208ca66d2.png">

Here's my code:

![Screen Shot 2019-04-26 at 2 09 10 PM](https://user-images.githu

[2019-04-26 22:48] dplewis commented on #5533
Can you post logs?

Here is where $text is https://github.com/parse-community/parse-server/blob/7122ca05c4e29ccf9d1c86ab3864b08508a09915/src/Adapters/Storage/Mongo/MongoTransform.js#L956

[2019-04-26 22:54] dplewis commented on #5539
Can you post logs, VERBOSE=1?

Here is where $text is https://github.com/parse-community/parse-server/blob/7122ca05c4e29ccf9d1c86ab3864b08508a09915/src/Adapters/Storage/Mongo/MongoTransform.js#L956

[2019-04-26 23:00] fsoegiono commented on #5539
full logs:

<img width="1662" alt="Screen Shot 2019-04-26 at 4 00 21 PM" src="https://user-images.githubusercontent.com/8943566/56840442-6a2a6300-683c-11e9-9c36-6e5328c9aab4.png">

[2019-04-26 23:07] fsoegiono commented on #5539
Full logs:
<img width="1662" alt="Screen Shot 2019-04-26 at 4 00 21 PM" src="https://user-images.githubusercontent.com/8943566/56840619-559a9a80-683d-11e9-9438-02a3c1ad511f.png">

[2019-04-26 23:12] dplewis commented on #5539
I think this happens because you are querying on the User class, I haven't tested it. Try to set your own index in mongo and see what happens or try a different class.

[2019-04-26 23:15] fsoegiono commented on #5539
Tried different classes. Results are still the same

[2019-04-26 23:24] dplewis commented on #5539
Can you debug it? `node_module/parse_server/lib/Adapters/Storage/Mongo/MongoTransform.js`

I'm unable to reproduce this issue.

[2019-04-27 01:02] fsoegiono commented on #5539
I feel like the index did not create one for field that I want to search. I'm not sure

[2019-04-27 02:13] dplewis commented on #5539
I’ll submit a PR shortly. Need to add support for multiple fields also..

Also to fix your index issue in your logs https://github.com/parse-community/parse-server/blob/master/2.3.0.md

You can drop those 3 indexes and the server will build them for you.

[2019-04-29 08:05] stoodkev commented on #5161
@acegreen I have the same issue, did you solve it?

[2019-04-29 13:17] saadiya-kazi commented on #3060
facing same issue. Any update?

[2019-04-29 16:33] CoderickLamar commented on #5522
@dplewis I believe you're using postgres as well. Is this something you've seen as well?

[2019-04-30 06:46] davimacedo commented on #5521
@RaschidGithub I've just noticed in your logs that you are sending a parameter called "department" but you are not using this parameter in the function you included in your issue description. I am just wondering if you really included the whole code of the function. Can you please double check?

[2019-04-30 11:22] #5403 closed

[2019-04-30 16:40] dplewis commented on #5522
@CoderickLamar I don't use postgres, just here for support. I can look into it for you.

[2019-04-30 23:52] RaschidGithub commented on #5521
@davimacedo Yes, the cloud function was supposed to do some more complex querying, but as it wasn't working I reduced it to just one line (` return new Parse.Query(Profile).find({useMasterKey: true});`) to get rid of any other potential errors. So the that's my complete code, I'm sending parameters that are not being used at all for now.

[2019-05-01 03:43] dplewis commented on #5522
@CoderickLamar I submitted a PR.

Using any NOT queries is not recommended as they don't use indexes and can will be exponentially slower as your DB grows.

[2019-05-01 04:29] #5522 closed

[2019-05-01 05:44] #5525 closed

[2019-05-01 21:59] davimacedo commented on #5521
Can you try the code below to see what happens?

Parse.Cloud.define('department:getMembers', request => {
  return new Parse.Query('Profile').find({useMasterKey: true});
});

The idea is to not use the Profile class just to make sure that the problem is in the API and not in the code.

[2019-05-01 23:01] RaschidGithub commented on #3403
Hi guys. I'm having trouble with a file `logs/parse.log` that's over 14 GB. I'm running Parse Server on a Bitnami deployment on 1&1. Is there any way to make this file split by day? Or perhaps it's a Bitnami-specific file? (I've beein asking in their community but not resolved yet)

[2019-05-01 23:13] acinader commented on #3403
my $.02 would be to configure logrotate to process your parse log files.  this is done by adding a file in /etc/logrotate.d.  there's tons of articles on how to configure logrotate with examples.

[2019-05-02 00:24] CoderickLamar commented on #5355
Any progress on this? Just came across this one myself

[2019-05-02 00:27] dplewis commented on #5521
@RaschidGithub I wrote a [test case](https://github.com/parse-community/Parse-SDK-JS/compare/fix-5521?expand=1) and it passed.

[2019-05-02 00:30] dplewis commented on #5355
I can look into it

[2019-05-02 17:44] #5355 closed

[2019-05-02 18:52] RaschidGithub commented on #5521
Exact same result @davimacedo ... this is so weird. I even tried with and without the masterkey just because and still failing.

I'm starting to thing I may have broke something on maybe on the mongodb, the strange thing is that this happens also on the remove server on [back4app](https://back4app.com].

Thanks for the case @dplewis . I know, this code is too simplt to cause such an issue. I'm gon

[2019-05-03 06:13] jpbala commented on #1335
Hi hafizapp,
After changing the url i am still facing the same issue, could you help??

[2019-05-03 16:05] RaschidGithub commented on #5521
I'm noticing something in the logs that I left out before: the server fetches the complete Objects
but it converts them to Pointers just before returning from the async request:

[code]

[code]

[2019-05-03 16:23] RaschidGithub commented on #5521
I'm following your lead @davimacedo and it turns out that the request works fine when I don't register the subclass `Profile`, it doesn't matter if I create the query as `new Parse.Query('Profile')` or `new Parse.Query(Profile)` (quoted/unquoted).

[code]

[2019-05-03 16:40] dplewis commented on #5521
Does the test case I wrote match the issue you are having? If not please write a test case as I have mentioned before.

When in doubt you can debug the code base.

[Cloud code router](https://github.com/parse-community/parse-server/blob/master/src/Routers/FunctionsRouter.js#L126)
[Cloud code triggers](https://github.com/parse-community/parse-server/blob/master/src/triggers.js#L248)

[2019-05-03 18:55] RaschidGithub commented on #5521
Ok guys, so I've narrowede the problem and I'm able to give the instructions to reproduce the bug (should I update the main issue description above?).

@dplewis I'm not sure how to write a test case (I have null experience on it), but may be it's something like thi, as. If you run this code you'll get the issue as described:

[code]

I added a line to init the array prop to `[]` instead of `undefi

[2019-05-03 19:48] dplewis commented on #5521
Check out the [Contributing Guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md)

Add your code [here](https://github.com/parse-community/parse-server/blob/master/spec/CloudCode.spec.js)

PS: This isn't a typescript project

[2019-05-04 06:49] JeromeDeLeon commented on #4589
Any update?

[2019-05-04 12:19] flovilmart commented on #4589
@JeromeDeLeon you can perhaps implement it, looks like a few people would be interested

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-04 14:44] mrowe009 opened #5560 "Logs missing timestamp"
### Issue Description

Logs for info and error do not have a timestamp, which causes an issue with Parse-Dashboard to not be able to view any logs, because it will break the UI. Since Winston Logger was upgraded to 3.x, timestamp format has been changed.

### Steps to reproduce

In a Parse Cloud function, running
`request.log.info("foo")`
or
`request.log.error("bar")`

### Expected Results

in par

[2019-05-04 14:53] dplewis commented on #5560
There is an issue in the PHP SDK as well.

A PR would be great. You can start with the guide for contributing https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md

[2019-05-04 20:13] mjscintilla opened #5562 "Parse server integrated accountkit authentication implementation"
Hi guys,

As we have recently upgraded the parse server, we have observed that the new parse server(3.2.3) has inbuilt support for Facebook AccountKit authentication. As we were using Parse-Server-phone-number-auth (1.0.2) plugin for Account support, It was no longer working for us after upgrade. So we decided to use Parse Server's inbuilt AccountKit Authentication.

We implemented it and it worke

[2019-05-05 10:37] Samigos commented on #829
But there's no need of a paging implementation, right? parse-server will take care of the total number of installations?

[2019-05-05 11:40] beiguancyc commented on #5560
+1

[2019-05-05 15:49] uzaysan opened #5564 "Save operation failed but data saved to cache?"
When i tried to update my username new username writed to cache(ParseUser.getCurrentUser()) even process failed.

For example:
[code]

I'm using this version:

[2019-05-05 17:50] TomWFox commented on #5564
Please provide any specific errors you are receiving client side & relevant logs from Parse Server also what version of Parse Server are you using?

(in future please fill out the issue template)

[2019-05-05 17:56] uzaysan commented on #5564
App doesn't crash and gives no error log. I found a tricky workaround solution.

[code]

[2019-05-05 19:55] codetycon opened #5566 "How to apply filter on a Pointer field?"
I have an two tables:-
1. Countries
2. Customers [have number of column like name, address, city, zipcode, email, etc]

Customer table have an column country [Pointer of Countries].

Now what I want:  I have an search form and if some put "aus" in a search box and click on "Search" button I want to display all matching records, I want to apply search on "Name, email, address, city and the **Countr

[2019-05-05 20:16] TomWFox commented on #5566
Hi 👋. Could you please post this over on [Stack Overflow](https://stackoverflow.com/) with the [`parse-platform`](https://stackoverflow.com/questions/tagged/parse-platform) tag.

We are trying to keep GitHub issues reserved for bug reports & feature requests - see the [section on help and communication on our website](https://parseplatform.org/).

(as a general rule of thumb - if you can't fill ou

[2019-05-05 20:16] #5566 closed

[2019-05-06 07:39] uzaysan commented on #5564
@TomWFox this issue is same with my issue
https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/51

[2019-05-06 12:36] oallouch commented on #5515
@dplewis I'm trying to write a Query.setReadPreference() test in the JS SDK, but I can't find an example of test that uses the output REST call generated from a Query.
I looked in integration/test/ParseQueryTest.js

[2019-05-08 06:48] #5562 closed

[2019-05-08 06:50] mjscintilla commented on #5562
Seems like wrong question asked. Not a single response in three days.

[2019-05-08 10:20] TehseenNawaz opened #5569 "How Filter Find The Query by Shard Key in Azure Cosmos DB for MongoDB API"
I created Azure Cosmos DB for MongoDB API in which i set projectId is shard key. So i have two shards on the basis of two projectIds.
Now i want to perform Search query that will target a specific shard instead of fetching the document from all records?

what will be the format of query ( **db.collection.Find()** ) in C# to get the desired result.

[2019-05-08 21:15] yingmu52 commented on #5560
another issue I notice is with the latest version, the logs are all `stringified`, makes difficult to read, any suggestion on that?

[2019-05-08 21:48] dplewis commented on #5560
@yingmu52 I noticed that too. @stage88 any thoughts?

[2019-05-08 23:46] AlexEKoren commented on #5389
Running into the same issue on Heroku currently.

` [4/4] Building fresh packages...
       error /tmp/build_2f6d0c147aedbc8a82a0c46b150b2df5/node_modules/kerberos: Command failed.
       Exit code: 1
       Command: prebuild-install || node-gyp rebuild
       Arguments:
       Directory: /tmp/build_2f6d0c147aedbc8a82a0c46b150b2df5/node_modules/kerberos
       Output:
       make: Entering directo

[2019-05-09 06:49] davimacedo commented on #5521
@RaschidGithub if you remove the line you mentioned, does it work? Why do you need this line? I think it can be just removed.

[2019-05-09 10:51] stage88 commented on #5560
Looks like @acinader has got it covered... :smiley:

There are a few examples of how to combine formats to get a similar output 2.*, take a look at this file: https://github.com/winstonjs/winston/blob/master/examples/quick-start.js

Maybe this type of formater is ok?
[code]

Personally I have been using a custom adapter for a while now, see below:

[code]

[2019-05-09 19:58] #5560 closed

[2019-05-09 23:51] RaschidGithub commented on #5521
Yes, it does work if I remove the mentioned line. It's not a critical line, its porpuse is to initialize the value of the property `myArrayProp`. During the week I find it hard to make some time to go ahead with the Jasmine test, so I hope to get on with it on the weekend.

For now I'm using this workaround:

[code]

[2019-05-10 12:41] JeromeDeLeon commented on #4589
Sorry, I'm busy with our projects. But is there a difference if I just use Parse.Object.saveAll([object1, object2]) cuz it seems like if one of the list has an error, it will stop?

[2019-05-10 12:56] flovilmart commented on #4589
This is not a transaction, just a save in batch

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-10 15:34] dplewis commented on #5448
This isn't currently implemented. If you would like to submit a PR, you can look into the following files:

[Facebook Auth](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Auth/facebook.js)
[3rd Party Guide](http://docs.parseplatform.org/parse-server/guide/#oauth-and-3rd-party-authentication)

[2019-05-11 22:09] oallouch commented on #5515
Ok, I'll just look at the output of ParseQuery.toJSON() .

[2019-05-11 22:14] dplewis commented on #5387
@georgesjamous RedisAdapter yes, but not for LiveQuery. I submitted a PR to make this configurable. Also check your email.

[2019-05-11 22:16] dplewis commented on #5515
It would be easier to wait for something like https://github.com/parse-community/parse-server/pull/3963 to be implemented.

[2019-05-12 00:13] #5387 closed

[2019-05-12 00:37] oallouch commented on #5515
Yes, that would be good.
#3963 is great, but 'includeReadPreference' and 'subqueryReadPreference' aren't completely treated in MongoStorageAdapter

I tried to modify the server myself.
I added the symlinks (using npm link) so that my project uses the local parse-server repo (with express), but I get "Cannot find module 'parse/node'".
Any ideas ?

[2019-05-12 11:14] oallouch commented on #5515
Never mind, I did
const Parse = require('parse/node').Parse;
in a file.
It worked with the normal release, but not with this local symlink.

[2019-05-13 04:06] omairvaiyani commented on #5440
I imagine this will need co-ordination between the server and client-side libraries. Has anyone taken up the server-side work for this? If not I'm happy to get that side done.

[2019-05-13 05:54] davimacedo commented on #5515
@dplewis @oallouch  I will rebase the PR this Monday and let you guys know.

[2019-05-13 12:37] memishood opened #5587 "Parse Server Cloud Code remove an object from array in database"
i try many times remove an object from user array on parse server but it doesn't work,
Server side:
Parse server 2.8.4

my code:
`Parse.Cloud.define("deleteFriend",(req,res)=>{
	var params = req.params;
	var query = new Parse.Query(Parse.User);
	query.equalTo('objectId',params.remoteObjectId);

	query.first({
		useMasterKey: true,
		success: (user)=>{
			user.remove('friends', params.localObjectId

[2019-05-13 12:54] zealmurapa commented on #5587
are you sure the field is an array, and are you sure you have permissions?

[2019-05-13 13:00] memishood commented on #5587
yes i'm sure and i have

[2019-05-13 18:22] memishood commented on #5587
anybody know how to remove an object from user's array from parse server on cloud code ?

[2019-05-13 18:38] dplewis commented on #5587
What error was returned? Can you post logs VERBOSE=1

[2019-05-13 19:16] yingmu52 commented on #5301
How do I get rid of this warning ??

[code]

[2019-05-13 19:23] memishood commented on #5587
okey guys i fixed using to the useMasterKey: true in save function. thanks for everything.

[2019-05-13 19:23] #5587 closed

[2019-05-13 22:49] dplewis commented on #5440
@omairvaiyani Feel free to open a PR. The server-side work hasn't been done yet.

Thanks for getting started on this!

[2019-05-13 22:51] dplewis commented on #5030
@JacobJT would you be willing to write a failing test?

[2019-05-13 22:55] dplewis commented on #5301
@awgeorge Thoughts?

[2019-05-13 23:10] awgeorge commented on #5301
Originally this warning would disappear after you migrate to the new protectedFields - however, after #5463, I believe this message will always show as `options.userSensitiveFields` has a default value of email still.

Options:
1) Remove warning message completely.
2) Revert some small changes in #5463 to silence the warning after upgrading
3) Remove the default value from the deprecated options.u

[2019-05-13 23:14] acinader commented on #5301
2 or 3 works for me.  sorry i busted it. :(.

[2019-05-13 23:15] acinader commented on #5301
and i'm glad to fix since i busted it, but i wont get to it for a few days...

[2019-05-13 23:34] awgeorge commented on #5301
3 seems simple enough - just tested a fix and it does indeed stop the message appearing. I'll push the changes now...

@acinader, no worries, I should have picked it up when I reviewed your changes.

[2019-05-13 23:40] awgeorge commented on #5301
#5588

[2019-05-14 01:06] Erik-Stevens opened #5589 "REST API relation updates not working"
### Issue Description
Firstly, I'm using a Psql database, not Mongo.
I need to use the REST API to update data in a relation, but it's not working. I'm sending a request and getting a success response from Parse server, not an error. Yet the relation in my database is not updating with the new data. I get the same behavior from AddRelation and RemoveRelation. I also tried a non-existent operation:

[2019-05-14 02:54] davimacedo commented on #5589
Hi. I tried to write a test case in order to reproduce the problem, but my test actually succeeded.

I don't know exactly what you are doing differently, but could you try to send the headers in the requests? Something like this:
[code]

If your problem persists, can you please try to write a test case to reproduce the problem? Please find below the one I wrote so you can use as a reference.
[code

[2019-05-14 03:10] #5513 closed

[2019-05-14 03:11] davimacedo commented on #5500
@acinader I think we can close this one, right?

[2019-05-14 03:11] davimacedo commented on #5500
Or do we still need to lead with number 2?

[2019-05-14 08:35] omairvaiyani commented on #5440
Sounds good! FYI this [mongodb article](https://docs.mongodb.com/manual/reference/operator/update/push/) is more closer to the `add` operator since it will only append items to the add, rather than replacing existing items.

I'm not at all familiar with postgres so my PR might be a little lacking

[2019-05-14 15:11] acinader commented on #5500
yes, I think we can close.  the issue with #2 is just for me to figure out i stopped getting notifications on failure.

[2019-05-14 15:11] #5500 closed

[2019-05-14 15:41] uzaysan commented on #5514
After how much time sesion token expire? If my app has a user that login one time but uses app regularly what happens then? Token still expire?

[2019-05-14 18:27] davimacedo commented on #5514
It is 1 year by default, but you can override this setting using the sessionLength option.

If the user does not login again, the token still expires.

You can disable session expiration using the expireInactiveSessions option.

See a complete list of parse server options here:
http://parseplatform.org/parse-server/api/master/ParseServerOptions.html

[2019-05-14 20:17] davimacedo commented on #5515
The API changes were merged. I will now work on JS SDK.

[2019-05-14 22:43] Erik-Stevens commented on #5589
Thanks. Below is a test that I just ran. The first case tries to update a relation and the second case tries to update a simple Number field.  Both cases give Success and updated at, but do not update the data in the DB with the new value. I even added a few more tests to try to change fields in other classes that I know work using the REST API through X-editable. But I get the same result. There'

[2019-05-14 23:15] davimacedo commented on #5589
I think $.ajax does not have "body" option. You should use "data" instead. Also, in the first example, it should be "objects" instead of "Objects". Can you please try again?

[2019-05-14 23:28] Erik-Stevens commented on #5589
When I try "data" I get error 400 Bad Request back from Parse server.
Switching 'Objects' to 'objects' made no difference. Nice catch though.

[2019-05-14 23:38] Erik-Stevens commented on #5589
Just checked the server logs and all it reports is status=200 on this put request.

[2019-05-14 23:42] suathh commented on #3858
For anyone who lives trouble with seting external livequery app server url in JS SDK you can use it like this

Parse.liveQueryServerURL = 'ws://XXXX'

[2019-05-15 00:07] davimacedo commented on #5589
Try “data: JSON.stringify({ ... })”

[2019-05-15 00:59] Erik-Stevens commented on #5589
Thanks! That worked for my test cases. I had tried “body: JSON.stringify({ ... })” but not “data: JSON.stringify({ ... })”

Now I just need to figure out how to make X-editable send the correct JSON for a relation. That still isn't working for me.

As for Parse Server, it seems buggish that it was responding with Status 200 (Success) even though the JSON was mal-formed and the DB didn't update. Se

[2019-05-15 01:11] acinader opened #5592 "parse-server 3.3.0 breaks on AWS Elastic Beanstalk"
Starting with parse-server@3.3.0, parse-server does not have a `./lib` dir.

Reverting to 3.2.3 solves the problem.

the output from `npm install` in `/var/log/eb-activity.log` looks normal.

I took a look at: https://github.com/parse-community/parse-server/compare/3.2.3...3.3.0

but nothing is jumping out.  Will need to debug...

[code]

[2019-05-15 17:15] dplewis commented on #5592
Is that path correct in that `./config.js`

[2019-05-15 17:17] acinader commented on #5592
it is.  and it works just fine in 3.2.3.  When I upgrade to 3.3.0 the lib dir doesn't get generated and I don't know why yet.

[2019-05-15 17:19] dplewis commented on #5592
Does `npm prepare` run? Are you installing from npm or branch?

[2019-05-15 19:03] mrclay commented on #5521
I'm on 2.x and also noticed initializer code in constructors caused this same issue.  We have a large team and I put in every class constructor: `// WARNING: Do not add logic to Parse.Object constructors`

[2019-05-15 19:35] mrclay opened #5597 "Allow disabling object merge behavior"
Our team has been bitten many times by the quirky merge behavior:

[code]

First-level keys in attribute objects cannot be removed, only set to `null`. We have to completely unset('foo'), save, and re-set it to be assured it has the exected value.

This behavior isn't documented in [Object.set](http://parseplatform.org/Parse-SDK-JS/api/2.4.0/Parse.Object.html#set).

[2019-05-15 19:41] dplewis commented on #5597
Is this for Postgres? What version of Parse-Server are you using? I believe this has been fixed.

https://github.com/parse-community/parse-server/pull/5242

[2019-05-15 20:50] davimacedo commented on #5589
I've just tested here and the server responds a 400 error if you send an invalid JSON. In your previous tests, the server was either receiving nothing or an empty object. In these cases, it updates only the updatedAt of the object (since there is no other fields to update in the request), succeeds the operation with code 200 and returns the updated fields (in this case, only the updatedAt). I'm cl

[2019-05-15 20:50] #5589 closed

[2019-05-15 21:41] asgher2008 commented on #4715
bhenchodo jawab dedo tmhari maa ki choot iftaar bhi nhi mene is randi heroku k chakkar main madar chodo

[2019-05-15 21:52] mrclay commented on #5597
parse-server 2.8.1 on postgres, so looks like we'll have to get to 3.x. Thanks.

[2019-05-15 21:52] #5597 closed

[2019-05-15 22:32] dplewis commented on #5597
No problem! A lot of PG improvements made.

Can you comment on https://github.com/parse-community/parse-server/pull/5336?

[2019-05-16 05:04] JeffGuKang commented on #5293
I made PR using @maxiundtesa's solution.

[2019-05-18 11:39] Edijae commented on #3646
@natanrolnik @davidju I have included a file called `Common.js` that contains cloud code in `main.js` I have then tried to call this cloud code in another file called `Controller.js` file but it's not been executed.

`Main.js`

[code]

`Controller.js`
[code]
`Common.js`

[code]
`console.log("Update function called------------") is not being executed at all`

[2019-05-19 21:51] acinader commented on #5592
yeah!  when I went back to debug it, I could no longer reproduce.

[2019-05-19 21:51] #5592 closed

[2019-05-20 09:53] javadghane opened #5603 "Can i send push to android without using fcm?"
### Issue Description

Hi, i'm using parse server v2.3.3 and parse dashboard 1.10.18 on my own server.
after configure the config i can send object and receive them by curl commands.
but for sending push notification to android devices i confused how to configure server.
is need to use FCM for sending pushes? or This is an optional option?
is there any way to using parse server without FCM? in my

[2019-05-20 23:08] davimacedo commented on #5603
Yes. Parse Server requires FCM in order to send push notifications to Android devices. Please refer to this guide here on how to setup: https://docs.parseplatform.org/android/guide/#setting-up-push

[2019-05-21 14:17] mtrezza commented on #5603
That is actually a very interesting question.

It is interesting because [FCM](https://firebase.google.com/docs/cloud-messaging/android/client) requires Google Play Services to be installed on the client.

What if you want to target users in China who mostly do not / cannot use Google services or users who refuse to install Google services out of privacy concerns?

All I can think of is a 3rd part

[2019-05-21 21:50] acinader commented on #5564
If you are still having an issue and have determined what version of the sdk and server you are using, please open an issue on [the Android SDK](https://github.com/parse-community/Parse-SDK-Android)

[2019-05-21 21:50] #5564 closed

[2019-05-22 12:39] mtrezza opened #5607 "Incorrect installation ID in beforeSave"
### Issue Description

The `beforeSave` hook of a custom class contains an invalid `installationId` in its `request`.

### Steps to reproduce

A cloud code function triggers the `beforeSave` hook:

[code]

Apparently cloud code has its own installation ID when it calls parse server.

### Expected Results

The `beforeSave` hook should contain the correct installation ID in the request parameter.

#

[2019-05-22 13:22] mtrezza commented on #5607
Apparently cloud code has its own installation ID when it calls parse server, which seemed confusing at first but makes sense, as like the Parse Dashboard it is just another client.

[2019-05-22 13:22] #5607 closed

[2019-05-23 08:46] kurry421 opened #5610 "Parse LiveQuery not updating client"
### Issue Description

I have setup Livequery however when I update the database, the client is not receiving the update notification.

### Steps to reproduce

On the client I subscribe to the Livequery server. I send a message (write a new object to db). However Livequery does not send any update on the client.

### Expected Results

Client Side Code:
[code]

### Actual Outcome

There is no Liveq

[2019-05-23 14:22] dplewis commented on #5610
Can you run the server VERBOSE=1?

[2019-05-23 15:15] kurry421 commented on #5610
in my server set up I included `logLevel: "VERBOSE"` but the logs are not showing anything more verbose.. is my set up incorrect?

[code]

[2019-05-23 15:35] dplewis commented on #5610
I don’t see where you are saving objects in your log. Are they "Room" objects?

[2019-05-23 15:45] felippi commented on #1871
Para quem chegou aqui com o mesmo problema como eu, vai a solução.
Adiciona a seguinte linha no começo do arquivo index.js
process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";

[2019-05-23 15:49] kurry421 commented on #5610
im scratching my head as to why the logs aren't printing it out.

But, the Room class has a relation to Messages class.

When a client saves a message, it saves it in the Messages class and attaches the new object as a relation to the Room class.

[2019-05-23 15:52] dplewis commented on #5610
Live Query doesn’t handle relations. You could do an array of ObjectIds as a work around

[2019-05-23 15:59] kurry421 commented on #5610
but since client is subscribed to Messages class on Livequery, shouldn't the client get an update when a new object is created/saved?

I just tested your suggestion on the Room class - I added a new column in the Room class, and manually added an array of strings while client connection was enabled. The client was not receiving the updates or create events

[2019-05-23 17:26] acinader commented on #5524
@lincyim unless you want to give this a try, I think it's safe to say that this will not be on the roadmap.

I'm going to close this, but if you think we should reconsider and want to make an argument, feel free to reopen.

[2019-05-23 17:26] #5524 closed

[2019-05-23 17:46] kurry421 commented on #5610
**update** digging deeper into this, it looks like functionality is working as expected locally. this leads me to believe that may be an AWS EB / Redis connection issue that is preventing when running correctly from the cloud.

[2019-05-23 17:57] dplewis commented on #5610
Check your Nginx Configuration.

Here is a great [guide](https://github.com/SoBump/ParseLiveQueryHelp/blob/master/guide.md) that was made specifically for AWS

[2019-05-24 02:57] BH4EHN opened #5614 "MongoDB create index error after update from 3.2.3 to 3.3.0/3.4.0"
### Before opening the issue please ensure that you have:

- [✔] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [✔] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

Previously I'm using ParseServer 3.2.3 (and long ago use 2.x), and

[2019-05-24 03:03] dplewis commented on #5614
Check out the [2.3 Upgrade Guide](https://github.com/parse-community/parse-server/blob/master/2.3.0.md)

[2019-05-24 03:04] #5614 closed

[2019-05-24 03:21] BH4EHN commented on #5614
@dplewis really thanks

[2019-05-24 08:41] #5610 closed

[2019-05-24 21:42] #4530 closed

[2019-05-27 03:39] grantespo commented on #5301
@flovilmart Hi, I'd like to implement `protectedFields` for a few of my classes.
Can you give me an example of how I would set a field `phoneNum` to `read: false` in my User Class?
I saw your example above but am still a bit confused.
Would I put this code in my Parse app's index.js or main.js or...?

Thanks.

[2019-05-28 14:54] rolurq opened #5618 "Problem with email change workflow"
### Issue Description

There's a problem in the current way parse handles email changes for users. The problem is that when an user changes his email, parse sends a verification email, but changes the user email in the database, this can lead to a malicious access block from an user to another.

If a user changes his email to one not being used yet (which he can know by trying to change the email

[2019-05-28 16:16] acinader commented on #5618
Hi @rolurq

Thanks for the issue.  Something similar has been discussed and it appears that there has been a pr opened and worked on extensively.

https://github.com/parse-community/parse-server/pull/5147

The issue is valid and it would be nice to have a solid, covered solution out of the box.

Are you interested in reviewing the closed bug and the pr to get the ball rolling?

[2019-05-28 16:40] rolurq commented on #5618
@acinader
Yeah, sure
I tried finding a similar issue but it didn't show up the issue nor the pr you mentioned :disappointed:

[2019-05-30 01:46] memishood opened #5622 "Chat app list last messages"
I am doing a chat app using parse server, everything is great but i tried make to list just last message for every remote peer. i didn't find any query limitation how to get just one message from every remote peer how can i make this ?

[2019-05-30 08:18] TomWFox commented on #5622
Hi 👋. Could you please post this over on [Stack Overflow](https://stackoverflow.com/) with the [`parse-platform`](https://stackoverflow.com/questions/tagged/parse-platform) tag.

We are trying to keep GitHub issues reserved for bug reports & feature requests - see the [section on help and communication on our website](https://parseplatform.org/).

[2019-05-30 08:18] #5622 closed

[2019-05-30 12:46] FredericoSFerreira opened #5623 "Problems saving date inside an object"
- [X] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [X] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description
How do I save a date-type record inside an array of objects in the mongo through the parse it saves in the following format in

[2019-05-30 14:56] dplewis commented on #5623
Thanks for reporting. Would you like to write a failing test?

[2019-05-30 14:57] #4408 closed

[2019-05-30 14:58] dplewis commented on #2656
Closing as includes run in parallel.

[2019-05-30 14:58] #2656 closed

[2019-05-30 17:55] LilMoke opened #5626 "Bug or feature?"
### Issue Description

From our iOS App we are using this call to log in a user:

PFUser.logInWithUsername(inBackground: userEmail, password: userPassword)

But if the user enters their userEmail with a different case it fails to log in.  So is this a bug or is there a way to turn of case sensitive compare for the login?  It would be good if I could pass a case flag of something but I do not see a

[2019-05-30 19:05] TomWFox commented on #5626
Not sure if it is a bug but to avoid this problem you could just have `userEmail.lower`

[2019-05-31 07:41] LilMoke commented on #5626
Yes, but if I do that I will need to also perform a .lower when the user is created and their email is saved, right?

On May 30, 2019, at 3:06 PM, Tom Fox <notifications@github.com<mailto:notifications@github.com>> wrote:

Not sure if it is a bug but to avoid this problem you could just have userEmail.lower

—
You are receiving this because you authored the thread.
Reply to this email directly, vi

[2019-05-31 08:05] TomWFox commented on #5626
That’s right, you could do that in a beforeSave trigger on the `Parse.User` class in your Cloud Code.

[2019-05-31 18:04] grantespo opened #5629 "Unable to get fields in client after request.user.save in cloud"
`request.user.save` successfully saves the value into the appropriate field.

However, the current user's field still shows null when I use .get() in client. It shows that the value is updated in my dashboard though.

The only way for me to see the newly saved value on the client is if I log out and log back in on the client.

I've tried passing request.user.sessionToken and masterKey: true as par

[2019-05-31 18:09] dplewis commented on #5629
This is expected behavior. You can use `.fetch()` on the client to get the updated values.

[2019-05-31 18:09] #5629 closed

[2019-05-31 20:25] dplewis commented on #5409
Ensure you have all postgres extensions installed.

https://github.com/parse-community/parse-server/blob/master/.travis.yml#L46

[2019-05-31 20:25] #5409 closed

[2019-05-31 23:27] grantespo opened #5630 "write: false, read: true for a user field"
By default, the `_User's` CLP is set to `read: true, write: false` for the public. And `read: true, write: true` for himself.

I was able to successfully use `protectedFields` to  set a field to `read: false` for the public like this:

`protectedFields: {
    _User: { "*": ["email", "phoneNum"]}
  },`

Is it also possible to set a user field to  `read: true, write: false` for public but `read: tru

[2019-05-31 23:33] dplewis commented on #5630
Have you tried setting ACL on signup?

[2019-05-31 23:47] grantespo commented on #5630
Doesn't ACL make force these settings for all field for the class? I only need these settings for one field.

[2019-06-01 19:36] grantespo commented on #5630
just use beforeSave for Current user

[2019-06-01 19:36] #5630 closed

[2019-06-03 09:52] Ramesh23iphone opened #5631 "Array order is changing every time when am fetching data from back4app sever."
[code]

[2019-06-03 16:10] davimacedo commented on #5631
Please use Stack Overflow[https://stackoverflow.com/questions/tagged/parse-platform] for code related questions or open a ticket at Back4App web-site for Back4App specific issues.

Anyway, if you want the objects to be returned in a specific order, consider using the order() function (https://docs.parseplatform.org/ios/guide/#query-constraints). It would be something like this:

[code]

[2019-06-03 16:10] #5631 closed

[2019-06-04 01:10] otymartin opened #5632 "Sign in with Apple Authentication"
It appears that for iOS app's that offer social Sign In options like Facebook, Google, Twitter etc, **"[Sign in with Apple](https://developer.apple.com/sign-in-with-apple/)"** will be a mandatory option we must include.

Any plan's to add support for this? Major key will be avoiding conflict with accounts created with FB/Twitter/Google that later on choose to sign in with Apple or those created wi

[2019-06-04 12:08] TomWFox commented on #5632
I haven't seen anything about it being mandatory but definitely recommended.

I would like to see this implemented as well, I'm going to look into the details of how it should be done but would appreciate any help from people who would also like this added to Parse Server & client SDKs.

[2019-06-04 17:28] otymartin commented on #5632
@TomWFox It's definitely mandatory: [SOURCE](https://www.macrumors.com/2019/06/03/sign-in-with-apple-required-as-sign-in-option/)

[2019-06-04 19:16] TomWFox commented on #5632
I stand corrected, thanks for that information

[2019-06-04 20:23] acinader commented on #3990
on mongo, in addition to @flovilmart's suggestions, we should also add a case insensitive unique index  to ensure.  not sure if there is the same thing on

[2019-06-04 22:00] acinader commented on #3990
A failing test to get started.

I am not sure how to handle OAuth connected users (and anonymous) which will need to allow usernames that would be a duplicate if evaluated case-insensitively.

I'm gonna get started on how I would handle in a before save hook.  Any input greatly appreciated ;).

[2019-06-05 00:23] acinader commented on #3990
I've just pushed a solution to the failing test.

I'm going to discuss it on the PR, so see #5634

@flovilmart if you've got the bandwidth, I'd love a guest pr

[2019-06-05 08:41] misaghDroid opened #5635 "response.success() is not a function"
Hi,
I have installed parse-server-example and I have uploaded my cloud code. I have a function there but I got error response.success is no function.

`

    Parse.Cloud.define("submitWeeklyScore", function (request, response) {
    const gameScore = new Parse.Object("WeeklyGameScore");

    gameScore.set("rubikaId", request.params.rubikaId);
    gameScore.set("score", request.params.score);
    g

[2019-06-05 08:47] misaghDroid commented on #5635
if I replace response.success(obj); with return obj; I get this :

[code]

[2019-06-05 09:24] TomWFox commented on #5635
Parse Server example installs the latest version of parse server. Version 3.0.0 of Parse Server removed `response.success()`. Please see the migration guide for details on updating your cloud code.

[2019-06-05 09:26] #5635 closed

[2019-06-05 11:39] flovilmart commented on #3990
I don’t have any bandwidth, sorry

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-05 12:09] misaghDroid commented on #5635
Thank you, it works.

[2019-06-05 12:09] misaghDroid commented on #5635
Thank you, it worked.

[2019-06-05 15:26] misaghDroid commented on #116
I could not figure out how to run multiple app in one parse server instance. I have these code in my index.js but the problem last created app overwrite and every changes happens in the last db (db2).

`// Example express application adding the parse-server module to expose Parse
// compatible API routes.

var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var

[2019-06-05 16:33] dplewis commented on #5632
Apple back at it again. Would this be something you would like to implement?

[2019-06-05 16:39] misaghDroid opened #5637 "Add multiple app in index.js cause overwrite with last parse server config"
I could not figure out how to run multiple app in one parse server instance. I have these code in my index.js but the problem last created app overwrite and every changes happens in the last db (db2).
[code]
I have create two folders, app1 and app2 in cloud folder and put main.js in each folder.

[2019-06-05 17:58] misaghDroid commented on #51
I have problem and the last db overwrite for all app? Do you have any idea about that?

[2019-06-05 19:20] acegreen commented on #5632
+1

[2019-06-05 21:17] luojieerr commented on #5637
try
apiApp1 use 1336 port
apiApp2 use 1337 port

[2019-06-05 22:00] SebC99 commented on #5632
Isn't it just another auth adapter with a user identifier and a JWT token?
I don't see why it could lead to any conflicts...

[2019-06-06 06:43] misaghDroid commented on #5637
Thanks @luojieerr, my problem solved by creating two files with different port for each app and start them by pm2.

[2019-06-06 06:43] #5637 closed

[2019-06-07 05:53] lorem2000 opened #5643 "is req.user secure?"
Do we know that req.user that we can access in the cloud functions are in fact the logged in user on the client or is further validation/authentication/looking at session necessary?

[code]

[2019-06-07 07:34] TomWFox commented on #5643
Please seem my [question on the community forum about this](https://community.parseplatform.org/t/security-of-the-parse-user-object-in-cloud-code/392/2).

We reserve GitHub issues for reporting bugs and making feature requests, please ask any implementation questions on our community forum or Stack Overflow where appropriate.

[2019-06-07 07:34] #5643 closed

[2019-06-07 19:00] fmendoza opened #5647 "Anonymous login not working"
### Steps to reproduce

Call the logIn method of the AnonymousUtils
[code]

Curl:
[code]
### Expected Results

Anonymous user should be created

### Actual Outcome

Parse Server returns:
[code]
### Environment Setup

- **Server**
  - parse-server version : 3.4.0
  - Operating System: Ubuntu
  - Hardware: 50GB, 2GB, 1 CPU
  - Localhost or remote server? : DigitalOcean

- **Database**
  - MongoDB ve

[2019-06-07 19:03] dplewis commented on #5647
Can you post logs? VERBOSE=1

That call to AnonymousUtils shouldn’t affect curl

[2019-06-07 21:47] fmendoza commented on #5647
The issue was a custom code in my beforeSave. Sorry for that. Closing issue now.

[2019-06-07 21:47] #5647 closed

[2019-06-08 15:32] rizzla22 opened #5649 "Authentication with Wordpress"
I have defined cloud functions which will do a http request to an instance of wordpress and will receive a valid JWT, this is done for both login and registration.

I only want wordpress for Authentication, everything else will be done via Parse such as profiles etc.

The documentation doesnt really show how to authenticate using this method and at the moment during registration im registering the

[2019-06-08 15:34] rizzla22 commented on #5632
@SebC99 I need exactly that!! but for wordpress authentication. Do you know of any examples which show how to do this ? I just opened an issue on the matter here https://github.com/parse-community/parse-server/issues/5649

[2019-06-08 16:40] acinader opened #5651 "Flakey Tests"
occasional failure with schema.

[code]

[2019-06-08 17:16] dplewis commented on #5651
I'd recommend getting rid of the `deep-diff` package in favor of jasmine built-in matcher.

Also use `localeCompare` instead of `>` for strings comparison

[2019-06-08 17:21] dplewis commented on #5649
Have you looked at https://docs.parseplatform.org/js/guide/#custom-authentication-module?

You should register your module and call `_linkWith`

[2019-06-09 02:20] saulogt opened #5654 "`object.isNew` can return false for new objects"
### Issue Description

passing an objectId in an insert operation causes `request.object.isNew()` to return `false` in `beforeSave`. I understand that this function relies on the presence of id, but the id passed is not ultimately set to the final object.

### Steps to reproduce
- Write a beforeSave hook for the class:
[code]

- Create an object passing a random id
[code]

- `object.isNew()`  retu

[2019-06-09 17:52] acinader commented on #5654
The JS SDK uses the presence of an ID to determine `isNew()`.  See: https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseObject.js#L901

Maybe `existed()` will serve your purpose?

[2019-06-10 04:13] faysal515 opened #5655 "Linkedin login doesn't work anymore since v1 is deprecated"
### Issue Description

Linkedin stopped supporting their v1 api. Now parse server always fails to auth. getting `Linkedin auth is invalid for this user` error.

### Steps to reproduce

this is what we get if we do a manual request on v1 api `https://api.linkedin.com/v1/people/~?format=json`

[code]

### Expected Results

A sessionToken after authentication.

### Actual Outcome

`Linkedin auth is i

[2019-06-10 13:25] rizzla22 commented on #5649
Hi, yes Ive followed that so far - user gets created etc but for some reason a session isnt generated on my app when trying to retrive the parse current user during registration..

            Parse.User.enableUnsafeCurrentUser(); // this could be insecure
            const provider = {
            authenticate: () => Promise.resolve(),
            restoreAuthentication() {
                return

[2019-06-10 16:01] RaschidJFR commented on #5521
Hey @dplewis so I finally wrote [this test case](https://github.com/RaschidJFR/Parse-SDK-JS/blob/dae27996ee9e7f551da651b8d6ec61cc72dffe17/integration/test/ParseCloudTest.js#L25) in [ParseCloudTest.js](https://github.com/RaschidJFR/Parse-SDK-JS/blob/dae27996ee9e7f551da651b8d6ec61cc72dffe17/integration/test/ParseCloudTest.js#L25) and it fails:

[code]

Please take a look and let me know what's next.

[2019-06-10 16:36] rizzla22 commented on #5649
Yes I have followed that fully.. my code is below, grateful for any pointeres on what is wrong here

// my main function to handle the wp authentication
        Parse.Cloud.define("wordpressRegister", async (request: FunctionRequest): Promise<Parse.User> => {

            try {
            const profileRequestOptions: Parse.Cloud.HTTPOptions = {
                followRedirects: true,

[2019-06-10 16:39] rizzla22 commented on #5649
Also my custom auth is defined in the config as so

[code]

and contained in custom auth is
[code]

[2019-06-10 17:54] saulogt commented on #5654
Yeah, I got the idea. I can definitely switch to `existed()`.
But the `isNew` function comment says `Returns true if this object has never been saved to Parse.`.
It sounds like the function works inconsistently if I pass some id to an insert.

Shouldn't the bogus ID that was passed be cleared on insert? Or even an error returned?

[2019-06-10 18:30] dplewis commented on #5655
Would you like to open a PR?

You can change [LinkedIn Auth Adapter](https://github.com/parse-community/parse-server/blob/master/src/Adapters/Auth/linkedin.js)

[2019-06-10 19:51] OpConTech opened #5659 "Mongo db v3.4 seems to be causing parse server authentication errors"
Hi Parse Server Team,

Tomorrow Mongo is forcing updates from v3.2 to v3.4.

I have been trying to test Parse Server v3.2.3 with Mongo v3.4.
When I run this config Parse Server is not crashing but is having lots of recurring warnings.

### Issue Description

There are multiple warnings in the error log on start up:
warn: Unable to ensure uniqueness for usernames:  message=Authentication failed., s

[2019-06-10 20:06] acinader commented on #5659
I believe that you are getting this because parse-server is failing to connect to your mongo.  The unhelpful message is just when the first operation attempted during server startup fails.

You should double and triple check your connection string, db username and password, port, etc.

[2019-06-10 20:12] OpConTech commented on #5659
acinader thanks for reaching out.  I agree completely.

It seems to the a problem with mongo v3.4 not v3.2.
I am very concerned because tomorrow mongo is forcing an auto update from my current 3.2 to v3.4.
"This deployment will be auto-upgraded to MongoDB 3.4 after June 11, 2019".

So right now my 3.2 runs fine with Parse Server but I can not get Parse Server to correctly authenticate with mongo v

[2019-06-10 20:20] acinader commented on #5659
@OpConTech I do not believe that this is a parse issue.

We don't test specifically against v3.4 (or 3.2 for that matter.) We test against 3.6.9 and 4.0.4 (you can see here: https://travis-ci.org/parse-community/parse-server).

However, I strongly suspect that this is a configuration issue on your part (sorry to say ;)).

Validate your connection string programmatically by connecting independently

[2019-06-10 20:21] OpConTech commented on #5659
Perhaps is has to do with the fact that Mongo changes the User Role permissions in v3.4

Compatibility Changes in MongoDB 3.4
User Role Changes
https://docs.mongodb.com/manual/release-notes/3.4-compatibility/#user-roles-changes

[2019-06-10 20:22] OpConTech commented on #5659
Oh ok. I did not know that you were testing with v3.6.
I will look harder and check the client connection on the mongo side as you suggest.

[2019-06-10 20:29] acinader commented on #5654
With the caveat that I haven't tested this...My understanding is that you can supply an `objectId` when you save an object. If you do this, that objectId will be persisted.

Assuming I am correct about that, then I think that the semantics of the API works.  If an object has been assigned an `objectId` either by parse, or externally, then it isn't `new` by definition.  If it is new to the system,

[2019-06-10 20:51] saulogt commented on #5654
That's the point.
The objectId is not persisted. It creates a new one no matter what I pass as the id

[2019-06-10 20:51] OpConTech commented on #5659
@acinader thanks to you letting me know that Parse Server tests with 3.6 and 4.0 I had more confidence that it was a config issue on my end.

I was focused on the username and pw but if you look carefully the copied link from a mongo instance also leaves the name of the database blank <dbname>.  Once I replaced that with my database name I was able to correctly get Parse Server to connect to  mong

[2019-06-10 20:51] #5659 closed

[2019-06-10 21:09] dplewis commented on #5654
@saulogt I don't think you are using the Rest API correctly.

Can you try `https://YOUR.PARSE-SERVER.HERE/parse/ClassName/ObjectId` instead of passing it as a parameter if you are updating existing object and `https://YOUR.PARSE-SERVER.HERE/parse/ClassName` for new one?

I wrote a test for this and it passed. Can you write one [here](https://github.com/parse-community/Parse-SDK-JS/tree/master/inte

[2019-06-10 23:19] saulogt commented on #5654
Hi @dplewis
I know it's not the proper way to do this. The problem is that it's may expose a security issue.
Example: One could create more fields (and even acl) in `beforeSave`. If `isNew` is used to do it only on insert, it could be exploited as a security breach.

I created this repo to prove the point https://github.com/saulogt/parse-server-test-isnew/blob/master/README.md

Note that on before

[2019-06-11 04:19] faysal515 commented on #5655
pull request added for master branch https://github.com/parse-community/parse-server/pull/5660

pull request for 2.8.x branch https://github.com/parse-community/parse-server/pull/5661

[2019-06-11 16:26] #5655 closed

[2019-06-11 18:40] #5654 closed

[2019-06-11 18:40] dplewis commented on #5654
@saulogt Thanks for reporting!

[2019-06-11 19:54] stevestencil opened #5667 "Add index and count properties to beforeSave and afterSave hooks"
**Is your feature request related to a problem? Please describe.**
When saving a bunch of objects at once (i.e. Parse.Object.saveAll()), It would be nice to be able to run a beforeSave or afterSave hook once for all objects.

**Describe the solution you'd like**
It would nice to have additional properties on the request argument like _objectCount_ and _index_ where objectCount would represent the

[2019-06-11 19:56] acinader commented on #5667
@stevestencil I'm curious why you would want this feature?

[2019-06-11 20:35] acinader commented on #5651
I don't think this is resolved:

https://travis-ci.org/parse-community/parse-server/jobs/544412595

[code]

[2019-06-12 01:49] stevestencil commented on #5667
Let’s say I have a collection of 1000 objects that the client app needs to download and store locally in order to work offline. Anytime any one of those 1000 objects change or another is added or deleted, I need the client to download all objects again. In the beforeSave of these objects I am incrementing a “version” property of an object in a different class. The app will then check this version

[2019-06-12 06:52] SanzenDev commented on #4852
have anyone solved this issue? I faced the same problem. maybe it's about the version of parse-server

[2019-06-12 06:54] dplewis commented on #4852
@SanzenDev can you open an new issue and fill out the template?

[2019-06-12 15:58] BenniPlejd opened #5671 "Can't send email regarding potential security issue to security@parseplatform.org"
### Issue Description

I've discovered a potential security issue that I don't want to disclose through a GitHub issue. However, when I try to send an email to security@parseplatform.org [as specified here](https://github.com/parse-community/parse-server/security/policy) I get a **Mail Discovery Notification (Failure)** email back.

I've also tried sending the email to the contact email community@

[2019-06-12 16:24] acinader commented on #5671
thanks.  looking into.

[2019-06-12 16:40] TomWFox commented on #5671
As an alternative, as a non-member can you create a Security Advisory through GitHub?
<img width="1063" alt="Screenshot 2019-06-12 at 17 40 06" src="https://user-images.githubusercontent.com/13188249/59369820-22529300-8d39-11e9-9e65-c1b697b142e2.png">

[2019-06-12 16:49] acinader commented on #5671
@TomWFox YES!!! that is so much better.  If you're up for it, will you update the docs to direct security issues there?

@BenniPlejd I've created the email addresses for those aliases.  I can imagine how it all happened and I appreciate you're opening this issue.  Would you open a [security issue](https://github.com/parse-community/parse-server/network/alerts)

[2019-06-12 16:55] BenniPlejd commented on #5671
@acinader Unfortunately I get 404 on that link, and I can't create any advisories if I click on the Security tab in the project's GitHub.

I'll test emailing you guys again!

[2019-06-12 16:59] TomWFox commented on #5671
@BenniPlejd can you try this link to the advisories section -> https://github.com/parse-community/parse-server/security/advisories

[2019-06-12 17:01] acinader commented on #5671
@BenniPlejd I got it.  thanks.  I'm going to look into how we use github to discuss and keep you up to date on resolving...

@TomWFox i'll leave this open to see if you want to revise the published procedure?

[2019-06-12 17:10] TomWFox commented on #5671
Seems odd that non-members can't create advisories but it should still be useful as we can then publish as a know vulnerability when solved.

[2019-06-12 17:26] acinader commented on #5671
nice.  i'll close this now then.

[2019-06-12 17:26] #5671 closed

[2019-06-12 19:05] dplewis commented on #5667
Why can't you use liveQuery to check if an object has changed?

[2019-06-12 19:10] stevestencil commented on #5667
using liveQuery will not get me around calling the same function once for each of the 1000 objects that are being saved in the beforeSave hook... I want to do a check to see if it's the last object in the batch and then call a function once for the entire batch of objects. In the beforeSave I have to query the database 2-3 times to update an object anytime something in a specific class changes...

[2019-06-12 19:35] dplewis commented on #5667
Since the hooks fire off at random times (saveAll isn't parallel), this might be difficult

`saveAll` uses both `/batch` and `/classes` router. The batch endpoint is from your client taking your 1000 objects and breaks it up into multiple calls of 20 objects per call (or what your batchSize is set too). So a beforeSaveAll would be triggered multiple times for 1 saveAll call.

If you want to dig ar

[2019-06-12 19:43] acinader commented on #5667
I've been thinking about your use case and I can't come up with a more clever solution than what you propose.

If `index` and `count` or something like that can be added to `request` or `request.context` without a performance hit, I think it would be a useful improvement and would be glad to review it and work with you on implementation.

It'd need to be covered by tests and ideally documented wit

[2019-06-12 19:56] stevestencil commented on #5667
If I could get the `index` and `count` on the `request` then I can accomplish what I'm trying to do. I have been digging through the code trying to understand how everything works under the hood so I can see if this is an easy add. If you @acinader or @dplewis point me in the right direction to add these two values I'd be more than happy to give it a shot.

[2019-06-12 20:06] acinader commented on #5671
@BenniPlejd are you able to see any of the conversations we're having about the advisory?  this is my first time using these features of GitHub.  we invited you to participate, but it is not clear to me if we did that right, or if it is even supported...

[2019-06-12 20:17] BenniPlejd commented on #5671
@acinader Yes, I can see it!

[2019-06-12 20:44] stevestencil commented on #5667
part of the reason of me trying to implement this is because the cloud code does not access the database directly. So when you query for a specific object in the database in the beforeSave (or afterSave) it makes a callout once for each object. So if you save say 10,000 objects at once, then the number of request to the server spike drastically. By adding this `index` and `count` property, we can

[2019-06-12 21:24] dplewis commented on #5667
@stevestencil Feel free to open a PR, well be glad to review it. You can add those properties [here](https://github.com/parse-community/parse-server/blob/master/src/triggers.js).

[2019-06-12 22:49] stevestencil commented on #5667
Ok I have been looking into the code and I get to the [RestWrite.js](https://github.com/parse-community/parse-server/blob/master/src/RestWrite.js) which calls `this.runBeforeSaveTrigger` but I cannot figure out how this is being called for each object that's being saved. Somewhere there should be a loop that calls the beforeSave trigger once for each object?

[2019-06-12 23:02] dplewis commented on #5667
You might want to check [batch.js](https://github.com/parse-community/parse-server/blob/master/src/batch.js#L108). You can check my previous comments if that helps.

[2019-06-12 23:35] acinader opened #5675 "Docker Image not updating"
@dplewis do you have right to access: https://cloud.docker.com/u/parseplatform/repository/docker/parseplatform/parse-server/builds/28d104ea-ba6c-4d75-8c89-9db4047349d1

The issue is:

[code]

[2019-06-12 23:39] dplewis commented on #5675
I have access. I think the issue is that `prepare` isn't suppose to run in the release stage since it already ran in the build stage.

You can try to change `npm ci --production --ignore-scripts`

[2019-06-13 00:48] dplewis commented on #5675
Docker has successfully built.

[2019-06-13 00:48] #5675 closed

[2019-06-13 13:15] BenniPlejd opened #5678 "3.4.1 throws error if using mLab, due to changes to MongoStorageAdapter.performInitialization"
### Issue Description

When running the latest version of parse-server (3.4.1) an Error is thrown if using a database hosted in [mLab](http://mlab.com), and the application fails to start.

This seems to happen due to a change for [MongoStorageAdapter](https://github.com/parse-community/parse-server/blob/3.4.1/src/Adapters/Storage/Mongo/MongoStorageAdapter.js), where the performInitialization meth

[2019-06-13 13:23] BenniPlejd commented on #5678
This seems to be related to this PR from 10 days ago:
- https://github.com/parse-community/parse-server/pull/5627

And to this commit:
- https://github.com/parse-community/parse-server/commit/7fc0d45b893782f917237a6ceb30c8c966538c4f

[2019-06-13 15:29] acinader commented on #5678
@BenniPlejd

In my haste to get out the security fix yesterday, I made the mistake of adding the patch to master instead of to 3.4.0. I'll get 3.4.2 ready now to resolve this, and then we can figure out what to do about #5627.

[2019-06-13 16:41] fmendoza commented on #5678
Same issue on a VPS hosted on DO. Glad to hear you identify the issue quickly

[2019-06-13 17:48] easonjim commented on #4680
so, you can use extend field set email.

[2019-06-13 18:40] #5651 closed

[2019-06-13 18:41] #5678 closed

[2019-06-14 14:52] farhad2161 opened #5688 "Prevent change of user pointer and date"
I have an "owner" field which its type is _User pointer and also a "publishedAt" field which its type is Date. When a user adds something, both field filled correctly, but later when I use masterkey to update some other columns of that row, the "owner" field automatically changes to undefined and "publishedAt" changes to current date time!

How can i prevent changing of those fields?

[2019-06-14 20:45] dplewis commented on #5688
Can you post server logs or write a failing test case?

[2019-06-15 00:30] RaschidJFR commented on #4948
🙋‍♂️ I want in!
So I just start working on this, right? I guess there's no specific deadline, but anyway I'll try not to delay it that much while getting familiar with the repo.

Just point me in the right direction: It seems to me this is to be done in the [JS-SDK](https://github.com/RaschidJFR/Parse-SDK-JS), not on the server... or why is this posted in the server repo? I'm I supposing wrong?

[2019-06-15 00:43] dplewis commented on #4948
You have to add it to the server first. Here is a sample PR. https://github.com/parse-community/parse-server/pull/4195

The SDK sends the request to the server

[2019-06-15 14:11] farhad2161 commented on #5688
I checked the log and found my bug.
Thanks

[2019-06-15 14:11] #5688 closed

[2019-06-15 14:31] fishandphil commented on #5632
has anyone succeeded with Apple SignIn & Parse Server?

[2019-06-16 12:31] rizzla22 opened #5689 "user.get is not a function"
Running parse server v3.4.4

I keep getting the error that user.get is not a function ? it works elsewhere in my cloud functions,

[code]

[2019-06-16 20:43] #5471 closed

[2019-06-16 23:23] #5689 closed

[2019-06-17 16:11] travisryan commented on #5507
I'm sorry, but I'm a noob on Promises and I can't see how to go from the old to the new. I've got a script file that I listen to creates via livequery and I've tried await in an async function and I still get ...
"/home/travis/test/callbacks.js:98
   subscriptionText.on('create', (newText) => {
                    ^

TypeError: subscriptionText.on is not a function
    at Object.<anonymous> (/home

[2019-06-17 16:14] travisryan commented on #5507
when I think it runs without issue, I get the following from my parse server.

"error: Connect message error %s". This definitely comes from when it runs the on("create"... function.

[2019-06-17 16:15] dplewis commented on #5507
query.subscribe().then((subscriptionText) => {
.....
});

[2019-06-17 16:26] travisryan commented on #5507
Thanks. I get no error from running the promise code, but I still get that second error on the Parse server side when trying to subscribe. Must be something out of sync between the two. hmmm.

[2019-06-18 06:54] liangmark opened #5692 "Could Parse Platform support query data by POST request?(now it's GET request)"
In my program, i need query data whit an array, so the the length of url maybe exceed the limit, it's always failed。

For example:

the url of query:
http://127.0.0.1:1337/parse/classes/UserBasic?where={"$and":[{"uid":{"$exists":"true"}},{"uid":{"$in":["008RQbkAUM","00IvQrBypn","01zxPD6kGl","04qDii7pvh","05JyokY7Ld","06mUstDfTe","07nUsd8lwP","08PeLOqKTm","08lmm9vtAI","0A3mCaOl4Q","0BFPlwLDtj","0BI

[2019-06-18 15:08] davimacedo commented on #5692
Yes, it is possible. Try to do a POST in the same url sending the following body:
[code]

[2019-06-18 18:49] igorarduini commented on #5623
@dplewis I have the same problem. Do you have some prediction?

[2019-06-18 20:09] dplewis commented on #5623
@igorarduini Can you post server logs?

[2019-06-18 20:45] igorarduini commented on #5623
@dplewis I have uploaded 2 images, this one with logs ![Image of logs](https://imgur.com/kWZ1svg.jpg) and with DB object ![Image of db](https://imgur.com/ut6xdNu.jpg)

[2019-06-18 20:58] dplewis commented on #5623
Are you able two query both dates successfully? __type Date should parse correctly.

[2019-06-19 00:33] RaschidJFR commented on #4948
So how do you think guys this restOption should be called? Currently the selecting option is `keys`, so let's call this new option `excludeKeys`, ok?

[2019-06-19 06:45] liangmark commented on #5692
Thank you very much

[2019-06-19 06:45] #5692 closed

[2019-06-19 09:42] jericomanapsal commented on #5507
Typings at [@types/parse (v2.2.5)](https://www.npmjs.com/package/@types/parse) is still not updated. `query.subscribe()` still returns `Parse.LiveQuerySubscription` and triggers `subscription.on is not a function` error. I believe the return value should be `Promise<Parse.LiveQuerySubscription>`.

A temporary workaround is to modify the typings in the `node_modules` folder itself:

File: `node_mod

[2019-06-19 11:54] igorarduini commented on #5623
@dplewis here is the queries:
Success
![Image of success](https://i.imgur.com/FDGOELp.jpg)

Failure
![Image of fail](https://i.imgur.com/zDfpQ43.jpg)

I have tried to access Date iso object with `objectExample.iso: { $gte: new ISODate() }` but without success.

[2019-06-19 14:37] travisryan commented on #5507
I think my issue ended up being a change I had made when adding in push notifications. I had set the javascript key to null and I guess it needed to be double quotes for empty string. Odd, but that was causing my Connect message issue. I got the cod working that @dplewis provided as long as I was on a the newer Parse server and the 2.4 parse in node for the SDK.

[2019-06-19 15:09] dplewis commented on #5623
Does querying work from the client JS SDK?

If you are trying to interact with mongodb directly you should change your query.

[2019-06-19 15:15] igorarduini commented on #5623
@dplewis how should the query be? This is the first time i have seen `objectDate.iso` format

[2019-06-19 15:19] dplewis commented on #5623
Closing as this isn't an issue with Parse.

In your case:

`db.getCollection('ocorrencia').find({ "historicoStatus.dataHoraMongo.iso" : ...});`

[2019-06-19 15:19] #5623 closed

[2019-06-19 15:23] igorarduini commented on #5623
@dplewis how I mentioned before, I have tried `objectParse.iso and it doesn't works

[2019-06-19 15:28] igorarduini commented on #5623
Just to consider, if I add a date with parseJS, an object.iso is created, and if I add a date without parse, an attribute type `Date` is created. This is the problem

[2019-06-19 20:41] dplewis commented on #5632
I opened a Pull Request with this feature. https://github.com/parse-community/parse-server/pull/5694

[2019-06-19 21:05] #5632 closed

[2019-06-19 22:23] dplewis commented on #5448
I open a PR for this feature.

I don't think all calls are required to have appsecret. You can set it required in your advance settings.

https://developers.facebook.com/docs/graph-api/securing-requests/

[2019-06-19 22:29] dplewis commented on #4948
`excludeKeys` or `exclude` whichever one you want

[2019-06-19 22:58] Gausoft commented on #4170
**I got the same problem for this use case :**
An application in an intranet network that have to send parse objects already saved in offline to online parse-server. The online object's Id is different.

[2019-06-20 09:28] srameshr commented on #4948
```exclude```

[2019-06-20 11:18] HudiDev opened #5708 "Unable to upload .p12 certificate from local Mac to remote parse on AWS ec2 - bitnami"
I am well aware of how to upload .p12 cert for iOS push notifications - via Heroku or Back4App.
However my Parse server is hosted on AWS ec2 instance with Bitnami image.
Hence I can only interact with my server via my Terminal.
I tried uploading the PFX (.p12) from my local machine via scp something like this:
`scp -i /Path/To/My/Certificates.p12  ubuntu@server_ip: /home`
but I am receiving the fo

[2019-06-20 13:50] #5708 closed

[2019-06-20 19:15] #5448 closed

[2019-06-20 19:52] funkenstrahlen commented on #5632
Thank you @dplewis !

[2019-06-21 17:41] hashweather opened #5714 "Client Class Creation not working again at all on Android Parse Client"
Hello all,

Before now Client Class creation was configurable on demand. But right now, I discovered that even after allowing client class creation on my Server Dashboard, I still can't allow Clients to create classes on the fly. Can this behaviour be restored?

I should be able to allow Clients Create Classes once configured as before.

I am using the latest version of the Parse Android Client

`

[2019-06-21 22:20] davimacedo commented on #5714
Nothing has changed regarding this and you should be able to create class from client if allowClientClassCreation option is set to true in parse-server. Can you make sure this option is realy set in your parse-server (not dashboard) and share the error message that you are receiving?

[2019-06-22 04:55] #5535 closed

[2019-06-22 08:11] nowfalsalahudeen opened #5718 "upload issue over 20mb file"
how can i override 20mb parse server file upload limit.

[2019-06-22 12:54] acinader commented on #5718
@nowfalsalahudeen set `maxUploadSize: '50mb',` and ensure that if you are using a proxy in front of your parse-server that it's config allows for at least the size that you set `maxUploadSize` to.

[2019-06-22 12:54] #5718 closed

[2019-06-24 08:36] RaschidJFR commented on #4948
I have [added and tested](https://github.com/parse-community/parse-server/compare/master...RaschidJFR:unselect-keys) a new restOption as `excludeKeys`. Can you have a look @dplewis ? If that's ok then all proceed to update the docs and add the function to the SDK repo i guess.

[2019-06-24 21:30] Erik-Stevens commented on #5409
Thanks for your help. The Postgis extension was not installed and that was the problem.

[2019-06-25 09:42] fastrde opened #5724 "Custom Auth Adapter: Uncaught internal Server Error in rest.js"
### Issue Description

I used my custom LDAP-Auth Adapter that works fine in Parse-Server 2.4.2 and 2.8.2. In Version 3.4.4 I get a "Uncaught internal server error. Cannot read property 'code' of undefined"-Error when I use a wrong username/password combination (with correct credentials the login works fine).
Problem: In the catch-clause in rest.js line 165 is no valid error object.

#### Stacktra

[2019-06-25 10:46] fastrde commented on #5724
Something went wrong in my code... could be 'reject()' without a value or some other minor changes i tried. Custom Adapter is now working again.

[2019-06-25 10:46] #5724 closed

[2019-06-25 14:36] hamzashahid91 commented on #3839
com.parse.ParseRequest$ParseRequestException: i/o failure usally comes due to clear text traffic exception try adding android:usesCleartextTraffic="true" to application text in manifest file if you are using android 8+ with http

[2019-06-25 22:58] asdf01 opened #5731 "Environment Variables are not used at all for Express based Parse Server environments"
Hey Guys

I've been running parse server through express for some time now.  Looking at the the [readme file](https://github.com/parse-community/parse-server/blob/master/README.md#using-environment-variables-to-configure-parse-server) it looks like some features can be defined through environment variables.

Specifically, I tried to start up my parse server environment with a readOnlyMasterKey.  L

[2019-06-25 23:23] davimacedo commented on #5731
I understand that the env vars are (and should be) only used when starting through CLI since you can set your own env vars when "manually" instantiating Parse Server (pretty much like you did).

[2019-06-25 23:58] asdf01 commented on #5731
Hi @davimacedo.  Thanks for looking into this issue.

I'm guessing you reached this understanding simply because that's how the app behaves and not through any fundamental core belief on how things should work.

That method involves changing the source code.  It would obviously be a lot more flexible if I can alter the behaviour of the app by simply changing the build process to include a new envi

[2019-06-26 00:26] davimacedo commented on #5731
In my personal opinion, I think that Parse Server current behavior regarding env vars is consistent and I agree with you that the README file could be more clear about it. Maybe we could change to something like this: "When using the CLI, you may configure the Parse Server using environment variables:"

[2019-06-26 03:21] asdf01 commented on #5731
Hi @davimacedo .  Thanks for your continued interest.

I wouldn't really agree that the behaviour consistent.  Because of a subtly different deployment mechanism, environmental variable based configuration don't work at all.  That just sounds weird.  But I do agree that changing the behaviour in the code now would have a degree of risk associated with it.

If people are not expecting the changing,

[2019-06-26 07:42] davimacedo commented on #5731
You can always expect peace from my side. I just have a different opinion for this case :). Maybe @acinader and @dplewis could also share their thoughts.

Let me explain why I disagree with you. It is not a matter of a breaking change nor how hard it would be to be changed, but it is really weird for me the behavior of a lib changing with env vars. There are two different ways to use Parse Server:

[2019-06-26 14:27] MobileVet opened #5735 "Mongo 3.6 results in more transactions used and thus slower response than 3.2"
### Issue Description

We updated our mLab instance on May 22nd to utilize Mongo 3.6 as they removed support for 3.2 (our prior version).  We immediately saw a 20% increase in request queuing time, as reported by New Relic.  Looking at the mLab analytics, it appears related to the number of 'commands' issued and possibly the amount of cache evictions... but that is only a theory.

### Steps to rep