[2019-06-26 21:24] #5444 closed

[2019-06-26 21:24] #5437 closed

[2019-06-26 22:23] dplewis commented on #5735
Can you try updating to the latest version of Parse Server and post results? A lot of cache improvements have been made.

[2019-06-27 13:00] MobileVet commented on #5735
Yea... I would love to move us up to the current server version but that would require a ton of work due to the breaking changes around **Parse.Cloud** function and **Parse.Promise**.  We plan to clean that up and make the transition... but it isn't something I can do quickly.

I just rolled us back to Mongo 3.4.  It is too early to see a difference in our Server response time as reported by New R

[2019-06-28 15:35] MobileVet commented on #5735
mLab has indicated that the change in # of 'commands' is based on how they are reported in 3.6 vs 3.4.

What is really interesting though is the large increase in network throughput INTO mLab.  Mongo 3.6 ends up getting 3x the amount of traffic INTO mLab than prior version.
<img width="515" alt="mLab Network Traffic IN" src="https://user-images.githubusercontent.com/1977118/60353702-92e3eb80-9998-

[2019-06-28 15:42] MobileVet commented on #5735
One other thing we noticed, the **number** of Node garbage collections is the same but the aggregate time **doing** garbage collection is 30% **larger** when using Mongo 3.6 versus 3.4 or 3.2

[2019-06-28 18:17] davimacedo commented on #5735
The command sent by the Mongo Adapter should be the same for the two versions of Mongo. Maybe some option used by Mongo Adapter has changed from one version to another? I am not sure. Is there anyway for you to know which queries are generating more output traffic?

[2019-06-29 11:41] #5569 closed

[2019-06-30 00:41] #5389 closed

[2019-06-30 11:39] ozbillwang commented on #4564
@milesrichardson  @tolgaatam

Could you please confirm if I have to enable redis cache if scale horizontally a Parse Server?

How can I check if my application is updating roles or not. Any other user case, which need enable redis?

[2019-06-30 12:13] tolgaatam commented on #4564
@ozbillwang

When you do not use redis cache, your parse server caches items locally. this method is known to be causing memory leaks and it is not much efficient. For any serious deployment, I just recommend using a redis cache.

For my case, the greatest use case was session caching. Almost all requests require authorization. Checking session and user information requires 2 round trips to the da

[2019-06-30 12:49] ozbillwang commented on #4564
Thanks, @tolgaatam

Since I start parse-server via its docker container, how to link it with redis?

[code]

[2019-07-01 12:12] umrgit123 commented on #3291
Thank you so much johnnyg563.  Looked all over. Your solution worked. Thanks again!!

[2019-07-01 15:17] MobileVet commented on #5735
@davimacedo Hmm, that is a really good question.  I am not sure how to do that without spending a ton of time. Let me think about that....

In the mean time, I think you are likely onto something with the default options being changed across versions.  I have been chatting with the **mLab** team and they have shared several adjustments.

I do see that the Parse Server has different versions of th

[2019-07-02 00:00] mtrezza opened #5748 "Push device token sometimes not saved"
### Issue Description

I see that ~2% of device tokens are not saved in the database. This includes iOS and Android devices.

Online research indicates that other people experience similar issues, e.g.
- https://stackoverflow.com/questions/30395044/parse-push-notification-android-device-token-not-saved-in-some-cases (2015)

For Android the setup is:

`ParseInstallation.getCurrentInstallation().sav

[2019-07-02 01:46] badboy-tian commented on #5603
+1

[2019-07-02 09:15] Tybi opened #5749 "Parse Error doesn't contain message property but error property instead"
Hi, I try to implement [reset password with ajax mechanism](https://github.com/parse-community/parse-server/pull/5332/files/a8d95042e6012fe68782b409b34158777eb20f5a) in my application. It works good but if the token is invalid or the password doesn't match the policy. I receive an error formatted like this :
`{"code":-1,"error":"Failed to reset password: username / email / token is invalid"}`

###

[2019-07-02 13:05] Azerilla opened #5752 "How to catch Error from logging in java script (React native)"
How can I find out my user login successfully in react native .according to document log in has no error callback

[2019-07-02 17:41] davimacedo commented on #5735
The version of the MongoDB Node.js driver that Parse Server uses is fixed in each Parse Server release. I've just checked [here](https://github.com/parse-community/parse-server/blob/0c2f1d583b7eadac08fcb0f9f5fdd9eeb1bedb24/package.json#L35) and Parse Server 2.8.2 uses MongoDB driver 3.0.7. The latest version of the driver is 3.2 so you may have been suffering from some incompatibility of running M

[2019-07-02 17:51] davimacedo commented on #5749
@Tybi thanks for reporting. Would you be willed to write a failing test?

[2019-07-02 17:53] davimacedo commented on #5752
@Azerilla please use https://stackoverflow.com/questions/tagged/parse-platform for code related questions. Anyway, please try something like this:

[code]

[2019-07-02 17:53] #5752 closed

[2019-07-02 19:36] Tybi commented on #5749
@davimacedo Just to be sure, you want I write a failing test case in PublicAPI.spec.js ? If it the case I can do it  tomorrow.

[2019-07-02 19:52] davimacedo commented on #5749
I think https://github.com/parse-community/parse-server/blob/master/spec/PasswordPolicy.spec.js would be a better place. Thanks for your help!

[2019-07-02 20:09] Tybi commented on #5749
Ok but the problem does not only appear when the password does not comply with the policy ! It appears also when missing username or if the token is no longer valid !

[2019-07-02 20:39] davimacedo commented on #5749
Got it. So PublicAPI.spec.js actually seems the best file.

[2019-07-03 12:57] Tybi commented on #5749
I made the modifications on the tests cases wich I think should return message field instead of error [here](https://github.com/Tybi/parse-server/commit/bf97812eed205318c22eae6c53a14d05722b5639). Is it that you wanted ?

[2019-07-04 00:30] mtrezza commented on #5378
don't close, open issue

[2019-07-04 06:27] davimacedo commented on #5749
@Tybi thanks for your help. I've just checked your failing tests. You think that the error response should be in the format { code, message } instead of the current { code, error }, right? When I looked at the issue for the first time, I agreed with you. But I've just investigated further and found out that the REST API should actually respond errors in the { code, error } format as you can see [h

[2019-07-04 07:31] Tybi commented on #5749
OK I have never user the api and didn't know that the error object was different between the api and others. I found this because in my client app I have a method that handle error based on the fact that error object should contain code and message properties.I wanted to know if it was normal or no. So I understand now and I'am agree with you.
I close the issue.

Thanks for your explications.

[2019-07-04 07:31] #5749 closed

[2019-07-04 11:32] omairvaiyani opened #5761 "How to manually initialise the server with GraphQL"
We use Parse Server as a middleware in our express app - we're able to do this alongside manually setting the up the live query server like so:

[code]

Our parse server config:

[code]

This does not seem to start the graphql server on its own. Digging into the source code, I can see a ```ParseServer``` instance method called [start](https://github.com/parse-community/parse-server/blob/master/src

[2019-07-04 12:23] omairvaiyani commented on #5761
After adjusting the initialisation code, I've now gotten closer but still blocked

[code]

However, when we visit ```"http://localhost:1337/playground"```, we get this output:

```{"error":"unauthorized"}```, i.e., it's hitting the Parse Server route.

Our ```mountPath``` is root "/" . I can see that changing the ```mountPath``` to something else such as "/parse" does allow ```/playground``` to lo

[2019-07-04 16:16] brunoMaurice commented on #891
Hi @gfosco, I try to use the Config class but it don't work :

`
const config = new Config(PARSE_APP_ID, `${PUBLIC_URL}/parse`);
console.log(config); // stdout : Config {}
const schema = await config.database.loadSchema();
`

I got the error : `TypeError: Cannot read property 'loadSchema' of undefined`

I don't understand what change and what's wrong...

[2019-07-04 17:19] oallouch commented on #891
For CLPs, I use the REST interface. I often use Config, but not for this one.

[2019-07-04 18:32] brunoMaurice commented on #891
Is it possible to do something like that with the REST interface ?
`
     if (await schema.hasClass(className)) {
        await schema.updateClass(className, fields);
      } else {
        await schema.addClassIfNotExists(
          className,
          fields,
        );
      }
`

[2019-07-04 18:35] hashweather opened #5763 "Selective Traversing"
Hello guys, I need a little help here

I want to fetch the lastest message from three Ids [xeoaba, yahiykafa, ukahkhaa] in a Class called Messages. What is the best way to do this without looping over the ids one after the other?

Thanks.

[2019-07-04 18:57] douglasmuraoka commented on #5761
@omairvaiyani I believe you can adjust your original code with the following code:

[code]

[2019-07-04 19:13] omairvaiyani commented on #5761
@douglasmuraoka So in the past few hours I did unearth that there's a difference in importing the ```default: ParseServer``` and ```ParseGraphQLServer``` and effectively recreating the internal ```start``` method myself,  but for some reason the "playground" route still doesn't behave unless the parse api mount path is set to anything but root: "".

GraphQL itself does run though, I can confirm by

[2019-07-04 19:42] omairvaiyani commented on #5761
Okay I've got it!

The parse api router must be mounted after using the playground route. Can't tell you why this is, I'll look into but I imagine its a quirk with express?

[code]

[2019-07-04 20:27] akg1234 opened #5764 "error when use livequery with query.fields( updated, may someone help make a PR?)"
### Issue Description
get error when using live query with query.fields
but this work on 2.8.4

### Steps to reproduce

this is OK

[code]
this get error

[code]

### Expected Results
{"op":"create","clientId":"xxx","requestId":10,"object":xxxxxxx,"original":null}

### Actual Outcome

[code]

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 3.0.0-3.

[2019-07-04 20:55] oallouch commented on #891
Looks very doable.
Look at SchemasRouter, line 144.

[2019-07-04 22:48] brunoMaurice commented on #891
I found a solution to access to Schema :
`const schema = await Config.get(PARSE_APP_ID).database.loadSchema();`

The Config class have probably change since 2016 and the class don't have the constructor but a static method get to factory the Config with all necessary property.

Thanks for you advice I will still check about the SchemasRouter for knowledge purpose (maybe a better solution for my ne

[2019-07-05 07:02] hoffergg opened #5766 "backend processing time is too long for some file upload request with AWS S3"
Hi,
I got those logs from AWS load balances which showed some very slow or time-out file upload requests to S3.
![image](https://user-images.githubusercontent.com/9494996/60703903-87af3380-9f35-11e9-9235-6ce1e79d28bb.png)

[2019-07-05 12:47] #5761 closed

[2019-07-05 15:59] mtrezza commented on #5748
The code has since been changed in Android and we have the tokens now set for 100% of installations.

We are now manually requesting and setting the token:
[code]

We also upgraded to
- `com.google.gms:google-services:4.3.0` and
- `implementation 'com.github.parse-community.Parse-SDK-Android:parse:1.20.0'`
- `implementation 'com.github.parse-community.Parse-SDK-Android:fcm:1.20.0'`

Since we did b

[2019-07-05 16:56] mtrezza commented on #5763
I assume you want to retrieve the latest message from 3 chats with the given IDs.

2 ways:
- You can add a `latestMessage` field to the `Chat` object and update it with an `afterSave` hook on the `Message` class.
- If you are on mongodb use an [aggregation pipeline](https://docs.mongodb.com/manual/aggregation/).

[2019-07-05 21:28] samokasha opened #5774 "Multiple instances not working after upgrade to 3.0.0"
### Issue Description

Previously running parse-server@2.8.2 and parse@1.11.1 where we created multiple instances of parse server like so:

[code]

After upgrading to parse-server@3.0.0 and parse@2.0.0 all cloud code functions point to the last initialized ParseServer.

### Steps to reproduce

Code above.

### Expected Results

Previous behaviour. Multiple instances bound to correct dbs.

### Actu

[2019-07-06 13:20] omairvaiyani opened #5777 "GraphQL default schema issues and potential for customisation"
I'd first like to congratulate the core contributors for an excellent job at introducing GraphQL into Parse. It really is a big step forward at keeping the Parse project modern and exciting for new developers.

I can see that the approach has been one of plug-n-play; all types, queries and mutations are automatically generated which means that for many teams, they can swap out many of their existi

[2019-07-06 20:03] davimacedo commented on #5777
Hi @omairvaiyani

First of all, I'd like to thank you for trying the brand new GraphQL API, do this detailed analysis and share your feedback. You are very welcome to contribute to the project in discussions and PRs.

The current version of the GraphQL API is just what we considered as the minimum to run a GraphQL API on top of Parse Server, so we could get feedback from the community (like yours)

[2019-07-06 20:33] davimacedo commented on #5774
Is the code below correct?
[code]

Are you mounting all instances in the same endpoint?

[2019-07-06 20:39] davimacedo commented on #5766
This issue is most likely to be related to your environment setup than to the Parse Server itself. Could you please re-open the issue following the [template](https://github.com/parse-community/parse-server/issues/new?template=---report-an-issue.md) and adding as more details as you can about your environment? Thanks.

[2019-07-06 20:39] #5766 closed

[2019-07-06 20:53] davimacedo commented on #5764
@akg1234 thanks for reporting. Would you be willed to open a PR with a failing test for this case?

[2019-07-06 21:05] TomWFox commented on #5763
Hi 👋. Code level questions should be posted on [Stack Overflow](https://stackoverflow.com/) with the [`parse-platform`](https://stackoverflow.com/questions/tagged/parse-platform) tag and general questions can be posted on our community forum.

We are trying to keep GitHub issues reserved for bug reports & feature requests - see the [section on help and communication on our website](https://parsepl

[2019-07-06 21:05] #5763 closed

[2019-07-06 21:07] TomWFox commented on #5618
@rolurq are you still working on this? - if not I’ll add the ‘up for grabs’ tag

[2019-07-06 21:12] davimacedo commented on #5763
@hashweather I hope that @mtrezza answer has helped you. In the case you still have any issue with this, please use [Stack Overflow](https://stackoverflow.com/questions/tagged/parse-platform) for code related questions.

[2019-07-06 21:13] TomWFox commented on #5521
@dplewis @davimacedo wondering if this has been missed?

[2019-07-06 21:19] TomWFox commented on #5626
I think it makes sense to close this as it’s a duplicate of #3990 and is being worked on in #5634.

[2019-07-06 21:19] #5626 closed

[2019-07-06 21:30] TomWFox commented on #5515
For the sake of clarity the API changes were made in #3963, @davimacedo I believe changes to the JS SDK are still to be done? - maybe a separate issue should be opened there and this one be closed?

[2019-07-06 21:41] dplewis commented on #5521
@TomWFox I can look into it. It hasn't been addressed

[2019-07-06 23:11] ozbillwang opened #5778 "Can't find Python executable "python", you can set the PYTHON env variable."
### Issue Description

when run `docker build`, I got below error

[code]
### Steps to reproduce

[code]

I tested in release 3.4.4 and 3.5.0, same issue

### Expected Results

I should get the docker image to be built. I am interesting, how the image to be built and push to hub.docker.io here?

### Actual Outcome

[code]

### Environment Setup

- **Server**
  - parse-server version (Be specific!

[2019-07-06 23:25] samokasha commented on #5774
Yes. I neglected to mention, only app1 calls cloud code function. The rest are not.

[2019-07-07 00:40] dplewis commented on #5521
@RaschidJFR Thanks for the test case and sorry for the late reply. I think i figured out why your test was failing. `Parse.Object.fromJSON()` always creates a new instance but your Custom Subclass creates `pendingOps` which override whatever json that gets passed.

Can you write a test for your original issue or are you still experience it?

[2019-07-07 11:35] omairvaiyani commented on #5777
Hi @davimacedo - I'd be happy to join the project and start ticking off some of the items on your todo list.

I agree about creating separate tasks for some of the issues above, I'll let it with you and the team to ; overall I'm just pleased to know that you have a plan in place already and it seems that you already have considered most of the concerns I've highlighted!

**Plug-and-play**
This was

[2019-07-07 15:13] zenz opened #5779 "How to config new GraphQL without command line execute?"
I can only see command line to use GraphQL and Playground only with README.md
But if I config my Parse-Server with and index.js to start up like this:

[code]
Then which key shoud I use to define the usage?
I tried mountGraphQL but it's failed and told me ReferenceError: mountGraphQL is not defined

[2019-07-08 03:24] zenz commented on #5779
I checked node_modules/parse-server/lib/options/Definitions.js
mountGraphQL & mountPlayground were there, but just cannot work.

[2019-07-08 03:43] ozbillwang commented on #5778
After switch the base image to `node:10.16.0`, I can `docker build` now.

[code]

The package `bcrypt` clearly mentioned, it doesn't support alpine nicely.

https://github.com/kelektiv/node.bcrypt.js/wiki/Installation-Instructions#alpine-linux-based-images

Let me know which base image should I go with.

[2019-07-08 03:46] ozbillwang commented on #5778
Seems this PR #5248 made the trouble.

[2019-07-08 05:20] zenz commented on #5779
figured out. Closed.

[2019-07-08 09:14] zenz commented on #5779
https://github.com/parse-community/parse-server/issues/5761 related. Closed

[2019-07-08 09:14] #5779 closed

[2019-07-08 10:00] akg1234 commented on #5764
How to make a pull request?

[2019-07-08 10:16] TomWFox commented on #5764
@akg1234 Check out the [contributing guide](https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md) - first steps are to fork the parse server repo and clone it to your local machine.

[2019-07-08 10:58] akg1234 commented on #5764
oh
this maybe too difficult for me.
i only know the problem but i don't know how to fix it.

[2019-07-08 12:56] rolurq commented on #5618
Not right now, I need it for my current project but as there are other essential features that I need to finish before, I'm not working on this right now. So please feel free to make it available for anyone to take the issue.

[2019-07-08 13:03] acinader commented on #5618
@rolurq the pr I mentioned is here: https://github.com/parse-community/parse-server/pull/5147

[2019-07-08 20:50] MobileVet commented on #5735
@davimacedo Thanks for the follow up.

I noticed the version issue with MongoDB as well, I think you might be on to something there.  I asked the folks over at mLab, will be interesting to see what they think.

We will be updating to the latest Parse version, but probably not for another couple months.  In the mean time I will give your other suggestion a show (forking 2.8.2 and updating the Mongo

[2019-07-09 00:22] mtrezza commented on #5748
Update: Since the code change there are 0,18% of Android devices without token, compared to 8,5% where the token was supposed to be set automatically.

[2019-07-09 06:17] davimacedo commented on #5764
@akg1234 you don't need to fix it. If possible we only wanted you to write a failing test case that shows the problem and open a PR with it so other developers can tackle the problem. You can find the other Live Query test cases in this [file](https://github.com/parse-community/parse-server/blob/master/spec/ParseLiveQueryServer.spec.js) and you can use them as reference to write a new one.

[2019-07-09 06:36] davimacedo commented on #5777
@omairvaiyani we are very happy to have you on board! Please find my comments below.

I assigned the task to you and I will discuss it further in your PR

I've seen this discussion about namespaces and that's why I've decided to fo with the nested mutations. So, in your opinion, should we keep the current approach?

I'd love to have both options:
- a generic mutation called `call` that receives th

[2019-07-09 06:42] davimacedo commented on #5774
Can you please explain further what you need to achieve by mounting different Parse Server instances in the same endpoint? I can't imagine what is the use case and it can be related to your problem. I'd expect something like this instead:

[code]

[2019-07-09 06:56] davimacedo commented on #5778
@ozbillwang have you tried the workaround specified in the [link](https://github.com/kelektiv/node.bcrypt.js/wiki/Installation-Instructions#alpine-linux-based-images) you sent?

[2019-07-09 07:16] davimacedo commented on #5515
@TomWFox we still need to add the read preference option in the JS SDK and updated the docs. I will work this Tuesday to close the issue.

[2019-07-09 07:18] ozbillwang commented on #5778
@davimacedo

I did. But can't successfully build the image.

[2019-07-09 18:32] akg1234 commented on #5764
it is still too difficult to me
i update the description of the bug
hope someone can help me

[2019-07-09 20:35] elios264 opened #5785 "_linkWith fails to create a session for existing users"
### Issue Description

_linkWith on an existing user returns user with no sessionToken

### Steps to reproduce
1.- have an user in db
2.- fetch it with a query
3.- call _linkWith on it
### Expected Results

for the user object to have a sessionToken prop just like new users.

### Actual Outcome

_linkWith returns no sessionToken

### Environment Setup

- **Server**
  - parse-server version (Be spe

[2019-07-09 22:15] dplewis commented on #5785
Have you tried using masterKey?

https://github.com/ParsePlatform/parse-server/pull/2348

[2019-07-09 22:25] elios264 commented on #5785
I'm using the master key

`const masterPermissions = { useMasterKey: true };`

[2019-07-09 22:33] dplewis commented on #5785
I'm unable to reproduce this. Can you write a failing test [here](https://github.com/parse-community/parse-server/blob/a1e1cef6d2434a36ea12dab94325c3c9965faa1e/spec/ParseUser.spec.js#L1500)? or Post server logs VERBOSE=1

[2019-07-09 23:25] elios264 commented on #5785
these are the logs, let my try to create a failing test:

[code]

[2019-07-09 23:40] elios264 commented on #5785
How do I config the mongo db uri to enable testing?

[2019-07-09 23:51] davimacedo commented on #5785
You need to have a mongo running at mongodb://localhost:27017. The test will create/user two databases: parse and parseServerMongoAdapterTestDatabase

[2019-07-10 00:29] dplewis commented on #5785
@elios264 In your logs I see a permission denied error.

[2019-07-10 00:41] elios264 commented on #5785
that’s the consequence of parse-server not returning a sessionToken, the client app tries to make some requests after linking but fails since linkwith returned no sessionToken

[2019-07-10 02:02] dplewis commented on #5785
I was able to reproduce this issue and a fix is simple.

Calling `_linkWith` on an existing user is like doing `object.set('authData', authData)` with validation. I think it should be alright to generate a sessionToken in this case.

@acinader @davimacedo  Thoughts?

[2019-07-10 02:23] RaschidJFR commented on #5521
Yeah, I'm still having the problem. That's the test case for my original issue. Need me to write a different test case?

[2019-07-10 02:38] dplewis commented on #5521
A test case for the array of pointers issue would be great. The test you already wrote doesn't cover that as you are using `fetchedObject.get('mySimpleProp')` which wouldn't work on json pointers but actual `Parse.Object`.

[2019-07-10 08:28] davimacedo commented on #5785
Yes. I think we should as described [here](https://docs.parseplatform.org/js/guide/#signing-up-and-logging-in).

[2019-07-10 14:31] acinader opened #5793 "Reduce Test Output"
The current test output report on each test, pass or fail.  In Travis, this much output provides little value, but makes it difficult to isolate filing tests as scrolling through all of the output is cumbersome

I suggest that we revert to the standard jasmine output from the current to reduce the output.

Probably worth noting here that I made it this verbose...

[2019-07-10 15:08] acinader opened #5794 "Redis now required to run unit tests locally"
It is now necessary to have a running redis instance for tests to pass when run in a local development environment from the command line with `npm test`.

I do not think that redis should be required to run the test suite.

[2019-07-10 15:14] dplewis commented on #5793
I agree, we should take a page from the JavaScript SDK. Also I think this will increase the speed of the test as logging is notoriously slow.

[2019-07-10 15:14] #5764 closed

[2019-07-10 15:15] #5293 closed

[2019-07-10 15:44] acinader commented on #5793
on it.

[2019-07-10 15:49] elios264 commented on #5785
also if you don't want to have to make a breaking change, is there a way to create a session for a user in cloud code?

[2019-07-10 15:56] #5793 closed

[2019-07-10 19:19] #5794 closed

[2019-07-10 19:22] acinader opened #5798 "Silence test output"
Current test output is noisy, even when all tests are passing.  Would be nice if stdout and err were silent, but could be turned back on with an env var like TEST_OUTPUT=1 or something

[code]

[2019-07-10 19:42] dplewis commented on #4247
Closing via https://github.com/parse-community/parse-server/pull/5612

[2019-07-10 19:42] #4247 closed

[2019-07-10 19:46] dplewis commented on #5798
I agree, if there is an easy way to do it. If not I can silence most of the output manually.

[2019-07-10 19:48] acinader commented on #5798
there should be a simple direct way to do it.  I vaguely recall that it was once that way :).  I'll take a peek...

[2019-07-10 20:01] #4948 closed

[2019-07-10 20:12] acinader commented on #5785
this could be a textbook example of opensource bug triage and fixing. wow.

[2019-07-10 20:23] #5785 closed

[2019-07-11 16:01] samokasha commented on #5774
I'm not on the mobile team but I believe they need the sdk for mobile and the dashboard but without cloud code. The example I posted above was I believe from somewhere on stackoverflow or it was posted in a github issue.

Either way I don't think its an issue for us anymore so I will close. Thanks.

[2019-07-11 16:01] #5774 closed

[2019-07-11 21:45] davimacedo commented on #5798
Parse Dashboard has a much cleaner output:

[code]

What do you think about using the same setup here?

[2019-07-11 21:46] davimacedo commented on #5798
It basically prints one line per file + one line per failing test.

[2019-07-12 00:22] davimacedo commented on #5778
I tested here now and, besides the error messages about bcrypt package installation, the image was successfully created and I successfully started/used a container. Wasn't it your case?

As you can see [here](https://github.com/parse-community/parse-server/blob/d83a0b680854f52ce30205d3558c0133d7f8cf19/src/password.js#L6) Parse Server try to use bcrypt, but, if it does not work, it uses bcryptjs. S

[2019-07-12 02:36] ozbillwang commented on #5778
Do you mean I can ignore the error about bcrypt?

Sure, if this is the case.

[2019-07-12 02:36] #5778 closed

[2019-07-12 02:41] davimacedo commented on #5778
Yes. I think you can ignore. I saw in the commit history that both options are tried because bcrypt is supposed to have a better performance than bcryptjs. If the performance for creating/validating passwords is a concern for you, you should go with your solution and change the node version you are running on your container. Otherwise you can just ignore.

[2019-07-12 12:42] omairvaiyani commented on #5777
I think let's keep the nesting as it's the lesser of two evils. Introducing 100+ mutations and queries all in one namespace will be a deterrent for end users trying to construct queries. Without nesting, we would also be forced to share the space between the base types and any additional types from schema stitching future. The workaround for atomicity issue will do fine for those that need it.

[c

[2019-07-12 12:55] santiagosemhan opened #5807 "Graphql support in parse server running on express."
Hello! I want to know if exists any documentation about how to mount graphql support for a parse-server project running on express.

Thanks a lot!

[2019-07-12 15:39] TomWFox commented on #5807
Could you take a look at #5761, does that help?

[2019-07-12 16:22] #5807 closed

[2019-07-12 16:29] TomWFox commented on #5761
@davimacedo would be good to document this in the GraphQL guide

[2019-07-12 19:17] macarthuror opened #5809 "User signUp change the POST url (400 Bad Request)"
### Issue Description
Hello guys,

When I want to create a new user from the Parse JS SDK with the signUp function an error comes up (according to me) with a non valid url

Thanks

### Steps to reproduce
SignUp.vue
[code]
index.js
[code]

### Expected Results

New user with the values I sended

### Actual Outcome
![image](https://user-images.githubusercontent.com/24395219/61150490-2cd38a00-a4a9-11

[2019-07-12 19:33] macarthuror commented on #5809
**Solved**

The problem was that the random password that is generated does not match the parameters set for the users' passwords 😅😅🤦‍♂️

[2019-07-12 19:33] #5809 closed

[2019-07-12 21:36] #5515 closed

[2019-07-12 22:57] davimacedo commented on #5777
Nice! It sounds we have a plan!

Talking about the function names, I'd prefer to validate the name and, in the case it does not pass, we can just log a warn and do not generate the mutation for it. It would have to be called using the generic mutation then. We could additionally have some way to enter the GraphQL mutation name. But these details I think we can discuss further when tackling this fe

[2019-07-13 12:52] rostopira commented on #3280
Why it's closed?

[2019-07-13 17:17] RaschidJFR opened #5811 "Option to prevent cascade saving"
**Is your feature request related to a problem? Please describe.**
When saving an object in which properties there's a pointer to another object, the SDK launches a batch operation to save all modifications made to all nested objects, which is great but... when you don't have write access to any of those (for example when you're saving a Message object pointing to another user's profile) you need

[2019-07-13 18:23] trinadhkoya commented on #985
But where as in the failure response , if i tried to do the same it thrown an error and by default it is responding a valid JSON response

[2019-07-14 03:51] davimacedo commented on #985
This is a pretty old thread regarding old versions of Parse. If you use the latest version, the code below should work:

[code]

[2019-07-14 03:57] davimacedo commented on #5811
I think this is an issue for the JS SDK, right? Can you please open it [here](https://github.com/parse-community/Parse-SDK-JS/issues/new/choose)?

[2019-07-14 03:57] #5811 closed

[2019-07-14 04:01] davimacedo commented on #3280
Yes. It is possible to use the `useMasterKey` flag when using live query.

[2019-07-14 10:31] Moumouls opened #5812 "GraphQL: Faker mode"
**Is your feature request related to a problem? Please describe.**
The new GraphQL feature help developers to collaborate due to the self documented API. It's really helpful for other developers (like front-developers) to work with faked data trough GraphQL.

**Describe the solution you'd like**
I think it would be interesting to integrate a data faker system directly in parse server to ease the l

[2019-07-14 17:03] oallouch commented on #5811
Oh, the time I lost with this one...

[2019-07-14 17:10] davimacedo commented on #5812
I like the idea, but it is not so clear for me how it would work. Could you detail how you imagine it working in Parse Server? I mean, how this data would be set, how the developers would choose for the fake data or not...

[2019-07-14 17:25] micaelomota commented on #5135
has someone got a solution for this?
I have a class "Race" and other "Driver". The race has a pointer to the Driver. I'm trying to do like
`$query->distinct("driver");` with the PHP SDK.

[2019-07-14 19:59] RaschidJFR commented on #4501
The `emvailVerified` field changes to `false` when modifiend the `email` field from `Parse.User.save({email})`. But shouldn't this not change until the email is verified? Otherwise, the user could get locked out (if your app's logic prevents unverified emails from logging in for example) without a chance to reset their password!

[2019-07-15 15:53] acinader commented on #5811
does that mean you'll help solve it :) ??? :).

[2019-07-15 16:39] RaschidJFR commented on #5521
Sorry for my late reply. You're right, I had written that part before but I may have discarded it. I'll check it again and share a test.

[2019-07-16 14:40] mjgerace commented on #2159
Not to start this up again, but I thing given the fact that mongo is implementing transactions and that postgres support is fully fleshed should further the argument for transactions. Pretty much any and all applications that want to take themselves seriously and promote data integrity will utilize such a feature. It is crippling parse that there is no current support for this.

[2019-07-16 15:45] acinader commented on #2159
I think you mean: 'To start this up again'.  ;).

Do you have some ideas on how we might implement?  What SDK do you use primarily?

[2019-07-16 15:49] acinader commented on #2159
@flovilmart lays out some good questions for a starting point:

https://github.com/parse-community/parse-server/issues/2159#issuecomment-358489154

[2019-07-16 16:00] mjgerace commented on #2159
@acinader

To begin to answer these questions, let me give my (somewhat) uneducated thoughts.

It's no longer required to use any third-party package or integration. [MongoDB supports transactions](https://www.mongodb.com/blog/post/mongodb-multi-document-acid-transactions-general-availability) as of 4.0 (I checked, it looks like we are already version compliant for this feature set). Postgres obvi

[2019-07-16 17:44] davimacedo commented on #2159
The JS SDK has a `Parse.Object.saveAll()` method that uses the Parse Server's `batch` endpoint. Maybe including support to a transactional saveAll() process would be a good starting point. What do you guys think?

[2019-07-17 14:24] MobileVet commented on #5735
On further review, the top level performance statistics have decreased by ~10% or so... but are still ~10% higher than on Mongo 3.4.

[2019-07-17 16:39] RaschidJFR commented on #5521
@dplewis So wrote a more robust [test case](https://github.com/RaschidJFR/parse-server/commit/916a2efd874179be0b8bd7194a2909617d086e5e). For this, second and third cases fail.

So far I've found this:

1. **If an extended object has initial values** for any of its props, it is converted to `Parse.Pointer` in the reply of Cloud Code, **otherwise** it is sent as if converted with its normal `toJSON(

[2019-07-18 03:43] trondkr opened #5822 "Redis session"
Hi, I have an AWS Redis server I set up to use for Parse Server cache and session. The setup for session and cache is shown below. My problem is that even when the server is not being called, at least a few commands are issued to the Redis server every second and a new session key is stored. After 2 days of running the server its reached 200K keys. This happens when my app is not running at all.

[2019-07-18 07:12] #5301 closed

[2019-07-18 10:20] gtzinos commented on #2159
Excellent idea @davimacedo

[2019-07-18 20:02] davimacedo commented on #5822
I think this issue is not related to Parse Server. You might want to ask some help in connect-redis repository. Anyway, here it goes my piece of help: Do you have some health check running time by time? Perhaps in an AWS Load Balancer? It seems that you have something hitting your servers and opening new sessions regularly.

[2019-07-18 20:02] #5822 closed

[2019-07-18 20:38] davimacedo commented on #2159
@gtzinos @mjgerace is this something that you guys would be willed to tackle?

[2019-07-19 01:41] trondkr commented on #5822
@davimacedo Thanks for your help on this. The problem was solved by using sticky session and the number of operations explained by AWS load balancer doing periodic checking.

[2019-07-19 05:20] yuki-takeichi commented on #2159
Another good starting point is supporting an atomic update operation including `addRelation` or `RemoveRelation` operators for REST API. A relation field has an independent MongoDB collection where each relation is stored separately. REST API can specify an update for an object itself and its relation in the same call as if its updates are atomic. Because these update queries are not in a transact

[2019-07-19 07:40] DuanYH16 opened #5829 "Can I connect client to multiple parse servers?"
I am trying to connect different react components in the same app to multiple parse servers but I can only connect to one parse server.

App.js is the parent component and App2.js is the child component.

I have started 2 parse servers, each running on different ports.

Parse server A runs on port 1330, 1331 (livequery) while the other server B runs on port 1337, 1338 (livequery). I tried to conne

[2019-07-19 08:03] karthikSmartserv commented on #3517
No it's not working at all, it sucks -_-

[2019-07-19 19:15] davimacedo commented on #3517
Should be working in 4 as well: https://travis-ci.org/parse-community/parse-server/jobs/561149679

[2019-07-19 19:17] davimacedo commented on #5829
Unfortunately you can't do that using the JS SDK. The JS SDK does not support multiple apps,ince some of its methods (for instance, the `Parse.initialize()`) are static. So any change in the initialization will affect the SDK globally.

If you need to connect to different apps from the client side, you will have to use the [REST API](https://docs.parseplatform.org/rest/guide/) or the [GraphQL API]

[2019-07-19 19:18] #5829 closed

[2019-07-22 04:47] postgetme opened #5833 "hope GridFSBucketAdapter support getFileStream interface for http request range content"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-22 04:48] postgetme opened #5834 "hope GridFSBucketAdapter support getFileStream interface for client request range content"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-22 05:12] #5833 closed

[2019-07-22 07:47] davimacedo commented on #5834
Can you please add more details about what you need? The use-case is actually not so clear to me.

[2019-07-22 19:45] HudiDev opened #5837 "Cannot login via parse server in iOS"
### Issue Description

When I attempt to login my iOS app via facebook with `PFFacebookUtils.logInInBackground` I receive an error in callback:

         `Error Domain=Parse Code=1 "{"code":1,"message":"Internal server error."}" UserInfo={error=
         {"code":1,"message":"Internal server error."}, NSLocalizedDescription=
         {"code":1,"message":"Internal server error."}, code=1}`

and when

[2019-07-22 20:14] #5837 closed

[2019-07-22 20:46] nangyal opened #5839 "LiveQuery roles, poiner permissions are misssing"
**Is your feature request related to a problem? Please describe.**
The LiveQuery Permission management not handle
roles and poiner permissions

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
https://github.com/parse-community/parse-server/blob/2e0940c996516692ff9ac8497bcb7181c9fe72a9/src/LiveQuery/ParseLiveQueryServer.js#L481

[2019-07-22 21:40] davimacedo commented on #5839
@nangyal thanks for reporting. Would you be willed to tackle this one?

[2019-07-22 21:53] #5812 closed

[2019-07-23 17:59] davimacedo opened #5842 "Disallow use of Object.prototypes builtins directly (no-prototype-builtins)"
Reference: https://eslint.org/docs/rules/no-prototype-builtins

[2019-07-24 05:32] sureshkodur commented on #1871
Hi, I'm having the same issue. Can anyone help?

[2019-07-24 22:09] davimacedo commented on #1871
@sureshkodur can you please post a question in [stack overflow](https://stackoverflow.com/questions/tagged/parse-platform) containing the code you are using and as many details as possible?

[2019-07-25 02:12] postgetme commented on #5834
thanks for your reply, my use-case is [like this](https://github.com/parse-community/parse-server/pull/2437)

[2019-07-25 05:19] sureshkodur commented on #1871
@davimacedo, issue resolved.

[2019-07-25 07:57] johnnydimas commented on #4226
We were able to add custom behaviour without modifying parse by using express middleware.

For example:
`app.use('/verify_email_success', _VerifyEmailSuccessRouter);`

With this we can intercept the request, get information on the user and do different things. Is that not sufficient for this use case?

[2019-07-25 07:59] johnnydimas commented on #2886
We were able to accomplish this with express middleware and using different email templates.

First we intercept the request:
`app.use('/verify_email_success', _VerifyEmailSuccessRouter);`

Then we get the user object and check their locale (our application saves locales), and then respond with the appropriate language template.

Hope that helps!

[2019-07-25 18:12] davimacedo commented on #5834
I read the whole thread of the PR you mentioned but it is still not so clear for me what you need. Would you be able to give more details and/or send a PR with your suggested changed?

[2019-07-26 04:14] #3587 closed

[2019-07-26 18:26] lybaiyy123 opened #5851 "in the node can not use **Parse.Cloud.beforeLogin** ?"
### Issue Description
in the node
`var express = require('express');`
`var parse_node=require('parse/node')`
`var ParseServer = require('parse-server').ParseServer;`

but i can not use “Parse.Cloud.beforeLogin”

in  the @types/parse/index.d.ts no  **beforeLogin** but have two **beforeFind**

        function afterDelete(arg1: any, func?: (request: AfterDeleteRequest) => Promise<void> | void): void

[2019-07-26 18:29] dplewis commented on #5851
Great catch! Would you like to submit a fix on the DefinitelyTyped Repo?

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/parse/index.d.ts#L829

[2019-07-26 18:36] lybaiyy123 commented on #5851
I don't think I can.
Because I can't TS
Only use
iam so sorry...

[2019-07-26 18:40] lybaiyy123 commented on #5851
another bug is
console.log("Parse.ErrorCode.ACCOUNT_ALREADY_LINKED:"+Parse.ErrorCode.ACCOUNT_ALREADY_LINKED)
console.log("Parse.Error.ACCOUNT_ALREADY_LINKED:"+Parse.Error.ACCOUNT_ALREADY_LINKED)
Parse.ErrorCode is worry！
Cannot read property 'ACCOUNT_ALREADY_LINKED' of undefined

[2019-07-27 14:57] thunderwin commented on #5347
I have the same issue... how to solve it..

[2019-07-28 12:58] Moumouls opened #5859 "unknown option `--mountGraphQL'"
### Issue Description

When we install a fresh instance of `Parse Server 3.6` it seems that there are a gap between documentation and package capabilities. (I'm on MacOS)
`unknown option --mountGraphQL`

### Steps to reproduce

* Install a fresh instance: `npm -g install parse-server`
* Try ton run: `parse-server --appId APPLICATION_ID --masterKey MASTER_KEY --databaseURI mongodb://localhost/test

[2019-07-28 13:06] hajjarjoseph commented on #4852
Try adding `"parse-server": "3.6.0"` in your dependencies in `package.json`

[2019-07-28 18:17] GoGross commented on #5347
I don't know why they won't accept my PR but it's because `npm uws` is deprecated and instead of calling `ws` `ParseWebSocketServer.js line 14` still tries it, try remove it completely or edit the module file :

[code]

[2019-07-29 04:25] davimacedo commented on #5859
The --mountGraphQL option is actually supported in the version 3.6.0. I've just installed it again from scratch and it worked for me. It is really strange what is happening for you case. It seems that parse-server is not pointing out the latest package you installed, but to an old one. Could you try to  run the bin directly from the parse-server installation folder? It would be something like this

[2019-07-29 06:34] Moumouls commented on #5859
Yes it works with `~/.npm-packages/bin/parse-server` and yes it seems that `parser-server` don't execute the correct `/bin`
So it's a problem with my setup.
We can close this issue !

node: `v10.15.1`
npm: `6.4.1`

[2019-07-29 06:47] davimacedo commented on #5859
Nice. I hope you enjoy the GraphQL API. If you have any feedback let me know :)

[2019-07-29 06:47] #5859 closed

[2019-07-29 11:11] Moumouls opened #5863 "Feedback/Discussion: GraphQL Spec"
# Feedback/Discussion on the `GraphQL` implementation

Hi, first of all, thanks to all contributors for the awesome work on the `GraphQL` implementation

I tested some features and i made a small comparaison between `GraphQL Parse Server` and another solution i love [`Prima X Nexus`](https://www.prisma.io) (alias GraphCool), [Nexus](https://nexus.js.org/docs/database-access-with-prisma)

I'm here

[2019-07-30 01:11] davimacedo commented on #5863
@Moumouls thanks for the detailed feedback. All the ideas you sent are really helpful. I will comment each of them and I'd love to discuss them further with you and all others, including @douglasmuraoka and @omairvaiyani

We've managed the GraphQL ideas in this [project](https://github.com/parse-community/parse-server/projects/5) and any help on tackling them is very welcome! Would you be willed t

[2019-07-30 01:12] davimacedo commented on #5777
@omairvaiyani do you think that we've already addressed everything here and we can close this issue?

[2019-07-30 07:55] johnnydimas opened #5867 "Parse 3.7.0 missing APN module"
### Issue Description

After updating to ParseServer 3.7.0 (latest release), I can no longer start my server. It appears one of the modules (apn) for the @parse/push-adapter is missing. If I manually install the apn module, and start the parse-server, it works as usual. I do not use push-notifications in my setup, so I did not have the module installed previously.

### Steps to reproduce

Update t

[2019-07-30 08:25] omairvaiyani commented on #5777
Yup, very quick turnaround I'd say!

[2019-07-30 08:30] #5777 closed

[2019-07-30 08:56] davimacedo commented on #5867
I think we didn't release this package correctly. I will try to publish a new release and fix it.

[2019-07-30 13:28] Moumouls commented on #5863
@davimacedo yes i think i can help in the `GraphQL` implementation, if you want ou can add me to the project

## Relay Spec

Duplication of structure will lead to confusion for new developers, i'm not sure it's a good idea. I agree that `Relay Spec` is bit complex for new `GraphQL` developers and we must write documentation to teach those developers. An experienced `GraphQL` developer expects this

[2019-07-30 14:01] douglasmuraoka commented on #5867
@johnnydimas as a temporary fix, you can do the following:

Clone `parse-server-push-adapter` repo, and run `git checkout updateAPN && npm install && npm link`.
And at the `parse-server` directory, `npm install && npm link @parse/push-adapter`.

It works for me :)

[2019-07-30 14:09] dplewis commented on #5867
I did a clean npm install (removed node_modules and package-lock)

You can see it working https://github.com/parse-community/Parse-SDK-JS/pull/876

[2019-07-30 14:12] johnnydimas commented on #5867
@dplewis I actually tried that as well before I posted the issue. It didn't seem to do the trick to me.

[2019-07-30 22:07] davimacedo commented on #5863
@Moumouls thanks for your help! Feel free to grab any of the tasks to start working on.

- Relay Spec - I agree, so let's replace the current implementation for a compliant one.
- Where - I wanted to write a doc explaining all possible operations, but I think we should use your solution in the meantime. (I've just added a new task)
- Mutation return types - Let's do that!
- Data organization - may

[2019-07-30 22:38] davimacedo commented on #5867
@johnnydimas could you please install parse-server from the master branch and check if the problem was solved for you? In a positive case, we will release a new version.

[2019-07-31 00:47] Moumouls commented on #5863
@davimacedo I can dive into the `GraphQL Server', but I can't move any tasks in the project.....

About data organization, I think that `Parse GraphQL Server` is not only a feature, but can potentially be the attractive new thing for many developers to choose Parser Server as a backend.

I'm totally in favor of leaving the old code/strategy to implement a better `GraphQL Server', we have the abili

[2019-07-31 07:55] johnnydimas commented on #5867
@davimacedo That did it for me, thanks for the assistance!

[2019-07-31 08:03] davimacedo commented on #5867
Nice. We will launch release 3.7.2 with the fix soon.

[2019-07-31 08:03] #5867 closed

[2019-07-31 09:41] #2159 closed

[2019-07-31 12:43] santiagosemhan opened #5874 "Implement global triggers"
There are situations where it's necessary to be able to execute functions globally.
For example beforeSave, afterSave, etc.

So what I propose is that things such as "*" can be implemented in the class name.

[code]

[2019-07-31 12:50] paivaric commented on #2654
Why not use MongoDB Bulk Operations?
This is pretty fast:

var bulk = db.users.initializeUnorderedBulkOp();
bulk.insert( { user: "abc123", status: "A", points: 0 } );
bulk.insert( { user: "ijk123", status: "A", points: 0 } );
bulk.insert( { user: "mop123", status: "P", points: 0 } );
bulk.execute();

https://docs.mongodb.com/manual/reference/method/Bulk/
https://docs.mongodb.com/manual/reference/m

[2019-07-31 14:10] mtrezza commented on #5874
I don't see any immediate use case for this, beyond maybe logging. Can you provide some details for your use case?

[2019-07-31 14:16] santiagosemhan commented on #5874
I'm currently tracking createdBy and updatedBy fields in beforeSave triggers. I have to implement it for each class declared in cloud code.
Another's API frameworks implement this kind of "hooks". For this reason, could be a great idea. It's just a simple proposal.

[2019-07-31 14:20] acinader commented on #5874
you could do this with inheritance today. You could make a base class that extends ParseObject and then all of your classes can extend your base class. Your base class can implement a before save and after save that does your common stuff.  If you want something specific for a class, implement its beforeSave method and be sure to call super.beforeSave(request).

[2019-07-31 14:28] santiagosemhan commented on #5874
Perfect! Could you provide me an example?
I'll be implementing your solution!

[2019-07-31 14:40] mtrezza opened #5875 "`Installation` and `User` cannot be accessible only by master key"
### Issue Description

From the client SDKs it seems that the `Installation` class is intended to be fully accessible to the user and cannot be made accessible only with the master key.

For example in Android SDK the `ParseInstallation.getCurrentInstallation()` does not expose all the fields it sends to the server when calling `save()` such as `timeZone`. This means that it is not easily possible

[2019-07-31 14:54] santiagosemhan commented on #5874
Another's users with the same issue. (2 years ago )
https://stackoverflow.com/questions/43916050/parse-server-cloud-code-beforesave-on-parse-object

[2019-07-31 17:07] acinader commented on #5874
@santiagosemhan I don't have an example to point you to.  My response was just from thinking about it and how I would approach it.  But I'd be glad to help you with it if you'd like.  I would start by figuring out how to get it working with two different classes, so something like this:

1. create a base class the extends Parse.Object
2. put a 'beforeSave' function in it.
3. create two classes tha

[2019-07-31 17:18] acinader commented on #5874
and for the record, I don't think that it would be a bad thing to change the hook implementation to allow more than one hook to run using something like a regex and/or a list to match witch classes to apply a hook too, as well as allowing more than one 'beforeSave' observer, but I am not going to do that work any time soon myself, so either you give it a try (which I'd help you with and others mig

[2019-07-31 17:40] santiagosemhan commented on #5874
@acinader I did it as you proposed and works as expected. So, if I have time I will post the solution in stackoverflow. But, in other hands, I think that would be good to document this stuffs into the cloud code section.

[2019-07-31 18:07] acinader commented on #5874
great.  we'd also welcome a pull request on the documentation front if you think you could improve for this case.

[2019-07-31 18:30] davimacedo commented on #5875
I didn't get the idea. Could you write a code example of what you wanted to run in the cloud code, what is the current result and what you expected to have?

[2019-07-31 22:18] #5874 closed

[2019-07-31 22:48] santiagosemhan commented on #5731
I totally agree with you @davimacedo. I think point 5 its the most important one. Don't rely on ENV vars without explicitly set options in express based installation.

[2019-08-01 03:24] lybaiyy123 opened #5880 "I want to set up that users can only login on one client at the same time."
Every user can login on different clients, but that's not what I want.

I want to set up that users can only login on one client at the same time.

What can I do?

[2019-08-01 03:27] lybaiyy123 commented on #5880
Delete data session class different from this user session after login?

[2019-08-01 06:40] davimacedo commented on #5880
Let's say you have a user that is logged in a certain device. Then this same user tries to log in in another device. What do you want to happen? Not allow him to log in the other device? Or allow him to log in the other device and automatically log out him from the first device?

Both scenarios can be achieved with a cloud code function.

[2019-08-01 07:40] davimacedo commented on #5863
That's nice! Let's start working on this! I think it is important to tackle the ideas in small PRs instead of a single PR with everything so we can work in parallel. Which task do you want to first start with? I will start working on Relay compliance, ok?

[2019-08-01 08:27] lybaiyy123 commented on #5880
allow him to log in the other device and automatically log out him from the first device?
how to do it ？ delete him old session ？

[2019-08-01 08:32] davimacedo commented on #5880
Yes. I'd write a cloud function like the one below. In your app you can call this cloud function instead of the regular logIn operation.

[code]

[2019-08-01 08:49] lybaiyy123 commented on #5880
oh ,thanks

Why don't you judge the length of oldSessions?

[2019-08-01 09:27] Moumouls commented on #5863
I can begin a PR and take the `renaming` stuff ! (the easy way for me to dive into this `GraphQL Implementation`)

[2019-08-01 16:15] davimacedo commented on #5880
It is just an example. Feel free to optimize it :)

[2019-08-01 16:15] #5880 closed

[2019-08-01 16:23] davimacedo commented on #5863
Nice! Send a PR with the suggestions you have for the new names and we can discuss there. If you have any question about the code, let me know. I've just added this new task to the project. Let's keep this issue open so we can keep tracking/addressing all other ideas.

[2019-08-02 00:45] davimacedo commented on #5863
@Moumouls I did a deep analysis of the Relay spec and also checked out some benchmarks. The current API is actually much easier to use than the Relay spec. As a developer I'd prefer to use the current one for non Relay projects or when playing using Playground. On the other hand, it is very important to be Relay compliant and I saw that one of the benchmarks (Hasura) is not compliant and there is

[2019-08-02 11:07] Moumouls commented on #5863
As a GraphQL developper i will vote for the option 3. I already worked with a `GraphQL E commerce` (`Reaction Ecommerce`) they implemented a `Relay Spec` and `Custom` spec in the same schema, the results was weird, because you don't know at the end wich `field` to use and your team start to use fields randomly...

I think we have a lot of reflexion about the implementation here, i suggest to defin

[2019-08-02 11:11] omairvaiyani commented on #5863
Being upfront, I've not used Relay as our company's product is built entirely on Ember.js, so I understand my bias here.

As it stands, there are no officially supported library for the Relay client on Angular, Vue, Ember.js or even React-native (though I might be misinformed on that last one). Having said that, Relay does have almost as many Github stars as GraphQL.js, suggesting that there's a h

[2019-08-02 11:13] omairvaiyani commented on #5863
Also +1 on setting the `beta` flag here!

[2019-08-02 16:32] stevestencil opened #5882 "Sessions are being deleted"
### Issue Description

Our application needs the ability to only allow 1 session per device type. For Example: they can only have 1 session if they log into a mobile device. So if they login using their iPhone, it will log them out of their iPad. But it they login via the website, the session on their iPhone will not be deleted. If they log into the website with a different browser, it will delete

[2019-08-02 16:52] davimacedo commented on #5882
You can do:

[code]

[2019-08-02 17:04] stevestencil commented on #5882
passing in installationId an option does not work

[2019-08-02 17:09] davimacedo commented on #5882
why not?

[2019-08-02 17:10] davimacedo commented on #5882
It should work: https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseUser.js#L429

[2019-08-02 17:11] davimacedo commented on #5882
Have you tried before? What happened?

[2019-08-02 17:13] stevestencil commented on #5882
I just tried it... the installationId does not change to what I make it

[2019-08-02 17:17] davimacedo commented on #5882
What is the Parse Server version that you are running? I will try to reproduce and solve the bug.

[2019-08-02 17:18] davimacedo commented on #5882
Can you try the following?

[code]

[2019-08-02 17:19] stevestencil commented on #5882
3.7.2

[2019-08-02 17:21] stevestencil commented on #5882
that did not work

[2019-08-02 17:25] stevestencil commented on #5882
were you able to replicate the issue?

[2019-08-02 17:27] davimacedo commented on #5882
Not tried yet. But I will try in few minutes to figure out why it is not working.

[2019-08-02 18:20] stevestencil commented on #5882
ok I found the issue... [This line](https://github.com/parse-community/Parse-SDK-JS/blob/2ea5a98f1b78ea72919eaad54e021a10a6092fbf/src/RESTController.js#L243) is causing the installationId to be set if there is no installation Id in the options... so if i pass { installationId: '' } or { installationId: null } into options, that line will override it. I suppose [this line](https://github.com/parse-

[2019-08-02 18:33] davimacedo commented on #5882
yes.. that was the idea actually... I was expecting you to set something in installationId var. Maybe you should use:
[code]

[2019-08-02 18:35] davimacedo commented on #5882
So I understand that there is no bug, right? I'm closing the issue. Let me know if you still have any question.

[2019-08-02 18:35] #5882 closed

[2019-08-02 19:07] stevestencil commented on #5882
Thanks fo much for your help!

[2019-08-02 20:41] douglasmuraoka commented on #5863
I believe the current GraphQL API brings a lot to Parse users, whether GraphQL expert or not. And although we may need to change the current schema to be Relay compliant, both schemas are not necessarily exclusive. It will demand more effort to keep up with both APIs, but I think this is the right way for Parse. I'll vote for option **1**.

Additionally, I also agree with @Moumouls that It may cau

[2019-08-03 03:43] Eolykab commented on #4905
I am having a problem with Parse 2.4.0. Getting the below error with the above code.
core.js:15724 ERROR TypeError: _this.subscription.on is not a function
    at Observable._subscribe (chat.service.ts:47)
    at Observable.push../node_modules/rxjs/_esm5/internal/Observable.js.Observable._trySubscribe (Observable.js:43)
    at Observable.push../node_modules/rxjs/_esm5/internal/Observable.js.Observ

[2019-08-03 17:13] Dobbias opened #5884 "protectedFields user white-listing not working for custom classes"
### Issue Description

When using `protectedFields` on a custom class and adding a userId to the object ACL (read) in the custom class, the ACL is ignored and the protected fields are not returned when the specified user is logged in and requests the document. Using roles works with ACL and `protectedFields`.

The problem can be traced back to the `addProtectedFields` function in [DatabaseControll

[2019-08-03 17:49] davimacedo commented on #5884
@Dobbias thanks for reporting and investigating the issue. Would you be willed to send a PR with a test case and your proposed solution?

[2019-08-03 18:11] davimacedo commented on #4905
Can you please update to the latest versio and check if the problem persists?

[2019-08-03 19:41] Dobbias commented on #5884
@davimacedo I'll work on it next week, if I got some spare time.

[2019-08-04 10:17] lybaiyy123 opened #5885 "Parse.Object.unPinAllObjects() No effect at all."
i use             object.pin() save data in localstorage.
but when i use  Parse.Object.unPinAllObjects() to delect all localstorage data, itis No effect at all,
Using localstorage to view data in Firefox and Google Browser, the data still exists

[2019-08-04 12:05] Dobbias commented on #5884
@davimacedo I investigated the code further and this actually is no bug. I referenced the code above since I had no understanding of how ACLs are applied. After having a closer look at the codebase, I would say this is a missing feature. Currently the `protectedFields` only work with roles on custom objects or on the User object using the user id (by checking the object id instead of ACL).

It wou

[2019-08-04 20:15] ropstah commented on #5353
This doesn't work here...

[code]

I must say it's also strange that packages need to be installed globally when NPM is used to provide modules to the platform...

[2019-08-04 21:43] davimacedo commented on #5885
@lybaiyy123 can you please open the issue in the SDK repository including as more details as possible? Thanks.

[2019-08-04 21:43] #5885 closed

[2019-08-04 22:38] davimacedo commented on #5863
Nice. So I am going with option 1. I will try to make the two APIs (simple and relay) as close as possible (so we don't have so much duplicated code to maintain) and have a switch flag in ParseGraphQLServer to opt in for a Relay style. I will send a PR soon.

I will also add the beta note in the GraphQL section.

[2019-08-05 06:04] ittechsathish commented on #4178
Could you please explain how to acquire the token. If there is no documentation for login itself, it is very difficult job to learn and use this framework. Requesting to add a short note and very short example code...

[2019-08-05 16:30] stevestencil opened #5888 "Is there any way to edit Class Level Permissions Programatically?"
With the latest version of parse we can now have a class level permission set for the "count" operation. This makes it so that all class level permissions have to be updated to support this operation, otherwise you'll get permission errors when calling "count". I know we can do this via the dashboard but if other devs are working in the same project they'll have to update the same permissions on t

[2019-08-05 17:54] Moumouls commented on #5888
I think you can do this with the `REST API`:
[Rest Guide CLP](https://docs.parseplatform.org/rest/guide/#restricting-class-creation)
[code]

[2019-08-05 18:27] stevestencil commented on #5888
this is exactly what I need... Thank you!

[2019-08-05 18:39] dplewis commented on #5888
@stevestencil This has been discussed adding to the JS SDK [CLP needs an API](https://github.com/parse-community/Parse-SDK-JS/issues/583). Would like to get started on this?

[2019-08-06 00:03] davimacedo commented on #4178
@ittechsathish which is the SDK that you are using and learn to more about? Android, iOS, JS?

[2019-08-06 06:11] karthikSmartserv commented on #4506
Well when this happens, spend whole day and night debugging it. Cry for sometime thinking you are failure and finally give up and go to sleep. Next day reboot the system it will work properly .
Worked for me, not sure about others

[2019-08-06 10:02] #5714 closed

[2019-08-06 17:38] Vortec4800 commented on #5867
I just tried to do a fresh install of server 3.7.2 and am getting this error during npm install:

No matching version found for apn@^v3.0.2-parse

Tried deleting the package lock and modules dir and do a clean install, but no difference. Seems to be related to this issue, if you want I can create a new one though.

[2019-08-06 21:07] stevestencil commented on #5888
I would be happy to add this... this would be my first time so I will need some guidance... I'd imagine i'll be adding it to the ParseSchema.js file?

[2019-08-07 00:23] davimacedo commented on #5867
@Vortec4800 can you please share the steps that you are using to install parse-server 3.7.2 and also the versions of node.js and npm that you are using?

[2019-08-07 00:30] davimacedo commented on #5888
Yes. It should be added in the [ParseSchema.js](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseSchema.js) file of the JS SDK.

[2019-08-07 12:28] SebC99 opened #5890 "Apple sign-in mix between id and token"
In #5755, it is said that the authData should be:
[code]

whereas the authAdapter's id should be a unique id to recognized the user.
The Apple JWT is always changing since it includes the time and the Apple Public Key, so we have to use the Apple `credential.user` as the id and the JWT (`identityToken`) as the token/access_token.
And then, when the server inspects the JWT, we can check if the `sub

[2019-08-07 12:36] dplewis commented on #5890
Nice catch! Feel free to submit a PR. Where do you get credential.user?

Also can you add support for private key as discussed here?
https://github.com/parse-community/parse-server/pull/5846#issuecomment-515124776

[2019-08-07 13:27] SebC99 commented on #5890
@dplewis I don't know what it is about... I can't see anywhere in Apple's doc how the private key could replace the public key. I'm guessing it's two completely different subject: the public key is need for the JWT validation, and the private key is needed to obtain new tokens (??)

[2019-08-07 13:34] dplewis commented on #5890
@SebC99 Just checked you are right, you can ignore that.

[2019-08-07 13:52] SebC99 commented on #5890
@dplewis I think the iOS and the JS version is not really the same, so the `credential.user` identifier is described [here](https://developer.apple.com/documentation/authenticationservices/asauthorizationappleidcredential) and is corresponding to the `sub` element of the JWT identity token.
I don't know what's the name of that identifier in the JS version, except that it's still in the decoded JWT

[2019-08-07 14:25] dplewis commented on #5890
The JS Version returns a user identifier but its a JSON string [here](https://developer.apple.com/documentation/signinwithapplejs/configuring_your_webpage_for_sign_in_with_apple)

The Rest API Version returns

[code]

In both cases if a developer wanted a identifier they would have to decode the JWT and use the sub field as you mentioned.

Here is how I decode `id_token` in php
[code]

The solutio

[2019-08-07 14:41] SebC99 commented on #5890
You're right, in JS, it's easy to obtain the id with `JSON.parse(atob(token.split(".")[1])).sub`

[2019-08-07 15:22] Vortec4800 commented on #5867
Sure. I've got these (along with other) frameworks in my package file:

    "parse": "^2.6.0",
    "parse-server": "^3.7.2",
    "parse-server-mailgun-adapter-template": "^1.1.7",

Running Node 9.11.2 and npm 5.6.0

[2019-08-07 20:52] Eolykab opened #5892 "Rest API with angular"
Getting this error on the client app (Angular) POST http://localhost:1337/parse/users 403 (Forbidden)

This is how I initialize it
Parse.initialize(environment.appId);
(Parse as any).serverURL = environment.serverUrl;
export const environment = {
  production: false,
  serverUrl: 'http://localhost:1337/parse',
  appId: 'xzFvFNe3hovXg1zHxXhI',
  myMasterKey: 'H137HRAwIZcC1TF2MiAu'
};
This below is

[2019-08-07 22:47] davimacedo commented on #5867
I could reproduce here. The problem is happening for node.js <= 9. Could you upgrade Node >= 10?

[2019-08-07 23:08] #5890 closed

[2019-08-07 23:40] davimacedo commented on #5892
Can you also share the code that you are using to send the POST request?

[2019-08-08 02:10] Vortec4800 commented on #5867
We ran into some compatibility issues with Node 10, so we decided to stick with 9. Is Parse server no longer supported in Node 9?

[2019-08-08 02:39] davimacedo commented on #5867
It seems that the problem is not the node version itself but the npm version, which is failing to install the package from the github tag. I tested here Node 9 with latest version of npm and it worked for me. Can you please try to upgrade npm and check again?
[code]

[2019-08-08 07:12] Eolykab commented on #5892
This is what I am trying to implement. https://akveo.github.io/nebular/docs/auth/configuring-a-strategy#setup-api-configuration

These are my settings :

import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

import { AppRoutingModule } from './app-routing.module';
import { AppComponent } from './app.component';
import { BrowserAnimationsModule } from

[2019-08-08 08:29] murshudov opened #5894 "GraphQL: How to query data from array of pointers"
#### This is my query
[code]
#### and it returns
[code]

#### But I want to get country details inside this query results. Is there a way to do that?
#### I thought maybe something like this exists:
[code]

#### Result:
[code]

#### I don't know how to include results from getJob query into findCountry query. Any help would be appreciated 😊

[2019-08-08 10:29] unmec commented on #5888
Just a few notes:

- ```classLevelPermissions``` in req body should be double quoted otherwise Parse will complain about JSON format

- If I run this command on an existing Class, Parse will return 400 saying that Class exist already and unable to change CLP. However creating a new Class is fine

[2019-08-08 13:26] Vortec4800 commented on #5867
I updated npm to 5.10 and that did the trick. Thank you!

[2019-08-08 18:01] davimacedo commented on #5888
You can actually add and remove fields of an existing class. But you can't change an existing field of an existing class.

[2019-08-08 18:28] davimacedo commented on #5894
It works pretty much like you expect if you have a field that is a `Pointer` or a `Relation`. Since it is an `Array`, and an `Array` can have any kind of item, the Parse GraphQL Server does not know beforehand what kind of object you have there and can't make its fields automatically available. We can think about some solutions for this. Maybe allow the developer to specify the type of the array?

[2019-08-08 18:36] davimacedo commented on #5892
I don't see where you are setting the headers and it seems to be missing. You have to make sure that `NbPasswordAuthStrategy.setup` is configured to send `X-Parse-Application-Id` header.

[2019-08-08 21:55] Moumouls commented on #5863
@davimacedo I think my next PR will be on the new `Relation` input proposal:

[code]

[2019-08-08 22:05] davimacedo commented on #5863
I think it is little bit confusing make the two options available in the same input. At a first glance, I'd try to fill both if I were the developer. I think we could go only with the id option. But it would be really good here to also give the option of creating a new object (nested mutation). Maybe the following?
[code]

[2019-08-08 22:08] davimacedo commented on #5863
I think the way I suggested it is not so good because it is not self explainable for the developer that we are expecting an array of ids, right? So maybe the following would be better?

[code]

[2019-08-09 03:38] unmec commented on #5888
@davimacedo Very helpful as this is not explicitly stated in doc, thanks!
[code]

[2019-08-09 04:08] ittechsathish opened #5897 "Twitter Authentication not working Twitter auth is invalid for this user."
Problem : Twitter Authentication not working Twitter
Error: auth is invalid for this user.

Problem Found:

twitter.js

// Returns a promise that fulfills iff this user id is valid.
function validateAuthData(authData, options) {
  if (!options) {
    throw new Parse.Error(
      Parse.Error.INTERNAL_SERVER_ERROR,
      'Twitter auth configuration missing'
    );
  }
  options = handleMultipleConfi

[2019-08-09 08:51] omairvaiyani commented on #5894
One option is to introduce this into the Parse GraphQL [Config](https://docs.parseplatform.org/graphql/guide/#customisation):

[code]

Longer-term would be to introduce this knowledge directly into the database schema, although I've not assessed the drawbacks yet.

[2019-08-09 12:38] Moumouls opened #5900 "GraphQL: Augmented GraphQL Schema (SDL)"
# Introduce Augmented GraphQL Schema (SDL)

In response of #5894

I would like to propose and discuss the introduction of an `SDL` system. The main objective will be to help developers improve their GraphQL Server Parse and enable many more features in the future without modifying the Parse Server Core.

# Augmented TypeDef file: schema.graphql

[code]

### `@auto`: Describe a current Parse class

[2019-08-09 22:14] davimacedo commented on #5863
@Moumouls you will probably have a hard time to transform these guys from GraphQL schema to Parse schema. That's why I used `_` before the operation names. So... I think it would be easier to use `_add`, `_crateAndAdd`, `_remove`. What do you think?

[2019-08-09 22:34] davimacedo commented on #5897
@ittechsathish thanks for reporting. Could you please send a PR with a failing test and your proposed solution?

[2019-08-09 22:40] davimacedo commented on #5894
@omairvaiyani I like this idea. I am only wondering if this information could be also useful for Parse Server overall. So maybe having this information in the parse server schema would be better?

[2019-08-09 22:44] davimacedo commented on #5900
We already have similar functionalities (but they are not in the docs yet). Have you seen these PRs?
https://github.com/parse-community/parse-server/pull/5782
https://github.com/parse-community/parse-server/pull/5821
https://github.com/parse-community/parse-server/pull/5836
https://github.com/parse-community/parse-server/pull/5828

[2019-08-10 14:14] omairvaiyani commented on #5894
@davimacedo it certainly would be. I understand that the Parse Server ```_Schema``` class stores the field type as `"array"`, regardless of whether the array stores regular POJOS, or Parse pointers. The source code also freely allows pointers to be changed from one class to another. If we did introduce a specific type, it would result in stricter behaviour, possibly classified as a breaking change

[2019-08-10 14:27] GoGross opened #5904 "LiveQuery Error [ERR_STREAM_WRITE_AFTER_END]: write after end"
### Issue Description

Websocket shuts down immediately after opening Error [ERR_STREAM_WRITE_AFTER_END]: write after end

`C:\apps\gross-cloud\node_modules\parse-server\lib\ParseServer.js:231
          throw err;
          ^

Error [ERR_STREAM_WRITE_AFTER_END]: write after end
    at writeAfterEnd (_stream_writable.js:243:12)
    at Receiver.Writable.write (_stream_writable.js:291:5)
    at TLSSo

[2019-08-10 22:57] GoGross commented on #5900
My worry with this project is that it's going to get lost pretty quickly due to a lack of balance between documentation and improvement. I think we should create some balance before things go out of hand.

[2019-08-10 23:16] #5900 closed

[2019-08-11 04:13] ittechsathish commented on #5897
I was wrong, the auth_token and oauth_token_secret are there in twitter auth response.

window.hello.getAuthResponse("twitter") -> gives the data in the client side, we should add them in the use login request object

Please close this issue.

[2019-08-11 04:13] #5897 closed

[2019-08-11 07:58] davisbra opened #5906 "postgres high CPU usage!"
hi,
I use parse server with Postgres in my Node.js application. run parse (index.js) permanently in the background with pm2 My connection string in the app looks like this:
[code]
at first hours everything is ok and CPU usage is under 5% but after 10-12 hours it increases to 100% even when I didn’t make any requests and even queries to the database. when I restart the Postgres everything goes back

[2019-08-12 01:25] dplewis commented on #5906
Can you check this thread https://github.com/parse-community/parse-server/issues/5029

[2019-08-12 01:27] dplewis commented on #5904
Which version of Parse Server and node version you are using?

Can you provide more info?

[2019-08-12 08:24] davimacedo commented on #5894
We could also leave the `Array` data type as it is now (to avoid the breaking change or any migration) and just add a metadata specifying it is a pointer Array (like we did in the required fields). What do you think? Is this something that you would be willed to tackle?

[2019-08-12 08:28] davimacedo commented on #5900
@GoGross I also have this concern. Communicating the features really well through the docs is as important as creating new features. I had actually started building the docs for these PRs but, because of the recent GraphQL discussions around changing the current API, I left it on hold until we have done the breaking changes we expect. But any help here is really appreciated and I think we could ac

[2019-08-12 10:05] Moumouls commented on #5894
We could also have a huge problem with multi pointers in an Array (ex: `[User, Role, Product]`).

I think the solution is to implement an `InlineFragment` strategy: [GraphQL InlineFragment](https://graphql.org/learn/queries/#inline-fragments)

Tasks:

* Create an empty interface `ArrayResult` (if it's allowed by GQL, i don't know currently)
* Add doc on the field about the `InlineFragment` strateg

[2019-08-12 11:02] Moumouls commented on #5900
I think that PRs concerning the **configuration** of the `Parse GraphQL Server` should only be validated with a linked PR Doc to avoid a implementation mismatch 🚀

[2019-08-12 12:19] funkenstrahlen commented on #5748
As changing your client side code helped this is more likely an issue in the Android SDK of parse instead of the server?

https://github.com/parse-community/Parse-SDK-Android

[2019-08-12 14:04] REPTILEHAUS opened #5907 "Geo Data not saving the correct way even when lat/lng in correct order"
### Expected Results

Geo Query returns correct values

### Actual Outcome

GeoPoint seems to save backwards even though lat/lang is saved in correct order
### Environment Setup

- **Server**
  - parse-server version 3.50
  - Operating System:   OSX / Mongo Atlas DB v4
  - Hardware:            Macbook pro
  - Localhost or remote server? Localhost but DB is cloud based on MongoAtlas running mongo v

[2019-08-12 14:11] #5907 closed

[2019-08-12 16:48] mtrezza commented on #5748
I agree.

[2019-08-12 16:51] #5748 closed

[2019-08-12 17:20] funkenstrahlen commented on #5748
Thank you for documenting this issue so clearly and investigating!

[2019-08-12 18:13] nextglabs opened #5910 "Send Password Reset Request to Non-Existent Users"
**Is your feature request related to a problem? Please describe.**
Currently, when a non-existent user requests a password reset, a message is always displayed saying that an email has been sent to the email address. The user actually never receives an email. There is a workaround where we can verify if the requested email exists then return an error, but that's not the way OWASP recommends it (us

[2019-08-12 19:50] Moumouls commented on #5910
I think it's impossible, this feature can introduce a huge security breach, it allow attackers to use the Parse Server instance as an email spammer.
It can also generate unpredictable costs for developers using email services such as Sendgrid or MailChimp.
If you need a feature like this (**not recommended at all**), i suggest you to create a custom cloud function with your logic.

[2019-08-12 21:37] davimacedo commented on #5900
Yes. That's also a good idea. Let's do this for the next PRs.

[2019-08-12 21:40] davimacedo commented on #5894
@Moumouls thanks for the suggestion. I think it is really the best way to solve this issue! I will take a look in your PR and revert my feedback.

[2019-08-14 04:34] #5030 closed

[2019-08-14 07:48] davisbra commented on #5906
thanks for your response, but I couldn't solve the problem!

[2019-08-14 13:48] dplewis commented on #5906
What have you tried? Did you remove pm2 in favor of cluster mode? Where are you hosted, something could be pinging your server if you aren’t.

What version of Parse Server and Node are you running?

[2019-08-14 20:27] #5894 closed

[2019-08-14 21:57] #5842 closed

[2019-08-14 23:22] Moumouls commented on #5894
@murshudov on the `master` branch you can test the new powerful `InlineFragment` feature, example here:

[code]

[2019-08-15 12:27] murshudov commented on #5894
@Moumouls and others, thank you very much for the great effort and awesome work 👍

[2019-08-15 15:56] Moumouls commented on #5863
We got a problem here on a multi relation array. Currently `GraphQL` doesn't support union on `Input`. For support full typed nested mutation i suggest this:

[code]

Mutation example :

[code]

@davimacedo what do you think about this ?

[2019-08-15 20:27] douglasmuraoka opened #5923 "GraphQL: Error when iterating over undefined array"
### Issue Description
`TypeError: Cannot read property 'map' of undefined` when iterating over an undefined array

### Steps to reproduce
1. Create a custom class (named as "tests")
2. Create an Array field (named as "arr")
3. Leave this field value `undefined` (not `null`, not `[]`)
4. Execute the following GraphQL query:
[code]

### Expected Results
GraphQL query should execute.

### Actual Outc

[2019-08-15 21:54] Moumouls opened #5925 "GraphQL: Using generic Mutation can lead to unwanted result"
### Issue Description

Using a generic Mutation can lead to unwanted result, more specifically on data types like: Array/Relation.

### Steps to reproduce

Create a new Object (with new field) and an array of `Pointers`
[code]

### Expected Results

`relation` field must be a `Relation`

### Actual Outcome

<img width="779" alt="Capture d’écran 2019-08-15 à 23 32 45" src="https://user-images.git

[2019-08-15 21:55] Moumouls commented on #5910
@TomWFox what about closing this ?

[2019-08-15 21:57] #5910 closed

[2019-08-15 22:05] davimacedo commented on #5925
The sintax for creating a relationField through the generic method is the same of the REST API. So it whould be:

[code]

See test case here: https://github.com/parse-community/parse-server/blob/master/spec/ParseGraphQLServer.spec.js#L5119

I know it is not intuitive and need docs. The developers can always opt for the custom operations though. The idea behind the generic operations is to keep the

[2019-08-15 22:11] davimacedo commented on #5925
I was thinking little bit more here. Maybe an option could be just remove all generic operations and build new operations to manipulate the schema?

[2019-08-15 22:12] Moumouls commented on #5925
Yes not intuitive 😉
I'm not sure it's a solution to add more doc on a `GraphQL` API, the main goal of `GraphQL` is to avoid documentation and dive directly in `Mutations` and `Queries`.

[2019-08-15 22:21] Moumouls commented on #5925
It's totally what i suggest, a developer could use the full potential of `Parse GraphQL Server` without reading single line of external documentation

A example of DX:

* Developer see mutation: `createClass` ou `createSchema`
* He can use enum to choose data types: `Relation`, `Polygon`, `Pointer` during class creation
* Schema is now created
* Now he can create the new object with a full typed h

[2019-08-16 08:34] unmec commented on #5888
Um, just want to add that the docs are clear actually with an example of PUT command that I didn't catch earlier. ;-)

[2019-08-16 09:40] Moumouls commented on #5863
#5925

[2019-08-16 10:20] Moumouls commented on #5925
## Type Proposal

[code]

[2019-08-16 11:53] ridem commented on #5393
@dplewis @acinader are you interested in a PR covering this issue?

[2019-08-16 13:18] dplewis commented on #5393
I’m not really an expert in this area. If you can open a PR with failing cases that would be great.

There is a separate issue opened.

https://github.com/parse-community/parse-server/issues/5839

[2019-08-16 13:27] rameshkec85 opened #5928 "Uncaught (in promise) Error: bad key in untransform: __v"
Getting while migrating database to parse.

Uncaught (in promise) Error: bad key in untransform: __v

[2019-08-16 13:28] dplewis commented on #5928
Can you fill out the issue template and create a new issue?

[2019-08-16 13:28] #5928 closed

[2019-08-16 14:37] rameshkec85 opened #5929 "Uncaught (in promise) Error: bad key in untransform: __v #5928"
### Issue Description

Getting this issue while i am trying to add existing mongodb to parse-server :

 Uncaught (in promise) Error: bad key in untransform: __v #5928

### Steps to reproduce

Mongodb tables have this key : '__v' when i am using mongoose

### Expected Results

Should allow migrate and see the results of the particular class

### Actual Outcome

Getting below issue:
Mongodb tables h

[2019-08-16 16:22] mtrezza commented on #5875
The basic idea is that it should be possible to completely seal off the database from direct client SDK access and run all client-server communication through cloud code functions instead.

For example, instead of calling:

[code]

I want to call a cloud code function instead:

[code]

But this is not possible because there are several values of the `Installation` class that are composed SDK inter

[2019-08-16 16:37] mtrezza opened #5930 "Parse Config with ACL"
**Is your feature request related to a problem? Please describe.**
Parse Config is a convenient way to remotely configure client parameters. It can also be used in Cloud Code to conveniently configure global parameters like this:

[code]

However, using Parse Config for both poses a problem, as all config parameters are exposed to the client. Cloud Code parameters are of internal nature and it may

[2019-08-16 19:07] davimacedo commented on #5929
Fields starting with `_` are reserved for Parse Server usage. You will have to get rid of these fields before connecting Parse Server to your database.

[2019-08-16 19:07] #5929 closed

[2019-08-16 19:21] davimacedo commented on #5875
So I understand that your suggestion is adding access methods (like `ParseInstallation.getCurrentInstallation().getTimeZone()`) in the ParseInstallation class of Android SDK, right?

[2019-08-16 19:34] mtrezza commented on #5875
If it is actually that simple. There seems to be  some automated writing and reading happening for the Installation object by the client SDK. Like badge number update for example.

I’d have to take a look into the SDK but it seems that the Installation object is currently designed to be directly accessible by the client SDK.

[2019-08-16 20:03] Moumouls commented on #5930
Hi @mtrezza
What kind of configuration do you use in your cloud code functions ?

[2019-08-16 20:05] #5923 closed

[2019-08-16 21:24] mtrezza commented on #5930
@moumouls config parameters in cloud code can be useful if they
- need to be adjusted manually
- need easy access for manipulation via dashboard rather then hard coding them in cloud code
- need to be adjusted frequently where is it not an option to restart the environment for every adjustment
- the adjustment needs to have an instant effect rather than slowly propagate through individual instance

[2019-08-16 22:34] Moumouls commented on #5930
I think like @davimacedo that you need to use a class why:

* To have up-to-date settings in your cloud code, you will need to call `Parse.Config.get()` every time, but the main behavior of `Parse.Config.get()` is to retrieve all configuration objects, it's not really an optimized solution.
* `Parse.Config` is designed to be an easy, fast and lightweight solution for obtaining a configuration for

[2019-08-16 22:38] mtrezza commented on #5930
@moumouls I like it, I’ll go with a class.

[2019-08-18 00:44] mtrezza commented on #5930
Just to mention one advantage of Parse Config compared to a custom class: the parameters in Parse Config can easily be of different types, whereas in a class a column has one fixed type. I had to go with a column of type `Object` which requires some parsing when retrieving the value.

[2019-08-18 00:54] nathan-charles opened #5935 "File upload issue with GraphQL"
### Issue Description

I'm trying to upload a file from React to parse server using GraphQL but i'm getting the below response back.

[code]

Here is my React code

[code]

### Environment Setup

- **Server**
  - parse-server version : 3.7.2
  - Hosted on Back4App

[2019-08-18 01:07] mtrezza commented on #5930
Just to mention some advantages of Parse Config compared to a custom class:

- parameters in Parse Config can easily be of different types, whereas in a class a column has one fixed type. I had to go with a column of type `Object` which requires some parsing when retrieving the value. So there is some convenience lost.
- parameters that are used by client and cloud code have to be created in Parse

[2019-08-18 01:08] mtrezza commented on #5930
Just to mention some advantages of Parse Config compared to a custom class:

- parameters in Parse Config can easily be of different types, whereas in a class a column has one fixed type. I had to go with a column of type `Object` which requires some parsing when retrieving the value. So there is some convenience lost.
- parameters that are used by client and cloud code have to be created in Parse

[2019-08-18 01:28] davimacedo commented on #5935
@nathan-charles thanks for reporting. Do you ming to inspect the request in your web browser and share the headers and body that your react application is sending to the GraphQL API?

[2019-08-18 05:02] nathan-charles commented on #5935
@davimacedo

Headers
[code]

Body
[code]

[2019-08-18 18:21] Moumouls commented on #5935
It seems you don't send data : `"variables":{"file":null}`, please check your `onChange`:

[code]

[2019-08-18 19:00] nathan-charles commented on #5935
@Moumouls According to this that should be correct: https://github.com/jaydenseric/graphql-multipart-request-spec/blob/master/readme.md#multipart-form-field-structure

This is just minimal example to demonstrate the problem but on my app it does have the file that is sent when i console log before posting

[2019-08-18 21:19] Moumouls commented on #5935
@davimacedo i'm probably wrong but it seems that the content is empty

We do not allow empty files ?

[code]

[2019-08-19 00:48] mtrezza commented on #5378
don't close, still relevant

[2019-08-19 04:50] laticq commented on #5867
I have the same problem with `npm install parse-server`, version latest: 3.7.2

NPM LOG
[code]

[2019-08-19 05:25] davimacedo commented on #5935
I think we have a bug here. I am trying to figure it out. I will keep you guys posted.

[2019-08-19 05:38] laticq commented on #5867
I do not use the following features in my projects:
- graphql
- push
- s3-files
- redis

Are they required to install? Can I make the installation version without them or optionally?

[2019-08-19 07:47] davimacedo commented on #5935
These two PRs should fix the issue.

[2019-08-19 09:10] TomWFox commented on #5378
It won’t be closed now I’ve added the ‘help wanted’ label 🙂

[2019-08-19 12:44] paivaric commented on #5867
Hi @laticq
This `undefined ls-remote -h -t ssh://git@github.com/parse-community/node-apn.git` means you don't have git installed. Check it using `git --version` and install it from here https://git-scm.com/download/win

[2019-08-19 14:37] jomaw0 opened #5947 "Sign in with Apple - fill in Email Adress"
I have two questions regarding `Sign in with Apple`.
1. what do I have to store in the iCloud Keychain in order to get a session on another device (login). Because if i do `Sign in with Apple` again a new user is created.
2. is it possible to read the jwt-payload in order to fill in the email adress when the new user is created?

[2019-08-19 15:30] nathan-charles commented on #5935
Thanks! @davimacedo When will this be available on back4app?

[2019-08-19 17:40] outshot opened #5949 "Parse Android SDK Error : 209 : Invalid session token When un-Installing then Re-Installing the app"
Every time i uninstalled my app (User is not logged Out) Then i re-install the app i am getting
209: Invalid session token to all my requests to Parse Server.
I am using Parse 1.19.0 and Parse Server version 3.6.0

After Un-Installing and re-installing the app and re-opening it i am supposed to be redirected to the SignIn screen of my App but i am redirected to the Home Screen as if i am logged in

[2019-08-19 17:57] laticq commented on #5867
Thank you, it worked. But earlier versions of parse-server could be installed without git, I would like to do without it...
Why did this start to happen?

[2019-08-19 17:59] SebC99 commented on #5947
@jomaw0 I'm guessing your 1. issue is due to the actual parse-server implementation: every time you try to login in, you create a new account, even with the same device. A fix has been made, but is not yet released

[2019-08-19 18:34] dplewis commented on #5947
If you want the email in JavaScript it is returned as a user

https://developer.apple.com/documentation/signinwithapplejs/configuring_your_webpage_for_sign_in_with_apple

[2019-08-19 20:37] TomWFox commented on #5867
@laticq It is because @funkenstrahlen made a fix to the node-apn repo but they have not made a new release so he and @davimacedo made the decision to point to our own fork of node-apn instead. This means it is no longer being installed from npm but directly from GitHub instead.

[2019-08-19 20:39] jomaw0 commented on #5947
1. that’s great
2. so i have to change the user record on the device by changing the email address ?

[2019-08-19 22:38] RaschidJFR opened #5950 "Avoid error "All objects must exist on the server" on calling fetchAll()"
**Is your feature request related to a problem? Please describe.**
When you need to fetch a list of objects which can be managed (or deleted) by other users, you risk getting an error `"All objects must exist on the server"` if any of those objects no longer exists.

**Describe the solution you'd like**
Ideally, the call to `ParseObject.fetchAll()` could ignore nonexistent objects and go on with t

[2019-08-19 23:56] #5935 closed

[2019-08-20 01:05] mtrezza commented on #5930
Actually the PR seems fairly simple:

1. Add a `Bool` switch to the parameter create/edit popup in dashboard `Read with master key only` with default value `false`.
2. Add logic when changing the switch value add the parameter name to a `readWithMasterKeyOnly` array in the global config. When deleting a parameter remove its name from that array. Or flag the parameter somehow.
2. Change [GlobalConf

[2019-08-20 02:55] dplewis commented on #5950
You could use fetchAllIfNeeded

[2019-08-20 03:10] #5950 closed

[2019-08-20 08:11] davimacedo commented on #5935
@nathan-charles as soon as we have a new release of Parse Server it should be also available at Back4App.

[2019-08-20 09:01] Moumouls commented on #5930
Would you like to start these PRs (one for dashboard, and one for parse-server) ?
@davimacedo Do you see some drawbacks ?

[2019-08-20 09:29] davimacedo commented on #5930
I don't see any problem and I'd be happy to review the PRs.

[2019-08-20 09:34] davimacedo commented on #5949
This problem seems to be really specific to your app and the code that you wrote. I am not sure we will be able to help you here. I'd suggest you to open a question in stack overflow including as more details as possible and the pieces of code that you are using to check if the users is logged in or not.

[2019-08-20 09:34] #5949 closed

[2019-08-20 10:06] mtrezza commented on #5930
I’ll give it a shot.

[2019-08-20 18:01] mtrezza commented on #5930
PRs are ready for review:
- https://github.com/parse-community/parse-server/pull/5954
- https://github.com/parse-community/parse-dashboard/pull/1233

[2019-08-20 20:01] RaschidJFR commented on #5950
Thanks. `fetchAllIfNeeded()` works... but:

* What about `fetchAllWithInclude()`? it still throws the error.
* Still, there's no way to tell that an object no longer exists on the server without try/catch. Maybe create something like `ParseObject.exists()`?

[2019-08-20 20:11] dplewis commented on #5950
`await object.exists()` is a good idea. I've seen multiple developers ask for such a feature.

We could do FetchAllIfNeededWithInclude also.

@acinader @davimacedo What do you think?

[2019-08-21 04:21] davimacedo commented on #5950
I like both ideas.

[2019-08-21 18:23] Moumouls commented on #5863
# Proposal for ACL

[code]
@davimacedo  ?

[2019-08-21 18:57] davimacedo commented on #5863
It looks good to me. I would just do few changes regarding required fields:

[code]

[2019-08-21 21:12] Moumouls commented on #5930
Coud be interesting to implement the feature on `Parse.Config.save()` in the JS SDK: https://docs.parseplatform.org/js/guide/#save--update-config

I guess it's a little PR 😉

@mtrezza Do you think you can take a look at it?

[2019-08-21 21:16] Moumouls commented on #5930
## Suggestion
In addition of the current input:
[code]

We can support this type of input:
[code]

[2019-08-21 22:51] mtrezza commented on #5930
We have a working feature, my suggestion is to add that in another PR.

[2019-08-22 19:01] #5884 closed

[2019-08-23 02:38] #5603 closed

[2019-08-23 10:39] somq opened #5961 "Queries with a `where $nearSphere` operator AND a `count operator` returns a mongo error with parse-server > 3.0.0."
### Issue Description

On parse-server > 3.0.0, when querying a Class with a Geopoint filtered with $nearSphere and a count operator, mongodb returns an errors which is returned as an `internal server error` by parse-server.

#### Queries

- parse-server >= 3.3.0 with `count=1&where={...$nearSphere...` error is `MongoError: radius must be a non-negative number` ([example query](https://docs.parsep

[2019-08-23 17:35] davimacedo commented on #5961
@somq thanks for reporting. Do you mind to open a pr with a failing test case?

[2019-08-23 18:41] somq commented on #5961
@davimacedo Can you guide me through the steps please?
If I (dumbly) clone the repo, install mongo-db-runner and run `npm run test`, test complains that masterkey is missing etc...

[2019-08-23 20:16] davimacedo commented on #5961
Sure. Make sure that you are using Node.js >= 10 and try the following steps:

[code]

[2019-08-24 08:27] mtrezza commented on #5930
PR waiting to be merged:
- https://github.com/parse-community/docs/pull/667

PRs merged:
- https://github.com/parse-community/parse-server/pull/5954
- https://github.com/parse-community/parse-dashboard/pull/1233

[2019-08-24 17:17] TomWFox commented on #5930
I’ll merge the docs pr once new releases have been made for the server and dashboard.

[2019-08-25 08:07] jackeryjam opened #5971 "GraphQL: whether can support to class create mutation with a new subobject install of only a pointer"
Sincerely thanking for bring such a wonderful function(parse + graphQL) to us. I love it deeply.And when I use it, I also meet some question as follows.

![image](https://user-images.githubusercontent.com/32444505/63647260-fc8e3500-c750-11e9-973f-28e4ec787295.png)

If I want to do this, first step I should create the a record of the pointer class and write the object id to it, where can I write th

[2019-08-25 15:45] omairvaiyani commented on #5867
+1 I'm getting the same issue on Node `lts-alpine` on docker. I'll see if I can dig a little deeper.

[2019-08-25 18:53] funkenstrahlen commented on #5867
Do you guys thing we should add the parse owned  node-apn repository to npm to make deploys work without git installed?

[2019-08-25 18:55] funkenstrahlen commented on #5867
We decided to create our own fork of node-apn because the existing repository is no longer actively maintained. With the fork we can fix required changes.

[2019-08-26 04:50] davimacedo commented on #5971
@jackeryjam this issue was already tackled in this PR [here](https://github.com/parse-community/parse-server/pull/5946) and it will be available in the next release.

[2019-08-26 04:50] #5971 closed

[2019-08-26 04:53] davimacedo commented on #5867
@omairvaiyani double check if your docker container has git installed. It is probably the issue.

@funkenstrahlen I agree with you. I think we can avoid all these issues by publishing our fork to npm. @acinader can you help us here?

[2019-08-26 16:24] wfilleman opened #5975 "Permission Denied on npm install"
### Issue Description

Updated parse server to 3.7.2 from 3.6.0 and when running npm install, I receive the following error:

[code]

### Steps to reproduce

Run npm install

### Expected Results

npm install should install the latest parse server.

### Actual Outcome

It looks like there's a private lock somewhere restricting permissions to install parse server.

### Environment Setup

- **Server

[2019-08-26 17:55] funkenstrahlen commented on #5867
@acinader
https://github.com/parse-community/node-apn

[2019-08-26 21:19] #5975 closed, assigned to nobody

[2019-08-27 05:32] funkenstrahlen commented on #5867
Awesome! Thank you @acinader 😊👍

[2019-08-27 10:08] zivchen commented on #3381
@adammaddox did you manage to solve this?

[2019-08-27 12:35] funkenstrahlen opened #5983 "MongoError: Transaction numbers are only allowed on storage engines that support document-level locking"
I updated my parse server installation to version `3.8.0`. I first got this error in the logs:

[code]

This was of course an easy fix and the error went away after adding the option to my connection string.

Now I see another error for queries to the database:

[code]

I tried to find information on this issue myself and I think this is caused by my older MongoDB Server version. It currently runs

[2019-08-27 16:32] istvanbagi opened #5984 "Apple Game centre authentication support."
Dear Community,

I would like to have support for game centre authentication. Possible implementation would mean to integrate the framework
https://github.com/maeltm/node-gamecenter-identity-verifier
I would love to do this, but needs some support and directions.

Thank you

Istvan Bagi

[2019-08-27 21:16] #5649 closed

[2019-08-27 21:16] #5667 closed

[2019-08-28 01:07] hckhanh opened #5987 "Error: listen EACCES: permission denied 0.0.0.0:1337"
# Before opening the issue please ensure that you have:

- [x] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [X] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

I follow the Getting Started then I see this error

[code]

### Steps

[2019-08-28 12:41] rameshkec85 opened #5988 "Unable to query classes in cloud functions when we define multiple apps."
### Issue Description

I have created 2 apps using parse-server and parse-dashboard. Both the apps have different mongodb uris.

[code]

I have verified in API Console, which returns the results of the class successfully.

[code]

But I am trying to write cloud function for one app ('cwapp').

1. Working fine while invoking this cloud function using sample provided by the parse docs:

[code]
Curl

[2019-08-28 16:50] saimoomsafayet opened #5989 "objectId is null while using group pipeline with number"
### Issue Description

I am trying to use group pipeline to aggregate result based on a number field 'genderType'. But the objectId is returning as null instead of number.

objectId should not be null here.

### Steps to reproduce

[code]

output:
[code]

### Expected Results

[code]

### Environment Setup

- **Server**
  - parse-server version: 3.1.3
  - Operating System:  Ubuntu 18.04
  - Hardwa

[2019-08-28 18:25] rameshkec85 commented on #5988
Hi @davimacedo , thanks for the response. I have tried as you mentioned, but no luck.. :(

tried this one also :

[2019-08-29 01:39] davimacedo commented on #5988
Can you please share your most updated code including the lines that you are using to initiate Parse Server and the ones that you are mounting the apis to your Express.js app? I will try to simulate the problem.

[2019-08-29 02:50] davimacedo commented on #5983
@wfilleman I tried to reproduce the error with this operation but it worked fine for me. Do you mind to write a small js script that could reproduce the error so I can run here and analyze?

[2019-08-29 03:35] davimacedo commented on #5989
Just added a PR to solve it: https://github.com/parse-community/parse-server/pull/5994

In the meantime you can use:

[code]

[2019-08-29 05:33] rameshkec85 commented on #5988
Hi @davimacedo,  Please find the logs what i have tried and also attached app.js

cloud function POST method refers to **/cwapp/functions/getTestDB**, But

Query in cloud function is referring to **/app1/classes** instead of **/cwapp/classes**
GET /app1/classes/TestDB 200 5879.092 ms - 14

[code]
I have added app.js content in the below attachment. i have also added mlab url for  reference too.

O

[2019-08-29 07:41] davimacedo commented on #5988
Thanks for sending the detailed information. I've just gone through your code and I've figured out that it will actually not work.

Since the apps are instantiated under the same Node.js process, they are sharing the same Parse JS SDK. But the JS SDK was designed to connect to a single server URL as you can see [here](https://github.com/parse-community/Parse-SDK-JS/issues/203). The `Parse.serverUR

[2019-08-29 07:41] #5988 closed

[2019-08-29 10:33] zhgromov opened #5996 "Parse crashes periodically - 503 error"
Hello. We connected our backend (node js) to parse server and its work earlier. But in the last week there are constantly problems with the parse server - a 503 error when working with the API is restored by itself in a few minutes or hours. I understand this is an API server error, how can I solve it? It becomes impossible to work - 503 errors more and more oftensimilarly parse-dashboard stops wo

[2019-08-29 10:37] sureshkodur commented on #3736
hi, I have the same issue

[2019-08-29 10:39] rameshkec85 commented on #116
Cloud functions are not working in this repo.

[2019-08-29 11:54] funkenstrahlen commented on #5983
I just tried to debug the issue. However it is difficult for me because the issue only occurs on production because only my production server actually uses a mlab **database cluster**. I do not see the issue in my testing environment which runs on a free mlab instance.

Maybe this is the cause why this error does not show up in parse server CI testing? Because it also tests on a simpler MongoDB se

[2019-08-29 13:06] wfilleman commented on #5983
@funkenstrahlen Same here. I run mlab's database cluster in production and that's where I see the issue as well.

[2019-08-29 15:08] macarthuror commented on #3931
You can try this [email adapter](https://github.com/macarthuror/parse-smtp-template) to send custom templates and multi language template support.
Is really simple to use and customise.

Hope you like it 😃🖖

[2019-08-29 15:34] davimacedo commented on #5996
Can you please fill out the [issue template](https://github.com/parse-community/parse-server/issues/new?template=---report-an-issue.md)?

[2019-08-29 15:34] #5996 closed

[2019-08-29 15:42] davimacedo commented on #5983
Do you guys now your mlab production settings? Version, topology, and engine?

We can set mongodb-runner to run in a similar one through env vars. Take a look [here](https://github.com/parse-community/parse-server/blob/master/package.json#L100). The CI actually run different scenarios that you can see [here](https://github.com/parse-community/parse-server/blob/master/.travis.yml#L25).

[2019-08-29 18:28] KAIOAVILA opened #5998 "Error Occurring Using Parse.Cloud.beforeLogin"
### Issue Description

I'm implementing a check to make sure the user can sign in to the app, but an error occurs while trying to log in to the app.

For the error to occur, the class User must have a column with file and the record must have some file, if null works normally

### Steps to reproduce

Cloud implementation code snippet
[code]

`3|AP | Error: Tried to encode an unsaved file.
3|AP |

[2019-08-29 18:50] wfilleman commented on #5983
@davimacedo I'm not 100% sure where that info is in mlab. There's output from rs.conf() that looks like config data for the production servers. Is there something in that output I can provide?

[2019-08-29 19:26] funkenstrahlen commented on #5983
I tried to create a new test case scenario to match my production mlab setup via this PR: https://github.com/parse-community/parse-server/pull/5999

However the travis test build did not find any issues when running through the test suite as you can see in the PR.

My mlab setup is `3.6.11 (MMAPv1)`. Configuration output looks like this:

[code]
(I censored the keys with XXXXX)

I assume creating

[2019-08-30 01:45] davimacedo commented on #5998
Thanks for reporting. This PR should solve this issue: https://github.com/parse-community/parse-server/pull/6001/files

[2019-08-30 02:07] #5998 closed

[2019-08-30 02:35] davimacedo commented on #5983
I think you should test with:

[code]

It will make the test to run with the storage engine `MMAPv1` which is the default.

I will also try to reproduce it later today.

[2019-08-30 15:36] jomaw0 commented on #5947
Have you heard anything new yet? Because rumours are that Apple will be having a presentation on the 10th of September and Apple often rolls out there software about a week and a half later. That would be about on 21th of September.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-30 15:46] cantaspinar commented on #3741
I guess we still can't create an object with this way?

[2019-08-30 18:00] acinader commented on #3741
@cantaspinar any interest in tacking a stab at this one?  [flovilmart's](https://github.com/parse-community/parse-server/issues/3741#issuecomment-296441269) suggestion is good.

[2019-08-31 07:49] cantaspinar commented on #3741
I will try take a look at this

[2019-09-01 23:16] #5798 closed

[2019-09-02 02:27] xianhaosui opened #6012 "beforeSave Why can't submit successfully"
Parse.Cloud.beforeSave('VehSubscribes', (request) => {
  const hphm = request.object.get('hphm')
  if (hphm.length > 3) {
    // test
    request.object.set('hphm', hphm.substring(0, 3) + '...')
  }
})

The above code could not save the data

[2019-09-02 02:48] dplewis commented on #6012
Can you post logs? VERVOSE=1

Your code looks right.

Can you fill out the issue template? It would help if we know expected vs actual results.

[2019-09-02 02:48] #6012 closed

[2019-09-02 05:08] davimacedo commented on #5521
@RaschidJFR Can you please open a PR with this failing test? Are you willed to investigate and solve this bug?

[2019-09-02 05:34] #5989 closed

[2019-09-02 05:38] #5925 closed

[2019-09-02 06:10] xianhaosui commented on #6012
res.success()

Must be written in order to submit, thank you

[2019-09-02 07:20] funkenstrahlen commented on #5983
I tested with your recommended configuration in this PR: https://github.com/parse-community/parse-server/pull/6013

Unfortunately this also did not reproduce the error.

Maybe it does only occur when `retryWrites=false` is set on the connection string? I could not find out how to set this parameter in the travis testing environment of parse server though.

[2019-09-02 17:10] davimacedo commented on #5983
I also tried and couldn't reproduce. There is no such option to set retryWrites=false via env vars in Travis, but you can create a new test case and use `reconfigureServer` to set your mongo options. Something similar to this: https://github.com/parse-community/parse-server/blob/master/spec/ReadPreferenceOption.spec.js#L50

[2019-09-02 21:24] RaschidJFR commented on #5521
Yes, I can tackle this. Just give me a starting point to look.

[2019-09-02 22:03] dplewis commented on #5521
https://github.com/parse-community/Parse-SDK-JS/blob/master/src/ParseObject.js#L1704

In fromJSON creates a new object. Your SubClass creates pendingOps.

The solution is to delete the pending ops when creating a new object.

I’m not sure this will have side effects when using subclasses.

[2019-09-02 23:43] dplewis commented on #5521
@RaschidJFR Which one of the following makes sense?

1. Clear pendingOps in `fromJSON`
[code]

1. If pendingOps exists set the attributes in fromJSON
[code]

[2019-09-03 00:16] RaschidJFR commented on #5521
I think the second case makes more sense being the value in fromJSON the lasting value.

[2019-09-03 00:38] dplewis commented on #5521
Feel free to submit a PR on the JS SDK.

[2019-09-03 10:14] omairvaiyani opened #6016 "GraphQL invalid options errors"
Since `3.8.0`, I'm receiving this error message on any query:

[code]

I thought it's worth opening an issue whilst I look for the reason/solution myself. If anyone else is having the same problem, please +1 so I know it's not just me!

[2019-09-03 10:52] omairvaiyani commented on #6016
Fixed by adding the exact version of graphql as used by parse-server into the repo`package.json`, and running a fresh npm install.

[2019-09-03 10:52] #6016 closed

[2019-09-03 12:12] omairvaiyani commented on #5983
+1 I had this error until I added `retryWrites=false` to my database uri.

[2019-09-03 12:22] funkenstrahlen commented on #5983
So maybe I have a problem with my database uri?

[2019-09-03 12:25] omairvaiyani commented on #5983
you could paste it here for us to dissect - take care to remove the hostname and authorisation details like so:
`mongodb://xx:xx@xx.com:33427,xx.com:33427/database-name?replicaSet=rs-xx&ssl=true&retryWrites=false`

[2019-09-03 12:34] funkenstrahlen commented on #5983
I feel very bad right now because I made an obvious mistake!

I appended `?retryWrites=false` to the URI. However this is wrong as there is already the `replicaSet` parameter and therefore I need to append `&retryWrites=false` to make it work correctly.

So this is how it looks right now:

`[...]?replicaSet=rs-ds147179?retryWrites=false`

Working perfectly without any errors.

Thanks for all your

[2019-09-03 16:01] fbeiger opened #6019 "Transactions enabled by default on REST requests"
### Issue Description

I updated parse-server to the 3.8.0 release (which include a newest addition of transactions).

I found that transactions are enabled by default when performing a REST request (either from the JS client, parse-dashboard, or a simple POSTMAN), **without** using the `transaction: true` parameter in the payload.

Although, cloud-code seem to work as expected, as I am still able

[2019-09-03 16:16] davimacedo commented on #6019
The transaction should only be opened when using the `transaction: true` option through the `batch` route. I will write a test case to ensure that. In the meantime, can you please take a look in the following issue?

https://github.com/parse-community/parse-server/issues/5983

[2019-09-03 18:06] ashecret opened #6021 "MongoDB Aggregate pipeline with $group and $count on a Pointer reference returns wrong data"
I have a set of data in MongoDB with *parse-server* in the following format-

[code]

I have been trying to group the data based on the user's gender to find out how many male, female, non-binary or N/A users have rated. **user** field in a pointer reference to **_User**. I am using the following aggregate pipeline.

[code]
Result =>
[code]
However, returned data count doesn't match with actual da

[2019-09-03 19:13] davimacedo commented on #6019
@fbeiger see this PR: https://github.com/parse-community/parse-server/pull/6022

I added many tests and it seems to be working as expected. Feel free to add more tests to this PR in order to reproduce the problem.

Have you tried the approach of the other issue I sent you?

[2019-09-03 22:23] mtrezza commented on #5983
What is the takeaway here?
So parse server >= 3.8 that connects to a mLab shared cluster needs to have `retryWrites=false` in the connection string? If yes, why is that?

[2019-09-03 22:33] mtrezza commented on #5983
If I understand correctly, the takeaway here that the storage engine was MMAP1 which does not support retry writes and thus needs `retryWrites=false` in the connection string.

@davimacedo If this affects users who upgrade to 3.8 it may be worth adding a release note regarding this?

[2019-09-04 00:04] mtrezza commented on #5930
@TomWFox Please reopen.

I just realized that some changes need to be made in the JS SDK as well. The tests passed because they use REST requests, but the JS SDK does not regard the `useMasterKey` option yet:

https://github.com/parse-community/Parse-SDK-JS/blob/074f65135be751cc987eadfd570b1409bf00110b/src/ParseConfig.js#L80

So `const config = Parse.Config.get({useMaserKey: true});` does not work

[2019-09-04 00:08] davimacedo commented on #6021
I've just post an answer to your stack overflow question: https://stackoverflow.com/questions/57776562/mongodb-aggregate-pipeline-with-group-and-count-on-a-pointer-reference-returns/57779969#57779969

[2019-09-04 00:08] #6021 closed

[2019-09-04 00:46] davimacedo commented on #5983
I've just taken a closer look in the MongoDB docs to understand the reasons. So let's go:

- In the last release of Parse Server, [3.8](https://github.com/parse-community/parse-server/releases/tag/3.8.0), we've upgraded our MongoDB driver to its latest version [v3.3.0](https://github.com/mongodb/node-mongodb-native/releases/tag/v3.3.0);
- According to the MongoDB driver [v3.3.0](https://github.com

[2019-09-04 04:01] #5983 closed

[2019-09-04 07:12] davimacedo commented on #5863
@Moumouls I think that, in addition to the PRs that are already on going, we are only missing to complete the Relay Spec, right?

[2019-09-04 07:53] fbeiger commented on #6019
Hi @davimacedo , thanks for your quick response and investigation.

I tried to set `retryWrites=false`, but unfortunately it didn't work for me.

I'll need to investigate more on my side before coming back to you with a test case or specific scenario.

Thanks again for your time

[2019-09-04 10:10] fbeiger commented on #6019
Hi again @davimacedo, quick update on this issue.

After detaching my  mLab addon, then attach a fresh one (with the same config) and restoring the previous DB, this error finally came up:
[code]
Then obviously adding the query param (and #5983) solve it.

I don't know what caused the issue in the first place though.

Anyway, now everything is working fine, thanks!

[2019-09-04 10:10] #6019 closed

[2019-09-05 10:29] buithuyen commented on #6016
I have the same one. Could you please give me more information about that.

[2019-09-05 10:49] omairvaiyani commented on #6016
The error occurs when you have multiple versions of graphql in your node modules folder. You can confirm this by going into your package lock file, and searching `"graphql"`: if you see more than one version, npm will have resolved different versions inside your child dependency's node modules. Check which version of graphql is expected by your version of parse-server, and then make sure you set t

[2019-09-05 21:22] dplewis commented on #5834
@postgetme I opened a PR https://github.com/parse-community/parse-server/pull/6028. Can you test and see if it works for you?

[2019-09-05 22:49] nathan-charles commented on #5935
Hi @davimacedo I just tested with the new release (3.8.0) on back4app for some reason i'm still getting an error. I also see this in the response headers "Error from cloudfront" not sure if this is parse server related or back4app issue. Thanks

[2019-09-06 00:27] mtrezza commented on #5930
@Moumouls Eventually I added the functionality you requested in https://github.com/parse-community/Parse-SDK-JS/pull/910.

[2019-09-06 23:40] tealshift opened #6035 "ACCOUNT_ALREADY_LINKED Error when logging in with Facebook"
### Issue Description

When logging in with Facebook (or perhaps other authentication methods) I get a error message:
'this auth is already used' which is error code ACCOUNT_ALREADY_LINKED.
This happened on both Parse Server versions 3.7.2 and 3.8.0.
After downgrading to version 3.1.1 this bug does not occur.

### Steps to reproduce

I'm more of a mobile app dev than a web dev, so my STR are to ru

[2019-09-07 01:24] davimacedo commented on #5930
@mtrezza I think we can now close this one, right?

[2019-09-07 09:46] mtrezza commented on #5930
We can! Thanks everyone for their support! 🚀

[2019-09-07 16:34] #5735 closed

[2019-09-08 06:24] davimacedo commented on #6035
@tealshift I couldn't reproduce the issue. Is the user that you are trying to log in a new user? Or is it a user that was previously saved as anonymous or so?

[2019-09-08 08:56] tealshift commented on #6035
@davimacedo It was an existing user in my app. I believe it happened even after unlinking and relinking Facebook through the SDK. I also tried a totally separate user with a different Facebook.
... I’m really confused.

[2019-09-09 02:48] davimacedo commented on #6035
Can you please make sure what is the scenario that it is happening? It will be easier for us to reproduce.

[2019-09-09 06:33] davimacedo commented on #5935
@nathan-charles do you mind to open a ticket at Back4App sending your app id so they guys there can investigate your case? Tks.

[2019-09-09 19:29] Vortec4800 opened #6041 "Mongo 4.2 Support"
It appears the TravisCI tests run against Mongo 3.6 and 4.0, but I don't see anything testing against 4.2. Is this accurate? What versions of Mongo does Parse Server officially test against and support?

[2019-09-09 19:30] tealshift commented on #6035
Ok, I just made a fresh project on Xcode 11 beta 7 (login only) linked to my staging app server and Facebook app, and the crash did reproduce. Is it ok if I DM you a download @davimacedo ?

[2019-09-09 19:52] tealshift commented on #6035
Interestingly, my own (and my coworker's) Facebook account produces the crash, but a Facebook "Test User" does not. Fortunately I have a real (throwaway) Facebook account I made for testing which I can share login credentials for and does produce the crash.
Switching Facebook users requires going into Safari and logging out, then in with the other user.

[2019-09-09 22:02] davimacedo commented on #6041
That's true. There is no tests for Mongo 4.2 in our CI and I think we should include it.

[2019-09-10 13:45] thunderwin commented on #2861
guys , I m facing the same ,  only OPEN event works,  others events doesn't work..

[2019-09-10 16:31] dplewis commented on #2861
@thunderwin Can you open a new issue and fill out the template?

[2019-09-10 16:39] dplewis commented on #6041
As of the latest release 3.8.0 supports MongoDB 4.2.

[Mongo DB Driver 3.3.0](https://github.com/mongodb/node-mongodb-native/releases/tag/v3.3.0)

[2019-09-10 18:29] jsyadav1996 commented on #1075
i had same error while login so i just changed data type of password column in users table from varchar to text and it worked.

[2019-09-10 21:32] mtrezza commented on #6035
@tealshift Very trivial, but did you verify that
- unlinking in the SDK causes the auth data in the DB to be removed
- there is no other user with the auth data; maybe delete all users from the DB and test with only 1

[2019-09-11 14:34] #5834 closed

[2019-09-11 18:34] HerrNiklasRaab commented on #4847
@flovilmart What needs to be done to move the "parse_server_sdk" repository to the "parse-community" organization? At the moment we don't feel really confident to go with "Flutter + Parse Server" because it is not really maintained under the hood of the main organization. Hope you understand what we are concerned about.

It has 170 stars on Github. Arduino, for example, is under the official SDKs

[2019-09-11 18:41] davimacedo commented on #4847
The Flutter SDK is an initiative and mainly maintained by @phillwiggins so it is actually his decision to move it or not to the parse-community organization. If he wants to do so, I'd be more than happy to move forward with this.

[2019-09-11 18:43] TomWFox commented on #4847
@davimacedo’s right, I would also be happy to see the SDK move into the community org.

[2019-09-11 19:09] phillwiggins commented on #4847
Hey

I've not had a chance in the past few months to do much with this either. I'd like to move it to the community, hopefully we can see it grow further!

[2019-09-11 21:30] tealshift commented on #6035
@mtrezza I did confirm the authData was cleared, but I didn't check against the other two possibilities. I could try with a fresh database/app, but I kind of doubt that will help solve my problem. I appreciate the suggestion though.
Davi says his team is on the case and I think they are more knowledgable than me here.

[2019-09-11 22:24] mtrezza commented on #5930
Reopened, because Parse Server 3.8.0 still points to Parse SDK 2.6.0 instead of 2.7.1.
So the feature is not usable.

@davimacedo can we please create a Parse Server release?

[2019-09-11 22:29] davimacedo commented on #5930
@mtrezza I think we can.

@dplewis what do you think? Is there something else that you want to include in the next release yet?

[2019-09-11 22:51] davimacedo commented on #4847
Nice @phillwiggins ! Here it goes how the process works: https://help.github.jp/enterprise/2.11/user/articles/transferring-a-repository-owned-by-your-personal-account/

I will add you as a member of the parse-community so you will be able to create a new repository. You should receive an invitation soon.

[2019-09-12 02:34] dplewis commented on #5930
@davimacedo None that I can think of. Go for it!

[2019-09-12 07:48] phillwiggins commented on #4847
All done @davimacedo.

I started by created a repository, but realised after it was probably best to just transfer ownership. The repository [Here](https://github.com/parse-community/Parse-SDK-Remove) needs removing and the one I have transferred needs the naming convention changing but it's free for the community to play with!

Once my current personal project is finished I will jump back on boar

[2019-09-12 23:26] GoGross opened #6047 "Documentation concern"
I am really concerned about the pace at which changes and releases are being pushed arbitrarily with no documentation. Ever since we upgraded to 3.0 one needs to be fully following the repo to catch-up as some of these changes have gone under the Radar with no consideration or updating of the docs. I hope I am wrong about this and that this wonderful project does not become a project for a select

[2019-09-13 07:44] TomWFox commented on #6047
As a follow up to @mtrezza’s point about encouraging the documentation of new features. I think it would be a good idea to use [pull request templates](https://help.github.com/en/articles/creating-a-pull-request-template-for-your-repository) to highlight key points of the contributing doc such as providing documentation.

[2019-09-13 08:38] omairvaiyani commented on #6047
Here, there are clearly some very good concerns and equally good suggestions to mitigate them. I'll add one such suggestion, and hopefully we can get a plan underway to make sure everyone's happy, on the same page and can see the roadmap ahead.

There are a few too many locations that store information for users looking to learn, or finding solutions. Instead of having the github README, and githu

[2019-09-13 08:42] TomWFox commented on #6047
I totally agree on removing wikis and README content, happy to take that on.

[2019-09-13 13:04] TomWFox commented on #4847
Awesome, I've started a guide for the docs website ([draft PR](https://github.com/parse-community/docs/pull/671)).

@phillwiggins what do you think about moving your slack group over to the existing community one?

[2019-09-13 14:08] mtrezza commented on #6047
Another minor thing, it would be nice to see release notes consistent across repos.

For example, the new release of [Parse iOS SDK](https://github.com/parse-community/Parse-SDK-iOS-OSX/releases) has all changes in the change log, but none mentioned in the release log which can be confusing.

[2019-09-13 14:26] TomWFox commented on #6047
@mtrezza Ha, as you've noticed, I fixed that specific example, but yes changelogs should be a lot more consistent, @omairvaiyani suggested some packages/conventions we could use [here](https://github.com/parse-community/parse-server/pull/6045).

[2019-09-13 16:47] mtrezza opened #6049 "Saving pointer saves whole object"
### Issue Description

Saving a `User` pointer in an array saves the whole object.
Possibly related to https://github.com/parse-community/parse-server/issues/691.

### Steps to reproduce

1. Open Parse Dashboard.
1. Add a class with a column of type array.
2. Add a pointer value of an existing user to the array, e.g.
[code]
3. Pointer is saved correctly (check directly in DB, not via parse dashboa

[2019-09-13 17:54] davimacedo commented on #6047
I love the ideas here and I think that we can really have a much better documentation experience by moving forward with them!

I've just created a project so we can track the progress of the ideas we generated here and some other threads: https://github.com/parse-community/parse-server/projects/8?add_cards_query=is%3Aopen

Feel free to change/suggest changes to the tasks and grab any of them for e

[2019-09-13 18:19] davimacedo commented on #6049
It is probably a bug in the Parse Dashboard. It seems like a corner case of this bug that was recently addressed: https://github.com/parse-community/parse-dashboard/pull/1223

I will take a look on this.

[2019-09-13 21:58] davimacedo commented on #5434
I am reopening this one since similar features have been recurrently requested.

[2019-09-14 05:17] phillwiggins commented on #4847
Hey Tom

Yeah of course. I'm not sure how to do that but will figure it out!

On Fri, Sep 13, 2019, 14:05 Tom Fox <notifications@github.com> wrote:

[2019-09-15 14:35] mtrezza opened #6052 "Is cleanup invalid device tokens safe to use?"
**TLDR;**
Is `PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS` save to use?

### Issue Description

Parse Server [v2.6.2](https://github.com/parse-community/parse-server/blob/master/CHANGELOG.md#262) introduced a feature to clean up invalid device tokens. There have been issues reported where valid device tokens have been removed, some of which have been closed without further investigation, notably:
-

[2019-09-15 15:36] mtrezza opened #6053 "Missing docs which data can be manipulated directly in DB"
### Issue Description

For certain use cases it can be more efficient to manipulate data on the DB level than via Parse Dashboard or a Parse SDK.
- For example bulk operations on large collections can be executed more efficiently in the MongoDB shell or via a MongoDB Script than routing the command through parse server.
- Or it may just be dropping a collection or removing a field from every docum

[2019-09-16 06:55] davimacedo commented on #6053
A documentation explaining the data model could be a good idea but I am not sure if we should specify which/how operations could be done directly in Mongo.

[2019-09-16 07:21] RaschidJFR commented on #5521
I created a [PR](https://github.com/parse-community/Parse-SDK-JS/pull/924). It is failing some tests but you'll get the general idea. I'll continue on it next week.

[2019-09-16 07:41] davimacedo commented on #6049
This PR should fix it: https://github.com/parse-community/parse-dashboard/pull/1291

[2019-09-16 11:03] mtrezza commented on #6053
@davimacedo Yes, I think the data model would do it.

With a note that before/after could code hooks are not applied. Which is not be obvious because one could think that parse server listens to MongoDB change streams and executes the hooks, which is not the case.

[2019-09-16 14:00] douglasmuraoka commented on #6049
I have found just one issue.
When editing the following array, its value is rendered correctly on parse-dashboard but the changes aren't persisted. When you hit the refresh button, "foo" attribute disappears.

[code]

[2019-09-16 22:55] davimacedo commented on #6049
@douglasmuraoka thanks for reporting. It should not save the attribute. So I pushed one more commit to the PR in which we do not show invalid pointers anymore after commiting a change. Can you please take a look again?

[2019-09-17 07:17] fuqiangZ opened #6055 "I can not use any third lib in CloudCode."
I want to use mailgun in my CloudCode.

1. install lib in parse-server,

check the package.json, `"mailgun-js": "^0.22.0",` exists

2. require mailgun in cloudcode
[code]
3. start the parse-server. Then error occurs:
[code]

[2019-09-17 07:51] davimacedo commented on #6055
Can you please fill out the issue template? https://github.com/parse-community/parse-server/issues/new/choose

[2019-09-17 07:51] #6055 closed

[2019-09-17 08:38] TomWFox commented on #4847
@phillwiggins I didn't have anything fancy in mind, I just thought we'd setup whatever channels you'd like on the community slack and then you could post a link in your slack?

[2019-09-17 08:52] phillwiggins commented on #4847
@TomWFox

Ah okay, can you invite mate to the Parse Slack group please. phill.wiggins@gmail.com

[2019-09-17 08:57] TomWFox commented on #4847
It says you're already in the group. Here is a public [invite link](https://join.slack.com/t/parseopensource/shared_invite/enQtNjk2NzY1NDU3NDkxLTgwOGM1ZjRhYTM5MTRiMmEwYWU5MTNiZWNiNzZjNzY0ODQwNzU1MGVlMWI2NTI2ZWQ3NTA1NDgyZWNiY2U2MjM) - it shouldn't expire so you could use this to share with people in your group.

[2019-09-17 08:59] TomWFox commented on #4847
I've added a flutter-sdk channel, let me know if you would like any others.

[2019-09-17 09:03] fuqiangZ commented on #6055
well, i maybe know why.
I git clone the source code and run `lib/cli/parse-server.js` directly. Besides i add dependency lib into the parse-server’s package.json。With this way, i can not require lib in the cloud code.
But, i download the parse-server-example, then add dependency to the package.json,  then reuqire the lib in the cloud code, it works...Ohh

Am i right ?  I'm new to parse-server.

[2019-09-17 09:05] rhuanbarreto commented on #3014
@bartroelands Can you post the code you used to connect the server to Keycloak? This would help me and the community a lot about the implementation. Maybe I could improve the documentation with this info.

[2019-09-17 11:01] fuqiangZ commented on #6055
well, solved again..... If i put the cloudcode dir out of the parse-server dir, then can not use these libs. But, put the cloudCode dir in the parse-server dir , it works.... That...

[2019-09-17 16:01] Vortec4800 opened #6057 "Parse-maintained node-apn"
Is Parse maintaining their own fork of node-apn now? I'm getting a ton of errors when sending push messages about HTTP2 GOAWAY handling that seem to be related to this issue/PR: https://github.com/node-apn/node-apn/issues/640

That's from quite a while ago now and it seems like it's not going to be merged in, and even if it is I don't know if it would get merged in the new Parse fork.

[2019-09-17 16:35] funkenstrahlen commented on #6057
Parse does maintain its own fork of node-apn for some weeks now. Exactly for this reason: We want to be able to change code without relying on an inactive node-apn repository.

As far as I can see this issue could be fixed if we merge this into our fork: https://github.com/node-apn/node-apn/pull/643

Correct?

[2019-09-17 16:36] funkenstrahlen commented on #6057
If everyone agrees on this I can apply the changes to our fork tomorrow.

[2019-09-17 16:39] funkenstrahlen commented on #6057
@Vortec4800 In case you have some time to work on it you could also create the PR to our fork: https://github.com/parse-community/node-apn

[2019-09-17 17:05] #6049 closed

[2019-09-17 17:27] Vortec4800 commented on #6057
That is my (admittedly limited) understanding as well. I might be able to do it later today, if so I'll put together a PR.

[2019-09-17 18:29] noobs2ninjas opened #6059 "Add unique fields only capability to schema."
It would be really great if we could add like a uniqueFieldsOnly filed to the schema rest functionality.

Recently I've been working in a more professional/complex deployment pipeline where I have a Production, Development, and local parse servers. This brought me to the schema endpoint for deploying structure changes down the pipeline. As you know doing a POST to the schema endpoint with anything

[2019-09-17 18:48] davimacedo commented on #6059
Can you detail how the `uniqueFieldsOnly` option would work?

[2019-09-17 19:25] noobs2ninjas commented on #6059
The option would simply ignore all universal system reserved fields(objectId, createdAt, updatedAt) as well as any additional system info. So, rather than returning this.

[code]

It would return this.

[code]
In other words it would return just the data thats allowed when doing a POST or PUT to the schema endpoint. Making things like automated schema deployment, transfering, or duplication much m

[2019-09-17 19:51] davimacedo commented on #6059
I think your issue is related to [this](https://github.com/parse-community/parse-server/issues/5434) one. But I am afraid that, even returning these fields, you will not be able to just push them to the schema API since Parse Server does not currently support changing existing fields. I think we should come up not only with an option in the existing API, but two new endpoints (pullSchema and pushS

[2019-09-17 21:02] noobs2ninjas commented on #6059
That would add such great potential that goes way beyond even what I was hoping for.

You know whats funny is that I think what you just suggested was the entire goal of schema when it was released. It's been a while but I remember an article on the parse homepage, we're talking even before Facebook bought Parse when schema was first announced that talked about a long term goal of wanting to appea

[2019-09-17 22:38] kcolton opened #6060 "Separating schema and user/session cache"
**Is your feature request related to a problem? Please describe.**
We have a large schema which is currently being cached in redis. Our schema cache is using significant resources due to its size (~64KB) and that it gets accessed multiple times per request (we process several hundred requests per second).

Our schema cache is putting an amount of pressure on redis (and even the raw networking) tha

[2019-09-17 23:17] dplewis commented on #6060
Which version of Parse Server are you using? Improvements have been made such as less validation of schema and reducing bottleneck on RedisCacheAdapter.

[2019-09-18 08:02] funkenstrahlen commented on #6057
I found some time this morning and created a PR with the required changes: https://github.com/parse-community/node-apn/pull/7

[2019-09-18 08:25] n-so opened #6061 "Memory leak issues when upgrading form parse server ‘~2.x’ to ‘~3.x’"
### Issue Description
Hi,
When upgrading from parse-server ‘~2.x’ to ‘~3.x’
I started getting memory leaks issues.
I searched the web and tried many ways to fix this, the only solution that worked was to set enableSingleSchemaCache: true,
But I do not what to use this solution for production .(I don't want to take any risks)
Is there any other solution for this?

attached is a screenshot : compari

[2019-09-18 10:13] dplewis commented on #6061
@n-so You can check out [this](https://github.com/parse-community/parse-server/issues/4247) for possible solutions when not using enableSingleSchemaCache. I don't believe those solutions have been implemented since a solution already exists. Feel free to try and test them for yourself. We will try to look into it also.

@acinader @davimacedo Should enableSingleSchemaCache be set to true by default

[2019-09-18 10:37] n-so commented on #4238
@flovilmart
I have the same issue when upgrading to parse server 3.x
Is there any other solution except from enableSingleSchemaCache:true?

[2019-09-18 11:33] mtrezza commented on #4238
@n-so can you provide more details about the environment you are running?

[2019-09-18 11:36] n-so commented on #4238
@mtrezza Thanks for your quick replay .
I posted an issue [#6061 ](https://github.com/parse-community/parse-server/issues/6061)
thanks.

[2019-09-18 15:07] Vortec4800 commented on #6057
Cool thanks for this, will be good to get this merged and updated when it's ready.

[2019-09-18 20:20] kcolton commented on #6060
@dplewis Thanks for the reply.

Version: 3.7.2

We saw a reduction in total number of redis ops after #5612 and #5616 (thanks btw! was a really nice change) as well as when we changed to `enableSingleSchemaCache: true` which did dramatically increase our cache hit ratio. We are also using `directAccess: true` although that did not seem to affect redis ops.

However, even with all of that, there's

[2019-09-18 21:28] kcolton commented on #6060
Just tried running 3.9.0 locally and I'm no longer seeing the `SCHEMA<Collection>` lookups, but seems to be the same number of `"get" "badpanda:__SCHEMA__MAIN_SCHEMA"` which is the problematic key causing all the load.

[2019-09-19 05:23] davimacedo commented on #6061
Yes. I think it should be set by default. We'd need to mention it in the next release and ideally also the downsides of it.

[2019-09-19 05:33] n-so commented on #6061
Hi @davimacedo ,
Are there any risks  when setting enableSingleSchemaCache to true?
What are the downsides of enableSingleSchemaCache?

[2019-09-19 05:33] davimacedo commented on #6057
closed via https://github.com/parse-community/node-apn/pull/7

[2019-09-19 05:33] #6057 closed

[2019-09-19 09:05] MikeJuliet opened #6065 "Hosting parse server"
Is there anyone that can assist me to get my parse server running on Linux?

I have tried "DIY" but keep on failing.

[2019-09-19 17:23] mrmarcsmith commented on #6065
Hi Mike, there are two major philosophies I have found for spinning up parse servers, each with their own advantages and disadvantages. In the near future, are you looking for Lowest Cost or the Best Scalability?

Lowest Cost Advantages:
- Less Money (duh)
Lowest Cost Disadvantages:
- no mongo replication means possible data loss up to the last mongo backup you took
- no mongo replication means th

[2019-09-19 18:41] mrmarcsmith opened #6066 "Add Parse Endpoint that "sends all scheduled pushes""
I have no idea how to **cleanly** send all of my scheduled push notifications ensuring:
1. the status of that push object is updated appropriately after sending and we don't just create a duplicate _PushStatus object
2. we respect the scheduling rules baked into the _PushStatus object (we don't send too early or skip pushes that should be sent)

I'm hours into researching how to use parse to send

[2019-09-19 21:03] davimacedo commented on #6066
It makes sense for me. I am not sure if it would be better an endpoint at Parse Server or a command at Parse CLI or maybe a separate package. What do you think? @acinader @dplewis thoughts?

[2019-09-19 21:07] davimacedo commented on #6059
Nice! I think we should go for it. Its this something that you would be willed to tackle?

I didn't understand the issue with the JS SDK, but I think it would be good you open the issue in its repo.

[2019-09-19 21:10] mrmarcsmith commented on #6066
Thank you for your feedback, The problem I see with a CLI is that everyone's current "Jobs" Schedulers interface through the "/jobs" endpoint.  so if we did a CLI people couldn't use the existing scheduler they have for "Jobs" for push scheduling too. a separate package doesn't make sense because the "pushTime" is baked into parse server and there is only one "correct" way to use it.

[2019-09-19 21:15] mrmarcsmith commented on #6066
Also, I don't think the cloud function alternative would work at all actually because internal access to "pushController" and "StatusHandler" is needed to sent the existing _PushStatus objects and update them in a uniform way. Plus, using the pushController means the endpoint solution would work for ALL existing push adaptors with no changes needed.

[2019-09-19 21:28] davimacedo commented on #6066
Take a look in this discussion [here](https://github.com/parse-community/parse-server/issues/4105) and also in this package [here](https://github.com/AmpMe/parse-server-scheduled-pusher).

I don't like so much the idea of the api endpoint because it would lead people to create a schedule to hit this endpoint every min (or every second?). That's why I think that it would be better a process that we

[2019-09-19 22:12] noobs2ninjas commented on #6059
In the Javascript SDK you can actually do lots of stuff to modify a schema. mySchema.addString('stringField') etc...

However, there is no functionality to retrieve or initialize a classes schema data within the JS SDK. In other words there is no `const mySchema = new Parse.Schema(schemaData)` or `const schemaData = mySchema.getData()`. Had there been I probably wouldn't have looked to post and is

[2019-09-19 22:19] mrmarcsmith commented on #6066
@davimacedo thank you for the package, that is a valid way of performing this task.

You are correct in assuming that this would lead people to poll the endpoint every minute BUT that is exactly the process we have already been using for the last year to trigger scheduled jobs. I use Kubernetes to manage 30+ instances of Parse Server for a VERY large app. so even at scale polling every minute is a

[2019-09-20 01:21] davimacedo commented on #6066
There is a difference between the scheduled push and the scheduled job. The scheduled job hit the server only when you know that there is some job to be executed while the scheduled push will have to hit the server every minute (or second) just to check if there is something to be sent. So if you don't schedule so many push notifications, you will have to hit the server a lot of times unnecessaril

[2019-09-20 01:28] davimacedo commented on #6059
got it... I see that `const schemaData = mySchema.getData()` could be easily added, but `const mySchema = new Parse.Schema(schemaData)` would not be useful because there is no API to do `mySchema.save()` later as Parse Server does not allow to modify existing fields.

[2019-09-20 01:41] mrmarcsmith commented on #6066
Thank you @davimacedo! I’ll try to open a PR for this hopefully in the next week!

[2019-09-20 01:51] mrmarcsmith commented on #6066
Follow up question, you said we might run into a memory problem with a single container sending lots of pushes, why would a Parse Server instance run into a memory issue and the dedicated pusher not?

[2019-09-20 02:14] mrmarcsmith opened #6067 "Feature Request: “Rate limit” Pushes to control user behavior."
I would like to make a PR to slowly release a push notification to users over a variable period of time.
Imaging a hot dog stand app that want to push out to nearby users “come buy a hot dog!”.

Current way: the push is sent out to everyone about the same time and there is a VERY long line at the hotdog stand and lost customers because the hot dog stand can’t handle the volume.

**Describe the sol

[2019-09-20 02:33] dplewis commented on #6061
The current implementation creates a new cache per request. This is to prevent side effects between requests. Using enableSingleSchemaCache is basically the same as disabling cache.clear().

Does cache.clear() gets called after every request? If not, implementing that would fix your memory issue while minimizing side effects

[2019-09-20 02:55] dplewis commented on #6060
Do you have a specific query / use case that uses a lot of get lookups.

Can you write a test case? https://github.com/parse-community/parse-server/blob/master/spec/RedisCacheAdapter.spec.js#L187

This way we can look see how many lookups and find a way to deal with the bottleneck.

[2019-09-20 03:03] dplewis commented on #6061
@davimacedo does cache.clear() gets called. I couldn’t find it. Where should we put it.

[2019-09-20 06:40] saimoomsafayet opened #6068 "Multiple group stage issue in aggregation pipeline"
### Issue Description
Parse aggregation pipeline is throwing error on multiple group by. If the first group stage is based on a pointer field and second group stage is based on the number field then it is throwing error.

### Steps to reproduce

`var pipeline = [
        {
            group: {
                objectId: '$user',
                totalScore: {
                    $sum: '$score'

[2019-09-20 17:36] davimacedo commented on #6067
It makes sense for me. Would the first step be implementing the Scheduled Pushes? Once implemented, this feature here would be much easier. We could just schedule the batches.

[2019-09-20 17:50] davimacedo commented on #6066
If implemented by listening a queue, we could have many containers listening to it. So instead of a single container sending the pushed, we'd have multiple ones.

Anyway, I think we can try to mitigate it even in the API approach. What we will probably need to do in the `sendScheduledPushes` endpoint is (instead of actually sending the pushes) only add the pushes to the normal sending flow (that a

[2019-09-20 18:06] mrmarcsmith commented on #6067
That's the idea! my thought was to use the "query" value to break them up by ranged objectId. Since parse sorts by Numbers then Uppercase then Lowercase the half way point would be the end of Capital U (Uzzzzzzzzz)
0123456789ABCDEFGHIJKLMNOPQRSTU >> middle<< VWXYZabcdefghijklmnopqrstuvwxyz

so to break this query in half:
Original
[code]

we would get two batches:
Batch 1:
[code]

Batch 2:
[code]

[2019-09-20 18:24] davimacedo commented on #6061
@dplewis @n-so Just to make sure that we are all in the same page. This is what happens at each request:
 - This middleware (which run each request) retrieves the Config object [here](https://github.com/parse-community/parse-server/blob/master/src/middlewares.js#L121)
- In order to return the Config object, actually, at each request, a new Config instance is created and a new instance of SchemaCac

[2019-09-20 20:19] noobs2ninjas commented on #6059
You could save if the schema being created was a new class for that server and not a new instance. Which is what I was needing. Taking a class from one server and creating/duplicating it on another server.

[2019-09-21 00:05] mtrezza commented on #6067
@mrmarcsmith Maybe I'm missing something here, but `U` would only be the halfway point if the object IDs were distributed evenly across the alphabet? Also, executing multiple queries could be an issue in a collection where data changes fast, depending on your filter criteria.

Would it make sense to get all users who should receive a push in a single query, create an object in `_PushStatus` for ea

[2019-09-21 00:27] mtrezza commented on #6052
@mrmarcsmith It seems you have been digging into the push topic with other issues you've opened. Do you have any feedback on `PARSE_SERVER_CLEANUP_INVALID_INSTALLATIONS` in a production environment by any chance?

[2019-09-21 16:21] h4xhor opened #6072 "mongodb-runner start fails with "Response code 403 (Forbidden)""
### Issue Description

When following the Running Parse Server Locally steps, it errors at `mongodb-runner start` step.

### Steps to reproduce

[code]

### Expected Results

mongodb-runner start should complete with no errors.

### Actual Outcome

Get a `{ StdError [HTTPError]: Response code 403 (Forbidden)`. Please see complete log below:

### Environment Setup

- **Server**
  - parse-server ver

[2019-09-21 18:59] mrmarcsmith commented on #6066
Yup! thats the way I’ve written it, I have 4 test cases so far but I want more coverage before I open the PR

[2019-09-21 19:07] mrmarcsmith commented on #6067
Hi @mtrezza,  I believe I failed to communicate some of the basic concepts about my idea so let me try again with a more detailed fictional user story.
Brad operates the hot dog booth at his local high school football games. He knows that the games last 2 hours and would like to maximize his sales during that time but a single push to all users would overwhelm his stand. Many students have the sch

[2019-09-21 23:43] #5731 closed

[2019-09-22 06:35] WahdanZ opened #6073 "Duplicate "graphql" modules cannot be used at the same time since different"
I try to run graphql with parse server I get this error
     "parse": "2.7.1",
    "parse-server": "3.9.0",

`Ensure that there is only one instance of "graphql" in the node_modules
server_1         | directory. If different versions of "graphql" are the dependencies of other
server_1         | relied on modules, use "resolutions" to ensure only one version is installed.
server_1         |
server_

[2019-09-22 15:27] mrmarcsmith commented on #6052
@mtrezza I haven’t looked into this issue yet but I’ll see if I have time to dive in while I still have the push system fresh in my mind. Off the top of my head I would imagine the first step would be to write a failing test which would involve mocking the APNS, which would involve bouncing some different types of requests off of the APNS Servers to see how they respond. From the issue you posted

[2019-09-22 15:51] mtrezza commented on #6052
I think the basic issue is mocking the APNS, it is a black box, except for what is documented anyway. Therefore I'm looking to gather some feedback on production usage in this thread.

I think rather than testing against all certificates I would put forth the motion to deprecate specifying multiple Apple certificates. Apple offers a single push certificate for sandbox and production just like Andr

[2019-09-22 16:30] durunvo opened #6075 "Graphql v3.9.0: enum CloudCodeFunction doesn't contain any cloud functions."
### Issue Description

I created a cloud function in cloud code. For version 3.8.0, I can call those functions in graphql as a string.
After upgraded to 3.9.0, I tried to find `enum CloudCodeFunction` but couldn't find any of my defined function name.

I am using back4app as a bootstrap parse server. There is a doc in graphql console where I can see the schemas. In the `callCloudCode` section, I o

[2019-09-22 16:52] mrmarcsmith commented on #6052
In a couple of our apps we use two different app identifiers, one for our store version and one for our enterprise version (com.bla.app1-Store & com.bla.app1-Enterprise) therefore we need two production push certificates for one app, but the appIdentifer is stored in the installation so we would could just ensure that parse doesn’t retry on an installation that doesn’t match its appIdentifer. What

[2019-09-22 16:58] omairvaiyani commented on #6075
What is your function called exactly? There is a filter that excludes certain patterns

[2019-09-22 18:02] mrmarcsmith commented on #6052
And of course in addition to the warning, we also actually disable the cleanup if they have multiple certs with the same app identifiers

[2019-09-22 20:04] mtrezza commented on #6052
@mrmarcsmith Interesting, does parse server officially support multiple apps in 1 deployment?

How to you make sure the proper push certificate is used for the proper app ID?

[2019-09-22 20:38] mrmarcsmith commented on #6052
@mtrezza to clarify, these are not two separate “apps”. Both have identical “Parse Server ApplicationIds”, identical iOS Client code and use the same cloud code. The only difference is how they are distributed and how apple treats them.
1. The first type of deployment is the most common, deployment through the apple App Store. This is for our customers
2. The second type of deployment uses an “ent

[2019-09-22 21:14] mtrezza commented on #6052
Correct, as long as you specify a `bundleId` (deprecated) or `topic` for the adapter it will match the adapter to the `appIdentifier`. So removing the ability to pass multiple certificates is not ideal.

https://github.com/parse-community/parse-server-push-adapter/blob/65a7f15651dd1dfa2ea9ea13b19a68f8e3e199f6/src/APNS.js#L237

So how about adding your waning and deprecate the production/developmen

[2019-09-22 22:27] mrmarcsmith commented on #6052
In the case that they want to connect to the development APNS server isn’t it a different apple URL? That’s just my initial hunch on why we asked for the production flag in the config, I’m running out the door so I don’t have time to dig into the adapter code to confirm

[2019-09-22 23:30] mtrezza commented on #6052
It is a different URL, but the `production` flag only defines which certificate to try first, not the URL.

If `production` is true the push is first sent with the production certificate and if that fails, sent again with the development certificate, and vice-versa.

- https://github.com/parse-community/parse-server-push-adapter/blob/65a7f15651dd1dfa2ea9ea13b19a68f8e3e199f6/src/APNS.js#L158-L163

[2019-09-23 01:23] durunvo commented on #6075
@omairvaiyani Yep. It seems to be some anti-pattern in my `functionNames`. I saw the test case and it doesn't accept hyphen.
https://github.com/parse-community/parse-server/pull/6029/files#diff-33aaa37c5b8fdaf663b4033583b25198R5357
Thanks anyway.

[2019-09-23 01:23] #6075 closed

[2019-09-23 04:08] mihazs commented on #5434
+1 for version control of schema.

[2019-09-23 04:08] mrmarcsmith commented on #6052
DeviceRemoval happens if APNS replies with “invalid deviceToken” error. [here](https://github.com/parse-community/parse-server/blob/cf6e79ee75e55447b75e2c0b40d56b9c3cb578c1/src/StatusHandler.js#L259)
I believe this is the bug:
In the case that the production certificate request fails for any reason even though the deviceToken is valid, when it gets sent to the development APNS server OR to the pro

[2019-09-23 07:56] omairvaiyani commented on #6075
I wouldnt think that using hyphens is an anti-pattern in Parse, it's just not directly supported by ParseGraphQL as of yet. There is a task for us to auto-rename the functions using underscores before adding them to the `CloudCodeFunction` enum. In the meantime, you could dual register your cloud functions internally using underscores, assuming you have a central place in your codebase that regist

[2019-09-23 10:42] mtrezza commented on #6052
That is how it works in principle, but I couldn’t figure out yet if each result that is evaluated is

- a APNS response (n results for a push with n APNS requests) or
- a summarized push adapter response (e.g. 1 result for a push with n APNS requests)

[2019-09-23 13:18] durunvo commented on #6075
@omairvaiyani That would be great. I don't think hyphens is anti-pattern as well, thanks for confirming that.

[2019-09-23 16:25] douglasmuraoka commented on #6035
@tealshift
I have been testing the Facebook login using the JS SDK with both 3.1 and 3.8 versions and the linking/unlinking is working just fine. I can check the ParseUser `authData` and it is always set to `undefined` when unlinked. Could you do this test using the iOS SDK?

By the way, when using parse-server 3.1, how the Facebook login response from parse-server looks like? Did you check if the

[2019-09-23 23:58] foobar8675 opened #6080 "parse-server queries not executing on calling server"
We have a heroku web api server and worker dyno where the worker dyno does queries such as
[code]
we are seeing these queries show up on our web api server dyno which is confusing. We would expect it to execute and log on the worker dyno. The only logs showing in our worker dyno are our custom console logs.

Does anyone have any idea why something like this might happen?

[2019-09-24 00:19] #6080 closed

[2019-09-25 10:46] rizzla22 opened #6082 "Managing Session Issues - Parse error: Invalid session token"
Hosting: locally on OSX running parse server 3.5.0

I am having massive issues with sessions on my cloud infrastructure, when a device tries to make a request with a session that does not exist it cripples the entire server. with the following error

[code]

Is there anyway to validate that a session exists before killing the server with an error, been trying to use express middleware but I cant s

[2019-09-25 12:48] rizzla22 commented on #6082
On further investigation I find that even calling Parse.Session.current() will result in an error on the server side, in a cloud environment like Google App Engine this is enough to totally take my instance offline. Can we not just return a simple boolean value rather than a destructive error ?

[2019-09-25 17:36] kcolton commented on #6061
Worst case If something referenced the cache after it was cleared at end of requests, wouldn't it just refetch the schema from the DB? same as if the cache happened to expire.

This is different than `schemaCacheTLL`?

Seems like that would already handle freeing the space associated with the schema cache keys themself. Are you referring to "keys" on the Config object generated per request? Not su

[2019-09-26 11:16] santiagosemhan opened #6088 "Why afterFind is triggered always before beforeSave?"
There are situations you want to add extra fields to return to the client that alters the request.objects. For instance, when you want to calculate some field in server and then add it to the response.
This "extra field" is passing always to the beforeSave, so this "extra" is pretended to be saved into the object. Currently, I make an unset for the "extra field" in beforeSave and problem solved.
S

[2019-09-27 00:45] davimacedo commented on #6059
For this case, wouldn't be better you call schema.save() individually for each new class you want to save? Or maybe Parse.Schema.create(listOfClassesToCreate) ?

[2019-09-27 01:19] davimacedo commented on #6072
It seems some problem with the mongodb-runner package which is just a convenient way to run a MongoDB instance for development. You can run a MongoDB instance for your Parse Server using different ways though.

[2019-09-27 01:19] #6072 closed

[2019-09-27 01:24] davimacedo commented on #6073
Can you please take a look in [this](https://github.com/parse-community/parse-server/pull/5674) thread? You seem to have a similar problem. Can you please also share your current package.json?

[2019-09-27 01:56] dplewis commented on #6061
@kcolton I agree, I don’t think clearing the cache after each request would have side effects.

The SchemaCache is used to checking if classes and fields exist in the database without hitting the DB. Pushes and Jobs have already made writes and queries. After the request is over I don’t see how they would still use the cache.

I can do a PR and see how this would run against tests.

[2019-09-27 06:42] davimacedo commented on #6082
@rizzla22 it is really strange behavior. The invalid session token should be logged in Parse Server logs and returned to the client. But it should not break the Parse Server process. Can you please share more details about how you are running Parse Server?

[2019-09-27 07:02] davimacedo commented on #6088
It is actually possible to change the response in an afterSave trigger. Take a look in this PR: https://github.com/parse-community/parse-server/pull/5814

[2019-09-27 07:11] mman commented on #6082
@rizzla22 the invalid session token message is harmless and can happen for example when a user changes password and all existing session tokens for the user are deleted. An app that talks to the parse server later with expired session token will generate the invalid session token message. It definitely will not kill the server. Please post more logs or backtraces.

[2019-09-27 11:08] WahdanZ commented on #6073
[code]

[2019-09-27 11:17] WahdanZ commented on #6073
I add these lines but I get the same error,
"resolutions": {
    "graphql": "^14.5.4",
    "**/graphql": "^14.5.4"
  }

[2019-09-27 18:10] santiagosemhan commented on #6088
Thanks for reply! I mean, afterFind alters the input of beforeSave?

[2019-09-27 21:55] davimacedo commented on #6088
Actually the `afterFind` trigger does not run before `beforeSave` trigger by default. This behavior is probably something particular to your app. Can you please share the codes you are using for the triggers, for saving the object and the logs you got?

[2019-09-27 22:07] davimacedo commented on #6073
Can you try to remove `parse-dashboard` from the dependencies and try again? Also, what versions of node and npm you are running?

[2019-09-27 22:29] davimacedo commented on #6061
If you take a look [here](https://github.com/parse-community/parse-server/blob/master/src/Routers/FunctionsRouter.js#L71), you will see that the job is started and lef executing while the response is returned right away. It means that the request will end (and the cache will be cleaned) before the job finishes to execute. The push notification has a similar process. Probably other features as well

[2019-09-27 23:26] santiagosemhan commented on #6088
Thanks, @davimacedo! I reviewed the code and yes, It was an issue with my app. There was a method that in beforeSave was searching duplicated data in the same Class.

[2019-09-27 23:35] santiagosemhan commented on #6088
Mmm, recently comment the code below in beforeSave:

[code]

and this is the trace log:
[code]

[2019-09-27 23:40] davimacedo commented on #6088
The `afterFind` trigger is called because of `const result = await query.first({ useMasterKey: true });`, right? Anyway, the `afterSave` trigger should not change your `request.object` var inside your `beforeSave` trigger.

[2019-09-27 23:49] santiagosemhan commented on #6088
Take a look at this
[code]
logs:
[code]

[2019-09-28 00:11] davimacedo commented on #6088
Can you try to do the same using the API Console and send the logs? I am afraid that the Dashboard is performing the find request to retrieve the object data.

[2019-09-28 00:21] santiagosemhan commented on #6088
Using the console
[code]

[2019-09-28 00:39] santiagosemhan commented on #6088
latest test using the console:
[code]
logs:
[code]

[2019-09-28 01:25] davimacedo commented on #6088
You're right. I've just run the test below and it didn't pass. I will try to understand why.

[code]

[2019-09-28 13:50] noobs2ninjas commented on #6059
I was suggesting this because I think it would be easy. currently the schema class on the JS SDK has the following.

[code]

Now I know you cant have two constructors but you could create a static function that basically accomplishes the following

[code]

Something super simple that you can hit up https://YOUR.PARSE-SERVER.HERE/parse/schemas/myClass and with the userFieldsOnly feature just take t

[2019-09-29 19:25] #5892 closed

[2019-09-30 12:01] gnowland commented on #5143
I'm running 3.9.0 and experiencing the same issue

[2019-09-30 18:01] MikeJuliet commented on #6065
Thanks a lot Mark.

Can you contact me on WhatsApp (+27814220795) or email
marthinusjacobs@gmail.com

I would like to hear more from you about the setting up of parse servers as
I do not know anything about servers.

On Thu, 19 Sep 2019, 19:24 Marc Smith, <notifications@github.com> wrote:

[2019-09-30 20:31] mtrezza commented on #5875
Yeah, I'll do the missing research asap.

[2019-10-02 05:54] davimacedo commented on #6059
Do you like to send a PR with this idea so we can better discuss?

[2019-10-02 08:55] rhuanbarreto opened #6101 "Let clients define objectId using mongo/mongoose ObjectId()"
This issue follow up on #4170 but goes deeper in it.

It's not really safe to leave the user to set an objectId arbitrarily, but for offline PWAs it's almost mandatory that an ID must be generated offline. Normally UUIDs are used, but as Parse uses MongoDB, we can generate objectId's using the [native mongo library](https://mongodb.github.io/node-mongodb-native/api-bson-generated/objectid.html) fo

[2019-10-02 16:09] santiagosemhan commented on #6088
May be, when updating an object parse retrieve the original one. So this could be causing the afterFind trigger.

[2019-10-03 01:46] #5904 closed

[2019-10-03 13:30] chrisbyers commented on #4500
I know this is an older thread, but I noticed that the FCM server returns a "NotRegistered" error when sending a push to a device in Do Not Disturb mode.  I haven't looked at the parse push code, but if this error results in removing the deviceToken, and you only call register on startup, your app would not receive pushes after DND is turned off on the device.

Also, I think the requirement to cal

[2019-10-03 13:42] AliZahr opened #6106 "Parse Server 3.9 Silent Push Notification on iOS 13 Not Working"
Was anyone able to send silent push notifications? I am unable to receive the push although it says SENT, in the dashboard.

Can anyone send a sample code of the payload if you were able to successfully send one?

[2019-10-04 00:38] davimacedo commented on #6106
Can you share your current code so we can take a look and try to help you to figure it out? Anyway, I can take a look in [this thread](https://stackoverflow.com/questions/26968902/sending-silent-push-notifications-using-parse-com) as it looks to be a good approach.

[2019-10-04 01:19] davimacedo commented on #6101
Can you detail your use case? What is the situation of your PWA app that you would need to create an object id to be sent to the server later on?

[2019-10-04 07:26] AliZahr commented on #6106
I am sending this push notification from the dashboard with this JSON:
{
"push_type" : "background",
"content-available" : 1,
"priority" : 5,
"videoCallRelated": true,
"videoCallSessionId": "blabla",
"callRejected": true
}
But I am not receiving the silent push notification

[2019-10-05 22:16] maykefreitas opened #6109 "GraphQL: Issue with ordering in one to many relations"
The following type of Graphql query is causing an error in parse-server. This problem only occurs with subqueries order.

[code]

[code]

I made a test removing the `.split` call from `restOptions.order.split` and it works.

[2019-10-07 08:26] diego-vieira commented on #6065
@MikeJuliet in this case you are better off using a paid service/hosting that will host the server for you.

https://www.back4app.com/product/what-is-parse-server
https://github.com/relatedcode/ParseAlternatives#parse-server-hosting-providers

[2019-10-07 18:21] AugustoAmaral commented on #6101
I'm having the same problem, I have an application that needs to work both offline and online, so every object I create, I have to make it available for the user to use and store the request so it can be done as soon as the application comes online.

[2019-10-08 08:13] davimacedo commented on #6101
But why do you need to create the id beforehand?

[2019-10-10 03:58] saimoomsafayet commented on #6068
@davimacedo Hi! Any update regarding this issue?

[2019-10-11 05:14] dplewis commented on #5961
I believe this has already been addressed as of 3.3.0.

https://github.com/parse-community/parse-server/pull/5286

We might have to update the documentation since you can't use nearSphere and count but use $geoWithin and count.

[2019-10-11 06:46] AienTech opened #6128 "Custom Authentication on Docker Container"
So, as the title suggests, I'm looking for a way to integrate my own custom authentication service into parseserver, which is installed inside a docker container. This authentication is basically an OpenID implementation of KeyCloak

What I've been trying so far, was to search the internet, read the issues and other stuff to find out, how can I create it.

It seems that it doesn't matter what I do

[2019-10-11 20:27] #6061 closed

[2019-10-12 21:51] jimcamut commented on #483
@rucas I know this is a really old thread, but if you see this question: did you have any issues with `require('parse-server')` on Lambda? I can get everything to work on local serverless, but `require('parse-server')` on an actual Lambda doesn't work for me.

[2019-10-12 22:35] GoGross commented on #483
It wont work if you don't push the parse-server module, but are you sure it's the only thing not working because Lambda and parse make no sense to me at least just yet. and remember that evertime you call a lambda you are actually starting a parse-server meaning its stateless even with aws-serverless-express.

[2019-10-12 23:01] jimcamut commented on #483
@GoGross Something is definitely amiss because I'm getting other errors even when I push up the parse-server module. Regarding restarts, a warmup plugin in serverless keeps it quick (in theory), but this has been more of an experiment than a practical solution. I'm about to abandon this approach if I keep hitting dead ends.

[2019-10-13 09:57] GoGross commented on #483
by using cold starts plugin you are going against the main reason why you probably chose Lambda, pay for what you use. Cold starts will increase calls to the function, cloudwatch and I am not sure what else

[2019-10-13 10:04] GoGross commented on #483
I really recommend back4app for now

[2019-10-13 15:49] jimcamut commented on #483
@GoGross I've already got Parse Server running on in production in AWS (Nodejs, non-lambda). I'd agree that using Parse Server in an environment it was intended for (on AWS or something like back4app) is the best way to go, especially for the built in caching, efficient DB connections, etc. There is definitely still a case for Serverless/lambdas for some specific scenarios, but it's proving to be

[2019-10-14 20:56] dplewis commented on #5851
Closing via https://github.com/DefinitelyTyped/DefinitelyTyped/pull/39072

[2019-10-14 22:24] #5851 closed

[2019-10-14 23:54] dplewis commented on #6106
Can you use pushType instead of push_type?

https://github.com/parse-community/node-apn/pull/1/files

[2019-10-15 00:09] dplewis commented on #6052
@mtrezza Should we encourage users to use a single key instead of certificates?

[code]

<img width="912" alt="Screen Shot 2019-10-14 at 7 07 53 PM" src="https://user-images.githubusercontent.com/9830365/66790635-2b559b80-eeb6-11e9-8661-da20dd82295a.png">

[2019-10-15 01:36] mtrezza commented on #6052
@dplewis That's a fair suggestion. Apple says:

@mrmarcsmith Would that also cover your use case of multiple app IDs?

[2019-10-15 04:29] mrmarcsmith commented on #6052
As long as we can still do multiple keys like so I’m fine.
[code]
The “problem” i face is apple requires a completely different Apple ID for enterprise and store meaning i have to use 2 “keys” because they are completely isolated account by design. “All of your apps” implies “All your app under this Apple ID” of which I have 2.

[2019-10-15 07:37] qgicup commented on #2985
Is there any update on Parse express auth middleware ?

[2019-10-15 17:29] mtrezza commented on #6052
@mrmarcsmith Seems to be an edge case but makes sense for parse server to support this. So migrating from multiple certs to multiple key won't solve the issue.

I see two PRs (in order of priority):
1) ensure invalid device token clean-up works
2) migrate to using keys instead of certificates

ad 1)
We should continue to allow multiple certs (or keys) and validate the clean-up logic, which I tried

[2019-10-15 18:04] mrmarcsmith commented on #6052
@mtrezza here’s a idea, we could disallow multiple certificate/keys with duplicate topics. Then just confirm on the adapter side we aren’t attempting to send pushes for topics that don’t match the appIdentifier (which those pushes would never succeed  anyways).

[2019-10-15 18:27] Edijae commented on #2946
Any plan to support parselivequery on parserelation?

[2019-10-15 18:53] mtrezza commented on #6052
@mrmarcsmith

That would be a breaking change, possibly for many users, because historically it was required to have a separate development and production certificate for the same topic:

[code]

That already happens:
https://github.com/parse-community/parse-server-push-adapter/blob/65a7f15651dd1dfa2ea9ea13b19a68f8e3e199f6/src/APNS.js#L92

Again, to ensure the token clean-up works, we only need to

[2019-10-15 20:50] #6088 closed

[2019-10-15 21:36] rucas commented on #483
@jimcamut sorry for the late reply, I'm catching up now. I would export your lambda function from AWS and make sure `parse-server` is in your `node_modules` directory.

[2019-10-16 00:02] dplewis commented on #5888
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/960

[2019-10-16 00:02] #5888 closed

[2019-10-16 15:08] vshy108 opened #6136 "Full text search and sort by $score but need to have all columns of the class in the result"
For simple class, I can sort the query result by select the columns i want like below

[code]

but the problem now is when I want to deal with a complex class that have many columns that include array, object, pointer type. I found that it is quite hard to select all what I need.

Is it possible that I can **select all and also the @score** so that I can sort ascending with the $score? thanks

[2019-10-16 16:57] ramiro-ciocca commented on #5084
@srameshr, did you find a solution?
I managed to create indexes on _User class with:

db.getCollection("_User").createIndex({"myField": 1})

and I see the index with:

db.getCollection("_User").getIndexes()

but still getting the exception from fullText ("index required for ...")

[2019-10-16 17:17] SebC99 opened #6137 "Best way to delete a user (when requested)"
We have an option in our app to delete a user account, but the current Parse SDK and Parse-server methods doesn't allow to do so:
We need to:
- delete the user (and all its data)
- logout the user (to remove all local currentUser file & pointer)

By deleting the user causes the sessionToken to be invalid and the SDK logout methods fail.
If we start by the logout, there's no way to ensure safe remo

[2019-10-16 17:24] ramiro-ciocca commented on #5084
I figured it out how to properly create the index.  I is a text index:

db.getCollection("_User").createIndex({myField: "text"})

[2019-10-16 23:31] Koosmann opened #6138 "Sharing auth across subdomains"
Hi guys - We posted this question on the parse community discourse a week ago with no response.  So, apologies ahead of time for this cross post, we just wanted to follow up here to see if anyone knows the answer.  Is it possible to have to user authentication work across subdomains?  For example, we'd like to have a user logged into one.example.com also be logged into two.example.com without havi

[2019-10-17 00:13] dplewis commented on #6138
This is possible.

The server automatically destroys duplicate session, which will cause a `invalid session token` error.

https://github.com/parse-community/parse-server/blob/master/src/RestWrite.js#L914

This is done based on installationId (unique identifier for device). If there is no installationId or unique installationId are used, then the session aren't destroyed.

[code]

When you initial

[2019-10-17 00:13] #6138 closed

[2019-10-17 04:31] mtrezza opened #6140 "Cannot read property 'facebook' of null"
### Issue Description

Users report that they have trouble logging in and we see these entries in the NodeJS logs quite frequently since some hours:

[code]

We also see a few:
`(node:3200) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 connect listeners added. Use emitter.setMaxListeners() to increase limit`

Maybe related to https://github.com/parse-community/parse-s

[2019-10-17 06:10] 7demo commented on #5143
@gnowland
+1.
I  have the  same question. `Parse error: Insufficient auth. {"code":206,"stack":"Error: Insufficient auth. `

[2019-10-17 20:14] drdaz commented on #6106
I'm experiencing a similar issue. And I can see on my device that the notification is being delivered with a priority of 10, despite my having set priority to 5 in the data object.

This same setup (without push-type / pushType and priority) worked fine against iOS 12.

[2019-10-17 20:48] drdaz commented on #6106
Yeah something seems wrong here. Here's a snippet from an afterSave method I've got:

[code]

When one of these notifications is received on the device, this is logged in the console:

[code]

So both the priority and the push type are wrong. Any ideas what I'm doing wrong here?

[2019-10-18 16:01] drdaz commented on #6106
I've spent most of the day trying to figure out how to debug installed modules in node; I'm an iOS guy usually.

Now that I've got there, the implementation of the new iOS flags seems off.

In node_apn/lib/notification/index.js in the exported `headers`method, where we check for, for example, `this.pushType` before setting the value on the notification. But the pushType value we set in 'data' is i

[2019-10-18 16:03] drdaz commented on #6106
@davimacedo Can you comment? I see you've been active on that repo.

[2019-10-18 21:15] #5984 closed

[2019-10-19 01:37] mtrezza opened #6144 "Cannot set customPages in public directory"
### Issue Description

When `customPages` are placed in the `public` directory of parse server, the user is not redirected to the custom html sites.

### Steps to reproduce

1. Configure parse server for `api.example.com/parse`.
1. Configure `customPages` like `https://api.example.com/parse/public/change_password.html`
1. Add custom html pages into the `public` folder of parse server.
1. Request p

[2019-10-19 03:14] #5987 closed

[2019-10-19 05:09] gnowland commented on #5143
@7demo my issue was resolved when I removed `type="submit"` from my angular `<button>` element, which already had a click event (`(click)="myForm.ngSubmit.emit()"`) bound to it and which was inadvertently causing my `ReactiveForm` to be submitted twice. When I stepped through the stack, call by call, I realized my `.signUp()` call was running twice in quick succession - first time was successful a

[2019-10-19 11:17] MohakChugh opened #6145 "Integration with Hasura for better postgres and graphql integration"
Is there any possibility of integration Hasura Graphql Engine with it? Hasura uses postgreSQL and provides a graphql endpoint.

Maybe we can directly use Hasura Graphql engine to support the Graphql service and better Postgre support.

[2019-10-19 19:13] dplewis commented on #6106
@drdaz Please check the [Push Notification Guide](https://docs.parseplatform.org/parse-server/guide/#api)

[code]

[2019-10-19 19:17] drdaz commented on #6106
@dplewis I'm aware what the documentation says. What I posted here was a snippet where I was experimenting.

The documentation is wrong about pushType, and the headers aren't being sent.

[2019-10-19 21:41] danielmartinprieto commented on #6137
We use a cloud function for this. Also, you can safely ignore the logout error in the client because even if it fails, it deletes the auth token client side, so the user will be logged out anyway in the client after you’ve run the SDK function.

[2019-10-19 23:03] dplewis commented on #6106
@drdaz @acinader @davimacedo

Looking at the [JS Docs](https://docs.parseplatform.org/js/guide/#customizing-your-notifications) headers like` push_time` and `priority` should be in the data field. There are other headers like `expiration_time` aren't in the data field.

The push adapter doesn't check the data field for headers. I want to discuss what we should do going forward.

Two solutions:
A:

[2019-10-20 00:31] dplewis commented on #6106
I updated my comment

[2019-10-20 00:42] mtrezza commented on #6137
Create a cloud code function for this and you can log out the user on the client immediately.
In cloud code you can delete all user related objects with the `{useMasterKey: true}` option.

If deleting all user data is resource expensive, you may want to just invalidate the user (e.g. remove username, password, authData) and schedule the deletion of all other objects during a time when resources ar

[2019-10-20 02:56] dplewis commented on #6140
Can you look at your mongo database and post the specific user authData.

Post logs VERBOSE=1

[2019-10-20 03:00] mtrezza commented on #6140
Is there any pattern I can look for in the DB?
I want to avoid turning on verbose logging if possible.

[2019-10-20 03:12] dplewis commented on #6140
If you can set a breakpoint here
https://github.com/parse-community/parse-server/blob/master/src/RestWrite.js#L509

I’m just guessing that two user have the authData but one of them is null.

Do you know which user is throwing that error? If we can’t replicate it at least we can narrow down the possibilities.

[2019-10-20 03:19] mtrezza commented on #6140
I don't know which user. It's a prod env so I can't set a breakpoint and rather not log verbose if avoidable.

[2019-10-20 03:23] dplewis commented on #6140
There is an issue opened for authData and the Dashboard.

https://github.com/parse-community/parse-server/issues/5365

I can open a PR for it. Hopefully that helps. If until then you can use the mongo shell.

[2019-10-20 03:29] mtrezza commented on #6140
I found some users with `authData: null` in the DB.
Normally authData for facebook is stored at `_auth_data_facebook: {...}`.

IIRC there used to be a bug in the JS SDK that would not unlink a Facebook account from a user.
So we added this as workaround:

            await Parse.Cloud.httpRequest({
                method: "PUT",
                url: ... + "/users/" + user.id,
                heade

[2019-10-20 03:35] dplewis commented on #6140
Here is a passing test case for Facebook unlink

https://github.com/parse-community/Parse-SDK-JS/blob/master/integration/test/ParseUserTest.js#L774

I assume it works

[2019-10-20 03:41] mtrezza commented on #6140
I think it was this: https://github.com/parse-community/parse-server/issues/4103
Fixed in 2017, how time flies :)

I'll change the code, remove the `null` values from the DB and then hopefully close this issue.

[2019-10-20 03:59] dplewis commented on #6140
It was fixed this year. https://github.com/parse-community/Parse-SDK-JS/pull/767

A lot of improvements have been made with linking users

[2019-10-20 04:52] dplewis commented on #6140
@mtrezza can I add you to the parse team? You have been active over the years and know the ins and outs of Parse.

@acinader Thoughts?

[2019-10-20 09:10] drdaz commented on #6106
I tried this adding `push_type: 'background'` and `priority: 5` in the root of the object like you describe here, and that does seem to work. Although the console output on the device is a little odd; the initial message suggests that the notification is sent at priority 1, but delivered to the app with priority 5:

[code]

I don't *think* that was happening with the mods I made in the other PR.

[2019-10-20 09:28] SebC99 commented on #6137
We already have a cloud function for this, but we don’t want to simply use the masterkey to avoid having a function able to delete a different user than the current one.
@danielmartinprieto we do that, but with iOS SDK, when the logout fails, the callback is never called (not even with an error) so we are then stuck...

[2019-10-20 12:07] mtrezza commented on #6137
@SebC99 you are looking for best practice. It is not best practice to manage the user deletion client side. It depends on your use case, but the arguments you gave so far do not corroborate that.

Why it is not best practice:

- You cannot change the deletion logic once it’s out there.
- If you change classes or logic server side, the client side deletion function may fail and the user cannot dele

[2019-10-20 15:11] mtrezza commented on #6140
@dplewis Do I have to manually load the Facebook SDK in cloud code?

I tried to unlink like in the test case with

[code]
and the unlink seems to succeed but I get this error in the logs:

[2019-10-20 15:50] uzaysan commented on #2137
Any progress on this? BeforeSave for Parse File would be really useful

[2019-10-20 16:12] mtrezza commented on #6140
@dplewis How would I add the Facebook JS SDK to cloud code?

In the test cases the user is unlinked with
            Parse.FacebookUtils.init();
            await Parse.FacebookUtils.unlink(user);

That requires the FB JS SDK to be loaded, but the FB docs say:

[2019-10-20 16:17] dplewis commented on #6140
user._unlinkFrom(“facebook”, options)

[2019-10-20 17:41] mtrezza commented on #6140
When I call `await request.user._unlinkFrom("facebook", {useMasterKey:true})` I get this error:

I assume this is from [here](https://github.com/parse-community/Parse-SDK-JS/blob/38286f28b49a898214f3ce9b7468527e04ac3b7d/src/ParseUser.js#L219), so there seem to be no `authProviders` registered for the user?

The `user` is the requesting user who calls the cloud code function, so the authProvider sh

[2019-10-20 17:44] mtrezza commented on #6140
@dplewis
When I call `await request.user._unlinkFrom("facebook", {useMasterKey:true})` I get this error:

I assume this is from [here](https://github.com/parse-community/Parse-SDK-JS/blob/38286f28b49a898214f3ce9b7468527e04ac3b7d/src/ParseUser.js#L219), so there seem to be no `authProviders` registered for the user?

The `user` is the requesting user who calls the cloud code function. If a user is

[2019-10-21 01:20] mtrezza commented on #6140
I couldn't get `unlinkFrom` via the Parse JS SDK to work in cloud code and couldn't easily find the reason why.

So I just fixed the REST call, the correct body is (already in the REST docs):

    body: {
        "authData": {
            "facebook": null
        }
    }

The `authData` field is synthesized from the `_auth_data_*` fields in the DB, so direct manipulation does not work in all cases

[2019-10-21 01:40] mtrezza commented on #6140
Worth noting that because `authData` is a synthesized field, object manipulation with `authData` is not a good idea at all.

When an `authData` field with value `null` (or I guess any value) exists in the DB, the field cannot be synthesized and instead the actual field value of `authData` is displayed in the dashboard. So the dashboard shows value `null` even though the `_auth_data_facebook` field

[2019-10-21 03:41] dplewis commented on #6140
@mtrezza Thanks for looking into this deeply. There are a few issues we have to addressed and improvements to be made for authData.

1. Fix Facebook unlink (use a basic Auth provider)
2. Fix https://github.com/parse-community/parse-server/issues/5365
3. We should avoid throwing errors if possible, can you open a PR to prevent server crashing?
4. Improve dashboard handling authData

[2019-10-21 11:54] rhuanbarreto commented on #6101
HI @davimacedo I will try to do my best.

Imagine you are in a React PWA application in offline state but with a Parse Server backend. You don't want your user to stop using your app meanwhile it's offline. For example a Sales/CRM application where the sellers are traveling in cars and internet connection is unstable.

So you can use Redux/Redux-Persist to store your full state locally and avoid i

[2019-10-21 12:15] danielmartinprieto commented on #6137
@SebC99 indeed, it seems more like a client SDK issue, because we're using the JavaScript SDK and it does throw the error (which we swallow because we know from the code that it does remove the logged in user client-side.)

[2019-10-21 13:06] GoGross commented on #6137
You need to create relevant ACL for each user data such that only a user can write and access their own data. When it comes a time to delete, a user delete request would simply iterate over all the subClasses to delete their data.

[2019-10-21 13:08] GoGross commented on #6137
You need to create relevant ACL for each user data such that only a user can write and access their own data. When it comes a time to delete, a user delete request would simply iterate over all the subClasses to delete their data. Proper ACL using roleNames which can be public incase someone with admin rights or access has to effect the delete operation.

[2019-10-21 13:37] stewwan commented on #2088
not working on 3.9.0

[2019-10-21 15:46] drdaz commented on #6106
TL;DR Yeah, that works. 😂

[2019-10-21 17:02] #5947 closed

[2019-10-21 17:05] mtrezza commented on #6137
@SebC99 Does this work for you?

[code]

`PFUser.logOutInBackground` will return with error, which is expected, but the SDK deletes the locally stored current user data nonetheless.

[2019-10-21 19:41] SebC99 commented on #6137
We do exactly that but the logOutInBackground does not call the callback...

[2019-10-21 20:26] mtrezza commented on #6137
@SebC99 Can we close this question about best practice and continue to investigate the callback issue in https://github.com/parse-community/Parse-SDK-iOS-OSX/issues/1462#issuecomment-544687117 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-21 20:31] SebC99 commented on #6137
Yes !

[2019-10-21 20:34] mtrezza commented on #6140
@dplewis will open a PR. Out of curiosity, do you know what the rationale for synthesizing `authData` was?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-22 02:54] memishood opened #6149 "Parse Server Query Aggregate Results"
I have been used query aggregate in Parse Class using cloud code and i called in my android app, everything is okay but the result coming as List<HashMap<String,String>> how can i convert to ParseObject in List ?

[code]

My Cloud Code:
[code]

[2019-10-22 08:12] rhuanbarreto commented on #6101
Just to add, this goes further than the local datastore on https://github.com/parse-community/docs/blob/gh-pages/_includes/js/local-datastore.md. Pinning objects still require the creation of the object on the backend before it is pinned. With ID creation on the client, you don't really need pinning. You can deal with localstorage/redux/persistence without any problems.

[2019-10-22 12:40] Eolykab opened #6152 "Passwordless authentication"
Hi There,

How do I implement passwordless authentication? Like sending OTP to phone number and verifying the code after.

[2019-10-22 12:45] Eolykab commented on #5034
This is what I also require. Any example of the custom Auth adapter @flovilmart ?  @promisenxu How did you solve this?

[2019-10-22 15:12] #3741 closed

[2019-10-22 16:36] SebC99 opened #6153 "insertMany and updateMany support"
Is there a plan to support insertMany and updateMany in Parse?
It would increase a lot the performance of batch operations, either to create new objects or to update some existing objects.
2 uses cases would be:
- to clone a certain amount of data, by creating 1000 objects at once. For now, saving those 1000 new objects is very very long, even with direct access, as the server starts one database

[2019-10-23 02:26] mtrezza commented on #6140
@dplewis added PR #6154 to fix your point 3.

[2019-10-23 03:29] dplewis commented on #6152
A PR was opened for this but wasn’t finished.

https://github.com/parse-community/parse-server/pull/5306

Would you like to take it over?

[2019-10-23 10:22] omairvaiyani commented on #6153
I believe the limitation is the `beforeSave` hook; Parse allows its developers to validate the data before inserting to the DB. We would have to craft a scenario where the `beforeSave` is either skipped, or runs once, separately for a batch request, for example a `beforeSaveAll`. An RFC with problems and alternatives would be needed before something like this is added.

[2019-10-24 13:21] GPack1 commented on #5748
Same issue here with Parse-SDK-Android 1.21.0, sometimes deviceToken results in (undefined)

[2019-10-24 17:14] Aback231 opened #6156 "Wrong image file URL"
Hi,

Parse dashboard is unable to show uploaded images when I click on download. Image link on dashboard: http://192.168.0.199/undefined/files/e190e57e626723cbe8fb2b7065dcddbcfb6896b1/a8c4554fa6f44e92eac3dce239a62215_image.png

I can view the image when I modify this link as: http://192.168.0.199/parse/files/e190e57e626723cbe8fb2b7065dcddbcfb6896b1/a8c4554fa6f44e92eac3dce239a62215_image.png

I hav

[2019-10-25 01:10] memishood commented on #6152
You can make using cloud code basically,

Call this cloud function after got the phone nomber from user
[code]

Firstly get the sms code in your client from cloud function and check this code if right call this function

[code]

Maybe its not safe but if you don't have any choice you can use..

[2019-10-25 02:12] dplewis commented on #6156
Can you try to run the dashboard locally? Seems like a mount path is missing.

[2019-10-25 03:16] mtrezza commented on #5748
@GPack1 We had that with new FCM tokens and were actually able to reproduce this.

However, this is not parse server related, hence issue closed, continues in #966.

[2019-10-25 10:25] Aback231 commented on #6156
Even if that worked, it's not an acceptable solution to me, but I don't think it will, because when I query those image file objects in my android app, the same wrong URL's are retrieved back. I grab URL's, swap undefined for parse, and my app works. Every Image ever uploaded is there... That would mean that parse server is serving broken URL's, nothing to do, with dashboard, or am I mistaken ?

[2019-10-25 14:43] dplewis commented on #6156
Can you check that your serverURL and publicServerURL are correct?

You can also debug your server around [here](https://github.com/parse-community/parse-server/blob/master/src/middlewares.js#L121). Where the mount is retrieved in the middleware before each request.

[2019-10-25 19:22] Aback231 commented on #6156
URL's are exact match. Not sure how I would debug the server... Bitnami acknowledged the the issue a few hours ago (on their community forum), and created internal task to fix it, cause they were able to reproduce the same behavior on a fresh instance. Maybe the issue is related just to their instances.

[2019-10-27 03:58] dplewis commented on #6136
I think this is doable, I don't know if mongo allows projected keys with $text. Postgres should handle this no problem.