[2016-08-16 19:56] flovilmart commented on #2534
did you notice that your server is restarting a lot in those logs?

[2016-08-16 19:57] flovilmart commented on #2514
I'lol try to merge and push

[2016-08-16 20:00] BRETT71 commented on #2534
Yes, that is something else that i do not know why it is doing that.  It seems to restart every time I send a push

[2016-08-16 20:14] BRETT71 commented on #2534
@flovilmart  Is the server restarting during trying to send a push the problem?

[2016-08-16 20:21] MobileVet opened #2535 "Two chained Parse.Object.saveAll() results in last objects NOT having their properties available"
### Issue Description

If I chain together 2 saveAlls, I would expect to be able to access the objects saved in the second call.  However, strangely, those objects do not respond to `object.get("property")` instead returning undefined.

### Steps to reproduce

1. `Parse.Object.saveAll(obj)`
2. `.then(Parse.Object.saveAll(otherObjs)`
3. `.then(function(otherObjs) {});`

#### Expected Results

I sho

[2016-08-16 20:36] flovilmart commented on #2534
That cant help don't you think?

As a bonus, the server is restating because you don't ignore the logs folder path in pm2 watch, also, watching files in prod environment is not a good idea, for many reasons.

[2016-08-16 20:38] flovilmart commented on #2534
And that was pretty clear why it restarted:

[code]

Another advice, don't use PM2

[2016-08-16 20:59] BRETT71 commented on #2534
Thank you very much for the help.  Sending pushes work now.

[2016-08-16 21:04] #2534 closed

[2016-08-16 21:38] hramos commented on #2535
Hmm, if JSON.stringify() shows that the object has the data you'd expect it to have, then it seems like this may be a Parse JavaScript SDK issue given that the server is returning the necessary data.  If you agree, can you submit the issue to [the Parse JS SDK repo](/parseplatform/parse-js-sdk)?

[2016-08-16 22:05] edwinlin commented on #111
I followed @johnantoni's curl request but the response I receive is :

<html>
<head><title>301 Moved Permanently</title></head>
<body bgcolor="white">
<center><h1>301 Moved Permanently</h1></center>
<hr><center>nginx</center>
</body>
</html>
{"error":"unauthorized"}[18:02:51]

Everything works in localhost. I've redeployed and tested with same results.

[2016-08-16 23:20] huntermonk commented on #2194
@AmbroiseCollon I ran into a similar problem when attempting to update the `_Installation` class from the client.

I discovered that updating permissions in the dashboard had no effect on the actual schema powering my mLab database.

Instead, in mLab, I entered the `_SCHEMA` collection, and viewed the record with id of "_Installation". I noticed that the `class_permissions` was as follows, which i

[2016-08-16 23:22] shawn458 commented on #2517
Turns out I just wrote the Cloud Code wrong. Closing.

[2016-08-16 23:22] #2517 closed

[2016-08-17 00:11] poojanjhaveri commented on #8
@JeremyPlease  Thanks. @natanrolnik  @vladiGtr  Have you guys used mv.sashido ?

[2016-08-17 00:19] jasonhutchens commented on #2030
@flovilmart yes, understood... I just meant we'd do some testing, and I can confirm that the `insaneFunction` which previously took 150ms now takes 40ms to complete, which is a very nice optimisation. looking forward to being able to use this in production :)

[2016-08-17 01:41] greggmojica commented on #1461
+1

[2016-08-17 01:43] tarekskr commented on #1461
@greggmojica this has already been implemented 👍

[2016-08-17 01:44] greggmojica commented on #1461
@tarekskr I actually just saw that. My bad. Thanks!!

[2016-08-17 04:29] miracle7 opened #2537 "High response time from Installation Query"
- [X] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.

- [X] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases

- [X] You've searched through existing issues: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue Chances are that your issue has been

[2016-08-17 04:57] flovilmart commented on #2537
Try indexing each columns independently, see how it goes. That should help given those aren't indexed by default.

Mongo should also have some tools to go deeper and see the #of scanned documents. When indexed, that should be pretty fast as it's an OR query.

@TylerBrock may have more answers than me regarding mongo indexes optimizations.

You're right, I've updated some code related to installati

[2016-08-17 05:09] fbomb111 commented on #758
Where is the documentation for adding Pointers via REST API?  I see what you provided is the correct end format, but I get a bad request if I try sometime like that via the API.  Even a link would be great as [the Parse docs](http://parseplatform.github.io/docs/rest/guide/#schema) do not cover Pointers or Arrays in the schema.

Neither of these seem to work:

    `{
	    "className": "parentClassN

[2016-08-17 05:33] miracle7 commented on #2537
@flovilmart seperate indexes worked, thank you so much! :D

Down from 1500ms average to 50ms :)

![image](https://cloud.githubusercontent.com/assets/5317556/17725563/b8028822-648f-11e6-89a9-4b2f046f90b1.png)

[2016-08-17 05:44] vladicabg commented on #2061
I am getting the same error when I try to do a POST from the app after a series of GETs.
My app runs some verification on the startup and generates a series of GETs.

[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]
[object Object]

Next POST gives
*84 upstream prematurely closed connection while reading

[2016-08-17 08:14] chrismatheson commented on #2488
I found this during my search for general info on unit testing Parse applications. My plan for cloud code is essentially to extract the functions out and unit test them with fake request / response objects.

i.e. instead of

main.js
[code]

split into two files

doThing.js
[code]

main.js
[code]

Then `doThing` can be tested in a spec file something like
[code]

however the stumbling block I've me

[2016-08-17 10:12] benishak commented on #2482
this could be a problem with node itself because of a bug in V8 Engine, I was using v4.4.2, now I upgraded to v4.5.0 and will come back later with results

source: https://nodejs.org/en/blog/vulnerability/june-2016-security-releases/

[2016-08-17 12:25] sidan5 commented on #128
Have same issue with the error but found out that it is connected to the remote DB server...

[2016-08-17 12:41] flovilmart commented on #2537
Nice.

[2016-08-17 12:41] flovilmart commented on #2537
Nice.

[2016-08-17 12:41] #2537 closed

[2016-08-17 13:05] MobileVet commented on #2535
Hmm, good call.
Moving to: https://github.com/ParsePlatform/Parse-SDK-JS/issues/331

[2016-08-17 13:05] #2535 closed

[2016-08-17 14:04] khirr commented on #2369
I have the latest version 2.2.17 and i still have too much queries per second to _SCHEMA, about 80/s, and my normal queries are about 400/s, is it normal?

`_SCHEMA command: find { find: "_SCHEMA", filter: {} } planSummary: COLLSCAN keysExamined:0 docsExamined:30 cursorExhausted:1 keyUpdates:0 writeConflicts:0 numYields:0 nreturned:30 reslen:8520 locks:{ Global: { acquireCount: { r: 2 } }, Databas

[2016-08-17 15:20] icalvete opened #2539 "Poor performance or normal behaviour?"
### Issue Description

We in the middle of migration from parse.com to our own parse server on AWS EC2.

We are almost ready to go so we are testing the new platfrom.

We see weird behaviour. It's seems that parse-server don't works well with concurrent requests.

We have tested the whole app with jmeter and ab with the same result.

Parse-server tend to eat all free CPU. Even with a few requests.

[2016-08-17 15:21] DrBeak1 commented on #2518
Thanks again, @acinader -- I'll give this a shot tonight and report back.

[2016-08-17 16:26] otmezger commented on #99
+1

[2016-08-17 16:57] faizsameerahmed96 commented on #2539
It is always better to divide parse server up into multiple instance with a load balancer than using a scaled up instance. Also have you optimized your main.js file to make use of "workers" or use pm2 for deployment?

[2016-08-17 17:11] Sharathmk99 opened #2540 "Can Push Notification use MQTT for sending messages"
Hi,

I need to send push notification without GCM/APN, so decided to use MQTT for sending push notification.
Is any one aware of ow to use MQTT, if not please direct me how to develop this feature with Parse as core.

Thanks
Sharath

[2016-08-17 17:26] icalvete commented on #2539
Actually, since a AWS EC2 c4.large has two cores, we have two parser-server process. One listen on port 1338 and the other listen on port 1339.  The c4.large run an haproxy listen on port 1337 and distributes requests between this local ports.

We use AWS EC2 auto scaling to scaling our platform, but we are running the test against the most simple case.

If we run the test against the haproxy, al

[2016-08-17 18:45] osolano commented on #2529
I also have this same issue with the latest update! Any suggestions to fixing this?

[2016-08-17 19:25] flovilmart commented on #2539
That is very odd indeed, do you have any trace timing info about MongoDB queries and # of queries to mongo during those tests? Running a similar setup, and we don't see those latencies

[2016-08-17 19:29] greinaldor opened #2541 "How can I get RPS ?"
How can I get the number of RPS from my ParseSever instance. Many thanks.

[2016-08-17 21:15] icalvete commented on #2539
Except my process, no one is accesing to mongodb.  I see 4 connections.

Launching 100 requests, 16 concurrent...

- 8 ops / sec (queries)
- No queries longer than 5 ms. ( I run db.setProfilingLevel(2,5) )

[code]

I've tested my mongodb directly and is really fast. The bottleneck seems to be in parse-server. It can't manage concurrent requests.

[2016-08-17 22:27] flovilmart commented on #2539
What you describe is very odd... we currently process about 300rps (mostly reads and _Installation writes) and the CPU on each machine is at ~30%. And this is the most vanilla as possible as we don't leverage the cores through pm2/ cluster... what'a the result on a naked development machine with local MongoDB?

[2016-08-18 01:59] jameslin101 commented on #2189
I've discovered that this error happens when I set an object attribute to nil or null, instead of using unset(:attribute) to empty it out. Crazy tho this causes my entire query (and app) to fail..

[2016-08-18 02:01] JustK2 opened #2542 "Twitter Login failing on Parse Server, working on Parse Endpoint."
Hi,

We are running Parse Server (node.js), AWS, MongoDB or Mlab and attempting a Twitter Oauth. When connecting to Parse Server instance on AWS we get the following:

[;[fg153,102,51;2016-08-17 18:21:14:251 1moment debug development[main] D OMLoginViewController.m:189 | signed in as r1moment
[;2016-08-17 18:21:14.605 1moment debug development[3650:1359145] [Error]: Twitter auth is invalid for

[2016-08-18 05:38] pan83 commented on #2412
Thank you @ronnno. I'll try to do something similar on my setup.

[2016-08-18 07:22] DrBeak1 opened #2543 "iOS - ParseError: Session Invalid"
Today I'm seeing a lot of `session invalid` errors. Are session tokens now set to expire at a given point? Logging out and back in fixes the issue, but I remember this wasn't the case previously.

ios pod: 1.12.0
parse-server: 2.2.17

[2016-08-18 07:24] DrBeak1 commented on #2518
@acinader I can confirm that your last suggestion **does** in fact work. Thank you, sir!

[2016-08-18 07:24] #2518 closed

[2016-08-18 08:05] icalvete commented on #2539
Same.

I have installed a new machine (c4.large). Mongo is empty. Only one user. My main.is (Where the cloud code is going to be) is empty too.

### More data:

#### Node version
[code]

#### The way I run parse-server
[code]

#### My config.json
[code]

parse.com need same time for a login (220 ms) but the service can manage concurrent request without letting down

Remember that I'm testing login

[2016-08-18 12:02] manideepl commented on #127
I'm sorry for being so naive, but how do I get the app id and API key? I am using Parse Server REST API

[2016-08-18 13:09] nerakhon opened #2544 "Parse server is sometimes unable to handle voting in mongo replicaset"
### Issue Description

Describe your issue in as much detail as possible.

I have a parse server running dockerized on ubuntu 14.04 on digital ocean, connected to MongoDB 3.0 replicaset with rocksdb engine. When a network issue happens at digital ocean and cluster undergoes voting parse server ends up in unrecoverable state complaining about closed sockets on original primary of the replicaset.
##

[2016-08-18 14:45] benishak commented on #2544
I also have similar issue but with mongos! althought I have 3 Mongos but when one of them is not available or a member of one of the replicaSet of one of the mongos goes down or one of the 3 replicaset enter an election stat, Parse stop working and throw error

[2016-08-18 14:58] rgipd commented on #2362
Hello, @flovilmart. I just forked "parse-server-example" and made few modifications (added two routes)
You can test locally the error with:

`curl -X GET http://localhost:1337/register (to register and get a session token)`

and then later:

`curl -X GET http://localhost:1337/test2?sessionToken=r:xxxxx`

The error is going to be the same as listed:

[code]

My best regards.

[2016-08-18 15:14] JeremyPlease commented on #2539
I just spent some time looking into this issue. There is most definitely a performance problem with Parse Server signup/login.

**Some background:**
* nodejs is single-threaded so when any code does something intensive it blocks all other code from executing.
* By design and as a best practice, signup and login (any password hashing) should be slow.
* Parse Server uses the [async methods](https://

[2016-08-18 15:16] flovilmart commented on #2539
The native bindings may be a good idea but may be problematic for users with limited compilation tools on the remote machine.

[2016-08-18 15:23] JeremyPlease commented on #2539
@flovilmart Good point... Windows users will most certainly run into issues as well.

Just came across [bcrypt.js](https://github.com/dcodeIO/bcrypt.js) which appears to do a nice job or progressively handling hashing in a non-blocking way.

[2016-08-18 15:32] flovilmart commented on #2539
@JeremyPlease also on heroku, app engine etc... all thin containers may have problems with those native modules. We could definitely try bcrypt.js, run ab against it quickly. Wanna run the benchmarks?

[2016-08-18 17:18] acinader commented on #2488
@chrismatheson I do more or less what you're describing using @TylerBrock's https://github.com/HustleInc/parse-mockdb

Works like a charm.

[2016-08-18 17:27] benitech commented on #2446
i can confirm this issue is happening at update from 2.2.16 to 2.2.17

It is throwing similar error as posted

[2016-08-18 17:36] JeremyPlease commented on #2539
Running some benchmarks now. Stay tuned... 📺

[2016-08-18 17:37] flovilmart commented on #2539
👍

[2016-08-18 17:54] JeremyPlease commented on #2539
Well... Here are some benchmarks. Ran with `ab -n200 -c100` locally 5 times for each module.

* **Baseline** (immediately fulfill promises in password.js without bcrypt use): 250 req/sec
* **[bcrypt-nodejs](https://github.com/shaneGirish/bcrypt-nodejs)** (current implementation): 5 req/sec
* **[bcryptjs](https://github.com/dcodeIO/bcrypt.js)**: 5 req/sec
* **[twin-bcrypt](https://github.com/fpirsc

[2016-08-18 18:12] flovilmart commented on #2539
Maybe mark is as an optional dependency, if compilation fails, we use the std slow bcrypt-nodejs (current implementation).

Would that be reasonable?

[2016-08-18 19:17] DrBeak1 commented on #2543
Ah - I'm guessing this is related to legacy tokens ... is there a way to set tokens to never expire?

[2016-08-18 19:33] drbarto commented on #2488
What are the benefits of using parse-mockdb instead of parse-server? The "real" server can be run as an npm module as well, so I don't really get why one should use an incomplete re-implementation of the API.

In my current test setup, I start a (local) Parse server before running the tests and have my tests communicate with the real Cloud Code functions. The only downside I see is that for a real

[2016-08-18 19:54] acinader commented on #2488
i like that with the parse-mockdb i don't have to have a mongo service running.  i've tinkered a little with running parse-server for unit tests and have been looking at the parse-server unit tests, but the setup is onerous to me so far.  will try again at some point (soon probably) but in the meantime, the mock setup was reasonably easy to get going and has worked well.

[2016-08-18 20:52] hramos commented on #2540
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-08-18 20:52] #2540 closed

[2016-08-18 22:23] flovilmart commented on #2539
@JeremyPlease did you use saltRounds = 10 in the hash function from bcrypt ? What was the value you used?

[2016-08-18 22:59] si294r commented on #2515
I'm also got alot of error code=101 :

info: warning: error while sending push code=101, message=Object not found.

[2016-08-19 00:57] JeremyPlease commented on #2539
@flovilmart Yep, 10 saltRounds for `.hash(password, saltRounds, ...)`

[2016-08-19 04:34] parseserverpush opened #2552 "Crash OutOfMemory send push all. 3m user."
I have problems sending push all user. It is report OutOfMemory. I sended 3M user. Please help me.

[2016-08-19 06:27] icalvete commented on #2539
I've tried the [bcrypt](https://github.com/ncb000gt/node.bcrypt.js) and works really fine.

To me this issue can be closed.

Thanks for all.

[2016-08-19 09:17] benishak commented on #2552
check this PR https://github.com/ParsePlatform/parse-server/pull/2444
you can subscribe your users to sns topic and send the push to the topic, then it aws will send the push to all user subscribed in the topic.
https://github.com/ParsePlatform/parse-server/pull/2444#issuecomment-238181688

you can use my forked sns-adapter which support sending to topic
https://github.com/benishak/parse-server-sn

[2016-08-19 09:58] kartheeknagasuri commented on #1002
hello, i am still facing this issue, any suggestions?

my DB connection string is

mongodb://username:password@7163360509808/iad2-c5-1.mongo.objectrocket.com:port/preprod

at new Promise (/var/app/current/node_modules/parse-server/node_modules/babel-polyfill/node_modules/core-js/modules/es6.promise.js:191:7)
    at Function.MongoClient.connect (/var/app/current/node_modules/parse-server/node_modul

[2016-08-19 11:57] flovilmart commented on #2539
We'll try to do a release soon when thé PR has landed

[2016-08-19 13:32] flovilmart commented on #2362
@rgipd can you provide what's in the `....at next ....` as it contains very important information about the full call stack

[2016-08-19 14:50] rgipd commented on #2362
Ok, @flovilmart, it's below.
By the way, with parse@2.2.0 this error doesn't occurs.

My current path is /tmp/parse-server-example:
The log below

[code]

[2016-08-19 14:53] flovilmart commented on #2362
Did you register your routes before of after parse-server?

[2016-08-19 14:55] rgipd commented on #2362
It's after, just like parse-example-server guideline.

Check my index.js in my repository, but here is it:

[code]

PS: I updated the last answer with steps to reproduce.

[2016-08-19 15:01] rgipd commented on #2362
@flovilmart I just test with the routers before the parse-server and the result is the same:

[code]

[2016-08-19 15:03] flovilmart commented on #2362
I'm not sure what the problem is also note that the fix introduced here: https://github.com/ParsePlatform/parse-server/pull/2475 has not been released yet

[2016-08-19 15:33] FigueiredoStable opened #2553 "server-side logout not working"
Hy, i install and migrate my app from parse.com to parse-server, i can run my app pointing to my new server, include my cloud code:

But a have a problem:

When i login;

cloud-code:
[code]

On successful:
Result: {"sessionToken":"r:1e5ba414f89bbc7840b4cd01b52505d0"} functionName=login, username=xxx@xxx.com, password=xxx, result=undefined

But when i select the logout function i get this error:

e

[2016-08-19 16:41] johnturnham opened #2555 "Error code 2. The service is currently unavailable."
Using saveAll within a Parse Job to insert a batch of new objects into a remote mLab DB fails randomly with error object {"code":2,"message":"the service is currently unavailable"}. This error arose when when saving 6,000 new objects from this Job.

In an attempt to diagnose the issue, I separated the 6,000 objects into batches of objects and used saveAll on each batch. I've tested with batches as

[2016-08-19 17:38] woodardj commented on #2520
A touch hacky, but we included something like this immediately after mounting the parse-server middleware:

[code]

This let us move forward with fixing the rest of our bugs while halting requests to the parse API that we weren't expecting to flow through (as was the case on Parse.com), and we can fix the rest of our app to expect this more standard Express behavior later.

[2016-08-19 17:57] gateway opened #2556 "Horrible response times"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-08-19 19:22] joeyslack commented on #2539
It definitely does not work as a straight replacement.

[2016-08-19 19:28] faruktoptas commented on #2512
I faced the same problem. The problem is that when i renew letsencrypt certificate it generated **fullchain2.pem,privkey2.pem** files. But I copy generated the mongodb.pem file with this command (with old certificates):
sudo cat /etc/letsencrypt/archive/example.com/{**fullchain1.pem,privkey1.pem**} | sudo tee /etc/ssl/mongo.pem

Don't forget to use new certificate files.

[2016-08-19 20:08] flovilmart commented on #2539
@joeyslack the PR is open and that will also factor for setups where build tools are not available remotely

[2016-08-19 20:39] #2501 closed

[2016-08-19 20:53] #2539 closed

[2016-08-19 21:04] joeyslack commented on #2539
@flovilmart FYI, I'm unable to login to my app (facebook connect, and also manual login method) with this new patch on master. Would love to see if it works for anyone else....

[2016-08-19 21:06] flovilmart commented on #2539
What is the issue that you see? FBConnect should be un-affected by that change.

[2016-08-19 21:12] nirco123 commented on #2556
I am having the same issues, all started when from version from 2.2.23, I suspect that the issue somehow relate to the user side of each request.

[2016-08-19 21:15] flovilmart commented on #2539
@joeyslack :

I just tried that:

[code]

And that passes, unfortunately, we can't test it on travis as the bcrypt native module won't build

[2016-08-19 21:20] joeyslack commented on #2539
I don't have a lot of time to debug this now, but if it's working for everyone else, it's probably my VM. Will post back with more details if I find anything.

[2016-08-19 21:25] flovilmart commented on #2539
@joeyslack we're planing to release tonight 2.2.18. We don't want anyone to be locked out...

[2016-08-19 21:42] flovilmart commented on #2556
@nirco123 Are you seeing it as well on you local development machine with a local mongodb?

[2016-08-19 22:00] flovilmart commented on #2555
Your issue is on parse.com please refer to the support available at http://parse.com/help

[2016-08-19 22:00] #2555 closed

[2016-08-19 22:05] johnturnham commented on #2555
Where? I've looked everywhere for this issue and a resolution.

Please provide a link.

[2016-08-19 22:06] flovilmart commented on #2555
There is a contact us button right in the middle of the page.

[2016-08-19 22:07] johnturnham commented on #2555
That button points me here, to GitHub.

[2016-08-19 22:14] flovilmart commented on #2555
![capture d ecran 2016-08-19 a 18 14 03](https://cloud.githubusercontent.com/assets/364568/17825778/c7653d1e-6638-11e6-82c3-ee9d2d3f8c4d.png)

Select your app and then continue to Facebook bug reporting tool

[2016-08-19 22:54] joeyslack commented on #2539
@flovilmart Turned out to be an issue with FileLoggerAdapter. I am using it in my app like:
var logger = require('parse-server/lib/Adapters/Logger/FileLoggerAdapter').FileLoggerAdapter;

Had to install this dep separately. Bcrypt changes seems to work fine.

[2016-08-19 23:33] jeveloper commented on #2556
I see periodical spikes , regular latency against my cloud code is about 200-300ms and then once in a while 1.9 seconds or so

[2016-08-20 11:59] steven-supersolid commented on #2532
The token we are storing for google authentication is currently the id_token which doesn't give access to APIs. The token also expires after 1 hour. Apple authentication uses a similar token (which is also quite verbose).

However, it makes sense that we shouldn't remove existing functionality.

[2016-08-20 11:59] #2532 closed

[2016-08-20 15:35] steven-supersolid commented on #2362
I've been doing some investigation as can reproduce locally with parse-server master. The issue can be reproduced with the cli.

I added debug in node_modules/express/lib/response.js
[code]

I ran the following with a valid access token:
[code]

And got a valid response:
[code]

The error is still displayed on the console log:
[code]

The final valid header is
[code]
After this, PromiseRouter.make

[2016-08-20 15:47] flovilmart commented on #2362
Nice investigation! That will probably help track down the issue. Odd that some end points don't reproduce the issue

[2016-08-20 16:08] steven-supersolid commented on #2362
Probing a little more, there seems to be some interference from the other route mounted on /users/ in UsersRouter. Disabling /users/:objectId removes the error. Not sure if this is related.

[code]

I thought the problem may have been because /users/me matches the first route, then matches the 2nd with a user id of 'me'. I put some debug at the top of handleGet though and was not called when the e

[2016-08-20 16:25] flovilmart commented on #2362
That may well be the case... we should do the handleMe in the same handler of the objectId

[2016-08-20 21:06] flovilmart commented on #2488
Seems extensively answered, closing

[2016-08-20 21:06] #2488 closed

[2016-08-20 21:11] acinader commented on #2556
Not exactly on topic, but is there a recommended profiling tool?  I'd like to start sampling but not sure what the state of the art is on this stack.

[2016-08-21 08:21] letzgame commented on #2515
@benishak , Did you try the latest version? Actually I have the latest expressjs version & parse server version. When I rolled back, every thing works well.

[2016-08-21 17:57] #2362 closed

[2016-08-21 17:57] #2520 closed

[2016-08-21 18:48] gateway commented on #2556
I going to roll back to 2.2.15, some people said anything > than that are seeing potential issues.  I havent had time to debug it but have some profiling tools running over the weekend, I agree to seeing the spikes that @jeveloper is seeing as well.

[2016-08-21 21:13] jeveloper commented on #2556
I assumed that its the cached object tree that gets flushed x amount of seconds, not entirely sure, but i suspect that its flushing EVERYTHING regardless of update frequency or TTYL.

if anyone is using custom cache adaptor, id love to hear

[2016-08-21 23:38] parseserverpush commented on #2552
Thanks for answering. I need one other solution. Thanks. I think you can fix the code to send one little parseserver.

[2016-08-21 23:42] benishak commented on #2552
Use AWS SDK to subscribe users to SNS topic. Won't work out of the box ...

[2016-08-21 23:53] parseserverpush commented on #2552
If using SNS . i think .I pay 3$/notify and maybe more.

[2016-08-21 23:56] benishak commented on #2552
SNS is 50 cent per 1Mio notification! First 1 Mio is free. In your case you pay $1 for your first 3M pushes

[2016-08-22 00:28] parseserverpush commented on #2552
I just want to use to push parseserver. I successfully sent a few users. I installed ubuntu EC2 and Amazon (16G Ram, 4CPU). how users maximum send in parseserver. What solution to i only parseserver? Thanks You.

[2016-08-22 00:49] flovilmart commented on #2552
We lack a good system to batch large sends like the one you describe. So no matter how big the AWS instance you run, it's unlikely to perform well.

[2016-08-22 03:19] parseserverpush commented on #2552
Thanks u for answer. what is solution to the problem ?. I should choose solutions . Thanks U.

[2016-08-22 03:50] otymartin commented on #2552
@parseserverpush Perhaps onesignal.com

[2016-08-22 04:23] johnturnham commented on #2555
Hi flovimart,

I've submitted this request to the "Facebook for developers" area that you've suggested but 1) haven't received any confirmation response since submitting it days ago and 2) can't find my report anywhere in that site.

It seems that I need to now register my app for use with Facebook to have any visibility into the status of the bug I submitted. However, I have no interest in regist

[2016-08-22 04:57] devgeek27 opened #2562 "Parse server user sessions migration"
We have successfully migrated all data from Parse.com to AWS Elastic Beanstalk and self-hosted MongoDB.

We have updated iOS Parse SDK to support our new server.

Everything works fine but we have an issue with an app upgrade flow.

So basically when iOS application gets updated Parse SDK logs the user out but Android app still keeps user logged in and session is still valid.

Is there any explana

[2016-08-22 07:31] calvinorchiz opened #2564 "Query limit error"
Parse Server: 2.2.17 (self hosted on local machine) from Bitnami
Parse-SDK-iOS-OSX: 1.14.2
ParseUI-iOS Version: 1.2.0
Xcode 7.3.1, Swift
OS: Ubuntu 14.04
Network: 1 GB Switch
Load on my Parse Server and Network-Switch:  very low, < 5%

In my test with Parse Server everything is working fine, but  i have some trouble with query limits.
Actual Results: All querys with limit < 509 are working fine
Ex

[2016-08-22 08:03] drbarto opened #2565 "Unexpected object caching"
For testing purpose, I regularly want to reset the database content with `mongorestore` (`parse-server` is shut down while running that command). After the reset I run some code which creates a new class. Then, when I repeat the process -- reset the db, run the code again -- something weird happens: Parse seems to remember that class's instances from the previous run and recreates them. So with ev

[2016-08-22 08:22] parseserverpush commented on #2552
@otymartin : How much it it. Thank u.

[2016-08-22 10:49] rgipd commented on #2362
@flovilmart , just a question, this fix is already in 2.2.18 or just in the master commit?
Thank you.

[2016-08-22 11:41] flovilmart commented on #2362
Just on master

[2016-08-22 11:54] flovilmart commented on #2555
I'm not working with Facebook nor Parse, just contributing to the open source part.

[2016-08-22 11:57] flovilmart commented on #2565
That is highly unlikely as we don't store anything on Parse-server itself. That has to be related to your restoration process.

[2016-08-22 12:10] drbarto commented on #2565
Any hint how I could evaluate whether it's related to the mongodb restoration?

The "ghost objects" for sure don't come from the backup data itself. I created the dump once and did not touch it afterwards; by looking at the objects' `createdAt` dates I can see that they have been created _after_  the dump was exported.

Btw -- I even could reproduce this with parse-dashboard: after the db reset (s

[2016-08-22 12:36] rgipd commented on #2362
Ok, thanks.

Just to inform, the error still occurs in master (same code, same error)

[code]

[2016-08-22 12:50] flovilmart commented on #2362
Which endpoint are you calling?

[2016-08-22 13:03] gimdongwoo opened #2566 "req.log.info & req.log.error missing (cloud code)"
This probably occurs because,
https://github.com/ParsePlatform/parse-server/pull/2478

When using req.log.info or req.log.error on Cloud code, occurs problem.

It has been stated specification.
https://github.com/ParsePlatform/parse-server/blob/master/spec/CloudCodeLogger.spec.js

What's wrong?

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 2.2.1

[2016-08-22 13:05] flovilmart commented on #2566
What problem is occurring? The functions are not exposed?

[2016-08-22 13:18] rgipd commented on #2362
First I call register

[code]

[code]

The output is going to be fine, without errors.
The error appears after, in the:

[code]

with this code:

[code]

Regards.

[2016-08-22 13:20] flovilmart commented on #2362
How you you setup parse-server on the master branch?

[2016-08-22 13:23] rgipd commented on #2362
With this link: https://github.com/ParsePlatform/parse-server/wiki/Development-Guide

This commands:
[code]

I will try another time in other folder.

[2016-08-22 13:26] flovilmart commented on #2362
ok... that's odd, I don't have it with the unit tests...

[2016-08-22 13:37] rgipd commented on #2362
Maybe the problem can be with my machine configuration with npm packages. I couldn't test in another machine.
I will wait for 2.2.19 :) Thank you.

[2016-08-22 13:45] benishak commented on #2552
OneSignal is free

[2016-08-22 14:36] benishak commented on #2515
yes I'm  using Parse Server 2.2.17 and express 4.14.x

[2016-08-22 14:48] hramos commented on #2562
Was your app using legacy user sessions prior to the migration? These are not supported by Parse Server.

[2016-08-22 14:50] hramos commented on #2553
The error is "There is no current user user on a node.js server environment."

Basically, Parse.User.logOut() cannot be used in Parse Server as there is no user to log out.

---

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-bui

[2016-08-22 14:50] #2553 closed

[2016-08-22 16:51] flovilmart commented on #2514
Merged!

[2016-08-22 16:51] #2514 closed

[2016-08-22 18:24] gateway commented on #2556
So Im using app dynamics to dig though some of these long requests.. Here is an image of a call that took 868ms

![image](https://cloud.githubusercontent.com/assets/519563/17866226/98cabe74-685a-11e6-9a3d-91a7b9ef082d.png)

those calls alone add up to 250ms..  stringify seems expensive, then 2 calls to SchemaController ?

[2016-08-22 18:34] gateway commented on #2556
Here is an hour snapshot , you can see quite a bit of slow responses happening.. :(

![image](https://cloud.githubusercontent.com/assets/519563/17866709/66f40426-685c-11e6-9c27-2f2e08d6d980.png)

[2016-08-22 19:08] Bkamau opened #2567 "Cannot GET /parse"
### Issue Description

After installing, (followed instruction)   the parse mount path /parse returns Cannot GET /parse, thus even the dashboard cannot connect to the app.
I have tried on all ubuntu 14 and 16  and debian 8  but the outcome is the same.

Using /test is working and i can post and retrieve objects

[2016-08-22 19:10] Bkamau commented on #2567
I think the same issue with the parse-server-example
https://github.com/ParsePlatform/parse-server-example/issues/261

[2016-08-22 19:37] gateway commented on #2556
So to provide more details for example.

We have a banner class which has the following:

Start and End Date for the banner (string)
Name of the Banner (string)
Banner ID (link to s3 image)
LocationID (our location data ID - string)
Radius (string)
Disabled (Number)

Our iOS client does a query around a geoPoint to see if the user is in an area where a banner would show up.

iOS Swift Function.

[

[2016-08-22 19:44] flovilmart commented on #2556
The auth/scram look to be part of the mongo driver. Not sure what we can do about it now. Maybe you should ask the guys at MongoDB about that module.

[2016-08-22 20:05] gateway commented on #2556
@flovilmart let me call them right up :) this is not the only issue, again as stated 50% of the classes are having high response times :(

[2016-08-22 20:37] jeveloper commented on #2556
I read a bit about this @gateway  , it might be that we're sending different salts and scram has to do its check, that could be the problem. Are you running mongodb 3.0 (with or without rocksdb) or mongo 3.2? I wonder if its possible to tune this.

I suspect parse server is not reusing connections to mongodb and establishing new ones every time with user/pwd for every call

[2016-08-22 20:39] gateway commented on #2556
@jeveloper running 3.2 , I might fire up a 3.0 but I prefer to get 3.2 with WiredTiger running for the performance increase and space reduction.

[2016-08-22 20:51] joeyslack commented on #2567
Show us your ParseServer config, and show your app.use

[2016-08-22 20:53] joeyslack commented on #2564
Seems like it's a result timeout? Do you have your mongo logs?

[2016-08-22 21:21] gateway opened #2568 "FacebookAppIds.push is not a function"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-08-22 21:46] gateway commented on #82
Btw, just saw this thread and running into the same issue on Heroku..

[code]

We are using the latest iOS SDK and latest parse server 2.2.18

I have this in my index.js

[code]

Any ideas?

[2016-08-22 22:16] gateway opened #2569 "Failed to validate this access token with Facebook."
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-08-23 00:08] Bkamau commented on #2567
I have not made any changes to those files. This is happening on a clean install. And i dont know where they are on the machine.

[2016-08-23 00:43] joeyslack commented on #2567
What's in the clean install? Just paste out your config.

[2016-08-23 01:34] Bkamau commented on #2567
// Example express application adding the parse-server module to expose Parse
// compatible API routes.

var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var path = require('path');

var databaseUri = process.env.DATABASE_URI || process.env.MONGODB_URI;

if (!databaseUri) {
  console.log('DATABASE_URI not specified, falling back to localhost.');
}

var api =

[2016-08-23 01:38] joeyslack commented on #2567
FYI, nothing is available on the web endpoint for /parse, even when working properly. On my production app, it will show "Cannot GET /parse" if you are trying to access that endpoint with a browser.

Are you running the dashboard separately? I'm guessing you've got some configuration wrong on there.

BTW, this is probably an issue for Stack Overflow, as opposed to here.

[2016-08-23 01:42] Bkamau commented on #2567
previously the response was something like "not authorized" instead of Cannot GET /parse. Anyway, thanks.

[2016-08-23 07:51] j-koenig commented on #2380
Ok found the solution. As long as you are uploading the file right before creating the new object with the association to the file you just have to add the url from the file upload response to your request:

[code]

It would be a good idea to update the part "Associating with Objects" in the [REST API Docs](https://parseplatform.github.io/docs/rest/guide/#files) :)

[2016-08-23 08:21] calvinorchiz commented on #2564
Yes, for trial i have set the verbosity level to 5 - a lot of stuff comes out.

Is it ok to post it here (or try another verbosity level?)?

[2016-08-23 08:25] kenwen commented on #2567
Are you running the latest version of parse server / dashboard? There's been issues with that, recommend using 2.2.17 server

[2016-08-23 09:31] steven-supersolid commented on #2569
When I'm trying to debug issues like this I find the following approach helpful:
* Run with VERBOSE=1 (on heroku add a config variable VERBOSE with value 1)
* Try and run locally
* If you cannot run locally because a device is connecting to the server then record what the device requested using above logs and recreate using curl to a local server
* Find where in parse-server the string 'Failed to

[2016-08-23 11:00] btanev opened #2570 "Create object behaviour change from 2.2.17 to 2.2.18"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-08-23 11:10] steven-supersolid commented on #2568
Looking at the source code the error is in ParseServer.js

[code]

facebookAppIds should be an array or undefined in the constructor. If undefined it will default to an empty array. Perhaps you are passing in as a string instead when you construct a ParseServer? It also looks like you have an environment variable set.

[2016-08-23 11:26] kill4food opened #2571 "Cloud function problem"
Hi, i'm trying to make a cloud function that uploads images to Dropbox and then creates and uploads a summary text file:

[code]

i put 2 comments in the code to try to explain the problem
at the beginning the summary file worked fine and only 1 time and dropbox upload worked, but the files were empty, because the part of code was after the file buffer, but because the file buffer wasn't generated

[2016-08-23 11:44] jeremypiednoel commented on #2474
Thanks guys, found my answer here :)

[2016-08-23 13:45] hramos commented on #2571
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-08-23 13:45] #2571 closed

[2016-08-23 14:33] kill4food commented on #2571
Ok, I will take that in mind in the future
I posted the question here:
http://stackoverflow.com/questions/39104014/cloud-function-continuously-looping-until-i-o-failure

Thanks

[2016-08-23 16:46] mmazzarolo commented on #2570
Can confirm, same issue here on 2.2.18 while 2.2.17 works correctly.

[2016-08-23 16:59] joeyslack commented on #2564
This is likely a better issue for Stack Overflow, as it's not a bug with parse server itself

[2016-08-23 17:59] ginofarisano commented on #82
Hi everyone,
I have installed parse server on heroku but I can not login with facebook.

This is my configuration:

var api = new ParseServer({
  databaseURI: databaseUri || 'mongodb://localhost:27017/dev',
  cloud: process.env.CLOUD_CODE_MAIN || __dirname + '/cloud/main.js',
  appId: process.env.APP_ID || 'myAppId',
  masterKey: process.env.MASTER_KEY || '', //Add your master key here. Keep it se

[2016-08-23 18:15] gateway commented on #82
Have you tried this

facebookAppIds: ['id'],

or

facebookAppIds: [id],

first?

[2016-08-23 18:25] ginofarisano commented on #82
Yes,

I tried

facebookAppIds: [process.env.FACEBOOK_APP_ID]

AND

facebookAppIds: [175378669534591]

AND

facebookAppIds: ['175378669534591']

AND

facebookAppIds: ["175378669534591"]

:-(

I do not know how to fix this.

Gino.

[2016-08-23 18:31] all-iver commented on #2115
Possibly related?  https://github.com/ParsePlatform/Parse-SDK-Android/issues/472

[2016-08-23 18:35] joeyslack commented on #2570
Indeed. Having to use 2.2.17 currently.

[2016-08-23 18:51] all-iver opened #2572 "Using become() with legacy session tokens"
Our app uses a webview for some tasks.  The native mobile app loads the webview, and then passes a session token to the javascript running inside the webview.  Javascript then calls become() to perform actions as the same user logged into the native app.

We have not migrated to using revocable session tokens.  When I try this with our live app (using legacy parse.com) and our updated web code (us

[2016-08-23 18:54] jeveloper commented on #2572
Did you copy all sessions into your own mongodb?

[2016-08-23 18:59] gateway commented on #82
@ginofarisano as you can see im also having issues so we are in the same boat.. :(

[2016-08-23 19:01] all-iver commented on #2572
We used the parse migration tool.  So yes, they should be there, although just in their legacy format in the _User table - not in the _Session table.

[2016-08-23 19:37] jeveloper commented on #2572
same master key and api KEY? not sure but assuming hashing is the same
Check expiry dates on _session collection
_session collection is what holds all the keys, they might be just missing
revokable or not, it doesn't matter i believe

[2016-08-23 20:05] flovilmart commented on #2572
Absolutely right.

This is unlikely to happen (at least from my side)

You could very well open a pull request for that feature, but I'm not sure we want to support the legacy tokens for security concerns. Maintaining the 2 flavours of sessionToken is also something we have to consider. This is probably a good 40-80 hours of code, considering unit tests, side effects, transitioning strategies etc.

[2016-08-23 20:05] flovilmart commented on #2570
That's odd indeed. it wasn't supposed to be affected.

[2016-08-23 20:06] flovilmart commented on #2570
I'll have a looks tonight and try to provide a patch ASAP

[2016-08-23 20:07] flovilmart commented on #2569
I'll have a look tonight

[2016-08-23 20:37] all-iver commented on #2572
Okay, thanks a lot to both of you for your help.  This helps me to clearly understand our options!

[2016-08-23 20:37] #2572 closed

[2016-08-23 20:49] flovilmart commented on #2572
Glad to help. Good luck!

[2016-08-23 22:43] flovilmart commented on #2570
Issue originates from: https://github.com/ParsePlatform/parse-server/commit/e4c2e65263575588698c789f3eb57bf1b2160fd4#diff-3646535e0655c134862bb00401c8097cR942

Fix don't seem trivial

[2016-08-23 23:08] flovilmart commented on #2569
Yeah, I have a fix that properly handles facebookAppIds, but it would be better to move on with the generic format: `{oauth: {facebook: {appIds: ["app1", "app2"]}}}`

[2016-08-24 00:11] gateway commented on #2569
So I was able to get this resolved, but not 100% sure what the issue is.  My original deployment was using the Heroku button for the parse server example.  Since we were not testing FB login for a while this was unnoticed.  Then when testing our login system we where stuck with this issue.

After some debugging and elimiating each part.

Testing locally (worked)
Testing on a stage server (worked)

[2016-08-24 00:13] gateway commented on #82
@ginofarisano did you depoly the parse server example via Heroku button? If you did, I would suggest not doing that and deploying the parse server example code via command line

[2016-08-24 00:34] gyratorycircus opened #2573 "Unexpected basic auth credentials take precedence over credentials in header or body params"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Server!

- [X] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.

- [X] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases

- [X] You've searched through existing issues: h

[2016-08-24 06:03] GuichiZhao commented on #2567
@Bkamau  I experience the same problem and solve it , /parse in 404 but the API under /parse can still function properly ,In you browser,you can test /parse/serverInfo and the dashboard problem is not related, stick the npm version as 1.0.15 and everything should be fine, .

[2016-08-24 08:34] ginofarisano commented on #82
Hi @gateway,
thanks to help me. Anyway I have installed parse with the heroku button.

If nobody help me I think that I will not use Parse for my app. Have you got any alternatives?

Gino.

[2016-08-24 08:35] navjotjova commented on #1860
+1

[2016-08-24 11:02] #2564 closed

[2016-08-24 11:32] carrascoacd opened #2577 "Timeout after two weeks"
After installing parse as node.js app (with other api services) over Docker, the server is working as expected but after two weeks of life Parse gets frozen and I need to restart the container in order to get back Parse.

The server is working because other requests are working but not the Parse api that takes too long and produces timeouts.

Thank you.

[2016-08-24 12:09] flovilmart commented on #2577
Is the memory / CPU ramping up before the freeze? Is the performance degrading?

[2016-08-24 12:33] flovilmart commented on #82
Instead of setting facebookAppIds, try setting `oauth: { facebook: { appIds: ['myappid] }}`

[2016-08-24 15:36] execMobile commented on #1855
Hi guys,

Any feedback on this?

[2016-08-24 16:16] flovilmart commented on #1855
@execMobile with only the parse-server logs that doesn't help much, as many stated in the thread, this was resolved by pinning mongo to 2.1.18. What version of parse-server are you running? We also added a reconnection mechanism in case the connection was closed to the DB for inactivity.

[2016-08-24 17:17] AndrewLane commented on #75
Is this still true @gfosco?  I was able to run parse-server in Windows 8 without installing Python, and I'm seeing bcrypt hashes in my MongoDB.

[2016-08-24 17:19] flovilmart commented on #75
That doesn't seem to be true, we changed the bcrypt libs for native or node versions and a fallback is provided in case the native version can't be built.

[2016-08-24 18:17] Bkamau commented on #2567
Server v 2.2.17 and dashboard v 1.0.15 worked. Thanks all.

[2016-08-24 18:27] gateway opened #2580 "Can't set headers after they are sent.] Error: Can't set headers after they are sent. 2.2.18"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-08-24 19:09] mooshee commented on #2104
I'm also seeing req.user undefined in self-hosted Parse cloud code functions.  It only occurs when attempting to make a cloud code call from a current user that is restored between launches of the iOS app.

NOTE:  I have not tried against Parse.com, as this is a new project without a Parse.com app.

I recreated the bug in a fresh checkout of parse-server-example running on localhost.  I only added

[2016-08-24 19:29] flovilmart commented on #2104
In beforeSave(Parse.User) you should  access the user with `req.object`

[2016-08-24 21:47] mooshee commented on #2104
@flovilmart `req.object` will contain the User data that is being saved (not the problem being discussed).  The problem is that the user making the request should populate `req.user`.  In my example, `req.user` is valid in one case and undefined in another even though a valid user has made both requests.

[2016-08-24 22:00] flovilmart commented on #2104
I'll add some tests checking if that's reproductible all the times.

[2016-08-24 22:02] tzabian opened #2581 "How to debug a sudden influx of “Request timed out” as of Aug 24/16"
I know this isn't a Parse support forum but as we're in the process of migrating to self-hosted (and have a code freeze on anything Parse hosted) and have hit some pretty massive issues in sudden timeouts.

We run at around 130 req/sec (well below our quota of 190) and as of yesterday have seen a sudden spike in time outs (see below). This has been on and off and is drastically impacting the perfo

[2016-08-24 22:06] hramos commented on #2581
It's best if you file this as a bug with the Parse bug tracker, we don't want to encourage the use of this issue tracker for non-Parse Server support.

[2016-08-24 22:06] #2581 closed

[2016-08-24 22:08] mooshee commented on #2104
I suspect it to be an issue with the Parse iOS SDK.  I haven't interrogated the headers yet (haven't had time today), but I suspect something isn't being persisted correctly for the logged-in user between launches.  Resulting in parse-server not associating the request with the logged-in user.

[2016-08-24 22:09] tzabian commented on #2581
@hramos where is this Parse bug tracker. Ever since you guys switched your support from hosted Parse to self-hosted Parse, it seems anything to do with the prior has vanished off the internet. Thanks

[2016-08-24 22:13] hramos commented on #2581
It's linked to from the Help page: https://parse.com/help

[2016-08-24 22:21] flovilmart commented on #2104
That is also possible, we infer the user on the session header

[2016-08-25 02:49] greggmojica opened #2582 "Error on Socket - LiveQuery Error (Cannot Connect)"
Hi everyone -
I'm attempting to use livequery (using the js sdk) in my parse-server app hosted on AWS using SSL. I've attempted to connect and each time I get the following error:

<pre>
WebSocket connection to 'ws://XXXXXXXXX.XXXXXXXXXXXXX.com/parse' failed: Error during WebSocket handshake: Unexpected response code: 403
error on socket
</pre>

My livequery js code is quite simple:
<pre>
let quer

[2016-08-25 03:18] parkej60 commented on #985
This seems to work correctly if you call .toJSON on the top level object, but any of it's properties that contain objects are not affected, they still just pass down the reference. How would you correctly go about handling the scenario where you have an object that has a relation to a user reference.

[2016-08-25 04:20] devgeek27 commented on #2562
Is there a way to find it out?

[2016-08-25 05:20] plaudev commented on #1304
@lovishdogra, thank you for responding to @emrekhan which led me to finally getting my parse server set up on heroku!

[2016-08-25 06:41] GuichiZhao commented on #2580
My workaround  is never putting any route after /parse route even the 404 route, just exclude /parse

[2016-08-25 08:08] execMobile commented on #1855
Hi @flovilmart,

The dependencies are as follows:

"dependencies": {
   "body-parser": "^1.15.1",
   "ejs": "^1.0.0",
   "express": "~4.11.x",
   "kerberos": "~0.0.x",
   "mandrill-api": ">=1.0.2",
   "parse": "~1.8.0",
   "parse-server": "~2.2.18",
   "mongodb":"2.1.18"
 },

We have changed the parse-server to 2.2.18 and hopefully it will work as expected. Will post anything if the problem occurs

[2016-08-25 14:00] johnnyzen opened #2589 "Parse.Cloud.httpRequest response gzip inflation / compression"
Hi all

Is there something different in how Parse.Cloud.httpRequest is handling compression ?

On parse.com, I never had an issue with receiving a XML file, but using parse server on a different host (back4app), my httpResponse.text is a load of: �E��ڇ�*q�������y���v^�����

[code]

Can anyone help me please ?

Best wishes

[2016-08-25 14:25] hramos commented on #2582
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2016-08-25 14:54] flovilmart commented on #2570
@btanev alright, went back a bit, checking here: http://parseplatform.github.io/docs/rest/guide/#creating-objects the REST call should only return createdAt and objectId, as well as keys that have been set by Cloud Code hooks.

The behaviour < 2.2.18 was 'broken'.

[2016-08-25 15:02] bohemima commented on #2589
You really should consider using the request npm module instead of parse "proxy" of it. Also, this question is more suited for SO or the likes.

[2016-08-25 15:18] flovilmart commented on #2569
maybe we should close that one as it seems to be a misconfiguration problem on your side

[2016-08-25 15:19] #2569 closed

[2016-08-25 15:20] flovilmart commented on #2566
@gimdongwoo what is exposed on the object req.log? can you log it?

[2016-08-25 15:21] flovilmart commented on #2556
Should we close that one as it seems this has been resolved offline?

[2016-08-25 15:22] flovilmart commented on #2544
@benishak what is the error that is thrown?

[2016-08-25 15:44] jeveloper commented on #2556
Hey @flovilmart @gateway  , please don't close, its still an issue for many of us.
As i mentioned : "I suspect parse server is not reusing connections to mongodb and establishing new ones every time with user/pwd for every call"  , shouldnt the server (parse) contain a connection pool to avoid auth every time an api is called?
each time we use mongodb connect() , thats a new connection and scram i

[2016-08-25 15:46] flovilmart commented on #2556
@jeveloper I don't see this issue, the mongo is connected once and for all, until the connection hits a timeout, If you application receive little traffic, or that your connection timeout is too low, the connection will be close by the mongo driver.

[2016-08-25 15:47] steven-supersolid commented on #2556
@gateway if it was solved offline, could you share the solution for the benefit of others?

[2016-08-25 15:52] flovilmart commented on #2556
If a new connection is established for every calls this is not parse-server as we maintain one connection (that is a pool, managed by the mongodb driver). When that connection is closed, failed, we mark it so the next time a request come, a new connection is established.

[2016-08-25 15:53] johnnyzen commented on #2589
Closing this as posted on stack overflow

http://stackoverflow.com/questions/39149683/parse-cloud-httprequest-response-gzip-inflation-decompression

[2016-08-25 15:53] #2589 closed

[2016-08-25 16:30] jeveloper commented on #2556
Thanks! I did some digging, saw that too.
@flovilmart  is there a way to control cache data (ttyl and all) ? I feel like its very short

[2016-08-25 16:34] flovilmart commented on #2556
This Would be into your driver settings, they can be updated through the URL you pass for the DB.

[2016-08-25 16:41] jeveloper commented on #2556
@flovilmart sorry i meant parse-server configuration for caching data, perhaps using redis

[2016-08-25 16:43] flovilmart commented on #2556
This is deviating from the original issue.

This is not part of parse-server, but pull requests are welcome, as always.

[2016-08-25 16:43] #2556 closed

[2016-08-25 16:49] rmros opened #2590 "can we make any platform with parse - server in web level?"
can we make any platform with parse - server in web level?

[2016-08-25 17:05] flovilmart commented on #2580
@gateway what HTTP call trigger that? In 2.2.18 this should have probably been fixed for most of the calls, as well as by #2559

[2016-08-25 17:21] gateway commented on #2556
So, this is not resolved, their was really no solution. I did have a few things happening at the same time but with those gone im still seeing various spikes.

We dont have much traffic right now just a few beta testers fyi so its not like the server is being bombarded.

I still have no idea what Middleware: anon is, if we could drill down into this we might be able to see what is going on.

![ima

[2016-08-25 17:37] gateway commented on #2580
I think this happens when our client saves a userTag, stuff they tag in our app..

This happens on a few of our queries for POST from our app..

[code]

[2016-08-25 17:39] flovilmart commented on #2556
The middleware: anon is likely to be the anonymous function that runs to process your request i.e.: parse-server...

If you have not much traffic, this is probably the driver reconnecting...

Look at the mongo doc here: https://docs.mongodb.com/manual/reference/connection-string/#connection-options

Try setting the socketTimeoutMS to a large value like 1000 * 60 (1 minute).

Looks also in mongodb

[2016-08-25 17:41] btanev commented on #2570
Hi @flovilmart

If it is by spec then it is by spec. Thanks for checking this out.

Do you guys have in your backlog items that are going to change this behaviour?

Can I suggest a change in the behaviour of `POST` and `PUT` requests? If they are returning the "changed" fields this will reduce the requests to the server. Right now in 2.2.18+ we have to do a `POST / PUT` and then to make sure we ha

[2016-08-25 17:54] gateway commented on #2556
@flovilmart reaching out to Mlab right now to see if they can shed some light on this.

[2016-08-25 17:59] flovilmart commented on #2570
We should not change that behaviour, there still maybe some quirks that don't match with the original documentation, so when in doubt, I ever go back to the original documentation.

As it's stated, it should **only return changed fields** as well as createdAt and objectId on POST, updatedAt on [PUT](http://parseplatform.github.io/docs/rest/guide/#updating-objects).

If it isn't we should make sure

[2016-08-25 19:12] flovilmart commented on #2556
So everything is fine, 87% of your requests are normal...

[2016-08-25 19:48] mooshee commented on #2104
I found a closed (yet unresolved) issue here https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/609 which describes the problem I'm having above.  I see the error 'PFKeychainStore failed to set object for key 'currentUser', with error: -34018' which is describe here https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/437 as being fixed with 9.3, but I'm running iOS 10.0 and the proble

[2016-08-25 21:11] ckarmy opened #2591 "Delete files"
Hi,
I need to delete my unused files. How can Achieve this with the Javascript SDK?

I really need to do this on my app. It's possible with parse-server? Before there was a button "Clean Up Files"...

Thanks!!!!!

[2016-08-25 21:25] joeyslack commented on #2591
You will have to manually do it.

[2016-08-25 21:25] joeyslack commented on #2590
Yes, you can, why not?

[2016-08-25 21:26] #2591 closed

[2016-08-25 21:26] #2590 closed

[2016-08-25 21:27] hramos commented on #2573
Looks like we can close this now that #2574 has landed?

[2016-08-25 21:27] #2573 closed

[2016-08-25 21:32] mik-dass opened #2592 "Wrong results returned from whereNotContainedIn() method"
I am trying to create a query to find posts which are not liked by the logged in user. I create the array containing all the objectIds of posts not liked by the user.Then I perform a query like this

     var votes = new Parse.Query(Votes); votes.equalTo("user_id", request.params.user_id);
    votes.find({
    success: function(results) {
     var ids = results.map(function(obj) {
     return obj.

[2016-08-25 21:47] flovilmart commented on #2592
This seems to be a bug.

[2016-08-25 22:38] jeacott1 commented on #2544
I can confirm that there is an issue, but for us we get a "not master, slaveOk=false;." exception.
to be clear we intend slave to be set false. for me its bizarre behaviour when the slave=true/false setting is clientside, so why it would ever send a request to a mongo slave knowing that it will reject the response is just odd.
There is no problem if parse/mongo are idle. when a mongo election occu

[2016-08-25 23:09] ChrisHawley commented on #2582
@greggmojica I had a similar problem -- changing the protocols on my ELB seemed to do the trick.
The following is what I added to my elastic beanstalk env.yaml:
[code]

[2016-08-26 01:29] Npmorales opened #2593 "Query Performance in Parse Server"
### Issue Description

We are testing our new Parse Server on AWS EC2 and we are surprised for the poor performance obtained. Our mongodb platform is really close to our parse-servers. There aren't any slow queries in our mongodb (80 ms is slow to us).We have un ELB with only one instance behind.

We have observed that the performance depends on the concurrence of requests and the number of regist

[2016-08-26 02:12] flovilmart commented on #2544
@jeacott01 what version are you running? We added in 2.2.17 a recovery for exceptions in the mongo driver. If that's not effective for your use case, we shall invesitgate what error is triggered and clean up the pending connections while the election is occurring.

[2016-08-26 02:17] flovilmart commented on #2593
Not sure what normal behavior would be. Did you try with a lower concurrency? Nodejs is single threaded, with a single event loop, clobbering 100 threads for 10s is likely to be problematic.

Did you run some tests with the `ab` tool with a concurrency of 30-50? We have a setup on google app engine, and we limit the rps to 50/instance before triggering auto scaling, without leveraging multi cores

[2016-08-26 02:50] greggmojica commented on #2582
@ChrisHawley did you create this env.yaml file (I don't have it in my config). I do have an app.yaml file.

[2016-08-26 03:53] ckarmy commented on #2591
@joeyslack how can I get the list of all files? Including the unused files?

Do yo know where can I find a example?

Thanks a los!

[2016-08-26 04:42] uluru-phatnguyen opened #2594 "ParseSever LiveQuery: expressjs call save but get error "Can not find subscriptions under this class XXX""
**Step 1: Build parser-server config in index.js**
[code]

**Step 2: Build webapp by expressjs framework**

Call api (above server) to update data of XXX via ParseQuery.

But i always get bug logs from server "Can not find subscriptions under this class XXX"

https://github.com/ParsePlatform/parse-server/blob/master/src/LiveQuery/ParseLiveQueryServer.js#L154-L158

I don't know how to fix, If have

[2016-08-26 06:44] jcampalo commented on #2580
Did you try to update express to latest version?

[2016-08-26 07:19] johnnyzen commented on #2589
To anyone having this issue, here is the solution.

The option **gzip:true** is not documented anywhere. So I hope this helps:

[code]

[2016-08-26 07:38] mik-dass commented on #2592
@flovilmart I am actually using the api.parse.com servers and found this bizarre bug or whatever. I know this place is only for parse-server bugs but I think it might still exist in the parse-server .Earlier such a query used to work because I have encountered many people and examples who have made the $nin query and successfully got back the desired results. So I believe something in the recent u

[2016-08-26 08:33] gregplumbly commented on #1914
@drorsun Hi, how do you know when ParseUser.enableRevocableSessionInBackground is complete?

[2016-08-26 09:33] benishak commented on #2544
As far as I remember, something like this
```MongoError .... Primary shard shard_1 not available, election stat```

[2016-08-26 09:42] benishak commented on #2482
After running for a week I can say it was NodeJS issue because of the old V8 CG bug in node < 4.5
I'm now using node 6.4 in cluster mode, things are acceptable,

But the top example still causing a memory leak,
I install `memwatch-next` and inside the callback of leak event I put some logs and i got the following
[code]

I still not sure what cause this leak, but I disable all our cloud code to ma

[2016-08-26 12:31] flovilmart commented on #2594
Do you have a client subscribed to those updates?

[2016-08-26 12:33] flovilmart commented on #2592
Parse.com don't use parse-server at all, until you reproduce that error on Parse-server, i'I'll close that issue

[2016-08-26 12:33] #2592 closed

[2016-08-26 14:52] rogernolan commented on #2556
That doesn't sound fine to me considering the low load we're talking about.

[2016-08-26 14:58] jeveloper commented on #2556
FYI running mongodb (with Rocks mind you) righta long parse-server doesn't make it any faster.

[2016-08-26 15:19] Npmorales commented on #2593
Actually, since a AWS EC2 c4.large has two cores, we have two parser-server process. One listen on port 1338 and the other listen on port 1339. The c4.large run an haproxy listen on port 1337 and distributes requests between this local ports.

Here the results with ab :

**_Test 1 Concurrency Level:      50_**

[code]

**_Test 2  Concurrency Level:      100_**

[code]

[2016-08-26 15:30] flovilmart commented on #2593
So it's about 83ms / request.

On Aug 26, 2016, 11:19 AM -0400, Npmorales <notifications@github.com>, wrote:

[2016-08-26 15:30] flovilmart commented on #2556
Did you try increasing the socket timeout on the MongoDB driver?

[2016-08-26 15:38] rogernolan commented on #2556
Doesn't Parse set socket timeout on the MongoDB to 30s by default?

[2016-08-26 16:09] flovilmart commented on #2556
You can set it right into the MongoDB URI

[2016-08-26 17:36] plaudev opened #2595 "unable to send push via cloud code"
Hello, I can send push by cURL inline but can't do it with cloud code. Can you please help spot what I'm missing? Many thanks.

send push by cURL inline:

`curl -X POST -H "X-Parse-Application-Id: myAppId" -H "X-Parse-Master-Key: myMasterKey" -H "Content-Type: application/json" -d '{ "where": { "deviceType": { "$in": [ "ios",  "android"  ]  }  }, "data": { "title": "greetings", "alert": "Howdy bud

[2016-08-26 17:54] flovilmart commented on #2595
Can you provide the logs running parse-server with VERBOSE=1

[2016-08-26 18:09] Npmorales commented on #2593
But the 50 % of the requests takes more than 4 seconds to be served even limiting the concurrence to 50 . That not seems to be a good performance.

However if we limit the result to 100 instead 300 , the throughput improves a lot . Is normal that Parse Server suffers so much for the number of lines to return in a simple query?

Next , you can see that the same test (lines limit= 100 , concurrency=

[2016-08-26 18:23] jeveloper commented on #2556
@gateway curious if you tried that in your configuration
by the way that App dynamics looks amazing, are you on a paid plan to see all this crazy insight?

[2016-08-26 19:59] flovilmart commented on #2593
Less data to transfer, less time to process...

@TylerBrock, you achieved a very nice performance on a quite simple setup.

Also, I'm not sure if complaining about performance is very productive here, I'm running more than 400rps sustained with < 50ms response times.

@Npmorales If you want to tackle overall performance of parse-server, feel free to work on it, that will always be welcome.

[2016-08-26 19:59] #2593 closed

[2016-08-26 20:41] plaudev commented on #2595
Thank you for response. Here are logs.

With this
[code]
get this log
[code]

with this
[code]
get this log
[code]

[2016-08-26 20:46] plaudev commented on #2595
More logs just came out...

[code]

[2016-08-26 20:52] gateway opened #2597 "action update on class _Role."
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-08-26 21:20] gateway commented on #2597
So when we enable public CLP to all values checked it works again. :/

Using the master key shouldnt that by pass any CLP settings.

I dont think we want all values enabled for public.

[2016-08-26 21:22] plaudev commented on #2595
Still more logs came out just now. Noticing right around last batch ended and this batch begins the time stamp seems to go back & forth a few seconds. Many thanks.

[code]

[2016-08-26 23:58] altagir commented on #1399
Sofianebenabdallah: I will not use DEV for push notifications. We can closed this topic. Thank you
@flovilmart

flovimart:zalright!

seb <me>: can't help thinking this is wrong...
so you don't test in dev and just use prod environment and prod mongo db?
uhmmm... you should point out the root cause...
my humble opinion...
regards

[2016-08-27 01:14] gateway opened #2598 "Cant submit an image via curl (php)"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-08-27 02:07] greggmojica commented on #2582
@hramos

Environment Setup - AWS Beanstalk
parse-server version :2.2.2
Operating System: Linux
Hardware: Amazon Linux
Localhost or remote server? AWS

MongoDB version: 3.0.12
Hardware: mLab Dedicated Instance
Localhost or remote server? mLab

Expected to Connect to Socket, fails and throws error ```WebSocket connection to 'ws://XXXXXXXXX.XXXXXXXXXXXXX.com/parse' failed: Error during WebSocket hand

[2016-08-27 08:17] bohemima commented on #2597
when you save the "object" you should use the masterKey as well.

[2016-08-27 08:48] jenlai1345 commented on #764
I had the same issue too.
Turn out at some point in time, I did a "git init" in my parse-server-example directory to initialize a repository....and then I made changes to to my /cloud/main.js.
Pushed the codes to amazon EB via "eb deploy" ---> it never deployed the updated main.js

fix: did a "git commit -a" to commit code changes to my local parse-server-example, and then "eb deploy" to push it
T

[2016-08-27 17:03] sinclas opened #2599 "/GET/apps/ for requestPasswordrest on Azure not routing correctly?"
Hi,

I have parse server running in Azure.  I got the password rest through MailGun running and sending emails to me for the password reset.  The URL that gets sent on the bottom is well formed but when I click on the link, i get the following error:
Cannot GET /apps/17b0bdad-8afd-4ce0-be28-a17023fb11f8/request_password_reset?token=Cz38Gb4inP1T00wOzFPMIvlmx&username=xyz%40mac.com

I have been work

[2016-08-27 17:33] flovilmart commented on #2599
Can your run with VERBOSE=1 set and provide the logs?

[2016-08-27 18:04] sinclas commented on #2599
HI,

I have VERBOSE on in the Azure console.  I FTP’d to the folders and not sure which ones are applicable.

[2016-08-27 18:09] flovilmart commented on #2599
I'm not expert with Azure, do you have access to the logs?

[2016-08-27 18:10] flovilmart commented on #2597
To sum up:

`object.save(null, {useMasterKey: true})`

[2016-08-27 18:10] #2597 closed

[2016-08-27 19:00] sinclas commented on #2599
Yes,  I have the logs,  not sure which log.  There are IIS, Application, HTTP, etc..  nothing too compelling in these.   Is there some place I should be looking for Express errors?

[2016-08-27 19:29] flovilmart commented on #2598
You're using the wrong endpoint (`/parse/classes/files`) You should use `/parse/files`

See:
https://github.com/ParsePlatform/parse-server/blob/master/src/Routers/FilesRouter.js#L19

[2016-08-27 19:29] #2598 closed

[2016-08-27 19:37] flovilmart commented on #2599
The parse-server logs, if you have them, there may be something in there about that 404. Also, can you post your config/initialization code, there may be something there too

[2016-08-27 19:42] mik-dass commented on #2592
@flovilmart Please tell me where I should report this issue .... :)

[2016-08-27 19:47] flovilmart commented on #2592
On https://parse.com/help

[2016-08-27 20:42] sinclas commented on #2599
This is the web.config:
`var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var ParseDashboard = require('parse-dashboard');
var parseServerConfig = require('parse-server-azure-config');
var url = require('url');
var config = parseServerConfig(__dirname);
// Modify config as necessary before initializing parse server & dashboard

var app = express();

//app.ge

[2016-08-27 20:49] felipebelluco commented on #764
Thanks mate, I already had fixed it. In my case I just added the host url at the first line of my main.js and it worked.

[2016-08-27 20:53] sinclas commented on #2599
Parse-Server Logs:

{"level":"error","message":"Uncaught internal server error. [Error: Can't set headers after they are sent.] Error: Can't set headers after they are sent.\n    at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:344:11)\n    at expressInit (D:\\home\\site\\wwwroot\\node_modules\\express\\lib\\middleware\\init.js:23:42)\n    at Layer.handle [as handle_request] (D:\\hom

[2016-08-27 22:58] flovilmart commented on #2570
@btanev, i'm closing that one as the behavior is what's expected from the documentation

[2016-08-27 22:58] #2570 closed

[2016-08-27 22:58] #2567 closed

[2016-08-28 01:02] altagir commented on #1003
create a file named env.json in your parse node directory....
edit and enter in it:

[code]

now run with :
`pm2 start env.json`

source: https://github.com/Unitech/pm2/issues/83

regards

[2016-08-28 02:47] sinclas commented on #2599
Found it!

In the parse config, there are references to URLs by Key and function.  The function will return a string URI that basically takes the publicServerURL and adds the paths to specific html, etc.  The problem is when they ported this from GIT to Azure, there is a missing part to the path.  look at the following before and after.  the after works.   Open your source editor in Azure (Monoco)

[2016-08-28 09:56] mutex007 commented on #2577
We are running multiple parse server deployments as well and this is also a problem for [**some**] of our clients. Memory and CPU is stable but the issue happens randomly. It could be as little as 30 mins, 1 Week or even months. All other routes will work but until a restart of the the container, the parse api will continue to timeout. This problem has persisted for a while now going back as far b

[2016-08-28 12:19] flovilmart commented on #2599
Instead of changing the code of parse-server you should provide the full publicServerURL in your configuration, where you specify your application id and master key.

[2016-08-28 12:19] #2599 closed

[2016-08-28 12:21] flovilmart commented on #2577
Without more informations it's hard to pinpoint the issue.

[2016-08-28 14:34] cherukumilli commented on #2508
@flovilmart
Would you guys accept a PR with just changes to `parse-server` where the server returns an error code `Parse.Error.OBJECT_NOT_FOUND` with an error message like `Your account is locked due to multiple failed login attempts. Please try again after xx minutes` ?

[2016-08-28 14:46] drorsun commented on #1914
@gregplumbly To wait for completion synchronously you can use

`ParseUser.enableRevocableSessionInBackground().waitForCompletion()`

We eventually decided it is not critical for us to wait synchronously so we use code such as this:
[code]

[2016-08-28 15:35] flovilmart commented on #2508
As long as we're still in an 'opt-in' basis, that would be fine, you could introduce another error code, and let the people know the meaning of that error in the docs :)

[2016-08-28 20:48] drewlarsen commented on #1056
@ronnno The fix is to remove `ParseUser.enableRevocableSessionInBackground();` from your Android client app.

As a temporary fix, we were also able to address this by adding middleware in our ParseServer setup:
[code]

[2016-08-28 23:19] mutex007 commented on #2577
The issue appears to be a random loss of communication between the Parse Server and the MongoDB database. It just happens randomly but for example if i was to run 2.218, within a few minutes the issue will happen. Scale back down to 2.2.16 and within maybe 8 hours or weeks the issue will happen. What was more interesting is when this happen other routes which use the MongoDB can still communicate

[2016-08-29 00:51] khirr commented on #2552
Hi, I had a similar problem, when I have to send too much notification I divide in 1k instalations part every 5 seconds, you can create your own clode code for this prupose and works softly.

[2016-08-29 01:34] asdf01 opened #2602 "How is everyone going about implementing scheduled jobs / cloud jobs?"
Hey Guys

According to the [migration guide](https://github.com/ParsePlatform/parse-server/wiki/Compatibility-with-Hosted-Parse) we could use something like [Kue](https://github.com/Automattic/kue) and [Kue-UI](https://github.com/stonecircle/kue-ui) to emulate the parse.com scheduled jobs functionality.

I haven't implemented Kue or Kue-ui, but looking at the guides, it doesn't look like it provid

[2016-08-29 01:48] rendongsc opened #2603 "PostgresStorageAdapter not support collectionPrefix？"
._collectionPrefix  has been defined, but not used.

[2016-08-29 02:14] flovilmart commented on #2603
Yup, it's not used yet, PR are welcome :)

[2016-08-29 02:17] flovilmart commented on #2602
See #2560

[2016-08-29 02:17] #2602 closed

[2016-08-29 02:19] flovilmart commented on #2577
Thanks for drilling down the issue. We had a similar problem in the past that should have been resolved with 2.2.17. I'll try your STR and see if anything can be done. Otherwise, feel free to submit A PR with the fix

[2016-08-29 02:56] asdf01 commented on #2602
Hi @flovilmart

Thanks for adding the /jobs endpoint to parse-server.  I haven't gotten your changes to parse-server and parse-dashboard running yet so I don't know exactly what's included.  But from what I can see from [your comments](https://github.com/ParsePlatform/parse-server/pull/2560):

The scheduling part is still outside the scope of the solution you provided is that right?  We would stil

[2016-08-29 06:17] andrew8712 opened #2604 "Parse Server documentation on Stackoverflow"
Stackoverflow has recently launched Stackoverflow Documentation. I thought it would be great to create a community documentation for Parse Server.

Please feel free to commit your proposals here:

http://stackoverflow.com/documentation/parse-server/commit

[2016-08-29 07:57] carrascoacd commented on #2577
Thanks, I'll try >2.2.17 and I'll pick up more information if it happens again.

[2016-08-29 09:26] natanrolnik commented on #2595
@plaudev I think you are missing a `{` character before `useMasterKey: true}`.
Besides that, I would recommend you to use the promise style, as you will get a cleaner code - the callback are defined after the send function is called, and not inside it. Try this (not tested):

[code]

[2016-08-29 09:39] steven-supersolid commented on #2565
I think this is happening because of your usage of drop:

So in your backup there documents for _Schema but no documents for the Data collection. When you restore, the _Schema will be dropped and recreated. Data will be unaffected. This will result in the dashboard not knowing about Data until you recreate it.

If you took your backup after creating the Data class but not adding data then you woul

[2016-08-29 10:23] vkeepe opened #2605 "ParseServer - functions hangs with curl showing "Empty reply from server""
I have cloud code that I am trying to run. I am in process of migrating. When I call my functions the server hangs. All operation on classes works fine.

I have checked that it hangs at query.find(). I have verbose: true in my Express code. Is there a way to debug it more to see where the problem might be occurring. I have tried #705

### Environment Setup

- **Server**
  - parse-server version :

[2016-08-29 11:06] plaudev commented on #2595
@natanrolnik, good morning & thank you for your suggestion. I just added your code into main.js as follows and got same result with or without master key in cURL:

`curl -X POST -H "X-Parse-Application-Id: myAppId" -H "Content-Type: application/json" -d {} https://myApp.herokuapp.com/parse/functions/pushToAllTwo`

`{"code":141,"error":{"code":100,"message":"XMLHttpRequest failed: \"Unable to conne

[2016-08-29 11:11] natanrolnik commented on #2595
@plaudev is your `serverURL` configured correctly when you initialize the Parse Server? Did you configure correctly your push adapter?

[2016-08-29 11:12] flovilmart commented on #2602
Yes, you would need to have a cron like scheduler on a server that would trigger those jobs.

[2016-08-29 11:17] flovilmart commented on #2604
While this is interresting, there is already a documentation repository here: https://github.com/parseplatform/docs and also here https://parseplatform.github.io/

[2016-08-29 11:22] shivangagarwal opened #2606 "Parse.com and parse-server different behaviour in storing date in a object field"
Describe your issue in as much detail as possible:

If i have a Object field and i want to store a key containing the date object, then the parse.com used to store it as a date object whereas the parse-server stores it as a date string. The case and reproduction steps are listed below:

Say i have a date object:

`var dateToSave  = new Date();`
`var dateObject = {lastViewed: dateToSave}`
`var Dumm

[2016-08-29 11:37] shivangagarwal commented on #2606
I have also added a pull request for this: https://github.com/ParsePlatform/parse-server/pull/2607

Please review it.

[2016-08-29 11:44] jova-dev commented on #817
+1

[2016-08-29 11:50] w3care25 commented on #817
@chandanthakur You need to add  process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"; in you instance file of parse server if you are running into similar issue

[2016-08-29 11:54] w3care25 commented on #817
@ckarmy You need to create an instance with SSL something like below:

_var privateKey = fs.readFileSync( 'path to ssl key ( .key ) file' );
var certificate = fs.readFileSync( 'path to ssl crt ( .crt ) file' );
var  cabundles = fs.readFileSync( 'path to ssl cabundle ( .cabundle ) file');

https.createServer({
    key: privateKey,
    cert: certificate,
    ca: cabundles
}, app).listen(port);_

Don

[2016-08-29 12:29] andrew8712 commented on #2604
Let's see if anone is interested in this.

I personally consider Stackoverflow is a better place to share my knowledge.

[2016-08-29 12:43] vkeepe commented on #2605
I have also taken the code from https://github.com/ParsePlatform/parse-server-example. Placed a simple find query and it hangs as well. Am I missing some configuration?

[2016-08-29 12:50] flovilmart commented on #2605
This looks like a misconfiguration problem, did you correctly set the serverURL option, is you database URL correct etc...

[2016-08-29 12:53] flovilmart commented on #2604
@andrew8712 you are 100% right, this is not the place to get help on implementation questions, nor scaling issues, but for reporting bugs on the code itself! I'd love to see a striving stackoverflow community!

[2016-08-29 13:02] vkeepe commented on #2605
@flovilmart databaseURI is fine as all /classes calls are working fine. serverURL is also set. Here is my code. serverURL is set to http://localhost:4000/parse

Note my dbServer is in mLab. All calls are working fine via parse.com. Does localhost matters?

`
var api = new ParseServer({
  databaseURI: databaseUri || 'mongodb://localhost:27017/dev',
  cloud: process.env.CLOUD_CODE_MAIN || __dirname

[2016-08-29 13:13] flovilmart commented on #2605
Yeah it matters, is your server listening on port 4000? CloudCode uses that value in order to communicate with the server/database.

[2016-08-29 13:18] vkeepe commented on #2605
Yes, my server is listening on port 4000. I have telnet and confirmed it. I have noticed that if I changed to wrong url; I do get error message. With correct URL; it hangs on query.find({ useMasterKey: true }).

[2016-08-29 13:19] flovilmart commented on #2605
So I'm not sure what's wrong... Do you use a promise?

[code]

[2016-08-29 13:21] vkeepe commented on #2605
Yes I am using promise. It is not getting into success or error.

[2016-08-29 13:38] drbarto commented on #2565
Great, thanks for your help with this! I'll change my test process to just copy a backup mongo data dir over instead of using `mongorestore`. This makes the process less easy to automate because starting/stopping mongodb from script is not as straightforeward, but at least I no longer have those objects reappearing.

[2016-08-29 13:38] #2565 closed

[2016-08-29 13:44] flovilmart commented on #2605
Just to make sure, parse-server is mounted on `/api-dev/` right? Your serverURL should be `http://localhost:4000/api-dev`

[2016-08-29 13:48] vkeepe commented on #2605
Sorry initially when I created the issue; I was on my code (/api-dev). Now I am using parse-server-example with (/parse)

The parse-server is mounted on /parse. The server is configured for
http://localhost:4000/parse

See the code below:

var mountPath = process.env.PARSE_MOUNT || '/parse';
console.log("Mount On: " + mountPath);  //shows correct
app.use(mountPath, api);

[2016-08-29 13:54] flovilmart commented on #2605
You should probably ask on stackoverflow as what you're describing is heavily tested, and don't seem to be a problem that I can reproduce.

[2016-08-29 13:56] vkeepe commented on #2605
I understand. Is there a way I can place better logging on ParseServer? I know it is hanging on query.find. I want to see if I can debug this further.

[2016-08-29 13:58] flovilmart commented on #2605
you can run it attaching to a debugger and looking what's going on. Try https://github.com/node-inspector/node-inspector that may help.

[2016-08-29 13:58] #2605 closed

[2016-08-29 13:58] flovilmart commented on #2606
@shivangagarwal we'll have a look shortly

[2016-08-29 14:01] vkeepe commented on #2605
I will not be closing this issue as there is some problem that needs to be looked into. There might be specific condition the server is behaving this way.

[2016-08-29 14:03] flovilmart commented on #2605
Yeah but unreproducible... Feel free to reopen with more informations and a clear way to reproduce, a stack trace etc...

[2016-08-29 14:21] vkeepe commented on #2605
Not sure how many out there are using
node -v
v6.4.0
npm -v
3.10.3

I will let you know what I find. Can't see any stack trace etc. Server code is not throwing anything and that is the problem. I will look into node-inspector to see if I can find anything.

[2016-08-29 14:24] plaudev commented on #2595
@natanrolnik, I did not specifically configure an adapter as I did not think it is required.

Push works if I do it inline in cURL and my  default cloud code works. I am assuming that means my server is configured correctly. Is that not so? Thanks

[2016-08-29 14:25] flovilmart commented on #2595
@plaudev the problem may really come from the missing / misconfigured `serverURL` key in your ParseServer initialization options.

[2016-08-29 15:09] vkeepe commented on #2605
@flovilmart So here is what is happening:

If I change my code to use the default port 1337 everything works fine. If I change it to 4000 it stops working.

Can you tell me what is happening here?

[2016-08-29 15:36] flovilmart commented on #2605
It means that your server is not properly listening on 4000 on the localhost and indeed listening on 1337.

[2016-08-29 15:39] vkeepe commented on #2605
Thanks. Figured out that one of the external software running on my laptop was also using 4000. Some reason server did not error out while starting on 4000. I have not looked further but stopping the software made it work.

[2016-08-29 16:35] aliasad106 opened #2610 "Parse Live Query don't work on AWS elasticbeanstalk"
I have deployed NodeJs Parse server with Parse LiveQuery on AWS elasticbeanstalk but it seems like LiveQuery is not working. When i try to subscribe from my iOS client app it gives me error.

**Note:** When I run locally on my mac it works fine. What could be the issue with AWS ?

[2016-08-29 17:26] subinsebastien commented on #548
This should be added to the documentation as a side note.

[2016-08-29 20:12] plaudev commented on #2595
@flovilmart, I have PARSER_SERVER_URL set for two apps including the one in question. I have a 3rd app that has SERVER_URL set. So I need to set SERVER_URL? Thanks

[2016-08-29 20:49] plaudev commented on #2595
@flovilmart, I have just relaunched the parse server with an added environ variable SERVER_URL set to same value as PARSER_SERVER_URL but still getting the same cannot connect to parse API error. Thanks

[2016-08-29 20:55] plaudev commented on #2595
Or do you mean having to set this in main.js?

Parse.serverURL = 'https://myApp.herokuapp.com/parse'

As noted in https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide?

I will try that as soon as I can get back to my Mac. Thanks

[2016-08-29 20:57] flovilmart commented on #2595
It should be set when you initialize ParseServer. Do you run multiple ParseServer on the same instance/process

[2016-08-29 21:00] plaudev commented on #2595
I only have one parse server per heroku app. I will insert that line into my main.js when I get back to my Mac sometime in the next hour or two. Thx

[2016-08-29 21:03] ChrisHawley commented on #2582
@greggmojica Yea, I created env.yaml manually.  I think it's a way to pass additional config params into your ECS environment without going through the AWS Console UI. (http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-manifest.html)

Is websockets the only thing that's giving you trouble?  Are you able to connect `parse-dashboard` to your deployed environment for ordinary (non

[2016-08-29 21:15] greggmojica commented on #2582
Hey @ChrisHawley I did add the env.yml file but no luck. I'm getting this error now:
```WebSocket connection to 'ws://xxxxxxx.xxxxxxxxxxxx.com/parse' failed: Error during WebSocket handshake: Unexpected response code: 301``` Did you have anything else in your env file?  Thoughts?

@hramos - I'd appreciate your input! Thanks!

[2016-08-29 21:21] flovilmart commented on #2595
That should be automatically done by ParseServer, if you specify serverURL when you create the instance.

[2016-08-29 21:56] plaudev commented on #2595
@flovilmart, this is what I have in my index.js. As noted in the original post, I can do parse queries, send push notification with inline cURL and do cloud code, just not send push with cloud code. Thx

[code]

[2016-08-29 21:57] flovilmart commented on #2595
Seems that you have a typo: ` PARSER_SERVER_URL`

[2016-08-29 21:58] plaudev commented on #2595
That's the variable name that Heroku defaulted to when the Parse app was deployed.

[2016-08-29 21:59] flovilmart commented on #2595
alright, then, if that's how it's supposed to be...

[2016-08-29 21:59] plaudev commented on #2595
So I just have to live with not able to push with cloud code, then?

[2016-08-29 22:04] flovilmart commented on #2595
It's highly unlikely that it isn't a configuration problem, as you mentioned, it works from cURL. This issue (https://github.com/ParsePlatform/parse-server/issues/2605) was also a configuration problem, even though it didn't seem like it... I'm not sure how I can help. All the tests are run in a very similar environment from CloudClode, if you override Parse.serverURL anywhere, that could cause an

[2016-08-29 22:08] ChrisHawley commented on #2582
@greggmojica Did you set up the InstancePort on your ELB?  I think 9091 is default, so:
[code]

[2016-08-29 22:10] plaudev commented on #2595
Thx. In that post, which uses a local server, you mentioned cloud code listens to port 4000. My app is hosted on Heroku and I do not set port number explicitly. Currently it is listening on 40903. Do I need to set it to something specific?

[2016-08-29 22:17] flovilmart commented on #2595
You need to set the serverURL to anything that is locally accessible from CloudCode

[2016-08-29 22:43] asdf01 commented on #2602
Hi @flovilmart

Thanks for confirming that.

Can you leave this ticket open.  There were a few other parts to my original query.  What I still don't know is whether Kue-UI allows you to create new schedules for jobs or whether those need to be created in Kue and Kue-UI is just for viewing the status.  Maybe you know the answer to this...  Thanks.

[2016-08-29 23:04] flovilmart commented on #2602
That would be for another platform than here.

This is not a support group for implementation details, but to report issues and bugs. As this request don't fall in either category, we'll keep it closed.

[2016-08-29 23:05] greggmojica commented on #2582
Just updated the env.yaml file and I get this error again: ```WebSocket connection to 'ws://beanstalk.gradology.com/parse' failed: Error during WebSocket handshake: Unexpected response code: 403```. No luck :(

[2016-08-30 00:05] thealmogg opened #2611 "parse not updating from 1.4.0"
- [X ] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.

- [X ] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases

- [ X] You've searched through existing issues: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue Chances are that your issue has be

[2016-08-30 00:18] joeybenenati opened #2612 "Unable to schedule push notifications - always firing immediately"
### Issue Description

I am unable to get scheduled push notifications to fire at the date/time specified in the `push_time` property using parse-server on node. No matter what time I specify, or what format (js Date object, ISOString, etc) it always fires the push immediately. I am receiving on iOS client.

### Steps to reproduce

Please include a detailed list of steps that reproduce the issue.

[2016-08-30 00:25] flovilmart commented on #2612
Push scheduling is not supported on parse-server and are not likely to be supported in a short future (for the same reason jobs scheduling is not supported). PR are welcome, as always.

[2016-08-30 00:25] #2612 closed

[2016-08-30 00:27] flovilmart commented on #2611
Not relevant to this repository as it seems to be either parse-server-example or digital océan.

Issues are meant to be opened for bugs and unexpected behaviors only, not general support and usage of node, npm or deployment providers

[2016-08-30 00:27] #2611 closed

[2016-08-30 01:19] flovilmart commented on #2566
@gimdongwoo we're planning on issuing a release soon, can you give us a heads up if that's and issue, what's the object you see exposed in req.log etc... ?

[2016-08-30 01:34] greggmojica commented on #2610
+1 Same issue here

[2016-08-30 01:56] flovilmart commented on #2610
This seems to be a deployment problem, and we're not explicitely supporting deployment issue on AWS, otherwise we'd spend hours debugging each specific configuration.

I encourage you to lookup the EB documentation, check if it supports correctly websockets (it may not), asking on forums like stackoverflow or gitter, reach out to AWS EB support etc...

This is definitely not the right place for su

[2016-08-30 01:56] #2610 closed

[2016-08-30 02:25] lifeisfunny commented on #2582
Very clear that is the load balancer issue.  Currently aws does not supporting ws and wss redirections.  Plus , you need to set stickiness on the header redirection to pass token to live query server.

[2016-08-30 04:06] anhldbk commented on #2580
@GuichiZhao Would you pls show me your workaround code?

[2016-08-30 04:18] GuichiZhao commented on #2580
@anhldbk
index.js
[code]
cloud/routes/index.js
[code]

[2016-08-30 04:48] greggmojica commented on #2582
@lifeisfunny can you please give me more detailed info regarding this? I called AWS support and they are really not sure.

[2016-08-30 04:55] anhldbk commented on #2580
@GuichiZhao Thanks.

[2016-08-30 04:56] anhldbk commented on #2580
@flovilmart Would you pls let me know how to install the newest version of `parse-server`? I'm using `npm install parse-server`, but I can't find your patch in the installed modules.

[2016-08-30 05:41] ssssssssssss opened #2613 "Is it possible to implement replay using LiveQuery?"
Dear gurus,

We'd like to implement a replay function for games. Our main flow works like following,

1. Our game is more like a quiz
2. Users insert their new scores in realtime manner, so the server keeps all the historic data for individual games.
ROW1: {"user":A, "duration":1000ms, "correct":1, "answered": 5, createdAt:xxx}
ROW2:{"user":B, "duration":1001ms, "correct":2, "answered": 5, created

[2016-08-30 05:51] pushparajsamant opened #2614 "User changed by cloud function when queried from client side returns stale data."
I am having the logged in user make some changes on itself. These changes happen in the cloud function called by the client code. THe cloud code executes correctly and returns back after which I query the user table to get the updated data but it gives back old data and the updated fields are missing.  Using the latest available parse-latest.js from CDN.

I have already tried sending the users ses

[2016-08-30 05:55] aliasad106 commented on #2610
@greggmojica have you tried configuring SSL ?

[2016-08-30 05:56] anhldbk commented on #2580
@flovilmart When will your patches available in `npm`?

[2016-08-30 07:46] jenlai1345 commented on #643
pasting working code example here after spending a day on it.
I migrated parse server to aws + mlab, and hosted my files on s3 (figured mongoLab will probably get very expensive if my files grow to a large number).

I have a class called "classContainingFileAttr" which contains a column "pfFilecolumn" that's of PFFile type. When I delete that class object on Parse server, the file still exists in

[2016-08-30 07:57] kwstasna opened #2615 "Parse Query ordering with matches query"
- [x] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.

- [x] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases

- [x] You've searched through existing issues: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue Chances are that your issue has been

[2016-08-30 08:33] kronos commented on #2580
Same here. express 4.14.0

[2016-08-30 09:45] zuanzuan1992 commented on #1466
Client never received updates from the server.
@hslorenzo How to resolve this issue?
I use "parse-server": "~2.2.18".
Thanks.

[2016-08-30 09:57] zuanzuan1992 commented on #1466
Add above should works...
[code]

[2016-08-30 10:02] gregplumbly commented on #1914
@drorsun Thank you Sir!

[2016-08-30 11:03] tiffanyricks commented on #2493
Parse-Server does not support push_time.   I created a "work around" to resolve this for me.    See this [article for more details](https://medium.com/@tiffany.ricks/parse-server-scheduled-push-notifications-hack-2ae873995b5b#.jqssw5oeb)

[2016-08-30 12:12] flovilmart commented on #2614
Can you provide some code snippet of what you're doing to make sure that's not an issue on your side?

[2016-08-30 12:13] zuanzuan1992 opened #2616 "Separate the Parse Server with the LiveQuery Server"
Here is my code:

[code]

And its output:

[code]

[2016-08-30 12:16] plaudev commented on #2595
@flovilmart, just to confirm, Parse.serverURL on heroku should be https://myApp.herokuapp.com/parse or without the /parse? thanks

[2016-08-30 12:16] zuanzuan1992 commented on #2616
I fixed it by create a Parse Server instance.

[code]

And its output:

[code]

[2016-08-30 12:18] natanrolnik commented on #2595
@plaudev with

[2016-08-30 12:20] zuanzuan1992 commented on #2616
The [loggerControllerAdapter](https://github.com/ParsePlatform/parse-server/blob/master/src/ParseServer.js#L162) not set when I create a separate LiveQuery Server.

[2016-08-30 12:22] flovilmart commented on #2616
I'll work on a fix for that as it's a regression. In the meantime, you can use the workaround. (I was about to suggest the same)

[2016-08-30 12:43] plaudev commented on #2595
@natanrolnik, thx. I confirm it WAS a misconfiguration problem. I have now set Parse.serverURL to appropriate value and was able to:

1. send push via cloud code without having to pass masterkey in cURL
2. send push via cURL inline with masterkey
3. execute non-push cloud code

Just one last thing, how do I specify the sound parameter? When I do:

Parse.Push.send({
    where: pushQuery, // Set our

[2016-08-30 12:44] zuanzuan1992 commented on #2616
@flovilmart Thank you.

[2016-08-30 12:47] flovilmart commented on #2595
It may need to be a string don't you think?

[2016-08-30 12:47] #2595 closed

[2016-08-30 12:50] flovilmart commented on #2613
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to post this question to Stack Overflow with the tag #parse.com? We'll be happy to answer there. Post a link to your Stack

[2016-08-30 12:50] #2613 closed

[2016-08-30 13:10] flovilmart commented on #2615
What was the behaviour on parse.com? What should happen if you specify a different order on your main query?

[2016-08-30 13:20] flovilmart commented on #2580
The fix (that will probably land in 2.2.19) is intended to fix the internal problems with 'Cannot set headers' errors. For you, that use a custom express installation, you should stick with the workaround.

[2016-08-30 13:22] kwstasna commented on #2615
It was exactly the same also in parse.com
I'm talking about an improvement here. A feature that didn't exist neither in parse.com
Let me rephrase.

If i want to find events near my location
First i have to get my location
then i have to query Venues class to find which Venues are near me
and then with matches query to find the events that have the Object ID of the Venue inside the collumn "venuesI

[2016-08-30 13:29] flovilmart commented on #2615
Alright so that's an improvement/new feature. Feel free to work on it and submit a PR. For now we prioritize more issues that prevent people from correctly running parse-server or transitioning.

We welcome additional features, like @cherukumilli is doing for securing user accounts.

[2016-08-30 13:29] #2615 closed

[2016-08-30 13:30] plaudev commented on #2595
Lovely!

[2016-08-30 14:00] FlorianSchuler commented on #2431
Yesterday I've also stumbled over this annoying bug and searched hours for mistakes in my queries, which could result in empty query results with no success until i found this issue here.
I've also no slithest idea how to write a test for this but it's a realy anoying bug which should be fixed as fast as possible.
@flovilmart can you please take care of add a test to the fix of @christianpbrink an

[2016-08-30 14:21] flovilmart commented on #2431
@christianpbrink 's patch is on the generated sources, nothing much I can do here.

This is where the patch should be done:
 https://github.com/ParsePlatform/parse-server/blob/master/src/RestQuery.js#L152

@FlorianSchuler why don't you take care of the fix and the test?

[2016-08-30 14:55] FlorianSchuler commented on #2431
Sorry @flovilmart I think I'm not a help here, I'm an absolute newbie to this whole project.
I stumbled about this bug while using a managed parse-server.

[2016-08-30 15:10] pushparajsamant commented on #2614
Sure here it is.
This is the call to the cloud function which is inside a promise
[code]
The relevant code in cloud function
[code]

Once the cloud function returns I call this function. I check in the parse DB the data is updated.
[code]

[2016-08-30 15:13] mcclaskiem commented on #2580
@kronos so updating to 4.14.0 fixed this for you?

[2016-08-30 15:18] kronos commented on #2580
@mcclaskiem No. I said that the problem is reproducible with the latest express

[2016-08-30 15:32] flovilmart commented on #2614
how do you acquire the currentUser? through req.user? Parse.User.current() is not available in cloud code.

[2016-08-30 15:34] flovilmart commented on #2431
the best way to not be a newbie is to jump into the project. You have a case that reproduces the problem, and I pointed you to the right file/position to put the fix...

[2016-08-30 15:34] gimdongwoo commented on #2566
@flovilmart I'm so sorry.
Response is too late.
I'm on vacation, last week.
ASAP, I will add screen shot related this problem.

[2016-08-30 15:34] #2566 closed

[2016-08-30 16:09] jcguarinpenaranda commented on #275
Hello. So, is the email verification working by now?

[2016-08-30 16:17] hshinde commented on #275
yes, we have tested it with Mandrill. It's working without any issue.

On Tue, Aug 30, 2016 at 9:40 PM, Juan Camilo Guarin Peñaranda <
notifications@github.com> wrote:

[2016-08-30 16:41] flovilmart commented on #275
It should be working by now.

Follow the documentation in the wiki if you have any doubts.

[2016-08-30 16:59] artonragsdale commented on #275
I'm no longer on that project so I'm not certain, but I believe it was
fixed.

On Tue, Aug 30, 2016 at 12:09 PM, Juan Camilo Guarin Peñaranda <
notifications@github.com> wrote:

[2016-08-30 17:46] neophob opened #2620 "Replace mailgun-js"
Currently Parse use the `mailgun-js` module to send emails via mailgun. The problem with this module is, that it needs a lot of dependencies (120 packages!). Any interest to replace this dep with the `mailgun-es6` module (0 packages dependency)? Benefits:
- less node_modules aka faster setup time
- more than 250ms faster application boot time on a macbook pro (i7) machine

References:
- mailgun-js

[2016-08-30 19:00] techyrajeev opened #2622 "Parse server returning 400 Bad Request"
Running a cloned repository from parse server example.

https://github.com/ParsePlatform/parse-server-example

When running locally parse-server it responds to rest calls successfully but when deployed to heroku sending rest call request causes server to send **400** bad request with no output on server logs even though VERBOSE flag is correctly set to 1 on heroku.

Rest calls are being sent from

[2016-08-30 22:32] flovilmart commented on #2620
That makes more than sense, go ahead!!

[2016-08-30 23:04] parseserverpush commented on #2552
@khirr You can share it. Thanks You.

[2016-08-30 23:06] khirr commented on #2552
Hi, for now I can't because is a part of a bigger system but I can explain how does it works.

[2016-08-30 23:10] parseserverpush commented on #2552
I understand. You can send me acc Skype ?. Thanks

[2016-08-30 23:18] khirr commented on #2552
Yes but, I prefer explain you here, maybe somebody else needs it in the future.

The short answer is using CURL for this:
http://blog.parse.com/announcements/parse-server-push-notifications/

As you can see, you can use filters to send, so you can you Skip, Limit, all filters that you need.

You can do it using PHP and Parse PHP SDK, I use it.

I hope this can help you.

[2016-08-30 23:25] parseserverpush commented on #2552
Yes. I also think this resolution. But it can send the order and maximum pushnotify user? Thanks You.

[2016-08-30 23:32] sebastiankade commented on #2580
Hey guys,

I wanted to upgrade to 2.2.18 for the mongo connection improvements and ran into this issue as well.

After digging into it I found that it was because of #2338 ([this commit](https://github.com/ParsePlatform/parse-server/pull/2338/commits/f58c176ab51cdf8a9564e27a09f2488b2daf44a3)). The change was added to allow "developers to add express handlers for successful completion of parse-serv

[2016-08-31 00:01] flovilmart commented on #2580
I ageee with your workaround, and it should be added onto the Parse-server-example repository (PR are welcome).

When using though the CLI / standalone, we should not yield any headers already sent, internally, as we manage our routes.

On another note, calling next after the response is sent is also an opportunity to cleanup stuff (like caches) after the response is sent.

It's also an opportunit

[2016-08-31 01:20] pushparajsamant commented on #2614
Yup I get the user from request.user. Thanks to one of your posts earlier I realized that. The problem here is not in that part of the code since the data gets updated perfectly without any issue. The problem is the calling client function is not able to get the latest updated data once the cloud function is over.

[2016-08-31 01:26] flovilmart commented on #2614
This is probably related to the caching occurring on the user to prevent too frequent DB calls.

[2016-08-31 01:29] pushparajsamant commented on #2614
So could this be related to Nodechef server or the client code. On the client side in the debug I see the correct updated date for the user object but the field I updated is not there.

[2016-08-31 01:48] ssssssssssss commented on #2613
Thanks, here is the link.
http://stackoverflow.com/questions/39239517/is-it-possible-to-implement-replay-using-livequery

[2016-08-31 02:07] flovilmart commented on #2614
Uhm... So to summarize if I understand well:

1. you call a cloud function that update the req.user
2. you see that this user is properly updated in the DB / dashboard
3. when fetching/getting the user, you're not able to get the latest values.

If you check the network call in the Chrome/Safari/Firefox debugger that fetches the user, does the property appear in the response payload?

Can you run

[2016-08-31 02:39] sebastiankade commented on #2580
This is not a middleware though (by definition something that sits inbetween the start of the request and the handler). This IS the handler. This makes routing messy.

In node if you wanted to do things like request tracing & logging, wouldn't you generally do the following:
[code]
In our case it would be:
[code]

I disagree but fair enough 👍  I shall keep my hack in place

[2016-08-31 02:49] flovilmart commented on #2580
Definition of middleware is debatable as well, take django, middlewares are traversed in and out, before and after the request is processed...

@blacha, what do you think? Seems that this small commit is causing some ire.

[2016-08-31 02:51] parseserverpush commented on #2552
Hi @khirr
Can I use "limit" and "skip" on post pushNotify ?.
Thanks You very much.

[2016-08-31 03:25] pushparajsamant commented on #2614
Perfect . I will do that.

[2016-08-31 05:21] sebastiankade commented on #2580
haha but my definition sounded so totally technical :P

[2016-08-31 10:37] RafaRuiz commented on #8
Finally I didn't want to use any alternative since they didn't seem what I was looking for.

I'm showing my code [here](http://stackoverflow.com/questions/38550825/migrating-to-self-hosted-parse-server-isnt-giving-me-the-logged-user) just in case you need it. It's working on me (migrating really slow, but it's going on!)

Good luck!

[2016-08-31 11:11] flovilmart commented on #2614
can you post screencaps/logs please?

[2016-08-31 11:28] shivangagarwal commented on #2061
@sprabs have you figured out the solution/workaround for this? We have been facing the same issue with our setup. We have few processes (4-5) hitting the parse-server rest api and the cpu shoots up. This has become a blocker for us to move our jobs to our parse-server.

[2016-08-31 12:34] vladicabg commented on #2061
I switched to use Heroku and deleted AWS account

[2016-08-31 12:38] flovilmart commented on #2061
This Is not an issue with parse-server itself but in your deployment with elastic beanstalk, you may find a better community on server fault or stackoverflow for this kind of issues.

[2016-08-31 12:38] #2061 closed

[2016-08-31 13:07] pushparajsamant commented on #2614
Here are the caps.
<img width="959" alt="screen shot 2016-08-31 at 8 48 09 pm" src="https://cloud.githubusercontent.com/assets/8089002/18129715/8abf1120-6fbe-11e6-9099-bddc754257a5.png">
<img width="653" alt="screen shot 2016-08-31 at 8 49 46 pm" src="https://cloud.githubusercontent.com/assets/8089002/18129716/8af3f502-6fbe-11e6-85e2-a49e7c6429b8.png">

[2016-08-31 13:11] flovilmart commented on #2614
That completely is an issue with the JS SDK, can you please open on https://github.com/parseplatform/Parse-SDK-JS/issues. and reference that one from there?

Closing.

[2016-08-31 13:41] LBKevinSibue commented on #717
I made an app with Parse framework (on iOS) and parse my server hosted on AWS. And I too have the same problem: 'The data couldn't be read beacause it is not in the correct format. "

This error appear for every query.

The only solution I found was to set the version of the parse-server (and its dependencies) to 2.2.10.

Do you have any idea ?

[2016-08-31 13:46] flovilmart commented on #717
Like @gfosco mentioned 6 months ago, please provide the logs when running with the VERBOSE=1 environment variable

[2016-08-31 13:49] courteouselk opened #2626 "Different errors assigned to the same code 209"
If I do `PFSession.getCurrentSession()` right after the call to `PFUser.logOut()` then I receive `[Error]: Session token required. (Code: 209, Version: 1.14.2)`.

After checking the documentation I see another kind of error assigned to the same code 209, that is, `InvalidSessionToken` with description:

The "problem" is, I got into present situation after doing exactly that, that is logging the us

[2016-08-31 13:57] LBKevinSibue commented on #717
It just say 'Error: Cannot find module 'parse-server/lib/Adapters/Logger/FileLoggerAdapter''.
But I don't understand with my app can't have access to my data

[ParseServer - Error.pdf](https://github.com/ParsePlatform/parse-server/files/447369/ParseServer.-.Error.pdf)

[2016-08-31 14:01] flovilmart commented on #717
What version are you running? What is your initialization code? It seems that you're either using lan outdated version OR that you're calling `require('parse-server/lib/Adapters/Logger/FileLoggerAdapter')` in app.js.

In any case that's totally unrelated with that issue...

[2016-08-31 14:08] natanrolnik commented on #2622
@techyrajeev I think you are using the wrong url in your `curl` call to your heroku app - it should be `https://<nameofmyapp>.herokuapp.com/parse`... Or are you just posting here without the name intentionally?

[2016-08-31 14:10] LBKevinSibue commented on #717
I know that's why I find it strange.
My version of Parse framework (for iOS) is the 1.12.0
And the server there is the 2.2.10 release. This is the way I found to run my app.

Actually I have a line 'var Logger = require (' parse-server / lib / Adapters / Logger / FileLoggerAdapter ') FileLoggerAdapter;.'

[2016-08-31 14:16] flovilmart commented on #717
so yeah, your error is because you have that call and this module don't exist... So... You should remove that line, AND update to 2.2.18.

[2016-08-31 14:26] LBKevinSibue commented on #717
I remove the line which contains require of the 'FileLoggerAdapter' and I delete the version of the parse-server but now I have this error:

ReferenceError: Logger is not defined
     at Object. <anonymous> (/var/app/current/app.js:70:32)
     at Module._compile (module.js: 409: 26)
     at Object.Module._extensions..js (module.js: 416: 10)
     at Module.load (module.js: 343: 32)
     at Function

[2016-08-31 14:35] flovilmart commented on #717
Yeah because you probably reference that logger variable somewhere. What do you do with it? With the `app.js` code that would probably be easier...

[2016-08-31 14:37] hramos commented on #2626
This is by design, the 209 error code indicates that a valid session token was not found. This can be either due to a token that has been invalidated, or due to a lack of a session token (as is the case after logging out).

[2016-08-31 14:37] #2626 closed

[2016-08-31 14:39] hramos commented on #2604
Feel free to use Stack Overflow Docs to share any specific examples related to Parse Server. For broad, general docs you can always send a PR to the docs repo.

[2016-08-31 14:39] #2604 closed

[2016-08-31 14:41] hramos commented on #2562
You should be able to determine this by checking your Parse.com app's settings. I'm going to close this out as it's not a Parse Server issue, open ended questions can be asked over in Stack Overflow.

[2016-08-31 14:41] #2562 closed

[2016-08-31 14:41] hramos commented on #2541
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-08-31 14:41] #2541 closed

[2016-08-31 15:09] LBKevinSibue commented on #717
Ah yes exact forgot to remove a line.
Thank you all perfectly works again! Thank you !

[2016-08-31 15:14] mohitgawande commented on #2446
Is it still open or closed as I am getting same problem with parse-server version ~2.2.2

[2016-08-31 15:15] flovilmart commented on #2446
@mohitgawande please update to 2.2.18...

[2016-08-31 17:22] techyrajeev commented on #2622
Yes I know that url structure. I have intentionally hidden the app name.

[2016-08-31 17:30] natanrolnik commented on #2622
@techyrajeev wait, so curl to the server deployed on heroku fails or succeeds? Can you post the code that makes the HTTP call from your other express app?

[2016-08-31 17:31] natanrolnik commented on #2622
And also, would be good to look at `heroku logs` of both.

[2016-08-31 17:35] techyrajeev commented on #2622
Curl request is passed successfully. On parse server I  response generated and I see it on terminal from where curl request was sent.

[2016-08-31 17:47] khirr commented on #2552
For example, you can get installation ids using a function in PHP SDK, get 1k per time, and send it in where clause, _id: $in[] or installationsId: $in[], you can check it con REST guide:

http://parseplatform.github.io/docs/rest/guide/#push-notification

[2016-08-31 17:50] steven-supersolid opened #2628 "_acl not being saved correctly"
### Issue Description

Create a user:
[code]

User is created with following data in db. Note the _rperm and _acl are public read
[code]

Set the ACL to just the user, i.e. remove public read:
[code]

User data now looks like the following.
Note that _rperm is correct and loses the * access, but _acl * still has r:true
[code]

Get the user again, parse-server thinks that the ACL has been changed:

[2016-08-31 18:26] steven-supersolid commented on #2580
I would also prefer to drop the call to next() after responding now that there is a workaround provided for logging. It does seem that event handlers are the way to go with this and are an app-specific solution rather than something that should be built in to parse-server.

While it does the job, the fix in #2559 requires checking overlapping routes within route handlers so the routes are no longe

[2016-08-31 18:33] flovilmart commented on #2580
Waiting to hear on @blacha's take on that as he provided that.

[2016-08-31 22:04] takomborerwa opened #2629 "130 Could not store file - Parse server not saving Image PFFIile"
Right, so I'm using parse server with Heroku and mongo db and am writing in Objective-C. Its the 'parse server example' created with the purple Heroku button.  So I can save some images but not others. They are all PNGs and less than a 200KB in size.

 I get the I get the following error

' [Error]: Could not store file. (Code: 130, Version: 1.14.2)'

The following is the code that I use to save t

[2016-08-31 22:10] adonoho opened #2630 "Transitioning the Project to the Community Governance by January 2017."
In just under 5 months, our friends at Facebook will, most likely, be withdrawing from the Parse project. Most community driven projects put in place some kind of governance structure. Some kind of mechanism for the community to define and set a platform's direction, to address systemic issues.

There are many ways this could be set up. The obviously simplest is a BDFL and a contribution agreement

[2016-08-31 22:18] flovilmart commented on #2630
It ain't dying, it's striving!

Regarding the contributors agreements, I'm currently picking some brains on that, looking at working models like Jekyll, homebrew and Moya which all have striving community and passionate maintainers.

Some pull requests will be made so we can all discuss those terms together.

[2016-08-31 22:34] adonoho commented on #2630
Allow me to be very clear, I want Parse Server ecosystem to grow too. That is why I ask these hard questions. Unless the community can come together and create a governance structure, then we do have a problem.

[2016-08-31 23:01] natanrolnik commented on #2629
@takomborerwa did you configure a File Adapter? If not, did you read the [Wiki about it](https://github.com/ParsePlatform/parse-server/wiki/Configuring-File-Adapters)? The default "Deploy to Heroku" button doesn't have any File Adapter set up. Please consider closing this issue as File Storage is tested and works fine if correctly configured.

[2016-09-01 00:15] parseserverpush commented on #2552
I have sent a lists of _id. It's very long.

[2016-09-01 00:38] takomborerwa commented on #2629
Hi @natanrolnik. Thanks for the link. Ive been reading the wiki. The wiki suggests that the GridStoreAdapter is default and requires no additional setup. The other adapters would be used for AWS and GS. The following post also suggests the previous point to be so

https://github.com/ParsePlatform/parse-server/issues/1027

I am using Heroku + MongoDB with the parse-server-example project.

My code

[2016-09-01 01:05] takomborerwa commented on #2629
Right problem solved. So I realised that there the images that were uploading were smaller than the ones being upload. The issue was that I was on the verge of exceeding my database sandbox storage and so I was unable to upload the larger files.

[2016-09-01 01:06] #2629 closed

[2016-09-01 03:45] flovilmart opened #2633 "[PROPOSAL] Deprecate fully useMasterKey and Parse.User.currentUser()"
As those functions are misleading and unavailable in Cloud Code, I suggest we replace those implementations by implementations that would log a warning in the 1st place and throw an exception later on.

The warning could have a link to the [CloudCode migration notes](https://github.com/ParsePlatform/parse-server/wiki/Compatibility-with-Hosted-Parse#cloud-code)

[2016-09-01 03:47] flovilmart commented on #2552
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-09-01 03:47] #2552 closed

[2016-09-01 03:49] flovilmart commented on #2529
seems that web pack is transpiring Parse to `_node2.default`, that won't work... It needs to be just `Parse` as it's defined in the global scope.

[2016-09-01 03:49] #2529 closed

[2016-09-01 03:51] #2474 closed

[2016-09-01 03:52] adonoho commented on #2630
@flovilmart I understand your view. The question is when will a governance structure be established? Are you waiting until January 2017? December 2016? November 2016? October 2016? Is there a reason to wait? If so, what, pray tell, is it?

You prefer drafts over specs. OK, here's a draft: I nominate you, a non-Facebook employee, as the BDFL for the Parse Platform. Effective immediately. Organize i

[2016-09-01 03:54] flovilmart commented on #2441
Not sure what your problem is, if you're doing heavy cloud code, all requests go back to HTTP, so you may wanna make sure everything's taken care of on that side. There is an **experimental** improvement coming up with #2316 that will skip the HTTP calls for all Cloud Code queries.

This may be included in 2.2.19 that is upcoming.

[2016-09-01 03:54] #2441 closed

[2016-09-01 03:56] flovilmart commented on #2390
as @steven-supersolid is mentioning, this is probably heroku throttling the log outputs... there's nothing mutating the node provided console module in parse-server AFAIK.

[2016-09-01 03:56] #2390 closed

[2016-09-01 05:42] vutana1 commented on #2306
Hi. Have you found a solution? Thanks.

[2016-09-01 06:25] patrickbdev commented on #1717
How is the situation handled where the user isn't known but the sessionToken is and you wish to retrieve the user from the sessionToken (in Cloud Code)?

[2016-09-01 07:48] natanrolnik commented on #2629
@takomborerwa right, my bad. I'm glad you found the reason. Besides this reason, using the `GridStoreAdapter` is not the best solution - I definitely suggest you configuring S3 or GS.

[2016-09-01 09:43] LBKevinSibue commented on #313
Hi everyone !
Yesterday I have updated my parse-server to the latest version and now when I call a CloudCode function from my app (iOS or Android) it's say to me there are an error.

So when I look at the log I can see that:

[31merror[39m: Error generating response. ParseError { code: 208, message: 'this auth is already used' } code=208, message=this auth is already used

and that:

31merror[39

[2016-09-01 09:48] neophob commented on #2620
@flovilmart any other actions required from my side for the parse-server-simple-mailgun-adapter pull request? Should I send PR to bump versions?

[2016-09-01 10:30] benishak commented on #2633
why ? we still using `Parse.Cloud.useMasterKey()` and `Parse.Cloud.HttpRequest` and they are working fine, why deprecate them?

[2016-09-01 11:09] bohemima commented on #2633
@benishak, Parse.Cloud.useMasterKey does not work anf yoi should be sending the useMasterKey option in every individual save/find/etc options instead.

HttpRequest is not being deprecated afaik but you should consider using the "request" module instead now that you can use third party node modules.

[2016-09-01 11:22] flovilmart commented on #2620
That should be good, I don't have commit access on all repositories, so let's wait for the adapter PR to be merged. And we'll make sure it will be part of the next release.

[2016-09-01 12:29] flovilmart commented on #313
can you post the content of your cloud function? As well as the logs printed in the console with VERBOSE=1 environment variable set when you start your server?

[2016-09-01 14:21] flavionegrao commented on #2594
Maybe changing the log level to debug would be more more appropriated?

[code]
I believe the situation is a class is being tracked by the Live Query Server, but no client is subscribed to it.

**this.subscription**
ParseLiveQueryServer
clientId:0
clients:Map[0]
keyPairs:Map[0]
parseWebSocketServer:ParseWebSocketServer
sessionTokenCache:SessionTokenCache
subscriber:Subscriber
subscriptions:Map[0]
_

[2016-09-01 14:24] flovilmart commented on #2594
That would make sense. Do you mind opening a pull request for that fix?

https://github.com/ParsePlatform/parse-server/blob/master/src/LiveQuery/ParseLiveQueryServer.js#L111

https://github.com/ParsePlatform/parse-server/blob/master/src/LiveQuery/ParseLiveQueryServer.js#L156

And probably other places in this module

[2016-09-01 14:25] flavionegrao commented on #2594
sure thing

[2016-09-01 17:51] SeunMatt commented on #68
Hello, I am having the same issue ParseRequestException invlaid key name. Read through this issue and the other issue #105 yet couldn't fix the issue.  Am using android sdk version 1.13.1 Please can you help?

[2016-09-01 18:38] hramos commented on #2633
Agree with this. IIRC, the current state is that people who port their Cloud Code over without consulting the migration notes may assume their code will continue working as-is as these methods fail silently.

[2016-09-01 18:42] flovilmart commented on #2633
I've planned that for 2.3, to make it breaking/throw error in that case

[2016-09-01 19:21] alexrmacleod opened #2638 "Very strange bug! Simple like.saveInBackgroundWithBlock is throwing The request timed out error"
First, I know theres some iOS code below but I have a feeling this might be a parse-server problem.

Here is the code that I am having trouble with, The strange thing is that I can use saveInBackgroundWithBlock with every other PfObject which saves them to their respective class in my project, except for the Like object!, very strange. I even tried saving these like objects via Cloud Code. Nothing

[2016-09-01 20:13] benishak commented on #2580
I had this error today when I upgrade to node to 6.4.0 then I tried to downgrade back to 4.5 but still get the same error.
The solution was to delete the wohle node app and redeploy it again. I use pm2 and could be that pm2 load some files from 'shared' directory while keeping it not sync with the 'source' directory. I don't know how but this solved the problem.

[code]

[2016-09-01 20:20] benishak commented on #2633
I'm not sure but because when we migrated we almost refactor the whole cloud code and when we were getting 'permission denied use Master Key' we solved it by calling `Parse.Cloud.useMasterkey()`. It worked almost everywhere except with `Parse.Push.send` we had to use `{ useMasterkey : true }`

[2016-09-01 20:20] flovilmart commented on #2638
Please run your server with VERBOSE=1 and provide the relevant server logs so we can debug that issue. Do you have any cloud code running that could prevent the request to finish?

[2016-09-01 20:41] flovilmart commented on #2633
even a better reason to prevent the usage of Parse.Cloud.useMasterKey() as it may have horrible side effects with concurrent request... you should use `{useMasterKey: true}` everywhere you need it,

[2016-09-01 20:51] alexrmacleod commented on #2638
I set "verbose: true," on the "new ParseServer({" init

Below is the verbose server response, from when I press the like button in my app and the  like.saveInBackgroundWithBlock code runs,

`

        verbose: POST /parse/batch { host: '219.79.46.87:1337',
          'x-parse-client-version': 'i1.12.0',
          accept: '*/*',
          'x-parse-session-token': 'r:4734f6c572529258df8e2c644166b213'

[2016-09-01 21:01] alexrmacleod commented on #2638
@flovilmart ok it was the Cloud Code thing. It would be great if there was a **"common noobie errors" page** where someone would list out all the common mistakes people make when using parse! would save lots of noobs/ pro devs like yourself lots of time!

[2016-09-01 21:23] #2638 closed

[2016-09-01 21:33] flovilmart commented on #2638
@alexrmacleod that sounds like a sweet idea! Love saving time :) you could maybe start with a COMMON_ISSUES.md and send us a pull request! Anything that can help the whole community is welcome!

[2016-09-02 00:53] cleever opened #2639 "Error log and Info log with the same content."
- [x] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.

- [x] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases

- [x] You've searched through existing issues: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue Chances are that your issue has been

[2016-09-02 01:59] noder199 opened #2640 "Does Parse-Server verify if the client is legitimate for every request?"
Does parse-server/Parse-SDK-iOS-OSX implement any methods of verifying whether the client is in fact legitimate? This would be for preventing mass account creation and similar issues. Doing something like a checksum would be ideal (Take the account name, API version, and a known secret and hash them together so the server can detect a fake client.).

 This post on reddit describes what I mean: [ht

[2016-09-02 02:11] hramos commented on #2638
Someone suggested using Stack Overflow Docs in another issue. I can see having one master list of links to common issues maintained by the community in SO Docs.

[2016-09-02 02:52] yifli opened #2641 "Cannot access photos using local Parse server + mongoDB on AWS"
### Issue Description

Images in my app fail to show up  when I test a local Parse server (2.2.17) + mongoDB on AWS.  Other data is loaded correctly.
Currently, my app is working fine since I'm using Parse.com + mongoDB on AWS.

Cannot access images either via local dashboard

### Steps to reproduce.

#### Expected Results

Clicking image links in dashboard should show me the corresponding images

[2016-09-02 07:57] chrisfoulds commented on #2591
The old parse service had a feature for this, has anyone managed to replicate this ?

[2016-09-02 08:02] deada92 opened #2642 "[Question] scalabality and features of parse"
Hello everyone,
I would like to hear your opinion on a subject: im currently at the planning phase of a new project I have. I'm thinking atm about the backend solution I should use and I'm not really sure which one.
I'm a really big fan of parse because I really love their sdks. I tested parse server when it came out but I'm not sure how things work at the moment. I'm thinking specific about socia

[2016-09-02 09:06] natanrolnik commented on #2641
@yifli could you provide more data? For example, is this a new app on parse server, or migrated from Parse? If it was migrated from parse, are you initializing your server with `fileKey`? Did you migrate your files already? Are you using a storage adapter?

[2016-09-02 09:51] mohit-guptaa opened #2643 "deleted all servers on my machine only npm is installed still i got this issue please help me."
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@2.15.9
3 info using node@v4.5.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart reactapp@1.0.0
6 info start reactapp@1.0.0
7 verbose unsafe-perm in lifecycle t

[2016-09-02 10:33] ryderjack commented on #2595
@plaudev what version of Parse Server are you running? I'm having issues with Push atm too

[2016-09-02 11:24] flovilmart commented on #2642
It is designed to scale properly horizontally. But it doesn't scale by itself.

[2016-09-02 11:36] chrisfoulds commented on #2255
and update on this issue ? or shall I just roll back ?

[2016-09-02 11:48] plaudev commented on #2595
@ryderjack, my versions

[code]

[2016-09-02 12:12] flovilmart commented on #2640
As the SDK's are opensource too, A checksum would be ineffective. All those protections are usually implemented on a need to know basis.

Imagine we add the suggested checksum, and update all SDK's what prevent a malocious user to craft a nodejs app with the new SDK's and blast those same requests to your server? Nothing.

[2016-09-02 12:12] #2640 closed

[2016-09-02 12:16] flovilmart commented on #2255
this is likely because all your users are still using a non revocable session. If that's the case, all ACL based security cant work, as we don't load the user pre 2.2.17. It was a bug that we would let invalid session tokens go through the requests as we don't support those legacy tokens.

I'm working on the upgrade method in order to make the revocable sessions seemlessly upgrade to revocable ses

[2016-09-02 12:19] flovilmart commented on #2643
From the logs:

error This is most likely a problem with the reactapp package

[2016-09-02 12:19] #2643 closed

[2016-09-02 12:20] flovilmart commented on #2643
Also we don't use webpack or anything else like that. This issue don't seem to be related to parse-server

[2016-09-02 12:21] flovilmart commented on #2641
Check your S3 bucket policy for your parse uploaded images, it is likely that it's not properly configured for public read.

[2016-09-02 12:32] mohit-guptaa commented on #2643
Thanx
when I downloaded the plugins there is no error shown by prompt and after that when I write (npm start ) it shows these errors
+
I done yesterday on other system it works properly but in my system it's not
Can u provide me steps for solve this problem or other steps for making environment to run a react js or provide me suitable link ...

[2016-09-02 12:37] flovilmart commented on #2643
This is a problem that is completely unrelated with that project, and I won't be able to provide any help on that matter. You should ask on stackoverflow instead.

[2016-09-02 12:43] mohit-guptaa commented on #2643
Ok thanx..

[2016-09-02 12:45] chrisfoulds commented on #2255
So I have a user that has upgraded to a revocable session on previous sdk - session token is

[code]
When that user upgrades the app to pointing straight at the new server I get 209 errors.

If on that same user I do a full login on the old client I get the following session.

[code]
Then when I flip that user to pointing straight at the new server all is good.

It's like the upgrade tokens are no

[2016-09-02 13:06] flovilmart commented on #2255
they are valid:

Upgrading the session token is unavailable on parse-server, but if you upgrade your users on api.parse.com then flip to parse-server that should be all good.

The updgradeSessionToken endpoint is not implemented and the middlewares that verify the session token gets hit before we can send a 404. This is probably why you're seing that behaviour.

Like I said, I plan to ship in 2.2.

[2016-09-02 13:10] yifli commented on #2641
@natanrolnik I'm migrating this app from Parse. In the app, I'm not initializing the server with `fileKey` (but I cannot access images either via dashboard). I already finished database migration. Like I said, all the other data is read correctly in my app (but if I use Parse.com, all the data including images can be read without problems). I'm not using storage adapter.

[2016-09-02 13:12] yifli commented on #2641
@flovilmart Do I check S3 bucket policy on AWS? I'm not sure how to do it. If it's a problem on AWS side, how come images can show up if I use Parse.com + AWS?

[2016-09-02 13:16] benishak commented on #2448
It stills happen although using express 4.14.0 using node 4.5

[code]

[2016-09-02 13:18] flovilmart commented on #2641
Can you provide the URL's for the failing image?

[2016-09-02 13:27] flavionegrao commented on #2255
Hi @flovilmart, is there a chance that there's something else going weird here.?

I run a cluster of 3x parse servers (2.2.17) pointing towards the same mongodb cluster.
Suddenly one parse-server starts to present 209 errors while the others are ok for the same user with the same request:

[code]

I restart the instance and the problem vanishes, would you tell me how to debug it and try to figure

[2016-09-02 13:28] chrisfoulds commented on #2255
That is what I am doing in both scenarios.
On scenario A the user is logged in with a legacy id, I then perform an upgrade against api,.parse.com and get a session token (the first one I gave).  I then upgrade that user to a new version of the app that points at my parse server. I get error 209.  (See server log 1 below)
On scenario B the user is not logged in at all. I then get the user to login

[2016-09-02 13:33] ryderjack commented on #2595
@plaudev thanks! Is there an easy way for me to get a print out like that of the versions I'm running ?

[2016-09-02 13:34] flovilmart commented on #2255
Uhm.... that's very very odd, Do you have the full server logs, with request headers?

[2016-09-02 13:40] flavionegrao commented on #2255
No, I don’t, they are in my production env. I have just the ‘info’ level logged.
One more thing, all parse-servers run the same docker image, I would guess something is triggering a inconsistent status somehow.
Cheers.

[2016-09-02 13:43] flovilmart commented on #2255
Uhm... I'm not sure, do the request hit the same server or different ones?

[2016-09-02 13:48] flavionegrao commented on #2255
I am behind a AWS ELB instance, sometimes hit the same, depends on the server load.
But when the user tries several times and it hits other server or I manually restart the problematic one, it goes through.

[2016-09-02 13:55] plaudev commented on #2595
that is from the log from the step `git push heroku master` which spews out several pages of logs of all the versions of everything involved.

In your `package.json`, there may be a way for you to specify the exact version although I have not experimented with it. Here is what I have in my `package.json` wrt "dependencies":

[code]

[2016-09-02 14:08] flovilmart commented on #2255
We do have caching on the user objects per sessionToken but I don't see how it can interfere as when refreshing the session token, the previous entry become unaccessible...

-- 
Florent Vilmart

On 2 septembre 2016 at 09:48:53, Flavio Torres (notifications@github.com) wrote:

I am behind a AWS ELB instance, sometimes hit the same, depends on the server load.
But when the user tries several times a

[2016-09-02 14:15] natanrolnik commented on #2641
@yifli I asked about the files migration, not database migration. If you are migrating the apps from Parse, the files are located in Parse's S3 bucket, which are unknown to your server. The dashboard is connected to the `api.parse.com/1` or to your server's URL? I guess that might be the problem. Go to the settings of your app in Parse.com, get the fileKey, and use it to initialise your server; ac

[2016-09-02 14:26] yifli commented on #2641
@natanrolnik In the case where I cannot access my images, the dashboard is connected to my local Parse server. I'll try your suggestion after I get off from work today.

So how am I supposed to migrate my files? Does migration guide mention this?

If I understand it correctly, initializing my server with the fileKey basically gives my app the permission to access the files located in Parse's S3 bu

[2016-09-02 14:28] natanrolnik commented on #2641
@yifli exactly. You can take a look at: https://github.com/parse-server-modules/parse-files-utils

[2016-09-02 14:30] yifli commented on #2641
@flovilmart http://files.parsetfss.com/1e9a16b7-c483-400b-9db8-20c38b522adf/tfss-4e0fef95-5be8-465d-927a-592711ac4909-dishImage.jpg.

[2016-09-02 15:09] flovilmart commented on #2641
I don't see any error... If the issue is on the dashboard, please open it in the dashboard...

[2016-09-02 15:18] noder199 commented on #2640
@flovilmart Even when using a secret key?

What do you suggest is an alternative solution? Is there anything you do for your own applications to prevent a user from just spamming requests to your app at any time without blocking out users with tools like rate limiting?

[2016-09-02 15:26] flovilmart commented on #2640
Secret key on the client? doesn't seem that secret. Some companies use rate limiting, machine learning, delays upon signup/login etc... But I don't think that fits within the scope of that project.

[2016-09-02 15:34] noder199 commented on #2640
Yes but it still forces the user to disassemble the client, it acts as a layer of defence - I guess as all things in security.

Rate limiting can cause entire schools or businesses to be black listed in certain cases.

Certificate pinning isanother possibility, although it is tedious as I would have to bundle the file every time it is renewed (yearly).

I would be curious if you or anyone else has

[2016-09-02 15:36] noder199 commented on #2640
Also worth mentioning that cloud providers like GAE don't provide features like ip restrictions.

[2016-09-02 16:01] flovilmart commented on #2640
Disassembling JS very complicated I guess... Finding strings in a binary is as much complicated. Given that the applicationId has to be in the client too, the attacker need it to make 'successful' requests to your device.

I am not saying that it is impossible I'm just saying it's completely out of scope for that project. IF you want to achieve security, there are many things you can do, all of th

[2016-09-02 16:20] chrisfoulds commented on #2255
@flovilmart do you require any more info from me as I have tried with multiple users and they all get error 400 if they are on an upgrade token

[2016-09-02 16:26] noder199 commented on #2640
Well no, express does not promise to be anywhere near as ambitious or as practical as parse-server is, I mean I don't even know how you could compare the two. Express is for building a backend, parse-server IS a backend.

Well that's stupid, I mean if I have some free time I'll take a look at your application with charles and see whether a repeated request every x number of seconds is detected by

[2016-09-02 16:59] flovilmart commented on #2640
I'm a maintainer, I state what I believe is best for the project.

You're 100% right! Feel free to flood us with dummy requests!

Yup, it was called rate limiting, and on a free plan it was 30 req/s. After that all request dropped. Making legitimate calls being dropped unless you pay the price.

I don't ask for feature request, I send pull requests.

[2016-09-02 17:03] flovilmart commented on #2255
Anything you can provide may help. Upgraded token should work fine. Mostly we need the 'X-Parse-Session-Token', if you post it, obfuscate it. Do they have a 'r:' starting the string?

[2016-09-02 17:08] benishak opened #2644 "info logs being saved in parse-server.err.*.log"
# Env
Parse Server 2.2.17 on AWS with PM2 and NGINX CentOS 7.x

# Problem
since 2.2.17, we started see some logs when `after/beforesave` triggers, these are somehow logged to `parse-server.err.*.log`  instead `parse-server.info.*.log` files!

Because we watch `parse-server.err.*.log` with PM2 but ignore `info` and `verbose` pm2 restart node everytime   `after/beforesave` triggers

[2016-09-02 17:16] chrisfoulds commented on #2255
In my previous comment I gave the session tokens for both scenarios (see earlier) both have r: starting the string

[2016-09-02 17:34] flovilmart commented on #2255
Uhh right sorry. If you manage to reproduce it again (1st case, session token is not usable), can you check in the DB if the _Session records match in structure i.e.: the sessionToken stored key is the same as one with a successful login?

[2016-09-02 17:43] flovilmart commented on #2644
You should stop watching the logs folders altogether. you can specify a [custom path to the logsFolder](https://github.com/ParsePlatform/parse-server/blob/master/src/ParseServer.js#L103).

[2016-09-02 17:43] #2644 closed

[2016-09-02 17:57] cleever commented on #2644
@flovilmart
It's seem related
https://github.com/ParsePlatform/parse-server/issues/2639

[2016-09-02 18:00] benishak commented on #2644
Yeah the problem is not about were files are stored in which directory but it is about the info logs are being saved in error logs and interpreted as errors! I don't want to ignore error logs

[2016-09-02 18:00] flovilmart commented on #2644
Yep it's related but pm2 should not restart when a log is writte, so it's best to log in a folder that is not in the pm2 scope. Actually, pm2 should not monitor at all the files in that folder... that seems a pretty big security issue.

[2016-09-02 18:05] benishak commented on #2644
Security issue ? Can you explain how?
It is useful to monitor error logs, so when tgere is error in some modules or functions within cloud code that makes the node process exit, we can know about it and pm2 start the node again.

[2016-09-02 18:12] flovilmart commented on #2644
File upload + bad express configuration + server arbitrary code execution.

An error logged in the log file should not restart the server... When an app logs an error, does it restart? If we wanted to exit on error, we would throw an exception and effectively crash the server.

Yes #2639 is a problem (a regression), but what you're describing is just weird. You can stick to it, but I've never seen

[2016-09-02 19:25] flovilmart commented on #2255
@chrisfoulds see #2646 maybe that will help. Do you want to try it as you have a very nice way to reproduce your issue?

[2016-09-02 20:03] #2641 closed

[2016-09-02 20:04] flovilmart commented on #2594
Thanks @flavionegrao ! Let's close that one as it will be part of next release.

[2016-09-02 20:04] #2594 closed

[2016-09-02 20:10] flovilmart commented on #2603
@rendongsc do you want to work on the PG adapter?

[2016-09-02 20:12] flovilmart commented on #2521
@asdf01 thanks for the question, but you'd probably want to open that on the MongoRocks repository / ask it on stackoverflow / serverfault as our competences don't cover those specifics.

[2016-09-02 20:12] #2521 closed

[2016-09-02 20:18] flovilmart commented on #2543
If you're still using legacy session tokens, (not starting with 'r:') this is not supported on parse-server.

We strongly enforce invalid session tokens sent to parse-server so you don't end up in a situation where you can't access your ACL protected data without any feedback.

[2016-09-02 20:19] flovilmart commented on #2542
Can you provide the parse-server logs running with VERBOSE=1? Do

[2016-09-02 20:22] flovilmart commented on #2434
@benishak we need to pull all the deviceTokens from the DB and that takes up a lot of memory. Then you need to send those to the push provider, APNS or GCM or other wether it's a single or many, that ends up being pretty much the same amount of calls.

[2016-09-02 20:29] benishak commented on #2644
hey that's why only error must go to error logs, because that file were only storing error in kind of "Unexpected syntax" or "Exceptions" or "Undefined variables" but now store everything!

[code]
This is clearly not an error!!

why should I have info.log and err.log with same log message?!

[2016-09-02 20:45] flovilmart commented on #2644
I'm not arguing about the fact that for some reason, info logs are into the error log, that's the issue #2639.

I'm just saying that having a server restart on an line written in the error log is not a great idea. Then you can just dismiss what I think, or better provide a fix for the issue instead of waiting for someone else to do it.

Having a process manager that watch when the process crashes

[2016-09-02 21:03] chrisfoulds commented on #2255
@flovilmart getting a bit late in the day overhere but will certainly try it out over the weekend and let you know how it goes.

I did check the records and they all seem to line up between the servers. I basically have my app with a flipswitch in it now, so after it fails if flip the switch and restart the app to go back to api.parse.com I get straight back in, it's just using that revocable upgr

[2016-09-02 21:08] benishak commented on #2644
And that's what im talking about! info and verbouse should not be logged as error. My issue is similar to #2639. I will fix it but my time is tight and thought will be faster to inform the community. In production we actually muted some logs and the app crashes only in cases when an error or exception was thrown. But in development we keep logging and we don't prefer to ignore error.log so develop

[2016-09-02 22:46] flovilmart commented on #2255
Awesome, thanks for trying it out. Check out the wiki for running Parse-server from a branch, that's a bit complex as the default npm way won't work. Need to submodule, checkout branch, npm link.

[2016-09-02 22:48] flovilmart commented on #2644
That would be nice to fix that mongo election bug too.

[2016-09-03 00:59] rendongsc commented on #2603
@flovilmart  yes, and hope to provide collectionPrefix support.
thanks!

[2016-09-03 00:59] #2603 closed

[2016-09-03 01:44] noder199 commented on #2640
You are clearly ignorant of other points of view, you made a decision and won't reconsider. That is not the job of a maintainer.

The 'dummy' calls you are referring to could cause serious issues in the prospect of account creation, especially when anonymous users are enabled. You might think verification emails already solve the problem, but that isn't true for a mobile app.

[2016-09-03 02:18] flovilmart commented on #2640
I don't really need your insults, and you should check your tone.

However if you feel that's a critical feature that deserves to be included in the core code base, i'll gladly review and merge your PR. So far, I don't see anything constructive, nor you'be demonstrated that this particular feature request is critical to the project.

In the mean time, you should probably tone down. Insults are not

[2016-09-03 02:20] flovilmart commented on #2603
Awesome! Thanks for your commitment! Can't wait to get that PR in.

Look at the .travis.yml build matrix, we use an env variable to switch on the tests against the postegres DB. Note also that postgis extensions should be enabled for the geopoints tests.

[2016-09-03 02:48] flovilmart commented on #2640
@noder199 I've reported your profile as you mentioned intentionally harming our deployments and that'a not acceptable.

[2016-09-03 14:03] flovilmart commented on #1717
@patrickbdev how is the sessionToken transmitted to the server? If it's part of an 'authenticated call', the user will be available on `req.user`. Otherwise you ca make a query on _Session, with including the user property.

[Here] (https://github.com/ParsePlatform/parse-server/blob/master/src/Auth.js#L45) is how we internally resolve the sessionToken sent to the server part of the request headers

[2016-09-03 15:02] QWIlson2015 commented on #2540
HI @Sharathmk99 ,

yes you can, but only for android. You have to use a service working in background in your app. Instead for iOS you need a push notification to wake up your app if it's in background or closed. Once it's visible you can use mqtt to receive or send your messages.

[2016-09-03 15:11] thailey01 opened #2649 "GCM "upgraded" to FCM"
Please read the following instructions carefully.

Check out https://github.com/ParsePlatform/parse-server/issues/1271 for an ideal bug report.
The closer your issue report is to that one, the more likely we are to be able to help, and the more likely we will be to fix the issue quickly!

Many members of the community use Stack Overflow and Server Fault to ask questions.
Read through the existing

[2016-09-03 15:14] thailey01 commented on #2649
It appears gcm is no longer available and has been "upgraded" to fcm. This means that apps that new apps have to register with fcm that no longer accepts traditional gcm senderId and api key. I believe this is Google's was of pushing developers off of parse-server and into the arms of Firebase.

[2016-09-03 15:14] #2649 closed

[2016-09-03 15:35] deada92 commented on #2642
do u have like a way how to setup multiple parse server as one?

[2016-09-03 15:50] flovilmart commented on #2642
You can run different processes, on the same machine, listening to different ports. But as it is today, and likely to be in the future, we can't support multiple applications in the same node process due to the memory sharing of the JS SDK

[2016-09-03 17:50] chrisfoulds commented on #2255
Sorry I have searched high & low for instructions for running from a branch and can't find them so I am unable to test the fix.

[2016-09-03 17:55] flovilmart commented on #2255
Alright brace yourself then:

[code]

Once your done with the testing:

[code]

[2016-09-03 18:03] flovilmart commented on #2526
@TravisDev can you post your configuration please? It's tough to follow what's going on.

[2016-09-03 18:04] flovilmart commented on #2526
@jamisonz87 it will be resolved by #2634

[2016-09-03 18:05] flovilmart commented on #2620
@neophob I'm gonna close that one as the next steps are on the maligun repo

[2016-09-03 18:05] #2620 closed

[2016-09-03 18:07] flovilmart commented on #2522
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

This questions is highly specific to MongoRocks, you should probably ask it on a dedicated forum where the MongoRocks/MongoDB community will be more active

[2016-09-03 18:07] #2522 closed

[2016-09-03 18:12] flovilmart commented on #2504
I recommend you don't use login and signup in CloudCode. You should use something like:

let user = new Parse.User();
user.save({
username: '',
password: ''}, {useMasterKey: true}).then(function() {
 // do something with the user.

});

[2016-09-03 18:12] #2504 closed

[2016-09-03 18:13] #2493 closed

[2016-09-03 18:13] flovilmart commented on #2493
You should open the issue on the OneSignal adapter to support scheduled push.

[2016-09-03 18:14] flovilmart commented on #2489
Closed as resolved by #2499

[2016-09-03 18:14] #2489 closed

[2016-09-03 18:16] flovilmart commented on #2467
20000 requests per minute is about 350 req/seconds, how many servers are running on elastic beanstalk? It likely your scaling don't keep up with the request flow.

[2016-09-03 18:16] #2467 closed

[2016-09-03 18:18] flovilmart commented on #2482
A workaround is nice but a fix is better. Do you want to tackle that issue?

[2016-09-03 18:19] #2464 closed

[2016-09-03 18:19] #2434 closed

[2016-09-03 18:20] flovilmart commented on #2644
@benishak See #2647

[2016-09-03 18:21] #2270 closed

[2016-09-03 18:22] flovilmart commented on #2250
Please update to latest version and reopen the issue if it persists

[2016-09-03 18:22] #2250 closed

[2016-09-03 18:22] flovilmart commented on #1766
Please update to latest version and reopen the issue if it persists

[2016-09-03 18:22] #1766 closed

[2016-09-03 18:25] flovilmart commented on #2030
I'm gonna close that issue as this turned into a discussion and we're explored different ways to improve the server performance.

Also #2316 will probably land in the next version.

[2016-09-03 18:25] #2030 closed

[2016-09-03 18:28] flovilmart commented on #2058
Can you provide the actual data? Closing till then.

[2016-09-03 18:28] #2058 closed

[2016-09-03 18:29] flovilmart commented on #2192
Closing due to lack of activity, please update to latest parse-server version and reopen if the issue persist.

Don't forget to include your current:
- node version
- npm version
- parse-server version
- any relevant logs (VERBOSE=1 will enable verbose logging)

[2016-09-03 18:29] #2192 closed

[2016-09-03 18:30] flovilmart commented on #2189
@jameslin101 you're on the right track, Can you run with VERBOSE=1 and reproduce the issue so we have the full trace of request/response?

[2016-09-03 18:31] flovilmart commented on #2178
@Aziz38 can you please update to parse latest version and provide the logs when running with VERBOSE=1 env variable set? That will help us debug your issue.

[2016-09-03 18:34] flovilmart commented on #2167
@mattstrong this is probably your client that take a long time to transmit the file to the server. Did you try running that upload locally (from a local client to a local parse-server)? Please reopen the issue if it persists or if the results of the local upload is similar.

[2016-09-03 18:34] #2167 closed

[2016-09-03 18:35] flovilmart commented on #2152
This is an issue on the dashboard if sound: default that should be set when crafting a text only payload.

[2016-09-03 18:35] #2152 closed

[2016-09-03 18:37] flovilmart commented on #2138
@guireg can you try updating to the latest version and reopen if the issue still persists? Could you also provide the logs when running with VERBOSE=1 DEBUG=express

[2016-09-03 18:37] #2138 closed

[2016-09-03 18:39] flovilmart commented on #2190
Closing due to lack of activity, please update to latest parse-server version and reopen if the issue persist.

Don't forget to include your current:
- node version
- npm version
- parse-server version
- any relevant logs (VERBOSE=1 will enable verbose logging)

[2016-09-03 18:39] #2190 closed

[2016-09-03 18:41] flovilmart commented on #2377
Should be all fixed in 2.2.17, closing. Feel free to reopen if this closing was too hasty.

[2016-09-03 18:41] #2377 closed

[2016-09-03 19:57] chrisfoulds commented on #2255
Thanks for the clear and simple instructions, but sorry I am totally rubbish at all of this despite nearly 20 years software experience (mainly low level embedded) I have never really learnt server tech (which is why I used parse as in the first place, took the hassle away).

I went through what you said, it seemed to build and link.
I then did a commit and then pushed to heroku but something obvi

[2016-09-03 20:05] flovilmart commented on #2255
Yeah, you should test locally before sending it to heroku. If you really wanna test on heroku, in the main package.json you should have a line like:

[code]

you can replace with

[code]

the npm link command has only a local effect (effectively creating a symlink between node_modules/parse-server and ./parse-server to simplify.

With the suggestion above, that should be alright when deploying.

[2016-09-03 23:31] flovilmart commented on #2105
Did you update to the latest parse-server version (2.2.18) and let us know if the issue persist? We have a serverSide mechanism that prevents the user lock himself out.

[2016-09-04 09:08] tzabian commented on #2246
Has anyone had time to address this? @flovilmart I'd love to step in and look into this but still busy working around other bugs in order to get our env live. This migration has taken much longer than we anticipated 😨

[2016-09-04 11:42] TAProgramming opened #2650 "No Access-Control-Allow-Origin header present on requested resource. File Upload Bug. v2.2.18"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Server!
- [x] You've met the prerequisites: https://github.com/ParsePlatform/parse-server/wiki/Parse-Server-Guide#prerequisites.
- [x] You're running the latest version of Parse Server: https://github.com/ParsePlatform/parse-server/releases
- [x] You've searched through existing issues: http

[2016-09-04 12:07] flovilmart commented on #2246
I haven't had the time to look at. But I'll try before Tuesday

[2016-09-04 13:45] flovilmart commented on #2246
Managed to write a repro test, and isolated the root cause. Bad interpolation to an ACL based query of the pointer perm when it's specified as a user pointer field. Working on a fix

[2016-09-04 15:22] tzabian commented on #2246
Awesome! After I wrote my last comment, began looking into it and found the same. I had used

```_this3.findOptions.acl = Array.from(new Set(roles))```

Thanks for doing this 👍

[2016-09-04 16:07] flovilmart commented on #2246
I could also use a Set, seems smart :) I'll update the PR

[2016-09-04 16:07] #2639 closed

[2016-09-04 16:11] flovilmart commented on #2246
Thanks for the tip!

[2016-09-04 17:13] flovilmart commented on #2650
From what I see from the code, it seems that the middleware is properly set: https://github.com/ParsePlatform/parse-server/blob/master/src/ParseServer.js#L267

Can you provide a screenshot of the response headers that you see in your navigator inspector at the time of the request&

[2016-09-04 19:52] TAProgramming commented on #2650
![no access-control-allow-origin](https://cloud.githubusercontent.com/assets/17008848/18233507/51409718-72e1-11e6-98bb-55079250431d.jpg)

Here is a screenshot of my network console (navigator inspector), in google chrome as I'm trying to save a parse.file.
I hope you understand that I've censored my domain names considering my product isn't market ready.
Thank you :)

[2016-09-04 20:39] deada92 commented on #2642
Well what I mean was how can setup a parse server cluster for one application... but anyway I think I should use Heroku with MongoLab Plugin. As far as I understood they manage all the scaling and load balancing of parse server. I would say its a good solution.

Would u agree?

[2016-09-05 00:48] flovilmart commented on #2642
It is a gréât solution to get started. I personally use app engine, but when it will be time to another infrastructure, you'll know why :)

[2016-09-05 04:02] ssssssssssss commented on #2642
I'm really interested in LiveQuery, but it needs more configurations to run cluster properly (say Redis). And currently, I can't find a mechanism to hookup our own cloud code logic for LiveQuery. Is there any plan to support live query hooks or even extending LiveQuery specification?

[2016-09-05 06:14] Aziz38 commented on #2178
This is solved. Thank you for your attention anyway.

[2016-09-05 07:59] LBKevinSibue commented on #313
This error appear for example, when I call the cloud function "participateIntoEvent":

[31merror[39m: Failed running cloud function participateIntoEvent for user XwDt4J1yXH with:
  Input:
(if you want to search in the log).

It's seem like if the user is not log (still a anonymous user) and so the server can't get the session token, but I don't understand why.

Any idea ?

[ParseServer - Error Pa

[2016-09-05 08:58] pantri opened #2652 "[PROPOSAL] Change X-Parse-Application-Id header"
Is it / would it easily be possible to change the description of X-Parse-Application_Id to something more generic such as "app-id", or remove the requirement for it all together?

[2016-09-05 11:27] #2178 closed

[2016-09-05 11:46] flovilmart commented on #2652
why would be the benefit?

[2016-09-05 11:47] flovilmart commented on #2642
@ssssssssssss there are not any plan that I know of, we move forward with what matters the most in the community.

[2016-09-05 11:47] #2642 closed

[2016-09-05 12:49] bohemima commented on #2652
(Removing it completely) Less bytes to send over the pipes!

Since it was already stated that you would (probably) not going to be able to run multiple instances of ParseServer within the same app there is no real benefit to have appId at all. It's checked for but does not give any extra security or anything really.

[2016-09-05 13:19] flovilmart commented on #2652
That would require somewhat of a refactoring, but that's feasible on the server.

On the client SDKs, they will probably keep setting the headers, the refactoring is more important there.

And regarding the multiple apps support, as long as you don't have any cloud code, that'a already architectured to support it. If you're using HTTP hooks, you should see no issue running multiple apps.

So to su

[2016-09-05 13:19] #2652 closed

[2016-09-05 13:23] flovilmart commented on #313
Can you isolate the relevant logs? Also, given the complexity/size of your function it's really tough to understand what's going on. You should probably try to reduce the size of that cloud function to isolate the failing part.

[2016-09-05 13:26] flovilmart commented on #1025
@andrey-krukovskiy sorry for the late response. Did you manage to isolate the race condition? Can you confirm this is 2 concurrent requests that makes it fail (with the logs)

[2016-09-05 13:28] LBKevinSibue commented on #313
Important logs are from my previous post:

[31merror [39m: Error Generating response. ParseError {code: 208 Message: 'this auth is already used'} = 208 code, message = this auth is already used

This appears each time a user.

And each call of function cloudcode using 'getSessionToken ()' I have this error:

31merror [39m: Error Generating response. [TypeError: Can not read property 'getSessionTok

[2016-09-05 13:42] flovilmart commented on #313
This error occurs when you're trying to save a user with auth data that doesn't belongs to him. I don't see any logs referring to that.

Also, the session token seems properly passed to the request to your cloud code function, therefore the user should be properly set in req.user. If req.user is set, you should not have the crash you're describing.

Also, because your function is so big, I can't p

[2016-09-05 13:52] flovilmart commented on #313
Also, in the first page of your logs, you can see a user getting fetched with the Facebook authData with the Facebook ID 891415857609934. Then a few pages later, another user (with a different objectId) is trying to link it's account with the same Facebook ID. That's why you see that 'auth already used' error. You should not try to link 2 accounts with the same authData. I'm not sure what you're d

[2016-09-05 13:56] LBKevinSibue commented on #313
Ok I'll look on my client. But I don't understand why before the update of my parse-server everything work fine and now each function of my cloud code return this error (I talk about the 'getSessionToken()' error)

[2016-09-05 14:04] flovilmart commented on #313
In order to debug that, can you write a simple cloud code function that returns this session token and provide the logs  (and only the logs of that call) when you call it in place of this big function?

[2016-09-05 14:12] pantri commented on #2652
Agree with @bohemima however my reasoning is commercial.  If you have a public facing API, you don't necessarily want "X-Parse-Application-Id".

[2016-09-05 14:55] LBKevinSibue commented on #313
The function which return the code:

Parse.Cloud.define("testSessionToken", function(request, response) {
	console.log("testSessionToken --> STARTED");
	var token = request.user.getSessionToken();
	console.log(token);
});

And the log:

[36mverbose[39m: REQUEST for [POST] /parse/functions/testSessionToken: {} method=POST, url=/parse/functions/testSessionToken, host=test.superfc.io, x-real-ip=172

[2016-09-05 15:56] bcootner commented on #2255
@flovilmart I'm having this issue with migrating an app from Parse.com to the parse server. Is this error inevitable? I tried "parse-server": "./parse-server" but the push to heroku failed with that. Will 2.2.7 work?

[2016-09-05 16:27] flovilmart commented on #2255
This error is inevitable as we don't support legacy session tokens. The next release will have the sessionToken upgrade logic so by calling upgradeToRevocableSession at the start of your app, you users will upgrade to revocable sessions.

[2016-09-05 16:39] chrisfoulds commented on #2255
So I managed to do some testing on a local server. For me the upgrades work!!
On a negative however I am still getting the same failure if I do the upgrade on the old parse server that I reported. I notice if I then Logout and back in again I have two tokens in my database for that user, the old upgrade token that was not working and a new login token. It all very odd.

Luckily (for me!) All my us

[2016-09-05 16:45] bcootner commented on #2255
@flovilmart So bascially until 2.2.19 comes out for parse server we have to log users out and have them log in to make a new session token? Do you have a suggestion for iOS code that will check if they have legacy session token?

[2016-09-05 16:49] chrisfoulds commented on #2255
@bcootner the code is very simple. Do a fetchinbackground on [pfuser currentuser].
If it fails with an error 209 then call Logout and do whatever flow you need to do to get them to login again.

[2016-09-05 16:51] bcootner commented on #2255
@chrisfoulds Ah okay thanks. @flovilmart Trying to get migration done asap, any idea when 2.2.19 will be released with this fix so users don't have to get logged out?

[2016-09-05 16:56] flovilmart commented on #2255
We don't provide timeline for the releases but you can see in the milestones that we're a few PR away from 2.2.19. We need to get those PR in, and unless a major issue is blocking, we'le be able to release this week I believe.

[2016-09-05 19:21] sprabs commented on #1904
Is this still valid, though? I'm pretty confused by the conversation on: https://github.com/ParsePlatform/parse-server/pull/2478

Looks like the logger setup in index.js is different now. I'm just trying to figure out how to make it work. Even with verbose set to true, I'm not seeing logs anymore with the latest parse-server code...

[2016-09-05 23:10] flovilmart commented on #313
In your test function, there's no response, does it crash calling getSessionToken()? Is your big function called directly or part of a hook?

[2016-09-05 23:15] flovilmart commented on #313
Also, this seems to be a very different issue now, as completely unrelated to the original issue.

We have a unit test that specifically cover that: https://github.com/ParsePlatform/parse-server/blob/master/spec/ParseUser.spec.js#L1040

I'm locking that conversation, please reopen an issue.

[2016-09-05 23:53] flovilmart commented on #2431
@christianpbrink the fix is gonna land in the next release, the issue will close when the PR gets merged! Thanks for your patience.

[2016-09-06 00:28] flovilmart commented on #2652
@pantri X-Parse-Application-Id is far from being the only header sent to the server. So on that stance, and it it's to run commercial operations and hide that Parse-server is powering what you sell, I pretty much will disavow any change in that direction on the master code base.

[2016-09-06 00:31] JustK2 commented on #2542
Yes, we are working on this - please standby.

[2016-09-06 03:09] ITpakar commented on #52
@gfosco I have the same issue. Can you tell me how I can write triggers and functions directly through parse-server.

[2016-09-06 05:39] sunshineo commented on #2448
@benishak Can you make a pull request that delete that line?

[2016-09-06 06:09] shivangagarwal opened #2653 "[Discussion] Select fields does not propagate to the Mongo Layer"
Hi,

Is there a specific reason as to why the select fields are not propagated to the Database Controller layer and further passed on to Mongo? Currently all the fields are fetched from Mongo and then sliced at the parse-server level, but we can just pass the select fields to the Mongo itself. By adding these changes, the queries are much much faster.

Let me know if i am missing something. If thi

[2016-09-06 06:10] sunshineo commented on #2448
This is how I solved it:
[code]
I have no idea why after parse-server handled the request it want to call "next()". Does it have anything to do with Cloud code? If that is the case, I guess parse-server is meant to be stand alone. It is not mean to be installed onto your node server.

[2016-09-06 07:22] johanarnor commented on #2650
We are experiencing the exact same issue when upgrading from 2.2.13, but "resolved" the problem by staying on 2.2.17.

[2016-09-06 07:52] emeraldas commented on #2516
I found couse of error.
DB don't have resource.
I have to re-import resources...
migration tool db copy is imcomplete..

[2016-09-06 07:52] #2516 closed

[2016-09-06 09:19] zingano opened #2654 "Parse Server much slower than Parse.com with same database"
I have migrated (and finalised) my database from Parse.com to mLab. My (production) client applications are still using the parse.com API, but in test I am using both that and my own Parse Server running on Heroku for comparison.
### Steps to reproduce

Please include a detailed list of steps that reproduce the issue. Include curl commands when applicable.
1. Run OS X test of finding Job objects (

[2016-09-06 09:40] Toofoo opened #2655 "Trigger a counter on ParseRelation update (discussion)"
Is it possible to persist a dedicated counter on each ParseRelation, that could be automatically incremented/decremented every time an item is added or removed from the ParseRelation?

This would avoid to call a "count" query or to implement a dedicated client or cloud code to increment the number of items in a ParseRelation (which sometimes force to give write access on the counter for all the us

[2016-09-06 11:06] flovilmart commented on #2448
There is already an open PR to remove the next() calls

[2016-09-06 11:33] pantri commented on #2652
@flovilmart more from a point of view of in my instance I'm looking for users to make API calls into a service (& will write a manual how to do so).  When it comes to the X-Parse-Application-Id the issue becomes theres no point in my instance having it present.  As @bohemima said, its just not necessary in some instances.

I'm not trying to hide the use of Parse & on the contrary want to promote i

[2016-09-06 12:09] flovilmart commented on #2652
@pantri maybe there is no point for you, but there's a need for me to have them.

Removing it from parse-server would be somewhat trivial, but you'd have to update all the client SDKs to make sure it's effective, and provide backward compatible support as I'm still working on solutions for multiple apps on the same server.
If this is really important for all of you, you should start working on it.

[2016-09-06 12:10] flovilmart commented on #2655
You should use a beforeSave or an afterSave trigger to update that count.

[2016-09-06 12:10] #2655 closed

[2016-09-06 12:30] flovilmart commented on #2653
No specific reason. Go ahead! I believe you can also do the same for $dontSelect.

Just one note, we're trying to move forward with the PG adapter as well, so that change should be also propagated to the PG adapter.

[2016-09-06 13:16] flovilmart commented on #2654
@zingano Thanks for the detailed report. What kind of dyno are you running on? When running parse-server on your local development machine, do you see similar times? I'm asking that as I want to rule out deployment related problems before any further investigation.

The number of includes you ask for is probably the source of the issue as I believe we sequentially resolves them instead of in paral

[2016-09-06 13:21] flovilmart commented on #2654
@zingano Do you feel like working on an improvement for that feature running all handleIncludes in parallel instead of sequentially like we do?

[2016-09-06 13:28] doender commented on #2189
Yes, I have this also when, for example,` include`'ing an array with null pointers (in the dashboard this shows as `[null,null]`).

[2016-09-06 14:02] flovilmart commented on #2189
@jameslin101 I have  a fix but I'm unable to write a test that would make this reproducible.

[2016-09-06 14:28] doender commented on #2189
@flovilmart I don't get the error when setting a pointer field to null and then retrieving it using `include` as @jameslin101  suggests. I only get it when `include`'ing **arrays** with null pointers.

[2016-09-06 14:30] flovilmart commented on #2189
@doender I'm on it right now, I have a fix but it strips out the null's from the array, do you need them back or not?

[2016-09-06 14:31] doender commented on #2189
I think we just implemented the same fix :)
But I would like to keep the nulls as my app relies on the length of the arrays being consistent... Cannot get that to work just yet through

[2016-09-06 14:32] flovilmart commented on #2189
Alright, I'll add that :)

[2016-09-06 14:35] zingano commented on #2654
@flovilmart Dynos, it says above :-) -  Heroku, US East. 6 of 1x web instances, 1 of 1x worker instance. I have tried other combinations, even up to Performance-M but the difference is not close to being eradicated) Note the worker thread is not used in either of the tests.

[2016-09-06 14:35] jameslin101 commented on #2189
Thanks guys for looking into this! I was away this weekend but can send the
log with verbose=1 later tonight if it will still be helpful

On Tuesday, September 6, 2016, Florent Vilmart <notifications@github.com>
wrote:

[2016-09-06 14:38] flovilmart commented on #2189
@doender there's an explicit filter on the null and undefined values https://github.com/ParsePlatform/parse-server/blob/master/src/RestQuery.js#L567 Not sure what we should do.

[2016-09-06 14:42] flovilmart commented on #2654
@zingano sorry, I misread. So I can definitely say that the includes occur sequentially. Do you want to improve that?

[2016-09-06 14:42] zingano commented on #2654
However, I disagree with changing this to be only about running the includes in parallel. As I said, my findTasks is also slow (and this is a more complex cloud function with more at play than just include keys - there are multiple finds over various classes).

 I also have a minimal findJobs, the same as the code above but without any includeKeys or whereKey, but this time with a limit of 1000.

[2016-09-06 14:42] doender commented on #2189
Ah, I missed that, thanks!
I know for sure that the original API did return the null values though...

[2016-09-06 14:44] flovilmart commented on #2189
and makes that test fail: https://github.com/ParsePlatform/parse-server/blob/master/spec/ParseQuery.spec.js#L1621

[2016-09-06 14:45] zingano commented on #2654
And if I drop the limit to 200, parse.com falls to 1.1s pretty consistently, but parse server is around 3s, but varying wildly up to around 9s.

[2016-09-06 14:46] pantri commented on #2652
@flovilmart agree, some people do & some people don't.  I just think that it would be a positive feature to have the option to turn it on or off as the individual use case sees fit.  My competency doesn't stretch far enough unfortunately, otherwise I would be more active than making suggestions.

That being said, I have a few pennies in my pocket & would happily fund the development of this if som

[2016-09-06 14:49] zingano opened #2656 "RestQuery includes are run in sequence, they should run in parallel / batch"
Created as one of the issues that may be implicated in https://github.com/ParsePlatform/parse-server/issues/2654

Code is here:

https://github.com/ParsePlatform/parse-server/blob/master/src/RestQuery.js#L451

[2016-09-06 14:53] flovilmart commented on #2654
For cloud functions, they take time as they are using the HTTP API instead of a direct access. This [PR](https://github.com/ParsePlatform/parse-server/pull/2316) will enable direct interaction with parse-server API's instead of using HTTP requests. You can try that PR by setting the parse-server version to `2.3.0-alpha1`

[2016-09-06 14:53] doender commented on #2189
A bit random maybe, but would the test pass if we return null, but not undefined ones?
The rationale would be that there is a difference between invalid pointers and explicit null pointers...

[2016-09-06 14:54] flovilmart commented on #2189
Yep working well!

[2016-09-06 14:55] zingano commented on #2654
Thanks, I'll do that.

The findJobs mentioned above is OS X client code with no cloud code, like so:

`- (IBAction)timeSimpleFindJobs:(id)sender {

    [self.testConsoleView setString:@""];
    __block NSString* consoleText = @"";
    __block NSDate* debugStartTime = [NSDate date];

    PFQuery* postQuery = [PFQuery queryWithClassName:@"Job"];
    postQuery.limit = 200;
    postQuery.skip = 0;

[2016-09-06 15:02] flovilmart commented on #2189
This is gonna be in the next release.

[2016-09-06 15:22] kevin-wildcatconnect commented on #2275
I am still having an issue with push notifications send from the Parse.com API. Targeted pushes to particular channels succeed but never reach any devices. I attempted to remove the _PushStatus entry from the SCHEMA collection in my MongoDB instance - this did not help.

I am running Parse Server 2.2.18 on AWS...

64bit Amazon Linux 2016.03 v2.1.3 running Node.js

As of now, no push notifications

[2016-09-06 15:31] flovilmart commented on #2275
`push notifications send from the Parse.com` if you're using the dashboard, it's using the original parse.com api endpoint not parse-server. So the issue is unrelated.

[2016-09-06 15:31] #2275 closed

[2016-09-06 15:33] flovilmart commented on #2654
On your dynos, do you run with NODE_ENV=production ?

[2016-09-06 15:38] kevin-wildcatconnect commented on #2275
@flovilmart I am sending the push notification using the JavaScript SDK in Cloud Code running on Parse Server. The push succeeds, but it is not sent to any devices even though there are devices subscribed to that particular channel.

[2016-09-06 15:40] flovilmart commented on #2275
I believe your error is completely unrelated to what was described on that error. Push notifications should work fine (I personally use them) if configured correctly. Please open a new issue and follow the Guidelines when filling the issue template.

[2016-09-06 16:43] amsalt18 commented on #2564
I recently migrated to back4app using Parse server and I am suddenly now getting this error. It was working yesterday and suddenly stopped working today. Did you find a fix?

[2016-09-06 16:43] willysharp5 opened #2658 "AfterSave BeforDelete does not update mongodb record on Server but works on Local Machine"
AfterSave and BeforeDelete triggers updates records on my mongodb server when I run it locally but when I run the same code in the cloud it fails to update the record.In both cases Mongodb is running on a server. I am also triggering the record change via IOS parse SDK. I also do find that in the IOS terminal that it tries to reconnect to the server a bunch of times before working, however when I

[2016-09-06 16:48] sunshineo commented on #2448
@flovilmart Which PR? Do you have a link?

[2016-09-06 16:48] flovilmart commented on #2564
@amsalt18 you should contact back4app as it's unrelated to parse-server.

[2016-09-06 16:48] vincentonderwaater opened #2659 "Allow Cloud Code functions to be RESTfully called with other HTTP methods"
Right now, Cloud Code functions can be only called with a `POST` to `/parse/functions/` and setting the right headers. I suggest that `GET`, `PUT` and `PATCH` be also allowed so the API is truly RESTful. This is useful for interacting with Parse DB for clients that can't have the Parse SDK installed.

[2016-09-06 16:49] flovilmart commented on #2448
https://github.com/ParsePlatform/parse-server/pull/2634

[2016-09-06 16:53] flovilmart commented on #2658
Not sure if you meant AFTER SAVE or beforeSave.

In anycase, afterSave is async as we don't wait for the result of the afterSave to return unless you return a promise and only when that PR will land (https://github.com/ParsePlatform/parse-server/pull/2499) in 2.2.19.

In your beforeDelete, you should call ` response.success();`  only after `object.save()` completes, the call to

[code]

are comple

[2016-09-06 17:11] willysharp5 commented on #2658
I meant afterSave and beforeDelete, sorry for the Typos. I also did run the code using promises for afterSave and still did not get the expected result of my MongoDb record updated. However since you did mention promises and when I run this code on my actual IOS device, the app gets stuck in a loop for a while and still does not update the record.

I also got similar issues with running this trigg

[2016-09-06 17:33] TAProgramming commented on #2650
I have had the problem on every version of parse-server I have tried since March 2016. I can't use 2.2.17 because parse dashboard says unauthorised if I don't use "yongjhih/parse-server:dev" when configuring docker.
So I'm stuck with using the latest version of parse-server.

[2016-09-06 18:02] flovilmart commented on #2658
If it works locally that's probably not an issue on parse-server but in your code. We don't provide code level support and this area is extensively tested. I suggest you reach out to a separate channel like stackoverflow for those implementation details.

[2016-09-06 18:02] #2658 closed

[2016-09-06 18:04] flovilmart commented on #2659
Actually any other semantic than POST don't make sense as there is some data that is expected to run during a Cloud Function.

Without the SDK, that's quite easy to call a POST method instead of a GET, I don't really see the benefits.

What would you see behind  `GET`, `PUT` and `PATCH`.

[2016-09-06 19:04] willysharp5 commented on #2658
Ok could you share sample code on how a promise should be done for both afterSave and beforeDelete.

[2016-09-06 20:15] hramos commented on #661
@simonbengtsson is this still an issue?

[2016-09-06 20:19] hramos commented on #1945
Apologize for closing this, but we want to make sure we stick to discussing actionable issues here in GitHub.

--

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Ove

[2016-09-06 20:19] #1945 closed

[2016-09-06 20:20] hramos commented on #2203
Closing due to inactivity.

[2016-09-06 20:20] #2203 closed

[2016-09-06 20:21] hramos commented on #2212
Closing due to inactivity.

[2016-09-06 20:21] #2212 closed

[2016-09-06 20:23] hramos commented on #2289
I noticed you were using an old version of Parse Server when you reported this issue. Can you take a look and see if this is still happening in the latest version?

[2016-09-06 20:25] hramos commented on #2273
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-09-06 20:25] #2273 closed

[2016-09-06 20:27] hramos commented on #2268
We don't have a mechanism in place for this at this time.

[2016-09-06 20:27] hramos commented on #2228
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-09-06 20:27] #2228 closed

[2016-09-06 20:29] hramos commented on #2659
Agree with @flovilmart. Cloud functions are a special case, where the client is posting data to the server.

[2016-09-06 20:29] #2659 closed

[2016-09-06 20:36] hramos commented on #2582
@greggmojica your Parse Server version, 2.2.2, was released on March 23 and therefore is very far behind the [latest release](https://github.com/ParsePlatform/parse-server/releases) as of this writing (2.2.18).

As it happens we can't provide a lot of support for troubleshooting individual deployments here in the issue tracker, so I'll need to close this issue out.

[2016-09-06 20:36] #2582 closed

[2016-09-06 20:36] hramos commented on #2577
@carrascoacd can we close this out?

[2016-09-06 20:37] hramos commented on #2568
@gateway were you able to look into the suggestion provided by Steven?

[2016-09-06 20:37] #2543 closed

[2016-09-06 20:38] hramos commented on #2526
@TravisDev is this still an issue for you?

[2016-09-06 20:39] hramos commented on #2526
Closing due to lack of information. If this is still an issue, please make sure to provide all the information listed in the new issue template.

[2016-09-06 20:39] #2526 closed

[2016-09-06 20:40] hramos commented on #2432
We're closing this issue due to inactivity.

If this is a bug you care about that is not getting attention, consider opening a pull request with a fix.

[2016-09-06 20:40] #2432 closed

[2016-09-06 20:44] hramos commented on #2415
The issue raised here seems quite clear and I'm inclined to agree it should be fixed in Parse Server. Can you submit a PR?

[2016-09-06 20:49] hramos commented on #2391
Hey @acegreen any chance you can provide a list of repro steps? I know you covered some of this in the related issues, and in order to ensure this is a Parse Server issue it would be very useful to get a list of HTTP requests (e.g. using curl) alongside some sample data that can reliably reproduce the issue.

Bonus points if you can identify the cause and provide a PR :D

[2016-09-06 20:50] hramos commented on #2306
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2016-09-06 20:50] #2306 closed

[2016-09-06 20:50] #2315 closed

[2016-09-06 20:51] hramos commented on #2321
@yuzeh should we close this now that #2320 was merged in?

[2016-09-06 20:51] hramos commented on #2330
We're closing this issue due to inactivity.

If this is a bug you care about that is not getting attention, consider opening a pull request with a fix.

[2016-09-06 20:51] #2330 closed

[2016-09-06 20:52] hramos commented on #2356
We're closing this issue due to inactivity.

If this is a bug you care about that is not getting attention, consider opening a pull request with a fix.

[2016-09-06 20:52] #2356 closed

[2016-09-06 20:53] hramos commented on #2358
I think this report needs more information. Can you update your original post and make sure it provides all the information listed in the new issue template? Ping me once the information is there and we can reopen the issue.

[2016-09-06 20:53] #2358 closed

[2016-09-06 20:55] hramos commented on #2361
It's not clear this is an issue, happy to reopen if I'm wrong.

[2016-09-06 20:55] #2361 closed

[2016-09-06 20:56] hramos commented on #2380
Can we close this?

Docs PRs are also welcome! They're at github.com/ParsePlatform/Docs

[2016-09-06 20:58] hramos commented on #2515
Does anyone have a clear list of repro steps?

[2016-09-06 21:00] hramos commented on #2491
Seems like this may be related to #2415. I'm going to consider this a duplicate unless shown otherwise.

[2016-09-06 21:00] #2491 closed

[2016-09-06 21:00] yuzeh commented on #2321
That's fine with me.

[2016-09-06 21:00] #2321 closed

[2016-09-06 21:00] hramos commented on #2147
We're closing this issue due to inactivity.

If this is a bug you care about that is not getting attention, consider opening a pull request with a fix.

[2016-09-06 21:00] #2147 closed

[2016-09-06 21:02] hramos commented on #2103
@jeleed is there anything we need to fix in Parse Server, or is this something we need to address in the Dashboard?

[2016-09-06 21:02] hramos commented on #2096
We're closing this issue due to inactivity.

If this is a bug you care about that is not getting attention, consider opening a pull request with a fix.

[2016-09-06 21:02] #2096 closed

[2016-09-06 21:03] hramos commented on #2088
Can you take a look and see if this still happens on Parse Server 2.2.18?

[2016-09-06 21:54] jeleed commented on #2103
@hramos to the best of my knowledge this is strictly an issue with the dashboard. Once the file information is stored correctly in the database (currently via a manual process) everything operates as it should.

The problem is with the dashboard saving file type config parameters as text instead of files. See previous post for details.

[2016-09-06 22:01] flovilmart commented on #2090
The commit has been merged for a while, I believe it should be fixed by now. Can you update to the latest version and let us know if it works correctly?

[2016-09-06 22:01] sjabba opened #2660 "Logging in using Facebook and it sends email verification"
My app hosted on NodeChef allows users to log in using Facebook through Parse however it sends a verification email with a link that does not work. Firstly, it should not be sending a verification email as they have logged in using Facebook. Can you please explain why this happens?
- **Server**
  NodeChef
- **Database**
  MongoDB on NodeChef

[2016-09-06 22:02] flovilmart commented on #2103
Can you post the request from the dashboard being made (snapshot of the chrome inspector)

[2016-09-06 22:03] flovilmart commented on #2660
That looks like a bug, is the email field set on your user?

[2016-09-06 23:10] grd888 opened #2661 "Misleading Error message when setting wrong Pointer"
Describe your issue in as much detail as possible.

I have a cloud code function where I am creating a new object. The class has a column of Pointer<_User> type. The data I use for this column is the user object taken from request.user. When saving the new object, the following error is generated:

'schema mismatch for Document.user; expected Pointer but got Pointer'
### Steps to reproduce

Sample