[2017-03-01 20:17] santiagoprieto commented on #1455
Hey @flovilmart any tips or tricks on this issue? I'd rather not rip out parse like @astanton  :(

[2017-03-01 20:30] flovilmart commented on #1455
@santiagoprieto I meant the server logs not the client logs

[2017-03-01 20:34] Mardaneus86 commented on #3565
I guess the real issue of this one is mentioned in #3588, so closing this one in favour of #3588.

[2017-03-01 20:34] #3565 closed

[2017-03-01 22:17] Mardaneus86 commented on #3565
Further investigation learned that you cannot set the ACL of the User class to "Master Key Only" (that is filling it with an empty ACL object).

It is caused by this line: https://github.com/ParsePlatform/parse-server/blob/master/src/RestWrite.js#L894

Setting the ACL object to null prevents this line from running, but then the ACL isn't updated either. I can understand why this is here. Since a U

[2017-03-02 05:45] noder199 commented on #20
@saleeh93

I am gonna take a look at some of your code. Would you mind telling me exactly what limitations you faced when it came to querying?

[2017-03-02 16:41] johanarnor commented on #3395
We are also having this issue. We get the same error when running `Parse.User.logInWith('facebook', {authData})`

It seems to be an issue introduced in 2.3.0. We were previously on 2.2.22

[2017-03-02 17:07] flovilmart commented on #3395
as much as I would like to help, can you please provide the logs when running the server with VERBOSE=1 please? Without it, there isn't much to be done.

[2017-03-02 18:58] kcoop commented on #3585
@natanrolnik, `becomeInBackground:` works like a charm, thanks!

Added a button with a text prompt in debug mode, copy and paste the session token from the parse dashboard. Would be nice to just enter a username, but I'm all for going slow when it comes to security.

[2017-03-02 18:59] flovilmart commented on #3585
You could have a cloud function (protected in one way or another) that returns you the sessionToken for a particular username :)

[2017-03-02 19:03] kcoop commented on #3585
Yeah, might do that. But now you have me all paranoid about security. :-)

[2017-03-02 19:18] johanarnor commented on #3395
Yes, of course, sorry. This is the output when running `Parse.User.logInWith('facebook', {authData})`:

[code]

Please let me know if you need anything else.
Appreciate the help!

[2017-03-02 19:30] flovilmart commented on #3585
That's better than the opposite :)

[2017-03-02 19:34] kcoop commented on #3585
Agreed!

[2017-03-02 20:03] johanarnor commented on #3395
This is now solved!

Saw this issue https://github.com/ParsePlatform/parse-server/issues/3577, and I had done something similar. Previously I had configured my cloud code with `'unused'` as the JAVASCRIPT_KEY, but this does not work anymore. So now I supply the configured JAVASCRIPT_KEY in my cloud code. I thought I could leave it empty or null, but that does not seem to work.

[2017-03-02 20:30] flovilmart commented on #3395
so @johanarnor everything works for you?

[2017-03-02 20:36] johanarnor commented on #3395
@flovilmart yes!

[2017-03-02 20:40] flovilmart commented on #3395
That's great to hear!

@contervis, I'M not sure if you jumped between 2.2.23 and 2.3.4, but can you try it out?

[2017-03-02 21:34] natanrolnik commented on #3585
Excellent, @kcoop!

[2017-03-03 00:43] r1cebank commented on #37
I am having trouble finding documentations for the change, the link everyone uses that links to the github wiki no longer works. Can I get the updated url for the documentation for this change? Thanks

[2017-03-03 00:50] flovilmart commented on #37
see: http://parseplatform.github.io/docs/parse-server/guide/#cloud-code

[2017-03-03 01:24] hipwelljo opened #3591 "Array of Dates are saved as array of Strings"
### Issue Description

This is a regression introduced in version 2.3.3, it seems most likely due to #3389. If you define an Array column and you save an array of Date objects to it (see Swift code below), it will actually save it as an array of Strings. With version 2.3.2, they were properly saved as Date objects.

### Steps to reproduce

1) Add an Array column to your user schema
2) Save an arra

[2017-03-03 01:35] flovilmart commented on #3591
Thanks for the detailed issue report, we'll have a look shortly

[2017-03-03 01:54] hipwelljo commented on #3591
Hold up, seems I'm incorrect, I'm seeing the issue again now with 2.3.2. Investigating I'll provide more deets soon.

[2017-03-03 02:00] flovilmart commented on #3591
all good! Take your time! Your issue seems to be well defined and we should be able to write a unit test for that.

[2017-03-03 02:08] hipwelljo commented on #3591
Aw, this isn't an issue in Parse Server, it's an issue with Parse Dashboard. Double clicking in the array field to examine the dates and clicking outside to defocus seems to be saving the array and overriding it with strings instead of dates - likely simply because it shows them as strings and it saves on defocus. I can file a new report against parse dashboard.

[2017-03-03 02:09] hipwelljo commented on #3591
Someone else already encountered this issue, reported here: [https://github.com/ParsePlatform/parse-dashboard/issues/590](url)

[2017-03-03 02:09] #3591 closed

[2017-03-03 02:56] jeacott1 commented on #3544
the exception is thrown in the adapter itself:
"code 115, Push to adapter,android,ios is not supported"
ref: https://github.com/parse-server-modules/parse-server-push-adapter/blob/master/src/ParsePushAdapter.js#L24

the adapter itself is handed in as part of the options, and thus compared against ios/android/fcm and it fails the validation.

I cannot get this to work from string config without pat

[2017-03-03 11:12] bfjfm2 opened #3592 "Email Verification not sent"
I have configured MailGun, Parse Server with following, but still email verification not sent.
How to Check this issue?

**Client Code in iOS:**

`
   PFUser *user = [PFUser new];

    user.username = @"testing";
    user.password = @"12345678";
    user.email = @"user2@myapp.com";
    [user signUpInBackgroundWithBlock:^(BOOL succeeded, NSError *error) {
//Received Success, but email is not sent

[2017-03-03 11:44] flovilmart commented on #3544
Wrap all your options into an options object as described in the docs and test here: https://github.com/ParsePlatform/parse-server/pull/3545/files#diff-d6ca29dd812c657c7fec3b0e2b3c35d2R129

[2017-03-03 12:41] MikeNatty commented on #3013
Damn. Yeah wasted a good chunk of time on this.
Confirming the issue is Parse Browser - the provided "refresh" button does not update the unset field.
Refreshing the WEB browser updates the deleted field. Far out.

[2017-03-03 12:54] funkenstrahlen commented on #275
The parse server guide still says mail verification is not available.

https://parseplatform.github.io/docs/parse-server/guide/

This should be updated.

[2017-03-03 12:55] funkenstrahlen commented on #3592
Did you setup a custom domain on mailgun? Did you verify it? Otherwise mailgun does not allow sending mails to arbitrary mail adresses.

[2017-03-03 12:57] funkenstrahlen commented on #3575
Maybe this should better be discussed in the parse-server-push-adapter repository?

[2017-03-03 13:40] dpoetzsch commented on #3576
Hi, what node version did this occur on and what version did fix it for you? We experience similar problems since our last update.

[2017-03-03 14:15] johanarnor opened #3593 "Field email is not removed from Parse.User for unauthorized requests."
### Issue Description

A user is fetched by another user, thus an "unauthorized" request. Even though it is stated that since 2.3.0, the email field on the user it is still present in the response.

### Steps to reproduce

- Don't specify `userSensitiveFields`, i.e. let it default to email only.
- Make an unauthorized request to fetch a user.
- Read the email property of the returned user.

#### E

[2017-03-03 17:09] adriano-di-giovanni commented on #3385
I can tell you that everything works if I use version 2.3.2.

[2017-03-03 17:21] acinader commented on #3593
I can't reproduce this (yet).

1. Can you tell me what version of node you're using so I can test with that
2. Can you run the unit tests?  If I understand you correctly, then this test: https://github.com/ParsePlatform/parse-server/blob/master/spec/UserPII.spec.js#L78
should fail? (as well as some other's in that suite?).

[2017-03-03 17:52] partikles commented on #3592
This is enough?

![screenshot-mailgun com 2017-03-04 01-47-25](https://cloud.githubusercontent.com/assets/280136/23562382/2541f10a-007d-11e7-91b0-6917e93603f4.png)

[2017-03-03 21:26] iOSassou commented on #3576
This issue occured on 7.6.0, Node 4.4.7 solved it

[2017-03-04 03:56] yogeshwaranManoharan opened #3595 "Error while getting started with Postgres"
### Issue Description

 Error While Running requet on parse-server

I started with parse-server and trying to pass postgres uri for Database URI,
eg. parse-server --appId APPLICATION_ID --masterKey MASTER_KEY --databaseURI postgres://user:password@localhost/db_name , it starts without a issue but when i try out a curl request to test it says

error: Uncaught internal server error. Error: invalid s

[2017-03-04 05:40] psineur opened #3597 "Corrupt GeoPoint when created from array of Strings"
### Issue Description

Looks like when creating ParseGeoPoint from Array of strings and saving it in an object - save will complete successfully, however it won't be possible to find object using that GeoPoint.
Adding 0.00000000000001 to Lat & Lng manually in dashboard seems to convert strings to number and fixes the issue.

### Steps to reproduce

In cloudCode beforeSave trigger for any object:

[2017-03-04 09:22] johanarnor commented on #3593
@acinader

1. I'm currently using node 7.1.0.
2. How are the unit tests designed to run? I just copied the testfile, made some configuration at the top and runed it towards my local parse-server. I'm having a lot of trouble with `Error: There is no current user user on a node.js server environment.` though.

Yes, it's correct that the given test should fail for me.

[2017-03-04 15:29] flovilmart commented on #2612
We'd need to implement some kind of scheduling adapter, that would enable you to use the heroku scheduler. Also, we'd need to store the pushes according to the schedule.

[2017-03-04 15:30] flovilmart commented on #3565
I'd be ok to allow masterKey for the moment. Feel free to open a PR for that.

[2017-03-04 15:31] flovilmart commented on #3588
We don't allow users to modify other user's ACL for security reasons.

[2017-03-04 15:36] awgeorge commented on #3588
Then what's the point of ACL's? Without editing users, you're limiting Parse's functionality as it can't be used for anything user management related, you can't design a system that has moderators or administrators without splitting all user content into another table. Which for already established applications is upsetting. We've unfortunately had to use the `master key` which arguable is now wor

[2017-03-04 15:42] Mardaneus86 commented on #3565
Alright, will make a PR for it.

I'll have to make some unit tests first.

[2017-03-04 15:56] flovilmart commented on #3588
I believe this restriction was set in parse-server as it was there on parse.com

[2017-03-04 15:58] awgeorge commented on #3588
Are you sure? - I continued to use the parse hosted solution up until January (as I couldn't find the time to transfer it sooner). And my Administrator ACL was able to update users.

[2017-03-04 15:59] flovilmart commented on #3588
it doesn't mean I'm sure.

[2017-03-04 20:42] #3579 closed

[2017-03-04 21:20] acinader commented on #3593
well, I used `nvm` to get and use 7.1.0 and then just `npm test` focused on

`fdescribe('Personally Identifiable Information', () => {`

and it passed without error.

To do that yourself, clone parse-server onto your box, cd into that directory, check that you're on the same node version.  Then `npm install` and focus on the tests by editing `spec/UserPII.spec.js` and putting an `f` in front of `d

[2017-03-05 00:00] acinader commented on #3595
fixed by: #2871

[2017-03-05 00:00] #3595 closed

[2017-03-05 10:01] pewh commented on #2238
+1 Any news on this implementation?

[2017-03-05 10:04] johanarnor commented on #3593
Many thanks for the detailed answer!

The tests pass but when I'm pointing my dev repo to use the parse-server source instead (via `npm link`), I get the following output.

[code]

Here is some more info about our config though. When running the server we set the config in the following way:

[code]

When "not specifying" userSensitiveFields, I in fact pass a string. If I set `options. userSensiti

[2017-03-05 11:28] johanarnor commented on #3593
If a string is supplied the resulting array will be an array of chars. Strings as well as Arrays have a `concat` method.

https://github.com/ParsePlatform/parse-server/blob/master/src/ParseServer.js#L159

[2017-03-05 11:29] natanrolnik commented on #2238
@pewh no, but PRs are more than welcome :wink:

[2017-03-05 12:49] dpoetzsch commented on #3576
Thanks! For me the issue occurred with node 7.7.1, node 6.10 fixed it for me.

[2017-03-05 14:26] MartinHerman commented on #3356
@inlined @flovilmart @codegefluester  - guys, any news on this?

[2017-03-05 14:43] codegefluester commented on #3356
@MartinHerman @natario1 Nope, haven't heard anything new so far

[2017-03-05 14:50] flovilmart commented on #3356
Is any one of you interested in taking over? It first starts with triaging issues.

[2017-03-05 16:29] acinader commented on #3593
ok.  that helps.  Take a look at #3599.

I don't use the cli to configure so not sure how to test.  Can you try it out and see if it fixes for you?

Here's the discussion around the email field: https://github.com/ParsePlatform/parse-server/issues/3556

I do agree that we should do something at this point.

[2017-03-05 16:57] johanarnor commented on #3593
Perfect, https://github.com/ParsePlatform/parse-server/pull/3599 solves my issue.

Thanks for the link to the discussion. I'll follow it closely.

A question though, should I go ahead and close this issue right away or wait for the PR to be merged?

[2017-03-05 17:04] acinader commented on #3593
it'll auto close when merged.

[2017-03-05 17:06] #3593 closed

[2017-03-05 17:41] acinader commented on #3556
hm. so it seems clear from various comments on this thread and others that on parse.com there was a facility for allowing privileged roles of some sort to see pii.  While I did check the simple case, I didn't look very hard when investigating how parse.com handled this issue.....

[2017-03-05 22:41] jeacott1 commented on #3544
my config:
[code]
sorry, I still get this:  code 115 "Push to options not supported."

[2017-03-06 00:21] flovilmart commented on #3544
That's because your push adapter is not correctly configured. Pretty tough to debug forward your custom adapter without more infos about that adapter

[2017-03-06 02:03] jeacott1 commented on #3544
it should be configured differently than above?
my custom adapter could be a clone of the default one in this case.
the exception is thrown because the push adapter itself verifies its own configuration, and 'options' isn't valid.
parse-server doesn't seem to pass the content of 'options', but rather passes options itself. your test doesn't check that invalid options aren't passed.

ref: https://g

[2017-03-06 02:25] flovilmart commented on #3544
And what's the problem with that? Design you adapter to work with parse-server not the other way around. We have at least 4 push adapters that initialize correctly and work correctly. All are external modules. I'm not sure why you can't make one that work given the amount of examples available.

[2017-03-06 02:26] jeacott1 commented on #3544
the problem is that your own official adapter cannot be configured via string config! what kind of example is that?

[2017-03-06 02:42] flovilmart commented on #3544
Not sure how I can help then

[2017-03-06 02:54] jeacott1 commented on #3544
sorry, I don't follow.
are you saying that the official adapter is doing the wrong thing? and that an adapter can actually be handed anything at all as options, but it should simply verify the things it is interested in exist, and if anything else is there, it should be ignored?
if that's the case I'd encourage you to modify the official adapter code to do just that.

[2017-03-06 03:06] flovilmart commented on #3544
I still don't follow you, why do you want me to change things that already work, and for 4 different adapters?
The push adapters are a bit different from other adapters, and in particular the default one for historic and backwards compatibility reasons.

This discussion is going nowhere. Open PR's if you believe code can be improved.

After all that I still have no idea of why that issue was open

[2017-03-06 03:19] jeacott1 commented on #3544
the official push adapter cant be configured via string config. I thought that was pretty clear.
i guess the 4 other adapters dont validate like the official one does?
the official adapter should be the benchmark no? it cannot be configured as advertised, so either it should change, or the calling code should.

I agree this is going nowhere. I give up.

[2017-03-06 03:20] devKC opened #3600 "Parse Server unauthorized user error"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-03-06 03:27] flovilmart commented on #3544
Provide code please, again... for the official adapter, just use the push option, and Parse-server will load the default adapter as stated in the docs, not sure in which context you want to use. Again, the lack of context / code is problematic in your report.

[2017-03-06 03:35] jeacott1 commented on #3544
if I use the official adapter as a template for how things should be done.
and attempt to load my new copy as an external string configured adapter - it cannot work.
that sums it up.
 until now it wasn't clear to me whether the official view was that the calling code, or the adapter was at fault. its now clear you believe the adapter impl is at fault. I'd have argued the other way but so be it.

[2017-03-06 04:16] flovilmart commented on #3544
It's amazing how you always have arguments, and excuses but never provide code examples and whatever is asked.

[2017-03-06 06:40] insthync commented on #895
Seems like we have to add new Cloud code endpoint (May be with function Parse.Cloud.define()) to response the required data (That I whats are them exactly), I've tried in Sashido for `releases/latest` with `GET` and `POST` method it's return
`
[
  {
    "triggers": {},
    "checksums": "{\"public\":{\"css/main.css\":\"242fb343b773bb0d747ab7238b690097a2db32f9\",\"index.html\":\"3ba5608b342a5315b569

[2017-03-06 06:48] natanrolnik commented on #3600
Are you setting a client key in the server? What about the iOS SDK configuration/initialization? What is the path you redacted that is failing?

Please provide more information

[2017-03-06 09:27] Cliffordwh commented on #2238
Im sure there was a PR already for this! can anybody confirm?

[2017-03-06 10:54] mako9 opened #3601 "How to access data in Parse Server via Cloud Code?"
Hello,

I try to make queries using the cloud code feature of our Parse server. Unfortunately we could not retrieve any data from the database. Our code looks as follows:

### main.js:
Parse.Cloud.define('test', function(request, response) {
  var user = request.user;
  var token = user.getSessionToken();
  var query = new Parse.Query('Carpark');
  query.first({ sessionToken: token }) // pass the

[2017-03-06 10:59] natanrolnik commented on #3601
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2017-03-06 10:59] #3601 closed

[2017-03-06 11:19] mako9 commented on #3601
http://stackoverflow.com/questions/42624263/how-to-access-data-in-parse-server-via-cloud-code

[2017-03-06 12:40] johanarnor opened #3602 "Facebook authentication works without specifying any appIds."
### Issue Description

I don't know if this is by design or a bug, but Facebook authentication works even though no appIds are configured.

In this function (https://github.com/ParsePlatform/parse-server/blob/master/src/Adapters/Auth/index.js#L47), the authData is first validated followed by the validation of appIds. If appIds are not present, the check will be skipped and the user logged in.

Are

[2017-03-06 12:57] flovilmart commented on #3602
This is by design, and most of the adapters follow that design when they don't need any additional settings for validating access tokens.

im happy to help if you believe this causes a security issue.
Also, in production, you're encouraged to set your appIds, so only the white listed apps are allowed to login.

[2017-03-06 12:58] #3602 closed

[2017-03-06 13:01] devKC commented on #3600
1. No, I'm no setting a client key in the server.
2.
let parseConfiguration = ParseClientConfiguration(block: { (ParseMutableClientConfiguration) ->    Void in

            ParseMutableClientConfiguration.applicationId = "xxxxxxxx"
            // I didn't set a clientKey, but tried both with AND without .clientKey
            ParseMutableClientConfiguration.server = "xxxxxxxxx"

        })
3. The

[2017-03-06 13:11] natanrolnik commented on #3600
But what is the path that you marked as `path="/xxxxxxxx`?
Are you taking into account the `/parse` mount, right?

[2017-03-06 14:07] devKC commented on #3600
Yes, I'm taking into account the `/parse `mount. The path is `/parse` in this case.

[2017-03-06 14:10] johanarnor commented on #3600
@devKC you are not setting any client keys in your parse-server configuration? All of the client keys (clientKey, javascriptKey, restAPIKey, dotNetKey) needs to be unset.

Also from what version of parse-server are you upgrading?

[2017-03-06 15:18] devKC commented on #3600
@johanarnor- no client keys are set at any point. and the parse-server version is 2.3.6 as listed above.

@natanrolnik- do you think this has anything to do with the bcrypt module? I know that there seems to be some installation issues for Parse Server users deploying to Heroku and AWS.

[2017-03-06 16:49] johanarnor commented on #3600
@devKC So you just started to use parse-server? Or if it has worked before, what version of parse-server was that? Also, could you post your configuration of your server (with sensitive information anonymized)?

[2017-03-06 16:51] johanarnor commented on #3602
Ok, thanks. I don't really know if it causes a security issue. Was mainly curious if it was by design or not.

[2017-03-06 16:55] flovilmart commented on #3602
We definitely could be more aggressive with the options, only allowing the ones configured in the options.

[2017-03-07 04:10] amabdelsalam commented on #3566
I have the same problem, and I setup all keys in place.

I'm trying to send a test notification to the Android emulator.
`
curl -X POST -H "X-Parse-Application-Id: AnsuburAppId" -H "X-Parse-Master-Key: AnsuburMasterKey" -H "Content-Type: application/json" -d '{ "where": { "deviceType": { "$in": [ "ios",  "android"  ]  }  	},	"data": {"title": "Ant-man","alert": "This is awesome. It is awesome."}}'

[2017-03-07 04:50] mginz83 commented on #3566
I ended up using OneSignal. Works amazing and was super easy to get going

[2017-03-07 05:17] devKC commented on #3600
@johanarnor Thank you for your pointer. I have been running parse-server for about a year before this was an issue. I just noticed that below line was in my index.js. I commented it out and client device is able to connect as authorized user.

clientKey: process.env.CLIENT_KEY || ''

I didn't think I was setting any value to the client value by '' but I was wrong. Thank you again for helping me ou

[2017-03-07 05:17] #3600 closed

[2017-03-07 06:10] johanarnor commented on #3600
No problem. Glad I could help solve your problem!

[2017-03-07 06:13] natanrolnik commented on #3600
Glad you found the reason!

[2017-03-07 06:19] johanarnor commented on #3588
@awsgeorge you could use a cloud function `Parse.Cloud.define('someFunction',...` to achieve this. In that function you can first check for role and then use the master key.

Also are you now using the master key in a publicly facing webpage? That would be a huge security issue.

[2017-03-07 06:24] emkman commented on #3561
This has nothing to do with geopoints. ParseQuery doesn't support querying on subkeys of an include like that. Check out https://parseplatform.github.io/Parse-SDK-JS/api/classes/Parse.Query.html#methods_matchesKeyInQuery for an alternative.

[2017-03-07 06:33] pewh commented on #3561
Can you give an example (code snippet) using matchesKeyInQuery in my case? I'm trouble on understanding how to use matchesKeyInQuery because my english is not native. Giving example should help me to understanding the usage. Thanks :)

[2017-03-07 06:38] johanarnor commented on #3459
My experience is that only the dashboard caches it, so if you do a query, the updated data will be returned.

For me, I just force refresh (in Chrome) to clear the cache in the dashboard.

[2017-03-07 06:46] emkman commented on #3561
I think you actually want `matchesQuery` in this case because it is a pointer. I don't know your schema but my guess is this:
[code]

[2017-03-07 09:02] rogerhu commented on #3356
@flovilmart I can help =)

[2017-03-07 09:10] HarishGitCode commented on #3385
Do anyone have a working structure for FCM based notification. I have configured my android client side acc. to parse docs but unable to get the notification on my device.
My server error looks like:
verb parse-server-push-adapter GCM sending to 1 device
verb parse-server-push-adapter GCM GCM Response: {
verb parse-server-push-adapter GCM     "multicast_id": 5258451818660846000,
verb parse-server-

[2017-03-07 09:11] rogerhu commented on #3356
Given the Parse shutdown, the question also behooves what min Android SDK version is needed.  A lot of backwards compatibility choices were made to support older Android versions (https://github.com/ParsePlatform/Parse-SDK-Android/issues/189).  I think the community can be more aggressive about supporting newer Android versions and then receiving help to address backwards compat issues (https://gi

[2017-03-07 13:08] awgeorge commented on #3588
@johanarnor Yes - it was a quick work around, naturally the page in question requires elevated privileges, but I would prefer not to use the master key, as it seems like a hack to reinstate it's original functionality.

[2017-03-07 13:15] johanarnor commented on #3588
Ok, but how is a user authenticated to reach that page? Is the page a part of a single page application that anyone can access from public internet? If so, your master key is publicly available.

[2017-03-07 13:16] awgeorge commented on #3588
No - It's using the PHP SDK.

[2017-03-07 14:52] trylovetom opened #3606 "Sign Up User, Username and Password Can Be Empty"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-03-07 16:55] Jawnnypoo commented on #3356
@rogerhu Seems like you could do a great job with contributions. I think part of the problem comes from lack of people with rights to merge PRs, which is part of the reason why the project is slipping. Personally, if I make a PR and it goes unmerged/uncommented on by the maintainers for a number of weeks/months, I am pretty discouraged from making any more contributions.

Quite a few of the open P

[2017-03-07 17:02] flovilmart commented on #3356
I can't add contributors to the repo like that, also, this contributor status is not something that is given  but earned. If anyone is wanting to take the lead, establish a vision, etc... I'd be more than happy to help get those access.

Note that so, far, most of the comments on that matter are complaints that no-one is taking over but none have clearly stated their intention to take over. I have

[2017-03-07 17:25] alexblack commented on #3356
I'm curious, who is the person(s) who can grant contributor status?

As far as supporting old Android SDKs, I'd still love to see support back to Android 16 (4.1)

[2017-03-07 17:26] rogerhu commented on #3356
I was the last person to add the major upgrade from OkHttp2 to OkHttp3 in this library so feel somewhat of a personal responsibility to get some of the bugs that I introduced. :) Things like https://github.com/ParsePlatform/Parse-SDK-Android/pull/548 and https://github.com/ParsePlatform/Parse-SDK-Android/pull/506 seem somewhat straightforward to get merged in.  The removal of the legacy Apache HTT

[2017-03-07 17:39] flovilmart commented on #3356
@rogerhu yeah we started with @mmimeault the liveQuery android SDK, I believe it makes sense to keep both projects separated (for maintainability) :)

[2017-03-07 17:40] nitrag commented on #3356
We need to get the ball rolling and I think that involves breathing some life into the SDK by merging existing PR's or rejecting them with comments.

@flovilmart can you speak to the powers at be to spend a few hours over the next two weeks on the existing PR's. Without this I don't think we'll ever move forward.

The we can reach out to some of the "forkers" and get them to include their updates.

[2017-03-07 17:50] rogerhu commented on #3356
OkHttp3 is already in the Parse Android SDK 1.13.0+.  It was probably the last major commit (8b10c8d8b16283e08fd109cfec890f178a2a2bfa) before this SDK went into hibernation.
Yes, absolutely, Android 16 should be fine.   Do you see any compat issues in the current SDK version?

HttpUrlConnection is the primary interface now for the Android network library, and it so happens that OkHttp was backport

[2017-03-07 17:53] flovilmart commented on #3356
That would be nice, but I pretty much gave up on them. They had a full year to move forward, and instead didn't really do anything (with a few exceptions)

[2017-03-07 18:05] nitrag commented on #3356
@flovilmart I'm not relying on them or saying we should wait for them to move forward. I'm just saying it's **likely** more support will be coming. That's all.

Here's the latest from Sashido.io, received yesterday.

We still need you to motivate the current maintainers so we can get the ball rolling. I've started the Android Nanodegree this week, I'll help where I can but I'm far from qualified a

[2017-03-07 18:13] flovilmart commented on #3356
AFAIK, the parse.com team was about 20 people full time, 1/3 was devoted to deployments, the rest mostly on SDK's and server code. That gives a rough estimate of 14 full time engineers to maintain the platform and evolve that the same pace it one moved.

On parse-server, I can quite confidently say that the team is more than capable of handling it, we have about 10 external people with commit acce

[2017-03-08 00:48] rendongsc commented on #2872
@flovilmart
databaseOptions can by PostgresConfigParser.getDatabaseOptionsFromURI.
replace  ParseServer config databaseOptions for  pg initialization options.

[code]
**PostgresClient.js**
[code]

[2017-03-08 02:07] flovilmart commented on #2872
@rendongsc I'm not sure what you mean. Is that an issue for you?

[2017-03-08 05:38] rendongsc commented on #2872
yes, it's about the use of databaseOptions

[2017-03-08 07:51] rogerhu commented on #3356
I've looked through the majority of the tickets and responded to at least 27 of them (https://github.com/ParsePlatform/Parse-SDK-Android/pulse).  Here is where I think the work needs to go:

1. Fix OkHttp3 upgrade bugs and release a new build ASAP
- If clientKey = null, don't set as a header (https://github.com/ParsePlatform/Parse-SDK-Android/pull/506/files)
- Release fix that deals with ParseFile

[2017-03-08 09:01] devyhia commented on #171
@maysale01 Any updates on this ES6 progress? Did the parse team add that?

[2017-03-08 11:19] rihadavid commented on #3583
Any chance that this could be implemented? @flovilmart, seems like you implemented the pointer permissions, do you think that this would be possible?

[2017-03-08 12:19] flovilmart commented on #171
Most of the internals are es6, but IMHO, given that native support will not come to node any time soon, I don't really see the point. Can you explain further the motivation?

[2017-03-08 12:24] flovilmart commented on #3583
I believe that's possible, do you want to try implementing it?

[2017-03-08 12:40] rihadavid commented on #3583
I don't have experience with implementing parse server, I am implementing cloud code functions in javascript for my app, but have no experience with Node.js and parse-server project at all. I am not sure if I could make it :-/

[2017-03-08 12:51] flovilmart commented on #3356
That sounds like a plan! @hramos, can you add @rogerhu to the maintainers of that repo, so he can start moving forward? And probably me, just in case?

Thanks @rogerhu!

[2017-03-08 13:05] natanrolnik commented on #3583
@rihadavid I didn't have much a few months ago, and I was able to do a few small but incremental PRs in the past just by trying it and going over the project.

Maybe take a look at the User pointer CLP, it might give you some direction; and I'm pretty sure @flovilmart can help you giving some hints also.

[2017-03-08 13:55] dreamrulez07 opened #3609 "Is there a way to get timestamp of when you add an object to a relation in Parse?"
I want to get the timestamp of when I add a new object to a relation on Parse. I don't see any way to do that.

Has anybody figured a way around it?

[2017-03-08 13:57] flovilmart commented on #3609
For now there isn't a way, relations don't hold additional properties as they are implemented in simple join tables.

[2017-03-08 15:31] alexrmacleod opened #3610 "Provide a reverse proxy with Apache to parse-server, to serve the Parse API securely over TLS/SSL"
So this is the situation:

1: Got a website running on digital ocean with LAMP install Apache/2.4.7 (Ubuntu) (1 droplet). SSH access. website: www.goeasysmile.com

2 Setup parse-server, mongodb on my laptop at home, saving stuff via ajax (check below) like a charm,

[code]

3: Needed to take _credit card payments_ so with _ajax_ and _cloudCode_ beforeSave and afterSave I integrated _stripe_. Then

[2017-03-08 15:38] madsodgaard opened #3611 "Server HTTPS Connection on AWS"
### Issue Description

I am using AWS Elastic Beanstalk to host my Parse Server backend (using the example available on GitHub)

 The app works fine on the web etc, but now I am trying to configure a secure HTTPS protocol for it, to make sure the data is encrypted.

I've got a domain and subdomain working without HTTPS. And the certificiate generated using ACM.

I do not understand fully, how to m

[2017-03-08 16:44] #3561 closed

[2017-03-08 18:15] hramos commented on #3356
Invited both of you folks.

[2017-03-09 05:35] jeacott1 commented on #3544
I provided a PR, but it broke some tests.
I provided configuration that fails right at the outset. I'm sorry if I wasn't clear enough. I have tried to clarify.
I started this to qualify whether the adapter, or the server code should be fixed.
in your view its all good already.

its amazing how rude you can be when I'm just trying to understand proper usage given the reference 'official' plugin.

I

[2017-03-09 13:11] flovilmart commented on #3544
The issue has been closed for a while as unable to reproduce what you describe with tests.

[2017-03-09 14:10] bhaskaryasa commented on #3552
@GreatAppStudio did you get a chance to verify this?

[2017-03-09 19:33] rogerhu commented on #3356
Thanks!  We now need help figuring out how to get the Sonatype staging released. :)

[2017-03-09 20:52] alexrmacleod commented on #3610
Update, with more clarity to the problem.

I have https post requests coming via clients to my digital ocean with LAMP install running **Apache/2.4.7** (**Ubuntu**) (1 droplet).

I need to redirect any https requests that contain requests for **/parse/** to Parse Server instance at **localhost:8888, running on the same droplet** already connected to a mongodb listening to parse-server.

I found a

[2017-03-10 09:15] alexrmacleod commented on #3610
OK another update now go nginx on the same server almost there but got Bad gateway

I have https post requests coming via clients to my digital ocean with LAMP install running **Apache/2.4.7** (**Ubuntu**) (1 droplet) serving my website www.goeasysmile.com via defaul ports 80 and 443(ssl https).

There is Nginx installed on the same server listing on custom port 4488 (ssl https) to https requests

[2017-03-10 14:19] eXhausted commented on #2660
Same issue for 2.3.6

[2017-03-10 16:07] PunkStarStudios opened #3615 "Unable to upload files (images)"
### Issue Description

Since moving to my own server (from parse.com), I am unable to upload images/files of any size. Downloading files/images and updating/fetching data works fine.

The only issues that seem to match mine refer to file sizes being large with a fix bing to update nginx.conf (as well as the server and location contexts in the relevant site config files) to have the setting :
clien

[2017-03-10 16:28] PunkStarStudios commented on #3615
I have an interesting update.....
Tried using restFUL....

curl -X POST \
  -H "X-Parse-Application-Id: PW9oNLqLWQwRKYM9He3vrQhJNCvKHJRJHe4QJfmY" \
  -H "X-Parse-REST-API-Key: myappid" \
  -H "Content-Type: image/jpg" \
  --data-binary '@1.jpg' \
  https://myserver.com/parse/files/1.jpg

Results in an error.

but

curl -X POST \
  -H "X-Parse-Application-Id: PW9oNLqLWQwRKYM9He3vrQhJNCvKHJRJHe4QJfm

[2017-03-10 20:14] lkraider commented on #497
Can we have this in the parse server code?

[2017-03-10 20:43] PunkStarStudios commented on #3615
One more note... trying to upload via CURL and https results in this error:
<html>
<head><title>404 Not Found</title></head>
<body bgcolor="white">
<center><h1>404 Not Found</h1></center>
<hr><center>nginx/1.10.1</center>
</body>
</html>

Uploading with CURL via http reports back making it look like it saved - but actually - it never did (file doesn't actually exist)

{"url":"https://myserver.com/

[2017-03-10 20:57] PunkStarStudios commented on #3615
Some more troubleshooting...
I took that parse-server-fs-fileadapter thing out of the parse instance (index.js).
restarted parse after stopping it (npm start)

Files still get served.

But I noticed that CURL posting a file via HTTPS still does not work. And posting it via HTTP does - it reports back that it was put into a specific directory (/var/www/parse/files/appid/xxxx.jpg).
But it doesn't ac

[2017-03-10 21:05] lkraider commented on #98
@flovilmart I am getting "There is no current user user on a node.js server environment" with your npm module.

What about https://github.com/back4app/parse-express-cookie-session ? Anyone tried that?

[2017-03-11 04:21] rrgarciach commented on #3060
Same thing here. I've tested it locally and I'm getting

[code]

after using:

`return user.save(null, {useMasterKey: true});`

[2017-03-11 06:29] adefokun opened #3619 "Details of pointers in arrays are included by default causing infinite loop"
I noticed that the details of pointers in arrays are included by default, I do not have to use "include".

[code]
IntrestedArea has an interest key, which is an array of pointers. The details of each pointer is included. And because interest has a pointer interestedArea, the pointer details is also included and the leads to infinite loop. In a situation like this `JSON.stringify(result)` renders t

[2017-03-11 06:49] grantespo commented on #84
Where is maxupload size?

[2017-03-11 13:09] dkarviga commented on #3588
The same issue. I have to perform access control checkings myself using Parse Cloud functions.
It'd be great if ACL works for _User objects as for other objects

[2017-03-11 15:06] flovilmart commented on #3619
Can you provide the server logs please?

[2017-03-11 15:11] anthonycmain commented on #3611
We use http/https depending on our server, we don't need to change the require statement, we just config the server config via our nginx conf file.

Can't help you with the LiveQuery I'm afraid

[2017-03-11 15:45] adefokun commented on #3619
Please see below;

![log](https://cloud.githubusercontent.com/assets/561641/23824625/0d1861d8-067a-11e7-9dc4-465751b4b1c6.JPG)

[2017-03-11 15:48] flovilmart commented on #3619
CAN you provide the server logs of the request? Not the client state please?

[2017-03-11 16:19] adefokun commented on #3619
`[{"title":"Science and Technology","createdAt":"2016-08-30T14:44:10.565Z","updatedAt":"2016-08-31T12:52:31.571Z","organiser":{"__type":"Pointer","className":"Organiser","objectId":"GZ3DLaD8ZZ"},"event":{"__type":"Pointer","className":"Event","objectId":"VjEGX0z7Sh"},"interests":[{"__type":"Pointer","className":"Interest","objectId":"btwqSxvLVo"},{"__type":"Pointer","className":"Interest","objectI

[2017-03-11 20:10] adefokun commented on #3619
I am closing this since the problem seems to be from the SDK.

[2017-03-11 20:10] #3619 closed

[2017-03-11 21:53] itsbalamurali opened #3621 "Cloud code 141 unauthorized even after setting useMasterKey:true"
### Issue Description

I Have the following cloud code which I am trying to execute without session token on android i am getting unauthorized even after setting useMasterKey as mentioned in docs. Am i missing something?

[code]

#### Expected Results

[code]

#### Actual Outcome

[code]
### Environment Setup

- **Server**
  - parse-server version : 2.3.6
  - parse node module version: 1.9.2
  - O

[2017-03-11 23:48] pupoo commented on #84
index.js

[2017-03-12 02:55] grantespo opened #3623 "ParseException: Java.lang.NullPointerException: value == null"
### Issue Description

Randomly, my app will spit out a ParseException: "invalid session token" error, which is odd because in all cases the user was logged in for about 1-3 days. and did not log out, the the only way for me to fix "invalid session token" is for me to log out of my app and log back in. But now, I can't even log back in or use anything associated with Pars because now I keep gettin

[2017-03-12 03:38] grantespo commented on #3623
Ok to fix the, Java.lang.NullPointerException: value == null issue. I set the client key to this in my initialization: .clientKey("") instead of .clientKey(null);

The error occurred in the first place because I implemented a http library

[2017-03-12 03:38] #3623 closed

[2017-03-12 04:01] grantespo opened #3624 "Logged in User has to force close/clear data of app before seeing saved data to (that user's data)from dashboard"
Title says it all. What can I do to allow the users to see changes made to a user column from the dashboard.

[2017-03-12 05:17] natanrolnik commented on #3611
Closing as not related toParse Server itself. You might try asking at Server Fault or Stack Overflow for help with nginx.

[2017-03-12 05:17] #3611 closed

[2017-03-12 05:26] natanrolnik commented on #3624
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

Also, if it's a Dashboard bug, please open it in the right repo.

[2017-03-12 05:26] #3624 closed

[2017-03-12 05:38] natanrolnik commented on #3610
Hi @alexrmacleod!

We use GitHub Issues for bugs.

If you have a non-bug question, please ask on Stack Overflow or Server Fault, and post here the link.

https://stackoverflow.com/questions/tagged/parse.com
https://serverfault.com/tags/parse

[2017-03-12 05:38] #3610 closed

[2017-03-12 05:40] #3609 closed

[2017-03-12 21:15] devKC commented on #153
@flovilmart - for AWS worker tier, cron.yaml is to be formatted as:

version: 1
cron:
 - name: "backup-job"
   url: "/backup"
   schedule: "0 */12 * * *"

Where would I include the parse app id and masterkey? Would it look like below?

   url: "/backup"
   headers: {
      X-Parse-Application-Id: appId
      X-Parse-Master-Key: masterKey
   }
   schedule: "0 */12 * * *"

Any guidance would be grea

[2017-03-12 23:55] flovilmart commented on #153
On Google cloud, I'm using something similar with app engine CRON. I have deployed a very simple JavaScript web app that listen on /job/:jobName and forwards the HTTP call to parse server. This way, I use app engine cron for scheduling as I can't pass the headers either.

You should probably look for something similar on AWS.

[2017-03-13 02:21] BRETT71 opened #3626 "Can not start live query server from cli"
Parse Server: 2.3.6
Server: ubuntu 14.x
I am using nginx

I am starting my Parse Server and Dashboard with pm2.  The Parse Server and Dashboard work just fine.  I have been trying to start a live query server but it will not start.  I have tried `"startLiveQueryServer": true` and now I have been trying `liveQueryServerOptions`.

My config file that I am passing in looks like this

[code]

Everythi

[2017-03-13 02:41] pewh commented on #3561
Hello @emkman, thanks for answer my question. Unfortunately, my use-case has been changed, and I'm curious how to combine `matchesQuery` with something like `DISTINCT` or `UNIQ` in Parse Query. I have > 200 data, so it's expensive to execute 200+ `Parse.Query.find()`. I have post my problem on http://stackoverflow.com/questions/42755795/parse-cloud-code-efficient-way-to-find-a-nearest-child-for-ea

[2017-03-13 09:02] akg1234 opened #3632 "let user custom their session expire time"

[2017-03-13 09:15] natanrolnik commented on #3632
Hey, thanks for reporting this issue.

Can you please add all the info specified in the [template](https://github.com/ParsePlatform/parse-server/blob/master/.github/ISSUE_TEMPLATE.md)? This is necessary for people to be able to understand and reproduce the issue being reported.

[2017-03-13 09:15] #3632 closed

[2017-03-13 09:22] natanrolnik commented on #3579
@rihadavid can you please update to 2.3.7 and see if you still have this error?

[2017-03-13 09:23] akg1234 opened #3633 "user cant custom their session expire time"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-03-13 11:19] flovilmart commented on #3633
That's the expected behavior.

[2017-03-13 11:19] #3633 closed

[2017-03-13 12:16] flovilmart commented on #3626
Are you running the liveQuery server on it's own or alongside parse-server?

we're running in production with:

[code]

And it's working fine.

[2017-03-13 12:37] riksof-abdulrauf commented on #2744
Hi @valdezm , @flovilmart @bourquep
We are using APIs of [api.parse.buddy.com](url) in our iOS app, we moved our database from parse to buddy.com
I getting same error in reset password call
![parsereset](https://cloud.githubusercontent.com/assets/5626513/23854333/d3fa7f68-0812-11e7-8bd9-94d03791b174.png)

How can we fix it ?

[2017-03-13 12:39] flovilmart commented on #3621
In your code, you seem to handle all errors inside your cloud function

Can you make sure:

1. The function is actually run
2. What part of the code is actually yielding an error

Can you provide the parse-server logs when running with VERBOSE=1 ? That may help finding the issue.

[2017-03-13 12:42] flovilmart commented on #2744
You should probably contact buddy.com

[2017-03-13 13:04] flovilmart commented on #98
It leverage Parse.User.logIn which is not ideal

[2017-03-13 13:08] PunkStarStudios commented on #3126
This fails:
curl -X POST \
  -H "X-Parse-Application-Id: MyAPI" \
  -H "X-Parse-REST-API-Key: MyRest" \
  -H "Content-Type: image/jpg" \
  --data-binary '@1.jpg' \
  https://myserver.com/parse/files/1.jpg

This works
curl -X POST \
  -H "X-Parse-Application-Id: MyAPPId" \
  -H "X-Parse-REST-API-Key:MyRestAPI" \
  -H "Content-Type: image/jpg" \
  --data-binary '@1.jpg' \
  http://myserver.com:1337/

[2017-03-13 13:37] BRETT71 commented on #3626
I am trying to get the live query server to run alongside parse server right now.  From what I can tell from the parse server definitions if I use `"liveQueryServerOptions"` it will start a parse live query server.  Do I still need to use `"startLiveQueryServer" `

[2017-03-13 13:43] flovilmart commented on #3626
Yes, you should need the startLiveQueryServer option, as well as liveQuery: classNames

[2017-03-13 13:44] BRETT71 commented on #3626
I updated my config file to look like this

[code]

My environment looks like this

[code]
I am most likely missing something but I just do not know what it is.

[2017-03-13 13:47] felipemobile commented on #3562
@flovilmart Have found the same issue here after upgrading to the latest version.
Any clues in how to solve that?

[2017-03-13 13:54] flovilmart commented on #3626
can you post the startup logs? Also, does it work outside PM2?

[2017-03-13 14:23] flovilmart commented on #3126
probably because `myserver.com` doesn't respond on port 80.  What's the error?

[2017-03-13 14:24] flovilmart commented on #2660
This was never fixed.

[2017-03-13 14:29] PunkStarStudios commented on #3126
Hey there.
:)

On 80 it responds with the standard nginx place holder.
"Welcome to nginx!

If you see this page, the nginx web server is successfully installed and working. Further configuration is required.

For online documentation and support please refer to nginx.org.
Commercial support is available at nginx.com.

Thank you for using nginx.”

[2017-03-13 14:36] BRETT71 commented on #3626
Here is my startup output.  I have not tried it yet outside of PM2

[code]

[2017-03-13 14:47] flovilmart commented on #3626
The liveQuery server isn't started AFAICS

[2017-03-13 14:59] BRETT71 commented on #3626
Are there any other logs that would be outputted that would tell me why live query server is not starting

[2017-03-13 15:23] flovilmart commented on #3126
So that's an issue with your nginx configuration, not an issue with parse-server.

[2017-03-13 15:29] PunkStarStudios commented on #3126
I was afraid of that.
Everything else is working fine… just posting of files via https…
Is there a sample nginx sites file somewhere configured for parse-server?
The sample I have (which still needed tweaking to work) obviously is not sufficient ;P

[2017-03-13 15:31] flovilmart commented on #3626
you should see: `ParseLiveQuery listening on ...`

[2017-03-13 15:31] flovilmart commented on #3626
did you set: `liveQueryPort` 

[2017-03-13 15:35] BRETT71 commented on #3626
I went into the parse-server.js in the cli folder and added two to more console logs.  That is when a noticed that I have to set the `"liveQueryPort"`.  When I did that I got the `ParseLiveQuery listening on (portnumber)`.  So when you are starting a parse live query server from cli you have to set everything is that correct?

[2017-03-13 15:42] flovilmart commented on #3626
You should not need to, what makes you think your liveQuery server is not started? The liveQueryServer should be able to start with sharing the parse-server express server.

Connecting from the client, you should use the `ws://my-server.com/1` instead of `http://...` URL

[2017-03-13 15:45] flovilmart commented on #3626
You can easily test in chrome:

[code]

[2017-03-13 15:48] flovilmart commented on #3126
From there, it's a question that's more likely to be answered on stackoverflow, as it's not specific to parse-server but nginx and express apps

[2017-03-13 15:52] BRETT71 commented on #3626
Sorry I am not that familiar with that chrome dev tools.  I have only used the console and the elements inspector.   How do I run that command?

[2017-03-13 15:55] flovilmart commented on #3626
In the console of the inspector

[2017-03-13 16:01] BRETT71 commented on #3626
I am getting false returned

[2017-03-13 16:05] flovilmart commented on #3626
I just ran it a minute ago to get that, tough to debug without

[2017-03-13 16:05] #3626 closed

[2017-03-13 18:33] PunkStarStudios commented on #3615
Ok - so I quasi have this figured out.
It's probably an NGINX sites file configuration causing me grief ... but... well.. the thing is I thought the filerouter.js would do something that it isn't doing.

I have parse server installed under
/var/www/parse

I have a whole slew of files stored under
/var/www/parse/files/appid/

If in my HTTPS section of the NGINX file (/etc/nginx/sites-enabled/defaul

[2017-03-13 19:16] PunkStarStudios commented on #3615
SCORE.
Well I figured it out... and I'm posting some tips here for future hair-puller-outters.

This is what I had to do to fix my problem. First off - I am not using grid store... Gridstore does work just fine if you start out fresh but if you have a few thousand images stored in a folder and not in gridstore - I have not figured out a way to push all those into mongo.gridstore and retain links t

[2017-03-13 19:16] #3615 closed

[2017-03-14 01:12] lyonlionng opened #3635 "Parse Server livequery on AWS (Websocket error 403)"
### Issue Description

I am using currently on a project trying to make a chat system using parse server livequery. I am using AWS's Parse Server by Bitnami AMI to create a new instance. And i did the setups exactly as i did on my localhost. However whenever i run my ionic 2 application, it will show the websocket error as shown below.

![chrome_2017-03-13_16-23-46](https://cloud.githubusercontent

[2017-03-14 01:39] flovilmart commented on #3635
Did you configure Parse-server correctly to start the liveQuery server?

[2017-03-14 02:06] lyonlionng commented on #3635
This is my current server code...

`var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var mailgun = require('mailgun-js');
var app = express();
// Specify the connection string for your mongodb database
// and the location to your Parse cloud code
var api = new ParseServer({
    databaseURI: "xxxxx",
    cloud: "./cloud/main.js",//"./node_modules/parse-server

[2017-03-14 02:10] flovilmart commented on #3635
Are you running on Elastic beanstalk or a naked instance? Are you using ELB? Do you have any server logs when running with VERBOSE=1 ?

[2017-03-14 02:12] lyonlionng commented on #3635
i used the AWS Parse Server by Bitnami AMI to create a new instance. Could this be the issue? and no im not using ELB. No server logs either...

[2017-03-14 02:15] flovilmart commented on #3635
I have no idea what that particular image does, it may as it may not.

[2017-03-14 02:20] lyonlionng commented on #3635
Okay, lets say start from the beginning, i launched the instance and the serve.js was like this:

What would be the code to enable livequery? (just want to make sure im right)

[2017-03-14 02:28] flovilmart commented on #3635
From the [docs](http://parseplatform.org/docs/parse-server/guide/#server-setup), you'd need:

[code]

I see also something, you're using twice app with calling listen on 2 different ports. That won't work.

you should have:

[code]

[2017-03-14 03:03] lyonlionng commented on #3635
i have tried your answer but it doesnt work either. If i were to start afresh and not use Bitnami's AMI, will it work? and do you have a guide somewhere to teach me the steps? im kinda new to parse...

[2017-03-14 03:09] flovilmart commented on #3635
The docs link I provided should give the most information about it.
I would not recommend you 'start-over' as that may not solve your issue.

I'm not sure what responds with 403 on your liveQuery client, perhaps missing keys in the JS-SDK.

[2017-03-14 03:11] lyonlionng commented on #3635
One thing to take note is that if i host it on heroku, it works 100%. Only only AWS the livequery is not working. I am so confused. I have searched many sites regarding issue and have not come to a solution

[2017-03-14 03:13] flovilmart commented on #3635
So if it works on heroku, that's not an issue with parse-server itself, or your configuration, but with the way you're deployed on AWS.

[2017-03-14 03:13] #3635 closed

[2017-03-14 05:28] thphuc opened #3636 "Security issue - Public URL contains server url and app id. HTTP request payload contains app id"
### Issue Description

I am using Parse-server as a backend for my website. Every thing looks work well. But when I tried to  open the images which are store on my backend, the url of images show server url and app id. Also, when I check the payload of HTTP Request, it shows the app id there.
I think I did something wrong with parse server config but I am not sure. If someone have server url and a

[2017-03-14 06:00] ridergeek commented on #2238
+1 for this.  @Cliffordwh - I did a quick search on open/closed PRs and couldn't find this.  Hoping someone will pick this up and implement soon.

[2017-03-14 07:18] yoterpa commented on #3636
AppId is just a reference to identify your App out of multiple Apps you are serving from your parse-server. There is no way you can keep it a secret as long as you want your App to talk to the server.

To secure your App, you should use ACL's, beforeSave and beforeDelete triggers.

[2017-03-14 07:22] bohemima commented on #3636
Have a look at the following blog series, they are still relevant (too some degree);

http://blog.parse.com/learn/engineering/parse-security-i-are-you-the-key-master/
http://blog.parse.com/learn/engineering/parse-security-ii-class-hysteria/
http://blog.parse.com/learn/engineering/parse-security-iii-are-you-on-the-list/
http://blog.parse.com/learn/engineering/parse-security-iv-ahead-in-the-cloud/
h

[2017-03-14 07:45] itsbalamurali commented on #3621
@flovilmart

Here are the Logs after setting verbose=1

[code]

[2017-03-14 08:17] natanrolnik commented on #3636
Thanks for answering, @yoterpa and @bohemima. Indeed, the `applicationId` and client keys are a legacy feature/requirement from Parse.com, where they needed the app id to identify your app. Nowadays, as Parse Server doesn't have support to handle multiple apps, they are actually not needed and give a false sense of security. There was even some discussion in the past in favor of removing them.

@t

[2017-03-14 08:17] #3636 closed

[2017-03-14 09:00] noder199 commented on #20
Mongodb atlas is a cheaper aternative to mlab and I am switching to that service as my database needs the extra storage. I won't be needing datastore, but I'd still welcome any effort for an adapter if google makes changes to its api.

[2017-03-14 11:38] flovilmart commented on #3621
I can see the masterKey is set when you make the request to /api/functions/sendotp ? And that request originates from the client? You should remove the masterKey, it should *NEVER* be set on clients.

[2017-03-14 11:38] doodyparizada opened #3637 "Parse-Server Crash on APNs Timeout"
### Issue Description

Using the REST endpoint for sending APNS push, sometimes the service times out and causes parse-server to crash...

### Steps to reproduce

Just running this following curl a few times until the app crashes:
[code]

#### Expected Results

parse-server should catch the exception and either retry or fail with an error message (not crash the whole process).

#### Actual Outcome

[2017-03-14 11:45] itsbalamurali commented on #3621
No change in response even if I don't send master key from the client.

<img width="1440" alt="screen shot 2017-03-14 at 3 23 26 pm" src="https://cloud.githubusercontent.com/assets/1926303/23899100/d41b6026-08d9-11e7-80db-43210ada5102.png">

[2017-03-14 11:57] flovilmart commented on #3621
You should remove the  masterKey from the clients, that's all.

Also you're using an external server for your web hooks right? If your cloud code is deployed with your parse-server you don't need to set those up. Are you able to create a simple function correctly? What kind of checks are you performing on the webhooks side? Are you using a module to wrap your `Parse.Cloud.define` ?

AFAICS, parse-

[2017-03-14 12:16] natanrolnik commented on #3637
Yo @doodyparizada

Please open this in parse-server-modules/parse-server-push-adapter, the right place to do so.

[2017-03-14 12:16] #3637 closed

[2017-03-14 13:16] flovilmart commented on #3562
Need to add a small check to exclude installations without deviceToken from the query

[2017-03-14 14:36] itsbalamurali commented on #3621
Yeah actually deleting webhooks worked :) thank you.

[2017-03-14 14:36] #3621 closed

[2017-03-14 15:12] yonihei opened #3640 "Error generating response. ParseError { code: 101, messaname/password.' }"
### Issue Description
When a user is trying to log in with a wrong password (and correct user name) i get an error msg in my console log:
Error generating response. ParseError { code: 101, message: 'Invalid user name/password.' }

Describe your issue in as much detail as possible:
Our main problem is that after a day or so, our server becomes extremely slower and only a restart solves it.
In hope

[2017-03-14 18:25] BillyJohn3 opened #3643 "'Settings' on dashboard not showing"
I need the 'Settings' menu on the dashboard to organize using notifications on our IOS app but it's not showing on the side of the dashboard as expected.

How can I enable it on the dashboard?

Cheers,
Billy

[2017-03-14 18:54] natanrolnik commented on #3643
Closing as duplicate of #3361
TLDR; notifications are setup in the server initialization, and not configurable via Dashboard.

[2017-03-14 18:54] #3643 closed

[2017-03-14 19:03] BillyJohn3 commented on #3361
Can you point me out how to initialize the settings section with the server?

[2017-03-15 01:48] jeacott1 commented on #3562
upgrade to apn 2.x is really the only solution for proper tracking.

[2017-03-15 01:49] flovilmart commented on #3562
Also there is a bug that I uncovered that improperly forwards the deviceType on successful pushes.

[2017-03-15 02:18] artonragsdale commented on #3395
I can confirm that this does seem to be an error with the logic introduced in e788d49

When I upgrade my project from 2.2.23 to 2.2.24, some cloud code using `user.login()` and a subsequent `user.getSessionToken()` breaks and throws the following error: `error: Error generating response. ParseError { code: 141, message: '{"message":"unauthorized"}' } code=141, message={"message":"unauthorized"}`.

[2017-03-15 08:25] nowfalsalahudeen commented on #3517
am using 3.4.2

[2017-03-15 10:05] bnol commented on #3575
+1

[2017-03-15 10:24] funkenstrahlen commented on #3575
I also think this should just throw an error but not crash the server. It is a problem if push notifications do not get send out but it should not crash all other server functionality.

[2017-03-15 10:27] bnol commented on #3575
Any plan working on this issue yet? =/

[2017-03-15 10:44] bnol commented on #3575
@funkenstrahlen you're a contributor of `parse-server-push-adapter`, aren't you? This error happens in `parse-server-push-adapter` which is using a very old release of `node-apn` (`1.2.0`, `2.1.3` is the current release. Any plan for updating it? :)

[2017-03-15 10:53] funkenstrahlen commented on #3575
@bnol There is already a PR for updating the node-apn: https://github.com/parse-server-modules/parse-server-push-adapter/pull/52

[2017-03-15 11:57] flovilmart commented on #3575
@bnol, apn 1.2 is not old and is correctly working. I believe the package throws and for a good reason. You should probably open an issue on the apn package repository if you believe this is an issue.

[2017-03-15 12:20] steven-supersolid commented on #3395
`javascriptKey` is not optional if you are using javascript, e.g. cloud code. It should be safe to omit if you are just connecting to parse-server to perform queries from a REST or .Net client for example.

The change in 2.2.24 is to enforce key security correctly. Previously if any key was omitted then none were checked, which removed the point of having keys and which led to an undesirable worka

[2017-03-15 12:32] artonragsdale commented on #3395
Yeah, I think we should just update the documentation if that's the case, so people are aware that they'll need `javascriptKey` configured if they plan to use cloud code.

[2017-03-15 12:37] bnol commented on #3575
@flovilmart the problem is we have no better way to handle that error for now (to avoid the server to be crashed). Or is there any way to work around with it?

[2017-03-15 12:45] felipemobile commented on #3562
@flovilmart All iOS pushes are not being send, need to downgrade to Parse-Server 2.3.1 to get it working properly.

[2017-03-15 12:58] flovilmart commented on #3575
Have a valid certificate?

[2017-03-15 12:58] flovilmart commented on #3562
@felipemobile are they not sent or just marked 'sending'?

[2017-03-15 13:09] funkenstrahlen commented on #3592
Do you have email verification enabled in your parse server config?

[code]

Because in your post above `verifyUsersEmails: true,` contains a typo.

[2017-03-15 13:44] felipemobile commented on #3562
Not sent @flovilmart

[2017-03-15 13:45] felipemobile commented on #3562
Maybe a conflict after the #3264, #3080 improvements?

[2017-03-15 13:49] yoterpa commented on #2345
@dwby Were you able to remove the second `User` class from view in the Parse dashboard? If yes, how did you do it?

[2017-03-15 13:52] yoterpa commented on #2345
@cipiripper But it won't let me delete the class before deleting all the rows first. And deleting the rows in the duplicate `User` class deletes the corresponding rows in default `User` class as well.

[2017-03-15 14:01] cipiripper commented on #2345
@yoterpa Did you try to open mongo shell and remove the class directly from DB? User class is empty in DB, so that restriction you are seeing in dashboard is because of dashboard that mistakenly shows _User data in User class, so it expects all data to be removed... and mongo shell doesn't have this restriction and mixing of class names.

To be honest, I am not sure how I did this... I really don'

[2017-03-15 14:05] artonragsdale commented on #3395
So my understanding at this point is

If you want to use cloud code, you can either:
a: use no client keys
or
b: configure `javascriptKey` if any client keys are in use

You cannot use any client keys without configuring `javascriptKey` if you want to use cloud code.

Does that sound right?

[2017-03-15 14:27] johanarnor commented on #3395
Yes, that sounds right.

[2017-03-15 14:30] steven-supersolid commented on #3395
Yes.

And can confirm @johanarnor final point: values for keys that are not configured in the constructor are also ignored.

[2017-03-15 14:34] flovilmart commented on #3562
Uhm, not sent is more problematic than just not marked as Sent, can you provide more details, logs etc... to debug that issue? There was an underlying bug in the push adapter that prevented the push status to be properly reported.

[2017-03-15 14:50] flovilmart commented on #3562
Sending a single push don't seem to cause the issue

[2017-03-15 14:52] felipemobile commented on #3562
@flovilmart do you need any special type of log to debug that issue?

[2017-03-15 15:09] markmssd commented on #3517
I am using Mongo v3.4 too, on Mongo Atlas, and works without any problem. 👍

[2017-03-15 15:10] bnol commented on #3575
@flovilmart we sure will update the cert. But in this case, crashing the whole process should never be an expected behaviour. I think we could make it better. :)

[2017-03-15 15:32] doodyparizada commented on #3637
moved to https://github.com/parse-server-modules/parse-server-push-adapter/issues/66

[2017-03-15 15:55] flovilmart commented on #3575
Not sure that's our responsibility in this module, probably in APNs https://github.com/node-apn/node-apn/issues/541

Follow the discussion here and open a PR if you need too.

[2017-03-15 16:20] flovilmart commented on #3562
Setting VERBOSE=1 should log all see https://github.com/parse-server-modules/parse-server-push-adapter/blob/master/src/index.js

[2017-03-15 16:20] flovilmart commented on #3517
So we can close that!

[2017-03-15 16:20] #3517 closed

[2017-03-15 17:16] felipemobile commented on #3562
`2017-03-15T17:03:34.104Z - _PushStatus H5qbJ5SSkF: sent push! 0 success, 60 failures
2017-03-15T17:03:34.054Z - _PushStatus H5qbJ5SSkF: sending push to 60 installations
2017-03-15T17:03:34.043Z - RESPONSE from [POST] /app/push: {
  "headers": {
    "X-Parse-Push-Status-Id": "H5qbJ5SSkF"
  },
  "response": {
    "result": true
  }
}
2017-03-15T17:03:34.029Z - REQUEST for [POST] /app/push: {
  "dat

[2017-03-15 18:35] yoterpa commented on #2345
@cipiripper Yes I removed the class directly from DB, but it is still being shown in the Dashboard. Is there anything else I can try other than backup-restore?

[2017-03-15 18:38] cipiripper commented on #2345
@yoterpa Weird... Maybe try to clear cache in browser, restart/reinstall parse-dashboard process? I mean, if you have removed it from DB, then there shouldn't exist anymore... BUT I am not sure what happens if you actually save a `User` object instead of `_User`... :)

[2017-03-15 19:23] yoterpa commented on #2345
@cipiripper Clearing browser cache didn't help. As per your suggestion, I tried adding a `User` object from dashboard which successfully creates a new object, but as soon as I refresh the tab it disappears. I checked the db in mongo-shell and found that `User` class got created again. :(

[2017-03-15 19:29] cipiripper commented on #2345
Yes, well that's how parse works... If there is no class, it creates it... Just don't create new `User`s, but `Parse.User` or `_User`... and remove all `User` objects and class from db. I guess that this must work...

[2017-03-15 19:40] yoterpa commented on #2345
I have already deleted the `User` class from mongo-shell, cleared browser cache, restarted parse-server and dashboard, but the issue still persists.

[2017-03-15 19:44] cipiripper commented on #2345
@yoterpa How did you delete it? Using drop() or remove()? Try drop()? Also be sure that there is no after delete trigger that re-creates the user, and remove all User relations if any...

I'm out of ideas. Good luck. :)

[2017-03-15 20:00] to83 commented on #3013
Same here! Spent half day on this analyzing why it does not unset any objects/values.

[2017-03-15 20:11] flovilmart commented on #3013
Did you open the issue on the dashboard repository?

[2017-03-15 20:17] to83 commented on #3013
No. I was considering it though. First finishing my implementation/current task ;)

[2017-03-15 20:24] yoterpa commented on #2345
I used drop(). There is no after delete trigger. There is a relation but to `_User` class, NOT `User` class.

Thanks a lot for your help. :) I will try something else.

[2017-03-15 23:11] felipemobile commented on #3562
@flovilmart I've confirmed! This bug was introduced in the parse-server 2.3.3, maybe it's related to #3264 improvement.

[2017-03-15 23:13] flovilmart commented on #3562
@felipemobile I know the bug is here, however I'm not sure the push are not delivered

[2017-03-15 23:21] felipemobile commented on #3562
I've done a very simple and basic test:

**Works (Push sent 1)**
[code]

**Not working (Push sent 0)**
[code]

[2017-03-15 23:22] flovilmart commented on #3562
yeah but are they delivered on the device? that doesn't really help here.

[2017-03-15 23:28] felipemobile commented on #3562
Yeap, they are delivered only when using parse-server 2.3.2 or lower.

[2017-03-15 23:36] felipemobile commented on #3562
Please, check this log:

[code]

[2017-03-15 23:37] flovilmart commented on #3562
So it reaches correctly the adapter but the connection is not found, and he status is not reported as failed. Can you check with a valid connection?

[2017-03-15 23:43] felipemobile commented on #3562
@flovilmart This is a valid connection, changing to parse-server 2.3.2 works perfectly.

`$ npm install parse-server@2.3.2`

[code]

[2017-03-15 23:48] flovilmart commented on #3562
The adapter says the opposite, which is odd.

[2017-03-16 00:11] felipemobile commented on #3562
In some way it's not clustering the devices per connections

parse-server-push-adapter/APNS.js

[code]

Maybe a issue in the adapter?

src/Adapters/Push/PushAdapter.js

[code]

[2017-03-16 00:22] flovilmart commented on #3562
I would think that, adapter went from 1.1.0 to 1.2.0, need to check what changed in between and why the connection grouping is bad

[2017-03-16 00:30] felipemobile commented on #3562
I forgot to point that Android stopped working either.

[2017-03-16 00:44] flovilmart commented on #3562
Uhm. It gets better and better!

[2017-03-16 00:47] felipemobile commented on #3562
What's the best way to debug this issue? I need to fix it before moving forward on the pending Parse-Dashboard improvements.

[2017-03-16 00:52] felipemobile commented on #3562
I read about a SQS adapter that could allow us to set a work queue to delivery a high number of push messages. To provide more context I've 5 apps using Parse-Server with more than 80k valid installations.

Our Parse-Server API is under a loadbalancer with two EC2 instances attached to it.

[2017-03-16 00:53] flovilmart commented on #3562
That.'a where it gets tricky :) I have a branch open on the push adapter that irntoduces a mock connection, that would help us go more E2E testing.

On parse-server, due to the complexity of the project, we follow TDD. The best way to go around that, would be to mock/spy on the apn.connection and validate that we're all good.

[2017-03-16 00:59] flovilmart commented on #3562
the SQS allows to spread the load across your parse-server instances or dedicated push instances (workers) the goal it to make a light PushStatus reporter (that would leverage the JS SDK and not directly parse-server) in order to integrate it easily in the push adapters.

[2017-03-16 01:10] jeacott1 commented on #3562
also, if a push query results in zero results, the tracker will also get stuck because it starts but nothing exists to end it.

I've shortcut this in my local copy of ParseQueue with
    if (!results || count==0) {
        return Promise.reject({error: 'PushController: no results in query'});
      }

this breaks a couple of tests in PushController though, but I think its a reasonable solution.

[2017-03-16 09:17] felipemobile commented on #3562
@flovilmart Can you point me in the right direction to help debugging this issue? There are 4 open branches in the adapter. I've tried to downgrade only the adapter to 1.1.0 and also upgrade to 1.3.0. Nothing seems to help.

[2017-03-16 10:50] steven-supersolid commented on #2345
You will also probably need to remove the `User` document from the `_SCHEMA` collection and restart your server and dashboard

[2017-03-16 12:05] flovilmart commented on #3562
I'll try to have a look.

[2017-03-16 12:47] flovilmart commented on #3562
Also, I've added the no-babel branch, that is not using babel anymore, can you try with that one?

[2017-03-16 13:41] ly85206559 commented on #3356
We have use Andorid SDK for half a year,and found pretty much bugs in Android SDK.
For example, Local cache is not good to use, some times it took much time to find dirty objects.

[2017-03-16 13:49] nitrag commented on #3356
@ly85206559 We have @rogerhu to represent the community for improvements to the SDK. Please open a Issue with a reproducible error over at the [Android SDK.](https://github.com/ParsePlatform/Parse-SDK-Android/issues)

[2017-03-16 14:17] felipemobile commented on #3562
Same odd issue

`$  sudo npm install https://github.com/parse-server-modules/parse-server-push-adapter.git#no-babel --save`

[code]

[2017-03-16 14:20] felipemobile commented on #3562
@flovilmart Everything seems to be fine on the adapter, maybe

`npm WARN engine parse-server-push-adapter@1.3.0: wanted: {"node":">= 6.2.0"} (current: {"node":"4.8.0","npm":"2.15.11"}`

I will try to upgrade the node version to 6.2.0.

[2017-03-16 14:21] flovilmart commented on #3562
Yeah removed babel, so we need node 6+ in order to work correctly ;)

[2017-03-16 14:22] flovilmart commented on #3562
But that may be easier to debug inside the node_modules/parse-server-push-adapter as the code is not generated anymore, but clean

[2017-03-16 14:39] devKC commented on #153
@flovilmart - just checking, when you are forwarding the HTTP call to parse server, are you passing along the app_id/master_key values in headers by using something like headers option for require('request')? If so, how secure is it to send the request with keys in the headers? I would assume I wouldn't hardcode the key values in the headers options but use env var, but since the values are being

[2017-03-16 14:50] felipemobile commented on #3562
@flovilmart First of all, thanks for your help but I need to read more books about node and npm. since this subject is new completely new to me. I'm used to code in objective-c, swift or java (android).

[code]

[2017-03-16 15:10] flovilmart commented on #153
I make HTTPS requests from the 'worker' so yes I pass my masterKey in the header.

[2017-03-16 16:16] acinader commented on #153
@devKC AWS worker tier?  huh?  you got a link to what you are talking about?  What I've been doing for scheduled jobs is to set an event in AWS Cloud Watch which invokes a lambda that then sends the request.  Its problematic in a few ways: 1. its way to complicated.  2. it doesn't guarantee that the event will only fire once, so I have to code around that, so if there is some AWS worker tier thing

[2017-03-16 16:24] devKC commented on #153
@acinader - http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features-managing-env-tiers.html

[2017-03-16 17:45] mginz83 opened #3646 "Multiple cloud functions in main.js"
I'm confused with having multiple functions in main.js.

If I have multiple cloud functions, I get a bad Jason response error when I run my code. I'm currently developing for Android with my parse server installed locally.

Should I put each function I need in a separate . js file and then include them in main.js???

Thanks

[2017-03-16 17:52] natanrolnik commented on #3646
You can have them in separate main.js files, but you don't need to. Check for typos in your current setup.

[2017-03-16 17:52] #3646 closed

[2017-03-16 17:55] mginz83 commented on #3646
I can have multiple main.js? Wouldn't that just overwrite the one? Or having multiple .. js files and use include in the main

[2017-03-16 18:03] ascholz81 opened #3647 "Can't get new version from NPM"
Newest release is not available on NPM.  Please fix.  (no need for bug report form.)

https://www.npmjs.com/package/parse-server

[2017-03-16 18:14] natanrolnik commented on #3646
As long as they have different names, they don't overwrite each other.

[2017-03-16 18:24] mginz83 commented on #3646
Yeah, that strange because I could have sworn I have the stars function in there that comes on the example, as well as a new phone or push notifications, and I got errors. I'll try a different function later. Thanks for this.

[2017-03-16 18:26] flovilmart commented on #3647
Thanks for the notification, the CI script failed to upload, just restarted at the instant.

[2017-03-16 18:43] flovilmart commented on #3647
It should be available now! Thanks

[2017-03-16 18:43] #3647 closed

[2017-03-16 19:06] ascholz81 commented on #3647
got it; thanks!

[2017-03-17 02:55] wabirached commented on #3606
I think this is a valid point and that it should prevent us from creating users with empty passwords and / or usernames.

I can take a look at this and attempt a PR if the contributors agree. I'll wait for their confirmation before getting started.

[2017-03-17 04:34] wabirached commented on #3606
Actually, after further investigation, I feel like this was the intended behaviour.

For starters, to avoid users passing an empty password, you should set the `passwordPolicy` in the config. This will make sure all passwords respect the rules you defined.

Secondly, I see in the code that the username is set to a random secure string if left blank. Based on that, I am assuming that this use case

[2017-03-17 11:45] flovilmart commented on #3606
The randomly generated username is intended IIRC for non password based logins (i.e.: facebook, oauth...)

It seems that we don't make the distinction between a missing key and an invalid key.

Not sure we should let empty usernames/passwords in, if only this is passed along, however we still need the automatically generated username for the case discussed above.

[2017-03-17 13:56] rogerhu commented on #3356
FYI I have access now to publish to jcenter but not sonatype.  I am planning to pull the trigger and publish to the former until I can get help pushing to the latter..

[2017-03-17 14:25] wabirached commented on #3606
Great, thanks for the update. I don't think we should let empty usernames/passwords either. This use case is handled when using the JS SDK, but not the REST API. I'll try to base myself off of what was done in the JS SDK. I'll keep you posted.

Merci @flovilmart

[2017-03-17 18:10] hramos commented on #3356
Access to Sonatype should be granted to you soon @rogerhu

[2017-03-17 18:11] rogerhu commented on #3356
Thanks!  They granted me it. :)

[2017-03-17 21:53] wabirached commented on #3606
Just created a PR for this: https://github.com/ParsePlatform/parse-server/pull/3650

[2017-03-17 22:36] lucasputer commented on #3060
I am having the same problem

[2017-03-17 22:58] flovilmart commented on #3606
And just merged! Thanks for the PR!

[2017-03-17 22:58] #3606 closed

[2017-03-17 23:00] flovilmart commented on #3060
Are anyone of you able to one a Pr with a failing unit test?

[2017-03-18 00:03] wabirached commented on #3606
Awesome! Thanks for the quick merge!

[2017-03-18 00:43] felipemobile commented on #3562
@flovilmart I don't give up easily 👍

Can you give me some advice in how do I override the nested parse-server-push-adapter dependency with my own version?

I've tried to use shrinkwrap but it raises a syntax error.
[npm-shrinkwrap.json.zip](https://github.com/ParsePlatform/parse-server/files/852033/npm-shrinkwrap.json.zip)

[code]

[2017-03-18 01:00] flovilmart commented on #3562
let me get back to you on that, there à many ways, some trickier than others

[2017-03-18 01:00] flovilmart commented on #3562
For your Error, you should probably try with node 6.9.5+

[2017-03-18 09:44] felipemobile commented on #3562
Ok

[code]

And it gets better and better

parse-server@2.3.7

[code]

[2017-03-18 15:17] flovilmart commented on #3562
Are you using the no-babel branch? I probably messed up the exports :)

[2017-03-18 16:32] felipemobile commented on #3562
Yes, but is parse-server-push adapter@1.3.0 compatible with parse-server@2.3.7?

[2017-03-18 17:41] felipemobile commented on #3562
@flovilmart The latest push-adapter seems to be incompatible with the latest parse-server and I can't help debugging with the current parse-server version. Is it safe to say that we cannot send push messages with the latest Parse-server?

[code]

[2017-03-18 18:03] flovilmart commented on #3562
We should always have compatibility for those, it's tests in parse-server's unit tests for the core adapters, I'll have a look later today

[2017-03-18 18:53] flovilmart commented on #3562
I updated parse-server-push-adapter#no-babel to make sure tests are OK.

What I did in parse-server repo:

1. clone this repository
2. edit package.json:

[code]

3. run the tests:

[code]

To debug your issue you can easily add a unit test to `spec/PushController.spec.js` or `spec/PushWorker.spec.js`

[2017-03-18 23:02] rferbesa opened #3651 "Mailgun send multiple emails instead of 1"
Hello!
I have a problem I've asked in Stackoverflow and ServerFault several weeks ago with no answer, so this is my last chance to find the solution. I'll try to follow the steps to describe this "bug".

### Issue Description
I migrated from Parse to Parse Server hosted in Digital Ocean (details below) and everything seemed to be working ok until I realized there was a problem sending emails (from

[2017-03-18 23:59] georgesjam commented on #116
hello,
Can someone please clarify this for me. I am new to node and i am a bit lost.
Regarding running multiple apps...

I have on my ubuntu system. Parse-server installed in this directory **/the directory/myserver/**
The directory looks like this.
[code]

and each application0.js, application1.js, application2.js
is on different port. 1337, 1338, 1339
[code]

now if i run it this way, could this

[2017-03-19 01:06] flovilmart commented on #116
That seeems correct!

[2017-03-20 00:05] jeacott1 commented on #3562
notifications will also get 'stuck', if an installation is added or removed during a push.

[2017-03-20 00:27] wabirached commented on #3651
I'm not sure if it's related to the cause of the issue or not, but there's an issue in your Cloud Code function where you do not return a success or error, which means the client doesn't get any response to the web request. In that case, some clients may retry until it timeouts, which could result in multiple emails sent.

You should always return a `response.success()` if sending the email succee

[2017-03-20 02:32] wabirached commented on #3313
I just found this issue since I'm looking for a way to allow users to log in using username or email. If this hasn't been touched yet, I'd love to jump on it and possibly have this included in a future (next?) release.

@AmbroiseCollon, did you start working on this yet?

Thanks

[2017-03-20 03:51] joaquin102 commented on #401
Hey Guys! I am trying this approach to send push notifications. The notifications is delivered successfully but the problem is how to use the 'content-available' flag.

i'm trying this with no success:

Parse.Push.send({
        where: query,
        data: {
            alert: 'One more test 1',
            badge: 1,
            sound: 'default',
            content_available: 1
        }

    },

[2017-03-20 10:16] rferbesa commented on #3651
Hello wabirached!

Thank you very much for your suggestion but I'm not sure if this is the cause of my problem  because 2 reasons:
- I have access to the client code and it doesn't resend the email even if there was an error.
- I have the same problem sending verification emails, and verification emails don't use my Cloud code.
Kind regards!

[2017-03-20 14:00] yoterpa commented on #2345
@steven-supersolid That worked!! Thanks :) I did not even have to restart the server or the dashboard.

[2017-03-20 14:56] CiraciNicolo commented on #3395
Let me understand, in this scenario can I continue use the same code just by adding the `javascriptKey`?

[2017-03-20 19:49] bmhdev commented on #1059
Is this working yet?  I get error:unauthorized

[2017-03-20 19:51] flovilmart commented on #1059
THis has landed 10 months ago: https://github.com/ParsePlatform/parse-server/pull/2574

[2017-03-20 23:51] rferbesa opened #3654 "Android doesn't receive push notifications from Parse Server"
Hi!
Since I didn't have success asking this in Stackoverflow I'm trying this way.

I've migrated my Android and iOS apps from parse.com to Parse Server. After the migration, everything is working well but the push notifications to Android devices (they are working well to my iOS app).

This is what I've done so far.

**1. In my Parse Server** code (on Digital Ocean by the way), in /home/parse/inde

[2017-03-21 01:55] code-bash commented on #2952
Any update?

[2017-03-21 02:05] flovilmart commented on #2952
Didn't get a chance to look at it, I'd have to dig deeper or you can probably provide a PR or a failing test to start with (through a PR) so we can have a good grasp of the different options for the fix.

[2017-03-21 03:54] profjared commented on #1282
^ +1 @sidan5

[2017-03-21 12:22] mman commented on #2255
I have started getting ``invalid session token code=209, message=invalid session token`` today after upgrading to 2.3.7. Looking at ``Auth.js`` line 60 and investigating I have found out that there are actually two different session ids for the same user and same installation-id.

Looking at their timestamps they are actually pretty weird as they are ``_created_at`` few milliseconds apart...

Not

[2017-03-21 12:41] mman opened #3655 "invalid session token code=209, message=invalid session token on v2.3.7"
### Issue Description

I have started getting the error ``invalid session token code=209, message=invalid session token`` after upgrading to 2.3.7 earlier today. Looking at now closed bug #2255 and at the source code the root cause seems to be that there are two session ids present for the same user and same installation id created and updated around the same time.

Not all API calls generate this

[2017-03-21 12:59] flovilmart commented on #3655
The description is pretty clear, thanks for the report. Do you by any chance have:

- http requests logs (to see is 2 fast consecutive requests triggered it)?
- any cloudcode hook on _Session that could perhaps be problematic?

[2017-03-21 13:11] mman commented on #3655
No cloudcode, just an iOS SDK from September, I'm trying to gather how many session rows are duplicated and looks like quite a lot... I'm trying to find some recent duplicates so that I can find the matching HTTP calls...

[2017-03-21 13:16] mman commented on #3655
I don't have the detailed HTTP logs but I think this is what it looks like:

[code]

[2017-03-21 13:33] mman commented on #3655
Just for the record I have now downgraded back to 2.3.2 which I know is not generating the message as I'm not yet sure whether the error 209 is not logging my users out as a side effect.

I think the questions that I have for the moment:

1. Looks like duplicate sessions are generated by quick successive ``POST /login`` HTTP requests. If this is indeed true, parse server should update the existing

[2017-03-21 13:40] flovilmart commented on #3655
The problem with that is that when the login occurs twice, no session is recorded in the database yet.

It should be 'harmless' but no guarantee for sure.

that seems reasonable. But you can't guarantee for sure if you won't delete the session token being used. As this is a race condition, there's no way to know for sure which session token is being used. from the _Session table.

Do you have a lo

[2017-03-21 14:02] mman commented on #3655
I'm using this query to find out duplicates by I'm not a mongo expert so I have not yet found out how to actually count how many users are affected. Do you know how to modify the group aggregate to return how many sessions are duplicated?

[code]

[2017-03-21 14:50] mman commented on #3655
To confirm. I have now been able to reproduce the problem and it is indeed a bug in my iOS app where certain conditions trigger double login API call.

[2017-03-21 14:51] flovilmart commented on #3655
nice, you should fix it too :) we can find a workaround in the same time.

[2017-03-21 15:28] LucasBadico commented on #1855
Guys, same thing with my application, and in same date. This is a s3adapter problem!

[2017-03-21 15:30] flovilmart commented on #1855
@LucasBadico can you expand on that?

[2017-03-21 15:31] LucasBadico commented on #1855
@flovilmart sorry, I read and write a detail wrongly... fixing it and aswering you... a moment.

[2017-03-21 15:36] LucasBadico commented on #1855
@flovilmart so, I have this app up and running with a parse-server on digital ocean. Yesterday my images are saying this

[code]

[2017-03-21 15:38] joy4eg commented on #1855
@LucasBadico Please, explain your problem more detailed.
As about me, we fixed this issue a few mouth ago ... we just switched to RockDB and created indexes for important data, now all works fine. (DigitalOcean)

[2017-03-21 15:40] LucasBadico commented on #1855
What type of information do you guys need? the configuration setup?

[2017-03-21 15:41] flovilmart commented on #1855
@LucasBadico that's an issue with S3, not sure how to help there. Also, can you please open a new issue as this one has been closed for a while, and what related to an imcompatibility with the mongoDB driver that we addressed already.

[2017-03-21 15:45] mman commented on #3655
Bug fixed and retested in the app beta, but it will take many months before it will spread to the users.

In the meantime due to the nature of the bug hitting the /login API endpoint twice from the same device quickly many devices will be duplicating my session rows over time.

I see two ways forward:

1/ Investigating what exactly is happening on the Parse iOS SDK side when it receives error 209

[2017-03-21 15:47] LucasBadico commented on #1855
@flovilmart oks! thanks! I will.

[2017-03-21 16:06] steven-supersolid commented on #3655
You could also add a unique index to _Session on installationId and _p_user but will need to fix your existing bugged sessions first.
This is also something that could be added to parse-server in a similar way to there being unique indexes on _User. It would have the benefit that the database could not get in a broken state and then I think it would be safe to remove the line from `Auth.js`.

If t

[2017-03-21 16:07] flovilmart commented on #3655
That would be only on Installation, for uniqueness, as a user can have multiple sessions

[2017-03-21 16:17] steven-supersolid commented on #3655
I mean something like the following so only the compound index is unique:
`db.getCollection("_Session").createIndex({"installationId": 1, "_p_user": 1 }, {unique:true})`

This should allow a user to have multiple sessions as long as the installationId is different for each one.

Or would that not work?

[2017-03-21 16:25] flovilmart commented on #3655
uhm right, that could work :)

[2017-03-21 16:46] mman commented on #3655
Creating a unique index across ``installationId`` and ``_p_user`` will definitely ensure there could be no duplicate session for the same installation, but what would happen in my case where two consecutive ``POST /login`` API calls arrive at around the same time? as in my buggy app?

I assume the first ``/login`` that gets a chance to write new session will succeed, and the second ``/login`` will

[2017-03-21 17:04] flovilmart commented on #3655
the second login would fail yes, and that's not what we want or do we?

[2017-03-21 17:42] steven-supersolid commented on #3655
I think it should ideally fail but not sure how your app will handle that.

We had a similar issue with creating duplicate users with the same anonymous id, in which case we added an index on _User. It was better to return an error and deal with it than have to deal with duplicates in the database down the line. However, we use cloud code for all client calls so it was easy to update the error han

[2017-03-21 17:45] flovilmart commented on #3655
Yes I would agree with that, but in a sense, login twice is not 'bad' it's still valid as any of the login call is successful. Which can be more problematic client-side as the SDK may log the user out.

[2017-03-21 17:58] steven-supersolid commented on #3655
I'm not 100% sure on the parse rules for multiple logins from the same installationId. If it can only happen in this edge case of concurrent login then perhaps we can live with it as it is valid to have multiple sessions per _User anyway.

https://github.com/ParsePlatform/parse-server/blob/master/src/Auth.js#L59
Looking again at the code, if looks like there will be an error if there is a duplicat

[2017-03-21 18:00] mman commented on #3655
Looking at the situation from the client side API I think the issue resolves around what should login do when there is already a logged in user.

Either silently succeed, or fail with "error: already signed in, logOut first before doing another login".

I understand all the reasoning and technical details behind this, and I'm fine with either solution. I'd say let's choose the one that makes thing

[2017-03-21 18:07] flovilmart commented on #3655
We can definitely let go through when multiple valid sessions are found. That would solve the issue.

[2017-03-21 18:39] rihadavid commented on #3583
So, I finally decided to try to implement this.

I have ran into two problems.

1) In DatabaseController.prototype.addPointerPermissions, there is aclGroup parameter, which contains acl-info about the user who did the request, i.e. his objectId and names of roles that he is in. The problem is, that it is **names of roles** while for querying the objects that comply with the CLP-Role-Pointer, we wo

[2017-03-21 18:42] rihadavid commented on #3579
Yes, it seems fixed, when I try to add second Role with the same name in Dashboard, it shows me an error and the row is not created. Thanks!

[2017-03-21 19:09] dafinley commented on #3654
I think your missing a few steps from this tutorial https://firebase.google.com/docs/android/setup
mainly around your build.gradle and I ended up adding a google-services.json file as well

[2017-03-21 21:18] rferbesa commented on #3654
Hi dafinley!

Yes, when I coded my app with Parse.com Android still used GCM to send push notifications, I don't have anything related to FCM in my code. So then, I have to migrate from GCM to FCM in order to have my push notifications working again?

[2017-03-21 21:54] natanrolnik commented on #3579
Great! Thanks for providing a good and actionable bug report!

[2017-03-22 00:53] awgeorge commented on #1014
Any chance this has snuck back into 2.3.6? matchesKeyInQuery is always returning an empty set.

[2017-03-22 01:04] flovilmart commented on #1014
We usually don't remove tests, in order to prevent regressions. Can you open a new issue as it's been closed a while ago?

[2017-03-22 01:33] wabirached commented on #3313
I'm going to grab this issue as it doesn't seem to have been worked on yet (no update since February 13th) and I need it for my app. I'll submit a PR soon.

[2017-03-22 01:39] flovilmart commented on #3313
There's already 2 PR open for supporting that, with 2 approaches. Let's discuss pros/cons of those approaches on the PR's

[2017-03-22 01:41] wabirached commented on #3313
Oh, good to know! Thanks for saving me the trouble. I'll take a look at the PRs.

[2017-03-22 03:03] jenlai1345 commented on #3654
I have the exact same problem - followed everything on Parse's instruction to set up Push (not using Firebase).
IOS devices successfully receive push sent from my Parse Cloud Codes, but Android devices didn't.

Any hint or help is great appreciated!

[2017-03-22 03:20] dafinley commented on #3654
I'll know for sure when I finish tomorrow but yea everything is in FCM now and it definitely requires some changes to your Android app. iOS pretty much worked seamlessly

[2017-03-22 05:33] jenlai1345 commented on #3654
Thanks for the help.
I signed up for Firebase, created a project, inserted the senderId and serverKey into my ParseServer configuration, also changed the senderId in the Manifest file's meta-data tag.

However, when I did a test Push (via local-hosted dashboard), it shows "0 Push sent" for android devices (IOS devices received the test push).

I'm really scratching my head here.....

[2017-03-22 05:35] dafinley commented on #3654
What does your index file look like?

[2017-03-22 06:00] dafinley commented on #3654
This is an FCM Messaging sample Android App https://github.com/firebase/quickstart-android/tree/master/messaging/app

[2017-03-22 06:47] jenlai1345 commented on #3654
var api = new ParseServer({
  databaseURI: databaseUri || 'mongodb://localhost:27017/dev',
  cloud: process.env.CLOUD_CODE_MAIN || __dirname + '/cloud/main.js',
  appId: process.env.APP_ID || 'xxxxxxxxxxxxxxxxxxx',
  masterKey: process.env.MASTER_KEY || 'xxxxxxxxxxxxxxxxxxx', //Add your master key here. Keep it secret!
  serverURL: 'http://lofoparse-env.ap-northeast-1.elasticbeanstalk.com/parse',

[2017-03-22 07:08] dafinley commented on #3654
Have you tried to send a push notification from your FCM console.  Its going to look something like this https://console.firebase.google.com/project/**project-id**/notification/compose
If you can successfully send the notifications from the console, then you'll know its your parse server.  Otherwise, it's your android application.

[2017-03-22 07:15] jenlai1345 commented on #3654
Yes I tried sending push from Firebase console too. It also shows that "0 push sent". So the problem is somewhere in my Android app codes....

[2017-03-22 07:30] dafinley commented on #3654
Did you override FirebaseMessagingService and FirebaseInstanceId?

[2017-03-22 07:46] jenlai1345 commented on #3654
No, I used the default gcm settings outlined in the Parse Server wiki.

[2017-03-22 07:59] dafinley commented on #3654
I was able to receive the fcm push notifications from the firebase console, but I did override the FirebaseMessagingService and FirebaseInstanceId in the Android app.  I would work on that part first then come back to the parse server.

DDDFirebaseInstanceIdService.java
[code]
public class DDDFirebaseMessagingService extends FirebaseMessagingService {

}```

AndroidManifest.xml
[code]

[2017-03-22 12:44] jenlai1345 commented on #3654
Thank you so much for your help.

It turned out, it was a really stupid mistake that I made.
I host parse server on aws and I thought I have pushed the updated index.js file containing the Android push settings (senderId, apiKey) to aws using the "eb deploy" command. However, that command grabs the last-committed codes which did not contain the push configuration.

After I did a "git commit" and t

[2017-03-22 12:57] aaronfranco opened #3657 "Cloud Code unauthorized after update to 2.3.7"
### Issue Description

I updated to the latest version and now my cloud code function returns unauthorized. It was fine before the update.

### Steps to reproduce

[code]

#### Expected Results

This function should return the role of the user that is making the request.

#### Actual Outcome

The function returns unauthorized.

### Environment Setup
[code]

The server is running locally or remote

[2017-03-22 13:19] flovilmart commented on #3654
@jenlai1345 yeah, however, if git is 'not' installed it will zip it all. Confusing AF!

[2017-03-22 13:19] #3654 closed

[2017-03-22 13:29] aaronfranco commented on #3657
Found that _Roles were deleted when I updated the server.

[2017-03-22 15:03] aaronfranco commented on #3657
fixed by using master key in First()

[2017-03-22 15:03] #3657 closed

[2017-03-22 16:22] wooknight commented on #1440
@indiandragon  - I have a heroku / mlab (mongodb) setup . How did you get your setup working?

[2017-03-22 17:45] rchatham commented on #1027
@mtrezza The two links you have posted above for configuring cgs or s3 adapters link to the same place. I am currently trying to set up a cgs apapter and have managed to get a Parse-Server instance running so far but am sort-of stuck at the moment. Anything to point me in the right direction would be great!

[2017-03-22 19:07] jordanhbuiltbyhq opened #3658 "Account creation succeeds with empty strings for username, email, password"
### Issue Description

If you submit an empty string for username, email, and password and trigger sign up from the iOS SDK, an account is created. A random username is generated. Email is empty string. I assume password is an empty string as well, but I cannot verify because login prevents you from signing in with empty string for the password.

### Steps to reproduce

Run this code on iOS (SDK 1

[2017-03-22 19:25] rferbesa commented on #3654
Hi! Sorry for reopen this but after following all these steps I can't send push notifications to Android. But I think I'm a bit closer.

I've migrated my project from GCM to FCM.
I've updated Parse Server to use the new Server Token and the new senderId (this didn't change by the way which I found it logical).
I've integrated Firebase to my Android Studio project.

The first thing I've seen is tha

[2017-03-22 20:59] dafinley commented on #3654
Can your Android device receive notifications from the Firebase console?

[2017-03-22 21:29] rferbesa commented on #3654
Yes, I've just tested and after setting the token in the firebase console the push notification is received properly in my Android device. Could this confirm that the problem is that deviceToken is undefined in Parse Server?

[2017-03-22 22:24] dafinley commented on #3654
Set your VERBOSE=1 to see what the output is after you push...it should tell if your having issues.
For example after you execute the push the logs might say

[code]

[2017-03-22 23:01] rferbesa commented on #3654
I'm not sure if I'm doing this well. I've set verbose:true in my index.js file, and I've sent an iOS push (success) and an Android push (fail) but:
- In Parse dashboard Logs/info it says "no logs in the last 30 days".
- In the file ./logs/parse-server.info.2017-03-22 there is nothing related to push notifications.

How should I enable and check the logs?

[2017-03-22 23:04] dafinley commented on #3654
If your on a linux box you can

[code]

But after you finish do
[code]

You'll see something like this on startup

[code]

[2017-03-22 23:17] dafinley commented on #3654
If your Installation does not have a deviceToken I dont think the Parse Server will send it a notification

[2017-03-22 23:17] rferbesa commented on #3654
Hi dafinley!

Before your last post I've been testing android push notifications setting manually the firebase token in Installation table with Parse Dashboard, and the push notifications have been received.
Then I've clear again firebase token and the push notification has not been received.
So this confirm that all is well configured but the problem is that devicetoken is empty.
Since Android de

[2017-03-22 23:19] rferbesa commented on #3654
I think our posts have been send at the same time ;-).

Just for summarizing:
Since Android device cannot update that field (read-only) how could I update it? And maybe more important why Parse is not generating this value automatically with every new installation?

[2017-03-22 23:23] dafinley commented on #3654
Honestly, I don't know.  My old device installs cause Sender Id Mismatch which makes sense but they also have deviceTokens, but new installs do not have deviceTokens.  So I am looking for a solution as well.

[2017-03-22 23:31] dafinley commented on #3654
The short term solution may be to just send an api request to the fcm console from cloud code and only use parse for sending to ios until you get to a 3rd party solution

[2017-03-22 23:35] rferbesa commented on #3654
I'll probably test with this solution: #3099

[2017-03-22 23:46] dafinley commented on #3654
All of my ios installations have the deviceToken field populated

[2017-03-22 23:47] flovilmart commented on #3654
If there's an issue with the android SDK for registering deviceToken's probably, you should open an issue on the android SDK repo. @rogerhu what do you think?

Also, you should probably not trust anyone's built SDK's but the official one's

[2017-03-23 00:03] rferbesa commented on #3654
Hi flovimart!

I've checked that iOS SDK has a specific method to update deviceToken. Maybe Android should have another one?
As you say I don't trust too much in non official built SDKs.

[2017-03-23 00:18] flovilmart commented on #3654
What's odd is that the android SDK doesn't have a public method to set the deviceToken, whatcha means it gathers it by itself. Maybe a quick look at the source would tell you why it doesn't set it .)

[2017-03-23 00:41] rogerhu commented on #3654
Take a look at http://guides.codepath.com/android/Push-Notifications-Setup-for-Parse.  I've spent many hours dealing with validating Push config setups on Android and trying to explain it to others.  I think there are more sane ways going forward but you should run through the checklist there (especially the AndroidManifest.xml file configs_

[2017-03-23 00:51] rferbesa commented on #3654
I've just fixed it! My problem was due to the migration process from GCM to FCM. This process sais to remove all permissions and services related to GCM from AndroidManifest.xml and add those related to FCM.
After enabling verbose level in Android Parse SDK I've seen that the problem was due to missing permissions.
And finally, after some tests, adding again to my AndroidManifest.xml the permissio

[2017-03-23 00:54] dafinley commented on #3654
Can you post your updated AndroidManifest

[2017-03-23 00:57] rogerhu commented on #3654
See http://guides.codepath.com/android/Push-Notifications-Setup-for-Parse#add-push-permissions

[2017-03-23 00:59] dafinley commented on #3654
I already had those permissions from that link. I'll just check the error logs when I get home

[2017-03-23 01:04] rferbesa commented on #3654
This is my Android manifest:
[code]

[2017-03-23 01:04] rferbesa commented on #3654
I think the services are very important too in this case.

[2017-03-23 01:32] rogerhu commented on #3654
Yep everything is important. :)

http://guides.codepath.com/android/Push-Notifications-Setup-for-Parse#troubleshooting

[2017-03-23 02:12] flovilmart commented on #3654
@rogerhu, this guide is 💯.

[2017-03-23 02:32] wabirached commented on #3658
Hey @jordanhbuiltbyhq, I just fixed this issue in PR #3650 and the fix should be out in the next release.

[2017-03-23 02:41] trylovetom commented on #3606
Thank A Lot

[2017-03-23 03:00] vferdiansyah commented on #3285
![screen shot 2017-03-23 at 9 49 20](https://cloud.githubusercontent.com/assets/12978330/24229807/100fd276-0fae-11e7-8a18-01177b3e0306.png)

This is what I get when I tried to query using REST API. The value really is reversed.
Any updates on this?

[2017-03-23 03:02] vferdiansyah opened #3659 "Another GeoPoint issue on PostgreSQL"
I think this bug is related with the one I posted in #3285.

Whenever I tried to query a location near some coordinates, it doesn't return the nearest location at all. Instead it returned locations that was miles away from the given coordinates.

I've tried to query it directly from the database and the result was totally different with the one I queried using Parse API.

[2017-03-23 09:03] #3658 closed

[2017-03-23 09:22] marnor1 commented on #3576
We saw the same issue and Node 6.10.0 solves it, however 6.10.1 causes the same issue again.

[2017-03-23 11:47] flovilmart commented on #3285
@vferdiansyah thanks for the PR, there seems to be some failing tests

[2017-03-23 13:16] chlebta commented on #192
@5amfung @tarekskr @gfosco
Is there any help for this ?

I need to run a complexe query where I've to use join and count

[2017-03-23 13:49] dafinley commented on #3654
It looks like I have all the services in the Manifest and no errors in the android.  @rferbesa are you doing anything inside of your InstanceIdService or MessagingService to handle the deviceToken?  Thanks @rogerhu for the article helped get me this far

[2017-03-23 14:10] bjorno commented on #3562
I'm having the same issue as @felipemobile, where no iOS pushes are being sent. I first noticed it on March 17th, when a push failed, where prior to that day all pushes had succeeded. I am running my app off of the parse-server-example, so I am not sure if I am able to downgrade the server version being used. My parse-server-push-adaptor seems to still be on version 1.1.0. I had not made back end

[2017-03-23 14:16] rferbesa commented on #3654
No, I've created both classes with their methods but everything is empty, they have no functionality.
Do your device receive pushnotifications from Firebase console?

[2017-03-23 14:31] dafinley commented on #3654
Firebase console pushes are successful.  So your Installation row in parse server has the deviceToken field populated or your parse server sent the push to the device? My parse server wont even try to send the push if the deviceToken field is empty

[2017-03-23 14:36] rferbesa commented on #3654
In my case, once I re-added to my Manifest all related to GCM and once I make a new installation, the row in PArse Server is created with my device token.
Please, check that (in your android code) once you init Parse you call this:
`ParseInstallation.getCurrentInstallation().saveInBackground();`

[2017-03-23 14:47] dafinley commented on #3654
Yes I do that right after I init and the records get saved into the Installation table just no deviceToken.

This is the manifest if you think you can spot anything weird

[code]

[2017-03-23 15:16] dafinley commented on #3654
Unless I'm missing a dependency?

[code]

[2017-03-23 15:39] rferbesa commented on #3654
At first sight I don't see anything strange. Have you tried to init Parse with Parse.setLogLevel(Parse.LOG_LEVEL_VERBOSE); and check all logs in your android app? This was what pointed me in the right direction yesterday.

[2017-03-23 15:43] chlebta opened #3661 "Complex query"
Sorry for posting this issue here but it's urgent :

I need help for creating an complexe query:

First here's a schema for my db :
![img_1405](https://i.stack.imgur.com/5l0UD.jpg)

- The `friends` model represent the friendship between two users.

- Each `user` has a `city`

What I'm trying to achieve is to create function that take an `userId` as input and return list of cities **Sorted by numbe

[2017-03-23 15:51] flovilmart commented on #3661
we don't provide code level support on this repository, please use Stackoverflow.

[2017-03-23 15:51] #3661 closed

[2017-03-23 15:52] flovilmart commented on #3655
@mman do you want to try open a PR for that issue?

[2017-03-23 16:01] chlebta commented on #3661
@flovilmart  thank you ! another question is it possible to migrate form mongodb to postgres ?
And is parse + postgres stable ?

[2017-03-23 16:05] dafinley commented on #3654
@rferbesa That fixed the deviceToken!!  This was previous developer's app and the name changed but not the package...so I had a typo in the cd2 message and the category for the GCM broadcast.  Good news is that got deviceToken in there.  Tricky news is now that parse can push to the device...it throws a 401 error maybe @rogerhu has seen this

[code]

[2017-03-23 16:14] flovilmart commented on #3661
We don't provide migration from mongoDB to postgres, but you can probably use the ParseObject representation to make it happen. I will not enter the details of such procedure as not supported at the moment.

@kulshekhar is running with postgres and I don't think he has seen any major issue.

[2017-03-23 16:14] dafinley commented on #3654
Had to use the right API key from the Google console.  That gave me a successful push...but didn't actually display the push on the device :)  So definitely getting closer

[code]

[2017-03-23 16:21] kulshekhar commented on #3661
@chlebta I've been using parse with postgres for a few months and I haven't faced any postgres specific issues at all. The setup has an issue with memory leakage but [I don't think that has anything to do with postgres](https://github.com/ParsePlatform/parse-server/issues/2482).

[2017-03-23 16:21] rogerhu commented on #3654
FYI -- if you are using Gradle you can use `{packageName}` as mentioned in http://guides.codepath.com/android/Push-Notifications-Setup-for-Parse#add-push-permissions so you don't have to worry about the app name misconfig.

[2017-03-23 16:27] chlebta commented on #3661
@kulshekhar I' thinking to migrate vers postures because it provide more consistance and also it support complex query (like join and much more)
So I need you're opinion about that is it the right decision ?
Also is possible to query the postgres db directly from parse then convert the result to pfobejct ? (Since pfquery doesn't support join query)

[2017-03-23 16:46] kulshekhar commented on #3661
@chlebta

The key thing is that if you want to execute queries that can't be handled by parse natively, you're going to need another server to connect to your database and execute those queries. Now this server can be public facing or, as in my case, serve as a local service which gets consumed from cloud code. You'll also need to ensure that this part honors the permissions structure your app has

[2017-03-23 16:50] dafinley commented on #3654
Scheduled Push Successfully received from parse server...This was the last step integrating agenda with parse server. Thanks Everybody

[2017-03-23 17:04] chlebta commented on #3661
@kulshekhar
what I meant is : inside the server is it possible to write code in nodjs to interrogate the postgres db and then convert the result to parse objects?
The cloud function it will allow only to communicate between server and mobile.

Because all what I need is in some cases I've to use join table !! like in my example below

[2017-03-23 17:06] kulshekhar commented on #3661
@chlebta yeah, that's possible. [You can mount parse-server on a regular express app](https://github.com/ParsePlatform/parse-server#parse-server--express)

[2017-03-23 17:56] mman commented on #3655
@flovilmart I have taken two days to let the idea settle down a bit and to think about potential implementation given my limited knowledge of the parse server internals.

I'm now inclined to suggest that the server should allow multiple sessions per user and device as there is no easy way to allow only one session per user / device without some kind of locking and/or making the second login fail a

[2017-03-23 17:57] rankinit opened #3662 "Twitter Login from Parse"
Using the latest version 2.3.7

Not sure if this is a Parse-server or Parse-SDK-iOS-OSX or Parse's TwitterUtils (or even Twitterkit) is the correct place for this issue. Trying to login into from my ios App using Parse UI to Twitter.  Parse UI seems to work as I have the profile image and handle of twitter user.  When I use TwitterKit to login and start a session from Parse using the PFTwitterUtil

[2017-03-23 18:02] mtpeoples commented on #3223
@acinader Hello, I'm having an issue involving files being stored in http and this is the closest issue I could find. I am not using any file adapter, more or less the example server out of the box. My serverUrl is has https but my webapp retrieves all files (in my case it is all images) through http, causing my browser to create mixed content warnings. I'm going crazy trying to figure this out, b

[2017-03-23 18:24] woodardj opened #3663 "Does the SCHEMA cache actually work?"
I've just enabled the RedisCacheAdapter, and by default, it seems to be caching users and roles just fine, and according to the TTL that I've set (on parse-server 2.3.7).

However, the __SCHEMA cache defaults to 5 seconds, which I'm not sure would be of any value. There's this note in the definitions file for the defaults: https://github.com/ParsePlatform/parse-server/blob/2.3.7/src/cli/definition

[2017-03-23 18:38] acinader commented on #3223
well @mtpeoples i don't know the answer exactly, but let's take a look and see what we can learn....

if you're not setting an adapter, then i think you're using the grid store adapter.  the file path is figured out here: https://github.com/ParsePlatform/parse-server/blob/master/src/Adapters/Files/GridStoreAdapter.js#L65

so you need to know what & why the config.mount value is what it is.

https:

[2017-03-23 19:16] mtpeoples commented on #3223
@acinader Thanks for the quick response! I added publicServerUrl as a property in the constructor for `ParseServer`, but it does not seem to have changed anything.

[2017-03-23 19:35] acinader commented on #3223
DOH, well that's what you get for copy and pasting my suggestions ;)

Can you see the typo in my answer to you that is causing the correct solution to fail?

Here's a hint: https://github.com/ParsePlatform/parse-server/blob/master/src/Config.js#L188

good luck!

[2017-03-23 19:41] mtpeoples commented on #3223
changed `publicServerUrl` to `publicServerURL` and it worked like a charm! Thank you so much for your help!

[2017-03-23 20:06] acinader commented on #3223
worth noting that if either you or i had just read the comment right before your question......

[2017-03-23 20:13] dpoetzsch commented on #3576
@marnor1 Same here (we use scalingo which is very similar to heroku though)

[2017-03-23 20:29] flovilmart commented on #3576
Not sure if it should be reopened as it seems to be nodejs version dependant.

[2017-03-23 23:21] rdbayer opened #3665 "Parse.Object.saveAll() does not propagate sessionToken for all objects being saved"
When calling Parse.Object.saveAll(array, {sessionToken: request.user.getSessionToken()}), only the first object would be saved successfully, while later objects would encounter an 'Object not found' error.

If I instead do a Parse.Promise.when where I save each object individually with the sessionToken, it works fine.  Another workaround is using {useMasterKey: true} instead of the session token.

[2017-03-23 23:33] flovilmart commented on #3665
Do you have server logs when running with VERBOSE=1 please?

[2017-03-23 23:39] mginz83 opened #3666 "Pin in background"
What's the best way to work with pin in background? I need to have faster load speeds so I need to store data locally. But do I call into the server, and if e is null, do I then pin it into the background? When if I am saving information into parse, do I save it into pin during g the save I background?

What's the best way?

I have ListView, gridviews, etc, I just need faster load speeds.

[2017-03-23 23:56] taylorknopp opened #3667 "Apple Push notifications not sending."
I am running the example server but I have updated it to Parse-server version 2.3.7 The apple developer I am working with has push notifications working with FireBAse, so we know that our issues are not client side. No matter what I do we can not get push notifications via APNS to send.  I have checked that all the installation data is present including device token and such.For testing, we have t

[2017-03-23 23:58] rdbayer commented on #3665
Here are what I think are the relevant parts.  Let me know if you're looking for something else.

### Request

[code]

### Response

[code]

### Extra Info

In case it helps, I should also mention that the context is that this is executing from within a cloud function (Parse.Cloud.define())

[2017-03-24 00:02] flovilmart commented on #3666
Unrelated to parse-server please open on the particular repository.

[2017-03-24 00:02] #3666 closed

[2017-03-24 00:05] flovilmart commented on #3667
Without more informations, like running the server with VERBOSE=1 and providing the relevant logs we can't help with the issue.

Did you follow step by step the push notification configuration guide?

Closing, please reopen when the issue template is filled correctly.

[2017-03-24 00:05] #3667 closed

[2017-03-24 00:22] taylorknopp commented on #3667
I'm not 100% sure how to set VERBOSE=1?

[2017-03-24 00:27] pvijayen commented on #3562
Having the same issue, iOS pushes are stuck at "Sending" on the dashboard

[2017-03-24 01:10] flovilmart commented on #3562
I plan to change he way the state is changed from sending to sent in the next release. Perhaps aggressively right after all batches are scheduled. Then, you can check number sent that should properly reflect the counts.

[2017-03-24 01:29] taylorknopp opened #3669 "Apple Push Not Sending Again"
I believe i filled out all the needed information this time.

I am running the example server but I have updated it to Parse-server version 2.3.7 The apple developer I am working with has push notifications working with FireBAse, so we know that our issues are not client side. No matter what I do we can not get push notifications via APNS to send. I have checked that all the installation data is p

[2017-03-24 01:39] flovilmart commented on #3669
Seems that your options are malformed, there are 2 } } to close the android options.

[2017-03-24 01:46] taylorknopp commented on #3669
You mean in the Configuration File? If so can you show me how it should be, as I get syntax errors when I try and change it.

[2017-03-24 02:15] #3669 closed

[2017-03-24 05:19] rankinit commented on #3662
Fixed on my end. Issue is that I needed to init TwitterKit along with PFTwitterUtils in the AppDelegate. Simple will close... thanks!

[2017-03-24 05:19] #3662 closed

[2017-03-24 09:22] chlebta commented on #3661
@kulshekhar I know it's a terrible idea but I can't find another way to do it ? any help for this one ?

[2017-03-24 09:27] kulshekhar commented on #3661
@chlebta I meant establishing a connection to the database from cloud code is a terrible idea. The rest of it  (mounting parse on an express app, external service, etc) is fine!

I was just trying to illustrate that cloud code isn't really limited to the functionality that was offered on the hosted service.

[2017-03-24 10:57] chlebta commented on #3661
@flovilmart @kulshekhar I've another question about postgres.
I've noticed that pointer are not created as foreign key, why ? and if I change them to foreign could this cause trouble ?

[2017-03-24 11:28] flovilmart commented on #3661
Because that would imply different resolution logic between mongodb and Postgres. Foreign keys, joins etc... don't exist in mongodb, therefore, it wasn't implemented as SQL constructs. Those are resolved at runtime.

[2017-03-24 12:03] kulshekhar commented on #3661
@chlebta to add to what @flovilmart  said, if your schema is stable and if you don't expect to drop/modify a column from the dashboard/parse API, adding a foreign key shouldn't be a problem.

I haven't done this but I don't see any harm in trying this out.

[2017-03-24 12:16] flovilmart commented on #3661
To he different that a pointer is a string worth the form _p_<className>_<objectid> IIRC

[2017-03-24 12:54] flovilmart commented on #3663
Thanks for reporting the issue, do you have an idea how we could write a failing test for that?

[2017-03-24 12:56] flovilmart commented on #3655
I'll have a look, we should properly handle those cases.

[2017-03-24 13:03] flovilmart commented on #1282
It means à that for a given deviceToken/bundleId pair, the connection to APNS is unable to deliver the notification.
That can be caused by a number of reasons, like sending a notification to a deviceToken acquired by the wrong environment (prod vs dev) etc...

[2017-03-24 13:29] profjared commented on #1282
@flovilmart - in my case I receive an error, but the push actually does reach my device

[2017-03-24 13:31] profjared commented on #1282
Actually - I've been pushing to a channel - and I bet one of the devices is not prod, so it throws an error. I'll go ahead and clear my device list and see if that helps.

[2017-03-24 13:50] chlebta commented on #3661
thank you :)

One last question : what's the function that transform a `a select result` to PFObject ? and how to call it !
I will try to create function in cloud code that request the postgres db directly then convert the result to project and send it back to mobile.

[2017-03-24 15:49] chlebta commented on #3661
@flovilmart @kulshekhar
When uploading files to server ( the database is postgres) I get this error :

[code]

[2017-03-24 16:02] kulshekhar commented on #3661
@chlebta you have to use something else for file storage (S3, etc). By default, parse uses mongodb's GridStore. But since you're not using mongodb, this isn't available.

[2017-03-24 16:05] chlebta commented on #3661
@kulshekhar  I'm already using server adapter :

[code]

[2017-03-24 18:44] davidju commented on #3646
To include other js files in main.js, the code is `require("cloud/filename.js");` right? Because when I do this, the cloud code crashes, even if the other js file is empty.

[2017-03-24 19:08] davidju commented on #3646
Never mind, issue is resolved. To include other js files it is supposed to be `require("./filename.js");`

[2017-03-24 20:09] felipemobile commented on #3562
@bjorno You can downgrade your Parse-server to version 2.3.1 and it will work except for a high volume of push messages (80k installations seems to work fine). Please, check the change log for [more info](https://github.com/ParsePlatform/parse-server/blob/master/CHANGELOG.md).

You can downgrade your Parse-server by running the code:
`$ npm install parse-server@2.3.1`

@flovilmart I'm running my o

[2017-03-24 20:28] flovilmart commented on #3562
I really discourage running multiple parse-server on different ports unless you start multiple node process. the Parse SDK will only be initialized with the last provided AppId.

[2017-03-24 21:01] felipemobile commented on #3562
@flovilmart It's running really fine for more than 20 apps! ;-)

In the parse-server-push-adapter@1.1.0 you were handling all connection callbacks in the APNS.js but in the newest version I can see a huge difference. I will take some time this weekend to check line by line. Unfortunately I did not get a way to debug it yet.

[code]

[2017-03-24 22:52] flovilmart commented on #3562
As long as you don't use cloud code......... we know it can somehow look like it work, but it's really dangerous, you may end up saving data in the wrong app, and that I know it for a fact, as a large rejected PR shows

[2017-03-25 00:58] 6thfdwp commented on #1495
@pbmarcano seems [AnyPhone](https://github.com/parseplatform/anyphone) link cannot be reached any more, can you still access it?

I just built some prototype for phone based login on self-hosted parse server, would be helpful to see original code repo to get the whole flow right

[2017-03-25 01:46] 6thfdwp commented on #1495
@flovilmart I tried `PARSE_SERVER_ENABLE_EXPERIMENTAL_DIRECT_ACCESS=1` on my local server (parse-server@2.3.0), there is no session created when create a new user in the cloud function:
[code]
And then I tried to do cloud `Parse.User.logIn` later to generate associated session, it's created successfully, but `installationId` field missing, the data passed to `RestWrite` is
[code]

If I get rid of

[2017-03-25 01:55] flovilmart commented on #1495
yoi should probably not call login from cloud code. Sessions are tied to the installationId.

Also, i believe you can pass the installationId that was passed to the cloud function call to the logIn options object https://github.com/ParsePlatform/Parse-SDK-JS/blob/master/src/ParseUser.js#L429

This will effectively create a session for the installationId that you gave.

But like I said, you should

[2017-03-25 10:03] 6thfdwp commented on #1495
Great, thanks for the explanation. I'll probably rethink the login flow again.

[2017-03-25 17:33] acinader commented on #3587
one way to achieve this is through a `beforeSave` hook in cloud code.  In the `beforeSave` hook you can validate a submission and set any default values.

I could see an argument for adding the ability to set validation for a class in the dashboard obviating the need for doing it programatically.

[2017-03-25 17:35] acinader commented on #3584
thanks for asking in stack overflow.  I'm going to close this issue here.

[2017-03-25 17:35] #3584 closed

[2017-03-26 13:13] bjorno commented on #3562
@felipemobile That command does not seem to work, maybe because I installed the parse-server by downloading the entire parse-server-example zip file, and then pushed the entire thing to heroku. On my dashboard it just says server version 2.3.7.

[2017-03-26 18:09] felipemobile commented on #3562
@bjorno Maybe you should install by using -g flag, so it will install the package into the global node_modules folder.

`$ npm install -g parse-server@2.3.1`

You can try to clear the cache or remove the folder (rm -rf node_modules):

`$ npm cache clean`

[2017-03-26 22:21] bjorno commented on #3562
@felipemobile Thanks for the suggestions! I managed to fix the problem when I realised that the real issue was that my .p12 cert had expired, and I never uploaded the renewed one. I appreciate you taking the time to help me though!

[2017-03-27 00:16] felipemobile commented on #3562
@flovilmart running one instance of Parse-server in a single node process seems to solve the push issue however it has a downside when running multiple node process (20x) in a single amazon EC2 t2.micro instance.

Can you give me an advice? Have you ever implemented a similar architecture?

[2017-03-27 03:42] Jeff2017 commented on #3665
Same here. I tried parse-server 2.3.2 and 2.3.7.  I didn't use cloud code, just created a https server with databaseURI assigned to 'mongoldb://localhost:27017/parse'

save/saveEventually works fine for each one, but saveAll will save the first one and report 'Object not found' for others.

[2017-03-27 11:19] JackThai commented on #565
@nlutsenko
Can you please explain how to import parse library to share extension?

[2017-03-27 11:21] flovilmart commented on #3562
You should probably scale up this instance, 20 process would require about 4Gb of RAM+. We're running on kubernetes on multiple clusters and AZ's so we have quite a different setup, with different costs too

[2017-03-27 15:10] felipemobile commented on #3562
@flovilmart I scale up to a t2.medium instance and it works however I've found something weird - Pushes are sent to all installations even when I define an audience.

I've created a [shell script](https://github.com/Colubris/parse-server-example/blob/master/colubris_start.sh) that reads the config file and run 'forever' for each instance then I will be able to start or stop each app individually.

[2017-03-27 15:58] rogerhu opened #3671 "Add support for fields in LiveQuery"
### Issue Description

Parse LiveQuery specifications are supposed to take a fields in the query.  Parse server does not handle these fields, nor do the iOS and Android clients.

https://github.com/ParsePlatform/parse-server/wiki/Parse-LiveQuery-Protocol-Specification

[code]

https://github.com/ParsePlatform/ParseLiveQuery-iOS-OSX/blob/master/Sources/ParseLiveQuery/Internal/QueryEncoder.swift

ht

[2017-03-27 19:15] PunkStarStudios opened #3672 "Quickstart Guide? SDK? Broken Link"
Ya - I have no where to post this... It's not a code related issue but rather a website issue.

So under all the various SDK sections from the main Parse website (parseplatform.org) there is a reference to a link " head over to the QuickStart guide " which links to "https://parse.com/apps/quickstart"

Well - they all end up just back at the main parseplatform.org site.

Are those pages gone now? T

[2017-03-27 21:39] johndoehelloworld commented on #3420
@GGross5213 : Was the URL https or http? I added the URL in serverURL, and it still doesn't seem to want to work. Any ideas/thoughts?

[2017-03-28 00:52] johndoehelloworld commented on #411
Was there ever a solution for this? I tried https, http, parse app URL, and localhost in serverURL – none worked. Thoughts anyone?

[2017-03-28 03:29] francisjervis commented on #411
The way I got it to work was by adding
import os
os.environ["PARSE_API_ROOT"] = "http://db.myserver.co/parse"
to settings.py

[2017-03-28 09:12] AmbroiseCollon commented on #3587
The beforeSave hook is what I'm using now. But it much more elegant to just be able to set it directly in the dashboard.

[2017-03-28 09:19] AmbroiseCollon commented on #153
I finally went on using agenda which is based on MongoDB and therefore plays nicely with ParseServer. After trying [Kue](https://github.com/Automattic/kue), node package [crontab](https://www.npmjs.com/package/crontab), standard cron, [agenda](https://www.npmjs.com/package/agenda) ended up being the best option for me.

[2017-03-28 13:57] jaimeagudo opened #3673 "Android deviceToken"
Sorry for bothering with something probably is not a bug: I faced exactly this same error and I confirm `ParseInstallation.getCurrentInstallation().saveInBackground()` does **NOT** save the deviceToken in Android as per my Dashboard so I assume I cannot target notifications for specific devices/users on android without creating channels/topics. https://stackoverflow.com/questions/37799656/set-devi

[2017-03-28 14:26] PunkStarStudios opened #3674 ".NET user won't authorize"
### Issue Description

I am able to authorize a user via REST and OSX just fine. But I am building  VB.NET application (VS2015) to no avail.
I am greeted "Invalid response from server"

### Steps to reproduce

[code]

If I add a "/" to the end of the server address I get an "unauthorized" message back.

#### Expected Results

CurrentUser to be set

#### Actual Outcome

ex.Message = "Invalid respon

[2017-03-28 20:12] mmarshak opened #3675 "Parse server crash without detailed error in VERBOSE mode"
My Parse server is deployed in AWS for long time, and the last time I changed it was a week ago.
Today out of the blue the serve is down, I deployed a server with VERBOSE=1 and it seems that the server crash upon start and does not provide any information.

This is the production environment, any help will be greatly appreciated.

I am running this server locally connected to the same mongo DB, an

[2017-03-29 14:28] drbarto commented on #1942
@flovilmart I maybe have a problem that is related to the mentioned brokenness of `unset`. What's the status of your PR, can you please post a link?

[2017-03-30 06:27] kumareshsaran commented on #166
I am Also got the same issues  in JSON parisng.i am new to swift code so  i don't know how to fix this issues.  please help me to fix this issues

"Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set." UserInfo={NSDebugDescription=JSON text did not start with array or object and option to allow fragments not set.}"

[2017-03-30 07:13] umair6 commented on #2711
@gateway  I am facing similar issue. Most of the time, everything works fine. Some time I see delayed queries and time reaches around 50s. By checking transaction trace on NewRelic, I found out that Middleware:jsonParser is taking much of the time.
Were you able to identify the root cause?

[2017-03-30 14:32] respectTheCode commented on #1023
Any progress on this?

[2017-03-30 14:54] JacobJT commented on #3672
All Parse.com links are redirecting to parseplatform.org.

I've had a PR for the iOS repo open for a while fixing their guide link, and it's gone ignored for some time, despite being a one line change.

Here's the link to the js guide: http://parseplatform.org/docs/js/guide/

Switch out `js` for `ios` or `android` for their equivalent guide.

Here's the main wiki for setting up parse-server: https

[2017-03-30 15:14] flovilmart commented on #1023
Not yet, this is not a feature that is actively worked on, but pull requests or a separate project could take care of it

[2017-03-30 15:15] flovilmart commented on #3672
I have a Pr in progress for it as well, cleaning up all the dead links. I'll publish it soon

[2017-03-30 15:23] respectTheCode commented on #1023
Depending on how you look at this it is either an undocumented "feature" or a huge bug. Either way it has huge and expensive consequences that should at the very least be well documented.

[2017-03-30 15:28] flovilmart commented on #1023
What do you mean by that?

This is neither documented nor a bug as it's just not implemented, neither listing the missing files, nor deleting an existing file through the file adapters.

Because a file could be referenced by multiple Objects, we don't keep a reference count on them.
Steps are relatively easy to implement:

- list all files present in the DB
- list all files present in the bucket/s

[2017-03-30 15:30] JacobJT commented on #3672
If you manage the iOS repo you should approve my PR anyway, because it's my first ever open source PR and I'll be much happier if it's approved, rather than rejected haha.

[2017-03-30 15:33] flovilmart commented on #3672
I don't manage the Parse-UI repo

[2017-03-30 15:39] xor22h opened #3678 "doesNotMatchKeyInQuery and equalTo doesn't work in single query if used for same column"
### Issue Description

Trying to make query by using doesNotMatchKeyInQuery() and equalTo() on same column fails to produce correct output;

### Steps to reproduce

[code]

#### Expected Results

Return post of user provided in equalTo() only if requester (req.user) is not blocked by post author;

#### Actual Outcome

equalTo() takes bigger priority and post is returned even if post author has req

[2017-03-30 15:52] fduch2k commented on #2863
I'm faced with the same problem. After some research I found that `preventLoginWithUnverifiedEmail` checked only in `UsersRouter.handleLogIn`, which is used only as handler for [`/login` api](https://github.com/ParsePlatform/parse-server/blob/29fec01a42dd58b05d0a3d8220df4555bb44d89a/src/Routers/UsersRouter.js#L271). So inside signUp flow `preventLoginWithUnverifiedEmail` does not checked. I think

[2017-03-30 15:59] flovilmart commented on #2863
That's the whole point of, it anyone can signup, but you need your email to be verified to be able to login. In that case, probably the signUp should not issue a session token.

[2017-03-30 16:35] fduch2k commented on #2863
signUp should not issue token, it also should return the same error as logIn (but User should be created)

[2017-03-30 17:05] flovilmart commented on #2863
If this yields an error, user should not be created

[2017-03-30 17:25] fduch2k commented on #2863
So, if server not able to create session (for any reason - db connection error or s.th. else) user which already created must be deleted? Or server should not raise error because user is exists in db?

I don't understand why login should raise error, but signup not.

[2017-03-30 17:43] xor22h commented on #3678
Failing test

[code]

[2017-03-30 17:45] flovilmart commented on #3678
can you open a PR with the failing test? This will help design the fix.

Do you think you can take the fix on?

[2017-03-30 18:03] xor22h commented on #3678
https://github.com/ParsePlatform/parse-server/pull/3679

[2017-03-30 20:49] rogerhu commented on #3673
Right now the Android SDK uses GCM v3.   It will automatically push to your installation when a device token is received.  Even if you are using Firebase you need to follow the setup guide and add the permissions.

http://guides.codepath.com/android/Push-Notifications-Setup-for-Parse

We're in the process of figuring out what to do with Firebase/GCM v3.  For now, device tokens should save by itsel

[2017-03-30 23:36] JoeyBodnar commented on #3654
Hi everyone, very insightful thread here. I have a similar problem but haven't been able to solve it. I set up a new firebase project just last week, so I never used GCM at all. I am abe to successfully receive push notifications from the Firebase console to my android device. And when I send pushes from the Parse console, it says sent, but they are never actually received by the device.

One dife

[2017-03-30 23:57] JoeyBodnar commented on #3654
Also, when I send pushes from Parse Push console, they do not appear in the firebase push console (which they should if FCM is sending them to the device, right?)

[2017-03-31 01:12] rowntreerob commented on #3675
i face very similar errors running parse-server locally after an upgrade on the server ( 2.2 -> 4.4 ) and what i found is that using "sudo" as prefix to the "start" eliminated the errors on server startup. Note that in past , i never had to sudo the command starting parse-server.

[2017-03-31 01:20] mmarshak commented on #3675
Thanks @rowntreerob.
I solved the problem by upgrading node from 4.4.6 to 5.x on AWS and the error vanish. Looks like one of the nam packages that Parse using stop working in node 4.4.6.

[2017-03-31 03:22] acinader commented on #3359
I'd like it if we could substitue bluebird in as the promise library.

both better performing and its got a richer api that I am getting used to having!

not sure what's involved...yet

[2017-03-31 05:22] umair6 commented on #1023
If you are using mongodb then as a workaround, you can write simple script to delete unreferenced file chunks directly from mongo db.
[db_cleanup_script.js.zip](https://github.com/ParsePlatform/parse-server/files/884594/db_cleanup_script.js.zip)
Make sure mongo is installed and running before running this script.

[2017-03-31 11:08] xor22h commented on #3678
It seems that the test passed with postgresql database.

[2017-03-31 11:24] flovilmart commented on #3359
Faster is not a given :/ that highly depends on the nodejs version. Using bluebird, you can swap it globally, and that doesn't require any change in parse-server.

As for the new Promise pattern, well, that implies an extensive rewrite

[2017-03-31 12:25] flovilmart commented on #3678
Yes, that helps pin-pointing the issue in the adapter and not in an upper layer

[2017-03-31 14:22] felipemobile commented on #3562
@flovilmart Android messages are not counting towards the total so the status is stuck in SENDING state.

[2017-03-31 16:45] flovilmart commented on #3562
uhh that's odd, need to check on the adapter why it doesn't count.

[2017-03-31 20:07] ranhsd opened #3682 "Very slow save operation when using one to many Arrays"
Hi, I'm experience some very strange issue with my parse server installation lately.
In my **iOS** app i have a user and each user contains list of other users (those users are friends of the logged in user). In order to do that i created a 0...n from User to User this pointer is stored in a fields which called **friends**

When a user logged in to my app i change his presence from offline to onli

[2017-03-31 20:09] flovilmart commented on #3682
Did you implement it with a List or with a relation?

[2017-03-31 20:12] ranhsd commented on #3682
With a list. Means that the friends column holds an Array
something like:

[[{"__type":"Pointer","className":"Friend","objectId":"syozOQRtM5"},
[{"__type":"Pointer","className":"Friend","objectId":"f6s3pjP9ol"},
....
]

[2017-03-31 20:19] flovilmart commented on #3682
are the operations reaching parse-server or is it slow in the SDK itself?

[2017-03-31 20:20] ranhsd commented on #3682
It looks like it is related to the SDK itself because i created some sample app in JS and use JS SDK and it works very well there. What do you think? this is a bug in the iOS SDK ?

[2017-03-31 20:24] flovilmart commented on #3682
Without more infos it's hard to determine.

[2017-03-31 20:31] ranhsd commented on #3682
Ok. I think i see what the issue is. When i disable the local data store everything work normal. Do you have a clue why? I understand that the object is being pinned to the local data store but why it takes so much time to pin the objects ?

[2017-03-31 20:45] flovilmart commented on #3682
I'm not sure, feel free to open a PR if you find a proper resolution.

[2017-04-01 00:17] bendigi opened #3683 "Setting Rest and Client key on server breaks iOS app"
### Issue Description

The issue is quite simple to explain and even easier to reproduce.

### We have

1. Parse Server with app id and master key
2. iOS with app id and **client** key
3. JavaScript with app id, **rest** key and master key

As far as we know the rest key and client key are ignored by the server because they are not set.

### What we want to do

Enable rest key and client key on th

[2017-04-01 14:15] dafinley commented on #3654
I would put verbose on parse server and see the logs while the parse server attempts to send the push notifications.  It will list out every device it tries from your targeting and little bit of information about what happened.  You might just try to inspect the latest Android SDK for push notifications to see exactly how their api request is generated.

[2017-04-03 01:05] devKC opened #3684 "notEqualTo query not working"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-04-03 02:10] camdagr8 opened #3685 "Error: No compatible version found: uws@^0.13.0"
When I run:
[code]

I get the following errors:
[code]

### Environment Setup

- **Server**
  - parse-server version: 2.3.2
  - Operating System: MacOS El Capitan
  - Hardware: MacBook Pro (Retina, 15-inch, Mid 2014)
  - Localhost or remote server? (AWS, Heroku, Azure, Digital Ocean, etc): localhost and remote (IBM Bluemix)

[code]

[2017-04-03 10:04] steven-supersolid commented on #3683
Can you post an example of your parse-server constructor when it is working and not working?

If you specify any key in parse-server then that key is checked if present in the request from the client and other keys not specified will be invalid. E.g. if you specify only REST in parse-server then client key will no longer work. If you want to change your REST key then you must supply the new REST k

[2017-04-03 11:43] tinocosta84 opened #3687 "Wildcard / Regex for where parameter in JS"
Is is possible to include the regex parameter for the where parameter fieldName in Rest: eg;

`params: {
					//limit: 5,
					where: {
						[fieldName]: {
							'$regex': val
						}
					}
				}`

[2017-04-03 11:52] tinocosta84 commented on #3687
`where: {
						'$or':[
							{'wins': {
							'$gt':150 }
							},
							{'wins': {
							'$lt':5 }
							}
						],`

[2017-04-03 11:52] #3687 closed

[2017-04-03 12:39] flovilmart commented on #3685
This is gonna be solved with next release

[2017-04-03 12:39] #3685 closed

[2017-04-03 12:40] flovilmart commented on #3682
closing as issue has been isolated into the iOS SDK

[2017-04-03 12:40] #3682 closed

[2017-04-03 13:01] camdagr8 commented on #3685
Any ETA on when the next release is?

[2017-04-03 14:09] flovilmart commented on #3685
probably this week

[2017-04-03 18:04] santiagoarriaga commented on #2861
I was having this exact problem when trying to configure livequery using a server port like 80300 in a local installation ( I left parse server port at 1337 ). There were no errors or messages or nothing, it just didn't work. As soon as I defined a port like 8030 for live query it all started working and 'open' and 'create' events are now receiving events perfectly.

Note that in the client I also

[2017-04-04 09:24] bendigi commented on #3683
## How embarrassing .....

I wrote my response, formatted all the code snippets, removed all the keys and replaced them with random numbers and then I saw it.

WE SPELLED clientKey wrong, like cientKey and I only noticed it once the spell checker underlined it with red.

I will try this again and if necessary re-open.

[2017-04-04 09:24] #3683 closed

[2017-04-04 10:13] kelset commented on #3017
Hey, @dewhacker have you found a way to refresh the access token "cleanly"?
I'm sort of facing the same issue: from time to time I need to handle expired/invalid tokens but it looks to me that there are no methods to refresh/get new ones without forcing the user to re-login.

[2017-04-04 10:18] kelset commented on #1455
Any news on this?

[2017-04-04 12:01] virtualtoy commented on #3553
@3rand in my case failing batch request was caused by invalid parse-server config. `publicServerURL` didn't match `serverURL` (mount path was missing)

[2017-04-04 14:25] cbess commented on #2985
For now, I decided to go the single page application route (using Vue.js). I store the session token on the client and upon refresh, I use `Parse.User.become(...)` from the stored session token, login if needed, etc.

[2017-04-04 15:07] tinocosta84 opened #3688 "how do I parse int from a serialize form array after they have been stringyfied, a beforesave method or something in javascript"
[code]

[2017-04-04 17:17] medispanu opened #3689 "emailVerified issue during User update"
### Issue Description

When I update a User object, the field verifiedEmail is forced to false even though setted to false

### Steps to reproduce
- my configuration
  verifyUserEmails: true,
  emailVerifyTokenValidityDuration: 2 * 60 * 60, // in seconds (2 hours = 7200 seconds)
  preventLoginWithUnverifiedEmail: true,

-It's not present any configuration r function in cloud main.js file

- Update

[2017-04-04 22:37] #3448 closed

[2017-04-05 05:06] wooknight opened #3690 "Unable to stream Video using PFFile"
http://stackoverflow.com/questions/43360204/unable-to-view-videos-in-ios-app-uploaded-to-heroku-s3-via-parse-server

I would be grateful for any pointers here

[2017-04-05 06:52] xor22h commented on #3678
@flovilmart any help on start hunting this issue by myself? Where should i start? :) Haven't found a place where it sets $dontSelect to a query;

[2017-04-05 06:54] xor22h commented on #3678
Also, as we have failing test (not merged yet) maybe we should add BUG label to this issue?

[2017-04-05 09:04] #3689 closed

[2017-04-05 11:03] Droppix commented on #1023
+1

[2017-04-05 12:11] flovilmart commented on #3678
Yep most likely.

The issue may be isolated in that method: [transformWhere](https://github.com/ParsePlatform/parse-server/blob/master/src/Adapters/Storage/Mongo/MongoTransform.js#L249) which is responsible for transforming the REST query format to the mongo query format.

As you've shown, the query seems to be properly issued on postgres which makes me think it has to be in there.

[2017-04-05 12:29] respectTheCode commented on #1023
If memory was handled the same way this would be a memory leak. I guess you could call this a file leak.

A cleanup scripts is a workable solution to a one time problem but this is not a one time problem. To use a cleanup script in production you have to setup, maintain and monitor the infrastructure to run the cleanup script on a schedule. Then you need to monitor the impact of running that scrip

[2017-04-05 12:48] flovilmart commented on #1023
Originally, on parse.com, that was a cleanup script. Which seems to be efficient enough to work it out. Files can be passed around in different objects, stored in arrays or embedded into objects. THere's nothing that guarantees that one user won't reference the file by the URL, I did that for a project, just using the File as an uploader mechanism but then I would just pass the URL's around.

The

[2017-04-05 22:41] OpConTech commented on #2255
My apologies to the group if this is a dumb question but is there an example somewhere of how to use upgradeToRevocableSession in an iOS client?

 I can't seem to find anything in the documentation or on StackOverflow.

[2017-04-05 23:21] RafaRuiz commented on #3655
are we taking in consideration what we said in:
https://github.com/parse-community/parse-server/issues/2255
??

I was able to reproduce the bug in earlier versions, not in v2.3.7, but it came back again (can't reproduce it like the old way, but it seems it's back!) It's a little bit annoying, I had to restart my server twice, and it's in production :(

[2017-04-05 23:28] charleskoehl commented on #3672
[The js guide](http://parseplatform.org/docs/js/guide/) just disappeared today (returns 404). I was viewing yesterday.

[2017-04-06 00:05] felipemartim commented on #3672
Not only the js guide, but all the docs disappeared!

[2017-04-06 00:12] natario1 commented on #3017
@kelset what do you mean? Assuming you are talking about Facebook tokens, this is Facebook policy - when it expires, the user must login again to your app.

As for updating auth data, it can be accessed as any other key:

[code]

[2017-04-06 00:13] PunkStarStudios commented on #3672
And the API pages

[2017-04-06 00:48] montymxb commented on #3672
@charleskoehl @felipemartim  You can still get the guides at [docs.parseplatform.org](http://docs.parseplatform.org), albeit it looks rather ugly at the moment due to some missing assets.

The source for the docs is on github [here](https://github.com/parse-community/docs). You can check those out and view them, or save them offline while things are being sorted out.

[2017-04-06 04:49] javaboyjunior commented on #999
Confused as to why this doesn't have enough information - the exact steps to reproduce are in the original bug report. Create a class with a geopoint column, add some data, query the class with a $nearSphere query with a limit and a distance and you *always* get back all results. I also have this issue. There's even screen shots...

[2017-04-06 08:08] kelset commented on #3017
@natario1 Oh snap I completely missed that policy, sorry about that (I also found [this](http://stackoverflow.com/questions/30128167/facebook-when-does-the-sdk-refresh-the-auth-token) longer explanation if anyone will ever need).

[2017-04-06 08:49] jmfayard opened #3692 "Broken direct links in README.md"
Hello, the `README` is hard to follow because it contains a lot of direct links that are not direct anymore but instead redirect to a generic page like https://github.com/parse-community/parse-server/wiki and http://parseplatform.org/

I have identified them below section by section

[code]

[2017-04-06 09:00] jmfayard commented on #3692
The same link `http://parseplatform.github.io/docs/parse-server/guide/#push-notifications` is also broken in the README of https://github.com/parse-server-modules/parse-server-push-adapter

[2017-04-06 09:02] jmfayard commented on #3692
That link is also broken on the front page of http://parseplatform.org/

![image](https://cloud.githubusercontent.com/assets/459464/24746155/60c50a28-1ab8-11e7-8d10-3be8c6e1a790.png)

[2017-04-06 12:01] flovilmart commented on #3692
@jmfayard Thanks! I'll Try to fix it all up!

[2017-04-06 12:35] flovilmart commented on #3692
Thanks for reporting @jmfayard! I believe this should be good now.

[2017-04-06 12:37] flovilmart commented on #999
@javaboyjunior We have tests covering this feature, https://github.com/parse-community/parse-server/blob/master/spec/ParseGeoPoint.spec.js#L187 . I'm not sure why you experience such issue.

[2017-04-06 13:40] hbkrunal opened #3693 "A wildcard '*' cannot be used in the 'Access-Control-Allow-Origin' header when the credentials flag is true"
### Issue Description

we are getting below error as explained on [parse server example issue](https://github.com/parse-community/parse-server-example/issues/339)

`A wildcard '*' cannot be used in the 'Access-Control-Allow-Origin' header when the credentials flag is true`

We have found that on [middlewares line](https://github.com/parse-community/parse-server/blob/master/src/middlewares.js#L213)

[2017-04-06 16:08] zhoul-HS opened #3694 "Using PostgreSQL and Android, GeoPoints fields are null because it's __type isn't set to GeoPoint"
### Issue Description
Working on my Android app, when doing a fetchInBackgroundIfNeeded on one of my classes with a GeoPoint field, it returns with that field set to a HashMap instead of a GeoPoint. Looking at the JSON response I get from the server, it returns the field without `__type: "GeoPoint"`.
Looking at Parse-Android-SDK - https://github.com/parse-community/Parse-SDK-Android/blob/ddf8de457

[2017-04-06 17:46] javaboyjunior commented on #999
@flovilmart This was very helpful - thank you for the response. For those facing the same problem as myself and others on this thread, the issue was that we were storing the lat and lng components of a geopoint as strings. It isn't obvious from the console as they look like numbers but when I ran a query, latitude and longitude values were in quotes. I edited the values manually in the console whi

[2017-04-06 18:07] flovilmart commented on #999
@javaboyjunior I should probably not allow strings or convert the strings to numbers for geopoints. We miss that validation somewhere.

For the limit, I'm curious, if you can provide the full logs as well with the newly opened issue that would be helpful!

[2017-04-06 19:04] javaboyjunior commented on #999
@flovilmart I will get on that - thanks very much for your help!

[2017-04-06 19:06] zack1991 opened #3696 "Parse Server handles cloud code request sequentially"
Hi, I am using parse server on my stand alone server(rackspace) for my game. When calling cloud functions from its response time is high takes to much time, sometime it gives response in 20 sec. Currently only 4-5 users are playing.

Server Configuaration : Rackspace server, 4 GB RAM
DB Server : Mongo Atlas, 2GB RAM

When i am using sleep in my parse cloud code then call to my all cloud  function

[2017-04-06 19:40] crifkin commented on #1461
@tarekskr the fix posted for #1461 doesn't appear to be true for Triggers. I see the code that adds this for Functions, but the method that headers would be injected for Triggers (before/afterSave, etc) is much more involved and I've spent several hours digging through code to try to find the place to put this in, so if you see a clear path, please provide guidance or help. thx.

[2017-04-06 20:16] massoud12345 opened #3697 "error: Uncaught internal server error. TypeError: trigger is not a function when using Parse.Cloud.beforeSave and Parse.Cloud.afterSave"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-04-06 20:18] flovilmart commented on #3697
```Parse.Cloud.beforeSave("CLocationObject",useMasterKey = true, function(request,response) {```

you have this ` useMasterKey = true,` which is invalid

replace with:

```Parse.Cloud.beforeSave("CLocationObject", function(request,response) {```

[2017-04-06 20:18] #3697 closed

[2017-04-06 20:20] massoud12345 commented on #3697
Thank you for the quick reply, it wasn't working without useMasterKey = true either. I had tried that and added this subsequently.

[2017-04-06 20:24] flovilmart commented on #3697
also this: `sessionToken: request.user.getSessionToken()` 

Doesn't make sense...

[2017-04-06 20:26] massoud12345 commented on #3697
tried it without as well. I added it after reading the other issues hoping it would solve it. Let me send you the logs when I remove the two you mentioned. Thank you

[2017-04-06 20:30] massoud12345 commented on #3697
error: Error generating response. { Error: unauthorized: master key is required

[2017-04-06 20:32] massoud12345 commented on #3697
so apparently master key is required

[2017-04-06 20:32] massoud12345 commented on #3697
error: Uncaught internal server error. TypeError: trigger is not a function

[2017-04-06 20:33] massoud12345 commented on #3697
when I add back the master key and remove the token portion this is what I get :  error: Uncaught internal server error. TypeError: trigger is not a function

[2017-04-06 20:37] flovilmart commented on #3697
No, this doesn't make sense, the only arguments possible for the beforeSave are className and function.

if the second argument is not a function, that makes sense it doesn't work.

[2017-04-06 20:42] massoud12345 commented on #3697
I'm relaying the log

[2017-04-06 20:43] massoud12345 commented on #3697
let me send you the heroku logs after removing all usemasterkey = true

[2017-04-06 20:45] massoud12345 commented on #3697
2017-04-06T20:42:32.957413+00:00 app[web.1]: error: Error generating response. TypeError: trigger is not a function
2017-04-06T20:42:32.957431+00:00 app[web.1]:     at /app/node_modules/parse-server/lib/triggers.js:414:26
2017-04-06T20:42:32.957431+00:00 app[web.1]:     at Object.maybeRunTrigger (/app/node_modules/parse-server/lib/triggers.js:393:10)
2017-04-06T20:42:32.957432+00:00 app[web.1]:

[2017-04-06 20:47] massoud12345 commented on #3697
With the code below:

Parse.Cloud.define('hello', function(req, res) {
res.success('Hi');
});

var masterKey = 'Key'

var address = "address start";
console.log(address);

Parse.Cloud.beforeSave("CLocationObject", function(request,response) {

var C = request.object.get('UsedName');
var location = request.object.get('location');
var Thislatitude = location.latitude;
var Thislongitude = location.lo

[2017-04-06 20:54] massoud12345 commented on #3697
So apparently
var pushQuery = new Parse.Query(Parse.Installation);
needs to be
var pushQuery = new Parse.Query(Parse.Installation, useMasterKey = true );

[2017-04-06 20:55] massoud12345 commented on #3697
I am still getting
info: afterSave triggered for C for user undefined:
2017-04-06T20:52:14.374151+00:00 app[web.1]:   Input: {"location":{"__type":"GeoPoint","latitude":34.0544108318839,"longitude":-className=C, triggerType=afterSave, user=undefined
2017-04-06T20:52:14.408486+00:00 app[web.1]: error: Error generating response. { Error: unauthorized: master key is required

[2017-04-06 21:16] flovilmart commented on #3697
It should be {useMasterKey: true} not useMasterKey = true

[2017-04-06 21:22] massoud12345 commented on #3697
Thank you, made the change but still get this error:
Error: unauthorized: master key is required
2017-04-06T21:21:22.230507+00:00 app[web.1]:     at promiseEnforceMasterKeyAccess (/app/node_modules/parse-server/lib/middlewares.js:299:17)
2017-04-06T21:21:22.230508+00:00 app[web.1]:     at /app/node_modules/parse-server/lib/PromiseRouter.js:132:22
2017-04-06T21:21:22.230509+00:00 app[web.1]:     at

[2017-04-06 21:23] massoud12345 commented on #3697
Actually let me try to add it to the push functions as well

[2017-04-06 21:28] massoud12345 commented on #3697
info: afterSave triggered for C for user undefined:
2017-04-06T21:26:59.081035+00:00 app[web.1]:   Input: {"location":{"__type":"GeoPoint","latitude":34.05544638319969,"longitude":-118.4249403700232},"DtTimeSeen":{"className=C, triggerType=afterSave, user=undefined
2017-04-06T21:26:59.180313+00:00 app[web.1]: error: Error generating response. { Error: unauthorized: master key is required
2017-04-0

[2017-04-06 21:51] massoud12345 commented on #3697
I think it has to do with the push functions. I'll try to figure it out. Thanks for your help.

[2017-04-06 21:56] massoud12345 commented on #3697
That was the case. It needed the masterkey : true there as well. Thanks again!

Parse.Push.send({

                                                 where: pushQuery, // Set our Installation query
                                                 data: {
                                                   alert: "New C: " + Celebrity + "@" + address  ,

[2017-04-06 21:57] flovilmart commented on #3697
The masterKey: true should be passed alongside the options otherwise you success callback will never be called as it won't be interpreted.

Please visit http://docs.parseplatform.org

[2017-04-06 21:58] massoud12345 commented on #3697
see above. the fix worked. thanks!

[2017-04-06 22:06] massoud12345 commented on #3697
FYI, the cloud code docs don't mention masterKey  http://docs.parseplatform.org/cloudcode/guide/

[2017-04-07 01:43] flovilmart commented on #3697
Yes, but the parse-server guide do at many places, including the example code for push notifications :)

[2017-04-07 01:48] massoud12345 commented on #3697
haha. Thanks either way.

[2017-04-07 02:33] flovilmart commented on #3696
nodejs/expressjs should process the request in 'parallel', but parallel is not the parallel you may think.

nodejs being event driven, when a request arrives to the server, there is no guarantee that this request will be processed immediately, if the runloop is already busy processing another request.

Given the amount of ram you have on your server, you can probably start with the cluster option

[2017-04-07 02:48] flovilmart commented on #3655
@RafaRuiz we need to let multiple sessions for a single installationId, this may happen if multiple login calls are run right after one other.

[2017-04-07 02:55] flovilmart commented on #2255
@OpConTech not sure if you should use `upgradeToRevocableSession` now that parse.com is down. parse-server only use revocable sessions.

[2017-04-07 02:55] flovilmart commented on #2255
@mman you should look into your client code a it seems you're sending out multiple login requests concurrently.

[2017-04-07 03:12] flovilmart commented on #2255
@mman I'm investigating now, and we apply a [limit to the query](https://github.com/parse-community/parse-server/blob/ca286b7108197034a3ff02063a259ff12181a329/src/Auth.js#L52) to get the 1st object, so those concurrent request should be OK. Do you run multiple instances without a distributed cache like REDIS?

[2017-04-07 07:06] s-dm opened #3698 "Cant post/save to parse based application"
Hi, I am pretty darn stuck on this one..

I use a system named NearmeCMS that uses parse as a backend. I have set an app_id and master_key as described, but not all things are working as they should.

The app is built on ionic2 and is a location based app, where you can add places and reviews. The review part work, everyone can post reviews, but adding a new place, editing profiles and uploading i

[2017-04-07 08:23] mman commented on #2255
@flovilmart Yes I have nginx doing SSL termination and load balancing to multiple parse instances that are then talking to the mongo cluster. But in my case it was simply a logic bug that the two login requests are sent immediately after each other thus creating two session ids. Limiting the output of the query to indicated that either of them is valid would work great for my case.

[2017-04-07 09:21] jmfayard commented on #3692
@flovilmart works except for the https links for things hosted on githug.

I added comments in the commit

![image](https://cloud.githubusercontent.com/assets/459464/24793967/3a690bb4-1b84-11e7-95a1-a11ac66a9006.png)

[2017-04-07 11:31] xor22h commented on #3678
It seems the problem might be in RestQuery, not in transformWhere. As transformWhere already receives wrong payload.

RestQuery is actually executing subquery, and adding results to $nin for doesNotMatchKeyInQuery() (pretty much replacing this call with notContainedIn()); Problem is having $eq on same column is handled in wrong way;

If i change `.equalTo("author", postAuthor)` to `.containedIn("a

[2017-04-07 11:35] steven-supersolid commented on #3696
Whenever there is a cloud code request that calls a database function a HTTP request is made from the server back to itself. The default path for this is on localhost so without clustering it will block other requests.

You should check your mongo logs for slow queries first as suggested, but also clustering is a must when using cloud code. Even with clustering you can expect a very few requests t

[2017-04-07 11:38] steven-supersolid commented on #2816
Closing due to merged PR that addresses this issue

[2017-04-07 11:38] #2816 closed

[2017-04-07 11:41] flovilmart commented on #2255
That's the thing, the output is already limited as it gets the 1st result only.
I started to debug this and I can't reproduce this issue locally.

I have 1 sessions created per login call, but subsequent API calls don't fail.

I'll investigate further

[2017-04-07 11:42] flovilmart commented on #3692
Ah right... need to move those to http! Thanks!

[2017-04-07 11:44] #3694 closed

[2017-04-07 11:55] flovilmart commented on #3678
do you have the original payload? if it's probably just a matter of making sure we have:

[code]

[2017-04-07 12:01] flovilmart commented on #3698
You should probably reach out to the authors of that system.

Also, have a look at our docs, http://docs.parseplatform.org

[2017-04-07 12:01] #3698 closed

[2017-04-07 13:03] mman commented on #2255
If you want to reproduce this you have to call PFUser.loginInBackground twice with the same credentials. I'm using it over the internet.

I think the goal is to trigger two parallel mongo _Session.create operations for the same installationId

I'm not sure but perhaps calling it twice over localhost parse-server to the localhost mongo will make the first _Session.create so fast that the other will

[2017-04-07 13:05] mman commented on #2255
@flovilmart To clarify: the second login will not fail. The second login is supposed to create new session row for the same instllationId. What fails is any further API call that verifies the sessionId and finds two rows for the same installationId.

[2017-04-07 13:11] flovilmart commented on #2255
Yeah but it should never return 2 rows, as we apply limit: 1 to the query.
During my tests, I call 3 times the login method, effectively creating 3 sessions, and everything was A-OK, able to make calls with any of the 3 session tokens. What's worrisome is that I can't pinpoint if:

- more than 1 row is returned (limit not correctly processed)
- if no results is returned.

As you can see in your DB

[2017-04-07 13:36] mman commented on #2255
Do I understand you right that you are trying to say that the existing code at https://github.com/parse-community/parse-server/blob/ca286b7108197034a3ff02063a259ff12181a329/src/Auth.js#L56 must already return just one row because it's effectively limited by the ``{sessionToken}`` criteria?

Correct?

[2017-04-07 13:50] flovilmart commented on #2255
By the [limit: 1](https://github.com/parse-community/parse-server/blob/ca286b7108197034a3ff02063a259ff12181a329/src/Auth.js#L51) provided:

[code]

[2017-04-07 18:17] massoud12345 opened #3699 "Push notification to 0 installation"
We use GitHub Issues for bugs.

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

You may also search through existing issues before opening a new one: https://github.com/ParsePlatform/Parse-Server/issues?utf8=%E2%9C%93&q=is%3Aissue

--- Please use this template. If you don't use this

[2017-04-07 18:30] flovilmart commented on #3699
Have you checked the documentation for push? http://docs.parseplatform.org/rest/guide/#push-notification

Also, all parameters are case sensitive, so devicetoken should be spelled deviceToken

[2017-04-07 18:34] massoud12345 commented on #3699
Merci Florent! Case sensitive. And yes I had checked the docs. Thanks again!

[2017-04-07 18:38] zack1991 commented on #3696
Below is the my code -

Parse.Cloud.define("ping", function (req, res) {
    try {
        if (req.user !== undefined) {
            //console.log("User Name--------> " + req.user.get("username"));
            //console.log("User--------> " + JSON.stringify(req.user));
            //update session update_at time
            LoginHelper.updateSessionUpdateTime(req, function (error, sessionData) {

[2017-04-07 18:51] flovilmart commented on #3696
The problem is your sleep method, you're blocking the whole event loop with your while.

you should probably replace

[code]

by

[code]

[2017-04-07 19:11] zack1991 commented on #3696
Ok Fine, Now i just remove the sleep code, I am calling ping request from js sdk client at every 15 seconds its response time is showing sometimes more than 5 seconds , i have set condition on response if response not come in 5 seconds then show week signal. There is any method to improve the performance of parse server and reduced the response time of ping or any cloud request.

[2017-04-07 19:17] flovilmart commented on #3696
I'm not sure what your 'LoginHelper.updateSessionUpdateTime' does but you should probably check what's in it and why it takes so much time.

Before pinning 'on parse-server' the time it takes to respond, you can try to remove your custom code and see the baseline for such requests.

you should be able to serve millions of requests per day with parse-server and respond well below 100ms.

[2017-04-07 19:17] #3696 closed

[2017-04-07 20:26] otymartin commented on #3290
Hey @madsb does this add support for `geoJSON`/2dsphere location queries? That would be a quantum leap for location based applications

[2017-04-08 10:56] iPaulPro opened #3700 "MongoRocks instructions?"
Trying to find this Parse guide on using MongoRocks but it's no longer in the wiki. The docs have dead links everywhere.

[2017-04-08 15:57] flovilmart commented on #3700
What was the original link?

[2017-04-08 16:24] flovilmart commented on #3700
It's there: http://docs.parseplatform.org/parse-server/guide/#using-mongodb--rocksdb

[2017-04-08 19:49] paulovitin commented on #3685
👍

[2017-04-08 19:59] iPaulPro commented on #3700
Great, thanks.

Blog post [here](http://blog.parse.com/learn/engineering/migrating-your-parse-app-to-mongorocks/) pointed to it being at https://github.com/ParsePlatform/parse-server/wiki/MongoRocks

[2017-04-08 19:59] #3700 closed

[2017-04-09 06:00] srameshr commented on #3268
@natanrolnik Here is what I am trying to achieve:
Consider ```User``` class. Now I have 3 parse ```define``` functions that modify and save the ```User``` collection.
[code]

Now the ```afterSave``` block

[code]

Now, ```afterSave``` will be triggered after all the ``` Parse.Cloud.define``` blocks. How do I identify, which ```Parse.Cloud.define``` block triggered the ```afterSave``` inside the ``

[2017-04-09 06:32] Droppix opened #3701 "Question Planing?"
Hi,

Do you have a development plan in the coming weeks / months? Because from the outside, one has the impression that development has stopped!

Best regards

[2017-04-09 13:13] flovilmart commented on #3701
We don't hold a development plan, but we're fully commited to maintain and evolve parse-server.

also I'm not sure why you'd say the développement has stopped. Pull requests are merged on a daily basis, issues are usually answered  and solved within a day as well.

Are there features or bugs you have in mind thar require particular attention?

[2017-04-09 14:46] Droppix commented on #3701
Thanks for your response.

I have been following you since january 2016, and I have seen frequent updates, which answered a lot of bugs / evolutions, but for some time I have the impression that there is no evolution (cf: Cloud Code in Dashboard, Folders in PFFile, Purge file in GridFS...).
For this reason, I think that from a developer point of view, it would be interesting to have a view on the

[2017-04-09 15:28] flovilmart commented on #3701
it's not because those features are not high priority that we don't actively work on evolving the tools.

And those particular features have been heavily discussed and I encourage you to work on them.

An open source community doesn't mean a few maintainers implement all the requested features. It means every single user has the ability to provide meaningful changes to the code base to help tailor

[2017-04-09 16:53] mman commented on #2255
Looking at the condition that leads to throwing the 'invalid session' error again:

[code]

I'm really puzzled, because the other part ``!results[0]['user']`` really is not failing for my records listed above... so I assumed it must be the first condition, so all evidence points towards the direction that ``limit: 1`` in restOptions might be ignored? Where is the ``RestQuery`` coming from? It's a

[2017-04-09 18:25] flovilmart commented on #2255
yep it's part of parse-server code, that's the main class for handling all queries, heavily tested... I'm baffled too.

[2017-04-09 19:36] Neilpoulin commented on #275
Hi, I have a custom email adapter that uses Amazon's SES for sending emails, and it has been working great for months for password resets. I now want to implement email verification, but am having trouble getting the email to trigger.

I saw one comment from @drew-gross about commenting out any beforeSave or afterSave triggers on the _User object, and tried it. That got the mail to trigger and wor

[2017-04-10 00:18] flovilmart commented on #275
Can you open a specific issue so I can have a look?

[2017-04-10 09:22] saikiran644 opened #3702 "How to use master key in .Net (not on cloud code, needed on local code)"
I'm trying on some code where the data should be fetched irrespective of ACL (like using a master key). But I couldn't find it in .Net (where to include). Please help with the issue.

[2017-04-10 10:39] natanrolnik commented on #3702
The best is to create a Cloud function, and call your function from the .Net client. Inside that function, you set `{useMasterKey: true}` as the options for the query.

[2017-04-10 10:39] #3702 closed

[2017-04-10 10:50] natanrolnik commented on #3701
Closing this issue, filing under "reasons why open source might not work". Unconstructive criticism that doesn't help much, and depreciates [all the recent work](https://github.com/parse-community/parse-server/commits/master).

As @flovilmart said, you could help making Parse Server/Dashboad with issues triage, helping others, opening PRs and helping with suggestions/discussions, instead of only o

[2017-04-10 10:50] #3701 closed

[2017-04-10 10:52] zack1991 commented on #3696
Below is my ping cloud code :-

main.js

//Ping request from client
Parse.Cloud.define("ping", function (req, res) {
    try {
        if (req.user !== undefined) {
            if (!req.params.hasOwnProperty(GameConstants.USER_ID)) {
                req.params.user_id = req.user.get("username");
            }
            LoginHelper.updateUserSessionEndDateTime(req, function (error, gameUser) {

[2017-04-10 12:18] saikiran644 commented on #3702
@natanrolnik Thank you so much for the reply. :+1:
But I don't want to do it in a cloud function (I don't want to use limited cloud jobs for this) , instead from the local code itself. Is there any such option to do it that way?

[2017-04-10 12:26] flovilmart commented on #3702
We don't allow masterKeys in the clients for security reasons, as any user would have full control over you parse deployment

[2017-04-10 13:15] natanrolnik commented on #3702
@saikiran644 you don't need a Cloud Jobs for this. A simple `Parse.Cloud.define("YourFunction", function(req, res) {}` with the correct code inside will be enough. Only perform the query from the cloud function in JS, instead of doing it in .Net. And Cloud Jobs or Functions are not limited in any way.

[2017-04-10 16:26] madsb commented on #3290
@otymartin At the moment it's just a feature request, but I agree completely! Hopefully someone with the right coding chops will take a stab at it. Well, at least as soon as the pull request is merged (hint-hint, @flovilmart ;) ).

[2017-04-10 16:48] acinader commented on #275
@Neilpoulin any interest in open sourcing you're ses adapter?  that would be useful for the community.

[2017-04-10 17:18] Neilpoulin commented on #275
@flovilmart, sure thing, i'll get a separate issue opened to track this specifically.

@acinader, I think that's a great idea. I'll start working on breaking it out into a standalone module.

Thanks for the responses!

[2017-04-10 18:43] saikiran644 commented on #3702
Thank You @natanrolnik  & @flovilmart :+1:

[2017-04-10 18:48] saikiran644 opened #3703 "fetch records corresponding to each user when queried with admin role"
Hi,
I need to fetch a particular class(say **Class A**) records corresponding to each user in my parse server, when queried with admin role  which have access to all the records in that particular class (**Class A**).

How can I do that?
Quick help would be greatly appreciated. :-)

[2017-04-10 19:29] acinader commented on #3703
@saikiran644 can you please ask on stackoverflow: http://stackoverflow.com/questions/tagged/parse-server

If you put the link here, I'll answer it for you quickly ;)

[2017-04-10 19:29] #3703 closed

[2017-04-11 04:38] acinader commented on #3688
I really can't understand the question here.

Also, this doesn't sound like a an issue with parse-server, but a question about how to do something.  You should ask on stackoverflow.

[2017-04-11 04:38] #3688 closed

[2017-04-11 07:12] zack1991 opened #3704 "Parse takes to much time to responed to client"
Hi, I am using parse server on my stand alone server(rackspace) for my game.
Server configuaration is -

Server Configuaration : Rackspace server, 4 GB RAM, 2 core
DB Server : Mongo Atlas, 2GB RAM

I am using cluster also.

index.js :-

var express = require('express');
var ParseServer = require('parse-server').ParseServer;
var path = require('path');
var fs = require('fs');
var cluster = require(

[2017-04-11 12:40] funkenstrahlen opened #3705 "Can you please do a release soon?"
I'd really like to use the push notification support for macOS in my app. It has been added in `parse-push-adapter` release 1.3 and is already part of the current master.

Please do a new official release soon, so I can use this code in my parse backend.

[2017-04-11 12:53] flovilmart commented on #3704
So, in order to run load tests, I suggest you don't use chrome, because they limit the number of open connections. I personally use `ab` (Apache Benchmark).

I've run the following tests:

1. declare a cloud function:

[code]

2. Start parse-server (latest) with a local DB

[code]

3. use ngrok to do an internet round-trip
[code]

### 1000 requests, concurrency 10:

[code]

### 1000 requests, conc

[2017-04-11 12:53] #3704 closed

[2017-04-11 12:54] flovilmart commented on #3705
I was about to do it this weekend but got caught on by fixing the docs repo. Stay tuned!

[2017-04-11 13:09] flovilmart commented on #2863
what we should do is simply not return the session token upon signup if the server is configured to require a verified email.

[2017-04-11 13:21] funkenstrahlen commented on #3705
Thanks for the quick response! Happy to hear a release is planned soon :)

[2017-04-11 13:21] #3705 closed

[2017-04-11 13:27] phranck commented on #3705
Yap, that's good news. Happy to hear we can use it soon... 😉

[2017-04-11 13:33] flovilmart commented on #3705
Yes sorry for the delays... Been trapped with sooo many things, there is one PR we should merge before, awaiting review then I'll go ahead.

[2017-04-11 13:54] #3699 closed

[2017-04-11 15:16] PunkStarStudios commented on #3674
Bump

[2017-04-11 15:25] flovilmart commented on #3674
What keys did you set on parse-server? did you provide a dotNetKey?

[2017-04-11 15:42] PunkStarStudios commented on #3674
Use use the "clientKey" for OSX, "restAPIKey" for RESTful, and the "dotNetKey" for the .Net app.
I also tried using the clientKey for the .Net app as well - just in case - but no luck.

(The example above I just put in placeholders - but in real life ;P ... I Copy/Paste the correct keys into the app directly from the Index.JS file setup for that parse server instance)

I assume the "WindowsKey" in

[2017-04-11 17:18] Fedeorlandau commented on #3175
@flovilmart Hi, how are you? Is there any example of how to migrate parseServerOptions.oauth into auth?
Thanks!

[2017-04-11 17:59] flovilmart commented on #3175
There's no need to migrate, just replace...

[2017-04-11 18:17] yuzeh opened #3707 "[idea] Configure Mongo maxTimeMS on a per-query basis?"
For a parse-server talking to Mongo, we can set `maxTimeMS` for all queries, and it is applied on all queries.

I've come across a situation where I would like to set `maxTimeMS` differently depending on the query. For example, queries that end up serving data to end-users likely want a lower timeout than ETL jobs.

Is there value in adding this to the `ParseQuery` interface? If not, what would yo

[2017-04-11 18:36] flovilmart commented on #3707
What do you mean by the ParseQuery interface? In the client?

[2017-04-11 18:47] yuzeh commented on #3707
In this case I my proposal would be a change in the JS SDK (perhaps this is the wrong forum) but my goal is to be able to do this from an app running on parse-server.

[2017-04-11 19:13] flovilmart commented on #3707
I'm not sure exposing timeout options in the wild is such a great practice, would you do it on your backend?

[2017-04-11 19:16] yuzeh commented on #3707
Yeah, that's a good point.

[2017-04-11 19:16] #3707 closed

[2017-04-11 19:19] flovilmart commented on #3707
While I like the idea of specifying additional parameters for mongo queries (like read from secondary etc...) my 2 cents is that the global setting should be enough, or that we provide a hook somehow to customize every single read/writes

[2017-04-11 19:46] otymartin commented on #3290
@madsb
Question & maybe is just my lack of knowledge on the subject but shouldnt it still be technically possible to associate PFObjects with a geoJSON property and use cloud code to perform 2dsphere queries. As I understand these are capabilities existing with mongoDB independent of parse server or does parse-server/parse-iOS SDK need to add some kind of support for it?

[2017-04-11 22:10] bhirshman1 commented on #2423
I'm experiencing the same problem.  Did you figure out why this was happening?

[2017-04-11 22:21] flovilmart commented on #2423
HTTPS issue? HTTP issue? ATS?

[2017-04-11 22:28] bhirshman1 commented on #2423
Thank you for the quick response!

I have an app created in Swift running on parse server hosted by Heroku.  When the app runs on iPhone 5s or newer (in the Xcode simulator and in real life), a query finds objects.  Only on the iPhone 5 does the same query not find objects.  Is there any reason for this that you can think of?  The iOS versions are the same in each case.

[2017-04-11 23:05] flovilmart commented on #2423
Can you use the request interceptor? Probably that may help.

Are the queries received on the server? You can turn on verbose logging with setting the VERBOSE=1 env. variable

[2017-04-12 00:03] khawtf commented on #3678
Is this the same issue ?

http://stackoverflow.com/questions/43163319/simple-nested-query-parse-not-working

[2017-04-12 00:32] flovilmart commented on #3678
Not sure it's the same issue, this one is when mixing match and equality in the same query. One constraint gets overrides

[2017-04-12 01:12] khawtf commented on #3678
Hmm looked again. It looks like a comparison between a string(objectId) and a pointer. (Deal)
That is more a new feature then a bug I think.

Out of curiosity I have no clue how such a query would be solved. There is no way you could do a dot notation inside a LinQ statement right

[2017-04-12 03:21] agent3bood commented on #3014
Hi
I have added more to the js guide
http://docs.parseplatform.org/js/guide/#linking-users

[2017-04-12 04:42] jjdp opened #3708 "Parses Livequery on background"
How is the websocket getting kept in the background on an android app? As opposed to socket.io it disconnects for some time.

[2017-04-12 16:50] kishanio opened #3709 "UWS Dependency Fails"
Latest release for Parse-Server on npm package manager i.e. 2.3.7 refers `uws@^0.13.0` as dependency.Turns out UWS took down all the versions <0.14 from NPM repos.

Now build for parse-server fails via. NPM.

So does anyone know what's the protocol to request release?

[2017-04-12 23:13] awgeorge opened #3711 "Interpolate objectId and Pointer (as on parse.com)"
### Issue Description

Like: #1014, matchesKeyInQuery returns an empty set.

The ACL is set correctly, and can query both records separately.

### Steps to reproduce

[code]

#### Expected Results

The results should be returned

#### Actual Outcome

An empty set is returned

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 2.3.6
  - Operating Syste

[2017-04-12 23:56] flovilmart commented on #3709
2.3.8 has just been released, with the updated dependency. https://www.npmjs.com/package/parse-server

[2017-04-12 23:56] #3709 closed

[2017-04-12 23:56] flovilmart commented on #3675
Closing as resolved.

[2017-04-12 23:56] #3675 closed

[2017-04-13 02:53] kishanio commented on #3709
Thanks @flovilmart

[2017-04-13 07:59] natanrolnik commented on #3705
@funkenstrahlen 2.3.8 is available

[2017-04-13 08:27] ananfang commented on #3321
Hi @dstarke
Thanks for your effort that enable dot notation query of Live Query.

There is something weird that you mention that `query.equalTo("status.x", "someValue");` can work. But I tried using this kind of query in iOS, it failed.

Is it possible that query with dot notation?

[2017-04-13 12:36] flovilmart commented on #3321
It is supported in Parse-server, querying with dot notations.

As for the support for more complex queries, the main barrier is that the current implementation is synchronous and doesn't touch the DB for performance reasons. We'd have to make the query matching async first, and then add the support for such query constraints, this time, with DB access.

[2017-04-13 13:18] tru3d3v opened #3715 "Error AdaptableController.js"
Hi,

I got error when i run parse-server with express

/home/APP/test2/myapp/node_modules/parse-server/lib/Controllers/AdaptableController.js:31
var _adapter = Symbol();
               ^
ReferenceError: Symbol is not defined
    at Object.<anonymous> (/home/APP/test2/myapp/node_modules/parse-server/lib/Controllers/AdaptableController.js:31:16)
    at Module._compile (module.js:456:26)
    at Objec

[2017-04-13 13:40] ananfang commented on #3321
Thanks for your reply @flovilmart.
Is there any schedule you plan to implement **querying with dot notations**?

[2017-04-13 13:42] mkaya93 commented on #2423
Hi @bhirshman1,

I was just changed query and its worked properly. But I'm not remembering which parts I changed on query.

[2017-04-13 13:55] ananfang commented on #3153
I have a scenario that can not be implemented in current parse-server. If there is a default User Role like @benishak described, it could be worked.

**Private Account like Instagram** scenario:
If you turn the Private Account on in Instagram, your all photos will not be public read, but your followers can read them.

Here is my assuming implementation using parse-server:
1. There is a User Role (

[2017-04-13 14:15] benishak opened #3716 "Why Parse creates new Config and DatabaseController for every request?"
https://github.com/parse-community/parse-server/blob/master/src/middlewares.js#L110

Why not initialize it once at app startup and use it all time ? what happens after the request has been finished ? does parse destroy the DatabaseController somewhere?

[2017-04-13 14:21] flovilmart commented on #3716
It isn't, it's just getting it from the cache: https://github.com/parse-community/parse-server/blob/master/src/Config.js#L21

[2017-04-13 14:21] #3716 closed

[2017-04-13 14:34] flovilmart commented on #3153
Not sure why you need that, there is now the [requireAuthentication](http://docs.parseplatform.org/parse-server/guide/#requireauthentication) CLP, which basically let you restrict access to only logged in users.

[2017-04-13 14:43] benishak commented on #3716
I see now AppCache is always InMemoryCache no matter the Cache Adapter was choosen!

But why load it that way instead of accessing it in different way through ParseServer class ?

[2017-04-13 14:50] ananfang commented on #3153
@flovilmart
For example, there is a class Photo, every user can create photo just like Instagram.

There is a feature called Private Account. If any user turn this on, his/her photos will be queried only if the request is from his/her followers.

There is a workaround way currently, all photos can be public read while Private Account is **OFF**. If Private Account is **ON**, set all photos public

[2017-04-13 14:53] bhirshman1 commented on #2423
Interesting...

You recall experiencing the same thing I am though?  Your query yielded no objects when using an iPhone 5, yet found objects when using a 5s, 6, etc.?  Quite honestly we might be the only 2 people ever to experience this, considering I can't find anything else on the internet mentioning it.

[2017-04-13 15:03] flovilmart commented on #3153
the default User Role would not solve it either. I understand what you're trying to achieve, let me think of something.

[2017-04-13 15:26] ferrinho commented on #2660
I have a similar issue/question. I want to avoid email confirmation when users logs in with facebook, since facebook already verified their email. Is there a way to achieve this?

[2017-04-13 16:39] cavnit opened #3718 "Parse server won't shutdown"
### Issue Description

Running parse in express app, basic configuration on MacBook Air start use node app.js, starts up fine.

Do Ctrl+C to stop, parse does not stop

### Steps to reproduce

Start Parse from command line using node app.js
Try Ctrl+C.

#### Expected Results

Parse/express to showdown

#### Actual Outcome

No response, app stays running

### Environment Setup

- **Server**
  - pars

[2017-04-13 16:44] acinader commented on #3715
@tru3d3v can you please take a look at the template for opening a bug: https://github.com/parse-community/parse-server#support

We'd love to help, but there is not enough information here.   Likely you are using an unsupported version of Node (i.e. pre Node 4.6).

I'm going to close pending more information, but feel free to re-open with a completed template.

[2017-04-13 16:44] #3715 closed

[2017-04-13 17:16] cavnit commented on #3718
If I comment out the following that was added in #3706

[code]

The process shuts down immediately.

I gather it something in the shutdown handler for mongo, but to be honest, I am very new to the Parse code, but I will go through and see if I can nail down the issue more.

[2017-04-13 17:22] otymartin commented on #3672
Major panic attack with these guides constantly disappearing. Is parse.com no longer the main go-to for the docs?

[2017-04-13 17:31] chadclark1 opened #3719 "Documentation for password reset"
I've integrated Mailgun for password reset on my parse server. Password reset emails are being sent properly with the reset link. However, I cannot find documentation on how to handle the password reset after the user clicks on the reset link. Where is the documentation regarding how to handle the link back to my webapp and actually allowing the user to choose a new password?

[2017-04-13 17:54] flovilmart commented on #3672
No, docs.parseplatform.org is

[2017-04-13 21:29] hatpick commented on #3719
You can either define customPages or use default parse page to prompt users for a new password.
[code]

Follow up question for parse folks:
Is there a way to do "something" after a password was changed for a user?
Let's suppose user A goes and generates&send the reset password link to their email, and then clicks on it and change their password successfully, is there a way for our app (e.g. cloud

[2017-04-14 01:20] bhirshman1 commented on #2423
So it turns out that iPhone 5s and newer are 64-bit devices, as opposed to 32-bit for iPhone 5 and older.  32-bit devices can't successfully query when a key is an array.  My explanation I'm sure isn't the most technically sophisticated.  It's explained better in the below links.  Seems the only solution at the moment is a work around on the server side, which i'm hesitant to do.

https://github.c

[2017-04-14 03:14] flovilmart commented on #3718
Did you get something else? nodejs don't shutdown if it has open connections.

[2017-04-14 03:30] cavnit commented on #3718
Hi @flovilmart,

I can't seem to see where it is hanging so I have added process.exit() in the express app instead, which forces the shutdown. When I have time I will take a look and see what connections could possibly be open, as the mongo connections seem to be closing.

Thanks