[2018-10-09 17:19] flovilmart commented on #5106
So on a t3.micro you’re using 10% CPU, it ain’t bad given the quantity of traffic it gets :)

[2018-10-09 17:28] wfilleman commented on #5106
I'm not sure I can explain the spike in network out from LiveQuery to the outside. Watching this today to see if I can correlate it with anything else. It's definitely related to the CPU going to 10% at the same time.

[2018-10-09 22:39] moritzsternemann commented on #4370
While working on #4373 I ran into the same issue on macOS using parse-server v2.7.1

In my case during most test cases, the `close` callback is executed just 0.3 milliseconds after the `connection` callback. Some test cases fail in this small timespan. If the delay is always this tiny, adding a small timeout to the closed connection check is a viable option in my opinion.

[2018-10-10 00:28] kross50 commented on #5109
Below example in App Id: 7nuz73slygP42pQBHFF3mx4OuXdbaBVGZiNP9air

Role: WemGfQJiWi
      Role.user: yQnK6tzqlJ
            Photo: hBeaCelHzj [ACL: WemGfQJiWi (Role): Read]
                  Cloud Function: testPhotoFind
                        Results: can’t find record unless Photo ACL is set to Public Read.

Parse.Cloud.define("testPhotoFind", function(request, response) {
            var token

[2018-10-10 00:33] crotel commented on #3165
how about this, it had bugs, but I have no idea how to fix it.

anyone help?

[code]

[2018-10-10 00:33] flovilmart commented on #5109
Can you write a test that runs against this project and open a pull request? Because as it stands, our test suite covers this particular use case.

[2018-10-10 00:43] crotel opened #5113 "Parse server with express HTTPS Question ( just show nothing while open browser)"
code had bugs, but run without error at shell,  and just show nothing while open browser, maybe seems too many redirect...
 I have no idea how to fix it.

thank you!

[code]

[2018-10-10 00:57] flovilmart commented on #5113
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to Stack Overflow with the tag #parse.com](http://stackoverflow.com/questions/tagged/parse.com)? We'

[2018-10-10 00:57] #5113 closed

[2018-10-10 01:08] flovilmart commented on #5109
Actually your role name is wrong. I'm not sure how it went through but your role sjhould  be identified by `name`, not by id.

[2018-10-10 01:08] #5109 closed

[2018-10-10 06:43] kross50 commented on #5109
I wanted the Role.Name to match the corresponding Subscription.ObjectId that it is associated to.  This is merely my naming convention that shouldn't create any issues correct?

[2018-10-10 06:49] georgesjamous commented on #5109
@kross50 the role name can be anything you want. This is not the problem here.
The problem is that the RoleName in the Objetc's ACL (the object you want to secure, "Photo")
does not match the RoleName that the user is assigned to.

In photos the RoleName in the ACL is "WemG...." while the actual name of the role is "NR5d..."

[2018-10-10 07:42] meepeek opened #5114 "When save a Parse.File should not save full url"
### Issue Description
When save a Parse.File save full _url path which cause a problem when change server ip/domain.

[code]
It should not keep the data with http://localhost:4001, it should, instead, generate from the current server config  because the link will break if server ip or domain has been changed.

### Steps to reproduce

1. Save a file object, Parse.File, into any class
2. Query the o

[2018-10-10 11:43] flovilmart commented on #5114
Can you provide a code sample please? When files are saved at the ‘top-level’ of a Parse.Object this behavior should not be exhibited. Only when saved in arrays and when nested on objects.

[2018-10-10 22:43] mginz83 opened #5116 "bad json response issue, cant figure out why."
I have two functions that this is happening to...

First

[code]

I get a bad json response for this.

Here is my call...

[code]

I also have this cloud functions as well...

Parse.Cloud.define("SaveSearchByDevice", function(request, response) {

	const UserSearch = Parse.Object.extend("UserSearch");
	const userSearch = new UserSearch();

	userSearch.set("deviceManufacturer", request.params.devic

[2018-10-10 23:12] mginz83 commented on #5116
For the record this is the server url.
I have seen that the / at the end sometimes in the reason. in this case, its not.
    <string name="parse_server_url">https://app-name.herokuapp.com/parse/</string>

[2018-10-10 23:42] mginz83 commented on #5116
So the SaveSearchByDevice code was from the JS docs.
The other one was from another functions I used that was working.

[2018-10-10 23:45] flovilmart commented on #5116
That’s the GetKeys function that is really not proper Js.

And when you say ‘from the JS DOCS’, can you share a link?

[2018-10-11 00:20] mginz83 commented on #5116
Sorry I did find the getKeys on the parses docs. It was the other function, but I found a solutation on that.

I am still having issues with the getkeys, how would I send a success back to the app? I am return a string and split it, but I rather return a json object (map)

[2018-10-11 00:36] flovilmart commented on #5116
Use stackoverflow please for such questions that refer to implementation details.

[2018-10-11 00:36] #5116 closed

[2018-10-11 16:09] #5104 closed

[2018-10-12 02:39] flovilmart commented on #5114
Feel free to open a PR to resolve the isdue

[2018-10-12 09:41] Nes-si opened #5119 "Deprecation warnings with Mongo adapter (Node v10.11)"
Hi there.
I've got several deprecation warnings from Node:
[code]
[code]
[code]
[code]

### Environment Setup

- **Server**
  - parse-server version: 3.0.0
  - Operating System: macOS
  - Localhost

- **Database**
  - MongoDB version: 4.0.2
  - Localhost

[2018-10-12 09:51] funkenstrahlen commented on #4799
Great conversation. Helped me a lot today!

[2018-10-12 12:44] flovilmart commented on #5114
We generate it at runtime in the case we can be sure it’s a Parse.file, in the case of array elements or object properties we can’t be sure and the cost of doing so is high as we’d need to introspect recursively each object and key

[2018-10-12 13:34] meepeek commented on #5114
Thanks for sharing the information.

[2018-10-12 13:34] #5114 closed

[2018-10-12 13:37] wfilleman commented on #5106
@flovilmart Been running some long timed tests and running into an issue.

That last chart I posted with the jump in network out traffic is repeatable and with the jump in network out also spikes the CPU utilization. Here's what I'm testing and results:

- I changed the server size to a t3.small to stay under the 20% baseline CPU level as dictated by AWS.
- The t3.small is only hosting the LiveQue

[2018-10-12 16:37] DolenzSong commented on #4837
Having same issue

[2018-10-12 19:04] xscoder1 commented on #4837
@DolenzSong have you tried using:
‘var user = PFUser(className: “_User”)’?

[2018-10-12 20:21] aBuder opened #5120 "List all files or get size of all files in db"
Hi,

is there an solution to ge all files in parse-server 3.0.0? Otherwise is there an solution to get size of files Collection?

[2018-10-13 00:02] flovilmart commented on #5120
There are various projects that scrape the database for files objectslike this one: https://github.com/parse-server-modules/parse-files-utils

[2018-10-13 00:02] #5120 closed

[2018-10-13 05:39] aBuder commented on #5120
@flovilmart Thanks for answer. Is the no other solution? With parse server you can also upload files without referencing these files to an class.
I  would like to the all files form db and will calculate the size ob all files.

[2018-10-13 05:40] aBuder commented on #5120
@flovilmart Is there otherweise an solution, that I can fire custom mongo db query?

[2018-10-13 11:58] flovilmart commented on #5120
I’m not sure what you’re talking about. Files are saved by adapters. So you should perhaps look into the gridstore mongo component instead of here. If you used the S3 adapter, you can probably list all the elements in the bucket etc...

[2018-10-13 16:07] wfilleman commented on #5106
Hi @flovilmart,

Had that spike in network/cpu traffic this morning. This time LiveQuery made it 24 hours. Here's the network out graph from the last 2.5 days. You can see where I reboot LiveQuery and reconnect clients. The network out drops back to the 500-750KB range for a period of time:
![image](https://user-images.githubusercontent.com/13990501/46907429-11f6c980-cec7-11e8-965c-018f9abc52aa.pn

[2018-10-13 17:57] flovilmart commented on #5106
Again profiling is your friend here, attaching the debugger to the process during the spikes and not during the spikes. We can probably compare which method is getting called more

[2018-10-13 18:05] wfilleman commented on #5106
Ok, I can work on that. Another data point: Instead of rebooting the LiveQuery server, I just disconnected my two test clients and reconnected them. The Network Out dropped back to normal baseline levels (500KB).

So, now I'm thinking that maybe the client is getting into a weird state and putting a load on the LiveQuery server. What's the best way to log what's happening in the Parse/React Native

[2018-10-13 19:44] flovilmart commented on #5106
The out network would mean that the server is sending the same events multiple times, this could occur perhaps if the client connects multiple times, and the server keeps all of those connections.

[2018-10-14 19:05] kyawswarthwin opened #5122 "parse server nedb adapter?"
Hi is there anyone developed parse server with nedb?

[2018-10-14 22:43] Atrafa commented on #3223
Im using Picasso and it works fine but it start to not show photos in android 9 because of this.
I came out with this solution till someone fix this:

`photo = photo.replaceAll("http://","https://");`

[2018-10-14 23:18] flovilmart commented on #3223
You should have a public server url set to https scheme instead of http

[2018-10-15 21:16] wfilleman commented on #5106
Hi @flovilmart,

Took me a couple of days to reset and capture performance profiles, but here they are. Ok, here's the test setup:

- AWS t3.small server.
- LiveQuery Server ONLY. It is set up to connect to my production Parse Server so that we remove any Parse Server CPU cycles from the profile logs.
- Only one CPU/process.
- Two React Native clients.

With this test setup, I profiled two minutes

[2018-10-15 21:32] wfilleman commented on #5106
Digging into the unhandled promise rejection, It looks like line 513 in ParseLiveQueryServer.js may be the source of my issue:

`const roleNames = await auth.getUserRoles(); // Finally, see if any of the user's roles allow them read access`

I suspect `.getUserRoles()` is throwing an exception due to the session token expiration. Buried in that call is a REST request to Parse Server which, I could

[2018-10-15 22:00] flovilmart commented on #5106
Why would the session token expire so quickly?

[2018-10-15 22:35] wfilleman commented on #5106
No idea. How can I change the expiration time?

[2018-10-15 22:39] flovilmart commented on #5106
Well session tokens have expiration of a year. So that should not be problematic in the first place.

When you say ‘you suspect’ did you get any proof of it?

I don’t have the time to investigate further unfortunately.

[2018-10-15 22:41] dplewis commented on #5106
@wfilleman I see your config has this set

[code]

[2018-10-15 23:15] wfilleman commented on #5106
Ah, there we go. I can remove that from production to use the default session lenght of one year. Thanks, @dplewis.

@flovilmart, The profile capture pointed to the exact top level promise that was throwing the uncaught promise exception. I looked at the source and there are two places inside this promise where `await` is used without a try/catch around it that is the likely source. Either line 51

[2018-10-15 23:53] flovilmart commented on #5106
If you believe you have found the source of the issue, you should open a PR :)

[2018-10-16 00:06] wfilleman commented on #5106
That is a good idea. I'm running a different set of tests currently to load up LiveQuery with a simulated 200 concurrent users with the kind of traffic my production server is producing to check that box. Assuming this looks good after 24 hours then I'll dig into the session token issue and see what that fix path looks like.

Wes

[2018-10-16 03:55] Nes-si opened #5123 "Changing user's email: keep logging by old before verification"
Hi there. There is a problem when user changes his email. As soon as he changes it, the 'emailVerified' flag resets and verification mail sends to new address. So if the user types wrong email, he can't confirm it and he is risking to lose his account, and the support can't help him.
So, I think the good solution is to keep possibility to log in by the old email until the new email is unconfirmed.

[2018-10-16 07:41] georgesjamous commented on #5123
This is why most forms have a second text field named "Verify Email Address".
The client is responsible for typing the correct address, and the form is responsible for making the client enter the address twice for confirmation. It goes the same for passwords.

Nevertheless, your intended workflow is easily achievable with custom code.

[2018-10-16 07:42] georgesjamous commented on #5123
Yes he can, after the user verifies his identity, you can use master key to reset the email and flag.

[2018-10-16 07:47] Nes-si commented on #5123
How he can do it? The email in the base is wrong, the user has another one.

How I can send verification email with custom code?

[2018-10-16 07:51] georgesjamous commented on #5120
@aBuder may I ask, why do you need to list all files directly from their storage location?

If you need to keep a list of your files, why not reference them in a class, it's far less operational cheap than what you are doing if you need to access this information frequently.

Also, your last comment predicates that files are stored in the database using the default storage adapter.

[2018-10-16 08:00] georgesjamous commented on #5123
I have no idea, it's solely based on your business, and how you interact with users and what kind of data you gather and how you can verify their identity.
For example, when you forget your Microsoft email password, you can use your phone number to reset it or you can answer three security questions or you can contact Microsoft with exact recent email activity to verify its your email, and they wi

[2018-10-16 08:11] Nes-si commented on #5123
Oh, you can't hear me. Keeping old email until new one will confirmed is the common practice, it uses on Twitter, Contentful, etc. And the Parse Server has a mechanism of email verification, so it's strange and unreasonable to build custom separate one for this function.
I'm just suggesting a feature request.

[2018-10-16 09:47] georgesjamous commented on #5123
Ok, I got what you mean now.
So the email verification workflow suggested is:
1- When signing up, email verification is the same as it is now (no changes)
2- When changing email, the email address field "email" in '_User' class should not change and still be kept the old email (thus keeping the flag "isVerified: true" and preventing lockout), until the new email is verified, at which point the "em

[2018-10-16 10:14] Nes-si commented on #5123
@georgesjamous right.

[2018-10-16 10:41] aBuder commented on #5120
@georgesjamous We build an SAAS product and there the customer has limitation on "cloud size" We just have to check how many megabyte the user use.

[2018-10-16 11:31] flovilmart commented on #5123
This is not how the feature nor parse-server  is designed. If you wish to see this behavior, feel free to work on a Pr and we’ll evaluate whether or not we accept it in the codebase.

[2018-10-16 11:31] #5123 closed

[2018-10-16 11:33] flovilmart commented on #5120
Storing files in mongo is a bad idea, but you should already know that

[2018-10-16 11:36] aBuder commented on #5120
@flovilmart Where store parse-server the files on default ? I think they would save the files in gridfs

[2018-10-16 11:37] flovilmart commented on #5120
It’s not because the default stores on mongodb that’s it’s a good idea to use that in production. S3 is a better suited storage technology

[2018-10-16 11:43] aBuder commented on #5120
@flovilmart Why it is an bad idea to store files in mongodb?

[2018-10-16 11:55] flovilmart commented on #5120
You tell me, what can be wrong sorting and  fetching images from the DB where the database server usually is RAM and disk bound?

GridFS is a way to split files in document chunks of 256kb, and is all handled by the driver. You’ll do disk I/o on all your file reads, slowing down you whole DB. Besides that it’s all good

[2018-10-16 12:37] Jauny commented on #3398
Does anybody know why I'm getting unauthorised when trying to hit /users/me on my server? I assume I have to have additional headers with the correct keys, but which ones? I can't find any docs on this.

[2018-10-16 15:31] jadhavmanoj commented on #3839
@sandeep2242  what you workaround you were added? I am facing the same issue.

[2018-10-17 06:49] bohemima opened #5125 "Allowing GET for Cloud Functions"
**Is your feature request related to a problem? Please describe.**
POST should not be cached according to the HTTP RFC, GET however is. Allowing parse-server to trigger a function using GET instead of POST would allow the underlying HTTP request to be cached (at least on Android using OkHttp)

**Describe the solution you'd like**
Allow both POST and GET for Cloud Functions in parse-server, which a

[2018-10-17 09:44] #5005 closed

[2018-10-17 10:42] flovilmart commented on #5125
Have you considered using a plain http express server as an alternative instead of cloud functions? Cloud functions were initially developed when no access on the server was provided as a stand-alone alternative to writing an external server. Now that all runs as an express server, I fail to realize the complete necessity to implement such feature, besides adding confusion

[2018-10-17 11:11] bohemima commented on #5125
Yes, I did consider that as well, haven't given it a try yet. The reason we use Cloud Functions for this specific project is to move some of the complex queries to the server side while keeping it simple to use those queries from the Client SDKs (functions returns arrays of Parse.Object most/all of the time) - what we gained was having the complex queries on the server (yay) but we lost the cachin

[2018-10-17 11:16] flovilmart commented on #5125
If the only thing you actually need is the parser to restore the objects from any JSON array that lives into the SDK, then you could extract that instead.

In any case, this is not something that fits into the current vision for the server, nor something we have time to develop and maintain. Would you want to implement it?

[2018-10-17 12:07] bohemima commented on #5125
Well, only and only.. :) Making the requests, retries and potentially more as it goes on. I'll explore our options and see what makes most sense for us right now. Thanks for the input!

[2018-10-17 12:07] #5125 closed

[2018-10-17 13:52] wfilleman commented on #5106
Hi @flovilmart,

Everything is looking good. After running my 200 concurrent sessions for about 30 hours, CPU and Network Out metrics are stable at:

- CPU: 15-20%
- Network Out: 500KB-1MB

I think I am all set to move on with my separate LiveQuery implementation. I saw that the https://github.com/parse-community/parse-server/pull/4387 pull hadn't been merged yet to main, if you were waiting on my

[2018-10-17 17:30] acinader commented on #5119
@Nes-si thanks.  This issue was fixed by: #5025

which will be in the next release.

[2018-10-17 17:30] #5119 closed

[2018-10-17 22:14] flovilmart commented on #5106
Thanks for providing the live production data that was invaluable and awesome! 😎

There is still this bug that screw up everything when session expire. That would need addressing.

[2018-10-17 22:31] #5106 closed

[2018-10-18 00:16] acinader commented on #5097
fixed by 6ebce1832b7

[2018-10-18 00:16] #5097 closed

[2018-10-18 00:18] acinader commented on #5122
**We use GitHub Issues for reporting bugs with parse-server.**

If you have a *question*, you should join the gitter chat where a community of more than 200 parse users gather.

- https://gitter.im/ParsePlatform/Chat

If you have a non-bug question, ask on Stack Overflow or Server Fault:
- https://stackoverflow.com/questions/tagged/parse.com
- https://serverfault.com/tags/parse

[2018-10-18 00:18] #5122 closed

[2018-10-18 00:52] acinader commented on #5011
I took a look into it.  If you look at the docs: https://docs.parseplatform.org/js/guide/#aggregate you'll see this:

"You can create a pipeline using an Array or an Object."

with this example

[code]

You can see that there is test coverage for both cases:

https://github.com/parse-community/parse-server/blob/master/spec/AggregateRouter.spec.js#L5

So I'm not sure why that is in the upgrade docs

[2018-10-18 00:59] dplewis commented on #5011
That’s for the RestApi only

[2018-10-18 01:37] dplewis commented on #5011
@acinader I can update the change log to specify Rest only. I can update the docs as well. It’s not really a breaking change as it is backwards compatible but we try to push it to allow for multiple stages

[2018-10-18 03:06] tgreco commented on #1094
This is still an issue

[2018-10-18 04:15] reallyimeric opened #5129 "Removing a non-existing user leads to server return "Insufficient auth""
### Issue Description

Server returns "Insufficient auth" error for removing a non-existing user, even we use the master key for this request.

### Steps to reproduce

1. setup a fresh parse server
2. remove an user with an non-existing objectId, using rest API or `Parse.User.createWithoutData()`, with master key provided
3. see the server response

### Expected Results

Server reports either ok o

[2018-10-18 04:37] georgesjamous commented on #5129
If I am not mistaken, _User is a special class that requires the response to be a bit tweaked.
If someone is trying to delete a user, and the user could not be found, it is valid to return "**Insufficient auth**" instead of an "**object not found**" error like any other object. That is only if the request with/without session token.

On the other hand, if the request is using the master key then I

[2018-10-18 14:12] flovilmart commented on #5129
That could be changed indeed, but not really a bug either. If of you want to fix it, feel free to open a PR.

[2018-10-18 15:58] acinader commented on #5011
I think @raytrask point is valid that the changelog is not clear, leaving someone who is upgrading uncertain if they need to address an issue or not.  Would be good to close this out one way or another.  Either by adding more detail (or linking to more detail) or moving it out of breaking change or deleting if not relevant.

[2018-10-18 17:28] r03ert0 opened #5130 "Parse.User.logInWith calls api.parse.com"
### Issue Description
I have a parse server running in my localhost, and I am trying to login using Github. I use hellojs to get an access token. Based on information found on the web, I'm then trying to use Parse.User.logInWith, however, when I do it I get an error: my app is trying to connect to https://api.parse.com.

### Steps to reproduce

Client code:

[code]

Server code:
[code]

The client

[2018-10-18 18:47] flovilmart commented on #5130
Set Parse.serverURL in your client after Parse.knitialize.

Please look at the documentations and guides at https://docs.parseplatform.org

[2018-10-18 18:47] #5130 closed

[2018-10-18 19:29] r03ert0 commented on #5130
Thank you!

I've been looking through the docs, but it's been difficult to find the information... right now I'm struggling to make sense of all the pre- and post- 2016 text around.

I added, as you suggested, this to my code:

'''
Parse.initialize(parseClientID);
Parse.serverURL = "http://localhost:1337/parse";
'''

but now my type of authentication doesn't seem to be recognized.

I get this erro

[2018-10-18 21:31] flovilmart commented on #4218
- perhaps
- depends what reads SERVER_URL and what it’s used for
- any port you like, as long as it’s open and not used

[2018-10-18 21:35] zackshapiro commented on #4218
1. What are the reasons it wouldn't be the same URL?
2. Mobile clients will read the main app (live.myApp.com) and specific view controllers will consume socket.myApp.com
2a. When I instantiate a `ParseLiveQuery.Client`, should I give it the string of `socket.myApp.com` specifically?
3. 👍🏻

[2018-10-18 21:41] flovilmart commented on #4218
Did you try any of what yo my describe? Otherwise I should open a consulting section in where I could answer all the questions everyone has for free al day long

[2018-10-18 21:51] Moumouls opened #5131 "LiveQuery on Object Role Based don't send events for some users"
### Issue Description

When a Parse.User is linked in a more than 100 Parse.Role, a LiveQuery on a Role based Parse.Object send events in an unpredictable way, or even not sending events any more !

### Steps to reproduce

Make a LiveQuery on Role Based Object with a Parse.User linked in more than 100 Parse.Role

### Expected Results

The LiveQuery from the Parse.User receive events correctly

###

[2018-10-18 21:53] flovilmart commented on #5131
You should probably not have that many roles on a single user

[2018-10-18 21:54] zackshapiro commented on #4218
@flovilmart Apologies. You've been a big help these last few months, however it's difficult setting up a live query server up without many resources to reference, a few stack overflow questions and GitHub issues that reference parts of the process.

I'd be interested in consulting with you to get this set up quickly if that's something that you do. Shoot me an email at zack@sobump.com? Thanks and

[2018-10-18 22:01] flovilmart commented on #4218
There is more than 1000 tests across the board, documentations, examples and the source code to help. I already dedicate way too much time to ‘helping’ which is actually helping no-one.

So I actually would suggest that you take a deep dive into the codebase and start owning and understanding what it does, and start writign those missing documentations.

I am actually getting really tired of this

[2018-10-18 22:03] flovilmart commented on #5131
Jokes aside, we should use the .each instead of the query you’re right :) and use the iteration callback to populate an array of all roles. Is it something you’re be willing to make a Pr for?

[2018-10-18 22:11] Moumouls commented on #5131
In effect `.each()` is the appropriate solution. :)
Unfortunately for professional reasons, I don't have time to do a clean PR :/

[2018-10-18 22:17] acinader commented on #5131
This is about as good an example of a very simple, contained improvement imagineable.

[2018-10-18 22:19] flovilmart commented on #5131
@Moumouls so what do you expect to happen? My best guest, the stale bot will close it :)

[2018-10-18 22:28] Moumouls commented on #5131
@flovilmart we can mark it as a future improvement! but currently I can't do a patch, when I have more time, I could do a clean PR;)

[2018-10-18 22:29] flovilmart commented on #5131
I don’t have the time to give you a clean answer

[2018-10-19 05:39] georgesjamous commented on #5129
Yes, it's not a bug but the error message could be more appropriate.
Anyway, I created a PR should you want to review it.

[2018-10-19 12:58] r03ert0 commented on #5130
yes! i got the "auth" structure from there, but not the part on how to link with Parse.User.logInWith...

but i'll move my question to stackoverflow. Thanks for your help!

[2018-10-19 18:18] srameshr commented on #3771
@flovilmart
Any thoughts on what is the best approach to use parse-server's ```User``` functionality to merge with Messenger User data.

[code]

[2018-10-19 18:33] flovilmart commented on #3771
Not in particular

[2018-10-19 19:38] srameshr commented on #3771
https://github.com/fbsamples/messenger-platform-samples/tree/master/node
Look at this and let me know if you think there is a good approach to this user linking problem.

[2018-10-19 19:54] flovilmart commented on #3771
Wow..... I’m speechless...

[2018-10-20 14:41] dplewis commented on #5053
@SebC99 PR? @flovilmart is forcing return null ok?

[2018-10-20 14:47] SebC99 commented on #5053
@dplewis there was no real consensus on the solution and on the impact on SDKs:
- solution 1: return null instead of undefined before stringifying the json. Should have no impact on SDK as null would be understand well in JS and iOS (I don't know for Android)
- solution 2: just display a warning on server side to avoid undefined results, but we will still have the issue
- solution 3: add a status

[2018-10-20 17:17] dplewis commented on #5053
The rest api returns `{}`, iOS returns `null`, JS returns unhandled promise rejection.

We can at least get rid of the unhandled rejection with a catch

https://github.com/parse-community/Parse-SDK-JS/blob/master/src/Cloud.js#L129

[2018-10-20 17:33] flovilmart commented on #5053
Uhm ok. On iOS can you show me the equivalent code?

[2018-10-20 17:40] dplewis commented on #5053
https://github.com/parse-community/Parse-SDK-iOS-OSX/blob/master/Parse/Parse/Internal/CloudCode/PFCloudCodeController.m#L62

Getting the result from the cloud code function works its just how the SDK's handle the response

[2018-10-20 18:51] flovilmart commented on #5053
alright, that kinda sucks, as in iOS it ends up being `decode:nil`.

let's support it on the JS SDK.

[2018-10-20 20:55] Moumouls commented on #5131
Fixed by #5132

[2018-10-20 20:55] #5131 closed

[2018-10-20 21:54] kimi21 commented on #4659
instead of hardcoding 123 in objectId, how could we keep it variable, what would be the correct syntax then?

[2018-10-21 16:06] dplewis commented on #5053
Closed via https://github.com/parse-community/Parse-SDK-JS/pull/682

[2018-10-21 16:06] #5053 closed

[2018-10-22 06:00] mrmarcsmith commented on #3583
@mullwaden @rihadavid If either of you have time it would be exciting to see this come to completion. I think it would be a very useful feature.

[2018-10-22 06:03] mrmarcsmith commented on #3583
@mullwaden @rihadavid It would be exciting to see this come to completion. I think is would be a very useful feature.

[2018-10-22 17:34] stevestencil opened #5135 "query.distinct ignores ACL permissions"
### Issue Description

When making a query using the query.distinct(), ACL and CLP permissions are ignored.

### Steps to reproduce

[code]

### Expected Results

Only the unique results from the allowed objects via the ACL and CLP permissions should be returned

### Actual Outcome

Every unique value from every object regardless of ACL and CLP permissions is being returned

### Environment Setup

[2018-10-22 17:42] acinader commented on #5135
I think that this is the expected behavior.  If you look at the JS SDK documentation https://docs.parseplatform.org/js/guide/#distinct note that it explicitly calls out that the master key is required.  When the master key is used, ACLs & CLPs are ignored.

[2018-10-22 17:47] stevestencil commented on #5135
I do not believe this is correct. This is not how it should work in my opinion. In the API reference section of the docs (not the Guide) https://parseplatform.org/Parse-SDK-JS/api/master/Parse.Query.html#distinct, it shows that you can pass a session token in.

The expected behavior should be as a normal find() query. You should be able to pass in the master key if you want ALL results and a sessi

[2018-10-22 20:02] fmendoza commented on #4020
Can we have afterDelete working at least?

[2018-10-22 22:12] flovilmart commented on #5135
The documentation is wrong then we never intended to make the distinct / aggregates work with ACL’s and CLP IIRC. @dplewis what do you think?

[2018-10-22 22:15] flovilmart commented on #4020
@fmendoza feel free to open a PR, and you’ll get what you want

[2018-10-22 22:16] stevestencil commented on #5135
Having it be able to use the ACL's and CLP's would be more beneficial as it would give the option to pass in a session token or master key depending on the need.

[2018-10-22 22:17] flovilmart commented on #5135
You can always open a PR to support this feature if this is something you need. We’ll promptly review and most likely guide you through the hoops

[2018-10-22 22:47] dplewis commented on #5135
Per our dicussion https://github.com/parse-community/parse-server/issues/4197

We used MasterKey to prevent DDOS attacks as aggregates can be expensive operation, we didn't talk much about ACL's / CLP's.

Didn't want a repeat of https://github.com/parse-community/parse-server/issues/3813

@flovilmart Your solution to https://github.com/parse-community/parse-server/issues/3813 was to add count clas

[2018-10-22 22:50] dongalor commented on #4313
Actually, I'm still unable to move to newer version :(

[2018-10-22 23:36] flovilmart commented on #4313
Did you try v3.0? At this point besides a bad configuration? We have no idea what’s wrong

[2018-10-22 23:38] flovilmart commented on #5135
Perhaps? We should probably update the dashboard as well :)

[2018-10-22 23:40] dplewis commented on #5135
I've had the issue open for a while. https://github.com/parse-community/parse-dashboard/issues/888 I can take a crack at it

[2018-10-23 04:41] georgesjamous commented on #4020
How about allowing Read Only triggers on _Sessions ?

**beforeSave**: could then be used to mimic a beforeSuccessfullLogin hook. (either throw to reject login or nothing to accept it)
**afterSave**: editing object at this point is no different from querying and editing it. So it's pointless to have any restriction here.
**beforeDelete**: we would disregard any thrown error or changes. No point pre

[2018-10-23 09:12] kimi21 opened #5136 "How to query object contained in the field type array of pointer?"
### Issue Description

I have one question about querying objects

Example :  I have a products class which has a pointer to Events class through the "event" field. I want to extract all the matched items from Products that belongs to the same Event.

**Products class :**
"results": [
        {
            "objectId": "LozokqgJQz",
            "price": 9,
            "name": "Entree + Conso",

[2018-10-23 09:44] georgesjamous commented on #5136
Quoting from the docs
"https://docs.parseplatform.org/js/guide/#one-to-many"
and  here
"https://docs.parseplatform.org/js/guide/#relational-queries"

[code]

Clearly, you haven't read the docs.

[2018-10-23 10:49] #5136 closed

[2018-10-23 18:25] meepeek opened #5137 "cannot import npm package"
# Before opening the issue please ensure that you have:

- [ Y ] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [ Y ] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

import a package in cloud code result in error

### Steps to repr

[2018-10-23 18:29] meepeek opened #5138 "cloud code name cannot contain dot (.)"
# Before opening the issue please ensure that you have:

- [ Y ] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [ Y ] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

naming cloud function including dot '.' produce error

### Steps

[2018-10-23 18:29] flovilmart commented on #5137
import is not a valid node statement. Use require()

[2018-10-23 18:29] #5137 closed

[2018-10-23 20:19] JacobJT commented on #5138
I don't think you're intended to be able to. Keep in mind that cloud code functions are hit via REST API with something like `<YourURL>/functions/functionName`

So, the `.` would not be appropriate to use. I wonder, though, if a `/` instead would work? I'm not sure how parse-server would handle that routing, but it is worth a try.

[2018-10-23 21:30] flovilmart commented on #5138
Working as expected. Cloud functions names should not include such characters. We should be probably more explicit.

[2018-10-23 21:30] #5138 closed

[2018-10-23 21:32] flovilmart commented on #4020
This has been attempted before without success. Feel feee to try again :)

[2018-10-24 02:31] mtrezza commented on #4566
Interestingly, I see a TTL index for the `_PushStatus` collection with expiration 30 days after `_created_at` in all our Parse DBs. So `_PushStatus` seems to get cleaned up by default.

[2018-10-25 19:00] levigroker opened #5143 "Session Removed in Anonymous User Conversion"
### Issue Description

When attempting to sign up a new user the server responds with an "insufficient auth" error.

This appears to be happening because the user session is removed from the server, presumably resulting in a call to `handleSessionMissingError` which ultimately gives a `insufficient auth` error (somewhat related to #5129 ).

NOTE: We encountered this error after upgrading from `par

[2018-10-25 19:03] flovilmart commented on #5143
Can you update to 3.1.0 and reopen the issue if it persists?

[2018-10-25 19:03] #5143 closed

[2018-10-25 20:13] levigroker commented on #5143
I'm sorry, but no. We are not in a position to upgrade to 3 at this time.

[2018-10-25 20:15] flovilmart commented on #5143
That’s unfortunate as we do not have the bandwidth to support and investigate issues in earlier versions. If you ever came up with a patch, then feel free to open a PR

[2018-10-26 00:29] levigroker commented on #5143
That's unfortunate since it appears this was introduced in 2.8.1 (I can't get 2.8.0 to build), while 2.7.4 appears fine in my testing. This means the 2.x version is being left in a broken state and any users who are unable/incapable of updating to 3.x will need to use the 2.7.4 version as the "last known good."

[2018-10-26 00:32] flovilmart commented on #5143
What do you mean incapable of upgrading to 3.x? It’s up to you. If you identify the issue introduced in 2.8.1, feel free to open a PR against the 2.8.x line, I would not mind releasing a patch on this one.

But you’d better jump on the 3.x series

[2018-10-26 09:47] greenkeeper[bot] opened #5145 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## The devDependency [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was updated from `3.0.0` to `3.1.0`.

🚨 [View failing branch](https://github.com/parse-community/parse-server/compare/master...parse-community:greenkeeper%2Feslint-plugin-flowtype-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2018-10-26 18:43] Nes-si commented on #5123
@flovilmart I've made. https://github.com/parse-community/parse-server/pull/5147

[2018-10-27 07:13] mikecann commented on #5075
@ns16 hi mate, im running into the same issue as you. Im trying to user _linkWith on the client side to link a google auth to an existing user. I do the same as you (query for user by email first, then attempt _linkWith) but do it all on the client side.

Im really not sure how you are supposed to link to an existing user, the docs tell me this is the correct way to do it: https://docs.parseplatfo

[2018-10-27 07:14] mikecann commented on #4694
@oallouch hi mate, Im trying to user _linkWith on the client as per the docs (https://docs.parseplatform.org/js/guide/#linking-users) to use social logins to link to an existing user. Have you had any luck with this or is that the reason you have had to do the above workarounds?

[2018-10-27 07:19] mikecann commented on #3014
Im almost 100% certain that this part does not work (with google auth at aleast): https://docs.parseplatform.org/js/guide/#linking-1

You end up getting the following error:

[code]

I will create a separate issue for this.

[2018-10-27 07:26] mikecann opened #5148 "Cannot modify user error when using _linkWith google auth on an existing user.."
### Issue Description

I am following this part of the JS SDK docs:

https://docs.parseplatform.org/js/guide/#linking-1

When you attempt to do that with google auth and an existing user however you end up with the following error:

`error: Cannot modify user JzDZZ4XjW5. ParseError: 206 Cannot modify user JzDZZ4XjW5.`

I suspect this happens with facebook auth too.

### Steps to reproduce

1. crea

[2018-10-27 18:57] #4427 closed

[2018-10-28 18:27] ranhsd opened #5152 "Full text search - support multiple fields from SDK"
Hi,
Currently the full text search allows you to create index for one text field only using the following command:

[code]
MongoDB support compound text index which allows you to create one index and search on multiple string fields so if I have a user collection and this collection contains 2 fields of: firstName and lastName I want that my app will allow to search users either by their first nam

[2018-10-29 04:59] JianxunRao commented on #2446
This URI pattern work for me.

[2018-10-29 09:15] gtzinos opened #5153 "Request: Great to know a minimum required version to use each feature"
Hello,

I would like to use a lot of your great features but as we use an older version of parse server, it would be great to have a suggestion of what version of parse server, we should have to use it smoothly.

Thank you very much!

[2018-10-29 09:19] dplewis commented on #5153
We try to update the docs with requirements. There is also the Changelog. Do you have a feature that you are trying to use that is undocumented?

[2018-10-29 09:32] gtzinos commented on #5153
Hello @dplewis, thank you very much for your response. I checked the Changelog about the feature of FCM (Firebase Cloud Messaging), but I didn't find when was released. We use the old GSM way and we would like to migrate it to FCM.

Thank you!

[2018-10-29 11:03] flovilmart commented on #5153
You should always use the latest features of this project as we do not maintain previous versions.

[2018-10-29 11:03] #5153 closed

[2018-10-29 11:31] flovilmart commented on #5153
The latest versions of parse-server always contain improvements that may affect push notifications performance, security etc...

Upgrading to the latest version is the only way to ensure you benefit from all those improvements.

Then, if you can’t upgrade to the latest version, i am very curious why.

As @dplewis mentioned, the changelog is true place to look for improvements, and notable changes.

[2018-10-30 08:49] boringwork opened #5156 "Could Parse Platform support unicode field name"
I found the Parse Platform not supported unicode field name, but javascript and mongodb supported, I review the code and found regex of the key is only supported english alphabet.
[code]
The fact that most modern programming languages support Unicode naming illustrates the real existence of this requirement and the forward-looking nature of programming language developers.

The following is a prog

[2018-10-30 10:52] flovilmart commented on #5156
Keys are intended to be consumed in other languagesc that may not support this feature. Because the server exposes it all through a REST API, it is impossible to know ahead of time if the client supports this encoding ahead of time.

[2018-10-31 11:25] GoGross opened #5157 "Create custom data type | ParseConfig | Parse.Object"
Is it possible to create a custom data type such as:

"currency": {
                "type": "Currency"
            },
            "number": {
                "type": "Number"
            },
            "phone": {
               "type": "Phone"
            }`
`

[2018-10-31 11:35] flovilmart commented on #5157
It is not. If you with to validate your data, use beforeSave / afterSave hooks. That’s what they are designed for.

[2018-10-31 11:35] #5157 closed

[2018-10-31 12:10] GoGross commented on #5157
Kindly explain this extract from the docs page:

## Parameters

ParseConfig supports most of the data types supported by Parse.Object:

- string
- number
- Date
- Parse.File
- Parse.GeoPoint
- JS Array
- JS Object

We currently allow up to 100 parameters in your config and a total size of 128KB across all parameters.

[2018-10-31 12:16] flovilmart commented on #5157
What’s to explain and how it is related to the issue you’ve opened?

The limitations part may not be true, but true config being stored in a single mongodb document, it will be subject to the max document size of your mongo database which varies across versions

[2018-10-31 14:08] HudiDev opened #5158 "i/o failure"
I am using parse server as a BAAS for my android app.
Everything Is working like a charm, except, when I use the app intensely I.E. if I send several requests in a very small span of time (refreshing the data many times quickly) from my android client to the parse server, the server freezes. and I get a message back from my cloud function saying: "i/o failure".

I am not getting any  info in my pa

[2018-10-31 14:13] flovilmart commented on #5158
This means you are saturating your server, you should scale it up, increase it’s capacity or number of instances.

Overall it’s not relate particularly to this project, but any nodejs based program can face this issue. Server fault would be the best place for you to get accurate help.

[2018-10-31 14:13] #5158 closed

[2018-10-31 14:59] HudiDev commented on #5158
The weird part is that It happens even with a single user traffic, meaning even if at this moment currently there is only a single user sending requests intensely, it will still crash, does that make any sense?

[2018-10-31 15:05] JacobJT commented on #5158
Link me to your server fault post and I'll answer there, but they like to keep these issues about problems with the repo / source code, not problems with your implementation.

[2018-10-31 15:08] HudiDev commented on #5158
got it 👍

[2018-10-31 15:16] HudiDev commented on #5158
@JacobJT https://serverfault.com/questions/938061/receiving-i-o-failure-on-parse-server

[2018-10-31 15:32] memishood opened #5159 "Cloud Code doesn't save object"
I tried save an object to parse server using to cloud code but it returns result: undefined,

**Server side:**

`Parse.Cloud.define("test_function",(req)=>
{
  var params = req.params;
  var query = new Parse.Query(Parse.User);

  query.equalTo('count',params.userObjectId);

  query.find().then({useMasterKey:true,
	success: (obj)=>
	{
		obj.save(null,{useMasterKey: true,
		success: (saveObj)=>

[2018-10-31 15:49] dplewis commented on #5159
I’d recommend updating to Parse Server 3.0.

Here you are missing response.success().

[2018-10-31 15:57] memishood commented on #5159
Hello i use latest version and when add response param, it returns response.success() is not a function

[2018-10-31 16:11] flovilmart commented on #5159
Yes, because the latest SDK version and server version do not use backbone style callbacks anymore see:

https://github.com/parse-community/parse-server/blob/master/3.0.0.md

https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md

[2018-10-31 16:20] dplewis commented on #5152
@ranhsd Feel free to open a PR.

[2018-10-31 17:23] memishood commented on #5159
Hello @flovilmart , could you edit my code (server side) as correctly ?, i didn't find my problem on the page you sent. Thx

[2018-10-31 17:31] dongalor commented on #4313
@flovilmart thank you, I'll try 3.0.
Also, I've shown my configuration push cut:
https://gist.github.com/dongalor/c1ed9443d37430dc729d6fdaab7513fa

[2018-10-31 17:44] flovilmart commented on #5159
What are the topic of both the links I shared and what are the major changes ? Can you please show an example?

[2018-10-31 18:58] memishood commented on #5159
i downgrade 2.8.4 and now no problem, thx @flovilmart

[2018-10-31 19:07] flovilmart commented on #5159
Well, you should not do that and upgrade your code to work with the latest version...

[2018-10-31 19:07] #5159 closed

[2018-11-01 13:50] dsingh09 commented on #79
Simply Use "mongodb://username:"+encodeURIComponent("p@ssword")+"@localhost:27017/droom"

[2018-11-01 21:57] fxchou123 opened #5161 "_PushStatus issue after upgrade to 3.1.x"
error: Uncaught internal server error. TypeError: Cannot redefine property: _PushStatus
at Function.defineProperty (<anonymous>)
at SchemaData.volatileClasses.forEach.className (/app/node_modules/parse-server/lib/Controllers/SchemaController.js:530:14)
at Array.forEach (<anonymous>)
at new SchemaData (/app/node_modules/parse-server/lib/Controllers/SchemaController.js:529:21)
at getAllClasses.then.

[2018-11-01 22:14] flovilmart commented on #5161
Do you happen to have by any chance an _PushStatus object in your _SCHEMA table?

[2018-11-02 04:54] fxchou123 commented on #5161
Yes I do. Parse Server automatically generated this object in version 3.0

Should I delete it instead?

[2018-11-02 05:00] fxchou123 commented on #5161
I tried to delete this object and got another error instead.

warn: Unable to ensure uniqueness for user email addresses:  MongoError: Index with name: email_1 already exists with different options
at /app/node_modules/mongodb-core/lib/connection/pool.js:581:63
at authenticateStragglers (/app/node_modules/mongodb-core/lib/connection/pool.js:504:16)
at Connection.messageHandler (/app/node_modules/m

[2018-11-02 11:49] flovilmart commented on #5161
What version were you running before upgrading to 3.1? The alert you’re seeing is regarding the _User table.

[2018-11-02 14:29] rihadavid commented on #3747
If anyone is reading this still being interested in the full-text search over multiple fields, I just figured out that it works out of the box - if you had manually created the multi-field text index in the db.

All you need to do is to provide **any of the fields defined** in the text index (so that the parse-server is not trying to create the index for you). It will search over all of those fiel

[2018-11-02 15:07] dplewis commented on #3747
@rihadavid Would you like to submit a PR? Passing in an array to create a compound index automatically.

[2018-11-02 15:14] ranhsd commented on #3747
Hi @rihadavid Yes I already request it as a feature few days ago here: #5152

@dplewis I don't think that we should replace the current function that we have and use array instead of string because It can break current implementations. We can either create additional function something like: **fullTextCompound** or check inside the current function if the input is an array or string and create the

[2018-11-02 16:01] rihadavid commented on #3747
@dplewis Nope, sorry, but I am currently buried deeply in heaps of C# code that should have been finished months ago 😭
@ranhsd what a coincidence! :)

[2018-11-02 16:09] rihadavid commented on #5152
It could also somehow accept `weights` array parameter, maybe in the [options parameter](https://parseplatform.org/Parse-SDK-JS/api/2.1.0/Parse.Query.html#fullText) (required to be the same length as the keys array), because multi-field text index can define different levels of importance for the resulting score.

[2018-11-02 20:47] fxchou123 commented on #5161
From 3.0.0

[2018-11-03 10:07] boringwork commented on #5156
How about unified use UTF-8 encoding?

[2018-11-03 15:16] brianyyz commented on #4313
Maybe a long shot but looking at your config you have an absolute path specified for your certificate. On you hosted server is this a valid path? When ever I've used push on hosted servers e.g. Heroku I've used relative path like './certs/12345.p12' and I've never included passphrase.

[2018-11-05 04:10] #5052 closed

[2018-11-06 12:29] mulp commented on #4226
Hi guys, any update on that? It would be great to have this feature.

[2018-11-07 23:47] nebitrams commented on #5161
I am running parse-server 3.1.0 and also see similar warning when I start up parse-server (npm start).

Warnings on 3 index:
1) email_1
2) username_1
3) name_1

Is there any need to re-create the index on _User table when upgrading to 3.1.0?

warn: Unable to ensure uniqueness for user email addresses:  MongoError: Index with name: email_1 already exists with different options
    at /Users/Nebi/Do

[2018-11-07 23:52] chrisli30 commented on #1729
Well, if you are sure the req.user is the User object you want, you could force save using master key in cloud code. A little hacky, but this is what worked for me.

await user.save(null, { useMasterKey: true });

[2018-11-07 23:57] flovilmart commented on #5161
Are you able to provide the indexes from mongo perspective? We may have inadvertently mis implemented a feature in 3.1

[2018-11-08 00:21] nebitrams commented on #5161
@flovilmart, I believe these are the 3 indices.  First two on _User and the last one on _Role.

{
  "v": 1,
  "key": {
    "email": 1
  },
  "name": "email_1",
  "ns": "xxx._User",
  "background": true
}

{
  "v": 1,
  "key": {
    "username": 1
  },
  "name": "username_1",
  "ns": "xxx._User",
  "background": true
}

{
  "v": 1,
  "unique": true,
  "key": {
    "name": 1
  },
  "name": "name_1",

[2018-11-08 00:47] flovilmart commented on #5161
Just start a local mongo database. Look into the starting guides on the http://docs.parseplatform.org website

[2018-11-08 12:07] cassiamanoel commented on #2981
1. Execute
**$ lsof -i :1337**
2. Obtenha o PID. Se 9553 e execute
**$ kill -9 9553**
3. Execute
**$ sails lift**

[2018-11-08 12:10] cassiamanoel commented on #2981
Open terminal and run this command:
**$ lsof -i :1337**
Output will show PID of process occupying port 1337

Then kill the process with this command
**$ kill -9 1234**
Sails will now run

[2018-11-08 15:23] johanarnor commented on #5161
Might have a solution to this. We got the same error: `Unable to ensure uniqueness for role name:  MongoError: Index with name: name_1 already exists with different options` when trying to start with our old DB from parse.com with parse-server 3.1.1.

The issue was that we had an index `{ "name": 1 }` on `_Role`, but with `sparse` set to `false`. So we just deleted the index and parse-server creat

[2018-11-08 22:54] nebitrams commented on #5161
I created a blank local database and started parse server connecting to the local database.  It automatically creates the _User, _SCHEMA, _Role with indexes.  This is the mongod log with schema and indexes details.

[code]

[2018-11-08 23:10] flovilmart commented on #5161
Ok so the main issue is that now we create the indexes as unique + sparse, as you initially envisioned. Now I am not sure of the best resolution:

- ignore the warning
- delete and replace the index
- create the new index under a different name (and then perhaps delete the existing one)

What do you think?

[2018-11-08 23:35] nebitrams commented on #5161
Is "sparse" is used when a field could be left as "undefined".  Are these 3 fields optional?

If the "sparse" is required, I suggest to delete and replace the index upon parse-server start up.  Does parse-server has sufficient right to drop index?

[2018-11-08 23:37] flovilmart commented on #5161
Yeah, they do, temporarily, we could create the new one and replace the old one.

Is it something you’d like to implement?

[2018-11-09 00:35] nebitrams commented on #5161
The best way to give back when you receive a favour is to contribute code :-)  However, I am not so sure at the moment.  Let's me explore a bit further on parse-server codebase.

[2018-11-09 00:40] flovilmart commented on #5161
There is a workaround, and the setup is not completely broken. You could destroy your indexes and restart the server this would ‘just work’. But not as clean as doing a migration.

And as a long time user (as you said), it’s always good to have his hand dirty :)

[2018-11-09 01:34] #4871 closed

[2018-11-09 11:22] #4045 closed

[2018-11-09 12:22] #3857 closed

[2018-11-09 18:22] #3841 closed

[2018-11-09 19:31] CoderickLamar commented on #4727
Hoping we can get this re-opened. If someone can direct me in the right direction on this, I can try and take a look

[2018-11-09 19:36] dplewis commented on #4727
@CoderickLamar There isn't enough info in the original post and no logs posted. Hard to reproduce.

[2018-11-09 19:41] CoderickLamar commented on #4727
We're experiencing the same issue on our end. Let me see if I can grab more details and update this post with our info

[2018-11-09 20:10] markuswinkler opened #5167 "request.original in afterSave handler gone"
### Issue Description

I have an afterSave handler that uses request.original data to check if a field truly has changed.

### Steps to reproduce

try to access request.original

### Expected Results

access to request.original

### Actual Outcome

request.original is undefined

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 3.0.0
  - Operating Sy

[2018-11-09 23:25] zackshapiro opened #5168 "Compared to 2.5.0, 2.8.0 uses 60%+ memory in a resting state"
### Issue Description

We recently upgraded to Parse Server 2.8.4 from 2.5.0 for the improvements around Live Query between the two versions. In doing so, we noticed rather troubling increases in memory usage from Parse.

Here's a graph from CloudWatch of their respective idle `MemoryUtilization`

![](https://duaw26jehqd4r.cloudfront.net/items/2O0C0m1U2s0Q302B1k15/Screen%20Shot%202018-11-09%20at%2

[2018-11-10 00:04] flovilmart commented on #5167
Can you point out a commit that would have removed this feature?

[2018-11-10 00:05] flovilmart commented on #5168
Please Upgrade to 3.1.0. It is possible 2.8.4 has a bug that was resolved with susequent releases

[2018-11-10 00:05] #5168 closed

[2018-11-10 14:51] flovilmart commented on #5168
I don’t have any specific on the top of my head. Enabling Single Schema cache can reduce the memory pressure.

Lastly, you should upgrade beyond 2.8.4. The upgrade path should be straightforward as we published guides both for server and the JS SDK.

[2018-11-10 15:02] flovilmart commented on #5156
I don’t see the benefit of it directly as it should always be possible for the developer to use keys that match the current valuation pattern.
If you wish to implement a Pr that adds the support for another validation strategy, feel free to do so, but by default I wish to maintain the current behavior.

[2018-11-10 15:02] #5156 closed

[2018-11-10 17:14] zackshapiro commented on #5168
Enable single scheme cache is already true. I understand there are guides and I’ve reviewed them. My app is tens of thousands of lines of code and I need to better understand what memory improvements were made beyond 2.8.4 to justify the investment of time and resources.

[2018-11-10 18:56] flovilmart commented on #5168
Can you provide a profile / heap dump of before / after so you’ll be able to identify the objects and categories that are created in excess?

Most of the memory the server will use is related to the live caches of users and roles, a big chunk was refacored in the latest release and leads to dramatic performance improvements in 3.1.0 that adds support for CLP in live query as well.

Also you are co

[2018-11-10 18:58] flovilmart commented on #5168
See: https://github.com/parse-community/parse-server/pull/4387#issuecomment-430785351

[2018-11-11 01:15] #3746 closed

[2018-11-11 01:15] #4251 closed

[2018-11-11 20:58] markuswinkler commented on #5167
It disappeared when I switched from 2.8.4 to 3.0.0

[2018-11-11 21:32] flovilmart commented on #5167
I just tried to reproduce it with this https://github.com/parse-community/parse-server/pull/5170 and it behaves as expected. The original object is only present on updates (as written in RestWrite.js).

[2018-11-12 17:43] markuswinkler commented on #5167
ah! my bad. I didn't know that the original is only there in that case.
Funny enough though I never had the problem before that.
Is afterSave not in general called after every save?
Can I safely assume that original is there every time the content has changed?

[2018-11-12 19:39] #4507 closed

[2018-11-12 20:09] flovilmart commented on #5167
It should be there whenever there was an original object in the DB ‘before’ the save call enters I.e. when the object is updated, not when it is created.

[2018-11-12 21:47] #5167 closed

[2018-11-12 22:33] markuswinkler commented on #5167
Thank you for the clarification.

[2018-11-12 22:37] stevestencil opened #5171 "beforeSave questions"
I have a couple of questions on the beforeSave hook.

1) Is there a way to hook a beforeSave on a Parse.Object.saveAll()? Something like a 'beforeSaveAll'. This would allow the ability to loop through all objects and perform actions (like removing some from the array) before saving them.

2) Does parse-server support adding more than one beforeSave hook to a class? For example: can I use Parse.Clo

[2018-11-13 00:19] flovilmart commented on #5171
1. No
2. No
3. No

Hope this helps

[2018-11-13 00:19] #5171 closed

[2018-11-13 06:15] mnlbox commented on #4024
@somq unfortunately not. I'm switch to work with [Strapi](https://github.com/strapi/strapi) finally because that project is more active than Parse.
You can follow 2FA feature request there in [this](https://github.com/strapi/strapi/issues/786) and [this](https://portal.productboard.com/strapi/c/43-support-2fa-via-users-permissions-plugin) url.

[2018-11-13 10:39] oallouch commented on #4984
If you could try with 10 comments and 10 users, you would see better.

[2018-11-13 11:37] flovilmart commented on #4024
Too bad you moved to Strapi, I was about to start working on it as i’ll Need

[2018-11-13 16:08] antonfire commented on #4313
@dongalor Did you resolve this? I have the same issue

[2018-11-13 17:59] foobar8675 commented on #4984
I think I later watched the transaction via mongo logs and it did optimize
the query correctly, meaning both users were part of the same in clause.

On Tue, Nov 13, 2018 at 2:40 AM Olivier Allouch <notifications@github.com>
wrote:

--
Regards,
Matt

[2018-11-14 09:32] andresteves opened #5172 "Switching from parse-server-fs-adapter to GridStoreAdapter"
### Issue Description

Sorry for dropping this here but I tried elsewhere without any response.
I have an instance of Parse Server running with parse-server-fs-adapter as the file adapter and unfortunately I cannot stream videos to iOS because of that.

I would like to know how and if changing from parse-server-fs-adapter to GridStoreAdapter will continue to serve my files as https://server.com/pa

[2018-11-14 12:00] flovilmart commented on #4024
We haven’t started yet. The best way to get it faster would for for you to implement it and propose a PR

[2018-11-14 12:03] flovilmart commented on #5172
You need to move the files from one storage to the other which is not supported and likely won’t be.

You will need to find a way to list all the files from the fs adapter, and the save it into the grid store one. Fortunately, those adapters provide read and write capabilities

[2018-11-14 12:03] #5172 closed

[2018-11-15 05:51] dovewi opened #5174 "Bug for parse-server while use PostgreSQL"
ParseServer 3.0+ version

PostgreSQL 10

When I created a new configuration item today, the old one configuration item was deleted.

like this:

before create new one config item:
![before_add_secend_config](https://user-images.githubusercontent.com/5876087/48532860-11de5500-e8dd-11e8-83bb-f7b2836f7041.png)

then i create new one:
![add_new_config](https://user-images.githubusercontent.com/5876087

[2018-11-15 08:21] mat2cc opened #5175 "User Login Error (3.1.1)"
### Issue Description

Login functions are causing breaking failure on server. Any attempted login cause an ELIFECYCLE error. This was tried both using cloud code and the Parse.Unity API and the problem persists on both. This was working fine in Parse 3.0.0, this issue exists now after the update to 3.1.1 (We updated directly to 3.1.1 from 3.0.0).

### Steps to reproduce

Unity: ParseUser.LogInAsy

[2018-11-15 11:45] flovilmart commented on #5175
Thanks for teleporting the issue, can you provide the logs when running with tje VERBOSE=1 environment variable set?

[2018-11-15 11:46] flovilmart commented on #5174
Please reopen the issue filling completely the template, including the logs when running with the VERBOSE environment variable.

[2018-11-15 11:46] #5174 closed

[2018-11-15 12:14] mat2cc commented on #5175
<pre>
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\Administrator\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start',
1 verbose cli   'VERBOSE=\'1\'',
1 verbose cli   'parse-server',
1 verbose cli   '--appId',
1 verbose cli   '**',
1 verbose cli   '--masterKey',
1 verbose cli   '**' ]
2 info

[2018-11-15 12:21] flovilmart commented on #5175
It says ‘Failed to exec start script’ so actually the server didn’t start at all.

Also, this is not how you set environment variables on Windows.

You can also set `verbose: true` part of the ParseServer constructor options, alongside the appId and masterKey

[2018-11-15 12:31] shkatulo commented on #3072
Is there some way to customize error code with new asynchronous cloud code in Parse 3?

[2018-11-15 13:08] mat2cc commented on #5175
The server is starting because I can log in with Google and Facebook. Also other parse calls are working fine, once logged in via Facebook/Google So the issue is not to do with that. I'm not sure why it says ‘Failed to exec start script’.

[2018-11-15 13:16] flovilmart commented on #5175
According to the logs you sent:

1. Verbose is not set correctly
2. No trace of logging in is shown

So please provide those logs

[2018-11-15 14:07] mat2cc commented on #5175
Log In with Username and Password:
<pre>
verbose: REQUEST for [POST] /parse/functions/LogInASP: {
  "p_Username": "**",
  "p_Password": "**"
} method=POST, url=/parse/functions/LogInASP, x-parse-application-id=**, x-parse-client-version=net-netfx1.7.0.0, x-parse-installation-id=**, x-parse-os-version=Microsoft Windows NT 10.0.17134.0, x-parse-windows-key=, content-type=application/json, cache-cont

[2018-11-15 15:50] flovilmart commented on #5175
Are you putting a body in your GET query for login?

[2018-11-15 16:00] mat2cc commented on #5175
I'm just calling this from cloud code. The same occurs when logging in on Unity through `ParseUser.LogInAsync()`
<pre>

Parse.Cloud.define('LogInASP', async (request) => {
	const {
		p_Username, p_Password
	} = request.params;

	try
	{
		const user = await Parse.User.logIn(p_Username, p_Password);
		return user.getSessionToken();
	}
	catch(e)
	{
		throw 'Cloud Code Error. Error logging in with use

[2018-11-15 22:22] brianyyz commented on #4313
As mentioned above pushes are working for me on 3.0 both locally via ngrok and on remote Heroku server.

[2018-11-16 00:34] flovilmart commented on #5175
Can you attempt to create a test that reproduces the issue on this codebase?

[2018-11-16 04:24] dovewi opened #5176 "Using PostgreSQL10 to install Parse Server, add configuration items, there is an error."
### Issue Description

When installing Parse Server with PostgreSQL 10, adding Config entries to ParseDashboard will result in deletion of the old Config entries, i.e. Config can only put one entry. After checking the database, it is found that each new Config entry objectId is 1.

### Steps to reproduce

Before adding new entries:
![before_add_secend_config](https://user-images.githubusercontent.

[2018-11-16 04:38] dplewis commented on #5176
Do you want to try a pull request to address this?

I should have free time this weekend. I’m still using PG 9.5.

It might be an issue with how JSON objects are handled in 10

[2018-11-16 05:10] dovewi commented on #5176
All right, I'll try it then.

[2018-11-16 12:38] rihadavid opened #5177 "Saving object with CLP Update-only throws error"
### Issue Description

When saving object from client side with CLP set to Update-only, it throws `Permission denied for action get on class Comment.` When I allow Get in CLP, it starts working again. I tried to log inside `Parse.Cloud.beforeSave("Comment")`, but it does not even get called.

It is happening on 2.8.4, tried also 2.6.5, 2.8.0 and 2.8.3, those are ok. Did not try newer, but did not

[2018-11-16 17:00] LilMoke commented on #3635
I was wondering if anyone has a solution to this issue with AWS.  flovilmart made mention that people have successfully set up live query on AWS, but unfortunately it looks like no-one has shared the details.  If anyone has successfully set this up on AWS would you be so kind as to share the secret?  LOL, but really any help with this issue would be greatly appreciated.  I am getting the same 403

[2018-11-16 18:56] dplewis commented on #3635
@LilMoke Check out this guide

https://github.com/SoBump/ParseLiveQueryHelp/blob/master/guide.md

[2018-11-16 19:12] LilMoke commented on #3635
Awesome thanks so much.  I took a quick look and I think it told me my problem.  I was using a classic old balancer and my nginx file was slightly wrong.  Thanks again, I will try it shortly.

[2018-11-17 16:02] funkenstrahlen commented on #4313
I also see no issues with push notifications running the latest parse server release.

[2018-11-18 02:54] tanzeelrana commented on #1518
were you able to find an answer for this @amritsub ?

[2018-11-18 15:34] antonfire opened #5181 "Parse Push Failing APNS With 0 Success 16 Failures"
# Before opening the issue please ensure that you have:

- [ ] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [ ] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

Having upgraded initially from Parse Server 2.2.12 to Parse Server 2.

[2018-11-18 16:35] tanzeelrana commented on #1277
`parse-server-simple-mailgun-adapter: command not found`

[2018-11-18 17:16] tanzeelrana opened #5182 "add emailAdapter to ENV variables for parse-server-generic-email-adapter"
### Issue Description
### Steps to reproduce

I have the following setup and I am getting an error `parse-server-simple-mailgun-adapter: command not found`

[code]

I have installed `parse-server-simple-mailgun-adapter` using `npm i -g parse-server-simple-mailgun-adapter`

### Expected Results

Parse server should start with the email module setup and loaded properly

### Actual Outcome

### Envir

[2018-11-18 17:16] tanzeelrana commented on #5182
https://github.com/creationix/nvm/issues/1945#event-1973266449
https://github.com/parse-community/parse-server/issues/1277

[2018-11-18 18:01] flovilmart commented on #5181
How is your push adapter configured? It seems that the push doesn’t even reach APNS which makes me think of a mis configuration.

[2018-11-18 18:15] flovilmart commented on #5182
You do not have the package installed as the good people of nvm mentioned.

You mentioned having ‘generic’ email adapter in your config? It should likely reference ‘simple’ as it’s the one you want to use.

[2018-11-18 18:15] #5182 closed

[2018-11-18 20:52] antonfire commented on #5181
index is:

      ios: [
      {
        pfx: 'xxxredactedxxx.p12',
        topic: 'com.xxxredactedxxx.xxxredactedxxx',
        production: false
      },
      {
        pfx: 'SkoobaPushDistCert.p12',
        topic: 'com.xxxredactedxxx.xxxredactedxxx',
        production: true
      }]

main cloud code is:

			var query2 = new Parse.Query(Parse.Installation);
			query2.containedIn("userRoot", push

[2018-11-18 20:55] flovilmart commented on #5181
Can you try with a single certificate as it is now supported? Does the bundle ids/ topics match between the installation objects and the configuration?

[2018-11-18 20:56] antonfire commented on #5181
Can I get some more verbose logs from the APNS service?

[2018-11-18 20:57] antonfire commented on #5181
I looked at the single certificate option but couldn't see in Apple developer portal how to generate one

[2018-11-18 21:01] flovilmart commented on #5181
You can set DEBUG=apn:* or DEBUG=apn to turn on the internal logging of the apn module

[2018-11-18 21:01] antonfire commented on #5181
All certificates and provisioning profiles have remained the same during the development process and during release. The only thing I can think that has changed is that I changed the name of the of the app briefly duing development on the newest dev version only to see how it looked on the device built from Xcode, then changed back to what it was, this was purely a local dev change, nothing submit

[2018-11-18 21:02] antonfire commented on #5181
Ok can i do that as an environment setting in EB settings to get some more verbose output? Like VERBOSE = 1?

[2018-11-18 21:06] flovilmart commented on #5181
This is exactly how it should be used (as an environment variable).

Also, because you upgraded from an antique version of this project, it is possible many things changed.

[2018-11-18 21:06] flovilmart commented on #5181
What version of node are you running?

[2018-11-18 21:07] antonfire commented on #5181
Ok I'll try that and provide the more verbose logs so we can debug

[2018-11-18 21:14] antonfire commented on #5181
8.11.4, I just added DEBUG=apn with no additional output just trying DEBUG=apn:*

[2018-11-18 21:18] antonfire commented on #5181
Same response...

[36mverbose[39m: RESPONSE from [POST] /parse/push: {
  "headers": {
    "X-Parse-Push-Status-Id": "cuZlIiQsEM"
  },
  "response": {
    "result": true
  }
} X-Parse-Push-Status-Id=cuZlIiQsEM, result=true
zxzxzx pushes sent
{ result: true }
[32minfo[39m: Ran cloud function cron1MinutePushQueue for user undefined with:
  Input: {"password":"********"}
  Result: {"result":true}

[2018-11-18 21:36] tanzeelrana commented on #1549
I get this error after I enter the new password for some reason

[2018-11-18 21:48] antonfire commented on #5181
Yes I have 16 instances of my login id in installations so that is correct, i.e. the query is returning the correct data. I can only imagine that there has been some database schema modification since my 2016 version that I stuck with and the latest or pre latest. I was under the impression though that mongo didn't require column definitions to make a database entry as you might expect with mySQL

[2018-11-18 21:56] flovilmart commented on #5181
The modification you describe is unlikely, the _PushStatus did not change, and installation either. Can you provide an example installation object?

[2018-11-18 21:58] antonfire commented on #5181
Yeah sure:

{
    "_id": "DhlJu0aKuE",
    "channels": [
        "StandardUsers"
    ],
    "deviceType": "ios",
    "deviceToken": "2c6010c925df2f1dbc568608eca15ada7933ddba85d36c63372915c98b74xxxx",
    "userRoot": "facebook:1015324900788xxxx-KYcnnp6Rm8gFW2GePzx",
    "badge": 58,
    "_created_at": {
        "$date": "2016-12-10T12:57:29.412Z"
    },
    "_updated_at": {
        "$date": "2018-0

[2018-11-18 22:07] antonfire commented on #5181
Am I not getting any APNS error output then do you think? I'm not even getting that far?

[2018-11-18 22:10] flovilmart commented on #5181
That’s what I initially mentioned, your objects are sent to the adapter, but none are going further. I suspect it has to do with the missing bundle identifier in the installation object.

How did you create those installations? Through the iOS SDK?

[2018-11-18 22:19] flovilmart commented on #5181
You are missing the `appIdentifier` value in your installation objects, which for latest version of the push adapter prevent sending the pushs. This value is set by the iOS SDK.

[2018-11-18 22:31] antonfire commented on #5181
OK I'll have a look, does this mean all my previous users are now non pushable?

[2018-11-18 22:32] flovilmart commented on #5181
You can always either:

- set the appIdentifier in all existing objects
- provide a change in the push adapter that would fallback when the app identifier is not provided

[2018-11-18 22:34] antonfire commented on #5181
Could I fork parse server for a quick fix for me then submit a pull request to the main fork?

[2018-11-18 22:35] flovilmart commented on #5181
The fix has to be made in the push adapter, not in the server. And you can provide any custom module as a push adapter so you technically can fix it on your own.

[2018-11-18 22:36] antonfire commented on #5181
Main issue is though that I've done new installations on the new parse server which hasn't added appIdentifier to new installation objects. You'd expect this to be present right?

[2018-11-18 22:37] antonfire commented on #5181
I thought 3.1.1 had the latest push adaptor integrated?

[2018-11-18 22:45] flovilmart commented on #5181
Yes it has, the appIdentifier is set by the *client* alongside the *deviceToken*. You need to both fix your client side implementation and if you wish, implement a workaround in the push adapter.

None of this happen if you use the native iOS SDK.

Closing now as it’s not an issue with parse-server itself but with a client side custom implementation of Installations. (Or with the push adapter)

[2018-11-18 22:45] #5181 closed

[2018-11-19 00:38] JoaoArmandoo commented on #3439
Hello flovilmart, I'm having this same problem, can you explain me how to increase the timeout time on the http server you mentioned?

[2018-11-19 03:31] anhnhv2812 opened #5183 "Compare 2 fields"
I don't know if there is a solution for comparing 2 field in database by parse query?
Ex: query.equalTo('$createdAt', '$updatedAt');

[2018-11-19 11:58] #5183 closed

[2018-11-19 12:05] eslam2010011 opened #5184 "Digital Ocean Spaces authentication with parse server I want an example"
### Issue Description

### Steps to reproduce

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : [FILL THIS OUT]
  - Operating System:     [FILL THIS OUT]
  - Hardware:             [FILL THIS OUT]
  - Localhost or remote server? (AWS, Heroku, Azure, Digital Ocean, etc): [FILL THIS OUT]

- **Database**
  - Mon

[2018-11-19 12:31] flovilmart commented on #5184
Closing as the issue template is not respected: for questions, please use stack overflow or stack exchange

[2018-11-19 12:31] #5184 closed

[2018-11-19 14:06] mat2cc commented on #5175
To eliminate any issues that may be caused by data or any cloud code, I created a fresh instance of parse server on a brand new database. I cannot even create a user using the parse-dashboard or any other means. I tried this with version 3.1.0 and the same issues occurred as on 3.1.1.

I have also done a fresh installation with version 3.0.0 and it is working fine.

The environment setup is the sa

[2018-11-19 14:16] mman commented on #5175
I think the key to decipher this crash is to understand ``error errno 3228369023``. Converting this into hex  shows ``0xC06D007F``.

Anybody understands what ``node`` puts into ``errno``?

This looks like a custom error code.

[2018-11-19 20:55] flovilmart commented on #5175
It looks like it's related to your windows machine: https://github.com/Automattic/node-canvas/issues/1285#issuecomment-431897492

The error code (0xC06D007F) that you see is matching what is described above.

[2018-11-19 20:55] #5175 closed

[2018-11-20 17:45] mtrezza opened #5186 "Save pointer to new object in beforeSave"
### Issue Description

It is currently not possible to reference an object in its `beforeSave` hook to create a new object with a pointer to it.

### Steps to reproduce

_Example scenario:_
A user in `User` class should have a user profile in `UserProfile` class associated with it. A user profile has a pointer to the user.

It is currently only possible to create the user profile in the user's `af

[2018-11-20 17:47] flovilmart commented on #5186
This is the expected behavior as the object is not stored in the DB yet and doesn’t have an objectid that is stored.

Why can’t you use the afterSave for this intent?

[2018-11-20 17:56] mtrezza commented on #5186
Because after saving the user other methods try to update the user profile. This can happen immediately after sign-up when the user is created.

In some cases the afterSave hook has not created the user profile yet and the user profile cannot be updated.

I tried to solve this by creating a user profile if it doesn’t exist when trying to update it (via cloud code). But that can also cause race con

[2018-11-20 18:00] flovilmart commented on #5186
ok; I believe I get the problem, however creating a pointer to an unexisting object is not allowed, and at the time of the save, the object is not saved (by definition). Anything could prevent the object from saving actually.

What do you suggest?

[2018-11-20 18:14] acinader commented on #5186
@mtrezza, you had the right idea asking this on StackOverflow: https://stackoverflow.com/questions/53321248/how-to-prevent-race-condition-when-creating-a-document-on-parse-server

this is a design issue that you can solve.

I'm glad to continue helping you on that thread.

[2018-11-20 18:30] mtrezza commented on #5186
@acinader, thank you, any help appreciated.

My understanding is that there is no solution to the issue. There is always a possible race consition. Hence the issue opened here.

What is your suggestion to solve this?

[2018-11-20 19:10] acinader commented on #5186
I asked you a question on SO: "so why even bother doing #2? why not count on #4 to do the work."

Danh and I are trying to help you, but I am currently lacking enough information to do that.

[2018-11-20 19:32] dplewis commented on #5176
@dovewi I tried this on both PG 9.6 and PG 10. This is an issue.

This test fails

[code]

[code]

PG isn't setup to update an object but rather replaces it. I have limited time to work on it right now.

This is similar to the feature request https://github.com/parse-community/Parse-SDK-JS/issues/680 see discussion.

[2018-11-20 21:33] mtrezza commented on #5186
@acinader I already answered this on SO two days ago. Which information specifically do you need?

Again, there seems to be no way to avoid a race condition so I think it is not just a debugging issue.

[2018-11-20 21:37] flovilmart commented on #5186
While I appreciate all kinds of discussions, this one has nothing to do here @mtrezza =. double posting on multiple forums is never the way to go. Here, I particularly addressed the fact that what you are facing is indeed not a bug. If you wish to open a PR and suggest a 'safe' way to save pointers to unexisting objects feel free to do so. Otherwise, I would appreciate you stick with stack overflo

[2018-11-20 21:46] mtrezza commented on #5186
@flovilmart Agreed. If the community confirms that parse server cannot do this by design, then I will look into opening a PR. I just wanted to make sure that I did not miss a feature of parse server that actually solved this.

[2018-11-21 04:53] acinader commented on #5186
In this case, since you're not trying to coordinate multiple clients, I think that there are ways to work around the problem with parse server as is.  But, there are definitely times when I could have used a 'blocking after-save hook' where the object is available in its saved state before the client gets a response.  Glad to re-open @mtrezza if you want to work through it.

[2018-11-24 06:25] gorillatapstudio opened #5190 "parse_image 0.2.0 is still using Parse.promise.as() and Parse.promise() which results in an exception"
# Before opening the issue please ensure that you have:

- [ ] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [ ] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

parse_image 0.2.0 is still using Parse.promise.as() and Parse.promise

[2018-11-24 11:46] flovilmart commented on #5190
Unrelated to this project. Please open the issue on the appropriate repositoryz

[2018-11-24 11:46] #5190 closed

[2018-11-25 02:06] nebitrams commented on #5161
It works.

I have dropped these indices and then new indices automatically created in next parse-server restart.

[code]

Recreated index on _User
{
  "v": 2,
  "unique": true,
  "key": {
    "email": 1
  },
  "name": "email_1",
  "ns": "xxx._User",
  "background": true,
  **"sparse": true**
}

{
  "v": 2,
  "unique": true,
  "key": {
    "username": 1
  },
  "name": "username_1",
  "ns": "xxx._Us

[2018-11-25 16:58] dongalor commented on #4313
@brianyyz yeah, i've tried using relative path, same story :(
@antonfire still working on it, i need to solve this pretty soon though

I'm setting up 3.x.x branch, so I'll report if it's working there )

[2018-11-25 17:33] dongalor commented on #4313
Ok, I did 3.1.1 setup with bare configuration

here is index.js, which i launch my parse 3.1.1:
https://gist.github.com/dongalor/39ce1918bcf6c1eef3d5a137e4f092e9

here is my cloud function, I use to test pushes:
https://gist.github.com/dongalor/6dda14517778fecf3127f9d29fbe2a0c

here's log:

https://gist.github.com/dongalor/aa7f1d4807a575647fd7f25f88f2a856

Absolutely the same problem, so sad :(

[2018-11-25 17:38] flovilmart commented on #4313
@dongalor how are your installation objects created? Through the iOS SDK or manually?

Because all _Installation objects require a proper appIdentifier set so the push adapter can select the proper certificate / configuration to use to deliver the push.

As mentioned here: https://github.com/parse-community/parse-server/issues/4313#issuecomment-352136108

[2018-11-26 12:25] tobunka-git opened #5192 "Parse-Server shuts down once a User signup request is received"
### Issue Description

I was trying to sign up a user to the parse server, and the server shuts down, claiming JSON syntax error. I remove the parse-server@3.1.1 and install an earlier version, 3.0.0. Then used the same piece of data for user creation. You know what, the signup succeeds.

### Steps to reproduce

After installing parse-server@3.1.1/3.1.0, and fire a curl command from the rest api d

[2018-11-26 12:35] flovilmart commented on #5192
Can you provide the server logs when running with VERBOSE=1 set?

[2018-11-26 12:47] tobunka-git commented on #5192
nothing output, just shutdown

[2018-11-26 12:52] flovilmart commented on #5192
Are your running with the verbose logs? What is your configuration?

[2018-11-26 12:52] tobunka-git commented on #5192
`[13728] parse-server running on http://localhost:1337/parse
verbose: REQUEST for [POST] /parse/users: {
  "username": "cooldude6",
  "password": "********",
  "phone": "415-392-0202"
} method=POST, url=/parse/users, host=localhost:1337, connection=keep-alive, con
tent-length=69, origin=chrome-extension://aejoelaoggembcahagimdiliamlcdmfm, x-pa
rse-application-id=7da3ed62-4ec3-4444-a112-e9cea813f91

[2018-11-26 12:53] tobunka-git commented on #5192
in verbose mode, just output the request with data and headers, and then the server quits

[2018-11-26 12:54] flovilmart commented on #5192
What is the exit code of the process? What version of node are you running?

[2018-11-27 00:38] tobunka-git commented on #5192
I just installed the parse-server@3.1.1 using npm instead of yarn. It succeeds with user creation.

[2018-11-27 00:40] flovilmart commented on #5192
this should make no difference, unless you had different versions of node.

[2018-11-27 00:40] #5192 closed

[2018-11-27 01:57] tobunka-git commented on #5192
i don't know why. Since parse-server required node-gyp to compile, and i think there might be differences between npm and yarn in the way they do the compilation.

[2018-11-27 02:01] flovilmart commented on #5192
We do not test with yarn nor support it actively.

[2018-11-27 06:40] xVanTuring opened #5195 "Why not use object to store schema type"
**Describe the solution you'd like**
Currently parse server uses a string to set the schema type in mongo _SCHEMA, making it difficult to make additional settings such as required
If we use an Object, it will be easy to add an `isRequired` option.
And I tried this and modified a few functions, the parse server can create objects, and schema,The rest is still unclear.

Bottom it's the schema of the

[2018-11-27 11:49] xVanTuring commented on #5195
Well,that will definitely work, I just think parse server complicates some issues.

[2018-11-27 11:52] flovilmart commented on #5195
This is exactly the point of the beforeSave function, to let your define validation and custom logic. If this make is too complicated, you can always fork the project, and submit a PR when you have your feature ready!

[2018-11-27 11:52] #5195 closed

[2018-11-27 18:13] dblythy commented on #4241
@flovilmart Does this mean that it's insecure to use afterFind to strip out / modify fields as someone could potentially just subscribe to the object to get the full data?

[2018-11-27 18:15] flovilmart commented on #4241
Yes that’s what it means

[2018-11-27 18:49] dblythy commented on #4241
Okay. Is there any way to strip out fields for classes other than "_User" then? Or is it best to just use a new class with ACLs.

[2018-11-27 19:15] flovilmart commented on #4241
feel free to use the way you think is best

[2018-11-28 08:01] ranhsd opened #5201 "aggregate query with 2 lookups not working"
Hi,
The following aggregation is not working:

[code]

If I remove one of the lookups from the aggregation it works as expected but it doesn't work if I add another lookup to the query.

I tried to use the same aggregation in a MongoDB GUI client (3T Studio) and there it works well.

I wanted to know if there is a limitation to one lookup only?

Thanks!

[2018-11-28 11:00] dblythy opened #5207 "LiveQuery on Parse.User insecure"

[2018-11-28 11:47] flovilmart commented on #5207
Bravo in discosing a potential vulnerability to the public!

[2018-11-28 11:47] #5207 closed

[2018-11-28 12:02] flovilmart commented on #4241
@dblythy You can also perhaps open a PR to fix it for every one which would be the ‘nice’ thing to do. Also I closed your issue because you cannot disclose potential security issues this way, as it is stated, in the issue template you used. This is irresponsible as you are putting many developers and potentially millions of users at risk.

[2018-11-28 12:06] dblythy commented on #4241
Okay no worries @flovilmart. I'll work on a PR for the security issue first,

[2018-11-28 12:15] flovilmart commented on #4241
Thanks!

[2018-11-28 16:22] dplewis commented on #5201
What version of parse server and JS SDK are you running?

[2018-11-28 20:10] Tudodesk opened #5208 "Session token error"
We are trying to upgrade from 2.6 --> 2.8 - When we do this we are getting session token issues. It appears to be in the cloud function users/me. We orginaly thought we may have code that is loading querys storing objects and not using a session key or master key - we went through our code based and cleaned this. We still get the issue. If we roll back to 2.6 the issue stops.

[2018-11-28 20:12] Tudodesk commented on #5208
We are trying to upgrade from 2.6 --> 2.8 - When we do this we are getting session token issues. It appears to be in the cloud function users/me. We orginaly thought we may have code that is loading querys storing objects and not using a session key or master key - we went through our code based and cleaned this. We still get the issue. If we roll back to 2.6 the issue stops.

[2018-11-28 20:13] flovilmart commented on #5208
Please fill the issue template with relevant info and logs and open a new issue.

[2018-11-28 20:13] #5208 closed

[2018-11-28 20:42] flovilmart commented on #5208
Please, again, fill the issue template.

Also we do not support 2.8 anymore, please update to 3.1.2

[2018-11-28 22:03] Tudodesk commented on #5208
Hi, sorry had a demo phone call, will fill in over next 2 hrs appreciate
your response.

On Wed, 28 Nov 2018 at 16:43, Florent Vilmart <notifications@github.com>
wrote:

--
Martin Webb, founder at Tudodesk.com

Stacks of info, articles and tutorials: help.tudodesk.com

Schedule a demo call: calendly.com/tudodesk

[2018-11-29 03:40] Tudodesk opened #5209 "invalid session token (209)"
### Issue Description

Upgraded from 2.6.1 to 2.8.2 we get session error in our log. It seems the htto request that causes it is node-XMLHttpRequest, Parse/js1.11.1 (NodeJS 8.9.4) in our http. We inititally thought it could be querys that dont use a session or master key but that was not cause.

### Steps to reproduce

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**

[2018-11-29 09:58] amrit-citrusleaf opened #5210 "Unable to save file when using PostgreSQL as database"
### Issue Description

When uploading images from JS SDK to parse server with PostgreSQL as the database, I'm getting
"Could not store file" error with code 130.
On checking the server logs from dashboard we get - "Invalid schema, expected `mongodb` or `mongodb+srv`"

Looks like PostgreSQL is not supported as files adapter.

### Steps to reproduce

1. Start parse-server with PostgreSQL as database

[2018-11-29 13:48] ranhsd commented on #5201
Hi @dplewis I'm still on parse-server 2.8.4 which use JS SDK 1.11.1

I cannot upgrade now to Parse 3 because I have a lot of cloud code functions which needs to migrated.

[2018-11-29 13:52] dplewis commented on #5201
This has already been addressed https://github.com/parse-community/parse-server/pull/4835

Released on Parse 3

[2018-11-29 13:52] #5201 closed

[2018-11-29 14:07] Tudodesk commented on #5209
3.2 upgrade needs a huge code update that we will need to schedule in as im
not aware 3.2 is compatible with the old backbone style response callbacks?

On Thu, 29 Nov 2018 at 08:25, Florent Vilmart <notifications@github.com>
wrote:

--
Martin Webb, founder at Tudodesk.com

Stacks of info, articles and tutorials: help.tudodesk.com

Schedule a demo call: calendly.com/tudodesk

[2018-11-29 14:08] flovilmart commented on #5209
No, it isn’t that’s the point of the 3.x branch.
So in any case we won’t be of help. Reopen the issue if it persists on the latest version.

[2018-11-29 14:08] #5209 closed

[2018-11-29 14:09] Tudodesk commented on #5209
We will run a verbose log. We did this earlier but the output was enormous
and we had trouble locating the errors. We are using nodechef and the logs
are a tad difficult to navigate. I will have this re-run and tested.

On Thu, 29 Nov 2018 at 10:06, Martin Webb <martin@tudodesk.com> wrote:

--
Martin Webb, founder at Tudodesk.com

Stacks of info, articles and tutorials: help.tudodesk.com

Schedule

[2018-11-29 14:10] Tudodesk commented on #5209
Appolagies. So are you saying we can skip and upgrade to 3.2 with our exist
2.x code base?

On Thu, 29 Nov 2018 at 10:09, Florent Vilmart <notifications@github.com>
wrote:

--
Martin Webb, founder at Tudodesk.com

Stacks of info, articles and tutorials: help.tudodesk.com

Schedule a demo call: calendly.com/tudodesk

[2018-11-29 14:17] Tudodesk commented on #5209
Nodechef only run up 2.8.2 hence that is why we upgraded to that version.
I'm going to contact support and see if we can get a upgrade to 3.2.

Acording to your changelog
https://github.com/parse-community/parse-server/blob/master/CHANGELOG.md

3.0 has bradking changes in cloud code - success / error callbacks are
remove.
3.1.2 or any previous updates don't show those callbacks put back in.

I'm n

[2018-11-29 14:31] Tudodesk commented on #5209
Florent I appreciate your help, and have spent almost 10 years watching the
Parse community and your service. So, Thank you for your help. I have just
opened a SO
<https://stackoverflow.com/questions/53541214/upgrade-parse-server-2-x-to-3-x-is-the-old-code-base-compatible>
post to find out if we can upgrade to 3.1.2 with out old style code base or
if we are going to have to put any update on hol d

[2018-11-29 14:54] flovilmart commented on #5209
The code indeed needs to be migrated.

[2018-11-29 14:57] Tudodesk commented on #5209
That is going to be painful. thanks for letting us know. Wanted to get the
perfomance improvements from 2.7.2.

On Thu, 29 Nov 2018 at 10:55, Florent Vilmart <notifications@github.com>
wrote:

--
Martin Webb, founder at Tudodesk.com

Stacks of info, articles and tutorials: help.tudodesk.com

Schedule a demo call: calendly.com/tudodesk

[2018-11-30 10:12] amrit-citrusleaf commented on #5210
I've already read the documentation. It doesn't say anything about Postgres in file storage adapters section, that's why I created this issue. Is there any chance to implement postgres file storage adapter?

[2018-11-30 12:07] flovilmart commented on #5210
Because Postgres is not suited to store files we will not implement one. you can implement a custom adapter to store files in Postgres if you really want but I suggest use use one suggested in the docs.

[2018-11-30 23:57] #4370 closed

[2018-12-01 02:36] SebC99 opened #5218 "Parse server > 3.0.0 is VERY slow for count operations"
### Issue Description

With Parse server 3.0.0 everything is going fine, while with Parse server 3.1.1 & 3.1.2 (I haven't test with 3.1.0) count operations are very very slow.
It's immediately visible in Parse Dashboard, as the dashboard tries to display the count of each class (we have around 15 classes plus the parse ones), and it fails to do it, with most requests ending in timeout (especially

[2018-12-01 03:05] acinader commented on #5218
Could you do a git bisect to find the commit?

[2018-12-01 03:39] dplewis commented on #5218
@acinader That’s a cool trick

[2018-12-01 03:49] SebC99 commented on #5218
@acinader & @dplewis not that simple to do... I have to patch parse-server each time and release a fork without the .nvmrc file which causes npm issues with other node version.
Then I need to upload the fork on github, link it from my server code, and deploy it... So it's a bit long to do so for each single commit (there's a lot of them). I'll do my best

[2018-12-01 04:10] SebC99 commented on #5218
and it's not visible on our dev server, as we don't have enough rows in our classes :(
I'll try to import millions of lines later

[2018-12-01 04:29] dplewis commented on #5218
Did you update the node version of your elb to 8.11?

[2018-12-01 04:38] SebC99 commented on #5218
No we use 8.8.1 in one environment and 10.13.0 in another.
Depending of your

[2018-12-01 14:51] aBuder opened #5219 "Schema error number; expected String but got Number"
I got the following error

`{"code":111,"error":"schema mismatch for Machine.number; expected String but got Number"}`

I created an class with an column `number` of type `String`. The column would be created, but if I type in some data I get these error.

![bildschirmfoto 2018-12-01 um 15 50 27](https://user-images.githubusercontent.com/1265139/49329549-e4520680-f580-11e8-9f56-ca69d367edc6.png)

[2018-12-01 14:52] flovilmart commented on #5219
As always, can you provide server logs?

[2018-12-01 15:11] aBuder commented on #5219
After Updating the server to parse version 3.1.2 everything works fine.

[2018-12-01 15:11] #5219 closed

[2018-12-01 20:17] leelakrishnak commented on #5209
I see the issue in 3.1.2 as well

error: Invalid session token Error: Invalid session token
    at Object.getAuthForSessionToken (/Users/leelakrishnak/tnt/tapi/node_modules/parse-server/lib/Auth.js:114:11)
    at <anonymous>
    at process._tickDomainCallback (internal/process/next_tick.js:229:7)

[2018-12-01 20:32] Tudodesk commented on #5209
Not sure if this is a cause but what we did was to check all our Parse
server calls, IE query.find. query.get and save's have the masterkey or a
session token.  That said we are still stuck on 2.6.1

On Sat, 1 Dec 2018 at 16:18, Leelakrishna <notifications@github.com> wrote:

--
Martin Webb, founder at Tudodesk.com

Stacks of info, articles and tutorials: help.tudodesk.com

Schedule a demo call: c

[2018-12-03 09:29] monstrobishi opened #5220 "Getting started docs ocs recommend piping bootstrap script into sh instead of bash"
### Issue Description

Getting started docs inlcude this line:
[code]

However, the boostrap script is not compatible with a basic sh shell, and needs bash to function correctly. The recommended command should be altered to:

[code]

More specifically, sh doesn't support the `[[ ]]` syntax used in the script, so many of the commands in the script error out (For example, generating default values).

[2018-12-03 18:38] JacobJT commented on #5030
I'll have to read up on how to submit a PR later. I found this SO post helpful.
 https://stackoverflow.com/questions/36144406/how-to-break-on-reduce-method

[code]

This essentially implements `break` within the `reduce()` method. `reduce()` would normally continue iterating over the array, using the third (index) and 4th (array reference) values of the function passed in to `reduce()`. So, by cho

[2018-12-03 18:39] JacobJT commented on #4740
Posted fix in comments of #5030, will submit PR later fixing these issues (they are essentially the same).

[2018-12-03 23:59] flovilmart commented on #5220
Thanks for reporting the issue! Are you able to provide a Pr with a fix?

[2018-12-04 07:04] srameshr commented on #4948
@dplewis @ozeas You guys working on this?

[2018-12-04 07:35] dplewis commented on #4948
It’s up for grabs. Feel free to do a PR.

[2018-12-04 08:37] drinvojka commented on #3673
Any update on getting automatic device token for FCM ?

[2018-12-04 14:36] Stream1988 commented on #5218
I have the same problems. I found out that the problem appeared after #5025. The count method in the node-mongodb-native library has been deprecated, but the countDocuments replacement method works completely differently.
Unlike the old count method, the countDocuments method uses aggregation in the DB query. Unfortunately, at the moment, MongoDB does not use indexes for grouping for the aggregati

[2018-12-04 14:54] SebC99 commented on #5218
@Stream1988 nice catch! Then using `estimatedDocumentCount` when there's no query in parameters, and 'countDocuments' when there is would be a better solution?

[2018-12-04 18:00] flovilmart commented on #5218
Long story short, do not rely on mongo counts, they are ineffective. If you want to have a compatibility method, where we’d use the old estimated count instead, you could well open a PR

[2018-12-04 18:06] SebC99 commented on #5218
@flovilmart you're right and we don't. But the dashboard is... And is now unusable.

[2018-12-05 08:09] dave08 opened #5223 "Docs on how to add adapter settings in environment variables"
I couldn't find any mention in the docs how to add options for file or mail adapters (like the s3adapter endpoint for digital ocean), or maybe this is not possible? If not, is there a file I could add for these kinds of options? Where do I put it? We're running on Kubernetes, so this has to work in a Docker image...

It would be nice if this aspect would have better docs, more and more companies a

[2018-12-05 08:19] monstrobishi commented on #5220
I'm not sure if a PR can fix this as it's an issue with the website:

https://docs.parseplatform.org/parse-server/guide/

If the code for the website is hosted somewhere on github I can provide a PR.

[2018-12-05 11:59] flovilmart commented on #5223
did you read the README? Did you see links? Did you click? Did you notice the S3 adapter is not hosted here? Did you try google ‘S3 adapter parse server’?

[2018-12-05 12:11] flovilmart commented on #5220
It’s on the docs repository of this GitHub organisation

[2018-12-05 12:22] dave08 commented on #5223
@flovilmart I saw the readme, went through the links, the s3 adapter is under parse-community github user. But all that is besides the point, you guys are doing a great job, I'm not complaining, just pointing out that for an end user, it's very hard to understand how to configure adapters in general when you're not tweaking the code.

In general, docker image best practices allow all main configs

[2018-12-05 12:32] #5223 closed

[2018-12-05 12:35] flovilmart commented on #5223
Closing as completely off topic. All adapters can be configured through environment variables, in the form of a serialized JSON object. Not sure why you mention Digital ocean, as it’s properly documented in the S3 adapter repository.

You don’t share any core, so I don’t know what to say.

This is for reporting bugs, not general questions, as stated in the issue templates.

[2018-12-05 12:50] dave08 commented on #5223
I'm really sorry for the trouble, I mean it's documented using code examples. I don't see any example of using a serialized JSON object in an environment variable (I've been looking for a few days...). I'm not a js programmer, so it's a bit hard to figure this out. If you would just give me an example of how to pass such a serialized JSON object to the environment variables, I could possibly offer

[2018-12-05 13:06] flovilmart commented on #5223
This has nothing to do with JS.

The documentation website is quite clear I am gonna paste the link because I assume you didn't get that far looking for a few days: https://docs.parseplatform.org/parse-server/guide/#configuration-options

I will also assume you didn't reach that page either: https://github.com/parse-community/parse-server-s3-adapter#usage-with-digital-ocean-spaces because it doesn

[2018-12-05 13:19] dave08 commented on #5223
I saw all that. All those configs are using JS code, not uniquely environment variables. So to make a Docker image, I'd have to include a JS file declaring all that, build the image every time one of those settings change. This means adding one more unecessary CI/CD pipeline to Jenkins, an extra git repo, all just for a few settings.

Thank you for taking time to answer this issue, I wouldn't both

[2018-12-05 16:54] trappat opened #5224 "My Parse cloud code is returning 400 errors"
I had a foreign developer write my app but he didnt write the cloud code correctly, now my servers CPU is overloading and I am getting so many slow requests. Can someone look in my cloud code to see what needs to be refactored?

I have back4app as a host but they are no help and I am running Parse 2.8.4

Slow request screenshot
https://www.dropbox.com/s/gt253n71hwdzgym/Screen%20Shot%202018-12-05%2

[2018-12-05 17:01] flovilmart commented on #5224
This is not a bug with the server, reach out to your developer or back4app for help

[2018-12-05 17:01] #5224 closed

[2018-12-05 17:03] trappat commented on #5224
Back4app people dont know how to help and my developer doesnt either

[2018-12-05 17:03] trappat commented on #5224
Could you help with this?

[2018-12-05 17:15] addisonElliott commented on #5224
Please post on StackOverflow with the appropriate tag or using the chatroom.

GitHub issues are **only** to be used for bugs related to the software.

If you're wanting to debug this yourself, the approach I use with cloud code is to comment things out until it gets better and then add console.log commands to gain further information.

[2018-12-05 19:45] trappat opened #5225 "Best parse host?"
What parse host are you using? Im disappointed with Back4app and Sushido because they cant help with parse cloud code problems. Also, where can I find parse cloud code experts?

[2018-12-05 19:46] addisonElliott commented on #5225
Once again, this is **not** the place to post questions like this. Please post them on StackOverflow or on the chatroom for Parse.

This will likely be closed soon.

[2018-12-05 19:47] #5225 closed

[2018-12-05 23:19] flovilmart commented on #5223
To conclude this, passing the environment variable with the (`PARSE_SERVER_FILES_ADAPTER="{"module":"@parse/fs-files-adapter", "options":{...}}"? `) is definitely a bad idea.

If your goal is to work with docker and kuberenetes, you should leverage volumes and arguments:

- use a volume to mount your configuration file, `.js`configuration.
- use arguments: https://kubernetes.io/docs/tasks/inject-d

[2018-12-06 06:58] mrmarcsmith opened #5226 ""MongoError: Cursor not found" on relational query"
### Issue Description
This iOS query to get users of a certain role always return a "MongoError: Cursor not found" error
[code]

### Steps to reproduce

1. set up server and database
2. create a role
3. add users to the role
4. run the above query

### Expected Results
The query returns users who are apart of the given role.

### Actual Outcome
An internal server error is thrown and nothing is ret

[2018-12-06 10:59] flovilmart commented on #5226
Can you try with the latest version of parse-server and mongodb with version 3.x not 4.x?

[2018-12-06 11:57] mrmarcsmith commented on #5226
In the mean time we just hot fixed the way the query was constructed to avoid a relational query and moved to a whole new cluster. I'll do some testing tomorrow and let you know if the new cluster stops the error.

[2018-12-06 12:12] flovilmart commented on #5226
So how was this issue discovered?

[2018-12-06 12:13] flovilmart commented on #5226
As a side question, what is the necessity for sharding?

[2018-12-06 12:54] dave08 commented on #5223
@flovilmart
Merci pour votre patience :smile:! Hopefully this is the last question, if you don't mind:

I have this in my config map:
[code]
I mount it to `/parse-server/index.js` in the docker image and use `node index.js` in the `command`, but I'm getting this in the Pod logs:
[code]

[2018-12-06 13:18] flovilmart commented on #5223
What does your docker image look like? Is it the one in this repo? Odd thing is that express is found. That makes me wonder if the parse-server dependency is set in your package.json. If you are using the docker image from this project, then you should require parse-server differently (lib/index) I believe or something similar

[2018-12-06 14:58] blastoy opened #5227 "beforeSave request object changes ignored"
### Issue Description

When defining a beforeSave hook, any changes done to the request object will not apply if the hook function returns true. For example:

[code]

If the return is omitted, then the beforeSave hook works just fine.

If returning a Promise that returns true, the beforeSave does not apply any changes either. For example:

[code]

I haven't tried with returning other things like s

[2018-12-06 15:37] dongalor commented on #4313
@flovimart Damn it, now I got it, we don't have appIdentifier in our Installation table, so, with parse 2.4.2 (which is sending pushes right now) we don't need apIdentifier, i guess :)

Is it possible to assign apIdentifier manually without IOS SDK?

[2018-12-06 16:47] mman commented on #4313
@dongalor Sure you can just fire up mongo cli and modify ``_Installation`` documents in your database to manually set ``appIdentifier``.

I'm deliberately not copy pasting any command to do it as this will be a massive (harmless) update, so I'd like you to understand what are you doing...

[2018-12-06 17:35] flovilmart commented on #5223
Well, you should try it out. Perhaps starting with checking what’s in the docker image the files etc...

[2018-12-06 17:36] flovilmart commented on #5227
Would you be able to write a failing test?

[2018-12-06 17:52] blastoy commented on #5227
Hey @flovilmart,

@dplewis instructed me to copy/paste this test and add a return to the hook:

https://github.com/parse-community/parse-server/blob/master/spec/CloudCode.spec.js#L165

I did that and ran the tests and the test failed.

I don't know where to take it from there though, since I've never submitted a failing test. Do I branch and do a pull request?

[2018-12-06 17:59] acinader commented on #5227
NICE!!

Yes, fork parse-server, create a branch, add your test, push to your fork and make a pull request.  here's step by step directions: https://git-scm.com/book/en/v2/GitHub-Contributing-to-a-Project

WELCOME!

[2018-12-06 18:35] blastoy commented on #5227
I just submitted the pull request. I wasn't too sure on the branch name (idk if there's conventions) but hopefully everything is in order.

@acinader thanks for your help!

[2018-12-06 19:58] digitalfractal opened #5229 "_user object structure is different from pre-migration"
### Issue Description

i notice when old user objects before migration happened, had different data structures than the new ones which is causing some issue on our end, why would this be so and how to fix ths? app is hosted on heruku

### Steps to reproduce

adding a _user record

### Expected Results

{
    "_id": "lxrTjox1D7",
    "username": "abc@gmail.com",
    "_hashed_password": "$2a$10$mG4q

[2018-12-06 20:34] dplewis commented on #5229
What issues where you having exactly? Can you post logs VERBOSE=1

Also you should update your node version > 8

You shouldn't use * pin your packages.

[2018-12-06 20:38] digitalfractal commented on #5229
@dplewis some of the fields that we normally add to user object and other records are happening on cloud code. apparently the cloud code doesnt function anymore and doesnt make updates, inserts etc. the error we are getting are things like Cannot read property 'error' of undefined (Code: 141, Version: 1.12.0)

what could be causing this do you think?

instead of * what should we set for the parse

[2018-12-06 20:41] dplewis commented on #5229
Set it to the latest version 3.1.2

You should make it a habit of keep track of releases for your dependencies.

Check out the [Migration to 3.0.0](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) guide

Reopen if you are still having issues after migration

[2018-12-06 20:41] #5229 closed

[2018-12-07 01:00] digitalfractal commented on #5229
@dplewis we are still getting the same issues. Any other ideas.

[2018-12-07 01:02] dplewis commented on #5229
Did you write all of your cloud code functions?

[2018-12-07 04:33] dplewis commented on #5229
Quick glance Parse.Cloud.useMasterKey() does nothing

response.success and response.error doesn’t exist please read the migration guide I posted

[2018-12-07 04:39] digitalfractal commented on #5229
Hi Diamond

Will you be able rewrite these cloud codes for a fee if we provided them to
you. there are a few more functions as well.

The person who developed this is no longer with us and its taking a while
to get our new developer get up to speed with parse?

tnx

Souhail Alavi | Business Development Director | Digital Fractal
Technologies Inc
Phone: (780) 669-0944 x23
Cell: (780)-886-7846
Fax:

[2018-12-07 04:49] dplewis commented on #5229
Sorry no can do.

It’s an easy fix just replace

response.success(whatever) with `return whatever`

response.error(whatever) with `throw whatever`

[2018-12-07 04:50] flovilmart commented on #5229
@digitalfractal this is not a job board, and we already gave you all the pointers to solve your issue. If you are looking to hire a consultant, I would suggest you use a more appropriate channel.

[2018-12-07 04:54] digitalfractal commented on #5229
i do appreciate your help on this, thank you.

On Thu, Dec 6, 2018 at 9:51 PM Florent Vilmart <notifications@github.com>
wrote:

[2018-12-07 06:01] dplewis commented on #5229
No problem!

[2018-12-07 07:37] oallouch commented on #5225
GCP :)

[2018-12-07 15:31] joshuadiezmo commented on #4998
I think this is not live query problem. I check the variables that live query pass to my javascript sdk. and when I unset the pointer, it gives me object without the pointer. but when I console.log the object, the pointer are still on my object. the problem was on the javascript SDK.

[2018-12-07 15:42] joshuadiezmo commented on #4998
[![IParse server livequery Pointer problem](https://img.youtube.com/vi/rYiA_a_b7b4/0.jpg)](https://www.youtube.com/watch?v=rYiA_a_b7b4)

[2018-12-07 20:06] mrmarcsmith commented on #5226
we have a lesser used administrative feature that executed the query. because of the non-critical nature of this feature it isn't covered by tests.

Sharding allows for a unified database that enforces sending requests to "shards" that reside in the same region as the user. for a New York user, why send a request from California to New York when you could access the New York servers directly.

[2018-12-08 13:37] Amit-synergytop commented on #4658
We are using AWS lambda functions and MongoDB Atlas with parse server.
We are facing slow API response issue and we are trying to determine where is the issue. As I did some RND on it and get conclusion that parse server responding slow.
So can you please help me in determining the actual problem or suggest me any tool through which I can determine it by my self.

[2018-12-08 16:14] dongalor commented on #4313
@mman I have a development server, where I can do any dangerous stuff :)
So, I've made a small experiment, I've entered my appId from my parse's index.js file to every installation record and tried doing the same test push sending as [here](https://gist.github.com/dongalor/6dda14517778fecf3127f9d29fbe2a0c), what I've got in logs is:

`verbose: _PushStatus UgmAPHkeyG: sending push to installations

[2018-12-08 22:54] BillyJohn3 opened #5230 "Issue - users not able to log in after updating to v3"
I've just updated my Parse server by updating nodejs, node, npm and then using 'git pull' and 'npm install' to update.
Dashboard is running fine but at the top of the dashboard it says "v1.0.18" which I believe is not the newest.

Non of our 6K users can log in right now so I need this fixed asap. I tried logging on on a test IOS device and got the error back from the server (after a correct usern

[2018-12-09 00:56] flovilmart commented on #5230
You should be able to fix it by dropping the existing indexes

[2018-12-09 02:16] flovilmart commented on #5226
So what’s going on is likely the roles not being discoverable because of your usage of sharding. Not sure how to fix nor provide a proper reproduction step.

[2018-12-09 06:18] mrmarcsmith commented on #5226
@flovilmart I discovered the issue [here.](https://jira.mongodb.org/browse/NODE-1530?jql=summary%20~%20%22Cursor%20not%20found*%22%20OR%20description%20~%20%22Cursor%20not%20found*%22) TL;DR We load balance our mongos servers behind a Kubernetes "service" but apparently mongos instances require session affinity. I'm looking for a solution now, I'll post what we find incase anyone else stumbles acr

[2018-12-09 06:18] #5226 closed

[2018-12-09 07:42] BillyJohn3 commented on #5230
How can I do that?

[2018-12-09 09:34] georgesjamous commented on #5230
Schema index Instructions are in the documentation [https://docs.parseplatform.org/js/guide/#indexes](https://docs.parseplatform.org/js/guide/#indexes)
If this does not work, you could try clearing indexes directly from the database

[2018-12-09 13:31] BillyJohn3 commented on #5230
Okay, sorry, I found the system.indexes file and have looked through all. The only ones containing "email_1" are the following:

{
"v": 1,
"key": {
"_created_at": -1,
"username": 1
},
"name": "created_at-1_username_1",
"ns": "quickflics_main._User",
"background": true
}
{
"v": 1,
"key": {
"_id": 1,
"username": 1
},
"name": "_id_1_username_1",
"ns": "quickflics_main._User",
"background": true
}
{
"

[2018-12-09 13:33] flovilmart commented on #5230
It says more than one as it is trying to create new indexes with the same name on startup.

[2018-12-09 13:36] BillyJohn3 commented on #5230
Can I delete all of those indexes in mongoDB without causing other problems?

[2018-12-09 13:37] flovilmart commented on #5230
This should be fine.

[2018-12-09 14:42] BillyJohn3 commented on #5230
I can't refer to the _User table using Mongo Shell and so can't delete the indexes. I also can't delete the indexes from system.indexes as I'm being given an error. Is it impossible to delete them?
I can find the index using "db.system.indexes.findOne({"name": "username_1"}); but if I change that to:
db.system.indexes.deleteOne({"name": "username_1"}); then I get the error [thread1] TypeError: err

[2018-12-09 14:45] flovilmart commented on #5230
You should use the dropIndex and not dropOne on indexes :) https://docs.mongodb.com/manual/reference/method/db.collection.dropIndex/

You cannot refer to the user tables as it has an _, but you can use `db.getCollection(« _User »)`

[2018-12-09 15:11] BillyJohn3 commented on #5230
Thank you! That worked a treat. I deleted the two indexes "email_1" and "username_1" and then made this change [here](https://github.com/parse-community/parse-server-push-adapter/issues/85) as that was brought up as an error.

However I still can't log in. The log now only shows "starting Parse live query" but I still can't log in or sign up.. Any ideas?

[2018-12-09 15:19] flovilmart commented on #5230
Not really, did you start the new version of the server? Can you provide the verbose logs?

[2018-12-09 18:05] flovilmart commented on #5230
This is the same issue, the indexes are still there, as stated in the logs, you should ensure the new indexes are properly created by the latest version.

[2018-12-09 20:18] BillyJohn3 commented on #5230
Sorry, no, the indexes bit is from before. Currently the only log being printed when I restart is the LiveQuerry one.

[2018-12-09 21:39] aBuder opened #5231 "Parse Installation Model structruce"
Hi,

I wrote an app in flutter and now want to add push notifications. I integrated onsignal Push Service successfully. After receiving an device token, I have to setup an Installation object in Parse Server. What json I have to send to Parse Server to register or update an Installation?

[2018-12-09 21:40] flovilmart commented on #5231
Did you read the documentation about the REST API?

[2018-12-10 06:45] #5129 closed

[2018-12-10 10:05] mman commented on #4313
@dongalor Please try once again with ``VERBOSE_PARSE_SERVER_PUSH_ADAPTER=1`` environment variable set, you should get more detailed diagnostics in the log.

[2018-12-10 19:36] oallouch commented on #4856
Ok, the real issue is that you can't just remove node_modules without removing package-lock.json.

Now, it's closed.

[2018-12-11 04:03] trondkr commented on #4022
Hi. I have exactly the same problem and I can not seem to find a solution. I have set up my Parse server (v3.1.2) on Elastic Beanstalk and everything is working well. I have set up "reset email" and "verify email" using my Mailgun account and the parse-server-mailgun module. My "verify email" works correctly and an email is sent to the user but I can not get my "reset password" to function. I expe

[2018-12-11 05:17] trondkr opened #5232 "Reset password - email won't send"
[I have the same exact problem as mentioned here, but the issue was closed and not resolved.](https://github.com/parse-community/parse-server/issues/4022) I have setup my Parse server (v3.1.2) on Elastic Beanstalk and everything is working well. I have setup "reset email" and "verify email" using my Mailgun account and the parse-server-mailgun module. My "verify email" works correctly and an email

[2018-12-11 15:31] JacobJT commented on #5232
Is it `reset_password` instead of `password_reset`? I have the former, but don't recall if it's something custom set up. I know we customize the page, I don't know if we chose the path and it could be anything. We use the Sendgrid module and set up was just passing in an API key and  e-mail we're sending from, but we add `/public/reset_password.html` to customPages property

[2018-12-11 17:38] fmendoza commented on #3517
What about 4?

[2018-12-11 17:43] trondkr commented on #5232
@JacobJT Thank you! That was exactly the issue. I can't believe I spent so much time trying to get this to work when the solution was so obvious.

[2018-12-11 17:43] #5232 closed

[2018-12-12 07:51] johanarnor commented on #5218
Just to weigh in as well, since we also experienced the same issue when testing with Parse 3. The dashboard actually brought down the DB for a couple of minutes, since we had missed to configure `maxTimeMS` in parse-server.

So I agree with @SebC99 (with my basic MongoDB knowledge) that a solution would be to simply use [estimatedDocumentCount](https://docs.mongodb.com/manual/reference/method/db.c

[2018-12-12 20:33] smiziara opened #5233 "LiveQuery updates doesnt return the original object"
To make a decision when receiving a LiveQuery update, we need to have the previous values (original values).

I can see that theres already a variable with the original object ready to be sent, but its not, only the current object is sent.

Would you please consider returning the original object as an extra parameter to the Update subscription?

[2018-12-12 20:36] dplewis commented on #5233
That’s a great idea. Do you want to do a PR?

[2018-12-12 20:39] smiziara commented on #5233
@dplewis Yes i can do it. But i believe it will be necessary to change the ParseServer and the JS SDK, right? Otherwise it may break the compatibility.

[2018-12-12 20:51] dplewis commented on #5233
Sounds about right

[2018-12-13 05:54] haroot commented on #3518
any updates on sharding _User and fs.files (minimal) fs.chunks (important GBs of Data) aka GridFS?

I was able to do "_id": "hashed" on _User but got the uniqe field on email and username warning
and fs.chunks I was able to do "files_id": "hashed" and import worked and it split 50/50 approx but I couldn't add a new file lol due to the index

[2018-12-13 12:08] flovilmart commented on #3518
Unfortunately we’ll not lift the indexes as they guarantee proper performance and security features

You should not store Gb’s of data files in mongo, probably you should consider a solution based on S3 or proper file storage.

[2018-12-13 15:23] dongalor commented on #4313
@mman so, I run my parse 3.1.1 instance this way, without pm2 for test purposes:

`VERBOSE=1 VERBOSE_PARSE_SERVER_PUSH_ADAPTER=1 node index.js`

and I get this in my log:
[code]

[2018-12-13 15:34] antonfire commented on #4313
Add a column in your installation class with the name appIdentifier and the type string. Then populate all your existing installation objects with your app id eg com.blahblah. Then try sending again

[2018-12-13 15:38] antonfire commented on #4313
Will need to ensure new installation objects are populated with this field on push registration client side

[2018-12-13 15:51] flovilmart commented on #4313
One could as well make a fix in the adapter.

[2018-12-13 16:10] antonfire commented on #4313
I would suggest removing the appIdentifier as a requirement in the installation class as this is specified in the push adaptor settings in index.js. I can have a look at a pull request for this if that would help?

[2018-12-13 16:42] flovilmart commented on #4313
That certainly would help

[2018-12-13 17:43] antonfire commented on #4313
Ok I’ll get on it

[2018-12-13 17:49] brianyyz commented on #4313
@antonfire are you thinking that this would be an either / or approach (look for appIdentifier first and if absent use push adapter settings from index.js) or just ignore the appIdentifier in Installation and rely solely on config from index.js?

[2018-12-13 17:51] flovilmart commented on #4313
That’s not that simple, if the installation does not specify an app identifier and multiple are configured, the adapter need to retry. In any case you should also fix your clients so they return a proper appIdentifiwe.

[2018-12-13 17:54] brianyyz commented on #4313
@flovilmart that is where I was headed. This starts to feel like it would be breaking away from the way that the sdks behave.

[2018-12-13 18:00] flovilmart commented on #4313
Initially, the fact that we didn’t take into account the appIdentifier was a bug.

[2018-12-13 18:16] antonfire commented on #4313
Not everyone uses the sdk to register push, a waterfall approach would be best to prevent breaking changes for users that haven’t upgraded or installed since the breaking change

[2018-12-13 22:39] flovilmart commented on #4313
@antonfire I am not sure where you’re getting at. The spec in the rest documentation has always been to pass an appIdentifier. That the server before 2.6 was permissive was a bug on the server.

If you feel any of this is wrong, this is an opensource project, so you know what to do.

[2018-12-13 23:35] #5027 closed

[2018-12-14 00:35] #5135 closed

[2018-12-14 01:36] haroot opened #5238 "Migrating Cloud Code hangs on await query.find"
THe below code   hangs on the const user = await query1.get / find etc segment. if i put console.log after it won't log because the async function is not resolved... worked fine on parse 2.8.3

Parse.Cloud.define('exportData', async (req, res) => {
  console.log("req params:", req.params, req.params.parseUserId);
  if (!_.has(req.params, 'parseUserId')) {
    return;
  }
  try {
    console.log("A

[2018-12-14 01:40] flovilmart commented on #5238
Please use stackoverflow for implementation related question, or open a PR with a failing test.

[2018-12-14 01:40] #5238 closed

[2018-12-14 01:52] haroot commented on #5238
solution is:
const user = await query1.get(id, { useMasterKey: true });  =>
 const user = await query1.get(id);

[2018-12-14 01:54] jorgemlc opened #5239 "ParseServer with Aurora Postgres saves 0 and decimals in arrays as string"
### Issue Description

On Parse using Aurora Postgres:
When saving an array with either a 0 or some decimal value (ex. 1.1) to a field of type Array, those number values are automatically converted to strings somehow. Any other integer is fine. For example, the array becomes ["0", "1.1", 2, 3, 4, 5] when expecting [0, 1.1, 2, 3, 4, 5]. I have tried a lot of weird and random things to try to force

[2018-12-14 02:06] flovilmart commented on #5239
Thanks for reporting the issue!

The Postgres adapter has a special debugger that traces all the sql commands. You can enable it with setting the environment variable PARSE_SERVER_LOG_LEVEL=debug

[2018-12-14 12:41] zealmurapa opened #5240 "Can't includeAll() include: '*' in REST API"
Is it possible to run the query:

`query.include( '* '); or query.includeAll( );`

in REST API?

Maybe I am missing something, it `include: '*'` won't work

[2018-12-14 12:42] flovilmart commented on #5240
Can you provide the logs when running with verbose = 1 as well as the logs when doing the same from the JS SDK?

[2018-12-14 12:47] zealmurapa commented on #5240
includeAll: '*' worked

[2018-12-14 12:47] #5240 closed

[2018-12-14 19:59] dplewis commented on #5239
I tried this with Postgres 10 and Aurora PG 10.4 and this works fine for me.

* I'm running the latest version of parse

Can you run the following test?
[code]

https://github.com/parse-community/parse-server/blob/master/CONTRIBUTING.md

[2018-12-14 22:53] dongalor commented on #4313
@antonfire Oh My God! Now, when I'm using topic/bundleId value in my test user Installation record, I have an error! I think we are very close to beat this problem of my. Thank you so much in advance, guys!

Here's what log says:

[code]

[2018-12-14 23:06] flovilmart commented on #4313
That’s likely because the token is invalid

[2018-12-14 23:39] #5176 closed

[2018-12-15 06:15] mman commented on #4313
@dongalor Error 400 happens when you try to send push from parse server using a production certificate or token to a debug build of your app, IOW the push token of your app is a one that is valid for sandbox. servers.

[2018-12-15 06:40] giomatiashvili commented on #1023
`curl -X DELETE \
  -H "X-Parse-Application-Id:[AppId]" \
  -H "X-Parse-Master-Key:[MasterKey]" \
  http://[ParseServer Url]/files/5b6cd3a71873be9c79aedeb53ff71f05_fav.png`

here is the code for REST API for deleting files, php API supports file delete as well:

[code]

[2018-12-15 10:02] antonfire commented on #4313
@dongalor Set up like this so works on production and development:

push: {
      ios: [
      {
        pfx: 'PushDevCert.p12',
        topic: 'com.xxxxxx.xxxxx',
        production: false
      },
      {
        pfx: 'PushDistCert.p12',
        topic: 'com.xxxxxx.xxxxx',
        production: true
      }]

}

[2018-12-15 10:14] antonfire commented on #4313
@flovilmart @brianyyz I was just thinking of a fallback to the bundle id where appIdentifier is undefined

[2018-12-15 12:45] brianyyz commented on #4313
@dongalor (going all the way back to the beginning)  In your AppDelegate are you saving the device token that returns in didRegisterForRemoteNotifications to the device Installation before sending a push to the device? The last updated time stamp on the Installation should get updated if you are.

[2018-12-16 02:42] bughp opened #5245 "Invalid WebSocket frame: RSV2 and RSV3 must be clear"
hmy-app_1  | /app/node_modules/parse-server/lib/ParseServer.js:218
hmy-app_1  |           throw err;
hmy-app_1  |           ^
hmy-app_1  |
hmy-app_1  | RangeError: Invalid WebSocket frame: RSV2 and RSV3 must be clear
hmy-app_1  |     at Receiver.getInfo (/app/node_modules/parse-server/node_modules/ws/lib/receiver.js:160:14)
hmy-app_1  |     at Receiver.startLoop (/app/node_modules/parse-server/nod

[2018-12-16 03:08] flovilmart commented on #5245
Closing as this is not an issue with the server but with your client and/or the was module.

Feel free to reopen an issue with the template correctly and completely filled, with samples and reproduction steps.

[2018-12-16 03:08] #5245 closed

[2018-12-16 17:17] InstaRobot opened #5246 "Cannot save more than one config parameter in parse-server"
### Issue Description

<a href="http://funkyimg.com/view/2PfW6" target="_blank"><img src="http://funkyimg.com/i/2PfW6.png" alt="Free Image Hosting at FunkyIMG.com" border="0"></a>

After adding the second parameter, the first parameter disappears. The documentation states that you can store up to 100 configuration parameter values.

### Steps to reproduce

1) Create parameter in config any type
2)

[2018-12-16 17:59] flovilmart commented on #5246
This should be solved by this: https://github.com/parse-community/parse-server/pull/5242

Can you try with using the master branch instead of the latest release?

[2018-12-18 07:09] srameshr commented on #4886
@Tybi The files I upload via cloud code does not have the unique prefix in its path that digital ocean spaces require.
I get something like ```sfo2.digitaloceanspaces.com/my-file-name-prefix-hash-media.jpeg``` in ```url()``` but I want it to be prefixed with bucket name in order for the link to be valid.
```my-bucket-name.sfo2.digitaloceanspaces.com/my-file-name-prefix-hash-media.jpeg```

[2018-12-18 13:36] flovilmart commented on #5231
Do you mind sharing it?

[2018-12-18 17:01] dplewis commented on #5239
@jwenBai Thanks for reporting. I submitted a PR with a fix https://github.com/parse-community/parse-server/pull/5251

[2018-12-18 18:11] #5239 closed

[2018-12-18 23:38] #5246 closed

[2018-12-19 07:38] sd1998 commented on #4226
@dplewis Can I work on this?

[2018-12-19 22:07] jwenBai commented on #4727
I also have this issue. It works fine when the array is not empty, but when the array is empty it causes the issue.

the query that I used:
[code]

and the error message :
[code]

[2018-12-19 23:57] #4727 closed

[2018-12-20 12:38] flovilmart commented on #4313
Glad to hear. Also the issue is on the push adapter, so it won’t be fixed in this version of parse-server

[2018-12-20 12:48] brianyyz commented on #4313
Excellent news!

[2018-12-20 14:50] dongalor commented on #4313
@flovilmart got it, right :)
@brianyyz 👍

[2018-12-23 14:53] #5145 closed

[2018-12-24 16:34] #5152 closed

[2018-12-25 20:53] iamvajid commented on #4035
This issue is because of the directory structure. For beanstalk nodejs deployment, the top level folder should be containing package.json file

[2018-12-27 12:40] Amit-synergytop opened #5262 "performance issue"
### Issue Description
We are using AWS lambda functions and MongoDB Atlas with parse server.
We are facing slow API response issue and we are trying to determine where is the issue. As I did some RND on it and get conclusion that parse server responding slow.
So can you please help me in determining the actual problem or suggest me any tool through which I can determine it by my self.

### Steps t

[2018-12-27 12:53] flovilmart commented on #5262
Hi,

What makes you reach this conclusion?

[2018-12-27 12:57] Amit-synergytop commented on #5262
We removed the parse server and directly called the lambda server and observe that the speed is getting quite fast.

[2018-12-27 13:00] flovilmart commented on #5262
Can you provide benchmarks from your load tests?

Also you are using version 1.8.0 which does not exist. Where did you get this version from?

[2018-12-27 13:15] Amit-synergytop commented on #5262
Sorry this is correct version 3.1.2. And i will provide benchmarks.

[2018-12-27 13:17] flovilmart commented on #5262
Another thing you can check is the same benchmark with the server running locally. Can you provide those numbers?

[2018-12-27 13:30] flovilmart commented on #5262
You can use the `ab` tool
https://httpd.apache.org/docs/2.4/programs/ab.html

To perform a benchmark against your server. The interface is similar to curl

[2018-12-27 13:37] Amit-synergytop commented on #5262
This is ApacheBench, Version 2.3 <$Revision: 1807734 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking cpp-bucket.s3-website-us-west-2.amazonaws.com (be patient)
Completed 100 requests
Completed 200 requests
Completed 300 requests
Completed 400 requests
Completed 500 requests
Completed 600 re

[2018-12-27 13:39] flovilmart commented on #5262
So what is wrong with those benchmark values?

[2018-12-27 13:39] flovilmart commented on #5262
Also what was the command that you ran?

[2018-12-27 13:45] Amit-synergytop commented on #5262
ab -n 1000 -c 10 -k -H "Accept-Encoding: gzip, deflate" http://cpp-bucket.s3-website-us-west-2.amazonaws.com/

[2018-12-27 13:46] flovilmart commented on #5262
This does not make a query to your server though. Did you check the REST documentation in order to properly make a query?

[2018-12-27 13:53] Amit-synergytop commented on #5262
Can you provide any example for ab tool? So I will used that.

[2018-12-27 14:03] flovilmart commented on #5262
Well I don't know your server URLs, API keys etc...

`ab -n 1000 -c 10 -k  -H "X-Parse-Application-Id: APP_ID" -H "X-Parse-REST-API-Key: REST_KEY" http://URL_TO_QUERY_THE_CLASS`

You can actually check everything is running smoothly with using `curl`  and this documentation:

https://docs.parseplatform.org/rest/guide/#queries

[2018-12-27 14:08] Amit-synergytop commented on #5262
ab -A "authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoibm9ybWFuQHlvcG1haWwuY29tIiwiZW1haWwiOiJub3JtYW5AeW9wbWFpbC5jb20iLCJfaWQiOiJPbkJGZmlMUmlFIiwiaWF0IjoxNTQ1OTE4OTQwfQ.vL0MCqwKNijtqabo5nlsDI1S1IG8IAFKJRH2JutwCXY" -n 1000 -c 10 -k  -H "X-Parse-Application-Id: myAppId" -H "X-Parse-REST-API-Key: myMasterKey" -H "X-Parse-REST-API-Key: myMasterKey" -H "Accept: application/json, text/p

[2018-12-27 14:10] flovilmart commented on #5262
and as you can see the performance is just fine

[2018-12-27 14:21] Amit-synergytop commented on #5262
Yes i am using custom functions. this is testing report using with lambda server.

ab -A "authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoibm9ybWFuQHlvcG1haWwuY29tIiwiZW1haWwiOiJub3JtYW5AeW9wbWFpbC5jb20iLCJfaWQiOiJPbkJGZmlMUmlFIiwiaWF0IjoxNTQ1OTE4OTQwfQ.vL0MCqwKNijtqabo5nlsDI1S1IG8IAFKJRH2JutwCXY" -n 1000 -c 10 -k  -H "X-Parse-Application-Id: myAppId" -H "X-Parse-REST-API-Key: myMas

[2018-12-27 14:33] Amit-synergytop commented on #5262
Actually i have putting data limit (10) that way i am getting fast response. otherwise i will putting data limit (100) after that response time increased .

[2018-12-27 14:36] flovilmart commented on #5262
By how much? Can you provide the benchmark results?

Initially you stated that in order to get 10 objects you were seeing response times of 1500ms. Is it *still* the case?

[2018-12-27 14:51] Amit-synergytop commented on #5262
let you know after creating benchmark report

[2018-12-27 14:52] Amit-synergytop commented on #5262
if Any other option for get benchmark report. Please let me know.

[2018-12-27 15:03] flovilmart commented on #5262
I will be closing this issue now, as the performance is not what is described in the original issue description. If you have performance issues, consider running another benchmark through AB and open the issue with the performance report.

[2018-12-27 15:03] #5262 closed

[2018-12-28 03:52] mryalamanchi commented on #4847
@flovilmart, Flutter offers the developers to communicate host (native code) and client side (Flutter) so the Android and iOS sdks can be used without fail. But again. having a Flutter sdk is anytime advantageous for the developers using it. Also, Flutter being a cross-platform tool will provide more agility and save time in the longer run.
Will the community focus on developing a Flutter sdk for

[2018-12-28 05:40] flovilmart commented on #4847
@mryalamanchi I am not sure what you are asking. If you see value in a developing a flutter SDK, then you can start one and become a maintainer. You can always seek guidance across the different communication channels for particular implementation details.

[2018-12-28 10:32] trongvn2010 commented on #4847
https://github.com/lotux/parse_server_dart This project isn't work for me. Anyone did this?

[2018-12-28 13:21] BenniPlejd commented on #5218
We had the same issues for our production's Parse Server, since whenever we used Parse Dashboard it caused performance issues for our API's.

As a temporary solution I first disabled the fetching of counts [in a fork of parse-dashboard](https://github.com/BenniPlejd/parse-dashboard/tree/feature/hide_count), so that we could at least use the dashboard without slowing down our API's.

However, I've

[2018-12-28 14:42] flovilmart commented on #4847
@trongvn2010 you should open an issue on this project then

[2018-12-28 14:43] flovilmart commented on #5218
This is reasonable that this was the original behavior exhibited by mongodbz

[2018-12-28 22:56] #5233 closed

[2018-12-29 17:23] JoaoArmandoo opened #5266 "What are these files in mlab? [fs.chunks, _JobStatus, _Push Status]"
Hello everyone, I just go to the mlab see how my storage is, and I realize that some files are taking up too much space, I do not know what they are ... Can I delete these files without problems?

The first file that catches my attention is: **fs.chunks**
[You can see a image here](https://drive.google.com/file/d/10RUIJfgSRVqNPliArXxNkDyGYfUM7A9m/view?usp=sharing)
What is this for? Can I delete it

[2018-12-29 17:32] flovilmart commented on #5266
these are all the uploaded files by your users, you should not delete them. Also you should consider storing the files in S3 or another storage.

The _JobStatus collection keeps track of the execution of past jobs, you should be able to safely delete them

The _PushStatus collection keeps track of all the sent push notification, you should be able to safely delete them if you do not mind loosing t

[2018-12-29 17:32] #5266 closed

[2018-12-30 13:42] funkenstrahlen opened #5268 "Parse Server 3.1.3 release not available in npm directory"
Currently it only lists `3.1.2` release but not the current `3.1.3` release. https://www.npmjs.com/package/parse-server

[2018-12-30 15:06] flovilmart commented on #5268
Thanks @funkenstrahlen for pointing this out! I've fixed the travis setup so it build and should be all good now.

[2018-12-30 15:06] #5268 closed

[2018-12-30 15:10] mtrezza commented on #5186
OK, I will look into a PR when I have more time.

If anyone interested, the currently used workaround:
* a unique index in mongoDB on the `user` field in `UserProfile` collection
* a Parse.Cloud function that return the user's profile and creates one if non exists yet; to address concurrency, if no user profile was found and creating a user profile fails with Parse error 137 `DuplicateValue`, then

[2018-12-30 15:15] flovilmart commented on #5186
@mtrezza what do you consider as a PR? Because I don't want you to start working on a PR if we know ahead of time that we'll reject it.

[2018-12-30 15:31] funkenstrahlen commented on #5268
Thank you! 😊

[2018-12-30 15:46] flovilmart commented on #5186
Let me challenge that with the following example:

[code]

In the following example, there may be an issue after the profile saves the user's reference. So in this case you'll have a dangling reference on the profile which is not a good idea either.

[2018-12-30 16:07] dplewis commented on #5218
Closing via https://github.com/parse-community/parse-server/pull/5264

[2018-12-30 16:07] #5218 closed

[2018-12-30 16:10] mtrezza commented on #5186
I think is would be the current implementation of Parse Server. The PR should address exactly the issue you mention, where only when saving the user succeeds, the user profile should be created with a user reference. The PR would add that logic.

[2018-12-30 16:34] flovilmart commented on #5186
[code]

What is wrong with this approach? In any case, because you associate the profile with the user save, you will need to fetch in from the client. The server is designed to return any mutations that occur in the before/after hooks.

Also, with version > 3 you can wait till the afterSave has completed.

[2018-12-30 16:58] mtrezza commented on #5186
This approach causes the profile to be without user reference before `afterSave` has completed. So a profile can only be safely accessed through the User class with an include statement.

The conclusion would be to not add a user reference to the profile at all, because it is not guaranteed to exist . But without reference, the `UserProfile` class cannot be queried meaningfully, because it is miss

[2018-12-30 17:01] flovilmart commented on #5186
well, just trying to give your the proper way of doing it, without breaking anything and with enough guarantees that the profile saves occurs within the user save cycle. If you manage to query a profile in between this cycle, then I’m not sure what to tell you, but again, consider transactions instead. Whatever you are attempting is also wrong as you would be saving the profile to an unexisting us

[2018-12-30 17:08] mtrezza commented on #5186
Going back to my suggestion, what speaks against introduction a `profile.safeOnSuccess()` in the `beforeSave` hook?

Behind the curtain, when the `beforeSave` hook saved the user, but before it calls the completion handler, it could save the user profile with the created user as reference.

[code]

The `beforeSave` hook executes behind the curtain:
1. Save user
2. Save profile (with proper user re

[2018-12-30 17:17] flovilmart commented on #5186
This is a quite bad solution, If you want to run something *after the object is saved* then use *afterSave*.

Did you even try the solution that I recommend, that work and is reliable?

After that, what you want / describe, is a transaction. That exactly many operations occur or none. This is an interesting take on transactions, to be able to trigger them from a beforeSave, and add operations to t

[2018-12-30 17:48] flovilmart commented on #5186
Which has been solved for a while as if you return a promise in the afterSave hook, this will wait for the promise to complete before responding to the user.

[2018-12-30 18:00] mtrezza commented on #5186
But the `signUpInBackground` completion handler in iOS SDK will be called before `afterSave`.

iOS:
[code]

Cloud Code:
[code]

[2018-12-30 18:02] flovilmart commented on #5186
No it won’t if you return a promise in your afterSave hook

[2018-12-30 18:05] mtrezza commented on #5186
@flovilmart That actually solves the issue and makes the PR unnecessary. Took me a while to understand your example, thanks so much for your patience.

[2018-12-30 18:11] flovilmart commented on #5186
@mtrezza good! However there is still a slight chance that the _User object save fails, and an dangling profile is created, which is not a big deal, as they are easily identifiable as they lack the back reference to the user (but you can always destroy them in batch as they should not be referenced by anyone).

[2018-12-31 00:39] mtrezza commented on #5227
Just want a moment to recognize @blastoy's example of a good issue description 👍

[2018-12-31 13:32] rihadavid commented on #5177
Dear stalebot, please do not close this issue, it seems to be an easily reproducible bug ⚔️ 😄
Would anyone like to try to reproduce this on the newest version? Maybe @flovilmart or @dplewis ? I have unfortunately migrated my app to a provider which is using parse server 2.3.3, so it does not bother me right now, but you might want to take a look before the stalebot decides it's not worth it 😉

[2018-12-31 13:34] flovilmart commented on #5177
Did you try the latest version of parse server? If I recall correctly a fix was addressed for this

[2018-12-31 13:35] rihadavid commented on #5177
No, the newest I tried was 2.8.4

[2018-12-31 13:35] flovilmart commented on #5177
Can you try with the latest version?

[2018-12-31 13:36] rihadavid commented on #5177
Sorry, I can't test it right now, I am on 2.3.3 as I said

[2018-12-31 15:26] ckarmy opened #5271 "Flutter SDK"
If you are interested in the Flutter parse server SDK you can collaborate in https://github.com/phillwiggins/FlutterParseSDK 😀

[2018-12-31 15:56] addisonElliott commented on #5271
Not familiar with Flutter but it's great that you're working on the SDK.

This issue will likely be closed because issues are meant for describing bugs in parse server only.

With that in mind, the more appropriate way of *"advertising"* this SDK is to place it in the README or somewhere in the docs. I'm sure others may have different opinions, but my suggestion would be to place your link in the

[2018-12-31 16:05] flovilmart commented on #5271
Would be nice on the community highlights indeed! Feel free to open a PR there!

[2018-12-31 16:05] #5271 closed

[2019-01-01 13:29] bluelabeldeveloper1 opened #5272 "Live Query: Not receiving Events on iOS Client. Our Parse server hosted on Azure App Services."
### Issue Description

We have hosted Parse server on Azure App Services. We are able to connect to live Query and able to Subscribe to it. We are getting below messages.
[code]

And we are subscribed to Update Event but when we updated any records we are not getting event Back.

On the server:

We tried to listen to Specific port "1337" as below: Every time we do that our Parse Dashboard and API

[2019-01-01 20:11] ckarmy commented on #5271
And in which repositorie I can edit this?

[2019-01-01 20:12] flovilmart commented on #5271
@ckarmy there you go! https://github.com/parse-community/parse-community.github.io

[2019-01-02 10:27] GoGross opened #5273 "Google and Twitter Auth"
Where can I get full documentation on implementing google and twitter auth, seems the documentation doesn't have it all? I have successfully done so with Facebook with no problems. An example gist? @flovilmart

[2019-01-02 13:47] flovilmart commented on #5273
What did you try? Or miss? Everything is documented in docs.parseplatform.org.

[2019-01-02 13:56] GoGross commented on #5273
Kindly reference the Google implementation for me, its nowhere to be found.

[2019-01-02 14:06] flovilmart commented on #5273
I don’t have any reference implementation at hand, sorry about that. But all is documented. Closing as it’s not a bug with the server.

[2019-01-02 14:06] #5273 closed

[2019-01-02 18:12] percypyan opened #5274 "RestQuery.each override queries constraints on objectId field"
### Issue Description

When checking the roles of a user during a query, the relation constraints `{ users: { __type: 'Pointer', className: '_User', objectId: 'OJ1uFj4U8C' } }` on the _Role class is transformed into `{ objectId: { '$in': [ ...objectIds... ] } }`. The problem is that for each iteration done if the request isn't finished, the `objectId` constraint is replace by `{ objectId: { '$gt':

[2019-01-02 22:36] flovilmart commented on #5274
Would you be able to open a PR with a failing test?

[2019-01-03 04:20] mryalamanchi commented on #4847
@flovilmart yes I was suggesting to move towards hybrid client sdks rather than developing the individual client sdks. As many of the features are common across the mobile platforms so it helps the mobile developers and saves them a ton of time. Flutter is one such hybrid approach.
Having said that, I also acknowledge the fact that Flutter is very new in the market and will have to mature before t

[2019-01-03 09:41] percypyan commented on #5274
Yeah of course! I'm opening a PR with the failing test and then the fixing commit.

[2019-01-04 10:46] mryalamanchi commented on #4527
@Nisthar the environment variables are set to type **String**. So you need to convert it from string to the **Boolean** type since both _enableAnonymousUsers_ and _allowClientClassCreation_ accept Boolean values only.

You can use "yn" package which does the job for you. So your code should look something like this :
[code]
This should solve the problem.

After adding this, committing and pushing

[2019-01-04 18:24] oallouch opened #5278 "calling another Parse Server"
Hi everyone,

As parse-server and the js sdk both use the Parse global variable, is it possible for me to call another Parse Server from hooks (other than using the REST API) ?

Thx in advance,
Olivier

[2019-01-04 19:20] flovilmart commented on #5278
Not advised as you’d override the current Parse SDK setup

[2019-01-04 19:20] #5278 closed

[2019-01-04 19:22] #5274 closed

[2019-01-04 19:23] #5177 closed

[2019-01-04 21:34] oallouch commented on #5278
So I have to use REST calls ? Too bad, but I can understand.

[2019-01-05 12:26] JEKos opened #5279 "I can't upload PFFile (image) from Dashboard and I get 404 when I try to access it on browser when my parse server uses https"
### Issue Description
Hi,
I have a parse server on Digital Ocean with https using nginx proxy method. My parse server url is like https://my-domain.com/myappname. I have added this link to publicServerURL of my parse server in index.js file to use for mailgun and files.

I also have added this link as **serverURL** in `config.json` file of Parse Dashboard.
I tried to upload a pffile (image) throug

[2019-01-06 03:14] dplewis commented on #4998
Closing via https://github.com/parse-community/Parse-SDK-JS/pull/714

[2019-01-06 03:14] #4998 closed

[2019-01-06 07:12] barakbd opened #5280 "No retries are made after "failed to connect on first connect""
Please see issue here: https://github.com/Automattic/mongoose/issues/5169

Same issue occurs in parse-server.

Suggestions?

[2019-01-06 15:13] flovilmart commented on #5280
From what I can read, this behavior is expected from the driver perspective.

Also, parse server has some initialization to perform before it can startup. So it will always expect the DB to be up before it starts.

Even in the docker compose docs, they recommend to add a ‘wait-for-it’ script
https://docs.docker.com/compose/startup-order/ for such behavior. I am not sure we should fix in parse-serv

[2019-01-07 17:31] Samigos commented on #5029
@georgesjamous Hi again! It's been a few months! :D
Since you seem to know your stuff, could you help me out with the clustering part?

I don't know if a Parse Server is stateless or not! The _Session_ and _Installation_ collections for example, will they have any issues?

I'm also using LiveQuery for chatting. Could that have any issues?

[2019-01-07 20:17] flovilmart commented on #5029
Why those 2 collections?

The server is stateless, unless you have live query. At this point it needs to be aware of the live query instances, the best way, is to read the docs, so you are familiar with scaling parse-server horizontally

https://docs.parseplatform.org/parse-server/guide/#configuring-the-server

[2019-01-07 21:35] Samigos commented on #5029
A few months ago I read somewhere that those 2 are being cached and that if we want to cluster the server, it could be a potential issue... Maybe I remember it wrong? It's not a thing?

[2019-01-07 21:47] phillwiggins commented on #4847
Try

https://pub.dartlang.org/packages/parse_server_sdk#-readme-tab-

[2019-01-07 21:53] nuborian opened #5283 "Users can't Login via REST API"
Hey,

since update i can't get login a user to work - and i have really no idea why ... :(

`Running on http://localhost:1337
dyld: lazy symbol binding failed: Symbol not found: __ZN4node19GetCurrentEventLoopEPN2v87IsolateE
  Referenced from: /Users/*****/Documents/*****/_Development/*****/node_modules/bcrypt/lib/binding/bcrypt_lib.node
  Expected in: flat namespace

dyld: Symbol not found: __ZN4n

[2019-01-07 21:55] flovilmart commented on #5283
Try deleing the `node_modules` folder and running `npm install` again

[2019-01-07 21:59] nuborian commented on #5283
hmm tried that - same result. Did I use any wrong/old version of some module or what was your idea?

[2019-01-07 22:04] flovilmart commented on #5283
Perhaps, I have no way to know from here. What version of node do you use? I believe this was requested in the bug template.

[2019-01-07 22:15] nuborian commented on #5283
Node Version is v9.2.0

[2019-01-07 22:52] flovilmart commented on #5283
Can you use latest node LTS (10.14.x)

[2019-01-07 22:56] nuborian commented on #5283
Updated node to 11.6.x and it works =)

[2019-01-07 22:57] #5283 closed

[2019-01-08 13:38] Samigos commented on #5272
No, it's not necessary! You can specify whatever port you like! You have to make sure though that Azure knows what ports need to be open for inbound traffic... (parse-server's default ports are 1337 parse & 4040 dashboard) Azure may disable all open ports by default for security reasons.

In case you're hosting your db in a separate machine, you need to declare mongo's port (27017) as outbound fro

[2019-01-08 14:52] flovilmart commented on #5272
@bluelabeldeveloper1 can you provide the configuration part for liveQuery? Did you configure the class names you want to listen to accordingly?

[2019-01-09 06:16] mryalamanchi commented on #2863
@flovilmart can you point me towards the code when a Session object is being created during Signup.
I will try fixing it and open a PR asap.

Also, there is unexpected behavior. When the _verifyUserEmails_ option is enabled and if a Signs up attempt is made using only the username and password, which is mandatory, without passing an email. Then it doesn't let the User login saying the email is not

[2019-01-09 06:51] jlnquere opened #5285 "Unable to make a count on a query with a GeoConstraint"
### Issue Description

When I try to make a count on a query with a GeoConstraint, I have an `internal server error`. It seems to be tied to an issue with Mongo: `MongoError: $nearSphere is not allowed inside of a $match aggregation expression`.

### Steps to reproduce

I built a minimal parse instance (just a copy paste of documentation):
[code]

On client side:
[code]

### Expected Results
I'm e

[2019-01-09 07:01] jlnquere commented on #5285
If it can help:

I used some dichotomy and ran my minimal Parse server on top of different Parse Server versions. The issue seems to be introduced by the 3.1.0 version.

Indeed, with `parse-server<=3.0.0`, the `.count()` works as expected. The error is only happening with `parse-server=>3.1.0`.

[2019-01-09 08:09] jlnquere commented on #5285
I also sent a PR with a test that cover this issue: https://github.com/parse-community/parse-server/pull/5286

[2019-01-10 06:10] mryalamanchi commented on #4847
@phillwiggins awesome work!
@flovilmart can you kindly look into this? This can be certainly taken into the Parse-server's official SDKs for Flutter.

[2019-01-10 11:53] flovilmart commented on #4847
It’s been added to the website as part of the community projects.

[2019-01-11 16:34] ciekawy commented on #3357
I am looking an answer for this one too - is it ever possible to setup a password for user signed up with an oAuth?

[2019-01-13 14:16] maxiundtesa opened #5293 "Postgres: Contains doesn't support foreign characters"
I am trying to use containsString on a PFQuery with Postgres.
It works fine if i'm using a normal string (e.g. `test`), but it stops working if I use a string with special characters (e.g. `öäüß`).

ExampleCode:
[code]
GET-Response:
[code]

Server Error:
[code]

[code]
The error message is thrown because the backslash occurs twice.
### Environment Setup

- **Server**
  - parse-server version: 3.1.

[2019-01-13 23:17] flovilmart commented on #2863
@mryalamanchi There is a single spot in the code where the sessions are created https://github.com/parse-community/parse-server/blob/8604f9c/src/Auth.js#L350 and [written](https://github.com/parse-community/parse-server/blob/8604f9c/src/Auth.js#L375). I should properly rename the `createSession` of at L375 as `write` as this method does just that.

So you could have a look at the different callers

[2019-01-14 14:06] alxmllr opened #5295 "Support other database types"
Hi.

As Parse currently supports both Postgresql and MongoDB, is it possible to support other database types like MySQL, Oracle, etc. Is it feasible to write and change the database adapter?

[2019-01-14 15:03] flovilmart commented on #5295
It is totally possible to write a custom database adapter. Your best chance would be to develop it alongside the server

[2019-01-15 02:17] markuswinkler opened #5297 "Parse.Cloud.job, syntax problem"
### Issue Description

I am not sure what I am doing wrong here. Must be something very simple.
It always fails in the logs. I tried to follow the migration guide for 3.x.

[code]

#### Expected Results

job result success

#### Actual Outcome

job result failed

### Environment Setup

  - parse-server version (Be specific! Don't say 'latest'.) : 3.1.3

[2019-01-15 02:19] flovilmart commented on #5297
What do you mean fails? Can you get the job status object from the DB?

[2019-01-15 02:34] markuswinkler commented on #5297
Ahh, ok, got it. Once I wrapped inside a try/catch I could read the error.
I used .equal instead of .equalTo.
Will wrap up all future jobs in a try/catch.
Sorry to bother you with something so simple and thanks for the help!

[2019-01-15 02:35] flovilmart commented on #5297
The job should properly inform you about this error though. Can you provide the _JobStatus object and a screenshot of the dashboard?

[2019-01-15 02:38] markuswinkler commented on #5297
![screen shot 2019-01-14 at 9 36 45 pm](https://user-images.githubusercontent.com/762485/51155157-92b9be80-1844-11e9-82a2-090b21fe4b26.png)

failed status:
[code]

[2019-01-15 02:41] flovilmart commented on #5297
Ok we should probably record the error message if there was an exception.

[2019-01-16 09:14] mryalamanchi commented on #2863
@flovilmart I didn't see any session object being created in the DB (`MongoDB`) during Sign Up when testing the parse-server with normal Sing-up method. I also skimmed through the code checking for the `Auth.createSession` callers and found that parse-server already enforces a check before creating a session token.

So here's a rundown :
[`createSessionTokenIfNeeded`](https://github.com/parse-comm

[2019-01-16 10:08] #5161 closed

[2019-01-16 12:34] mryalamanchi commented on #2863
@flovilmart I didn't see any session object being created in the DB (`MongoDB`) during Sign Up when testing the parse-server with normal Sing-up method. I also skimmed through the code checking for the `Auth.createSession` callers and found that parse-server already enforces a check before creating a session token to discern if it's for Log in or Sign up.

So here's a rundown :
[`createSessionToke

[2019-01-16 12:35] mryalamanchi commented on #2863
@flovilmart I didn't see any session object being created in the DB (`MongoDB`) during Sign Up when testing the parse-server with normal Sing-up method. I also skimmed through the code checking for the `Auth.createSession` callers and found that parse-server already enforces a check before creating a session token to discern if it's for Log in or Sign up.

So here's a rundown :
[`createSessionToke

[2019-01-16 12:44] flovilmart commented on #2863
This stores in the _Session object wether it was created with a 3rd party auth (logIn) or a traditional email/password (signup) call. There’s no other purposes. It does not ‘create’ a session directly.

So I am not sure why we’re commenting on this 2 year old issue. I believe you mentioned you wanted to fix the issue, which means you have it in the first place no?

As for the other part, you can i

[2019-01-16 14:08] mryalamanchi commented on #2863
@flovilmart gotcha! Thanks a lot for clarifying.

I recently started using Parse-Server and found it to be really useful given the fact that it's a full blown open source BaaS solution. So, I am wishing to contribute to this project. I am trying to de-clutter the issues section which brought me to this one.
I just figured out it already has the fix. So you can close this issue.

Yeah. I have gone

[2019-01-16 14:40] mryalamanchi commented on #2863
@flovilmart gotcha! Thanks a lot for clarifying.

I recently started using Parse-Server and found it to be really useful given the fact that it's a full blown open source BaaS solution. So, I am wishing to contribute to this project. I am trying to de-clutter the issues section which brought me to this one.
I just figured out it already has the fix. So you can close this issue.

I have gone throug

[2019-01-17 02:32] flovilmart commented on #2863
feel free to open a PR with the effective tests. I would ask you to add an additional startup option like `requireUserEmails` to enforce the additional option instead of `verifyUserEmails` as it would make a breaking change.

[2019-01-17 16:00] thisfiore commented on #4024
What about:
- making a sort of **2Factor** **token** on Sessions (2FToken) that you obtain by correctly logging-in with 2FA
- So if the user has 2FA enabled, Parse Server checks per request basis ( like ACL works ) the session for a valid 2FToken else returns unauthorized to the request

So you may have unauthorized user log-in but not capable of doing anything.

Could be a good solution? We could

[2019-01-17 23:39] flovilmart commented on #4024
This could be implemented on the _User class, adding the TOTP token to the _user object (private obviously) in order to create a session, as user need to provide the username, password and OTP.

One security enhancement would be to generate a restricted session token, that is used solely with an OTP and valid a few minutes. This session Would ne generated on successful user login.

[2019-01-18 03:29] awgeorge opened #5301 "userSensitiveFields should adhere to ACLs"
**Is your feature request related to a problem? Please describe.**
For a long time, the _Users table didn't adhere to ACLs - this was changed in #3588. However, the `userSensitiveFields` are still only readable by the master key or the user. This creates a problem as the admin/moderator cannot view the information, but they can change it.

**Describe the solution you'd like**
I would like the `use

[2019-01-18 03:40] flovilmart commented on #5301
This leaves open all your user table to any attacker. Did you consider this?

[2019-01-18 05:06] acinader commented on #5301
What shouldn't be allowed is for sensitive fields to be public.  Ever.

Email is the only sensitive field out of the box.  Adding additional sensitive fields (ssn, cc#, dob, etc.) is fine, but email should always be recognized as personal.

Allowing an admin role to see and update sensitive fields is reasonable.  I do think that parse.com allowed authenticated roles to see, and update email, witho

[2019-01-18 08:08] Barsha96 commented on #4997
**Got the same Issue:** I was trying to add new object for Product class and product rate "rate" was a Number type
I'm using JavaScript for Parse

Using **parseInt** before getting the field input helped solve the problem -->

var res = await product.save({
            product_name: document.forms["addProduct"]["pname"].value,
            measure_unit: document.forms["addProduct"]["measureunit"].v

[2019-01-18 08:32] awgeorge commented on #5301
@flovilmart That was an alternative, as I was trying to think of something... The main idea which we should consider is changing the above code to `auth.isMaster || (auth.user && auth.user.id === result.objectId) || auth.user.hasCorrectACLS(result.objectId)` (something like that) - does that make sense?

@acinader - My original thought around sensitive fields is that it should be a whitelist, as o

[2019-01-18 10:49] awgeorge commented on #5301
Added some tests to spec out what I'm after.

- Allow MasterKey, Object Owner and Object with an Explicit ACL role access to PII
- Never allow non-authenticated users to access PII
- Never allow PublicRead ACL on Object to expose PII

Hopefully, the tests make this clear, and you would consider the scenario.

Thanks.

[2019-01-18 12:16] flovilmart commented on #5301
What you are describing is column based ACL’s which are not only for users but any object. PII, by default would generate those ACL’s for the _User table.

I reckon this can be useful.

What I wish to avoid is over engineering a solution that may cause security issues and is hard to maintain.

[2019-01-18 12:17] flovilmart commented on #5301
I do not recall that, if it was, that would have been quite bad.

[2019-01-18 12:22] awgeorge commented on #5301
@flovilmart - As long as the correct column based ACL was in place, you could read the users table on parse.com, hence why all my user meta info is in the user table. Which has led us down this long path. You had to be authenticated with a Role that allowed access to another user.

Agree that security is the upmost importance, but thanks for understanding the use case.

If you set me in a directio

[2019-01-18 12:31] flovilmart commented on #5301
Which is arguably a bad idea as it may expose private information publicly.

ACL are checked against the database objects directly. For all queries we build a list of possible value that describe the user making the call and ensure either the permissions match the provided value.
Those ACL checks are not made in memory.

What I would recommend is for you to look at class level permissions and add

[2019-01-18 12:41] flovilmart commented on #5301
See the type described [here](https://github.com/parse-community/parse-server/blob/8604f9c/src/Controllers/types.js#L19)

[code]
{
  protectedFields: { "*": ["email", "sin"] }
};
[code]
{
  protectedFields: {
     "*": ["email", "sin"],
    "role:moderator": ["sin"],
    "role:admin": []
  }
};
[code]

[2019-01-18 12:42] awgeorge commented on #5301
Those ACL checks are not made in memory.

Arh, yes, I think this is why I got stuck implementing #3588 as I'm not verse on Mongo or Postgres. That would be tricky to implement as we'd basically have to remove the `userSensitveFields` to allow the database to do the matching, right?

But wait - if the database does the check to make sure it can send the data, does that mean we're needlessly deletin

[2019-01-18 12:48] awgeorge commented on #5301
[code]

This looks like a neat solution, as you could use it on any object right? What do you think about marking all User records as sensitive, and have a whitelist instead? So we'd need to pass `unprotectedFields`.

[2019-01-18 12:53] flovilmart commented on #5301
The problem with this approach is that it breaks as soon as a new field is added as it becomes unprotected which is problematic. Would you be willing to attempt an implememtation on the class level permissions for this feature?

[2019-01-18 12:58] awgeorge commented on #5301
I think I'll be able to achieve a PR if it doesn't touch the Mongo adapters, as I got very lost last time. I'll dig around the CLP and checkback.

I would have thought this to be the opposite, a new field added would accessible in our current implementation, we'd have to re-release the server with a change to the `userSensitiveFields`, no?

[2019-01-18 12:59] flovilmart commented on #5301
Yes, you are right, with this new feature, you’ll be able to update it from the dashboard or REST through a call to the CLP API.

[2019-01-19 08:46] ranjithr27 opened #5303 "How to schedule a job in bitnami parse dashboard"
Hi,
i am new to parse, my requirement is to delete objects from a class older than 10 days in parse dashboard,
Can i please get the steps on how to setup this as a scheduled job in parse ?

[2019-01-19 14:08] flovilmart commented on #5303
Thanks for your question!

We want to make sure to keep signal strong in the GitHub issue tracker – to make sure that it remains the best place to track issues that affect the development of Parse Server.

Questions like yours deserve a purpose-built Q&A forum. Would you like to [post this question to the parse community forums](https://community.parseplarform.org)? We'll be happy to answer there.

[2019-01-19 14:08] #5303 closed

[2019-01-19 16:17] JEKos commented on #5279
I also found that when i have http://my-ip:my-port/parse in my config.json for the Dashboard and have the same as a publicServerURL I can add and delete rows without a problem and also I can upload files and see the images on the browser.

When I change only the publicServerURL to https://my-domain.com/myapp. I can't see the images on the browser ,I can't upload files and I can't delete rows.

Whe

[2019-01-19 16:37] flovilmart commented on #5279
did you configure HTTPS properly? is your certificate valid?

[2019-01-19 20:20] JEKos commented on #5279
@flovilmart Yeah, my apps (iOS and Android) use `https://my-domain.com/myapp`  as a server url in Parse initialization without any problem. I have SSL from Let's Encrypt that renew the certifications automatically.

The problem is nginx doesn't recognize files after the `htttps://my-domain.com/myapp` path

For example:
If I want to see the image in  `https://my-domain.com/myapp/files/myappid/114b2

[2019-01-19 20:36] JEKos commented on #5279
Yeah, sure. I have an Ubuntu 18.04 x64bit without any add-on from digital ocean's list.
I have installed postgres (This is what I'm using as db), parse-server, nginx, node.js and mailgun plugin.

Here is the my whole index.js file :

[code]

[2019-01-19 20:42] flovilmart commented on #5279
This is likely caused because the mount path is different between your publicServerURL and serverURL. Try using the https://my-domain.com URL as the serverURL OR use /myapp as your mount in the serverURL (instead of /parse)

[2019-01-19 21:05] JEKos commented on #5279
@flovilmart I changed to  /myapp like that:

[code]

But when I start the parse-server it says

[code]
and my server doesn't work.

Also my https://my-domain.com goes to a website. I'm hosting a website in the same Digital Ocean Server

The `https://my-domain.com/myapp` is a reverse proxy for `http://localhost:1337/parse` (as you can see from the first post in nginx config file). So it's the same

[2019-01-19 21:15] flovilmart commented on #5279
You need to change all the references from /parse to /myapp if you are going that route OR you can replace /myapp by /parse in your nginx config and other relevant place.

[2019-01-19 22:17] JEKos commented on #5279
@flovilmart You mean I have to change from

location /myapp {
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-NginX-Proxy true;
                proxy_pass http://localhost:1337/parse;
                proxy_ssl_session_reuse off;
                proxy_set_header Host $http_host;

[2019-01-19 22:20] flovilmart commented on #5279
Sorry then, that’s perhaps something else. Are you sure the file is in the drive as you are using the fs file adapter?

[2019-01-19 22:35] JEKos commented on #5279
@flovilmart Ok, but my parse-server reverse proxies are working without a problem in my apps. (I have 2 parse servers, 1337 and 1310 port)

Do you recommend any good tutorial on how you can setup ngnix properly for the parse server?

[2019-01-19 22:38] flovilmart commented on #5279
I am not sure what you mean by that, becuuse there are clearly some problems in the configuration that you describe.

This does not look like a parse-server bug, as you are mentioning, it works locally.

I do not know any specific for parse-server, but any tutorial for usign nginx in front of a nodejs app should work.

[2019-01-19 22:46] JEKos commented on #5279
@flovilmart I mean that reverse proxy that go from http://my-domain.com/myapp to http://my-ip:1337/parse it's working but I can't retrieve the PFFile images through code in my iOS app and also I can't upload PFile and see the images through Parse Dashboard.

Maybe I'll try to re-setup again the DigitalOcean server to see if nginx works correctly in the new setup.

Thanks for your help! 👍

[2019-01-20 11:18] awgeorge commented on #5301
I'm trying to set the default CLP's I am attempting to use `injectDefaultSchema` to set the default class level permissions on the user object.

Something like:
[code]

I'm struggling to find an easy way of accessing the parse server configuration, without needing to pass `this.config` down the call stack. Is this the only way /  best way to add the defaults, here?

[2019-01-20 13:03] flovilmart commented on #5301
This is unlikely to be in injectDefaulrSchema, check into SchemaData and the SchemaController constructor.

Also

https://github.com/parse-community/parse-server/blob/master/src/Controllers/SchemaController.js#L518

As we want to keep the email a protected field, we could hardcode it in the default Schema.

[2019-01-20 20:19] JEKos commented on #5279
Finally I found solution!!!🎉🎉  After 10+ hours searching and testing this weekend I found it!

My solution about having dashboard with https is [here](https://github.com/parse-community/parse-dashboard/issues/598#issuecomment-455895329)

And for parse-server, I used `subdomain.my-domain.com` instead of `my-domain.com/myapp` and in nginx config I removed `try_files $uri $uri/ =404;` and typed the f

[2019-01-20 20:19] #5279 closed

[2019-01-21 03:03] iop280 opened #5307 "Log Issues with New relic"
- [x ] [Read the migration guide](https://github.com/parse-community/parse-server/blob/master/3.0.0.md) to parse-server 3.0.0
- [ x] [Read the migration guide](https://github.com/parse-community/Parse-SDK-JS/blob/master/2.0.0.md) to Parse SDK JS 2.0.0

### Issue Description

Ever since I migrated Parse to 3.x, I've been seeing a lot of "Object not found" recurring issues. Has anybody else come acr

[2019-01-21 10:14] pixel2 commented on #4678
I have the same problem as @anhnhv2812. Could you please create a new bug so we can track and try and get this fixed, or do you want me to do it?

[2019-01-21 13:46] ozeas commented on #4330
hello @mman , I would like to help with this, can I try?

[2019-01-21 13:49] ozeas commented on #4948
Hi everyone, I had some personal problems, I could not continue. Sorry about that.

[2019-01-21 13:50] flovilmart commented on #4948
Take care @ozeas

[2019-01-21 14:34] mman commented on #4330
sure you can, open up a PR once you have something ready :)

[2019-01-21 19:16] mursang opened #5311 "APNS VError: stream ended unexpectedly on IOS"
### Issue Description

I'm unable to get notifications working on iOS on remote server. Notifications are working on Android, and working on iOS when testing them using CURL commands with my Apple Push certificate (development and production mode on testflight, changing device tokens respectively).
So I'm trying to send a push using parse dashboard to a iOS device on development and production mod

[2019-01-22 22:00] JEKos commented on #1686
Any news about that?

[2019-01-22 23:33] memishood opened #5314 "Error code 203 email already exist facebook login"
I m using the latest version for server, when i used the facebook login for android (with Parsefacebookutils sdk) first time no problem but whenever logout or reinstall the app fb login give error code 203 for the user so users can be sign up but cant login

[2019-01-22 23:34] flovilmart commented on #5314
Can you provide the server logs as requested?

[2019-01-22 23:43] memishood commented on #5314
{"code":203,"message":"Account already exists for this email address.","level":"error","timestamp":"2019-01-22T18:03:59.104Z"}

[2019-01-22 23:45] flovilmart commented on #5314
I do believe those are not the complete server logs when you run the server with the verbose: true option set

[2019-01-22 23:48] memishood commented on #5314
Yep that's true i didn't set to verbose, i set true and will be here again

[2019-01-22 23:58] memishood commented on #5314
I can try with version 2.8.4 for right now, i will send latest version tomorrow but i think it doesn't matter because exceptions is same. 2.8.4 logs with verbose: {"level":"verbose","message":"Support key pairs Map {}","timestamp":"2019-01-22T23:54:32.762Z"}
{"method":"GET","url":"/parse/classes/Other","headers":{"x-parse-application-id":"tjlFtY189LwOiq3kgRwsMRVA6v9HL2XocDU5UJu2","x-parse-app-buil

[2019-01-23 00:06] flovilmart commented on #5314
As you can see in the logs, the login call with Facebook works as expected. Your problem is that the email you are attempting to associate to the user is already taken by another user, which is not the one (same ID) that was just logged in.

[2019-01-23 00:11] memishood commented on #5314
I see you but when reinstall/update app it will give this error for users. What can i do for fix ?

[2019-01-23 00:13] dplewis commented on #1686
As @chadpav mentioned fetch the pointers or store them in local cache.

Since LDS (LocalDataStore) has been added you could use that for include.

@JEKos feel free to do a PR.

[2019-01-23 00:18] JEKos commented on #1686
@dplewis I chose to go with @chadpav's method. Thanks.

[2019-01-23 00:35] memishood commented on #5314
I think you didn't understand clearly to issue. Yes db has same object with same email because user logged in first time. The user try second time it gives this error but until reinstall or delete app no problem

[2019-01-23 00:39] flovilmart commented on #5314
I may not have understood very welll. Please open a new issue with CLEAR steps to reproduce including code samples, (preferably in JS) to repro the issue, as well as all RELEVANT server logs.

[2019-01-24 23:54] #4740 closed

[2019-01-25 03:10] mrmarcsmith commented on #5226
For future searchers, Per Mongo documentation each application servers should have it's own "mongos" instance. For us that looked like colocating a Parse Server and a Mongos in the same pod.

[2019-01-25 07:39] mursang commented on #5311
Solved this issue. For others that are experiencing this problem, it is related to the export procedure of the iOS certificate. It just worked by selecting the certificate under "My certificates" on Keychain App and exporting it as .p12 file. Exporting the certificate from other folder different from "my certificates" will result on this error.
I don't know why it worked on other program (APN test

[2019-01-25 07:39] #5311 closed

[2019-01-25 09:22] srameshr opened #5319 "sessionToken column is created on class automatically"
### Issue Description
After adding a row or a record to a class, it creates a new column called ```sessionToken``` and populates the field with the user's sessionToken.

### Steps to reproduce
[code]

### Expected Results
I expect to see the column ```foo``` in ```myClass``` with the value ```bar```.

### Actual Outcome

I see a new column called ```sessionToken``` in the class ```myClass``` with

[2019-01-25 09:30] srameshr commented on #5319
Dang! Missed the ```save(null, {})``` part

[2019-01-25 18:41] lolobosse commented on #3254
@danepowell I missed your message. Yes we moved to Postgres but dropped Parse 😞  (good old rewrite)

I agree with @flovilmart: not sure that it will better financially however, it will be waaay faster ⚡️

[2019-01-25 20:57] Erik-Stevens opened #5320 "MongoDB@3.2.0 doesn't exist"
### Issue Description

Project won't build because the parse-server package.json file contains dependency: mongodb@3.2.0, which does not exist. I believe the latest npm package for mongodb is 3.1.13.

npm ERR! notarget No matching version found for mongodb@3.2.0
       npm ERR! notarget In most cases you or one of your dependencies are requesting
       npm ERR! notarget a package version that doe

[2019-01-25 21:01] flovilmart commented on #5320
It seems that npm unpublished 3.2.0 as the build was successful https://github.com/parse-community/parse-server/pull/5300

[2019-01-25 21:09] dplewis commented on #5320
@flovilmart 3.2.0 was reverted https://github.com/mongodb/node-mongodb-native/commit/508d685747e83276016718c2046ec3c30de8c4db

[2019-01-26 15:48] #5220 closed

[2019-01-26 16:49] awgeorge commented on #5301
I think I'm getting there. Using Mongo Projection, I am able to filter out the fields set in CLP, which is great - however, postgres doesn't support anything similar, so either we need to query the scheme and remove the protected fields, or we fetch them and delete them after. Schema wise, I'm not sure we have this data for postgres, otherwise, we wouldn't do `SELECT *` but I haven't got there as

[2019-01-26 18:19] flovilmart commented on #5301
As I mentioned earlier, the field filtering, for the sake of simplicity, can happen after the data is fetched from the database. Not before.

[2019-01-26 18:38] flovilmart commented on #5301
The Mongo projection does not work on Postgres. As i understand, this just works for mongo now. Moving at the database adapter level is an optimization, that we should leave out for now.

The backwards compatibility can be ensured at runtime, as userSensitiveFields should always be added to the contents of the Schéma. This way, you can ‘warn’ that either the user should migrate to using the databa

[2019-01-28 00:18] flovilmart commented on #5320
The fix has been merged @Erik-Stevens .  I don’t believe this was released in the wild, so next release will be OK

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-28 00:18] #5320 closed

[2019-01-28 04:47] puny-d opened #5327 "increment inset filelds error"
My scheme design: Product
`{
 objectId: xxxxxxxxx,
  sku:{
"1548573702": {
    "count": 12,
......
  }
}
}`

so if I want to increment the count, I would
`some.incement("sku.1548573702.count",1)`

And count expect to be 13, but the result is

`{
 objectId: xxxxxxxxx,
  sku:{
"1548573702": {
    "count": ":{"__op":"Increment","amount":1}",
......
  }
}
}`

**Parse-server: 3.1.3
Postgresql: 9.5.4**

[2019-01-28 13:41] GabrielLomba opened #5328 "Allow slash in Parse.File names"
**Is your feature request related to a problem? Please describe.**
I am trying to better organize files uploaded to the server and I can't because of the restriction on [this line](https://github.com/parse-community/parse-server/blob/22c39ed6c86263e69c836b2d03898b6076ebef89/src/Routers/FilesRouter.js#L91).

**Describe the solution you'd like**
I would like to be able to save them with slashes as t

[2019-01-29 17:25] milesrichardson commented on #5328
Related discussion: https://github.com/parse-community/parse-server-s3-adapter/issues/16

[2019-01-30 19:41] guidupas opened #5333 "Parse-Server - Cannot get data from DB on a remote machine"
### Issue Description

I am using Parse-Server and I have softwares developed on C# and Swift getting data from this server remotely using the appropriated SKDs to each programming language without any problems.

But now I need to get data using a browser and I am having issues to get it from a remote computer. I just can get it using localhost on the computer where the Parse-Server is installed.

[2019-01-30 22:44] awgeorge commented on #5301
@flovilmart - Hope the changes are to your satisfaction, please give me guidance towards how they can be improved.

[2019-01-31 06:55] simonaberry commented on #3387
I have a similar requirement (managing sessions across multiple tabs) and have been doing investigation into the matter. It appears that the `expireInactiveSessions` flag is defaulted to `true`and ensures that the `sessionLength`property is executed (ie your max session length).

I therefore think we would need to implement our own solution, and have conceptually come up with the following approac

[2019-01-31 07:09] #5230 closed

[2019-01-31 12:58] guidupas commented on #5333
I have downloaded cors() and used it just after the app declaration and it still doesn't work.

[code]

I have tried creating routes and cors options and nothing changes.

Does anyone have a clue?

[2019-01-31 15:42] Pietro89 commented on #2764
I have the same problem on parse-server 3.1.3

`var email = request.params.email
        console.log("Email: "+email)
        var query = new Parse.Query(Parse.User);
        query.equalTo("email", email);
        var user = await query.first({ useMasterKey: true })
        user.fetch({ useMasterKey: true })
        console.log("USER: "+user.id)
        console.log(await user.getSessionToken({ use

[2019-01-31 17:48] mat2cc opened #5338 "Aggregation pipeline query syntax issues"
We require an aggregation pipleline that will use multiple stages such as: `addFields`, `lookup`, `group` and `unwind`. When converting the working syntax in the MongoDB compass to a parse cloud code javascript call, we are not getting the same results.

The exported "Node" code from MongoDB compass is as follows:

[code]

There are some notable syntax differences between the raw mongoDB query and

[2019-02-01 15:03] #5148 closed

[2019-02-03 18:55] jc73300 commented on #5161
I am a little late to this party and have just started upgrading from 3.0.0 to 3.1.x and have this issue. How do I go about fixing this issue?

[2019-02-03 19:33] flovilmart commented on #5161
@jc73300 did you try what @nebitrams suggested?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-03 19:37] jc73300 commented on #5161
I am unsure how to do what he suggested.

[2019-02-03 19:43] flovilmart commented on #5161
@jc73300 did you try asking google how to drop an index on MongoDB?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-03 20:00] jc73300 commented on #5161
I have been trying to change the indices using the MLab webpage and it complains of JSON errors when copying what is above. I am not a DB guy and don't want to screw this up.

[2019-02-03 20:41] jc73300 commented on #5161
Maybe the issue is something else. I have verified the indices are what they should be according to nebitrams. Every time I try to deploy 3.1.0 I get the following in my logs.

2019-02-03T20:36:28.475Z - Uncaught internal server error. TypeError: Cannot redefine property: _PushStatus
    at Function.defineProperty (<anonymous>)
    at SchemaData.volatileClasses.forEach.className (/var/app/current/

[2019-02-04 00:51] flovilmart commented on #5161
That’s the same error, unable to ensure uniqueness for role and username, which means that you have an exiting index which is not correct, and that the server attempts to create new ones. What are the [indices](https://docs.mongodb.com/manual/reference/method/db.collection.getIndexes/) for _Role and _User?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 00:57] jc73300 commented on #5161
This is from _User
{
  "v": 2,
  "key": {
    "_id": 1
  },
  "name": "_id_",
  "ns": "xxx._User"
}

{
  "v": 2,
  "unique": true,
  "key": {
    "email": 1
  },
  "name": "email_1",
  "ns": "xxx._User",
  "background": true,
  "sparse": true
}

{
  "v": 2,
  "unique": true,
  "key": {
    "username": 1
  },
  "name": "username_1",
  "ns": "xxx._User",
  "background": true,
  "sparse": true
}

[2019-02-04 00:58] jc73300 commented on #5161
This is from _Role

{
  "v": 2,
  "key": {
    "_id": 1
  },
  "name": "_id_",
  "ns": "xxx._Role"
}

{
  "v": 2,
  "unique": true,
  "key": {
    "name": 1
  },
  "name": "name_1",
  "ns": "xxx._Role",
  "background": true,
  "sparse": true
}

[2019-02-04 01:06] flovilmart commented on #5161
Did you try dropping those indexes? Role name and User username and User email, then start a server with 3.1 on your local machine connected to the said DB?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 01:08] jc73300 commented on #5161
I have only tried dropping them when running 3.0.0. Should I upgrade to 3.1.x first and then drop them?

[2019-02-04 01:15] jc73300 commented on #5161
Tried both ways and it just fails no matter what.

[2019-02-04 01:22] flovilmart commented on #5161
what bugs me is that the version 3.0.0 is also creating sparse indexes and your indices look right in the DB.

Would you have access to the mongodb logs, or runinng VERBOSE=1 with the version 3.1.0 and provide the full logs?

[2019-02-04 01:31] flovilmart commented on #5161
The logs on startup

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 01:47] jc73300 commented on #5161
Does this help?

2019-02-04T01:46:16.823Z - RESPONSE from [GET] /parse/serverInfo: {
  "response": {
    "features": {
      "globalConfig": {
        "create": true,
        "read": true,
        "update": true,
        "delete": true
      },
      "hooks": {
        "create": true,
        "read": true,
        "update": true,
        "delete": true
      },
      "cloudCode": {
        "jobs":

[2019-02-04 01:50] jc73300 commented on #5161
Stupid question, can I just copy _Installations and any of my own tables to a new clean db or will it break everything?

[2019-02-04 01:57] flovilmart commented on #5161
What I am looking for is the actual error. As for why the index creation failed. Can you check the MongoDB logs?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 01:59] jc73300 commented on #5161
I don't have access to them.

[2019-02-04 02:08] flovilmart commented on #5161
Well, that’s problematic. I’m not sure I can be of further help. Without the exact error, I am not sure what can be done

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 02:09] jc73300 commented on #5161
Ok no worries. I will just live on 3.0.0 until it dies.

[2019-02-04 02:12] flovilmart commented on #5161
There should be additional info when you start your server locally with 3.1.0

For example:

[code]

don't you have those?

I'm not sure why I spent a good amount of my sunday evening trying to help you then.

[2019-02-04 02:16] jc73300 commented on #5161
I definitely appreciate the help you gave me I just don't know what else to do and since I cannot give you the logs you requested there isn't much else that can be done.

[2019-02-05 05:35] jc73300 commented on #5161
Just wanted to let you know @flovilmart . I ended up exporting the relevant tables with data into a new clean db and all is working great now. I updated all the way to the current 3.1.3. Thanks again for all your help.

[2019-02-05 23:13] GoGross opened #5347 "wss Fails over SSL, works well on https"
### Issue Description

I am trying to run ParseLiveQueries, and everything seems to work well over nodejs HTTP, but fails over HTTPS

### Steps to reproduce

### Expected Results

### Actual Outcome

### Environment Setup

- **Server**
  - parse-server version (Be specific! Don't say 'latest'.) : 3.0
  - Operating System:    3.1.1
  - Hardware:            Linux
  - Localhost or remote server? (AWS

[2019-02-05 23:27] rsmets opened #5348 "Unable to Add Response Headers"
To whom this concerns,

I feel like this should a trivial task to add a custom header to the response object however no luck. The [docs](https://docs.parseplatform.org/cloudcode/guide/#the-response-object) state simply doing a `response.headers{"header": "value"}` is the correct way to set however not working. Running parse-server 2.7.3. Curious if anyone else has luck adding custom response heade

[2019-02-06 00:02] flovilmart commented on #5348
I believe you are mistaken. The docs part you are referring is stating that you can read headers from the response using Parse.Cloud.httpRequest. It does not mentions anything regarding setting response headers. Where do you attempt this? Note that also, 2.7.3 is no longer maintained and you are heavily encouraged to upgrade to 3.1

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 00:05] flovilmart commented on #5347
I will assume you are using nginx. Did you configure it correctly for web sockets?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 00:12] GoGross commented on #5347
OPINION: Its a "uws" module error on line `ParseWebSocketServer.js line 14`, and has since been fixed in "ws". "uws" module has been deprecated,

[code]

my temporary solution:

[code]

[2019-02-06 00:48] GoGross commented on #5347
I dont know either, but two things are certain, "uws" don't exist no more, my issue is temporarily solved by its omission.

[2019-02-06 00:56] flovilmart commented on #5347
And http va https has nothing to do with ws versus uws as packages.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 01:05] GoGross commented on #5347
Well according to you, thanks for nothing buddy.

[2019-02-06 01:18] flovilmart commented on #5347
not sure what this is then:

[code]

And this:

[code]

How is it not installed for you?

[2019-02-06 01:54] GoGross commented on #5347
It installs but fails over wss:// works well with ws://

[2019-02-06 04:34] rsmets commented on #5348
Hi @flovilmart thanks for your reply. Below is what that doc link takes you to. I believe I'm not mistaken.

Furthermore here is some example code in which I have tried what is stated above.

[code]
I would very much appreciate an example of how one would add a custom header with a Parse.Cloud.define function. Thanks again!

[2019-02-06 11:50] flovilmart commented on #5348
So yes, you are mistaken. You are reading the docs for `Parse.Cloud.httpRequest` and not `Parse.Cloud.define`.

At this time, there is no way to set http response headers on cloud functions’s responses. Feel free to open a pull request if this is a feature you wish to implement.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 11:50] #5348 closed

[2019-02-06 16:54] rsmets commented on #5348
Hmm I see. Maybe I'll start with a pr on the docs. :)
Jokes aside the pr to allow custom response headers actually seems like something worth doing... I think I might just head that up!

Thank you again @flovilmart for the the definitive answer and for all your efforts maintaining the project. Very much appreciated!

[2019-02-06 17:29] dplewis commented on #5327
@flovilmart I remember you were against updating / setting nested documents. Are you still against this feature?

[2019-02-06 17:34] flovilmart commented on #5327
Well, that’s messy and prone to error. Just wondering how good it can be, given that PG isn’t great at that

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 17:39] dplewis commented on #5327
Setting fields in a nested document is already optional. We can make the rest optional as well

[2019-02-06 19:32] eslam2010011 opened #5349 "cloud code Invalid function"
cloud  code  Invalid function
also
I changed the cloud icon, but when I answered the request, the reply was still, and the response did not change
thanks